[2021-05-04 22:16] amychurchwell opened #10185 "Redirect firefox/central to support article"
## Description

In fresh Firefox profiles there is a [pinned "Getting Started" link](https://searchfox.org/mozilla-central/source/browser/locales/generic/profile/bookmarks.html.in#26) to `/firefox/central` which redirects to `/firefox`.

`/firefox` is more of a marketing page for our products and we should redirect to a support article like https://support.mozilla.org/en-US/products/firefox/get-st

[2021-05-05 14:42] maxxcrawford commented on #10185
This was intentionally done. See more at https://github.com/mozilla/bedrock/issues/10004

[2021-05-05 15:57] amychurchwell commented on #10185
Closing WONTFIX 🌈 🦄

[2021-05-05 15:57] #10185 closed

[2021-05-05 16:39] #10075 closed

[2021-05-05 17:48] atsay opened #10186 "Enable target-linking on moz.org pages"
## Description

It isn't possible to link to a specific section on pages such as https://www.mozilla.org/en-US/privacy/firefox. This means users have to click and expand each section to find the notice relevant to the product they are using. It is possible to deep-link to a section if you know the section ID, for example https://www.mozilla.org/en-US/privacy/firefox/#suggest-relevant-content, but

[2021-05-05 21:56] gene1wood opened #10187 "Welcome page being used to serve content to non-new Firefox users"
## Description

Currently the "Welcome page", the "Moments page/Lifecycle page" capabilities are all served via the welcome pages. This results in users who are not new Firefox users and are not being "welcomed" to Firefox, being served a moments page (for example the new Mozilla VPN page from #10151) via the welcome page flow.

This is a problem because and existing Firefox user who hasn't recent

[2021-05-06 06:59] ValentinaPC opened #10188 "Mozilla VPN sub navigation component is not present for French lang"
*Affected versions:*
* All Firefox;
* Chrome 90.0.4430.100;

*Affected FxA versions:*
* 1.205.0;

*Affected Platforms:*
* Windows 10;
* Chrome OS;

 *Prerequisites:*
* Simulate France location;

*Steps to reproduce:*
1. Open VPN homepage https://www-dev.allizom.org/fr/products/vpn/
2. Observe the page header

*Expected result:*
- There is a Mozilla VPN sub nav menu localized in French;

*Actual re

[2021-05-06 17:22] birdsarah opened #10189 "Website vague about subscription vs one time purchase"
Originally brought up on https://github.com/mozilla-mobile/mozilla-vpn-client/issues/933

Reported by @rbillings from user feedback:

The website makes almost no reference that this is a subscription. Only the button which redirects to the payments process mentiones it ("Abo").while "X Monat(e)" ("X month(s)") could be interpreted as a one-time purchase for this timeframe.

[2021-05-10 08:26] alexgibson commented on #10187
Seeing as these pages don't actually mention the word "welcome" anywhere in the page, and the only place the word turns up is in the URL and SUMO article, could a simple solution for this to be to change `firefox/welcome/` in the URL to `firefox/moments/`?

[2021-05-10 08:31] alexgibson commented on #10183
Moved this over to https://github.com/mozilla-services/guardian-website/issues/1151

[2021-05-10 08:31] #10183 closed

[2021-05-10 14:05] alexgibson opened #10192 "Stop bundling JS for legacy IE versions?"
## Description

Still thinking through this a bit more, but hear me out...

- We currently serve a legacy `common-ie.js` bundle for old IE browsers (IE 6-9).
- The main role of this bundle is to serve Firefox downloads, although it also does a few other bits and bobs such as load GA, do Stub Attribution etc.
- Maintaining this code has several costs associated with it:
  - The existing IE bundle r

[2021-05-10 15:05] rraue commented on #10182
**Here is the structured data for Focus:**

 {
    "@context": "https://schema.org/",
    "@graph": [
      {
  "@context": "https://schema.org/",
  "@type": "MobileApplication",
  "@id": "https://www.mozilla.org/#firefoxfocus",
  "url": "https://www.mozilla.org/en-US/firefox/browsers/mobile/focus/",
  "name": "Firefox Focus",
  "image": "https://raw.githubusercontent.com/mozilla/bedrock/master/me

[2021-05-10 15:25] alexgibson opened #10193 "VPN: pricing position experiment"
## Description
The marketing & product teams would like to launch an experiment on the VPN landing page that changes the position of the pricing section.

Hypothesis: moving the pricing section higher up the page will result in a decrease in click through rate, but an increase in the overall subscription conversion rate.

---

#### Success Criteria
- [ ] Experiment is live in production.

[2021-05-10 19:34] squarewave opened #10194 "Beta install link seems to always give a 32-bit installer"
## Description

I always get a 32-bit installer when I go to https://www.mozilla.org/en-US/firefox/channel/desktop/#beta and click Download for the Beta version.

### Steps to reproduce

- Go to https://www.mozilla.org/en-US/firefox/channel/desktop/#beta
- Click the top Download link
- Go through the full installation
- In the Firefox that launches, go to Hamburger Menu -> Help -> About Firefox

#

[2021-05-11 09:53] alexgibson opened #10196 "Update Firefox comparison pages with more recent information"
## Description
Some of the comparison tables are out of date, see: https://www.reddit.com/r/firefox/comments/n9aqtx/the_firefox_versus_edge_comparison_page_has_been/

---

#### Success Criteria
- [x] Comparison pages are updated to reflect the latest browser features.

[2021-05-11 23:44] lolrepeatlol opened #10197 "Incorrect # of countries on VPN page w/ waitlist"
## Description

• The number of countries on the VPN page for the waitlist is incorrect.

### Steps to reproduce

URL: https://www.mozilla.org/en-US/products/vpn/

VPN into an unsupported country like Spain and observe the region count.

![Screenshot_20210511-194024.png](https://user-images.githubusercontent.com/17863082/117897681-44d8e800-b291-11eb-8dce-7c6a35acc132.png)

### Expected result

The

[2021-05-12 06:20] alexgibson commented on #10197
Thanks for reporting this! The value should have been behind a feature flag that got updated. I’ll take a look as to what’s up.

[2021-05-12 08:18] alexgibson commented on #10197
The number is correct on [dev](https://www-dev.allizom.org/en-US/products/vpn/?geo=es), so my assumption is the switch didn't work quite right in production because this particular switch is in the [settings file](https://github.com/mozilla/bedrock/blob/master/bedrock/settings/base.py#L1364-L1367), and not the view. Either way, this should be fixed by https://github.com/mozilla/bedrock/pull/10174

[2021-05-12 08:23] #10186 closed

[2021-05-12 08:37] alexgibson commented on #10194
Thanks for filing. The website doesn't do 64bit detection for Windows, since it's not always reliable via UA string detection.

For the main Firefox release download, this kind of logic is handled by the stub installer which can get this right with much greater confidence. But for pre-release builds such as Beta, here you can still download the 64bit version via the "All Languages and Platforms" l

[2021-05-12 08:46] alexgibson commented on #10189
This will be fixed in https://github.com/mozilla/bedrock/pull/10195

[2021-05-12 09:26] #9949 closed

[2021-05-12 09:29] alexgibson commented on #10166
@slightlyoffbeat where should we redirect /firefox/lockwise to? Is there some SUMO article or blog post that explains to people what is happening with the product?

[2021-05-12 13:47] #8670 closed

[2021-05-12 14:29] squarewave commented on #10194
Thanks, Alex. But do we ever get false positives from UA string detection? Does a browser running on a 32-bit Windows install ever have WOW64 or Win64 in the UA string? I think best effort here is better than nothing, assuming we don't get false positives.

I'm not concerned about being able to get a 64-bit Beta install. I'm more concerned about the Beta population's experience drifting further aw

[2021-05-12 14:41] alexgibson commented on #10194
I believe the Firefox/Installer team has some historic data here, although I don't have it to hand (or know if it's still accurate today). But this is why 64bit download links were never enabled by default, and we rely on the stub installer instead.

Some browsers today, such as Chrome, are phasing out the UA string altogether in favor of Client Hints, where this type of information isn't guarante

[2021-05-12 14:50] alexgibson commented on #10194
Taking a peek, this seems to exist: https://download.mozilla.org/?product=firefox-beta-stub&os=win&lang=en-US

Would serving this stub installer link instead of the full installer help resolve the issue?

[2021-05-12 14:58] alexgibson commented on #10194
Oh huh, looks like it's the full installer for a reason: https://github.com/mozilla/bedrock/issues/9836

[2021-05-12 15:36] alexgibson opened #10199 "VPN: Variable pricing for wave 1 countries"
## Description

Now that variable pricing is available in Germany / France, the VPN team would like to roll out variable pricing to existing wave 1 countries. More details forthcoming...

---

#### Success Criteria
- [x] Wave 1 countries are shown variable pricing options.

[2021-05-12 22:30] #10118 closed

[2021-05-12 23:24] slightlyoffbeat commented on #10166
@alexgibson either just /firefox or a SUMO article. I reached out to SUMO to see if an article exists (if not, I'll request one gets made). I also reached out to Mei to see if she has an opinion on this. I'll update here when I have an answer.

[2021-05-13 08:56] #10189 closed

[2021-05-13 08:56] alexgibson commented on #10188
Localizers have now translated the sub nav string, so this show up on /fr/.

[2021-05-13 08:56] #10188 closed

[2021-05-13 09:00] alexgibson commented on #10194
If we can't serve the stub installer because of the reasons cited in https://github.com/mozilla/bedrock/issues/9836, then perhaps some UA detection would be an action we could consider, although I'm still hesitant to start relying on a technology that browsers are starting to phase out/freeze.

[2021-05-13 13:05] alexgibson opened #10200 "GTM throws an error in old IE browsers"
## Description

On March 10, something happened to our GTM setup that has caused a sudden drop in download events in old IE browsers:

![image](https://user-images.githubusercontent.com/400117/118128653-16731e00-b3f3-11eb-82e0-f99a5a254b8b.png)

Internet Explorer 6-8 browsers show a sudden drop in download conversion data from this date. Actual downloads are not effected, but GA throws an error re

[2021-05-16 06:30] Abhra303 commented on #10120
Does research_requests@mozilla.com exist ? or it is not working for only that link?

[2021-05-17 09:33] alexgibson opened #10202 "Handle blocking of YouTube JS?"
## Description
We get quite a lot of `YT is undefined` errors in [Sentry](https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/10909431/), most from a recent /whatsnew page. I'm assuming this is because because either people block YouTube tracking scripts, or it fails to load in some circumstances when network connections are slow.

I think we can likely handle errors like this by checkin

[2021-05-17 14:43] alexgibson commented on #7524
I did a little poking at this today, and I think we can still make this work as far down as IE8 as long as we use `onreadystatechange` instead of `onload` for the XHR request.

We only get a very small fraction of visitors on still IE6/7, which is probably a not very significant amount of attribution data. With that in mind, I think proposing we drop those browsers is OK.

[2021-05-17 15:13] #10171 closed

[2021-05-17 16:13] #10197 closed

[2021-05-17 16:15] alexgibson commented on #10103
Fixed by #10075

[2021-05-17 16:15] #10103 closed

[2021-05-17 17:13] alexgibson commented on #9866
I still see this even after the protocol update, seems to be related to some possible (?) custom visited link styles:

[code]

[2021-05-18 20:22] jwhitlock opened #10205 "Preference Center sends unneeded update to Basket when unsubscribing from all newsletters"
## Description

When unsubscribing from all newsletters, Bedrock is sending two requests to Basket:

1. A ``POST`` to ``/news/user/{token}``, with a form body with keys ``api_key`` and ``lang``.
2. A ``POST`` to ``/news/unsubscribe/{token}``, with a form body with an ``email`` and ``optout=Y``

The first ``POST`` is not needed.

### Steps to reproduce

1. Load the preference center at https://www.

[2021-05-19 08:37] alexgibson opened #10207 "AMO download attribution experiment"
## Description

The AMO team would like to run an experiment whereby Firefox download links on AMO point directly to /thanks, as opposed to /new (which is the current behaviour). To support this experiment they need to measure the effect it has on installs, but the /thanks page does not (currently) do the stub-attribution dance before triggering a Firefox download (it assumes you have done a mozor

[2021-05-19 14:06] bobsilverberg commented on #10207
Thanks for filing, @alexgibson! When you say the custom /thanks page will be available via a specific query param, does that mean that the URL will remain /thanks, and that we'll be passing the custom query param to that URL, or will it be an entirely different URL (e.g., /amo-thanks)?

We would intend to pass all of the other query params we are currently using for the download link to this new U

[2021-05-19 14:14] bobsilverberg commented on #10175
@alexgibson When analyzing the data from the current experiment we have running, we have realized that our use of `utm_term`, while making analysis possible, is not optimal. Having a custom dimension in place that AMO can use for our next experiment would be good. However, I want to check to see if we can actually make use of it.

If a custom dimension is defined in GA for our use, will we be able

[2021-05-19 14:35] alexgibson commented on #10207
@bobsilverberg I propose we use a query param on the regular /thanks URL, something similar to:

https://www.mozilla.org/firefox/download/thanks/?source=amo (open to other suggestions if something else might be better)

You can still pass along any other params you need here to attribute your experiment.

[2021-05-19 14:43] alexgibson commented on #10175
In GA we have custom dimensions already set up for experiments and variations, both of which rely on the following dataLayer event in JS: https://bedrock.readthedocs.io/en/latest/abtest.html#viewing-the-data

The main thing I think we'd want to avoid is passing in untrusted content to JS/GA via a query param, so we'd need to decide on a set of allowed values/formats.

    <span class="blob-code-in

[2021-05-19 15:01] bobsilverberg commented on #10175
Nice! So those dimensions are available, but I take it from your comment above that we cannot currently write to them simply by passing a URL param? All we would need to pass are a fairly short string for each of those, so it might not be difficult to define a format that would be safe. Defining a set of allowed values might be trickier as the experiment name will change each time, and ideally the

[2021-05-19 15:03] alexgibson commented on #8440
We finally have an update on UA string freezes https://blog.chromium.org/2021/05/update-on-user-agent-string-reduction.html

[2021-05-19 15:09] alexgibson commented on #10175
I'll lean on your good-self to propose what might work here :)

Sticking to something simple like alpha-numeric values for the experiment name (something with amo in?), and an integer for the variation might be enough. Perhaps we could rely on the same `experiment` and `variation` parameters that stub attribution uses?

[2021-05-19 15:26] alexgibson commented on #8440
Proposed rollout plan for UA reduction (with example UA strings): https://www.chromium.org/updates/ua-reduction

I still need to find time to read through this properly, but at first glance it looks like it may not be as destructive as first feared (a unified platform name will still be preserved, which is the main thing we rely on). Things related to CPU and architecture are still effected though

[2021-05-19 19:04] alexgibson opened #10209 "VPN download-first experiment"
## Description

The VPN team would like to experiment with a download-first subscription experience. Proposed flow details can be seen here: https://www.figma.com/file/Rvu8RsVhTksMs48b5pRlup/Mozilla-VPN---Download-Experiment-Flowchart?node-id=0%3A1

The plan is to run this experiment this before https://github.com/mozilla/bedrock/issues/10199, so it's a P1.

Target audience:

- Mac / Windows platf

[2021-05-20 04:58] globau opened #10210 "Most of the "Learn more" links on https://www.mozilla.org/en-US/about/manifesto/ are broken or out of date"
I was hoping to share our manifesto with friends, thought I'd give it a quick re-read before I did so.

Unfortunately most of the "Learn more" links on https://www.mozilla.org/en-US/about/manifesto/ are broken or out of date.

### Principle 1

- <a href="http://openbadges.org/">Use Open Badges to share your skills and interests</a>
  - ✅
- <a href="http://mozillascience.org/">Explore how the web i

[2021-05-20 06:46] slightlyoffbeat opened #10211 "[Epic] evolve static getpocket.com pages"
## Description
We are in the process of migrating the marketing pocket pages to the `externalpages/pocket` directory within bedrock.

With the pages in bedrock we can leverage the existing l10n and asset pipelines, and any changes will be much easier with jinja templates.

## Success Critera
#### Front-end tasks
- [x] Incorporate JS from pocket repo (if needed)
- [x] #10783
- [x] #11171  ([relevan

[2021-05-20 06:50] slightlyoffbeat commented on #10184
We will have P1 assets from creative by Friday, May 21.

Here is the document I created that audits assets and assigns priorities:

https://docs.google.com/spreadsheets/d/1Fsx_b-Vs0GOyLi_MoTBK_ZUdoNWsN2L76EUjX2l1aa8/edit?usp=sharing

[2021-05-20 07:02] slightlyoffbeat opened #10212 "homepage cards update for MR1"
the top cards section on the homepage of Mozilla.org will be refreshed for MR1 launch.

[2021-05-20 07:08] alexgibson commented on #10210
Thank you for taking the time to capture all this, adding to our intake board 💯

[2021-05-20 08:21] Abhra303 commented on #9943
May be it is not a bedrock's bug. It can be a karma bug. btw This was an issue before version 6.0.0. See [this](https://github.com/karma-runner/karma/issues/3560#issuecomment-759612586).
@alexgibson  are you still getting this error?

[2021-05-20 08:32] alexgibson commented on #9943
Good to know @Abhra303 thanks! We're on version 6 now, so let's keep an eye on this bug and we can close it if the problem seems to be gone :)

[2021-05-20 14:38] Abhra303 commented on #9814
@alexgibson  how would you compile Sass files in webpack with the current file structure?
As far as I know, webpack uses import statements in js files to automatically detect which files to be compiled (so the path of sass files also have to be manually included into the corresponding js file). And all this thing have to be done manually . With such a huge number of js files and sass files, it see

[2021-05-20 14:49] alexgibson commented on #9814
@Abhra303 not really, Webpack supports multiple entry points, so it's possible to pass it a reference to [static-bundles.json](https://github.com/mozilla/bedrock/blob/master/media/static-bundles.json) and compile it like we do today. I already have a working branch building the site this way.

[2021-05-20 15:32] craigcook commented on #9865
This was fixed with https://github.com/mozilla/bedrock/pull/10163

[2021-05-20 15:32] #9865 closed

[2021-05-20 15:35] Abhra303 commented on #9814
@alexgibson thanks. I am new to webpack. Did not know about this aspect. I would love to see the code as it will let me learn something new :)

[2021-05-20 16:53] alexgibson commented on #10209
Some aditional requirements:

- If page URL contains both `entrypoint_experiment`, `entrypoint_variation`, and FxA flow params, then pass through the flow params to the VPN subscription links. This will help reconnect which variation someone is in when they come back from the product download to subscribe.

[2021-05-20 17:32] #7673 closed

[2021-05-21 02:34] slightlyoffbeat commented on #10167
@craigcook will we be able to compare the CTR across the 4 variations?

[2021-05-21 04:03] craigcook commented on #10167
Yeah, we can tag them to differentiate. I'd be surprised to see much difference between them, but who knows.

[2021-05-21 16:12] alexgibson opened #10215 ""Get the Firefox app" button on /firefox/mobile-promo/ is broken"
## Description

The main call-to-action button on /firefox/mobile-promo/ is broken.

### Steps to reproduce

1.) Visit https://www.mozilla.org/en-US/firefox/mobile-promo/
2.) Click on either of the "Get the Firefox app" buttons.

### Expected result

Not entirely sure, a modal should open with send-to-device?

### Actual result

Nothing happens.

### Environment

Firefox Nightly

[2021-05-21 16:16] alexgibson commented on #10215
Looking in GA, this page has (fortunately) had next to no traffic in the past year. I'm not sure where it originates, or why it's loading files from the /firefox/welcome/4/ page (this is probably the source of the breakage).

@slightlyoffbeat Can we just retire this page?

[2021-05-21 16:27] craigcook commented on #10215
Looks like this page was part of an experiment last April (https://github.com/mozilla/bedrock/pull/8816) and began life as a copy of welcome/4 ... but welcome/4 changed in https://github.com/mozilla/bedrock/commit/d9602db5d1719271d8e9c92d6b8717f2a2565c9c#diff-18666bfc979fbd1e351835e281e8bf2fa0e310f5aa92fc5690d5ae685be4ced7 to remove the modal and use the inline widget but this stale copy wasn't up

[2021-05-21 16:30] alexgibson commented on #10215
Ah! Yeah we can probably retire `firefox/privacy-by-default`, and `firefox/privacy-tools` as well 👍

[2021-05-21 17:17] slightlyoffbeat commented on #10215
These all look like dead pages so we should remove.

I just sent a note to the engineering manager of the team that originally built/requested to confirm that we can remove.

[2021-05-21 17:32] slightlyoffbeat commented on #10215
Confirmed that these pages are no longer in use and all three can be removed.

[2021-05-24 08:02] #10063 closed

[2021-05-24 13:19] alexgibson commented on #10196
See also: https://github.com/mozilla/bedrock/issues/9750

[2021-05-24 13:20] alexgibson commented on #9943
Going to close this and we can re-open if we still see it happening.

[2021-05-24 13:20] #9943 closed

[2021-05-24 18:34] slightlyoffbeat opened #10217 "Update Mozilla Leadership Page"
## Description

There is an update to go live on the morning of May 25.

Bio:
https://docs.google.com/document/d/1B5K2IgV5RcS2-eblXGXd-YJ9Ac5wcoLTTviQu0gNsMc/edit

Photo:
https://drive.google.com/file/d/1_gqeT6ImzUiuyZGZ3k1NrTZlWbCA07vL/view

[2021-05-25 09:11] alexgibson commented on #10209
Experiment design doc (Mozilla access only): https://docs.google.com/document/d/1igeYfvV_t1vZRsIw1P2AKS4CpO-RvM4Dc5_0ppx12-0/edit?usp=sharing

[2021-05-25 13:53] #10217 closed

[2021-05-25 16:36] alexgibson commented on #10199
This has been deprioritised in favor of #10209, but I'll pick this up again as soon as the experiment is done.

[2021-05-26 08:32] alexgibson opened #10222 "Wordpress API 404 errors"
## Description

With the recent blog migration it looks like some of the Wordpress API endpoints bedrock pulls from are now 404. I'm not aware of any pages that were actually using this content today, so maybe it's time to remove the integration - unless there's a new endpoint we can pull content from, should we wish to use this again in the future?

Sentry errors: https://sentry.prod.mozaws.net/o

[2021-05-26 15:44] rraue commented on #9888
So with more time and data I looked at this again and I see some mixed messages in the data. The longer the time range I look at the harder it is of course to determine the sticky promo as the changing factor. And thats why I think the data is inconclusive: https://docs.google.com/spreadsheets/d/1wvwp9rCV5PZpX9z_YlDWUbM-9Dok2cgThMYnzCQeHwk/edit?usp=sharing

On some pages download rate went up, on

[2021-05-26 15:44] #9888 closed

[2021-05-26 15:49] #9490 closed

[2021-05-26 15:49] rraue commented on #9645
wontfix

[2021-05-26 15:49] #9645 closed

[2021-05-26 15:51] rraue commented on #8697
Old issue, closing as we change it with the redesign of /new

[2021-05-26 15:51] #8697 closed

[2021-05-26 15:52] rraue commented on #8203
Done, the new /new page is a great success.

[2021-05-26 15:52] #8203 closed

[2021-05-26 15:55] rraue commented on #9442
Closing this as its no bedrock related work and the pitch wasn't successful.

[2021-05-26 15:55] #9442 closed

[2021-05-27 03:09] slightlyoffbeat opened #10224 "Migrate VPN blog posts to www"
We want to redirect the evergreen vpn blog posts to /products/vpn/ so they rank better long term.

****

This can use a layout similar to:
https://www.mozilla.org/en-US/firefox/features/block-fingerprinting/

We should design a template that will have the VPN Look & Feel

****

Brief:

https://docs.google.com/document/d/1PDVv1I-jkTFvRX-jYDtPhgn9Zhq16EUUZS5EH7hJjjM/edit?usp=sharing

****
Success Cr

[2021-05-27 03:15] slightlyoffbeat commented on #10224
@rraue Do we need a landing page for these types of posts, similar to the features landing page? Or is the scope of this project only the pages?

[2021-05-27 03:22] slightlyoffbeat opened #10225 "Create native-looking app banners for mobile users on /Firefox"
## Description

Last year we ran a test that tested native app banners

[Android Designs](https://docs.google.com/document/d/16W-gpAmN4ZE7WIYiUh3ux1-GisF_0VYrH-qqkVr4RZI/edit?usp=sharing)

[iOS designs](https://docs.google.com/document/d/1rhYim7UcdISepGMSnyiv7ekxrWdL7oBOr0v59YfcWjk/edit?usp=sharing)

---

#### Success Criteria
- [x] Remove Daylight banner from mozilla.org
- [x] Decide if we use na

[2021-05-27 03:25] slightlyoffbeat opened #10226 "Update copy for daylight banners."
Daylight is no longer new.

This banner still drives significant installs from /firefox. Short term solution is to update the copy to no longer say "new".  Long term solution is to develop the native app banners (see: #10225)

Todo:

- [ ] Submit request/brief to creative to ask for new copy
- [ ] provide copy to developer
- [ ] update banner

[2021-05-27 14:06] alexgibson commented on #10225
See also: https://github.com/mozilla/bedrock/issues/10111

Perhaps we can leverage the code that this experiment used here ^

[2021-05-27 14:22] rraue commented on #10224
The only additional thing to do is linking these pages where appropriate from the faq section of the vpn homepage. Then for now I do not think we need an overview page.

Even if not all pages (tbd) will be linked from the homepage, they will link to each other in content and subnav, so they will be crawlable.

Once we have more and more explainers we should create a informative and fun faq page th

[2021-05-27 17:20] #10209 closed

[2021-05-27 20:33] stephaniehobson commented on #10212
Card content and links are here: https://docs.google.com/spreadsheets/d/1Fsx_b-Vs0GOyLi_MoTBK_ZUdoNWsN2L76EUjX2l1aa8/edit#gid=633567359 (Mozilla only)

[2021-05-28 08:02] alexgibson opened #10230 "/firefox/new/ 500 error on www-dev"
## Description

https://www-dev.allizom.org/en-US/firefox/new/

Test run: https://gitlab.com/mozmeao/www-config/-/pipelines/310968498/failures

Looks like the error is: `ValueError: Missing staticfiles manifest entry for 'img/firefox/new/desktop/ie8/contain-mr1.png'`

Might be related to https://github.com/mozilla/bedrock/pull/10227 ?

[2021-05-28 08:03] alexgibson commented on #10230
cc @craigcook

[2021-05-28 08:13] alexgibson opened #10231 "VPN platform pages should include legal footer"
## Description

There's a requirement that anywhere we mention Wireguard we also need to mention that the trademark belongs to Jason A. Donenfeld.

Currently the following SEO pages do not include the legal footer found on the main VPN landing page.

- https://www.mozilla.org/en-US/products/vpn/desktop/
- https://www.mozilla.org/en-US/products/vpn/desktop/mac/
- https://www.mozilla.org/en-US/produ

[2021-05-28 08:13] alexgibson commented on #10231
cc @rraue

[2021-05-28 08:27] alexgibson commented on #10199
Picking this back up now that #10209 has merged

[2021-05-28 08:36] alexgibson opened #10232 "Copy update for VPN landing page"
## Description

Small copy update incoming for the "Fast and secure network" block.

---

#### Success Criteria
- [ ] Updated string is live and in Pontoon

[2021-05-28 11:57] alexgibson commented on #10232
We may also need to update the SEO pages here as well.

[2021-05-28 12:55] alexgibson commented on #9317
Closing this. We determined this setting is not possible to detect via a browser API that is exposed to web pages.

[2021-05-28 12:55] #9317 closed

[2021-05-28 17:22] #10230 closed

[2021-05-28 18:10] #10145 closed

[2021-05-28 18:39] #10167 closed

[2021-05-28 23:48] stephaniehobson opened #10240 "Publish MR1 homepage cards"
Homepage card updates are on dev and staging. They need to go to prod Tuesday morning but not until after the blog posts publish at 6am Pacific.

MJ will be on Slack if you have questions.

To publish: pull down the latest from the www-admin repo and then `git push origin master:prod`.

[2021-05-29 19:23] birdsarah opened #10241 "Allow vpn.mozilla.org to pass FXA params"
In #10213 we allow vpn.mozilla.org to pass through flow params if experiment params are present (https://github.com/mozilla/bedrock/pull/10213/files#diff-59964e1536d4ba55340d0ca8b047b434ae1d25e380aea2094b9e6a825cd94db6)

In this issue I'd like to discuss allowing vpn.mozilla.org to always be able to pass fxa flow params (flow_id, flow_begin_time, device_id) to the vpn landing page and have them ap

[2021-05-31 12:45] bobsilverberg commented on #10207
Thanks @alexgibson. I have a question regarding IE<=9, which you have indicated should be excluded from using this new URL. The number of users we see on IE<=9 is extremely small (e.g., 40 over a 2 week period), plus we do not support IE at all on AMO and know that the site has rendering issues for anyone on IE. For these reasons we intend to simply ignore this issue, rather than add code to addre

[2021-06-01 07:54] alexgibson commented on #10240
PR for banner and imae updates: https://github.com/mozmeao/www-config/pull/383

[2021-06-01 08:05] alexgibson commented on #10199
Production IDs:

6 mo - price_1Iw87cJNcmPzuWtRefuyqsOd
1 yr - price_1Iw85dJNcmPzuWtRyhMDdtM7
Monthly - price_1Iw7qSJNcmPzuWtRMUZpOwLm

[2021-06-01 08:24] alexgibson commented on #10207
IE visitors on older browsers should still see this notification:

![image](https://user-images.githubusercontent.com/400117/120291318-14e29a80-c2bb-11eb-8d5d-2bb88da9eee5.png)

Clicking "Try downloading again" will take them to where they have to manually choose the right download: https://www.mozilla.org/en-US/firefox/all/

[2021-06-01 08:27] alexgibson commented on #10241
As far as I'm aware, there are no other FxA services that try to pass flow params back to mozorg. So I think allowing them to pass through (provided the values are well formatted) should be fairly low risk. Let's discuss further 👍

[2021-06-01 11:34] bobsilverberg commented on #10207
Thank you @alexgibson

[2021-06-01 12:28] alexgibson opened #10242 "VPN moments page updates for DE/FR"
## Description

Now that VPN has launched in DE/FR the EU team would like to make some updates to the moments page for a second post-launch activation.

- https://www.mozilla.org/de/firefox/welcome/9/
- https://www.mozilla.org/fr/firefox/welcome/9/

Copy forthcoming

---

#### Success Criteria
- [ ] Moments page is updated with new copy / images for second activation.

[2021-06-01 13:07] alexgibson commented on #10240
Blog posts seem to be live on https://www.allizom.org/en-US/, so going to push to prod.

[2021-06-01 13:16] alexgibson commented on #10240
Looks good on https://bedrock-prod.gcp.moz.works/en-US/. Prod should update shortly as soon as caches expire

[2021-06-01 13:16] #10240 closed

[2021-06-01 13:46] alexgibson opened #10243 "VPN pages should use logo assets from Protocol"
## Description

Now that Mozilla VPN logos have been added to Protocol's asset bundles (see https://github.com/mozilla/protocol/issues/663), we should update bedrock landing pages to use Protocol as the canonical source for VPN logos, and remove the assets in bedrock.

---

#### Success Criteria
- [ ] VPN pages use logo assets from Protocol.

[2021-06-01 15:10] chutten opened #10244 "mozilla.org/contribute's link for contributing to the mozilla codebase redirects from MDN to an archived github index"
## Description

Clicking on "Contribute to the mozilla codebase" at https://www.mozilla.org/contribute/ ends you up at https://github.com/mdn/archived-content/tree/main/files/en-us/mozilla/developer_guide/introduction

### Steps to reproduce

1. https://www.mozilla.org/contribute/
2. Click on "Contribute to the Mozilla Codebase"

### Expected result

Should be sent to codetribute or https://firefo

[2021-06-01 15:32] bobsilverberg commented on #10175
We're already passing `experiment` and `variation` in the URLs when we run an experiment, so being able to reuse those would be ideal. I.e., if we pass `experiment` and/or `variation` on the URL, they'd get written to the corresponding GA custom dimensions. Are you saying there is already validation in place around `experiment` and `variation`? Or do we still need to define acceptable formats?

[2021-06-01 15:36] alexgibson commented on #10175
I'd say some level of sanitisation / format checks are always worth adding.

[2021-06-01 16:15] bobsilverberg commented on #10175
The format that we have adopted thus far for `experiment` is `YYYYMMDD_experiment_name`, which we check, somewhat casually, via `/\d{8}_.+/`. We haven't defined a length, but we could have a maximum if that would help. In terms of `variation`, we prefer to use a string over an integer to make the reports in GA easier to read/interpret. We could limit that to alpha-numeric values and could keep it

[2021-06-01 16:18] alexgibson commented on #10175
I think this should be fine, thank you

[2021-06-02 00:15] birdsarah opened #10247 "data_cta_position not on /download buttons in variation b"
### Steps to reproduce

Go to: https://www-dev.allizom.org/en-US/products/vpn/?entrypoint_experiment=vpn-landing-page-download-first&entrypoint_variation=b

### Expected result

The Get Mozilla VPN buttons should have a `data_cta_position` param on them.

### Actual result

They don't.

The #pricing button has it. And no-experiment and variation-a have it too.

cc @alexgibson

[2021-06-02 02:55] birdsarah commented on #10247
I was also surprised to *not* see flow params on variation b, but they are on variation a.

[2021-06-02 12:35] rraue commented on #10224
@craigcook

Urls for the pages:
- https://blog.mozilla.org/firefox/what-is-an-ip-address/ -> /products/vpn/more/what-is-an-ip-address/
- https://blog.mozilla.org/firefox/vpn-or-proxy/ -> /products/vpn/more/vpn-or-proxy/
- https://blog.mozilla.org/firefox/vpns-explained/ -> /products/vpn/more/what-is-a-vpn/
- https://blog.mozilla.org/firefox/when-to-use-a-vpn/ -> /products/vpn/more/when-to-use-a-vp

[2021-06-02 12:54] rraue commented on #10224
@craigcook waiting for review from Rebecca for title and description. I had to change them a bit from what they are currently on the blog:

https://blog.mozilla.org/firefox/what-is-an-ip-address/ -> /products/vpn/more/what-is-an-ip-address/
**title:** What is an IP address?
**decription:** Mozilla answers all of your questions about IP addresses from what is an IP address, to how it works, and if

[2021-06-02 14:13] rraue commented on #10224
Here is a mockup of how the pages will look like.
- Above the fold with less white space on top from https://www.mozilla.org/en-US/products/vpn/desktop/
- Text area like on https://www.mozilla.org/en-US/firefox/features/block-fingerprinting/

![mockup-vpn-articles](https://user-images.githubusercontent.com/36700618/120495974-77bc5a80-c3bd-11eb-9994-4974736cb52f.jpg)

[2021-06-02 15:15] #10247 closed

[2021-06-03 08:25] alexgibson commented on #8440
I spent a little time reading up on the changes, and it looks like the impact of the UA string freeze will be lessened for bedrock, although not mitigated entirely. The new changes boil down to:

- Platform (e.g. `Windows`, `Mac OSX`, `Linux`) is no longer considered a high entropy value. The correct platform will still be preserved in the UA string. This means that bedrock should still detect the

[2021-06-03 15:23] #10232 closed

[2021-06-03 15:31] #7523 closed

[2021-06-03 21:05] amychurchwell opened #10251 "Over-scroll background color on whats new page should match background."
## Description

On Mac, the rubber-banding effect that happens when you over-scroll shows a strip of white on the wnp (https://www.mozilla.org/en-US/firefox/91.0a1/whatsnew/all/?oldversion=90.0a1). I noticed the `html` and `body` tags both have a `background: #fff`, I think it would be better to have the over-scroll color reflect the background color of the rest of the page so it is more seamless.

[2021-06-04 08:28] #10231 closed

[2021-06-04 08:36] alexgibson commented on #10244
See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1714434

But there are two different links suggested in each bug. Which one is better?

- https://firefox-source-docs.mozilla.org/setup/getting_set_up.html
- https://firefox-source-docs.mozilla.org/contributing/contribution_quickref.html

[2021-06-04 08:41] gabrielesvelto commented on #10244
The first link is broader in what it covers so I think it's a better fit to replace the old page (which covered multiple topics). That being said I'd add a link to the second link in that page and update its contents (e.g. it still uses the Fenix/Firefox Preview name but I guess that should be changed to Firefox for Android now).

[2021-06-04 09:13] jgraham commented on #10244
FWIW the "getting set up" page (apart from being outdated as you note) seems like a bit of a dead end to me. It tells you that there are a bunch of projects using different languages, but doesn't really tell you how to contribute to any of them, and if you click "next" you're suddenly in detailed docs for building Firefox on Windows. I also somewhat wonder about the model where we assume people ar

[2021-06-04 09:21] gabrielesvelto commented on #10244
We could add a paragraph "I just want to dive into Firefox code" that points to the quickref. That being said the page is at the top of our detailed build and contribution instructions (such as https://firefox-source-docs.mozilla.org/setup/contributing_code.html) so maybe we should re-org that to more clearly point to the additional resources.

It's in the second paragraph (it's a link to the #int

[2021-06-04 09:32] #10222 closed

[2021-06-04 09:57] #10212 closed

[2021-06-04 09:57] #10184 closed

[2021-06-04 09:57] #9567 closed

[2021-06-04 16:23] #10242 closed

[2021-06-04 19:20] jwhitlock opened #10252 "Add a source_url for newsletter changes from the subscriptions management page"
## Description

[CTMS](http://github.com/mozilla-it/ctms-api), the new storage backend for Basket, allows each subscription to have a source URL, rather than a single URL for the first contact with the subscriber'e email. The Mozilla Foundation has requested that all newsletter subscriptions have a source URL in [CTMS](http://github.com/mozilla-it/ctms-api) when possible. One source of new subscri

[2021-06-04 21:22] slightlyoffbeat opened #10253 "Leadership Page Updates"
## Description

We have some small leadership page change requests:

- Add Mark Surman to the MoFo board section. (can use same picture and bio)
- Make MoCo leadership alphabetical by last name.

[2021-06-04 21:26] craigcook commented on #10253
This was already done in https://github.com/mozilla/bedrock/pull/10228. Sorry I didn't tell you!

[2021-06-04 21:26] #10253 closed

[2021-06-07 14:44] rraue commented on #10224
@craigcook I updated the links on vpn homepage: https://docs.google.com/document/d/1vWD7GX13fasCkLudPsdZN1-u24EEzLmWkuFNIZ4WiKo/edit?usp=sharing No string changes needed, the only page that doesnt fit is the proxy page but that one will be crawlable via the subnav on the other three pages.

[2021-06-07 22:59] craigcook commented on #10224
https://www-demo4.allizom.org/en-US/products/vpn/more/what-is-a-vpn/
https://www-demo4.allizom.org/en-US/products/vpn/more/what-is-an-ip-address/
https://www-demo4.allizom.org/en-US/products/vpn/more/when-to-use-a-vpn/
https://www-demo4.allizom.org/en-US/products/vpn/more/vpn-or-proxy/

[2021-06-08 09:15] alexgibson commented on #10090
I'm not sure what the status is on /whatsnew post-MR1. I've heard talk that /whatsnew may not be triggered at the same regular intervals it once was, and only on an agreed-basis between product & marketing. If that's the case, then maybe this evergreen page isn't needed any more?

[2021-06-08 13:28] alexgibson opened #10255 "RTL issues on /ar/firefox/developer/ at small viewport sizes"
## Description

At small viewport sizes the imagery on https://www.mozilla.org/ar/firefox/developer/ breaks out the viewport.

### Steps to reproduce

1.) Open https://www.mozilla.org/ar/firefox/developer/ on a mobile device.
2.) Or if on desktop, resize the browser down to a small viewport width.

### Expected result

The page content should scale down to fit within the viewport.

### Actual resu

[2021-06-08 14:22] craigcook commented on #10255
Looks like it does the same in LTR but the overflow is hidden to prevent horizontal scrolling. We could do the same for RTL, or rework that image to be responsive and not overflow at all.

[2021-06-08 14:38] alexgibson commented on #9814
I've taken a look at Parcel, but I think there's a currently a greater range of options / community support for Webpack. We could certasinly take it for a spin though.

In terms of http/2 making bundling obsolete, I'm not sure I agree entirely. Http/2 does great things to help optimise the number of concurrent requests between the client / server, but bundling today does a lot more (things like tr

[2021-06-08 14:44] alexgibson commented on #9814
I found a good article from Khan Academy that goes into this a little: https://blog.khanacademy.org/forgo-js-packaging-not-so-fast/

[2021-06-08 14:48] pmac commented on #9814
Yeah, we'd obviously still have to compile and minify and things, but I do wonder whether, especially with Brotli compression we get from the CDN, it would be better to have better cachability than purely a lower number of bites on the page. It would take experimentation and probably a better understanding of our traffic than we currently have. If it's close though, and bundling makes our develope

[2021-06-08 14:59] alexgibson commented on #9814
I'm all for doing some experimentation, just saying that lots of folks have also done the same and published info on this (and things like Webpack and Parcel probably wouldn't have happened). Cachability is good, but most people don't browse around our site and only hit really one or two pages at most. Like the Khan Academy post above suggests, the solution is often a balance between bundles and r

[2021-06-08 15:41] #10199 closed

[2021-06-08 17:29] stephaniehobson commented on #9814
I looked into http2 back when I was on MDN and found that the number of concurrent requests limit (6-8ish) was still a thing. If that's still the case there's a need for some balance between requests and bundling.

[2021-06-08 21:50] pmac commented on #9814
Sounds good. Hopefully we can get on it sooner than later.

[2021-06-08 22:11] slightlyoffbeat opened #10257 "Update moments page for VPN"
## Description

PMM team has requested the following updates to https://www.mozilla.org/en-US/firefox/welcome/10/

1. Update headline. Copy to be provided by creative team
2. Update CTA to link to pricing section of landing page: https://www.mozilla.org/en-US/products/vpn/?source=welcome10#pricing

UPDATE:
This will run as an a/b test with traffic cop.

### Both Variations:

**Logo:** VPN lockup l

[2021-06-09 08:18] alexgibson opened #10259 "MR1 site banner for DE/FR"
## Description

The EU team would like to replace the current banner for VPN with an MR1 banner.

Brief: (Mozilla access only) https://docs.google.com/document/d/152iWq-mNEaT22WITybUX0tXj1ttfpmu3QBJ7dupBbec/edit?usp=sharing

URLs (de/fr locales only):

- https://www.mozilla.org/firefox/
- https://www.mozilla.org/firefox/browsers/
- https://www.mozilla.org/firefox/products/
- https://www.mozilla.or

[2021-06-09 14:07] aknouche commented on #10255
Hi @alexgibson I want to start working on this. I am new in the project and am thus going through all the steps according to the contribute file. I think my arabic language skills will be a plus when wokring on this issue. If I encounter som problems maybe can ask my questions here?

[2021-06-09 14:36] alexgibson commented on #10255
@aknouche Hi and welcome! Please see our contributing doc for instructions to get started with bedrock: https://github.com/mozilla/bedrock/blob/master/.github/CONTRIBUTING.md

We can't always promise we can find time to mentor contributors, but you are always welcome to ask questions :)

[2021-06-09 14:41] alexgibson opened #10260 "VPN staging IDs for variable pricing in US$ are incorrect"
## Description

We're currently using the same VPN staging IDs for US$ variable pricing as we do for Euros. This creates a currency mismatch error when QA are trying to test the new flow. See: https://jira.mozilla.com/browse/FXA-3620

We need to get a new set of staging plan IDs from the subplat team (which are forthcoming).

[2021-06-09 18:05] aknouche commented on #10255
Ok I'll do my best to stick with it : )
Thanks!

Den ons 9 juni 2021 16:36Alex Gibson ***@***.***> skrev:

[2021-06-09 20:21] slightlyoffbeat commented on #10257
@craigcook This copy is in legal review, but is close to final and can be used as a placeholder:

*****

**Logo:** VPN lockup logo (not just icon)

**Headline:** Ending soon: $4.99/month for a secure connection on every device

**Paragraph text:** Protect your entire internet connection—on your computer, your tablet, and even your phone—with this limited-time offer.

**CTA text:** Get Mozilla VPN

[2021-06-10 08:03] alexgibson commented on #10260
New Ids for staging:

- 12 MO: price_1J0Y1iKb9q6OnNsLXwdOFgDr
- 6MO: price_1J0Y12Kb9q6OnNsL4SB2hhmp
- 1MO: price_1J0Y0AKb9q6OnNsLv6x9vXKG

[2021-06-10 08:24] #10260 closed

[2021-06-10 12:46] alexgibson opened #10263 "Remove VPN download-first experiment code"
## Description
The experiment added in https://github.com/mozilla/bedrock/issues/10209 has now run its duration. We can remove/tidy up the experiment code.

---

#### Success Criteria
- [ ] Experiment variation code is removed from the repo.

[2021-06-10 17:34] aknouche commented on #10255
I tried to make a local installation on Windows but that didnt work out well (surprise ; ) ) so I am setting it up through docker on linux. Then I will be able to fix the bug : )

[2021-06-10 18:57] pmac opened #10268 "Contentful changes required for production"
This is the current list of things we need to do to #10018 before we can merge and go to production:

- [ ] More code review to try to reduce the possibility of breakage due to changes to the Contentful data
- [ ] Addition of data sanitation using bleach to reduce the risk of XSS and other security concerns
- [ ] Remove Contentful version of the DE home page until that data is ready
- [ ] Put the

[2021-06-10 22:19] slightlyoffbeat commented on #10166
As of writing this comment, this is still blocked, but things are moving fast and this may be prioritized for next week.

[2021-06-10 22:32] slightlyoffbeat opened #10269 "WNP 90 for North America"
## Description

We will have a new WNP for Firefox 90. This page will feature Pocket.

This card will be updated with details after kickoff.
---

#### Success Criteria

- [x] Set up to use Traffic Cop
- [ ] Variation A (control) has the CTA link for activating Pocket with Firefox: https://getpocket.com/ff_signup
- [ ] Variation B has the CTA link to getpocket.com/signup
- [ ] Both Variations have

[2021-06-10 22:35] slightlyoffbeat opened #10270 "WNP 90 for EU"
## Description

Card for NA is tracked here: #10269

We will have a new WNP for Firefox 90. The focus of this page is not yet determined.

---

#### Success Criteria

- [ ] Proper attribution for any signups that originate from this page
- [ ] ~(if pocket) Pocket team (back-end) is properly notified of any URLs that we will direct traffic towards.~

[2021-06-10 22:41] slightlyoffbeat commented on #10166
No longer blocked.

[2021-06-11 13:54] alexgibson opened #10273 "Content overflow on rest-of-world home page"
## Description

On the rest-of-world home page there's a content overflow issue at small screen sizes.

### Steps to reproduce

1.) Visit https://www.mozilla.org/es-ES/ on a mobile device, or adjust the browser window down to a small/narrow container size.
2.) Start scrolling down the content.

### Expected result

The hero image should not obscure the section directly underneath it.

### Actual r

[2021-06-11 18:54] slightlyoffbeat commented on #10257
Craig and I had a conversation about various challenges with availability and pricing by geo.

According to possible targeting criteria, we can target by country. This should remove the need to do any geo-checking for price, or having anything built to handle users viewing this who cannot purchase VPN.

[2021-06-14 08:17] alexgibson commented on #10257
We should probably double-check this when it launches to make sure the targeting is accurate. Here's the list of countries who saw the German VPN moments page and it doesn't seem geo-targeted, although I'm not 100% sure on what criteria Caro asked for (we left the price off the page because we were in doubt how it really worked).

![image](https://user-images.githubusercontent.com/400117/121860822

[2021-06-14 11:02] #10273 closed

[2021-06-14 14:56] #10257 closed

[2021-06-14 17:17] #10259 closed

[2021-06-15 09:47] alexgibson commented on #10207
@bobsilverberg sorry this has taken me a while to get round to. I've submitted a pull request for this work, and we'll try and get it reviewed soon (we're a little under staffed right now, but hopefully it shouldn't take too long).

Some notes that may be of interest to you:

- The experiment URL will be https://www.mozilla.org/en-US/firefox/download/thanks/?xv=rtamo
- Only the `xv=rtamo` is requi

[2021-06-15 09:59] alexgibson commented on #10241
@birdsarah if you want to work on this, I _think_ all you need to do is delete this conditional block:

https://github.com/mozilla/bedrock/blob/master/media/js/base/fxa-utm-referral.js#L92-L111

You'll probably also need to update some tests in https://github.com/mozilla/bedrock/blob/master/tests/unit/spec/base/fxa-utm-referral.js

[2021-06-15 12:14] alexgibson commented on #10270
Brief (Mozilla access only) https://docs.google.com/document/d/1KUYIne116bry16HJ8EyddZaELFTGqoyA_ZX5QvPWoAk/edit?usp=sharing

[2021-06-15 12:22] alexgibson opened #10280 "Add support for new EU countries to VPN landing page"
## Description

Country list and exact launch date is still TBD.

Note: In some of these new countries there may not be a single national language, and instead of mix of two (or more) different languages that are commonly spoken. In these cases we'll need to add some new functionality to the landing page, whereby certain countries can use alternate subscription plan IDs based on the locale of the

[2021-06-15 12:43] bobsilverberg commented on #10207
Thanks @alexgibson!

This is fine, but the name is a bit misleading as this actually has nothing to do with RTAMO. This link might be in a header on AMO, for example, in which case RTAMO will not apply. I think it's fine to just leave this as is for the experiment, but if we end up wanting to implement something similar permanently we should change the name of the `xv` param.

Perfect!

This isn't

[2021-06-15 12:48] alexgibson commented on #10207
Ok, I can easily enough change this to just `amo`.

From bedrock's side, limiting this to en-US only will make this experiment code easier to reason about, as some locales still get served a different / older thanks page template.

I can include a couple of GA events to log timeouts, sure.

[2021-06-15 15:59] alexgibson commented on #10280
To avoid needing to create dozens of plan IDs for every country we add in the future, we're going to change to a matrix of currency/language. This means we'll only need a smaller number of plans long term, but our current code will need a refactor to work in the new format.

[2021-06-15 16:35] jvillalobos commented on #10207
Yes, limiting to `/en-US/` should be fine for this.

[2021-06-15 21:32] craigcook opened #10282 "Leadership page updates for 16 June 2021"
## Description

- [x] Remove Roxi
- [x] Add Katherine Bose
- [x] Add Dan McKinley

Katherine's bio: https://docs.google.com/document/d/14N9CTSpRUNuCE-hGbZ4-VOvb1w-c2xcy6UKZExlAmCc/edit

Dan's bio is forthcoming.

Headshots have been provided via email.

[2021-06-16 15:48] alexgibson commented on #10280
Pricing plans (Mozilla access only): https://docs.google.com/spreadsheets/d/1AEnBXYd_8P5Ft9OiXZli5BBkKmcmAIMB2cTO1kW7epU/edit?usp=sharing

[2021-06-16 16:29] alexgibson commented on #10280
Some initial user stories:

- a user shows up in a not-supported country: go to waitlist (easy)
- a user shows up in a supported country and they're viewing the page in a matching locale: go to the plan for matching language and currency
- a user shows up in a supported country and they're viewing the page in a non-matching locale: what plan should they be shown? (this will either be determined by

[2021-06-16 19:57] aknouche commented on #10255
Hi @alexgibson
I am working to fix this Issue. I have installed Bedrock using Docker at Linux and it runs just fine. I can reproduce the overflow issue. I am however having troubles finding the correct CSS file where I can do the fix. Where do I find the CSS file to fix the issue in the Arabic rtl version?

[2021-06-16 20:17] craigcook commented on #10255
The CSS for this page is in https://github.com/mozilla/bedrock/blob/master/media/css/firefox/developer/
I think the specific section to update is in the file https://github.com/mozilla/bedrock/blob/master/media/css/firefox/developer/includes/intro.scss

[2021-06-16 21:46] pmac opened #10283 "Filter profane messages to ensure they don't get through"
We have issues with the forms on the site that are for collecting trademark violations and the like. They are too easy to abuse. We should at least improve these with 2 initial steps:

1. Install [profanityfilter](https://github.com/areebbeigh/profanityfilter/) and use that to reject obviously profane messages
2. Include the requestor's IP address in the resulting message sent to the interested pa

[2021-06-16 23:03] slightlyoffbeat commented on #10269
@craigcook success criteria updated.

Variation A CTA URL: https://getpocket.com/ff_signup
Variation B CTA URL: https://getpocket.com/signup

Varation A CTA Text: Activate Pocket in Firefox
Variation B CTA Text: Sign up for Pocket

[2021-06-16 23:03] slightlyoffbeat commented on #10269
Copy document (request access)

https://docs.google.com/document/d/1xbIfXoJshBfChsnG3X3--zYZ-p9Le2bEVlGntkq6GA4/edit?usp=sharing

[2021-06-16 23:04] slightlyoffbeat commented on #10166
@craigcook added a bullet to success criteria that we shouldn't show to non-EN unless it is translated.

[2021-06-16 23:07] slightlyoffbeat commented on #10166
Creative has delivered assets! See below:

Trello Card: https://trello.com/c/wgtWXf0P/365-add-vpn-to-mozillaorg?menu=filter&filter=member:alexandergibson2
Figma File: https://www.figma.com/file/X1el5pAvN9hIaIqUWmnokj/Add-VPN-to-Moz.org?node-id=0%3A1
Copy: https://docs.google.com/document/d/1RTEJoSg5g7NcVRyaQ7tnctlZO5NpXdyVLN_KMvO_0Rs/edit?usp=sharing

They have requested a review before we go live

[2021-06-16 23:11] slightlyoffbeat opened #10285 "Add VPN to homepage of Mozilla.org."
## Description

Its time to add VPN to the homepage of Mozilla.org.

Target language: EN-*

Visuals available here: https://trello.com/c/Eueo7kaQ/366-add-vpn-to-mozillaorg-homepage-wireframe
Copy: The privacy-focused headline, subhead, and CTA [in this document](https://docs.google.com/document/d/1RTEJoSg5g7NcVRyaQ7tnctlZO5NpXdyVLN_KMvO_0Rs/edit?usp=sharing).

---

#### Success Criteria
- [x] Desi

[2021-06-16 23:19] #10282 closed

[2021-06-16 23:38] slightlyoffbeat opened #10286 "Add pricing to the subheader for EN at the top of the VPN landing page"
## Description

target: EN-US only

Add this copy above the CTA:

"US $4.99/mo - This introductory offer ends soon."

Updated Mock:

![image (10)](https://user-images.githubusercontent.com/2030656/122953059-46d3a380-d333-11eb-8a06-187a00ce420b.png)

---

#### Success Criteria
- [x] Copy is confirmed and approve by creative studio (Mary)
- [x] Confirm these changes are for English and supported cou

[2021-06-16 23:38] slightlyoffbeat commented on #10286
Copy is not final yet.

[2021-06-16 23:40] slightlyoffbeat commented on #10286
This is a request from product marketing.

@alexgibson Any flags since we are showing price here? Could we do this as an english-only update?

[2021-06-17 08:03] alexgibson commented on #10286
@slightlyoffbeat the landing page design has several blocks for conditional content based on country, where we can swap things out easily enough. If you want to keep this change really simple, I'd suggest adding this new line of copy inside the conditional block here:

![image](https://user-images.githubusercontent.com/400117/122356116-64c39180-cf4a-11eb-8caf-7743a913c484.png)

If not, this will r

[2021-06-17 08:16] alexgibson commented on #10286
Oh actually no, this will need translating. Unless we just want to wrap it in an `en` conditional and only people seeing the page in English would see it.

[2021-06-17 11:12] pascalchevrel opened #10287 "Do not show Developer section in release notes for dot releases"
## Description
For dot releases on the Release channel, we shouldn't display the developers section with a link to MDN as we always include a reference link to the major release with this section. We should show the developer section only if we mention a fix to devtools in the dot release which is very rare.

This is only for dot releases on the release channel, the section should remain displayed

[2021-06-17 11:13] pascalchevrel commented on #10287
I have a local patch that fixes this issue so I'll make a PR referencing this issue. Feel free to merge it or choose a different solution, thanks!

[2021-06-17 14:40] aknouche commented on #10255
Ok good then I was already on the right track : )
Thanks!

Den ons 16 juni 2021 kl 22:17 skrev Craig Cook ***@***.***>:

[2021-06-17 16:01] aknouche commented on #10255
Hi, I am trying to look into it and I have also gone through some of the documentation to get a grip of it all. What confuses me is that you mentioned that there is a property "overflow: hidden" in the ltr version but not in the rtl. But I can only see one version of the CSS file and it does not have the property and when I try to set overflow hidden, or make the image responsive, it does not affe

[2021-06-17 17:58] birdsarah commented on #10241
I can't self-assign, but I'm working on this.

[2021-06-17 20:12] craigcook commented on #10255
Sorry, I misspoke. It's explicitly hidden with `overflow: hidden;` rather it just seems to be a result of the positioning, and the image overflows the viewport to one side and is hidden by default. A browser won't produce scrollbars for content that overflows opposite to the text direction. For example anything that runs to the left in LTR, or anything that runs over to the right in RTL.

So I thi

[2021-06-17 22:02] craigcook opened #10292 "Remove the Firefox Lite whatsnew page [30 June]"
## Description

India and parts of Africa are still being shown a whatsnew page promoting Firefox Lite, which is being formally deprecated on **30 June 2021**. We should remove that page and disable the geo-based redirects.

---

#### Success Criteria
- [ ] Geo redirects removed; people in India and Africa should see the normal WNP (still depending on locale).
- [ ] Templates and assets deleted.
-

[2021-06-18 10:30] aknouche commented on #10255
Ok thanks, I think I am following the reasoning here. The idea is that these four properties overrides the ltr value in rtl locales and provides a new rtl only property value? However i tried this concept and it did not have any effect:
(I have tried to experiment with other values and other snippets from the _bidi.scss file)
![Overflowrtl](https://user-images.githubusercontent.com/42774809/122547

[2021-06-21 08:08] #10166 closed

[2021-06-21 10:21] alexgibson commented on #10286
@slightlyoffbeat I would also suggest we make it clearer in the copy that 4.99 is a monthly subscription, as that may not be so obvious until someone goes through the signup flow?

[2021-06-21 14:12] alexgibson commented on #10270
Figma: https://www.figma.com/file/8fVLbzzAd40lSSLuOwCfnl/Firefox-WNP-EU-(Copy-June-2021)?node-id=2%3A30

[2021-06-21 18:02] #10263 closed

[2021-06-21 22:25] slightlyoffbeat commented on #10285
The visuals are already in use on mozilla.org, so there should be no need to provide.

[2021-06-21 22:26] slightlyoffbeat commented on #10285
@alexgibson This is planned for en-* only, but the EU team may want to consider for FR/DE as well?

[2021-06-22 08:44] alexgibson commented on #10285
I asked Jen on this and she says thanks but she doesn't think the DE/FR pages need this. They plan to use cards a little differently in the future (focusing on surfacing products rather than editorial content).

[2021-06-22 15:27] slightlyoffbeat commented on #10286
Copy and direction is approved by creative & PMM (includes adding /mo per suggestion by @alexgibson )

This is now ready to be worked on.

[2021-06-22 15:52] alexgibson commented on #10286
@slightlyoffbeat

I figured this was maybe overkill for a demo server? Here's a screenshot of the copy in place:

![image](https://user-images.githubusercontent.com/400117/122957544-f0d61e80-d379-11eb-9942-c8c664de8d9f.png)

Note: I used Inter for the font instead of Zilla Slab as at this size the latter gets a little harder to read (hence why we only tend to use it for headings).

Does this look

[2021-06-22 16:10] slightlyoffbeat commented on #10286
@alexgibson  👍. LGTM. I agree that Inter looks better here.

[2021-06-22 16:44] bobsilverberg commented on #10207
@alexgibson Just FYI, we have everything in place on our side for the experiment, including limiting it to `en-US` users.

[2021-06-22 16:50] bobsilverberg commented on #10175
@alexgibson We are planning on running the download funnel experiment soon (as you know) and we have another experiment in the pipeline which will also interact with mozilla.org, and for which it would be helpful to have this in place. Do you have any thoughts about when your team might be able to get to this issue?

[2021-06-23 02:59] lolrepeatlol opened #10299 "Lockwise still not removed on bottom of /firefox"
## Description

Lockwise was supposed to be removed from all pages, including /firefox, in favor of Mozilla VPN. While this mostly happened, the Lockwise logo is still visible on the bottom of /firefox.

### Steps to reproduce

1. Open https://mozilla.org/en-US/firefox/

2. Scroll down.

3. Observe that bottom part with all logos does not have VPN and instead has Lockwise.

### Expected result

Th

[2021-06-23 07:58] alexgibson commented on #10175
I'd say probably not until after the wellness week. Sorry this is taking a while to get to.

[2021-06-23 08:49] alexgibson commented on #10299
Thanks for the report

[2021-06-23 11:26] bobsilverberg commented on #10175
No problem. Thanks for the update. 😄

[2021-06-23 13:18] alexgibson commented on #10270
Demo: https://www-demo1.allizom.org/de/firefox/90.0/whatsnew/all/

[2021-06-24 13:11] #10287 closed

[2021-06-24 14:05] #10285 closed

[2021-06-24 14:48] Dev-muse commented on #10286
Hi ,
If it's not too late I was wondering if this change to the colour would fit with what you're trying to do with the landing page?
![chrome-capture](https://user-images.githubusercontent.com/13288580/123283693-88b34400-d503-11eb-8be3-b04536b64f07.jpg)

[2021-06-24 14:49] #10280 closed

[2021-06-24 17:34] slightlyoffbeat commented on #10286
@alexgibson is this coming straight from an approved color palette? If so, this looks good to me. I'm not sure if the contrast fits our accessibility requirements?

[2021-06-24 17:41] slightlyoffbeat commented on #10286
We will leave black. Thanks for the suggestion though.

[2021-06-24 18:13] #10286 closed

[2021-06-25 07:50] alexgibson opened #10300 "[VPN] Currency should come before value for CHF"
Pricing should be displayed as CHF 5.99 as opposed to 5.99 CHF.

[2021-06-25 09:18] alexgibson opened #10302 "[VPN] Change recommended plan option"
## Description

We have alignment between the product / marketing teams to change the "recommended" plan on the VPN pricing component.

New layout / format and wording to follow soon after the wellness week.

---

#### Success Criteria
- [x] Recommended plan option is updated for all countries on the VPN landing page.

[2021-06-25 12:07] #9976 closed

[2021-06-25 12:08] alexgibson commented on #9976
Closing as a duplicate of https://github.com/mozilla/bedrock/issues/10166

[2021-06-25 12:08] alexgibson commented on #9905
Closing as a duplicate of https://github.com/mozilla/bedrock/issues/10166

[2021-06-25 12:08] #9905 closed

[2021-06-25 12:12] #8517 closed

[2021-06-25 12:12] alexgibson commented on #8517
Lite is being EOL'd, closing.

[2021-06-25 12:12] alexgibson commented on #8516
Lite is being EOL'd, closing.

[2021-06-25 12:12] #8516 closed

[2021-06-25 12:14] alexgibson commented on #10176
Seems like this was done

[2021-06-25 12:14] #10176 closed

[2021-06-25 12:16] alexgibson commented on #8592
Looks like this was fixed:

![image](https://user-images.githubusercontent.com/400117/123423521-8e6a6180-d5b7-11eb-8b6f-ae35114c61fa.png)

[2021-06-25 12:16] #8592 closed

[2021-06-25 12:22] alexgibson commented on #9011
Closing due to recent Lockwise changes

[2021-06-25 12:22] #9011 closed

[2021-06-25 12:24] alexgibson commented on #8698
Test Pilot is no more afaik, closing.

[2021-06-25 12:24] #8698 closed

[2021-06-25 12:26] #9726 closed

[2021-06-25 12:28] alexgibson commented on #9014
Seems like all the dependencies here were done.

[2021-06-25 12:28] #9014 closed

[2021-06-25 12:29] alexgibson commented on #9589
Fixed in https://github.com/mozilla/bedrock/pull/10258

[2021-06-25 12:29] #9589 closed

[2021-06-25 12:29] alexgibson commented on #9587
Fixed in https://github.com/mozilla/bedrock/pull/10258

[2021-06-25 12:29] #9587 closed

[2021-06-25 12:31] alexgibson commented on #9601
I believe this is done, but feel free to reopen if anything is still outstanding here.

[2021-06-25 12:31] #9601 closed

[2021-06-25 12:32] alexgibson commented on #9568
@slightlyoffbeat is this one all done?

[2021-06-25 12:33] alexgibson commented on #9340
I don't believe this is still being worked on, but feel free to reopen.

[2021-06-25 12:33] #9340 closed

[2021-06-25 12:33] alexgibson commented on #9339
I don't believe this is still being worked on, but feel free to reopen.

[2021-06-25 12:33] #9339 closed

[2021-06-25 12:36] alexgibson commented on #8711
@pmac was this one don? If so can we close this issue out?

[2021-06-25 13:58] pmac commented on #8711
This is done. Thanks for the nudge.

[2021-06-25 13:58] #8711 closed

[2021-06-25 15:55] alexgibson opened #10304 "[VPN] Number of servers is incorrect"
## Description

The [VPN landing page](https://www.mozilla.org/en-US/products/vpn/) states "Connect to more than 750 servers in over 30 countries", which is not technically correct.

The correct number should in fact be: 400+

[2021-06-25 16:00] slightlyoffbeat commented on #9568
Yup

[2021-06-25 16:00] #9568 closed

[2021-06-25 16:22] #10304 closed

[2021-06-25 16:23] #10300 closed

[2021-06-27 17:13] alexgibson opened #10306 "Firefox download is blocked in latest Edge (Windows 10)"
When I try to download Firefox from www.mozilla.org using Edge 91 on Windows 10 (using BrowserStack), Edge blocks the download saying "Firefox Installer.exe was blocked because this type of file can harm your device"

<img width="1678" alt="image" src="https://user-images.githubusercontent.com/400117/123553414-f0bb9180-d772-11eb-8622-5c0d5d187914.png">

I'm guessing there's little the website can

[2021-06-27 17:17] alexgibson commented on #10306
For clarity, this is what I observed when using Edge/Windows 10 in Browser Stack. My hope is that this is not default behaviour

[2021-06-27 17:35] alexgibson commented on #10306
See also:

- https://www.techradar.com/news/microsoft-edge-blocks-firefox-installer-says-itll-hurt-your-pc
- https://www.reddit.com/r/firefox/comments/n7gige/ms_edge_blocking_firefox_installer_download/

[2021-06-27 18:31] alexgibson commented on #10306
I see the same behaviour when trying to download both Chrome and Brave, so perhaps this is a setting specific to BrowserStack. But from the links above it seems like there may be more to it.

[2021-07-01 12:34] Prasanna0908 commented on #10251
Hey, I am a beginner at open source. Can you guide me on how to proceed further?

[2021-07-01 12:37] Prasanna0908 commented on #10299
Hey, can I proceed further with this issue, and also where can I find the correct logo?

[2021-07-05 04:24] Soumya0803 commented on #9910
Hi @alexgibson @pmac , I would like to work on this issue. I have got the project locally installed. Can you please assign this issue to me if it is available?

[2021-07-05 08:28] #7524 closed

[2021-07-05 09:24] #9399 closed

[2021-07-05 09:25] #9224 closed

[2021-07-05 09:32] alexgibson opened #10307 "Remove VPN pricing position experiment"
## Description

Experiment added in https://github.com/mozilla/bedrock/issues/10193 has run its duration and can be removed.

---

#### Success Criteria
- [ ] All related experiment files are removed from the repo.

[2021-07-05 09:52] alexgibson commented on #9946
I think this one is ready

[2021-07-05 15:09] alexgibson opened #10310 "[Epic] Switch to a more modern front-end build tool"
## Description

This is an epic to track updating bedrock's front-end build tool. Our current solution (Gulp) is not so actively maintained as it once was, and our existing build script is somewhat complicated and can manifest in some hard to fix bugs (such as https://github.com/mozilla/bedrock/issues/9700). This can sometimes slow dev work.

Things we use said build tool for:

- Sass / CSS pre &

[2021-07-05 15:10] alexgibson commented on #9814
I'm going to close this in favor of a newer issue, where we can also test out some other options (such as parcel).

https://github.com/mozilla/bedrock/issues/10310

[2021-07-05 15:10] #9814 closed

[2021-07-05 15:24] alexgibson commented on #10302
Proposed new layout (not yet approved)

![image](https://user-images.githubusercontent.com/400117/124493347-6ea01e00-ddad-11eb-9980-2e07931cd008.png)

[2021-07-06 08:23] alexgibson commented on #10196
This popped up on Reddit again https://www.reddit.com/r/firefox/comments/oedx7r/incorrect_information_on_mozillas_website/

Looks like someone kindly took the time to submit a pull request, which (at least) addresses the chart for Edge: https://github.com/mozilla/bedrock/pull/10312

@slightlyoffbeat is there anything else we wanted to update here, or does this pull request cover the scope of the c

[2021-07-06 12:59] alexgibson commented on #10310
I rebased my old webpack branch and opened a [draft PR here](https://github.com/mozilla/bedrock/pull/10314) so folks can take a look. It still needs some more work to make it mergable, but it at least builds to demo for now.

Let's take a look at Parcel also.

[2021-07-06 16:10] #10269 closed

[2021-07-06 17:00] #10270 closed

[2021-07-06 20:28] slightlyoffbeat commented on #10196
@alexgibson LGTM. We should revisit all of this (working with Mei on this), but for now this addresses a short-term need.

[2021-07-07 08:37] #10196 closed

[2021-07-07 09:12] alexgibson commented on #10306
I fired up my old Windows 10 laptop and updated Edge to the latest version (91), and thankfully I was not able to reproduce the behavior seen here. I'm going to assum this is a setting BrowserStack have recently switched to using.

Still, it's odd that this happened around the same time as the other Reddit reports. I'm going to close this issue for now as I am not able to reproduce, but we should

[2021-07-07 09:12] #10306 closed

[2021-07-07 09:55] alexgibson commented on #10175
@bobsilverberg just reading back through this issue to refresh my brain before picking this up. Is it safe to assume that the target URL for your experiments would be /firefox/new/, and that this custom code would only really need to exist at that URL?

[2021-07-07 12:37] alexgibson opened #10316 "WNP 90 (Pocket) throws JS error"
## Description

Variation 2 of the WNP 90 throws a JS error on page load. I don't think this is doing any harm to the page itself, but being a WNP it's going to generate a lot of errors in Sentry.

### Steps to reproduce

1.) Visit https://www.allizom.org/en-US/firefox/90.0/whatsnew/all/?v=2
2.) Open the web console.

### Expected result

No JS error

### Actual result

[code]

I think this is bec

[2021-07-07 14:57] bobsilverberg commented on #10175
Well, the experiment we are about to run will actually be targeting both `/firefox/new/` and `/firefox/download/thanks/`, and if it determines that using the latter is advantageous, then we will probably switch to something other than `/firefox/new/` once we've figured out what a decent permanent implementation will be.

We are also planning to run an experiment that will target `/products/vpn/`,

[2021-07-07 15:00] bobsilverberg commented on #10207
@alexgibson Just checking in to see where we are with this. We would like to run the experiment as soon as bedrock is able to handle it. We have other experiments in our backlog, and might consider running a different one first, depending on the projected timing of this.

[2021-07-07 15:11] alexgibson commented on #10175
@bobsilverberg I think my main concern is this having the potential to clash with other experiments that either the websites team, or other teams at Mozilla, might run. The `experiment` and `variation` parameters are not really unique to AMO, and first-party experiments will also likely already define their own custom event in GA.

To avoid clobbering other experiments this way, I think it makes s

[2021-07-07 15:14] alexgibson commented on #10207
@bobsilverberg this is currently in the queue for code review, we'll try and get to it as soon as we can. Sorry the end of the quarter was busy and we're a little short-staffed currently. Thanks for your patience.

[2021-07-07 15:14] bobsilverberg commented on #10175
Sure, that makes sense. I'll open an issue to update our naming convention so that we always include something that matches `YYYYMMDD_amo` for our experiment names.

[2021-07-07 15:24] alexgibson commented on #10175
Great thanks. Ok, I think I have enough info here to get started on this 👍

[2021-07-07 15:51] #10316 closed

[2021-07-07 15:56] #10302 closed

[2021-07-07 16:26] #10207 closed

[2021-07-08 08:12] alexgibson commented on #10207
@bobsilverberg this is now in production. Please test before launching your experiment and let me know if you run into any issues. Thanks again https://www.mozilla.org/en-US/firefox/download/thanks/?xv=amo

[2021-07-08 10:31] alexgibson commented on #10175
@bobsilverberg for transparency, the regex I landed on for these values are as follows:

experiment: /^\d{8}_amo_.[\w/.%-]{1,20}$/;
variation: /^[\w/.%-]{1,20}$/;

This should meet your set date format and the `_amo_` identifier we discussed for the experiment name. I also limited the remainder of the characters to be basically alpha-numeric with an upper limit of 20 characters.

Does this sound o

[2021-07-08 10:42] willdurand commented on #10175
Hello!

We use snake case for experiment identifiers (sometimes), e.g., https://github.com/mozilla/addons-frontend/blob/b5414773c029bb8b96c390b8b7122a5d0ae3eebd/config/development.js#L86

20 chars does not seem like a lot for both. I don't remember where these values end up in Telemetry events: if they are extra props, then we could have values up to 80 chars.

[2021-07-08 12:34] alexgibson commented on #10175
Things like underscores and hyphens should be fine here, thanks.

80 seems like rather a lot, but not unreasonable. I'll update to use this, thanks.

[2021-07-08 12:38] alexgibson commented on #10175
Actually I think it's sensible to cap this at 50

[2021-07-08 14:04] alexgibson commented on #10244
What was the resolution here, do we have a recommended URL to use instead of what's currently linked?

[2021-07-08 14:06] alexgibson commented on #9346
@tublitzed it's been a while since we looped back on this. Is the script here in question still needed?

[2021-07-08 15:55] bobsilverberg commented on #10175
Thanks for chiming in @willdurand. 50 sounds reasonable to me, thanks @alexgibson!

[2021-07-08 16:32] #10175 closed

[2021-07-09 15:41] #9946 closed

[2021-07-09 15:45] #10307 closed

[2021-07-09 15:46] alexgibson opened #10321 "[VPN] Move pricing section under "One tap to privacy""
## Description

Based on the data from the experiment we ran in https://github.com/mozilla/bedrock/issues/10193, the recommendation from DS is to move the pricing section up the page, to just underneath the "One tap to privacy" section.

---

#### Success Criteria
- [x] Pricing section is moved higher up the page to position outlined above.

[2021-07-12 14:43] alexgibson opened #10324 "Don't show sticky promo content if prefers-reduced-motion preference is set."
## Description

See https://bugzilla.mozilla.org/show_bug.cgi?id=1713834 for context. We should add some logic to prevent showing sticky content like this if a website visitor sets a preference for reduced-motion.

[2021-07-12 15:45] #10321 closed

[2021-07-12 21:57] #10215 closed

[2021-07-13 00:53] tublitzed commented on #9346
@alexgibson - go ahead and remove. Thanks for flagging!

[2021-07-13 08:32] alexgibson opened #10327 "A successful POST to /newsletter/ should display a success message"
## Description

If a website visitor is using an older browser to which we don't serve JS, then a sucessful newsletter form submission results in a blank page at `/newsletter/`.

### Steps to reproduce

To reproduce this you can either use an old IE browser (9 and below), or alternatively disable JS in any modern browser using developer tools.

1.) Open https://www.mozilla.org/en-US/
2.) Scroll do

[2021-07-13 09:44] alexgibson commented on #10173
Closing this as wontfix, as the aforementioned script is being removed. If we ever revisit macOS  attribution again, the code would likely need revisiting / QA'ing again anyway.

[2021-07-13 09:44] #10173 closed

[2021-07-13 09:59] alexgibson opened #10329 "Email address for academic questions not correct on /contact page"
See: https://bugzilla.mozilla.org/show_bug.cgi?id=1704739

[2021-07-13 16:33] #10292 closed

[2021-07-13 17:51] alexgibson commented on #10175
@bobsilverberg this should now be in production

[2021-07-13 18:15] bobsilverberg commented on #10175
Thanks @alexgibson! We're launching the next experiment on Thursday, so we can make use of this right away!

[2021-07-13 21:16] craigcook commented on #10299
Sorry @Prasanna0908, we've assigned this to another team member.

[2021-07-14 08:25] #10324 closed

[2021-07-14 08:28] #10299 closed

[2021-07-14 08:59] alexgibson opened #10332 "VPN post-launch clean up"
## Description

As soon as both EU expansion and wave 1 variable pricing have been rolled out, there's a fair amount of cleanup that can be done on the VPN landing page:

- Remove switch logic for each launch
- Remove fixed pricing component from the landing page
- Ensure feature list is still displayed for waitlist countries
- Simplify country availability logic
- Update integration tests

---

#

[2021-07-14 15:17] craigcook commented on #10255
Sorry I didn't reply sooner, I missed this update.

The bidi mixin generates an additional rule for RTL, but the original rules for LTR are still present and may still apply to the element. In your example above, LTR languages get `right: 0;` and RTL languages get both properties: `right: 0; left: 0;`. I think you need to declare both properties with a different value for each language direction:

[2021-07-14 15:46] alexgibson opened #10333 "Update VPN subscription links to point to FxA"
## Description

To support the VPN team's funnel optimisation work in H2, we'll need to update the VPN subscription links to point directly to FxA instead of vpn.mozilla.org.

- Target date is August 18th.
- URL specs are to be provided by the VPN team.
- New format will likely need to be behind a feature switch for pre-launch QA.

---

#### Success Criteria
- [x] Subscription links are updating t

[2021-07-14 18:46] pmac opened #10335 "Add vanity URL for VPN product"
## Description

The VPN page lives at mozilla.org/products/vpn, but I find myself typing mozilla.org/vpn and hoping that that will take me to where I want to be. I propose we add a redirect from `/vpn` to `/products/vpn/`.

[2021-07-14 18:50] pmac commented on #10335
@reemhamz this should be a lot like https://github.com/mozilla/bedrock/pull/9572

[2021-07-15 04:45] Soumya0803 commented on #9866
Hi @alexgibson. I would like to work on this issue.

[2021-07-15 08:12] alexgibson commented on #9866
Thanks @Soumya0803!

Please take some time to read our [contributing guidelines](https://github.com/mozilla/bedrock/blob/master/.github/CONTRIBUTING.md) which contain some usefuly information to help get started. Once you have bedrock running locally, pull requests are welcome.

[2021-07-16 11:43] alexgibson commented on #10310
I've spent some time looking at [Parcel](https://parceljs.org/), and whilst it's certainly possible to pass it multiple entrypoints to create the large number of CSS/JS bundles we need - one thing it doesn't seem to do (afaict), is support [dynamic entrypoints](https://webpack.js.org/configuration/entry-context/#dynamic-entry). This makes it difficult to support passing in an external source such

[2021-07-16 12:17] alexgibson commented on #10310
Given the large refactor it would require (see above), I'm not sure if it's worth the effort of making a Parcel branch that can deploy all the way to demo - unless we were confident that we wanted to go with it over webpack.

[2021-07-16 15:04] gijsk opened #10336 "https://beta.mozilla.org/ downloads a 32-bit full installer on 64-bit windows; should download stub or arch-appropriate installer"
## Description

I set up a new Windows machine, and a while later, when I happened to look at task manager, realized I'd installed a 32-bit copy of Firefox on my fancy 64-bit machine, which is sad.

### Steps to reproduce

STR:

1. in MS edge on 64-bit Windows on a 64-bit machine, open https://beta.mozilla.org/
2. you get redirected to https://www.mozilla.org/en-GB/firefox/channel/desktop/#beta (o

[2021-07-16 15:05] alexgibson commented on #10336
I think this is a duplicate of https://github.com/mozilla/bedrock/issues/10194

[2021-07-16 15:05] #10336 closed

[2021-07-16 16:04] muffinresearch opened #10337 "Limit RTAMO attribution to AMO referrals"
## Description

Ignore attribution for RTAMO if the referral wasn't from addons.mozilla.org, using a referer header check.

RTAMO attribution can be identified by the presence of  a `utm_content` param with  `rta%3A<base64_string>`. See any add-ons details page for an example link, using a non-firefox browser.

---

#### Success Criteria
- [x] RTAMO attribution should be present if the user starte

[2021-07-19 15:22] reemhamz commented on #10335
Created a redirect that enables a user to add `/vpn` at the end of the mozorg URL to redirect them directly to `/products/vpn`

[2021-07-19 20:20] peterbe opened #10340 "https://www.mozilla.org/en-US/contribute/ links to a 404 MDN page"
## Description

https://www.mozilla.org/en-US/contribute/ links to https://developer.mozilla.org/docs/Mozilla/Developer_guide/Introduction/?utm_source=mozilla.org-contribute&utm_medium=referral&utm_campaign=contribute-page which does not exist anymore.

### Steps to reproduce

^

### Expected result

A better URL that welcomes people to contribute to mozilla-central. Perhaps @sylvestre knows? :)

[2021-07-19 20:20] peterbe commented on #10340
<img width="585" alt="Screen Shot 2021-07-19 at 4 20 19 PM" src="https://user-images.githubusercontent.com/26739/126222041-b05dd785-0730-4de1-ac90-5d630e7e9f0a.png">

[2021-07-19 20:52] #10335 closed

[2021-07-19 21:05] jwhitlock commented on #10340
Dupe of #10244

[2021-07-20 20:43] craigcook opened #10341 "Remove/replace deprecated Protocol components"
## Description

[Protocol 14.0.0](https://github.com/mozilla/protocol/releases/tag/v14.0.0) introduced some new components that should replace some previously existing components. Namely the new Split can replace the old Hero and Feature Card components, and the new Picto replaces the old Picto Card. However, those older components are still in Protocol for backwards compatibility, giving us time

[2021-07-21 17:54] birdsarah commented on #10241
I'm not working on this at the moment while we organize priorities at our end and echo and tcinotto are in charge of funnel work.

[2021-07-22 01:08] craigcook commented on #10341
Looking through some of these pages I remembered that the Hero component defaults to a centered layout and the image is optional. Several pages use that basic centered hero, so Split isn't a replacement for those. I think we talked about making another component for this use case (a centered page header type thing) but I don't remember what we concluded. It could be reproduced with other elements/

[2021-07-23 18:51] nikhils4 commented on #10251
Is this issue still open to work on? @amychurchwell

[2021-07-23 23:07] amychurchwell commented on #10251
Hi @Prasanna0908, sorry for the delayed response. (I am not an active contributor on this repository anymore.) Are you still interested in working on this?

If Prasanna is no longer interested, I'll assign you @nikhils4. We should give them a chance to reply seeing as they were the first to ask and I missed it.

[2021-07-24 10:23] nikhils4 commented on #10251
Sure @amychurchwell, sounds good. Please tag me here once you are sure that you can assign me this.

[2021-07-26 13:48] aknouche commented on #10255
Hi,
No problem, same excuse from me : ) Thank you for the suggestion I will
look into it!
//Lamine

Den ons 14 juli 2021 kl 17:17 skrev Craig Cook ***@***.***>:

[2021-07-27 08:38] alexgibson commented on #10241
@birdsarah thanks for the update. Is this feature still useful? If so, I'll see if I can pick it up.

One question that did occur to me: how many sessions do you think would be referred back to bedrock on a daily basis that included these params? One thing we might need to be mindful of is that each of these URLs would be counted as a unique URL / cached page on our CDN. If the number of cached pa

[2021-07-27 09:20] alexgibson commented on #10340
Closing as a dupe of #10244, but thanks for filing 👋

[2021-07-27 09:20] #10340 closed

[2021-07-27 09:39] alexgibson opened #10342 "VPN /whatsnew page lists incorrect number of available servers"
## Description

https://www.mozilla.org/es-ES/firefox/90.0/whatsnew/all/

### Steps to reproduce

The page says "Lleva tu entretenimiento contigo o viaja hacia tu entretenimiento. Conéctate a más de 750 servidores en más de 30 países y transmite, juega y navega de forma más segura con la máxima flexibilidad."

### Expected result

The page should list 400 for the number of servers.

### Actual res

[2021-07-27 13:15] pascalchevrel opened #10345 "Firefox Nightly Firstrun page has a broken link to MDN"
## Description

https://www.mozilla.org/en-US/firefox/nightly/firstrun/ links to https://developer.mozilla.org/docs/Introduction which is now a 404 as our Firefox documentation is now in tree and no redirect was set up on MDN.

The new URL is:
https://firefox-source-docs.mozilla.org/contributing/contributing_to_mozilla.html

I can provide the patch

[2021-07-27 13:40] #10345 closed

[2021-07-27 14:01] alexgibson commented on #10337
Picking this up 👍

[2021-07-27 15:28] birdsarah commented on #10241
Currently unclear to me. The subscription flow is about to change dramatically and Google In App Purchase is coming.

Additionally the data team should now be being more proactive in making sure the measurements that are needed happen.

Perhaps we should close for now and then we can pick it up later if the request comes from data team.

[2021-07-27 15:36] alexgibson commented on #10241
Works for me, thanks!

[2021-07-27 15:36] #10241 closed

[2021-07-27 16:48] chenba commented on #10333
The new funnel optimization flow won't have new urls for the plans.

[2021-07-27 16:59] alexgibson commented on #10333
The above comment is incorrect, bedrock does need new subscription URLs (confirmed with Sarah Bird)

[2021-07-27 17:07] chenba commented on #10333
I see that currently the plan URLs are in the format of https://vpn.mozilla.org/r/vpn/subscribe/products/prod_FvnsFHIfezy3ZI?plan=price_1Iw85dJNcmPzuWtRyhMDdtM7 plus some additional query params.  To use direct FxA urls, change to https://accounts.firefox.com/subscribe/products/prod_FvnsFHIfezy3ZI?plan=price_1Iw85dJNcmPzuWtRyhMDdtM7 plus some additional query params.

[2021-07-27 17:27] alexgibson commented on #10333
Thanks 👍

[2021-07-28 07:58] alexgibson commented on #10333
@chenba for our staging server used for QA, would the appropriate domain to use here be https://stable.dev.lcip.org/ ?

[2021-07-28 10:14] alexgibson opened #10349 "WNP 91 (Pocket DE)"
## Description

Brief: https://docs.google.com/document/d/1ntrEAWrWUIRVhK8XGVR4E-Hz4twbN1ONV3fU2Cgzh7s/edit?usp=sharing

Figma: https://www.figma.com/file/8fVLbzzAd40lSSLuOwCfnl/Firefox-WNP-EU-Copy-June-2021?node-id=409%3A30

Needs to be live before August 10th.

---

#### Success Criteria
- [ ] WNP 91 is live in prod for DE locale.

[2021-07-28 13:47] chenba commented on #10333
FxA stage is at https://accounts.stage.mozaws.net/

[2021-07-28 23:19] craigcook opened #10352 "Link to user interviews from MR1 home promos"
## Description

We're posting profiles on the users featured in the home page promos and would link to link to them. Two are up already, the other two coming soon:

https://blog.mozilla.org/en/products/firefox/sidebar-lalo-luevano-restauranteur-bodega/
https://blog.mozilla.org/en/products/firefox/gary-linden-big-wave-surfer/

[2021-07-29 00:04] #10342 closed

[2021-07-29 01:13] #10332 closed

[2021-07-29 12:13] #10224 closed

[2021-07-29 15:36] craigcook opened #10357 "Logos on error pages are the wrong size and misaligned"
## Description

At some point the Mozilla and Firefox logos at the top of the error page template got messed up, perhaps due to upstream changes in Protocol assets.

![image](https://user-images.githubusercontent.com/205591/127520570-38e6b3ce-dc6b-4da5-adad-5c3f512e1a2e.png)

### Steps to reproduce

https://www.mozilla.org/404/

Go to an error page. Look at the logos. They're messed up.

### Expec

[2021-07-29 15:48] craigcook commented on #10357
It looks like just the Mozilla logo is too big and that's throwing off the alignment of the Firefox logo. The Mozilla logo is an SVG but the `img` element has no size attributes so it's just showing at its native size. I think we could just size it down to fit.

[2021-07-29 16:41] #9995 closed

[2021-07-29 21:02] craigcook opened #10358 "WNP 91 for English"
## Description

Promoting Pocket again, but new copy (maybe new images too). Firefox 92 release date is 10 August 2021.

Copy: https://docs.google.com/document/d/18FhFWAn31T4-pPZDOYaNYX-mlaBvRPXu_e5IlJrbMX0/

---

#### Success Criteria
- [ ] Page is live before 10 August 2021

[2021-07-31 04:58] mdaquib171 commented on #9866
I am a beginner at open source, please let me know if the issue is open.
And please suggest to me how to proceed further.
Thanks

[2021-07-31 04:59] mdaquib171 commented on #9866
I am a beginner at open source, please let me know if the issue is open.
And please suggest to me how to proceed further.
Thanks

[2021-08-01 05:45] Soumya0803 commented on #9866
Hi @mdaquib171 I am working on this issue and will be raising a PR soon.
Thanks

[2021-08-02 08:23] alexgibson commented on #10333
@chenba both of the below URLs give me a 404. Do you know if there is an additional dependency we need to wait on here before these links will become active?

https://accounts.firefox.com/subscribe/products/prod_FiJ42WCzZNRSbS?plan=price_1J0Y1iKb9q6OnNsLXwdOFgDr
https://accounts.stage.mozaws.net/subscribe/products/prod_FiJ42WCzZNRSbS?plan=price_1J0Y1iKb9q6OnNsLXwdOFgDr

[2021-08-02 08:53] alexgibson commented on #10310
Depends on https://github.com/mozilla/bedrock/issues/10192

[2021-08-02 08:55] alexgibson commented on #10244
Fixed by https://github.com/mozilla/bedrock/pull/10344

[2021-08-02 08:55] #10244 closed

[2021-08-02 08:57] alexgibson commented on #10037
This was done without needing a tertiary level of sub navigation, so closing for now. We can revisit this in the future if a need arises again.

[2021-08-02 08:57] #10037 closed

[2021-08-02 08:59] alexgibson commented on #10036
I'm not sure if we have an immediate need for a tertiary level of navitation, at least for the VPN pages. We can revisit this in the future if a need arises.

[2021-08-02 08:59] #10036 closed

[2021-08-02 09:01] alexgibson commented on #10038
Going to leave this one open as it would be a nice enhancement to the current sub-nav links 👍

[2021-08-02 11:24] alexgibson commented on #9266
I think this was covered in https://github.com/mozilla/bedrock/issues/9224

[2021-08-02 11:24] #9266 closed

[2021-08-02 11:27] alexgibson commented on #9594
I think this was covered in the last round of navigation design / content updates. But feel free to reopen if not.

[2021-08-02 11:27] #9594 closed

[2021-08-02 13:37] chenba commented on #10333
@alexgibson Oh very sorry, replace `subscribe` with `subscriptions` in the URLs.

[2021-08-02 14:32] #10337 closed

[2021-08-02 21:49] #10349 closed

[2021-08-03 08:02] alexgibson opened #10365 "2021 H1 Transparency report"
## Description

Doc (Mozilla access only): https://docs.google.com/document/d/1ckFLilcdQG9otFvGyWazQ-NP38DzcJ8lRBBcA83djZg/edit?usp=sharing

---

#### Success Criteria
- [ ] 2021 H1 report is live in prod

[2021-08-03 08:09] #10333 closed

[2021-08-03 09:23] #10358 closed

[2021-08-04 09:41] maureenlholland opened #10367 "Add stack order param to Split macro"
While working on [updating Protocol components](https://github.com/mozilla/bedrock/issues/10341) with Split, we realized the bedrock Split macro always stacks text first on small screen sizes. This is not the current behaviour of most components we want to update to Split.

We need to add a param to the bedrock Split macro to stack either image or text first.

[2021-08-04 09:46] alexgibson commented on #10192
@slightlyoffbeat just for visibility of these changes, once this change merges we'll still load GA for old IE browsers, so events such as downloads should still be monitored OK (at least in IE versions where GA still works today).

When clicking the download button on /firefox/new/, IE users will now directly download the Firefox installer, rather than navigate to the /thanks page.

[2021-08-04 09:56] #9346 closed

[2021-08-04 10:28] #6221 closed

[2021-08-05 08:27] #10365 closed

[2021-08-05 15:19] alexgibson commented on #10225
Looks like the code for these variations might still be in bedrock from a past experiment: https://github.com/mozilla/bedrock/tree/master/bedrock/firefox/templates/firefox/home/exp

[2021-08-05 20:59] reemhamz opened #10371 "Document relevant Protocol component macros"
## Description

We have a good chunk of components in Protocol that have parameters/macros, and sometimes, even unique parameters per component. This can lead us down a rabbit hole to figure out all relevant parameters we could use for any component, leading to feeling a little lost trying to use correct parameters, and confused with figuring out which each one means.

For example, here are the pa

[2021-08-08 06:16] fitojb opened #10374 "The link “Tips for filing a bug” goes nowhere"
## Description

Broken link to MDN Web Docs, which since its pivot to exclusively web-related content, seems like the wrong place to have Mozilla bug-filing information.

### Steps to reproduce

1. Go to https://www.mozilla.org/en-US/firefox/channel/desktop/#nightly
2. Click “Tips for filing a bug” below the section “See something that isn’t working? Let us know.”
3. You will land on https://devel

[2021-08-08 16:01] craigcook commented on #10374
This has been fixed in https://github.com/mozilla/bedrock/commit/6eaa749606ab44b9bc07dd60114e82c9b62f3cc9

[2021-08-08 16:01] #10374 closed

[2021-08-09 05:58] AtharvaParkale commented on #10357
Can I work on this issue?

[2021-08-09 13:23] alexgibson commented on #10337
The changes for this are now in production

[2021-08-09 14:37] craigcook commented on #10357
I think the Mozilla logo just needs to be scaled down to roughly the same height as the Firefox logo.

[2021-08-09 17:00] AtharvaParkale commented on #10357
Noted !
Will do the needful👍

[2021-08-09 18:40] AtharvaParkale commented on #10357
![image](https://user-images.githubusercontent.com/71985594/128757041-5dd1a6fd-5a1d-40d2-81af-f735d914cc0f.png)
Getting this error while running it locally

[2021-08-09 18:41] AtharvaParkale commented on #10357
I have python installed in my system

[2021-08-10 01:17] #9321 closed

[2021-08-10 05:07] AtharvaParkale commented on #10357
Sure, I will try this 👍🏻
Thankyou !

On Tue, Aug 10, 2021, 2:12 AM Craig Cook ***@***.***> wrote:

[2021-08-10 16:33] alexgibson opened #10377 "Incorrect edge logo at browser comparison"
See: https://bugzilla.mozilla.org/show_bug.cgi?id=1672385

Page: https://www.mozilla.org/en-US/firefox/browsers/compare/
Image: https://www.mozilla.org/media/img/firefox/compare/compare-browser-windows.3c11dd6787cd.png

[2021-08-11 07:03] alexgibson commented on #9575
Some useful checks here: https://www.otsukare.info/2021/04/20/ua-three-digits-get-ready

[2021-08-11 07:53] #10377 closed

[2021-08-11 08:35] alexgibson opened #10380 "Filter 'Non-Error promise rejection captured with value' errors in Sentry"
## Description

We've recently started to see a flood of JS errors in Sentry along the lines of "Non-Error promise rejection captured with value: Object Not Found Matching Id:1", where value can be several different variations.

https://sentry.prod.mozaws.net/operations/bedrock-prod/?query=is%3Aunresolved+Non-Error+promise+rejection+captured+with+value&sort=freq

The error is thrown by Sentry itse

[2021-08-11 12:30] alexgibson commented on #10210
It looks like we don't have any alternative links for this issue yet, so rather than let it sit for a long time I think it's probably best we remove the links for now, and update the page later once we have fresh content.

[2021-08-11 17:21] AtharvaParkale commented on #10357
![image](https://user-images.githubusercontent.com/71985594/129074587-3ab24bbb-caaf-4da3-832c-d4161210090d.png)

[2021-08-11 17:22] AtharvaParkale commented on #10357
Hey,
Made these changes......should I create a pull request?

[2021-08-11 17:51] AtharvaParkale commented on #10357
This is how it looks after proper alignment.
![image](https://user-images.githubusercontent.com/71985594/129078653-68490ae8-0543-480e-adb7-9ed8bb0818c9.png)

[2021-08-11 17:52] craigcook commented on #10357
Looks great! Please submit a pull request and we'll review it. Thanks!

[2021-08-11 17:54] AtharvaParkale commented on #10357
Okay

[2021-08-11 17:55] AtharvaParkale commented on #10357
Should I create a different branch after forking?

[2021-08-11 18:25] AtharvaParkale commented on #10357
Sir I have created the pull request plz do review it

[2021-08-11 18:42] AtharvaParkale commented on #10329
Can I work on this issue?

[2021-08-12 09:00] alexgibson commented on #9680
Whilst I would like to add more real user metrics to our analytics, right now we don't really have the resources for someone to help implement this on the analytics side of things.

For now, I managed to create a Web Vitals dashboard in data studio using this tutorial: https://web.dev/vitals-tools-workflow/. This get us real user data from the Chrome UX report dataset that we already have in the s

[2021-08-12 09:00] #9680 closed

[2021-08-12 14:54] #10210 closed

[2021-08-12 14:55] #10380 closed

[2021-08-16 13:37] alexgibson commented on #10225
Gonna pick this one up

[2021-08-16 14:11] alexgibson commented on #10225
@slightlyoffbeat which variation was the winner here? I can't seem to find any link to the data

[2021-08-16 14:23] alexgibson commented on #10226
I'm removing this banner as part of https://github.com/mozilla/bedrock/issues/10225, so closing as wontfix.

[2021-08-16 14:23] #10226 closed

[2021-08-16 17:05] #10194 closed

[2021-08-16 21:48] slightlyoffbeat commented on #10225
For Android, the version without stars was a narrow winner:

<img width="569" alt="image" src="https://user-images.githubusercontent.com/2030656/129631595-abf5563d-9cf9-4e1f-996d-e4cf8554f40b.png">

For Android we can assume the same for now.

Here are some codepen links with the code used for the convert test.. I know this doesn't translate directly to what we can use in bedrock, but perhaps it w

[2021-08-16 22:05] slightlyoffbeat opened #10387 "New page for Firefox Tips"
## Description

There is a social campaign that talks about Firefox tips, tricks, and useful features. This is a simple page that will display various videos that a user can click on to view Mozilla employees talking about their favorite tips.

This was designed using Protocol components.

---

Notes:

Content: N/A
Media: N/A
Design: Please consult with Elise before starting. She can walk through

[2021-08-16 22:26] slightlyoffbeat opened #10388 "Create VPN info pages for Firefox product team"
## Description

The Firefox product team is going to be experimenting with ways to drive signups for VPN. They have requested the creation of a few new pages with specific copy and calls-to-action.

---

Copy: [Page 1 ](https://docs.google.com/document/d/1V46qDz2p4NmAUNOk4mjcOm5Jd0dZ0iY6G8fi2k3MQp8/edit?usp=sharing) [Page 2 ](https://docs.google.com/document/d/1lRHEO9LOJBNA60jd3RukIbAvG2j3GdHE30A-

[2021-08-17 08:36] alexgibson commented on #10225
Ok thanks,

I'm assuming you meant iOS here, so both versions will match visually but point to the respective app stores.

[2021-08-17 09:50] alexgibson commented on #10225
The Adjust links I'm using for this are:

- https://app.adjust.com/2uo1qc?redirect=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dorg.mozilla.firefox&campaign=www.mozilla.org&adgroup=mobile-app-banner (Android)
- https://app.adjust.com/2uo1qc?redirect=https%3A%2F%2Fitunes.apple.com%2Fus%2Fapp%2Ffirefox-private-safe-browser%2Fid989804926&campaign=www.mozilla.org&adgroup=mobile-app-ba

[2021-08-17 12:10] alexgibson commented on #10225
@slightlyoffbeat whilst working on this I noticed we already have a similar mobile banner to this on platform page such as https://www.mozilla.org/en-US/firefox/windows/

<img src="https://user-images.githubusercontent.com/400117/129722547-ffd4b9d4-f337-465e-92ac-b84250b1e2e5.png" alt="image" width="300">

Do we want to replace this older banner with this new version whilst we're at it? It seems a

[2021-08-17 12:42] alexgibson commented on #10111
This will be fixed in https://github.com/mozilla/bedrock/pull/10389

[2021-08-17 21:38] slightlyoffbeat commented on #10225
Oops, I meant iOS, thanks.

Yes, we should just replace the older banner as well. We tested a similar banner to the screenshot above and the native-looking banners always out performed.

[2021-08-17 23:04] slightlyoffbeat commented on #10387
There's been a bit of discussion on this today. A few notes:

- There will be a page a tips/tricks page that does not use any secret menu language at /firefox/features/tips
- there will be a page variation that swaps out some copy for copy that uses the secret menu language
- we should make sure that any variations point to /firefox/features/tips as the canonical source
- there was some design fee

[2021-08-18 09:04] alexgibson commented on #10225
Sounds good 👍

[2021-08-18 09:40] alexgibson commented on #10225
Screenshot for iOS:

<img src="https://user-images.githubusercontent.com/400117/129875965-23fd81fc-e898-4a02-91dc-92d260a2fb1f.png" alt="image" width="460">

[2021-08-19 14:09] alexgibson commented on #10310
I've spent some time looking at [rollup.js](https://rollupjs.org/guide/en/) as a bundling option. I think this would be great for smaller projects, but it would likely need to be used in conjunction with another tool to help build other static asset types. For bedrock it would also require a pretty big change in how we define entrypoints for our JS (similar to Parcel), so for now I think Webpack s

[2021-08-19 17:29] shell1 opened #10392 "GTM google tag manager might not be getting loaded for some subset of WNP/VPN product page visitors"
## Description

YeonJoo analysed and compared the VPN acquisition funnel from WNP (What’s new Page) CTA (click through action) for the VPN service for Firefox90(/de/,/en-ES/,/fr/,/nl/,/it/) and Firefox88(/de/,/en-US/,/fr/) first 28 days from the release.

The flow is: (1)Hit WNP ->(2)click CTA in WNP ->(3)hit VPN product->(4)click subscription CTA -> (5)new subscription

There was a discrepancy fo

[2021-08-19 17:29] shell1 commented on #10392
tagging @relud @yeonjoo

[2021-08-19 17:39] alexgibson commented on #10392
I've dug into this a bit and I don't think the assumption re: Google Tag Manager not being loaded is correct. If that was true, then the original session hits on both WNP & VPN page wouldn't be registering either. At this time, I can't see any issues with our setup. I expect quite a number of people block GTM with extensions and adblockers, but those are users we would have zero data on in GA, not

[2021-08-19 18:50] YeonjooSmith commented on #10392
**Steps to reproduce**
[This colab notebook has the queries that calculated the numbers for the claim](https://colab.research.google.com/drive/1oZrAZA0xiCIBAdA6b1ZiUXNJdfx9QwP4?usp=sharing).
`wnp_cta`(~260K) is the number of sessioins that clicked the VPN product CTA in the WNP site for Firefox90 and it was compared with `wnp_hit_AND_vpn_hit` (~450K) which is the number of the VPN product site hit

[2021-08-23 13:57] alexgibson opened #10394 "WNP 92 for Pocket (DE)"
## Description

Figma: https://www.figma.com/file/8fVLbzzAd40lSSLuOwCfnl/Firefox-WNP-EU-(Copy-June-2021)?node-id=600%3A350
Copy doc: https://docs.google.com/document/d/1U01_r96ey_WLZvD8rdvZXC07kDh4qLSbC52U1Vgz_No/edit?usp=sharing

---

#### Success Criteria
- [ ] https://www.mozilla.org/de/firefox/92.0/whatsnew/all/

[2021-08-23 16:04] #10192 closed

[2021-08-23 17:12] slightlyoffbeat commented on #10388
For URLs: lets keep in the /vpn/more/[slug]. If this is a duplicate slug, lets add a number or get creative.

[2021-08-23 17:14] slightlyoffbeat commented on #10388
@alexgibson do we need to do anything special with mozilla.org pages in order to properly have attribution all the way to signup? I recall doing something for a previous WNP.

[2021-08-23 17:23] alexgibson commented on #10388
Yes, we'd need to either add a new condition, or update the existing logic to https://github.com/mozilla/bedrock/blob/master/media/js/base/fxa-utm-referral.js#L62-L90

[2021-08-24 01:11] #10341 closed

[2021-08-26 08:07] alexgibson opened #10400 "Remove VPN funnel switch logic"
## Description

https://github.com/mozilla/bedrock/issues/10333 went live yesterday, so we're good to remove the switch logic.

---

#### Success Criteria
- [ ] Support for old VPN subscription URL is removed.

[2021-08-26 13:08] #10400 closed, assigned to alexgibson

[2021-08-26 22:18] slightlyoffbeat opened #10402 "WNP 92 (EN & FR)"
## Description

Whats New Page 92 for EN and FR will feature VPN. This WNP will be different from previous WNP. We will build on the success of 91 and remove a step in the purchase process by sending people directly to the purchase flow from this page (if they click on a CTA).

- Geo redirect will send people from US, UK, and Canada of this new WNP. The pricing is hard coded for dollar.
- Geo redi

[2021-08-26 22:34] slightlyoffbeat opened #10403 "Change navbar CTA for Firefox users to "Get Mozilla VPN""
## Description

The CTA in the navbar for Firefox users calls users to get a Firefox account.

Currently accounts is not a priority and we should switch this to something that aligns with our goals.

Old text: "Get a Firefox Account"
New text: "Get Mozilla VPN"

Link: https://www.mozilla.org/products/vpn/
---

#### Success Criteria
- [x] Shows up in all places where the current "Get a Firefox Acco

[2021-08-26 22:43] slightlyoffbeat opened #10404 "CRO: Test sending users directly to payment if they click on top CTA"
## Description

We have data that shows that most users prefer the 12 month subscription plan. How can we use this info to help reduce scrolling or eliminate a click in the buying process.

Proposal:
Target: en-US page
percentage: 20%
Length: 1 Week (longer if needed)

Design (rough mock):
<img width="1165" alt="image" src="https://user-images.githubusercontent.com/2030656/131045235-d77104cc-8beb-

[2021-08-30 14:41] #10387 closed

[2021-08-31 08:22] alexgibson commented on #10225
@slightlyoffbeat please see comments below:

My understanding was the designs for each banner would be the same. They differ in that one says "Free in Google Play", and the other says "Free in the App Store". But I missed that the button should look different for iOS - I'll make sure to add this.

I'll make sure to add this as well, thanks.

[2021-08-31 09:52] alexgibson commented on #10404
Note that even though this test is for en-US only, we'll still need to display the right price/currency depending on country (and also make sure the button links to the right plan for said country)

[2021-08-31 09:55] alexgibson commented on #10404
Also: I'd be happy tp pick this one up just as soon as I'm finished wrapping up the app banner work (unless someone else wants to take this on).

[2021-08-31 13:33] maureenlholland commented on #10403
@slightlyoffbeat do we want to link directly to the VPN pricing section? https://www.mozilla.org/en-US/products/vpn/#pricing

It might be a little annoying to have two "Get Mozilla VPN" clicks in a row (although the second link will change will the direct payment click experiment)

And should we hide this CTA on the VPN page?

[2021-08-31 15:05] reemhamz commented on #10404
@alexgibson I'd love to work with you on this, especially to understand the workflow of payments + user behaviours + displaying different currencies for different countries.

[2021-08-31 15:08] alexgibson commented on #10404
@reemhamz if you'd like to take this on then feel free. Happy to walk you through what needs doing if that helps. Let me know!

[2021-08-31 15:22] slightlyoffbeat commented on #10403
@maureenlholland The VPN page already has "Get Mozilla VPN" as the CTA. Lets leave that one as is for now.

Linking directly to the pricing section sounds like the right way to go. Lets do it.

[2021-08-31 15:23] slightlyoffbeat commented on #10225
@alexgibson Thanks! Yes the blue text for iOS is a more common pattern for iOS users, so if we can lets use that.

[2021-08-31 15:55] #10225 closed

[2021-08-31 16:07] #10111 closed

[2021-09-01 00:37] dveditz opened #10408 "Add linkable targets to the principles on the Manifesto page"
## Description

Mozillians often illustrate their motivations or guide rails for certain projects through references to one or another principal from our Manifesto, but like most of our site there are almost no interior link targets available. There are currently #sec-principles and #principles to nearly the same spot but that's about it.

Please add ID attributes to the Manifesto page so #princip

[2021-09-01 07:06] Ayushsunny commented on #10371
Hey @reemhamz actually I'm not getting this like what exactly I've to do here?
and also "https://docs.google.com/document/d/1Ux8iu8e7lbopwjogQywbCtbKAYuQoZW4Kkfj85WNL18/edit" this link is asking for some permission which I don't have.

[2021-09-01 09:16] #10403 closed

[2021-09-01 09:24] alexgibson opened #10409 "Implement attribution flow for VPN subscription referrals"
## Description

Now that we're starting to promote Mozilla VPN more widely on mozorg pages, we need to implement a system that will enable us to track attribution more easily as people click through to the product page. Up until now we've used a `?source=` query param on the page URL (we can't use utm params for same-site links). This was OK enough for in-product pages such as /whatsnew, but if we

[2021-09-01 09:24] alexgibson commented on #10409
/cc @slightlyoffbeat

[2021-09-01 15:33] maureenlholland commented on #10371
Feature Card

Name | Explanation | Required? | Default Value | Example
-- | -- | -- | -- | --
title | String indicating heading text (usually a translation id wrapped in ftl function) | No | None | title=ftl('firefox-home-firefox-browser')
ga_title | String used as an identifying name on a link for google analytics. Only used if link_url and link_cta are provided as well | No | None | ga_title='Fi

[2021-09-01 15:42] maureenlholland commented on #10371
Hi @Ayushsunny, thanks for letting us know about the permissions issue. I've added the google doc content as a comment above.

What we want to do is add a subsection to the bedrock docs under "[Developing on Bedrock](https://bedrock.readthedocs.io/en/latest/coding.html#)" called "Working with Protocol" to include this information.

We want to encourage contributors to use the Protocol macros for B

[2021-09-01 19:31] #9990 closed

[2021-09-01 22:27] craigcook commented on #10402
English - https://www-demo4.allizom.org/en-US/firefox/92.0/whatsnew/en/
French - https://www-demo4.allizom.org/fr/firefox/92.0/whatsnew/france/

[2021-09-02 06:06] Ayushsunny commented on #10371
Hello @maureenlholland I'm doing like this

![Screenshot from 2021-09-02 11-34-17](https://user-images.githubusercontent.com/73520373/131790730-a47347b2-e552-49d4-b83a-2fee4e09dad4.png)

Am i going right ?

[2021-09-02 15:31] slightlyoffbeat commented on #10402
@pmac Can you take a look at the python for this.

[2021-09-02 15:36] slightlyoffbeat commented on #10352
@slightlyoffbeat ping MJ on this

[2021-09-02 22:10] slightlyoffbeat commented on #10409
Thanks @alexgibson. I'd like to prioritize this if you have an idea for a solution.

[2021-09-03 08:36] #10394 closed

[2021-09-03 13:26] alexgibson commented on #10409
@slightlyoffbeat happy to work on this next week. I'll assign myself and add it to the ready column. Thanks

[2021-09-03 14:40] #10402 closed

[2021-09-06 08:24] alexgibson opened #10418 "FxA metrics calls should pass through utm_medium"
## Description

When requesting FxA metrics parameters on page load, we pass through utm parameters to the request, but it looks like we don't do anything with `utm_medium` (a value of `referral` is always assumed).

### Steps to reproduce

1. Visit https://www.mozilla.org/en-US/products/vpn/?utm_campaign=sem-comp-tla-copy-1&utm_medium=cpc&utm_source=google
2. Open the web console and look at for

[2021-09-06 13:24] #10418 closed

[2021-09-07 08:29] alexgibson opened #10422 "Nightly /whatsnew page show incorrect content to users in France"
## Description

https://www.mozilla.org/fr/firefox/94.0a1/whatsnew/france/?oldversion=93.0a1

Looks like the `WhatsNewFranceView` doesn't check the version number before deciding what template to display.

[2021-09-07 14:17] #10422 closed

[2021-09-08 12:55] Ayushsunny commented on #10357
Hey @craigcook as I can see, no one has created any PR related to this issue.
So, can I work on this?

[2021-09-08 14:25] craigcook commented on #10357
Sorry, @AtharvaParkale is working on this in https://github.com/mozilla/bedrock/pull/10383 (which I still need to review, apologies for the delay).

[2021-09-08 15:49] pmac opened #10428 "Restrict CDN cache to only certain query params"
Our CDN has the capability to include the query parameters for requests in the cache key or not. It also will allow us to specify which parameter names to include or exclude. We currently include all query params in the cache key, but to improve we should only include those which we use on the server side in our views. Let's get a list of these params together and update the CDN config to only inc

[2021-09-08 15:51] pmac opened #10429 "Add the user's country to the CDN cache key"
We currently only use the country in views for redirects since we have to disable the CDN cache for them. But the CDN will include the user's country in the cache key which would allow us to use the country in any view we needed without need for any added complexity.

[2021-09-08 19:08] pmac commented on #10429
I tested the above with Mozilla VPN.

[code]

[2021-09-08 20:26] pmac commented on #10429
This change has been made on the prod CDN. I watched the throughput in New Relic. There was an initial spike due to the cache for that page rule being invalidated as the key changed, but then it settled back to normal volume.

![](https://files.slack.com/files-pri/T027LFU12-F02DM4NRB2S/screen_shot_2021-09-08_at_16.16.52.png)

[2021-09-08 20:27] #10429 closed

[2021-09-09 02:57] Ayushsunny commented on #10357
Sorry, @craigcook I didn't went through that, my bad.

Can you please suggest to me if any other issue's are opened like this?

[2021-09-09 08:18] alexgibson opened #10433 "Refactor VPN product page to use country code from CDN cache key"
## Description

Now that we have #10429  we should be able to greatly simplify some of the geo-location login on the [VPN landing page](https://www.mozilla.org/en-US/products/vpn/).

We should be able to:

- Determine if VPN is available in the user's country directly in the view.
- Pass the country code from the view to the page template as a context variable.
- We could then use this new context

[2021-09-09 15:42] pmac opened #10434 "Add country code to the context for templates"
Now that we've completed #10429 we can have the country available in every request, much like we do with `request.LANG`. Perhaps we should do it exactly like that and make it `request.COUNTRY`.

[2021-09-10 08:26] #10434 closed

[2021-09-10 08:35] alexgibson commented on #10428
WIP parameter list:

- `v` (for Traffic Cop experiments)
- `xv` (to serve different templates / designs for a given page)
- `entrypoint_experiment` (for FxA experiments)
- `entrypoint_variation` (for FxA experiments)
- `experiment` (for stub attribution experiments)
- `variation` (for stub attribution experiments)
- `geo` (for testing geo-related content)
- `installer_lang` (for installer help pag

[2021-09-10 08:37] alexgibson commented on #10428
@pmac here's a WIP list, but I need to do a bit more checking still I think.

Quick question for validation: the params we're interested in are only the ones that we use to render different content, right? Also: do I need to worry about things like the newsletter preference center, or stub attribution endpoint? I'm assuming those aren't cached by the CDN already.

[2021-09-10 13:57] pmac commented on #10428
Great start! Thanks!

Correct.

I believe that is correct. I'll have to check the stub attribution one as in theory that could be cached for people who request a signature for the same set of attributes.

[2021-09-10 13:58] pmac commented on #10428
We don't need to respect the `geo` param tough right? We are specifically not respecting it for the prod domain.

[2021-09-10 14:04] alexgibson commented on #10428
We are for stage though, right? I thought that uses the CDN also.

[2021-09-10 14:06] pmac commented on #10428
True. I guess we should keep the stage and prod CDN configs as similar as possible. I was thinking we'd only do this query param thing on prod, since it's really meant to improve our cache hit ratio and we don't have any issue with that on stage.

[2021-09-10 14:09] alexgibson commented on #10428
Yeah, I also think from a testing perspective doing this on stage first before rolling it out makes sense.

[2021-09-10 21:49] slightlyoffbeat opened #10441 "Add a hyphen to links that say "12 month plan" and "6 month Plan""
## Description

From Mary:

 We are missing hyphens in the links that say “12-month plan” and “6-month plan.”
(We don’t need the hyphen when the word “plan” isn’t present)

This means we should add a hyphen to the buttons inside the variable pricing unit

Page: https://www.mozilla.org/en-US/products/vpn/

[2021-09-10 23:57] slightlyoffbeat opened #10442 "Contentful: cards should behave differently when a youtube link is given"
## Description

It is common to have protocol cards that open a modal when clicked.

In contentful, when creating a card, you have the option to include a youtube URL.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Providing a URL, screenshot.

### Expected result

Including a youtube URL should:

1. automatically switch the card to opening the youtube video in a modal

[2021-09-10 23:58] slightlyoffbeat opened #10443 "Contentful: CTA component should have an option for black buttons."
## Description

The CTA component in contentful can create a blue button or an alt blue outline button.

We should also have the option for a black button and a black outline button.

[2021-09-11 00:17] slightlyoffbeat opened #10444 "Contentful: Card components font size is too big"
## Description

Contentful cards (small/medium) font size seems to be too big. We should investigate and make sure they are correct, or are using the correct version of protocol.

### Steps to reproduce

Compare this contentful homepage:

https://www-dev.allizom.org/en-US/contentful-preview/69xQvSpz9F6fmsyaSxLrjW/

To the Mozilla homepage:

https://www.mozilla.org/en-US/

The font size on the row

[2021-09-11 00:26] slightlyoffbeat opened #10445 "Contentful: Build simplified split component for most common usecase."
## Description

Contentful currently has a Hero content type that utilizes Protocol's hero component (that is being depreciated).

Contentful also has a split content type that has several options that could confuse content creators.

I propose we build a new contentful content type that utilizes protocol's split component to build the most common of usecases (see screenshot below):

<img width="1

[2021-09-11 10:25] Prasanna0908 commented on #10441
Hello, I would like to work on this issue. I am not able to find the location of the link which has "12-month plan" so can you just share a screenshot of that.

[2021-09-13 11:57] alexgibson commented on #10444
It looks like the Pocket cards under "What we're reading" are using `mzp-c-card-medium` instead of `mzp-c-card-extra-small`.

[2021-09-13 14:20] alexgibson commented on #10444
@slightlyoffbeat I took a look in Contentful and it appears like there is no notion of a "small" card in the content types. There is only "Card", and for a large card it's a layout type.

I'm not sure why this is, but I'm guessing there's probably a reason? This would explain the font size bug anyway.

Do we want to add specific `extra_small_card` component data type to use in a 4 card layout? I'm

[2021-09-13 15:16] alexgibson opened #10447 "Get Mozilla VPN link on Contentful home page goes to getpocket.com"
## Description

The "Get Mozilla VPN" link on Contentful home page goes to `getpocket.com` instead of `/products/vpn/`.

### Steps to reproduce

1. https://www-dev.allizom.org/en-US/
2. Scroll down the the "Protection for your whole device, on every device" section.
3. Click "Get Mozilla VPN".

Screenshot:

![image](https://user-images.githubusercontent.com/400117/133110062-b3b25e87-f33f-4a8f-8ff0

[2021-09-13 15:17] alexgibson commented on #10447
/cc @slightlyoffbeat

[2021-09-13 15:17] pmac commented on #10447
Related to #10443

[2021-09-13 15:24] alexgibson commented on #10447
This particular issue seems to be because these are the only current choices for CTA links:

![image](https://user-images.githubusercontent.com/400117/133111572-6e158e1d-7ae3-42ad-91f2-4f85554ddbb0.png)

The corresponding code in bedrock also only checks for these three product types:

https://github.com/mozilla/bedrock/blob/master/bedrock/contentful/templates/includes/contentful/cta.html

[2021-09-13 23:00] reemhamz commented on #10441
Hey @Prasanna0908, if you're still interested to work on this ticket I can help you out with getting started. Just [install the repository](https://bedrock.readthedocs.io/en/latest/install.html), and it should be easy to get started.
The file name for the page should be in `products/vpn/landing.html`. However, since we use Fluent files for translation purposes, you could just add the hyphens in th

[2021-09-14 02:36] slightlyoffbeat commented on #10447
@alexgibson Yes, this was my mistake. I meant to file something for this.

The split component should be depreciated in general, but I think whatever replaces it should be able to choose between either a dropdown of links (that make it easy to have the correct parameters) or a custom field that will override.

For now, it seems best to add VPN so that we can ship.

[2021-09-14 06:05] Prasanna0908 commented on #10441
Okay, I would like to work on this.

[2021-09-14 08:24] alexgibson opened #10450 "Turn off VPN variable pricing WNP template for en countries"
## Description

The NA team would like to turn off the [VPN variable pricing WNP](https://www.mozilla.org/en-US/firefox/92.0/whatsnew/en/) for FF 92 that gets shown to en countries, falling back to the [single CTA version](https://www.mozilla.org/en-US/firefox/92.0/whatsnew/all/) of the page.

Looking at the code, there's a single switch (`firefox-whatsnew-92-vpn-pricing`) that controls both the `

[2021-09-14 09:03] alexgibson commented on #10450
Depends on https://github.com/mozilla/bedrock/pull/10451

[2021-09-14 09:06] alexgibson commented on #10450
Depends on https://github.com/mozmeao/www-config/pull/397

[2021-09-14 09:48] alexgibson commented on #10450
PR to turn switch for en WNP off: https://github.com/mozmeao/www-config/pull/398

This is do-not-merge until we can get https://github.com/mozilla/bedrock/pull/10451 deployed to prod.

[2021-09-14 10:02] alexgibson commented on #10428
@pmac ok I think the list above looks to be about it. Some of the items in the list I wasn't 100% sure about being effected, but I included them anyway to be on the safe side. Let me know what you think.

I also didn't include any params in the newsletter app, or the stub attribution endpoint. Maybe we can exclude those URLs if needed?

[2021-09-14 10:51] maureenlholland opened #10452 "Docs: add Make it run documentation section"
We're trying to make Bedrock documentation easier to update and it helps to be able to preview your changes locally.

To that end, we want to add a Documentation section under "[Installing Bedrock > Make it run](https://bedrock.readthedocs.io/en/latest/install.html#make-it-run)". Content below:

[2021-09-14 11:07] maureenlholland opened #10453 "Docs: fix clipboard code snippets"
We added a new copy button to code snippets in our docs. For the most part, this works great out of the box, but we need to check the snippets across the documentation to see if the clipboard output causes problems or errors.

<img width="709" alt="copy-button" src="https://user-images.githubusercontent.com/19650432/133246582-73b34cf7-6ee2-494a-b136-7c7d3e55b171.png">

example: [Installation instr

[2021-09-14 11:14] maureenlholland commented on #10371
Fixed by https://github.com/mozilla/bedrock/pull/10416

[2021-09-14 11:14] #10371 closed

[2021-09-14 11:48] Ayushsunny commented on #10452
Hello @maureenlholland , The same content above under "Make it run" that's it?

[2021-09-14 11:56] Ayushsunny commented on #10453
So for snippets like this -
[code]
I think we should separate all four into different lines by then it will work fine? like this -

[code]

[code]

[code]

[code]

[2021-09-14 12:14] maureenlholland commented on #10452
@Ayushsunny yep, super-simple. We would add this to the bottom of the Make it run subsection (under Prod Mode).

[2021-09-14 12:25] maureenlholland commented on #10453
@Ayushsunny This will be a bit trickier and require some judgment calls. Basically, anytime we have a code snippet, we want users to be able to click the copy button and paste the code into their terminal or code editor without error. At the moment, that won't happen in every case.

If we can keep the code all in one code block, that's preferable because it's less clicking but if things run out of

[2021-09-14 12:37] pmac commented on #10428
I did check stub attribution and it does allow itself to be cached on the assumption that the query params would be unique per cache entry. I think the solution there is to just turn the cache off for that view.

[2021-09-14 13:11] alexgibson commented on #10409
Attribution flow will work as follows:

1. Page implements a VPN referral link (via a new Python helper).
2. Visitor clicks on a referral link and a 1 hour cookie is set with a referral ID.
3. Visitor navigates to VPN product landing page and on page load the cookie is checked.
4. If a cookie exists and there are no existing UTM parameters in the page URL, then custom UTM params are set using the

[2021-09-14 13:13] alexgibson commented on #10409
/cc @slightlyoffbeat let me know if this sounds ok ^

[2021-09-14 13:15] alexgibson commented on #10450
This is now fixed https://www.mozilla.org/en-US/firefox/92.0/whatsnew/en/

[2021-09-14 13:15] #10450 closed

[2021-09-14 13:57] #10447 closed

[2021-09-14 14:11] reemhamz commented on #10441
@Prasanna0908 Perfect, thanks for taking this on! Excited to see your contribution to our code 🎉 Once again, let me know if you need any help with the ticket.

[2021-09-14 14:19] reemhamz commented on #10453
@maureenlholland Great ticket! Although, I was wondering, though I know that we can definitely find the grouped multi-line commands useful, I think splitting them up wouldn't be too bad of a call as well, especially since sometimes we just need to run one of the commands (i.e. just running `pip install -r requirements/dev.txt` to update some of the new commands installed from the backend). What do

[2021-09-14 14:44] jezdez opened #10456 "Redirect loop on https://www.mozilla.org/en-US/mission/"
## Description

When I tried to open https://www.mozilla.org/en-US/mission/ I got in a redirect loop.

### Steps to reproduce

- open https://www.mozilla.org/en-US/mission/ in a browser
- see the error message from the browser about a redirect loop

### Expected result

- seeing the Mozilla mission landing page similar to https://www.mozilla.org/en-GB/mission/

### Actual result

- redirect loop e

[2021-09-14 15:17] pmac commented on #10456
Thanks for the report, but we can't replicate. From where in the world did you see this? I'm wondering if one of our cache nodes has an issue.

[2021-09-14 15:19] Ayushsunny commented on #10456
Hello @jezdez I'm not getting any redirect loop error on this link  https://www.mozilla.org/en-US/mission/
I'm using Chrome.

![Screenshot 2021-09-14 204440](https://user-images.githubusercontent.com/73520373/133285082-9101857c-6bca-4310-a536-5d30f9a52867.png)

Can you try again after deleting your cookies from this specific link?

[2021-09-14 15:19] pmac commented on #10456
I have reproduced this when connected via a VPN in Frankfurt, Germany. Still investigating.

[2021-09-14 15:52] jezdez commented on #10456
Yeah, this was from Germany :)

[2021-09-14 15:54] Prasanna0908 commented on #10441
Hey @reemhamz, I believe it is the 88th and 89th line of the code of the file [bedrock/l10n/en/products/vpn/shared.ftl ](bedrock/l10n/en/products/vpn/shared.ftl) is where I need to add a hyphen. Also, what are fluent files? It would be great if there is any documentation related to that.

[2021-09-14 15:54] piatra opened #10457 "Host image asset for CFR message"
## Description

For [UJET-117](https://mozilla-hub.atlassian.net/browse/UJET-117) campaign that contains user messages we need to host an image asset that can be accessed by Firefox clients. Users will get a JSON configuration that contains a URL to this asset.

Image:
![party_emoji](https://user-images.githubusercontent.com/810040/133291920-e4021fd0-81b3-4bf6-8257-87b379517ea6.png)

[2021-09-14 16:07] slightlyoffbeat commented on #10409
@alexgibson looks good to me.

[2021-09-14 16:08] pmac commented on #10457
Ah! I was able to find it hosted for snippets after all.

https://snippets.cdn.mozilla.net/media/icons/0c6337e3-8a11-4435-9732-cabb79f59f78.png

[2021-09-14 16:10] #10452 closed

[2021-09-14 16:32] maureenlholland opened #10458 "Missing links in FXA code documentation"
We are referencing a github page that no longer exists to explain metrics for the[ FXA js file](https://github.com/mozilla/bedrock/blob/master/media/js/base/fxa-utm-referral.js)

Example: https://mozilla.github.io/application-services/docs/accounts/metrics.html#descriptions-of-metrics-related-query-parameters

The information may have moved to bedrock docs. Needs further investigation.

To resolve

[2021-09-14 16:51] pmac commented on #10457
I'll keep this open for a bit in case you run into any issues with that URL. We have alternate hosting possibilities if we need them.

[2021-09-14 18:53] reemhamz commented on #10453
@Ayushsunny The team's agreed to split up the grouped code into separate snippets instead. So I want to say, good job on suggesting it!

Here are some good-to-know code snippet rules:

1. If the code is meant for the terminal, it should go one command per code block
2. If the code is meant for a code editor, it can have multi-line code blocks (emphasis on the _can_, not _should_)
3. Do not include

[2021-09-14 19:06] craigcook opened #10459 "Update division operators in Sass/SCSS"
## Description

[Using `/` as a division operator is being deprecated](https://sass-lang.com/documentation/breaking-changes/slash-div) in Sass. It still works for now but will throw a warning during compiling.

We should weed out all our uses of `/` for division in our Sass/SCSS and change them to the new `math.div()` function. Sass provides a migration tool that should help automate this but we'l

[2021-09-14 20:14] piatra commented on #10457
Thanks. I'll close this once it passes QA and we've confirmed everything is ok.

[2021-09-14 22:56] #10408 closed

[2021-09-14 23:21] #10388 closed

[2021-09-15 08:50] #10182 closed

[2021-09-15 09:32] #10409 closed

[2021-09-15 09:48] alexgibson opened #10460 "Contentful homepage 500 error missing staticfiles entry"
## Description

I pushed a branch to demo and got a 500 error on the home page:

[code]

The daylight banner was removed in https://github.com/mozilla/bedrock/pull/10389, so we can just remove the reference causing the error here.

### Steps to reproduce

Visit https://www-demo2.allizom.org/en-US/

### Expected result

The homepage should load ok.

### Actual result

The homepage throws an error.

[2021-09-15 10:27] #10460 closed

[2021-09-15 12:00] #10442 closed

[2021-09-15 15:39] reemhamz commented on #10441
@Prasanna0908 Yup, those are the correct file and lines 👍🏼

Fluent files are what we use for Mozilla.org's internationalization. When we have pages that we'd like translated into other languages for different locations around the globe, we utilize [Fluent](https://projectfluent.org/). We documented how we use it in Bedrock [here](https://bedrock.readthedocs.io/en/latest/fluent-conversion.html).

W

[2021-09-15 18:29] pmac opened #10464 "Upgrade NodeJS Docker image to 14"
Node 14 is the [current supported LTS release](https://nodejs.org/en/about/releases/) and will be supported through the end of April 2023.

[2021-09-15 20:23] reemhamz opened #10465 "Update video links in Firefox tips and tools page"
## Description

Update the video links in the Firefox tips and tools page to new videos that exclude the last names of folks in featured in the videos.

---

### Success Criteria
#### Update the following video links:

- [x] Picture-in-picture
- [x] Protections dashboard
- [x] Pocket button
- [x] Email/relay
- [x] Restore sessions

#### Update the following variation links:

- [x] [Picture-in-pict

[2021-09-16 04:47] Ayushsunny commented on #10453
Okay, I'll make a PR for this issue.
Also I have a doubt that we are going to fix the entire clipboard present or just in `installation instruction `part? @maureenlholland @reemhamz

[2021-09-16 07:55] alexgibson commented on #9700
Fixed by https://github.com/mozilla/bedrock/pull/10395

[2021-09-16 07:55] #9700 closed

[2021-09-16 07:56] #6874 closed

[2021-09-16 07:56] #10310 closed

[2021-09-16 08:06] alexgibson opened #10467 "Add Babel as a transpiling option for JS bundles"
## Description

Now that https://github.com/mozilla/bedrock/issues/10310 is completed, add an opt-in transpiling option for JS code using [Babel](https://babeljs.io/).

---

#### Success Criteria
- [x] JS bundles can opt-in to transpiling, so devs can write modern JS whilst still targeting older browsers.
- [x] Existing bundles already written using ES5 should not need to be transpiled again.
- [x

[2021-09-16 08:14] alexgibson opened #10468 "Evaluate Prettier as a front-end code formatter"
## Description

A few of the front-end devs have expressed a liking to https://prettier.io/ for code formatting. Let's evaluate how we feel about using it on bedrock. If we think it might help with code formatting consistency and speed up code reviews a little, then it could be worthwhile.

It looks like there are configs for Prettier that work alongside ESLint and Stylelint: https://prettier.io/d

[2021-09-16 08:17] alexgibson opened #10469 "Migrate to Dart-Sass"
## Description

[Node-Sass](https://www.npmjs.com/package/node-sass) is officially deprecated. Whilst it sill received maintenance updates, there are no plans to add additional features or compatibility with any new CSS or Sass features. The project recommends migrating to [Dart-Sass](https://sass-lang.com/dart-sass).
---

#### Success Criteria
- [ ] CSS bundles are compiled using Dart-Sass.

[2021-09-16 08:18] alexgibson commented on #10459
See also: https://github.com/mozilla/bedrock/issues/10469

[2021-09-16 08:41] alexgibson opened #10470 "Contentful home page contains duplicate CSS/JS"
## Description

I noticed the new Contentful home page on www-dev seems to contain some duplicate CSS for certain components.

### Steps to reproduce

Visit https://www-dev.allizom.org/en-US/ and open the Style Editor panel in Dev Tools.

### Expected result

The page should not contain duplicate styles for Protocol components.

### Actual result

The page contains the following style sheets:

- h

[2021-09-16 12:20] maureenlholland commented on #10453
@Ayushsunny Awesome! We want all the clipboards in the docs to be checked and fixed if necessary. Whatever you can update to match our new code snippet rules is appreciated.

You can ignore some legacy localization docs though. No need to check the following:
- https://bedrock.readthedocs.io/en/latest/l10n.html#legacy
- https://bedrock.readthedocs.io/en/latest/fluent-conversion.html

@reemhamz doe

[2021-09-17 15:23] alexgibson opened #10473 "Sentry JS bundle is surprisingly large"
## Description

Webpack gives a warning about the size of our Sentry JS script when compiling:

[code]

Thankfully it compresses down to ~24Kb in production, but this is still suprisingly large for an error reporting lib.

It looks like others have also reported this problem, and it's on Sentry's upcomng roadmap to improve:

- [x] https://github.com/getsentry/sentry-javascript/issues/2707
- [ ] ht

[2021-09-17 16:14] reemhamz commented on #10441
Hey @Prasanna0908, kindly wondering if you have been able to get through the code alright?
If so, you can create a PR and assign me as the reviewer and I will be notified to review the code before merging 🧁

If not, let me know if you've ran into any blockers and I can help you out 💫

[2021-09-17 16:28] piatra commented on #10457
we launched and did qa, no issues. thanks again.

[2021-09-17 16:28] #10457 closed

[2021-09-17 18:52] peiying2 opened #10474 "[l10n] String ID misspelled in Facebook Container page"
## Description
String ID format not followed:

- `{ -brandname-firefox-browser }`
- File Mozilla.org•en/firefox/facebook_container.ftl
- Source: https://github.com/mozilla/bedrock/blob/de1128f393631d816ec1921134ddaf28de971e97/l10n/en/firefox/facebook_container.ftl#L15

### Expected result
- `{ -brandname-firefox-browser }` -> - `{ -brand-name-firefox-browser }`

[2021-09-17 18:52] peiying2 commented on #10474
@craigcook could you help with this? Hopefully it  is not too complicated.

[2021-09-17 20:26] peiying2 opened #10475 "[l10n]: staging URL for Focus page points to Android"
## Description

The staging URL in Focus page is for Android.

https://github.com/mozilla-l10n/www-l10n/blob/02a267031e82753da6fe5f11f1b0df63a921ca69/en/firefox/browsers/mobile/focus.ftl#L5

### Steps to reproduce

Focus page is pointing to  https://www-dev.allizom.org/firefox/browsers/mobile/android/

### Expected result

`https://www-dev.allizom.org/firefox/browsers/mobile/android/` -> `https://

[2021-09-17 20:54] #10474 closed

[2021-09-17 20:58] #10475 closed

[2021-09-18 00:17] peiying2 opened #10477 "[l10n] Sync is a verb, not a product name"
## Description

`... { -brand-name-sync } your devices to take your favor...` Sync here should be a verb, not a product name.

### Steps to reproduce

https://github.com/mozilla-l10n/www-l10n/blob/ecb81a5e4f4f727cca6260945c6fff6abb007ba8/en/firefox/browsers/mobile/ios.ftl#L34

### Expected result

 `{ -brand-name-sync } your devices to take your favor` -> `Sync your devices to take your favor.`

@

[2021-09-18 22:43] Foggalong commented on #10166
@slightlyoffbeat do you have any idea when that post is coming? I migrated to lockwise over the summer so was very frustrating to come across this thread and find out that the decision to sunset it had been made but not announced months prior :confused:

[2021-09-20 14:35] reemhamz commented on #10211
Doc detailing our next steps and action plan:
https://docs.google.com/document/d/1gqSpl2K6EpZOfzOZeMni0cC-9KM-HjnwGmK9--QjgLw/edit

[2021-09-20 14:58] alexgibson opened #10479 "Update coding style guides section in docs"
## Description

The bedrock [coding style guides](https://bedrock.readthedocs.io/en/latest/coding.html#coding-style-guides) section in the docs is pretty out of date and could use some updates.

The Web Dev bootcamp pages the docs link to seem to be unmaintained these days. We should either update them, or alternatively remove the references and publish our own set of guidelines specific to bedroc

[2021-09-20 19:25] peiying2 opened #10482 "[l10n]: Mobile compare page: should be 5 browsers instead of 7"
## Description
`... In this area, all seven of the browsers compared here score points...`

Only 5 mobile browsers are being compared, not 7

### Steps to reproduce

https://github.com/mozilla/bedrock/blob/8c8787b97ce739bb06e5ced7b05081d0d1abcf3d/l10n/en/firefox/browsers/mobile/compare.ftl#L16

### Expected result

Change from `... all seven of the browsers...` -> `...all five of the browsers...`

[2021-09-20 19:25] peiying2 commented on #10482
@craigcook this one identified by our vendor. Let's include this one in today's fix. Thank you.

[2021-09-20 21:39] slightlyoffbeat opened #10483 "Updates to /de/about/legal/impressum/"
## Description

Requested by: Michael Feldman

We have a few changes requested to the /de/about/legal/impressum page

Changes requested:

1. The San Francisco address rather than Mountain View
`Harrison Street Suite 175,  San Francisco, CA 94105 USA`
2. Remove directors for the Germany entity and replace with:
[code]
---

[2021-09-20 23:18] kellymj commented on #10465
Update:

Change links for
<google-sheets-html-origin><style type="text/css"></style>

Picture in picture
Protections dashboard
Relay
Restore session

[Here's a spreadsheet with new YT links](https://docs.google.com/spreadsheets/d/1mxPBzSdVjI9iERc6FMdYPKZFjrgrkRC42habqFXy4Fc/edit#gid=0)

The priority page to update on Tuesday is v=eyedropper, as we are sending email traffic to that page on Wednesda

[2021-09-20 23:31] slightlyoffbeat opened #10484 "Update VPN Page copy"
## Description

We have a request to be ready to immediately update copy on various VPN pages. These changes should not be merged yet. This is scenario where we should have the changes ready-to-go.

[Copy Changes Doc](https://docs.google.com/document/d/1ltfTHKXaRDnMjsdSUb-KZ_nXHfjYZ8hGVZJi6GJkSVA/edit?usp=sharing) (request access)

#### Success Criteria
- [ ] **Thumbs up to go live from Anna Ziski

[2021-09-21 09:47] #10477 closed

[2021-09-21 09:49] #10483 closed

[2021-09-21 09:51] alexgibson commented on #10444
Moving this from in-progress back to the backlog until we know how this should be fixed.

[2021-09-21 14:01] alexgibson commented on #10444
After discussing this with @pmac on Slack, we're going to fix this by hard-coding the card size depending on the 4-card layout type, as this is easier than adding a new field in Contentful.

[2021-09-21 14:05] alexgibson commented on #10444
@slightlyoffbeat thoughts on the above? ^

Do we want to hard code this and assume 4 card layouts will only ever use the extra-small card type, or do we want to add a new field to the layout in Contentful?

[2021-09-21 14:10] pmac commented on #10444
This one sounds easy as all cards will use the same size. So we could pretty easily add a choice field with a default to `extra-small`, and allow selection of `small` or `medium`, or which ever sizes make sense.

[2021-09-21 15:45] #10458 closed

[2021-09-21 17:42] #10465 closed

[2021-09-21 21:42] krattliff11 opened #10490 "Setup Brand Indicators for Message Indentification (BIMI) for Mozilla Emails"
## Description

Google has announced general support of Brand Indicators for Message Identification (BIMI) in Gmail
BIMI provides a secure, global framework in which inboxes display sender logos for authenticated messages.

Why is this important?
BIMI along with DMARC, strengthens the trustworthiness of our emails. This is critical because recipients are more likely to open and engage with emails

[2021-09-21 23:41] slightlyoffbeat commented on #10444
I believe that the proposed solution is not just easier, but preferred

The content creators should have fewer options, and the content should display in the best way possible (In this case, having cards in a 4 card layout default to being extra small)

[2021-09-22 09:33] alexgibson commented on #10444
Ok sounds like we have consensus, thanks!

[2021-09-22 12:10] alexgibson opened #10492 "Update Jasmine/Karma"
## Description

- jasmine-core
- karma-firefox-launcher
- karma-jasmine
- sinon

---

#### Success Criteria
- [x] Front end testing dependencies are running latest versions.
- [x] Update test suite to use modern JS syntax.

[2021-09-22 12:54] #10444 closed

[2021-09-22 13:41] maureenlholland commented on #10443
Blue buttons used to have specific meaning: this is a Firefox product-related action (https://protocol.mozilla.org/patterns/atoms/buttons.html#product)

We could continue that in code by automatically adding the `mzp-t-product` (blue) class to CTAs with Firefox product-related actions and defaulting other actions to black.

Or we could add a new content editor option in contentful, allowing any pr

[2021-09-22 13:45] maureenlholland commented on #10443
It's worth noting the CTA colors are already mixed on the homepage: https://www.mozilla.org/en-US/
- navbar CTA used to be Firefox Account, but switched to Mozilla VPN and kept blue outline
- further down, pocket CTA is blue and Mozilla VPN is black
<img width="1175" alt="Screen Shot 2021-09-22 at 2 25 25 PM" src="https://user-images.githubusercontent.com/19650432/134355341-38e282ad-0472-4b97-a08c

[2021-09-22 14:59] craigcook commented on #10443
I think this is at least partly due to VPN essentially having its own branding so the rules aren't clear. According to Protocol's guidelines, product buttons are for product actions (downloading, signing up, etc). But at the time we made that blue button we were only targeting Firefox products, so it's a very Firefoxy blue.

This is where UX and branding meet. We want a distinctive button for a pr

[2021-09-22 15:01] maureenlholland commented on #10443
I'd be happy to support this.

[2021-09-22 15:22] reemhamz commented on #10443
I have a designer pal on the VPN team and he showed me some of the designs he was working on. Would we be able to coordinate directly with the VPN design system created + its colors to integrate similar VPN product design on Protocol?

[2021-09-23 03:48] slightlyoffbeat opened #10495 "WNP 93 (en)"
## Description

WNP 93 for English will be VPN focused.

Visuals and copy tie in to the cyber-security month integrated campaign.

The studio team has asked to use this as an opportunity to test some messaging and creative that could inform future VPN campaigns and visual directions.

### The Plan:

3 Variations.

Variation 1: Creative approach. Bolder visuals. Minor animation. -- Can changing thi

[2021-09-23 03:49] slightlyoffbeat commented on #10495
@craigcook I was able to bring the size of the option 2 image down quite a bit. Feel free to ping me if you'd like it.

[2021-09-23 03:50] slightlyoffbeat commented on #10495
FX 92 release: Oct 5

[2021-09-23 03:53] slightlyoffbeat commented on #10484
Blocked. Team may go a different direction. If that happens, this card will be deleted/archived.

[2021-09-23 04:06] slightlyoffbeat commented on #10443
In this case, I think since they are on the same page, I'd argue for both buttons on the homepage being the same color, even thought the products themselves may have different color schemes. This page is a mozilla page, and should follow a Mozilla color scheme.

On the VPN landing page, or on the pocket website, there may be a vpn/pocket theme.

But as pointed out, we already violate this, so ther

[2021-09-23 08:17] #10467 closed

[2021-09-23 09:35] alexgibson commented on #10470
Looks like the lazy-load JS library is also being bundled / initialized twice.

[2021-09-23 09:47] maureenlholland commented on #10443
@slightlyoffbeat This works for me. I will add a new Color field on the CTA content type with radio button selection for Black or Blue (default Black). That should be easy enough to remove down the line if we want to tie colors to Product actions instead.

[2021-09-23 10:11] #10492 closed

[2021-09-23 12:27] #10470 closed

[2021-09-23 14:32] alexgibson opened #10497 "Remove WNP 87/88 VPN waitlist pages"
## Description

The EU team would like to remove these pages now that the DE/FR launch has happened, as they are still generating signups from users who are slow to update FF.

- https://www.mozilla.org/de/firefox/87.0/whatsnew/all/
- https://www.mozilla.org/fr/firefox/87.0/whatsnew/all/
- https://www.mozilla.org/de/firefox/88.0/whatsnew/all/
- https://www.mozilla.org/fr/firefox/88.0/whatsnew/all/

[2021-09-23 14:35] alexgibson opened #10498 "VPN Wave IV country expansion"
## Description

- Add new countries to allow list
- Add new pricing plan
- Implement behind a feature switch for QA

Product launch plan (Mozilla confidential) https://docs.google.com/spreadsheets/d/13VaxKoFgjy_1wVvDnU0YRyQYEm6emike1_Oq_EC-Ap4/edit?usp=sharing

---

#### Success Criteria
- [x] New countries are added to the VPN landing page behind a switch, ready for QA.

[2021-09-23 14:36] alexgibson commented on #10498
Euros / English
59.88 EUR/yr - price_1JcdvBJNcmPzuWtROLbEH9d2
41.94 EUR/6mo - price_1Jcdu8JNcmPzuWtRK6u5TUoZ
9.99 EUR/mon - price_1JcdsSJNcmPzuWtRGF9Y5TMJ

[2021-09-23 16:47] alexgibson opened #10500 "Remove deprecated Protocol components"
## Description

Dump from running `npm start`:

[1] WARNING: Hero component is now deprecated. Please migrate to use Split: https://protocol.mozilla.org/patterns/organisms/split.html
[1]          on line 7 of node_modules/@mozilla-protocol/core/protocol/css/components/_hero.scss
[1]          from line 11 of media/css/mozorg/about.scss

[1] WARNING: Hero component is now deprecated. Please migrate

[2021-09-23 17:12] pmac commented on #10490
More info on the image spec here https://bimigroup.org/implementation-guide/

[2021-09-23 20:16] #10497 closed

[2021-09-23 21:23] reemhamz commented on #10441
Hey @Prasanna0908, I've picked up this ticket. Please feel free to keep an eye out for any opportunities to help with other tickets with us on Bedrock!

[2021-09-23 23:24] slightlyoffbeat opened #10504 "Code: VPN Resource center"
## Description

Early designs are done for the VPN knowledge center. It would be best to jump into code early and start building this.

This may eventually be powered by Contentful, however for this task, we will build in bedrock. We can then work backwards and see how to best port this to contentful.

While developing, please take note of what elements are in protocol and what elements are not.

[2021-09-23 23:37] slightlyoffbeat opened #10505 "VPN SWAT: Landing page A/B test for top visual"
## Description

We are going to run a very simple A/B test on vpn.mozilla.org. We will simply swap the top visual and try the "Be you or blur you" image.

Image: [Use the static image here](https://drive.google.com/drive/folders/1r5iQ-QUtYb9xAXgL-lreWrzN6-I4ULUC?usp=sharing). The image will need to be optimized

Test:
Variation 1: 10% - be you or blur you
variation 2: 10% - Current page / baseline

[2021-09-23 23:40] slightlyoffbeat opened #10506 "Update Firefox Focus page"
## Description

Product Marketing team has requested some simple changes to the Firefox focus page.

Changes can be found here:
https://docs.google.com/document/d/1d7FYq7vfZNosENMWaGrJXXUztgKqiM_X1aZ6ma_t5yA/edit?usp=sharing

Questions for clarification can go to @slightlyoffbeat or you can reach out to Mei Loo directly.

---

#### Success Criteria
- [ ] Stage the page and send to Mei for approval

[2021-09-23 23:43] slightlyoffbeat opened #10507 "Code: SEM Pages for Firefox"
## Description

There will be a series of SEM tests in October.

UX has provided designs. Kick off scheduled for week of 27th.

Details to be added as they become available.

---

#### Success Criteria

[2021-09-23 23:45] craigcook commented on #10506
Can we get an SVG of the new logo?

[2021-09-23 23:49] slightlyoffbeat opened #10508 "Power homepage with Contentful"
## Description

Contentful is merged, and homepage is recreated in Contentful. This issue will track what is needed to complete the transition.

---

#### Steps
- [x] Recreate Contentful homepage to be 1:1 with current homepage
- [ ] Make a decision on how to handle the Pocket section on homepage. (#10514)
- [x] [Add horizontal lockups to the hero component (currently its just the logo)](https://g

[2021-09-23 23:50] slightlyoffbeat commented on #10508
@pmac can you jump in and add steps and success criteria? We can break into smaller issues if necessary.

[2021-09-24 00:05] slightlyoffbeat commented on #10508
One of the biggest hurdles to publishing is how we handle the "what we are reading on pocket" section on the homepage. It is a custom component.

@pmac and I were talking, and I think we should have some sort of content type in Contentful that takes in something like an ID number. That ID number would correspond with code in bedrock and pull it in.

Inserting custom code will most likely be a reoc

[2021-09-24 00:25] slightlyoffbeat commented on #10506
@craigcook on it!

[2021-09-24 11:36] #10404 closed

[2021-09-26 22:43] peiying2 opened #10510 "Mobile Android browser page on production contains duplicate paragraphs"
## Description

This issue is global, including en-US page.

The same paragraph appears twice on Mobile/Android page

`Got a big phone and normal sized thumbs? No problem. Firefox for Android lets you move the search bar from the top to the bottom making it easier to use with one hand. You can also choose your own search engine within the browser, and set Firefox as your default browser if you wan

[2021-09-26 22:44] peiying2 commented on #10510
<img width="1213" alt="Screen Shot 2021-09-26 at 3 31 59 PM" src="https://user-images.githubusercontent.com/6090393/134826623-0fa3e5e2-e49e-435c-b352-182d80df413e.png">

[2021-09-27 08:12] #10510 closed

[2021-09-27 13:43] #10498 closed

[2021-09-27 14:03] pmac commented on #10508
I do think that each of the remaining check boxes above should be an individual issue, or at least the 2nd and 3rd ones. Is the 3rd one (horizontal lockups) referring to using the wordmark rather than just the logo?

[2021-09-27 14:14] pmac opened #10514 "Add a custom component content type to Contentful"
We need the ability to specify that a custom bit of code should be inserted in a specific place on a page managed by Contentful. The need at the moment is to be able to insert the "what we're reading" pocket feed into the home page re: #10508. The proposal for how this can work is as follows.

1. Create a new content model in Contentful called e.g. "CustomCode".
2. Add a choice field to this model

[2021-09-27 15:09] alexgibson opened #10515 "Ignore Sentry JS errors without a source URL"
## Description

We see quite a lot of JS errors in Sentry that don't have a source URL and instead register as `<anonymous>`. We don't have any inline scripts in bedrock (everything is served from `/media/js/`), so I think it's likely safe to assume these errors are from extensions or browsers injecting inline scripts.

We should be able to ignore these errors using:

[code]

---

#### Success Cri

[2021-09-27 21:38] craigcook commented on #10441
@reemhamz Looks like we need to treat these as new strings. Just changing the English strings won't be picked up by other locales.
https://github.com/mozilla-l10n/www-l10n/pull/232

[2021-09-28 04:16] rustup6 commented on #10166
You can change your mind and make lockwise a paid password manager like 1password/lastpass/Dashlane.Mitchell Baker attributed Mozilla's failure to the current business model, believing that all of this was caused by the "old free model" and declared that the future focus will be on "money-making" commercial projects. This is likely to include Mozilla's VPN product, which is newly launched by Mozil

[2021-09-28 04:28] rustup6 commented on #10166
You should do a poll to see how many people are willing to pay for Mozilla VPN.Judging from the current discussions on Twitter, few people are willing to pay for Mozilla VPN. The project may end up being the same as Lockwise, so you don’t need to promote Mozilla VPN on all pages!

[2021-09-28 08:36] #10453 closed

[2021-09-28 11:57] #10357 closed

[2021-09-28 13:19] Ayushsunny commented on #10506
Hello, @reemhamz are you working on it? and if not, do you think I can work on this issue?

[2021-09-28 15:25] krattliff11 commented on #10490
I cannot verify the svg logo. I'm using this tool: https://bimigroup.org/bimi-generator/

[2021-09-28 16:02] alexgibson opened #10520 "Create cross-site Firefox download attribution page"
## Description

We're going to take the experiment download page we created in https://github.com/mozilla/bedrock/issues/10207 and turn this into a long-term public URL, so that sites such as AMO and SUMO can link to a page that directly downloads Firefox (rather than lining to /firefox/new/ and requiring a visitor to click the button again).

Requirements:

- Page available via either a query par

[2021-09-28 16:02] alexgibson commented on #10520
/cc @slightlyoffbeat @pmac @bobsilverberg

[2021-09-28 16:35] alexgibson opened #10521 "Newsletter section on Contentful home page is misaligned"
## Description

The newsletter section on the Contentful home page should be inside `.mzp-l-content` container in order for it to be correctly aligned.

### Steps to reproduce

https://www-dev.allizom.org/en-US/

### Expected result

![image](https://user-images.githubusercontent.com/400117/135128765-ad5d79ad-364e-4f52-b0d6-7e0b3c236196.png)

### Actual result

![image](https://user-images.githubu

[2021-09-28 17:09] maureenlholland commented on #10443
Considering this blocked technically until we get a local Contentful preview going.
It could be blocked for design reasons as well, depending on how strictly we want to enforce branding guidelines.

[2021-09-28 17:59] #10515 closed

[2021-09-28 18:04] #10441 closed

[2021-09-28 18:32] reemhamz commented on #10506
Hi @Ayushsunny! I'm currently actively working on it and requires some internal work to be updated. Thank you for asking though 💫

[2021-09-28 19:51] willdurand opened #10524 "RTAMO limitation not always enforced"
## Description

In https://github.com/mozilla/bedrock/issues/10337, a check has been added to limit RTAMO attribution to AMO referrals. This limitation is only enforced when the UTM `content` parameter [starts with `rta:`](https://github.com/mozilla/bedrock/blob/ab01bd216b451116cfa4eb59fbb172131dd809a7/media/js/base/stub-attribution.js#L340) but that might be skipped when the value is encoded more

[2021-09-29 01:56] pmac commented on #10490
I guess we'll have to get it setup and then maybe it'll tell us. Unfortunately we can't do the rest of the setup with the DNS, that's an IT thing, but I can help file that ticket if you'd like. In the mean time we can merge this so that we can move on to the DNS bits.

[2021-09-29 03:31] Ayushsunny commented on #10521
Hey, @alexgibson I want to work on this issue.
Could you guide more on this

[2021-09-29 09:02] alexgibson opened #10527 "Update ESLint rules for bedrock"
## Description

Now that we're on Webpack and can support new methods for authoring JS, it's a good time to update our ESLint config rules to reflect some newer standards.

---

#### Success Criteria
- [x] ESLint rules are updated and linting checks passing.

[2021-09-29 12:48] alexgibson commented on #10521
@Ayushsunny the template in question is here: https://github.com/mozilla/bedrock/blob/master/bedrock/mozorg/templates/mozorg/contentful-homepage.html

[2021-09-29 15:25] #10521 closed

[2021-09-29 15:40] Ayushsunny commented on #10329
Hello @alexgibson do we have to change this email-address (`research_requests@mozilla.com`) [here](https://www.mozilla.org/en-US/contact/) ?

[2021-09-29 19:47] krattliff11 commented on #10490
I'd like your help filing the ticket with IT for the 2nd half of this work.

Thanks

[2021-09-29 20:05] pmac opened #10531 "Add "Community" subcategory on release notes pages and nucleus"
From [bug 1725337](https://bugzilla.mozilla.org/show_bug.cgi?id=1725337):

We have a request from UX/comms to add a new "Community" category for release notes.

The icon would be:

[code]

The new category should be called "Community Contributions" and should come in order after "Unresolved," at the end.

[2021-09-30 02:08] birdsarah opened #10535 "Update "already a subscriber" link url"
When Guardian v1.16 is released (week of Oct 4 2021), the subscription required and login gate on the vpn download page will be removed.

Suggest updating the "Already a Subscriber?" link location on https://www.mozilla.org/en-US/products/vpn from https://vpn.mozilla.org/oauth/init to https://vpn.mozilla.org/vpn/download to reduce unnecessary steps for the user to get to the downloads page.

This

[2021-09-30 07:43] alexgibson commented on #10535
Thanks @birdsarah, quick clarifying question: when the link points to https://vpn.mozilla.org/vpn/download, is it still going to be behind auth? I'm assuming we still want to add all the existing FxA metrics flow params etc? Thanks

[2021-09-30 07:45] alexgibson commented on #10329
@slightlyoffbeat is this something we still have a suitable person / contect for? If not, should we remove this link from the contact page?

[2021-09-30 13:09] #10527 closed

[2021-09-30 14:19] birdsarah commented on #10535
It is not going to be behind auth, no. That is the motivation for this issue.

Adding all the FxA metric flow params is good as we log them guardian side so we'll be able to count successful flows through to the download page.

[2021-09-30 14:21] birdsarah commented on #10535
On the timing. I've thought about it more and actually you're welcome to deploy the link change whenever. When the auth gate is still up, we'll gracefully handle people coming direct to download page.

Removing the vpn-sub-not-found code should only be done after we've released v1.16 though.

[2021-09-30 14:27] alexgibson commented on #10535
I think it makes sense to wait a bit until you've released v1.16, thanks 👍

[2021-09-30 15:51] slightlyoffbeat commented on #10484
@slightlyoffbeat do we need to coordinate with privacy policy changes?

[2021-09-30 16:49] birdsarah commented on #10535
If you want to get started on this, v1.16 is now on staging (v1.16.b2) - https://stage-vpn.guardian.nonprod.cloudops.mozgcp.net/vpn/download

[2021-09-30 17:23] amychurchwell commented on #10251
@nikhils4 Are you still interested in working on this?

[2021-09-30 17:39] slightlyoffbeat commented on #10484
Updates:
- removed blocked and do not merge tag
- updated copy document
- Go live date: Monday, Oct 4th.

[2021-09-30 19:55] #10531 closed

[2021-09-30 21:07] slightlyoffbeat commented on #10505
@reemhamz Quick note: Lets get this built, but do not launch until confirmation from me that we are good to launch. There are some other experiments from product that we don't want to interfere with. I'll keep you posted.

[2021-09-30 21:39] nikhils4 commented on #10251
Sure @amychurchwell, can you please give me more information about this bug?

[2021-10-01 06:56] slightlyoffbeat opened #10539 "Update VPN EN landing page for 4.99 Cyber security month sale."
## Description

For Cyber Security Month we want to offer $4.99 / month pricing in EN, CA and UK. This would mean anyone who subscribes in these countries will get no commitment $4.99 pricing for as long as they keep the account.

Current recommendation will be to change the top of the page to advertise a Cyber Security Month sale.

Copy and UX to be provided by Mary and Elise.

Brief: https://doc

[2021-10-01 06:56] slightlyoffbeat commented on #10539
For EN, CA and UK

[2021-10-01 06:57] slightlyoffbeat commented on #10539
This is terrible copy, but here is a rough idea to help with brainstorming
<img width="1170" alt="Screen Shot 2021-09-30 at 11 53 48 PM" src="https://user-images.githubusercontent.com/2030656/135578402-89aae6b3-6629-4461-9b2a-d6a4f3586071.png">
:

[2021-10-01 08:11] #10524 closed

[2021-10-01 08:19] #10484 closed

[2021-10-01 09:07] alexgibson commented on #10539
I'm going to make a start on the subscription button / geo logic, whilst we figure out the right UX/Copy.

[2021-10-01 15:50] #10495 closed

[2021-10-01 16:57] amychurchwell commented on #10251
@nathan-barrett would you or someone else on the websites team be able/willing to mentor this bug? I worry it will slip past my radar again as I am not super active on GitHub these days.

[2021-10-01 16:59] nathan-barrett commented on #10251
@amychurchwell Yup - on it. Thanks!

[2021-10-01 17:11] nathan-barrett commented on #10251
Hi @nikhils4 - I'd suggest taking a look through the docs [here](https://bedrock.readthedocs.io/en/latest/install.html) and go through the installation and the "Making it run" sections. Bedrock uses jinja templates which you can read more about [here](https://jinja2docs.readthedocs.io/en/stable/templates.html#). The templates for this issue can be found in `bedrock/firefox/templates/firefox/whatsn

[2021-10-01 17:22] nikhils4 commented on #10251
Thank you so much @nathan-barrett for the quick reply, will go through the links 😄

[2021-10-03 21:17] pmac commented on #10490
@duallain Do you know the proper place to file a request for DNS changes like this? The SVG image has been deployed and is here:

https://www.mozilla.org/media/img/logos/mozilla/logo-bimi.svg

[2021-10-04 10:50] #9170 closed

[2021-10-04 12:30] alexgibson commented on #5603
@pmac this is an old issue, but I’d like to propose we close it as wontifx. HTTP/2 server push has been deprecated in Chrome, mainly through lack of adoption.

From my (limited) understanding, it’s one of those things that’s pretty difficult to get right, but too easy to get wrong.

https://groups.google.com/a/chromium.org/g/blink-dev/c/K3rYLvmQUBY/m/vOWBKZGoAQAJ?pli=1

https://jakearchibald.com/2

[2021-10-04 12:46] pmac commented on #5603
That sounds right to me too. Thanks for following up.

[2021-10-04 12:46] #5603 closed

[2021-10-04 14:19] pmac opened #10544 "Use an SQS queue for Contentful change notification"
Bedrock currently polls Contentful for data changes, but this results in much more API use and data transfer than we need. We should be updating data only when notified by a webhook or the like.

Contentful has a "webhook" type that will instead place the messages on a queue in SQS:

https://www.contentful.com/marketplace/webhook/aws-sqs/

All we need is an SQS queue with which to work. I believe

[2021-10-04 14:20] pmac commented on #10544
@duallain how should we go about getting the SQS work done here? Can we just make the via the AWS console, or would SRE prefer that we get this done via some automation of yours?

[2021-10-04 23:30] duallain commented on #10544
Pulled this in with https://mozilla-hub.atlassian.net/browse/SE-2694. Plan would be to pull it in this week or next.  Not 100% where our commitments are, but SQS queues are pretty easy and that doc has a nice outline of what we need to give to contentful to get everything working.

We could also use this to teach a backend dev the tf bits if you'd like, it's simple enough this would be a great tra

[2021-10-05 01:28] pmac commented on #10544
Excellent suggestion. We should involve @robhudson, @stevejalim and me.

[2021-10-05 08:27] alexgibson commented on #10539
Demo: https://www-demo1.allizom.org/en-US/products/vpn/

[2021-10-05 08:41] alexgibson commented on #10535
@birdsarah I'm hitting a 502 on this URL is there are FxA flow params included:

https://stage-vpn.guardian.nonprod.cloudops.mozgcp.net/vpn/download?entrypoint=www.mozilla.org-vpn-product-page&form_type=button&utm_source=www.mozilla.org-vpn-product-page&utm_medium=referral&utm_campaign=vpn-product-page&data_cta_position=navigation&device_id=2a6e0ec30e5045329a23f70a2116db15&flow_begin_time=16334231

[2021-10-05 08:57] alexgibson commented on #9920
Thanks for the suggestion, but I think we should try and keep the main readme focused on getting started with bedrock whilst being relatively short. GitHub already provides a section for contributor insights here: https://github.com/mozilla/bedrock/graphs/contributors

[2021-10-05 08:57] #9920 closed

[2021-10-05 08:59] #9569 closed

[2021-10-05 09:00] #8880 closed

[2021-10-05 09:01] #8408 closed

[2021-10-05 17:02] #10506 closed

[2021-10-05 23:05] slightlyoffbeat commented on #10539
Looks good. Added do-not-merge per Lauren's email as we talk to legal and finance to make sure we communicate this as clearly and transparently as possible.

[2021-10-06 08:10] alexgibson opened #10552 "Firefox Focus page still has some incorrect / outdated logos"
## Description

I noticed one outdated logo on iOS, and the favicon is incorrect.

### Steps to reproduce

On desktop:

1. Visit https://www.mozilla.org/en-US/firefox/browsers/mobile/focus/
2. Note the favicon in the active tab.

On an iOS/Android device:

1. Visit https://www.mozilla.org/en-US/firefox/browsers/mobile/focus/
2. Note the mobile-app banner that appears at the top of the page.

### E

[2021-10-06 14:20] slightlyoffbeat commented on #10329
@alexgibson i've been asking around and I have not found a good contact for this. Lets remove for now.

[2021-10-06 14:53] maureenlholland commented on #10469
Test run looks good, but too noisy with all the division operator warnings. This will be reduced considerably when the next Protocol version arrives:  https://github.com/mozilla/protocol/pull/726

Will also do division cleanup in bedrock styles before continuing here.

[2021-10-06 16:06] craigcook commented on #10552
The opengraph image is also the old logo. I can make a new one, and I have the app icon as well.

[2021-10-06 19:02] craigcook commented on #10552
@Ayushsunny thanks for offering to help but since this is a bug already live in production we want to get it fixed quickly so I'm going to work on it and will a PR ready soon. Sorry!

[2021-10-07 03:08] slightlyoffbeat opened #10556 "Sunset research.mozilla.org"
## Description

research.mozilla.org is mostly focused on Emerging Technologies and a research program that no longer exists.

Instead of updating this site, my recommendation that we take it down. We can leave the site on wpengine if there is desire to bring it back in the future.

#### Tasks
- [ ] Check Google Analytics to identify remaining traffic sources.
- [ ] Search mozilla.org and compile

[2021-10-07 03:12] slightlyoffbeat opened #10557 "Sunset labs.mozilla.org"
### Description

labs.mozilla.org is mostly focused on Emerging Technologies initiatives and outdated information. Although Mozilla will always be working on new ideas and technologies, this site no longer has an owner and my recommendation is to sunset.

#### Tasks

- [ ] SEO insights and recommendations (URLs to forward, flags, etc)
- [ ] Search mozilla.org and compile a list of anywhere we link

[2021-10-07 03:23] slightlyoffbeat opened #10558 "Q4 2021 - Update Firefox compare pages"
## Description

Browsers are always being updated. We need to check all of our compare pages to ensure they are still factually correct and update as needed.

Updates will be provided by PMM team. This issue will be updated when it is ready to work on.

---

#### Pages to check
- [ ] /firefox/browsers/compare/
- [ ] /firefox/browsers/compare/chrome/
- [ ] /firefox/browsers/compare/edge/
- [ ] /fir

[2021-10-07 03:44] slightlyoffbeat opened #10559 "Create re-usable system for determining when or when not to trigger VPN A/B tests"
## Description

There are several teams running a variety of tests on VPN. This includes the activation team (paid search, etc), product team (sending users from firefox to VPN) and the websites team (CRO tests).

We do not want to place users into our A/B tests if they are already coming from certain sources, or are already in a test.

Historically, we have put rules into individual tests (ex: do

[2021-10-07 04:03] slightlyoffbeat opened #10560 "Feature VPN at top of mozilla.org homepage"
## Description

From now until Nov 2 (MR2) we should feature VPN at the top of mozilla.org. Lets keep this very simple.

- remove the Firefox MR1 unit (but keep ready to bring back Nov 2)
- Move the VPN unit to top of page
- Add a Firefox unit in the spot where the VPN unit was before moving it to the top.

Rough design:

![Screenshot 2021-10-06 at 20-57-48 Internet for people, not profit](https:/

[2021-10-07 04:10] slightlyoffbeat opened #10561 "Change extension recommendation on firefox/browsers/compare/brave/"
## Description

There is a line at the bottom of the page:

That is, unless you install one of the extensions specifically designed for that purpose.

This currently links to adblock-plus. We need to instead link to https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/

[2021-10-07 04:36] slightlyoffbeat opened #10563 "EPIC: Update mozilla.org for MR2"
## Description

This issue will be updated as we get more info.

Go Live: November 2nd.

Requested updates include:
- landing page for MR2. Current recommendation is a variation of /new with updated headline and MR2 image.
- 4 landing pages for facebook ads. This will use the new custom landing page designs Elise worked on. Everything will be the same between the 4 pages except for the headlines
-

[2021-10-07 04:40] slightlyoffbeat opened #10564 "Update mozilla.org for Firefox Relay"
## Description

There is a request to include Firefox relay in some of the user discovery surfaces on Mozilla.org.

This issue needs design and more info and will be updated when available.

Go live: Oct 27

Requested changes:
- Add a unit below pocket and VPN on mozilla.org homepage
- Add to /firefox/products/

---

#### Success Criteria
- [ ] TBD

[2021-10-07 13:48] alexgibson opened #10566 "Evaluate a front-end JS framework for bedrock"
## Description

Whilst most of the content we create is rendered server-side, occasionally we need to create interactive components that are almost entirely dependent on JS and need to manage some kind of state. Some examples might include:

- A custom pop up or notification.
- An interactive form or widget.
- Conditional messaging based on a set criteria (e.g user agent, FxA sign in state).

Usin

[2021-10-07 21:28] #10561 closed, assigned to reemhamz

[2021-10-08 11:45] #10459 closed

[2021-10-08 15:07] #10468 closed

[2021-10-08 15:23] stevejalim opened #10570 "Add isort support to Bedrock"
## Description

As part of improving our auto-formatting and linting checks, it makes sense to add `isort` support to complement `black` and `prettier`

This work will involve:
* adding isort as a dev dependency
* adding appropriate/sensible config
* applying it to the entire codebase

---

#### Success Criteria
- [ ] `isort` is available to run independently, ideally via a makefile command
- [ ]

[2021-10-08 15:43] st3fan opened #10571 "Do not show the Firefox iOS App Store banner when using Firefox iOS"
## Description

When I visit www.mozilla.org from an iPhone running Firefox for iOS, the website is showing me a banner asking me to install Firefox for iOS from the App Store.

I don't think this happened before. It is possible that something changed in iOS 15 or recently in Firefox iOS that caused the browser detection to fail?

### Steps to reproduce

Visit https://www.mozilla.org using Firefox

[2021-10-08 15:44] alexgibson opened #10572 "Add image optimisation to Webpack config"
## Description

Now we've migrated to Webpack, we can use something like [image-minimizer-webpack-plugin](https://github.com/webpack-contrib/image-minimizer-webpack-plugin) to help automatically optimise images as part of our build step.

---

#### Success Criteria
- [ ] Images added to the repo are optimised automatically

[2021-10-11 11:01] alexgibson commented on #10559
Suggest adding:

- `automation=true` (to exclude automated tests)
- `experiment` (stub attribution experiments)
- `variation` (stub attribution experiments)

[2021-10-11 16:51] stevejalim opened #10575 "Allow black to format migrations files"
## Description

While working in #10570, code review discussions highlighted a reason to _not_ exclude migration files from `black`'s reach (it will make migrations easier to read for zero effort because pre-commit will do the work). So let's do that. It will also make this behaviour consistent with how isort runs.

---

#### Success Criteria
- [x] The project config for `black` no longer skips th

[2021-10-11 17:08] #10570 closed, assigned to stevejalim

[2021-10-12 12:14] #10572 closed, assigned to alexgibson

[2021-10-12 13:37] alexgibson opened #10580 "Optimise images on /firefox/privacy/book/ page"
## Description

The following page weighs in at a surprising 5.58MB: https://www.mozilla.org/en-US/firefox/privacy/book/

Requests are almost entirely images:

<img width="792" alt="image" src="https://user-images.githubusercontent.com/400117/136964868-22ac94f7-6a6d-4c31-b412-465fd44b47fd.png">

Some assets, such as `privacy-book-arrow-on-face.png` weigh in at over 1MB each.

There is likely a bit

[2021-10-12 15:00] alexgibson commented on #7426
I can no longer reproduce this

[2021-10-12 16:02] alexgibson opened #10582 "Error thrown by `isFirefoxUpToDate` when no version number is found"
## Description

We see a fair number of errors in [Sentry](https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/13159060/?query=is%3Aunresolved%20isFirefoxUpToDate) for a function called [isFirefoxUpToDate()](https://github.com/mozilla/bedrock/blob/master/media/js/base/mozilla-client.js#L214). The error is usually along the lines of `i.match(...) is null`, which at an initial guess is [th

[2021-10-12 18:09] joneskj55 commented on #10580
Hi @alexgibson I'd like to take this on. I have a few ideas on how to optimize the images and enhance the performance of this page.

[2021-10-12 19:08] slightlyoffbeat commented on #10556
I'd be good to remove all of those links instead of replacing for now. In the future, we can explore ways to resurface information around our efforts and contributions for things like servo and rust.

As far as forwarding, my current recommendation is simply to redirect all research.mozilla.org links to mozilla.org

[2021-10-13 01:41] slightlyoffbeat commented on #10556
@reemhamz yes, lets go ahead and remove those links.

Craig can confirm, but It looks like we can simply remove for now and not worry about replacing

[2021-10-13 01:47] slightlyoffbeat commented on #10556
As for the site itself. I'm proposing the following after an internal conversation with stakeholders:

1. make the publication page the primary/homepage of research.mozilla.org
2. unpublish all the other pages.
3. set up a few redirects for the pages that will be depublished (although I believe Wordpress handles this automatically)

[2021-10-13 05:05] l-hedgehog opened #10584 "FTL string ids shown in some `/whatsnew/china/` pages"
## Description

As described in the title.

### Steps to reproduce

Beta:
https://www.mozilla.org/en-US/firefox/94.0b3/whatsnew/china/?oldversion=93.0
DevEdition:
https://www.mozilla.org/en-US/firefox/94.0a2/whatsnew/china/?oldversion=93.0
Nightly:
https://www.mozilla.org/en-US/firefox/94.0a1/whatsnew/china/?oldversion=93.0

### Expected result

Strings from ftl files shown, like their `/whatsnew/

[2021-10-13 08:57] l-hedgehog commented on #10584
@craigcook & @alexgibson Thank you for the quick fix!

[2021-10-13 09:26] nikhils4 commented on #10251
@nathan-barrett Just a heads up on the status, I have done the setup and seems to work just fine locally, I am on it and will be giving a fix soon. 🤞🏻

[2021-10-13 09:44] #10575 closed, assigned to nobody

[2021-10-13 10:15] stevejalim commented on #9682
Yeah, happy to chat about this. While spelunking the codebase, I came across [VariationMixin](https://github.com/mozilla/bedrock/blob/master/bedrock/utils/views.py#L8) which, in parts, might combine well with the waffle work done in https://github.com/mozilla/bedrock/pull/9622/

[2021-10-13 12:35] stevejalim opened #10586 "Fix error for Chinese WNP"
Sentry is showing that something's hiccuping on the Chinese WNP for some versions of FF.

https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/13753596/?referrer=alert_email

Needs a tweak to stop this happening ASAP

[2021-10-13 13:24] #10586 closed, assigned to nobody

[2021-10-13 15:23] alexgibson opened #10588 "Remove Yarn as a dependency"
## Description

We added Yarn as a dependency for installing NPM packages in bedrock some years ago. This was mostly because Yarn created a lockfile of dependencies to make installs more predictable, which as a feature was ahead of NPM at that time. Since then, I believe NPM has caught up in this respect and now creates an equivalent lockfile of its own.

We should remove Yarn as a dependency, rat

[2021-10-13 18:44] pmac opened #10590 "Remove whats-new-page geo redirects"
Now that we've implemented changes to our CDN such that we can use country information in views and still cache the responses, we can re-combine all of our whats-new-pages into a single view and add the country logic in there.

[2021-10-14 08:32] alexgibson opened #10591 "Update to Selenium 4"
## Description

Selenium 4 has been [oficially released](https://www.selenium.dev/blog/2021/announcing-selenium-4/). The blog post describes it as a "drop in" update that should be largely backward-compatible, but we might need to wait until dependencies such as docker-selenium / SauceLabs supports it also.

---

#### Success Criteria
- [ ] Functional tests are updated to use Selenium 4.

[2021-10-14 10:42] stevejalim opened #10593 "Split Sentry into FE and BE buckets"
## Description

At the moment, all Bedrock's Sentry logging goes into one place, whether it's backend or frontend.

To make spotting and triaging issues easier, it seems sensible to split them into two projects - eg `bedrock-{dev|stage|prod}-frontend` and `bedrock-{dev|stage|prod}-backend`.

---

#### Success Criteria
- [ ] Separate, working, FE and BE projects exist in bedrock for each of dev, st

[2021-10-14 15:35] slightlyoffbeat commented on #10211
@slightlyoffbeat lets get access to the pocket repo to get the pre-compiled styles

[2021-10-14 23:37] slightlyoffbeat commented on #10559
@alexgibson good for the time being.

[2021-10-14 23:55] slightlyoffbeat opened #10598 "Build a contentful-powered landing page for instagram links"
## Description

We were approached with an idea for a project to create our own linktree for instagram that is GDRP compliant and lives on our website.

Brief: https://docs.google.com/document/d/1YZrgiL3j4UnW9tArKSoEMMvxCC5UCr3ibNE1obYxe6E/edit?usp=sharing

---

[2021-10-15 00:22] slightlyoffbeat commented on #10560
Lets not worry about a Firefox unit for now. Lets simply:
1. remove the firefox promo at the top of the page (but keep in bedrock because it will be re-used for MR2
2. move the VPN unit to the top of the page

[2021-10-15 23:41] slightlyoffbeat commented on #10564
Here is a copy doc for relay.mozilla.org: https://docs.google.com/document/d/1uMdVUbPQ6_4h051N-sfO6tZaQV4L0D5CSUY3cA66i64/edit?usp=sharing

It needs final approval.

Now that the EN homepage is managed by contentful, we can remove that from the tasks on this issue. I'll create a separate issue.

[2021-10-15 23:42] slightlyoffbeat commented on #10564
Note that this does not go live until Oct 27. But the l10n team has asked us to start early on this in order to start translations because they have a lot of translations across multiple properties for this release.

[2021-10-16 06:08] Ayushsunny commented on #10588
Hi @alexgibson Can I take this one?

[2021-10-18 08:35] alexgibson opened #10605 "/firefox/new/ page for RU locale throws 500 error"
## Description

https://www-dev.allizom.org/ru/firefox/new/

Caught by test failure: https://gitlab.com/mozmeao/www-config/-/jobs/1687954501

https://sentry.prod.mozaws.net/operations/bedrock-dev/issues/13853579/?query=is%3Aunresolved

[code]

[2021-10-18 08:52] alexgibson opened #10607 "Use server-side geo for /ru/firefox/new/ Yandex template"
## Description

We show a special Yandex themed template to visitors located in Russia who are coming to our site to download Firefox.

Now that we have server-side geo in place, we can simplify how we do this by handling it in the view, as opposed to client side using JS.

https://www.mozilla.org/ru/firefox/new/?geo=ru

---

#### Success Criteria
- [ ] Yandex template is displayed using server-si

[2021-10-18 09:29] #10605 closed, assigned to nobody

[2021-10-18 11:50] #10120 closed

[2021-10-19 11:06] #10559 closed

[2021-10-19 18:05] robhudson opened #10613 "Upgrade to Django 3.2 LTS before April 2022"
## Description

Django 2.2 LTS ends long term support on April 2022. The next LTS version of Django is 3.2.

[2021-10-20 08:19] stevejalim opened #10614 "Automatically add MPL licence via pre-commit hook"
## Description

To ensure all Bedrock files have the MPL in them, we can add a pre-commit hook to update any files which are being added or edited. This will help plug any gaps as we go.

Hat-tip to @robhudson for pointing out this very useful pre-commit hook: https://github.com/Lucas-C/pre-commit-hooks#insert-license

---

#### Success Criteria
- [x] Pre-commit hook installed and works for Python

[2021-10-20 09:00] alexgibson opened #10615 "Remove google domains from Sentry JS allowList"
## Description

In Sentry JS we specify an `allowList` of matching URLs for which we accept JS errors. Currently this list includes both `https://www.googletagmanager.com/` and `https://www.google-analytics.com/`, since that's what we use for analytics JS.

It appears that the inclusion of these URLs migth be a cause of increased noise triggered by unactionable errors from various user extensions,

[2021-10-21 01:09] slightlyoffbeat opened #10620 "Homepage update for MR2"
## Description

A part of this Epic: #10563

Featured mobile section will be for dev.

All other changes will happen through contentful.

Copy & Design:

https://drive.google.com/open?id=17ttn6j7Y73AKZm8H19lRx8X8Mup-ZuUy&authuser=mham%40mozilla.com&usp=drive_fs

And Figma file here (includes copy):

https://www.figma.com/file/fyK3Ptys7HdQX7eDBBA5vb/MR2-Visual-Guidelines-Copy?node-id=654%3A3457

--

[2021-10-21 09:21] alexgibson commented on #10539
@slightlyoffbeat is this something that's still happening? Can we close this issue / PR if not? Thanks

[2021-10-21 14:54] alexgibson opened #10622 "Footer links for Android Nightly / Beta are incorrect"
## Description

Describe the issue that you're seeing.

### Steps to reproduce

1. Visit https://www.mozilla.org/en-US/
2. Scroll down to the footer
3. Click on either "Beta for Android" of "Nightly for Android" links under "Developer"

### Expected result

The links should go to:

- Beta https://www.mozilla.org/en-US/firefox/channel/android/#beta
- Nightly https://www.mozilla.org/en-US/firefox/ch

[2021-10-22 09:14] #10588 closed, assigned to nobody

[2021-10-22 12:09] #10614 closed, assigned to nobody

[2021-10-22 14:11] stevejalim opened #10627 "Epic: Improve reslilence and monitoring of DB updates"
Following on from the SQS/Contentful work for #10544 we want to improve the observability of our data-updating tasks

##### Success criteria
- [ ] Each step of the DB update script should log to Sentry if it fails - https://github.com/mozilla/bedrock/issues/10813
- [ ] Each step of the DB update script should not block the others from running, and we trigger a snitch on success, so we can confirm

[2021-10-22 15:46] alexgibson opened #10628 "Change sidebar source order for privacy pages"
## Description

The collapsible [sidebar](https://protocol.mozilla.org/patterns/templates/main-with-sidebar.html) in the Mozilla [privacy pages](https://www.mozilla.org/en-US/privacy/) causes a lot of cumulative layout shift (CLS) on mobile browsers, which is not a great user experience for people on slower connections.

<img width="738" alt="image" src="https://user-images.githubusercontent.com/4

[2021-10-22 17:56] craigcook opened #10629 "Facebook Container video shows outdated branding"
## Description
The video on https://www.mozilla.org/en-US/firefox/facebookcontainer/ was created a few years ago and shows the old Firefox UI, the old Firefox logo, and uses the old Firefox brand font (Fira).

We should update the video, or maybe remove it and replace it with some other graphic.

[2021-10-25 05:56] slightlyoffbeat opened #10630 "Add horizontal logos to hero component in Contentful"
## Description

The hero component content type in Contentful needs to be updated to use horizontal logos. It should include:

- VPN
- Firefox Relay
- Firefox Desktop
- Pocket

[2021-10-25 11:32] stevejalim opened #10631 "Reintroduce Python code coverage metrics during CI"
## Description

We used to run coverage checks during CI. It would be good to get it back into the project in general, and ideally in CI, too

---

#### Success Criteria
- [x] Python code is checked during local test runs and reported on
- [x] Coverage results are browsable locally, at least
- [x] Coverage reports generated during CI are browsable online

[2021-10-25 11:33] piatra opened #10632 "Host image asset for user messaging campaign"
Similar to #10457 we would need to remotely host an asset for a messaging campaign we're doing in Firefox 93 ([details here](https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=150537044)).
The asset is this an svg (github won't let me upload svg it here so I changed the extension): change the extension of this file back to `.svg` or ping me over slack to provide it separately.
![umbrella](

[2021-10-25 14:04] #10615 closed, assigned to nobody

[2021-10-25 15:32] punster-moz opened #10633 "Update VPN landing paging to reflect support for Windows 11"
## Description

Windows 11 released 10/5. Our QA verified the compatibilty. We can now inform users that WIndows 11 is supported.

---

#### Success Criteria
Landing page indicates Windows 11 is supported.

[2021-10-25 19:27] #10632 closed, assigned to nobody

[2021-10-25 19:42] stevejalim opened #10638 "Remove magic IDs from proof-of-concept Contentful integration"
## Description

For the Contentful-powered homepage, it was fine to hard-code the page IDs as part of a proof-of-concept piece. However, looking ahead, we need to devise a clean solution to mapping Contentful Page IDs to specific page paths/URLs in mozilla.org - ie, move away from hard-coded vars from the prototype

---

#### Success Criteria
- [ ] The Contentful integration avoids hard-coded page

[2021-10-25 19:43] stevejalim opened #10639 "Improve test coverage for the Contentful integration"
#### Success Criteria
- [ ] At least 75% test coverage exists for the `contentful` app in Bedrock

[2021-10-26 05:00] slightlyoffbeat opened #10642 "Add Firefox Relay to sticky promo"
## Description

Firefox Relay should be added to the sticky promo on mozilla.org.

It can link to:

https://relay.firefox.com/?utm_source=www.mozilla.org&utm_medium=referral&utm_campaign=sticky-promo

---

It can go live as soon as it is ready.

<img width="537" alt="image" src="https://user-images.githubusercontent.com/2030656/138811717-3c06489b-a904-4cfd-82bb-23abe99cac73.png">

[2021-10-26 05:11] slightlyoffbeat opened #10643 "MR2 Copy & Image updates for /firefox & /firefox/mobile"
## Description

A part of epic #10563

Copy and images have been delivered for mozilla.org. Relevant links are below. Please reach out to @slightlyoffbeat or the copy/design stakeholders with questions or for clarification.

Copy changes: https://docs.google.com/document/d/1PEsHyYWwMOgg65K93fvAvnZ5C1LLDPO_iz-jJf1mFYc/edit

Updated images Parent Directory – https://drive.google.com/drive/folders/17

[2021-10-27 23:23] #10643 closed, assigned to nathan-barrett

[2021-10-28 10:05] maureenlholland opened #10647 "Add Protocol path example in Working with Protocol section"
ℹ️ Relevant docs:
General bedrock install: https://bedrock.readthedocs.io/en/latest/install.html
Working with bedrock documentation: https://bedrock.readthedocs.io/en/latest/install.html#documentation
rST Markup**: https://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html

** OR we could split this section out into a new page and then it'd be easier to use markdown (I think right now

[2021-10-28 20:24] pmac opened #10650 "Add Contentful management to the VPN Resource Center"
## Description

In #10504 we're adding the look and feel for the VRC, but in this task we add the Contentful backend to manage those pages. This involves several things we should do:

- The pages for this will be created with the Contentful Compose, which means that we'll need to load the new `page` content type. This type has a few fields, one of which is `seo` that links to an `seo` type object

[2021-11-01 09:12] alexgibson commented on #10535
The above URLs are fixed on staging for me, but not yet on prod. @birdsarah is there likely to be a deployment this week?

[2021-11-01 10:09] alexgibson commented on #10433
There has been little to no movement on the above issues over the last week, so I'mn going to move ahead with this rather than wait any longer.

[2021-11-01 10:49] alexgibson commented on #9144
The current ESR at https://www.mozilla.org/en-US/firefox/enterprise/ is v78, so I think once ESR v91 is released we can remove the old code here.

[2021-11-01 10:52] alexgibson commented on #9144
Oh, it looks like ESR v91 is already available (both versions are currently showing at https://www.mozilla.org/en-US/firefox/all/#product-desktop-esr), so I think we can likely do this in Q1 2022.

[2021-11-01 11:45] #10642 closed

[2021-11-01 11:48] #10633 closed

[2021-11-01 12:01] alexgibson commented on #10539
@slightlyoffbeat I'm guessing seeing as it's November and this wasn't taken any further, we can close it?

[2021-11-01 12:26] alexgibson opened #10653 "MR2 home page promo for DE/FR"
## Description

The EU team would like to display a custom MR2 promo for German / French on the mozorg home page, similar to https://www-dev.allizom.org/en-US/

New copy and localized screenshots will be added here shortly.

---

#### Success Criteria
- [x] MR2 home page promo is displayed for German and French audiences.

[2021-11-01 12:58] alexgibson commented on #10653
Assets: https://drive.google.com/drive/u/0/folders/1uBlso7mHdVYfLMuSzwetyXleCgerDx9w

[2021-11-01 16:12] reemhamz commented on #10647
@maureenlholland, not a bad idea. I think for more organization's sake, it would be nice to include a new subsection that you mentioned, "Importing Styles & Macros" that briefly highlights why we do it and how we do it with an example, and then we can list the specific imports pertaining to the appropriate component listed

Here's what I'm thinking. Let me know your thoughts.

---

# Working with

[2021-11-01 16:13] stevejalim opened #10656 "Add SQS config to Bedrock dev"
## Description

Now we have support for SQS consumption in bedrock, rather than frequenent polling of Contentful directly, let's add SQS config to Bedrock dev so we can start using it

---

#### Success Criteria
- [ ] Dev has the contentful SQS queue configured
- [ ] Can see Dev's Contentful sync is triggered via SQS, with no errors

[2021-11-01 16:15] #10631 closed

[2021-11-01 16:24] stevejalim commented on #10638
This is folded into #10650

[2021-11-01 17:10] maureenlholland commented on #10647
@reemhamz Cool, two sections it is! I did want to separate Protocol styles from macros, because you can use one without the other, but I think otherwise we're on the same page here:

## Importing Styles and Components (H2)

Paragraph explaining how we import styles from Protocol and set variables in scss files to ensure we are only loading the styles we need for each page. Example of lib import an

[2021-11-01 17:58] Foggalong commented on #10166
To update for those also interested in the state of lockwise, I emailed Mozilla about this too and got a generic reply saying my query wasn't one they'd have time to reply to so who knows what's happening :shrug: