[2019-12-04 18:30] Errolyn commented on #8186
This would be my recommendation:
<img width="667" alt="Screen Shot 2019-12-04 at 10 29 23 AM" src="https://user-images.githubusercontent.com/1214589/70170165-ffb68c80-1680-11ea-85ca-43fb7ea36af8.png">

We remove the subscribe at the top, and leave the label using the same styling as the original subscribe.

[2019-12-04 18:41] cgonz0 commented on #8186
@Errolyn thanks for exploring those options. visually works better without the labels, so if we can hide those that'd be preferable

[2019-12-04 19:32] pascalchevrel opened #8252 "Update text on Nightly What's New page"
We need to update the text on the what's new page for nightly to match our 4 week release cycle.
We also need to remove the IRC part.

PR coming

[2019-12-04 19:48] Errolyn commented on #8186
This is what is looks like with all the changes:

![Screenshot_2019-12-04 Newsletter Subscriptions](https://user-images.githubusercontent.com/1214589/70175544-c5062180-168b-11ea-83f8-735c1931ad16.png)

[2019-12-04 19:54] hoosteeno commented on #8147
All browsers < 60 should get the older page.

https://mozilla.github.io/ecosystem-platform/docs/fxa-engineering/fxa-dev-process#browser-support

[2019-12-04 20:17] ejregithub commented on #8157
@craigcook - the full app Adjust link - https://bhqf.adj.st/?adjust_t=mclvdo7&adj_deeplink=lockwise%3A%2F%2F&adj_fallback=https%3A%2F%2Fwww.mozilla.org%2Fen-US%2Ffirefox%2Flockwise

I'll ask Liz to shorten it.

[2019-12-04 20:23] stephaniehobson commented on #8037
Hoosteno asked me to put together a exp version of the /new page with the navigation on it. I think that means he is thinking of using convert to forward users to the variant with the nav.

[2019-12-04 21:04] ejregithub commented on #8157
And here's that shortened link - https://mzl.la/2rTJ1Hq

[2019-12-04 21:59] cgonz0 commented on #8186
looks good to me

[2019-12-04 22:51] #8223 closed

[2019-12-04 23:04] stephaniehobson opened #8259 "Toggle icons on enterprise sla cut off"
The toggle icons on https://www.mozilla.org/en-US/firefox/enterprise/sla/#services are being cut off.

<img width="785" alt="Screen Shot 2019-12-04 at 15 03 55" src="https://user-images.githubusercontent.com/854701/70189147-5040e080-16a7-11ea-9888-5ceb29e81b60.png">

[2019-12-05 00:38] craigcook commented on #8259
the `background-size` here is being overridden by the `background` shorthand later in the cascade https://github.com/mozilla/bedrock/blob/master/media/css/firefox/enterprise/sla.scss#L144

My mistake. Easy fix BUT I also can't remember why I copied it over from Protocol instead of just using the Protocol component directly... there may have been a reason at the time that is no longer the case. May

[2019-12-05 00:56] #8231 closed

[2019-12-05 01:04] #6726 closed

[2019-12-05 10:59] alexgibson commented on #8157
Passing note: we went through quite a lot of effort to standardize how we use Adjust links across the site already, and built helpers to make them even easier. I'd encourage us to keep using that convention, as opposed to start introducing random URLs again each with diffeent behavior.

https://github.com/mozilla/bedrock/blob/master/bedrock/mozorg/templatetags/misc.py#L703

[2019-12-05 16:26] amychurchwell commented on #8170
@Shivansh2407 a PR for this issue has been opened, going to unassign you from this issue. Thanks again for your continued interest in bedrock!

[2019-12-05 16:52] tikhsuP commented on #8170
@amychurchwell, I found this issue interesting so I gave it a try, please review.
Do tell me if any changes are needed.
Thankyou.

[2019-12-05 16:53] #8245 closed

[2019-12-05 17:01] #8170 closed

[2019-12-05 19:03] ejregithub opened #8263 "Code - Lockwise CTA - Moments page - Welcome/5/"
See epic - https://github.com/mozilla/bedrock/issues/8157

Note the slug for the send-to-device widget is "lockwise-welcome-download"

[2019-12-05 19:03] ejregithub opened #8264 "Design - Lockwise CTA - Moments page - Welcome/5/"

[2019-12-05 19:03] ejregithub opened #8265 "Analytics/Measurements - Lockwise CTA - Moments page - Welcome/5/"

[2019-12-05 21:10] hoosteeno opened #8266 "Build a landing page for SMS referrals"
## Description

We should build a bare-bones SMS interface, identical to the SMS modal, that we can direct users to. It would resemble the (sync-signed-in) page at https://accounts.firefox.com/sms.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Interface is up at a URL such as www.mozilla.org/firefox/mobile/get-app/
- [x] Interface is localized in en-US only
- [x] Interface works

[2019-12-05 22:06] stephaniehobson commented on #8266
+1, I was just thinking it would be great to have a page like this to fall back to if the user has JS disabled.

[2019-12-05 22:07] stephaniehobson commented on #8266
Oh, but I guess it still needs an email fallback state if the user is outside of a SMS area.

[2019-12-06 01:06] craigcook commented on #8191
Done in https://github.com/mozmeao/www-config/pull/253

[2019-12-06 01:06] #8191 closed

[2019-12-06 16:02] #7452 closed

[2019-12-06 16:51] rantley commented on #7576
@ejregithub per @hoosteeno 's request I updated the copy here to align closer to the Firefox brand voice. After our call yesterday, I chatted with Raphael about scaling back (losing) the third person POV and he thought that was a fine compromise.

https://docs.google.com/document/d/1ASRLjRbGs2CDnKnYTder6DvK_lzIAuHNOhw2KkLzOx0/edit#heading=h.x2v9wtcveazf

[2019-12-06 17:35] ejregithub commented on #7577
Rob noted copy is WIP, not yet reviewed by Brand (updating now, 30 min send to Natalie)

[2019-12-06 17:36] ejregithub commented on #7580
Rob noted  - WIP, not yet reviewed by Brand (Working on, Will send to Brand on 12/9)

[2019-12-06 17:36] ejregithub commented on #7578
Rob noted - draft not started, will have ready for review on date (EOW 12/9)

[2019-12-06 17:36] ejregithub commented on #7579
Rob noted - draft not started, will have ready for review on date (EOW 12/9)

[2019-12-06 22:07] #8186 closed

[2019-12-06 22:34] #7372 closed

[2019-12-07 00:01] craigcook opened #8278 "Footer social links are misplaced on some Pebbles-based pages"
## Description

Some older pages still using Pebbles but with the new Firefox footer have the social links absolutely positioned, but they don't have the right the positioning context so they're being positioned relative to the window instead of the footer. They should appear below the language selector.

It's most prevalent on the Nightly whatsnew page:

![image](https://user-images.githubusercon

[2019-12-09 01:47] #8190 closed

[2019-12-09 17:15] #7699 closed

[2019-12-09 17:54] ejregithub commented on #8266
@alexgibson - do you think you could take this one on - noting the success criterion of "launched, online, tested by 2019-12-13" - @stephaniehobson - could I ask you to allocate time to do the code review for this?

[2019-12-09 18:04] alexgibson commented on #8266
I have some questions:

1.) SMS is only available in certain countries, else the form falls back to email only. Are we sure we want to call the page mobile/sms?
2.) There is no proposed design or copy in the issue. Is the ask just to make something up?
3.) For locales who don’t have these newsletters/messages localized, what is the proposed fallback, QR Code?

[2019-12-09 18:13] alexgibson commented on #8266
To be clear:

I'm happy just to run with the above and work things out. I just want to make sure I'm not missing anything here (like designs or copy, or more detail), to save confusion.

[2019-12-09 18:26] hoosteeno commented on #8266
How about `mobile/get-mobile/` ?

We can copy the widget from /mobile entirely, and put in the center of the page on a white background:

![Screen Shot 2019-12-09 at 11 12 03 AM](https://user-images.githubusercontent.com/94519/70461801-b5654f00-1a76-11ea-898f-57e437ae5996.png)

Yes. Do we need to put together designs/copy/funnels for this?

[2019-12-09 18:29] alexgibson commented on #8266
I'd say for now I can just put something together on demo. We'll get some light design feedback, and iterate from there.

Thanks for the extra info!

[2019-12-09 18:50] ejregithub opened #8283 "/new experiment - long content - Build spec/test plan"
***Tasks***
- [x] Create the spec/test plan for this a/b test of long from content in the /new page - @sghoseWI

[2019-12-09 18:50] ejregithub opened #8284 "/new experiment - long content - Analyze the results of the /new long form content"

[2019-12-09 18:50] ejregithub opened #8285 "/new test - long form content - Code"
David Tenser's team is going to provide the required elements to launch a test on /new involving 'long content'

This card is for the coding (and code review) tasks for this experiment

***Tasks***
- [ ] code the content
- [ ] configure the experiment (Convert or TrafficCop)
- [ ] code review
- [ ] merge, push

[2019-12-09 23:00] cgonz0 commented on #8264
![Momentsv5_mockup.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/742fbbcd-2f6e-4df0-a17f-d7129f80c170)

[2019-12-09 23:07] hoosteeno commented on #8037
I have built an a/b test in Convert that needs review and, if good, merging/enabling/traffic sending in prod. @alexgibson , couldya?

Notes:
* The redirect code is in the `custom javascript` input for each variation, and when we're ready to enable, we need to change it to redirect to prod URLs.
* You can trigger the experiment by visiting https://www.allizom.org/en-US/exp/firefox/new/; you should

[2019-12-10 00:00] ejregithub commented on #8264
Nice, @cgonz0. Is this considered ready for stakeholder review?

[2019-12-10 00:11] cgonz0 commented on #8264
@ejregithub yes, this approved on the design side.

[2019-12-10 00:21] #8278 closed

[2019-12-10 00:49] #7840 closed

[2019-12-10 02:34] rantley commented on #7580
@ejregithub sent to Natalie this evening. https://docs.google.com/document/d/1zSMcQwsHJkrrxJ4X9x7jZmwbWCpdG6Cq66FcvZI0Dsk/edit?usp=sharing

[2019-12-10 02:35] jgmize commented on #6794
This was completed by https://github.com/mozilla/bedrock/pull/8222

[2019-12-10 02:35] #6794 closed

[2019-12-10 09:13] alexgibson commented on #8200
Adding a blocker on the outcome of https://bugzilla.mozilla.org/show_bug.cgi?id=1601662

[2019-12-10 09:51] alexgibson commented on #8037
Some notes from review:

- We probably could have built this experiment without requiring an entirely separate URL using `/nav/`. This works though, and is now in production so let's use it. We'll need to remember to decomission the URL once the experiment is over and redirect it.
- The redirects currently wipe out URL params should they exist in the originating request. For example, `https://www.

[2019-12-10 09:58] alexgibson opened #8290 "Update /exp/firefox/new/ with skyline branding."
## Description

We need to find a window between experiments running in order to update the page at [/exp/firefox/new/](https://www.mozilla.org/en-US/exp/firefox/new/) with the more recent [skyline branding](https://www.mozilla.org/en-US/firefox/new/).

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Experimental page is updated to match the main /new/ page.

#### :heavy_exclamation

[2019-12-10 09:58] alexgibson commented on #8290
/cc @hoosteeno ^

[2019-12-10 10:18] alexgibson commented on #8037
Another question:

- The `/nav/` variation includes the secondary download button in the header. We may want to consider hiding it, since the main download button [on /new/](https://www.allizom.org/en-US/firefox/new/) is a little different to other download buttons (it doesn't link to a locale neutral /thanks/ URL).

[2019-12-10 13:35] alexgibson commented on #8266
@hoosteeno this is now up on demo. I went for `/mobile/get-app/` which seems like another useful keyword (as opposed to repeating mobile again):

https://www-demo3.allizom.org/en-US/firefox/mobile/get-app/

Let me know if this looks OK or if we need any changes. Thanks

[2019-12-10 14:18] alexgibson commented on #8250
@hoosteeno @sghoseWI please note I'm standardizing the data attributes we use here, as per [our docs](https://bedrock.readthedocs.io/en/latest/analytics.html):

[code]

[2019-12-10 15:59] alexgibson opened #8293 "Firefox logo truncated on /mobile for some RTL languages"
## Description

The Firefox logo on /firefox/mobile/ is truncated at medium screen widths for some RTL locales. This may be more prevalent for locales such as Arabic, which have larger line-heights by default.

### Steps to reproduce

1. Visit https://www-dev.allizom.org/ar/firefox/mobile/
2. Resize the browser window to around 960px.

### Expected result

The logo should not be truncated.

### Ac

[2019-12-10 16:06] hoosteeno commented on #8037
@agibson, I think the minor data loss associated with losing incoming params is acceptable.

@sghose, can you specify % of traffic per variation, and then we'll direct 2x that to the sandbox?

@shobson, would you be up for hiding the nav CTA button for this experiment on the /nav variation? If we graduate the /nav variation to prod, we can figure out how to fix that button more long term.

[2019-12-10 16:29] alexgibson commented on #8037
I opened a pull request to update the branding: https://github.com/mozilla/bedrock/pull/8294

This need not be a blocker to the experiment though (it can sit and wait until after if not essential)

[2019-12-10 17:02] alexgibson commented on #8037
PR to redirect 6% of traffic: https://github.com/mozmeao/www-workers/pull/6

[2019-12-10 17:06] alexgibson commented on #8037
I've enabled the redirector on https://www.allizom.org/en-US/firefox/new/ for 6%. We can flip this on for production once the experiment has been promoted to production.

[2019-12-10 17:45] hoosteeno commented on #8147
This page will be one of the first pages to be localized by our new localization system, so it's waiting for some [final work on that system](https://github.com/mozilla/bedrock/milestone/8) before it can land.

[2019-12-10 18:17] sghoseWI commented on #8283
Test plan: https://docs.google.com/document/d/1cKw1Z7TddHYglhN6lr1CpQwa5BXF9krCaLRbrfeLAYs/edit

[2019-12-10 18:20] hoosteeno commented on #8126
@ejregithub we need to specify the localization approach for this page. What locales are we hoping it will show up for? Recall that we can localize for de, fr with staff; we can localize for 16-ish other locales with vendors; and we can localize for the rest of locales with community.

[2019-12-10 18:23] hoosteeno commented on #8126
The experiment plan is here: https://docs.google.com/document/d/1qQVvOPlz-E5ZRWrRUxFnzGsFwQ0mZ9rs_dTeT92P9VA/edit

[2019-12-10 20:41] ejregithub commented on #8266
@amychurchwell - there's a very tight due date on this work (go live Friday, but QA needs to test sooner than that).  Can you please start code review, familiarizing yourself with the PR?

[2019-12-10 21:44] hoosteeno commented on #8037
@alexgibson If this issue is still open when you're back online, would you help push it over the finish line? I think all the loose ends are ready to tie up.

[2019-12-10 22:28] brynneh opened #8297 "Add "Other" to the email pref language drop down"
We'd like to add "other" to the email preference page language drop down. This should *only* display for people who have "other" set as their language in SFDC and *not* as an option for people who already have one of the supported 9 languages chosen (i.e. we don't want someone switching from "DE" to "Other").

[2019-12-10 22:31] stephaniehobson opened #8298 "Landing pages for Browsers and Products"
## Description

Add two landing pages, one for our browsers and one for our products.

The plan is to open all for localization. My thoughts on how to launch it is to put the pages into production for a few weeks for translation (this might take a while with the upcoming holidays) and then add the links to the navigation and other appropriate places.

---

#### :yellow_heart: Success Criteria :yel

[2019-12-10 23:49] ejregithub commented on #7576
Noting that copy changes were not substantial, none in claims were made to necessitate additional legal review.  Closing this issue as done.

[2019-12-10 23:55] ejregithub commented on #7580
@rraue - did you get a look at this copy for Firefox vs. Opera?

[2019-12-11 10:18] alexgibson commented on #8037
I'll get this flipped on in prod just as soon as we've pushed removing the button to prod.

[2019-12-11 10:22] #7439 closed

[2019-12-11 10:44] alexgibson commented on #8196
Based on the discussion inyesterday's fluent/l10n status meeting, we agreed that we're unblocked on moving forward with reviewing & merging this PR.

The plan is to let this page live in production, showing in English only, until we get the L10n pipeline working. At that point we can file a separate issue for locale configuration and string extraction.

[2019-12-11 13:59] alexgibson commented on #8290
Blocked by https://github.com/mozilla/bedrock/issues/8037

[2019-12-11 14:50] rraue commented on #7580
I did, with just a small ask for change in the introduction.

[2019-12-11 14:56] alexgibson commented on #8037
@hoosteeno this experiment is now running in production and data is coming in.

[2019-12-11 14:58] alexgibson commented on #8147
Design here is done, so I think we can close this issue.

[2019-12-11 14:58] #8147 closed

[2019-12-11 15:45] ejregithub opened #8299 "WNP 72 - the 72 rapid release on 2020/01/07"
## Description

WNP 72 - the 72 rapid release on 2020/01/07 - we intended to reuse existing content, wholly, for this page (no new strings).

We will re-use the existing Welcome 4 page, verbatim (the .lang file)

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is live by 12/27

#### Tasks
- [x] File [bug w. releng](https://bugzilla.mozilla.org/show_bug.cgi?id=1604358)
- [x] Det

[2019-12-11 16:05] ejregithub opened #8300 "(Code Review) Update design in WNP template for India (content in EN)"
## Description

Originally done in #7552 - we need to maintain the same functionality while updating the content in the page.

New content is [here](https://drive.google.com/drive/folders/1zJbfgledNRHT5pGCfAP9TvWfVouWUeDE?usp=sharing) - use the ' india final' .psd file

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Is live

#### Tasks
- [ ] Code Review
- [ ] Ensure functionality t

[2019-12-11 16:07] amychurchwell opened #8301 "Remove tabzilla from bedrock."
## Description
![image](https://user-images.githubusercontent.com/30483988/70637806-b7e9b500-1bec-11ea-885d-94806ef1dfda.png)

Tabzilla was a universal tab for Mozilla websites.

[The repo is archived](https://github.com/mozilla/tabzilla/) and it is no longer used with our current branding. We should remove it and related assets from Bedrock.

It also utilizes `.less` which is being removed as a d

[2019-12-11 16:07] ejregithub opened #8302 "(Code review) Update design in WNP template for Indonesia"
## Description

Update the content in the Indonesian WNP for 72, featuring Firefox Lite

New content is [here](https://drive.google.com/drive/folders/1zJbfgledNRHT5pGCfAP9TvWfVouWUeDE?usp=sharing) - use the ' indonesia final' .psd file

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Is live on 12/27

#### Tasks
- [ ] Update the content

[2019-12-11 17:31] hoosteeno opened #8304 "Experiment closure: nav on /new"
## Description

In https://github.com/mozilla/bedrock/issues/8037 we built a Convert experiment that shows navigation on the /new page. It launched appx. 8am 2019-12-11. A week after that we should turn off the experiment, analyse its results, remove code artifacts, and file any follow ups.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Experiment off
- [x] Code artifacts (/new/na

[2019-12-11 17:32] ejregithub commented on #7561
Let's discuss a schedule for this.

[2019-12-11 17:32] #7576 closed

[2019-12-11 17:36] ejregithub commented on #8283
@rraue approved

[2019-12-11 17:53] hoosteeno opened #8305 "Move the WNP notification contents into their own language file"
## Description

We may want to use WNP-style notification messages on different templates, but we can't now because they share the same language file as the main body of the page.

We should create a language file for these that can standalone and be imported into other pages if needed.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Language file contents are moved into their own

[2019-12-11 17:56] #8266 closed

[2019-12-11 17:56] ejregithub commented on #8006
0.06% of chromebook users on www

[2019-12-11 18:07] hoosteeno commented on #8305
@Errolyn Thanks for the great suggestion. Feel free to pick this up in an upcoming sprint if you can.

[2019-12-11 20:11] hoosteeno commented on #8283
Approved.

[2019-12-11 20:14] hoosteeno commented on #8285
@alexgibson since you've been watching the nav on /new experiment, would you mind pitching your preferred approach to experiment segmentation here? I think Convert saves substantial time when it comes to connecting variations to measurements, but you were concerned about using it for redirects as we are on /nav. How do you think we should build this experiment?

[2019-12-11 20:17] alexgibson commented on #8285
@hoosteeno do we have an idea of what this new content looks like? That may help in deciding the best approach here.

[2019-12-11 20:24] hoosteeno commented on #8285
[Here is a work in progress](https://user-images.githubusercontent.com/94519/70657686-82a78c00-1c19-11ea-90fb-b5871562d005.jpg). It's not done; it's not ready for a lot of feedback. Included here only for estimation purposes.

[2019-12-11 20:31] hoosteeno opened #8307 "/new experiment with long-form content: Design"
## Description

We're designing an experiment for the /new page which includes a visual refresh (epic: https://github.com/mozilla/bedrock/issues/8035). This card is about the design work. @justinkropp, this is all yours.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Brand and Growth approved designs included here
- [ ] Developer reviewed/approved
- [ ] Product reviewed/approved

[2019-12-11 21:26] hoosteeno commented on #8006
When I use [a popular UA spoofing addon](https://addons.mozilla.org/en-US/firefox/addon/user-agent-string-switcher/?src=search) to send a Chromium OS user agent, I don't get the same message. Instead, I get this:

![image](https://user-images.githubusercontent.com/94519/70661607-e2099a00-1c21-11ea-8855-b5330cf56ac0.png)

I'd like to try to replicate the issue. @alexgibson, how did you replicate it

[2019-12-11 22:19] Errolyn commented on #8006
I talked with a could people with chromebooks and got a screenshot of what they  see:

On the "https://mozilla.org/en-US/ " page they see:
![downloadpage](https://user-images.githubusercontent.com/1214589/70665078-a6ba9b80-1c20-11ea-8368-98450a4a9bf1.png)

Then after clicking on the download button they get the thank you page which auto downloads the linux package:
![downloadingpage](https://user-

[2019-12-12 00:30] ejregithub opened #8308 "Welcome 4 page updates"
## Description

We need to make some speedy updates to ensure meaningful data can be gathered with the welcome 4 page launch

SMS countries - US, DE, FR

# Locales that should display the 'Send to Device' widget
SEND_TO_DEVICE_LOCALES = ['de', 'en-GB', 'en-US',
                          'es-AR', 'es-CL', 'es-ES', 'es-MX',
                          'fr', 'id', 'pl', 'pt-BR', 'ru', 'zh-TW']

Email l

[2019-12-12 00:39] pmac commented on #8308
basket changes should actually be done by the email team since they'll have to setup the new email message IDs in SFMC and Basket. I'm happy to review things though.

[2019-12-12 02:54] pmac opened #8309 "Remove adjust.com links"
Is it possible to avoid using adjust.com to link to our mobile products? It's on our [list of known trackers](https://github.com/disconnectme/disconnect-tracking-protection) used in Firefox tracking protection. I block that list on my network, and so none of the links work for me.

[2019-12-12 09:14] alexgibson commented on #8006
@hoosteeno @Errolyn looking into our [platform detection code](https://github.com/mozilla/bedrock/blob/master/media/js/base/site.js), I think the key here is a combination of `navigator.userAgent`, `navigator.platform`, and also [architecture type](https://github.com/mozilla/bedrock/blob/master/media/js/base/site.js#L86).

Some Chromebooks are built using arm processors, so whilst certain models m

[2019-12-12 09:37] alexgibson commented on #8285
Assuming ony the below the fold content is changing, i see three main options:

1. A developer codes this page (template available via a URL param), and then we do a redirect experiment in Convert (do-able, but makes review & QA fiddly as we have seen).
2. A developer codes this page, and then we do a traditional traffic cop A/B test (analysis config and reporting more complex).
3. A developer cod

[2019-12-12 10:00] alexgibson commented on #8309
I think this is something we should give some serious consideration. Even though navigating to adjust links via mozorg still works like normal in the majority of cases (things like TP or ublock won't directly prevent navigation to a website), adjust is still classified as a known tracker. It can also, on some platforms, provide a pretty [surprising UX](https://bugzilla.mozilla.org/show_bug.cgi?id=

[2019-12-12 11:49] hoosteeno commented on #8308
The slug for this new email is `firefox-mobile-welcome`.

[2019-12-12 11:51] hoosteeno commented on #8308
@ejregithub I know we determined that the page wasn't localized in es-MX, but I think we should continue to include es-MX in the list of locales someone could send a link in, because the page will probably be localized there someday. And meanwhile, if nobody sends a link there, no problem, right?

Does it belong on both SMS and email lists?

[2019-12-12 13:16] alexgibson commented on #8305
We may want to consider that we're on the cusp of transitioning to a new L10n system at the end of the year. This would be a great thing to do as we start afresh with /whatsnew. I've split out the common strings into a separate Fluent file in this PR: https://github.com/mozilla/bedrock/pull/8213

[2019-12-12 13:17] alexgibson commented on #8305
The above is not to say we shouldn't also do this with .lang, but hopefully before too long we'll not be doing WNP using the old system ^

[2019-12-12 13:57] alexgibson commented on #8201
There may be an opportunity to pay off some additional technical debt here.

Currently, all our FxA link macros default to including `service` and `context` params. This has historically been because FxA started off life as a Firefox only service. But since then, we have started showing FxA links to all browsers. This means those linke break (the sign up form throws errors), unless we remove the a

[2019-12-12 14:38] pascalchevrel opened #8310 "Firefox Nightly logo is blurry on first run and what's new pages"
## Description

The Firefox Nightly icon used is an upscaled 128x128 png. It looks bad on the Firstrun and Whatsnew pages:

https://www.mozilla.org/fr/firefox/73.0a1/whatsnew/all/
https://www.mozilla.org/en-US/firefox/nightly/firstrun/

I would like that we use an SVG icon on these pages

Here is the current png:
![image](https://user-images.githubusercontent.com/454375/70720892-f8345a80-1cf4-11ea

[2019-12-12 14:38] pascalchevrel commented on #8310
@craigcook what do you think? ^

[2019-12-12 16:54] rantley commented on #7580
Version Post Raphael and Natalie review

https://docs.google.com/document/d/1zSMcQwsHJkrrxJ4X9x7jZmwbWCpdG6Cq66FcvZI0Dsk/edit#

[2019-12-12 16:58] rantley commented on #7577
https://docs.google.com/document/d/1KpxsHVtge3bk5l8BYHz4E_UpWI4PR6sYcx5ZdTAifrI/edit#heading=h.232o7jq2u2hb

For @hoosteeno review

[2019-12-12 17:11] hoosteeno commented on #8308
The dev task here is

a) Update the message sets in https://github.com/mozilla/bedrock/blob/master/bedrock/settings/base.py#L1248-L1322 to include the new message and related config. The slug is above.
b) Update the code on the page to include QR codes for the new adjust URLs.
c) Update the code on the page to call the send to device widget with a message set (ref: https://github.com/mozilla/bedro

[2019-12-12 17:23] amychurchwell commented on #8308
![qr-code](https://user-images.githubusercontent.com/30483988/70734409-0c5e6480-1cc1-11ea-80b3-e2d72b797c13.png)
qr code from https://mzl.la/2PCKmdH

[2019-12-12 18:43] justinkropp commented on #8307
This experiment has been put on hold for 2019.

[2019-12-12 21:21] #8308 closed

[2019-12-12 22:01] hoosteeno commented on #8309
The adjust SDK is built into our mobile products[[1](https://firefox-source-docs.mozilla.org/mobile/android/adjust.html)]. Presently it is the only way we can know whether a marketing investment in mobile campaigns (e.g. building a new page on the website) turns into mobile installs. Interestingly, those docs say

I'll talk to adjust stakeholders.

[2019-12-12 22:24] cgonz0 commented on #8264
@craigcook
Updated mock w/ final copy
___
![Momentsv5_mockup_finalcopy.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/a04e18b7-2f7a-4adb-a793-935cddbc2412)

Assets
___
![momentsv5_icon1.svg](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/19b080aa-c79f-4d32-a718-154ffc10369d)
![momentsv5_icon2.svg](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/9e28

[2019-12-12 22:44] #8250 closed

[2019-12-13 22:17] ejregithub commented on #8265
Adjust links

Network | Campaign | Ad Group | Creative |  
-- | -- | -- | -- | --
Product Marketing | S2D | Email |   | https://bhqf.adj.st/?adjust_t=mclvdo7&adj_deeplink=lockwise%3A%2F%2F&adj_fallback=https%3A%2F%2Fwww.mozilla.org%2Fen-US%2Ffirefox%2Flockwise
Product Marketing | S2D | SMS |   | https://bhqf.adj.st/?adjust_t=plpx8dk&adj_deeplink=lockwise%3A%2F%2F&adj_fallback=https%3A%2F%2Fwww.moz

[2019-12-16 07:36] weslyhuang opened #8315 "Review/Merge/Push Firefox Lite Privacy Notice update (for adding YouTube DATA API)"
similar to #8228, we got Firefox Lite's privacy notice updated & localized (except zh-CN, which will be handled separately), and would like to reflect those changes to the web pages:

URL inventory = https://www.mozilla.org/privacy/firefox-lite/
Content available at https://github.com/mozilla/legal-docs/tree/master/firefox_lite_privacy_notice

And the expected publish due day is Dec. 19 PCT time.

[2019-12-16 07:38] weslyhuang commented on #8315
@alexgibson would you kindly help with this? also cc @peiying2 @ejregithub

Thank you!

[2019-12-16 09:13] #8301 closed

[2019-12-16 09:15] alexgibson commented on #8310
I don't think we need to add new assets to the repo for this as they are now sourced from Protocol directly. A more appropriately sized PNG may also be smaller than an SVG.

[2019-12-16 09:20] alexgibson commented on #8310
The two options are:

- Change `logo-lg-high-res.png` to `logo-xl-high-res.png`
- change `logo-lg-high-res.png` to `logo.svg`

Looking at the file size comparison, the SVG looks like it may be slightly smaller than a PNG at this size.

[2019-12-16 14:14] alexgibson commented on #8201
There's not much in the way of existing unit tests for this code, so I'm bumping this up to an 8 and also tackling https://github.com/mozilla/bedrock/issues/8212

[2019-12-16 16:01] ejregithub opened #8317 "Extract strings for main browser comparison page"

[2019-12-16 16:02] ejregithub opened #8318 "Extract strings for SEO browser comparison - Firefox vs Google Chrome"

[2019-12-16 16:02] ejregithub opened #8319 "Extract strings for SEO browser comparison pages"
The browser comparison pages are ready for string extraction. There are 5. This card is about extracting strings for all of them.

### Success criteria

Strings are extracted for the following comparison pages..
- [x] Safari
- [x] Opera
- [x] Edge
- [x] IE
- [x] Chrome

[2019-12-16 16:02] ejregithub opened #8320 "Extract strings for SEO browser comparison - Firefox vs Opera"

[2019-12-16 16:02] ejregithub opened #8321 "Extract strings for SEO browser comparison - Firefox vs Edge"

[2019-12-16 16:02] ejregithub opened #8322 "Extract strings for SEO browser comparison - Firefox vs IE"

[2019-12-16 18:59] wthayer opened #8323 "Level-4 Heading Font Size too Large"
## Description

On the [Root Store Policy](https://www.mozilla.org/en-US/about/governance/policies/security-group/certs/policy/) page, the level-4 (e.g. 3.1.2.2) headings are much larger than the level 1-3 headings, making the page difficult to read.

### Steps to reproduce
Navigate to https://www.mozilla.org/en-US/about/governance/policies/security-group/certs/policy/ in Firefox

### Expected res

[2019-12-16 19:10] craigcook commented on #8323
Those are actually `h5` and the root issue is that our basic article styles don't have sizes defined for `h5` or `h6` (see https://github.com/mozilla/protocol/blob/master/src/assets/sass/protocol/components/_article.scss). We can fix this upstream in Protocol.

[2019-12-16 21:14] rantley commented on #7578
@rraue for your review. @ejregithub **note:** the chromium based Edge browser isn't launching until next month, I wrote this as if it had already launched so it would have a longer shelf life.

https://docs.google.com/document/d/1QSX6lr2VSpLA8gb-Sbotiwb0AySntNCadBVXKly7UJY/edit?usp=sharing

[2019-12-16 21:16] rantley commented on #7579
@rraue @ejregithub

Here's the IE comparison
 https://docs.google.com/document/d/1tMtr1tU5c7kDvmRcnEUgjnAsNDrWYaM7yiTdQkZR5hw/edit?usp=sharing

[2019-12-16 23:12] hoosteeno commented on #7474
This capability is now needed for https://bugzilla.mozilla.org/show_bug.cgi?id=1406005. @pmac, @alexgibson , who can work on this and when might you be able? What can I do to make it easier?

[2019-12-17 03:20] pmac commented on #7474
I'm not the best for most of this work as it's modifying the client-side code to collect and send these new parameters to the signing service. I can help update the signing service if need be though. So I think @alexgibson will be the best one to take the first stab ab this and he can tag me in if he needs an assist with the back-end bits.

[2019-12-17 07:54] #7786 closed

[2019-12-17 10:57] PrachiSarda commented on #8174
If no one is working on it, can I take this up?

[2019-12-17 16:00] hoosteeno commented on #7474
The stub attribution service is wanting to see 'funnel_experiment' and 'funnel_variation' parameters:

https://github.com/mozilla-services/stubattribution/pull/95/files#diff-253081adbe418770bdbe47b1f11c8320R20-R21

Once these are built, we can design an experiment to put non-Fx UAs in them.

[2019-12-17 19:20] #8315 closed

[2019-12-17 19:56] Mardak commented on #7474
The `funnel_`-less keys are what ended up landing in Firefox, so the "utm_" stripping behavior will probably need to be updated before passing the data to stub attribution service and for hmac computation.

https://github.com/mozilla/bedrock/blob/67a2debdfcbd4a72cc3b5b0998a136aea7964704/bedrock/firefox/views.py#L95-L96

https://hg.mozilla.org/releases/mozilla-release/file/2c8be14a89c92e56dbfc10ad3

[2019-12-17 20:08] hoosteeno commented on #7474
Let's not strip funnel_; instead, let's just not send it. Nothing downstream seems to depend on it. Let's send `experiment` and `variation` -- sound good @Mardak ?

[2019-12-17 20:11] Mardak commented on #7474
Sounds good. From my quick glance of views.py, it'll at least want the additional keys and skip the removal of the first 4 characters for these new keys.

[2019-12-18 09:11] #8196 closed

[2019-12-18 09:24] alexgibson opened #8326 "Define a localization config for Fluent /whatsnew page"
## Description

In https://github.com/mozilla/bedrock/issues/8196 we built a /whatsnew page using Fluent for L10n. Right now, it's being shown for en-US only, until we get the L10n pipeline up and running.

What's still needed for this page in the interim, is a well defined L10n configuration. The original issue cited the page being needed for English. German, and French only. Based on discussion

[2019-12-18 09:25] alexgibson commented on #8326
/cc @ejregithub @hoosteeno

[2019-12-18 09:31] alexgibson commented on #7474
@hoosteeno please add this to a sprint and I'd be happy to work on it.

[2019-12-18 17:13] alexgibson opened #8328 "Integrate FxA product button JS with China repack logic"
## Description

Right now, the logic in [fxa-product-button.js](https://github.com/mozilla/bedrock/blob/master/media/js/base/mozilla-fxa-product-button.js) is very loosely associated with the code that [checks for the China repack](https://github.com/mozilla/bedrock/blob/master/media/js/base/mozilla-utils.js#L29), and updates FxA links for the `mozillaonline` distribution. There's a very real chan

[2019-12-18 17:23] alexgibson commented on #8328
Depends on https://github.com/mozilla/bedrock/issues/8201

[2019-12-18 17:31] hoosteeno commented on #8326
I assert the most important thing right now is to kick all the tires. Secondly, we should strive to have as few versions of WNP as possible, and so should aim to have a single fallback someday. I suggest staff+vendor+community for this page.

[2019-12-18 17:38] #7875 closed

[2019-12-18 17:49] peterbe opened #8329 "Design: new 404 and 500 pages"
## Description

We should rewrite and redesign the 404 and 500 error pages on www.mozilla.org, then rebuild using our current coding standards.

### Success Criteria

- [ ] New designs and copy for 404 and 500 pages
- [ ] Copy and design are on brand
- [ ] Copy is clearer (see original report, below) about the page's purpose and the visitor's options: The title is descriptive, and the page include

[2019-12-18 17:52] pmac commented on #8329
I agree that this error could be better. I think this text is quite old and probably made more sense before the redesign. You have thoughts @alexgibson ?

[2019-12-18 17:58] alexgibson commented on #8329
Yeah, some of this copy is probably ~10 years old. Making a more informative 404 page would be nice and likely low effort, although I'm not sure where this fits in terms of current priorities.

/cc @hoosteeno

[2019-12-18 19:02] hoosteeno commented on #8329
Yeah, good call @peterbe. We can do this in Q1.

[2019-12-18 19:30] ejregithub commented on #7579
@hoosteeno - this has gone through Brand review, it's ready for yours.  Note that Raphael is out and cannot provide his review til he returns.

[2019-12-18 19:31] ejregithub commented on #7578
@hoosteeno - this has gone through Brand review, it's ready for yours.  Note that Raphael is out and cannot provide his review til he returns.

[2019-12-18 20:19] craigcook commented on #8263
On demo: https://www-demo4.allizom.org/firefox/welcome/5/

[2019-12-18 21:05] ejregithub commented on #8263
@craigcook - can you please add the word 'of' in Then use Firefox Lockwise to safely access your passwords across all your apps, on **of** all your devices. In the hero subhead.

[2019-12-18 21:52] craigcook commented on #8263
That's not what appears in the copy deck, which was signed off as final. We've just pushed the strings to Pontoon. We can make this change if it's **_really_** important, but this is a copy change after copy was said to be final. I think it still reads fine without it.

[2019-12-18 21:55] ejregithub commented on #8263
@craigcook - Yeah, Lindsey just saw it and asked for it . . .  Pretty please.

[2019-12-18 22:34] ejregithub opened #8331 "Show the WNP 71 content in the WNP 72 page"
## Description

Show the WNP 71 content in the WNP 72 page at the Firefox 72 rapid release launch on 1/7/2020

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Attribution is updated to reflect the WNP 72 page, release

#### Tasks
- [x] Create new template w. the same content as WNP 71
- [x] Update for attribution
- [ ] Check and update locales list at 100% (@ejregithub )
- [ ] updat

[2019-12-18 22:35] craigcook commented on #8263
The of has been added.

[2019-12-18 22:38] ejregithub commented on #8299
Closing as invalid - see #8331

[2019-12-18 22:38] #8299 closed

[2019-12-19 01:37] cgonz0 commented on #7933
![BC_firefoxVsSafari_mockup.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/3e9568b5-3555-44ba-ac49-acb6c70b219f)

[2019-12-19 01:38] cgonz0 commented on #7934
![BC_firefoxVsOpera_mockup.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/2565f223-aa31-48b1-949c-9399f79721da)

[2019-12-19 01:41] cgonz0 commented on #7931
![BC_firefoxVsEdge_mockup.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/791ee0fc-c563-4603-a6e6-4256b7ae5972)

[2019-12-19 01:42] cgonz0 commented on #7932
![BC_firefoxVsIE_mockup.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/1fa483c9-3c4f-431f-9f48-c54317a92191)

[2019-12-19 01:42] cgonz0 commented on #7930
![BC_firefoxVsChrome_mockup_update.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/38f67923-b83e-4f93-9c6e-356b35e2e0ef)

[2019-12-19 10:01] alexgibson opened #8333 "Make configuring analytics parameters in /whatsnew pages easier"
## Description

For issues such as https://github.com/mozilla/bedrock/issues/8331, where we're repurposing an existing /whatsnew template from a previous release, we need to make sure we update analytics parameters in order to track conversions.

For example:

[code]
would become:

[code]

Right now, we're hard-coding these values, which means the whole template needs to be copy / pasted in order

[2019-12-19 10:02] alexgibson commented on #8333
Thoughts @hoosteeno ?

[2019-12-19 10:32] alexgibson opened #8334 "The /firefox/accounts/ page doesn't mention Sync as a browser feature"
## Description

There are pathways from product sites that point to the /firefox/accounts/ page as a destination to learn more about Sync, however the page no longer mentions Sync as a benefit.

### Steps to reproduce

1. In a **non-signed-in, non-Firefox browser**, visit: https://accounts.firefox.com/
2. Click "Looking for Firefox Sync? **Get started here**"
3. Get redirected to https://www.mozil

[2019-12-19 10:33] alexgibson commented on #8334
/cc @dzingeek

[2019-12-19 14:58] alexgibson commented on #8212
Depends on https://github.com/mozilla/bedrock/pull/8327

[2019-12-19 15:22] alexgibson commented on #8304
The experiment is currently showing a drop off in conversions for the nav variation at -2%, with 99.50% confidence.

Is this enough data to confirm we should end this experiment?

[2019-12-19 15:36] hoosteeno commented on #8333
This is good and I definitely agree.

The design should anticipate that some pages will have a different set of instrumentation. For example, the send-to-device pages have more and different instruments (qr codes, message sets, etc). It's not the case that all pages have an entrypoint. But all could be driven by `major_version`.

[2019-12-19 15:47] hoosteeno commented on #8304
@sghoseWI the experiment has hit our time limit, but it has not hit the audience size we specified. Which should override here? Should we stop it now (time) or keep going a few days (sample size)?

https://app.convert.com/v#/projects/1003343/experiments_report/10032480
https://docs.google.com/document/d/1qQVvOPlz-E5ZRWrRUxFnzGsFwQ0mZ9rs_dTeT92P9VA/edit

[2019-12-19 16:20] alexgibson opened #8335 "Update docs on configuring Fluent files for extraction (pontoon / vendor)"
## Description

During the process of creating new Fluent files for translation, we also need to configure those files in bedrock so that extraction happens into the correct buckets (i.e. pontoon / vendor). Currently our docs don't mention this part of the process. We should detail how we have our buckets configured, how to make changes to them, and what the implications are for making choices.

T

[2019-12-19 16:27] sghoseWI commented on #8304
@hoosteeno the sample size threshold should override here. I think we will likely hit the 16,558 visitors per group this evening or tomorrow — so as soon as that happens we can feel free to shut the experiment down.

[2019-12-19 16:36] ejregithub commented on #7580
@sgarrity - copy updates as noted in Slack, please- they are reflected in the copy doc as well (but easier to flag here).

[Page Title Tag]

[Firefox vs. Opera: Which is the better browser for you?]

[Page Description Tag]

[Compare Opera to the Firefox Browser to find out which is the best browser for you.]

And in the first sentence in the first paragraph, b in Browser needs to be capitalized.

[2019-12-19 17:24] dzingeek commented on #8334
Thanks @alexgibson I know there is talk of updating this page once we figure more out about "memberships" or what an account really means. I wonder though if sending users to this page makes sense in the future or should we think about other possible user journies?

ie. browsers features page? or a section on the browsers page that talks about sync?

[2019-12-19 17:27] alexgibson commented on #8334
Yeah, we could get product to update their links to point to a more suitable target. I'm not sure if anything exists today though. the Sync section on https://www.mozilla.org/en-US/firefox/features/ also points to /accounts/.

[2019-12-19 21:40] #7790 closed

[2019-12-20 09:22] #8331 closed

[2019-12-20 09:32] alexgibson opened #8341 "Logo paths on /whatsnew page 72 are broken"
It looks like https://github.com/mozilla/bedrock/pull/8276 removed some logos that https://github.com/mozilla/bedrock/pull/8330 was using, so the page is throwing a 500.

https://www.allizom.org/en-US/firefox/72.0/whatsnew/all/

[2019-12-20 13:00] #8252 closed

[2019-12-20 13:21] #8341 closed

[2019-12-20 14:22] alexgibson commented on #8304
It looks like we've now had over 16,558 visitors per variation, which was specified in the doc. Are we ok to shut this off?

[2019-12-20 14:42] alexgibson commented on #7823
I'm not sure it makes sense to do this. The macro currently has the string `Sign In to Monitor` baked in directly, but that string doesn't belong to any specific .lang file (it's not in main.lang). This makes it easy to assume that the string is global and widely translated, but this isn't the case. Adding another string in the same fashion will have the same issue.

This macro is also being remov

[2019-12-20 15:53] #8326 closed

[2019-12-20 16:00] alexgibson commented on #8304
I've turned off the redirect worked that was diverting traffic to this experiment. @hoosteeno is going to turn the experiment off in Convert.

[2019-12-20 16:02] hoosteeno commented on #8037
The experiment has been turned off in Convert.

[2019-12-20 16:04] hoosteeno commented on #8304
It's turned off in Convert. @sghoseWI can you take a look at Convert's analysis, and run your own, and let us know your recommendation?

[2019-12-20 16:04] #8037 closed

[2019-12-20 20:32] sghoseWI commented on #8304
@hoosteeno yes will do

[2019-12-20 22:03] amychurchwell opened #8345 "Port default homepage to Protocol"
## Description

Currently, the default homepage seen by locales that are not in EN, FR, or DE see a template that is using Pebbles (an outdated design system). The page could use an overall redesign, but this issue is to address that at a minimum we should port this template over to Protocol.

![Screenshot_2019-12-20  Интернет для людей, а не для прибыли ](https://user-images.githubusercontent.co

[2019-12-20 22:06] amychurchwell commented on #8323
Should we transfer this issue over to the Protocol repo?

[2019-12-23 17:20] ejregithub commented on #7574
https://www.mozilla.org/firefox/browsers/compare/ | https://www-demo-browser-compar-nvjrww.herokuapp.com/en-US/firefox/browsers/compare/

https://www.mozilla.org/firefox/browsers/compare/chrome/ | https://www-demo-browser-compar-nvjrww.herokuapp.com/en-US/firefox/browsers/compare/chrome/

https://www.mozilla.org/firefox/browsers/compare/safari/ | https://www-demo-browser-compar-nvjrww.herokuapp.co

[2019-12-23 17:28] rraue commented on #7578
Review done, just minor changes requested. @hoosteeno your turn.

[2019-12-23 17:32] rraue commented on #7579
Review done, @hoosteeno have fun.

[2019-12-23 18:09] rantley commented on #7578
@ejregithub @rraue

Revisions complete from Raphael review

[2019-12-23 18:09] rantley commented on #7579
revisions from @rraue done

[2019-12-23 22:50] hoosteeno commented on #7578
My review is in with a few tiny suggestions.

[2019-12-23 22:50] hoosteeno commented on #7579
My review is in with a few tiny suggestions.

[2019-12-24 06:13] rantley commented on #7578
@ejregithub revisions are done based on Justin's review.

[2019-12-24 06:13] rantley commented on #7579
@ejregithub revisions are done based on Justin's review.

[2019-12-24 08:08] vansh37 commented on #8174
Hi @rraue , to be clear /firefox/desktop should be redirected to /firefox/new right ?

[2019-12-26 22:48] amychurchwell commented on #8345
l10n tags safe to remove. (https://l10n.mozilla-community.org/langchecker/?locale=all&website=0&file=mozorg/home/index-quantum.lang)
- `home-update-20171116`

[2019-12-27 05:25] #7931 closed

[2019-12-27 05:27] #7934 closed

[2019-12-27 05:29] #7933 closed

[2019-12-27 05:29] #8283 closed

[2019-12-27 05:34] ejregithub opened #8349 "Design - Moments page - Welcome/6/"
The request is to create a 'NASCAR' content page featuring all the things in the Firefox brand umbrella.

Similar to: https://www.mozilla.org/en-US/firefox/71.0/whatsnew/all/
and https://www.mozilla.org/en-US/firefox/

[2019-12-27 05:34] ejregithub opened #8350 "Copy - Moments page - Welcome/6/"
The request is to create a 'NASCAR' content page featuring all the things in the Firefox brand umbrella.

Similar to: https://www.mozilla.org/en-US/firefox/71.0/whatsnew/all/
and https://www.mozilla.org/en-US/firefox/

[2019-12-27 05:35] ejregithub opened #8351 "Analytics/Instrumentation - Moments page - Welcome/6/"
The request is to create a 'NASCAR' content page featuring all the things in the Firefox brand umbrella.

Similar to: https://www.mozilla.org/en-US/firefox/71.0/whatsnew/all/
and https://www.mozilla.org/en-US/firefox/

[2019-12-27 05:35] ejregithub opened #8352 "Code - Moments page - Welcome/6/"
The request is to create a 'NASCAR' content page featuring all the things in the Firefox brand umbrella.

Similar to: https://www.mozilla.org/en-US/firefox/71.0/whatsnew/all/
and https://www.mozilla.org/en-US/firefox/

[2019-12-27 05:35] ejregithub opened #8353 "Moments page - Welcome/7/"
## Description

The request is to create a 'NASCAR' content page featuring all the things in the Firefox brand umbrella.

Similar to: https://www.mozilla.org/en-US/firefox/71.0/whatsnew/all/
and https://www.mozilla.org/en-US/firefox/

Project method will be Team Swarm

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] Th

[2019-12-27 15:36] #8174 closed

[2019-12-29 18:04] Deathrow77 commented on #8353
@ejregithub I would like to work on this subproject. Can you please elaborate on the required page a bit more?

[2019-12-30 00:17] ejregithub commented on #8353
@Deathrow77 - this in an internal project, though we definitely appreciated the offer to help.  I would suggest watching for bugs tagged with the '[Good First Bug](https://github.com/mozilla/bedrock/labels/Good%20First%20Bug)' label.  These tend to be less complex (as this issue is) tasks that a developer can work on independently.

[2019-12-30 06:56] Deathrow77 commented on #8353
Thanks!!

[2019-12-30 22:18] stephaniehobson opened #8354 "Cookies link in footer goes to closed accordion"
## Description

https://www.mozilla.org/en-US/privacy/websites/#cookies which is linked to from the site footer does not take the user to the cookie section of the privacy policy.

### Steps to reproduce

Go to mozilla.org and click on "cookies".

### Expected result

Link to the cookie portion of the websites privacy notice.

### Actual result

View of the footer on the privacy notice.

[2019-12-30 22:43] stephaniehobson opened #8355 "Legal section should use Mozilla theme"
## Description

The legal section is Mozilla legal stuff and should use the Mozilla theme.

### Steps to reproduce

https://www.mozilla.org/en-US/about/legal/

### Expected result

Headings should be in Zilla.

### Actual result

Headings in Inter.

[2019-12-30 23:12] amychurchwell opened #8357 "Newsletter on firefox/channel/ pages should be inside emphasis box."
## Description

The newsletter on the [firefox/channel pages](https://www.mozilla.org/firefox/channel/) should be inside an [emphasis box.](https://protocol.mozilla.org/patterns/molecules/emphasis-box.html), similar to the design on [firefox/developer](https://www.mozilla.org/firefox/developer/).

![Screen Shot 2019-12-30 at 3 09 17 PM](https://user-images.githubusercontent.com/30483988/71604394-8

[2019-12-31 00:14] amychurchwell commented on #7377
Photos are now current.

[2019-12-31 00:14] #7377 closed

[2019-12-31 00:27] cgonz0 opened #8358 "Experiment: animations on load content/scroll"
## Description

Placeholder ~ needs more detail.

What:
Create a series of types of motion that can be applied on loading content when user is scrolling through page
Protoype: https://codepen.io/cgonza/full/OJPbxdq

Why:
Add life to page / Engage and encourage user to scroll through page

To be tested on /firefox and measure success vs current static page
If successful: Set of animations should be

[2019-12-31 18:06] amychurchwell opened #8359 "Default homepage needs conditional CTA for firefox users."
## Description

Currently, the [default homepage](https://github.com/mozilla/bedrock/blob/master/bedrock/mozorg/templates/mozorg/home/home.html) shown to users not in EN, FR, or DE shows a "Download Firefox" CTA and related hero copy to users **already** using the Firefox browser.

We should write alternative hero copy and show a different CTA (Assuming Firefox Accounts?) for these users.

[2019-12-31 18:43] amychurchwell commented on #8355
**TO-DO**

1. Add `{% block body_class %}{{ body_class }}{% endblock %}` to `bedrock/base/templates/base-article.html`

2. Add `{% block body_class %}mzp-t-mozilla{% endblock %}` to:
- `bedrock/legal/templates/legal/index.html`
-  `bedrock/legal/templates/legal/docs-base.html`
- `bedrock/legal/templates/legal/fraud-report.html`

[2020-01-01 10:04] aniruddha2000 commented on #7344
Hey @amychurchwell I would like to work on this issue.

[2020-01-02 10:20] alexgibson commented on #8126
All dependencies are closed here.

[2020-01-02 10:20] #8126 closed

[2020-01-02 10:21] harshil1712 commented on #8355
Hey :wave:
I would like to work on this issue.

[2020-01-02 14:07] aniruddha2000 commented on #7344
https://github.com/aniruddha2000/bedrock/commit/8801446036844d699f7c1abdc14f63445729e4ad I have added some changes in my fork. If the format seems ok then can i complete the rest documentation and open a PR for that? @amychurchwell

[2020-01-02 15:39] amychurchwell commented on #8355
Hello @harshil1712 👋
I will assign this issue to you.

[2020-01-02 18:01] hoosteeno commented on #8329
I rewrote the description with some success criteria. I'm attaching a screenshot of the 500 page for reference.

 ![image (5).png](https://images.zenhubusercontent.com/5c871077d74bd07972c6db24/f32b0b91-fd87-428a-8182-87f237edafbf)

[2020-01-02 18:11] #8264 closed

[2020-01-02 18:11] #7932 closed

[2020-01-02 18:31] sghoseWI commented on #8304
Experiment report here: https://docs.google.com/document/d/14MzAhKl9xI4ytf7D-g_3ciYdSlBWWchZSOoWc0zYFos/edit#

Tl;dr: Nav treatment underformed the control.  Recommending we keep the existing experience.

[2020-01-02 19:02] amychurchwell commented on #8358
See also: https://github.com/mozilla/protocol/issues/251

[2020-01-02 19:55] ejregithub commented on #7260
@amychurchwell - I believe this was resolved in another issue (I can readily view the WNP in Chrome on Desktop as well as in Chrome and Firefox on mobile).

Please confirm and I'll close this issue.

[2020-01-02 20:07] #7260 closed

[2020-01-02 20:14] amychurchwell commented on #7260
Yes, this issue should be closed. What's new pages aren't shown to non-firefox browsers or mobile users.

[2020-01-02 21:50] dzingeek commented on #8304
@sghoseWI is there any way we can get more data?
- installs
- bounce rate
- was the nav download button counted in this?
- how did people get here?

For me there are two very important pieces of data missing:
1. I think we should be looking at installs and not downloads as it's possible downloads went down but intent/installs went up.
2. I also think we should look at where people came from...how

[2020-01-02 21:53] dzingeek commented on #8304
Oh, I had one other question. What is the FxA section in the doc saying?

[2020-01-02 23:25] sghoseWI commented on #8304
@dzingeek For this experiment, we used Convert as our testing tool.  It gives us several advantages -- especially in terms of improving the efficiency and volume of tests we can run on the team... but it has some drawbacks as well.  We're quite a bit more limited in how much granular data we receive (i.e we cannot measure much about how people got to the pages like we can with a GA-based test -- a

[2020-01-03 00:19] hoosteeno commented on #8304
As @sghoseWI mentions, we would need to plan for this when building the experiment. Measuring installs is non-trivial: requires substantially more design, coding & analysis.

It was hidden -- so, no.

A segment of people matching our experiment design were redirected at the CDN to a page at /exp/firefox/new/, which then split them and redirected each split to a page with or without nav. The popula

[2020-01-03 00:36] sghoseWI commented on #8304
@hoosteeno Thanks for the clarifications above.  Yes I will add that estimate to the report.

[2020-01-03 02:20] imskr opened #8365 "Docker installation not working"
## Description
When building it locally using docker it is showing errors!

### Steps to reproduce

Clear steps describing how to reproduce the issue. Providing a URL, screenshot.

`sudo make clean run`

### Expected result

What should happen?

### Actual result

find . -name '*.pyc' -exec rm -f {} +
find . -name '*.pyo' -exec rm -f {} +
find . -name '__pycache__' -exec rm -rf {} +
rm -f .coverag

[2020-01-03 09:37] #7823 closed

[2020-01-03 09:59] alexgibson opened #8368 "Remove jQuery code from Manifesto page"
## Description

The /about/manifesto/ page is the only page still using the legacy `mozilla-share-cta-.js` library. Removing jQuery code from the page means we can also remove the library.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is updated to use equivalent native events.
- [ ] Legacy library is removed.

[2020-01-03 10:15] alexgibson opened #8370 "Remove jQuery code from Facebook Container page"
## Description

The `/firefox/facebookcontainer/` page is the only remaining page still using the legacy `mozilla-video-poster.js` library. Removing the jQuery code from this page means we can also remove the library from bedrock (or we could decide to keep/migrate it if useful).

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Library is removed from the page.
- [x] Video is still

[2020-01-03 10:23] alexgibson opened #8371 "Remove legacy /firefox/mobile/ page"
## Description

The new /firefox/mobile/ page is now translated by [40 locales](https://l10n.mozilla-community.org/langchecker/?locale=all&website=0&file=firefox/mobile-2019.lang), representing ~95% of our l10n user base. I think we're probably ok to remove the old page.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Legacy template is removed.
- [ ] Legacy l10n file is removed fr

[2020-01-03 10:30] alexgibson opened #8372 "Remove legacy /firefox/new/ page."
## Description

We don't yet have enough coverage to remove the old Quantum /firefox/new/ page, however I'm filing this issue now as there are several dependencies that may still block this from happening. It may make sense to tackle the below items first:

Dependencies:

- [Update platform /new URLs to trailhead design](https://github.com/mozilla/bedrock/issues/7345)
- [Simplify the /ru/firefox/n

[2020-01-03 10:39] alexgibson commented on #8358
When we tackle this we should consider how we deal with legacy browsers, as many older mobile devices for example, do not support scroll events in the same way as desktop. We should look to avoid delivering janky or broken experiences to users who may not be on modern devices, whilst serving more modern users an enhanced experience.

[2020-01-03 14:14] alexgibson opened #8374 "Determine the fate of /plugincheck"
## Description

The [/plugincheck](https://www.mozilla.org/en-US/plugincheck/) page has not been linked to from in-product since 2016. When it was a functioning page, it used to get around ~700,000 page views daily (which was huge!), but since then we've seen a gradual declining long-tail in traffic.

![image](https://user-images.githubusercontent.com/400117/71727662-eb59e100-2e32-11ea-8117-385b0a

[2020-01-03 14:23] alexgibson opened #8375 "Determine the fate of /internet-health/"
## Description

The [/internet-health](https://www.mozilla.org/en-US/internet-health/) pages have some good evergreen content in them, but visually they are quite out of date in terms of branding. The pages are also entirely orphaned, and not linked from any navigation.

We should decide what to do with these pages. If we have design resources we could redesign, or alternatively we could port them

[2020-01-03 14:33] alexgibson commented on #8375
Looking in GA, these pages get around ~1000 page views per day, on average.

[2020-01-03 17:16] amychurchwell commented on #8358
@alexgibson Agreed. I'm of the opinion that motion should only be served to [browsers who support the `prefers-reduced-motion` accessibility feature.](https://caniuse.com/#search=prefers-reduced-motion)

[2020-01-03 17:17] amychurchwell commented on #8358
^ scrolling transition motion, that is. I think motion such as notification effects are of a different category.

[2020-01-03 17:21] alexgibson commented on #8358
That's a great suggestion. I _think_ this should be accessible in JS too, via `window.matchMedia()`;

[2020-01-03 17:26] alexgibson commented on #6461
@LucyeoH Just checking in here, did the site launch? I can't seem to find a public URL in any of the links.

[2020-01-03 17:39] ejregithub opened #8376 "(1/6/2020) - Update Leadership page"
## Description

Remove C. Beard from https://www.mozilla.org/en-US/about/leadership/

Update Mitchell's title to read "Chairwoman and Interim Chief Executive Officer"

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Updates are live by EOD Monday January 6th

#### Tasks
- [ ] Remove C Beard from the leadership section of mozilla.org
- [ ] Update Mitchell's title  to read "Chairwoman

[2020-01-03 19:02] stephaniehobson opened #8377 "Update branding on SEO variants of /new"
## Description

There are three variations of the firefox desktop download page that are still using the old design:

https://www.mozilla.org/en-US/firefox/windows/
https://www.mozilla.org/en-US/firefox/mac/
https://www.mozilla.org/en-US/firefox/linux/

We should update them to use the current branding.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] New branding displays
- [ ] SEO

[2020-01-03 19:05] stephaniehobson commented on #8377
See also: #6798

[2020-01-03 19:05] alexgibson commented on #8377
Is this a duplicate of https://github.com/mozilla/bedrock/issues/7345 ?

[2020-01-03 19:07] stephaniehobson commented on #8377
Yup.

Closing in favour of #7345.

[2020-01-03 19:07] #8377 closed

[2020-01-03 22:19] #8355 closed

[2020-01-03 22:32] #8368 closed

[2020-01-04 05:15] imskr commented on #8370
Can I take this issue?

[2020-01-05 10:33] creative-fool commented on #8357
**Hey there!** I am new to open source community and willing to contribute for this issue as a beginner.

[2020-01-06 09:24] alexgibson commented on #8370
@imskr sorry I had already started work on this

[2020-01-06 09:34] alexgibson opened #8381 "Remove jQuery code from mozilla.smoothscroll.js and mozilla.lazy-load.js libs"
## Description

Both `mozilla.smoothscroll.js` and `mozilla.lazy-load.js` libs have portions of jQuery code that can either be removed or converted to native functions.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Both libraries are updated to use native code only.

[2020-01-06 09:36] alexgibson opened #8382 "Remove jQuery code from about-leadership.js"
## Description

The code for /about/leadership/ is still written using jQuery, and can be converted to use native functions.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page JS is updated to use native code.

[2020-01-06 09:41] alexgibson opened #8383 "Remove jQuery code from contact-spaces.js"
## Description

The code for the /contact/ pages is still written using jQuery, and can be converted to use native functions.

Note we may want to either replace or remove the "magnificent popup" plugin being used for the community photos.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page JS is updated to use native code.

[2020-01-06 09:49] alexgibson opened #8384 "Remove Sandstone base templates and common bundles."
## Description

This is almost ready. A merge party should be appropriate 🎉

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] All sandstone templates and assets and removed from bedrock.
- [ ] NPM and gulp dependencies related to .less files are also removed.

[2020-01-06 09:53] alexgibson commented on #6265
Closing this as a duplicate of https://github.com/mozilla/bedrock/issues/8037

[2020-01-06 09:53] #6265 closed

[2020-01-06 10:41] alexgibson commented on #8045
@Pike do you feel like the work in https://github.com/mozilla/bedrock/pull/8087 was enough to cover the main points above? Can this issue be closed?

[2020-01-06 10:45] alexgibson commented on #7785
I see compare-locales was used in https://github.com/mozilla/bedrock/pull/8087. Can this issue be closed?

[2020-01-06 10:54] alexgibson commented on #7527
@hoosteeno now we've landed on using explicit locale lists for vendor/pontoon with more specific options for the available approaches, does this issue still serve a reasonable purpose?

We do still need to choose one of the available L10n strategies for each piece of existing content, but that's not something we need to do up-front any more, and can instead be tackled on a rolling basis. I'm not s

[2020-01-06 14:37] alexgibson opened #8385 "Automate legal-docs updates"
## Description

It would be nice if legal-docs could be updated automatically, without the need for a manual git submodule update.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Privacy / legal page content can be updated independently to bedrock.

[2020-01-06 14:42] pmac commented on #8385
We do have some issues filed for this: #5721, #5818. We could consider those prerequisites.

[2020-01-06 14:46] pmac commented on #8385
Also, for even more context, I've had a conversation with Michael Feldman in legal and he's interested in possibly moving the management of the docs to a more user-friendly system like we have for release notes. So maybe it will move to Nucleus eventually as well. No solid plans for this to be clear, but that could be a thing this year.

[2020-01-06 15:15] LucyeoH commented on #6461
Hey @alexgibson thanks for checking in. We pushed the public launch to after the break to make sure devs would be online. The URL will be community.mozilla.org (currently password protected) our plan is to go public this week or next. I'll put an update here and ping you as soon as that happens.

[2020-01-06 15:44] alexgibson commented on #7527
Ok, so it seems like we still need a way to decide which pages are defined as "owned by marketing" (and go through staff/vendor), and which pages are not (and can go entirely through Pontoon).

I'm not sure what rules are being used to govern this choice currently, but it feels like deciding this manually on a page-by-page basis isn't going to scale well over time. Can we establish a relatively si

[2020-01-06 16:03] #8121 closed

[2020-01-06 16:07] #8376 closed

[2020-01-06 16:16] amychurchwell commented on #8357
@creative-fool hello and welcome! Thanks for dropping by. There is currently already a pull request open for this issue (#8361). (See link above your comment with the icon "open")

Feel free to browse our other issues. We try our best to keep things labeled, but you are welcome to comment if you have a question.
- [mozilla.org](https://github.com/mozilla/bedrock/issues)
- [protocol design system](

[2020-01-06 16:20] imskr commented on #8370
@alexgibson no problem :)

[2020-01-06 16:21] imskr commented on #8370
Is there any current issue I can work on @alexgibson

[2020-01-06 16:23] #8371 closed

[2020-01-06 16:33] #8290 closed

[2020-01-06 16:33] imskr commented on #7194
Is this open to work?  @amychurchwell

[2020-01-06 17:12] aniruddha2000 commented on #7344
@amychurchwell have a look https://github.com/aniruddha2000/bedrock/blob/issue-7344/docs/l10n.rst#development :)

[2020-01-06 17:29] hoosteeno commented on #8193
@ejregithub is this done?

[2020-01-06 17:29] hoosteeno commented on #8192
@ejregithub is this done?

[2020-01-06 17:29] hoosteeno commented on #8194
@ejregithub is this done?

[2020-01-06 17:48] hoosteeno commented on #5741
@rraue Reading through this card, it sounds like the original bug (https://bugzilla.mozilla.org/show_bug.cgi?id=1460253) and the original issue have been resolved. Is that true?

Near the end, we had a sort of [separate request](https://github.com/mozilla/bedrock/issues/5741#issuecomment-481662145), which was for a subsystem to scrape an aggregated rating from app stores. Do you agree? Could we ma

[2020-01-06 17:54] #8357 closed

[2020-01-06 18:02] hoosteeno commented on #7474
@alexgibson this is in the specify column with a "ready" tag, which is our new 2020 way of signaling that it's ready to pull into progress. Do you need any more information before pulling?

[2020-01-06 18:05] alexgibson commented on #7474
@hoosteeno there's already a pull request for this, it's just waiting on code review 👍

[2020-01-06 18:07] hoosteeno commented on #7474
https://github.com/mozilla/bedrock/pull/8363

[2020-01-06 18:12] hoosteeno opened #8389 "Experiment: Design experiment for Mac vs. Windows install rates"
## Description

Design a download-to-install rate experiment to answer these questions:

Is it possible to know whether Mac or Windows users have a higher overall download-to-install rate? We want to run three variations + the control (four page variations total). The target pages are /en-US/firefox/thanks and /en-CA/firefox/thanks.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] E

[2020-01-06 18:12] hoosteeno commented on #8389
@sghoseWI this is in the "specify" column with a "ready" label, which is the new 2020 way of saying it's ready for work. Do you need any more information to start?

[2020-01-06 18:13] hoosteeno commented on #8389
Depends on https://github.com/mozilla/bedrock/issues/7474

[2020-01-06 18:19] alexgibson commented on #8389
One thing to consider here is that MacOS has an [entirely separate mechanism](https://github.com/mozilla/bedrock/blob/master/media/js/base/stub-attribution-macos.js) for attribution. We may have to do some extra work to make those parameters available like we do for Windows.

[2020-01-06 18:22] hoosteeno commented on #8389
Thanks, Alex. In fact, Mac attribution doesn't work at all. I think that's our new 2020 way of saying this is not ready. I'll figure out whether it can be made ready.

[2020-01-06 18:41] justinokelly commented on #8376
Is it possible to complete this by end of today today please?

[2020-01-06 19:03] #8167 closed

[2020-01-06 19:04] amychurchwell commented on #8376
@justinokelly yes, it is in our next production push. :+1:

[2020-01-06 21:10] sghoseWI commented on #8180
@hoosteeno Is this still on hold?

[2020-01-06 21:12] sghoseWI commented on #8035
@hoosteeno @rraue Are we planning to configure this experiment in Convert?

[2020-01-06 21:27] hoosteeno commented on #8035
I believe we are blocked on this until the NA/EU growth teams are ready. Moving to research with blocked tag.

[2020-01-06 22:51] #8193 closed

[2020-01-06 22:51] #8192 closed

[2020-01-06 22:51] #8194 closed

[2020-01-06 23:13] Errolyn opened #8392 "Capturing work: Migrate bedrock from Gulp to Webpack and add ES6"
## Description

We are changing out gulp with webpack. All tasks handled by gulp should be moved to the equivalent tech in webpack.

[2020-01-06 23:17] ejregithub commented on #8318
Noting the go ahead (Raphael approved) to add new copy & links between each section and a download button at the bottom of the page.

[2020-01-06 23:18] ejregithub commented on #8320
Noting the go ahead (Raphael approved) to add new copy & links between each section and a download button at the bottom of the page.

[2020-01-06 23:18] ejregithub commented on #8319
Noting the go ahead (Raphael approved) to add new copy & links between each section and a download button at the bottom of the page.

[2020-01-06 23:18] ejregithub commented on #8321
Noting the go ahead (Raphael approved) to add new copy & links between each section and a download button at the bottom of the page.

[2020-01-06 23:18] ejregithub commented on #8322
Noting the go ahead (Raphael approved) to add new copy & links between each section and a download button at the bottom of the page.

[2020-01-07 00:11] ejregithub opened #8393 "Create new webpage on mozilla.org for the community participation hotline content"
## Description

We need to create new webpage on mozilla.org for the community participation hotline to replace https://events.mozilla.org/communityparticipationhotline, which is going away on Feb 30, 2020, and host the same content from it on the new webpage

New URL:
https://www.mozilla.org/about/governance/policies/participation/reporting/community-hotline

---

#### :yellow_heart: Success Crit

[2020-01-07 00:13] ejregithub opened #8394 "Update the How to Report page"
## Description

Update https://www.mozilla.org/about/governance/policies/participation/reporting/ with new content based on the changes details in [this document](https://docs.google.com/document/d/1Uvex8CNAXAFizQNFw_wGZw-2o1t6PI7IEm3KyqClTd8/edit#) under How to Report Updates

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Updates are live at the same time #8393 goes live

#### Ta

[2020-01-07 00:13] ejregithub opened #8395 "Update the Participation page"
## Description

Update https://www.mozilla.org/about/governance/policies/participation/ with new content based on the changes details in [this document](https://docs.google.com/document/d/1Uvex8CNAXAFizQNFw_wGZw-2o1t6PI7IEm3KyqClTd8/edit#) under CPG Updates

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Updates are live at the same time #8393 goes live

#### Tasks
- [ ] Update the

[2020-01-07 00:20] ejregithub opened #8396 "Extract Strings for new webpage on mozilla.org for the community participation hotline content"
## Description

Extract the strings created in  #8393 for https://www.mozilla.org/about/governance/policies/participation/reporting/community-hotline

L10n - This is NOT a Marketing page.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Strings are extracted and made available to localizers

#### Tasks
- [ ] Extract strings
- [ ] Notify Peiying of extraction

[2020-01-07 01:01] ejregithub opened #8397 "CPG Updates"
## Description

A new webpage and corresponding updates to content in two other webpages, prompted by Splash, the current site hosting the community participation hotline content, being removed on Feb 30, 2020

---

[2020-01-07 04:44] #7580 closed

[2020-01-07 04:56] ejregithub opened #8398 "Splash Page for Recommended Extensions Program"
## Description

Webpage on www.mozilla.org for Recommended Extensions Program (maybe could also be used as a Moments Page)

Better surfacing of Recommended Extensions in a 'splash' page (vs. how they are badged on AMO) with the hypothesis that it would lead to more addons usage and thus better retainement of users (Firefox Desktop Retention). CPark noted that addon users are "known to retain 2x be

[2020-01-07 10:09] #7474 closed

[2020-01-07 10:11] alexgibson opened #8399 "Increase max length for stub attribution string"
## Description

Once both https://github.com/mozilla/bedrock/pull/8363 and https://github.com/mozilla-services/stubattribution/pull/95 have been merged, we can increase `STUB_ATTRIBUTION_MAX_LEN` from `200` to `600`.

[2020-01-07 10:12] alexgibson commented on #8399
/cc @pmac @Mardak

[2020-01-07 10:23] alexgibson commented on #8392
@Errolyn looking at your PR this seems like a pretty large change that touches many files, which may be a little difficult to land given the frequency of code changes that can happen in bedrock. If you'd like to discuss ways to make this easier I'd be hapy to try and help :)

As it stands this is a pretty meta issue, and I do wonder if breaking this work down into some distinct tasks / items may h

[2020-01-07 14:28] alexgibson opened #8401 "Migrate shared .lang files to Fluent"
## Description

Once the Fluent pipeline is active, we should migrate common shared .lang files to .ftl. This covers things that are shared among multiple pages such as the nav, footer, download button, widgets etc.

- main.lang
- footer.lang
- navigation.lang
- download_button.lang
- firefox/send-to.lang

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] All global components source

[2020-01-07 15:14] #8335 closed

[2020-01-07 15:18] alexgibson opened #8402 "Remove events data from the DB"
## Description

Once https://github.com/mozilla/bedrock/issues/6461 is complete, we can then remove event data from the DB and clean up the backend code: https://github.com/mozilla/bedrock/tree/master/bedrock/events

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Event data is removed from the DB

#### Tasks
- [ ] Add table removal migration.
- [ ] Once that's in prod, remove the r

[2020-01-07 15:19] alexgibson commented on #8402
Depends on https://github.com/mozilla/bedrock/issues/6461

[2020-01-07 16:24] #7577 closed

[2020-01-07 19:40] hoosteeno commented on #7624
Closing WONTFIX.

[2020-01-07 19:40] #7624 closed

[2020-01-07 19:41] hoosteeno commented on #8036
@stephaniehobson is this experiment important enough to keep this issue open?

[2020-01-07 20:47] stephaniehobson commented on #8036
@hoosteeno yes

[2020-01-07 21:39] hoosteeno commented on #8284
Closing WONTFIX for now. Reopen if needed.

[2020-01-07 21:39] #8284 closed

[2020-01-07 21:39] hoosteeno commented on #8285
Closing WONTFIX for now. Reopen if needed.

[2020-01-07 21:39] #8285 closed

[2020-01-07 21:39] hoosteeno commented on #8307
Closing WONTFIX for now. Reopen if needed.

[2020-01-07 21:39] #8307 closed

[2020-01-07 21:58] cgonz0 commented on #7574
for reference, here's the mock with added download links/bttn for 1:1 pages

![firefox vs chrome - proposed CTAs(1).png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/ad03e73d-5072-4f24-85e7-92a61d2c0052)

[2020-01-07 22:08] hoosteeno commented on #7258
@slightlyoffbeat, I know this issue is fairly ancient, but would you say it's still a worthwhile change to make, or should we look for fresher guidance about this nav item?

[2020-01-07 22:27] hoosteeno commented on #7292
This is done.

![image](https://user-images.githubusercontent.com/94519/71934690-3db43e00-3162-11ea-9bd0-08e3861a0f3b.png)

[2020-01-07 22:27] #7292 closed

[2020-01-07 22:47] hoosteeno commented on #6798
@alexgibson , looking at this bug, I wonder what the best way is to have 4+ different pages (/mac, /linux/, /windows, and /this-browser-comes-highly-recommended) that are identical except for copy. I'm wondering if there is a template solution here that...
* reduces replication of the layout code
* enables independent copy evolution
* enables easy removal or addition of individual url/copy combina

[2020-01-07 22:48] hoosteeno commented on #7460
@ejregithub would you be up for taking the copy in this card to legal? If it was approved, this could be ready for code.

[2020-01-07 22:53] hoosteeno commented on #8304
Closing this, hoping for follow-up experiment plans.

[2020-01-07 22:53] #8304 closed

[2020-01-07 22:54] hoosteeno commented on #8305
We should block this issue on fluent pipeline completion, which is delayed. Adding blocked flag.

[2020-01-07 23:04] hoosteeno commented on #7345
See also #6798 , which suggests simplifying these pages since their traffic is primarily non-Fx users.

[2020-01-07 23:07] hoosteeno commented on #8358
@cgonz0 is this experiment ready for specifying? If so, we can create a card for @sghoseWI and get on it.

[2020-01-07 23:11] cgonz0 commented on #8358
@hoosteeno almost. having another meeting this thursday regarding creating an experiment. will have a clearer idea post-meeting.

[2020-01-07 23:14] hoosteeno commented on #8353
I reached out to Shep to understand relative priority of this work. Keeping in research.

[2020-01-07 23:17] hoosteeno commented on #8265
@ejregithub can you add more detail to this card to explain what needs done? This is coming up quickly.

[2020-01-07 23:24] hoosteeno commented on #8302
We plan to work with a vendor on this code.

[2020-01-07 23:24] hoosteeno commented on #8389
Closing this as impossible for now. Reopen as needed.

[2020-01-07 23:24] #8389 closed

[2020-01-07 23:25] hoosteeno commented on #8300
We will work with a vendor on this code.

[2020-01-07 23:25] sghoseWI commented on #8358
@hoosteeno Amy invited me to that meeting -- I'll attend and put together the test plan once I get some more details Thursday.

[2020-01-07 23:28] hoosteeno commented on #7401
@alexgibson Is your suggestion to replace the download button for all Android-like UAs, or is there some way we can target Web Light?

If "all Android", do you have any background on why we haven't done so previously?

[2020-01-07 23:34] hoosteeno commented on #7270
@alexgibson we recently did some work on this part of our site. Is this still an issue?

[2020-01-07 23:36] hoosteeno commented on #7194
When I visit games.mozilla.org, I get a website. Has that changed since this bug was filed?

[2020-01-07 23:38] hoosteeno commented on #7185
We should have a reusable capability to deliver a large-format promotion at the top of an arbitrary page. Would repurposing this issue for that be fair? The first use case is clearly the fundraising banner.

[2020-01-07 23:45] hoosteeno commented on #5325
Closing this issue as we've since created a docker install process that should be preferable for most contributors. Please reopen if it continues to block.

[2020-01-07 23:45] #5325 closed

[2020-01-07 23:46] hoosteeno commented on #5396
Closing this WONTFIX; current solution seems adequate. Reopen if discussion needed.

[2020-01-07 23:46] #5396 closed

[2020-01-07 23:47] hoosteeno commented on #5654
@dzingeek is this a priority for the brand team that should remain open? If so, can you articulate the next steps? If not, can we close?

[2020-01-07 23:50] hoosteeno commented on #5940
@rraue is this issue still valid & important?

[2020-01-07 23:51] hoosteeno commented on #5985
@dzingeek is this a test the brand team hopes to run in 2020? If not, can we close and reopen at some later date if it is a priority again?

[2020-01-08 00:54] amychurchwell commented on #7194
@hoosteeno no longer appears to be a bug. Closing issue.

[2020-01-08 00:54] #7194 closed

[2020-01-08 01:03] amychurchwell opened #8403 "Port newsletter landing pages to Protocol"
## Description
Update newsletter landing pages from Pebbles to Protocol.

- https://www.mozilla.org/en-US/newsletter/firefox
- https://www.mozilla.org/en-US/newsletter/mozilla/
- https://www.mozilla.org/en-US/newsletter/developer/

Continued work from #8257, which focuses more on user settings pages.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Pages are in production.

#### Tas

[2020-01-08 05:03] stephaniehobson commented on #6798
There is absolutely a template solution for this :) I'm curious if it was not used for historical reasons?

[2020-01-08 09:19] alexgibson commented on #7401
@hoosteeno I see two possible options to try and solve this.

1. For mobile devices (iOS and Android) we show both an App Store button **and** a Play Store button. We would need to show both buttons because the web light feature appears to use an Android-like UA string when rendering the HTML result, even for iOS. This is just another example of why relying on UA detection is a brittle game.
2. We

[2020-01-08 09:21] alexgibson commented on #7270
@hoosteeno I just checked using IE11 and this is still an issue.

[2020-01-08 09:31] alexgibson commented on #7185
I think making a system for this sounds sensible, as we'd not want more than one large promo on any page at a given time. I do still think we need to keep the fundraising banner around in the codebase however, even when it's not active. It's too bespoke and has a lot of functionality around currencies, and is now also used multiple times per year. We've been resurrecting and re-coding / reviewing

[2020-01-08 10:21] Shivansh2407 commented on #7414
Is this issue fixed?

[2020-01-08 10:22] Shivansh2407 commented on #8354
Can I please work on this issue ?

[2020-01-08 10:27] Shivansh2407 commented on #8354
Can You please tell me which file I need to look for?

[2020-01-08 15:41] hoosteeno commented on #7185
OK, that makes sense.

Can we layer the fundraiser's specific capabilities on a more abstract subsystem that provides the basic promotional banner? I think the abstract banner's basic features are something like:
* 100% width
* optionally close-able, with close link instrumented with an event
* default background, text, link, button styles
* default responsive layout (e.g. [wide](https://user-imag

[2020-01-08 16:19] alexgibson commented on #7185
I think something like this makes sense. This is similar in the way to how we currently handle modal content. What's shown inside the banner could be custom, but the outer appearance and basic functionality could be inherited.

[2020-01-08 17:36] craigcook commented on #8317
This was done in https://github.com/mozilla-l10n/www.mozilla.org/pull/358

[2020-01-08 17:36] #8317 closed

[2020-01-08 17:42] hoosteeno commented on #8198
A dupe of https://github.com/mozilla/bedrock/issues/8201

[2020-01-08 17:42] #8198 closed

[2020-01-08 17:54] hoosteeno commented on #7324
We'll need to break this into design, copy and code cards. Needs specification.

[2020-01-08 17:55] amychurchwell commented on #7414
@dzingeek do we have an approach we could take for this issue or should this be marked as a WONTFIX?

[2020-01-08 19:00] hoosteeno commented on #8319
@ejregithub is this another success criteria or change that needs a separate card?

[2020-01-08 19:04] hoosteeno commented on #8320
Dupe #8319

[2020-01-08 19:04] #8320 closed

[2020-01-08 19:04] hoosteeno commented on #8321
Duplicate of #8319

[2020-01-08 19:04] #8321 closed

[2020-01-08 19:04] hoosteeno commented on #8322
Duplicate of #8319

[2020-01-08 19:04] #8322 closed

[2020-01-08 19:04] hoosteeno commented on #8318
Duplicate of #8319

[2020-01-08 19:04] #8318 closed

[2020-01-08 19:38] #7440 closed

[2020-01-08 20:09] Mardak opened #8405 "Set up an experiment for UA attribution with coarse user agent detection"
## Description

Probably using #8363 to complete [Bug 1406005 - Run onboarding experiment passing UA string variation to attribution service](https://bugzilla.mozilla.org/show_bug.cgi?id=1406005)

The high level intent is to correctly attribute the top 5 desktop browsers and pass that data to Firefox via stubattribution. Other browsers (or modified UAs) that have strings that look like one of the

[2020-01-08 20:21] amychurchwell commented on #7488
When updating dev edition, the messaging is rather odd for someone who was already using the browser:

![Screen Shot 2020-01-08 at 12 16 58 PM](https://user-images.githubusercontent.com/30483988/72012646-1ff1e200-3211-11ea-8562-3525486736d9.png)
`firefox/73.0a2/whatsnew/all/?oldversion=72.0`

[2020-01-08 20:25] hoosteeno commented on #8405
I'll channel @alexgibson here (and encourage him to follow up with other great questions): Since attribution is impossible in MacOS, do we need to do this for Safari?

[2020-01-08 20:59] Mardak commented on #8405
Ah good point about no windows safari. I suppose we could add Opera/OPR as a 5th or just exclude as the other named ones probably cover 95% of windows desktop already.

[2020-01-08 21:16] ejregithub commented on #7488
Currently (and going forward) the beta channel is shown the default WNP content w. mobile CTA (the /whatsnew.lang file).  Currently that does not include a link to the beta release notes (as it does in the rapid release versions of whatsnew).  MWarther has that we include that blurb and link "Read the Release Notes to know more about what’s new in your Firefox browser." to the content shown to bet

[2020-01-08 22:43] dzingeek commented on #7414
@amychurchwell I am going to consult with the creative team on this and get back to you. Might not be until next week though.

[2020-01-09 00:52] cgonz0 commented on #8329
notes:

- 2 copy versions for 404, plus 505 page

- specs in sketch link https://share.goabstract.com/a52afa2d-5257-4dee-931a-b3d19f2a324a?sha=a4ff41c3b1ebe805142bf4b3b731afecbcc6d578

- will update with assets

- optional: randomized link to "weird" content on the web  - a tie in to some firefox brand stuff that's being worked on (weird sh*t on the internet emails). this would need extra work to

[2020-01-09 08:01] slightlyoffbeat commented on #7258
@hoosteeno this still needs updating, but it'd be good to take a fresh look at this. I can help with this.

[2020-01-09 09:05] alexgibson commented on #8405
The main question I have here is how should this experiment be configured? What kind of parameter values should we conform to, and how long should this experiment need to be running until we have enough data to satisfy the purpose?

If we have `experiment` and `variation` parameters available. We could do something like the following:

[code]

Obviously, this would override any other experiment un

[2020-01-09 17:01] #8212 closed

[2020-01-09 17:01] #8201 closed

[2020-01-09 17:02] hoosteeno commented on #8329
Thank you!

* The first 404 headline, "can't find", is better
* The second 404 body, "broken URLs happen", seems "truer" and is easier to localize.
* Let's leave out "Take me to a random" for now.

[2020-01-09 17:05] ejregithub opened #8407 "Code: new 404 and 500 pages"
## Description

The card is for the tasks required to code the newly design 404 and 500 error pages on www.mozilla.org, using our current coding standards.

The new designs for this page are here: https://github.com/mozilla/bedrock/issues/8329#issuecomment-572775691

### Success Criteria
- [ ] The page is built with Protocol components
- [ ] Strings are extracted, made available in Pontoon to be l

[2020-01-09 17:38] amychurchwell opened #8408 "Build experimentation plan for content scroll animation."
## Description

Refining experiment details around introducing motion on scroll events on mozorg.
Protoype: https://codepen.io/cgonza/full/OJPbxdq

Epic: #8358

[2020-01-09 18:59] ejregithub opened #8409 "Request for technical detail, visitor data"
## Description

We need to understand what information bedrock is currently capable of detecting a about a user when a user visits the site (WMO). The ask is to create a list of all those data points with details about them and comments on the significance of each and any caveats (like DNT), along with a description of 'how it works'

[Stub Attribution](https://bedrock.readthedocs.io/en/latest/stu

[2020-01-09 20:57] amychurchwell commented on #8329
Note to dev: the new joint logo asset should land in https://github.com/mozilla/protocol-assets/

![firefox_moz_co-brand_sm-high-res](https://user-images.githubusercontent.com/30483988/72104080-73326600-32df-11ea-832a-bba3da82ddba.png)
![firefox_moz_co-brand_sm](https://user-images.githubusercontent.com/30483988/72104085-74fc2980-32df-11ea-8967-2a26ea1613a7.png)

[2020-01-09 20:59] amychurchwell commented on #8329
Designs look great from dev perspective. (Cristina & I had a conversation this morning)
Only feedback is that the "download" link should link to /new. Does not trigger download.

[2020-01-09 21:15] gcoxmoz opened #8410 "Add a .well-known URL to support the Mozilla Matrix service"
## Description

The messaging platform that we will be using (Matrix / Riot), needs a well-known URL, https://mozilla.org/.well-known/matrix/server to verify delegation of the matrix service to an offsite service.

The contents of that URL are likely static-forever:
`{
  "m.server": "mozilla.modular.im:443"
}`

A comparable example from another customer of theirs is at https://kde.org/.well-known/

[2020-01-09 21:35] hoosteeno commented on #8329
@cgonz0 can you turn [this comment](https://github.com/mozilla/bedrock/issues/8329#issuecomment-572656836) into a final draft for 404?

[2020-01-09 21:37] pmac commented on #8410
bedrock only serves URLs at www.mozilla.org. If the URL at the apex domain redirected to one at www.m.o would it still work?

[2020-01-09 21:46] ara4n commented on #8410
yes, if https://mozilla.org/.well-known/matrix/server 302s to https://www.mozilla.org/.well-known/matrix/server it will still work.

N.B. the contents needs to be `{ "m.server": "mozilla.modular.im:443" }`

[2020-01-09 21:48] pmac commented on #8410
Cool. That redirect already works. We can host the file. I'll get a PR together.

[2020-01-09 21:59] cgonz0 commented on #8329
@hoosteeno done
Final Mocks 404/505 below

![404_update_mockups](https://user-images.githubusercontent.com/29640968/72108280-15eee280-32e8-11ea-9b5e-7e9127b3cbbe.png)

[2020-01-09 22:00] #8410 closed

[2020-01-09 22:01] hoosteeno commented on #8329
Closing, follow #8407 for code.

[2020-01-09 22:01] #8329 closed

[2020-01-10 00:04] dzingeek commented on #5985
@hoosteeno I think we can close this for now, thanks for checking.

[2020-01-10 00:05] #5985 closed

[2020-01-10 00:59] ejregithub opened #8412 "Leadership page update requests"
## Description

There are several update requests for the leadership page:

- [ ] Those listed in this [document](https://docs.google.com/document/d/1-TKTB7FtLeN8wU8kCCELuYui5Mxhgs_fIbfP8yiewAw/edit)
- [ ] Replacing the current image for Alan Davidson with the one attached in comment
- [ ] The tasks described [here](https://github.com/mozilla/foundation.mozilla.org/issues/3765), to add the new VP

[2020-01-10 01:01] ejregithub commented on #8412
![image](https://user-images.githubusercontent.com/20547886/72117206-ad146400-3301-11ea-92cf-ecdf9aa3d333.png)

[2020-01-10 02:47] jgmize commented on #8410
@pmac's PR is now in production:

[2020-01-10 09:39] #8345 closed

[2020-01-10 10:10] alexgibson commented on #8333
To solve this issue I ended up creating a set of context variables, shared automatically to all /whatsnew templates. For example:

[code]

This means we no longer have to keep rewriting this logic in each template, and if we show a template at multiple URLs then attribution for each release should not require any further work. It should also help keep us more consistent.

When this merges there ma

[2020-01-10 10:37] alexgibson commented on #8409
The following is a list of information that mozorg is technically **capable** of collecting. We don't collect everything here, automatically, for every page we visit. Many things here, particularly the UITour API information, we only use on an as-needed basis, only on certain pages.

## Information available cross-browser, for all user agents:

- `navigator.userAgent` (browser name & version).
- `

[2020-01-10 10:37] alexgibson commented on #8409
/cc @hoosteeno @ejregithub

[2020-01-10 10:42] alexgibson commented on #8409
It looks like it mkight still be possible to set the default browser via this API call:

https://firefox-source-docs.mozilla.org/browser/components/uitour/docs/UITour-lib.html#Mozilla.UITour.setConfiguration

[2020-01-10 16:20] gcoxmoz opened #8414 "Add a .well-known URL to support the Mozilla Matrix service clients"
## Description

In much the same style as #8410 and #8411 was for the server, Matrix needs a *client-related* well-known URL https://mozilla.org/.well-known/matrix/client to verify delegation of the matrix service.

The contents of that URL are likely static-forever:
[code]

A comparable example from another customer of theirs is at https://kde.org/.well-known/matrix/client

---

#### :yellow_hear

[2020-01-10 16:57] #8414 closed

[2020-01-10 17:43] craigcook commented on #8375
The internet health landing page is prominently linked from the main nav on the blog theme (that may be where a good chunk of those thousand views are coming from). We can update the blog theme easily.

[2020-01-10 17:45] craigcook commented on #6824
The technology landing page is prominently linked from the main nav on the blog theme but we can update that easily, depending on what we decide to do here.

[2020-01-10 17:53] alexgibson opened #8416 "Determine the fate of /firefox/concerts/ page"
## Description

This page was built as a one time thing but still lives: https://www.mozilla.org/en-US/firefox/concerts/

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is removed and redirected in production

[2020-01-10 18:07] pmac opened #8417 "Remove twitter feed backend machinery"
Following up on #8404 we should remove the Twitter feed updating and storage code. This will need to be done in two steps:

- [ ] Remove most of the code and add a DB migration to remove the DB table
- [ ] Remove the rest of everything including all DB migrations

[2020-01-10 18:49] ejregithub commented on #8302
Technically this card, which is for code review, is blocked til the code in written, pr submitted

[2020-01-10 18:49] ejregithub commented on #8300
Technically this card, which is for code review, is blocked til the code in written, pr submitted

[2020-01-10 18:53] Mardak commented on #8405
We had a meeting with @hoosteeno where we decided to get stubattribution updated to support `ua` https://github.com/mozilla-services/stubattribution/pull/95

So there should be no concern about needing to overload `experiment` and `variation` anymore (which sounds like we'll want to run an experiment soon separate from this UA work).

I suppose to get meaningful numbers, we want to set `ua` attrib

[2020-01-10 21:23] dzingeek commented on #5654
@hoosteeno Clio and I have been in talks with l10n but we don't have a solid solution yet. Let me re-sycn with him next week and get back to you. So for now, let's keep it open.

[2020-01-10 22:32] cgonz0 commented on #7324
Updating with new image of what's currently up after protocol porting

![Screenshot_2020-01-10 Newsletter Subscriptions(3).png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/747cf28d-d6d7-4b8a-9596-12c9621bb9f6)

[2020-01-10 23:05] hoosteeno commented on #8409
Confirmed, that API call works on Win8 and Win10. On 10 it just opens up the system dialog; can't actually modify it. So we should probably plan to couple its usage with some light instructions.

[2020-01-10 23:07] hoosteeno commented on #8405
Yes, https://github.com/mozilla-services/stubattribution/pull/95/commits adds ua to the stub attribution service, and it's already present in Fx73, so we just have to start sending it from download buttons.

@alexgibson what are the constraints on sending this parameter with every download?

[2020-01-12 05:39] Shivansh2407 commented on #8412
The link you posted is not accessible . Please let me know what to do. Would like to help you fix this issue.

[2020-01-13 02:31] shivanik6z commented on #7666
Is this issue solved? If not I would like to work.

[2020-01-13 09:17] alexgibson opened #8418 "Determine the fate of /styleguide/"
## Description

The current [/styleguide/ ](https://www.mozilla.org/en-US/styleguide/)page is placeholder from when a lot of outdated content was removed. We should decide if it's worth keeping, or alternatively redirect to https://mozilla.design/.

The /styleguide/ page currently gets < 100 page views per day.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is either kept or

[2020-01-13 09:21] alexgibson opened #8419 "Determine the fate of /this-browser-comes-highly-recommended/"
## Description

This page is a developer-focused campaign [landing page](https://www.mozilla.org/en-US/firefox/this-browser-comes-highly-recommended/). It receives next to no traffic (sometimes ~3 page views per day), and has had ~1000 page views in the last year.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is either kept or removed & redirected in production.

[2020-01-13 09:28] alexgibson opened #8420 "Determine the fate of /firefox/dedicated-profiles/ page"
## Description

If memory serves me correctly, [this page](https://www.mozilla.org/en-US/firefox/dedicated-profiles/) was shown only to Nightly users for a limited period of time. That period seems to be 15/16 Jan 2019, and since then the page recieves pretty much zero traffic.

We could redirect this page to https://support.mozilla.org/kb/dedicated-profiles-firefox-installation

---

#### :yellow

[2020-01-13 09:35] alexgibson opened #8421 "Audit of legacy content"
## Description

Below are a few open issues to get started:

- /internet-health/ https://github.com/mozilla/bedrock/issues/8375
- /plugincheck/ https://github.com/mozilla/bedrock/issues/8374
- /technology/ https://github.com/mozilla/bedrock/issues/6824
- ~/firefox/concerts/ https://github.com/mozilla/bedrock/issues/8416~
- /styleguide/ https://github.com/mozilla/bedrock/issues/8418 ✔️
- /recommend

[2020-01-13 10:10] alexgibson commented on #7449
This is no longer required.

[2020-01-13 10:10] #7449 closed

[2020-01-13 10:12] alexgibson commented on #8409
@hoosteeno these API calls may be relevant to the above:

`canSetDefaultBrowserInBackground` – Whether the application can be set as the default browser in the background without user interaction.
`defaultBrowser` – Whether the application is the default browser. Since Fx40.

[2020-01-13 10:17] alexgibson commented on #8405
We're already hitting the stub auth service for every download on Windows, so adding in a new parameter here for bedrock should be fine I think.

Does that sound right, @pmac?

[2020-01-13 10:36] alexgibson opened #8424 "Find a better hosting solution for /enterprise package downloads"
## Description

See: https://bugzilla.mozilla.org/show_bug.cgi?id=1608659

TL:DR: box.com does not work in legacy browsers.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Box.com links are replaced by a self-hosted solution.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] The /enterprise team need to be able to update the URL autonomously.

[2020-01-13 10:36] alexgibson commented on #8424
/cc @devinreams

[2020-01-13 13:46] alexgibson commented on #6994
Ok, the /contribute/ page is now officially the last page on mozorg using the legacy Sandstone framework. All other Sandstone pages of the website have now been either ported to Protocol or decommissioned. As such, this issue is now the last remaining obstacle to removing that framework, which is a large and significant milestone on bedrock's technical roadmap.

We committed to redesigning this pa

[2020-01-13 15:34] rraue commented on #5940
Yes I still would like to do this if its small effort.

[2020-01-13 17:05] hoosteeno commented on #8393
@craigcook does this look ready for you? If so, we can drag into ready/progress.

[2020-01-13 17:07] hoosteeno commented on #7117
@alexgibson what does success look like on this? Would you be up for writing success criteria? With those, I think this is ready for solutioning.

[2020-01-13 17:17] hoosteeno opened #8425 "Default Browser Campaign: Rough design CTA"
## Description

We need to figure out how the default browser campaign CTA will work. This card is about putting together a clickable prototype that will help us identify the right way forward.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Rough prototype is ready for coding

#### Reviews
- [ ] UX
- [ ] Dev
- [ ] Analytics

[2020-01-13 17:23] alexgibson opened #8426 "Port /contribute/ pages to Protocol"
## Description

This is a temporary stop gap until https://github.com/mozilla/bedrock/issues/6994 is completed.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] /contribute pages are ported to Protocol. No content changes, using stock Protocol components where it makes sense.

[2020-01-13 17:28] alexgibson commented on #8426
Amy started on this but I'm going to see if I can finish it up.

[2020-01-13 17:37] #8263 closed

[2020-01-13 17:41] hoosteeno commented on #8425
If you are in Firefox and have *not* set Firefox to be the default, [here is a CTA experience that might work for you](https://invis.io/EZVJ028V2D8).

If you are in Firefox and have *already* set Firefox to be the default, [here is a CTA experience that might work for you](https://invis.io/5WVJ03HYR6E).

[2020-01-13 17:52] alexgibson commented on #7117
@hoosteeno from a product point of view, is building this page to live at /ru-RU/firefoix/new/ a viable solution? Or do we have to do this using geo-location?

[2020-01-13 18:10] #8370 closed

[2020-01-13 18:13] alexgibson opened #8427 "Determine fate of legacy campaign pages"
## Description

The following campaign pages are all several years old, and still using the legacy Pebbles framework. If they are no longer in use, we should decommission them. If they are still neded, we need to migrate them.

- https://www.mozilla.org/en-US/firefox/campaign/?xv=betterbrowser
- https://www.mozilla.org/en-US/firefox/campaign/?xv=safari
- https://www.mozilla.org/en-US/firefox/campa

[2020-01-13 18:14] pmac commented on #8405
Are we? I thought we were only hitting it when we had some UTM param data and/or a referrer. I assumed that wasn't everyone. Though I don't think it'll be a burden to turn it on for all stub downloads if we're not already.

[2020-01-13 18:19] alexgibson commented on #8405
https://github.com/mozilla/bedrock/pull/5609 seems to be the change that introduced adding data for every request

[2020-01-13 19:58] dzingeek commented on #8425
@hoosteeno I spent a bit more time thinking this through and would love your thoughts on my new proposed ux direction.

If you are in Firefox and have already set Firefox to be the default, [here is a CTA experience that might work for you.](https://mozilla.invisionapp.com/share/JVVJ32TKUWS#/400509754_400487682)

If you are in Firefox and have not set Firefox to be the default, [here is a CTA expe

[2020-01-13 20:56] sghoseWI commented on #8408
Test plan: https://docs.google.com/document/d/1L1HRec2DUAkZIs2Ylqb7ktvzShsEvuBACVMY4iocHUc/edit

[2020-01-13 21:14] hoosteeno commented on #8425
Thanks @dzingeek ! In conversation with @amychurchwell , we started thinking it would be a neater abstraction of all the "hard parts" of this if we were able to put the mechanism on a single page, and did not try to cram it into a modal. What do you think of this flow? https://miro.com/app/board/o9J_kv0J57s=/

[2020-01-13 22:12] hoosteeno commented on #8425
In meeting, the project team agreed that this flow is acceptable. We'll move on to copy and design.

[2020-01-13 22:12] #8425 closed

[2020-01-13 22:15] hoosteeno opened #8428 "Default Browser Campaign Epic"
## Description

We're building a set of pages to support a default browser campaign. The pages will work together to help people understand and change their default browser setting. This epic ties all the related work together. See below for specific deliverables.

[Master project doc (WNP 73, Landing, Thanks pages)](https://docs.google.com/document/d/1CfAN9CbtwAEAR2MYKhbcXxRYjUGvdm9XDosZPKQMnTg/e

[2020-01-13 22:19] hoosteeno opened #8429 "Default Browser Campaign: Design landing page"
## Description

In #8428 we'll build several campaign pages. This card is about designing the landing page for the campaign. The landing page will accept traffic from numerous upstream sources such as press, email, possibly in-product, etc. It should have one CTA: Set Firefox as Default. The CTA will link to a thanks page.

[Copy for Landing Page](https://docs.google.com/document/d/12WIabDAL1iE0z2

[2020-01-13 22:21] hoosteeno opened #8430 "Default Browser Campaign: Copy for landing page"
## Description

In #8428 we'll build several campaign pages. This card is about writing copy for the landing page for the campaign. The landing page will accept traffic from numerous upstream sources such as press, email, possibly in-product, etc. It should have one CTA: Set Firefox as Default. The CTA will link to a thanks page.

[Copy for Landing Page](https://docs.google.com/document/d/12WIabDA

[2020-01-13 22:22] hoosteeno opened #8431 "Default Browser Campaign: Code landing page"
## Description

In #8428 we'll build several campaign pages. This card is about coding the landing page for the campaign. The landing page will accept traffic from numerous upstream sources such as press, email, possibly in-product, etc. It should have one CTA: Set Firefox as Default. The CTA will link to a thanks page.

The copy doc for this page is [here.](https://docs.google.com/document/d/12WI

[2020-01-13 22:26] hoosteeno opened #8432 "Default Browser Campaign: Design Thanks Page"
## Description

In #8428 we'll build several campaign pages. This card is about coding the thanks page for the campaign. The thanks page will manage state-based transactions on behalf of users who have clicked "Set Firefox as Default" somewhere upstream. The diagram of conditions is here: https://miro.com/app/board/o9J_kv0J57s=/

[Copy for Thanks page](https://docs.google.com/document/d/1fbxpgFpFf

[2020-01-13 22:27] hoosteeno opened #8433 "Default Browser Campaign: Write copy for thanks page"
## Description

In #8428 we'll build several campaign pages. This card is about writing copy for the thanks page for the campaign. The thanks page will manage state-based transactions on behalf of users who have clicked "Set Firefox as Default" somewhere upstream. The diagram of conditions is here: https://miro.com/app/board/o9J_kv0J57s=/

[Copy for Thanks page](https://docs.google.com/document/d/

[2020-01-13 22:28] hoosteeno opened #8434 "Default Browser Campaign: Code thanks page"
## Description

In #8428 we'll build several campaign pages. This card is about coding the thanks page for the campaign. The thanks page will manage state-based transactions on behalf of users who have clicked "Set Firefox as Default" somewhere upstream. The diagram of conditions is here: https://miro.com/app/board/o9J_kv0J57s=/

[Copy for Thanks page](https://docs.google.com/document/d/1fbxpgFpFf

[2020-01-13 22:32] amychurchwell opened #8435 "staticfiles ValueError when DEBUG is set to false"
## Description

Bedrock encounters a staticfiles `ValueError` when DEBUG is set to false in .env.
I believe this is a bug related to `STATICFILES_STORAGE` being flipped to `ManifestStaticFilesStorage` in settings when DEBUG is false.

https://github.com/mozilla/bedrock/blob/4d9db1d8ed9e11e9e1fe1f259fd2303bf2d96489/bedrock/settings/base.py#L358-L359

[2020-01-13 22:37] amychurchwell commented on #8435
@Errolyn encountered this bug while working on the 404 page locally.

@pmac when debugging the issue I ran `collectstatic` per [django docs](https://docs.djangoproject.com/en/3.0/ref/contrib/staticfiles/#manifeststaticfilesstorage) & also `make clean build` & still received the staticfiles error. Any ideas on what the issue might be?

[2020-01-13 22:39] hoosteeno opened #8436 "WNP73: Code"
## Description

In #8428 we'll build several campaign pages. This card is about coding WNP73, which will be a primary entry point for the campaign.

* WNP73 will take the copy from the campaign landing page
* It will have 3 content items below the main CTA area; [WNP70 experiment v5](﻿﻿https://docs.google.com/presentation/d/1PlWlpWK3L27W2zmZ2Jp1VVhbDwUGMPohHCOEIQRl-wM/edit#slide=id.g7c4f53cf2e_0_1

[2020-01-13 23:03] ejregithub commented on #8412
@hoosteeno - please assess for inclusion to the backlog. This should be good to move to the ready column. Please note the requested date for go live, on or before 1/31 (so 1/23, realistically).

[2020-01-13 23:05] ejregithub commented on #8412
Hi @Shivansh2407 - apologies, I don't own the brief that was submitted and can't open it externally. I will see about posting the required content from it here. Thank you for your interest in working on the issue.

[2020-01-13 23:26] amychurchwell opened #8437 "Add test for modal on /technology"
## Description

The modal on /technology was updated to use [Protocol](https://github.com/mozilla/protocol) in #8423. We should add a modal test to `tests/pages/technology.py` by importing `tests/pages/regions/modal.py`

[2020-01-14 01:50] rantley commented on #8430
https://docs.google.com/document/d/1EQZP6CleTmrFoa1xNCqFe8UmaYupqTwXGsT9h6GNeyw/edit?usp=sharing

First draft of copy here

[2020-01-14 10:45] alexgibson commented on #8409
I think we have whenwe need here, closing this out.

[2020-01-14 10:45] #8409 closed

[2020-01-14 16:05] hoosteeno opened #8440 "Epic: Replace/Augment UA detection with Client Hints"
## Description

The user agent string will stop being an effective way to determine a user's browser sometime in 2020[0].

In 2021, we will likely need to use the Client Hints API[1,2] to get information about user agents.

Much of our user agent detection is intended to answer a couple key questions:
* Is the user agent Firefox, or not?
* Is the user agent on a mobile device, or not?

There may b

[2020-01-14 16:54] hoosteeno commented on #8433
Copy for the thanks page drafted here (cc @rantley ) https://docs.google.com/document/d/1EQZP6CleTmrFoa1xNCqFe8UmaYupqTwXGsT9h6GNeyw/edit

[2020-01-14 17:23] pmac commented on #8435
Yes. `ManifestStaticFilesStorage` requires all of the referenced files to exist. If you run `collectstatic` with `DEBUG=False` then it should collect them all and you can run the server in that mode.

[2020-01-14 17:45] #8333 closed

[2020-01-14 17:58] hoosteeno commented on #7717
This seems done -- is that true, @Pike ?

[2020-01-14 18:27] amychurchwell commented on #8435
@pmac unfortunatelly, `collectstatic` doesn't resolve the server error. :(
It seems to be receiving multiple errors of:
- `ValueError: Missing staticfiles manifest entry for 'js/BUNDLES/site.js'`
- `ValueError("Missing staticfiles manifest entry for '%s'" % clean_name`

The "site" js bundle is referenced in templates and declared in `static-bundles`, so I'm not sure what is happening there. The `'

[2020-01-14 18:30] alexgibson commented on #8440
It's not yet clear what the implications are for mozorg on Blink's intended change. Mostly we rely on basic OS detection (Windows, Mac, Linux, Android, iOS) to serve up the correct link on download buttons. There's a chance that this information may not be effected (only OS/browser versions and more detailed date), but we should still keep a close eye on this.

Supporting Client Hints is the propo

[2020-01-14 19:28] pmac commented on #8435
Oh! right. you also have to run the gulp stuff with `gulp build`. So the procedure should be:

1. `gulp build --production`
2. `./manage.py collectstatic`
3. Profit

I think that should do it at least...

[2020-01-14 20:35] amychurchwell commented on #8435
unfortunately, no dice. I think there is a wrong value happening somewhere, something that is not able to be referenced?

[2020-01-14 21:34] amychurchwell commented on #8435
this issue will be addressed in the work in #8392

[2020-01-14 21:34] #8435 closed

[2020-01-14 23:01] Errolyn commented on #8407
@ejregithub I'm not seeing a source for the copy? I'm just using what I see in the design but to go any further I need access to the copy doc. Thanks :D

@cgonz0 what famicon should we use for the 404 & 500 pages? And to double check there should not be a footer on this page?

[2020-01-15 01:22] rantley commented on #8430
@ejregithub  Landing page copy
https://docs.google.com/document/d/12WIabDAL1iE0z2suTS9fEpA_mMgl5geVlzy8KihcA94/edit?usp=sharing

[2020-01-15 01:23] rantley commented on #8433
@ejregithub Updated version of copy here

https://docs.google.com/document/d/1fbxpgFpFfPbo-E1tueXeh7z24zPplUIjGjr2anQRIfI/edit?usp=sharing

[2020-01-15 01:29] cgonz0 commented on #8407
@Errolyn
correct, no nav or footer. let me get back to you on the favicon:)
the (m)ozilla and desktop icons are used in the nav - although not exactly sure where they live in the directory.
i don't think the firefox logomark icon exists on any webpage just yet, so will send that to you.

[2020-01-15 01:41] cgonz0 commented on #8429
First Draft of landing page:

![default browser_set-as-default - landing page](https://user-images.githubusercontent.com/29640968/72397514-fcd59f80-36f4-11ea-91cb-174d645242ab.png)

[2020-01-15 01:48] cgonz0 commented on #8432
First Draft of thank you pages (firefox not desktop browser, not set to default (system dialog), set to default success)

![default browser_ser-as-default-thanks - thankyou page](https://user-images.githubusercontent.com/29640968/72397635-58a02880-36f5-11ea-9ad0-3f462b495f36.png)

@alexgibson  initial mocks here - should be enough to get a head start. icons included in one version - tbd on that.

[2020-01-15 01:51] ejregithub opened #8441 "Copy for WNP 73"
The WNP 73 page intended for release with the Firefox rapid release 73 on February 11th will feature content supporting the Firefox as Default Browser campaign.

[Copy doc for WNP73](https://docs.google.com/document/d/1LzZfDKW-UK-QcD3qaY59jXiwiNZTmr2adcr2-2VejV0/edit?usp=sharing)

#### Success Criteria
- [x] Copy is attached in final form to this issue
- [x] All approvals complete

#### Approvals

[2020-01-15 01:51] ejregithub opened #8442 "Design for WNP 73"
The WNP 73 page intended for release with the Firefox rapid release 73 on February 11th will feature content supporting the Firefox as Default Browser campaign.

[Copy doc for WNP73](https://docs.google.com/document/d/1LzZfDKW-UK-QcD3qaY59jXiwiNZTmr2adcr2-2VejV0/edit?usp=sharing)

#### Success Criteria
- [ ] Design is attached in final form to this issue
- [ ] All approvals complete

#### Approval

[2020-01-15 01:51] cgonz0 commented on #8436
@amychurchwell First Draft of wnp73 - icons forthcoming

![wnp73.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/e344003c-f25f-4dfe-8de2-c183c7d974a8)

[2020-01-15 01:58] cgonz0 commented on #8442
@amychurchwell First Draft of wnp73 - icons forthcoming

![wnp73.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/ef33e1ea-167d-426b-a6e7-761133d263ac)

[2020-01-15 03:01] rantley commented on #8441
@ejregithub Copy for WNP 73
https://docs.google.com/document/d/1LzZfDKW-UK-QcD3qaY59jXiwiNZTmr2adcr2-2VejV0/edit?usp=sharing

[2020-01-15 09:15] alexgibson commented on #8440
I've done a bit of investigating here, and it looks like there's a JS API that can provide user agent type data. This may give us enough of what we need, without requiring any server side config:

1. Download Chrome Canary
2. Open `about:flags` and enable "Experimental Web Platform features"
3. Relaunch Chrome Canary.
4. Visit https://www.mozilla.org/
5. Open the web console and paste the followin

[2020-01-15 14:26] alexgibson commented on #8434
WIP version of this page is now up on demo: https://www-demo2.allizom.org/en-US/firefox/set-as-default/thanks/

Testing notes:
- Be sure to [enable UITour](https://bedrock.readthedocs.io/en/latest/uitour.html#local-development) on demo by creating a pref called`browser.uitour.testingOrigins` with a value of `https://www-demo2.allizom.org`.
- To test the user flow, make sure Firefox is not already

[2020-01-15 14:36] alexgibson opened #8444 "Implement client side error reporting"
## Description

Bedrock doesn't currently have any form of client side error reporting, so we have no idea when or where JavaScript errors are occuring, unless they are lucky enough to be caught by functional tests.

We should do an evaluation of client side error reporting tools and look at what might be applicable to bedrock. For example, we already use [Sentry](https://sentry.io/welcome/) on th

[2020-01-15 15:49] alexgibson commented on #8434
One minor concern I have with the UX on this page:

Unless the visitor is referred from a page what sets the context (e.g. /whatsnew or /set-default/browser/ landing page), the UX of seeing a system prompt trigger on page load could be pretty suprising and/or confusing. This isn't something that web pages can typically do, so people will not expect it. We should be careful not to share this /thank

[2020-01-15 16:45] #8426 closed

[2020-01-15 16:56] ejregithub opened #8445 "WNP 73 - default browser campaign"
In #8428 we'll build several campaign pages. This card is the epic for  WNP73

[Releng bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1609993)

    WNP73 will take the copy from the campaign landing page
    It will have 3 content items below the main CTA area; WNP70 experiment v5 is an approach that could work.
    it will have a state-based CTA with two states. IF Firefox is the default, the

[2020-01-15 16:57] ejregithub opened #8446 "Extract strings for WNP73, Landing & Thanks pages - default browser campaign"
Depending on when copy hits as final for each page, separate PRs may be required to extract the strings for each file.

- [Copy doc for WNP73](https://docs.google.com/document/d/1LzZfDKW-UK-QcD3qaY59jXiwiNZTmr2adcr2-2VejV0/edit?usp=sharing)
- [Copy for Landing Page](https://docs.google.com/document/d/12WIabDAL1iE0z2suTS9fEpA_mMgl5geVlzy8KihcA94/edit?usp=sharing)
- [Copy for Thanks page](https://do

[2020-01-15 17:21] alexgibson commented on #8434
Design tweaks from Slack: firefox logo 60px, headline 56px, description 24px, bucket headline 24px

[2020-01-15 18:04] hoosteeno commented on #8434
@alexgibson I have set up a goal around Firefox being set as a default. I think if we use the [Generic CTA](https://bedrock.readthedocs.io/en/latest/analytics.html#gtm-listeners-data-attributes), we can track this as a goal. If you can set it up soon, we can click a few dozen times and see if data appears.

If I've configured this correctly (a wide open question TBH), we need to add 'data-cta-type

[2020-01-15 19:21] ejregithub opened #8447 "Show WNP to *beta* channel for users coming from <73.0"
## Description

Show a WNP to beta channel users updating the 73 beta (on RC week)

https://bugzilla.mozilla.org/show_bug.cgi?id=1609507

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Content from a previous rapid release WNP is assigned to the beta URL
- [ ] All locales at 100% are included
- [ ] QA has tested

#### Approvals
- [ ] Team Lead
- [ ] Approving stakeholder (MWarther)

[2020-01-16 09:13] alexgibson commented on #8434
I'm not sure I follow here. There is no CTA on this page, and hence nothing to click. Unless I'm misunderstanding what you mean (which is quite possible), I think we'll need a `dataLayer.push()` event or two to track interaction.

Is `cta-type` appropriate, seeing as we have no direct CTA on the page? I was thinking this should probably be `'event': 'in-page-interaction',` or similar?

[2020-01-16 10:04] alexgibson commented on #8432
@cgonz0

I updated the demo server with the design feedback you gave me yesterday over Slack, thanks.

I also updated the "Not set -> system dialog" state to not display the bottom section of links, as you suggested (screenshot below). As you can see, if someone has difficulty setting their browser to default, there is now nothing to help them since the SUMO links are no longer there.

My preferen

[2020-01-16 12:26] imskr commented on #8437
Can I work on this? @amychurchwell

[2020-01-16 14:56] cgonz0 commented on #8432
@alexgibson
yes, i think adding a help link underneath is helpful without being too distracting. we could either use the full text of that bucket with both links to desktop and android, or have a more condensed link - maybe just linking to the more general desktop link? although it would probably make more sense to include both links. here's a screenshot of an example of both - possibly copy can w

[2020-01-16 15:01] alexgibson commented on #8432
@cgonz0 thanks, I think adding the full blurb with both links is probably best, since Android users could also visit this page, and their only option is to follow the SUMO instructions. I'll see to updating the page, thanks.

[2020-01-16 15:07] cgonz0 commented on #8432
thanks @alexgibson, text set at 16px

[2020-01-16 15:29] hoosteeno commented on #8434
We could go either way. But as you earlier implied: Nobody should get here without clicking a CTA. But, as with many of our CTAs (e.g. download), the actual completion happens on a different URL.

What pattern do we use on /download/thanks? We should probably do the same here. I can set up a goal around it.

[2020-01-16 15:33] alexgibson commented on #8434
We don't fire any kind of event on /download/thanks/ specifically. I believe we have something configured in GA/GTM for this?

It's a little different here, as we may want to measure:

- People who land on the page who already have Firefox as default.
- People who land on the page who don't have a default set.
- People who are in the category above, who then go on to sucessfully switch their defau

[2020-01-16 15:36] alexgibson commented on #8432
@cgonz0 updated thanks

[2020-01-16 16:23] hoosteeno commented on #8434
OK, so let's do a `dataLayer.push()` with the following:

### already-set-to-default
[code]

### some-other-browser-set-to-default
[code]

### just-now-set-to-default
[code]

[2020-01-16 16:44] alexgibson commented on #8434
@hoosteeno events should now be firing on demo

[2020-01-16 16:45] cgonz0 commented on #8442
Updated Copy - (icons not finalized)
![wnp73_update](https://user-images.githubusercontent.com/29640968/72544585-817f0580-383c-11ea-8110-03edbf5de09b.png)

[2020-01-16 16:46] cgonz0 commented on #8429
Updated Copy - icons not finalized

![default browser_set-as-default - landing page_update](https://user-images.githubusercontent.com/29640968/72544641-98255c80-383c-11ea-92e2-3d57147cc32c.png)

[2020-01-16 17:03] #8393 closed

[2020-01-16 18:37] ejregithub opened #8450 "Show beta users the release WNP at 74.0beta"
## Description

Beta users will be offered the 74.0 the day prior to the rapid release 73.0

We have the opportunity to show content (WNP used in the rapid release channel or otherwise) to these beta users.

[RELENG BUG HERE](https://bugzilla.mozilla.org/show_bug.cgi?id=1609507)

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is live at assigned URL anytime before February 4th

[2020-01-16 18:41] ejregithub commented on #8450
FYI - I'm confirming the content (existing page, nothing new) that should be shown here, with Michele Warther.

[2020-01-16 19:16] hoosteeno commented on #8434
I was finally able to see events on demo.

I made one code comment for a change to a datalayer tag.

I modified the goal on prod to handle the "success" tag.
![Screen Shot 2020-01-16 at 12 15 25 PM](https://user-images.githubusercontent.com/94519/72555513-ee54c880-3859-11ea-9372-69ed8210340f.png)

[2020-01-16 19:27] ejregithub commented on #8450
Yes, same as beta 72 (WNP 70.0)

[2020-01-16 19:49] ejregithub commented on #8412
Piling on here - new requirement is do the tasks described here - https://github.com/mozilla/foundation.mozilla.org/issues/3765

[2020-01-16 23:23] ejregithub commented on #8434
@alexgibson - flagging here that the copy is final/approved by Shep and [the copy doc](https://docs.google.com/document/d/1fbxpgFpFfPbo-E1tueXeh7z24zPplUIjGjr2anQRIfI/edit#) is the source of truth.

[2020-01-16 23:24] ejregithub commented on #8431
@Errolyn - flagging here that the copy is final/approved by Shep and the [copy doc](https://docs.google.com/document/d/12WIabDAL1iE0z2suTS9fEpA_mMgl5geVlzy8KihcA94/edit#heading=h.oo63piaiuqi8) is the source of truth.

[2020-01-16 23:38] ejregithub commented on #8441
Flagging here that the copy is final/approved by Shep and the copy doc is the source of truth.

[2020-01-16 23:40] ejregithub commented on #8436
@amychurchwell - flagging here that the copy is final/approved by Shep and the [copy doc](https://docs.google.com/document/d/1LzZfDKW-UK-QcD3qaY59jXiwiNZTmr2adcr2-2VejV0/edit#) is the source of truth.

[2020-01-16 23:58] hoosteeno commented on #8434
It looks like the default experience for Firefox users on this page is to show the "you're almost done" message.

This breaks on Fennec. Do you think we need a 4th state for Firefox not desktop?

[2020-01-17 00:03] cgonz0 commented on #8442
@amychurchwell

![browserdefault_privacy_icon.svg](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/b26e4071-1648-411a-afeb-f91de6185e53)

![browserdefault_freedom_icon.svg](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/6412a7e2-07ba-4916-8dfd-39f706795d5d)

![browserdefault_independence_icon.svg](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/71c9ea42-6

[2020-01-17 00:05] cgonz0 commented on #8429
@Errolyn

![browserdefault_privacy_icon.svg](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/b26e4071-1648-411a-afeb-f91de6185e53)

![browserdefault_freedom_icon.svg](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/6412a7e2-07ba-4916-8dfd-39f706795d5d)

![browserdefault_independence_icon.svg](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/71c9ea42-66d1-4b

[2020-01-17 00:10] ejregithub commented on #8446
@amychurchwell - all copy is final/approved

- [Copy doc for WNP73](https://docs.google.com/document/d/1LzZfDKW-UK-QcD3qaY59jXiwiNZTmr2adcr2-2VejV0/edit?usp=sharing)
- [Copy for Landing Page](https://docs.google.com/document/d/12WIabDAL1iE0z2suTS9fEpA_mMgl5geVlzy8KihcA94/edit?usp=sharing)
- [Copy for Thanks page](https://docs.google.com/document/d/1fbxpgFpFfPbo-E1tueXeh7z24zPplUIjGjr2anQRIfI/edit?

[2020-01-17 04:41] amychurchwell commented on #8442
@cgonz0 demo URL for design review: https://www-demo5.allizom.org/en-US/firefox/73.0/whatsnew/all/

[2020-01-17 04:44] ejregithub commented on #8442
@amychurchwell - I'm seeing double CTAs. Which one do I pick?!  ;)

![Screen Shot 2020-01-16 at 8 43 43 PM](https://user-images.githubusercontent.com/20547886/72584946-ea986480-38a0-11ea-9755-c4caf0c5ba57.png)

[2020-01-17 09:19] alexgibson commented on #8432
@cgonz0 can you please provide the icons in these mockups? thanks

[2020-01-17 10:03] alexgibson commented on #8434
@hoosteeno note i think this is somewhat confusing. If someone is using a non-Firefox browser, we have no idea if it's their default or not, but also we don't need to track non-Firefox visits in this way, as that's done for free in GA anyway via regular page views.

I suggest we change this to:

firefox-browser-not-set-to-default

'eAction': 'visited'
'eLabel': 'firefox-not-default'

This seems cl

[2020-01-17 10:27] alexgibson commented on #8432
@cgonz0 @hoosteeno based on suggestions in https://github.com/mozilla/bedrock/issues/8434#issuecomment-575402884, I've made the following changes to state two, depending on if you're using Firefox for desktop/android/ios:

Desktop
--------
![image](https://user-images.githubusercontent.com/400117/72604856-9e3a3c80-3913-11ea-9153-8340d07134de.png)

Android
--------
![image](https://user-images.gith

[2020-01-17 10:29] alexgibson commented on #8432
@hoosteeno @cgonz0 please note that before we extract strings for this page, I'd like someone to officially approve the copy that's on demo: https://www-demo2.allizom.org/en-US/firefox/set-as-default/thanks/

[2020-01-17 12:58] hoosteeno commented on #8434
Wfm. Thanks.

[2020-01-17 14:38] alexgibson opened #8454 "Simplify site.js platform detection logic"
## Description

We have a global script called [site.js](https://github.com/mozilla/bedrock/blob/master/media/js/base/site.js) that sits in the `<head>` of every web page. This script is used for platform detection, and acts as a hook for displaying the correct link in our download buttons.

Much of the logic in here is from old, legacy code. Some stretching back to the old PHP site. We're likely

[2020-01-17 14:42] alexgibson commented on #8454
Currently clients classed as 'oldwin' and 'oldmac' see a message saying "Your system doesn't meet the requirements to run Firefox." They are prevented from downloading the product entirely.

![image](https://user-images.githubusercontent.com/400117/72620143-a061c280-3936-11ea-8e6d-48c64ef5615f.png)

Removing these checks would mean they fall through to 'other', or unknown status. This results in t

[2020-01-17 15:13] LucyeoH commented on #6461
@alexgibson  https://community.mozilla.org/ is now live so you can redirect /events to https://community.mozilla.org/events/ when you're ready!!

[2020-01-17 15:44] cgonz0 commented on #8432
@alexgibson the above changes look good to me. apologies about the icons - i pulled them from the website so thought you'd have access to them.
i just changed the help icon though. slacking to you now - not letting me attach them here.

[2020-01-17 15:51] cgonz0 commented on #8442
@amychurchwell looks great to me!

[2020-01-17 16:18] alexgibson commented on #8432
Icons are now in place https://www-demo2.allizom.org/en-US/firefox/set-as-default/thanks/

[2020-01-17 16:53] alexgibson commented on #8446
I've opened PRs to extract strings for the /thanks/ page here:

https://github.com/mozilla-l10n/langchecker/pull/954
https://github.com/mozilla-l10n/www.mozilla.org/pull/363

[2020-01-17 17:20] alexgibson commented on #8446
Strings for the /thanks/ page shouldnow be in Pontoon.

[2020-01-17 17:31] ejregithub commented on #8441
As copy is final/approved, I'm closing this issue.

[2020-01-17 17:31] #8441 closed

[2020-01-17 17:34] ejregithub commented on #8433
As copy is final/approved, I'm closing this issue.

[2020-01-17 17:34] #8433 closed

[2020-01-17 17:34] ejregithub commented on #8430
As copy is final/approved, I'm closing this issue.

[2020-01-17 17:34] #8430 closed

[2020-01-17 17:34] cgonz0 commented on #8432
thanks @alexgibson. could we bring down the help icon just a bit? (background-size: 29px 29px;) it visually feels a bit larger than the ff icon.

[2020-01-17 18:00] amychurchwell commented on #8446
PRs to extract strings for wnp73 (also covers landing page):

https://github.com/mozilla-l10n/www.mozilla.org/pull/364
https://github.com/mozilla-l10n/langchecker/pull/956

[2020-01-17 18:34] amychurchwell commented on #8442
@ejregithub I warned you in slack that a push was happening for the conditional code at that hour! lol 😄 should be correct now.

[2020-01-17 23:32] #8434 closed

[2020-01-19 20:45] Casimodo72 opened #8457 "Firefox on Facebook"
Guys, please move your brain around the usual ways of posting bugs in this case if you are interested in fixing firefox stuff.
You have a serious issue with Facebook.
1) I can't find a place to post firefox issues. That's why I post this here. It was the last entry on the first page of Mozilla's projects. So feel free to move this to the appropriate Firefox hub that I couldn't find :-/
2) Firefox

[2020-01-20 09:14] alexgibson commented on #8457
@Casimodo72 Sorry to hear you're having issues using Facebook. I can't replicate the issues you're describing, and if this was a wide-spread problem I'm pretty sure people would already be working hard to fix it.

This GitHub repository is for bugs relating to the www.mozilla.org website, so I'm going to close this issue. I'd suggest filing a new issue for firefox here: https://bugzilla.mozilla.or

[2020-01-20 09:14] #8457 closed

[2020-01-20 14:46] #8432 closed

[2020-01-20 14:46] #8395 closed

[2020-01-20 14:46] #8394 closed

[2020-01-20 14:58] alexgibson commented on #8157
This page is in production https://www.mozilla.org/en-US/firefox/welcome/5/

[2020-01-20 14:58] #8157 closed

[2020-01-20 14:58] alexgibson commented on #8265
This page is in production https://www.mozilla.org/en-US/firefox/welcome/5/

[2020-01-20 14:58] #8265 closed

[2020-01-20 17:16] #8446 closed

[2020-01-20 17:18] alexgibson commented on #8396
This was done in https://github.com/mozilla-l10n/www.mozilla.org/pull/362

[2020-01-20 17:18] #8396 closed

[2020-01-20 17:18] alexgibson commented on #8397
All dependencies are complete here

[2020-01-20 17:18] #8397 closed

[2020-01-20 17:52] alexgibson commented on #8421
Audit doc of other existing pages here: https://docs.google.com/spreadsheets/d/1RMYNxsFvZAx2DGwHINiEbf5oUYzOvEOp2RPrIH1LtF0/edit?usp=sharing

[2020-01-20 17:58] alexgibson opened #8461 "Determine the fate of /firefox/features/ pages."
## Description

The [/firefox/features/](https://www.mozilla.org/en-US/firefox/features/) pages are now old and outdated. They we're also all designed primarily as download/conversion pages, rather than being instructional or informative for existing Firefox users. It's debatable how useful they are in their current state.

We need to decide what to do with them. Either we should decommission them

[2020-01-21 02:21] Shivansh2407 commented on #8383
Can I help with this issue Sir? The only thing that needs to be done here is removing jquery code?

[2020-01-21 02:54] l-hedgehog commented on #8454
Somewhat related: https://bugzilla.mozilla.org/1564333

[2020-01-21 09:09] #8436 closed

[2020-01-21 09:09] #8442 closed

[2020-01-21 09:10] #8445 closed

[2020-01-21 09:11] #8399 closed

[2020-01-21 09:50] alexgibson commented on #8405
@hoosteeno given the above, I'm not sure if there's anything preventing us adding the `ua` parameter to all stub attribution requests, at least on the bedrock side of things.

[2020-01-21 09:53] alexgibson commented on #8209
I'm going to close this issue, since (afaik), the content outlined above is no longer needed for this page in question. Feel free to reopen if that's not the case though.

[2020-01-21 09:53] #8209 closed

[2020-01-21 10:01] Casimodo72 commented on #8457
@alexgibson : I shouldn't have written my comment :-) I was home, had some wine and really annoyed. As a workaround I'll just switch to an other browser for FB. Thanks for your response though!

[2020-01-21 10:17] alexgibson commented on #8427
@guyfitzpatrick hi - unless you have any reason why we need to keep these pages around, I'm going to propose we end-of-life the above campaign landing page designs.

All the above URLs have next to zero traffic in GA, and the templates themselves are built on a legacy framework which is being decommissioned. If any of this content is still needed, it would need to be ported to use our current desi

[2020-01-21 10:59] alexgibson commented on #7488
The Firefox Beta product uses the same logo as the main release version of Firefox, so I'm not entirely sure that the logo change is the right thing to do here. Displaying the same logo as the release version seems more consistent to what users see day to day.

<img width="559" alt="image" src="https://user-images.githubusercontent.com/400117/72799259-ba541b80-3c3c-11ea-943d-877fd2c32f65.png">

[2020-01-21 11:43] #8431 closed

[2020-01-21 11:43] #8429 closed

[2020-01-21 11:44] #8428 closed

[2020-01-21 15:52] hoosteeno opened #8463 "Allow different campaigns for download button"
## Description

The download button we use in most places on our website currently has hard-coded UTM parameters for referrals to app stores. We should enable a specific template to pass in different `utm_campaign` and `utm_content` params that will be added to the URLs for mobile Firefox installs on app stores.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] A template can pass `u

[2020-01-21 18:02] #6461 closed

[2020-01-21 18:49] hoosteeno opened #8465 "Eliminate /concerts"
## Description

There is no indication that the series will continue. We should eliminate the content at https://www.mozilla.org/firefox/concerts/, including any templates, template-specific helpers, template-specific javascript, template-specific CSS.

@rraue , please specify whether this should be a redirect (and to what?) or a 404.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ]

[2020-01-21 19:58] ericawright opened #8467 "/firefox/privacy/products misleading links"
## Description

On firefox/privacy/products there are 5 links that all go to about:protections. 2 of them are expected, but 3 seem to imply they will take you somewhere else.  These 3 are labelled
"Invisible to the top trackers", "Always in your control" and "Protection beyond tracking".

### Steps to reproduce

Visit https://www.mozilla.org/en-CA/firefox/privacy/products/ and click the links ment

[2020-01-21 23:34] craigcook commented on #8465
hmm... in addition to the page itself, there was also a bunch of back-end logic to handle signing into bedrock via FxA. We may want to preserve that capability in some form, though it would need some refactoring to make it generic and not so concert-specific. Or we could just rip all that out and if we need to use FxA auth again in the future we can add it back.

[2020-01-22 00:39] ejregithub opened #8468 "Code - Update Icons in modules on the 'default browser' campaign pages"
## Description

Design updates, image files, are being created for the modules in the lower sections of the pages supporting the 'default browser' campaign.

These are
- The WNP73
- https://www.mozilla.org/firefox/set-as-default/

---

#### Success Criteria
- [ ] Icons are updated and live

#### Approvals
- [ ] Brand
- [ ] Team Lead

[2020-01-22 00:40] ejregithub opened #8469 "Design - Update Icons in modules on the 'default browser' campaign pages"
## Description

Design updates, image files, are being created for the modules in the lower sections of the pages supporting the 'default browser' campaign.

These are
- The WNP73
- https://www.mozilla.org/firefox/set-as-default/

---

#### Success Criteria
- [x] Icons are provided to developer for coding

#### Approvals
- [ ] Brand
- [ ] Team Lead

[2020-01-22 14:18] alexgibson commented on #8416
Closing this as fate has been determined ☠️ https://github.com/mozilla/bedrock/issues/8465

[2020-01-22 14:18] #8416 closed

[2020-01-22 14:22] alexgibson commented on #8467
/cc @MKS-moz

Michaela, can you provide some insight into why the links all go to about:protections? Is there a more appropriate place they could go to instead, that makes sense for this page? Thanks

[2020-01-22 14:48] rraue commented on #8465
Thats a 404, we do not even have a far fetched equivalent page so a redirect wouldnt benefit any user.

[2020-01-22 15:42] alexgibson commented on #8402
@pmac fyi - the events page has been removed, so I think we should be fine to remove event data from the DB.

[2020-01-22 16:01] MKS-moz commented on #8467
Hi Erica and Alex — thanks for tagging me in. We ran user testing, led by Jennifer Rouse, after the page launched to identify any misleading links and help us understand how the page could be more intuitive. This isn't something that was identified through user testing as something we should consider changing. about:protections does satisfy the three prompts in question — to meet the four of the m

[2020-01-22 17:08] pmac opened #8470 "Upload .webp files with the proper mime type"
The AWS cli that we use to upload our static media to the S3 buckets uses the Python standard library [`mimetypes` package](https://docs.python.org/3/library/mimetypes.html) to "guess" the types for each file. In #8464 we've added our first .webp file to bedrock, and it does not properly guess the type. This is because the type isn't quite in the standards yet, and the Python lib only adds the sta

[2020-01-22 17:18] pmac opened #8471 "Remove ContributorActivity model and contributor-data/ URL"
Along with the `update_tableau_data` management command. These things are no longer used. They updated data for a JSON endpoint like https://www.mozilla.org/contributor-data/github.json, but all of those URLs return empty JSON objects now.

@alexgibson do you agree, or is there some plan to revive this?

[2020-01-22 17:19] alexgibson commented on #8471
Huh, I had no idea this was a thing. Was this used for the old mozilla logo prototype that was never used? If that's the case, then yeah let's remove it 👍

[2020-01-22 17:25] pmac commented on #8471
It was that plus some numbers on an old home page and the main old contributor page IIRC. Sounds good. Adding it to the PR of removal :) 💥

[2020-01-22 17:27] alexgibson commented on #8471
We still have contributor number here, but I'm not sure where that comes from: https://www.mozilla.org/en-US/contribute/

[2020-01-22 17:30] pmac opened #8472 "Remove all old deis scripts"
I found some old scripts using deis commands. There is no Deis, there is only k8s.

[2020-01-22 18:06] pmac opened #8474 "Remove events app"
Follow up to #8473 (#8402). Those changes need to go to prod so that the database cleanup will happen. After that we can fully remove the events app and other migrations that have deleted models.

[2020-01-22 18:21] craigcook commented on #8465
@pmac Any thoughts on trying to preserve the FxA Oauth stuff in some form? The more I look at it, it seems like it's mostly concert-specific (e.g., [lots of stuff for the basket RSVP mixed in](https://github.com/mozilla/bedrock/blob/master/bedrock/mozorg/views.py#L192)) so I'm thinking rather than refactor it might be simpler to remove it all and re-implement it cleanly if/when we need Oauth again

[2020-01-22 18:32] hoosteeno commented on #8465
I am in favor of removing and reimplementing if needed. First, because FxA infrastructure has evolved since this was written. Second, because the reason to remove this content now is to avoid augmenting the FxA integration with a handler for Delete User events (which is newly required in 2020).

[2020-01-22 18:47] craigcook commented on #8465
Good point. In that light, it's much better to remove it all now rather than put any effort into updating something we don't even need.

[2020-01-22 19:04] ejregithub opened #8475 "WNP73 - string changes, legal requirement"
## Description

3 strings need to be updated in the WNP 73.0 webpage. These strings must be changed - so if we can wrap them to show en-US copy in all locales until the other locale strings can be updated that would be best.

String One:

The current copy reads:

"The internet keeps finding new ways to poach your personal data. Firefox is the only browser with a mission of finding new ways to prot

[2020-01-22 21:34] pmac commented on #8470
I've created an [aws-cli docker image](https://github.com/mozmeao/aws-cli-docker) that we can use that will fix this issue, and allow us to add more mime types in future. I'm prepping a PR for bedrock to use it, though it will be difficult to test.

[2020-01-22 21:57] pmac commented on #8465
I'm also +1 for removal. 💥

[2020-01-23 09:42] alexgibson commented on #8475
L10n PR: https://github.com/mozilla-l10n/www.mozilla.org/pull/365

[2020-01-23 14:20] alexgibson commented on #6798
When this issue was filed, these pages were extending the /firefox/new/ template, together with all of its more complex features, in order to add some new strings at a different URL. This impacted things like making changes to, and running experiments on the /new page, as we always had to be careful not to break or introduce errors here on these other pages.

Today, the /new page is no longer quit

[2020-01-23 14:30] alexgibson commented on #6798
To try and answer your question more directly, I honestly don't think we need to build a complex system for these pages. If they need to exist, then keep them simple, using stock Protocol components and layouts (e.g. like /this-browser-comes-highly-recommended). Sticking to this requires very little maintenance, and allows us to keep concerns more easily separated.

[2020-01-23 14:42] rraue commented on #6798
Some context here: I still intend /new to be improved so we dont need the three subpages anymore, but the improvement of /new got delayed several times because of priorities and until /new isn't ranking for what the subpages are ranking for, we need them. They increased desktop downloads on www by 2% and still growing.

[2020-01-23 14:50] alexgibson commented on #6798
If we still need these URLs, and the page design can't change for whatever reason, then I'm not opposed to keep on extending it for now. Either that, or extend from /firefox/campaign/. But my first preference would be to make these page designs as low maintenance as possible (e.g. stock Protocol components).

[2020-01-23 15:50] rraue commented on #6798
For SEO the page design can be whatever is best to maintain, it can change for sure, lets just keep an eye on the ctr and test changes.

[2020-01-23 18:29] #8475 closed

[2020-01-23 19:04] #8384 closed

[2020-01-23 19:27] #8471 closed

[2020-01-23 19:27] #8402 closed

[2020-01-23 19:27] #8417 closed

[2020-01-23 21:08] #8450 closed

[2020-01-23 23:01] cgonz0 commented on #8469
[browserdefault_landing.zip](https://github.com/mozilla/bedrock/files/4105988/browserdefault_landing.zip)

![default browser_set-as-default - landing page_update - new icons](https://user-images.githubusercontent.com/29640968/73031367-bcf77200-3df0-11ea-929e-e63ebcd170a0.png)

[wnp73.zip](https://github.com/mozilla/bedrock/files/4105994/wnp73.zip)

![wnp73_update_new icon](https://user-images.gith

[2020-01-24 09:24] alexgibson opened #8479 "Run CSS/JS linting and tests via npm scripts"
## Description

Given that most code editors lint CSS/JS on-the-fly today, without requiring any project specific build scripts, it may be worth migrating Gulp tasks for ESLint, Stylelint, and Karma to run as simple npm scripts instead.

Doing this may reduce the number of npm dependencies we currently have, and also simplify/lighten our gulpfile.

---

#### :yellow_heart: Success Criteria :yellow

[2020-01-24 10:18] alexgibson commented on #8045
I'm going to close this based on the guidelines that were added to https://bedrock.readthedocs.io/en/latest/fluent-conversion.html

Feel free to re-open if there's still something missing in our process / documentation.

[2020-01-24 10:18] #8045 closed

[2020-01-24 10:19] alexgibson commented on #7785
Closing this, but feel free to re-open if there's still some more work to be done.

[2020-01-24 10:19] #7785 closed

[2020-01-24 10:22] alexgibson commented on #8021
Given that some mixed content is OK, and that locales will have time to catch up before old strings are removed after a certain time period, I don't think this is a feature we necesarily need at this time.

[2020-01-24 10:22] #8021 closed

[2020-01-24 10:33] alexgibson commented on #8467
One piece of copy here does seem a little confusing to me:

[code]

When clicking the link, I kind of expect to be taken to a page where I can directly customize my settings, but I have to do a second click "Protection Level is set to X" -> opens about:preferences#privacy, from within the about:protections page to do that.

It could be said that linking to the same place from all three pieces of b

[2020-01-25 08:55] imskr commented on #8437
@amychurchwell Should I start working on this?

[2020-01-25 09:11] amychurchwell commented on #8437
Hi @imskr, you can work on this issue. Thanks for the interest.
Expect slower responses this week and next from the team due to work. 👍

[2020-01-27 16:48] imskr commented on #8437
Its ok @amychurchwell no problem :)

[2020-01-27 17:23] imskr commented on #8437
Do I only have to import `tests/pages/regions/modal.py`? @amychurchwell

[2020-02-03 06:43] Shubhrmcf07 commented on #8383
Can I help on this?

[2020-02-03 06:44] Shubhrmcf07 commented on #8382
Can I help with this issue, sir?

[2020-02-04 09:12] alexgibson commented on #8200
This is now unblocked in Nightly

[2020-02-04 15:07] alexgibson opened #8482 "Measure the delta between server logs and downloads in GA."
## Description

As a starting point for conversations relating to https://github.com/mozilla/bedrock/issues/7083, we'd like to first take a measured approach to understanding how accurately our current GA setup is reporting on data such as downloads / sessions.

Reasons there could be a delta between what GA is telling us and what we see in server logs:

- More people are now starting to block Goo

[2020-02-04 15:08] alexgibson commented on #7083
Depends on https://github.com/mozilla/bedrock/issues/8482

[2020-02-04 17:02] alexgibson commented on #8302
Adding a blocker to this as I don't know who still needs to approve the page.

[2020-02-04 19:43] hoosteeno commented on #7579
I have reviewed this and think we should ship it. :shipit:

[2020-02-04 19:47] hoosteeno commented on #7577
I have reviewed this and think we should ship it. :shipit:

[2020-02-04 19:48] hoosteeno commented on #7578
I have reviewed this and think we should ship it. :shipit:

[2020-02-04 19:57] hoosteeno commented on #7580
I have reviewed this and think we should ship it. :shipit:

[2020-02-04 21:48] hoosteeno commented on #7576
I  have reviewed this and think we should ship it. :shipit:

[2020-02-05 13:51] alexgibson opened #8484 "Enable Convert experiments to pass experimental parameters to stub attribution"
## Description

In https://github.com/mozilla/bedrock/issues/7474 we added the capability to pass `experiment` and `variation` parameters to stub attribution via query string. Whilst this works great for external referrers and Traffic Cop experiments, it's not ideal for tools like Convert, where experiments don't vary by URL.

To allow Convert experiments to pass data to stub attribution, we can l

[2020-02-05 15:11] #8405 closed

[2020-02-05 15:18] rraue opened #8485 "Add a link tile to /features for the browser comparison hub"
## Description

We need to add a link tile on the features page to link to /firefox/browsers/compare/ so this pages aren't orphaned and has better chances for SEO. The feature page isn't very up to date but the link will count right now until we get a chance to redo the whole feature page.

![Screenshot 2020-02-05 at 16 13 00](https://user-images.githubusercontent.com/36700618/73854447-de198300-48

[2020-02-05 15:21] alexgibson commented on #8447
Closing this as a duplicate of https://github.com/mozilla/bedrock/issues/8450 (we missed the boat for beta 73)

[2020-02-05 15:21] #8447 closed

[2020-02-05 17:04] alexgibson opened #8486 "Fennec Nightly download links are 404"
## Description

Download links on mozorg for Fennec Nightly are 404.

### Steps to reproduce

1. Navigate to https://www.mozilla.org/en-US/firefox/all/#product-android-nightly
2. Click "Download Now"

### Expected result

A file download

### Actual result

404:
- https://download.mozilla.org/?product=fennec-nightly-latest&os=android&lang=multi
- https://download.mozilla.org/?product=fennec-nightl

[2020-02-05 17:56] jbuck commented on #8486
For now, we've decided to restore the objects

[2020-02-05 18:00] alexgibson commented on #8486
@jbuck thanks - I'll close this issue, but we'll open a new issue to discuss how / when we can switch over from Fennec to Fenix.

[2020-02-05 18:00] #8486 closed

[2020-02-05 19:03] devinreams commented on #8424
We don't want to manually create/maintain these anymore, so will need to do the following...

- [ ] remove Download buttons and terms link from https://www.mozilla.org/firefox/enterprise/#download
- [ ] add "Deployment Guide" to a hosted location (GDrive, bedrock?) and link to it
- [ ] link "Policy documentation" to the GitHub default branch view for that markdown file?

## Windows 64

- [ ] link

[2020-02-06 09:51] alexgibson commented on #7561
@amychurchwell hi, is this something you're still working on? I can update the roadmap if you need more time on this. I'm curious if we reached a recommendation, as I can think of a few areas this might be useful for in the future.

[2020-02-06 10:33] alexgibson commented on #7560
@hoosteeno @pmac is there still an appetite for this work? It's been pushed back on the technical roadmap a few times, which gives me the impression it's no longer as importent compared to when we first filed this issue.

Should we keep this open, and try to commit a time to doing it, or should we close it?

[2020-02-06 10:33] alexgibson commented on #6123
@hoosteeno @pmac is there still an appetite for this work? It's been pushed back on the technical roadmap a few times, which gives me the impression it's no longer as importent compared to when we first filed this issue.

Should we keep this open, and try to commit a time to doing it, or should we close it?

[2020-02-06 15:26] alexgibson commented on #8484
I think I can write a script that will automatically get a convert experiment name/variation ID, since when convert loads it creates a global `window.convert` variable that hangs all the data related to experiments defined in the dashboard.

If we can get the current data for an experiment this way, we can then pass that into stub attribution automatically.

[2020-02-06 15:35] hoosteeno commented on #8485
This is a way to create an SEO outcome, which means the style and location and usability of the link are not very important. True? So a hasty addition for now would be adequate?

[2020-02-06 15:36] rraue commented on #8485
Exactly, I suggest nonetheless that we integrate it as its own tile like the other tiles.

[2020-02-06 16:55] amychurchwell commented on #7561
@alexgibson hi! yes, this got a little buried in the shuffle unfortunately. I can kick this back up tomorrow and get it in a place for discussion/recommendation so we can close it out.
What other areas can you think of this being used for? It could affect the libraries/frameworks in the write up.

[2020-02-06 16:57] pmac commented on #7560
It's on my map for H1. It was pushed last year due to subhub work, but should now be cleared for takeoff.

[2020-02-06 17:13] devinreams commented on #8424
@ejregithub I just created a pull request to remove the downloads entirely and replace them with links in the content.

Is this something you can help us get reviewed and deployed ASAP as the files are currently outdated and removed from box.com: https://github.com/mozilla/bedrock/pull/8489

[2020-02-06 17:15] alexgibson commented on #7561
We have some upcoming tasks related to removing legayc jQuery code from pages. For example, the contact pages feature a mobile navigation menu that gets rendered using JS: https://github.com/mozilla/bedrock/issues/8383

[2020-02-06 17:26] devinreams commented on #8424
Whoop, I believe @ejregithub is out right now...

Sorry to bug you directly @hoosteeno or @alexgibson, but is this something you all can help take a look at? #8489

[2020-02-06 17:39] devinreams opened #8490 "Remove Enterprise "SLA" page and assets"
Remove the content and references and assets related to:
https://www.mozilla.org/firefox/enterprise/sla/

It's no longer needed or applicable given #7727

Closes #8259

[2020-02-06 19:55] amychurchwell commented on #8298
String extraction PR for firefox/browsers - https://github.com/mozilla-l10n/www.mozilla.org/pull/366

[2020-02-06 20:14] amychurchwell commented on #8298
String extraction PR for firefox/products - https://github.com/mozilla-l10n/www.mozilla.org/pull/367

[2020-02-06 21:28] #8259 closed

[2020-02-06 21:28] #8490 closed

[2020-02-06 22:38] #8424 closed

[2020-02-07 00:15] hoosteeno opened #8494 "Updates to leadership page: Week of 2020-02-10"
## Description

We need to update the leadership page with some new copy and new photos. The specific changes are described in [this document.](https://docs.google.com/document/d/1GRMAxBdXWto5fI9OiS_HRgIjzH2pXFWJyGdnYe4X9dI/edit)

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] All changes described in the document are made to page
- [ ] Updates are launched in the week of 2020-02-1

[2020-02-07 15:42] alexgibson commented on #8484
Testing notes:

1.) Using Chrome on Windows, visit https://www-demo5.allizom.org/en-US/exp/firefox/new/?_conv_eforce=10033458.100361888
2.) Open Dev tools, click the Applications tab, and select Cookies.
3.) Find the cookie called `moz-stub-attribution-code` and double click its value (it should be a bse64 string like `c291cmNlPShub3Qgc2V0KSZtZWRpdW09KGRpcmVjdCkmY2FtcGFpZ249KG5vdCBzZXQpJmNvbnRlbnQ

[2020-02-07 15:52] alexgibson commented on #8484
@hoosteeno if you're curious there are testing instructions above ^

[2020-02-07 16:27] pmac commented on #8470
@metadave I've added a commit to the keybase git repo for the ansible for the gitlab runners. Would you mind giving that a look to verify that it appears to do what it should?  It should add `/etc/apache2/mime.types` which is a file that both python and golang look for (python for `aws s3 sync` and golang for rclone).

[2020-02-07 18:47] craigcook commented on #8424
Updates are live: https://www.mozilla.org/firefox/enterprise/

[2020-02-07 23:11] stephaniehobson commented on #6798
I don't think it's appropriate to move these into the campaign section because these are indexed pages (everything in campaign lists /new as it's canonical URL).

@alexgibson let me know if my logic is off.

[2020-02-07 23:12] stephaniehobson commented on #6798
@rraue Do we need to keep these links?

<img width="317" alt="Screen Shot 2020-02-07 at 15 12 33" src="https://user-images.githubusercontent.com/854701/74072652-4e074500-49bc-11ea-9281-58db7c84dc64.png">

[2020-02-08 11:20] rraue commented on #6798
@stephaniehobson Not for SEO necessarily but I think we should keep them or replace with possible better UX to give everyone the solution they might need, same like on /new.

[2020-02-10 09:05] alexgibson commented on #6798
The original intent behind this issue was to reduce complexity for these pages, but if we want to keep all these features then perhaps we should close this issue as wontfix, and commit to keeping / maintaining the pages as they are currently, and simply update the branding.

[2020-02-10 09:11] alexgibson commented on #7117
Update: we met with the product/search team on friday and agreed on the following:

- We'll split this out into two pages, `/ru/firefox/new/` and `/ru/firefox/new/yandex/`.
- We'll use geolocation (preferably a cloudflare worker), to redirect from one URL to the other, if the visitor is geo-located in Russia.
- We don't want to use the locale-only solution (ru-RU), because revenue generated from s

[2020-02-10 10:00] alexgibson commented on #7117
@rraue any concerns with the above, assuming we set the canonical for the yandex URL to point to the regular ru page?

[2020-02-10 13:14] rraue commented on #6798
That was just my opinion and as its not important for SEO I think @cgonz0 and/or @dzingeek should decide rather than me.

[2020-02-10 13:17] rraue commented on #7117
Problem is then, that in russia (google and yandex) the regular /new will show up and if I remember right this was not what we wanted.

[2020-02-10 13:22] alexgibson commented on #7117
People in Russia will be redirected to the Yandex page

[2020-02-10 14:00] rraue commented on #7117
That might work for Google, but with Yandex I am not sure, as their crawler will have a russian IP therefor will be redirected and then via canonical be told the original is where it will get redirected again. Most likely Yandex will then ignore the canonical and everything should be fine. But tehre is a risk. Yandex cant update their search results, their links yes but the search results are algo

[2020-02-10 14:10] alexgibson commented on #7117
So if we had two separate URLs, what would be your suggested solution for indexing?

Fwiw, I don't see any evidence that the current solution surfaces the Yandex copy in their search results:

![image](https://user-images.githubusercontent.com/400117/74156742-e137b900-4c0e-11ea-82e5-ab28395ef66d.png)

[2020-02-10 14:39] rraue commented on #7117
Exactly but didnt we want the yandex copy in search?

[2020-02-10 14:43] alexgibson commented on #7117
What I’m trying to say is the current solution doesn’t work well now, so can using separate urls make the results better? What would be your proposed hreflang solution if this was viable?

[2020-02-10 15:28] alexgibson commented on #7117
After talking this through with @rraue on Zoom it's more clear that using two separate URLs could potentially cause some issues with regard to indexing, even though people would be seeing the right content. Also given the current solution that's in production today also doesn't work well with indexing (see screenshot above), using the `ru-RU` locale may be worth some further consideration.

@rraue

[2020-02-10 16:31] devinreams opened #8496 "Enterprise page: download link for Firefox browser wrong for Mac/Win32"
## Description

We added links to the downloads section #8492 but I accidentally had swapped the O/S links for Mac and Win32 on "Firefox browser".

### Expected result

For the "Firefox browser" link:

- Mac links to: https://download.mozilla.org/?product=firefox-latest-ssl&os=osx
- Win32 links to: https://download.mozilla.org/?product=firefox-latest-ssl&os=win

### Actual result

The opposite 😔

[2020-02-10 17:09] hoosteeno commented on #8407
@Errolyn Can you update with status on these pages?

[2020-02-10 17:12] hoosteeno commented on #7468
Closing this epic as we're no longer tracking it as a collection of work.

[2020-02-10 17:12] #7468 closed

[2020-02-10 17:14] hoosteeno commented on #7324
@cgonz0 can you update with status? Is this still in progress?

[2020-02-10 17:15] hoosteeno commented on #7542
@Errolyn is this still in progress?

[2020-02-10 17:16] sghoseWI commented on #8203
https://docs.google.com/document/d/1cKw1Z7TddHYglhN6lr1CpQwa5BXF9krCaLRbrfeLAYs/edit

[2020-02-10 17:17] hoosteeno commented on #8469
@cgonz0 is this design task done? If so, do you mind creating a coding issue in the "ready" column with clear specs for a coder?

[2020-02-10 17:23] cgonz0 commented on #7324
@hoosteeno this is in progress - we did initial copy/design, but still needs brand review. would be good to have separate copy and design cards

[2020-02-10 17:25] hoosteeno commented on #7117
Next steps on this are @rraue to research whether any simplification option can work with search, considering the geolocation requirements.

[2020-02-10 17:26] cgonz0 commented on #8469
@hoosteno this is currently on hold as brand is exploring icon work. should this go into the backlog in the meantime?

[2020-02-10 17:38] #7431 closed

[2020-02-10 17:54] Errolyn commented on #7542
Yes is it part of the webpack work  that is still on going, though this portion in the webpack work is mostly done. I don't want to close this until all the webpack stuff is done and merged.

[2020-02-10 17:58] Errolyn commented on #8407
Is mostly done, I have been having a transient issue with the styles in the 500 page not showing up, and also the page itself having an error. I plan to get everything up on demo today for review.

[2020-02-10 18:16] cgonz0 opened #8498 "Newsletter preferences Thank You page update - COPY"
[#7324](https://github.com/mozilla/bedrock/issues/7324)

[2020-02-10 18:19] cgonz0 opened #8499 "Newsletter preferences Thank You page update - DESIGN"
## Description

Refer to [#7324](https://github.com/mozilla/bedrock/issues/7324)

---

#### Approvals
- [x] Brand
- [x] Team Lead

[2020-02-11 00:00] stephaniehobson opened #8501 "Dot on channel page only in Chrome"
## Description

There's a weird lonely dot hanging out on the channel page.

### Steps to reproduce

Open: https://www.mozilla.org/en-US/firefox/channel/desktop/ in Chrome

Scroll down:
<img width="581" alt="Screen Shot 2020-02-10 at 15 58 43" src="https://user-images.githubusercontent.com/854701/74201336-4fd04300-4c1e-11ea-8cd9-01a1e01429bb.png">

### Expected result

No dot.

<img width="618" al

[2020-02-11 00:22] craigcook commented on #8501
It's a stray list marker. The picto card macro defaults to `li` as the base element but in this case it doesn't have a `ul` parent so it's not getting the global `list-style: none;` styling. Chrome evidently adds bullets to `li` elements when it doesn't know how else to treat them (Firefox seems to treat them as nothing; `li` isn't valid HTML without a parent `ul` or `ol`).

Switching the macro ca

[2020-02-11 14:18] alexgibson opened #8503 "Port /about/leadership/ page to Protocol"
## Description

The leadership page is built using Pebbles. We need to port it to Protocol whilst stil retaining the same basic functionality.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is updated in production to use Protocol

#### Tasks
- [ ] Update template, scss.
- [ ] Remove any stray assets.
- [ ] Update functional tests.

[2020-02-11 14:21] alexgibson opened #8504 "Port manifesto pages to Protocol"
## Description

The /about/manifesto/ and /about/manifesto/details/ pages are still using Pebbles and need porting to Protocol.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Both pages are updated in production to use Protocol.

#### Tasks
- [x] Update templates and scss.
- [x] Remove any stray assets.
- [ ] Update tests?

[2020-02-11 14:23] alexgibson opened #8505 "Port /moss/ pages to Protocol"
## Description

The /moss/ pages are still using Pebbles and need porting to Protocol.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Pages are updated in production to use Protocol.

#### Tasks
- [x] Update templates and scss.
- [ ] ~Remove any stray assets.~
- [ ] ~Update tests?~

[2020-02-11 14:24] alexgibson opened #8506 "Port /contact/ pages to Protocol"
## Description

The /contact/ pages are still using Pebbles and need porting to Protocol.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Pages are updated in production to use Protocol.

#### Tasks
- [x] Update templates and scss.
- [x] Remove any stray assets.
- [x] Update tests?

[2020-02-11 14:55] rraue commented on #7117
What I understand for now:

1. If we want to simplify this page, we need two different urls, one for the normal build and one for the yandex build
2. We need to redirect users with a Russian IP to the yandex build page

If we do 1. we need to make these pages crawlable and clear whats the purpose of these two pages. And as the yandex build is just for Russians in Russia, a new locale included in o

[2020-02-11 15:18] alexgibson commented on #7117
@rraue this sounds well reasoned to me.

@hoosteeno thoughts? We'd need to do the three items above first, which we can tackle in separate issues.

[2020-02-11 16:49] hoosteeno commented on #8300
Stella reviewed and approved this for launch (in my email).

[2020-02-11 16:50] hoosteeno commented on #8302
Stella reviewed and approved this for launch (in my email).

[2020-02-11 16:54] #8302 closed

[2020-02-11 21:56] hoosteeno commented on #8353
The NASCAR page is no longer Moments 6.

[2020-02-11 23:37] #8496 closed

[2020-02-12 10:01] alexgibson opened #8510 "Migrate /firefox/new/ and /thanks/ to Fluent"
## Description

Once the legacy .lang L10n system is frozen, we need to prioritize migrating /firefox/new/ to Fluent, so that we can add locales to support new Firefox builds.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] The main /firefox/new/ page is updated in production using Fluent.
- [x] All existing translations are migrated from .lang to .ftl

#### Tasks
- [x] Convert .la

[2020-02-12 10:02] alexgibson opened #8511 "Migrate /firefox/all/ to Fluent"
## Description

Once the legacy .lang L10n system is frozen, we need to prioritize migrating /firefox/all/ to Fluent, so that we can add locales to support new Firefox builds.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] The main /firefox/all/ page is updated in production using Fluent.
- [x] All existing translations are migrated from .lang to .ftl

#### Tasks
- [x] Convert .la

[2020-02-12 10:16] alexgibson opened #8512 "Build an /ru-RU/ homepage"
## Description

In https://github.com/mozilla/bedrock/issues/7117 we have settled on building an `/ru-RU/firefox/new/` download page to support promoting Yandex. In order for crawlers to find that content, we also need to:

- [ ] Enable `/ru-RU/` as a supported locale in bedrock.
- [ ] Build an `/ru-RU/` homepage (this can be identical to https://www.mozilla.org/ru/).
- [ ] Add `/ru-RU/` to the lo

[2020-02-12 10:16] alexgibson commented on #8512
/cc @rraue does this all sound correct?

[2020-02-12 10:16] alexgibson commented on #7117
Depends on https://github.com/mozilla/bedrock/issues/8512

[2020-02-12 12:04] rraue commented on #8512
One addition to the homepage /ru-RU/: in the nav the link to /new/ needs to be /ru-RU/firefox/new/ not /ru/firefox new, all other links can go to the /ru/ fallback. Is that possible?

[2020-02-12 12:11] rraue opened #8513 "Update hreflang x-default"
## Description

We right now set the x-default in our hreflang-setup to the en-US url. We should change this so crawlers can "understand" our language based redirects and crawl all possible locales to the non locale url.

So mozilla.org/en-US/ and mozilla.org/fr/ and all other locales will have x-default set to mozilla.org/ and mozilla.org/en-US/firefox/lockwise/ and mozilla.org/pl/ and all other

[2020-02-12 12:27] alexgibson commented on #8512
If a page is localised for /ru-RU/ then a link will navigate to that same locale. If not, we respect a user’s accept language header, and they will be redirected to the next best match in their locale list. That means it will not necessarily go to /ru/ for other pages, but it is likely that Russian language users will have /ru/ in their language preference list.

[2020-02-12 12:28] rraue commented on #8512
@alexgibson Great, thats how we should keep it then.

[2020-02-12 12:29] alexgibson commented on #7117
Depends on https://github.com/mozilla/bedrock/issues/8513

[2020-02-12 13:33] alexgibson commented on #8383
This will be fixed in https://github.com/mozilla/bedrock/pull/8514

[2020-02-12 15:43] hoosteeno commented on #7117
Is the ultimate output here -- which appears to be a new homepage, a refactored download page, changes to /locales, and a global meta tag -- a simplification? Seems like more moving pieces in more places.

[2020-02-12 16:31] alexgibson commented on #7117
This solution might be better for crawlers, but it is still complicated. The other option is we decide not to persue this course of action, and just commit to updating a complicated page.

[2020-02-12 16:37] #8300 closed

[2020-02-12 16:39] hoosteeno commented on #5741
@raue, barring input from you, I'm closing this issue. If desired, please create a new issue for a subsystem to scrape app stores.

[2020-02-12 16:39] #5741 closed

[2020-02-12 16:45] raue commented on #5741
folks, pls, keep an eye on the user ID you are using, because @rraue is somebody else than @raue (that's me).

thanx

[2020-02-12 17:05] #8484 closed

[2020-02-12 17:11] amychurchwell opened #8515 "Default homepage picto card responsive styles bug."
## Description

![Screen Shot 2020-02-12 at 9 01 57 AM](https://user-images.githubusercontent.com/30483988/74358589-8f11a780-4d76-11ea-9d19-9766516ad77a.png)

Picto card list items break formation at certain screen widths.
example: https://www.mozilla.org/hi-IN/

[2020-02-12 17:46] stephaniehobson commented on #6798
I talked to @dzingeek about getting a non-mac image for the simplified pages and she asked if we could just use the /new design for these pages since that has a hardware agnostic image already. So I'm going to update the scene1.html to use Protocol as a first step to cleaning up these pages.

[2020-02-12 18:09] amychurchwell opened #8516 "Firefox Lite promotional hero for Indonesian users on the homepage."
## Description

Implement a Firefox Lite promotional hero for Indonesian users on the homepage.
https://www.mozilla.org/id/

---

#### Tasks
- [ ] Collaborate with Firefox Lite team on design and assets.
- [ ] Get localized copy.
- [ ] Code page.

[2020-02-12 18:17] amychurchwell opened #8517 "Firefox Lite landing page"
## Description

We should create a landing page for Firefox Lite as it is searched for as much as Lockwise.

---

#### Tasks
- [ ] Collaborate with Firefox Lite team on design.
- [ ] Identify locales to serve.
- [ ] Localization plan.
- [ ] Implement page.

[2020-02-12 18:46] alexgibson commented on #7117
Right now I’m swaying to saying all this work is probably greater effort than just updating the current page to Protocol, and keeping the logic as-is.

[2020-02-12 18:53] amychurchwell commented on #7561
I'd like to pick this up after the work in https://github.com/mozilla/bedrock/pull/8391 is complete, if that works for the team?

[2020-02-12 21:03] stephaniehobson commented on #8372
Looking at this in relation to  https://github.com/mozilla/bedrock/issues/7345. I might be able to remove this template as part of that work.

I'm going to assume it's okay to remove the `scene1.de.html` and `scene1.en-BG.html` templates since we haven't been displaying them since trailhead.

[2020-02-12 21:19] pmac commented on #5741
Sorry. Yes. @rraue is the one I'm sure we meant here.

[2020-02-12 22:06] #8465 closed

[2020-02-13 00:26] cgonz0 commented on #8407
hi @Errolyn, looking good - some design feedback below
___________________________________

Just a few tweaks from the screenshots you sent - i can get a little more specific once I see the demo

**404 page**
-can we add a little more space under go back link?
-and some more space b/w list items below

**mobile**
-we should reduce the header logos a bit (for 500 page as well)
-and header text down

[2020-02-13 08:56] #8403 closed

[2020-02-13 09:31] alexgibson commented on #7117
I've slept on this and I still agree, the solution here is no less complex than what we alreadfy have. There would be more moving pieces, and should any of them break the effects may not be obvious immediately.

I'm going to close this as wontfix, and open a new issue to port the existing yandex page to Protocol.

I really appreciate everyone's time and effort helping to think this complicated pro

[2020-02-13 09:31] #7117 closed

[2020-02-13 09:32] alexgibson commented on #8512
Closing as wontfix, as per #7117

[2020-02-13 09:32] #8512 closed

[2020-02-13 09:35] alexgibson opened #8521 "Port Yandex /firefox/new/ page to Protocol"
## Description

The Yandex flavored `/ru/firefox/new/` page is still using old branding and needs porting to Protocol. We need to update the page but keep the existing functionality intact.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is updated in production with new branding, keeping existing geo-location logic in place.

#### Tasks
- [x] Update template.
- [x] Update scs

[2020-02-13 16:14] alexgibson commented on #7083
Further reading: https://blog.convert.com/analytics-ab-testing-cookies-after-consent-in-europe.html

[2020-02-13 16:54] rraue opened #8522 "Scale Structured data to tier 1 locales"
## Description

We want to scale our structured product data to all locales (currently only on en-US). To integrate this on our locales, we need to automate some changes to the json files the data is based on, the urls are locales specific. To be precise some data is only language specific, not locale specific and some are locale specific:

I will try to catch all changes here and we need to discu

[2020-02-13 17:34] alexgibson commented on #8522
@rraue are there any English strings in this data that aren't just product names? If so, we need to think about how we'd manage that. Or alternatively try and minimize English copy where possible.

[2020-02-13 17:34] #8506 closed

[2020-02-13 17:59] rraue commented on #8522
@alexgibson Right now not and as Focus/klar isnt in as well, I think we can think about this sometiems in the future if we want to add descriptions but for now there is only the product/Brand/organisation names and they are as far as I know global.

[2020-02-13 18:01] rraue commented on #8522
I am still thinking about how to handle sumo, amazon, appstore links but if we get IDs, selfreference urls and wikipedia right, that would be a good start. Imo we cant break anything, as "wrong" data will be just ignored.

[2020-02-13 23:16] #8382 closed

[2020-02-13 23:16] #8494 closed

[2020-02-13 23:16] #8503 closed

[2020-02-13 23:59] cgonz0 commented on #8499
![newsletter_thank you_cards_mockup.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/8399fa9e-2f94-4822-b9da-df6ab8bb2e23)

[2020-02-14 09:21] alexgibson commented on #8522
I do see examples of english copy in the JSON:

- https://github.com/mozilla/bedrock/blob/master/bedrock/base/templates/includes/structured-data/organizations/mozilla-corporation-organisation.json#L8
- https://github.com/mozilla/bedrock/blob/master/bedrock/base/templates/includes/structured-data/software/firefox-enterprise-software.json#L9-L10

For the product names, we could potentially remove "f

[2020-02-14 09:22] alexgibson commented on #8522
For sites like SUMO and wikipedia, could we just omit the locale altogether, and allow their own language detection to handle things? This is the same for how we link to sites from within mozorg pages.

[2020-02-14 11:05] alexgibson opened #8526 "Add Edge browser to automation functional test runs"
## Description

MS Edge browser is now [supported in Saucelabs](https://saucelabs.com/platform/supported-browsers-devices) on Windows 10. We should include it in our functional test runs, with a longer term aim to relegating IE to sanity tests.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Pipelines include passing MS Edge test runs.

#### Tasks
- [ ] Update pipeline config.
- [

[2020-02-14 13:17] alexgibson opened #8527 "Newsletter opt-out confirmation page throws 500 error"
## Description

https://www.mozilla.org/en-US/newsletter/opt-out-confirmation/

[code]

[2020-02-14 14:13] #8383 closed

[2020-02-14 14:57] #8527 closed

[2020-02-14 16:31] kristinashu commented on #8412
Can I please add an additional request to this ticket? Please remove `Ronald Lemos` from the board. He has resigned and needs to be moved to emeritus ASAP. Thank you and please let me know if you have any questions!

[2020-02-14 16:32] hoosteeno opened #8529 "Epic: Fix broken funnels on Enterprise page"
## Description

This is an epic.

The page at www.mozilla.org/firefox/enterprise serves a variety of download intents with a lot of links. Several of those links need to be improved. This issue describes a list of problems to solve. We can solve these with quick fixes to links, but before doing so, let's have a designer review the page for more elegant (but still efficient) improvements.

This pag

[2020-02-14 17:16] alexgibson commented on #7705
A script that pulls in updates and processes activation metadata was added in https://github.com/mozilla/bedrock/pull/8523

The remaining steps involve running this script via automation.

[2020-02-14 17:17] alexgibson commented on #7717
I'm going to close this issue as https://github.com/mozilla-l10n/www-l10n now exists and has an intake of content. Feel free to reopen if anything else needs doing here.

[2020-02-14 17:17] #7717 closed

[2020-02-14 17:55] ejregithub commented on #8412
@craigcook please see the request above to more Ronald Lemos to the 'former board member' section.

[2020-02-17 13:15] rraue commented on #8522
These are just alternate names and we can ignore this, its just an additional reference more important in English than in German, as there are more names flowing around.

Unfortunately not, as these are references and not links. So if it doesn't match, data will be just ignored. But wikipedia and sumo are "easy" as wikipedia is just using language, so we link to the language of our locales and sum

[2020-02-17 14:28] #8412 closed

[2020-02-18 10:03] #7666 closed

[2020-02-18 14:31] alexgibson opened #8536 "Determine fate of /etc/firefox/retention/ pages"
## Description

The following legacy pages are built using Pebbles. We should decide if we want to keep them around or not.

- https://www.mozilla.org/en-US/etc/firefox/retention/thank-you-a/
- https://www.mozilla.org/en-US/etc/firefox/retention/thank-you-b/
- https://www.mozilla.org/en-US/etc/firefox/retention/thank-you-referral/

Looking in GA I see some traffic, but it's pretty sporadic. My gue

[2020-02-18 14:35] alexgibson opened #8537 "Port Nightly /whatsnew page to Protocol"
## Description

The nightly /whatsnew page is built using Pebbles and needs porting to Protocol:

https://www.mozilla.org/en-US/firefox/73.0a1/whatsnew/all/

We might want to consider leveraging an existing whatsnew design/background, but with the Nightly wordmark.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is updated in production to use Protocol.

[2020-02-18 15:41] alexgibson opened #8538 "Remove legacy /whatsnew templates"
## Description

The following /whatsnew templates are now pretty old and can likely be removed:

- https://www.mozilla.org/en-US/firefox/67.0/whatsnew/all/
- https://www.mozilla.org/en-US/firefox/67.0.5/whatsnew/all/
- https://www.mozilla.org/en-US/firefox/68.0/whatsnew/all/
- https://www.mozilla.org/en-US/firefox/69.0/whatsnew/all/

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] T

[2020-02-18 16:20] #7578 closed

[2020-02-18 16:20] #7579 closed

[2020-02-18 16:55] ejregithub commented on #8499
@cgonz0 - please flag @hoosteeno when the design updates are ready for TL review

[2020-02-18 16:57] ejregithub opened #8539 "Newsletter preferences Thank You page update - Code"
## Description

Code the changes in design from the card #8499 that @cgonz0 has specified

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Newsletter preferences UX improvements are in place/live

#### Reviews (of coded page on demo)
- [ ] Dev (code)
- [ ] Brand
- [ ] Team Lead

[2020-02-18 17:18] #8504 closed

[2020-02-19 01:30] cgonz0 commented on #8407
hey @Errolyn, a few more changes after reviewing demo

___________________________________

**404 page**

-Header logo - Can we use the high res version? Looks a bit blurry. Please set to 290px width (to match logo size on other pages).
-Can we also mimic the responsive sizing from our other pages - where screen is <1056px, logo should reduce a bit (to 220px).

-Header font-size - please bring dow

[2020-02-19 09:10] alexgibson commented on #7615
Blocked by: https://github.com/mozilla/protocol/issues/525

![image](https://user-images.githubusercontent.com/400117/74819054-b24cd180-52f7-11ea-8fa9-c340591dbc79.png)

[2020-02-19 09:45] alexgibson commented on #7615
Also depends on: https://github.com/mozilla/protocol/issues/541

[2020-02-19 17:50] ejregithub opened #8544 "WNP 74 - Design"
Create designs for the WNP 74 page within the constraints of available templates/components

2020-03-10 is the release date for WNP 74 We need the page live for QA on 2020-03-02

###Success Criteria
- [ ] Design is complete in time for 2020-03-02 page launch
- [ ] FB container is the main content for the WNP 74

###Approvals
- [x] Brand (Clio)
- [ ] Team Lead (Hoosteeno)
- [ ] Approver/Accountable

[2020-02-19 17:50] ejregithub opened #8545 "(02-26-2020) WNP 74 - Copy"
Write copy for the WNP 74 page in cooperation with design #8544

Use this [Copy Doc](https://docs.google.com/document/d/14kMX3dSG10xS0UseMPjkYZPUJCB8BDVsJPBJdeYQemo/edit)

2020-03-10 is the release date for WNP 74. We need the page live for QA on 2020-03-02

###Success Criteria
- [x] Copy is final/approved on 2020-02-26
- [x] MVB/Copy is shared with Staff for DE & FR

###Approvals
- [x] Brand (Nat

[2020-02-19 17:50] ejregithub opened #8546 "(3-2-2020) - WNP 74 - Code"
## Description

Code the WNP for the 74 product release on 3/10/20

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is live on 2/28

#### Approvals
- [ ] Brand
- [ ] PMM (TBD)
- [ ] Team Lead
- [ ] Accountable stakeholder
- [ ] Legal

[2020-02-19 17:50] ejregithub opened #8547 "WNP 74 - Analytics"
#### Success Criteria
Instrumentation required in the page for data reporting is determined and shared w. dev
Dashboard/report is built and provided to stakeholders

[2020-02-19 17:50] ejregithub opened #8548 "WNP 74"
## Description

Build and launch a WNP for the 74 product release on 3/10/20

[Releng bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1616636)

[Master Project Doc](https://docs.google.com/document/d/1yljGGZ-_VNayD5pUP9wfRb38_XBTZMmybCurh6JZblg/edit) (with RASCI, links to copy, etc.)

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is live on 2/28
- [ ] FB container is the ma

[2020-02-19 18:19] ejregithub opened #8550 "Browser Comparison Page - Sub Nav"
## Description

With all the browser comparison pages live, we should have a sub nav added in each page, including the main landing page, to move from one comparison page to another.

We need to design it, write copy for it and code it.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Sub Nav is built and live on each page
- [ ] Sub Nav is localized

#### Approvals
- [ ] Team Lead

[2020-02-19 19:36] hoosteeno commented on #8522
This looks ready to me. I'm moving to ready column. Please holler if you disagree.

[2020-02-19 20:15] stephaniehobson commented on #7841
Download icon: https://github.com/mozilla/protocol-assets/blob/master/icons/download.svg

[2020-02-19 21:57] #8521 closed

[2020-02-20 00:09] #8537 closed

[2020-02-20 08:51] #8200 closed

[2020-02-20 09:04] #8505 closed

[2020-02-20 09:09] alexgibson opened #8552 "Remove about/partnerships/distribution template"
## Description

The URL https://www.mozilla.org/en-US/about/partnerships/distribution/ redirects to https://www.mozilla.org/en-US/foundation/trademarks/distribution-policy/, but there is still a template & url definition in bedrock for the old page. It's built using Pebbles so is safe to remove.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Template and related assets are removed

[2020-02-20 09:26] alexgibson opened #8554 "Port Facebook Container page to Protocol"
## Description

The page at `/firefox/facebookcontainer/` is built using Pebbles and needs porting to Protocol.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is updated in production to use Protocol.

#### Tasks
- [ ] Update template & scss.
- [ ] Update tests?

[2020-02-20 09:47] alexgibson opened #8555 "Removes unused Pebbles imports"
## Description

The following Pebbles-based scss files are no longer imported by any pages and can safely be removed from the repo:

- https://github.com/mozilla/bedrock/blob/master/media/css/quantum/_common.scss
- https://github.com/mozilla/bedrock/blob/master/media/css/quantum/_features-scroller.scss
- https://github.com/mozilla/bedrock/blob/master/media/css/quantum/_key-features.scss
- https://

[2020-02-20 10:27] alexgibson commented on #8555
My initial scan missed that most of these are still in use via relative imports. Closing until we’re closer to removing the pages that still rely on them.

[2020-02-20 10:27] #8555 closed

[2020-02-20 13:04] #7574 closed

[2020-02-20 13:05] #8550 closed

[2020-02-20 13:19] alexgibson commented on #8522
I've updated the title  to reflect that we agreed on targeting tier 1 locales for this work as our KR.

[2020-02-20 16:09] #8552 closed

[2020-02-20 16:19] pmac commented on #7705
Also need to improve said script from #8523 to include updating the configs in addition to the .ftl files.

[2020-02-20 16:33] alexgibson commented on #8522
@rraue this is still a rough proof of concept for now, but can you please review the data on the homepage for these locales:

- [ ] https://www-demo2.allizom.org/en-US/
- [ ] https://www-demo2.allizom.org/en-GB/
- [ ] https://www-demo2.allizom.org/en-CA/
- [ ] https://www-demo2.allizom.org/de/
- [ ] https://www-demo2.allizom.org/fr/

If things look good, then I'll look to expand this out to other

[2020-02-20 16:44] rraue commented on #8522
Yes everything looks fine for this scope.

[2020-02-20 16:57] cgonz0 commented on #8498
@hoosteeno brand review done- your turn, please.

[2020-02-20 16:57] cgonz0 commented on #8499
@hoosteeno brand review done- your turn, please.

[2020-02-20 17:08] hoosteeno commented on #8499
This is a big improvement over [the current copy and design](https://www.mozilla.org/newsletter/updated/)! Nice work.

One change I suggest: The Mobile CTA should mention the app it refers to, and should not say "Download". It is probably simplest to keep the link text from the current Mobile CTA: "Get Firefox for mobile".

[2020-02-20 17:21] amychurchwell commented on #7841
@cgonz0 & @justinkropp
here is a demo link with current draft of button variations:
https://www-demo-demo-achurchwe-mbhddu.herokuapp.com/en-US/firefox/new/

[2020-02-20 17:39] #8538 closed

[2020-02-20 18:38] ejregithub opened #8558 "Update the TOS and PN for FPN"
Success Criteria:

- [ ] The FPN [Terms of Service page](https://www.mozilla.org/about/legal/terms/firefox-private-network/) is updated with [this copy](https://docs.google.com/document/d/1xY5d7PIGqmQ9JPD4HAnTMHfxOC4-7SACrjRMJBal2w8/edit#)

- [ ] The FPN [Privacy Notice page](https://www.mozilla.org/privacy/firefox-private-network/) is updated with [this copy](https://docs.google.com/document/d/1b

[2020-02-20 21:50] #8558 closed

[2020-02-21 00:42] craigcook commented on #8319
Strings PR: https://github.com/mozilla-l10n/www.mozilla.org/pull/371

[2020-02-21 14:05] swarnava opened #8560 "URL mismatch in different releasenotes"
## Description

It seems current Firefox release notes for non release channel aren't relevant. For example if you visit https://www.mozilla.org/en-US/firefox/75.0a1/releasenotes/ which is nightly and click on release note, it shows current release version note (73.0.1):- https://www.mozilla.org/en-US/firefox/73.0.1/releasenotes/

## Expected Behavior:-

IMHO, prerelease section should be hidden i

[2020-02-21 14:14] #8560 closed

[2020-02-21 17:06] ejregithub opened #8561 "(3-13-2020) Estimate effort of building firefox.com"
## Description

Top of mind awareness goal [+X% YOY] in T1 [Shared] | By 2020-03-13, present likely engineering effort of building www.firefox.com to inform the pitch provided by NA Brand/Content.
-- | --

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Current pitch for firefox.com contains sections summarizing likely effort, and describing preferred technical approach

[2020-02-21 17:08] ejregithub opened #8562 "(2020-03-24) WNP 75 Copy"
2020-04-07 is the release date for WNP 75. We need the page live for QA on 2020-03-30

###Success Criteria
- [ ] Copy is final/approved on 2020-03-24
- [ ] MVB is shared with Staff for DE & FR

###Approvals
- [ ] Brand (Natalie)
- [ ] Team Lead (Hoosteeno)
- [ ] Approver/Accountable (MWarther)

[2020-02-21 17:08] ejregithub opened #8563 "WNP75 Design"
Theme is TBD for this page

2020-04-07 is the release date for WNP 75. We need the page live for QA on 2020-03-30

###Success Criteria
- [x] Design is complete in time for 2020-03-30 page launch

###Approvals
- [x] Brand (Clio)
- [x] Team Lead (Hoosteeno)
- [x] Approver/Accountable (MWarther)

[2020-02-21 17:08] ejregithub opened #8564 "(2020-03-30) - WNP 75 Code"
Theme is TBD for this page

2020-04-07 is the release date for WNP 75. We need the page live for QA on 2020-03-30

###Success Criteria
- [ ] Page is live on or before 2020-03-30

###Approvals
- [ ] Brand (Natalie)
- [ ] Brand (Clio)
- [ ] Team Lead (Hoosteeno)
- [ ] Approver/Accountable (MWarther)

[2020-02-21 17:08] ejregithub opened #8565 "WNP 75 Analytics"

[2020-02-21 17:08] ejregithub opened #8566 "WNP 75 Epic"
Copy
Design
Code
Analytics

Firefox Whatsnew 75 will feature conditional content as follows based on user state, with the overarching goal of promoting Sync/synching across desktop and mobile via a Firefox Account:

1 - User is not logged into account (we can’t tell via UITour) - User is shown a mobile browser forward sync CTA
2 - User is logged-in FxAccount holder without a mobile device synced -

[2020-02-21 17:09] ejregithub opened #8567 "Moments 6 page - Default Browser - Copy"
This Moment page is to built from the content in WNP 73 that features information about selecting Firefox as one's default browser.

https://www.mozilla.org/firefox/73.0/whatsnew/all/

[2020-02-21 17:09] ejregithub opened #8568 "Moments 6 page - Default Browser - Design"
This Moment page is to built from the content in WNP 73 that features information about selecting Firefox as one's default browser.

https://www.mozilla.org/firefox/73.0/whatsnew/all/

[2020-02-21 17:09] ejregithub opened #8569 "Moments 6 page - Default Browser - Code"
This Moment page is to built from the content in WNP 73 that features information about selecting Firefox as one's default browser.

https://www.mozilla.org/firefox/73.0/whatsnew/all/

[2020-02-21 17:10] ejregithub opened #8570 "Moments 6 page - Default Browser - Analytics"
This Moment page is to built from the content in WNP 73 that features information about selecting Firefox as one's default browser.

https://www.mozilla.org/firefox/73.0/whatsnew/all/

[2020-02-21 17:10] ejregithub opened #8571 "Moments 6 page - Default Browser"
This Moment page is to built from the content in WNP 73 that features information about selecting Firefox as one's default browser. The content from that page will be inserted into the Moments page template

https://www.mozilla.org/firefox/73.0/whatsnew/all/

[2020-02-21 17:11] ejregithub opened #8572 "Copy - Moments 7 page - Surveillance Economy Theme"

[2020-02-21 17:11] ejregithub opened #8573 "Design - Moments 7 page - Surveillance Economy Theme"

[2020-02-21 17:11] ejregithub opened #8574 "Code - Moments 7 page - Surveillance Economy Theme"

[2020-02-21 17:11] ejregithub opened #8575 "Analytics - Copy - Moments 7 page - Surveillance Economy Theme"
copy did not change

[2020-02-21 17:11] ejregithub opened #8576 "Moments 7 page - Surveillance Economy Theme"
## Description

FB container is the focus of this page

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an example of a success criteria.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a checklist!
- [ ] This is an example of a risk.

#### Tasks
- [ ] This

[2020-02-21 17:12] hoosteeno commented on #8353
Archiving this; it's not clear this is the direction for Moments program.

[2020-02-21 17:12] #8353 closed

[2020-02-21 17:14] ejregithub opened #8577 "Design for Enterprise funnel"
The page at www.mozilla.org/firefox/enterprise serves a variety of download intents with a lot of links. Several of those links need to be improved. This issue describes a list of problems to solve. We can solve these with quick fixes to links, but before doing so, let's have a designer review the page for more elegant (but still efficient) improvements.

This page must:

* Attract and handle orga

[2020-02-21 17:14] ejregithub opened #8578 "Code for Enterprise page"
Development:
* Implementation of designs provided above
* Links to things that can be downloaded from our site should go to the place on our site where you can download them (e.g. all MSI links, ESR links should go to /all)
* Links to actual downloads should be instrumented to be measurable -- this may mean simply using the standard download button macros on release download links.
* UTM parameter