[2019-08-08 21:34] amychurchwell commented on #7532
@alexgibson I recommended on the WNP69 issue that we keep `js/base/mozilla-fxa-form.js` and `js/base/mozilla-monitor-button.js` in separate JS blocks separated by some logic (if user is signed in = `mozilla-monitor-button.js`, if signed out = `mozilla-fxa-form.js`) to avoid the double request.

Do you know of a way that we can detect if the fetch request to fxa has been made already that we could

[2019-08-08 21:45] #7423 closed

[2019-08-08 21:51] #7547 closed

[2019-08-09 16:19] amychurchwell opened #7551 "Monitor button form_type value dependency on fxa/issues/963"
## Description

**Awaiting outcome from https://github.com/mozilla/fxa/issues/963 to determine the value of the `monitor_button`'s `form_type` value.**

Currently `monitor_button` has `form_type=email` in which conflicts with the `fxa_email_form`.

https://github.com/mozilla/bedrock/blob/2ff934c938ca23ba380999655ec8ad2165132b18/bedrock/base/templates/macros.html#L259

- https://github.com/mozilla/

[2019-08-09 17:04] ejregithub opened #7552 "(11/4) - Display page content specific to users physically located in India"
## Description

The Taipei team wants to leverage the WNP to show content promoting Firefox Lite (which will be rebranded) to users located in India who have updated their Firefox desktop browser to the latest version at 11/4

Issue #6084 has described how this may be accomplished by parsing information out of request headers to then create a URL or convert an existing URL that will look at the co

[2019-08-09 17:07] alexgibson commented on #7552
It’s worth noting here that the functionality described in #6084 does not yet exist, and is likely either non-trivial or requires a level of engineering effort tbd.

[2019-08-09 17:51] hoosteeno commented on #7552
Regarding feasibility, [Slack conversation](https://mozilla.slack.com/archives/G7ACJHJCB/p1565371997480400) makes it sound like this is a problem we can solve using a solution like the one described in #6084 without risking site stability. I will explore priority.

[2019-08-09 17:58] LucyeoH opened #7553 "Update language + increase visibility of /contribute survey"
## Description

The current survey has a low 0.03% conversion rate. There is a similar CTA on support.mozilla.org where the banner is at the top and the wording was proposed by the research team, and they have a conversion rate of 1.5%.

Suggestions:

* Update Wording - "We would love to get your opinion on your experience with our site with a short survey [Take Survey]"
* Move Banner - So it appe

[2019-08-09 18:01] hoosteeno commented on #7389
Excluding /new and /thanks, the /firefox page handles nearly 50% of all IE9/10 visits, and those visitors tend to be high quality (i.e. they don't bounce, the download at good rates). I suspect this is because the /firefox page probably outranks the /new page in some locales.

Soon, /firefox will be the brand home for all Firefox products. Broad distribution of a compelling experience there will c

[2019-08-09 18:11] hoosteeno commented on #7389
I'd like the conversation about mitigations to continue. That said, I think we should continue offering first-class support to all evergreen browsers (Firefox, Chrome, Safari, Edge, Opera etc) and IE 11 and can offer degraded experiences to IE<11.

[2019-08-09 19:03] hoosteeno commented on #7389
This issue is ready to close, but I'm leaving open to continue discussion above.

[2019-08-09 20:40] wboucherfischer commented on #7490
Updated wireframes and added copy.
https://drive.google.com/file/d/1UiycJ2Kk3o1y7f0ExtFX-RAyZkCk1oOK/view?usp=sharing

Met with Tyler Ahn and enterprise team to review copy in wireframes.
Changes need to be made. Probably one more day of work to finish wireframes and annotate.

https://drive.google.com/open?id=1Q-YbQ2l5b7YghxVfAJI-z027F-UJ0b1I

[2019-08-09 20:40] wboucherfischer commented on #7467
Updated wireframes and added copy.
https://drive.google.com/file/d/1UiycJ2Kk3o1y7f0ExtFX-RAyZkCk1oOK/view?usp=sharing

Met with Tyler Ahn and enterprise team to review copy in wireframes.
Changes need to be made. Probably one more day of work to finish wireframes and annotate.

https://drive.google.com/open?id=1Q-YbQ2l5b7YghxVfAJI-z027F-UJ0b1I

[2019-08-09 22:00] hoosteeno opened #7555 "Deliver Enterprise Style Tile"
## Description

**In week 1 of the sprint** deliver a completed, reviewed style tile for the Enterprise page, ready for developers to work from.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] This entire ask is completed during week 1 of the sprint
- [x] A reviewed style tile is delivered to developers ready for them to apply to enterprise wireframes
- [ ] Developers (S), business

[2019-08-09 22:32] hoosteeno opened #7556 "Wireframe Lifecycle pages"
## Description

We need to build out some new pages as part of our new Lifecycle Pages channel. This work should be informed by [the contexting sessions we've held about this channel](https://docs.google.com/document/d/1VH6D5A3vnI7MWfR8XEIxMY_hrwNACqpmMGM2TzpFDL4/edit).

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] This entire package of success criteria are delivered by the end

[2019-08-09 22:33] hoosteeno opened #7557 "Lifecycle Page #1"
This is an epic for Lifecycle Pages.

[Backgrounder](https://docs.google.com/document/d/1HsmZaX4hKg8liwTu-bAMUagagaeZzEPDeCVKnPqtMxk/edit#heading=h.yp0cnfea3vip)

[Master Project Doc](https://docs.google.com/document/d/111UVYLp8TROyGqmt80cJcxkl9mnA3Z3wtLdudojuKuM/edit)

[7 sheets](https://docs.google.com/document/d/1VH6D5A3vnI7MWfR8XEIxMY_hrwNACqpmMGM2TzpFDL4/edit)

[2019-08-09 22:40] Errolyn commented on #7542
From what I cant tell IE9 will be work fine with the ES5 polyfills, but I'm going to venture a guess that there will be some caveat we'll run into.

[2019-08-12 03:06] ejregithub opened #7558 "Closure - WNP 68 - post release experiments to inform WNP 69"
## Description

This is a closure card. It doesn't mean "stop the experiment now", but it hopefully leads to that.

In a closure card, we should do the tasks below, in order.

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Experiment is stopped
- [ ] Experiment report is published

#### Tasks
- [x] Determine whether we have enough data, and when we do, signal to shut down the experiment

[2019-08-12 03:07] ejregithub commented on #7457
[Closure card](https://github.com/mozilla/bedrock/issues/7558) to close this issue

[2019-08-12 03:07] #7457 closed

[2019-08-12 07:45] alexgibson commented on #7389
@hoosteeno this is wonderful, thanks.

In terms of needing to support /firefox - considering the importance of that page now and in the future, I think we can justify considering it a special page like we do for /new and /thanks. Adding it to that list seems like a small consession if it means we can drop the level of support for the rest of the site.

If you agree, then I think we can close this

[2019-08-12 08:08] alexgibson opened #7559 "Drop 1st class browser support for IE9"
## Description

We have the [go-ahead](https://github.com/mozilla/bedrock/issues/7389) to drop 1st class JS & CSS support for IE9. It can be served the same universal CSS & JS bundle as IE8, on the condition that we make an excpetion for the /firefox page.

For the /firefox page, we need to deliver some enhanced (but not necessarily 1st class) CSS, to at least style the main CTA.

Note: IE10 doesn

[2019-08-12 08:12] alexgibson commented on #7391
Since IE10 does not support conditional comments (the mechanism we currently use to facilitate basic browser support for legacy IE), this issue will become important in order to drop support for IE10.

We may want to consider moving away from conditional comments entirely, and moving more toward a feature-detection model that uses graceful degredation.

[2019-08-12 08:27] alexgibson commented on #7536
Possible example:

L10n filename: `firefox-new-skyline.ftl`

Fluent ID convention: L10n filename prefix + semantic element name + version modifier suffix.

Example ID: `firefox_new_skyline_main_page_title_v2`.

Open questions / observations:

- The `firefox-new-skyline` filename prefix is explicit, but could make for a long ID.
- Are underscores the desired convention, vs dashes?
- Is `v2` for the

[2019-08-12 10:06] alexgibson opened #7560 "Migrate homepage editorial content to Nucleus"
## Description

Epic to track migration of homepage [card content publishing](https://github.com/mozmeao/www-admin) to a [Nucleus](https://github.com/mozilla/nucleus) powered workflow.

Architecture proposal doc: https://docs.google.com/document/d/1B9lJ78u_8n1SunS0ggmDfqlk2PmMrslkzXmtTb8qcwM/edit#heading=h.8rbejd6o6w9f

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Homepage card c

[2019-08-12 10:41] alexgibson opened #7561 "Evaluate a front-end JS templating library"
## Description

Bedrock pages don't have a whole lot of state to manage in general, but there are a few areas when we do often rely on conditional content. Sometimes these types of pages can be a challenge to code and make changes to, because critical logic is often split between templates (localized markup), CSS (state class hooks) and JavaScript (logic to trigger state).

These types of things c

[2019-08-12 11:19] alexgibson commented on #7541
@hoosteeno two questions on above:

Do you mean the modal on the old page design? The new design just links to /firefox/accounts/.

Given that newsletters aren't directly related to account services, what should the `data-cta-type` value here be? Just `Newsletter`?

Thanks.

[2019-08-12 12:18] alexgibson commented on #7553
@LucyeoH @johngian happy to make this more prominent on the page either by placing it at the top of the viewport and/or styling it differently 👍

[2019-08-12 12:48] LucyeoH commented on #7553
@alexgibson thank you, that would be great!

[2019-08-12 16:04] #7505 closed

[2019-08-12 16:24] ejregithub commented on #7436
@Errolyn  - this one is good for review, please.

[2019-08-12 19:29] alexgibson commented on #7190
Some comments on the proposed copy:

- Whilst "Sign Up/Sign In" is common place for many websites, the typical action those types of link perform is to authenticate with a website (e.g. login). But that's not really what this button is responsible for. It signs people up for a Firefox Account (not a website account for www.mozilla.org). Without any additional context, how would visitors know what

[2019-08-12 19:49] hoosteeno commented on #7541
Ah, yes. Disregard that one, thanks.

Would it be possible to do "Newsletter-{{ no-spaces-newsletter-identifier }}" ?

[2019-08-12 20:28] hoosteeno opened #7565 "Add /firefox to the list of pages we deliver enhanced to legacy browsers"
## Description

In https://github.com/mozilla/bedrock/issues/7389#issuecomment-520327033 we agreed to remove IE9/10 from the list of browsers getting [enhanced support](https://bedrock.readthedocs.io/en/latest/browser-support.html#technical-details). We also agreed to add /firefox to the list of pages where we try to provide enhanced support for browsers going all the way back to IE6.

This bug is

[2019-08-12 20:28] #7389 closed

[2019-08-12 21:16] craigcook commented on #7465
WIP on demo at http://www-demo1.allizom.org/firefox/69.0/whatsnew/

Note you'll need to whitelist the domain in browser.uitour.testingOrigins for it to detect your signed in state.

[2019-08-12 21:53] ejregithub commented on #7465
@craigcook - could please provide screenshots for each state, attaching them here?

[2019-08-12 21:57] craigcook commented on #7465
## Signed Out
![image](https://user-images.githubusercontent.com/205591/62901316-4d456d00-bd11-11e9-9139-fe731f97c03e.png)

## Signed In
![image](https://user-images.githubusercontent.com/205591/62901242-20915580-bd11-11e9-8bba-e132584fea73.png)

(Not sure why the "up to date" banner isn't showing when signed out... that's a bug, I'll figure it out.)

[2019-08-12 22:01] #7436 closed

[2019-08-12 22:37] claychaffin commented on #7490
The meta data is written and in the copy deck.

[2019-08-12 22:37] peiying2 opened #7566 "THe [About] page layout has text truncation issue (bug 1573244)"
## Description
The text in the **Our Mission in Action** section on the [About](https://www.mozilla.org/en-US/about/) page are truncated. It appears that the box of text allows only a number of characters, so they depending on the language, the truncation takes place at random spot, not just the end of the line.

Describe the issue that you're seeing.
Not only English has this issue, the localized

[2019-08-12 23:02] ejregithub commented on #7490
closing, ready for coding

[2019-08-12 23:02] #7490 closed

[2019-08-13 07:49] alexgibson commented on #7565
Going to close this as a dupe of https://github.com/mozilla/bedrock/issues/7559 (adding /firefox to the excluded pages is a sub-task there, and makes sense to do at the same time).

[2019-08-13 07:49] #7565 closed

[2019-08-13 07:55] alexgibson commented on #7501
Fixed in https://github.com/mozilla/bedrock/commit/5d9a5b38bcbdc0406fed6bbd1806addb4664b02c

[2019-08-13 07:55] #7501 closed

[2019-08-13 08:03] #7208 closed

[2019-08-13 10:17] alexgibson commented on #7490
I took a look at the copy above and have asked some questions in the doc ^

[2019-08-13 10:23] alexgibson commented on #7491
Attempting to piece together the related parts for this work (for when it's ready):

Copy doc is here: https://docs.google.com/document/d/1nbSDIpMxmkLcy9Uts54IMB9LVZiTFGpwHRrC-_AFmD8/edit?usp=sharing

I don't think the copy has been reviewed by a dev, despite the issue being closed as complete. I asked a bunch of questions in the doc.

Wireframes are still being worked on in https://github.com/moz

[2019-08-13 11:03] devbihari commented on #7566
If you don't mind can I fix this issue?

[2019-08-13 13:13] alexgibson commented on #7451
This is perhaps timely, since we also have a logo to update (added it to the success criteria).

[2019-08-13 14:40] #6998 closed

[2019-08-13 17:16] #7541 closed

[2019-08-13 17:23] craigcook opened #7568 "Update Beta and Dev Edition logos for Fx69 (2019-09-02)"
## Description

The new Firefox logo is riding the trains for Fx70, so we'll have updated versions for Beta and Dev Edition channels coinciding with the Fx69 release. We should update them on the website for the 2019-09-02 release date.

Reference: https://docs.google.com/spreadsheets/d/1hbHhihkm8za4diQ_uaTEvNcd2jWeKlSU7X2_pYtnZcM/edit#gid=0

---

#### :yellow_heart: Success Criteria :yellow_heart

[2019-08-13 17:27] ejregithub opened #7569 "Lockwise Product Page (Epic)"
## Description

The goal is to re-implement the Lockwise product site  in a system that enables localization. This is on www.mozilla.org at www.mozilla.org/firefox/lockwise

[Master Project Doc](https://docs.google.com/document/d/1Wh4odUEnzNx71fPfw_EdR38lRLFaS1TOXzUdODUesb8/edit)

[Context sheet](https://docs.google.com/document/d/18M4hPXM37KBDKKnp8dxlaImbwokIZsdrBYNo8gcGtT0/edit#)

---

#### :yel

[2019-08-13 18:57] ejregithub opened #7570 "Code the new Lockwise product page at www.mozilla.org/firefox/lockwise"
Description: Create the product page for Lockwise

----

***Success Criteria***
- [ ] Page is live on or before October 22nd to Tier One locales

***Risks***

***Tasks***
- [x] Code the page
- [x] Add conditional content for the Add-on install button for dekstop
- [ ] Find all links on www.mozilla.org that point at lockwise.firefox.com and point at the new page. **NOTE** Remove same-site utm param

[2019-08-13 19:01] hoosteeno opened #7571 "Write new copy for the page"

[2019-08-13 19:40] claychaffin commented on #7490
Info from D. Reams re links (he is still working on FAQ):
"Documentation and Community Support"
https://support.mozilla.org/products/firefox-enterprise/ (drop the locale, it will redirect to the right language for folks)
"Release Notes"
https://support.mozilla.org/en-US/kb/where-find-release-notes-firefox-enterprise (this gives links to the two “flavors” of release notes for the two release speeds

[2019-08-13 19:47] hoosteeno commented on #7491
* There will be 3 major download buttons on the page for Win32, Win64, and Mac, which lead to a zipped archive that includes the latest Firefox RR, latest ESR, and a mix of other documents aimed at enterprise users. The enterprise team will manage keeping these links up to date in the short term.
* These buttons will be links, probably to an AWS bucket. If the links change, the team will file Bedr

[2019-08-13 19:52] hoosteeno opened #7572 "Enterprise: Build analytics instrumentation plan"
## Description

In https://github.com/mozilla/bedrock/issues/7491#issuecomment-520981154 we note that links on this page will go to a different download than other download links on the website. We need an analytics instrumentation plan for these links.

Notes
* The links will go from a download button off site, so we need an event on the button
* We might be able to use our new [Generic CTA](http

[2019-08-14 09:24] alexgibson commented on #7451
WIP demo link: https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/nightly/firstrun/

[2019-08-14 09:25] alexgibson commented on #7451
It would be good to get some design feedback on the above ^

[2019-08-14 15:32] wboucherfischer commented on #7467
wireframes at https://share.goabstract.com/e1d360d8-1dcf-40d6-8e32-e62727808474

[2019-08-14 15:32] #7467 closed

[2019-08-14 15:57] ejregithub commented on #7467
@stephaniehobson - Maciej mentioned in our dependencies meeting that your Brand team was looking at a refresh for this page. We've not yet started coding - please take a look at the wireframes (and have your designer do so) and we can talk about who will need to do what. We have the deadline, from PMM, to get the updated page live the week of Sept 16 - see  #7491

[2019-08-14 22:17] Errolyn commented on #7477
@hoosteeno will this banner be using the same copy as last time?

[2019-08-14 22:25] hoosteeno commented on #7477
@WillatMozFdn, can we land the very same banner we previously used? If so, this is a very straightforward ask. Thanks!

[2019-08-14 22:32] ejregithub opened #7574 "Browser Comparison SEO pages"
## Description

The idea is to provide a one-stop content resource that compares Firefox against our top five competitors in the market. This will consist of one main overview page that provides an intro and overview graphic, and that then links to the five sub-pages (repurposing SEM content) comparing Firefox side-by-side against competitors.

[Brief](https://docs.google.com/document/d/1BkZL_29Qx

[2019-08-14 22:33] ejregithub commented on #7574
Design for Overview page: Compare Web Browsers

![image](https://user-images.githubusercontent.com/20547886/63061057-d0e59200-bea8-11e9-8a89-9cb6908cf264.png)

[2019-08-14 22:45] ejregithub opened #7575 "Browser Comparison SEO Overview page: Compare Web Browsers"
## Description

The idea is to provide a one-stop content resource that compares Firefox against our top five competitors in the market. This will consist of one main overview page that provides an intro and overview graphic, and that then links to the five sub-pages (repurposing SEM content) comparing Firefox side-by-side against competitors.

[Original brief](https://docs.google.com/document/d/1

[2019-08-14 22:46] ejregithub opened #7576 "Copy - Browser Comparison SEO Chrome page: Compare Firefox vs Google Chrome"
## Description

The idea is to provide a one-stop content resource that compares Firefox against our top five competitors in the market. This will consist of one main overview page that provides an intro and overview graphic, and that then links to the five sub-pages (repurposing SEM content) comparing Firefox side-by-side against competitors.

[Brief](https://docs.google.com/document/d/1BkZL_29Qx

[2019-08-14 22:47] ejregithub opened #7577 "Copy - SEO - Browser Comparison SEO Safari page: Compare Firefox vs Safari"
## Description

The idea is to provide a one-stop content resource that compares Firefox against our top five competitors in the market. This will consist of one main overview page that provides an intro and overview graphic, and that then links to the five sub-pages (repurposing SEM content) comparing Firefox side-by-side against competitors.

[Copy - en-US](https://docs.google.com/document/d/1Kp

[2019-08-14 22:47] ejregithub opened #7578 "Copy - Browser Comparison SEO Edge page: Compare Firefox vs Microsoft Edge"
## Description

The idea is to provide a one-stop content resource that compares Firefox against our top five competitors in the market. This will consist of one main overview page that provides an intro and overview graphic, and that then links to the five sub-pages (repurposing SEM content) comparing Firefox side-by-side against competitors.

[Copy - en-US](https://docs.google.com/document/d/1QS

[2019-08-14 22:47] ejregithub opened #7579 "Copy - Browser Comparison SEO Internet Explorer page: Compare Firefox vs Internet Explorer"
## Description

The idea is to provide a one-stop content resource that compares Firefox against our top five competitors in the market. This will consist of one main overview page that provides an intro and overview graphic, and that then links to the five sub-pages (repurposing SEM content) comparing Firefox side-by-side against competitors.

Brief

[Copy - en-US](https://docs.google.com/documen

[2019-08-14 22:48] ejregithub opened #7580 "Copy - Browser Comparison SEO Opera page: Compare Firefox vs Opera"
## Description

The idea is to provide a one-stop content resource that compares Firefox against our top five competitors in the market. This will consist of one main overview page that provides an intro and overview graphic, and that then links to the five sub-pages (repurposing SEM content) comparing Firefox side-by-side against competitors.

[Copy - en-US](https://docs.google.com/document/d/1zS

[2019-08-14 22:50] ejregithub commented on #7575
![image](https://user-images.githubusercontent.com/20547886/63061785-3aff3680-beab-11e9-87b0-69d8e8f23876.png)

[2019-08-14 23:15] Errolyn commented on #7477
I have a branch with the banner added back in. I can put up a demo if that would be helpful?

[2019-08-14 23:43] Errolyn commented on #7477
Also what are the analytics requirements for this banner?

[2019-08-14 23:48] ejregithub commented on #7477
This is verbatim to the previous banner. Analytics should already be in there - please ask @craigcook for details

[2019-08-15 00:04] craigcook commented on #7477
There are some hidden fields in the form that we update to identify the campaign. Last time it was `apr2019banner` so this time I guess that would be `aug2019banner`? We can check with Will if that works or if they want something else.

[2019-08-15 01:04] WillatMozFdn commented on #7477
hey gentlemen, apologies for the delay responding.  Yes, same banner verbatim -- I had some grand ideas about testing but I don't think those can come to fruition in time.  @craigcook indeed, please update the hidden field (which I _think_ drives the utm_campaign value, please correct me if I'm wrong) ...but let's make it "sept2019banner" ... because, I need to ask you guys if it's ok to **push th

[2019-08-15 01:05] WillatMozFdn commented on #7477
@Errolyn yes please on the branch for a demo ... just want to check and make sure everything's linking correctly and verbage still current.  (99% sure it is, but never hurts to double-check.)  Thanks!

[2019-08-15 07:58] alexgibson commented on #7451
Updated the buttons to blue, as per @dzingeek's suggestion.

[2019-08-15 09:08] alexgibson opened #7581 "/firefox/firstrun/ page throws a JavaScript error"
## Description

The [/firefox/firstrun/](https://www.mozilla.org/en-US/firefox/firstrun/) page throws a JavaScript error on page load. I'm not certain if this is causing an issue (it may be related to old code perhaps), but we should take a look and fix it.

### Steps to reproduce

1. Visit https://www.mozilla.org/en-US/firefox/firstrun/
2. Open the Web Console.

### Expected result

There should

[2019-08-15 09:18] alexgibson commented on #7491
We have final copy and wireframes, so I think this is good to get started on, although we're still waiting on download packages and the style tile.

[2019-08-15 14:33] ejregithub opened #7582 "UX/UI/Design - Lockwise product page on www.mozilla.org"
UX/UI/Design - Lockwise product page on WMO

With new copy and 'on brand' updates to the current page we should add/update content to make that have a better marketing pitch.

The overarching goal is to maintain, not recreate or create anew, the imagery in the page

***Success Criteria***
- [x] Includes an interaction design based on user state (desktop browser version, mobile)
- [x] Has download

[2019-08-15 14:34] ejregithub opened #7583 "Lockwise - Build analytics plan and implement analytics"
## Description

We need an analytics instrumentation plan for Lockwise when it lands at www.mozilla.org. We should evaluate the current state of Lockwise analytics on lockwise.firefox.com, and design an ideal analytics setup, and specify the instrumentation so we can build it.

Notes
* If there are existing analytics we should prioritize continuity.
* There are 3 CTAs: Download on play store, down

[2019-08-15 14:52] craigcook commented on #7581
Oops, looks like this is a regression from a64a4be72b0e41748c050ff1d0afdca8b95b8aa3

I missed this in code review, sorry. The JS is expecting an element that doesn't exist in the new template.

https://github.com/mozilla/bedrock/blob/master/media/js/firefox/firstrun/firstrun_quantum.js#L9

But I'm not even sure what that was meant to do in the first place... maybe we don't need that at all and can

[2019-08-15 14:54] ejregithub opened #7584 "Update privacy policy for lockwise"
We do need to create this on mozilla.org in the legal repo along with the other product privacy policies

Q - will legal do this or do they want us to?

[2019-08-15 16:02] rraue commented on #7570
Its very important that we redirect 301 from lockwise.firefox.com to www. Could you concretise this in the task @ejregithub please.

[2019-08-15 16:08] ejregithub commented on #7575
@rraue @claychaffin - here's the translation to EN from the original DE, done in Google Translate.
https://docs.google.com/document/d/1HnUwtbt8aui-uDpIC65VZLoGy0ftHH4xKtd37xbvTPY/edit

I'm sure it needs review by @rraue and it does not include any meta data.

[2019-08-15 17:53] claychaffin commented on #7571
Lockwise copy deck
https://docs.google.com/document/d/1BMHSSKUIDlu3e4pmQSBVgzmC6kQmj1LetSWnShu7K00/edit?usp=sharing

[2019-08-15 18:12] hoosteeno opened #7585 "Pass through utm parameters on FxA referrals"
## Description

In https://github.com/mozilla/bedrock/issues/6854 we built logic to pass through utm parameters from upstream sources on some referrals to FxA, but we didn't add that capability to the email-first form and monitor button.

We should pass through upstream utm parameters to downstream referrals in the FxA ecosystem. Solving this bug for the general case -- e.g. by including the funct

[2019-08-15 18:17] alexgibson commented on #7154
Closing in favour of https://github.com/mozilla/bedrock/issues/7585

[2019-08-15 18:17] #7154 closed

[2019-08-15 18:26] craigcook commented on #7465
Temporarily blocked by the Monitor button work happening in https://github.com/mozilla/bedrock/pull/7546 since this page has a Monitor button.

[2019-08-15 19:44] craigcook commented on #7558
Submitted https://github.com/mozmeao/www-config/pull/235 to disable the experiment.

[2019-08-15 21:37] hoosteeno opened #7586 "Lifecycle page - Survey visitors to initial release to learn more about how to refine the channel."
https://bugzilla.mozilla.org/show_bug.cgi?id=1574304 - this a private bug, for now

[2019-08-15 21:39] hoosteeno opened #7587 "Lifecycle pages: Design & build a staged rollout (experiment & instrumentation)"
We want to roll out lifecycle pages to a smaller audience to measure a few key outcomes before releasing this content more widely. For example:
* Survey visitors (https://bugzilla.mozilla.org/show_bug.cgi?id=1574304) to refine the channel
* Establish initial baseline conversion rate and confirm it is within expectations

We will expose a small segment of en-US browser users to the lifecycle pages.

[2019-08-16 02:51] hoosteeno commented on #7537
We brainstormed and articulated the stuffing out of this issue. Our notes are [here](https://docs.google.com/document/d/1iB0FAB1_msL--ykZguYQ-eAb9ZeCwWOI58Nc-92lssM/edit) and I created cards implied by those notes. Closing this.

[2019-08-16 02:51] #7537 closed

[2019-08-16 08:25] alexgibson opened #7589 "Add optional entrypoint_experiment and entrypoint_variation parameters to FxA referral macros."
## Description

If a referral link to accounts.firefox.com or monitor.firefox.com is part of an experiment, we can highlight that fact by passing along `entrypoint_experiment` and `entrypoint_variation` parameters in the href. So far we haven't used either of these parameters in production, so they currently aren't supported in the macros we use. This is a task to implement them and document their

[2019-08-16 08:28] #7417 closed

[2019-08-16 08:40] alexgibson commented on #7535
@hoosteeno both of the above PRs have now been merged, so the documentation as-is should be good for review.

[2019-08-16 12:54] alexgibson commented on #7491
@wboucherfischer @claychaffin @hoosteeno

Here is a WIP prototype for the new enterprise page layout, complete with copy:

https://www-demo2.allizom.org/en-US/firefox/enterprise/

In terms of content I have one main piece of feedback at this time:

As far as this new page goes, I can't recommend we remove and redirect the [old firefox organisations](https://www.mozilla.org/en-US/firefox/organizati

[2019-08-16 15:18] hoosteeno commented on #7491
I agree with Alex's assessment above. It's the same one that @rraue offered earlier, in the context of search visitors who're looking to download ESR. A couple factors that would mitigate this for me:

1. A week ago we seemed on the verge of a copy direction[0] that Raphael and I felt better about moving forward with:

Alternative subhead - to address search traffic (ESR) concern: `Download Firefo

[2019-08-16 16:34] ejregithub opened #7590 "Lifecycle page - Closure Card: monitor, close, provide analysis"
## Description

Stop and analyze the lifecycle pages staged rollout experiment.

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Experiment is stopped
- [ ] Experiment report is published

#### Tasks
- [ ] Determine whether we have enough data, and when we do, signal to shut down the experiment
- [ ] Shut down the experiment (by e.g. changing a switch)
- [ ] Analyze initial launch period

[2019-08-16 16:37] ejregithub opened #7591 "Lifecycle page - Build SUMO FAQ"
## Description

Associated with the Lifecycle pages to be shown to users in their Firefox browser at various moments in time, we want to inform users as to the significance of them - what they are, why they're seeing them and, eventually, instructions on how they can opt out of being shown them.

[copy deck](https://docs.google.com/document/d/1eCaz2Zp9GRN7BA5pxooTZJADEtFYVvcRzwVfKlaF1kw/edit?usp=s

[2019-08-16 17:59] #7531 closed

[2019-08-16 18:21] ejregithub opened #7592 "Lifecycle page - Content: copy & design the page"
## Description

This work will result in the copy and design, asset creation, for the new lifecycle page to be launched between Firefox 69 and 70.

---

***Success Criteria:***
- [ ] Is reviewed/approved by Team Lead
- [ ] Is reviewed/approved by the (A)ccountable person identified in the project RASCI
- [ ] Page is live between 69 and 70 rapid release dates
- [ ] Ensure this first page fits is co

[2019-08-16 18:22] ejregithub opened #7593 "Lifecycle page - Instrumentation & measurement"
## Description

This work will establish the analytics plan for the new lifecycle page to be launched betwee 69 and 70

---

***Success criteria:***
- [ ] Can measure sessions/conversions on the page
- [ ] Implements FxA referral instrumentation standards

***Risks***
- [ ] This is a risk

***Tasks:***
- [ ] Build analytics plan for lifecycle pages (including the initial one for launch between 69

[2019-08-16 19:37] ejregithub opened #7594 "Lifecycle page: Code"
## Description

This first lifecycle page is to be launched between Firefox 69 and 70 with the main goal of promoting the Firefox Monitor product.

[URL structure](https://docs.google.com/document/d/1T-MPx9idmrSzMi_w91BM6HiVJ8WhyH7D9BW6Hh--hZw/edit?usp=sharing)

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] The life cycle page should be reusable
- [x] The page is built in a modula

[2019-08-19 09:13] alexgibson commented on #7533
Fixed in https://github.com/mozilla/bedrock/pull/7588

[2019-08-19 09:13] #7533 closed

[2019-08-19 09:13] alexgibson commented on #7532
Fixed in https://github.com/mozilla/bedrock/pull/7588

[2019-08-19 09:13] #7532 closed

[2019-08-19 09:13] alexgibson commented on #7539
Fixed in https://github.com/mozilla/bedrock/pull/7588

[2019-08-19 09:13] #7539 closed

[2019-08-19 09:18] alexgibson commented on #7491
@ejregithub can you please clarify what this is, and if it's still needed? Thanks

[2019-08-19 13:45] rraue opened #7596 "Test faq structured data on https://www.mozilla.org/en-US/MPL/2.0/FAQ/"
We would like to test how ctr in search and impressions in search react on [faq structured data](https://developers.google.com/search/docs/data-types/faqpage). https://www.mozilla.org/en-US/MPL/2.0/FAQ/ is a good candidate to test on, as the page has some but not much traffic from search and a very clear faq structur.

[2019-08-19 14:00] wboucherfischer commented on #7555
**Link to Style Tile in abstract:**
https://share.goabstract.com/87ff71ab-c989-4eb0-a1fd-6835563a68ca

**Link to Sketch file:**
https://share.goabstract.com/e1d360d8-1dcf-40d6-8e32-e62727808474

**PNG's**
![style tile page 2](https://user-images.githubusercontent.com/50332473/63271170-650b7c80-c24e-11e9-993a-e878d7d063cc.png)
![style tile page 1](https://user-images.githubusercontent.com/50332473/

[2019-08-19 14:15] wboucherfischer opened #7598 "Need enterprise spot illustration for features section in Style Tile"
## Description

Need the creation of a spot illustration for the features section of the enterprise page.
The image should convey the benefits and features of the enterprise premium support plan.

Copy: https://docs.google.com/document/d/1nbSDIpMxmkLcy9Uts54IMB9LVZiTFGpwHRrC-_AFmD8/edit?usp=sharing
[section headline]
Get Firefox premium support for your enterprise
[subhead]
Fast and dedicated supp

[2019-08-19 15:28] ejregithub commented on #7491
@alexgibson - I asked Tyler to confirm that [this is correct file](https://drive.google.com/file/d/1sbF9ghhFa2fZek7NFAjXJabak3R02Enl/view) for the onboarding guide.  It was flagged in our contexting sessions as a requirement.

[2019-08-19 15:30] alexgibson commented on #7491
@ejregithub I don't see anywhere in the design where there's a direct link to that file. The deployment guide is listed in the package downloads, so if that's the only place it surfaces then I don't think we need to figure out hosting for it here.

[2019-08-19 15:52] ejregithub commented on #7555
@wboucherfischer - we should leave this one open until it is truly closed out / when we have the asset for the Features section. (reopening).

[2019-08-19 15:53] alexgibson commented on #7598
If useful for context, I'll be incorporating @wboucherfischer's style tile into the page layout that's up on demo here: https://www-demo2.allizom.org/en-US/firefox/enterprise/

[2019-08-19 17:12] hoosteeno opened #7600 "Roughly scope an experiment on /firefox"
## Description

We want to land new content on /firefox that talks about the master brand by Oct. 22. We need to understand the magnitude of change (desktop acquisition volume DOWN, non-desktop conversion volume UP) to expect. This will require an experiment, and we need to know how much we can learn in that experiment based on the anticipated data gathering time required.

Please roughly estimate

[2019-08-19 17:18] alexgibson commented on #7598
Icons and imagery from the style tile is now in place on demo: https://www-demo2.allizom.org/en-US/firefox/enterprise/

I'm still tweaking spacing and typography.

[2019-08-19 17:18] alexgibson commented on #7555
Icons and imagery from the style tile is now in place on demo: https://www-demo2.allizom.org/en-US/firefox/enterprise/

I'm still tweaking spacing and typography.

[2019-08-19 17:46] hoosteeno commented on #7587
Closure card: https://github.com/mozilla/bedrock/issues/7590

[2019-08-19 18:10] claychaffin commented on #7555
Please add a colon to subhead, unless that breaks the template (see bolded copy). Thanks:

Section 3 — premium support key benefits
[section headline]
Get Firefox premium support for your enterprise
[subhead]
Fast and dedicated support

 Firefox premium support provid**es:**
- 24/7 private help for customization, deployment and management of Firefox
- SLAs on critical security bug fixing
- Access

[2019-08-19 18:24] sghoseWI commented on #7558
Experiment report: https://docs.google.com/document/d/1BNpzciUIAkgtPXiVuzs2ruiS1eK1d0BsyubcC3TWHC4/edit#

[2019-08-19 18:30] claychaffin commented on #7571
Meta title and description has been approved by our stakeholder.

[2019-08-19 19:00] Errolyn commented on #7477
Here is the Demo!  https://bedrock-demo-errolyn.oregon-b.moz.works/en-US/

[2019-08-19 21:50] ejregithub commented on #7477
We have sign off from the Approver, Will, in Slack. Noting that here. Also, i update the go live and removal dates according to Will's request on[ August 14th](https://github.com/mozilla/bedrock/issues/7477#issuecomment-521475480)

[2019-08-19 22:16] wboucherfischer commented on #7598
We are going to use the spot illustration, per Michael Ham, for now. Once Michael is done with the Illustration guidelines in September we can update at a later date.

[2019-08-19 22:17] wboucherfischer commented on #7598
@ejregithub Would I close this?

[2019-08-19 22:18] wboucherfischer commented on #7555
@alexgibson I talked to Michael Ham and he said to continue using the spot illustration for the feature section that you have on the web page. He is finalizing the illustration guidelines and said we will update it later once the brand illustration guidelines are finalized.

[2019-08-19 22:36] wboucherfischer commented on #7491
@alexgibson

Can you please make the following correction:

![Get Firefox for your enterprise — ESR  RR and premium support](https://user-images.githubusercontent.com/50332473/63304210-1cc47c80-c297-11e9-9456-71c2f0265785.png)

[2019-08-19 22:48] ejregithub commented on #7491
Agreed- MKaply said they're figuring that out, we'll just point to that when we receive it.

[2019-08-19 22:52] wboucherfischer commented on #7491
My recommendation is that we redesign the ESR page and make it a child sub page of /enterprise. If we are using the ESR terminology going foward still, then I think we need a page to describe what it is. I do not think the focus of the /enterprise page should be ESR, as the focus should be on getting people to contact sales about information on the Firefox Premium Support Plan.
 @hoosteeno  i am f

[2019-08-19 23:22] claychaffin commented on #7491
@hoosteeno I shared the alternative subhead (or one close to it) to address search traffic (ESR) with Tyler last week ("Download Firefox Extended Support Release (ESR) or Rapid Release in the install package you need to manage your enterprise"), but she preferred the subhead we have because it contains this differentiating claim: "...comprehensive security and data protection..." (there's not enou

[2019-08-19 23:24] ejregithub commented on #7465
Monitor button as blocker removed.

[2019-08-20 01:09] ejregithub commented on #7598
Indeed, thanks @wboucherfischer !

[2019-08-20 01:09] #7598 closed

[2019-08-20 07:43] alexgibson commented on #7491
@wboucherfischer can you please be explicit on the changes you would like to make for the "Need other languages" link? Thanks

[2019-08-20 08:38] alexgibson commented on #7491
@wboucherfischer ok I think this is now ready for design review: https://www-demo2.allizom.org/en-US/firefox/enterprise/

[2019-08-20 08:48] #7553 closed

[2019-08-20 09:14] #7451 closed

[2019-08-20 14:33] #7430 closed

[2019-08-20 14:41] alexgibson commented on #7491
Marking this as blocked on the package download URLs.

[2019-08-20 14:45] hoosteeno commented on #7491
Let's also block on the subhead question. I don't consider it resolved yet.

[2019-08-20 14:56] hoosteeno commented on #7491
Here are my suggestions for the subhead and the "other languages" link. @wboucherfischer @claychaffin @skrelnick23, please reach out to me in Slack if you'd like to discuss.

![Screen Shot 2019-08-20 at 8 50 46 AM](https://user-images.githubusercontent.com/94519/63358410-38c42e80-c328-11e9-807f-e1900ee652e0.png)
![Screen Shot 2019-08-20 at 8 52 03 AM](https://user-images.githubusercontent.com/9451

[2019-08-20 14:59] alexgibson commented on #7491
My comment to the above is that I feel like we don't really explain what "ESR" stands for in the subhead (whereas we don't abbreviate Rapid Release)^

[2019-08-20 16:00] ejregithub commented on #7491
Currently blocked on:
- URLs from Product Team to package downloads - @ejregithub to track this.
- FAQ going live on SUMO - @hoosteeno - who owns this?
- Decisions on design (accounting for ESR & language) in subhead - @wboucherfischer  - please provided guidance

[2019-08-20 16:03] ejregithub commented on #7570
@rraue - that 301 redirect requirement is now explicit in the tasks.

[2019-08-20 16:06] hoosteeno opened #7603 "Research: Why do we want % based activation?"
What does this help?

[2019-08-20 16:06] hoosteeno commented on #7603
A: It's about solving for these sorts of problems: https://github.com/mozilla/bedrock/issues/6579

Basically, because the download page content was updated and Vietnamese hadn't translated the handful of new strings on the page, it was deactivated, resulting in a "35% fx-desktop-download decline of non-fx-users in Vietnam YoY". It's likely that had the page remained active despite being partially

[2019-08-20 16:15] alexgibson commented on #7536
I don't know if @pmac has any preference here maybe, but my thinking is currently:

- The filename prefix is probably OK.
- Use underscores (Python convention)
- A version modifier (e.g. `v_2`) is shorter and easier to read than a date format.

[2019-08-20 16:16] skrelnick23 commented on #7491
1. Package downloads: I can hustle up the team to provide the zip files
(are all languages en-US, en-GB, en-CA, fr-FR, de-DE?). I assumed the
website team would help us host this? or is that on product team?
2. FAQ: To my understanding, Wendy thought that the FAQ would be a
standalone page on the website, separate from the enterprise sumo
<https://support.mozilla.org/en-US/products/firefox-enterpr

[2019-08-20 16:19] hoosteeno commented on #7536
Would a campaign-specific modifier be acceptable? E.g. `firefox_new_trailhead`? I can imagine that we might one day wish to make a set of changes across several fluent files as part of one large initiative. In other systems (e.g. instrumentation, template naming) we have used campaign names like this.

I'm not advocating for it, just trying to tease out how rigid we will be with the standard.

[2019-08-20 16:22] alexgibson commented on #7603
Risks / open questions:

- What % is most suitable?
- Partially translated content (e.g. headlines, page titles, meta descriptions), could still have a negative impacts on SERPS.
- If locales are activated using automation, is there a danger that a locale could be activated when it shouldn't? (see first point). How might that be overridden?
- Would we need a way to specify important strings, that

[2019-08-20 16:28] alexgibson commented on #7536
Campaigns usually involve redesigned pages, in which case we'd probably create a new Fluent file for that campaign (e.g. `firefox_new_skyline.ftl`). However for minor content updates you're right, we may want to use a uniform modifier across multiple files.

Perhaps `_v_*` could be flexible enough, but we should have some rules around it (e.g. keep it short & readable).

[2019-08-20 17:01] hoosteeno opened #7604 "Figure out the best way to override automated template activation."
We want to be able to deactivate a template that was unexpectedly activated by automation.

[2019-08-20 17:03] hoosteeno commented on #7604
There is no facility provided by Fluent for this; we are free to determine our own approach. Axel's preference is that we create a file in the Fluent repo that we manage which could contain information used by Bedrock's import process to deactivate template.

[2019-08-20 17:05] hoosteeno opened #7605 "Research where localization configuraiton files will live and what the workflow will be for creating them."

[2019-08-20 17:07] hoosteeno commented on #7605
Live in the bedrock repo; mirrored in the fluent repo.

@pmac Can you ping Axel to get more details here?

[2019-08-20 17:07] hoosteeno opened #7606 "Understand what triggers are available to cause localization workflows to happen, and how we can fire them. Do string changes in simplified en trigger workflows? String ID changes? What else?"

[2019-08-20 17:10] hoosteeno commented on #7606
String ID changes cause localization workflows to happen.

[2019-08-20 17:10] #7606 closed

[2019-08-20 17:11] hoosteeno opened #7607 "Risk/Task: Determine who will set up external repo for localizers to submit ftl files."

[2019-08-20 17:11] hoosteeno commented on #7607
Axel will.

[2019-08-20 17:11] #7607 closed

[2019-08-20 17:15] hoosteeno commented on #7603
How can we use data to validate our decisions around % based activation?

[2019-08-20 17:19] pmac commented on #7605
@Pike ^^

[2019-08-20 17:24] pmac commented on #7605
What I meant by "bedrock settings" was that currently our production list of locales is hard coded here:

https://github.com/mozilla/bedrock/blob/786ca831226ea79c4c5de20bfe17e0664958aff6/bedrock/settings/base.py#L109-L122

We could just as easily load that from a config file in the fluent repo or bedrock fluent directory.

[2019-08-20 17:50] hoosteeno commented on #7603
@pmac @alexgibson My question here is, can we mitigate the specific scenario in some other way?

E.g. would it be easier/better to design a system where unintended deactivations don't happen? That seems like a completely different solution to the same problem that might not create quite as many challenging edge cases as %-based activation.

[2019-08-20 18:07] alexgibson commented on #7603
@hoosteeno I'm not quite sure I follow your trail of thought, can you elaborate on how solving deactivation helps the issue above?

[2019-08-20 18:11] alexgibson commented on #7603
Also - just to highlight in the case of the Vietnam example that was an intended deactivation (intended as in, we manually removed a template and its L10n files from the system)

[2019-08-20 18:37] pmac commented on #7603
For me, the answer to the original question is: there isn't another way to do it. We can't do manual activation as we don't have enough people and the l10n team doesn't want that responsibility.

If the question is more "why % based and not just required string based" I think it's because we as developers don't always want or need to define which strings are required.

I do agree with Alex that I

[2019-08-20 18:38] pmac commented on #7603
My primary worry with required strings is that someone will accidentally add one to an already translated page and then all translations will deactivate.

[2019-08-20 18:43] alexgibson commented on #7603
Just to throw in here: whilst we definitely can’t do manual activation, automatic activation based on a 100% rule is still a viable option to consider, imho. This is just my gut instinct right now more than anything concrete. But all the edge cases we’ve discussed on a less than 100% rule seem risky to me. And so far I don’t see any non-complex solutions.

[2019-08-20 18:48] ejregithub commented on #7491
Hi @skrelnick23 - yes - per MKaply & Devin's replies in Slack, Product will find a place to host and provide the Websites team with the URLs

As above, (comments in Slack), the Websites team will point to the SUMO page as the FAQ. It looks like Devin is going to spruce that up a bit, too.

I think that's where it's going to end up, yes.

[2019-08-20 19:19] Pike commented on #7605
Yeah. We have projects that distinguish between "stage-only" or "nightly" locales, and release-ready ones.

But that might be part of our other conversation around automated production deployment.

What I expect is that we'll have an `l10n.toml` in the top directory, like we do in https://github.com/mozilla-mobile/fenix/blob/master/l10n.toml for example.

[2019-08-20 20:51] hoosteeno commented on #7491
Let's roll with this subhead:

![Screen Shot 2019-08-20 at 1 42 03 PM](https://user-images.githubusercontent.com/94519/63382905-fa933300-c358-11e9-9e15-6cd3f8f8e96c.png)

Let's roll with this link below the buttons:

![Screen Shot 2019-08-20 at 2 31 51 PM](https://user-images.githubusercontent.com/94519/63382850-d7688380-c358-11e9-9677-eaf796fa48fc.png)

@rraue has approved this combination of cha

[2019-08-20 21:53] ejregithub commented on #7465
@craigcook - we the page to go live with the dark variation, based on the findings from the analysis that @sghoseWI and @hoosteeno did from the 68 test.

[2019-08-20 21:54] ejregithub commented on #7491
Hi @skrelnick23 - yes - per MKaply & Devin's replies in Slack, Product will find a place to host and provide the Websites team with the URLs

As above, (comments in Slack), the Websites team will point to the SUMO page as the FAQ. It looks like Devin is going to spruce that up a bit, too.

I think that's where it's going to end up, yes.

[2019-08-21 03:46] ejregithub commented on #7582
Making that note that, from Slack, @wboucherfischer is going to provide wireframes with the option showing with and without out the horizon bar and its CTA to get a FxAccount.  Thank you Wendy!

<img width="613" alt="Screen Shot 2019-08-20 at 8 45 44 PM" src="https://user-images.githubusercontent.com/20547886/63401282-963d9700-c38b-11e9-8f4d-cb889f88a5f3.png">

[2019-08-21 15:38] guyfitzpatrick commented on #7574
Main page English back-translation from German: https://docs.google.com/document/d/1W3CgeHU0-IOY-XZlBIhxPY88Oszx_li8aApHmhJB4AA/edit#heading=h.zgjwb84g9sby

[2019-08-21 19:23] stephaniehobson opened #7608 "Update branding on /switch page"
![switch](https://user-images.githubusercontent.com/854701/63461830-5ff52b80-c40e-11e9-8a5b-bc17ac8fe15d.png)

[2019-08-21 19:46] wboucherfischer commented on #7582
**Link to Sketch file in Abstract**
https://share.goabstract.com/8d2db792-8e2c-46c3-b8fc-78cd0856ac84

**Link to Abstract Collection for Commenting:**
https://share.goabstract.com/321bc547-708a-43a9-8ad4-213049388fcc

Added version with banner/no banner at the top to join Firefox. My recommendation is that we don't have the banner. As the web page should be consistent with other Firefox navigation

[2019-08-21 20:49] wboucherfischer commented on #7491
Here is feedback from Clio and Jennifer.

https://miro.com/app/board/o9J_kwmWXV4=/

@alexgibson I have scheduled something for 7:00am tomorrow to go over and discuss and see what we can do.

[2019-08-21 21:11] #7581 closed

[2019-08-21 23:43] wboucherfischer commented on #7491
Sorry, I just saw this:

Instead of 'Need other Languages?" please use @hoosteeno's suggestion above. Download Firefox ESR or Rapid Release for another language or platform.

[2019-08-21 23:57] wboucherfischer commented on #7491
@alexgibson For the feature image, please switch out the image with the dark background with one to white, per Clio.
![light bg](https://user-images.githubusercontent.com/50332473/63476156-bd03d800-c434-11e9-8aaa-2a9d832c49a2.png)

[2019-08-22 00:42] wboucherfischer commented on #7491
Please see if we can put the offer section heading on 2 lines per jrouse:

<img width="831" alt="Screen Shot 2019-08-21 at 5 41 39 PM" src="https://user-images.githubusercontent.com/50332473/63477653-035c3580-c43b-11e9-8c12-0f2711f07020.png">

[2019-08-22 10:13] alexgibson commented on #7491
I've pushed new proposed copy to demo, and also made tweaks based on design feedback:

https://www-demo2.allizom.org/en-US/firefox/enterprise/

Still blocked on package download URLs and FAQ.

[2019-08-22 15:15] #7465 closed

[2019-08-22 15:36] devinreams commented on #7491
Thanks @alexgibson. Tyler and I took a quick pass and things are looking great!

@wboucherfischer and team: what will be the most efficient way to help provide some feedback and capture questions at this stage? Doc with a list of things? Comments here? A quick "intake" meeting to talk through before we write a bunch out? Some examples: potential ideas for linking content to support pages, spacing

[2019-08-22 15:53] #7558 closed

[2019-08-22 15:54] ejregithub commented on #7592
Meg is writing the copy for this initial page

[2019-08-22 16:39] alexgibson commented on #7572
@sghoseWI this page is now ready for an analytics implementation.

Can you please provide a plan that outlines what the most important things are that we should track on this page? (is it downloads, sales leads, both?)

You can find the page up on demo here: https://www-demo2.allizom.org/en-US/firefox/enterprise/

[2019-08-22 16:42] alexgibson commented on #7491
Note that this is also blocked on the analytics plan: https://github.com/mozilla/bedrock/issues/7572

[2019-08-22 17:11] hoosteeno commented on #7603
I thought we've said on multiple occasions that there will be no automatic deactivation. How can this be a risk if we don't? Do you see some new use case for automatic deactivation?

[2019-08-22 18:48] alexgibson commented on #7560
@pmac I know you're also busy with the L10n system, but thought I should check in here. Do you still think porting the homepage cards to Nucleus is within scope for end of Q3 2019, or do you think this needs to move further out on the roadmap?

[2019-08-22 19:33] pmac commented on #7560
Oh. I missed that this was a Q3 goal. I have it for EOY mostly because l10n is going to take a good chunk of my Q3. I'd like to move it out if we can.

[2019-08-22 19:50] pmac commented on #7603
I thought we were back to doing automatic deactivation but with different rules and thresholds than activation. No?

[2019-08-22 21:36] wboucherfischer commented on #7491
Let me put the updated wireframes on miro and send out a link for feedack. @ejregithub  can you schedule a review with the team?

[2019-08-22 21:41] wboucherfischer commented on #7491
@devinreams here is link to miro with screenshot. Please provide feedback there. https://miro.com/app/board/o9J_kwk_fKo=/

[2019-08-22 22:17] ejregithub opened #7612 "Add new docs to production: Hubs Privacy Notice and ToS"
## Description

Add the new docs to production.

https://github.com/mozilla/legal-docs/tree/master/Mozilla_Hubs_Privacy_Notice
https://github.com/mozilla/legal-docs/tree/master/Mozilla_Hubs_ToS

https://bugzilla.mozilla.org/show_bug.cgi?id=1568885

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Both pages are live in production

#### Tasks
- [ ] Add the new legal docs (web pages) t

[2019-08-22 23:02] #7485 closed

[2019-08-22 23:04] sghoseWI commented on #7572
@alexgibson -- @hoosteeno and I met and we think the following tags make sense for our analytics tracking needs here:

Tags
On download buttons:
data-cta-type="Enterprise-Package"
data-cta-text="Windows32|Windows64|Mac" // There are 3 of these buttons; use only one text option depending on the platform
data-cta-position="Primary"

On ‘contact sales’ buttons:
data-cta-type="Enterprise-Sales"
data-c

[2019-08-23 09:05] alexgibson commented on #7572
Analytics are now in place on demo: https://www-demo2.allizom.org/en-US/firefox/enterprise/

[2019-08-23 12:59] alexgibson commented on #7559
@hoosteeno I did some preliminary investigation on serving `/firefox` 1st class CSS for IE9, and I think the most sane approach might be to actually serve it Universal CSS, but with a page specific stylesheet targeted at IE9 only to serve as an "enhancement". The result is a slightly nicer set of universal styles, just for that one page.

I'd like to propose we try and just serve IE9 the CSS requi

[2019-08-23 13:01] alexgibson commented on #7559
This is on demo here: https://www-demo1.allizom.org/en-US/firefox/

[2019-08-23 14:36] alexgibson opened #7614 "Determine the fate of SendToDevice/SendYourself widgets"
## Description

Currently we have two widgets in bedrock that do the same thing. Only one should survive.

- [send-to-device.js](https://github.com/mozilla/bedrock/blob/master/media/js/base/send-to-device.js)
- [send-yourself.js](https://github.com/mozilla/bedrock/blob/master/media/js/base/send-yourself.js)

### Send-Yourself Widget

Pros:

- Is newer than send-to-device.js.
- Can handle multiple

[2019-08-23 14:37] alexgibson commented on #7614
Any thoughts / preferences @craigcook @stephaniehobson @amychurchwell @Errolyn ?

[2019-08-23 15:07] stephaniehobson commented on #7614
Send-to-Device seems like the lowest effort.

[2019-08-23 15:25] craigcook commented on #7614
Send-yourself was created to support multiple products, which send-to-device can't do, and I honestly don't recall why at the time it seemed better to create a second widget than to refactor the original. But the plan had always been to deprecate the old one, that work just never happened.

If we decide we no longer need multi-product functionality (Firefox for Android/iOS is hard-coded in the sen

[2019-08-23 16:28] alexgibson commented on #7614
It looks like both macros support the `message_set` parameter, so (I think) either should be configurable.

[2019-08-23 16:29] hoosteeno commented on #7603
@rraue's comments:

* It is far better to have mixed language content -- even in critical tags such as description -- than it is for URLs to be missing.
* It is very bad for existing URLs to stop/start responding.
* The optimal way to identify the appropriate set of rules would by by UX testing them on users. Is 75% localization adequate for success for common use cases? (His suggestion would be t

[2019-08-23 16:34] stephaniehobson opened #7615 "Update notifications to use notification component"
## Description

Notifications have been added to Protocol as a component. There's a few places in bedrock where notification already exist. It'd be great up update them to use the shiny new component.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] All existing notifications use the component code

#### Tasks
- [ ] Update Modular what's new page.
- [x] Update thanks page.

[2019-08-23 16:35] stephaniehobson commented on #7615
Tagging @amychurchwell because she knows the component best. Amy, feel free to unassigned yourself if your workload doesn't give you time for this.

[2019-08-23 16:40] pmac commented on #7603
So I think we're agreed that automatic deactivation is off the table, and that we will need some way of manual deactivation in case of some strange circumstance and that can be a config file that lives in the l10n repo. Yes?

[2019-08-23 16:51] alexgibson commented on #7603
That sounds right to me. Hurray for simplifying a bunch of things 🎉

[2019-08-23 17:10] pdehaan opened #7616 "Audit image sizes"
## Description

No real issue, and I have no idea why I was looking at this, but I think I was just curious about overall image file sizes on the site.

Very possible this isn't an issue at all, and just an informative post about the current state of large images.

### Steps to reproduce

Troll through all the ./media/**/*.gif,jpeg,jpg,png,svg assets and look at filesizes.

<details>
<summary>imag

[2019-08-23 17:18] craigcook commented on #7614
Hmm yeah, it looks like send-to-device does handle different products, but still only one per page since it still has a hardcoded ID. Send-yourself is about a 95% clone of send-to-device, with just a few more options to avoid duplicate IDs so there can be more than one widget on a page. I thought message_set was hardcoded as well, and maybe it was at the time.

So if we just delete send-yourself w

[2019-08-23 17:52] pmac opened #7617 "The site is no longer serving the Etag header"
but it should be.

[2019-08-23 18:17] #7617 closed

[2019-08-23 18:22] alexgibson commented on #7614
Ok, so the only functionality the send-to-device widget is missing is instantiation for multiple instances. I think adding that functionality is probably going to be less work than rewriting tests, documentation, and deprecating the old widget. It’s also non-blocking, as we don’t have any pages where multiple instances are being used.

[2019-08-23 18:30] alexgibson commented on #7614
That said, the existing documentation does need some updates still (to mention `message_set‘ etc).

[2019-08-23 18:30] Errolyn commented on #7612
@ejregithub do we already have URL's for these, or am I creating new routes?

[2019-08-23 20:32] ejregithub commented on #7612
Per discussion, closing. the files are in the submodules on bedrock

[2019-08-23 20:32] #7612 closed

[2019-08-23 23:29] ejregithub opened #7620 "Email Preferences Page updates"
## Description

Email mailing list managers have asked for some minor improvements to the email preferences center, which they delivered in bullets in this [brief](https://docs.google.com/document/d/1ahtsCMOlf3tBNFnW11qehTLPK1ER-4XycKY40HQ3B_Y/edit). We should reach out to them to learn what problems they're trying to solve, and collaborate with them on designing a solution.

This work can wait un

[2019-08-24 18:36] alexgibson commented on #7491
Download links are now in place, removing the blocker on this page moving forward.

Note: the downloads are en-US only at present, so whilst we can ship this page, we can't localize it until the product team produce packages in multi-language.

[2019-08-26 18:14] ejregithub opened #7622 "Update trademark policy, distribution policy, and product identity assets pages"
## Description

https://bugzilla.mozilla.org/show_bug.cgi?id=1571920

Copy updates here in [this doc](https://docs.google.com/document/d/1p4Lr4EQMmzsRHwtt3OYyl9eObALTBjdnie5Oqku9y48/edit#)

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Updates are live

#### Tasks
- [x] Update https://www.mozilla.org/en-US/foundation/trademarks/distribution-policy/
- [x] Update https://www.mozilla

[2019-08-26 20:00] ejregithub opened #7623 "Sept 10th - Support Product and Legal with page updates"
## Description

Internal (Legal) bug - https://bugzilla.mozilla.org/show_bug.cgi?id=1575696

Legal will set up the URLs and post the content; the websites team just has to make it live.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Private until Sept 10, live on Sept 10

#### Tasks
- [ ] Coordinate w. MFeldman on go live plan
- [ ] Review the PR in legal-docs, merge and push to m

[2019-08-27 00:14] #7477 closed

[2019-08-27 03:49] ejregithub opened #7624 "Survey Enterprise page visitors"
## Description

The new /enterprise page will replace an existing acquisition funnel on www.mozilla.org/firefox/organizations. The legacy funnel has served 3 audiences we know of:
* A group of email-list members who have deployed Firefox in their organizations
* People on the web searching for Firefox ESR for a variety of reasons
* People on the web searching for Firefox to deploy in their organiz

[2019-08-27 16:58] skrelnick23 commented on #7491
Sorry to have a change in opinion so late here. We say "get" a couple of
times, how about "Learn more" instead of "Get more info"?

On Tue, Aug 27, 2019 at 9:47 AM Wendy Boucher-Fischer <
notifications@github.com> wrote:

[2019-08-27 17:20] hoosteeno opened #7625 "WNP69: Change form type parameter on Monitor buttons"
In https://github.com/mozilla/fxa/issues/963#issuecomment-525393950 the FxA team is adding a new form type for Monitor buttons. We need the Monitor buttons on WNP69 to use this new form type.

Specifically, we should change the `form_type` parameter value on Monitor buttons. Instead of `form_type=email`, all Monitor buttons should send a `form_type=button`.

## Success Criteria ##
- [ ] Monitor bu

[2019-08-27 17:55] #7625 closed

[2019-08-28 16:39] ejregithub opened #7628 "Change the URLs on the site that point Lockwise.firefox.com"
## Description

So we don't nuke our analytics

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Required for launch of the page
- [ ] No UTM parameters on same-site links

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a checklist!
- [ ] This is an example of a risk.

#### Tasks
- [ ] Find the links
- [ ] Change the links

[2019-08-28 20:37] #7596 closed

[2019-08-28 21:35] hoosteeno commented on #7582
I've reviewed this and have no change requests. Good job! 🎇

[2019-08-29 13:42] pmac commented on #7083
Doh! You're right. I was seeing googletagmanager.com being blocked because I have a local DNS tracking blocker. It works as you describe when I turn that off. My apologies for the churn.

[2019-08-29 19:30] ejregithub opened #7629 "/enterprise switch for 9/18 go live"
Set up switch for /enterprise page

Flip switch for go live ≤ 6 am PT on Wednesday Sept 18

[2019-08-29 22:18] ejregithub opened #7630 "Update the Impressum page"
## Description

We need to update the contents of the "Impressum" to comply with German law -- https://www.mozilla.org/de/about/legal/impressum/

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Page is updated with [new content](https://docs.google.com/document/d/1gh6-SDbUYwQKVDPg9y83pAe-0HL5V6PmMyC55I9_JG8/edit?usp=sharing)

#### Tasks
- [x] Put the page on demo with the new conten

[2019-08-30 01:59] ejregithub commented on #7592
@hoosteeno @wboucherfischer  - MEM asked in the [copy doc](https://docs.google.com/document/d/1t35rV9FRFvx42WNNog-I2IwqMpOv0PWua-LbtasxCQI/edit#) if "could/should this be conditional? e.g., if someone is signed-in, is the messaging different (e.g., did you know your account also includes Firefox Monitor)? vs. not signed in (e.g., sign up to get even more protection with Firefox Monitor)?"

As we d

[2019-08-30 06:50] alexgibson commented on #7629
@ejregithub it’s going to be a lot less work just to push the page live on the above date, rather than retroactively apply a switch to the page.

[2019-08-30 08:15] alexgibson commented on #7083
See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1576673

For posterity, it's bugs like this (^) that drive forward the affirmation to me that we should be investigating other solutions for our analytics. The page mentioned in that bug was a valulable source of measurement for website performance, since it was seen by so many people. Firefox traffic provides a large and diverse audience both

[2019-08-30 09:14] alexgibson commented on #7552
Note: if we're going to do this for FF 70 then we'll need an English version of the Firefox Lite whatsnew page: https://www.mozilla.org/id/firefox/whatsnew/

[2019-08-30 12:57] alexgibson commented on #6608
Closing as wontfix as per: https://github.com/mozilla/bedrock/issues/7614

[2019-08-30 12:57] #6608 closed

[2019-08-30 12:57] alexgibson commented on #6607
Closing as wontfix as per: https://github.com/mozilla/bedrock/issues/7614

[2019-08-30 12:57] #6607 closed

[2019-08-30 12:57] alexgibson commented on #6603
Closing as wontfix as per: https://github.com/mozilla/bedrock/issues/7614

[2019-08-30 12:57] #6603 closed

[2019-08-30 12:58] alexgibson commented on #6698
Closing as wontfix as per: https://github.com/mozilla/bedrock/issues/7614

[2019-08-30 12:58] #6698 closed

[2019-08-30 13:03] alexgibson opened #7632 "Deprecate send_yourself widget"
## Description

As per: https://github.com/mozilla/bedrock/issues/7614, there's only one page that uses the send-yourself widget. So let's update send-to-device as it's less work.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] All pages use the send-to-device widget in production.

#### Tasks
- [ ] All pages use the send-to-device widget.
- [ ] Update send-to-device widget to hand

[2019-08-30 13:03] alexgibson commented on #7614
Opened a new issue to update send-to-device: https://github.com/mozilla/bedrock/issues/7632

[2019-08-30 13:03] #7614 closed

[2019-08-30 13:15] alexgibson commented on #7623
This is blocked on creation of the markdown files that live in https://github.com/mozilla/legal-docs/

This needs to be done in bedrock, so will likely need a developer to create said URLs.

[2019-08-30 13:34] alexgibson commented on #7568
It looks like Beta/Dev Edition are now shipping with the new logos:

<img width="641" alt="Screenshot 2019-08-30 at 14 33 55" src="https://user-images.githubusercontent.com/400117/64024852-3f765100-cb33-11e9-8f22-ac22d5b7371c.png">

[2019-08-30 17:14] alexgibson commented on #7629
We have the confimration via Slack that we can ship this just as soon as it's been code reviewed.

[2019-08-30 17:14] #7629 closed

[2019-08-30 17:37] Errolyn commented on #7622
First PR is in, this will need a second pr to update https://design.firefox.com/photon/visuals/product-identity-assets.html

[2019-08-30 18:05] wboucherfischer commented on #7592
@ejregithub @hoosteeno @clay yes we can, but I need copy written. Meg Trowbridge is not on github.

[2019-08-30 18:15] hoosteeno commented on #7592
I answered in the copy doc. I'm not convinced that signed in/out state...
a) is an important signal here
b) has any impact

I suggest we don't complexify just because we can, but because it makes sense. I don't see a compelling reason yet to do so here.

[2019-08-30 19:22] #7519 closed

[2019-08-30 20:35] wboucherfischer commented on #7592
Here is first draft at visual design for Lifecycle page.
![lifecycle-page-1440@2x](https://user-images.githubusercontent.com/50332473/64049547-04bbeb00-cb2a-11e9-95f4-d4209f5841ef.jpg)

Link to Abstract File: https://share.goabstract.com/acef1b6f-cec0-45f2-9ce6-ca954a4a147b

Link to Miro Board: https://miro.com/app/board/o9J_kwqyWSc=/

[2019-08-30 22:04] Errolyn commented on #7622
I have PR's open for both repo's now.

[2019-08-30 22:27] dzingeek commented on #7592
just a heads up the design wendy posted above still needs to go through design review. so...feel free to start development if you haven't already but just know this is not final and has not been through any design feedback process yet.

[2019-08-30 22:54] Errolyn commented on #7622
I have the changes up on a demo:
https://bedrock-demo-errolyn.oregon-b.moz.works/en-US/foundation/trademarks/distribution-policy/
and:
https://bedrock-demo-errolyn.oregon-b.moz.works/en-US/foundation/trademarks/

Let me know if you need me to make any changes :D

[2019-08-30 23:35] wboucherfischer commented on #7592
Can we just have Mark work on this when he gets back?

On Fri, Aug 30, 2019, 3:28 PM jennifer <notifications@github.com> wrote:

[2019-08-30 23:51] #7568 closed

[2019-08-31 00:12] Errolyn commented on #7570
Assuming it makes sense for me to do so, I would really like to work on this.

[2019-09-02 08:42] StellaTseng commented on #7552
Yes, I will provide the English version of the Firefox Lite whatsnew page for India users.
Like what we did before for Indonesia users (but this time we will use QRcode instead of email): https://www.mozilla.org/id/firefox/whatsnew/
We are working on the assets and target to share it in the end of September (around 9/25).
Is that okay for you to meet the FF 70 launch? Thank you!!

[2019-09-02 08:49] alexgibson commented on #7552
In order to answer this I need to fully understand the ask here:

- If someone is physically located in India, and has their browser language preference set to English -> show them the English Firefox Lite web page.
- If someone is physically located in India, but does not have their browser language preference set to English -> show them ?

[2019-09-02 09:17] rraue commented on #7596
The test was succesful. The code is valid and already showing up in search, including the link in the markup:
<img width="669" alt="Screenshot 2019-09-02 at 11 15 49" src="https://user-images.githubusercontent.com/36700618/64103748-2bb92d80-cd73-11e9-98a0-568450c8b402.png">
<img width="777" alt="Screenshot 2019-09-02 at 11 15 58" src="https://user-images.githubusercontent.com/36700618/64103749-2bb

[2019-09-02 15:14] alexgibson commented on #7321
According to our [documentation](https://bedrock.readthedocs.io/en/latest/firefox-accounts.html) things like `utm_campaign` are considered required, and our macros often bake-in defaults, such as `utm_campaign=fxa-embedded-form`.

Given the above, what are the rules we should follow here if it means we can potentially drop certain params?

Should we only replace UTMs on links if there is a minimum

[2019-09-02 15:14] alexgibson commented on #7585
Depends on https://github.com/mozilla/bedrock/issues/7321

[2019-09-02 15:18] alexgibson commented on #7552
Depends on https://github.com/mozilla/bedrock/pull/7627

[2019-09-02 15:18] #6084 closed

[2019-09-02 15:30] alexgibson opened #7637 "Make /whatsnew urls use the new Geo redirector view class"
## Description

In https://github.com/mozilla/bedrock/pull/7627 @pmac wrote a handy Geo redirector view class, so that we can use a server-side geo-location. There is an ask in https://github.com/mozilla/bedrock/issues/7552 to use this new functionality to show a custom /whatnsew page to people located in India. Before we can do that, we need to convert our existing /whatsnew URs to use this new `

[2019-09-02 15:30] alexgibson commented on #7637
/cc @hoosteeno @pmac

[2019-09-02 15:32] alexgibson commented on #7552
Depends on https://github.com/mozilla/bedrock/issues/7637

[2019-09-03 07:35] StellaTseng commented on #7552
Hi Alex,
For the case - If someone is physically located in India, but does not have their browser language preference set to English -> We have no plan for this part yet, so maybe just leave this to the original content provider. Thanks!

[2019-09-03 08:58] alexgibson commented on #7552
If there are no additional L10n requirements then 9/25 should give us ample time before the FF70 launch on 10/22. Thanks!

[2019-09-03 13:30] alexgibson commented on #6480
Done in https://github.com/mozilla/bedrock/pull/7243

[2019-09-03 13:30] #6480 closed

[2019-09-03 13:40] alexgibson commented on #7527
Link to the original L10n page audit that Craig worked on: https://docs.google.com/spreadsheets/d/1ViVvQyH0IWYBDYaY8N-TKXeBsuYCgsFVUGyIz3WPg-g/edit?usp=sharing

Whilst I think this maps out most of the (current) system, it may not be exhaustive. But It should still help us to make a call as to the community/vendor/hybrid approach as we port pages to the new Fluent system. That said, it's been a wh

[2019-09-03 14:31] hoosteeno commented on #7527
We should identify a content owner for all the localized content on the site and involve that person along with an l10n project manager in decisions about content localization approaches.

How does this look?

## Tasks ##

- [ ] Identify content owners in the l10n audit -- people who can decide about sections of content for localized content.
- [ ] Connect with each content owner and an l10n proje

[2019-09-03 16:01] pmac opened #7640 "Fetch newsletter data from a git repo instead of directly from basket"
We should have a CI job that updates a git repo of JSON data for newsletter data, much like we do for Release Notes data. We've had some issues with failures relying on the JSON data from basket during docker image builds and data updates. It would also be more efficient as the git protocol would allow for most update calls to just be a no-op since it would easily see there was no change.

[2019-09-03 16:08] #7491 closed

[2019-09-03 16:13] hoosteeno commented on #7559
I don't have a viable IE9 test box, but the screenshots look good. If this seems like the most efficient way to maintain this functionality, then I support it. Thank you!

[2019-09-03 16:31] hoosteeno commented on #7624
Sharon offered a UR perspective on next steps here: https://docs.google.com/document/d/1cBIWsd3CtaT6tWxjyzNpbeTEGd995aDniOEKrOQdm28/edit?ts=5d66becc. She advises a launch, followed by quantitative analysis, followed by deeper user research.

I'm going to put this in the icebox for the moment. Removing from current sprint.

[2019-09-03 16:46] dzingeek commented on #7592
@wboucherfischer yes, @mrkwvr  can start working on that today.

[2019-09-03 17:30] mrkwvr commented on #7592
here's the initial design I started but still needs work and copy updates
![Screen Shot 2019-09-03 at 1 30 04 PM](https://user-images.githubusercontent.com/29285941/64195247-000b7580-ce4f-11e9-9769-a7fdd33a5002.png)

link to abstract file: https://share.goabstract.com/b158157a-f2df-4780-b7b1-74d89f479476

[2019-09-03 17:54] hoosteeno opened #7643 "(firefox/privacy/products) Protection Report Landing Page (Epic)"
For Skyline we will launch a new landing page for the Firefox protection report (about:protections). This page should handle incoming traffic from e.g. social and maybe paid. It should introduce/explain the report and should link visitors to the most appropriate next step if they wish to try the report:
* on 70 and above, use UITour to link into report
* on <70, update instructions on SUMO
* on no

[2019-09-03 18:11] #7608 closed

[2019-09-03 20:42] ejregithub commented on #7582
@mrkwvr - can you please attach a/the sketch file for this page and @  @Errolyn when you do?

[2019-09-03 21:05] Errolyn commented on #7570
Blocked and waiting for the design to be done/finalized.

[2019-09-03 21:05] stephaniehobson commented on #7596
That is pretty slick.

[2019-09-03 21:20] ejregithub commented on #7591
@hoosteeno - can you please review [the copy](https://docs.google.com/document/d/1eCaz2Zp9GRN7BA5pxooTZJADEtFYVvcRzwVfKlaF1kw/edit) for this SUMO page and let us know of any edits and/or if it should be reviewed for final signoff by MEM?

[2019-09-03 21:41] claychaffin commented on #7591
@ejregithub @hoosteeno Heads up, please: I pinged Natalie about whether to rename "Lifecycle Pages" to something more more user-facing, and she's discussing it with Tim.

[2019-09-03 22:46] stephaniehobson commented on #7628
Note to dev: please update www-admin links too.

[2019-09-04 02:56] ejregithub commented on #7572
@sghoseWI  @alexgibson - I'm assuming that since the page is now live we can close this issue - please drag to done if that's the case.

[2019-09-04 02:57] ejregithub commented on #7555
@wboucherfischer - this page is now live in production - should this issue be closed?  Please drag to the Closed column if so.

[2019-09-04 02:59] ejregithub commented on #7600
@sghoseWI - is this issue still in review and if so who needs to complete review of it?

[2019-09-04 03:53] sghoseWI commented on #7600
@ejregithub This issue is done and I've marked it as such.  Thanks for heads up.

[2019-09-04 03:54] sghoseWI commented on #7572
@ejregithub that's right, thanks -- now marked as done.

[2019-09-04 08:22] alexgibson opened #7645 "Websites privacy notice expanders no longer work"
## Description

The legal team noticed that the expanders that were previously on the [websites privacy notice](https://www.mozilla.org/en-US/privacy/websites/) were removed in https://github.com/mozilla/bedrock/pull/7462 (probably in error, since they still exist for other notices). The page title also has an error.

### Steps to reproduce

1.) https://www.mozilla.org/en-US/privacy/websites/

###

[2019-09-04 09:36] alexgibson commented on #7623
We're going to hard-code these pages to remove the waterfall dependency. Removing blocker.

[2019-09-04 11:29] rtestard opened #7647 "Wrong string on /enterprise"
## Description
On https://www.mozilla.org/en-US/firefox/enterprise/ a title states "Your data stays your business" whereas it should be "Your data stays in your business"

### Steps to reproduce

Browse to https://www.mozilla.org/en-US/firefox/enterprise/
### Expected result

What should happen?

### Actual result

Read "Your data stays your business"

### Environment

Chrome and Firefox
![Screens

[2019-09-04 12:45] alexgibson commented on #7647
The string in production is correct according to the [copy doc](https://docs.google.com/document/d/1nbSDIpMxmkLcy9Uts54IMB9LVZiTFGpwHRrC-_AFmD8/edit?usp=sharing).

/cc @claychaffin to weigh in here, as the change being proposed means the title takes a slightly different meaning/connotation.

[2019-09-04 15:01] rtestard commented on #7647
Dreams clarified that this is not wrong wording in english, my bad understanding of the language!
Closing now

[2019-09-04 15:01] #7647 closed

[2019-09-04 16:10] #7321 closed

[2019-09-04 16:37] #7645 closed

[2019-09-04 16:45] #7632 closed

[2019-09-04 17:09] alexgibson opened #7648 "Update headlines for Dev Edition landing pages"
## Description

Now that Dev Edition has a new wordmark logo, we should update the landing page headlines to better reflect how we're naming the browser.

- https://www.mozilla.org/en-US/firefox/developer/
- https://www.mozilla.org/en-US/firefox/70.0a2/whatsnew/
- https://www.mozilla.org/en-US/firefox/70.0a2/firstrun/

See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1578601

---

#### :yell

[2019-09-04 17:43] #7503 closed

[2019-09-04 17:55] amychurchwell commented on #7648
Does this need copywriter input? or are we just renaming headlines:

to

[2019-09-04 18:07] stephaniehobson commented on #7648
@rraue Have you managed to get official product names from anyone? What's the official name for Dev Edition?

[2019-09-04 19:31] #7600 closed

[2019-09-04 19:32] #7572 closed

[2019-09-04 19:34] hoosteeno opened #7652 "Direct traffic at CRO sandbox versions of pages"
## Description

After we have copies of some content in the CRO sandbox, we should build any tooling that we will require to direct some traffic to those copies. This may mean using TrafficCop, perhaps with some standardized settings, or it may mean something else.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] A percentage of visitors to pages we've duplicated in the CRO sandbox

[2019-09-04 19:55] stephaniehobson opened #7653 "Add structured data block to templates"
To facilitate adding structured data to all pages, we need to have a template block where we can put the includes.

This is a follow up to the successful test in #7338.

[2019-09-04 20:00] stephaniehobson opened #7654 "Add structured data to Firefox product pages"
- [x] add JSON to bedrock
  - [x] update JSON with logo references
- [x] add structured data block to templates (#7653)
- [x] remove micro data from /firefox and /firefox/new and /firefox/mac, /firefox/windows, /firefox/linux (#7658)
- [x] add JSON to individual pages as appropriate

[2019-09-04 20:15] #7555 closed

[2019-09-04 20:32] stephaniehobson commented on #7654
See also https://github.com/mozilla/bedrock/issues/5741

[2019-09-04 20:47] stephaniehobson opened #7656 "Update Browser logo for Fx70 (2019-10-22)"
## Description

The new browser logo will launch for "release" with Firefox 70 on Oct 22. We should be ready to publish the new logo before that.

---

#### Tasks
- [x] Inventory current logo use
- [x] Determine what sizes and formats are needed for each asset
  - [x] Sizes https://github.com/mozilla/protocol-assets/issues/32
  - [x] Formats https://github.com/mozilla/protocol-assets/issues/27
- [

[2019-09-04 20:52] stephaniehobson commented on #7656
Product's logo inventory:
https://docs.google.com/spreadsheets/d/1hbHhihkm8za4diQ_uaTEvNcd2jWeKlSU7X2_pYtnZcM/edit#gid=0

Bedrock specific logo inventory:
https://docs.google.com/spreadsheets/d/1F-__ZuJIvKGkjsp_vOWiSXSJr5z3xltt3gRXKnLoF3A/edit#gid=0

[2019-09-04 21:27] stephaniehobson opened #7658 "Remove microdata from firefox product pages"
In preparation for adding the JSON-LD to product pages we should remove the existing structured data from them (right now this is microdata)

List of pages:
- [x] firefox
- [x] firefox/new
- [x] firefox/mac
- [x] firefox/windows
- [x] firefox/linux

[2019-09-04 22:00] Errolyn commented on #7570
I can get started on the page, still need a few more assets but I have enough to get moving on.

[2019-09-04 22:48] Errolyn opened #7661 "Move 'fights-for-you' pages into folder"
## Description

Move the three "fights-for-you" pages into their own folder under `/firefox/templates/firefox/` then update the path anywhere that is needed

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] The three fights for you pages are in their own folder
- [ ] The pages are still accessible from the same URL: /en-US/firefox/fights-for-you/

#### :heavy_exclamation_mark: Risks

[2019-09-04 23:17] Errolyn opened #7662 "Move base files into own folder"
## Description

Move base files from `firefox/templates/firefox` into own folder.  Since the `firefox/templates/firefox` is getting a little full I am starting to pull out groupings of files into their own folder.

[2019-09-05 06:51] alexgibson commented on #7083
See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1578872

[2019-09-05 08:24] #6152 closed

[2019-09-05 08:49] #7662 closed

[2019-09-05 13:52] rraue commented on #7648
Yes, its "Firefox Browser Developer Edition" as stated with all other products in this document, approved by Tim and Brad. https://docs.google.com/spreadsheets/d/1oozpYeRwGQQzZvVovVniy_qw--M3DUIRNbK1VPAw_QI/edit#gid=0

[2019-09-05 13:55] rraue commented on #7648
We should update the title and meta description as well to:

title: "Download Firefox Browser Developer Edition"
description: "Firefox Browser Developer Edition is the blazing fast browser that offers cutting edge developer tools and latest features like CSS Grid support and framework debugging"

[2019-09-05 14:06] alexgibson commented on #7648
I just asked this question to the brand team yesterday and was told a different thing, that it should be: `Firefox Developer Browser`

[2019-09-05 14:27] alexgibson opened #7666 "Privacy notices are missing meta descriptions"
## Description

Not sure if this is a recent regression, but whilst working on a new policy I noticed that the meta descriptions for all current privacy policies are blank:

### Steps to reproduce

1. Visit https://www.mozilla.org/en-US/privacy/firefox/ or any other policy.
2. Open the web console and inspect the `<head>`.

### Expected result

`<meta name="description" content="INSERT MEANINGFUL

[2019-09-05 14:59] craigcook commented on #7661
We might be able to decommission these pages.

[2019-09-05 15:07] flekkowich opened #7667 "Update Enterprise Platform link in SLA *Urgent*"
Update Enterprise Platform link in [SLA](https://www.mozilla.org/en-US/firefox/enterprise/sla/)

Under *Contact Information*
Remove: https://mozilla.force.com/enterprise/s/
Replace with: https://enterprise-help.mozilla.com/hc/en-us

Under *Procedure to file a ticket*
Remove: https://mozilla.force.com/enterprise/s/
Replace with: https://enterprise-help.mozilla.com/hc/en-us
Clear steps describing ho

[2019-09-05 15:10] skrelnick23 opened #7668 "Change out a placeholder link on Enterprise page"
## Description

There is a link out from the SLA page that goes to a page that was a placeholder. All instance of https://mozilla.force.com/enterprise/s/ replace with https://enterprise-help.mozilla.com/hc/en-us

### Steps to reproduce

All instance of https://mozilla.force.com/enterprise/s/ replace with https://enterprise-help.mozilla.com/hc/en-us

### Expected result

All instance of https://moz

[2019-09-05 15:22] hoosteeno commented on #7667
@flekkowich Is the en-US string at the end required? We generally try to drop locale strings when a locale-sensitive request handler is present, which appears to be the case here:

https://enterprise-help.mozilla.com/hc/

[2019-09-05 15:31] craigcook commented on #7667
I'm also not sure if the '/hc/' bit is required. If I go to https://enterprise-help.mozilla.com it then redirects to /hc/en-us/, so maybe we should just link to the top-level domain.

[2019-09-05 15:55] craigcook commented on #7667
Confirmed via Slack that we can link to `https://enterprise-help.mozilla.com` without the additional URL segments (they're automatic redirects).

[2019-09-05 16:01] hoosteeno commented on #7668
Duplicate of #7667

[2019-09-05 16:01] #7668 closed

[2019-09-05 16:20] Errolyn commented on #7661
@craigcook who should we ask to find out if we can?

[2019-09-05 21:11] hoosteeno opened #7670 "Decommission fights-for-you"
## Description

We no longer drive traffic to the fights-for-you page, and it's not doing much work, and it's going out of date. We should decommission the page and redirect traffic to /firefox.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] In all active locales, a visitor to /firefox/fights-for-you will be permanently redirected to /firefox
- [ ] Content, routes, tests and asset

[2019-09-05 21:15] Errolyn commented on #7661
This can be closed because of: https://github.com/mozilla/bedrock/issues/7670

[2019-09-05 21:15] #7661 closed

[2019-09-05 21:20] #7667 closed

[2019-09-06 09:43] Mardak opened #7671 "Detect UITour failure / non-response on what's new page"
We're trying to evaluate how widespread is https://bugzilla.mozilla.org/show_bug.cgi?id=1557153 where UITour default permission gets lost, so UITour does not respond to events. E.g., Mozilla.UITour.ping(cb) should call back pretty immediately except it never happens with the lost permission.

[2019-09-06 09:54] alexgibson commented on #7623
PR is now open in the private repo.

[2019-09-06 12:43] alexgibson commented on #7671
After some discussion on Slack, we've decided a 1 second timeout *should* be enough, at least to give us a general idea on the scope of the issue. We're also going to track the response times, so we can get a good idea of the median for people hitting /whatsnew in general.

[2019-09-06 13:24] alexgibson opened #7673 "Remove jQuery dependency for send-to-device.js"
## Description

The send-to-device widget is still being used in modern templates, but relies on jQuery. We should replace those function calls with native equivalents.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] send-to-device.js no longer relies on jQuery.

#### Tasks
- [x] Remove dependency.
- [x] Update tests where applicable.

[2019-09-06 15:53] alexgibson commented on #7652
Initial architecture doc for reference: https://docs.google.com/document/d/1RXzBVUk3LSbyBeJOesPrKcekvA5bOUBiUIiQy7frHgQ/edit#heading=h.ui1wp7dez36o

[2019-09-06 16:23] alexgibson commented on #7652
Depends on https://github.com/mozilla/bedrock/issues/7508

[2019-09-06 16:27] amychurchwell commented on #7652
Sandbox pages with experimental tool behind `/ex/` example: `/ex/firefox/accounts`

- URL parameters preserved on redirection.
- Adjust traffic percentage without a production push.
- Adjusting locale without a production push may need be a need in the future.
- Should be able to target any URL.

Server-side redirect solution may be preferable? Maybe convo with @jgmize ?

[2019-09-06 16:49] alexgibson commented on #7508
The initial pages in the sandbox will be:

- `/en-US/exp/firefox/new/`
- `/de/exp/firefox/new/`

For now we'll be hardcoding the strings for `de`, rather than exposing the strings through pontoon.

[2019-09-06 18:17] ejregithub opened #7674 "WNP 70 copy"
## Description

Copy for WNP 70 (Skyline)

[Copy Doc](https://docs.google.com/document/d/1CTHULbVZ8JekZ1efwaa-ksNvx8nVXxGT-cTJR5zmsz0/edit#heading=h.oo63piaiuqi8)

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Copy is final/approved Friday Sept 13th

#### Tasks
- [x] write copy, get it reviewed and approved (Rob)

[2019-09-06 18:17] ejregithub opened #7675 "WNP 70 string extraction"
Extract strings to Pontoon for localizers

***Tasks***
 - Flag DE and FR w. Peiying for Mozilla Staff localizers
- Opt in for all others
- @ejregithub to coordinate with Staff for DE and FR

[2019-09-06 18:17] ejregithub opened #7676 "WNP 70 Design"
We need to apply design to the WNP 70. It is using the modular system and will feature content for existing products

[2019-09-06 18:18] ejregithub opened #7677 "WNP 70 code"
## Description

Code the WNP 70 page.
Epic - https://github.com/mozilla/bedrock/issues/7678

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is live in Production October 11

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a checklist!
- [ ] This is an example of a risk.

#### Tasks
- [ ] Code it

[2019-09-06 18:18] ejregithub opened #7678 "WNP 70"
## Description

The /whatsnew page to be shown at the 70 release to users updating their browser from <70.0

[Master Project Doc](https://docs.google.com/document/d/1Z73EAgTGSqzeE7xQxayqq114ThQMUGEeh389jFgWp8g/edit)

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Is live by Oct 10 to allow time for QA (external) testing
- [ ] Uses a/the modular design

#### :heavy_exclamation_mark:

[2019-09-06 19:55] jgmize commented on #7652
Please see https://github.com/mozmeao/infra/issues/1050 for some links and an example of how Cloudflare workers might help with this.

[2019-09-06 22:39] craigcook commented on #7592
Recording here that the design evolved further from the above after review with Clio. Current working version (as of this comment):

![Lifecycle 1 Copy 5](https://user-images.githubusercontent.com/205591/64464319-58937a80-d0bc-11e9-9ce2-11f0be89a79c.jpg)

[2019-09-09 09:03] alexgibson commented on #7652
Another requirement for this solution should be that it does not interfere with our functional test runs.

Either it should only execute on www.mozilla.org / www.allizom.org domains (where it already won't interfere), or alternatively we could build a mechanism whereby our test runs can opt-out on incurring redirects.

[2019-09-09 09:46] alexgibson opened #7682 "Non-English locales still show old footer content"
## Description

The main page footer on bedrock shows different content for English / non-English locales. They should be the same.

### Steps to reproduce

1. Visit https://www.mozilla.org/en-US/
2. Look at the footer content:

![image](https://user-images.githubusercontent.com/400117/64520667-86600580-d2ee-11e9-861e-04424aa56656.png)

3. Visit https://www.mozilla.org/de/
4. Look at the footer co

[2019-09-09 16:18] rtestard opened #7683 "Remove 24/7 from https://www.mozilla.org/en-US/firefox/enterprise/"
https://www.mozilla.org/en-US/firefox/enterprise/ refers to 24/7 support whereas support is M-F 8.30-5.30 PST time support
I suggest we replace "24/7 private help for customization, deployment and management of Firefox" with "Private help for customization, deployment and management of Firefox"

[2019-09-09 16:55] ejregithub commented on #7583
@sghoseWI - please review tasks here and consult w. @Errolyn who is coding this page.

[2019-09-09 18:55] ejregithub commented on #7683
Since we're stating something that isn't true, I'm flagging this as a P1. Fortunately, the change is trivial and we've not yet set content out for localization (pending the localized download bundles).

@Errolyn - could you please update copy as Romain suggests and submit the PR for review, tagging accordingly?

[2019-09-09 19:10] Errolyn commented on #7683
sure :)

[2019-09-09 20:14] sghoseWI commented on #7600
Downloads loss threshold estimate:

- So far in Q3 2019, we are seeing an average of 31,913 desktop downloads in en-us per day (across all segments).

- The standard deviation of the dataset is ~7,794 desktop downloads.

- Using an outlier detection methodology of 2.5 standard deviations below the mean (~19,486 downloads), we should terminate the experiment if average daily download completions dr

[2019-09-09 21:18] stephaniehobson opened #7684 "Update the banners at the top and bottom of the homepage"
## Description

Update the banners at the top and bottom of the homepage in all Teir 1 languages.

Assets will be attached to [this Trello card](https://trello.com/c/dK19hesi/538-web-work-coding-new-headers-on-mozorg-in-en-de-and-fr-3) in the NA Firefox Brand team's sprint board.

[Bug 1569237](https://bugzilla.mozilla.org/show_bug.cgi?id=1569237)

---

#### Tasks
- [x] Update all strings
- [x] Re

[2019-09-09 21:18] stephaniehobson commented on #7293
Closing in favour of #7684.

[2019-09-09 21:18] #7293 closed

[2019-09-09 21:32] stephaniehobson commented on #7293
Drat. Re-opening as this is the only banner we're not updating in #7684.

[2019-09-09 21:32] stephaniehobson commented on #7293
I will updated to the master brand logo though.

[2019-09-10 00:44] stephaniehobson commented on #7684
On [demo/6](https://bedrock-demo-6.oregon-b.moz.works/)

[2019-09-10 09:40] #7623 closed

[2019-09-10 11:17] alexgibson opened #7687 "Pull Firefox Private Network privacy notice and legal terms from legal-docs repo"
## Description

In https://github.com/mozilla/bedrock/pull/7686 we hard-coded the privacy notice and legal terms for Firefox Private Network due to confidentiality rules and a hard release time.

- https://www.mozilla.org/en-US/privacy/firefox-private-network/
- https://www.mozilla.org/en-US/about/legal/terms/firefox-private-network/

We should port these two pages to pull from the [legal-docs rep

[2019-09-10 11:17] alexgibson commented on #7687
/cc @ejregithub

[2019-09-10 12:06] #7658 closed

[2019-09-10 14:31] alexgibson opened #7688 "Define a process for facilitating CRO experiments"
## Description

As part of epic https://github.com/mozilla/bedrock/issues/7504, we're working on implementing a conversion rate optimization (CRO) tool for our main landing pages. Before we can start using that tool, we need to establish a clearly defined process by which expeirments are to be run. This probably needs to include things like:

- An intake and approval process for experiment ideas.

[2019-09-10 14:35] alexgibson commented on #7506
This will be covered in #7508

[2019-09-10 15:31] rraue commented on #7670
No seo value found besides incoming links, if we redirect to /firefox/ it will be good to delete.

[2019-09-10 16:07] Shivansh2407 commented on #7682
The site-footer.html Must extend the index.html file so as to continue changing according to the dynamic data otherwise it will feel like the data is hard-coded.

[2019-09-10 17:15] stephaniehobson opened #7690 "Character limit on homepage cards is clipping text in funny places"
## Description

This line of text was one character too long:

<img width="702" alt="Screen Shot 2019-09-10 at 10 14 13 AM" src="https://user-images.githubusercontent.com/854701/64635119-cdfc9500-d3b3-11e9-9dc1-2dbc20ca082f.png">

It's not like we were short on space.

[2019-09-10 17:15] stephaniehobson commented on #7690
I recommend we remove the character limit from the homepage cards. The content team has been pretty good about using this space sensibly.

[2019-09-10 17:26] alexgibson commented on #7690
Fwiw, this was originally a "feature" that the design team asked for, in order to keep line lengths for each card fairly uniform across the page. I have no strong feelings on changing this though.

[2019-09-10 17:38] stephaniehobson commented on #7690
I don't think it's doing the thing they want it to do right now. :/

<img width="1060" alt="Screen Shot 2019-09-10 at 10 37 53 AM" src="https://user-images.githubusercontent.com/854701/64636694-14072800-d3b7-11e9-8ed3-6a2f27bfceef.png">

[2019-09-10 17:41] peiying2 opened #7692 "[Legal doc] updates need to be pushed to production"
@pmac legal needs the following docs pushed to production today
- https://github.com/mozilla/legal-docs/tree/master/firefox_privacy_notice (en-US + 12 locales)
- https://github.com/mozilla/legal-docs/blob/master/firefox_cloud_services_ToS/en-US.md (en-US) only

If there are other updates that got picked up, please go ahead and push them.

[2019-09-10 17:53] alexgibson commented on #7692
Please see also https://github.com/mozilla/bedrock/issues/7687

[2019-09-10 18:05] alexgibson commented on #7690
It was more to impose a limit to avoid really long card titles. I agree it’s not really very useful though, seeing as content creators are already imposing soft-limits.

[2019-09-10 18:50] pmac commented on #7692
I can handle that. In future is it possible to get a bit more notice for these requests?

[2019-09-10 20:08] #7587 closed

[2019-09-10 20:12] hoosteeno opened #7694 "Publish remote preferences"
## Description

When the lifecycle page #1 is ready, we need to file a bug for a remote preferences change.

The bug should block this one: https://bugzilla.mozilla.org/show_bug.cgi?id=1574982

It should look kind of like this one: https://bugzilla.mozilla.org/show_bug.cgi?id=1570372

We can use this issue to talk about the criteria.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ]

[2019-09-10 20:15] hoosteeno commented on #7694
Here's a first pass at the remote rules we want for this message.

Targeting:

* In locales we have localized
* Firefox profile create date >= 4
* Firefox profile create date < 15
* CFR opt-out != true

Trigger:

* Browser Restart

URL:

{{ the lifecycle page url }}

[2019-09-10 22:35] stephaniehobson opened #7696 "Transform /firefox into a landing page for all Firefox products."
## Description

We're transforming /firefox into a landing page for all Firefox products.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] New design and copy are live at /firefox by Oct 22

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] L10N story is still a big ❓

#### Tasks
- [x] Re-name old template and assets to avoid confusion with new one
- [x] Add Menu Li

[2019-09-10 22:37] stephaniehobson commented on #7696
This is mostly a mirror of the Trello card [where I am tracking my work](https://trello.com/c/Cvkyn7Jt/593-firefox-dev).

[2019-09-10 23:44] ejregithub commented on #7590
Since we're not doing a staged rollout we don't need a closure card (there is no experiment). Closing.

[2019-09-10 23:44] #7590 closed

[2019-09-11 02:38] ejregithub opened #7698 "Lifecycle Page #2 - Pocket"
## Description

Launch the 2nd Lifestyle page with content promoting Pocket

Refer to the cards in  #7557 for more background

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an example of a success criteria.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a

[2019-09-11 02:57] ejregithub commented on #7594
https://bedrock-demo-craigcook.oregon-b.moz.works/en-US/firefox/welcome/stage1/ - first incarnation of page on demo server

[2019-09-11 11:39] rraue opened #7699 "Testing breadcrumps on /new"
## Description

Google displays for quite a while on mobile breadcrumps instead of urls in search results and now started this on desktop as well. Because of the uniqueness of the /new url the breadcrump looks right now a bit confusing for users:

<img width="577" alt="Screenshot 2019-09-11 at 13 26 51" src="https://user-images.githubusercontent.com/36700618/64693675-15f4e800-d498-11e9-82a4-33522c

[2019-09-11 12:25] #7690 closed

[2019-09-11 12:32] alexgibson opened #7700 "Update websites privacy notice"
## Description

Our [websites privacy notice](https://www.mozilla.org/en-US/privacy/websites/) needs updating to reflect the Convert CRO tool being implemented in #7508.

The current privacy policy still talks about Optimizely, which is a tool we no longer use. We should update it to reference [Convert](https://www.convert.com/), and also detail the [opt-out mechanism](https://www.convert.com/opt-

[2019-09-11 12:32] alexgibson commented on #7700
/cc @hoosteeno - can you help/advise with the above? ^

[2019-09-11 12:35] alexgibson commented on #7508
Blocked by https://github.com/mozilla/bedrock/issues/7700

[2019-09-11 13:39] alexgibson commented on #7508
@hoosteeno I've implemented convert in the PR referenced above, and pushed it to demo here:

https://www-demo3.allizom.org/en-US/exp/firefox/new/

In the convert dashboard I've set up a simple A/B test (in the staging project) that changes the headline. It seems to be working ok and tracking as expected. Please take a look.

Things to note:

- I've implemented loading their script dynamically (asy

[2019-09-11 13:43] #7653 closed

[2019-09-11 14:44] alexgibson commented on #7700
Also: we may want to consider building an opt-out URL on www.mozilla.org for this, as the opt-out link on https://www.convert.com/opt-out/ only applies to their own domain.

Building a page on bedrock for this should be relatively straight forward.

[2019-09-11 15:59] stephaniehobson commented on #7700
Do/can we honour DNT with convert?

[2019-09-11 16:29] alexgibson commented on #7700
Convert already honors DNT, and is fully GDPR compliant.

[2019-09-11 16:48] Shivansh2407 commented on #6484
This is a Issue in the image file /media/img/firefox/mobile/icon-sprite.e7269a8abcf8.svg mentioned in the code.The image file contains the blue arrow.
Change the image file to fix the issue.

[2019-09-11 17:54] pmac opened #7703 "Update legal-docs to bring in typo fixes"
Specifically bring in changes from https://github.com/mozilla/legal-docs/pull/1310

[2019-09-11 17:54] pmac commented on #7703
cc @mafeld

[2019-09-11 18:06] #7703 closed

[2019-09-11 18:40] stephaniehobson commented on #7700
I guess I'm wondering if we can avoid loading convert at all for people with DNT. Or if we don't think it's necessary because they honour DNT?

[2019-09-11 19:15] hoosteeno commented on #7586
@wboucherfischer would you be up for reviewing this? https://docs.google.com/document/d/1JpHLrpQjUbs2K5lb_7jdUN2n3Fn-aFwX1UfWhbBHMAQ/edit#heading=h.g1ycqgsaf2tp

[2019-09-11 19:31] pmac opened #7705 "Create automation for checking and processing FTL files"
This automation will do a number of things:

- [x] pull changes in from the l10n team's fluent file repository
- [x] check those changed files for errors
- [x] copy the files without errors to [mozmeao/www-l10n](https://github.com/mozmeao/www-l10n/) repo
- [x] check the changed files that aren't yet active to decide if they should be activated
- [x] write the activitation state of each file to a J

[2019-09-11 19:47] ejregithub opened #7706 "COPY - (firefox/privacy/products) Protection Report Landing Page"
## Description

The copy is being written by the Brand Team but we need to shepherd the process and convert the copy (for DE and FR) in an acceptable localization template.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Copy is stakeholder approved ([check for this in the copy doc](https://docs.google.com/document/d/1khFCkPtMVI5Miy-Fxefka0ylZA1YoQLSvMQRG4aA1Fw/edit#))

#### Tasks

[2019-09-11 19:47] ejregithub opened #7707 "UI/Design - (firefox/privacy/products) Protection Report Landing Page"
## Description

Description, good enough that reading the card 1 month from now, you still know what it means.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an example of a success criteria.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a checklist!
- [

[2019-09-11 19:48] ejregithub opened #7708 "Wireframe/specify components for - Protection Report Landing Page"
## Description

Description, good enough that reading the card 1 month from now, you still know what it means.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an example of a success criteria.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a checklist!
- [

[2019-09-11 19:49] ejregithub opened #7709 "Code - (firefox/privacy/products) Protection Report Landing Page"
## Description

@stephaniehobson will code a new Privacy Hub page at e.g. /firefox/privacy, and the protection report landing page will be the 2nd page in the Hub.

This card is about building the Protection Report landing page; work with @stephaniehobson on that.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Protection report page is integrated into new privacy hub
- [ ] It is l

[2019-09-11 19:54] alexgibson commented on #7700
We’re doing that also 👍

[2019-09-11 19:55] ejregithub opened #7710 "(privacy/products) Protection Report Landing page instrumentation plan"
## Description

Create an instrumentation & measurement plan for the Protection Report Landing page. It can probably just use the generic CTA datalayer elements for event tracking.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Can measure sessions/conversions on the page

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a checkl

[2019-09-11 20:01] ejregithub commented on #7708
![image](https://user-images.githubusercontent.com/20547886/64730464-4175d380-d494-11e9-849c-a0a1ca480ce7.png)

[2019-09-11 20:24] hoosteeno commented on #7700
https://github.com/mozilla/legal-docs/pull/1311

[2019-09-11 21:17] stephaniehobson opened #7711 "Firefox header and footer"
## Description

Add a Firefox specific navigation and footer.

<img width="759" alt="Screen Shot 2019-09-11 at 2 17 39 PM" src="https://user-images.githubusercontent.com/854701/64736202-f8774c80-d49e-11e9-8d3c-de3e6dcebc1e.png">

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Pages in /firefox have a Firefox specific header (Tier 1 locales)
- [ ] Pages in /firefox have a Firefox sp

[2019-09-11 21:18] stephaniehobson commented on #7711
Copy doc: https://docs.google.com/document/d/1E4SaL1quIoO-E2Z9Lb6nLX4JqSPsT26nIGi8CELi9Qs/edit#heading=h.vvqh5av6uul

[2019-09-11 21:20] stephaniehobson commented on #7711
Rough timeline:
- Sept 10th: English copy & all image assets delivered
- Sept 13th: demo ready for approvals
- Sept 16th: sign off
- Sept 17th: string extraction & code review

[2019-09-11 23:13] hoosteeno opened #7714 "Build Convert opt-out page in sandbox"
## Description

Build an opt-out page for Convert.com opt outs, which will come in with the URL

https://www.mozilla.org/exp/opt-out/?convert_optout=1

If this page loads Convert, then the parameter at the end will opt the user out.

The opt-out may pop open a Javascript confirmation. If it does not, we should build some confirmation into the page.

See also: https://github.com/mozilla/bedrock/iss

[2019-09-12 05:19] Patil2099 commented on #7673
@alexgibson Can I work on this issue?

[2019-09-12 05:20] Patil2099 commented on #7682
@alexgibson  Can I work on this issue?

[2019-09-12 05:23] Patil2099 commented on #7670
@hoosteeno Can I work on this issue?

[2019-09-12 07:59] alexgibson commented on #7714
i can take care of this as part of #7508

[2019-09-12 13:52] #5849 closed, assigned to rraue

[2019-09-12 21:13] ejregithub opened #7716 "Build Jinja support for Fluent syntax"
We need our Jinja templates to be able to parse Fluent syntax

[2019-09-12 21:14] ejregithub opened #7717 "Build an l10n team repository"
Build l10n team's fluent repository for Bedrock (waiting on some ftl files)

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Vendor and pontoon changes have a repository to write to
- [ ] Bedrock's automation is connected to that repository

[2019-09-12 21:17] ejregithub opened #7718 "Identify a list of widgets that live in separate fluent files from template content."
We need to call out the widgets on our existing website that deserve their own fluent files on day 1.

[2019-09-12 21:21] hoosteeno opened #7719 "Initial Fluent integration into bedrock"
## Success criteria

- [x] both fluent and lang files can coexist in a single template (think navigation + body migrated at different times
- [x] fluent syntax is parsed by jinja2
- [x] install/configure python fluent library
- [x] find a build/deploy environment for fluent dev
- [x] figure out where local fluent files live in bedrock
- [ ] done by sept. 23

[2019-09-12 21:22] ejregithub opened #7720 "Developer can deactivate an entire locale."

[2019-09-12 21:24] #7716 closed, assigned to nobody

[2019-09-12 21:25] ejregithub opened #7721 "Allow a developer to implement a feature toggle in a template based on the locale status of strings. Developer may wish to add a new feature to a page without affecting page's activation status."

[2019-09-12 21:28] ejregithub opened #7722 "Allow a developer to override the sitewide default activation %."

[2019-09-12 21:29] hoosteeno opened #7723 "Automate l10n activities"
## Success Criteria

### from bedrock

- [x] Lint fluent files for validity post-commit on Bedrock: fluent is valid, and fluent files included in templates actually exist (if not, CI fails)
- [x] Copy new fluent files in bedrock over to l10n team's fluent repositories in a branch
- [x] Config files -- which are authoritative in Bedrock's l10n repo -- are copied to l10n team's repository at this ti

[2019-09-12 21:36] hoosteeno opened #7724 "Establish site default activation criteria"
Write code or build configuration structures to activate a URL in a locale based on our initial set of defaults (80% strings + all required strings).

### Success Criteria

- [ ] In production, content meeting the minimum threshold will be activated automatically
- [ ] In production, content *not* meeting the minimum threshold will *not* be activated
- [ ] Staging acts like production
- [ ] In dev

[2019-09-12 21:38] ejregithub opened #7725 "Update Bedrock's l10n documentation"
### Success criteria

- [ ] A developer on Bedrock knows how to work on localization in local environments
- [ ] A developer on Bedrock knows how to localize content
- [ ] A developer on Bedrock knows how to migrate from .lang to .ftl

[2019-09-12 21:39] hoosteeno opened #7726 "Developer Workflow"
## Success Criteria

- [x] Developer can write rules on a view that decide what template to show for a particular request (e.g. new localized or old localized depending on whether a fluent file or some fluent IDs are present)
- [x] Developer can deactivate a particular page in a locale
- [x] Developer can wrap a section of HTML in a template in a conditional that will check for the presence of cer

[2019-09-12 21:44] #7721 closed, assigned to nobody

[2019-09-12 21:44] #7720 closed, assigned to nobody

[2019-09-12 21:45] #7722 closed, assigned to nobody

[2019-09-13 08:18] #7481 closed

[2019-09-13 08:23] alexgibson commented on #7718
I took a look through our existing macros and these seem like the most common widgets/includes of high importance:

- Navigation.
- Footer.
- Firefox Accounts email form.
- Newsletter.
- Send to Device widget.

[2019-09-13 08:34] alexgibson commented on #7718
In the current system we also have [`main.lang`](
https://github.com/mozilla-l10n/www.mozilla.org/blob/master/en-US/main.lang) for miscellaneous strings. I think we should try and avoid a large, monolith file like this in the new system. However I could see a case where we need system wide strings that don't fit into the notion of a widget. For example:

- Common UI strings such as "Open", "Close"

[2019-09-13 08:40] alexgibson commented on #7718
Another thing to consider is a list of languages and their translations, such as what we see in the site footer:

<img width="184" alt="Screenshot 2019-09-13 at 09 37 36" src="https://user-images.githubusercontent.com/400117/64849020-63916200-d60a-11e9-9359-16002bad65ba.png">

I don't believe these strings come from a .lang file however (but I could be wrong). They seem to be part of the translati

[2019-09-13 08:47] alexgibson commented on #7714
Thank you, updated

[2019-09-13 08:54] #7622 closed

[2019-09-13 08:58] alexgibson commented on #7637
Adding this to the current sprint.

[2019-09-13 10:45] scheinercc commented on #6484
@Shivansh2407 that could be correct. It needs someone to make and push the change and also know about the implications about where the blue arrow might be used as well, to adjust any background positioning etc. accordingly.
Alternatively it might be better to change
[code]
to

[code]
but again, this might change other elements as well and maybe breaks something.

Go ahead and give it a crack ;)

[2019-09-13 12:19] Shivansh2407 commented on #6484
Please assign this issue to me and also let me know which file has this issue because I have been browsing various files and did not find this li.feature-block....Thanks in advance

[2019-09-13 16:32] ejregithub opened #7731 "Identify first target page for conversion"
Description:  Identify first target page for conversion to be 100% on Fluent

***Success Criteria***
- [ ] By the end of Sept we should have 100% localized a page that meets the selection criteria below

***Selection Criteria***
- [ ] Exercises a few of our developer use cases
- [ ] Has expected continue longevity (won’t be deprecated soon)
- [ ] Is translated in > 1 language
- [ ] A page with a g

[2019-09-13 16:41] wboucherfischer commented on #7586
@hoosteeno  I have reviewed and thought we should put something in about what people thought about the page.

[2019-09-13 16:43] hoosteeno commented on #7586
@wboucherfischer something additional to "3. How did you feel when you saw that page?" How would you express it? Feel free to comment in doc.

[2019-09-13 16:59] alexgibson commented on #7731
A few possible candidates (I tried to pick Protocol based pages with semi-recent branding).

Updated infrequently, have high community appeal, and have at least one global element:

- https://www.mozilla.org/en-US/about/manifesto/
- https://www.mozilla.org/en-US/about/

More product focused, are not (afaik) being redesigned for Skyline, and have at least one global element:

- https://www.mozilla.

[2019-09-13 17:08] alexgibson commented on #7731
@pmac @hoosteeno feel free to add any thoughts / opinions / suggestions to this list of candidates ^

[2019-09-13 17:35] alexgibson commented on #7731
If we're looking at Firefox pages, I'd be tempted to suggest /firstrun:

https://www.mozilla.org/en-US/firefox/firstrun/

The page has the global footer, has a widget (FxA email form), and has some existing L10n conditional tags in the template. It's also widely translated.

I'm not sure if that's perhaps too complicated for what we'll be able to accomplish for the end of September, but technicall

[2019-09-13 18:29] ejregithub commented on #7630
@alexgibson - Tyler gave the Legal thumbs up, in email.  We're good for code review.

[2019-09-13 18:36] ejregithub commented on #7591
@hoosteeno - could you please review this page? - https://support.mozilla.org/en-US/kb/firefox-browser-welcome-content/edit#preview

[2019-09-13 19:34] pmac commented on #7731
https://www.mozilla.org/en-US/mission/ came up in our meeting and it seems like a good candidate

[2019-09-13 19:42] hoosteeno commented on #7731
/mission also has a widget, a global footer, [some locale conditionals](https://github.com/mozilla/bedrock/blob/5d74216f302d50e63acdd80bc9a81b35b14bdb7e/bedrock/mozorg/templates/mozorg/mission.html#L69), and is localized into 90 locales. Also, it's not part of a funnel.

+1 for /mission

[2019-09-13 19:51] hoosteeno commented on #7591
Done, I'm good with this being published.

[2019-09-13 19:52] alexgibson commented on #7731
I gave /mission some thought after our meeting, but I think something like /about/ or /manifesto/ are more recent (both are protocol). That said, I think /mission could still be a good candidate. It's farily short & simple.

[2019-09-13 20:05] pmac commented on #7718
Fluent has some [built in ways of handling localized datetime](https://projectfluent.org/fluent/guide/functions.html#datetime) data.

[2019-09-13 20:07] pmac commented on #7718
The [translated language names](https://product-details.mozilla.org/1.0/languages.json) come from product-details.

[2019-09-13 20:08] pmac commented on #7718
They are part of the system in that that list is populated based on the active locales for that specific page, but it's also not because those strings are not in the system that is translated by our l10n team.

[2019-09-13 21:00] #7348 closed

[2019-09-14 02:30] pmac commented on #7726
The things checked off above are being done in #7679 but are not yet in master. I'm using the check list to mark progress.

[2019-09-14 11:56] scheinercc commented on #6484
Hey @Shivansh2407, I am not part of the project, but I don't think you need to be assigned. You just fork the project, make a change and submit a pull request where you set a link to this issue within the commit message (you should be able to find out how to do that by search for "Github link issue in commit message" or something).
I quickly had a look at the files and found this:
https://github.c

[2019-09-14 15:53] Shivansh2407 commented on #6484
I have created a pull request regarding the issue . Please review it and let me know .

[2019-09-14 15:59] sarathsomana commented on #7497
@Errolyn https://protocol.mozilla.org/patterns/molecules/emphasis-box.html is leading to 404. I see that the emphasis box implementation was merged in #441. Is there an issue to track the documentation for the same ?

[2019-09-14 20:23] Errolyn commented on #7497
@sarathsomana It will be in our next release of protocol. I'll talk to the team to find out when that is going to happen.

[2019-09-16 08:19] alexgibson commented on #7718
## Final list

### Global elements
- Navigation
- Footer
- Download Button
- Misc

### Page-specific elements
- Firefox Accounts email form.
- Newsletter.
- Send to Device widget.

[2019-09-16 08:23] alexgibson commented on #7731
Chosen page is https://www.mozilla.org/en-US/mission/

[2019-09-16 08:23] #7731 closed

[2019-09-16 08:24] #7718 closed

[2019-09-16 08:31] alexgibson commented on #7637
@hoosteeno this is up on demo: https://www-demo2.allizom.org/en-US/firefox/70.0/whatsnew/

One thing we need to bikeshed is the redirect URL naming convention. At present I've set the default (non-geo specific) redirect to be `/firefox/%VERSION%/whatsnew/all/`, but it clould be anything we choose.

When we do a country-specific redirect, we could then set it to `/firefox/%VERSION%/whatsnew/%COUNTR

[2019-09-16 08:41] alexgibson commented on #7478
9/14 was a Saturday, so we're a little late in taking this down.

Rather than keeping in the cycle of removing this from the code-base and then re-coding it all over again next time, I think it's probably better just to toggle it off via a switch.

[2019-09-16 08:45] alexgibson commented on #7478
Disabled in https://github.com/mozmeao/www-config/compare/c43ca05d0e9c...2bc340cc82ed

[2019-09-16 08:45] #7478 closed

[2019-09-16 08:56] #7700 closed

[2019-09-16 08:58] alexgibson commented on #7700
The privacy notice source has been updated. I'm pulling that into bedrock as part of https://github.com/mozilla/bedrock/pull/7702

[2019-09-16 12:03] sarathsomana commented on #7497
@Errolyn Sure, Thanks. I'm planning to work on this once I get an update.

[2019-09-16 12:45] #6484 closed

[2019-09-16 14:24] pmac commented on #7718
So you would like a separate .ftl file for each of these elements, with the global ones being loaded by default for every page, right?

[2019-09-16 14:25] pmac commented on #7731
Thanks Alex 👍

[2019-09-16 14:29] Shivansh2407 commented on #5816
Can you please help and list out the file which we need to change in order to redirect from  https://www.mozilla.org/about/logo/ to  https://www.mozilla.org/styleguide/

[2019-09-16 14:44] alexgibson commented on #7718
I believe that should cover our most frequent use cases, yes.

[2019-09-16 17:03] alexgibson opened #7734 "Update bedrock to @mozilla-protocol/core v8.1.0"
## Description

Protocol 8.1.0 is out: https://www.npmjs.com/package/@mozilla-protocol/core

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Bedrock is updated in production to use the latest Protocol version.

#### Tasks
- [x] Update NPM dependency.
- [x] Update pages / templates where needed.

[2019-09-16 17:08] alexgibson commented on #7734
A few things to note:

- We now have the [emphasis box](https://protocol.mozilla.org/patterns/molecules/emphasis-box.html).
- We have a new [narrow content theme modifier](https://protocol.mozilla.org/patterns/templates/content-layout.html) (I don't think we've used this anywhere yet, but there are many pages with custom narrow styles that could do with standardizing):

Other changes here: https:/

[2019-09-16 23:56] #7734 closed

[2019-09-17 12:38] Shivansh2407 commented on #7344
Can you explain more about this issue as I would like to fix this issue.

[2019-09-17 14:23] alexgibson commented on #6461
@LucyeoH is the contribute/events page here serving any purpose today to your team?

https://www.mozilla.org/en-US/contribute/events/

We no longer link to this page in the main navigation for www.mozilla.org, and instead link to https://events.mozilla.org/. Unless there's a good reason to keep it around, I'd like to propose we decommission this contribute/events/ page, and redirect the URL to eve

[2019-09-17 15:47] hoosteeno commented on #7637
This solution seems totally adequate for the need at hand -- thank you!

If we hear a need for more of these server-side headless redirectors for geographic-specific content -- especially on search-indexed pages -- we need to put some time into designing the URL structure optimally so search engines don't mistake the geography node as a topic.

[2019-09-17 17:09] pmac commented on #7726
I've added some management commands for converting .lang files and templates to the new system more quickly. In #7679 I used them to convert the /mission page. I did the following:

[code]

And then I updated `mozorg/urls.py` to point to the new template (I've kept the old one for now) and refer to the new mission.ftl file. It works pretty well. It won't get everything but it should give developer

[2019-09-17 17:15] #7520 closed

[2019-09-17 17:29] LucyeoH commented on #6461
Hey,

I don't mind what you do in the short-term, I think we'll need to revisit this conversation when the [Community Portal ](https://wiki.mozilla.org/Innovation/Projects/Community_Portal)launches in 2020.

The current events page is pulling from the Reps Portal (https://reps.mozilla.org/) which is still active (but will ultimately be merged into the Community Portal in early 2020).

Events.mozil

[2019-09-17 18:24] alexgibson commented on #6461
@LucyeoH thanks for the context. Currently the contribute/events page is one of the most outdated pages on the website in terms of branding (it uses an old legacy framework called sandstone). By the end of this year, we’re aiming to either remove or update these pages to a more modern system. That means either retiring this page, or investing in time and resources to update it (not in terms of con

[2019-09-17 18:36] amychurchwell commented on #7344
@Shivansh2407 Hello, thank you for the interest! We would like to add the string extraction guidelines in [this document](https://docs.google.com/document/d/e/2PACX-1vRKrVSuY7WSj_xvEDaU7T8Tu4bwAIPPOh8caPdLP0pmJh332ki81W8f-ficYmNApbuZ5IRG1eAaRqq-/pub) to [bedrock's localization documentation](https://bedrock.readthedocs.io/en/latest/l10n.html).

The documentation files live in `.rst` files in this

[2019-09-17 20:16] hoosteeno commented on #7677
Like the protection report page, this page will have 3 states to determine the CTA:

For Firefox 70+: See what Firefox has blocked for you (uses [a new uiTour function](https://bugzilla.mozilla.org/show_bug.cgi?id=1577031) to open a newtab)
For Firefox <70: [Update your Firefox browser](https://support.mozilla.org/kb/update-firefox-latest-release)
For non-Fx: [Download the Firefox browser](https:/

[2019-09-17 22:00] hoosteeno commented on #7570
@Errolyn can you update on status of the code here?

[2019-09-17 22:03] ejregithub opened #7742 "WNP 70 Instrumentation Plan - Analytics"
***Tasks***
- [ ] Create instrumentation plan
- [ ] Work with dev for including instrumentation, tags in the coded page, in #7677

[2019-09-17 22:05] ejregithub opened #7743 "WNP 69 analysis"
## Description

Produce a lightweight analysis of the /whatsnew 69 page.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Differences in session-to-login and session-to-registration between 69 and 68 (or previous mean) are clear (within constraints imposed by data quality)
- [ ] Differences in 7-day retention is clear

[2019-09-17 22:06] ejregithub opened #7744 "Lifecycle #1 page analysis"
## Description

The Lifecycle page #1 will require performance analysis post-launch

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Session-to-register and session-to-login is clear
- [ ] 7-day retention is clear
- [ ] Comparison with recent WNP

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a checklist!
- [ ] This is an exampl

[2019-09-17 22:08] ejregithub opened #7745 "Design task completion survey widget"
## Description

We should build a widget that can be enabled on any page of the website to measure task completion/satisfaction on that page. This issue is about researching, specifying and designing that widget.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] The widget should follow best practices in task completion/site satisfaction surveys.
- [ ] The widget should be integrated

[2019-09-18 02:15] #7556 closed

[2019-09-18 02:54] ejregithub commented on #7708
@dzingeek @mrkwvr - Is this done with Mark ready to move on (possibly already moved on) to UI/Design - (privacy/products) Protection Report Landing Page #7707

[2019-09-18 03:36] Shivansh2407 commented on #7344
I have added the content of the document from[this document](https://docs.google.com/document/d/e/2PACX-1vRKrVSuY7WSj_xvEDaU7T8Tu4bwAIPPOh8caPdLP0pmJh332ki81W8f-ficYmNApbuZ5IRG1eAaRqq-/pub) to https://github.com/mozilla/bedrock/blob/master/docs/l10n.rst
Please review the pull  request

[2019-09-18 03:41] Shivansh2407 commented on #7743
What is this issue about?

[2019-09-18 03:44] Shivansh2407 commented on #7666
Can I help you in fixing this issue?

[2019-09-18 04:02] ejregithub commented on #7743
@Shivansh2407 - apologies for not providing greater detailing when filing this. This is task for out internal data scientist to compare the performance of the 69 and 68 /whatsnew pages (shown to users when they update there Firefox browser corresponding to those releases)

[2019-09-18 04:11] Shivansh2407 commented on #7743
Ok Thanks .

[2019-09-18 05:56] #7684 closed

[2019-09-18 06:07] #7630 closed

[2019-09-18 08:08] #7559 closed

[2019-09-18 08:46] #7637 closed

[2019-09-18 11:58] pmac commented on #7726
And now... this

[code]

Which takes the ftl file from the first command and converts all of the existing translated .lang files into .ftl files ready for commit and push to the [www-l10n repo](https://github.com/mozmeao/www-l10n).

[2019-09-18 12:48] #7670 closed

[2019-09-18 14:39] alexgibson commented on #7726
I tried out this process porting the [about page](https://www.mozilla.org/en-US/about/) and here was my experience. You can [see my branch here](https://github.com/alexgibson/bedrock/commit/78844e6c6fec7d53cb376ea1a80c3fe28fa18ca2) for context.

Overall, things worked great - I was able to port the page very quickly locally 💯

#### Convert en-US .lang file to .ftl

[code]

Worked without issues 👍

[2019-09-18 14:42] pmac commented on #7726
ah yes! my replacement thing looks for the opening `{{ _(`. I'll add this case.

That should work. I may need to add some directories to the ones mapped from local in docker.

[2019-09-18 15:09] amychurchwell opened #7747 "Fix eslint 'no-useless-escape' errors."
## Description

When running `make run` to start bedrock you may notice some errors in your console such as:
[code]

The [no-useless-escape](https://eslint.org/docs/rules/no-useless-escape) rule lints for unnecessary characters in regular expressions, .etc. The above error is saying: on line 99 in `/app/media/js/base/mozilla-client.js` there is an extra `\` character.

We should go through and mak

[2019-09-18 15:23] alexgibson commented on #7726
I set `L10N_CACHE_TIMEOUT=10` in my local `.env` and the docker cahcing issues seem to go away 👍

[2019-09-18 15:50] LucyeoH commented on #6461
@alexgibson I do not thing this page is needed right now.

[2019-09-18 15:55] alexgibson commented on #6461
@LucyeoH do we know when the community portal is due to launch? My aim is to have these legacy pages either retired or updated by the end of 2019.

[2019-09-18 15:58] hoosteeno opened #7748 "Code Lifecycle #2"
## Description

Code the lifecycle page #2 (see [epic](https://github.com/mozilla/bedrock/issues/7698) for related cards).

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Lifecycle page is coded and pushed to production
- [x] It includes the features in the UI design
- [ ] It includes the instrumentation in the instrumentation plan

[2019-09-18 15:58] amychurchwell opened #7749 "GTM script is being blocked in Chrome"
## Description

Receiving consistent CSP errors for `https://www.googletagmanager.com/gtm.js?id=GTM-MW3R8V&l=dataLayer` in Google Chrome.

![Screen Shot 2019-09-18 at 8 46 28 AM](https://user-images.githubusercontent.com/30483988/65164236-5d77f880-d9f1-11e9-82d2-0ee61d96704a.png)

### Steps to reproduce
- Navigate to https://www.mozilla.org/en-US/firefox/new/
- Open developer tools, open network t

[2019-09-18 15:59] amychurchwell commented on #7749
Sentry is not complaining about a CSP violation and @alexgibson and @craigcook can't reproduce this issue.

[2019-09-18 16:00] hoosteeno opened #7750 "UI Design Lifecycle #2"
## Description

Build a minimal UI design for Lifecycle page #2 (see [epic](https://github.com/mozilla/bedrock/issues/7698) for related cards).

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] The page is minimally designed to include critical features
- [ ] Designs include copy provided by copywriters
- [ ] Designs are reviewed by functional teams
- [ ] Designs are reviewed by RASC

[2019-09-18 16:11] #7749 closed

[2019-09-18 16:11] amychurchwell commented on #7749
issue was a privacy chrome extension, closing issue.

[2019-09-18 16:12] craigcook commented on #7594
@sghoseWI The page is on demo at https://bedrock-demo-craigcook.oregon-b.moz.works/firefox/welcome/1/ and the pull request is #7737 for analytics review.

[2019-09-18 16:18] hoosteeno opened #7751 "Analytics plan Lifecycle #2"
## Description

Build an analytics and instrumentation plan for Lifecycle page #2 (see [epic](https://github.com/mozilla/bedrock/issues/7698) for related cards).

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] The core instrumentation plan is included in a comment on this issue
- [ ] Any detailed background is linked from this issue to a doc

[2019-09-18 16:33] sghoseWI commented on #7593
Lifecycle Page 1

Tags
On  Monitor button:
data-cta-type=“Lifecycle-Monitor”
data-cta-text=“Check Your Breach Report”
data-cta-position="Primary"

On offsite links (Monitor Security Tips, Evite data breach “party”, Why am I seeing this?):
utm_source=Lifecycle-resources
utm_campaign=LifecycleP1
utm_medium=referral

[2019-09-18 16:34] cgonz0 commented on #7676
![WNP-70_design.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/76b7d2df-2bb8-4fa2-94be-76efc61a00c4)

[2019-09-18 17:00] ejregithub commented on #7676
@cgonz0 - looks good! Is this 'final'?  If so, do you have a sketch file you can provide to @amychurchwell ?

[2019-09-18 17:02] Shivansh2407 commented on #7747
I have removed the no-useless-escape rule lints for unnecessary characters in regular expressions, .etc.
Please review it and let me know soon.

[2019-09-18 17:05] cgonz0 commented on #7676
@ejregithub yes and yes - synced with amy yesterday and everything has been handed off.

[2019-09-18 17:34] LucyeoH commented on #6461
The portal is due to launch end of 2019. I will have a more exact date by
end of quarter.

On Wed, Sep 18, 2019 at 11:55 AM Alex Gibson <notifications@github.com>
wrote:

[2019-09-18 17:35] alexgibson commented on #6461
Great, thank you!

[2019-09-18 19:18] hoosteeno opened #7753 "Update UITour library for showProtectionReport"
## Description

Firefox desktop browser 70+ will include a protection report at about:protections. That protection report can be opened by web content via UITour ([bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1577031)). We intend to do that from a CTA on WNP70 and on the new privacy hub. We need to update our [UITour library](https://github.com/mozilla/bedrock/blob/master/media/js/base/uitour

[2019-09-18 20:22] pmac commented on #7726
I've tweaked a bunch of things about template and lang file conversion. Please give it another shot when you can. The about page is still a good test, but I also tried it with `./manage.py template_to_ftl mozorg/about/governance/policies/participation bedrock/mozorg/templates/mozorg/about/governance/policies/participation.html` and had a good bit of success with trans blocks as well.

One issue is

[2019-09-18 23:48] ejregithub commented on #7676
Noting the decision to maintain the copy and link to Release Notes in 70 as they were in 69, not 68 (as in the original mock-up above)

[2019-09-18 23:49] hoosteeno commented on #7714
See also https://github.com/mozilla/bedrock/pull/7702

[2019-09-18 23:59] ejregithub commented on #7592
Noting here, after discussing in Slack and email, based on comments from Anika that we will:

- In the "Stay ahead of hackers" section we're now linking to https://blog.mozilla.org/firefox/what-to-do-after-a-data-breach/
as that's basically the same content as in /tips AND it has been localized to DE and FR.

- We're simply hiding the "Stay in the know" section for other locales.

[2019-09-18 23:59] #7592 closed

[2019-09-19 07:15] alexgibson commented on #7747
Once this is fixed let’s be sure to remove the rule for it: https://github.com/mozilla/bedrock/blob/master/.eslintrc.js#L8

[2019-09-19 09:42] #6882 closed

[2019-09-19 10:09] #7508 closed

[2019-09-19 10:11] alexgibson commented on #7506
Fixed in https://github.com/mozilla/bedrock/pull/7702

[2019-09-19 10:11] #7506 closed

[2019-09-19 10:11] alexgibson commented on #7714
Fixed in https://github.com/mozilla/bedrock/pull/7702

[2019-09-19 10:11] #7714 closed

[2019-09-19 12:13] alexgibson commented on #7726
@pmac the participation page above doesn't have a .lang file associated with it, since the page is en-US only, so when I run the template conversion command I just get a stream of `NO MATCH` warnings. Nothint was actually converted in the template.

What's the best way to go about creating a new .ftl file from scratch, is it just a manual process?

[2019-09-19 12:29] alexgibson commented on #7726
I tried this on the [history page](https://www.mozilla.org/en-US/about/history/) which is mostly `{% trans %}` blocks and things worked pretty well:

[code]

[code]

It got caught out by one string:

[code]

Extracting locale string also worked well:

[code]

[2019-09-19 12:31] alexgibson commented on #7726
I'll give this some thought, but I think a warning in the console should be enough to catch this in most cases.

[2019-09-19 12:38] pmac commented on #7726
The `locale/en-US/mozorg/about/governance/policies/participation.lang` file exists in my locale directory, and I see it in the repo:

https://github.com/mozilla-l10n/bedrock-l10n/blob/master/en-US/mozorg/about/governance/policies/participation.lang

[2019-09-19 12:39] alexgibson commented on #7726
Oh huh, I looked but didn't find it. I'll check again thanks

[2019-09-19 12:41] pmac commented on #7726
but it's no big deal. participation was just one I chose because it had a lot of both `_()` and `lang` blocks. It also has lang blocks with a lot of arguments, so it was a good test for that. I'll also try the history page and investigate that one string. Thanks again for trying all of this!

[2019-09-19 12:44] alexgibson commented on #7726
So I ran `./manage.py lang_to_ftl mozorg/about/governance/policies/participation.lang` and have a couple of thoughts:

I saw three console warnings reading `WARNING: Place-holder with no variable name found in string. Convert "%s" to a Fluent variable in the new file.`

This is red/bold and hard to miss, which is nice. But delving into the lang file to find those isn't so easy. Think we could add

[2019-09-19 12:46] pmac commented on #7726
They almost certainly are. Are tag comments always formatted that way? i.e. `TAG: tag_name`?

[2019-09-19 12:47] pmac commented on #7726
The issue with that string it didn't match from history is that the string on the page uses a `%` which in the extracted string is `%%`. I should be able to fix that.

[2019-09-19 12:48] alexgibson commented on #7726
It looks like tag names are either using underscores or dashes, but they consistently start with `# TAG:`

https://github.com/mozilla-l10n/www.mozilla.org/search?q=%23+TAG&unscoped_q=%23+TAG

[2019-09-19 13:25] pmac commented on #7726
Okay. Just pushed:

* tag comment ignore
* fix for unmatched string due to `%%`
* Fixing `%%` in strings in ftl files
* Replace `%s` in strings with `{ $VARIABLE_MISSING }` for easy search/replace

[2019-09-19 14:28] pmac commented on #7726
I moved the two "may move" items to more appropriate (IMO) cards. So this one is nearly there. I just want to document all of these things and then the PR should be ready to merge.

[2019-09-19 15:22] amychurchwell commented on #7747
@alexgibson shouldn't we keep the rule for future regex?

[2019-09-19 15:25] Shivansh2407 commented on #5766
Can you please explain more on this issue ?

[2019-09-19 15:33] alexgibson commented on #7747
The rule is in there as an exception, so it triggers a warning instead of an error. If we remove the rule after this work is done, then it will fall back to the default.

[2019-09-19 15:37] alexgibson commented on #5766
The description in the bug linked above explains what needs doing: https://bugzilla.mozilla.org/show_bug.cgi?id=1465541#c0

[2019-09-19 15:45] pmac commented on #7652
FYI for anyone without access to the above doc, "CRO" stands for "Conversion Rate Optimization".

The more you know 🌈

[2019-09-19 15:51] alexgibson commented on #7652
Anyone at Mozilla has access to this doc ^

[2019-09-19 15:52] #7676 closed

[2019-09-19 15:52] #7674 closed

[2019-09-19 15:52] #7591 closed

[2019-09-19 15:53] #7708 closed

[2019-09-19 17:06] #7593 closed

[2019-09-19 17:24] pmac commented on #7725
I've gotten a start on this in #7679.

[2019-09-19 19:14] #7594 closed

[2019-09-19 19:15] mrkwvr commented on #7582
design is complete and files have been delivered to @Errolyn. file was too large to post here

[2019-09-19 20:00] #7582 closed

[2019-09-19 20:03] amychurchwell commented on #7675
langchecker: https://github.com/mozilla-l10n/langchecker/pull/919
ref: https://github.com/mozilla-l10n/www.mozilla.org/pull/332

[2019-09-19 20:57] pmac commented on #7652
This page is fully public, and that doc is not. That's why I was trying to keep everyone up to speed. I had to login to look at the doc to learn what "CRO" meant, so I was just trying to help others.

[2019-09-19 21:55] alexgibson commented on #7652
@pmac the term CRO not being explained in the title of this issue, and the reason this doc is not public are, I feel, two separate issues. I’d be happy to discuss this with you in person, but I don’t feel async here is likely the appropriate place.

[2019-09-19 23:54] pmac commented on #7652
Fair enough. I just assumed since the issue was public and this repo has 115 watchers and 851 stars as of this comment that people would appreciate some explanation, like I wanted since this whole thing made no sense w/o context. If things need to be private that's fine, but it's also a capability we have with confidential bugzilla flags.

[2019-09-20 07:10] alexgibson commented on #7652
Whether we use confidential bugs in bugzilla, or an employee only gdoc - it will likely turn up here in GitHub, linked in some way, as that’s currently the nature of how we track progress of our work. But as I say, this feels like a different discussion as to why the meaning of CRO was not originally explained. Again, i’d be more than happy to discuss this with you in person, rather than here wher

[2019-09-20 07:40] Patil2099 commented on #7648
@alexgibson Can I work on this?

[2019-09-20 08:22] alexgibson commented on #7706
Copy doc: https://docs.google.com/document/d/1S4MtBCqxvvkZspKu3i4GthY3lrOC40yubpWgqgmEVB0/edit?usp=sharing

[2019-09-20 08:37] alexgibson commented on #7299
So, iOS 13 was released yesterday, so according to [this article](https://medium.com/@firt/iphone-11-ipados-and-ios-13-for-pwas-and-web-development-5d5d9071cc49), the bug above is now in the wild.

I don't yet have an iPad device running iOS 13 to test, or use to develop a fix for. We should be able to use a simulator in XCode for this vs a real device. But it looks like those updated simulators a

[2019-09-20 08:39] alexgibson commented on #7299
The article above seems to suggest using `‘standalone’ in navigator` in combination with iOS/macOS user agent string, to detect iPad OS.

[2019-09-20 08:46] alexgibson commented on #7648
@Patil2099 I'm not sure this issue is ready to work on just yet, as there's still discussion above about what the new strings need to be.

[2019-09-20 09:43] alexgibson opened #7758 "Privacy preferences button is missing on /privacy/firefox/"
## Description

When visiting the `/privacy/firefox/` page I noticed there's a JS error in the console. I believe this is preventing the privacy choices widget from being displayed on the page.

### Steps to reproduce

1. Visit https://www.mozilla.org/en-US/privacy/firefox/

### Expected result

There's should be a button that offers choice for how Firefox shares data:

![image](https://user-image

[2019-09-20 12:53] alexgibson commented on #7707
Link to abstract/sketch file: https://share.goabstract.com/fe0f1dad-c2e8-49c2-b140-e8b59d3889af?sha=2270b6bff22174da6248d64d013c25c0a79025db

[2019-09-20 13:54] alexgibson commented on #7709
WIP sketch file is linked in https://github.com/mozilla/bedrock/issues/7707
Final copy is linked in https://github.com/mozilla/bedrock/issues/7706

[2019-09-20 13:55] alexgibson commented on #7709
Depends on https://github.com/mozilla/bedrock/pull/7757

[2019-09-20 14:28] pmac commented on #7299
I have an iPad Pro I could upgrade to the iPadOS beta if that would help.

[2019-09-20 14:33] alexgibson commented on #7299
I think iOS 13 is out now for iPad Pro, so you may not need to switch to beta. Not to worry if you’re not ready to upgrade yet though, hopefully XCode will be updated shortly 👍

[2019-09-20 15:43] pmac commented on #7299
iOS 13 is out, but iPadOS comes out on the 24th apparently. I don't currently show any available update on mine.

[2019-09-20 16:36] #7675 closed

[2019-09-20 18:10] #7671 closed

[2019-09-20 19:36] ejregithub commented on #7706
@alexgibson - the above is not the correct copy doc.  This one is - https://docs.google.com/document/d/1khFCkPtMVI5Miy-Fxefka0ylZA1YoQLSvMQRG4aA1Fw/edit?usp=sharing

The original was not in our copy template and including copy for both this and the /firefox/privacy page as well.

[2019-09-20 21:27] amychurchwell commented on #7678
Code issue - https://github.com/mozilla/bedrock/issues/7677

[2019-09-20 23:09] dzingeek commented on #7707
@alexgibson wanted to give you an update on where we are at and an updated link to the sketch file.

**Design:**
- general design direction is good, mark has some work to do on images and james is doing some spot illustration for us but he is OOO until tuesday.

**Sketch File:**
- [link to the latest file](https://share.goabstract.com/36cde4df-0cb7-432b-8d70-eee3e613a198?sha=bda284235640424fb34dda

[2019-09-20 23:21] ejregithub opened #7762 "UX/Wireframe - /firefox/privacy/ - Privacy Hub page"

[2019-09-20 23:22] ejregithub opened #7763 "UI/Design - /firefox/privacy/ - Privacy Hub page"
## Description

Design tasks, including team lead, stakeholder and code review, for the new Firefox privacy hub page

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Is live, simultaneously, as /firefox/privacy/products
- [ ] Is live prior to/at Skyline on Oct 22

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] --

#### Tasks
- [ ] Design the page (apply to wirefr

[2019-09-20 23:22] ejregithub opened #7764 "Analytics - /firefox/privacy/ - Privacy Hub page"
## Description
Create an instrumentation & measurement plan for the Firefox Privacy Hub page. It can probably just use the generic CTA datalayer elements for event tracking.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Is live, simultaneously, as /firefox/privacy/products
- [ ] Is live prior to/at Skyline on Oct 22

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
-

[2019-09-20 23:22] ejregithub opened #7765 "Code - /firefox/privacy/ - Privacy Hub page"
## Description

Coding tasks, including team lead, stakeholder and code review, for the new Firefox privacy hub page

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Is live, simultaneously, as /firefox/privacy/products
- [ ] Is live prior to/at Skyline on Oct 22

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [x] Completion of /firefox/privacy/products #7643

#### T

[2019-09-20 23:27] ejregithub opened #7766 "/firefox/privacy/ - Privacy Hub page"
## Description

The hub main/landing page for Firefox Privacy.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page uses[ this copy](https://docs.google.com/document/d/1khFCkPtMVI5Miy-Fxefka0ylZA1YoQLSvMQRG4aA1Fw/edit#heading=h.2o8h97r5u6gs) from the Brand Team

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a checklist!
- [ ] T

[2019-09-20 23:30] ejregithub opened #7767 "Review Code - /firefox/privacy/ - Privacy Hub page #7765"

[2019-09-20 23:34] ejregithub commented on #7762
This is done, closing

[2019-09-20 23:34] #7762 closed

[2019-09-20 23:39] dzingeek commented on #7766
@stephaniehobson I wanted to give you an update on where we are at and an updated link to the sketch file.

**Design:**
- general design direction is good, there is still some work to do on images and james is doing some spot illustrations but he is OOO until tuesday.

**Sketch File:**
- [link to the latest file](https://share.goabstract.com/36cde4df-0cb7-432b-8d70-eee3e613a198?sha=bda284235640424

[2019-09-21 06:34] Shivansh2407 commented on #7747
So what should I basically do , should I remove those extra escape char or just remove the rule as suggested by @alexgibson .Please let me know soon @amychurchwell .

[2019-09-21 09:19] Shivansh2407 commented on #5766
So what should I need to do in order to fix this issue?

[2019-09-21 21:51] fitojb commented on #6758
Irrelevant now.

[2019-09-21 21:51] #6758 closed

[2019-09-23 09:43] alexgibson commented on #7706
I have some brand related copy questions for @dzingeek that may impact L10n for this page:

- Should "Firefox browsers" be localized, or are we treating it like a product name (it appears as a wrod-mark in the page design).
- In strings such as "Download the Firefox browser" and "Update your Firefox browser", should "Firefox browser" be localized? (I'm assuming yes in the context of a sentance, bu

[2019-09-23 14:36] amychurchwell commented on #7747
Both would be ideal. Thank you, @Shivansh2407

[2019-09-23 14:46] Shivansh2407 commented on #7747
Can you please tell how to fix this snippet :
var regex = RegExp(param + '=([^\#\&\?]+).*$');

Here it is showing:
  33:49  warning  Unnecessary escape character: \#  no-useless-escape
  33:51  warning  Unnecessary escape character: \&  no-useless-escape
  33:53  warning  Unnecessary escape character: \?  no-useless-escape
Please let me know soon so that I can complete fixing the issue and create

[2019-09-23 14:51] #7753 closed

[2019-09-23 15:06] amychurchwell commented on #7747
in the error:
[code]

in `/app/media/js/firefox/concerts.js` on line 33:
`var regex = RegExp(param + '=([^\#\&\?]+).*$');`

The errors should stop once the `\` characters are removed:
`var regex = RegExp(param + '=([^#&?]+).*$');`

and running `make lint` in your console should show that file has been fixed.

[2019-09-23 15:20] alexgibson commented on #7706
L10n string extraction for this page is blocked on the questions above, plus the question in the copy doc about "Add Lockwise to Firefox”.

[2019-09-23 15:38] dzingeek commented on #7706
@alexgibson these are great questions that I, unfortunately, don't have the answer to. I have some guesses on what we should but let me see if I can track down an answer for you.

[2019-09-23 17:01] Shivansh2407 commented on #7747
I am fixing this issue by creating PRs for changing various files. Please review and merge them accordingly.

[2019-09-23 17:03] amychurchwell commented on #7747
Hi @Shivansh2407! we don't need to open a separate PR for every file, they can be added to your original PR.

[2019-09-23 17:49] dzingeek commented on #7706
@alexgibson had a quick convo with clio, stephen and tim...this is what was decided.

does that answer your questions?

[2019-09-23 21:07] sghoseWI commented on #7743
https://docs.google.com/document/d/1F4LfAyme_h8AVG-1is_sIzncBEHc8dkuVeM8dt22mFo/edit#heading=h.6bs8agnufvbm

Edward Cho did the above analysis -- I believe it answers the research questions relating to this analysis.

[2019-09-23 21:52] #7743 closed

[2019-09-24 09:39] alexgibson commented on #7765
Copy: https://docs.google.com/document/d/1zCDc7-fvisykdnp8sgmSSIe0lJfK-qbI5nMrIXPD6mU/edit

[2019-09-24 13:31] alexgibson commented on #7706
The "could be localized" part here sounds pretty vague to me. Whilst this does provide some direction (I'm inferring from this that "Firefox browsers" where it appears as a wordmark should not be localized), it would be great to have a more formal rule set defined somewhere (I'm looking at https://mozilla.design/firefox/logos-usage/ specifically).

[2019-09-24 13:50] alexgibson commented on #7709
WIP demo: https://www-demo1.allizom.org/en-US/firefox/privacy/products/

[2019-09-24 13:50] alexgibson commented on #7765
WIP demo: https://www-demo1.allizom.org/en-US/firefox/privacy/

[2019-09-24 15:42] alexgibson commented on #7652
@jgmize just talked to @hoosteeno and we'd like to test out using cloud workers on staging, providing a) you have some time & availability to work on it, and b) it's not a high level of effort / from yourself (it didn't sound like it from our meeting, but just to double check).

Happy to discus further in person if it helps.

[2019-09-24 16:00] hoosteeno opened #7778 "WNP 70: replace header background"
## Description

As part of the WNP 70 work we'll replace the header background.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Background is delivered to devs in a format they need for implementation

[2019-09-24 16:42] hoosteeno commented on #7750
@alexgibson and I met with Tawanda, the PM for Pocket Discovery, to talk through our options for Pocket content on this page. Coming out of that meeting we have a clearer idea of how we can feasibly deliver this experience in the next couple weeks. We should have enough information for a visual design.

Roughly speaking, the design...
* Should follow the layout and copy patterns set by Welcome 1
*

[2019-09-24 17:42] hoosteeno commented on #7694
Bug filed. https://bugzilla.mozilla.org/show_bug.cgi?id=1583586

[2019-09-24 18:56] ejregithub commented on #7765
@alexgibson - when you can, please apply an Estimate to size this work.

[2019-09-24 19:03] ejregithub commented on #7763
@mrkwvr - when you can, please apply an Estimate to provide size for this work

[2019-09-24 20:38] amychurchwell opened #7779 "Add new UITour target to documentation."
## Description

Add Logins and Passwords UITour target `logins` to bedrock documentation: https://bedrock.readthedocs.io/en/latest/uitour.html#javascript-api

- Add `logins` to the "Target types:" list.

## Bug
https://bugzilla.mozilla.org/show_bug.cgi?id=1582768

[2019-09-24 22:01] dzingeek commented on #7766
@alexgibson [sketch file](https://share.goabstract.com/27ed31d2-c719-48c2-bb35-9a2792eb38df?sha=2faced350a4a5114e7b428b490b4c7f53618aa3c) has been updated to reflect more specs + all breakpoints. Also, attaching images/assets... but they are still FPO as we need sign-off to purchase some of them, but these should help you get things further along. Thanks!

[privacy-hubhmpg-imgs.zip](https://github

[2019-09-24 22:06] dzingeek commented on #7707
@alexgibson [sketch file](https://share.goabstract.com/27ed31d2-c719-48c2-bb35-9a2792eb38df?sha=2faced350a4a5114e7b428b490b4c7f53618aa3c) has been updated to reflect more specs + all breakpoints. Also, attaching images/assets... some images are still being worked on.

**assets (images)** [privacy-etp-imgs.zip](https://github.com/mozilla/bedrock/files/3649662/privacy-etp-imgs.zip)

"final" logo fil

[2019-09-24 22:11] dzingeek commented on #7706
Still looking into this for more clarification and i will also note that we need more formal rules defined. I think the issue is we don't really want to use the word Browsers with Firefox but we still don't have a name for the browser.

Will let you know what else I find out. I would suggest (for now) copy in a logo lockup stays as is and copy in text (button or body copy) gets localized.

[2019-09-24 22:23] #5816 closed

[2019-09-24 23:14] dzingeek commented on #7706
It's been confirmed, if with the logo (so lockup) it **does not** get localized but if it's in text (body copy or button) then the word "browser(s)" **does** get localized.

does this help clear things up? also talking with tim and others to see how we can better document this.

[2019-09-25 00:25] stephaniehobson opened #7780 "Blank space in enterprise menu in mobile"
## Description

The global navigation looks like it is missing an item when it's opened on the firefox/enterprise pages.

### Steps to reproduce

On a screen 767px or smaller visit https://www.mozilla.org/en-US/firefox/enterprise/ and expand the global navigation menu.

### Expected result

Not sure, probably needs design direction. Even putting the two lines very close together would be an improv

[2019-09-25 08:11] alexgibson commented on #7780
The styling of the sub nav is changing enough for the privacy hub pages where I think this will no longer be an issue:

![sub-nav](https://user-images.githubusercontent.com/400117/65581992-6a0dcb00-df74-11e9-9a93-035fc8016239.png)

[2019-09-25 15:06] pmac opened #7781 "Remove MDN docs link from Firefox for iOS release notes"
It points to the wrong thing. See [bug 1553566](https://bugzilla.mozilla.org/show_bug.cgi?id=1553566)

[2019-09-25 16:26] yatri1609 commented on #7779
Hey can I work on this issue?

[2019-09-25 16:53] amychurchwell commented on #7779
Hi @yatri1609! Feel free, please let us know if you have any questions.

[2019-09-25 19:01] stephaniehobson opened #7783 "fxa_cta_link does not support `action=login`"
Some pages have `{{ fxa_link_fragment(entrypoint='mozilla.org-whatsnew66', action='login'...` which is not a value supported by the macro.

They're defaulting to the `email` action which is the form that prompts for an email address and then determines if the user has an existing account.

If the default is appropriate the action can be removed, if it's not the action should be updated.

[2019-09-25 20:20] pmac opened #7785 "Improve FTL file linting"
As a follow up to #7679 we'd like to potentially improve Fluent file linting using some of the tools written by the l10n team. @Pike has recommended [compare-locales](https://pypi.org/project/compare-locales/) and using the `moz-l10n-lint` script or some of the internals directly.

[2019-09-25 20:21] #7758 closed

[2019-09-25 20:22] pmac opened #7786 "Write an ADR for the new l10n system"
We record major architectural decisions in [ADRs](https://bedrock.readthedocs.io/en/latest/architecture/decisions/0001-record-architecture-decisions.html). We should do so for this change.

[2019-09-25 20:51] amychurchwell opened #7787 "Fix typo in localization documentation."
## Description

Under [Staging Copy Changes](https://bedrock.readthedocs.io/en/latest/l10n.html#staging-copy-changes) in our localization docs it reads-

[code]

This is not correct. We should change this to:

[2019-09-25 21:02] stephaniehobson opened #7788 "Update bedrock to use Protocol 9.0.0"
Yay new logos.

[2019-09-25 21:34] hoosteeno commented on #7674
We're pivoting WNP70 content.

1) We've decided to keep the Monitor CTA for all visitors (signed in and signed out).
2) We'll change the secondary CTAs accordingly.

The new copy has been approved. It is presented in the below PDF, along with states. *Please note*, these are not graphic/ui designs, these are copy designs. Graphics may change independently.
[WNP 70 Copy Designs.pdf](https://github.

[2019-09-25 22:31] stephaniehobson opened #7790 "Get all logos from protocol-assets"
After #7789 is merged we should update all logos to use the standard ones in protocol-assets.

- [x] Release
- [x] Beta
- [x] Dev
- [x] Nightly
- [x] Firefox Master brand
- [x] Send
- [x] Lockwise
- [x] Monitor

[2019-09-25 23:51] dzingeek commented on #7696
@stephaniehobson see feedback below..btw this is looking amazing!

**Hero section:**
Space above and below the image feels too much. Especially on larger screens. Can we tighten them up some. Maybe centering the text might help?
![Screen Shot 2019-09-25 at 4 43 00 PM](https://user-images.githubusercontent.com/3740746/65647731-639f4380-dfb4-11e9-944f-54bc6cc38383.png)

**"Get the respect" section:*

[2019-09-26 00:29] cgonz0 commented on #7778
New header/bg + updated copy
![WNP70](https://user-images.githubusercontent.com/29640968/65649061-dfe85580-dfb9-11e9-9f09-c45a3b2eda7f.png)

[2019-09-26 13:53] alexgibson commented on #7299
I can now confirm this bug

![ipad-bug](https://user-images.githubusercontent.com/400117/65694185-56925b00-e06d-11e9-9044-3fffe474bf30.png)

[2019-09-26 15:00] #7299 closed

[2019-09-26 15:25] pmac opened #7792 "Make it obvious that our SECRET_KEY values in the repo are not used in production"
We get occasional bug reports about secret key values found in the git repo. They would normally be correctly concerning, but ours are there for good reason though that is not obvious from the file or context. We should add comments and change the values to make it clear that we've added these values to the repo on purpose and that all is well.

[2019-09-26 15:37] hoosteeno commented on #7717
@pmac is there any progress on this one? Do we need anything to get it started?

[2019-09-26 15:41] jgmize commented on #7652
@alexgibson and I just had a short pairing session where we experimented with temporarily deploying some code generated with http://sloth.cloud to www.allizom.org. Unfortunately sloth couldn't generate exactly what we wanted for this, so we will need to write a bit of custom code to conditionally return a 302 redirect from https://www.allizom.org/en-US/firefox/new/ to https://www.allizom.org/en-US

[2019-09-26 15:59] ejregithub opened #7794 "Leadership page updates - in n out"
## Description

Update the leadership page according to the[ spec in the bug.](https://bugzilla.mozilla.org/show_bug.cgi?id=1583389)

---

[2019-09-26 16:29] #7792 closed

[2019-09-26 16:48] alexgibson commented on #7358
This was done

[2019-09-26 16:48] #7358 closed

[2019-09-26 17:35] amychurchwell commented on #7794
awaiting a final bio in bug.

[2019-09-26 17:40] craigcook commented on #7794
Doh, I shouldn't have tagged the commit with "fix".

[2019-09-26 17:42] amychurchwell commented on #7794
@craigcook I forgot to remove it 😅 oh well

[2019-09-26 20:24] cgonz0 commented on #7778
![Noodle_background_WNP_lineargradient.svg](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/f6012e1a-c3dc-4a2a-846e-0710fb082172)

[2019-09-26 20:56] craigcook commented on #7694
Question: should we allow for a few days of buffer between pages?

I'm imagining a scenario where a user restarts Firefox on day 14 and sees page 1, then restarts again on day 15 (the next day) and sees page 2. Might that be annoying for those users? Or do we think that number might be very small? If it's worth worrying about, we could show page 1 from day 5-14 and show page 2 starting on day 18,

[2019-09-26 21:54] stephaniehobson opened #7796 "Remove 2018 firefox/accounts page"
## Description

I can't find any locales that are active but have not translated the 2019 page. Which means the 2018 page `accounts.html` is not being displayed to anyone. We should remove the old page.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Old accounts page is retired

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] Am I wrong about the l10n activation

[2019-09-26 22:58] sghoseWI commented on #7742
WNP 70 Analytics Instrumentation:
On ‘Sign Up for Monitor’ button:
data-cta-type=“whatsnew70-Monitor”
data-cta-position="Primary"

On SUMO/Lockwise/Release Notes links
utm_source=www.mozilla.org-whatsnew70
utm_campaign=whatsnew70
utm_medium=referral

[2019-09-27 00:03] pmac commented on #7717
This is pretty much all @Pike. He may be waiting until we get our first .ftl files merged into bedrock, but I think the ones in the [www-l10n repo](https://github.com/mozmeao/www-l10n) are good enough to get going.

[2019-09-27 00:13] Errolyn commented on #7570
Code is done and ready for review, I have a couple questions on some of the other elements in this issue and if they are things I should be taking on?

this seems like something I should do now that the page is getting reviewed in a separate pr?

I'm not sure if I have the access to do this? should I look into how or is someone else already waiting on the changes to create the 301 redirect?

We do

[2019-09-27 08:05] #7788 closed

[2019-09-27 08:16] alexgibson opened #7798 ""No parser was explicitly specified" warning in `privacy/views.py`"
## Description

When building bedrock locally I noticed a warning in the console. This is probably harmless, but it sounds like it could be fixed easily enough.

### Steps to reproduce

Run `make build`.

### Expected result

No console warning.

### Actual result

[code]

### Environment

Bedrock local Docker image.

[2019-09-27 09:50] alexgibson opened #7799 "/firefox/welcome/1 doesn't redirect to /firefox/welcome/1/"
## Description

The firefox welcome page loads both with and without the trailing slash at the end of the URL

We should make the former redirect to the latter.

### Steps to reproduce

Visit https://www.mozilla.org/en-US/firefox/welcome/1

### Expected result

It should redirect to https://www.mozilla.org/en-US/firefox/welcome/1/

### Actual result

The redirect doesn't occur. The page is viewabl

[2019-09-27 10:20] Pike commented on #7717
Right now, there are conflicts between what I had in mind for the l10n repo and what PR #7679 does. I'm still working myself through that PR, but right now, the fluent files in bedrock aren't good to expose to l10n, which is what I could do. We'll need to work those out in the PR.

I'd also like to clarify that I won't be hooking up automation.

[2019-09-27 13:15] alexgibson commented on #7767
Seeing as our team is coding this now, I don't think we need a separate card for code review. This can be handled in our regular work flow.

[2019-09-27 13:15] #7767 closed

[2019-09-27 13:16] alexgibson commented on #7643
@ejregithub is there an analytics card for this work? I can't seem to find an issue for it.

[2019-09-27 13:17] alexgibson commented on #7643
Oh, nevermind I found it, it just wasn't linked in the epic.

[2019-09-27 13:19] alexgibson commented on #7710
@sghoseWI these pages are now on demo and ready for instrumentation:

- https://www-demo1.allizom.org/en-US/firefox/privacy/
- https://www-demo1.allizom.org/en-US/firefox/privacy/products/

[2019-09-27 13:37] alexgibson commented on #7709
We're still waiting on some final imagery & design tweaks, as well as analytics instrumentation, but otherwise I think both pages are now far enough along to start internal review:

https://www-demo1.allizom.org/en-US/firefox/privacy/
https://www-demo1.allizom.org/en-US/firefox/privacy/products/

Note: to test the links that open `about:protections`, you'll need to whitelist the demo server to ena

[2019-09-27 15:59] #7799 closed

[2019-09-27 16:21] MKS-moz commented on #7709
Thanks @alexgibson. Both pages are looking excellent. I see two things that might be of concern (or not), but I wanted to flag them for you:

1. “Learn more about Lockwise” currently links to a www-demo1.allizom.org page with a 404. I’m sure this will be updated, but wanted to call it out just in case. (To confirm, mozilla.org/firefox/lockwise will be live the same day or before this page will be

[2019-09-27 16:25] alexgibson commented on #7709
The lockwise page is still in development in another PR, hence the 404. It will link once that page exists.

This message is not something under remit of the privacy page, and is a feature of Firefox Accounts. Testing the full FxA signup flow is not something that's straight forward to do on a demo server, and for the sake of providing feedback on that design of this page, I'm not sure it's someth

[2019-09-27 16:35] hoosteeno opened #7802 "Add lifecycle page 1 to CRO Sandbox"
## Description

The CRO sandbox is a segmented part of the site where we do Conversion Rate Optimization.

We have to add pages to the sandbox that we intend to experiment on.

Let's add the new lifecycle page 1 (/firefox/welcome/1).

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] en-US lifecycle 1 is in the sandbox

[2019-09-27 16:49] MKS-moz commented on #7765
/privacy is approved by me. Recognize we're waiting on two final images, but very pleased with the page UX, functionality, and aesthetics.

[2019-09-27 17:48] stephaniehobson opened #7803 "Preserve Quantum logos on Release Notes"
Right now the Release Notes have release appropriate logos on them. The most recent ones use the logos in Protocol-assets. With #7789 that will mean the Quantum logos disappear. We should preserve some copies of the Quantum logos and update the code to put them on the appropriate versions.

[2019-09-27 18:05] craigcook opened #7805 ""Join Firefox" in the welcome page header is not translated"
## Description

The header bar on the welcome page features a "Join Firefox" button, but that string wasn't included in the lang file so it hasn't been translated.

### Steps to reproduce

Visit https://www.mozilla.org/de/firefox/welcome/1/ or https://www.mozilla.org/fr/firefox/welcome/1/

### Expected result

The button label should be translated.

### Actual result

The page content is translate

[2019-09-27 19:24] sghoseWI commented on #7742
Conventions
-----------

When choosing URL parameter values, the following conventions help support uniformity in code and predictability in retroactive analysis.

* Use lower case characters in parameter values.
* Separate words in parameter values with hyphens.
* Follow parameter naming patterns established in previous iterations of a page.

[2019-09-27 19:44] ejregithub commented on #7778
@cgonz0 - what action needs to be taken here? (who needs to review this)

[2019-09-27 19:51] cgonz0 commented on #7778
naturally moved this into review, but should probably be in the done column. I already handed over the asset to amy - no other action is needed

[2019-09-27 20:25] amychurchwell commented on #7677
![image](https://user-images.githubusercontent.com/30483988/65799997-442a2700-e12a-11e9-88d6-6d4a6e6686f9.png)
(design for my quick reference.)

[2019-09-29 10:47] Fiesian opened #7809 "Outdated google support article linked"
On https://www.mozilla.org/en-US/internet-health/privacy-security/, section _What you can do about user control | Control your apps_, there is a link to https://support.google.com/googleplay/answer/6014972. The linked support article applies to the outdated Android version 5.9 (or older), https://support.google.com/googleplay/answer/6270602 is the article for Android 6.0 and newer.

[2019-09-29 19:15] pmac commented on #7717
My PR works on our repo, your repo is another thing that our automation will manage transfers between. You don't have to take our ported files. We'll just be porting things as we need to. If there are problems with those files I think it's mostly due to poor source files.

[2019-09-29 20:07] imskr commented on #7779
@amychurchwell Please review the PR! I have added it.

[2019-09-30 08:10] #7779 closed

[2019-09-30 08:11] #7787 closed

[2019-09-30 10:13] #7783 closed

[2019-09-30 13:58] alexgibson commented on #7709
This is now awaiting final design assets.

[2019-09-30 13:59] alexgibson commented on #7765
This is now awaiting final design assets.

[2019-09-30 14:06] alexgibson commented on #7652
I wrote some pseudo-ish code that could serve as a redirector here: https://gist.github.com/alexgibson/3425f57088d6fde02b6f0797eb738e08

This is aimed at the browser, but hopefully something we can adapt easily enough for a worker environment.

[2019-09-30 15:13] alexgibson commented on #7652
Both myself and @jgmize paired on another session today and we we're able to modify the code linked above in the gist to run in a cloudflare worker. We spent some time testing the redirector on stage and it seemed to be performing as expected.

Next steps:

- I'm going to tidy the code up and perform some more testing on stage.
- Once I'm happy that it's doing the right things, we're going to comm

[2019-09-30 15:18] pmac commented on #7652
My apologies for this tangent, but this talk of cloudflare workers has me curious: could such a worker be a better solution for our GEO redirects for whatsnew and others? Can a worker use the country of request origin as a data point in its logic?

[2019-09-30 15:22] jgmize commented on #7652
@pmac yes, there's an example of doing exactly that here: https://developers.cloudflare.com/workers/templates/?q=count

[2019-09-30 16:00] hoosteeno commented on #7745
@wboucherfischer can you update the status of this with progress to date? Thanks!

[2019-09-30 16:07] hoosteeno commented on #7742
@sghoseWI can you update with the latest here?

[2019-09-30 16:08] sghoseWI commented on #7742
@hoosteeno Done (edited previous comment above to avoid confusion) - thanks!

[2019-09-30 16:10] hoosteeno commented on #7707
Blocked awaiting final design assets from @dzingeek .

[2019-09-30 16:10] #7742 closed

[2019-09-30 16:11] #7535 closed

[2019-09-30 16:14] hoosteeno commented on #7677
We need localized strings in fr/de. @ejregithub can you help us keep this moving?

[2019-09-30 16:22] hoosteeno commented on #7620
@cgonz0 can you update with recent status, any artifacts?

[2019-09-30 16:26] Errolyn commented on #7570
https://bedrock-demo-lockwise.oregon-b.moz.works/en-US/firefox/lockwise/ --  is the demo, and is ready for stakeholder review @hoosteeno

[2019-09-30 16:34] imskr commented on #7798
I would like to work on this issue

[2019-09-30 16:37] hoosteeno commented on #7570
Agree.

Let's wait until the page is live, then file a bug.

Right -- the 'Support' link does this work now.

I don't think the adjust link is correct. I've asked Loren to help.

[2019-09-30 16:55] cgonz0 commented on #7620
initial mocks/ideas(pages 3-5) [here](https://docs.google.com/document/d/1ahtsCMOlf3tBNFnW11qehTLPK1ER-4XycKY40HQ3B_Y/edit)
Status: need additional feedback from email marketing team based on issues that were raised during previous discussion:
-toggle on/off buttons preferred - but will results funnel into CRM?
-do we have Yes/No localized?
-can we display scroll bar as always visible, not just on

[2019-09-30 16:56] ejregithub commented on #7677
@hoosteeno - yes, the card in Airtable is for just that  - https://airtable.com/tbl05XxAo8cjqzcvY/viw9kla3Mmk5qMErn/recCbq6Mccece15dL  - I've added you to the Slack channel #marketing-l10n-requests, where you can see the same request to Anika and Malcolm that I posted yesterday (Sunday).

[2019-09-30 17:00] pmac commented on #7652
Nice. I'm interested to see how the development and deployment automation for CF workers goes then. It'd be a nice way to accomplish these kinds of things, and much more compatible with moving to a more static deployment w/o sacrificing features.

[2019-09-30 17:12] hoosteeno commented on #7570
In the slack channel and in email, I sent out a request for final feedback on this built page. The feedback document is open to Mozilla staff, and is [here](https://docs.google.com/document/d/1tHpbhsr0YS2RiiBgw1QcgpxN2t0XAErpGx26ZfHTPko/edit#).

[2019-09-30 17:23] dzingeek commented on #7696
@stephaniehobson here are two updated SVGs for /firefox. Also, I am still waiting on the hero image (pending financial approval)...will get you that as soon as I can.

[updated svgs - outlines.zip](https://github.com/mozilla/bedrock/files/3672446/updated.svgs.-.outlines.zip)

[2019-09-30 20:40] stephaniehobson commented on #7696
Design review changes made. (but I did too good a job removing white space around the hero and need to add a bit back).

L10N will be coming from the EU team, I need to talk to them about if it's going through Pontoon first or not.

[2019-09-30 21:07] Errolyn commented on #7570
Just a heads up The ff 70+ CTA button will not work for you unless you do the following steps (this will not be an issue when the page is up on the Mozilla domain)

1. type `about:config` into a new browser tab
2. search for `browser.uitour.testingOrigins`
3. if it doesn’t exist add `browser.uitour.testingOrigins` as a string input
4. give that the value `https://bedrock-demo-lockwise.oregon-b.moz

[2019-09-30 21:34] sghoseWI commented on #7583
UPDATES:

Tags
On App Store download buttons:
data-cta-type=“lockwise-app-store”
data-cta-text=“apple-app-store|google-play-store” // there are 2 of these buttons; use only one text option depending on the platform
data-cta-position=“primary”

On ‘Install for Firefox’ button:
data-cta-type=“lockwise-install”
data-cta-position=“primary”

On ‘Get Firefox’ button:
data-cta-type=“lockwise-download-fx”

[2019-09-30 21:52] sghoseWI commented on #7764
DRAFT Instrumentation Plan:

Privacy Hub (looks like there are no buttons on this page outside of the header):

On Offsite links only (not on any onsite links):
utm_source=www.mozilla.org-privacy
utm_campaign=privacy
utm_medium=referral
entrypoint = “mozilla.org-privacy”

[2019-09-30 21:52] sghoseWI commented on #7710
DRAFT Instrumentation Plan".

Privacy Products:

For any and all FxA-like-things (e.g. Monitor) referrals, pings, flow begins, etc:
utm_source=www.mozilla.org-privacy-products
utm_campaign=privacy-products
utm_medium=referral

On Offsite links only (not on any onsite links):
utm_source=www.mozilla.org-privacy-products
utm_campaign=privacy-products
utm_medium=referral

On FxA creation button:
data-

[2019-09-30 22:01] sghoseWI commented on #7583
One caveat (from Justin): All of our download buttons are very finely tuned. If we change the data params on them, we break download goal counting. We should use a default download button for "Get Firefox".  @Errolyn

[2019-09-30 22:15] sghoseWI commented on #7710
@hoosteeno Would you please review the above when you have a moment?

[2019-09-30 22:16] dzingeek commented on #7765
@alexgibson **Design feedback below**
___________________________________
**Sub Nav**
- Can we underline or bold which section the user is on? For example, if a user is on the "our promise" page can we indicate that in the sub nab?

-" Why trust Firefox" and "Your privacy, by the product" CTAs - can those both be metropolis bold
___________________________________
**Breakpoint 1056**

**Hero Secti

[2019-09-30 22:16] dzingeek commented on #7709
@alexgibson  **Design Feedback Below:**
___________________________________
**Sub Nav**
- Can we underline or bold which section the user is on? For example, if a user is on the "our promise" page can we indicate that in the sub nab?
___________________________________
**Hero Section:**
Can we incorporate the zap into the hero text?
![Screen Shot 2019-09-30 at 2 28 21 PM](https://user-images.githu

[2019-09-30 22:41] #7778 closed

[2019-10-01 06:29] mokshchaudhary commented on #7809
Can I have this ?

[2019-10-01 09:15] alexgibson commented on #7765
Done - I went for underlines, since I feel like bold conflicts visually with the main navigation links.

Done

I've tried to accomodate most of these asks the best I can with some page-specific hacks. These are all really changes to the standard Protocol [Hero component](https://protocol.mozilla.org/patterns/organisms/hero.html). It would be great if you could channel this type of feedback into a

[2019-10-01 12:09] alexgibson commented on #7709
Done, thanks

The zap doesn't yet exist in Protocol. Do we have code for it anywhere?

The attachment doesn't seem to be here?

Done thanks. I find the blue text on the purple background a little hard to read, but it does seem to get a pass in the a11y inspector in dev tools.

Done

I'll do this once you supply some images.

Done

Done

Done. This is overriding default typography sizing for the [C

[2019-10-01 12:48] alexgibson commented on #7710
This is currently implemented site-wide as:

[code]

Are we saying we want to change this to lowercase everywhere (on every page?)

[2019-10-01 12:50] alexgibson commented on #7710
On every other page of the website we use `mozilla.org-*` (no `www.` prefix). Is this an intentional change?

[2019-10-01 12:53] alexgibson commented on #7710
Last question: do we need additional analytics on the "See what Firefox has blocked for you" and "Update your Firefox browser" links?

[2019-10-01 12:55] alexgibson commented on #7764
[code]

I believe both utm_source` and `entrypoint` should always be the same? If so, I'd suggest we drop the `www.` prefix on utm_source.

[2019-10-01 12:56] mokshchaudhary commented on #7809
#7814

[2019-10-01 12:57] Shivansh2407 commented on #7809
Done Sir Please Check

[2019-10-01 15:36] amychurchwell commented on #7677
instrumentation for reference - https://github.com/mozilla/bedrock/issues/7742

[2019-10-01 15:45] rantley commented on #7575
Here is my edited, (much shorter) version of the google translated copy. https://docs.google.com/document/d/1HnUwtbt8aui-uDpIC65VZLoGy0ftHH4xKtd37xbvTPY/edit

However, I did some digging yesterday and Anika actually created an English translated version of the original script (retaining the original length and content) link here:
https://docs.google.com/document/d/1W3CgeHU0-IOY-XZlBIhxPY88Oszx_li8

[2019-10-01 16:00] Shivansh2407 commented on #7781
So please let me know what changes should I be doing in order to fix this issue

[2019-10-01 16:12] #7781 closed

[2019-10-01 16:55] mafeld opened #7816 "[Legal Doc] updtes need to be pushed to production."
@pmac could you please push the following doc to production, preferably today if possible?

https://github.com/mozilla/legal-docs/tree/master/firefox_privacy_notice (en-US + 12 locales)

Here's the relevant PR:
https://github.com/mozilla/legal-docs/pull/1364

[2019-10-01 17:27] imskr commented on #7805
I want to work on this issue.

[2019-10-01 17:37] #7816 closed

[2019-10-01 17:43] hoosteeno commented on #7744
Here is a quick take on early returns for welcome page 1. Since it contains raw data from analytics tools, it is Mozilla Staff only.  https://docs.google.com/spreadsheets/d/1pu92rWobk3GYWYAVjheY95k0bkX1M8CfJJpehcfPezA/edit#gid=1955448126

[2019-10-01 17:58] sghoseWI commented on #7764
@alexgibson I agree, that makes sense.  Let's drop the www. prefix on utm_source.

[2019-10-01 18:07] sghoseWI commented on #7710
Let's remove the prefix -- I'll make that change to future analytics plans as well.  Thanks for pointing this out.

[2019-10-01 18:13] craigcook commented on #7805
Sorry, this is already being worked on. "Join Firefox" is becoming a global string as part of #7711

[2019-10-01 18:56] sghoseWI commented on #7710
@hoosteeno and I chatted about standardizing all parameters so that they are all lowercase moving forward.  The reasons we had for this suggestion are:
1. Easier for devs
2. Harder to mess up
3. Removes one factor in hard-to-find bugs
4. As a data customer on the analytics end, it makes it easier to find all relevant data for an analysis/experiment (some of which might be missed otherwise).

Let m

[2019-10-01 21:14] olsenme commented on #7802
Hi. My name is Meagan, and I am a CS grad and pretty new to contributing to open source. I didn't see a forum for this page,  but I was wondering if I could help out somewhere? Alot of the "Good first bugs" seemed to be getting picked up really quickly.

[2019-10-01 22:16] hoosteeno commented on #7802
@olsenme This issue may be kind of esoteric to start with. If you want to take the one below on, comment on the issue and someone will help. Thanks for reaching out!

https://github.com/mozilla/protocol/issues/460

[2019-10-01 22:59] dzingeek commented on #7709
@alexgibson attached are updated images + a few that were missing. Also, two more design tweaks if possible.
______________________
**480 breakpoint**
- can we left align copy in the ink section? see image on the right for reference
![Screen Shot 2019-10-01 at 3 43 35 PM](https://user-images.githubusercontent.com/3740746/66006082-4bbb3a00-e462-11e9-8854-c517cfb54bbf.png)

______________________
**

[2019-10-01 23:03] dzingeek commented on #7765
@alexgibson here are a few images that have been missing. I should have the lifestyle images to you by eod Wednesday (still waiting on financial approval). Also GREAT WORK, these pages are looking great!

[privacy-promise-imgs.zip](https://github.com/mozilla/bedrock/files/3678778/privacy-promise-imgs.zip)
_____________
_Side Note:_ Thanks for the call out for protocol things. Justin k. and I are w

[2019-10-02 01:24] Errolyn commented on #7497
@sarathsomana The emphasis box is available for use now if you want to go ahead and work on this issue, let me know if you have any questions! You can find the usage here: https://protocol.mozilla.org/patterns/molecules/emphasis-box.html

[2019-10-02 08:14] alexgibson commented on #7552
Note for Silver Orange when it comes to implmentation:

https://github.com/mozilla/bedrock/issues/7637 changed our /whatsnew URLs to use the geo-redirector class. Docs are here: https://bedrock.readthedocs.io/en/latest/coding.html#geo-redirect-view

To display a page for people physically located in India, we'll need to add the appropriate country code [here](https://github.com/mozilla/bedrock/blo

[2019-10-02 09:12] alexgibson opened #7819 "Footer on /firefox/enterprise/ is not full width in IE"
## Description

The page footer on /firefox/enterprise/ is not full width in IE11

<img width="1679" alt="image" src="https://user-images.githubusercontent.com/400117/66032088-a5704280-e4fc-11e9-84fa-0ce1012b2c69.png">

### Steps to reproduce

1. Visit https://www.mozilla.org/en-US/firefox/enterprise/ in IE (I used IE 11)
2. Scroll down to the bottom of the page.

### Expected result

The footer s

[2019-10-02 09:42] alexgibson commented on #7709
Done, thanks. Again, this is non-standard behavior for the hero component. Filing upstream [change requests issues](https://github.com/mozilla/protocol/issues/new/choose) is useful if this should be the new standard layout on small screens (or something that should be an option).

Done thanks

I've also updated the imagery.

[2019-10-02 10:00] alexgibson commented on #7765
Updated images, thanks.

[2019-10-02 12:30] sanskarseth commented on #7809
I  want to contribute in the bug .. This is my first request. So can u guide me on this

[2019-10-02 15:02] craigcook commented on #7794
I think this is finally complete! (until the next update)

[2019-10-02 15:02] #7794 closed

[2019-10-02 15:22] Pike opened #7821 "Align mission.ftl with template, fix comments"
`mission.ftl` as landing in PR #7679 has a few issues left over from its `.lang` ancestry.

* Ordering of strings is seemingly random, and should follow file-order from the template.
* URL should be a file-level comment, and not include `%LOCALE%`.

I'm not sure if the comment about the l12y of the video in https://github.com/mozilla-l10n/bedrock-l10n/blob/69a45a89b541a101c218f93d8fb7d9970505437d/

[2019-10-02 15:26] Pike opened #7822 "Update fluent.runtime to a version on pypi"
As of PR #7679, the version of Fluent is a WIP revision in my user fork.

We'll need to drive https://github.com/projectfluent/python-fluent/pull/121 and https://github.com/projectfluent/python-fluent/issues/129 to completion, publish the result to PYPI, and then update bedrock.

CC @pmac @hoosteeno

[2019-10-02 15:40] Patil2099 commented on #7525
@craigcook Can I work on this?

[2019-10-02 16:01] alexgibson commented on #7525
Since this issue was opened this page has been rolled up into https://github.com/mozilla/bedrock/issues/7766, so we don't need this particular issue any longer. Thanks for showing interest though 👍

[2019-10-02 16:01] #7525 closed

[2019-10-02 16:03] dzingeek commented on #7709
sorry @alexgibson i have one updated svg..we had one small tweak
[img-send.svg.zip](https://github.com/mozilla/bedrock/files/3682063/img-send.svg.zip)

[2019-10-02 17:54] dzingeek commented on #7709
@alexgibson here are some updated svgs this should be it for this page, thanks!
[privacy-etp-imgs.zip](https://github.com/mozilla/bedrock/files/3682550/privacy-etp-imgs.zip)

[2019-10-02 19:01] amychurchwell opened #7823 "Add 'Sign Up' state to monitor button macro."
## Description

In the `monitor_button` macro our default button text is `Sign In to Monitor`, we should make the default button text conditional depending if someone is signed into a firefox account or not:
`show-fxa-supported-signed-out` = `Sign In to Monitor`
`show-fxa-supported-signed-in` = `Sign Up for Monitor`

[2019-10-02 23:07] cgonz0 commented on #7750
final design with [copy](https://docs.google.com/document/d/1lD5cxydNwSZ4ut_5e86z166i2vebxrGbYUf5PFu_CaU/edit#) from folks @ pocket. (subheader text could possibly change...)
![Lifecycle v2.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/7917c635-ed9e-4a63-9788-e8046fee6169)

[2019-10-02 23:33] cgonz0 commented on #7750
![Save_icon.svg](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/0756746b-8480-436f-a11e-ea5569e8473e)
![Discover_icon.svg](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/216686fc-58ba-4bd8-b152-f4f1d45cdea5)

[2019-10-03 00:01] ckinswood commented on #7709
The top headline section with "Firefox protects your privacy in every product" is still so large it bumps much of the actual ETP content down page. The ETP content is the primary focus of the page and the original reason the page was scoped. How can we draw focus to the ETP section? I'd like to see smaller headline band or remove the line and start the page with ETP.

[2019-10-03 00:03] MKS-moz commented on #7709
@alexgibson the updated pages are looking wonderful. My final consideration for a tweak is this: As a user, I'm inclined to click on these three sections (see image), but they don't offer me click opportunities. I'm inclined to click on them because the copy offers me actions — "meet the trackers," "only one click away," and "see how we're helping you protect your info". Those actions can only be

[2019-10-03 00:04] dzingeek commented on #7696
@stephaniehobson updated hero img + 2 other svgs. this should do it!!

[fx-hmpg-imgs.zip](https://github.com/mozilla/bedrock/files/3683915/fx-hmpg-imgs.zip)

[2019-10-03 00:17] cgonz0 commented on #7750
@craigcook - dropping the assets here ![lifecycle_v2_illustration.svg](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/3da3f9be-eb56-460e-8f35-5688a13a9c2c)

[2019-10-03 08:10] alexgibson commented on #7709
I'll defer to @dzingeek here as this is part of the original, approved design. I do think the page needs a main headline from a structural point of view, as even though ETP is the main area of product focus, the page itself speaks to more than just Firefox the browser. I'll also point out here that we are past the cut off date for string changes, so whilst we could move the headline, or make it sm

[2019-10-03 08:26] alexgibson commented on #7709
Done, thanks.

[2019-10-03 08:34] alexgibson commented on #7709
privacy-etp-imgs.zip

Updated, thanks.

[2019-10-03 08:46] alexgibson commented on #7710
Ok, I've changed this in the macro to be lowercase. Please note that this will effect all instances of the FxA form on all pages of the website.

[2019-10-03 08:59] alexgibson commented on #7710
Ok, I'm suggesting the following. Let me know if you need something else:

[code]

[2019-10-03 10:09] imskr commented on #7823
I would like to work on it

[2019-10-03 10:42] alexgibson commented on #7710
@sghoseWI Ok I think everything above should be in place for this page. Can you please take a look to confirm? Thanks

[2019-10-03 10:48] alexgibson opened #7824 "Update analytics documentation & macro to use new convention standards"
## Description

In https://github.com/mozilla/bedrock/pull/7797/ we added analytics documentation to suggest "Use lower case characters in parameter values.".

This is in contradiction to some of our existing documentation [1] [2], which gives examples such as `FxA-ServiceName (e.g. ‘FxA-Sync’, ‘FxA-Monitor’, ‘FxA-Lockwise')`.

We should update our documentation to conform to lowercase (e.g. `fxa-

[2019-10-03 10:48] alexgibson commented on #7824
/cc @hoosteeno

[2019-10-03 10:51] #7809 closed

[2019-10-03 11:12] alexgibson commented on #7652
We set up a new repo called www-workers, and I've submitted a PR for the redirector code: https://github.com/mozmeao/www-workers/pull/1

[2019-10-03 12:02] Shivansh2407 commented on #6283
Can You explain more on this....Can I help you fix this issue

[2019-10-03 12:08] rajk1121 commented on #7819
@alexgibson Hey. I would like to work on this issue. Is it up for grabs?

[2019-10-03 12:25] alexgibson commented on #7819
@rajk1121 pull requests are always welcome

[2019-10-03 13:24] alexgibson opened #7825 "fxa_cta_link macro has empty value for `data-cta-position` attribute"
## Description

The [`fxa_cta_link`](https://github.com/mozilla/bedrock/blob/master/bedrock/base/templates/macros.html#L185-L188) macro has a redundant / non-used `data-cta-position` attribute. It's not used anywhere (since it is blank everywhere), so we should either remove it, or implement it properly and document it.

### Steps to reproduce

1. https://www.mozilla.org/en-US/firefox/66.0/whatsne

[2019-10-03 13:29] alexgibson opened #7826 "Firefox Account referral docs list incorrect parameters for FxA signup form"
## Description

The table of accepted parameters for the `fxa_email_form` macro are incorrect. It contains rows for `cta_type` and `cta_position`, which belong to the `monitor_button` macro further down the page.

### Steps to reproduce

1. Visit https://bedrock.readthedocs.io/en/latest/firefox-accounts.html#configuration
2. Observe the table rows for `cta_type` and `cta_position`.
3. View the ava

[2019-10-03 14:15] dzingeek commented on #7765
@alexgibson here are the updated/final lifestyle images...sorry for the delay.
[imgs-lifestyle.zip](https://github.com/mozilla/bedrock/files/3686486/imgs-lifestyle.zip)

[2019-10-03 14:19] dzingeek commented on #7709
I agree with @alexgibson. This page does need a main headline to give context to users so they know what else they can expect from this page. We could try and make that headline the next size down and see how it feels but I worry the headline will then get lost.

[2019-10-03 15:15] amychurchwell commented on #7823
@craigcook I forgot what the resolution of our convo was the other day when we were discussing the l10n task for this. Do you remember?

[2019-10-03 16:03] dzingeek commented on #7765
@alexgibson here are the updated hero images...sorry I made a mistake on the zap and needed to extend it to the bottom of the image. Thanks again!

![img-privacy-hero](https://user-images.githubusercontent.com/3740746/66143852-b5e7f200-e5bc-11e9-8bd5-0f61911366b2.png)
![img-privacy-hero@2x](https://user-images.githubusercontent.com/3740746/66143853-b5e7f200-e5bc-11e9-9035-2437940ae8e6.png)

[2019-10-03 16:08] dzingeek commented on #7709
@alexgibson forgot to circle back on the zap in the headline. I know @stephaniehobson has been working on figuring out how to make this work. I don't think this needs to hold up the page. We can add it in after it goes live.

[2019-10-03 17:22] rantley commented on #7575
@ejregithub Moving forward with this version

@rraue This page contains SEO content related to comparing web browsers.  The meta items are also included at the top of the document. Please review.

https://docs.google.com/document/d/1W3CgeHU0-IOY-XZlBIhxPY88Oszx_li8aApHmhJB4AA/edit#

[2019-10-03 17:29] rantley commented on #7575
@hoosteeno please see comment directly above and let me know if there is a different protocol for getting this properly reviewed.

[2019-10-03 17:51] olsenme commented on #7802
@hoosteeno  Thanks so much for the input. I commented on that issue you suggested

[2019-10-03 18:00] sghoseWI commented on #7744
Here is an initial analysis report re: early performance on the first moments page:
https://docs.google.com/document/d/1d8ooHPknKid-fqw2ukNNPHPR9xutvDhAC8RnEP2PEug/edit

[2019-10-03 18:01] #7583 closed

[2019-10-03 19:56] hoosteeno commented on #7765
@alexgibson

* The section below is missing a "." at the end, which is present in copy doc:
![Screen Shot 2019-10-03 at 1 34 14 PM](https://user-images.githubusercontent.com/94519/66158206-a8ddf980-e5e2-11e9-890c-5186bcc0266c.png)

[2019-10-03 19:57] hoosteeno commented on #7709
@alexgibson

* When I hover over the Fx-70 CTA ("See what Firefox has blocked for you") the URL preview at the bottom of the browser window suggests I'll go to SUMO, but instead I go to the protection report. Is it possible to change the href on this link to e.g "#" or similar so it isn't as confusing to people paying attention to that?
* The Pocket landing page we're sending people to from the Po

[2019-10-03 20:10] hoosteeno commented on #7710
Is there a reason not to implement this as a [generic CTA](https://github.com/mozilla/bedrock/issues/7541)?

E.g.
[code]

[2019-10-03 20:54] dzingeek commented on #7709
@hoosteeno nice catch on that "e" ! @alexgibson attached is an updated svg...somehow that "e"
[img-lockwise.svg.zip](https://github.com/mozilla/bedrock/files/3688045/img-lockwise.svg.zip)
 got filled in when I turned the text to outlines.

[2019-10-04 05:09] rajk1121 commented on #7819
All right @alexgibson . Will get back to you as soon as I set it up locally on my laptop.