[2019-03-20 16:46] ejregithub commented on #6949
Questions-
- is the test plan baked
- where is design?
- has dev started?
- who is stakeholder(s) - and Accountable/Approver

[2019-03-20 17:07] ejregithub commented on #6780
- @hoosteeno - Package for external agency to produce

[2019-03-20 17:30] ejregithub commented on #6928
We need dates from Brand as to when this will roll out and how.

[2019-03-20 17:38] hoosteeno opened #6953 "Change log-in to login on Fx Benefits page"
## Description
The page at https://www.mozilla.org/en-US/firefox/accounts/ has a headline including the string "log-in". This should be changed to "login" the next time we make major string changes on the page (e.g. in  card https://github.com/mozilla/bedrock/issues/6914).

![Screen Shot 2019-03-20 at 11.35.41 AM.png](https://images.zenhubusercontent.com/5c871077d74bd07972c6db24/3116a5a3-285a-4b6a

[2019-03-20 17:42] pmac commented on #6928
Nothing? No logo? All the logos? Product logos?

[2019-03-20 17:56] peiying2 commented on #6947
Looks like this is resolved. Thanks @amychurchwell for verifying! We can close the issue now.

[2019-03-20 17:57] #6947 closed

[2019-03-20 18:02] hoosteeno opened #6954 "Specify an Experiments sandbox"
## Description

We need to design a better experiments program that
a) protects our most valuable website assets while
b) giving experimenters more freedom and power to experiment

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] The solution is arti

[2019-03-20 18:06] alexgibson commented on #6907
@amychurchwell I think that's a great suggestion too 👍

[2019-03-20 19:32] amychurchwell commented on #6892
Assuming that this stray download button is not a part of the mock-up? Continuing under that assumption.

<img width="925" alt="Screen Shot 2019-03-20 at 12 31 29 PM" src="https://user-images.githubusercontent.com/30483988/54713543-1aa19a80-4b0c-11e9-9722-e7a31da2de4c.png">

[2019-03-20 19:54] hoosteeno commented on #6942
@amychurchwell , could you take a look at this one? Are there any l10n ramifications that we need to program around?

[2019-03-20 20:04] hoosteeno commented on #6942
@amychurchwell can you also check the instrumentation on the "Learn More" button? I want to be sure we're measuring well there.

[2019-03-20 20:31] hoosteeno commented on #6884
@michaelmccombie Thank you. I really appreciate that the 4 variations you've pitched represent *different moments in the journey*. This seems like the right thing for us to understand right now: Where is the most effective place to pitch this CTA?

[2019-03-20 21:48] hoosteeno opened #6957 "Acquisition rate from FxA CTA on /firefox/new/ fell by 60% on Tuesday"
## Description

We released a feature on /firefox/new/ that asks existing Fx users to sign up for an account. In our experiment, this was acquiring X users per day. When we graduated it, it was again acquiring X users per day. [On Tuesday, this dropped to appx. 0.3X users per day](https://analytics.amplitude.com/mozilla-corp/chart/dms0tq1).

Did one of our changes on Tuesday change how many Firefo

[2019-03-20 22:26] sghoseWI commented on #6770
https://docs.google.com/document/d/1HKYoBiZ1uFXqgqGOEl1FXRTEeNoffJswy1_-cj5L6Pc/edit#

[2019-03-20 23:00] hoosteeno opened #6958 "Dry-market only sending traffic to v=1 and v=c"
## Description

The dry market test we set up should be splitting a small number of users between 6 experimental treatments and a control. [Right now it looks like it's only splitting users between the control and 1 variation (v=c)](https://analytics.google.com/analytics/web/#/report/content-landing-pages/a36116321w64087799p65789850/_u.date00=20190313&_u.date01=20190319&_.sectionId=&_.useg=&_.goal

[2019-03-20 23:03] hoosteeno commented on #6958
@alexgibson can you check analytics in the a.m. and, if they still only include 2 variations, take a look for problems?

[2019-03-20 23:05] hoosteeno commented on #6957
This may just be a lag in data reporting. We can leave it for a few days to see if the numbers catch up.

[2019-03-20 23:16] ejregithub commented on #6949
@stephaniehobson - you've self-assigned this so i can safely assume you're taking the coding task for the two pages.  i need to confirm with you if you will also take on setting up traffic cop for the test and putting this behind a switch, please. If you have a timeline of when you expect to deliver (by end of Sprint 4?), please let me know that as well. Thank you!

[2019-03-20 23:48] stephaniehobson commented on #6949
I will take on the coding task including setting up traffic cop and the switch.

It would be helpful to me to get a deadline from the websites team for when you want to run the test. @hoosteeno was not sure if this was a sprint candidate when I talked to him this morning.

[2019-03-21 01:32] #5648 closed

[2019-03-21 01:45] ejregithub commented on #5750
I'm marking this as done as both of these pages are live in prod:

https://www.mozilla.org/en-US/technology/browser-history/
and
https://www.mozilla.org/en-US/technology/what-is-a-browser/

[2019-03-21 01:45] #5750 closed

[2019-03-21 01:49] ejregithub commented on #5816
@lordgameleo - yes, apologies for the delay in responding. This issue remains open and available.

If you're still interested, please submit a pull request when ready.

[2019-03-21 02:06] ejregithub commented on #5849
Pinged Daniel Z in Slack about this ask.

[2019-03-21 03:22] ejregithub commented on #6815
![image](https://user-images.githubusercontent.com/20547886/54731858-dd5dfc80-4b4d-11e9-8a06-a624068ea522.png)

[2019-03-21 08:45] alexgibson commented on #6958
I can see data starting to show up for `v=1`, `v=c`, `v=a` and `v=e`. There's only a 0.6% chance of someone seeing variations a-f. It may just take a little while for this data to start showing up in GA.

From what I can see, I can't see any misconfiguration in the experiment.

![image](https://user-images.githubusercontent.com/400117/54741162-71af7a00-4bb5-11e9-800a-3e474a4d6f30.png)

[2019-03-21 08:56] alexgibson commented on #6957
Data is showing that we had a dip on Tuesday (83), but this went back up to more normal levels yesterday (208):

![image](https://user-images.githubusercontent.com/400117/54741282-eaaed180-4bb5-11e9-81b8-28a70b27eab9.png)

We have automated tests in place that confirm the CTA modal is shown when Firefox users click the button. These tests run prior to every deployment, so if something was amis I t

[2019-03-21 09:28] alexgibson opened #6959 "SEO feature content on /new appears for `de` but not `en-GB`"
## Description

The SEO features content added in https://github.com/mozilla/bedrock/pull/6919 shows up in production for `de`, but not for `en-GB`:

### Steps to reproduce

1. Visit https://www.mozilla.org/de/firefox/new/
2. Visit https://www.mozilla.org/en-GB/firefox/new/
3. Compare the two pages.

### Expected result

Both pages should show the new content (6 features).

![image](https://user-i

[2019-03-21 11:01] alexgibson commented on #6954
I tried to put together some thoughts for additional context for this issue:

**Current pain points with regard to experimentation on /new:**

- Experiments running directly on /firefox/new make an already complicated page even more complex. This increases the risk of breakage on our most high traffic download page. This is especially true when we have multiple experiments happening at the same ti

[2019-03-21 15:02] #6299 closed

[2019-03-21 15:46] #6892 closed

[2019-03-21 15:47] #6959 closed

[2019-03-21 17:26] claychaffin commented on #6922
@ejregithub @hoosteeno

Per Peiying's request in 1(a) above,  please update the hero section subhead on https://www.mozilla.org/en-US/firefox/features/adblocker/

Code: https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/templates/firefox/features/adblocker.html#L29

Copy deck: https://docs.google.com/document/d/1X8mc2GAEN9OKks3NZnRmfk44gUXrC6APpYpJrS1WSrg/edit?usp=sharing

[2019-03-21 18:30] stephaniehobson opened #6962 "High Res img helper gives big images to mobile"
## Description

We use srcset to provide high res versions of images. On small high res screens when the images are scaled down to half their size or more the low res version of the image could serve this purpose.

We can probably address this with the sizes attribute.

### Steps to reproduce

Load site on mobile screen.

### Expected result

Smallest possible images served.

### Actual result

La

[2019-03-21 20:37] jpetto commented on #6954
Just walking through how this would work from a very high level:

- someone lands on `/new`
- a bit of code decides if they should be entered into one of X number of running experiments
- if yes, visitor is redirected to a different URL where the actual experiment is run

Is that about accurate?

[2019-03-21 21:31] stephaniehobson commented on #6954
That's how it reads to me.

[2019-03-21 22:24] hoosteeno commented on #6954
That's right. We could build a routing tool to route some /new/ visits to a version of the download page that is not as complicated, not as SEO-critical, not as heavy. We're doing this now with /firefox/campaign/ -- all SEM traffic will go that way (although, via a link in SEM config, not via routing on our site), and that page will have a different set of affordances, and will evolve independentl

[2019-03-22 14:03] justinkropp commented on #6830
@alexgibson Just a few tweaks if possible.

**The following tweaks should be applied to all designs, if possible:**

- [ ] 'h3' feature titles could use a bottom margin. `.75em` should be just fine.
- [ ] increase the max-width of the `.c-call-out-compact` just a bit so that the `c-call-out-container` text doesn't wrap?
- [ ] decrease the size of the mail icon in `newsletter-title` and vertically

[2019-03-22 16:25] #6930 closed

[2019-03-22 16:47] ejregithub opened #6968 "Update to Alan Davidson's bio on Mozilla Leadership page"
## Description

Bug 1534770 - Update to Alan Davidson's bio on Mozilla Leadership page

### Estimates

| Estimates |  |
| ------------- | ------------- |

| ENG | |

---

#### Tasks
- [ ] Update Alan Davidson's bio with copy below
- [ ] Communicate to @ejregithub when it is live (so he can close the bug and communicate to stakeholders)

Below is the new copy.
------------------------

Alan Davidso

[2019-03-22 17:01] ejregithub commented on #6770
Closing.

[2019-03-22 17:01] #6770 closed

[2019-03-22 17:58] gkabbz commented on #6830
@alexgibson

GA for variation c : Missing an event category - not sure if that's what event would be. It looks like, from the current events in GA, that the event category is usually set as where the interaction happened e.g. '/firefox/download/thanks/' Interactions or '/firefox/new/ Interactions' so we'd want to set it in a similar fashion here as well. The event action and event label look good

[2019-03-22 18:51] gkabbz commented on #6830
@alexgibson sizing has been added to the mana for this experiment.  https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=90738680

[2019-03-22 18:56] dzingeek commented on #6865
@stephaniehobson here is the updated headline for the [FxA section](https://user-images.githubusercontent.com/3740746/54842893-62e9c580-4c90-11e9-912d-37969bb16f96.png):

"Opt in to a Firefox account"

[2019-03-22 19:45] mrkwvr commented on #6937
design file ready
[Enterprise SLA.sketch.zip](https://github.com/mozilla/bedrock/files/2998063/Enterprise.SLA.sketch.zip)

[2019-03-22 22:15] jgmize opened #6971 "Redirect /gear to https://mozillagear.corpmerchandise.com/"
Per discussion with @lruzer on slack, when the new gear store launches at the domain in the description, (exact date TBD) she would like the `/gear` vanity redirect for it.

[2019-03-22 23:14] ejregithub commented on #6779
@amychurchwell  - And . . . we have stakeholder approval of design and may proceed with coding.

![Screen Shot 2019-03-22 at 4 13 04 PM](https://user-images.githubusercontent.com/20547886/54857601-837c4480-4cbd-11e9-9b86-e06156240620.png)

[2019-03-22 23:16] #6968 closed

[2019-03-22 23:30] ejregithub opened #6973 "Add 'explanatory copy' for L10n next string in /firefox/new"
## Description

Add the following comment below [this string](https://github.com/mozilla/bedrock/blob/d7caf56eb0e4c0d6bfc63a2fddefc4d4cce27354/bedrock/firefox/templates/firefox/new/scene1.html#L156)

{# L10n: The phrase “Now get everything else Firefox” is in specific reference to a Firefox account, which unlocks access to all our new products and services. #}

### Estimates

| Estimates |  |
| --

[2019-03-22 23:41] #6031 closed

[2019-03-22 23:57] #6694 closed

[2019-03-24 18:31] jgmize commented on #6971
Because mozilla.com and mozilla.org both have default redirect behavior that includes the path, mozilla.com/gear and mozilla.org/gear currently redirect to https://www.mozilla.org/gear, which is currently a 404.

[code]

[code]

[2019-03-25 09:22] alexgibson commented on #6957
Data has remained stable since. Looks like we had a one day dip. Closing.

![image](https://user-images.githubusercontent.com/400117/54908282-6de66500-4edf-11e9-96e5-94c3c2a3b4a8.png)

[2019-03-25 09:22] #6957 closed

[2019-03-25 09:57] alexgibson commented on #6830
@gkabbz I can't see any existing GA events where we specify an event category in code like this. My guess is this is something that's configured in GA itself, although I'm not sure where. You can see lots of other examples where we specify a custom event that follow the same properties as used here: https://github.com/mozilla/bedrock/search?q=eAction&unscoped_q=eAction

{
"data-ex-name": "eu_exp02

[2019-03-25 10:37] alexgibson commented on #6830
@justinkropp thanks for these suggestions. I've updated as many as I can here, but only for variation "C". We shouldn't really make visual changes to the control experiences, else it may skew our data in some way. I couldn't update the browser image, as the version in the sketch file is not quite large enough. It needs to be 1400px wide at minimum in order to support a high-res version. If you hav

[2019-03-25 13:01] guyfitzpatrick commented on #6894
@alexgibson the following pages seem to have been replaced with /new:

https://www.mozilla.org/en-US/firefox/new/?xv=betterbrowser
https://www.mozilla.org/en-US/firefox/new/?xv=safari
https://www.mozilla.org/en-US/firefox/new/?xv=edge

[2019-03-25 13:37] alexgibson commented on #6894
@guyfitzpatrick thanks for alerting. I believe this is a bug introduced in https://github.com/mozilla/bedrock/issues/6899. I'll see what we can do to get it to resolved, but it may also mean waiting until that experiment is over.

This is a great exaple of why we need to simplify complexity on /new, by moving these campaign pages over to /campaign.

[2019-03-25 13:43] alexgibson opened #6974 "SEM /new pages are no longer displayed correctly due to dry-market experiment."
## Description

See https://github.com/mozilla/bedrock/issues/6894#issuecomment-476186236

There are several en-US SEM download pages that are currently not being displayed, due to the [switch logic](https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/views.py#L723-L731) for the [dry-market experiment](https://github.com/mozilla/bedrock/issues/6899). As long as the switch is enabled, no

[2019-03-25 13:43] alexgibson commented on #6894
I filed a bug for above: https://github.com/mozilla/bedrock/issues/6974

[2019-03-25 14:33] alexgibson commented on #6894
@guyfitzpatrick I'm picking up this work today. My plan for migrating these URLs is as follows:

1. Make all the above URLs available at both `/new` and `/campaign`.
2. Once live, you can repoint your ads at the new `/campaign` URLs.
3. Once complete, I'll then remove the pages from `/new`.

Does this sound workable enough to you?

Thanks

[2019-03-25 14:34] guyfitzpatrick commented on #6894
Sounds good, thanks!

[2019-03-25 15:31] hoosteeno commented on #6830
These are [custom dimensions](https://support.google.com/analytics/answer/2709828?hl=en). You access them like any dimension. A custom report is handy for isolating them. You can manage them in the Admin section.

These values look solid to me. r+. As usual, it's worth remembering that we have very particular logic for how we set these (when we set them):

[2019-03-25 15:40] alexgibson commented on #6942
Note that this CTA also features on the German home page, and shares much of the same code. If we're updating things, we should probably do the same there too?

It may require finding a translated string?

[2019-03-25 15:46] ericlaw1979 commented on #6367
The value returned is from https://docs.microsoft.com/en-us/windows/desktop/devnotes/wldp-windows-lockdown-mode

`
typedef enum _WLDP_WINDOWS_LOCKDOWN_MODE {
  WLDP_WINDOWS_LOCKDOWN_MODE_UNLOCKED  = 0,
  WLDP_WINDOWS_LOCKDOWN_MODE_TRIAL     = 1,
  WLDP_WINDOWS_LOCKDOWN_MODE_LOCKED    = 2,
  WLDP_WINDOWS_LOCKDOWN_MODE_MAX       = 3
} WLDP_WINDOWS_LOCKDOWN_MODE, *PWLDP_WINDOWS_LOCKDOWN_MODE;
`

At p

[2019-03-25 16:03] #6884 closed

[2019-03-25 16:18] hoosteeno commented on #6914
Whoever picks this up, please see https://github.com/mozilla/bedrock/issues/6953.

[2019-03-25 16:56] alexgibson commented on #6950
I added links to each design / experiment in the issue description above.

I'm going to think this through more, but my initial reaction is that this may make sense for one person to do because:

- The ask is to measure install / retention. To facilitate this, all experiment variations will need to start on `/new` as the top of the funnel (even though some variations only effect /thanks visually).

[2019-03-25 23:35] ejregithub opened #6979 "Redirect: mozilla.org/firefoxfightsforyou to mozilla.org/en-US/firefox/fights-for-you/"
## Description

Hey Team,

Redirect:
https://www.mozilla.org/firefoxfightsforyou

to:
https://www.mozilla.org/en-US/firefox/fights-for-you/

### Estimates

| Estimates |  |
| ------------- | ------------- |

| ENG | |

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Redirect is in place on or before April 1, 2019 (no yolk!)

#### Tasks
- [ ] Put the redirect in place as described ab

[2019-03-26 11:06] alexgibson commented on #6935
@michaelmccombie Hi, can you please link to a sketch file for this mockup? I've found all the other variations, but this one does not seem to be included in that same file. Thanks!

[2019-03-26 11:18] alexgibson commented on #6935
Oh, please disregard @michaelmccombie I've found it 👍

[2019-03-26 15:45] alexgibson commented on #6367
@ejregithub can you please get this in the backlog so we can prioritize this work? Thanks

[2019-03-26 15:51] ejregithub commented on #6942
@amychurchwell - We can do en-US and DE separately, they are not dependent on one another.

[2019-03-26 15:54] ejregithub opened #6980 "Add subhead to hero section on Mozilla.org for DE homepage"
Description: Add a subhead to the hero section in the DE homepage

**Tasks**
- [x] Get DE localized string (@ejregithub)
- [x] Add the new string to the subhead in the DE homepage hero section

[2019-03-26 16:56] ejregithub commented on #6367
Closing this issue. I will create a new one for the work itself (bedrock detecting Win 10 S mode visitors to www.mozilla.org) and reference this issue in that.

[2019-03-26 16:56] #6367 closed

[2019-03-26 17:01] ejregithub opened #6981 "Update pages with latest link to the play store for Lockbox"
## Description

Lockbox is available for Android now. There are at least two places that need to be updated with a link to the play store.
https://www.mozilla.org/en-US/firefox/accounts/
https://www.mozilla.org/en-US/firefox/66.0/whatsnew/

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | 1|
| SEO | |
| ANA | |
| DES | |
| COPY | |

---

#### :yellow_hear

[2019-03-26 17:01] stephaniehobson opened #6982 "Add link to Lockbox in Play store"
## Description

Lockbox is available for Android now. Every where we link to the App Store we should also link the the Play store.

These are two places I know about:
https://www.mozilla.org/en-US/firefox/accounts/
https://www.mozilla.org/en-US/firefox/66.0/whatsnew/

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | 1|
| SEO | |
| ANA | |
| DES | |
| COPY

[2019-03-26 17:02] #6982 closed

[2019-03-26 17:28] ejregithub opened #6984 "Quantify daily unique users of Win10 S mode attempting to download Firefox on moz.org"
## Description

[Bug 1539214](https://bugzilla.mozilla.org/show_bug.cgi?id=) - Quantify daily unique users of Win10 S mode attempting to download Firefox on moz.org.

Now that[ we can detect visitors coming to www.mozilla.org with Win 10 in S mode](https://github.com/mozilla/bedrock/issues/6367#issuecomment-476256394), we need to implement that detection and gather the numbers.

### Estimates

| E

[2019-03-26 19:50] ejregithub opened #6985 "Dry Market Test Analysis"
## Description

The experiment has ended and now analysis of the resulting data is required.

The original issue for the experiment - #6899
---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Deliver the write up/analysis by EOD Friday March 29th

[2019-03-26 22:25] #6974 closed

[2019-03-27 00:44] stephaniehobson opened #6987 "Update /firefox/mobile/ with new branding"
## Description

Update the Firefox Mobile landing page at https://www.mozilla.org/en-US/firefox/mobile/ with a temporary English only page that reflects the new brand.

***Tasks***
- [ ] Make the page available for stakeholder review on demo server
- [ ] Ensure UTMs persist from the existing page so we can measure historically
- [ ] Have @rraue review the UTMs

[2019-03-27 00:45] stephaniehobson commented on #6987
Copy: https://docs.google.com/document/d/1ydZuHHjTNOuNBH3NahRik-lXmPv2_3iEkQVIFGDjl40/edit

[2019-03-27 00:46] stephaniehobson commented on #6987
Design: https://app.goabstract.com/projects/2bf275c0-d87a-11e8-8c68-d31c3ed795db/branches/f8e70169-9bb0-4ac1-8b56-036052a2b42c/files/48E8EFB0-007F-46B2-80DE-38C3B7544453?changed=true

[2019-03-27 00:48] stephaniehobson commented on #6987
There are a couple animations with this design, they are being provided separately.

The design does not include mock ups of the app store buttons displaying for mobile users but those are part of the  💛 success criteria 💛

[2019-03-27 09:30] alexgibson opened #6989 "Homepage sticky banner issues on mobile"
## Description
The sticky banner that promotes either downloading Firefox, or signing up for a Firefox Account has various issues on small screens.

### Steps to reproduce

1. Visit https://www.mozilla.org/ on a mobile device (I'm testing on iOS).
2. Begin to scroll down the page, past the main hero CTA.

### Expected result

1. In iOS Safari, there should be a small banner at the top promoting a

[2019-03-27 09:39] alexgibson commented on #6985
The experiment is [still running in production](https://github.com/mozmeao/www-config/blob/master/waffle_configs/bedrock-prod.env#L22). Does this mean we can shut it off?

[2019-03-27 09:40] alexgibson commented on #6958
It sounds like we [have enougn data](https://github.com/mozilla/bedrock/issues/6985) for this experiment, so I'm going to close this issue.

[2019-03-27 14:48] #6973 closed

[2019-03-27 16:13] alexgibson opened #6990 "L10n comment is truncated when running `./manage.py l10n_extract`"
## Description

I'm trying to extract a lang file for a new l10n comment that was added to the `/firefox/new/scene1.html` template in https://github.com/mozilla/bedrock/pull/6977, but the comment is not extracted correctly.

### Steps to reproduce

Run `./manage.py l10n_extract bedrock/firefox/templates/firefox/new/scene1.html`

### Expected result

The l10n comment should be extracted fully.

###

[2019-03-27 16:14] alexgibson commented on #6990
/cc @pmac @peiying2

[2019-03-27 16:14] pmac commented on #6990
Thanks Alex. I'll see what I can find.

[2019-03-27 16:14] alexgibson commented on #6990
@peiying2 is this anything you have prior knowledge of? It seems like a bug to me.

[2019-03-27 16:47] pmac commented on #6990
When I do the extraction I see in the `django.pot` file the following:

[code]

So something in the .pot -> .lang process is missing the fact that this is a multi-line comment. I'm not sure yet why it's a multi-line comment either, but that appears to be the deal.

[2019-03-27 17:06] pmac commented on #6990
PR filed. The .pot -> .lang processor just didn't expect more than one line of comment and I guess at some point those started being a thing 🤷‍♂️

[2019-03-27 17:18] #6990 closed

[2019-03-27 18:27] ejregithub opened #6993 "WNP 67- PR for strings for L10n - Release date - 5/14"
## Description

WNP 67 has strings due on 4/5 - we must put the strings in a PR immediately and the extract them to Pontoon for localization

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Insert new strings, wrapped

#### :heavy_exclamation_mark:

[2019-03-27 19:26] hoosteeno opened #6994 "Redesign /contribute/ pages"
## Description

The Get Involved link on www.mozilla.org/contribute takes visitors to an outdated experience, and now there is a more up-to-date experience at https://activate.mozilla.community. We should redirect the link to the new experience.

Out of scope:
Someday, in a different issue, we should...
* Survey visitors to this page
* Get rid of old content and urls no longer required
* Redirect

[2019-03-27 20:20] hoosteeno commented on #6958
We believe there is a bug in TrafficCop. This experiment had 6 variations that should have received 0.6% of traffic each, but [only 3 did](https://analytics.google.com/analytics/web/#/report/content-landing-pages/a36116321w64087799p65789850/_u.date00=20190317&_u.date01=20190327&_.sectionId=&_.useg=&_.goalOption=2&explorer-table.advFilter=%5B%5B0,%22analytics.landingPagePath%22,%22RE%22,%22en-US~2F

[2019-03-27 20:31] hoosteeno opened #6995 "Dry Market Experiment: Closure"
## Description

This is a closure card. It doesn't mean "stop the experiment now", but it hopefully leads to that.

In a closure card, we should do the tasks below, in order.

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Experiment is stopped
- [

[2019-03-27 20:33] hoosteeno opened #6996 "Headline Experiment: Closure"
## Description

This is a closure card. It doesn't mean "stop the experiment now", but it hopefully leads to that.

In a closure card, we should do the tasks below, in order.

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Experiment is stopped
- [

[2019-03-27 20:49] ejregithub opened #6997 "WNP 67 - Epic"
This epic houses the various work/issues required to launch the page for the 67 release

[2019-03-27 21:17] pmac opened #6998 "Switch to Releng's git repo for product-details data"
We are currently keeping our own git repo updated for product-details data that includes some checks for data integrity. Releng is adding our checks to their update process in https://github.com/mozilla/release-services/pull/1987, so we should be able to switch to using their repo for bedrock's data update needs:

https://github.com/mozilla-releng/product-details/tree/production/public/1.0

[2019-03-27 22:18] amychurchwell commented on #6993
**Note**: please remember that all strings **may not be included in copy dock**. Check for hero copy for when a user is _already_ signed into firefox accounts, include copy on all buttons such as 'create a firefox account', and all other action copy like "Have an account? Log in", .etc.

[2019-03-28 03:43] Mozilla-GitHub-Standards opened #6999 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2019-03-28 08:30] alexgibson commented on #6993
@ejregithub can we please try and make sure copy decks contain *all* strings that need to be on the page, and that they are double-checked against the design mockup first? This seems like an easy way for mistakes to happen otherwise. We need to be certain all the required copy is there before doing extraction.

[2019-03-28 13:40] alexgibson commented on #6149
@hoosteeno there's a new [Firefox Accounts bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1538008) that has some level of urgency behind it, and may require us to expediate removing the iframe on the above pages.

Given the above, the easiest and fastest way to remove the iframe would be the following:

1. Remove all the effected old /whatsnew templates, and either allow them to fall back to th

[2019-03-28 13:42] alexgibson commented on #6149
Current sign-in iframe numbers:

![image](https://user-images.githubusercontent.com/400117/55162228-443b7100-515f-11e9-9dac-7abe801148c4.png)

Earlier this month:

![image](https://user-images.githubusercontent.com/400117/55162240-4dc4d900-515f-11e9-96c2-173f8560ae64.png)

[2019-03-28 13:52] alexgibson commented on #6149
To quote @shane-tomlinson on Slack:

"yesterday BigQuery says 34397 folks visited with context=iframe. 5k difference to redash"

[2019-03-28 14:57] #6999 closed

[2019-03-28 17:17] ejregithub opened #7002 "Bug 1535640 - Download button on nightly release notes page has blue text instead of white"
## Description

[Bug 1535640](https://bugzilla.mozilla.org/show_bug.cgi?id=1535640)
Download button on nightly release notes page has bluen text instead of white

### Steps to reproduce

In the bug

### Expected result

Text in the download button should be blue. https://www.mozilla.org/en-US/firefox/68.0a1/releasenotes/

### Actual result

What happened.

### Environment

What browser and operati

[2019-03-28 17:31] stephaniehobson commented on #7002
Will be fixed by #6986.

[2019-03-28 17:35] #6942 closed

[2019-03-28 19:15] hoosteeno commented on #6149
@alexgibson, could we create a single fallback template identical to Whatsnew 66, and redirect all these old in-product urls there? We could add a version check at the top, but we could also skip it to get this out quickly. This would probably require us to duplicate lang files for that new template?

[2019-03-28 19:57] alexgibson commented on #6149
@hoosteeno anything is possible, but this may not be so simple as it depends somewhat on the locales that had whatsnew 66 translated. This content would also be frozen in time, so would need maintenance long term. /firstrun also needs to cover as many locales as possible (like /new).

[2019-03-28 23:07] hoosteeno commented on #6149
Ok, thanks. I think we should take the expedient route to mitigate the urgency.

Let's send everyone to the accounts page.
* This will hopefully avoid losing that trickle of new accounts we get from the firstrun page
* It includes navigation in case people want to find something else

[2019-03-28 23:13] stephaniehobson commented on #6954
We should consider keeping users with existing gtm vars out of experiments. I think it would help with the complicated mix of things around attribution.

[2019-03-29 08:36] alexgibson opened #7003 "Custom stub-attribution code on /new overwrites AMO data"
## Description

The AMO team rely on stub attribution for their ["Return to AMO"](https://wiki.mozilla.org/Add-ons/QA/Testplan/Return_to_AMO) functionality. The [custom stub-attribution script](https://github.com/mozilla/bedrock/blob/master/media/js/base/stub-attribution-custom.js) that is currently being used for a first-party experiment on /new can override this data, so we need to add an extra

[2019-03-29 08:39] alexgibson commented on #6954
Another reason to try and mitigate such a high level of experimentation on /new. Other teams rely on stub attribution data for that one page to power functionality: https://github.com/mozilla/bedrock/issues/7003

[2019-03-29 09:37] alexgibson commented on #6996
How are we doing here? I'd very much like to shut this off as soon as we have enough data (which was supposed to be yesterday), given https://github.com/mozilla/bedrock/issues/7003

[2019-03-29 09:39] alexgibson commented on #6995
This is blocking https://github.com/mozilla/bedrock/pull/6927

[2019-03-29 09:40] alexgibson commented on #6996
This is blocking https://github.com/mozilla/bedrock/pull/6927

[2019-03-29 09:58] alexgibson commented on #6958
Do we have a resolution here? What are the next steps?

[2019-03-29 10:23] alexgibson commented on #6149
I checked how many locales we have activated for each page:

- /firefox/66.0/whatsnew/ [42 locales](https://l10n.mozilla-community.org/langchecker/?locale=all&website=0&file=firefox/whatsnew_66.lang)
- /firefox/accounts/ [48 locales](https://l10n.mozilla-community.org/langchecker/?locale=all&website=0&file=firefox/accounts-2018.lang)

So for better coverage, /accounts/ probably wins.

[2019-03-29 10:42] alexgibson commented on #6562
This has been superseded by https://github.com/mozilla/bedrock/issues/6950

[2019-03-29 10:42] #6562 closed

[2019-03-29 10:44] alexgibson commented on #6985
Closing as a duplicate of https://github.com/mozilla/bedrock/issues/6995

[2019-03-29 10:44] #6985 closed

[2019-03-29 13:46] alexgibson commented on #6935
Centered newsletter post-download on /thanks/ page:
This user flow is now up on demo:

- https://www-demo1.allizom.org/en-US/firefox/new/?xv=pre-dl&v=b

![image](https://user-images.githubusercontent.com/400117/55236875-ce034100-5228-11e9-8097-ee69905c4200.png)

![image](https://user-images.githubusercontent.com/400117/55236912-dce9f380-5228-11e9-8855-33c82f8a875a.png)

![image](https://user-image

[2019-03-29 13:54] alexgibson commented on #6938
This user flow is now up on demo (use a non-FF browser to see the modal):

- https://www-demo1.allizom.org/en-US/firefox/new/?xv=pre-dl&v=c

Page load:
![image](https://user-images.githubusercontent.com/400117/55237280-b9737880-5229-11e9-94b9-05b3949bf397.png)

Click download:
![image](https://user-images.githubusercontent.com/400117/55237296-c2fce080-5229-11e9-9127-cc53f6375c52.png)

Newsletter s

[2019-03-29 14:07] alexgibson commented on #6939
This user flow is now up on demo:

- https://www-demo1.allizom.org/en-US/firefox/new/?xv=pre-dl&v=d

Page load:
![image](https://user-images.githubusercontent.com/400117/55238059-7dd9ae00-522b-11e9-9656-3e423a7fe7fd.png)

Click download:
https://www-demo1.allizom.org/en-US/firefox/download/thanks/?xv=pre-dl&v=d
![image](https://user-images.githubusercontent.com/400117/55238238-e2950880-522b-11e9-9

[2019-03-29 14:10] alexgibson commented on #6944
This user flow is now up on demo:

- https://www-demo1.allizom.org/en-US/firefox/new/?xv=pre-dl&v=e

Page load:
![image](https://user-images.githubusercontent.com/400117/55238342-2f78df00-522c-11e9-9930-ecd5a8c6f8e6.png)

Newsletter success (initiates download)
![image](https://user-images.githubusercontent.com/400117/55238367-43244580-522c-11e9-8424-852a8dc81e96.png)

Newsletter no thanks (initia

[2019-03-29 14:26] alexgibson commented on #6950
@michaelmccombie @claychaffin @hoosteeno

I've posted screenshots and links to demo for each variation. This is our one shot to try and get something that performs as good as (if not better) than the modal experince, so I'd very much welcome design/copy feedback and refinement. We can change pretty much anything we wish for copy, seeing as the experiment is en-US only.

#6935 - Experiment: Accessi

[2019-03-29 14:32] #7003 closed

[2019-03-29 16:37] sghoseWI commented on #6996
@alexgibson Based on the statistical parameters in the Mana doc, EN-US is ready to be shut off now and EN-GB should be ready to be shut off tomorrow.

With the current parameters set for CA and DE, the experiment will need to run for at least another week.

To remedy this in DE, I suggest we reduce the confidence levels for DE to 97% from 99% and increase the margin of error threshold from 1% to 2

[2019-03-29 18:48] hoosteeno commented on #7003
@alexgibson I thought [the specs we landed on for first-party stub attribution](https://github.com/mozilla/bedrock/issues/6871) would preserve any and all existing UTM parameters?

utm_campaign=download_thanks_page{or other campaign}.

Another expression of the logic is in [the pseudocode from our original work on this](https://github.com/mozilla/bedrock/issues/6704#issuecomment-459519837).

We sh

[2019-03-29 19:00] alexgibson commented on #7003
@hoosteeno thanks this was missed in the original spec. It’s now been fixed, together with an added exception for AMO.

[2019-03-29 20:17] hoosteeno commented on #6958
https://github.com/mozilla/trafficcop/issues/11

[2019-03-29 20:17] #6958 closed

[2019-03-29 20:35] hoosteeno commented on #6149
I've been thinking about this and am second guessing my earlier comment (https://github.com/mozilla/bedrock/issues/6149#issuecomment-477803259). While the accounts page seems like the best way to sustain the trickle of acquisition currently coming from firstrun, it's also not a page we treat like in-product-content, and we won't want to. It's going to change *a lot* going forward, which means its

[2019-03-29 20:48] hoosteeno commented on #6944
I really appreciate how this variation fits in with the other variations in this experiment, exploring all the places we could make this kind of CTA. I'm afraid it may trigger the same SEO risk we previously saw with our FxA-on-/new work. @rraue...
* Are you concerned about SEO impacts from having this experiment run in a single locale, for e.g. 2% of visitors, for a week?
* Would you be concerned

[2019-03-29 20:51] hoosteeno commented on #6996
@sghoseWI I agree with these. 95% is a suitable baseline LoC for our experimental work going forward, and you can adjust them in the mana doc for this experiment.

@alexgibson Considering that, it sounds like we have enough data to shut this down now.

[2019-04-01 07:59] alexgibson commented on #6996
Experiment disabled in https://github.com/mozmeao/www-config/commit/a33358a72f9afa30a71321ee9cdc37c5a451c7d7

[2019-04-01 08:04] alexgibson commented on #6996
It occured to me that because we're overriding stub attribution, we should remove the experiment code first, rather than disabling the switch. Re-opening until that's done.

[2019-04-01 08:15] alexgibson commented on #6996
PR to remove the code https://github.com/mozilla/bedrock/pull/7008

PR to disable the switch https://github.com/mozmeao/www-config/pull/214

[2019-04-01 08:18] alexgibson commented on #6995
@sghoseWI @hoosteeno can this experiment be turned off?

[2019-04-01 09:19] alexgibson commented on #6149
@hoosteeno I think your logic makes sense, but I'm not clear on which templates you're proposing we keep as the new default /firestrun and /whatsnew? Adding a new string to /firstrun is also going to have l10n implications, which will block removal of the iframe.

[2019-04-01 09:23] alexgibson commented on #6950
Blocked on design, copy and SEO feedback.

This experiment also needs a test plan.

[2019-04-01 09:27] alexgibson commented on #6894
@guyfitzpatrick

All the pages are now live in production:

- https://www.mozilla.org/en-US/firefox/campaign/?xv=betterbrowser
- https://www.mozilla.org/en-US/firefox/campaign/?xv=safari
- https://www.mozilla.org/en-US/firefox/campaign/?xv=edge
- https://www.mozilla.org/de/firefox/campaign/?xv=berlin
- https://www.mozilla.org/de/firefox/campaign/?xv=aus-gruenden
- https://www.mozilla.org/de/firefo

[2019-04-01 09:44] #6979 closed

[2019-04-01 13:35] rraue commented on #6944
@hoosteeno

- I am not concerned about the experiment, let's run it, even if the crawler runs into it, it does change the semantic perception but not as much as the fxa modal.

- Yes I am concerned as this page has so little content right now, that these sentences could change the perception. The concern will be less with the new feature content. More content on /new/ lowers the weight, even if it

[2019-04-01 15:07] alexgibson commented on #6980
Copy is "Nimm Lesezeichen und Privatsphäre-Features mit auf jedes Gerät – mit deinem Firefox-Konto."

[2019-04-01 15:31] #6980 closed

[2019-04-01 15:38] jgmize opened #7013 "Fix CircleCI integration for PRs"
CircleCI is not currently triggering on PRs. We're seeing errors like the following:

![image](https://user-images.githubusercontent.com/161718/55340452-545a9580-546a-11e9-93d1-4e63bbd0bad9.png)

[2019-04-01 15:41] jgmize commented on #7013
https://github.com/mozilla/bedrock/pull/7012 triggered a CircleCI run, but then other branches started building at the same time, so it's unclear if this was a coincidence.

[2019-04-01 19:27] hoosteeno opened #7014 "Design explorations for /all"
## Description

Create some designs that explore UIs to surface the many dimensions of our distributed Firefox products in a single page.

WIP PRD: https://docs.google.com/document/d/1MtqVFAfnDJOoR2X0OZ1yFDdSkfVUSCChgIOye8PklXk/edit

### Estimates

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Designs are ready for review

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
-

[2019-04-02 09:36] alexgibson commented on #6995
Experiment disabled in https://github.com/mozmeao/www-config/commit/06b4a56a3cfa6137ff05a9b9626a3456234ff7c4

[2019-04-02 09:47] alexgibson commented on #6995
PR to remove the experiment code: https://github.com/mozilla/bedrock/pull/7008

[2019-04-02 12:17] rraue commented on #6939
I don't see any SEO concerns the way its implemented on allizom right now

[2019-04-02 12:20] rraue commented on #6935
I have no SEO concerns about this implementation.

[2019-04-02 12:20] rraue commented on #6938
I have no SEO concerns about this implementation.

[2019-04-02 12:23] rraue commented on #6950
@hoosteeno @alexgibson I commented now on all four issues. I have no concerns about any of these tests, but if https://github.com/mozilla/bedrock/issues/6944 is a winner, we need to reconsider how to implement this permanently.

[2019-04-02 14:17] alexgibson commented on #6950
Analytics for this experiment are now in place:

Target audience: Windows, non-Firefox users.

Cohorts:

[code]

Stub attribution params:

[code]

GA event:

[code]

[2019-04-02 15:53] hoosteeno commented on #6950
@claychaffin can you review these 4 variations and suggest different copy if you wish?

[2019-04-02 16:16] #6830 closed

[2019-04-02 16:57] jgmize opened #7015 "Download tests are hanging"
## Description

The download tests are repeatedly hanging.

- https://ci.vpn1.moz.works/blue/organizations/jenkins/bedrock_multibranch_pipeline/detail/master/1587/pipeline
- https://ci.vpn1.moz.works/blue/organizations/jenkins/bedrock_multibranch_pipeline/detail/master/1588/pipeline
- https://ci.vpn1.moz.works/blue/organizations/jenkins/bedrock_multibranch_pipeline/detail/prod/402/pipeline

Runnin

[2019-04-02 18:14] craigcook opened #7018 "Update images on Leadership page"
## Description

A handful of the headshots on /about/leadership have non-white backgrounds, which is inconsistent with the established standard for these headshots. Someone has painstakingly painted out those backgrounds where possible and we need to update the images with the new versions: https://mozilla.app.box.com/s/bsht5e7gvpgij8vxj01swqpunv8o52k1

### Estimates

| Estimates |  |
| ----------

[2019-04-02 18:26] craigcook opened #7019 "DUE 04/12 - Remove Denelle Dixon from leadership page"
## Description

Denelle's last day at Mozilla is April 12. We'll need to remove her headshot and bio from the leadership page at that time.

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | 1 hour |
| SEO | |
| ANA | |
| DES | |
| COPY | |

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Denelle's headshot and bio are removed.

[2019-04-02 18:37] alexgibson commented on #6952
This is now live in production

[2019-04-02 18:37] #6952 closed

[2019-04-02 18:42] hoosteeno commented on #6149
The templates I link to above:
* https://www.mozilla.org/en-US/firefox/whatsnew/
* https://www.mozilla.org/en-US/firefox/firstrun/

I'm not proposing adding a new string -- just a new link from an existing string. E.g. `<a href="new_link">Existing string</a>`, where the existing string in question is the words, "Sign into your account."

[2019-04-02 18:48] ejregithub commented on #7018
@hoosteeno - i'm not sure of the relative priority of this one. Nothing is broken and the effort is a half day for ENG. I've placed it in the 'Future Sprint' Milestone for later consideration.

[2019-04-02 18:57] alexgibson commented on #6149
The words "Sign into your account" are part of a paragraph, and cannot be altered via insertion of a link, without it breaking existing translations.

If we're choosing a new default /firstrun template, I'd be tempted to consider https://www.mozilla.org/en-US/firefox/57.0/firstrun/, which is more up-to-date in terms of design? It's worth noting that the link "Learn more about Firefox Accounts" her

[2019-04-02 19:43] craigcook commented on #7018
It's low priority for sure and I probably greatly overestimated. The only complicated thing is processing the images but there are only four of them. Let's call it an hour.

[2019-04-02 20:53] hoosteeno commented on #6950
@sghoseWI can you review the experiment plan (https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=90742108)? I have 2 questions for you:

1) This is a brand new channel for this CTA (/new). We don't have a control for the experience we're piloting here. We want to compare it to historical rates on a _different channel_ (/firefox). Can we do that? Can you help with the hypothesis?
2) Can we

[2019-04-03 15:57] hoosteeno commented on #6996
@sghoseWI do you have a sense of when the experiment report for this will be ready for review?

[2019-04-03 16:38] hoosteeno opened #7021 "Epic: Redesign FxA Funnel"
We need our Firefox Accounts funnel on www.mozilla.org to evolve with our Firefox Accounts suite. In the past several months, we've seen some great improvements and changes that our funnel needs to consider:

* an FxA now has real value to a non-Firefox user. This means our FxA benefits page, which switches the CTA depending on UA, is no longer an optimal landing page for non-Fx users.
* FxA servi

[2019-04-03 17:24] hoosteeno commented on #6854
This is blocked by https://github.com/mozilla/fxa/issues/693.

[2019-04-03 17:28] hoosteeno commented on #6149
Great, I support this plan. Let's use this content/template as the fallback. Can it live at the fallback URL firefox/firstrun, or does it have to live at firefox/57.0/firstrun?

[2019-04-03 22:27] stephaniehobson commented on #6865
After the test I need to make a few small changes. I missed adding links to the customization section and the submenu. Natalie has requested a few copy updates too.

[2019-04-04 03:25] hoosteeno commented on #6779
@craigcook any update here? I know the stakeholders are eager to review.

[2019-04-04 08:50] alexgibson commented on #6149
It can live in both places 👍

[2019-04-04 12:47] alexgibson commented on #6149
Ok, gonna see if I can knock this one out.

[2019-04-04 14:22] rraue opened #7024 "Deindex /download/thanks/"
## Description

/download/thanks/ is indexed and I can't find the reason why this changed. The canonical to /new/ is in place but for whatever reason Google decided last week to ignore it and index /download/thanks/.

It got quite a big amaount of clicks from search and its really bad UX that the download starts directly for users coming directly from search.

We must set /download/thanks/ to noin

[2019-04-04 14:45] alexgibson opened #7026 "JS error on /firefox/new/ when using Firefox"
## Description

There's a JS error in the console on `/firefox/new/` when viewing the page using Firefox.

### Steps to reproduce

In Firefox, open https://www.mozilla.org/en-US/firefox/new/ and view the console.

### Expected result

There should be no error in the console.

### Actual result

There's an error `TypeError: n.removeEventListener is not a function`

### Environment

Only reproducibl

[2019-04-04 16:36] #7026 closed

[2019-04-04 16:38] #7024 closed

[2019-04-04 17:25] alexgibson commented on #6984
Current plan to tackle this is to add a new property to the core dataLayer event that gets triggered for all pages on mozorg:

https://github.com/mozilla/bedrock/blob/master/media/js/base/core-datalayer-init.js

[code]

As per https://github.com/mozilla/bedrock/issues/6367#issuecomment-476256394, a value of `2` indicated the Windows 10 user is in S mode.

[2019-04-04 21:18] peiying2 commented on #6922
@claychaffin grammar related:
https://github.com/mozilla/bedrock/blob/master/bedrock/mozorg/templates/mozorg/what-is-a-browser.html#L36 `...everyone have`, should be `everyone has`.

https://github.com/mozilla/bedrock/blob/master/bedrock/mozorg/templates/mozorg/what-is-a-browser.html#L30: `... Depending on how it’s used it bridges nations,`  There should be a , (comma): `...it's used, it bridges n

[2019-04-04 21:34] ejregithub commented on #6711
Closing this due to issues cited above. We can create a new issue if need be

[2019-04-04 21:34] #6711 closed

[2019-04-04 21:47] ejregithub commented on #6984
@alexgibson - can you please estimate (Fibonacci scale, in the 'Estimatate' field in the right nav) the require effort to implement this?

[2019-04-04 23:13] claychaffin commented on #6944
I chatted with JRouse. and here’s what we propose:
1) Keep the copy the same in all four variations to ensure we are testing the user’s experience. (Going with one version of copy for all was your request as well, as time is short.).
Please note: currently the copy in one of our variations (embedded form on /new) differs from the control copy.  Conform this copy as well, unless there's a reason no

[2019-04-05 08:11] alexgibson commented on #6944
@claychaffin

That's my guess here yes, but I'm slightly unclear on what you propose we use for copy instead here. Wouldn't using the same copy mean we lose the call-to-action to download Firefox that's seen in all other variations? It would be super helpful if you could provide some copy here that you think may work better.

![image](https://user-images.githubusercontent.com/400117/55613456-a52c0

[2019-04-05 10:07] alexgibson opened #7028 "Issues running smoke tests whilst pushing to run-integration-tests branch"
## Description

I'm trying to push the latest bedrock `master` branch to `run-integration-tests`.

### Steps to reproduce

[code]

### Expected result

The test run should be green, like the [last commit to master](https://ci.vpn1.moz.works/blue/organizations/jenkins/bedrock_multibranch_pipeline/detail/master/1592/pipeline).

### Actual result

The `smoke` tests for the /firefox/mobile/ page [all

[2019-04-05 10:08] alexgibson commented on #7028
@jgmize any ideas what might be happening here?

[2019-04-05 10:12] alexgibson commented on #7028
I'd also like to bring this up as an opportunity to discuss how much value these smoke tests are adding. They all get run agains each deployment anyway, and are super difficult to debug because they are inside a remote docker container?

[2019-04-05 14:12] alexgibson commented on #7028
Ok, the latest commit to master was fine: https://ci.vpn1.moz.works/blue/organizations/jenkins/bedrock_multibranch_pipeline/detail/master/1595/pipeline/39/

I'm going to try pushing this to `run-integration-tests` and see what happens.

[2019-04-05 14:24] alexgibson commented on #7028
The same commit fails against run-integration-tests: https://ci.vpn1.moz.works/blue/organizations/jenkins/bedrock_multibranch_pipeline/detail/run-integration-tests/292/pipeline/

Something definitely seems wonky. My hunch is that the docker image that runs smoke tests isn't being updated correctly.

[2019-04-05 14:30] jgmize commented on #7028
Hi @alexgibson, I'm still looking into the earlier errors, but the `Error response from daemon: Conflict. The container name [...] is already in use by container [...]` was the result of the container names being based on the commit hash and not including the branch name, so when you pushed the same commit to the master branch, there was still a container with the same name running from the previo

[2019-04-05 14:41] jgmize commented on #7028
Correction, the container name was in use from the previous *master* build; the conflict in job #1594 was from the container running from the aborted job #1593.  The reason the next master job succeeded was because it had a different container name based on a different hash.

[2019-04-05 14:59] alexgibson commented on #7028
@jgmize thanks, and sorry for all the noise in the jobs. This was a somewhat perplexing morning. Thanks for taking a look :)

[2019-04-05 16:38] jgmize commented on #7028
After discussing with @alexgibson, we've decided to stop running the smoke tests in a local docker container on jenkins in favor of only running them against deployed instances, which will eliminate this type of issue. I've filed #7030 to address this.

[2019-04-05 16:55] alexgibson commented on #7028
We removed the smoke tests and on deployment the page that relates to the failing test is 500: https://bedrock-integration-tests.oregon-b.moz.works/en-US/firefox/mobile/

There's also an error in Sentry: https://sentry.prod.mozaws.net/operations/bedrock-dev/issues/5490305/

[code]

This bundle does not yet exist in the master branch, so it looks like something is wrong with the deployment?

[2019-04-05 16:56] alexgibson commented on #7028
The bundle in question is created in this branch https://github.com/stephaniehobson/bedrock/tree/mobile, which has not yet merged to master.

[2019-04-05 17:09] sghoseWI commented on #6950
@hoosteeno -- I believe the answer is yes to both questions.  Instead of a typical controlled experiment on the same page, we can compare the metrics for the /new variants against the same metrics on the /firefox page.  I also updated the confidence level, margin of error, requisite sample size, and traffic distribution in the experiment doc to reflect the change to 95% LoC -- let me know if you h

[2019-04-05 17:39] craigcook commented on #6779
On demo: https://bedrock-demo-craigcook.oregon-b.moz.works/en-US/firefox/enterprise/sla/

Still a bit more to tidy up but it's close to done, finally. Sorry for the delay.

[2019-04-05 17:59] #6823 closed

[2019-04-05 18:06] #6149 closed

[2019-04-05 19:49] claychaffin opened #7032 "Punctuation fixes needed on https://www.mozilla.org/en-US/technology/what-is-a-browser/"
## Description:
Punctuation fixes needed on https://www.mozilla.org/en-US/technology/what-is-a-browser/

Describe the issues that you're seeing:
Missing comma
Subject-verb disagreement

What should happen?
Please add the comma
Please change the verb to agree with the subject

In the first paragraph, third sentence
"... Depending on how it's used it bridges nations, drives com..."
please add a comm

[2019-04-05 21:54] ejregithub opened #7034 "Change the CTA on the Yandex page"
## Description

Yandex CTA - Change the download button text to make it more clear what the user can expect to get when downloading either the Yandex or vanilla version of Firefox

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Primary and secondary download button CTA copy is replaced with new copy in RU

#### Tasks
- [ ] Update the primary CTA with new copy in RU: ("Download Fire

[2019-04-05 22:18] ejregithub opened #7035 "Add non-Fx content to FxA benefits page"
## Description

60% of email referrals to FxA benefits page are in non-Fx browsers. Many came from e.g. an email they opened in Mobile Safari or Chrome on Android. The email said, "Get an Account". When they get to this page, they see a big "Get Firefox" button. This is a broken experience.

We should add content, shown to non-Fx visitors, that helps them access a smaller set of services that are

[2019-04-05 22:29] ejregithub opened #7036 "Update BiAnnual Transparency Report for 2018 H2"
## Description

Twice a year we update the Transparency Report. This issue is for doing so for H2/2018 (July-Dec). The work here entails created a new URL and updating data here (for 2018 H2) https://www.mozilla.org/en-US/about/policy/transparency/jul-dec-2018/ using the /jan-jun-2018/ page as a template. And, per Mika, this work will include the addition of a new Q in the FAQ. Legal will provide

[2019-04-05 22:37] ejregithub opened #7037 "Update the Mozilla "Manage Your Email Preferences Page""
## Description

- This is required by regulation and is on the critical path for paid customers.
- MVP Basket page to let users control their subscription preferences
- Add required new and change subscriptions
- L10n required for the locales in which content is provided/sent

* [7 sheets context](https://docs.google.com/document/d/13Tei50_G8mrPCblFugvu5eGD2-QSSGUcAP9403Co-3E/edit)
* [Copy doc](ht

[2019-04-05 22:46] ejregithub opened #7038 "Update /new and /thanks with new branding, rolling out with an experiment"
## Description

Description, good enough that reading the card 1 month from now, you still know what it means.

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an example of a

[2019-04-05 22:48] ejregithub opened #7039 "A/B test new brand on /new and /thanks"
## Description

A/B test new brand on /new and /thanks

Hypothesis: If we put the new branded pages in place of the old ones, the conversion rate will remain steady or improve because the functionality and content is identical, only the colors and fonts are changing.

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY

[2019-04-05 23:15] stephaniehobson opened #7040 "Upgrade Protocol to 6.0.0"
## Description

Upgrade Protocol to 6.0.0

[2019-04-07 20:12] sghoseWI commented on #6996
@hoosteeno I've taken over duties for this report from George.  I'm hoping to have a draft of the report to show by end of week.  It seems more involved analysis-wise than some of the other recent reports, so I want to make sure I'm being thorough.  I'm also working on the report for the A/B brand test on /firefox -- hoping to have a draft of that by end of week as well.

[2019-04-08 14:53] ejregithub opened #7043 "Enable WNP in DevEdition channel using WNP 66 content"
## Description

Enable WNP in DevEdition channel using WNP 66 content - https://bugzilla.mozilla.org/show_bug.cgi?id=1540911

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an

[2019-04-08 14:55] ejregithub opened #7044 "Set up whatsnewpage on the Beta channel to be shown after each major version update"
## Description

Set up whatsnewpage on the beta channel to be shown after each major version update - https://bugzilla.mozilla.org/show_bug.cgi?id=1536665

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] The beta channel points to the WNP 66 content

[2019-04-08 15:05] jgmize commented on #7028
The deployment completed correctly, but there are references to the firefox-mobile-protocol css bundle in the docker image itself:

[code]

However, doing a checkout of that same commit locally, there are no such references:
[code]

The image above was built during https://ci.vpn1.moz.works/blue/organizations/jenkins/bedrock_multibranch_pipeline/detail/run-integration-tests/293/pipeline/24/ and
Lo

[2019-04-08 15:21] hoosteeno commented on #6854
This is blocked only on final parameters. If a developer can find all the places needing changes, and stage the changes, then when final parameters are know, we can put them in place and launch.

[2019-04-08 15:34] jgmize commented on #7028
The sparse checkout was not the issue. The issue was that we don't currently remove untracked files during the build process, and the `bedrock/firefox/templates/firefox/mobile.en-US.html` is untracked on this branch. I was under the impression that the `make clean` command that we do run during each build did this, but this is not currently the case.

[2019-04-08 18:08] amychurchwell opened #7046 "Remove old references on /firefox/new/"
## Description

Remove old page references from `/firefox/new/`

https://github.com/mozilla/bedrock/issues/6894#issuecomment-478505182

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

---

#### :yellow_heart: Success Criteria :yellow_heart:

- [ ] @guyfitzpatrick repoints ads to the following campaign URLs:
  h

[2019-04-08 18:11] amychurchwell commented on #6894
Closing this issue as primary task is complete. Opened issue for removal of the old references from `/firefox/new/` -- https://github.com/mozilla/bedrock/issues/7046

[2019-04-08 18:11] #6894 closed

[2019-04-08 18:12] amychurchwell commented on #7046
Adding blocked label as development is blocked until confirmation that ads have been repointed to new campaign URLs.

[2019-04-08 19:01] claychaffin commented on #6944
@hoosteeno Hi Justin:
1) I propose that we test experience with our variations (not copy or design).
2) Do you want to use the live /firefox page modal copy as our control? Or do we not need a control since we're establishing a baseline in a new channel? And thus, we can just go with whatever new copy we think best?
3) re: Embedded Newsletter CTA on/new (#6944)
I reco not testing this variation. T

[2019-04-08 19:02] WillatMozFdn opened #7047 "Fundraising banner to follow Internet Health Report Release"
## Description

MoFo is planning a late-April fundraising campaign and wants to bring back the home page banner for a brief time, with minor changes from Valentine's Day campaign: a) plain black background, and b) "Variant B" copy from the V-day campaign, as was implemented here: https://github.com/mozilla/bedrock/issues/6693 . It will be English-only.

---

#### :yellow_heart: Success Criteria :y

[2019-04-09 07:48] alexgibson commented on #6944
Based on @claychaffin's copy recommendations, I'm a little lost as to what needs doing to move this epxeriment forward. I'm also a little confused as to why we wouldn't want to test the embedded email form, which feels like an important alternative UX to testing the modal. Maybe I don't quite understand why the copy needs to be identical for all variations for this experiment to still be informati

[2019-04-09 08:11] alexgibson opened #7050 "Improve unit tests for `Utils.maybeSwitchToDistDownloadLinks`"
## Description

https://github.com/mozilla/bedrock/pull/5260 introduced a regression in `Utils.maybeSwitchToDistDownloadLinks` which was not picked up by the [existing unit tests](https://github.com/mozilla/bedrock/blob/master/tests/unit/spec/base/mozilla-utils.js#L52-L85).

### Steps to reproduce

Ref: https://github.com/mozilla/bedrock/pull/7049

### Expected result

The unit tests should have f

[2019-04-09 08:39] alexgibson commented on #7035
Related issues:

- https://github.com/mozilla/bedrock/issues/6907
- https://github.com/mozilla/bedrock/issues/6789
- https://github.com/mozilla/bedrock/issues/6837

[2019-04-09 08:40] alexgibson commented on #7015
I believe this issue resolved itself, closing,

[2019-04-09 08:40] #7015 closed

[2019-04-09 08:40] alexgibson commented on #7013
Is this something that still needs fixing?

[2019-04-09 08:43] alexgibson commented on #6915
This isn't related to www, so we should probably move this issue to https://github.com/mozilla/blogdotmozilladotorg/ (I tried to transfer but don't have perms for that repo).

[2019-04-09 08:55] alexgibson commented on #7028
Thanks @jgmize, I rebased on master and pushed to `run-intrgration-tests` and now all seems well again 👍

[2019-04-09 11:23] alexgibson commented on #6984
An implementation of this is now up on demo: https://www-demo2.allizom.org/en-US/

@hoosteeno is kindly providing GA assistence to make sure things look good before we push this live.

[2019-04-09 15:32] mrkwvr commented on #6914
no not yet, Clay and I will be working on those

[2019-04-09 16:16] hoosteeno commented on #6984
I need to walk through the steps defined [here](https://mixedanalytics.com/blog/ga-gtm-datalayer-custom-dimensions/). Will update the card when I have.

[2019-04-09 16:21] #6989 closed

[2019-04-09 17:18] hoosteeno commented on #6949
The websites team will take this on.

[2019-04-09 17:19] hoosteeno commented on #7039
Dupe: https://github.com/mozilla/bedrock/issues/7039

[2019-04-09 17:19] #7039 closed

[2019-04-09 18:16] hoosteeno commented on #6944
Clay is calling out a risk: When we run treatments that include multiple variables, we can't know which variable (copy? stage of the journey? background color?) was responsible for any observed differences in measurement.

This is a valid concern. One mitigation is to get rid of treatments with variables we can't control, as Clay advises. Another mitigation is to be very clear in our analysis that

[2019-04-09 18:33] alexgibson commented on #6944
< I prefer the latter. In this experiment, we are trying to understand whether we have any better options than a treatment many of us find problematic. We're putting our best treatments forward. If we discover that we do (or don't) have a better option to the treatment currently in /firefox, that will be an important learning. One of the 4 options we want to test is in #6944.

I think I have to ag

[2019-04-09 18:48] ejregithub commented on #7034
I reached to Chris Arnold for copy variations as follows:

1 - "Download Now" - replace with either

"Get Firefox for Yandex"
or
"Download Firefox for Yandex"

2 - "Download Firefox" - replace with either:

"Get Firefox without customizations"
or
"Download Firefox without customizations"

[2019-04-09 19:28] jgmize commented on #7013
No, this appears to have been a temporary issue on the CircleCI side.

[2019-04-09 19:28] #7013 closed

[2019-04-09 21:29] claychaffin commented on #6914
Hi All, I'm *blocked* on _accurate_ Send copy until we get a messaging brief. I've asked Celeste/Lauren for it in FxA - benefits channel.

[2019-04-09 21:38] claychaffin commented on #6914
https://github.com/mozilla/bedrock/issues/6914
Hi All,  I'm *blocked* on _accurate_ Send copy until we get a messaging brief. I've asked Celeste/Lauren for it in FxA - benefits channel.

[2019-04-09 22:40] stephaniehobson commented on #6849
Up on demo with placeholder content for some images: https://bedrock-demo-shobson.oregon-b.moz.works/en-US/firefox/election/

[2019-04-09 22:46] hoosteeno opened #7052 "Direct support requesters to support forums"
## Description

1. The [press blog](https://blog.mozilla.org/press/) includes an email address for the support team (Click "Explore"), but we don't provide email support. Please remove the content about emailing support. The revised content should be, "Need help? For any support requests, please [visit our forums](https://support.mozilla.org/)."
2. The [privacy page](https://www.mozilla.org/en-US/

[2019-04-09 22:50] craigcook commented on #7052
I've updated the press blog.

[2019-04-09 23:00] stephaniehobson commented on #6536
Okay now I'm SURE the SEM pages are out of date. @ejregithub can you get this on the board?

I think these are the two relevant pages:
https://www.mozilla.org/en-US/firefox/new/?xv=edge
https://www.mozilla.org/en-US/firefox/new/?xv=safari

[2019-04-09 23:20] ejregithub commented on #6536
Tagged in the new sprint milestone starting on Monday.

[2019-04-09 23:41] stephaniehobson commented on #6949
FYI for the dev who picks this up. There is a Protocol version of the pre-download modal in https://github.com/mozilla/bedrock/pull/7033

[2019-04-10 00:17] claychaffin commented on #6922
Hi Peiying, I've filed https://github.com/mozilla/bedrock/issues/7032
to address the issues you shared here. Thank you.

[2019-04-10 00:22] #6922 closed

[2019-04-10 10:08] alexgibson commented on #6950
I think we've agreed on the variations being tested in terms of copy, so removing the blocker.

[2019-04-10 11:54] rraue commented on #5741
Reopening because of https://github.com/mozilla/bedrock/issues/6949

The test on the homepage was succesful, we can use js+ld instead of microdata and we should. To fix Softwareapllication on /new we need two things:

- [ ] Converting microdata to js+ld and correct all errors (currency)

- [ ] We need an aggregated rating for Firefox, else it will not be displayed in search results but most other

[2019-04-10 12:00] rraue commented on #5741
The js+ld code including breadcrump and SiteNavigationElement:

[code]

The locale relative urls must be different in every locale of course. I double checked the code obove with the structured data testing too of google and with visual studio code but as it got quite long it would be great if someone could review it again.

[2019-04-10 12:04] rraue commented on #5741
For the aggregated rating we need an easy solution, as we dont have reviews on our page. I think just a weekly updated aggregated rating of our iOS and Android reviews would definetely do the job. Opinions? If we wnat it a bit more sofisticated, we could crawl once in a while all the download and review pages and store their ratings, but I think thats a bit too much work for a test.

Benefit will

[2019-04-10 12:18] rraue commented on #6949
I referenced the old issue around the markup on /new and pasted there the js+ld code we should use instead of the microdata. To really fix the issue, we need a solution to get aggregated ratings for firefox. My suggestion would be to take the ratings from itunes and playstore and show them to get the search snippet.

[2019-04-10 12:25] alexgibson commented on #6949
This sounds like it may be worth splitting out into a separate issue, as opposed to adding to scope here.

[2019-04-10 12:57] rraue commented on #6949
Sure, we just then shouldn't much care about the microdata or even delete it, as it has no value right now without rating and with errors.

[2019-04-10 15:44] joeyfb opened #7053 "Desktop home page hero image is 4x retina, using 2x saves 330kb load"
## Description

Max width of homepage hero image, `fxa-hero-img.png` across breakpoints is 584px, so 2400px high res image image might be too much. Removing `at2x` and hard coding 1200px wide image would save 330kb initial download on desktop home page.

Only downside I see is super high density displays, above 3x, would have a lower quality.  Apologies if I'm missing that 4x high DPI screens shou

[2019-04-10 15:46] alexgibson commented on #7053
Great bug report, thanks!

[2019-04-10 15:58] ejregithub opened #7055 "Extract strings to Pontoon"
## Description

Extract strings to Pontoon for the following pages:

- [x] https://www.mozilla.org/en-US/firefox/mac/
- [x] https://www.mozilla.org/en-US/firefox/windows/
- [x] https://www.mozilla.org/en-US/firefox/linux/
- [x] https://www.mozilla.org/en-US/technology/what-is-a-browser/
- [x] https://www.mozilla.org/en-US/technology/browser-history/

---

#### :yellow_heart: Success Criteria :yell

[2019-04-10 16:00] ejregithub opened #7056 "Extract strings to Pontoon for https://www.mozilla.org/en-US/firefox/mac/"

[2019-04-10 16:00] ejregithub opened #7057 "Extract strings to Pontoon for https://www.mozilla.org/en-US/firefox/windows/"

[2019-04-10 16:01] ejregithub opened #7058 "Extract strings to Pontoon for https://www.mozilla.org/en-US/firefox/linux/"

[2019-04-10 16:01] ejregithub opened #7059 "Extract strings to Pontoon for https://www.mozilla.org/en-US/technology/what-is-a-browser/"

[2019-04-10 16:01] ejregithub opened #7060 "Extract strings to Pontoon for https://www.mozilla.org/en-US/technology/browser-history/"

[2019-04-10 16:20] #6954 closed

[2019-04-10 16:47] ejregithub opened #7061 "Standardize parameters and values in FxA referrals"
## Description

When we send traffic to FxA signups, we need to send uniform parameters so measurement is straightforward.

1. For the `entrypoint` url parameter that we generate and send to FxA servers, please use the following standard format: `domain-point_of_CTA`. Examples from our existing site:

[code]

We may add other entrypoints later.

2. For datalayer values in FxA links, please use the

[2019-04-10 16:47] hoosteeno commented on #6854
We added a new card for putting the final parameters in place. This issue can focus on building the plumbing. Unblocking this.

[2019-04-10 16:51] hoosteeno commented on #7044
See also: https://github.com/mozilla/bedrock/issues/7043

[2019-04-10 16:51] hoosteeno commented on #7043
See also: https://github.com/mozilla/bedrock/issues/7044

[2019-04-10 17:21] ejregithub opened #7062 "Research Spike - Determine what is possible in FxA acquistion flow for non-Firefox users"
## Description

Within a week's time, research what is possible then determine what is optimal - what are the ways we can pass non-Fx users into the FxAccount sign up flow
(Send?  Monitor?  etc)

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This

[2019-04-10 17:29] hoosteeno commented on #7035
Blocked by https://github.com/mozilla/bedrock/issues/7062

[2019-04-11 02:31] hoosteeno commented on #6984
I've made these changes and am waiting on review (from AnalyticsPros).

[2019-04-11 02:58] hoosteeno commented on #7037
[Some notes](https://docs.google.com/document/d/1NJjPQfQwYWD7Pf_DJagwDTTY12TJrjzlOTijY4ACRAY/edit?ts=5cabd514) from a contexting session we had.

[2019-04-11 03:30] ejregithub commented on #7014
@mrkwvr - please provide a size Estimate for your work on this card. Do so with the Fibonacci scale in the Estimates section in the right nav.

[2019-04-11 03:31] ejregithub commented on #6995
@sghoseWI - the task in the description to "Publish an experiment report (@sghoseWI)" has been closed. If that's correct and done, can you please provide the link to that here?

[2019-04-11 06:24] sghoseWI commented on #6995
@ejregithub The report is done -- linked here: https://docs.google.com/document/d/1L3y9nxfGID3xKn5ZqYMWOM2Mz5fRITU41bKHKMQEdYk/edit#

[2019-04-11 06:27] ejregithub commented on #6995
Excellent, thanks @sghoseWI  (Now get some rest, man!)

[2019-04-11 06:29] ejregithub commented on #6995
All the tasks appear to be done, so I'm closing this.

[2019-04-11 06:29] #6995 closed

[2019-04-11 08:29] alexgibson commented on #6950
Copy deck for variations: https://docs.google.com/document/d/1PWPGF4m1Ju2-RUqiHiaknzlicspPfSOOjWXVB8kcLes/edit?usp=sharing

[2019-04-11 09:11] alexgibson commented on #6950
Experiment variations on demo have now been updated with the improved copy, thanks @claychaffin!

@hoosteeno whilst we get this code reviewed, it would be great if someone could help to verify that tracking is in place for this experiment on demo. Who can best help with this task?

[2019-04-11 09:16] alexgibson opened #7063 "Features experiment: closure"
## Description

The features experiment implemented in https://github.com/mozilla/bedrock/issues/6830 has now been [running in production for 9 days](https://github.com/mozmeao/www-config/commit/d8a690754491ec6e82652e7e4c2d49b09ead7c2f), which should hopefully be more than enough time to get the required data. Can we turn the experiment off?

### Estimates

| Estimates |  |
| ------------- | -----

[2019-04-11 09:16] alexgibson commented on #7063
/cc @hoosteeno @ejregithub

[2019-04-11 09:19] alexgibson commented on #7053
Fixed in https://github.com/mozilla/bedrock/pull/7054

[2019-04-11 09:19] #7053 closed

[2019-04-11 09:20] alexgibson commented on #7059
Blocked by https://github.com/mozilla/bedrock/issues/7032

[2019-04-11 09:59] alexgibson commented on #6984
@hoosteeno can you give me a walkthrough of how to view this custom dimension in GA? I'd like to try and validate that my laptop correctly identifies as running s-mode. Thanks

[2019-04-11 14:34] jgmize commented on #7028
Now that both #7045 and #7030 have been merged, I believe this is fully resolved.

[2019-04-11 14:34] #7028 closed

[2019-04-11 14:49] claychaffin commented on #6950
@alexgibson Hello! Where can I view the demo or the page layouts with the copy in them, please?
To be clear, I'm still finalizing copy this morning, which is why I left options in the copy deck.
I'll tidy up the deck once finalized. Thanks.

[2019-04-11 14:55] alexgibson commented on #6950
@claychaffin you can find links to each demo instance here https://github.com/mozilla/bedrock/issues/6950#issuecomment-478017208

[2019-04-11 14:57] alexgibson commented on #6950
Here are the dmeo links for convenvience:

- https://www-demo1.allizom.org/en-US/firefox/new/?xv=pre-dl&v=a (Control).
- https://www-demo1.allizom.org/en-US/firefox/new/?xv=pre-dl&v=b (Improved post-download newsletter on /thanks).
- https://www-demo1.allizom.org/en-US/firefox/new/?xv=pre-dl&v=c (Pre-download modal on scene 1).
- https://www-demo1.allizom.org/en-US/firefox/new/?xv=pre-dl&v=d (Pre-

[2019-04-11 17:01] hoosteeno commented on #6944
I reviewed these with Lauren and she r+'d them.

[2019-04-11 17:55] hoosteeno opened #7064 "Evaluate split.io"
@alexgibson, can you take a look at this application and comment in the doc? https://docs.google.com/document/d/1vkbuqK7onCPhDRm9BsnjFmQFluCRvi0hB4_qM4RKep4/edit#heading=h.xdhcjqwh13mn

[2019-04-11 18:27] ejregithub commented on #6923
I originally thought the request came in because there was no Instagram link at all.  Clearly we need to stick with what we've got. If the Firefox Instagram can be provided in the Firefox site /firefox/*, other than in the footer, great. But we won't solve that here, so I'm closing this and the bug.

[2019-04-11 18:27] #6923 closed

[2019-04-11 20:30] amychurchwell commented on #6854
**utm_source:**
Currently, any template on mozorg that passes a `source` value to any macro utilizing `fxa_link_fragment` will overwrite/add `utm_source` onto the URL. So mozorg will be getting the credit for those referrals regardless of where the user originally come from (ex: desktop-snippet). We should do a utm check to see if a source value is currently in place before adding our own.

Unfort

[2019-04-11 21:43] hoosteeno commented on #6854
(ref: https://github.com/mozilla/bedrock/blob/c304c1ad7e7a3537c67cdb0d70c85bf6a4481781/bedrock/base/templates/macros.html#L304)

Question: Do we actually need to check to see if a utm_source value is in place, or can we simply check to see if the utm_source _key_ is present? And if we checked only for presence of the key, would we mitigate the XSS risk?

If there is no other way forward, we could

[2019-04-11 22:29] amychurchwell commented on #6879
@ejregithub in the copy deck it says "[Insert Content Blocking menu]" --what is the content blocking menu?
(Also is this copy final? It says "Headline Options:" at the top which makes me feel like it is a WIP.)

[2019-04-11 23:09] ejregithub commented on #6879
Hi Amy - I updated to the link to the copy doc that is now in our template, but I see the same things in the newer version - https://docs.google.com/document/d/1ZSvg6Qh9Rbqzu_7Mqo5CNEitAH7ryxNg5DyONmnJ6EA/edit

The headline should not be listed as an option (it's 'it'), i've reflected this in the copy.

Meanwhile, I've asked Chelsea to insert screenshots from the product to help us in deteriming w

[2019-04-11 23:33] amychurchwell commented on #6854
_Afaik_, no. To truly mitigate the risk I believe we would need to do a check to see if it is signed to verify. I believe using regex to check for a format of parameters that we expect is the only form of validation we do currently, which is important but maybe there is something more we can do. It is something to look into.

Agree that it would be nice to not put this burden on the client, but tb

[2019-04-12 01:44] pmac commented on #6854
Does this mean that it might be sufficient to look for the presence of a `utm_source` parameter in the URL, and if it's there simply remove the `utm_source=www.mozilla.org` from the FxA URL? The risk is in putting the value from the URL in the DOM of the page via JS since the value is untrusted and could be malicious. But if we don't move any data into the page and simply look for the presence of

[2019-04-12 02:58] claychaffin commented on #6944
@alexgibson Hi Alex, I've updated the copy deck. Please refer to my comments there for specifics. Thanks.
https://docs.google.com/document/d/1PWPGF4m1Ju2-RUqiHiaknzlicspPfSOOjWXVB8kcLes/edit?usp=sharing

[2019-04-12 04:45] ejregithub commented on #6879
@amychurchwell - Chelsea updated the copy doc with images for each of the sections in question.  Please review. Take better/higher res images as appropriate and don't hesitate to reach out with any questions.

[2019-04-12 05:36] alexgibson commented on #6854
There’s a lot of discussion and I may have missed something, but I think there’s a relatively non-complex solution.

The Firefox Accounts team already had a list of utm param regex validation rules that they apply on the server side https://mozilla.github.io/application-services/docs/accounts/metrics.html#descriptions-of-metrics-related-query-parameters

We should use these rules and validate them

[2019-04-12 06:49] sghoseWI commented on #6996
Experiment report: https://docs.google.com/document/d/1SzPkDKGSbkb5J3cuTAzr4-YuLV2Og8B1glk3OBFVcDs/edit

[2019-04-12 13:15] alexgibson opened #7066 "Remove unused front-end assets"
## Description

Here's a list of front-end JS and CSS assets in the bedrock repository that are no longer being actively used by any pages (as far as I can see). Rather than maintain them long-term, we can likely remove the files as many have not been actively used in a long time. Everything lives in git history, so can always be brought back from beyond? :)

Note: I didn't go through the image di

[2019-04-12 13:33] alexgibson commented on #6994
@hoosteeno this seems like something that's relatively low-effort and has a high payoff (poor UX and technical debt of current pages). I'm curious, why does this needs a seven sheets?

[2019-04-12 14:24] pmac commented on #6854
That is fantastic Alex! I did not know about that. Great solution. 💯

[2019-04-12 15:34] #7019 closed

[2019-04-12 15:38] alexgibson commented on #7064
Closing this based on our discussion today. Happy to evaluate further down the road if needed 👍

[2019-04-12 19:27] hoosteeno commented on #6984
(We walked through this in Slack)

[2019-04-12 20:04] amychurchwell commented on #6879
do any of the links in the copy doc need to have utm parameters?

[2019-04-12 20:52] hoosteeno opened #7067 "Add email-first form to backup/default firstrun page"
## Description

The backup/default firstrun experience that we recently changed in #6149 was an important source of new FxA. Now that we've removed the signup form, it is no longer an important source, and as a result FxA acquisitions are noticeably down (https://github.com/mozilla/fxa/issues/818).

We should add the iframeless form to the backup/default firstrun experience.

### Estimates

| Esti

[2019-04-12 21:46] #6993 closed

[2019-04-12 21:50] ejregithub commented on #6779
blocked by PDF.  i pinged Tyler about in Slack

[2019-04-12 21:58] #6984 closed

[2019-04-12 23:16] hoosteeno commented on #7035
This is ready for review from 2 perspectives:
1. Code
2. UX/UI

[2019-04-12 23:18] hoosteeno commented on #6914
This is ready for design and copy review. Copy and image in attached screenshot comes from WNP66.

![Screen Shot 2019-04-12 at 5 18 04 PM](https://user-images.githubusercontent.com/94519/56070746-f3bf3880-5d46-11e9-8396-91bfba2b3f38.png)

[2019-04-12 23:24] hoosteeno commented on #6914
@claychaffin @mrkwvr Can you take a look? [Full screenshot for context here](https://user-images.githubusercontent.com/94519/56070849-9ecff200-5d47-11e9-8073-cbadc28f584f.png).

[2019-04-13 09:05] yoasif opened #7070 "Excessive whitespace in release notes page"
## Description

Saw reports of excessive whitespace: https://www.reddit.com/r/firefox/comments/bcolsf/is_there_a_reason_theres_so_much_whiteempty_space/ on the release notes page.

It definitely feels like there is too much vertical whitespace between one line release descriptions.

Describe the issue that you're seeing.

### Steps to reproduce

1. Visit https://www.mozilla.org/en-US/firefox/66.0.

[2019-04-13 10:34] CuriousGeorgeGTS commented on #7070
Same results on Chrome (Windows)

[2019-04-14 14:48] junngo opened #7071 "Look different between chrome and firefox."
## Description
I use both browser firefox and chrome. I checked, look different between chrome and firefox.
I can see download button on chrome. But I can't see button on firefox.

### Steps to reproduce
- Check on firefox.
- Check on chrome.
URL : https://www.mozilla.org/en-US/firefox/68.0a1/releasenotes/

### Expected result
On chrome
![1_chrome](https://user-images.githubusercontent.com/2968452

[2019-04-14 15:34] alexgibson commented on #7071
This is expected behaviour. We don’t Show the download button to Firefox users since they are already using Firefox.

[2019-04-14 15:36] alexgibson commented on #7071
Oh wait, I’m this case you’re highlighting that we hide the Nightly download button to regular FF users. I’m going to reopen and double check what the intended behaviour should be here. Thanks

[2019-04-15 08:39] alexgibson commented on #7034
@ejregithub we need a decision on the copy here, and for those strings to be provided in Russian. Adding a blocked label to this.

[2019-04-15 09:18] alexgibson commented on #7063
This experiment has now been running for nearly 2 weeks. Unless anyone can confirm that we don't have enough data yet, I'm going to shut this off. Any objections @hoosteeno @ejregithub?

[2019-04-15 09:22] alexgibson commented on #7063
PR to disable the experiment: https://github.com/mozmeao/www-config/pull/218

[2019-04-15 12:19] alexgibson commented on #7044
Pull request: https://github.com/mozilla/bedrock/pull/7073

[2019-04-15 14:07] hoosteeno commented on #6994
It may not need a 7 sheets; I think it needs some evaluation and recommendation by someone expert in the content area. So maybe this is an epic with a couple stories in it?

* Figure out what pages go away; determine if there are any technical gotchas awaiting; specify the changes; make sure we aren't overlooking a stakeholder or dependency.
* Make the changes

[2019-04-15 14:08] hoosteeno commented on #7063
@sghoseWI The first step in a closure card is yours. Can you tell us if we have enough data to shut this down?

[2019-04-15 15:02] claychaffin commented on #6914
Hey @Justin Crawford <hoosteeno@mozilla.com>, legal forbids "secret agent"
so I'm looking for a replacement. Otherwise, I like this copy. Thanks.

On Fri, Apr 12, 2019 at 4:24 PM Justin Crawford <notifications@github.com>
wrote:

[2019-04-15 15:02] mrkwvr commented on #6914
@hoosteeno I didn't realize we already had an illustration and copy for this. This is the illustration I created for the page if we want to use that. I think either one works
![Screen Shot 2019-04-15 at 10 29 30 AM](https://user-images.githubusercontent.com/29285941/56143098-e89a2180-5f6d-11e9-9721-40a351e41f97.png)

[2019-04-15 15:35] hoosteeno commented on #7035
@mrkwvr can you review [the screenshot here](https://user-images.githubusercontent.com/94519/56085445-a56e7000-5e00-11e9-96ce-30dd0096311e.png) in light of the description above from a UI/UX perspective, and offer any suggestions you think make it better? Feel free to mock them up if you wish.

[2019-04-15 15:42] hoosteeno commented on #7014
@mrkwvr can you link this card to the artifacts of this work? What's the current status?

[2019-04-15 15:45] LaurenNiolet commented on #7035
From our perspective on accounts growth, the layout in the screenshot addresses a primary concern, that users who were interested in an account weren't seeing an accounts CTA when they hit the page. I'll certainly defer to @mrkwvr for more sophisticated analysis.

[2019-04-15 15:48] hoosteeno opened #7074 "Remove headline experiment code"
## Description

The [headline experiment we recently ran on /new](https://github.com/mozilla/bedrock/issues/6996) has run its course. We await any instruction on next steps from the stakeholders -- they may wish to make one of the headlines permanent -- but meanwhile, we can remove the experiment code.

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Headline experiment code and template

[2019-04-15 15:49] hoosteeno commented on #6996
Filed removal issue #7074.

[2019-04-15 15:49] #6996 closed

[2019-04-15 15:50] mrkwvr commented on #7014
@hoosteeno sure thing. I've just place copy into the file this morning and will link to the sketch file once I've cleaned it up

[2019-04-15 15:52] alexgibson commented on #7074
This code is already gone :)

[2019-04-15 15:52] #7074 closed

[2019-04-15 15:54] alexgibson commented on #7060
@ejregithub are there any priority locales this should be considered for?

[2019-04-15 16:01] ejregithub commented on #7060
German & French.  (Plus all EN).  Anika is queued to hit Pontoon as soon as the strings are there.

[2019-04-15 16:03] mrkwvr commented on #7035
The one recommendation would be to use the ghosted (outlined) buttons for all the benefits/products and the blue button for the CTA at the bottom. Right now there are too many blue buttons. I can mock up if that's helpful

[2019-04-15 16:14] hoosteeno commented on #7035
This is done.

[2019-04-15 16:17] LaurenNiolet commented on #7035
what is that bottom CTA if the user is in Firefox?

[2019-04-15 16:21] ejregithub opened #7075 "Copy for /all"
## Description

Copy for /all

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Is done by 4/18

#### Tasks
- [ ] @claychaffin  to write copy and provide to @mrkwvr  to float into design
- [ ] Get SEO input

[2019-04-15 16:25] ejregithub opened #7076 "Coding /all"
## Description

Coding the the /all page with new design and copy

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is live and open for localization by end of sprint.
- [x] Fallback to existing content until locales (per locale basis) are to 100%
- [ ] Can deep link to a specific configuration
- [x] OS is detected, pre-selected (but still changeable)
- [x] OS dropdown is sorted

[2019-04-15 16:28] hoosteeno commented on #7035
Sync-state dependent:

<img width="1196" alt="Screen Shot 2019-04-15 at 10 27 27 AM" src="https://user-images.githubusercontent.com/94519/56149144-1f216d80-5f69-11e9-880a-dce925d83fb7.png">

<img width="1348" alt="Screen Shot 2019-04-15 at 10 27 10 AM" src="https://user-images.githubusercontent.com/94519/56149148-2183c780-5f69-11e9-8b42-2b76662e62a3.png">

[2019-04-15 16:31] LaurenNiolet commented on #7035
thankee

[2019-04-15 16:31] LaurenNiolet commented on #7035
I don't think I'm blocking this, but in case I am: I approve this message.

[2019-04-15 17:02] peiying2 commented on #7060
@alexgibson depending on the long term interest in the page, you can use these two examples:

1). https://github.com/mozilla-l10n/langchecker/blob/master/app/config/sources.inc.php#L228  - we only make the page available in these locales.
2). https://github.com/mozilla-l10n/langchecker/blob/master/app/config/sources.inc.php#L297 - we make it available for all locales, but we list the required loca

[2019-04-15 17:38] claychaffin commented on #6780
I've opened a DM on Slack with P_____  and @hoosteeno for guidance on (re)naming the Firefox Quantum browser on this page in light of master brand rollout and name exploration underway.

[2019-04-15 19:26] hoosteeno commented on #7063
Here's a link to a report template you can use to report on this: https://analytics.google.com/analytics/web/template?uid=OE4HJKOkQ_yE02tUL6JYdQ

[2019-04-15 19:31] sghoseWI commented on #7063
@hoosteeno -- Looks like there is a sufficient sample in each locale and variant -- we can safely shut off the experiment.

[2019-04-15 19:44] hoosteeno commented on #7063
Here's a link to a report template you can use to report on this: https://analytics.google.com/analytics/web/template?uid=OE4HJKOkQ_yE02tUL6JYdQ

[2019-04-15 22:38] ejregithub commented on #7014
Closing this issue. All the same, @mrkwvr - please link to the sketch file here

[2019-04-15 22:38] #7014 closed

[2019-04-15 22:39] ejregithub commented on #6950
Moving this issue to the next sprint milestone.  Only code review is pending.

[2019-04-16 08:22] alexgibson commented on #7061
@ejregithub I'm confused what this issue is for. Can you add some more information? Thanks

[2019-04-16 08:43] #7070 closed

[2019-04-16 09:11] alexgibson commented on #7046
@guyfitzpatrick can you please provide an estimate for when removing these URLs will become unblocked? Thanks

[2019-04-16 13:13] mrkwvr commented on #7014
as soon as I get final copy from Clay I will post the sketch file here

[2019-04-16 14:52] hoosteeno commented on #6854
@amychurchwell , do you think it would be possible to add to this code a uniform event category for FxA links? Right now, our event instrumentation of referrals depends on labels (e.g. "Get a Firefox Account"), which makes them brittle. If we used a category (e.g. "FxA Referral" or similar) we would not be dependent on a CTA string.

[2019-04-16 14:53] hoosteeno commented on #6854
@amychurchwell the parameters are named, so there is no further reason to delay landing this code: https://github.com/mozilla/fxa/issues/693#issuecomment-483623606

[2019-04-16 15:02] ejregithub commented on #7061
This the task to complete the work by adding the new parameters. The parameters are named so we can land this code: mozilla/fxa#693 (comment)

[2019-04-16 15:15] ejregithub commented on #6854
Closing this as the set up work was done. Inserting the parameters now that they are available the work to insert them is to be done in #7061

[2019-04-16 15:32] hoosteeno commented on #7061
I added two comments to the closed card mentioned above. Can we discuss here?

1: @amychurchwell , do you think it would be possible to add to this code a uniform event category for FxA links? Right now, our event instrumentation of referrals depends on labels (e.g. "Get a Firefox Account"), which makes them brittle. If we used a category (e.g. "FxA Referral" or similar) we would not be dependent

[2019-04-16 15:54] #7075 closed

[2019-04-16 16:25] alexgibson opened #7080 "Remove `en` conditional on global FxA CTA in the nav"
## Description

I talked with @peiying2 on Slack, and she agrees we can remove the [`en` conditional](https://github.com/mozilla/bedrock/blob/master/bedrock/base/templates/includes/protocol/navigation/index.html#L27) on the FxA CTA in the global navigation. Some [locales are still behind](https://l10n.mozilla-community.org/langchecker/?locale=all&website=0&file=navigation.lang), but seeing an untr

[2019-04-16 16:47] ejregithub opened #7082 "Pre/post measurement of impact of removing `en` conditional in Global Navigation"
## Description

Pre/post measurement of impact of removing `en` conditional

Currently users visiting the site w. Firefox are shown the Fx Accounts CTA in the global navigation. For locales that have not completed localization of the nav, the Fx CTA is not shown. This change will show that CTA, albeit in English until a/the locales catch up in completing their lang file(s)

From #7080 - we will re

[2019-04-16 16:49] mrkwvr commented on #7014
final design file
[Firefox :all 04162019.sketch.zip](https://github.com/mozilla/bedrock/files/3085995/Firefox.all.04162019.sketch.zip)

[2019-04-16 17:31] alexgibson opened #7083 "Investigate alternate / 1st party analytics"
## Description

With the rise of adblockers and tracking protection, we should investigate a 1st party, self-hosted, analytics solution. This will become especially useful for user agents that default to privacy always on.

Example: Firefox Nightly with a new profile visiting Mozorg:

<img width="1680" alt="Screenshot 2019-04-16 at 18 10 14" src="https://user-images.githubusercontent.com/400117/56

[2019-04-16 17:35] alexgibson commented on #7083
/cc @hoosteeno

[2019-04-16 18:00] #6950 closed

[2019-04-16 18:32] ejregithub commented on #7034
@alexgibson - We can move forward with replacing the primary CTA "Download Now" with:

"Download Firefox for Yandex" = Скачать Firefox с Яндексом

We've not received better copy for the 2nd, so let's leave that out and open a new issue if that comes in.

[2019-04-16 20:48] claychaffin commented on #6780
@hoosteeno @rraue  @mrkwvr  have an answer from P:  we're going with "Firefox browser" (not "Firefox Quantum") everywhere on this page, and in SEO. Thanks everyone.

[2019-04-16 21:15] ejregithub opened #7085 "Set up mozilla-org-fr-content-hub-homepage"
## Description

As with the en-US and DE versions of the homepage, this issue is for setting up the same for FR mozilla-org-fr-content-hub-homepage

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] New FR homepage is ready for content by end of the sprint (5/24)

#### Tasks
- [ ] Code FR homepage template with the same card functionality available in en-US and DE versions

[2019-04-16 21:42] #7080 closed

[2019-04-16 21:46] amychurchwell commented on #7082
#7080 has been merged to master. Will probably be pushed to production tomorrow.

[2019-04-17 04:44] ejregithub commented on #6854
@amychurchwell - please an Estimate to this work.

[2019-04-17 04:45] ejregithub commented on #7014
@mrkwvr - please provide a size Estimate for your work on this card. Do so with the Fibonacci scale in the Estimates section in the right nav.

[2019-04-17 04:50] ejregithub commented on #6995
@sghoseWI - thinking of what kind of effort this took and the complexity of it, use the Estimation tool in the right nav to gauge with the Fibonacci scale and apply a number.  1 is easy, probably just you doing the work and finishing in about a day. Compare this to a 21, which is probably 1 person for most of the sprint or multiple team members working to close the issue in around half the sprint.

[2019-04-17 04:55] ejregithub commented on #6694
@alexgibson - can you please apply an Estimate to the effort/complexity for this work?

[2019-04-17 04:55] ejregithub commented on #6031
@alexgibson - can you please apply an Estimate to the effort/complexity for this work?

[2019-04-17 07:58] #7032 closed

[2019-04-17 08:01] alexgibson commented on #6694
Done, thanks

[2019-04-17 08:03] alexgibson commented on #6031
I can't find this issue on zenhub, so I'll provide an estimate here: 2

Thanks

[2019-04-17 13:13] alexgibson commented on #7064
Reopening this issue as I'm spending some more time getting this running on demo

[2019-04-17 14:56] alexgibson commented on #7064
I took a go at writing and implementing an experiment.

You can enter into the experiment here: https://www-demo1.allizom.org/en-US/firefox/campaign/

The code can be found in this branch: https://github.com/alexgibson/bedrock/commits/split-io-demo

Next steps: I'm going to compile a list of questions for the meeting tomorrow.

[2019-04-17 16:12] ejregithub opened #7087 "naexp05 - Pre/post test - cross-posting blogs to medium"
## Description

Enable cross-posting of Blogs from WP to medium
[manapage](https://mana.mozilla.org/wiki/display/EN/Cross-posting+Blogs+to+medium)
[Bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1543192)
https://trello.com/c/dfZ54iZZ

Driving Insight: We believe that a custom content block added to the Wordpress parent blog theme that allows blog editors to add call-out content that is distinct

[2019-04-17 16:50] alexgibson commented on #7082
This change is now in production, thanks all!

[2019-04-17 18:32] LucyeoH commented on #6994
Hey! @hoosteeno  I can be the content expert here. For background the current page is the result of an experiment I ran in 2016 with the old Mozilla.org owner (Jenn Bertsch) to try and address the out of date and broken experience on /contribute. However, there was not enough bandwidth on the Mozilla.org team to continue to design experiments and update the content. Therefore like so many contribu

[2019-04-17 19:01] LucyeoH commented on #6994
As per my convo with @hoosteeno  I think makes the most sense is to A) do the /getinvolved redirect now so we’re pointing people to a maintained site and not directing them at dead (“hazardous”) products like MozStumbler B) Implement the survey to get genuine data about the audience of the page on  /contribute so we can optimize the page content for audience.

[2019-04-17 20:07] amychurchwell commented on #6879
@ejregithub up on demo for stakeholder review: https://bedrock-demo-achurchwell.oregon-b.moz.works/en-US/firefox/features/adblocker/

[2019-04-17 21:58] claychaffin commented on #6914
Here is the final copy. Thanks for your patience.
https://docs.google.com/document/d/1rmelaXbYKQ3FiDLhNIT1VItF5TQ8_fEh2ngQGAFx1-4/edit?usp=sharing

[2019-04-18 09:41] alexgibson commented on #6720
My plan for this experiment has changed slightly. Rather than concentrating only on page weight and load time, I think it may be more impactful if we conduct an experiment that attempts to measure the impact of _perceived_ performance (i.e. how long it takes for critical content to apear on the page).

Closing this issue, and will reopen a new one.

[2019-04-18 09:41] #6720 closed

[2019-04-18 10:56] guyfitzpatrick commented on #7046
@alexgibson the campaign URLs have now been updated. Please can you confirm that if the old pages get traffic from other sources that they will redirect to the new URL? i.e. https://www.mozilla.org/de/firefox/new/?xv=auf-deiner-seite will redirect to https://www.mozilla.org/de/firefox/campaign/?xv=auf-deiner-seite ?

[2019-04-18 11:06] alexgibson commented on #7046
@guyfitzpatrick thanks for the update. Our aim is to remove complexity surrounding /new to make our core download page less risk prone, so we don’t plan to maintain legacy redirects to these landing pages once the references are removed. I’d urge you to update wherever possible.

Note: If a URL does not update, it will default to the regular /new landing page so we won’t risk losing conversions fr

[2019-04-18 12:39] guyfitzpatrick commented on #7046
@alexgibson thank you! I just wanted to make sure users don't get a 404, the /new landing page is fine for those updates outside of our control

[2019-04-18 12:45] alexgibson commented on #7046
Great, thanks again!

[2019-04-18 14:28] alexgibson opened #7090 "Add data-card-tag attribute to card macro"
## Description
Analytics Pros have asked if we could add an additonal `data-card-tag` attribute to the protocol [card macro](https://github.com/mozilla/bedrock/blob/master/bedrock/base/templates/macros-protocol.html#L100), so that we can more easily track the types of card people click on.

e.g. `data-card-tag="security"`

The value should match the value of `tag_label`.

---

#### :yellow_heart:

[2019-04-18 14:29] alexgibson commented on #7090
/cc @ejregithub

[2019-04-18 15:50] ejregithub commented on #6879
@amychurchwell - Aleks noticed a missing 's' on tracker(s) in this sentence:

"On Firefox, you can use Privacy or Content Blocking settings to get even more control over ad trackers that serve you the ads."

[2019-04-18 16:55] alexgibson commented on #7057
I chatted to Peiying here and the best way to translate these pages would be to:

1. Include `{% add_lang_files "firefox/new/quantum" %}` in the templates.
2. Wrap the new strings in l10n conditionals, falling back to the old headline.

This will mean that _all locales_ will be active for this page from the outset, but only those who have translated the new strings will see "Firefox fights for you

[2019-04-18 19:28] ejregithub commented on #7034
Blocker placed back. We're close to the copy for the 2nd CTA so let's do that with the primary copy change.  I'll update this when I have it and remove the blocker at that time.

[2019-04-18 19:43] ejregithub commented on #7034
And this in now good to go and noted in the Description above:

2nd CTA - Download Firefox without Yandex - Скачать Firefox без яндекса

[2019-04-18 21:05] #6849 closed

[2019-04-19 02:13] hoosteeno opened #7093 "win10sUser not showing up in GA"
I haven't been able to get win10sUsers to show up in GA. The configuration looks right from GTM/GA side, but there are 0 such users right now. It seems unlikely (but not impossible!) that we simply get 0 visits from 10s users right now.

Since [I can't find docs explaining how to test 10s without buying hardware](https://superuser.com/questions/1427203/is-there-a-way-to-install-windows-10s-in-a-vi

[2019-04-19 07:02] alexgibson commented on #7093
@hoosteeno the only way to test this is on Windows 10 S hardware right now, AFAIK. I'm happy to look into this when I return on Tuesday, but here are some hints in the meantime:

You can see the code in question here: https://github.com/mozilla/bedrock/blob/master/media/js/base/core-datalayer.js#L61-L79

The value returned right now is a boolean `true` or `false`, so GA should be looking for that.

[2019-04-22 15:20] hoosteeno commented on #7083
The code landing in a future version of Firefox will block cookies from certain third party providers identified by Disconnect.me. GA's basic analytics cookies (including GA and GTM) will not be blocked.

[Analysis here.](https://docs.google.com/document/d/1zekLgbJcH_Qz8g9ZD71o3zlSlGpaoe2UeqwPynOAzAk/edit#)

[2019-04-22 15:51] hoosteeno commented on #6984
Here's a link to [a report in GA that appears to contain the data we seek](https://analytics.google.com/analytics/web/#/report/acquisition-channels/a36116321w64087799p65789850/_.useg=builtin1&_.goalOption=2&explorer-table.secSegmentId=analytics.customDimension32&explorer-table.plotKeys=%5B%5D&explorer-table.advFilter=%5B%5B0,%22analytics.customDimension32%22,%22PT%22,%221%22,0%5D%5D&explorer-table

[2019-04-22 16:08] hoosteeno commented on #7063
@sghoseWI when you're done with the experiment report on this, can you link here?

[2019-04-22 16:10] hoosteeno commented on #6779
@craigcook can you add status here?

[2019-04-22 16:22] craigcook commented on #6779
PR https://github.com/mozilla/bedrock/pull/7084 is ready for review, but still blocked by a PDF for a deployment guide that Mike Kaply and Tyler Ahn are providing. Once I have that file I just need to upload it to assets.mozilla.net and update the link in the page.

[2019-04-22 16:40] hoosteeno commented on #6779
@craigcook here's the PDF. [Firefox for Enterprise Browser Deployment Guide.pdf](https://github.com/mozilla/bedrock/files/3104092/Firefox.for.Enterprise.Browser.Deployment.Guide.pdf)

[2019-04-22 18:09] hoosteeno opened #7095 "Pre-download on /new: launch it"
The pre-download on /new experiment (#6950) is in prod (not switched on yet). We should switch it on.

Please see the experiment plan if there are any questions: https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=90742108

[2019-04-22 18:28] #7095 closed

[2019-04-22 20:04] sghoseWI commented on #7063
@hoosteeno Yes - will do!

[2019-04-22 22:51] hoosteeno opened #7096 "Pre-download newsletter: Bump up exposure %s?"
I'm looking at data from the pre-download newsletter CTA and seeing appx. 500 visitors today to the experimental variations. We need appx. 10k per variation to finish this experiment in a week. I'm not convinced we'll get it at the current rate.

Can we change the distribution to 88/3/3/3/3?

Refs:
https://github.com/mozilla/bedrock/issues/6950#issuecomment-479017110
https://mana.mozilla.org/wiki/

[2019-04-23 08:54] alexgibson commented on #7093
@hoosteeno it looks like you may have figured this out, can we close this issue?

[2019-04-23 09:27] alexgibson commented on #7060
The lang files for this page have been extracted and pushed our for translation.

[2019-04-23 09:27] #7060 closed

[2019-04-23 12:17] alexgibson opened #7099 "/de/firefox/election/ redirects to /en-US/firefox/election/"
## Description

The [German version](https://www.mozilla.org/de/firefox/election/) of the new election page is redirecting to the [en-US version](https://www.mozilla.org/en-US/firefox/election/).

### Steps to reproduce

1. Visit https://www.mozilla.org/de/firefox/election/

### Expected result

The page should display content in German

### Actual result

The page redirects to the US English vers

[2019-04-23 12:34] alexgibson commented on #7057
As discussed with @rraue, there's an inherant SEO risk involved in this change, which I'm calling out here:

- Because these pages build upon the `/firefox/new/` template and share it's .lang file, we can't activate only those locales that have these new strings translated. Instead, we must activate these pages right away, for every locale.
- Due to the above, we have to use an l10n conditional in

[2019-04-23 14:06] alexgibson commented on #7064
@hoosteeno I was eventually able to get event metric data to show up in the dashboard for our test experiment. As suspected, it was because we needed to call `destroy()` before unloading the current page.

I added the answers we've since found to the questions section in the evaluation doc. Based on this, I'm going to close this issue as done, but I'm happy to discuss this evaluation further in pe

[2019-04-23 14:06] #7064 closed

[2019-04-23 15:45] amychurchwell commented on #6854
Reopening issue to separate pull requests by concern.

[2019-04-23 15:51] #7062 closed

[2019-04-23 15:51] #6953 closed

[2019-04-23 15:51] #6914 closed

[2019-04-23 15:51] #7035 closed

[2019-04-23 15:51] #6789 closed

[2019-04-23 15:52] #7093 closed

[2019-04-23 16:06] #7096 closed

[2019-04-23 16:06] #6971 closed

[2019-04-23 16:55] rraue commented on #7057
I agree, we can ship it like this, I will monitor the risk but we should move forward with #6798 to eliminate this and many more risks.

[2019-04-23 16:58] #7099 closed

[2019-04-23 18:02] stephaniehobson opened #7101 "Can bedrock/base/templates/includes/lang_switcher.html be removed?"
## Description

`bedrock/base/templates/includes/lang_switcher.html` doesn't seem to be included anywhere anymore.

[2019-04-23 18:28] stephaniehobson opened #7102 "Update Protocol pages to use Inter"
The new font stack for the new brand guidelines is available and mockups are being delivered with the font.

We are blocked on using the new fonts on mozilla.org until https://github.com/mozilla/protocol/issues/342 is resolved.

The rollout plan is:
- [x] Limit Zilla to Mozilla pages
- [x] Remove Zilla from the default font stack
- [x] Make the default font for headings and body copy Inter
- [x] U

[2019-04-23 18:29] stephaniehobson commented on #7102
Please note:  the font files in use on the Fights for You page are not licensed for use on any other pages on the site.

[2019-04-23 19:25] #7044 closed

[2019-04-23 19:37] AniketSK opened #7103 "The link to Lockbox's android app, actually points to the ios app."
## Description

The iOS app link opens no matter if you click the Google Play or App Store icon.

### Steps to reproduce

Go to the code here https://github.com/mozilla/bedrock/blob/266208420d8ee11d1cf89652337ba7a2f8e816b7/bedrock/firefox/templates/firefox/accounts-2018.html#L103  and open the link. It's labelled Android but it's iOS.

### Expected result

Links to the android app.

### Actual res

[2019-04-23 20:41] craigcook commented on #7103
The adjust.com links are meant to be "smart" redirects, which work correctly on mobile platforms but they don't seem to know what to do on any device that isn't Android or iOS so it just goes to the first configured destination.

I think we have a few options:

1. Link each store badge directly to the specific store (without going through Adjust).
2. Display the badges but don't make them links.
3

[2019-04-23 21:49] hoosteeno opened #7105 "Project Trailhead"
This epic will encompass all the website deliverables associated with Project Trailhead.

[2019-04-24 12:47] #7040 closed

[2019-04-24 21:07] #6879 closed

[2019-04-24 21:22] sghoseWI commented on #7063
Please see here for the report: https://docs.google.com/document/d/1SDrQlZyDtiNwbvsIVSh0_x2v550RKcps3rZqH3g4Qbk/edit?usp=sharing

[2019-04-24 21:56] hoosteeno commented on #7038
Moved this to icebox; uncertain how it relates to redesign of these pages for Project Trailhead.

[2019-04-24 22:17] sghoseWI commented on #7063
Experiment Report: https://docs.google.com/document/d/1SDrQlZyDtiNwbvsIVSh0_x2v550RKcps3rZqH3g4Qbk/edit

[2019-04-24 22:52] hoosteeno opened #7109 "Write copy for new /all page"
We need to write copy for /all. The product team is building [a positioning crib sheet](https://docs.google.com/spreadsheets/d/1-eRoBpWwYUT5nwn7aPdiOEEa-c6pHvs3vlvwewWNJ1A/edit#gid=0) to contextualize this copy. The page is designed and in code.

[2019-04-24 23:13] hoosteeno commented on #7076
@craigcook
* I captured the feedback from design doc in the success criteria above. Please let me know if you have questions.
* I also added a blocker for the copy card.

[2019-04-25 02:01] hoosteeno opened #7111 "Add switch, and switch to "off", on /firefox pre-download CTA"
## Description

The pre-download newsletter CTA on /firefox did its most important work during March. We can anticipate a full redesign of the /firefox page in coming months, and we should turn off the CTA while that work is underway. Could we put the /firefox CTA behind a switch, and then switch to off?

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a succes

[2019-04-25 08:47] alexgibson commented on #7111
This feature is already behind a switch, I'll turn it off.

[2019-04-25 08:52] alexgibson commented on #7111
Disabled in https://github.com/mozmeao/www-config/commit/99f1ae17a642dbd06d861c6553622a2dfada903b

[2019-04-25 08:52] #7111 closed

[2019-04-25 13:44] alexgibson commented on #7063
@hoosteeno what's the last step to closing this out. Is there a recommendation to keep one of the experiences, or can we remove this experiment code?

[2019-04-25 15:47] hoosteeno commented on #7061
@amychurchwell I updated the description of this issue.

[2019-04-25 15:47] hoosteeno commented on #6854
@amychurchwell I updated the description of this issue.

[2019-04-25 19:25] amychurchwell opened #7112 "Extract strings for firefox/features/adblocker"
## Description

Copy updates to firefox/features/adblocker have been merged in https://github.com/mozilla/bedrock/pull/7092
The websites team is beginning to take over string extraction, so there are still some action items on this issue (#6879):

- [ ] Strings are extracted to Pontoon and tagged as optional for localizers
- [ ] Anika on the EU team is notified so she can add strings for the DE ve

[2019-04-25 19:26] amychurchwell commented on #7112
Assigning task to myself since I was the developer on the updates.

[2019-04-25 22:12] hoosteeno opened #7115 "Remove Features experiment"
## Description

Let's remove the experiment code for "Features" aka #6830.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Code is removed from bedrock

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a checklist!
- [ ] This is an example of a risk.

#### Tasks
- [ ] This is an example of a task. Use a checklist!
- [ ] This is an

[2019-04-25 22:13] hoosteeno commented on #7063
Let's remove the experiment code with #7115. Thanks.

[2019-04-25 22:13] #7063 closed

[2019-04-26 08:19] #7067 closed

[2019-04-26 09:57] alexgibson opened #7117 "Simplify the /ru/firefox/new/ Yandex page"
## Description

Last year we had to create a [special version](https://www-dev.allizom.org/ru/firefox/new/?geo=ru) of the `/ru/firefox/new/` page, that changes both imagery and messaging if the user is geo-located in Russia, in order to display Yandex specific messaging.

The way this page is constructed is both brittle and has performance issues (since it relies on a client side geo-lookup before

[2019-04-26 09:59] alexgibson commented on #7117
/cc @rraue for input as I think paying off this technical debt may be worthwhile.

[2019-04-26 12:22] alexgibson opened #7118 "Experiment: page hero rendering performance"
## Description

[Mana page for experiment](https://mana.mozilla.org/wiki/display/EN/Page+hero+rendering+performance)

In issue https://github.com/mozilla/bedrock/issues/6741 we conducted an analysis of existing page load times in GA and their effect on conversions. Looking at the GA data, it was determined that while there is a direct correlation between page load times and bounce rates in general

[2019-04-26 16:08] alexgibson commented on #7057
Strings have been pushed out to pontoon https://github.com/mozilla-l10n/www.mozilla.org/commit/7056a2046ccfe935f51dd3cc76e8a5d1617dfbce

[2019-04-26 16:08] alexgibson commented on #7056
Strings have been pushed out to pontoon https://github.com/mozilla-l10n/www.mozilla.org/commit/7056a2046ccfe935f51dd3cc76e8a5d1617dfbce

[2019-04-26 16:08] alexgibson commented on #7058
Strings have been pushed out to pontoon https://github.com/mozilla-l10n/www.mozilla.org/commit/7056a2046ccfe935f51dd3cc76e8a5d1617dfbce

[2019-04-26 17:45] #7056 closed

[2019-04-26 17:45] #7057 closed

[2019-04-26 17:46] #7058 closed

[2019-04-29 08:09] #6844 closed

[2019-04-29 08:25] alexgibson commented on #7043
Live in prod:

- https://www.mozilla.org/en-US/firefox/68.0beta/whatsnew/
- https://www.mozilla.org/en-US/firefox/68.0a2/whatsnew/

[2019-04-29 08:25] #7043 closed

[2019-04-29 08:48] alexgibson commented on #7059
Here are the three pull requests that enable translation:

- https://github.com/mozilla/bedrock/pull/7120
- https://github.com/mozilla-l10n/www.mozilla.org/pull/295
- https://github.com/mozilla-l10n/langchecker/pull/878

[2019-04-29 12:55] rraue commented on #7117
I think that would be a better solution than the one we have right now and way better to read for crawlers. We have to do the hreflang right, but that should be doable. It is just the /new page, right?

[2019-04-29 14:04] alexgibson commented on #7101
It looks like the footer for both english and non english locales import `/bedrock/base/templates/includes/protocol/lang-switcher.html`, so the answer points to yes. This is likely a stray file that never got cleaned up in the latest footer overhaul.

[2019-04-29 14:05] alexgibson commented on #7117
Yes correct

[2019-04-29 14:13] alexgibson commented on #7002
This is fixed.

[2019-04-29 14:13] #7002 closed

[2019-04-29 14:15] alexgibson commented on #6944
This experiment is in the wild and will be finishing shortly. Closing this issue out.

[2019-04-29 14:15] #6944 closed

[2019-04-29 14:15] alexgibson commented on #6939
This experiment is in the wild and will be finishing shortly. Closing this issue out.

[2019-04-29 14:15] #6939 closed

[2019-04-29 14:15] alexgibson commented on #6938
This experiment is in the wild and will be finishing shortly. Closing this issue out.

[2019-04-29 14:15] #6938 closed

[2019-04-29 14:15] alexgibson commented on #6935
This experiment is in the wild and will be finishing shortly. Closing this issue out.

[2019-04-29 14:15] #6935 closed

[2019-04-29 14:19] alexgibson commented on #5982
These templates have either been decomissioned or moved to /campaign.

[2019-04-29 14:19] #5982 closed

[2019-04-29 14:23] alexgibson commented on #5234
I believe this is no longer present in the latest iteration of the footer. Closing.

[2019-04-29 14:23] #5234 closed

[2019-04-29 14:24] alexgibson commented on #7071
@stephaniehobson @dzingeek can you please advise on what the correct behavior should be here?

[2019-04-29 14:42] hoosteeno opened #7121 "Pre-download on /new: Closure"
This card will lead us to closure on the pre-download newsletter CTA on /new.

https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=90742108

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Experiment is stopped
- [ ] Experiment report is published

#### Tasks
- [x] Determine whether we have enough data, and when we do, signal to shut down the experiment (@hoosteeno)
- [x] Shut dow

[2019-04-29 14:46] hoosteeno commented on #7121
We have plenty of sessions, and it's been a week. This experiment is ready to shut down.

[2019-04-29 15:59] #6779 closed

[2019-04-29 16:15] amychurchwell commented on #6799
@stephaniehobson :wave: Wanted to call out a newsletter bug Alex noticed (https://github.com/mozilla/bedrock/pull/7119) on WNP68 for beta & dev users that are already signed-in to a firefox account.

We may need to add `67` to this array, https://github.com/mozilla/bedrock/pull/7119/files

[2019-04-29 16:30] claychaffin commented on #7109
Copy-deck-in-progress. Thanks for the reminder to share this here, @hoosteeno
https://docs.google.com/document/d/1phOeJaAiy5WlNSLiWKmlcMQiK5K22m1Fel8Uco3-7TE/edit?usp=sharing

[2019-04-29 17:33] stephaniehobson commented on #7071
I preserved the behaviour that existed before the update, which was to hide the top download button from existing Firefox users. So it is behaving as expected.

[2019-04-29 17:33] #7071 closed

[2019-04-29 21:09] #7034 closed

[2019-04-29 21:37] stephaniehobson commented on #6799
Thanks Amy! I had no idea but it looks like @craigcook did that when he added the strings. ⚡️

[2019-04-30 09:22] alexgibson commented on #7118
@sghoseWI this is not urgent, but could you please take a look at this issue and the associated mana page, and provide me with an estimate for how each variation in this experiment should be sized?

Ideally I'd like to run this experiment with the smallest amount of traffic possible, but to give me enough data within one week.

Any questions please ask, thanks!

[2019-04-30 13:01] alexgibson commented on #6994
So just be be clear on what the steps are here:

1. Redirect /contribute/getinvolved/ (and any sub-pages) to https://activate.mozilla.community/
2. Remove /contribute/studentambassadors/ and redirect back to /contribute/
3. Remove /contribute/friends/ and redirect back to /friends/
4. Implement a survey on /contribute.
5. Update /contribute/ with some more recent copy / messaging.

Is the above es

[2019-04-30 16:13] hoosteeno opened #7127 "Port /new to protocol in preparation for Trailhead"
## Description

We will want to need to port /new to protocol before the coming Trailhead changes. To begin with we can port the page without any design changes. Note: the campaign page has already been ported so that code can be used as a starting oint.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Existing /new page is ported to Protocol
- [ ] Minimal design changes
- [ ] No co

[2019-04-30 17:15] alexgibson commented on #7059
This is now complete and strings have been exposed in Pontoon.

[2019-04-30 17:15] #7059 closed

[2019-04-30 19:50] ejregithub opened #7128 "WNP 67.0.5 for Trailhead"
## Description

Launch a WNP with Trailhead content on the dot release (target: 67.0.5) aligning to June 4th

[Master project doc](https://docs.google.com/document/d/1QC91C86M1vox6vRrtfui_vfu5rhrlLjPN1HIyrkQcis/edit)

[Releng bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1551749)
[Copy doc](https://docs.google.com/document/d/1NwYHLso1SZm2OwDF0_dBZKA-muZ-dgP2EteLnBlORCs/edit?ts=5cdb4f8c)
[.lang

[2019-04-30 19:56] ejregithub opened #7129 "/new for Trailhead"
## Description

Code the /new page for the Trailhead release in June.
[Copy doc](https://docs.google.com/document/d/1F-hIja0JTQTHEK0_zKEFL8vRBBfYK4-LdqzaS-hSvN4/edit)

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] /new and /thanks pages are converted to Protocol
- [ ] /new and /thanks pages are done by 5/21

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This i

[2019-04-30 20:07] ejregithub opened #7130 "remove the current zh-TW whatsnew template and follow the global one"
## Description

https://bugzilla.mozilla.org/show_bug.cgi?id=1545705

So please help us remove the current zh-TW whatsnew template:
https://www.mozilla.org/zh-TW/firefox/whatsnew/

And follow the global one instead,
so that users would be able to get the latest updates.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ]

[2019-04-30 20:11] sghoseWI commented on #7118
@alexgibson This all looks good - I'll size this and let you know if I have any questions!

[2019-04-30 23:24] sghoseWI commented on #7118
@alexgibson Here is what I'm seeing:

In the four week period between March 31,2019 and April 27, 2019, there were 267,023 sessions to the /about page across all locales (according to GA data).  This is an average of ~66,756 sessions per week.

With that population level, assuming a margin of error of 3% and a 95% confidence level, we need 1,063 sessions per group.  Across the 9 variations and the

[2019-04-30 23:38] stephaniehobson opened #7131 "Update card #1 on German homepage"
## Description

Update card 1 on German homepage. Card content will arrive on Friday May 3.

Changes to the other cards will be complete but not published before then. Those changes should be published with the update to card 1.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Card 1 matches copy and image in [spreadsheet](https://docs.google.com/spreadsheets/d/1gLv1pfj7TIuGXZyPnzi3

[2019-05-01 03:30] ejregithub opened #7132 "Redesign /accounts page for Trailhead"
## Description

Redesign the /accounts page with content for Trailhead launch on June 4

[Master project doc](https://docs.google.com/document/d/13CqvenWPOc8MQpPFIROjoSumq2RldehhIeYIjmpDi9w/edit)

[Copy doc](https://docs.google.com/document/d/14yH7BAC2qN5LKq3FsZITJS21moCFQZGgstx-014Oeyw/edit?usp=sharing)

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] UI designs are received by 5/7

[2019-05-01 07:54] #6799 closed

[2019-05-01 08:03] alexgibson opened #7134 "Sticky form on /67.0/whatsnew/ does not close when expected"
## Description

In the 67.0 /whatsnew page, we changed the sticky accounts/newsletter form to be bottom aligned to the viewport. I opened the page and scrolled down, reading the content. After a little while I decided I'd had enough of the sticky form obscuring what I'm trying to read, so I clicked the close (X) button. But the form didn't disappear quite as I'd expected, with only the close butto

[2019-05-01 08:46] alexgibson commented on #7118
Thank you for being so quick to provide this 🙂

[2019-05-01 09:07] alexgibson commented on #7118
@sghoseWI just to be super clear here, does this imply that the control group can also be 2% (as well as the variants)?

[2019-05-01 09:34] alexgibson commented on #7127
There are various intertwined dependencies in this task that aren't quite clear at first:

- The regular /new page needs porting to Protocol.
- The [/ru/firefox/new/ ](https://www.mozilla.org/ru/firefox/new/)page features locale and geo-specific content, and inhertis from /new, so this would also need porting.
- The [/de/firefox/new/](https://www.mozilla.org/de/firefox/new/) page features locale s

[2019-05-01 09:36] alexgibson commented on #7121
@hoosteeno given we're about to port this page to Protocol, and also redesign it for trailhead, should we remove this experiment code?

[2019-05-01 09:37] alexgibson commented on #7127
See also: https://github.com/mozilla/bedrock/issues/7121#issuecomment-488244457

[2019-05-01 09:54] alexgibson commented on #7134
/ cc @stephaniehobson @dzingeek

[2019-05-01 10:41] hoosteeno commented on #7121
Yes, thank you.

On Wed, May 1, 2019, 3:36 AM Alex Gibson <notifications@github.com> wrote:

[2019-05-01 12:27] alexgibson commented on #7131
Just a note to say that if we want to push this content live on Friday, I'll need it a GTM timezone friendly hour.

/cc @kellymj

[2019-05-01 13:03] sghoseWI commented on #7118
@alexgibson that’s right - although as far as I know, we usually direct the remainder of the traffic not pushed to the experimental groups to the control.

[2019-05-01 14:54] stephaniehobson commented on #6865
The test results showed a drop in downloads and so we would like to run another round of tests as outlined here: https://docs.google.com/document/d/1b17PXV5rZa7dEHN9u1_gJa7ZlLHXgkTrQh-Ztp8y_Ck/edit#

[2019-05-01 15:05] stephaniehobson commented on #6865
@hoosteeno given that I'm back on the websites team I think it's now up to you to prioritize the experiment for getting this work published.

There were 5 factors that the team identified to test:
1) Remove "Quantum" from the branding.
2) Add the word browser in the hero.
3) Communicate "new" in the hero.
4) Add a product image in the hero.
5) Review the copy with an eye for understand-ability, es

[2019-05-01 15:29] stephaniehobson opened #7136 "Add subheading to EU elections pages"
## Description

Update elections page with subheading.

![EU_Elections_Hero](https://user-images.githubusercontent.com/854701/57025107-e4236900-6bfb-11e9-9cc7-f613461e7b24.jpg)

[2019-05-01 15:32] alexgibson commented on #7127
It sounds like we're getting a final design for /new and /thanks as soon as EOD Friday, which is likely in less time than it would take to port all the pages detailed above. With that in mind, it may be less work just to start work on the redesigned page, with an aim to A/B test it before the trailhead launch.

[2019-05-01 16:27] ejregithub commented on #7047
This is live. Eric will file a separate issue to turn it off.

[2019-05-01 16:28] hoosteeno commented on #7061
This is good to launch.

[2019-05-01 16:34] hoosteeno commented on #6865
@stephaniehobson is there any reason to think the designs here will land on the website? Why wouldn't we land designs like Trailhead's, instead?

[2019-05-01 16:36] #7127 closed

[2019-05-01 16:47] ejregithub opened #7138 "Trailhead - Qualitative user tests on designs to increase confidence in its ability to do its job."
Estimate: 2

[2019-05-01 17:00] ejregithub opened #7139 "/thanks for Trailhead"
## Description

Code the /thanks page for the Trailhead release in June.
[Copy doc](https://docs.google.com/document/d/1F-hIja0JTQTHEK0_zKEFL8vRBBfYK4-LdqzaS-hSvN4/edit)

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] /thanks pages are converted to Protocol
- [ ] /thanks pages are done by 5/21

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of

[2019-05-01 17:06] ejregithub opened #7140 "A/B Test /new and /thanks designs:"
Description: test the current versions of the page against the redesigned /new and /thanks

* download + install measures
* build "production ready" in case it's good
* test for non-negative drop
* Traffic cop for routing
* Stub attribution for measuring installs
* A/B test to finish 5/28

[2019-05-01 17:13] stephaniehobson commented on #6865
@hoosteeno I have not heard any mention of including /firefox in the trailhead work. If we shelve this work I don't expect an update before July.

[2019-05-01 17:30] stephaniehobson commented on #6865
Also, if the follow up experiment isn't going to happen we should pull the experiment code out of bedrock.

[2019-05-01 17:38] dzingeek commented on #7129
Designs are still WIP but the main structure is solid for both /new and /thanks.

**Things that will change:**
- Spot illustations
- Copy

**Resources:**
[Sketch file](https://share.goabstract.com/31ef3279-7899-43e6-9cc4-d3f905056529) in abstract
[Location](https://user-images.githubusercontent.com/3740746/57031262-1b921580-6bfc-11e9-9c9a-81a389fadf54.png) of pages in the sketch file
[/new png](ht

[2019-05-01 17:59] dzingeek commented on #6865
[Sketch file](https://share.goabstract.com/31ef3279-7899-43e6-9cc4-d3f905056529) with an updated hero image that includes the browser
[png](https://user-images.githubusercontent.com/3740746/57032847-28186d00-6c00-11e9-858d-7132064bcb09.png) for reference
[location](https://user-images.githubusercontent.com/3740746/57032824-19ca5100-6c00-11e9-986a-0ffcf1a2b760.png) of page within the sketch file

[2019-05-01 18:04] #7061 closed

[2019-05-01 19:13] #7090 closed

[2019-05-01 20:11] ejregithub opened #7142 "Trailhead - /new & /thanks experiment: Closure"
## Description

This is a closure card. It doesn't mean "stop the experiment now", but it hopefully leads to that.

In a closure card, we should do the tasks below, in order.

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Experiment is stopped
- [x] Experiment report is published

#### Tasks
- [x] Determine whether we have enough data, and when we do, signal to shut down the experiment

[2019-05-01 20:13] ejregithub opened #7143 "/new & /thanks - Trailhead - Epic"
## Description

Epic for the creation (coding, QA, review, launch) and a/b testing, closing and poss

[2019-05-01 20:44] ejregithub opened #7144 "Shut off Fundraising banner to follow Internet Health Report Release on 5/3"
## Description

Shut off the Fundraising banner that followed Internet Health Report Release in #7047

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] The banner is shut off, no longer shown to users.

#### Tasks
- [x] Flip the switch

[2019-05-01 20:46] #7047 closed

[2019-05-02 08:21] #7136 closed

[2019-05-02 08:33] alexgibson commented on #7129
Thanks @dzingeek - I'm going to get started on this. Will let you know if I have any questions.

[2019-05-02 16:02] jgmize opened #7146 "Upgrade New Relic agent"
## Description

Port https://github.com/mozilla/kitsune/pull/3546 to bedrock requirements/prod.txt

[2019-05-02 18:06] #7146 closed

[2019-05-02 21:03] stephaniehobson commented on #7131
Sounds like it will not arrive until EOD even for Pacific people so no Friday updates.

[2019-05-03 14:49] alexgibson commented on #7129
WIP demo for /new: https://www-demo1.allizom.org/en-US/firefox/new/?xv=trailhead

Note: I still need to port the Firefox Accounts modal for signed-out FF users.

[2019-05-03 16:24] dzingeek commented on #7129
@alexgibson this is looking great! Nice work and so fast!! We will have, updated approved copy for you early next week (fingers crossed for Monday). Then we will get you updated spot illustrations for both /new and /thanks

Also, when you say 'port the FxA modal for signed-out FF user" are you referring to [this](https://user-images.githubusercontent.com/3740746/57150478-46f33c80-6d83-11e9-8c51-56

[2019-05-03 16:35] alexgibson commented on #7129
Yes, - ok will hold off on implementing until I hear more. Thanks!

[2019-05-03 16:46] pmac commented on #5080
We have finally completed this! It went live earlier this week. It was done in #7135

[2019-05-03 16:46] #5080 closed

[2019-05-03 16:50] alexgibson opened #7152 "Remove zh-TW whatsnew page template, use the global one instead"
## Description

https://bugzilla.mozilla.org/show_bug.cgi?id=1545705

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Current zh-TW /whatsnew page is removed.
- [ ] Regular /whatsnew page is shown instead.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a checklist!
- [ ] This is an example of a risk.

#### Tasks
- [ ] This is an

[2019-05-03 16:50] alexgibson commented on #7152
Closing, we already have an issue for this.

[2019-05-03 16:50] #7152 closed

[2019-05-03 16:53] dzingeek commented on #7129
@alexgibson question on the button color. It looks too dark..It could just be me, but I thought the blue download button color was #0060DF

[2019-05-03 16:55] alexgibson commented on #7129
The color on the page is #0250bb, because that's what's in the design system: https://protocol.mozilla.org/patterns/atoms/buttons.html

[2019-05-03 17:06] ejregithub commented on #6997
This is done, the page live on 5/1

[2019-05-03 17:06] #6997 closed

[2019-05-03 17:55] #7046 closed

[2019-05-03 18:10] #6536 closed

[2019-05-03 18:25] craigcook commented on #7144
Switch flipped in https://github.com/mozmeao/www-config/commit/563e8c7b2133dd286e12bbb0bff5002469816dcf

Will have a PR momentarily to remove the code from bedrock.

[2019-05-03 18:43] ejregithub commented on #7144
Closing this as the banner has been turned off.

[2019-05-03 18:43] #7144 closed

[2019-05-03 18:45] ejregithub commented on #7076
Moving this to the next milestone. Copy won't be complete til later today, the last day of the sprint, and per discussion with Craig on the progress of coding.

[2019-05-03 18:56] metadave commented on #5080
cc @SmileyChris 1.1 is in prod

[2019-05-03 19:20] dzingeek commented on #7129
@alex ok two things.

1. I got confirmation from MEM that we can kill the pre-download modal. We will NOT be asking users for email/fxa sign ups before about:welcome from /new

2. Let's change the blue button download color in protocol to #0060DF the current one is too dark which is problematic on darker backgrounds.

[see example (proposed blue on left current blue on right)](https://user-images.

[2019-05-03 19:23] ejregithub commented on #7082
Chatted w. ADavis and Saptarshi just now. ADavis recommends we connect with Leif in Accounts to talk about data (task to @sghoseWI )

[2019-05-03 20:17] amychurchwell opened #7154 "FxA validation on fxa_email_form macro"
## Description

Work in #7110 (media/js/base/fxa-utm-referral.js) validates parameters through the new `fxa_cta_link` button macro.
`fxa_email_form` utilizes input fields for parameters:
`<input type="hidden" name="utm_source" value={{ utm_source }} id="fxa-email-form-utm-source" />` which requires additional/different functionality.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ]

[2019-05-03 20:47] ejregithub commented on #7109
Closing per @claychaffin - the final copy is here - https://docs.google.com/document/d/1phOeJaAiy5WlNSLiWKmlcMQiK5K22m1Fel8Uco3-7TE/edit?usp=sharing

[2019-05-03 20:47] #7109 closed

[2019-05-03 20:48] ejregithub commented on #7115
This is the done column, so I'm closing it.

[2019-05-03 20:48] #7115 closed

[2019-05-06 14:36] dzingeek commented on #7129
@alexgibson WIP copy doc

[/new + /thanks](https://docs.google.com/document/d/1F-hIja0JTQTHEK0_zKEFL8vRBBfYK4-LdqzaS-hSvN4/edit)

[2019-05-06 15:23] amychurchwell opened #7156 "Incorrect link on /releasenotes"
## Description

On /firefox/66.0.4/releasenotes/ (any releasenotes #) the 'Desktop' link goes to the Android release notes. Vice versa on Android release notes.

We need to write some logic so that when you are looking at one platform the other is a link & the current one isn't. Also, perhaps the current view is bolded.

### Bugzilla
[1549219](https://bugzilla.mozilla.org/show_bug.cgi?id=1549219)

[2019-05-06 16:59] hoosteeno opened #7157 "Review designs for protocol"
## Description

Let's review designs incoming with an eye to Protocol. Specific questions:
* Are designs using Protocol components where possible? Slight adjustment to designs if necessary seems worthwhile if it takes advantage of existing components.
* Are designs implying things that should be a part of Protocol going forward? If so, let's file issues on the Protocol repo with clear and complete

[2019-05-06 17:10] amychurchwell commented on #7128
**Work in progress designs.**
- - -
**LOGGED OUT**
![image](https://user-images.githubusercontent.com/30483988/57241884-e6fcd000-6fe6-11e9-92e3-437d43b7968e.png)

**LOGGED IN**
![image](https://user-images.githubusercontent.com/30483988/57241906-fda32700-6fe6-11e9-8cce-c65b18e5a718.png)

[2019-05-06 17:33] dzingeek commented on #7128
[WIP copy doc](https://docs.google.com/document/d/1NwYHLso1SZm2OwDF0_dBZKA-muZ-dgP2EteLnBlORCs/edit)

[2019-05-06 18:44] hoosteeno commented on #6774
The draft PRD is as far as we can get it without some technical input. https://docs.google.com/document/d/1uP7ke5KKrI8dkm2fzIn4TMvdC51jtcWL8Dgt-rm5QGI/edit#

@pmac, any update on Fluent, Gettext, and the architecture of localization going forward?

[2019-05-06 18:56] pmac commented on #6774
Yes. My apologies for the lack of movement. SUMO has taken more time than expected.

I think Fluent is the right way to go for us. It will mean a significant workflow change for the team, but I believe it will come with enough benefit to go with it. It's seen a 1.0 release recently, and has good momentum and adoption throughout the company. I would like to discuss this with the dev team before we

[2019-05-06 21:07] hoosteeno opened #7158 "Document how to specify a new component"
Let's document and/or template the process that designers should go through to file a new Github issue for a new component. These documents should ...

* Encompass the different types of components a designer might design for Protocol
* Give examples of the things a component design would include (e.g. interactions, changes, screen sizes, and of course visual features
* Be brief, but complete
* Be

[2019-05-06 21:14] hoosteeno commented on #7157
I've clarified in the description above that scrutinizing designs for Protocol fit is best for a developer. Devs, please flag designs that could/should use existing protocol. Filing new issues is work best suited to designers. Designers, please file new github issues for reusable components (note: [specs for such issues are forthcoming](https://github.com/mozilla/bedrock/issues/7158)).

[2019-05-06 21:55] hoosteeno opened #7159 "Build experiment plan for /new and /thanks"
We will experiment with new Trailhead branding on /new and /thanks. We need an experiment plan to specify an experiment ready to launch by 5/13.

This issue will be done when the plan is adequate for building.

[2019-05-06 21:56] hoosteeno commented on #7159
@sghoseWI Would you fill in the missing pieces here as soon as you can? https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=95586406

[2019-05-06 23:48] #7131 closed

[2019-05-07 09:06] alexgibson commented on #7129
Protocol PR to update the product button theme color: https://github.com/mozilla/protocol/pull/381

[2019-05-07 09:43] alexgibson commented on #7157
Some notes from the /new and /thanks designs:

- The download button color has changed, and needs updating. I filed https://github.com/mozilla/protocol/issues/380 for this.
- Both the /new and /thanks pages feature [Picto cards](https://protocol.mozilla.org/patterns/molecules/picto-card.html), but they deviate from the spec slightly:
  - On /new there are 3 picto cards, but they all have arbitrary

[2019-05-07 12:20] alexgibson commented on #7157
The /thanks page also features a new notification bar design:

<img width="653" alt="Screenshot 2019-05-07 at 13 19 11" src="https://user-images.githubusercontent.com/400117/57298717-cad25f00-70ca-11e9-8522-183f7415e25e.png">

This does not currently exist as a component, and also uses a background color that does not yet exist in our token pallet.

[2019-05-07 12:29] rraue commented on #7129
Question @dzingeek: Will the Join Firefox feature on the /new page get a link to any "learn more"? I expect it to be in the best case not speaking to customers at all and in the worse case being confusing and misleading (do I have to pay for this?)

[2019-05-07 14:27] #7156 closed

[2019-05-07 14:39] dzingeek commented on #7129
@rraue we did go back and forth on this. we 'can' add it, however, the goal was to not distract users from downloading firefox. if you think it's important i don't see why we can't link it to /firefox/accounts/

[2019-05-07 15:33] #6868 closed

[2019-05-07 17:16] dzingeek commented on #7129
I never did user testing on /new that was the website team and desktop growth team. that said as a UX designer I don't like dead ends and I think for those who came to this page **just to download** they can quickly and easily do that. So I am fine with adding a link.

As far as the term 'Join Firefox' that we did test and no surprise some users needed more info and some didn't.

[2019-05-07 21:29] hoosteeno opened #7162 "Update leadership page: Camp"
## Description

Please replace Dave Camp's bio on the leadership page with the copy in [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1549841).

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Bio is updated and launched

[2019-05-07 21:48] ejregithub opened #7163 "Email preferences center changes"
MVP Basket page to let users control their subscription preferences
- Add required new and change subscriptions

[2019-05-07 21:57] ejregithub commented on #7163
This is  duplicate #7037, closing

[2019-05-07 21:57] #7163 closed

[2019-05-07 22:46] hoosteeno opened #7164 "Help with email preferences center redesign"
## Description

LCM Team is redesigning the email preferences center as part of Trailhead deliverables.

We *may* contribute some UX/UI consultation to the effort. It depends whether the project timeline has space for it, which won't be clear until the majority of implementation is complete. This is a lower priority for the LCM team than all other work on the project, and a low priority for the we

[2019-05-08 10:05] alexgibson opened #7166 "Remove jQuery as a dependency on /firefox/download/thanks/"
## Description

Right now, the `/firefox/download/thanks/` page relies on jQuery's non-standard `:visible` selector in order to [determine which download URL to trigger](https://github.com/mozilla/bedrock/blob/master/media/js/firefox/new/scene2.js#L10). All this is hinged upon a [crafty piece of CSS](https://github.com/mozilla/bedrock/blob/master/media/css/firefox/new/scene2.scss#L13-L25) that hid

[2019-05-08 10:10] alexgibson commented on #7129
Demo is now updated with both /new and /thanks:

- https://www-demo1.allizom.org/en-US/firefox/new/?xv=trailhead
- https://www-demo1.allizom.org/en-US/firefox/download/thanks/?xv=trailhead

I'm now waiting on:

- Final design assets.
- Final copy.
- Experiment test plan.

[2019-05-08 10:10] alexgibson commented on #7139
WIP up on demo:

- https://www-demo1.allizom.org/en-US/firefox/download/thanks/?xv=trailhead

[2019-05-08 16:02] #7018 closed

[2019-05-09 04:35] amychurchwell opened #7169 "FxA utm validation: tests & remaining touchpoints"
## Description

Close-out of the work in https://github.com/mozilla/bedrock/pull/7110

---

#### Tasks
- [x] Global navigation fxa cta button
- [x] Sign-in links
- [x] Write tests

[2019-05-09 08:35] alexgibson commented on #7129
@dzingeek it looks like this experiment is ready to go, pending final design and copy.

I question whether the updated icons are likely to have much impact on an A/B test, but it would be great to get final copy. Do you know when we can expect that to come in? I think this is the last real blocker to getting this test out the door.

[2019-05-09 12:41] alexgibson commented on #6854
The PR above has been merged, but there are still some remaining tasks and items that have not yet been covered:

- Global navigation fxa cta button
- Sign-in links
- Email-first form
- Write tests

These are detailed in https://github.com/mozilla/bedrock/issues/7169

[2019-05-09 12:41] #6854 closed

[2019-05-09 12:42] alexgibson commented on #7162
It looks like this was done in https://github.com/mozilla/bedrock/pull/7165

[2019-05-09 12:42] #7162 closed

[2019-05-09 15:27] dzingeek commented on #7129
@alexgibson spot illustrations have been updated in both /new and /thanks [sketch file](https://share.goabstract.com/5d279374-61ec-43c9-b07e-9c7b8e1efb5d)

[2019-05-09 15:50] dzingeek commented on #7129
@alexgibson copy is approved!!!

[copy deck](https://docs.google.com/document/d/1F-hIja0JTQTHEK0_zKEFL8vRBBfYK4-LdqzaS-hSvN4/edit)

[2019-05-09 15:52] alexgibson commented on #7129
Thanks @dzingeek - will update here when final bits and pieces are up on demo

[2019-05-09 16:28] dzingeek commented on #7128
@amychurchwell here is the link to the [sketch file for WNP 67.0.5](https://share.goabstract.com/0f76d593-5111-454a-ab25-240549435058) _design is not final but super close_

You will find the correct WNP [here](https://user-images.githubusercontent.com/3740746/57469626-edd05080-723b-11e9-98c7-87c49f3b56de.png)

[Here is the link to the copy doc](https://docs.google.com/document/d/1NwYHLso1SZm2OwDF

[2019-05-09 17:17] dzingeek commented on #7164
**current ui of page**
![Screenshot_2019-05-09 Newsletter Subscriptions](https://user-images.githubusercontent.com/3740746/57472991-aea5fd80-7243-11e9-8473-c82285b014aa.png)

[2019-05-09 17:19] dzingeek commented on #7164
https://docs.google.com/document/d/1Dm5A6RsQidUJRFcKh9R0MDL_Rd3s__HxRvOIBkVk7Ic/edit#

[2019-05-09 21:09] stephaniehobson opened #7171 "Election page should have Firefox or custom share image."
## Description

The Elections page is showing the "mozilla" share image.

<img width="458" alt="Screen Shot 2019-05-09 at 2 08 35 PM" src="https://user-images.githubusercontent.com/854701/57486891-f89edb80-7263-11e9-99d3-5ea616f49fd4.png">

It should be the Firefox logo or something specific to this page.

[2019-05-09 22:05] #7171 closed

[2019-05-10 08:21] alexgibson commented on #7055
Closing this out, this work was all completed last sprint.

[2019-05-10 08:21] #7055 closed

[2019-05-10 09:19] alexgibson commented on #7129
Final copy and design are now up on demo:

- https://www-demo1.allizom.org/en-US/firefox/new/?xv=th&v=b
- https://www-demo1.allizom.org/en-US/firefox/download/thanks/?xv=th&v=b

[2019-05-10 16:29] hoosteeno commented on #7159
We made a mistake in the plan. We should not redirect 98% of visitors to `v=a`, because that means 98% of them get our injected utm parameters, which clobbers downstream post-processing we depend on for channel categorization.

@agibson I will adjust the mana page; can you give `v=a` 2% of visits, just like `v=b`?

[2019-05-10 16:38] claychaffin commented on #6780
Copy Deck: https://docs.google.com/document/d/1phOeJaAiy5WlNSLiWKmlcMQiK5K22m1Fel8Uco3-7TE/edit?usp=sharing

[2019-05-10 16:45] claychaffin commented on #6780
Redesign and copy are complete; coding is on hold for now and is captured in a separate issue: https://app.zenhub.com/workspaces/websites-team-59bd527821e82e515786ca73/issues/mozilla/bedrock/7076

[2019-05-10 16:51] dzingeek commented on #7129
@alexgibson the svg for the browser image is rendering odd. can you try this version and see if it is any better?

[fx-browser-img.svg.zip](https://github.com/mozilla/bedrock/files/3167422/fx-browser-img.svg.zip)

[2019-05-10 17:12] hoosteeno commented on #7159
The plan is done, with the exception of screenshots, which I'll add when we have final final on demo.

[2019-05-10 17:12] #7159 closed

[2019-05-10 17:14] alexgibson commented on #7129
@dzingeek updated thanks, should be on demo in 10 or so minutes.

[2019-05-10 17:44] alexgibson opened #7175 "Pages referencing missing image are 500"
## Description

Two pages are currently 500 in production due to a missing image:

- https://www.mozilla.org/en-US/firefox/features/private-browsing/&v=a
- https://www.mozilla.org/en-US/firefox/62.0/firstrun/?xv=firefox-election

`ValueError: Missing staticfiles manifest entry for 'img/firefox/election/icon-menu.svg'`

### Steps to reproduce

Open either of the above URLs.

### Expected result

Pa

[2019-05-10 17:45] alexgibson commented on #7175
Note:

- The firefox-election firstrun page can likely be removed entirely.
- The experiment on the features page can also likely be removed.

[2019-05-10 17:57] hoosteeno opened #7176 "Remove Shield Study for Private Browsing"
## Description

The experiment in https://github.com/mozilla/bedrock/issues/6361 is over. We can remove template code and experiment config code.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Code is removed.

[2019-05-10 17:58] hoosteeno commented on #7175
Experiment can be removed. https://github.com/mozilla/bedrock/issues/7176

[2019-05-10 18:07] ejregithub opened #7177 "/new & /thanks - Extract strings to Pontoon for localization"
## Description

We need to extract strings for /new and /thanks to Pontoon

-  initially just to DE to Anika can localize those - Not sure what needs to be done (Peiying can provide assistance) to limit the file just to DE . . .
- then when DE is done we'll open to the broader community

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a

[2019-05-10 18:56] hoosteeno opened #7178 "String Extraction - email preferences center"
## Description

Changes are specified in [this document](https://docs.google.com/presentation/d/1lYEG-a30ram5L6pubUXMNyB7A0CNNIbLvFEK0HKBnh0/edit#slide=id.g573fb7b135_0_118).

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Strings extracted by 5/21 - in PR [Update mozilla/newsletters.lang](https://github.com/mozilla-l10n/www.mozilla.org/pull/299)

Page launched by 6/3

[2019-05-10 18:57] hoosteeno commented on #7178
Seealso #7164

[2019-05-10 20:46] dzingeek commented on #7164
Suggestion for basic tweaks to visuals would be to:

- [ ] Updated font
- [ ] Update font color (ink) #20123A
- [ ] Change background to be white
- [ ] make button blue #0060DF

attached image for reference
![newsletter pref 1312 copy](https://user-images.githubusercontent.com/3740746/57555771-05860280-732a-11e9-8d74-62113b62524c.jpg)

[2019-05-10 22:04] dzingeek commented on #7132
@craigcook here is the link to the [latest sketch file](https://share.goabstract.com/c95e358c-269a-4d15-b807-a3ac8f23ae7b)

you will find /accounts in the far left under pages ([see img for reference](https://user-images.githubusercontent.com/3740746/57559018-d6c15980-7334-11e9-8e2b-f97348e42b03.png))

I will get you an updated hero image for users who are logged in on monday 05.13.19

[2019-05-10 22:06] dzingeek commented on #7132
@craigcook here is the [latest copy doc](https://docs.google.com/document/d/14yH7BAC2qN5LKq3FsZITJS21moCFQZGgstx-014Oeyw/edit). tweaks might happen early monday.

[2019-05-10 22:07] amychurchwell commented on #7175
Can firefox/election also be removed?

[2019-05-10 23:35] stephaniehobson commented on #7175
@amychurchwell No it's been updated with new different content that doesn't reference the old page.

[2019-05-13 08:01] #7139 closed

[2019-05-13 08:22] #7176 closed

[2019-05-13 08:36] alexgibson commented on #7129
Fixed in https://github.com/mozilla/bedrock/pull/7168

[2019-05-13 08:36] #7129 closed

[2019-05-13 08:36] alexgibson commented on #7140
Fixed in https://github.com/mozilla/bedrock/pull/7168

[2019-05-13 08:36] #7140 closed

[2019-05-13 09:10] alexgibson opened #7181 "L10n string extraction is not wokring"
## Description

I'm trying to extract some strings for localization (see: https://github.com/mozilla/bedrock/issues/7177), however string extraction is not working for me and throws an error.

### Steps to reproduce

1. Start a virtualenv: `source venv/bin/activate`
2. Make sure dependencies are to up to date: `pip install -r requirements/dev.txt`
3. Run `./manage.py l10n_extract bedrock/firefox/t

[2019-05-13 09:13] alexgibson commented on #7181
@pmac I feel like I'm probably missing something obvious here, any ideas?

[2019-05-13 14:00] #6772 closed

[2019-05-13 14:35] pmac commented on #7181
Looks like this was missed during the Django 1.11 upgrade. I can try to get a PR together shortly.

[2019-05-13 16:05] hoosteeno commented on #7128
Here's the conceptual flow for users signed in to sync:

On load, get flowId and flowBeginTime from FxA server and append to CTA. _Use a uniform, standard whatsnew endpoint for this request_. Examples:
* https://github.com/mozilla/bedrock/blob/master/media/js/base/mozilla-fxa-form.js#L66
* https://github.com/mozilla/blurts-server/blob/ada648fecce64e3b14e7de2427a5814026b01b1e/public/js/fxa-analytic

[2019-05-13 16:07] hoosteeno commented on #7143
@hoosteeno update Alex with AP review

[2019-05-13 16:39] #7181 closed

[2019-05-13 16:41] hoosteeno commented on #7076
Dragging this back into backlog so @alexgibson can pick it up next.

[2019-05-13 16:49] hoosteeno commented on #7178
See light (and optional) UI refresh here https://github.com/mozilla/bedrock/issues/7164#issuecomment-491425124

[2019-05-13 16:50] hoosteeno commented on #7164
I'm calling this done -- thanks @dzingeek . Track implementation over in https://github.com/mozilla/bedrock/issues/7178.

[2019-05-13 16:50] #7164 closed

[2019-05-13 17:00] hoosteeno opened #7183 "Experiment: Test variations of new brand on /firefox"
## Description

In https://github.com/mozilla/bedrock/issues/6865 we launched a new version of /firefox with new branding, and it didn't convert as well. We want to run an experiment with several variations of the new brand so we can learn what aspects of it contribute to the decline.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Experiment is designed
- [ ] Experiment is launche

[2019-05-13 17:25] hoosteeno commented on #7183
Experiment plan under development here: https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=95587541

[2019-05-13 19:16] ejregithub opened #7184 "Extract strings for comms preferences page"
## Description

Extract strings to Pontoon when copy is final/approved

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an example of a success criteria.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a checklist!
- [ ] This is an example of a risk.

#### T

[2019-05-14 03:04] hoosteeno commented on #7183
@stephaniehobson the experiment plan is ready for your review/implementation. It would be very helpful if you could post a comment like [this one](https://github.com/mozilla/bedrock/issues/7159#issuecomment-490476566) with the parameters you use. I'm happy to consult.

[2019-05-14 08:03] #7175 closed

[2019-05-14 08:11] alexgibson opened #7185 "Make fundraising banner a more permanent feature"
## Description

We have a now semi-annual fundarising banner that gets requested to be shown on the home page (see https://github.com/mozilla/bedrock/issues/7047). It used to be an annual one-off thing, but we're now re-coding and re-reviewing the same banner more regularly, which gets added each time and then removed from the repo once it's finished.

Given the increase in the frequency, It may n

[2019-05-14 09:09] alexgibson commented on #7177
Bedrock PR to enable translation: https://github.com/mozilla/bedrock/pull/7187
String extraction PR: https://github.com/mozilla-l10n/www.mozilla.org/pull/296
Langchecker PR: https://github.com/mozilla-l10n/langchecker/pull/881

[2019-05-14 09:11] alexgibson commented on #7076
@craigcook do you have a branch containing your WIP on this? If so, I can pull it down and build upon it.

[2019-05-14 09:15] alexgibson commented on #7076
Relevant links:

- [Copy deck](https://docs.google.com/document/d/1phOeJaAiy5WlNSLiWKmlcMQiK5K22m1Fel8Uco3-7TE/edit?usp=sharing)
- [Sketch file](https://github.com/mozilla/bedrock/files/3085995/Firefox.all.04162019.sketch.zip)

[2019-05-14 15:52] hoosteeno commented on #7128
@ejregithub can you confirm approval status of copy and design?

Approved by accountable?
Approved by legal?

[2019-05-14 17:57] claychaffin commented on #7132
The copy doc is now final. Thanks.
https://docs.google.com/document/d/14yH7BAC2qN5LKq3FsZITJS21moCFQZGgstx-014Oeyw/edit?usp=sharing

[2019-05-14 19:04] alexgibson commented on #7177
Strings are extracted and pushed to production, so closing this as for now this work is complete.

[2019-05-14 19:04] #7177 closed

[2019-05-14 19:39] stephaniehobson opened #7188 "Copy changes to Election FR page"
## Description

Implement copy changes requested here: https://docs.google.com/document/d/13jULya9cQzBpokkPyRHHob01h-Y-niWt--DevceixrM/edit?ts=5cd5439f

[2019-05-14 21:27] dzingeek commented on #7132
@craigcook we are removing pocket at fb container from the section titled "Get technology that fights for you."

[see image for reference](https://user-images.githubusercontent.com/3740746/57733400-49dc1000-7654-11e9-8718-9d98495a4804.png)

[2019-05-14 21:33] dzingeek commented on #7132
@craigcook SVG files for gradient noodles!!

[fx account hero imgs.zip](https://github.com/mozilla/bedrock/files/3179953/fx.account.hero.imgs.zip)

[2019-05-14 22:50] dzingeek commented on #7128
@amychurchwell here is the [link to svg](https://mozilla.box.com/s/y7s8o6en58kv25tqf81vbxg3cpn98i33) for the hero image. let me know if you have any issues.

[2019-05-14 23:14] #7188 closed

[2019-05-14 23:18] dzingeek commented on #7128
@amychurchwell this is the last graphics update. please remove the current heart icon with this one (personal data promise or PDP)
[PDP-icon_flat.svg.zip](https://github.com/mozilla/bedrock/files/3180241/PDP-icon_flat.svg.zip)

see [img for reference](https://user-images.githubusercontent.com/3740746/57738308-c3c7c580-7663-11e9-90bc-8431ccccf488.png)

[2019-05-15 00:32] ejregithub commented on #7128
Copy, after legal review, remains unapproved on one string.  MEM is working on this with Michael. Design can go forward as final/approved.

[2019-05-15 00:40] dzingeek commented on #7132
@craigcook here is an updated noodle for the not logged in state. let me know if you have any issues with the svg or the box link.

https://mozilla.box.com/s/7t9jdenl8wmckjhgcp553737icjqcwuz

[2019-05-15 15:34] dzingeek commented on #7128
@amychurchwell here are updated svgs for two icons on the logged out state.

[WNP-Icons.zip](https://github.com/mozilla/bedrock/files/3183299/WNP-Icons.zip)

[2019-05-15 20:18] claychaffin opened #7189 "Brainstorm new treatment experiments for Trailhead-branded pages"
Produce a[ list of experiment ideas](https://docs.google.com/document/d/1a3JurLUurz0wr7q8cKBoDT6mnIMmTxzk_pKdfhNSJj4/edit) for Trailhead-branded pages:

* /new and /thanks
* /accounts
* whatsnew 67.0.1
* email preferences center

Suggestions:
* Lead a brainstorming session inviting a small or large group. Treat it like a brainstorming session. (Only add ideas, don't critique; capture as many as po

[2019-05-15 20:20] claychaffin opened #7190 "Rewrite global CTA ("Get a Firefox Account")"
## Description

 Rewrite global CTA ("Get a Firefox Account")  aka Reword Global CTA for FxA Trailhead

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an example of a success criteria.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a checklist!
- [ ] This

[2019-05-15 20:28] claychaffin opened #7191 "Create copy options for pre-download modal on /new/thanks for the June 4 sprint"
Let's come up with new headline/subhead combos to test and optimize against the modal copy used in the last experiment:
"You've got the Firefox browser. Now get everything else Firefox."

Consider improving the sign up form as well, though (per Justin) there is less room for improvement there

Description, good enough that reading the card 1 month from now, you still know what it means.

---

####

[2019-05-15 21:36] amychurchwell commented on #7128
Copy has final approval & is frozen.
https://docs.google.com/document/d/1NwYHLso1SZm2OwDF0_dBZKA-muZ-dgP2EteLnBlORCs/

[2019-05-15 22:38] stephaniehobson opened #7193 "Remove links to games.mozilla.org"
## Description

Remove links to games.mozilla.org. Their security certificate has expired and we have the okay from Developer Marketing to remove the links.

[2019-05-15 22:50] amychurchwell opened #7194 "Remove games section from /technology"
## Description

games.mozilla.org is no more and we should remove and replace this section.

![Screen Shot 2019-05-15 at 3 47 51 PM](https://user-images.githubusercontent.com/30483988/57814574-eb349600-7728-11e9-8ceb-bb8645c2c9f4.png)

[2019-05-15 23:31] ejregithub commented on #7132
@dzingeek - can we get an image with the final copy, please?  [Copy (final/approved](https://docs.google.com/document/d/1F-hIja0JTQTHEK0_zKEFL8vRBBfYK4-LdqzaS-hSvN4/edit))

[2019-05-15 23:45] dzingeek commented on #7132
I can/will but I tend to think it's not necessary. Also, no one should use a design mockup as reference for final copy..they should always go to the source of truth which should be the copy doc.

[2019-05-15 23:49] dzingeek commented on #7132
@ejregithub that link is to the wrong copy doc. it's for /new and /thanks

[2019-05-16 16:15] groovecoder commented on #7128
@amychurchwell - can you let us know if/when this is up on any kind of staging server where we can check it out?

[2019-05-16 16:23] alexgibson commented on #7178
@ejregithub can you please provide the final list of locales for translation? The slide deck states:

`N, DE, FR, ES, ID, pt-BR, RU, PL, zh-TW + TBD`

Is that right? And if so, are there any TBDs?

[2019-05-16 16:44] amychurchwell commented on #7128
@groovecoder sure thing! It will be on demo for stakeholder review 5/21 but I can put a draft up sooner for Monitor functionality review.

[2019-05-16 16:51] ejregithub commented on #7178
EN, DE, FR, ES, ID, pt-BR, RU, PL, zh-TW + BG, CS, HU, IT, HU, NL
@alexgibson
The latter have localized the current version, would like them to be able to update the new strings as well, opt-in.  Localization to 100% is not required. EN will be shown until a string is localized, as it now works in the file.

[2019-05-16 18:20] #7118 closed

[2019-05-16 18:35] dzingeek commented on #7132
![accounts v1 1056 (4)](https://user-images.githubusercontent.com/3740746/57878285-8d5a8980-77ce-11e9-99d6-789a76fcf2f1.png)

@ejregithub ^

[2019-05-16 18:40] hoosteeno opened #7201 "Design: Trailhead-ify Pre-download FxA CTA for Fx Users"
## Description

Pre-Trailhead, we showed a pre-download modal (below) pitching FxA to people clicking the Download button on /new. We showed the modal only to Firefox users not logged in to sync. The modal was an effective FxA acquisition tool ([ref](https://analytics.amplitude.com/mozilla-corp/chart/q3klfgi)).

New designs for /new in Trailhead omit the modal. It needs to be updated to express ou

[2019-05-16 18:45] ejregithub commented on #7132
*Awesome*, thanks @dzingeek

[2019-05-16 18:47] ejregithub commented on #7132
Noted and replaced, thanks!

[2019-05-16 19:14] pmac commented on #7178
I believe the referenced PR (#7198) is ready for l10n.

[2019-05-17 08:59] alexgibson commented on #7178
I've extracted strings and opened a PR here: https://github.com/mozilla-l10n/www.mozilla.org/pull/299

Extraction was more complicated than usual, so it could do with some careful review.

[2019-05-17 13:58] alexgibson opened #7204 "l10n_extract only extracts strings from HTML templates"
## Description

See https://github.com/mozilla-l10n/www.mozilla.org/pull/299 for context.

### Steps to reproduce

Run `./manage.py l10n_extract bedrock/newsletter/templates/newsletter/existing.html`

### Expected result

It should generate a `newsletters.lang` file in `./locale/templates/mozorg/`, containing both the strings defined in the HTML template *and* the strings defined in `bedrock/newsl

[2019-05-17 14:03] pmac commented on #7204
Oh... well you ran it against a specific file. I expect if you ran it listing the template and the view file it would have worked. The extract script will only look at the files you tell it to if you list any, or all files of types it knows about if you don't pass it any files. It has no understanding of templates and views and how they connect.

[2019-05-17 14:04] pmac commented on #7204
In other words I believe the following command would have done what you wanted:

[code]

[2019-05-17 14:19] alexgibson commented on #7204
Oh, I had no idea you needed to run it directly on the Python file as well. The way I read the docs, it made it sound like it would extract all the needed localizations.

What then if the `views.py` file contains views for multiple templates, would they al end up in the same file?

[2019-05-17 14:23] alexgibson commented on #7204
Well, yup - in this case it does seem to do the right thing, and everything ends up in the right place. Let me run this again properly, and I'll update the lang file again in the preferences PR.

[2019-05-17 14:24] #7204 closed

[2019-05-17 14:46] pmac commented on #7204
When a python file has strings in it (which isn't that common really) you can specify the lang file with a constant variable in the file: `LANG_FILES`. You can see it at the top of `newsletters/views.py`. That determines the lookup of the strings in the same way as templates, and where strings should extract to. It's obviously not perfect as you point out, but it's what we've got for now.

[2019-05-17 15:28] stephaniehobson commented on #7183
[code]

Can we do stub attribution from this page? Do we need stub attribution to evaluate this experiment?

[2019-05-17 15:30] #7193 closed

[2019-05-18 03:42] hoosteeno commented on #7183
I don't think we need to do stub attribution; this is really a download experiment.

I'm not sure the feature we built to make it repeatable works on /firefox right now.

[2019-05-20 15:16] ejregithub commented on #7132
@craigcook is going to add a sign in link under the form in the new page, effectively fixing this ask:

https://bugzilla.mozilla.org/show_bug.cgi?id=1552819

[2019-05-20 15:44] ejregithub commented on #7132
@dzingeek - tagging you regarding the 'sign in' CTA  ^^

[2019-05-20 15:48] dzingeek commented on #7132
Confirming that we should add "Already have an account? Sign In." text + cta under the "continue" button for users who already know/have an account.

![Screen Shot 2019-05-20 at 8 46 33 AM](https://user-images.githubusercontent.com/3740746/58034688-ffd3ae00-7adb-11e9-8558-b94662b45b1f.png)

[2019-05-20 16:35] alexgibson commented on #7143
Launching these pages is blocked on some key questions:

- Can we launch the redesigned pages before July 4, at our own discretion?
- If no, when do the pages need to launch?

[2019-05-20 17:09] dzingeek commented on #7201
@hoosteeno I have a few UX questions around this experience.

- Having a user click a button to initiate a download and then get interrupted by a modal is not ideal is there a better way to expose current fx user to an account offer..maybe without the modal/interrupting step?
- If a user clicks "Download Anyway" will they be taking through the onboarding experience? If so they will see an offer to

[2019-05-20 17:15] alexgibson commented on #7201
I can add some extra info here: users should only see about:welcome if they launch Firefox using a new profile. If a visitor downloads Firefox using Firefox, and then installs the new version, it should get treated as a _pave over_ installation. This means Firefox will use their existing profile, and they won't get treated as a new user.

Caveat: this is how things used to work for /firstrun. Thin

[2019-05-20 17:59] dzingeek commented on #7132
final design mockups with the final copy

**Logged in**
![accounts-logged-in-1312](https://user-images.githubusercontent.com/3740746/58041993-5c3fc900-7aee-11e9-9ba5-1d74461fd8b4.png)
**Logged out**
![accounts-logged-out-1312](https://user-images.githubusercontent.com/3740746/58041950-3fa39100-7aee-11e9-9bfd-60411a0c6214.png)

[2019-05-20 19:10] hoosteeno commented on #7201
We await results on [our modal test in the funnel](https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=90742108). It may suggest a better place for this kind of prompt.

I encourage creative ideas for making this better, if they are based on more knowledge than we have now. Our current understanding of this flow is inadequate to say what Firefox users downloading Firefox expect. When presen

[2019-05-20 20:08] dzingeek commented on #7201
Thanks, @hoosteeno I will think about this more and chat with @wboucherfischer and a few others to see if we can come up with some other alternatives for future experiments.

[2019-05-20 21:44] ejregithub commented on #7184
Closing this as it was included/done in https://github.com/mozilla/bedrock/issues/7037

[2019-05-20 21:44] #7184 closed

[2019-05-20 23:39] dzingeek commented on #7128
@ejregithub final designs with final copy

**logged out**
![WNP-67 5-logged-out 1312](https://user-images.githubusercontent.com/3740746/58058417-befc8900-7b1d-11e9-91a7-6651c3226b55.png)

**logged in**
![WNP-67 5-logged-in 1312](https://user-images.githubusercontent.com/3740746/58058418-bf951f80-7b1d-11e9-836d-f4f118f343df.png)

[2019-05-21 15:22] alexgibson commented on #7076
WIP version is finally up on demo for design/copy/UX review:

https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/all/

Some notes:

Things still to do:
- [ ] Pre-select operating system choice on page load (it currently defaults to Windows 64bit).
- [ ] Updated based on feedback.
- [ ] Write tests.

[2019-05-21 15:44] hoosteeno commented on #7132
This page can land in prod anytime after 10am PDT 20190529.

[2019-05-21 15:44] hoosteeno commented on #7143
This page can land in prod anytime after 10am PDT 20190529.

[2019-05-21 15:55] rraue commented on #7076
We should have links to learn more for all editions in this info box:
<img width="595" alt="Screenshot 2019-05-21 at 17 53 06" src="https://user-images.githubusercontent.com/36700618/58111243-68607f00-7bf1-11e9-8e29-874fff2c944d.png">

[2019-05-21 16:02] craigcook commented on #7076
Do we have pages to link to for all of these? We have a product page for Dev Edition, and there's a page at /firefox/enterprise that might work for ESR. I don't know that we have informative pages for Beta or Nightly.

[2019-05-21 16:07] alexgibson commented on #7076
It's not perfect, but perhaps we can do the following:

- Firefox: `/firefox/`
- Firefox Beta: `/firefox/channel/desktop/#beta`
- Firefox Developer Edition: `/firefox/developer/`
- Firefox Nightly: `/firefox/channel/desktop/#nightly`
- Firefox ESR: `/firefox/organizations/` (Firefox Enterprise isn't really a channel like ESR)
- Firefox Android: `/firefox/mobile/`
- Firefox Android Beta `/firefox/c

[2019-05-21 16:18] rraue commented on #7076
Thats exactly what I though of @alexgibson

[2019-05-21 16:25] alexgibson opened #7207 "Adjust links on 67.0 /whatsnew page redirect to the wrong destination"
## Description

More than one of the app store badges on the 67.0 whatsnew page redirect clicks to the wrong destination: https://www.mozilla.org/en-US/firefox/67.0/whatsnew/

### Steps to reproduce

1. Load the above URL
2. Click "Get the Lockbox App"
3. Click the "Get it on Google Play" store badge.

### Expected result

I should get redirected to the Play Store.

### Actual result

I get redire

[2019-05-21 16:25] rraue commented on #7076
Here are the two things we talked in slack about @alexgibson:

- Canonical: as /beta/all/, /nightly/all/ and all other right now existing pages will be not transferred right away, when we push out the new /all/ we should include in all templates a canonical to /locale/firefox/all/ so we do not produce dublicate content. Then when these pages are all set, we redirect them to locale/firefox/all/

-

[2019-05-21 16:32] alexgibson commented on #7076
We don't serve builds for iOS directly from mozorg, but I think you're right we do need to do something for iOS users. Perhaps we can include some conditional string to explain that links over to the app store.

[2019-05-21 16:36] hoosteeno commented on #7076
Nice. I am very happy with the way this is shaping up.

* Is there a reason to omit the global accounts CTA from this page?
* How is the download button instrumented -- does it cause GA events to fire? Do events match the download (e.g. nightly vs. release)?
* What do we have to do to get [MSI downloads](https://support.mozilla.org/en-US/kb/deploy-firefox-msi-installers?redirectlocale=en-US&redire

[2019-05-21 16:38] rraue commented on #7076
One more detail:
`<a href="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=osx&amp;lang=ach" title="Download for macOS in Acholi"
    data-download-version="osx" data-download-language="acholi" data-link-type="download"
     data-download-os="Desktop">macOS
  </a>`

I would like to include here in the title the firefox prduct so the sentence most users are searching for is at least

[2019-05-21 16:45] alexgibson commented on #7076
Right now I'm hiding the global nav download button / accounts CTA, as the download button is confusing in context of the page. To pick apart that functionality so we can only show the accounts CTA is possible, but not something I'd want to add scope in doing here.

Right now I'm just making up data-attributes. I could use some help from maybe AP to confirm what I'm doing is ok.

We have to do the

[2019-05-21 16:48] alexgibson commented on #7076
I'll see what I can work out here. I'm going to say no to changing the link text, to keep things readable for humans. Doing this in the title attribute may be OK though.

[2019-05-21 16:51] rraue commented on #7076
We agree on this, just the title, not the link text, like in my example.

[2019-05-21 17:15] hoosteeno opened #7208 "Add deep linking in redesigned /all page"
## Description

On the new /all page, we have some installers that we wish to link people directly to. Specifically, we would like to deep link people to the list of installers corresponding to the /all pages we will decommission:

[code]

This will enable us to redirect traffic from those URLs to a pre-filled form on the new /all page that serves the same product.

---

#### :yellow_heart: Succes

[2019-05-21 17:21] alexgibson commented on #7208
There are likely some edge cases to think through here:

- Not all products are available in the same languages all the time (e.g. Nightly might add/drop some locales).
- Not all products support the same platforms (e.g. desktop vs android).
- Some products have more than one version at times (e.g. ESR).

If we're to make configuring the form deep-linkable in this way, we may want to think about h

[2019-05-21 17:23] hoosteeno opened #7209 "Add MSI installers to redesigned /all page"
In the new /all page (#7076) we allow visitors to choose a version of Firefox to download using a set of dropdowns. The following user story applies to this interface:

* As a user, I want to download Firefox MSI installers from the /all page

The following functional requirements support this user story:

1. MSI installers should be included in the list of products available via the dropdowns
2.

[2019-05-21 17:33] hoosteeno commented on #7208
I'm not clear on the risks here. Is it that someone might manually modify the fragment -- for example, incrementing the version or changing the platform while assuming the locale will persist? If so, could we mitigate this with some messaging indicating that an invalid fragment was detected and we've reset dropdowns to the default?

Could we mitigate this by including an optional version parameter

[2019-05-21 17:45] alexgibson commented on #7208
@hoosteeno I don't think there's a risk per-say, other than someone not quite getting the download they expect. URLs can stay around for a long time once shared, so i think it may at least be worth taking some time to think through what should happen on the page.

[2019-05-21 17:48] ejregithub opened #7210 "Created URL & redirect for /firefox/account - /firefox/accounts"
## Description

Currently the URL www.mozilla.org/firefox/account/ leads to a 404. Given the possibility of users entering that URL in an attempt to reach the accounts page we should create that URL and set a 301 redirect from it to www.mozilla.org/firefox/accounts

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] The redirect is in place at go live

#### Tasks
- [x] Create the URL w

[2019-05-21 18:31] hoosteeno commented on #7142
We have enough data. We can shut this experiment down.

[2019-05-21 18:51] claychaffin commented on #7191
@mrkwvr design pre-copy. Thanks Mark! @wboucherfischer Hi Wendy, do you have a POV about introducing  "Join Firefox" as our button CTA (replacing Get a Firefox Account") and something like "Already a member? Sign in" as our copy below the button? Thanks.
![Screen Shot 2019-05-21 at 11 36 04 AM](https://user-images.githubusercontent.com/45859665/58122534-b5772d80-7bbe-11e9-820a-913fdf6e6968.png)

[2019-05-21 19:51] hoosteeno commented on #7143
An experiment report is forthcoming. It finds no significant difference between v=a and v=b. We are green-lighted to replace the v=a treatment ("Control") with the v=b treatment ("Trailhead") to 100% of audiences after 10am PDT 20190529.

[2019-05-21 20:20] ejregithub opened #7211 "Remove current hard-coded zh-TW whatsnew template, enable zh-TW to follow global template"
https://bugzilla.mozilla.org/show_bug.cgi?id=1545705

Remove the current [zh-TW whatsnew template](https://www.mozilla.org/zh-TW/firefox/whatsnew/):
and follow the global one instead, so that users would be able to get the latest updates.

[2019-05-21 20:21] ejregithub commented on #7211
Commenting that we should target this to happen in the 68 release.

[2019-05-21 20:58] hoosteeno commented on #7142
Let me clarify the above.

We can stop the TrafficCop experiment that is sending a random % of visitors to two variations. That means all visitors will see the current treatment, which is identical to the control. However, we do not need to remove the Trailhead variation from Bedrock; next week, we will want the Trailhead variation to go live. Furthermore, QA may wish to visit the Trailhead variat

[2019-05-21 21:09] claychaffin commented on #7191
_Pages for reference_

After clicking  the "Download Firefox" CTA button on this page
https://www-demo1.allizom.org/en-US/firefox/new/?xv=th&v=b

If users click "

If users instead click "download anyway" they get:
https://www-demo1.allizom.org/en-US/firefox/download/thanks/?xv=th&v=b

[2019-05-22 08:17] alexgibson commented on #7209
Note: this may be somewhat tricky to do as long as we're still supporting the old page (which can't be removed until enough new locales have the new template translated), since the same product details data powers both templates.

[2019-05-22 09:48] alexgibson commented on #7208
A couple of other points to consider:

- I've been asked to add Firefox for iOS to the page. We don't provide configurable builds for this product, and can only point to the app store. So we'd need to figure out how to handle this.
- On page load, we auto-detect the user's language (based on the page language), and also try to best guess their operating system. This existing behavior would need ov

[2019-05-22 10:03] alexgibson commented on #7143
Pull request above to make the new design is now ready and awaiting code review. I've marked it as do-not-merge until the 29th.

[2019-05-22 14:57] hoosteeno opened #7212 "Update leadership page"
See specs in https://bugzilla.mozilla.org/show_bug.cgi?id=1553379.

- [ ] Code
- [ ] Review code / merge / push

[2019-05-22 15:00] alexgibson commented on #7076
I've updated the demo with the following changes, based on feedback:

- [x] Operating system and language are pre-selected on page load to default to the most suitable choice for the visitor (if locale is not available for a product, it defaults back to en-US).
- [x] The new design is shown only at `/firefox/all/` if translated (after on discussion with @rraue). Pages such as `/firefox/beta/all/`

[2019-05-22 15:32] LucyeoH commented on #6994
Hey @alexgibson and @hoosteeno thanks so much for making this happen! We're so excited to see how this makes is easier for contributors to find the easiest ways to get involved. The current [BugHunter campaign ](https://events.mozilla.org/becomeabetatestingbughunter) on the Activate site just brought 11k beta testers and more than 150 bugs for Fenix and I'm sure having this linked will increase th

[2019-05-22 15:33] hoosteeno commented on #6994
Hi @LucyeoH ,

Regarding Alex's question in https://github.com/mozilla/bedrock/issues/6994#issuecomment-487942885, do you think the approach he suggests is adequate? If so we can get this prioritized.

[2019-05-22 16:24] LucyeoH commented on #6994
Hey!

Might be easier to do in a quick meeting (I'll propose a time for next week) but I think these generally make sense.

My understanding of current status on 1-3.
   * [x] Redirect /contribute/getinvolved/ (and any sub-pages) to https://activate.mozilla.community/
   * [x] Remove /contribute/studentambassadors/ and redirect back to /contribute/ -> Currently re-directs to campus.mozilla.communi

[2019-05-22 16:24] claychaffin commented on #7191
Copy deck - work in progress: https://docs.google.com/document/d/1vfMqegM57OvFkAjFIZ03B_3zS9KAFHW_fM0WShHY5pA/edit?usp=sharing

[2019-05-22 16:37] alexgibson commented on #7076
After delving further, I'm not yet going to add Firefox for iOS in this initial PR. There is plumbing in product details to support it, but it does not seem fully implemented in bedrock. In order to get people to the correct App Store, it may require some more back-end work that goes beyond the scope of this redesigned page.

[2019-05-22 16:41] alexgibson commented on #6994
Whilst we're discusing this, it would be great to also figure out a way to resolve this 3 year old bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1275323

[2019-05-22 17:15] LucyeoH commented on #6994
@alexgibson thanks for the reminder! I left a comment!

[2019-05-22 18:29] hoosteeno opened #7214 "App store badges don't work as expected on desktop"
## Description

Adjust links such as the ones on WNP67 (click "Get Lockbox" and then on an app store badge) are designed to redirect mobile user agents to their appropriate app store. On desktop, these links redirect to the Apple App Store, even when clicking on the Google Play Store button. With more interest in our non-browser products and more marketing of them, this problem will continue to co

[2019-05-22 18:46] hoosteeno commented on #7214
@lwa-moz will generate new Adjust links and put them in this issue for us when ready.

[2019-05-22 18:47] hoosteeno commented on #7207
Great issue, thanks. The solutioning for this will be tracked over in #7214, so we'll close this as a dupe.

[2019-05-22 18:47] #7207 closed

[2019-05-22 20:35] wboucherfischer commented on #7138
Here are links to usability reports:

[WNP Logged Out State](https://docs.google.com/presentation/d/15IfYiePdr1F_zUwTtR0W74SyAGnoXbZxnlyw-0vIEs8/edit?usp=sharing)
WNP Logged In State [](https://docs.google.com/presentation/d/1oFSrSE6Sc-kesypexqYJMfHblvLfzT-vPV3X9QsUm5A/edit?usp=sharing)
/accounts [](https://docs.google.com/presentation/d/1xct5X9NdSHt00aZIEDcahsJwQRRRJSe9CcKroH_pH3k/edit?usp=sharin

[2019-05-22 22:42] sghoseWI commented on #7143
Report: https://docs.google.com/document/d/1un9HIrY_aFr_hstTSSzFU8R5p7YwgyP2ODbjQoqq9f0/edit

[2019-05-23 08:33] alexgibson commented on #7142
Report is here: https://docs.google.com/document/d/1un9HIrY_aFr_hstTSSzFU8R5p7YwgyP2ODbjQoqq9f0/edit

All tasks for this issue are now complete, so I'm going to close this as done.

[2019-05-23 08:33] #7142 closed

[2019-05-23 15:49] dzingeek commented on #7132
@craigcook here are stacked SVG versions of the send, monitor and master brand.
[logos-svg.zip](https://github.com/mozilla/bedrock/files/3213062/logos-svg.zip)

[2019-05-23 16:29] alexgibson commented on #7130
Closing as a duplicate of https://github.com/mozilla/bedrock/issues/7211

[2019-05-23 16:29] #7130 closed

[2019-05-23 16:31] ejregithub commented on #7212
@stephaniehobson - please confirm this work size (as a 1 or 2?)

[2019-05-23 16:40] alexgibson commented on #7214
See also: https://github.com/mozilla/bedrock/issues/7103

[2019-05-23 17:28] #7212 closed

[2019-05-23 17:46] hoosteeno commented on #6854
@amychurchwell this issue ended up taking longer than we thought. Could you resize it? Was it a 21? Bigger?

[2019-05-23 17:47] ejregithub commented on #7142
@alexgibson @sghoseWI @hoosteeno - this card was not sized, please apply an Estimate

[2019-05-23 17:48] hoosteeno commented on #7055
@alexgibson Could you size this? Was it 2 per page, or maybe 8 overall?

[2019-05-23 17:48] ejregithub commented on #7177
@alexgibson - please provide your Estimate (or in retrospective, the actual) for this work

[2019-05-23 18:56] lwa-moz commented on #7214
This link will resolve Google Play page regardless of the device used to open it: https://app.adjust.com/utf1y0q?redirect=https%3A%2F%2Fplay.google.com/store/apps/details?id=mozilla.lockbox

[2019-05-23 20:12] stephaniehobson commented on #7157
This floating box could be added to Protocol too. It's on the WNP and in IRL.

<img width="720" alt="Screen Shot 2019-05-23 at 1 08 50 PM" src="https://user-images.githubusercontent.com/854701/58283075-4afbf400-7d5c-11e9-9776-c30e7c088710.png">

[2019-05-23 20:24] stephaniehobson commented on #7157
Designs reviewed.

Here are the related issues:
mozilla/protocol#380
mozilla/protocol#358
mozilla/protocol#357
mozilla/protocol#383
mozilla/protocol#382
mozilla/protocol#385
mozilla/protocol-tokens#53
mozilla/protocol-tokens#51

[2019-05-23 20:24] #7157 closed

[2019-05-23 20:33] stephaniehobson opened #7216 "Update Firefox Reality Logo"
## Description

/media/img/logos/firefox/logo-reality.png is the old reality logo.

It should be the new one

[2019-05-23 21:14] ejregithub opened #7217 "Trailhead - /new & /thanks - Code Review"
Code review of @alexgibson 's PR - https://github.com/mozilla/bedrock/pull/7187

Success Criteria
- [ ] This must be done in time for the 5/29 10 am PDT launch

[2019-05-23 21:15] ejregithub opened #7218 "Trailhead - /new & /thanks - Launch on 5/29 at 10am PDT"
Launch this page so it is live at our around 10am PDT on 5/29/2019

[2019-05-23 21:20] ejregithub opened #7219 "Trailhead - /accounts - Code Review"
## Description

Code review for the /firefox/accounts page

[2019-05-23 21:25] ejregithub opened #7220 "Trailhead - /accounts page"

[2019-05-23 21:26] stephaniehobson opened #7221 "EN Hompage Card 5"
## Description

TAG: (no change) FIREFOX
HEADLINE: (no change)  Get the latest Firefox
IMAGE: (new) https://blog.mozilla.org/wp-content/uploads/2019/05/FX67_Blog_Speed_1200x660.png
BLURB: (new copy) The latest Firefox brings fast and private together with new features to keep your personal information safe while you’re online with us.
LINK: (new) https://blog.mozilla.org/blog/2019/05/21/latest-fir

[2019-05-23 21:29] ejregithub opened #7222 "Trailhead - /accounts - Launch the page on 5/29 10am PDT"

[2019-05-23 22:15] ejregithub opened #7223 "Trailhead - WNP 67.0.5 - Code Review"
## Description

Trailhead - WNP 67.0.5 - perform Code Review of the Pull Request
---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an example of a success criteria.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a checklist!
- [ ] This is an example of a risk

[2019-05-23 22:18] ejregithub opened #7224 "Trailhead - Launch WNP 67.0.5"
## Description

Launch the WNP for trailhead when it is ready (passed code review and merged)

---

[2019-05-23 22:19] hoosteeno commented on #7214
This issue is happening in reverse on https://www.mozilla.org/en-US/firefox/68.0beta/whatsnew/.

@lwa-moz , can you specify exactly what needs to be done to fix the issue? e.g...

[code]

[2019-05-23 22:37] ejregithub opened #7225 "Implement design updates in Email Prefs Ctr."
## Description

Apply the suggested changes in this comment to the new email preferences center page mozilla/bedrock: Issue #7164

---

#### Tasks
- [ ] Code
- [ ] Code Review

[2019-05-23 22:40] ejregithub opened #7226 "Launch Email Prefs Ctr design updates"
## Description

Launch the page after PR has been merged.

[2019-05-23 23:15] ejregithub opened #7228 "/all page - Code Review"
## Description

When complete, review the PR for updating the /all page

---

#### Tasks
- [ ] Code review the PR

[2019-05-23 23:18] ejregithub opened #7229 "/all - String Extraction"
## Description

When copy is final/approved and a PR submitted, extract the strings for localization

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an example of a success criteria.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a checklist!
- [ ] This is

[2019-05-24 00:45] lwa-moz commented on #7214
Good call out:
LockWise WNP 68.0 Adjust Links
Android: https://app.adjust.com/gi0ycmr?redirect=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dmozilla.lockbox
iOS:  https://app.adjust.com/qywno6t?redirect=https%3A%2F%2Fitunes.apple.com%2Fapp%2Fid1314000270%3Fmt%3D8

Please let me know if you're referring to something different from platform specific LockWise install links. Happy to p

[2019-05-24 02:33] hoosteeno commented on #7214
Thanks @lwa-moz ! Can you do the same for Pocket and Notes?

[2019-05-24 14:35] lwa-moz commented on #7214
**For Pocket:**
Android: https://app.adjust.com/1ek4zlx?redirect=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.ideashower.readitlater.pro
iOS: https://app.adjust.com/438mmzr?redirect=https%3A%2F%2Fitunes.apple.com%2Fus%2Fapp%2Fpocket-save-read-grow%2Fid309601447

The Adjust integration for Notes is not live, so we'll be unable to provide redirect links with Adjust tracking embe

[2019-05-24 15:44] ejregithub opened #7231 "/all - User testing"
## Description

Description, good enough that reading the card 1 month from now, you still know what it means.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] A test plan is written.
- [ ] There is a usability report written
- [ ] The results are presented to the group.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] The /all page is not ready.
- [ ] I don't und

[2019-05-24 15:45] ejregithub commented on #7231
@wboucherfischer - please flesh out the description as well as adding tasks and success criteria (the definition of done).

[2019-05-24 16:22] alexgibson commented on #7076
@hoosteeno is it possible to enlist the help of Analytics Pros to QA that we're still counting downloads correctly on this new page? I think I've followed everything as closely as I can in terms of how regular download buttons work, but it would be good to get someone to help verify? Thanks

[2019-05-24 16:29] hoosteeno commented on #7076
@apwescontreras could you take a quick look at the [demo page](https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/all/) and let us know how the instrumentation looks? We want to capture the data in the dropdowns in the same way we have been on the [existing pages](https://www.mozilla.org/en-US/firefox/organizations/all/).

[2019-05-24 16:38] alexgibson commented on #7076
To be clear, we would like to verify that when someone clicks the blue "Download Now" button, the correct data attributes have been set (e.g. for product, platform, language etc). The data that gets passed on when clicking "Download Now" should be consistent with how other download buttons are tracked in general. Thanks

[2019-05-24 16:42] hoosteeno commented on #7214
Thanks!

**Implementers:** I captured the badge specific links for all apps in the overall description of this bug.

[2019-05-24 17:21] ejregithub commented on #7190
Comments from @hoosteeno in Slack:

[code]

[2019-05-24 17:28] #7128 closed

[2019-05-24 17:43] ejregithub opened #7232 "pre-download FxA CTA for Firefox users modal - Code"
The copy and design here is final, from https://github.com/mozilla/bedrock/issues/7201

"here's the sketch file with the modal design and final copy FxA-modal-:[new.sketch.zip](https://github.com/mozilla/bedrock/files/3278364/FxA-modal-.new.sketch.zip)"

[2019-05-24 17:43] ejregithub opened #7233 "pre-download FxA CTA for Firefox users modal - Code Review"

[2019-05-24 17:43] ejregithub opened #7234 "pre-download FxA CTA for Firefox users modal - Launch"

[2019-05-24 17:43] ejregithub opened #7235 "Redesign/rebuild pre-download FxA CTA for Firefox users modal"
## Description

The original pre-download FxA CTA was the result of an experiment. Now we need to re-think it and iterate for improvements.

---

[2019-05-24 17:51] ejregithub opened #7236 "pre-download FxA CTA for Firefox users modal - Extract Strings"
## Description

Extract strings for localization when copy is final/approved

---

[2019-05-24 18:08] hoosteeno opened #7237 "Set up demo of Convert"
We previously set up a demo of Google Optimize. Can we replace that demo with a demo of convert.com? This will require removing Google Optimize tags from HTML, and adding convert.com tags to HTML *on a specific page e.g. /new*. Here's an example of the convert tag (actual code to be provided when URL of demo server is known).

[code]

cc: @jpetto @metadave

[2019-05-24 18:11] hoosteeno opened #7238 "Add trailhead param to FxA links from WNP67.0.5"
We have [a redesigned FxA form](https://mozilla.invisionapp.com/share/3GRZJ9J65A9#/screens/365088538) to show to visitors coming from WNP 67.0.5 (but not from other website pages, yet). In order to trigger the new style, we need to add an additional url parameter when referring visitors to the FxA form. The parameter is `style=trailhead`. So, an example URL might be `https://accounts.firefox.com/s

[2019-05-24 18:39] ejregithub commented on #7178
Given that the PR - https://github.com/mozilla-l10n/www.mozilla.org/pull/299 has been merged, I'm closing this issue.

[2019-05-24 18:39] #7178 closed

[2019-05-24 18:42] ejregithub commented on #7143
I'm going to close this issue as we've created a separate issue for the code review - #7217 and another for the launch on 5/29 -#7218

[2019-05-24 18:42] #7143 closed

[2019-05-24 19:30] ejregithub opened #7240 "Migrate /campaign to a new template"
The /campaign pages ('new' and 'thanks') needs to be updated to match the new (Trailhead) page branding in THE /new and /thanks pages.

Tasks

- [ ] Lang file creation
- [ ] Create L10n switching logic
- [ ] Code
- [ ] Test
- [ ] Code review

[2019-05-24 19:48] craigcook commented on #7132
I need to know any UTM parameters and/or data attributes I should include on the four product links (especially the offsite links to Lockwise, Send, and Monitor), the Personal Data Promise blog post, and the account signup form.

[2019-05-24 20:06] craigcook commented on #7132
Demo: https://bedrock-demo-craigcook.oregon-b.moz.works/firefox/accounts/

[2019-05-24 20:42] hoosteeno commented on #7132
**For Lockwise, Monitor and Send**
`utm_source=www.mozilla.org&utm_medium=referral&utm_campaign=accounts-trailhead&utm_content=product-list-item&entrypoint=mozilla.org-accounts_page`

**For Personal Data Promise**
`utm_source=www.mozilla.org&utm_medium=referral&utm_campaign=accounts-trailhead&utm_content=accounts-value&utm_term=respect-you-deserve`

**For Account Sign Up Form**
It should use [the