[2020-02-21 17:17] hoosteeno commented on #8461
@stephaniehobson Is the brand team going to update the Features pages? What's the timeline for that?

[2020-02-21 17:26] hoosteeno commented on #8035
Archiving this for now. Reopen if it's a priority in the future.

[2020-02-21 17:26] #8035 closed

[2020-02-21 17:27] hoosteeno commented on #8183
Closing for now. Reopen if it becomes a priority.

[2020-02-21 17:27] #8183 closed

[2020-02-21 17:27] #8179 closed

[2020-02-21 17:27] #8180 closed

[2020-02-21 17:33] hoosteeno commented on #6798
@stephaniehobson are you self-assigning this issue?

[2020-02-21 17:34] hoosteeno commented on #7258
@slightlyoffbeat Can you update this with fresh specs?

[2020-02-21 17:37] hoosteeno commented on #7488
Moving to research until it's clearer what needs done here.

[2020-02-21 17:38] hoosteeno commented on #8468
Blocked by design: https://github.com/mozilla/bedrock/issues/8469

[2020-02-21 17:39] ejregithub commented on #8577
@justinkropp - can you please apply an Estimate for your work in this card?  LMK if you need some guidance to doing so.

[2020-02-21 17:44] justinkropp commented on #8577
@ejregithub Yes, I need some guidance. I don't know how to apply estimates in github and I don't know where this card lives?

[2020-02-21 17:50] hoosteeno commented on #8554
This page is not beautiful now.

[2020-02-21 18:21] hoosteeno commented on #8554
See also: https://github.com/mozilla/bedrock/issues/5766

[2020-02-21 21:20] stephaniehobson commented on #6798
I guess so?

I have a WIP of updating the pages to Protocol here: https://github.com/mozilla/bedrock/pull/8532

However, it does not change the template as the issue suggests since we'd need different assets for the other template.

[2020-02-21 21:21] stephaniehobson commented on #8461
It's on our wishlist but I wouldn't expect any movement on it before June.

[2020-02-21 21:33] hoosteeno commented on #7841
The design team provided feedback yesterday; next steps are coding for final review.

[2020-02-21 22:50] amychurchwell opened #8579 "Only show nightly down if ?channel=nightly on firefox/installer-help/"
## Description

Users arriving on firefox/installer-help/ from the nightly channel should be shown the Firefox nightly download button instead of all of the download buttons. Like we do for the other channels.

[beta](
https://www.mozilla.org/en-US/firefox/installer-help/?channel=beta&installer_lang=en-US)
![Screen Shot 2020-02-21 at 2 47 47 PM](https://user-images.githubusercontent.com/30483988/7

[2020-02-21 23:13] cgonz0 commented on #8499
[newsletter_thankyou_assets.zip](https://app.zenhub.com/files/1616665/b82fd28a-90b3-4c77-9986-a5b157160f51/download)

[Sketch file](https://share.goabstract.com/c14c351e-0d8e-44ac-9604-b1b6501eaf69?sha=720adce9ae4c11791560f51d9943225950415f54l)

![1312 - FINAL Design.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/3fe014a7-0701-458b-924c-2deb620c66ae)

![480 - FINAL Design.png](

[2020-02-21 23:44] hoosteeno opened #8581 "Design: Produce comps for migrating /features to Protocol (deadline: 2020-03-20)"
## Description

We want to migrate the /features section to Protocol. We need a light design process that specifies the right way to deliver a Protocol version of the index and item pages.

This is a Q1 KR; we committed to complete it by 2020-03-20.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] This issue is resolved by 03/20/20
- [ ] Design comps for index and item pages are rev

[2020-02-21 23:58] #8319 closed

[2020-02-24 12:49] alexgibson commented on #8522
After some discussion with @rraue, we think it is likely safe to open this to all locales, given some caveats:

- Locales for bedrock don't necessarily map 1:1 with other sites. This means that for some external URLs, such as Wikipedia and SUMO, there's a chance the destination might return a 404. Given that this data is for crawlers only, this risk is probably ok. Some data is better than no data

[2020-02-24 13:01] alexgibson commented on #8522
@rraue some of this might be beyond the scope of this issue, but I have some questions on the current data:

1. The following json files are not used anywhere:
  - firefox-fire-tv-software.json
  - firefox-lite-software.json
  - firefox-lockwise-software.json
  - firefox-monitor-software.json
  - firefox-send-software.json

Should they be included somehere, if they are still needed? I'm guessing t

[2020-02-24 13:07] alexgibson opened #8584 "Functional tests for browser comparison pages"
## Description

The following pages don't yet have any test coverage:

- https://www.mozilla.org/en-US/firefox/browsers/compare/
- https://www.mozilla.org/en-US/firefox/browsers/compare/chrome/
- https://www.mozilla.org/en-US/firefox/browsers/compare/edge/
- https://www.mozilla.org/en-US/firefox/browsers/compare/ie/
- https://www.mozilla.org/en-US/firefox/browsers/compare/opera/
- https://www.mozi

[2020-02-24 14:46] alexgibson commented on #8522
@rraue this is now deployed on demo2 for all locales. Can you please help test?

https://www-demo2.allizom.org/

[2020-02-24 15:59] alexgibson commented on #8579
Related code: https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/views.py#L46

Incidentally, looking in GA I also see `?channel=aurora`, which I'm guessing (?) is for dev edition.

[2020-02-24 16:04] alexgibson commented on #8375
@hoosteeno mentioned the foundation now have their own pages related to Internet Health, which could serve as a good redirect target if we end-of-life the mozorg pages:

https://foundation.mozilla.org/en/internet-health/

[2020-02-24 16:08] amychurchwell commented on #8437
@imskr apologies for the delayed response. Unfortunately, we are unable to mentor this bug but I'd recommend looking at other tests using `from pages.regions.modal import ModalProtocol`.
For now I'm going to close the open PR. :+1:

[2020-02-24 16:49] alexgibson commented on #7134
This bug was never fixed, but the page has since been removed in https://github.com/mozilla/bedrock/pull/8542

[2020-02-24 16:49] #7134 closed

[2020-02-24 17:06] alexgibson opened #8585 "Update /contact pages with chat.mozilla.org info"
## Description

The [/contact](https://www.mozilla.org/en-US/contact/) pages still reference irc.mozilla.org in several places. We should update these links with chat.mozilla.org links where appropriate.

https://www.mozilla.org/en-US/contact/
https://www.mozilla.org/en-US/contact/communities/united-kingdom/

[2020-02-24 19:16] slightlyoffbeat commented on #7258
@hoosteeno

Updated specs on latest comment here:

https://bugzilla.mozilla.org/show_bug.cgi?id=1522698

One note: I provided two options for the featured block. I'd like to go with option 1, but I'd also like to have option two translated and ready to go in the event that we need to swap things out quickly.

[2020-02-24 20:08] imskr commented on #8579
Would like to fix this issue 🔧

[2020-02-25 10:09] alexgibson commented on #7185
I think @hoosteeno's list of suggestions above sound sensible. Moving this to ready.

[2020-02-25 12:40] rraue opened #8586 "Broken links on /browsers/ & /products/"
## Description

On /browsers/ & /products/ in the footer there is a newsletter signup box and the two links to Sign up & Learn more about the accounts are linking to 404s:

Sign up links to https://www.mozilla.org/en-US/firefox/products/%7B%7B%20fxa_link%20%7D%7D?context=fx_desktop_v3&context=fx_desktop_v3

Learn more to https://www.mozilla.org/en-US/firefox/products/%7B%7B%20accounts_link%20%7D%7

[2020-02-25 12:43] rraue commented on #8334
I want to endorse this issue, as all traffic from Search around sync is landing on sumo but should go to the accounts page first. So we need to figure out how to get sync as a feature on this page, its the one thing users care most about, at least in search.

[2020-02-25 12:45] rraue commented on #8298
Now that the two pages are online, when do we plan to add links in the nav and footer to them?

[2020-02-25 13:57] alexgibson opened #8588 "Functional tests for facebook container page"
## Description

The [facebook container](https://www.mozilla.org/en-US/firefox/facebookcontainer/) page doesn't currently have any coverage, and should have a basic functional test.

[2020-02-25 13:58] alexgibson opened #8589 "Functional test for manifesto page"
## Description

The [manifesto page](https://www.mozilla.org/en-US/about/manifesto/) doesn't currently have any coverage, and should have a basic functional test.

[2020-02-25 14:37] rraue commented on #8522
@alexgibson  On non-Tier 1 locale-homepages structured data is missing. Besides that it looks exactly as expected.

[2020-02-25 14:44] rraue commented on #8522
We decided for simplicity to not nest them together but include them all in the organisation schema as right now they are used just on the homepage. But yes lockwise should be on the lockwise page, it was moving when we included the data. I will file an separate issue about this. The other files we should keep as we will need them at some point (for example on the new products page you ask about i

[2020-02-25 15:15] rraue commented on #8522
@alexgibson and I talked offline and we need to update /firefox, /lockwise and /products in order to test the changes in this issue:

- [ ] Include firefox-lockwise-software.json on /lockwise

- [ ] Include on /products the following:

- firefox-monitor-software.json
- firefox-browser-software.json (is already included, if I see this right)
- firefox-lockwise-software.json
- firefox-send-software.

[2020-02-25 16:42] alexgibson commented on #8522
@rraue demo is now updated with the changes listed above. Can you please verify if this looks ok?

https://www-demo2.allizom.org/

Thanks for all your help!

[2020-02-25 16:50] hoosteeno commented on #8561
This is underway in [a (Mozilla confidential) document](https://docs.google.com/document/d/1LfhppxqF_qkKx-znHBMlsTzVclHgzskUa41XDwWODXA/edit#).

[2020-02-25 16:54] #7324 closed

[2020-02-25 16:55] #8499 closed

[2020-02-25 17:28] #8586 closed

[2020-02-25 17:36] rraue commented on #8522
@alexgibson Looks all great!

[2020-02-25 17:46] stephaniehobson commented on #8298
They are already there in English. (the feature cards in the header, and the "browsers" link in the footer) I was going to check translations status for the other locales on Mar 6 (one month after translation was enabled).

[2020-02-25 18:13] alexgibson opened #8591 "Migrate 404 and 500 pages to Fluent"
## Description

Once https://github.com/mozilla/bedrock/issues/8407 is completed, the L10n team would like to test their new pipeline by migrating the pages to Fluent.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Pages are updated in production to use Fluent for translation.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] There may be a delay in getting trans

[2020-02-25 18:19] dzingeek commented on #8334
Let me talk to my team and see if we can get this on our roadmap..probably won't be until Q2. But I agree, this page needs an updated...not just to mention sync but also there isn't much there other than duplicated stuff that is on /firefox.

[2020-02-25 22:40] amychurchwell opened #8592 "Messaging when updating dev edition directed at new users instead of existing."
## Description

The copy when updating developer edition is talking to new users, not existing users.
![image](https://user-images.githubusercontent.com/30483988/75294216-ad4abf00-57dc-11ea-844c-380deb8385ca.png)

example: https://www.mozilla.org/en-US/firefox/73.0a2/whatsnew/all/?oldversion=72.0

[Separating this issue from #7488]

[2020-02-26 00:30] rantley commented on #8545
RND 1 copy https://docs.google.com/document/d/14vJmsevrc6fac8IMZMRzPruhEcSZtMDlPyGNSzP3Mwg/edit#

RND 2 WIP
https://docs.google.com/document/d/14kMX3dSG10xS0UseMPjkYZPUJCB8BDVsJPBJdeYQemo/edit?usp=sharing

[2020-02-26 09:50] alexgibson commented on #7841
@amychurchwell Some feedback on the draft experiment in Convert:

As a general guideline, please try and follow the [documentation](https://bedrock.readthedocs.io/en/latest/abtest.html#qa-for-convert-experiments) for QA'ing Convert experiments. The process is to draft your experiment against staging, which I can then activate and review.

I took a look at the config and here is some initial feedba

[2020-02-26 15:15] Pike opened #8593 "Update `fluent.migrate` to take fix for bug 1615209"
## Description

When migrating localized files to Fluent, English untranslated text is added. See bug 1615209.

This is fixed in the underlying `fluent.migrate` library, let's pick up that fix.

[2020-02-26 15:17] justinkropp commented on #8577
![fx-enterprise-1312 update.png](https://images.zenhubusercontent.com/5e3b061054691a8602dab50b/a09ff11d-6c3f-44d5-9a40-8ecadd22b606)

I've updated the design of the Enterprise page. The biggest change on the page is the treatment of the downloads section, which now consists of the following:

- a drop-down button that will allow the user to trigger a download of whatever configuration/installer th

[2020-02-26 15:28] #8593 closed

[2020-02-26 15:44] alexgibson commented on #8591
This page isn't suitable as we need to test the vendor pipeline, closing.

[2020-02-26 15:44] #8591 closed

[2020-02-26 16:54] alexgibson opened #8595 "Port firefox/switch page to Fluent"
## Description

The L10n team would like to run a second test for the vendor pipeline, so we've settled on porting the [firefox/switch](https://www.mozilla.org/en-US/firefox/switch/) page.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is updated in production to use Fluent for translation.

#### Tasks
- [ ] Migrate .lang files to .ftl
- [ ] Migrate template.
- [ ] Expose str

[2020-02-26 16:56] Pike commented on #8595
First step, create recipe ;-)

[2020-02-26 16:58] #8522 closed

[2020-02-26 17:00] alexgibson commented on #8595
note to self: https://bedrock.readthedocs.io/en/latest/fluent-conversion.html

[2020-02-26 17:51] amychurchwell commented on #7841
@alexgibson Thanks for the feedback!

- Do you have time this week for a quick chat about convert because I was thinking I had configured it against staging (allizom)?
- Will update goal.
- Animated version is on the slower side, this was reviewed by Cristina & Kropp. We had done a couple different speeds & ended up landing on this one. I will double check the alignment, things had shifted slightl

[2020-02-26 17:56] alexgibson commented on #7841
This is what I see in the targeting area:

<img width="1054" alt="image" src="https://user-images.githubusercontent.com/400117/75372930-320f0900-58c1-11ea-9e4d-060d1bf181c7.png">

Happy to walk through things if it may help, feel free to send my a zoom invite for any time that works 👍

[2020-02-26 17:58] amychurchwell commented on #7841
@alexgibson oh, I see! no, this clears things up. Thank you. 👍

[2020-02-26 19:11] hoosteeno opened #8596 "Redirect XR page to SUMO"
## Description

Users are clicking on product UI which leads to nonexistent content at www.mozilla.org/%LOCALE%/firefox/xr/. See https://bugzilla.mozilla.org/show_bug.cgi?id=1606238 for one bug report about this, and see https://dxr.mozilla.org/mozilla-central/source/browser/app/profile/firefox.js#827 for the code behind it.

This URL is already live in release versions of Firefox, according to th

[2020-02-26 19:33] craigcook commented on #8546
Demo: https://www-demo3.allizom.org/firefox/74.0/whatsnew/all/

[2020-02-26 21:21] #8596 closed

[2020-02-27 00:26] stephaniehobson commented on #7841
- [x] The experiment’s logic
- ~Any JS included (in Convert editor’s JS field)~ n/a
- [x] Any CSS included (in Convert editor’s CSS field)
- [x] The target audience configured
- [x] The goals configured
- [x] The distribution percentages configured
  - I increased this to 100%, we will configure the 8% distribution on the CDN when the experiment is activated.
- [x] The target URLs configured

R+ ⬇

[2020-02-27 15:33] alexgibson commented on #7841
This experiment is now running in production for 8% of traffic to /en-US/firefox/new/

[2020-02-27 16:53] hoosteeno commented on #8546
We need...

* icons (@cgonz0 ?)
* final copy in en (@rantley ?)
* final copy de/fr (@ejregithub ?)
* an analytics review (@hoosteeno )

[2020-02-27 20:37] amychurchwell commented on #8374
Can we port this to protocol in the meantime?

[2020-02-27 20:44] alexgibson commented on #8374
@amychurchwell right now pages like this are dependent on the audit in https://github.com/mozilla/bedrock/issues/8421.

I’m not sure it’s worth the effort of porting pages we can potentially retire soon. Let’s wait until the audit is complete?

[2020-02-27 21:13] amychurchwell commented on #8374
@alexgibson sounds good! 👍

[2020-02-27 21:38] amychurchwell opened #8600 "Experiment: sticky navigation on /firefox"
## Description
Hypothesis: If we make the global navigation a sticky navigation, CTA clicks in global nav CTA will increase.

## Test Plan
https://docs.google.com/document/d/1eja21ZlEJQfi-9jjWUhxx1zD6Gnm5EeaGMR8BZBIOP8/edit?usp=sharing

#### Tasks
- [x] Put proposed nav on demo for design review.
- [x] Code experiment for final review.

#### Demo
https://www-demo-demo-nav-sdavucfmzlyu.herokuapp.co

[2020-02-27 23:30] cgonz0 commented on #8544
![WNP 74 - EN DE.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/f61d42c4-8cf2-42fc-af44-87bdacec1ce2)![WNP 74 - FR.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/1778bbb3-484e-4776-b1a3-c86cfe99a4f1)![WNP 74 - RoW.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/5e221c35-746f-481c-ba32-a3aa912b18dc)

[2020-02-27 23:34] amychurchwell opened #8602 "Experiment: installer-help redesign"
## Description
Design & copy for /firefox/installer-help/

## Test Plan
https://docs.google.com/document/d/1nI6GlQjZ3mH7_J_Dsdgpd2Ia7hke0lDxgwT7BrvvJwU/edit?usp=sharing

#### Tasks
- [x] Copy.
- [x] Design mockups.
- [x] Demo for design review.
- [x] Code experiment for final review.

#### Demo
N/A

[2020-02-28 10:03] alexgibson commented on #6798
I think we should probably close this issue as wontfix (?), as we seem committed to maintaining these for now as full-fat download pages.

[2020-02-28 10:04] alexgibson commented on #6798
Feel free to re-open if we want to revisit.

[2020-02-28 10:04] #6798 closed

[2020-02-28 10:06] alexgibson opened #8604 "Functional tests for platform download pages"
## Description

The following pages don't yet have any test coverage:

- https://www.mozilla.org/en-US/firefox/windows/
- https://www.mozilla.org/en-US/firefox/mac/
- https://www.mozilla.org/en-US/firefox/linux/

[2020-02-28 13:56] alexgibson opened #8606 "Fundraising banner does not submit the correct donation amount"
## Description

When working on #8605 I noticed the fundarising banner on the [dev homepage](https://www-dev.allizom.org/en-US/) no passes the selected donation amount through to https://donate.mozilla.org/en-US/.

As a result, you need to select the amount again once you land on the foundation's page.

### Steps to reproduce

1. Visit https://www-dev.allizom.org/en-US/
2. Select "Monthly" and "$5

[2020-02-28 13:58] alexgibson commented on #8606
Note that this bug doesn't currently cause any issues, as the banner is not in use. We should try and fix this before the next time the foundation ask to use it though ^

[2020-02-28 15:46] alexgibson opened #8607 "fluent-migrate dependency error"
When installing dependencies I noticed the following error related to fluent-migrate:

[code]

[2020-02-28 16:21] #8607 closed

[2020-02-28 18:23] TheoChevalier commented on #8606
The code on bedrock is actually fine, this issue is we’re missing this feature on the new donate website. But it should be back soon!
This is tracked by https://github.com/mozilla/donate-wagtail/issues/844

cc @WillatMozFdn

[2020-02-28 22:02] #8554 closed

[2020-02-28 23:38] ejregithub opened #8610 "[3/5/2020] Leadership Page Updates"
## Description

Updates to the Leadership page need to be made in the week of March 2nd

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Leadership page updates are made in accordance with the requirements set forth in [this document](https://docs.google.com/document/d/1HKhRAflxAhY9SM3V0d9Cs6dd3sbbTJPoccjncm430g0/edit).

[2020-02-28 23:40] ejregithub commented on #8610
Note that this card is not Ready, pending the addition of a bio to the source document. The bio is scheduled to be provided by EOD on Monday, March 2nd. I will update this card when that occurs and remove the blocker.

[2020-02-28 23:43] ejregithub commented on #8547
@sghoseWI - I think @craigcook will have applied whatever is required for GA/GTM in his PR and there's naught to do there. This card is about getting data reporting for the performance of the page post-launch and providing that in a vehicle/medium (dashboard) to stakeholders.

[2020-02-29 00:17] craigcook commented on #8547
I'm using these params on all CTA links:
[code]

The main CTA link also has a `src=external-www.mozilla.org-whatsnew74` param which I believe is something addons.m.o uses.

https://www-demo3.allizom.org/firefox/74.0/whatsnew/all/ for review and verification. Let me know if I need to change anything or do anything in addition.

[2020-03-02 09:13] alexgibson commented on #8595
@peiying2 has asked if we can re-run this migration using placeholders for brand names. Re-opening.

[2020-03-02 14:38] alexgibson opened #8612 "Enhance Fluent migration script to interpolate brand names"
## Description

The current Fluent migration script automatically handles things like variables when creating migration recipies, but it does not yet incorporate things like placeables for [brand names](https://github.com/mozilla/bedrock/blob/master/l10n/en/brands.ftl). These have to be done manually (see https://github.com/mozilla/bedrock/pull/8611)

We should update [fluent_recipe.py](https://gi

[2020-03-02 16:11] justinkropp opened #8613 "Design: Brand Audit of Current Fx Site"
## Description

Conduct a comprehensive brand audit of all high-level pages (important/trafficked) of the site. Catalog which pages need brand updates.

[2020-03-02 17:03] #8544 closed

[2020-03-02 17:03] #8545 closed

[2020-03-02 18:35] hoosteeno commented on #8418
Let's redirect this page to https://mozilla.design/.

[2020-03-02 18:55] ejregithub opened #8614 "Copy - Browser comparison for Brave"
Research Brave browser to write comparison copy

[Copy doc](https://docs.google.com/document/d/1Hy8BHIyCEmyyhJ6V71Y-vyh1_V0vWCkR13-7_5Hbd4s/edit?usp=sharing)

Approvers:
- [ ] Accountable -Eddie I
- [x] PMM - Tyler Ahn
- [x] SEO @rraue
- [x] Brand - Clio/Natalie
- [x] Legal

[2020-03-02 18:55] ejregithub opened #8615 "Design - Browser comparison for Brave"
- Create assets to insert in templated page

Approvers
- [x] Brand - Clio
- [ ] TL - Hoosteeno
- [ ] Approver - Eddie

[2020-03-02 18:55] ejregithub opened #8616 "Code - Browser comparison for Brave"

[2020-03-02 18:55] ejregithub opened #8617 "Browser comparison for Brave"
## Description

- Include Brave in the main comparison page
- Create a 1:1 browser comparison page for Brave

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Main comparison page is updated w. Brave information
- [ ] New 1:1 browser comparison page for Brave is live

#### Approvers
- [x] PMM - Tyler Ahn
- [x] @rraue
- [ ] @hoosteeno
- [ ] Eddie I (Accountable/Approver)

[2020-03-02 19:36] ejregithub opened #8618 "New WNP Template"
## Description

Stakeholder request is to build out another template for the WNP.

The initial ask is for a layout similar to that of /new, with a prominent 'hero image' section at the top of the page

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Have the template ready for use prior to the end of Q1/2020

#### Approvers
- [ ] Brand (design)
- [ ] Team Lead
- [ ] Accountable (MWa

[2020-03-02 21:07] hoosteeno opened #8619 "Remove screenshotgo pages from www"
## Description

The legal team says we can remove https://www.mozilla.org/about/legal/terms/firefox-screenshotgo/ and https://www.mozilla.org/en-US/privacy/firefox-screenshotgo/ from the website.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] 2 screenshotgo pages are no longer displayed on the website.
- [x] These will be left to the 404 page (no redirect is put in place)

[2020-03-02 22:44] hoosteeno commented on #8420
Let's redirect this page to https://support.mozilla.org/kb/dedicated-profiles-firefox-installation and remove from our code repo.

[2020-03-02 22:46] hoosteeno commented on #8461
In https://github.com/mozilla/bedrock/issues/8581 we will produce some light design enabling this to move to Protocol (without a major content refactor) in Q2.

[2020-03-03 02:15] ejregithub commented on #8567
Copy is not required, it's a complete re-use of the WNP 73 strings. Closing

[2020-03-03 02:15] #8567 closed

[2020-03-03 02:17] ejregithub commented on #8571
This content in the Moments page template layout has been approved.

@cgonz0 - The item missing here is the Firefox logo in the hero section

![Screen Shot 2020-03-02 at 5 25 04 PM](https://user-images.githubusercontent.com/20547886/75736367-e047f380-5cb1-11ea-893c-46540bf05196.png)

[2020-03-03 02:57] ejregithub commented on #8569
@Errolyn - can you investigate how l10n will need to be handled here?  Tier One are required, Tier Two are 'should have' depending where this lands with the new l10n system (community or agency localizing) and the remaining are at the kindness of the communities.

We have all the required content in /mozillaorg/firefox/whatsnew_73.lang/ but will need to include the strings standard to the Moments

[2020-03-03 05:50] Errolyn commented on #8569
I will look into when I get in, in the morning. When do we need this done by?

[2020-03-03 14:24] alexgibson opened #8620 "Navigation overflow wrapping is broken for Firefox users"
## Description

For locales that have longer strings, the navigation no longer wraps nicely to a second line at smaller viewports. This seems to be happening only for Firefox users, so is likely something related to the Firefox Accounts button.

### Steps to reproduce

1. Visit https://www.mozilla.org/ru/
2. Resize the browser to ~820px.

### Expected result

The menu links should wrap nicely as t

[2020-03-03 14:26] alexgibson commented on #8620
Possibly related to this override: https://github.com/mozilla/bedrock/blob/master/media/css/protocol/components/_navigation.scss#L67

Not sure why that exists, without a bit more research.

[2020-03-03 15:20] rraue opened #8621 "Missing url in offer structured data on homepage"
## Description
I found a warning in search console for the product "enterprise" on our homepages, we should fix. The offer of the product Enterprise needs a url. It has been there before scaling to locales, but I overlooked it before, as just one warning of a lot expected and tolerated ones.

![Screenshot 2020-03-03 at 16 18 55](https://user-images.githubusercontent.com/36700618/75789912-b7376980-

[2020-03-03 15:33] #8621 closed

[2020-03-03 20:23] ejregithub commented on #8610
Bio and headshot are now available, I'm removing the blocker.

![Dana Bennett_Mozilla](https://user-images.githubusercontent.com/20547886/75816302-cc4fd080-5d49-11ea-837a-3b506a97ba75.jpg)

[2020-03-03 21:00] #8546 closed

[2020-03-03 23:47] Errolyn commented on #8569
I think we have a couple of options:

1. Write a small script to copy all of the locals already active to new lang files then do the normal string extraction process we would do to add new strings. This would keep our lang files separate.

2. Use the same .lang file for both pages and add the new strings we need.

3. From my understanding fluent has a way to handle this already? but I'm not 100% s

[2020-03-04 10:30] alexgibson opened #8624 "Django error handling issues?"
## Description

This may well be a problem isolated to my environment, but since a few weeks or so I've no longer been able to get any useful error messages or tracebacks from Django during local dev. Whenever there's an error in a template for example, instead of the usual error page I only see this:

![image](https://user-images.githubusercontent.com/400117/75870476-ec8f9600-5e02-11ea-860f-2497e

[2020-03-04 10:30] alexgibson commented on #8624
@pmac any ideas here, or further information I could provide?

[2020-03-04 11:09] alexgibson commented on #8624
As a simple STR, open the [home page template](https://github.com/mozilla/bedrock/blob/master/bedrock/mozorg/templates/mozorg/home/home-en.html), go to down to the `billboard` macro on [line 93](https://github.com/mozilla/bedrock/blob/master/bedrock/mozorg/templates/mozorg/home/home-en.html#L93) and try renaming `billboard` to `typo`.

[2020-03-04 15:34] pmac commented on #8624
Huh. I saw that too once but figured it must be something strange in my environment. I'll investigate. I'd think it'd either be the debug output or our configured 500 error page if it was running with `DEBUG=False`.

[2020-03-04 16:10] hoosteeno commented on #8421
In terms of replacing Pebbles with Protocol, the items in this list that we need to address are...

* Internet health
* plugincheck
* campaign
* feature
* retention
* technology

These are all equal priority from a dev perspective. We can prioritize them by other factors.

[2020-03-04 16:16] hoosteeno commented on #8374
@alexgibson can you paste a screenshot of this page in Fx version 12.0?

Thank you.

[2020-03-04 16:17] hoosteeno commented on #8374
Note: There is no logic on this page for old versions that checks plugins anymore. It just tells them to upgrade.

[2020-03-04 16:29] pmac commented on #8624
Looks like we've hit this https://github.com/niwinz/django-jinja/issues/238

I'll see about upgrading Jinja and django-jinja to latest versions and see if that helps.

[2020-03-04 16:31] hoosteeno commented on #8401
Let's add to this list...
* newsletters
* send-to-device
* fxa email forms

[2020-03-04 17:17] alexgibson commented on #8374
@hoosteeno here's a screenshot of what firefox 12 users see when visiting the page

<img width="1675" alt="image" src="https://user-images.githubusercontent.com/400117/75904917-f41f6100-5e3b-11ea-99ee-8c0a226788a5.png">

As discussed, this is likely a dead-end as people on windows 2000 likely can't upgrade any further.

[2020-03-04 17:44] amychurchwell commented on #7344
This issue is being closed as a WONTFIX because this legacy system will be frozen in the near future. Thank you for the interest in helping us improve bedrock and apologies for any confusion. 🙂

[2020-03-04 17:44] #7344 closed

[2020-03-04 18:49] hoosteeno commented on #8577
@justinkropp I like this direction as a fix. Great work.

I have asked in Slack for a dev review.

[2020-03-04 19:06] #8610 closed

[2020-03-04 19:09] amychurchwell commented on #8600
@stephaniehobson or @alexgibson would either of you be able to review the draft of this experiment on convert? (ID 10034124)

[2020-03-04 19:10] hoosteeno commented on #8577
@justinkropp Are the dropdowns in this design part of Protocol? If not, can you file the necessary issues to make them part of Protocol, and bring that conversation into the next Protocol meeting?

[2020-03-04 23:22] #7615 closed

[2020-03-05 13:14] alexgibson commented on #8600
Link to experiment summary for posterity: https://app.convert.com/#/projects/1003343/summary/10034124

[2020-03-05 13:51] alexgibson commented on #8600
Some initial review feedback:

- Is there a test plan for this experiment, I can't seem to find one linked here?
- I think I managed to fix the preview links by changing the editor URL to point to stage (I had to manually copy over the CSS code as I initially clicked the wrong thing (sorry), hope I did that ok?)
- Traffic distribution for the experiment is set to 24%. Should this be 100%? I'm gues

[2020-03-05 14:00] alexgibson commented on #8600
Another thing that may be worth exploring:

- Do we need to consider the effect this may have on the page's primary goals (which aren't neessarily to download Firefox or navigate)? Do we need to measure if an increase in clicks in the nav leads to a decrease in click throughs for other products?

[2020-03-05 16:47] #8421 closed

[2020-03-05 16:50] hoosteeno commented on #6824
Proposal:

- [ ] Redirect the root technology page, https://www.mozilla.org/technology/, to labs.mozilla.org.
- [ ] Move the sub-pages of the technology page, what-is-a-browser/, update-your-browser/, incognito-browser/ and browser-history/ to www.mozilla.org/firefox/browsers/, and redirect each page to its new home.

[2020-03-05 16:52] hoosteeno commented on #8419
Let's remove this content and redirect to developer edition download page.

[2020-03-05 16:54] hoosteeno commented on #8427
Let's remove this content (yes all of it) and redirect to /new. \o/

[2020-03-05 16:55] hoosteeno commented on #8421
Priorities and dispositions for this content are established here: https://docs.google.com/spreadsheets/d/1RMYNxsFvZAx2DGwHINiEbf5oUYzOvEOp2RPrIH1LtF0/edit#gid=1434861645

[2020-03-05 17:18] rraue commented on #6824
I like that. We need to think about how to link these pages but I think
that’s the best solution.
--
______
Send via mobile

Raphael Raue
Global Head of Seo
www.mozilla.org

twitter.com/raue

[2020-03-05 17:21] amychurchwell commented on #8600
@alexgibson I updated the issue to include a link to the experiment plan, sorry about that: https://docs.google.com/document/d/1eja21ZlEJQfi-9jjWUhxx1zD6Gnm5EeaGMR8BZBIOP8/edit?usp=sharing
The trello board should also be visible: https://trello.com/b/M2XzdRvy/conversion-rate-optimization.

I will work through answering all your feedback shortly.

[2020-03-05 17:21] #7185 closed

[2020-03-05 18:12] hoosteeno commented on #8374
I have submitted an article update to the NPAPI article on SUMO which includes the copy on the page above:

https://support.mozilla.org/en-US/kb/npapi-plugins/compare?locale=en-US&to=196090&from=195162

If/when that revision (or similar) is live, let's redirect this traffic there.

[2020-03-05 18:34] amychurchwell commented on #8600
@alexgibson

✅ Yes, I made a mistake because the 24% is controlled by cloudflare. Updated.

✅ That makes sense to me, good idea! I confirmed with Saptarshi & Hoosteeno. Updated.

I brought this up to Kropp in design review & I thought we landed on it being okay, but [re-reading the comment](https://github.com/mozilla/bedrock/pull/8601#issuecomment-594551402) makes me realize it was mobile-specific

[2020-03-05 18:35] amychurchwell commented on #8600
As always, thanks for the super thorough/thoughtful review, Alex! 👏 appreciate it.

[2020-03-06 03:01] ejregithub opened #8629 "Make the zh-CN WNP 74 page show the WNP 73 (or the default / fall back WNP)"
Facebook is not available in China, therefore the FB content in the WNP 74 page is irrelevant to users there.

We can use geo-location, as we do with India to show the en content template, but need to understand the time and effort required to do so.

[2020-03-06 09:35] alexgibson commented on #8581
One thing to consider here is our goal for removing Pebbles. If we do v2, which adds new strings, then we'll need to keep the old page around until locales all have the new page translated.

This means we'll be stuck with the old page for some time, unless we commit to porting the legacy page to Protocol as well - but this then doubles the work.

[2020-03-06 09:54] alexgibson commented on #8600
I enabled the experiment on stage, and verified that I recieved the sticky nav variation OK. Clicking on the download button in the nav registered a primary goal conversion. Everything looks good! 👍

[2020-03-06 10:05] alexgibson commented on #8600
This experiment is now running in production for 24% of traffic to /en-US/firefox/

[2020-03-06 10:57] alexgibson opened #8631 "Functional test for /firefox/campaign/ page"
## Description

The /firefox/campaign/ page doesn't currently have any coverage, and should have a basic functional test for the download button.

[2020-03-06 16:37] ejregithub commented on #8629
@alexgibson -

The stated request was to show the WNP 73 to zh-TW as Facebook is not available in China. Yet making that change for that reason doesn't look appropriate, though certainly easier.

If we wholesale show WNP 73 to zh-TW, the locale, then that's all users with that setting (I have no information at hand on how many users outside of China have zh-TW selected as their preferred language

[2020-03-06 16:47] craigcook commented on #8629
Is this for zh-TW (Taiwan, traditional Chinese characters) or zh-CN (Mainland China, simplified Chinese characters)? Or both?

Or, if we're talking geolocation anyway, is it for all users physically located in China regardless of language?

[2020-03-06 17:54] #8629 closed

[2020-03-06 21:35] #8595 closed

[2020-03-09 06:33] l-hedgehog commented on #8602
Hi, while working on a redesign, would you please take https://bugzil.la/1564333 into consideration? Thanks.

[2020-03-09 14:25] alexgibson commented on #7841
This experiment has now been running for 11 days, and as had over 100,000 visitors (over twice the minimum sample size set out in the plan). The report isn't showing any statistical signifacance for either variation.

Can this experiment be shut off?

[2020-03-09 15:06] alexgibson opened #8634 "Privacy-related images on /firefox/mobile/ are missing alt attributes"
## Description

Two images on the `/firefox/mobile/` page are missing `alt` attributes. Whilst the images are purely decorative, they should still have an empty `alt=""` attribute value, to prevent screen readers from reading our the image filename.

### Steps to reproduce

1. Visit https://www.mozilla.org/en-US/firefox/mobile/
2. Scroll down to the "Block online trackers and invasive ads" section

[2020-03-09 15:28] alexgibson commented on #5766
Fixed in https://github.com/mozilla/bedrock/pull/8580

[2020-03-09 15:28] #5766 closed

[2020-03-09 15:33] alexgibson commented on #7825
Depends on https://github.com/mozilla/bedrock/issues/8185

[2020-03-09 15:38] amychurchwell commented on #7841
@alexgibson it looks to have been paused on my end.

[2020-03-09 15:52] amychurchwell opened #8635 "Prefer win64 full installer on /installer-help/ when appropriate"
## Description

([bug 1564333](https://bugzilla.mozilla.org/show_bug.cgi?id=1564333))

Currently, when an user lands on https://www.mozilla.org/firefox/installer-help/?channel=release, they always get a win32 full installer, even if the stub installer finds their Windows OS to be compatible with win64 builds of Firefox.

[2020-03-09 15:57] amychurchwell commented on #8602
Hello! Thanks for mentioning this bug, @l-hedgehog. I've created an issue to track this work here: #8635

[2020-03-09 16:36] alexgibson opened #8636 "Error when viewing pages locally with dev=True, debug=False"
## Description

When running bedrock locally with `dev=True` and `debug=False`, pages throw an error.

### Steps to reproduce

1. In your `.env`, set `dev=True`, `debug=False` and start bedrock running.
2. Try loading any page e.g. http://localhost:8000/en-US/

### Expected result

The page should load without error.

### Actual result

The page displays the error message:

[code]

In the terminal

[2020-03-09 16:38] alexgibson commented on #8636
/cc @pmac

@Errolyn noticed this issue when trying to trigger rendering the 404/500 pages locally. It seems to be a problem with any template however. Any ideas?

[2020-03-09 16:52] alexgibson commented on #8636
/me notices this could be a duplicate of https://github.com/mozilla/bedrock/issues/6617

[2020-03-09 18:04] amychurchwell opened #8637 "Experiment: Banner on /new for mobile users."
## Description
https://trello.com/c/Ea2O0GZX

Add banner on /new for both ios and android users with app store CTA.

## Test Plan
https://docs.google.com/document/d/1-GwH3-XtQUf-PU8N6n6-dbe1VJeUdw4KkP7vG5ZEoXA/edit?usp=sharing

#### Tasks
- [x] Copy.
- [x] Design mockup.
- [x] Demo for design review.
- [x] Code experiment for final review.

#### Demo
N/A

[2020-03-09 18:48] pmac commented on #8636
yeah. it's a bit of a pain to get the site running in prod mode locally. I'll see if I can get something better working and documented.

[2020-03-09 18:51] amychurchwell commented on #8579
@alexgibson it looks like `?channel=alpha` currently shows dev edition. While the [aurora channel no longer exists](https://wiki.mozilla.org/Firefox/Aurora), I confirmed with the installer team that `aurora` is a name still used for dev edition, so I will update that. Not sure what alpha is.

[2020-03-09 18:51] amychurchwell commented on #8579
@imskr thank you for the offer, but I am going to pick up this issue! 🙂

[2020-03-09 20:18] ejregithub commented on #8547
@sghoseWI - if you created a dashboard/doc with performance data for  WNP74, please link that here (and close this issue).

[2020-03-09 20:44] sghoseWI commented on #8547
@ejregithub Since this is not an FxA related CTA for WNP74, I'll be monitoring progress using GA.  Please feel free to send any stakeholder my way and I can pull a static report for them.

For dynamic reporting, we can use the CRO dashboard here: https://datastudio.google.com/reporting/1b_GlPJqn2wcBOmVzeNE0s3n13ciTE3RC/page/lEiEB/edit (this needs to be filtered to landing page CONTAINS "/firefox/7

[2020-03-09 20:44] #8547 closed

[2020-03-10 00:01] #8418 closed

[2020-03-10 00:03] #8427 closed

[2020-03-10 09:38] #8407 closed

[2020-03-10 09:48] alexgibson opened #8639 "New 500 error page can be a dead-end"
## Description

The new 500 error page design is great, but I wonder if it could be more useful? Picure the hypothetical scenario below:

### Steps to reproduce

1. Someone searches for "Download Firefox" on Google.
2. They click through to our [main download page](https://www.mozilla.org/en-US/firefox/new/).

### Expected result

The should be able to download Firefox.

### Actual result

Oh noes

[2020-03-10 10:23] alexgibson commented on #8536
@hoosteeno can you update here with the proposal for these pages? Thanks

[2020-03-10 10:25] alexgibson commented on #6824
I think then we can split this out into two issues.

1. Retire /technology/ and redirect to labs.
2. Move sub pages to live under /browsers/

I'll file a new issue for 2, and then work on removing the landing page here.

[2020-03-10 10:31] alexgibson opened #8641 "Move the /technology sub-pages to live underneath /browsers/"
## Description

As part of retiring the /technology/ section in #6824, we'd like to move and redirect the following sub pages pages:

- https://www.mozilla.org/en-US/technology/what-is-a-browser/
- https://www.mozilla.org/en-US/technology/update-your-browser/
- https://www.mozilla.org/en-US/technology/incognito-browser/
- https://www.mozilla.org/en-US/technology/browser-history/
- https://www.mozi

[2020-03-10 14:54] hoosteeno commented on #8562
We need copy and design for 3 journeys:

1. User is not logged into Firefox or Sync: User is shown a "mobile-forward Sync pitch" that takes them through accounts setup flow and ends at FxA's SMS form (https://accounts.firefox.com/sms/). Subcontent ideas: Lockwise + Sync, Send Tabs, Browsing History. CTA ideas: "Start Syncing" or something better.

2. User is logged in to Firefox or Sync but has 0

[2020-03-10 14:55] hoosteeno commented on #8563
We need copy and design for 3 journeys:

1. User is not logged into Firefox or Sync: User is shown a "mobile-forward Sync pitch" that takes them through accounts setup flow and ends at FxA's SMS form (https://accounts.firefox.com/sms/). Subcontent ideas: Lockwise + Sync, Send Tabs, Browsing History. CTA ideas: "Start Syncing" or something better.

2. User is logged in to Firefox or Sync but has 0

[2020-03-10 14:56] hoosteeno commented on #8564
The content plan is below. Final destinations for CTAs are not known yet, but I'm asking FxA product team.

We need copy and design for 3 journeys:

1. User is not logged into Firefox or Sync: User is shown a "mobile-forward Sync pitch" that takes them through accounts setup flow and ends at FxA's SMS form (https://accounts.firefox.com/sms/). Subcontent ideas: Lockwise + Sync, Send Tabs, Browsing

[2020-03-10 14:58] hoosteeno commented on #8485
Design for this link will appear in https://github.com/mozilla/bedrock/issues/8581.

[2020-03-10 14:59] hoosteeno commented on #8577
@craigcook can you mark this complete when you are satisfied that it depicts a feasible solution?

[2020-03-10 15:00] hoosteeno commented on #8578
Design is nearly complete in https://github.com/mozilla/bedrock/issues/8577. Moving this to "ready".

[2020-03-10 16:21] alexgibson commented on #6255
Closing due to inactivity. Feel free to re-open if still relevant.

[2020-03-10 16:21] #6255 closed

[2020-03-10 16:21] alexgibson commented on #6256
Closing due to inactivity. Feel free to re-open if still relevant.

[2020-03-10 16:21] #6256 closed

[2020-03-10 16:22] alexgibson commented on #6259
Closing due to inactivity. Feel free to re-open if still relevant.

[2020-03-10 16:22] #6259 closed

[2020-03-10 16:22] alexgibson commented on #6260
Closing due to inactivity. Feel free to re-open if still relevant.

[2020-03-10 16:22] #6260 closed

[2020-03-10 16:22] alexgibson commented on #6263
Closing due to inactivity. Feel free to re-open if still relevant.

[2020-03-10 16:22] #6263 closed

[2020-03-10 16:22] alexgibson commented on #6264
Closing due to inactivity. Feel free to re-open if still relevant.

[2020-03-10 16:22] #6264 closed

[2020-03-10 18:38] gijsk opened #8643 "Update nightly whatsnew page language on non-en-US as we update more frequently now"
## Description

The text on https://www.mozilla.org/en-GB/firefox/76.0a1/whatsnew/all/ suggests we update every 6-8 weeks, and that's now ~4 weeks.

### Steps to reproduce

1. update to 76.

### Expected result

The "what's new" page should be informative and accurate.

### Actual result

See above.

### Environment

macOS, nightly 76 updated from 75.

[2020-03-10 18:39] jens1o commented on #8643
`en-US` has already been updated.

[2020-03-10 18:40] gijsk commented on #8643
Looks like #8253 fixed en-US but not other languages.

[2020-03-10 18:49] flodolo commented on #8643
Someone needs to expose the new string and tag for localization
https://github.com/mozilla-l10n/www.mozilla.org/commits/master/en-US/firefox/nightly_whatsnew.lang

cc @peiying2

[2020-03-10 18:52] craigcook commented on #8577
I think it's feasible right now. We'll settle on the specific styling of the menu list in Protocol, so the final look of the dropdowns may differ from this mockup.

[2020-03-10 18:52] #8577 closed

[2020-03-10 20:35] pmac opened #8644 "Add a redirect for /builders"
A request has come in via email for this:

mozilla.org/builders -> 301 -> https://builders.mozilla.community/

[2020-03-10 20:59] #8644 closed

[2020-03-10 21:41] rantley commented on #8562
Draft copy here https://docs.google.com/document/d/1FHXQA89Rqawig0se7J0RFANHmTeK2XGYAVJ0GJa3Imo/edit#

[2020-03-10 22:06] amychurchwell opened #8647 "Experiment: Add download call-out to bottom of /system-requirements"
## Description

Add a call-out component at the bottom of [/system-requirements](https://www.mozilla.org/en-US/firefox/73.0/system-requirements/) (similar to [release-notes](https://www.mozilla.org/en-US/firefox/74.0/releasenotes/)) to test affect on download conversion.

<img width="1324" alt="Screen Shot 2020-03-10 at 11 34 00 AM" src="https://user-images.githubusercontent.com/30483988/76365039-

[2020-03-11 09:26] #6824 closed

[2020-03-11 09:45] alexgibson opened #8648 "Switch Fluent configs over to Pontoon"
## Description

Because our new L10n vendor is in jeopardy, and we don't want to delay switching over to Fluent any longer, we've made an agreement with the L10n team to get the Pontoon system rolling.

Until a time when we have a new vendor in place, let's switch over all our configs to Pontoon exclusively.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] All Fluent localizations a

[2020-03-11 10:13] alexgibson commented on #8643
Yep, looks like this was merged but the string was never extracted. I'll see if I can do this today 👍

[2020-03-11 10:22] alexgibson commented on #8643
PR for string extraction: https://github.com/mozilla-l10n/www.mozilla.org/pull/378

[2020-03-11 10:39] alexgibson commented on #6051
Closing this as a duplicate of https://github.com/mozilla/bedrock/issues/8647

[2020-03-11 10:39] #6051 closed

[2020-03-11 10:41] alexgibson commented on #8647
Something that may be worth considering in this experiment: a large portion of the non-Firefox traffic that lands on this page are people on older systems, who may not be able to install Firefox.

Instead of download buttons these users see the following:

![image](https://user-images.githubusercontent.com/400117/76408416-d5155780-6384-11ea-83ca-1ba4b37c60c8.png)

The requirements link goes to thi

[2020-03-11 14:45] pmac opened #8650 "Remove references to IRC"
Now that IRC is decommissioned we should remove links and references to it from the site. For example the link at the bottom of this page:

https://www.mozilla.org/en-US/contact/spaces/

Side note: that twitter link to https://twitter.com/MozillaSpaces could probably go as well since that account seems to be abandoned

[2020-03-11 14:54] pmac commented on #8650
A quick grep also found references on pretty much all of the spaces pages, `contribute/contribute-base.html`, `contact/contact-landing.html`, and `about/forums/forums.html`.

[2020-03-11 15:11] hoosteeno opened #8651 "Remove "autofill" from switch page."
## Description

We should cut "autofill" from the switch page copy as it is not data we import through the switching process. Here's the [supporting documentation](https://wiki.mozilla.org/QA/Firefox_migrators#Supported_data_types).

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] New page is launched with improved copy.

[2020-03-11 15:28] alexgibson opened #8653 "Migrate navigation.lang to Fluent"
## Description

- https://github.com/mozilla-l10n/www.mozilla.org/blob/master/en-US/navigation.lang

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Nav uses Fluent in production with existing translations.

[2020-03-11 16:11] alexgibson commented on #8643
Fixed in https://github.com/mozilla-l10n/bedrock-l10n/commit/92a8373a810d956d8d83e175bed7864cb02bad3f

[2020-03-11 16:11] #8643 closed

[2020-03-11 16:13] alexgibson opened #8654 "Migrate download_button.lang to Fluent"
## Description

- https://github.com/mozilla-l10n/www.mozilla.org/blob/master/en-US/download_button.lang

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ]  Download buttons use Fluent in production.

[2020-03-11 18:15] amychurchwell commented on #8647
@alexgibson Thanks for surfacing this! This could definitely create a really frustrating loop.
I'm thinking a potential solution is hooking into `is-modern-browser` to display this CTA?

[2020-03-11 18:45] alexgibson commented on #8647
@amychurchwell perhaps, but maybe it’s something that we don’t need to worry about too. I just wanted to call it out incase there’s not as big an opportunity here as it first might seem. Perhaps there’s enough eligible traffic to make the CTA worthwhile still 👍

[2020-03-12 09:15] #8650 closed

[2020-03-12 09:15] alexgibson commented on #8585
References to IRC have been removed in https://github.com/mozilla/bedrock/issues/8650

[2020-03-12 09:15] #8585 closed

[2020-03-12 09:19] alexgibson opened #8656 "Extract strings for 404 and 500 error pages"
## Description

New strings we're added to bedrock's error pages in https://github.com/mozilla/bedrock/issues/8407. We still need to extract those new strings so they are available for L10n.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Strings are extracted and available in Pontoon.

[2020-03-12 09:29] alexgibson opened #8657 "Migrate main.lang to Fluent"
## Description
- https://github.com/mozilla-l10n/www.mozilla.org/blob/master/en-US/main.lang

Note: main.lang was a catch all for common strings for many years. In retrospect, allowing it to build up this was probably wasn't the ideal situation. When we migrate this to Fluent, it may be worth exploring:

- Culling any old strings that are no longer in use globally.
- Splitting out any other common

[2020-03-12 09:31] alexgibson opened #8658 "Migrate firefox/sendto.lang to Fluent"
## Description

https://github.com/mozilla-l10n/www.mozilla.org/blob/master/en-US/firefox/sendto.lang

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Send to device widget uses Fluent in production.

[2020-03-12 09:35] alexgibson opened #8659 "Migrate mozorg/newsletter.lang to Fluent"
## Description
- ~https://github.com/mozilla-l10n/www.mozilla.org/blob/master/en-US/newsletter.lang~
- https://github.com/mozilla-l10n/www.mozilla.org/blob/master/en-US/mozorg/newsletters.lang

Note: these .lang files hold the strings for the common newsletter module, but also other related things like preferences and landing pages. I'm not sure why there are two files, or how they overlap.

---

[2020-03-12 13:57] obviyus commented on #8634
Can I take up this issue @alexgibson?

[2020-03-12 13:58] alexgibson commented on #8634
Pull requests are welcome!

[2020-03-12 14:17] obviyus commented on #5101
Hey @alexgibson, may I work on this?

[2020-03-12 17:12] alexgibson commented on #8539
@cgonz0 here's a first draft of the newsletter confirmation page.

Some things to note:
- I'm using the default card styling that's in protocol for the three promos. That does differ slightly from what's in your mockups.
- For the "Back to preferences" link, we're assuming people have just come from the preferences page. The link actually uses `history.back()`, so it will go back to whatever page

[2020-03-13 12:37] alexgibson opened #8663 "Migrate footer.lang to Fluent"
## Description

- https://github.com/mozilla-l10n/www.mozilla.org/blob/master/en-US/footer.lang

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Footer uses Fluent in production with existing translations.

[2020-03-13 14:16] ioanarusiczki opened #8664 "Email preferences page shows a "Get a Firefox account" button while the user is already logged in"
Moved from https://github.com/mozmeao/basket/issues/504#issuecomment-598735441

STR:
1. With an already created Firefox Account I went into settings and clicked the "Email preferences"  at the bottom of the page which redirects to the newsletter page https://www.mozilla.org/en-US/newsletter/
2. Observe the blue button on the top right
3. Click the button

Actual result:
It redirects to https://www

[2020-03-13 16:40] #8562 closed

[2020-03-13 16:45] alexgibson commented on #7323
Since opening this issue release notes have been added as a link to the firefox navigation, closing.

[2020-03-13 16:45] #7323 closed

[2020-03-13 16:56] cgonz0 commented on #8637
![new_mobilebanner.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/a030605a-b0ae-4619-9a99-184ee18216a9)

[2020-03-13 16:57] cgonz0 commented on #8563
![WNP75_mockup_reg.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/e73886e8-bc69-42e2-bf7d-df9aa7af79e8)

[2020-03-13 16:58] #8563 closed

[2020-03-13 17:56] hoosteeno commented on #8564
@craigcook the URL to send people to for mobile activation is...

https://accounts.firefox.com/connect_another_device

[2020-03-13 20:27] cgonz0 commented on #8539
thanks @alexgibson - this looks great

I think the text you have here was in an old mock - perhaps from one of the many variations in the Sketch file?
Please see the final copy [here](https://github.com/mozilla/bedrock/issues/8499) - or in the copy [doc](https://docs.google.com/document/d/1sl9-oS7BadcITkt2udV_PuJoeYRlN7FdxVYnzDbKFZI/edit#). Success msg, headers, and card copy will need updating.
_

[2020-03-16 09:38] alexgibson commented on #8539
@cgonz0 thank you! Comments below:

I didn't have access to the copy doc until now thanks. I'll get this updated.

and increase space below second header(c-updated-block-header)
Both to 48px please.

I may well not be following correctly here, but the space below the second header is currently 96px. I'm assuming you mean decrease the space, and set both above and below the header to 48px. Let me k

[2020-03-16 11:44] alexgibson commented on #8651
Note that this is likely blocked on activation of Fluent in Pontoon

[2020-03-16 13:51] #8634 closed

[2020-03-16 13:57] alexgibson opened #8667 "Remove legacy /firefox/campaign/ main template"
## Description

The trailhead template for the /firefox/campaign/ page is now [active for 50 locales](https://l10n.mozilla-community.org/langchecker/?locale=all&website=0&file=firefox/campaign-trailhead.lang), which makes up 96% of our L10n user base.

Seeing as this isn't our main download page we should be relatively safe to remove the legacy Pebbles template.

---

#### :yellow_heart: Success C

[2020-03-16 14:53] alexgibson opened #8668 "Redirect /contact/communities/ to community.mozilla.org/groups"
## Description

See: https://bugzilla.mozilla.org/show_bug.cgi?id=1622345

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Outdated community contact pages are removed and redirected.

[2020-03-16 15:44] obviyus commented on #8667
Is this the file to be removed?
https://github.com/mozilla/bedrock/blob/246b331bbc81529dbd435387b4fb1f891493595a/bedrock/firefox/templates/firefox/campaign/index.html#L1

[2020-03-16 16:38] alexgibson commented on #5703
Once the following two issues are closed out, I think we can finally say "yes" here:

- https://github.com/mozilla/bedrock/issues/8667
- https://github.com/mozilla/bedrock/issues/8461

[2020-03-16 16:44] alexgibson commented on #8664
Another alternative button for this state could be https://github.com/mozilla/bedrock/issues/8251

[2020-03-17 12:44] alexgibson commented on #8139
@hoosteeno given that MS confirmed they are changing their restrictions in the future, should we close this issue, and remove the current detection code from bedrock?

[2020-03-17 12:51] alexgibson commented on #8515
On closer inspection this seems to be a float clearing issue with the content above, rather than an issue with the picto card styles themselves. Giving the section directly above a class name like `impact-innovations` and then clearing the floated content in that section should force the picto cards to wrap onto the next line:

[code]

[2020-03-17 13:46] alexgibson opened #8670 "Update bedrock's cookie helper lib"
## Description

Bedrock's [cookie helper](https://github.com/mozilla/bedrock/blob/master/media/js/base/mozilla-cookie-helper.js) is a small custom library, [copied from MDN](https://developer.mozilla.org/en-US/docs/Web/API/document/cookie), which was originally based on the source code of this github repo: https://github.com/madmurphy/cookies.js

The version in bedrock, whilst altered for some cus

[2020-03-17 14:20] alexgibson commented on #8641
@rraue would it also make sense to move these pages over to live under /firefox/browsers/?

- https://www.mozilla.org/en-US/firefox/best-browser/
- https://www.mozilla.org/en-US/firefox/windows-64-bit/
- https://www.mozilla.org/en-US/firefox/features/safebrowser/

[2020-03-17 14:28] rraue commented on #8641
The first two for sure. /features/ and whats in this folder should for now stay there until we move it completely in /browsers/. What do you think @dzingeek?

[2020-03-17 14:30] alexgibson commented on #8641
Fwiw, /features/safebrowser/ is related by URL only. It isn't linked from the /features/ landing page, and does not share the same design / UX as the other /features pages.

[2020-03-17 15:26] pmac commented on #7723
@Pike for the "from bedrock" part, we want to push a branch to the mozilla-l10n repo and open a PR during that automation right?

[2020-03-17 15:26] cgonz0 commented on #8539
hey @alexgibson
thanks for the changes - i'm good with everything for now - but will keep track of things/changes we may need for the future. i do think we got a little mixed up on the spacing - maybe i didn't specify correctly, but let me start from scratch to not complicated it further:)

c-updated-block-header
margin-top: 24px;

.c-updated-block .c-updated-block-content
margin-top: 96px;

.c-up

[2020-03-17 15:28] pmac commented on #7723
Much of the "to bedrock" part was done in #8523. #7705 indicates what's left to do.

[2020-03-17 15:31] Pike commented on #7723
Yep.

[2020-03-17 16:17] alexgibson commented on #8539
Updated thanks: https://www-demo2.allizom.org/en-US/newsletter/updated/

[2020-03-17 16:24] cgonz0 commented on #8539
looks great! thank you

[2020-03-17 16:35] #8648 closed

[2020-03-17 20:31] dzingeek commented on #8641
Yeah I agree with @rraue , but i am not sure what to do with that last one tbh.

[2020-03-18 09:29] alexgibson commented on #8641
Seeing as we don't have a clear recommendation here I'm going to leave /safebrowser/ as an orphan. We'll probably still need to decide what to do with it when /features/ is redesigned though.

[2020-03-18 10:50] alexgibson commented on #8668
@hoosteeno this seems like a good opportunity to clean up a bunch of legacy URLs that haven't been updated in some years. Any objections to redirecting these pages to https://community.mozilla.org/groups/ ?

[2020-03-18 11:41] alexgibson commented on #8374
@hoosteeno looks like the SUMO revision here isn't updated just yet. Any way to get visibility on that process, or find out when it might be completed?

[2020-03-18 12:56] alexgibson commented on #5825
@metadave is this issue still relevant, given that we've nowmoved to GitLab for CI/CD?

[2020-03-18 13:08] #7841 closed

[2020-03-18 13:52] metadave commented on #5825
@alexgibson no, thanks!

[2020-03-18 13:52] #5825 closed

[2020-03-18 16:06] alexgibson commented on #8656
Fixed in https://github.com/mozilla-l10n/bedrock-l10n/commit/7e2aa77521928ca78412c782088e511307c694e0

[2020-03-18 16:06] #8656 closed

[2020-03-18 18:16] hoosteeno opened #8674 "Sticky Navigation: Design"
The epic at https://github.com/mozilla/bedrock/issues/8676 talks about implementing sticky navigation to replace global navigation bars on all pages that have global navigation. This card is about the design.

Tasks:
- [x] Create the spec for UX - @justinkropp and add it here.

Success Criteria:
- [x] Sticky navigation designs are attached to this issue

Approvals:
- [x] Dev
- [ ] UX Lead
- [ ] PM

[2020-03-18 18:16] hoosteeno opened #8675 "Sticky Navigation: Code"
The epic at https://github.com/mozilla/bedrock/issues/8676 talks about implementing sticky navigation to replace global navigation bars on all pages that have global navigation. This card is about the coding.

Success Criteria:
- [ ] Sticky navigation code is live in production

Tasks:
- [x] Build it in Protocol

[2020-03-18 18:16] hoosteeno opened #8676 "Epic: Sticky Navigation"
## Description

The CRO team recently tested a sticky navigation bar on /firefox which had a strong positive effect on conversion rates on the page (https://docs.google.com/document/d/1yoyFVnvFU_5sDCCzM08_DQ05n-sa8U_iMpysCLdDEcM/edit#). We should design and build a sticky navigation element that will replace our static navigation.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Sti

[2020-03-18 20:49] justinkropp commented on #8676
@hoosteeno Here are some design/interaction specs for guidance:

The ideal behavior for this nav on desktop can be [viewed here](https://wicky.nillia.ms/headroom.js/), with a tweak:

_Rather than immediately starting to slide up on scroll, I'd like to delay the initial slide of the nav until the user scrolls down the page a bit. This initial delay will give the user more time to get familiar with

[2020-03-18 20:57] alexgibson commented on #8676
Note: many mobile / tablet devices (especially older models) historically have poor support for overflow scrolling content like this. It could likely render the contents of the draw that appear outside of the viewport to either be inaccessible at worst, or difficult to scroll down to at best).

An alternative (and perhaps more compatible) solution might be to only make the nav sticky on more moder

[2020-03-18 21:09] justinkropp commented on #8676
I like this approach. What do we classify as the more modern browsers?

[2020-03-18 21:46] ejregithub opened #8677 "Modify/create another hero component to feature a center image in the Welcome page template"
## Description

Request is to modify/create another hero component used in the Welcome page template to feature a center image

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] The component is available for use
- [ ] For the Sync browser welcome page, the component is used and the Sync image (TBD) is applied

[2020-03-18 22:42] hoosteeno commented on #8676
Maybe...

        All evergreen browsers (Firefox, Chrome, Safari, Edge, Opera, etc.)
        IE11 and above.

https://bedrock.readthedocs.io/en/latest/browser-support.html

[2020-03-19 02:57] #8667 closed

[2020-03-19 08:35] alexgibson commented on #8676
Our browser support model is based on the idea of _progressive enahncement_, as opposed to building experiences that work in "browser X and above". The idea is to build a baseline of functionality that works everywhere, even on old browsers, and then to _enhance_ the experience for more modern browsers. For core website functionality, such as navigation, I think this is particularly important to p

[2020-03-19 10:48] alexgibson commented on #7345
Done in https://github.com/mozilla/bedrock/pull/8532

[2020-03-19 10:48] #7345 closed

[2020-03-19 11:28] alexgibson commented on #8581
This is supposed to be completed by tomorrow (according to our Q1 KR at least).

Which versionare we choosing, and is both design and copy final?

[2020-03-19 11:39] #5101 closed

[2020-03-19 12:58] alexgibson commented on #7258
Adding a blocked label to this based on activating Fluent in Pontoon.

[2020-03-19 13:05] alexgibson commented on #8677
Should this be a protocol issue?

[2020-03-19 14:07] alexgibson commented on #8437
The /technology page no longer exists, closing.

[2020-03-19 14:07] #8437 closed

[2020-03-19 15:13] hoosteeno commented on #8581
Thanks Alex.

@dzingeek we are blocked proceeding here on a decision about whether the brand team will undertake a more comprehensive redesign of this page in 2020.

* If yes, we should make the v1 (no copy) update here
* If no, we should make the v2 (yes copy) update here

@cgonz0, are these designs approved and ready to go? If not, can we get them through that today?

[2020-03-19 16:26] justinkropp commented on #8676
👍

[2020-03-19 18:03] #8564 closed

[2020-03-19 18:13] dzingeek commented on #8581
@hoosteeno Just talked with Clio and the answer is _No_, this will **not** be a priority for us so please move forward with v2.

Also I will talk with @cgonz0 today about the design feedback.

[2020-03-19 21:29] #8647 closed

[2020-03-19 21:30] cgonz0 commented on #8581
@hoosteeno - the layout is pretty much set and approved. the only forthcoming changes will be with assets and copy. if we can start getting the page laid out with some placeholders - i will work on getting the icons and hero img finalized while @rantley works on copy.

[2020-03-19 22:43] amychurchwell commented on #8637
@alexgibson
This experiment is ready for review in convert, it includes some JS to show/hide the CTA based on `window.site.platform` being android or ios.

[2020-03-20 09:47] #8653 closed

[2020-03-20 10:25] alexgibson commented on #8637
Some feedback on the experiment setup:

- The primary goals are "app store clicks on the /new mobile banner", but we don't seem to be tracking clicks on the regular download button. I'm not entirely sure if this is needed or not, but I'm unclear how we'd know if say, downloads are going up overall, or if people are just clicking one button instead of the other?

JS feedback:

[code]

I think this

[2020-03-20 10:28] alexgibson commented on #8637
Also, not to impede this experiment as I still think it's worthwhile, but has the CRO team considered trying [native app banners](https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/PromotingAppswithAppBanners/PromotingAppswithAppBanners.html)? These are just a single line of code, and may provide users with a more familiar UX. They are also nativ

[2020-03-20 10:33] alexgibson opened #8680 "Fluent error on pages that don't have a locale"
## Description

This is a regression from https://github.com/mozilla/bedrock/pull/8665

Pages that don't have a locale, such as https://bedrock-dev.gcp.moz.works/locales/ are not loading correctly.

In Sentry I see:

[code]

[2020-03-20 16:20] amychurchwell commented on #8637
@alexgibson Thank you for the feedback, really appreciate it.
I made the above JS changes, and I agree that we should also probably track download button clicks as well.

Thank you for bringing up native app banners! 👏 I think it would be worth running the same test with the native app banner also. I am going to mention this to the team.

[2020-03-20 16:38] alexgibson commented on #8637
@amychurchwell I noticed the targeting URL is incorrect, as well as the URLs in the visual editor (so the preview links aren't working). I think those need updating in order to test the experiment.

[2020-03-20 16:57] amychurchwell commented on #8637
@alexgibson URLs have been updated to exp pages. `https://www.allizom.org/en-US/exp/firefox/new/`

[2020-03-20 17:32] amychurchwell commented on #8637
@alexgibson we are going to do a 3rd variant with a native app banner, so we are delaying launch until we tweak experiment plan and I get the code ready for that. Going to work on that today.

[2020-03-20 18:04] #8575 closed

[2020-03-20 18:06] ejregithub commented on #8568
Design did not change in the Moments template. closing

[2020-03-20 18:06] #8568 closed

[2020-03-20 18:07] #8680 closed

[2020-03-20 18:08] ejregithub commented on #8572
Invalid, copy is that same from WNP

[2020-03-20 18:08] #8572 closed

[2020-03-20 18:09] ejregithub commented on #8573
Invalid, we're using all the same assets from the WNP

[2020-03-20 18:09] #8573 closed

[2020-03-20 18:10] hoosteeno commented on #8139
@alexgibson let's leave detection code in place while those are still in the wild. But we can close this.

[2020-03-20 18:10] #8139 closed

[2020-03-20 18:14] alexgibson commented on #8139
@hoosteeno the current detection code only works in the old Edge, not the Chromium version. So it’s likely inaccurate if people still want to keep this around. We’d need to update the user agent detection for it to still be accurate.

[2020-03-20 18:14] ejregithub commented on #8570
This will be done in coding and Saptarshi will provide stakeholders data upon request

[2020-03-20 18:14] #8570 closed

[2020-03-20 18:16] #8548 closed

[2020-03-20 18:17] ejregithub commented on #8565
managed in the coding task.  Saptarshi will provide data upon request

[2020-03-20 18:17] #8565 closed

[2020-03-20 18:19] ejregithub commented on #8036
The CRO team has this in their board @stephaniehobson

[2020-03-20 18:20] hoosteeno commented on #8036
This is being worked in https://trello.com/c/9onBmpFI/30-buttons-vs-dropdowns.

[2020-03-20 18:20] #8036 closed

[2020-03-20 18:26] #8566 closed

[2020-03-20 18:26] hoosteeno opened #8683 "Experiment: Test WNP template in Moments channel, Moments template in WNP channel"
## Description

We should aim to learn whether the difference between WNP and Moments page templates is meaningful.

Questions:
* Does either of these templates outperform the other, in the other's channel? If so, we should choose the best performing one.
* Do they work the same? If so, we should pick one and unify.

---

#### Test Plan

[rough drafts]
- [WNP template on moments page.](https://doc

[2020-03-20 18:28] hoosteeno commented on #8536
Let's keep thank-you-a and redirect both of the others to that one. We should get thank-you-a onto protocol. Does that require new designs? If so, we can file a design and code epic for thank-you-a.

[2020-03-20 18:30] ejregithub commented on #8469
@cgonz0 - can you indicate progress on the Brand side for these icons and if direction for changing them now exists or will soon?

[2020-03-20 18:32] hoosteeno commented on #8581
@cgonz0 can you explain what you mean by "get the page laid out" ?

Right now we need approved designs for /features and a /features sub-page, following along with the v2 above.

[2020-03-20 18:37] ejregithub opened #8684 "Copy - Migrate /features to Protocol"
In https://github.com/mozilla/bedrock/issues/8686 we are redesigning the /firefox/features/ page so we can implement it using existing Protocol features. We need copy on that page for each feature.

Tasks:
* Write new copy for the /features overview page, for each feature listed on current page
* Write new copy for a new feature to be listed that links to browser comparison pages

Success criteria

[2020-03-20 18:37] hoosteeno commented on #8581
@cgonz0 do you think we could close this issue with the final design? https://github.com/mozilla/bedrock/issues/6134

[2020-03-20 18:37] ejregithub opened #8685 "Code - Build new /features and subpages in Protocol with new copy"
In https://github.com/mozilla/bedrock/issues/8686 we will migrate the /features page to Protocol, using existing protocol components and new copy.

Success criteria
- [ ] /features page is recoded with new designs and copy, launched in prod
- [ ] /features subpages are recoded with new designs and copy, launched in prod
- [ ] all pages are opened for community localizers

[2020-03-20 18:37] ejregithub opened #8686 "Migrate /features to Protocol"
## Description

- [ ] Design: Produce comps for migrating /features to Protocol
- [ ] Copy: Rewrite copy as required to match/fit in new design
- [ ] Code it

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Pages are migrated and live

#### Approvers
- [ ] Team Lead
- [ ] Brand (Copy/Design)
- [ ] UX ?

[2020-03-20 18:39] hoosteeno commented on #6251
We're not doing many funnelcakes right now. Let's close this and reopen if we start doing them again.

[2020-03-20 18:39] #6251 closed

[2020-03-20 18:42] hoosteeno commented on #7021
@dzingeek is this on the brand team's radar at all for 2020? Should we leave this issue open or will a better issue likely emerge from IA reimagining?

[2020-03-20 18:48] hoosteeno commented on #6257
If there are follow-up bugs to file here, let's file them. This seems done!

[2020-03-20 18:48] #6257 closed

[2020-03-20 19:24] cgonz0 commented on #8469
@ejregithub we are almost done with brand icon work. i can predict sometime next week we can start replacing these, however - the update isn't isolated to the pages mentioned in this issue. they will include previous whats new pages plus previous moments pages. so, should we scrap this one and create a more comprehensive issue instead?

[2020-03-20 19:27] cgonz0 commented on #8581
sorry if i wasn't clear - i meant laid out on the dev side with placeholder copy/images and such.
v2 design is approved, but new assets will be created next week to replace some of the icons shown here and hero image. we need copy as well.

[2020-03-20 21:06] ejregithub commented on #7052
I pinged Mika to confirm on the privacy page update

[2020-03-20 21:39] ejregithub commented on #7052
Per Mika, we simply need to add the following copy and link below the contact section, as so:

![image](https://user-images.githubusercontent.com/20547886/77208217-9b48fd00-6ab8-11ea-9c61-563a6f2756be.png)

For product support requests, please [visit our forums](https://support.mozilla.org/).

[2020-03-21 22:22] #8561 closed

[2020-03-23 09:00] alexgibson opened #8687 "Functional tests for welcome pages"
## Description

Welcome pages 1-4 have functional tests, but 5 onward don't currently have coverage.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] All welcome pages have some base level of test coverage.

[2020-03-23 09:15] jens1o opened #8688 "Invite the Nightly users to the Nightly community on chat.mozilla.org"
## Description

On the `nightly_whatsnew.html` page there was a former reference to the IRC server (`irc.mozilla.org`) which was removed as the IRC server was shut down as Mozilla moved to Matrix.
However, the Matrix method isn't (yet) mentioned on that page.

Came up at https://github.com/mozilla/bedrock/pull/8253/files/f7ff829b47ea99a80fdceddd912a085e43367171#diff-abf2619d0c5c977a82010883746b8b2

[2020-03-23 12:56] alexgibson commented on #8536
The page is already a snowflake, and receives relatively little traffic. I don't think it's worth creating an epic for this with a redesign.

[2020-03-23 14:13] alexgibson opened #8690 "Newsletter form on /channel page is broken"
## Description
The newsletter signup on the /firefox/channel/ page isn't working quite right. It looks like the JS that handles the form request is missing.

### Steps to reproduce

1. Visit https://www.mozilla.org/en-US/firefox/channel/desktop/
2. Fill out the newsletter signup form and click "Sign Up Now"

### Expected result

Upon successful signup, you should see a "thank you" message.

### Ac

[2020-03-23 17:49] ejregithub opened #8691 "(3-24-2020) Stand up new (2) pages for 'Better Web Terms'"
Publish new legal documents:

- Better Web Terms: https://www.mozilla.org/about/legal/terms/betterweb/
- Better Web Privacy: https://www.mozilla.org/privacy/betterweb/

See [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1624144) for more detail

[2020-03-23 18:16] rantley commented on #8639
@alexgibson maybe something like this?

https://docs.google.com/document/d/1fLyc_Uisa8j9jgwknULDV1_zsVnzKuvtLOKoYvrFwpU/edit?usp=sharing

[2020-03-23 18:59] #8663 closed

[2020-03-23 20:43] #8569 closed

[2020-03-23 20:43] rantley commented on #8684
@cgonz0

Here's a draft version, this is in queue to be reviewed by brand.
https://docs.google.com/document/d/1vt8q2TH3TYz2NHVZ_8WqvBnZjw0SIT3vPTx2tXOUJvA/edit?usp=sharing

[2020-03-23 21:26] #7052 closed

[2020-03-23 21:26] #8691 closed

[2020-03-23 21:38] hoosteeno commented on #8668
Let's make that redirect happen.

Do we need a separate issue for eliminating that content from Bedrock?

[2020-03-23 21:51] ejregithub commented on #8677
Yes, I will move this to the Protocol repo

[2020-03-23 22:41] #8419 closed

[2020-03-23 22:41] #8420 closed

[2020-03-24 09:40] alexgibson commented on #8668
I don't think we need a separate issue for removing the content. We can tackle that here too.

[2020-03-24 09:55] alexgibson commented on #8657
I've been considering what to do with this legacy .lang file, and I think ultimately we should try and move away from this kitchen sink approach of placing random strings in a global main.ftl file like this.

It may require a little research, but ultimately what we might be able to do is:

- Identify groups of strings in this file that have a common purpose (e.g. fundraising banner, fxa email form

[2020-03-24 09:58] alexgibson commented on #8510
Blocked by https://github.com/mozilla/bedrock/issues/8401

[2020-03-24 09:58] alexgibson commented on #8511
Blocked by https://github.com/mozilla/bedrock/issues/8401

[2020-03-24 10:32] #8579 closed

[2020-03-24 15:57] rraue opened #8697 "Change title of /new (en-US only)"
## Description

We should test if a easier to read title tag with more value prepositions gets a better ctr in search results. To test this I will measure trends on en-US vs en-CA & en-GB

Current title: "Download Firefox — Free Web Browser — Mozilla"

New title meta tag on en-US only: "_Download Firefox Browser — Fast, Private & Free — from Mozilla_"

---

#### Test Plan

SEO testing, so it needs

[2020-03-24 16:07] rantley commented on #8697
@rraue looks fine to me. Another way to consider phrasing it below:

  _"Download Firefox Browser — Fast, Private & Free — from Mozilla"_

[2020-03-24 16:09] rraue commented on #8697
@rantley Will change, thank you. I copied this from the Firefox page but your version is even cleaner with the same massage 🙌

[2020-03-24 20:08] ejregithub opened #8698 "Test Pilot - "marketing website home""
## Description

Test Pilot - Give it a real marketing website home

Why: It will directly grow FxA acquisition, Firefox Desktop MAU, or non-Desktop MAU., It enhances our brand.

Requester: Tyler Ahn

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] It's 7 sheeted
- [ ] The cost/benefit equation is done to determine if it should be done

####Approvers
- [ ] Approver/Accountable - Tyle

[2020-03-25 10:17] alexgibson commented on #8600
Can this issue now be closed out?

[2020-03-25 10:25] alexgibson commented on #7724
I think we can close this one out. The `process_ftl.py` command uses a global default of 80%, which is [defined here](https://github.com/mozilla/bedrock/blob/4d161e90f21a43446bd93ba84530b44d9af8c41f/bedrock/settings/base.py#L245).

Individual Fluent files can set their own [activation threshold](https://bedrock.readthedocs.io/en/latest/l10n.html#fluent-file-activation), based on [metadata](https:/

[2020-03-25 10:27] alexgibson commented on #7879
Closing this one, until a time when we have a new vendor ready.

[2020-03-25 10:27] #7879 closed

[2020-03-25 10:30] alexgibson commented on #6773
I think this is covered by our migration scripts and review process with the L10n team.

[2020-03-25 10:30] #6773 closed

[2020-03-25 10:31] alexgibson commented on #7527
@hoosteeno given the audit we conducted in Q1, is there anything here that is left to be done?

[2020-03-25 13:58] alexgibson commented on #8657
Note: there may still be a case to have a `common.ftl` perhaps, for things like UI controls ("Play", "Pause", "Stop", "Close" , "Next", "Previous", "Menu" etc).

[2020-03-25 14:39] pmac commented on #7724
If we're happy with 80% then I think we're done here.

[2020-03-25 14:42] #7724 closed

[2020-03-25 15:29] alexgibson commented on #8571
https://www.mozilla.org/en-US/firefox/welcome/6/

[2020-03-25 15:29] #8571 closed

[2020-03-25 16:00] amychurchwell commented on #8600
@alexgibson yes, thanks again!

[2020-03-25 16:00] #8600 closed

[2020-03-25 16:55] amychurchwell commented on #8637
@alexgibson this is ready for final review, I think we should move native app banners into a separate experiment.

from slack:

Android native banners require: a user engagement heuristic (currently, the user has interacted with the domain for at least 30 seconds) that may not work for this?

[2020-03-25 21:41] ejregithub opened #8701 "Copy - WNP 76"
Privacy and Security theme content leaning towards Skyline content

Hero: ETP - new stuff!

Hero section: Enhanced Tracking Protection

- 1st subhead: Monitor
- 2nd subhead: Send
- 3rd Subhead: FB Container, shown to all locales except zh-TW

[Copy doc](https://docs.google.com/document/d/1q45AUQPnzCkQdAc1hELW8kYN8pC7xWbFqgs3Xl3iBrA/edit#)

[2020-03-25 21:41] ejregithub opened #8702 "Design - WNP 76"
Provide design assets for the WNP for 76 in the wnp template. In this case it will be the hero section and 3 subsections as detailed below:

Privacy and Security theme content leaning towards Skyline content

Hero section: Enhanced Tracking Protection

- 1st subhead: Monitor
- 2nd subhead: Send
- 3rd Subhead: FB Container, shown to all locales except zh-TW

[Copy doc](https://docs.google.com/docum

[2020-03-25 21:41] ejregithub opened #8703 "Code - WNP 76"
[Releng bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1628904)

[2020-03-25 23:22] #8574 closed

[2020-03-26 09:23] alexgibson commented on #8637
@amychurchwell when I visit the preview URL on iOS Safari, I see the banner and app store badge a-ok, but when I try and click on the app store badge, nothing happens?

Clicking the regular download button redirects to the app store as expected, but the banner uses an adjust link. Could there be a problem with this link? Other adjust links on the site, such as on /firefox/mobile/ seem to work ok.

[2020-03-26 14:09] alexgibson opened #8705 "[local dev] Fluent error when reloading pages"
## Description

When I'm working on a local dev environment, with a page open (say http://127.0.0.1:8000/en-US/firefox/privacy/products/), if I hit save on an .scss file (any file) to trigger a build/reload, bedrock sometimes throws a Fluent related error.

### Steps to reproduce

1. Start bedrock running locally.
2. Open a page e.g. http://127.0.0.1:8000/en-US/firefox/privacy/products/
3. Open an

[2020-03-26 14:19] pmac commented on #8705
That's very odd. The docker container doing the rebuilding of the .scss file is not the same one running Django and throwing this error. I'll see if I can figure anything out.

[2020-03-26 14:21] alexgibson commented on #8705
Sorry I should note that I'm running bedrock using local installation (I find it much less resource hungry than docker).

This bug could also be a side effect of having more than one tab / page open at the same time.

[2020-03-26 15:05] #7705 closed

[2020-03-26 15:21] mozbhearsum opened #8707 "Possibly error in footer links?"
## Description

I noticed today that there's two links in the footer that don't have hrefs:
[code]

And indeed, if I visit a page such as https://www.mozilla.org/en-US/firefox/75.0beta/releasenotes/, the " Visit Mozilla Corporation’s not-for-profit parent, the Mozilla Foundation. " text has no clickable links.

Possibly caused by https://github.com/mozilla/bedrock/commit/4d161e90f21a43446bd93ba845

[2020-03-26 15:24] alexgibson commented on #8707
Thank you, nice catch!

[2020-03-26 15:53] ejregithub opened #8709 "WNP 76 Epic"
## Description

The content is TBD

WNP 76 Release is May 5th

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Swarming is kicked off on April 13th
- [ ] The page is live by April 25th

#### Approvers
- [ ] Accountable - MWarther
- [ ] Brand - Clio/Natalie
- [ ] Team Lead - Hoosteeno

[2020-03-26 16:00] #8707 closed

[2020-03-26 16:22] amychurchwell commented on #8637
@alexgibson It has given me the correct behavior before, but I am also experiencing something similar. Convert seems to open a separate window that you need to click-through?
I collaborated with Loren on the links for these, so they should be correct. I'll double check.

![image](https://user-images.githubusercontent.com/30483988/77669672-5f8fb680-6f42-11ea-8864-13aa5deb10ba.png)

[2020-03-26 16:30] alexgibson commented on #8637
I can only seem to get the link to open by holding instead of tapping and then telling it to open in a new tab?

[2020-03-26 16:44] ejregithub opened #8710 "Implement to bedrock"
Get this this live on the website using the Protocol component

- [ ] Determine the pages on which it should appear
- [ ] Testing to ensure proper behavior and no breakage

[2020-03-26 16:46] hoosteeno opened #8711 "Build a "catastrophic event" Firefox download page"
## Description

In the event that we have a catastrophic failure that takes www.mozilla.org offline for an extended period, Cloudflare can serve a single multi-language page. We should design and deliver this page. The page should

* let visitors in any language download firefox (direct download, most likely)
* be branded
* explain that the bigger website is unavailable for some reason

[/firefox/

[2020-03-26 16:54] hoosteeno commented on #8461
Design and code work for this are captured in the epic card at https://github.com/mozilla/bedrock/issues/8686. Closing this.

[2020-03-26 16:54] #8461 closed

[2020-03-26 16:58] ejregithub opened #8712 "Port old /features pages to Protocol"
## Description

Port old /features pages to Protocol so we can kill off Pebbles

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an example of a success criteria.

#### Tasks
- [ ] This is an example of a task. Use a checklist!
- [ ] This is an example of a task.

[2020-03-26 17:17] pmac commented on #8711
on the cloudflare side we'd be pointing it at a new origin that is most likely an s3 bucket with this static page/site, very much like our existing static sites like irlpodcast.org. Do you have any specific features you were curious about?

[2020-03-26 17:22] hoosteeno commented on #8711
Well, with a requirement for localization, it would be good to know if the requests are handled by a server that can do content negotiation.

[2020-03-26 17:24] alexgibson commented on #8711
In times of emergency (and who knows what those may be in the world right now), I'd very much favor us building something static, that is both fast and simple (in terms of tech stack).

[2020-03-26 17:29] metadave commented on #8711
per a discussion w/ @pmac, we could probably catch all 5xx errors and use a [custom Cloudflare error page](https://support.cloudflare.com/hc/en-us/articles/200172706-Configuring-Custom-Pages-Error-and-Challenge-#1YFUxbATF9AXeHCFgnTUsH)

[2020-03-26 17:37] hoosteeno opened #8713 "By 4/15: Re-render diversity disclosure graphs with new data"
## Description

The 2020 diversity disclosure is upcoming and the team needs new graphs. This task is specifically to re-render the same graphs we did in 2019, with new data.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Graphs are re-rendered and delivered to Tara Robertson by April 15.
- [ ] That's all

[2020-03-26 17:50] pmac commented on #8711
Thanks Dave. Was just coming here to post that link. I don't think in this situation we'll be able to do anything fancy with translation. It'd be best if we could include some translated text on the page in several of our top languages I think, but it should be a single static page IMO, and has to be that if we want to use the error pages thing that Dave linked.

If we finish #6857 and remove our

[2020-03-26 17:58] amychurchwell commented on #8637
For posterity: `rel="external noopener noreferrer"` on adjust links breaks them in convert. Investigating.

[2020-03-26 20:14] justinkropp commented on #8674
Regarding the implementation of a sticky navigation, here are some design and interaction specs for guidance:

An example for the ideal behavior for this nav(on desktop) can be [viewed here](https://wicky.nillia.ms/headroom.js/), *with a tweak*:

Rather than immediately starting to slide up on scroll, I'd like to delay the initial slide of the nav until the user scrolls down the page a bit. This i

[2020-03-26 21:40] #8349 closed

[2020-03-26 21:40] ejregithub commented on #8350
Archiving this; it's not clear this is the direction for Moments program.

[2020-03-26 21:40] #8350 closed

[2020-03-26 21:40] ejregithub commented on #8351
Archiving this; it's not clear this is the direction for Moments program.

[2020-03-26 21:40] #8351 closed

[2020-03-26 21:40] #8352 closed

[2020-03-26 21:40] ejregithub commented on #8352
Archiving this; it's not clear this is the direction for Moments program.

[2020-03-27 13:24] alexgibson commented on #8710
@ejregithub can you add a little more information here, so that this issue makes sense out of context of the discussion yesterday? I already can't remember what this one is about :)

[2020-03-27 13:35] alexgibson commented on #8637
@amychurchwell I tested the preview link on my iOS device and it now functions as expected.

I took a second look at review and things look good to me. Once question though: the original variation (control) doesn't have any goals set up to track conversions. How are we hoping to work out if the mobile buttons outperform the control?

[2020-03-27 16:49] alexgibson commented on #8637
Ok, this experiment is now running in production for 12% of traffic going to /en-US/firefox/new/

[2020-03-27 17:08] alexgibson commented on #8637
Lowered to 9%, as per Slack

[2020-03-27 17:48] cgonz0 commented on #8485
@rraue  as discussed, we can add this link tile & icon while we're awaiting /features to be ported into protocol with a new design. (please note, this "new" icon is off-brand and only to be used in the interim).

![browser_icon_offbrand.svg](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/41ff32d1-88d0-41ad-88bd-167b04bcdfc9)

![features_linktile2.png](https://images.zenhubuserconten

[2020-03-27 19:07] pmac commented on #8470
This is done.

[2020-03-27 19:07] #8470 closed

[2020-03-27 22:35] craigcook opened #8716 "Header logos on 404 and 500 pages should be links"
## Description

The Mozilla and Firefox logos at the top of the error pages should link to the home page and /firefox, respectively.

![image](https://user-images.githubusercontent.com/205591/77805981-9e0b9b00-7040-11ea-8f0f-7fb89db89d70.png)

[2020-03-30 08:10] #8654 closed

[2020-03-30 08:38] #8185 closed

[2020-03-30 08:54] #8637 closed

[2020-03-30 13:05] rraue commented on #6188
Closed because of new tests on https://github.com/mozilla/bedrock/issues/8697#issuecomment-603335297

[2020-03-30 13:05] #6188 closed

[2020-03-30 13:52] alexgibson commented on #7825
Fixed in https://github.com/mozilla/bedrock/issues/8185

[2020-03-30 13:52] #7825 closed

[2020-03-30 14:26] mcroud opened #8719 ""Our Mission" buttons remain 1 column up to 1024px wide [New Contribute Page]"
Going from mobile to desktop, the four buttons under the "Our Mission" heading remain in a  single column until the screen reaches 1024px wide.

<img width="958" alt="Screenshot 2020-03-30 at 15 19 24" src="https://user-images.githubusercontent.com/42435754/77923127-e5409880-7299-11ea-9b10-1f93af21b7b2.png">

Upon reaching 1024px the buttons switch to a 2x2 grid matching the desktop design.

For p

[2020-03-30 14:37] mcroud opened #8720 ""Get Help" and "Webcompat" blocks should be smaller [New Contribute Page]"
On desktop, the "Get Help" and "Webcompat" blocks above the footer of the page should not stretch beyond the width of the footer content area.

<img width="365" alt="Screenshot 2020-03-30 at 15 31 41" src="https://user-images.githubusercontent.com/42435754/77924533-aad7fb00-729b-11ea-97a8-fa3e8b328d44.png">

Looking at the footer, this would mean that these two blocks should go no wider than 1228p

[2020-03-30 15:45] mcroud opened #8721 "Height of hero area a little too big [New Contribute Page]"
Admittedly very much a nitpick (sorry)!
Though I typically don't value an above-the-fold mentality, the height of the hero area in this instance was purposeful in order to get the "How you can contribute…" header from the section below within a typical screen view.

Looking between the designs and the staging area, we only need to remove 50px in order to match what is on Figma.

| Figma  (602px)

[2020-03-30 17:03] mcroud opened #8723 "Webcompat lightbulb placement [New Contribute Page]"
In between mobile and desktop states, the Webcompat lightbulb can interact with the text within the block:

<img width="355" alt="Screenshot 2020-03-30 at 17 58 45" src="https://user-images.githubusercontent.com/42435754/77940147-293e9800-72b0-11ea-9139-f2d880b7561f.png">

I'm not fussed about placing it perfectly anywhere so long as the bulb doesn't appear underneath other content elements.
Nudgi

[2020-03-30 17:06] mcroud opened #8724 "Prevent button text from appearing on two lines [New Contribute Page]"
Can we prevent the buttons within the "Get Help" and "Webcompat" blocks from appearing on two lines:

<img width="255" alt="Screenshot 2020-03-30 at 18 04 34" src="https://user-images.githubusercontent.com/42435754/77940685-f648d400-72b0-11ea-8953-d20393ccf418.png">

The buttons should always appear within a single line.

[2020-03-30 17:11] mcroud opened #8725 "Increase distance between footer and Webcompat block [New Contribute Page]"
On desktop sizes, the gap between the Webcompat block and the footer should be larger than that of the gap between the Webcompat and Get Help blocks:

<img width="668" alt="Screenshot 2020-03-30 at 18 08 29" src="https://user-images.githubusercontent.com/42435754/77941105-8b4bcd00-72b1-11ea-91e7-c498130193db.png">

Let's go with 140px 👍

The gap distance on mobile is fine.

[2020-03-30 17:24] mcroud opened #8726 "Reduce max width of Our Mission area on Desktop [New Contribute Page]"
On staging the body copy area of Our Mission can expand to over 1000px.
This might be more than what's comfortable to read on a single line (though admittedly it is only a single line!)

<img alt="Screenshot 2020-03-30 at 18 15 43" src="https://user-images.githubusercontent.com/42435754/77942183-2ee9ad00-72b3-11ea-8d33-7bc928f6beae.png">

Can we reduce this width to something close to the designs

[2020-03-30 17:28] mcroud opened #8727 "Align card heights [New Contribute Page]"
When the contribution cards become a 2x2 formation the height of the cards are not synced with their neighbour:

<img alt="Screenshot 2020-03-30 at 18 19 38" src="https://user-images.githubusercontent.com/42435754/77942720-f4ccdb00-72b3-11ea-9ce3-f2010eed9ed6.png">

Can we have the cards match the height of the tallest card. I acknowledge that this will create extra white space along the bottom of

[2020-03-30 19:26] hoosteeno opened #8728 "Create a banner for MOSS Covid-19 grants"
## Description

In https://github.com/mozilla/bedrock/issues/7185 we made the Foundation fundraising banner more reusable. Let's reuse it to enable a banner on the MOSS page and subpages at www.mozilla.org/moss/*. The banner...

* Is in en-US only.
* Contains some text:

* Links to a blog post.
* Needs light design, no copy.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Banner is

[2020-03-30 19:28] hoosteeno opened #8729 "MOSS-Covid: Design"
## Description

In https://github.com/mozilla/bedrock/issues/8728 we are building a new banner for the MOSS pages. The copy and specs are in that issue. This issue is about putting together a light design for the banner.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Banner is approved by devs and attached to this issue.

[2020-03-30 19:30] hoosteeno opened #8730 "MOSS-Covid: Code"
## Description

In https://github.com/mozilla/bedrock/issues/8728 we are building a new banner for the MOSS pages. The copy and specs are in that issue. This issue is about building the code for the banner. See https://github.com/mozilla/bedrock/issues/8729 for design.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Banner is coded and launched in en-US

[2020-03-30 21:25] mehan commented on #8728
Thanks for this, @hoosteeno! If it's not too late, I'd like to request a small edit to the copy that you included above: it would be great for it to read "awards of up to $50,000 USD each". There was some confusion around that line in the blog post and just want to make sure we're being clear. Thanks!

[2020-03-30 22:44] amychurchwell commented on #8602
@justinkropp
Hi Justin! Here are demo links for design review. If you have feedback, feel free to post on this issue and I can update the pull request accordingly.

Demo:
- https://www-demo5.allizom.org/en-US/firefox/installer-help/?v=b
- https://www-demo5.allizom.org/en-US/firefox/installer-help/?v=b&channel=release

[2020-03-31 13:04] alexgibson commented on #8674
Some edge cases for discussion with @justinkropp later today:

1. What should happen if the nav is not the top most element on the screen? For example when the fundraising banner is visible: https://www-dev.allizom.org/en-US/

2. What should happen to existing sticky bars that appear on scroll, such as on the www.mozilla.org homepage? https://www.mozilla.org/en-US/

3. How should the nav be styled

[2020-03-31 15:37] alexgibson commented on #8659
NOte: there also seem to be some newsletter related strings in main.lang. Some further research to better understand how all these files relate to eachother may be needed.

[2020-03-31 16:06] drewminns commented on #8725
@mcroud I've made the change (pending deployment to the environment) but I wanted to flag that the spacing is not using a design token defined within the Protocol design system. Is this alright?

[2020-03-31 16:28] hoosteeno commented on #8728
Updated specs with that text change and with the link to blog post.

[2020-03-31 16:30] #8578 closed

[2020-03-31 16:36] mcroud commented on #8725
I see! You know I actually wasn't aware that we had tokens for specific measures.
Let's go with `$layout-xl`
Thanks for the heads up!

[2020-03-31 16:36] #8668 closed

[2020-03-31 16:43] #8485 closed

[2020-03-31 16:44] alexgibson opened #8733 "Extract new string for /features landing page"
## Description

https://github.com/mozilla/bedrock/pull/8718 added a new string to the /firefox/features/ page. This is an issue to serve as a reminder to make sure it gets translated.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] New string is available in Pontoon.

[2020-03-31 17:28] alexgibson commented on #8674
@hoosteeno both myself and @justinkropp met today to talk through the edge cases linked above, and in the interest of getting this sticky nav out the door we propose the following:

- I'll implement the sticky feature of the primary navigation in Protocol, and then update bedrock to use it once available.
- Because we don't yet have a sub navigation component in Protocol, making the existing sub n

[2020-03-31 18:00] hoosteeno commented on #8674
It sounds good to me. One question: On the pages with subnav, are we saying there will not be anything sticky, or only that the subnav will not stick to the top nav when the top nav transitions to sticky?

[2020-03-31 18:10] alexgibson commented on #8674
We're saying the sub-nav will not be sticky, where as the primary nav will be.

[2020-03-31 18:42] justinkropp commented on #8602
@amychurchwell I reviewed both demos and they both look good to me. No edits. 👍

[2020-04-01 00:13] ejregithub opened #8735 "[Due 4-7-2020] Leadership page updates"
## Description

Minor updates to the leadership page, as follows:

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Dana Bennett's title on /leadership is listed as:  “Interim CPO”
- [ ] "Steering Committee" has been added below Dana's title
- [ ] "Steering Committee" has been added below MEM's title
- [ ] Changes are live on or before April 7th

[2020-04-01 09:53] rraue opened #8736 "Broken link on /privacy/firefox/"
## Description

On /privacy/firefox/ the link to the privacy terms of adjust.com is 404. It needs to link to https://www.adjust.com/terms/privacy-policy/ instead of https://www.adjust.com/privacy-policy/.

[2020-04-01 17:04] rraue opened #8739 "Research & implement the use of data-nosnippet"
## Description
Google and other search engines are displaying more and more feature snippets in search results. This is in general good for us, as they usually are the first result answering short questions with a link to our websites.

We saw from time to time weird feature snippets including wording from forms, buttons, nav or footer. One of the latest examples is from Germany. We won back the f

[2020-04-01 19:37] #8641 closed

[2020-04-02 08:18] imrishabh18 commented on #8716
Hey, i want to work on this.

[2020-04-02 13:06] alexgibson commented on #8733
L10n PR: https://github.com/mozilla-l10n/www.mozilla.org/pull/386

[2020-04-02 13:53] mcroud opened #8740 ""People like you image" should be flush right [New Contribute Page]"
On desktop, the image associated with the **Made by passionate people like you** section seems to have come away from the right hand edge.

There's now a gap between the image and the edge, and the image appears closer to the body copy.

<img width="1525" alt="Screenshot 2020-04-02 at 13 49 05" src="https://user-images.githubusercontent.com/42435754/78256491-81fc7380-74f0-11ea-8758-16279e09fac8.pn

[2020-04-02 14:56] #8539 closed

[2020-04-02 16:36] imrishabh18 commented on #8716
Filed a PR for this check it - https://github.com/mozilla/bedrock/pull/8741

[2020-04-03 05:01] cgonz0 commented on #8581
[**Sketch file**](https://share.goabstract.com/60a8b54f-546d-4965-90c4-200ce17a0206?sha=78e983fb9b575e6ea69904b7457febf169e2a14f)
/Features page and subpage layout - responsive & specs included

[**assets**](https://app.zenhub.com/files/1616665/3d9415db-52b5-4e2b-a06f-841cc63abc52/download)
hero img and icons

[**copy doc**](https://docs.google.com/document/d/1vt8q2TH3TYz2NHVZ_8WqvBnZjw0SIT3vPTx2t

[2020-04-03 09:24] alexgibson commented on #8675
Sticky nav is now ready for code review over in Protocol: https://github.com/mozilla/protocol/pull/561

[2020-04-03 12:59] alexgibson commented on #8659
Update: it appears like `newsletter.lang` used to be a shared global file, but it's no longer used anywhere and may not need to be ported.

The file `mozorg/newsletters/lang` was moved so it would only need to be translated by locales that have newsletters. It's not a shared file, so doesn't need migrating as a priority.

[2020-04-03 16:12] alexgibson commented on #8733
Fixed in https://github.com/mozilla-l10n/bedrock-l10n/commit/c08fc061ad0667f36a1c36fb79ef68dd7c33b60c

[2020-04-03 16:12] #8733 closed

[2020-04-03 17:06] ejregithub commented on #8736
@rraue - I pinged MFeldman (on Wed) but have not heard back.  Given the 404 circumstance and that we're simply replacing a link, I see no reason not to move forward and implement the update.

[2020-04-03 17:31] ejregithub commented on #8735
@craigcook - possible for you to do this today (Friday) or Monday a.m.?  Errolyn is back Monday to review.

[2020-04-03 18:04] mehan commented on #8728
Hi @hoosteeno--any updates or an ETA on when this might land? Thanks!

[2020-04-03 18:55] stephaniehobson opened #8744 "Add 2 cards to EN homepage"
MJ asked if we could add 2 more cards to the 3rd row:

![april2](https://user-images.githubusercontent.com/854701/78395203-e9bec700-75a1-11ea-8c5e-4a848eeb80b0.png)

[2020-04-03 20:02] hoosteeno commented on #8728
The design issue is underway, and code can probably happen next week.

[2020-04-03 21:25] #8744 closed

[2020-04-03 21:35] ejregithub opened #8746 "Welcome 7 & WNP 74 - Fix hard coded strings in FR"
Description -

After Theo reviewed the strings for welcome/7/, he made note of the following:

In the second subhead:
"Apprenez" should be: "Apprendre"
There’s also a typo: "platformes" → "plateformes" (missing e)
And a straight quote → apostrophe change in sur d'autres (currently it's a straight quote and it should be an apostrophe, as in the subhead "c’est"

We need to fix these in both the Welc

[2020-04-06 11:48] rraue opened #8749 "www.mozilla.org/mobile/ not redirected to /firefox/mobile/"
## Description

www.mozilla.org/mobile/ is currently redirected to /firefox/ but should be redirected to /firefox/mobile/. I looked into the backlink profile and most links are about mobile and users should land then on the mobile page, not the brand overview page.

[2020-04-06 12:41] alexgibson commented on #8674
We've moved passed design here into code. Can this issue be closed out?

[2020-04-06 14:29] justinkropp opened #8750 "Mozilla.org Information Architecture Audit/Redesign"

[2020-04-06 15:23] #8735 closed

[2020-04-06 15:30] #8472 closed

[2020-04-06 16:04] #8674 closed

[2020-04-06 16:14] rraue commented on #8581
One small tweak on the copy would benefit SEO: The last link says "Compare Firefox" but it would be better go with "Browser Comparison".

[2020-04-07 15:32] alexgibson opened #8752 "Switch to native lazy loading for images"
## Description

Firefox 75 is out, which supports the [`loading="lazy"` attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#attr-loading). This means native image lazy loading now has pretty broad browser support, with the notable exception of Safari.

We should investigate switching to native lazy loading of images, instead of using our current Intersection Observer solution

[2020-04-07 15:35] #8474 closed

[2020-04-07 15:53] ejregithub opened #8753 "Extract strings on the /enterprise page for l10n"
Do the needful and extract strings for the revised enterprise page

[2020-04-07 20:46] pmac commented on #8711
I've created a repo and place holder page for this. If we just build it there and host the page with Github Pages we can configure it in CloudFlare and be done :)

Repo: https://github.com/mozmeao/www-error-page

Page: https://mozmeao.github.io/www-error-page/

[2020-04-08 00:08] cgonz0 commented on #8729
[Sketch file w/ specs & bg img - MOSS-Covid_banner.zip](https://github.com/mozilla/bedrock/files/4447529/MOSS-Covid_banner.zip)

-------------

![1312 - final](https://user-images.githubusercontent.com/29640968/78730382-7d213080-78f1-11ea-90f9-592162761731.png)

------------

![768 - final](https://user-images.githubusercontent.com/29640968/78730384-7e525d80-78f1-11ea-8daf-1a6e732d522a.png)

-----

[2020-04-08 12:57] rohanharikr commented on #8639
Would like to work on this!

[2020-04-08 15:52] craigcook commented on #8639
There's also a https://github.com/mozilla/bedrock/pull/8741 to turn the logos into links, (which I just realized has a question I need to answer) so that will give another way to escape the error page.

[2020-04-08 18:35] imrishabh18 commented on #8310
Hey @alexgibson , should i take up this issue ?

[2020-04-08 21:12] ejregithub commented on #8702
@cgonz0 - when requirements are clear to you, please apply an estimate (time/complexity) for your work that is required to close this card.

[2020-04-09 00:16] ejregithub commented on #8702
<img width="969" alt="image" src="https://user-images.githubusercontent.com/20547886/78845190-be324700-79bc-11ea-9b45-8c5b8b1e60f1.png">

[2020-04-09 00:25] cgonz0 commented on #8702
All locales ~

![wnp76 - Final - all locales.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/0a4b7bfd-8ff3-48e4-b6d6-b665a808beea)

zh_TW ~

![wnp76 - FInal - zh-TW.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/7f645e9c-5562-45c9-9333-edb4919ef638)

![hero_etp.svg](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/e033e685-999f-41c2-84b2-66359c6c

[2020-04-09 19:15] metadave commented on #8711
@hoosteeno  Could we get a minimal version of https://www.mozilla.org/en-US/firefox/all/ to host in the www-error-page repo that @pmac setup above?

[2020-04-09 23:09] imrishabh18 commented on #8690
I would like to work on this issue.

[2020-04-10 16:06] ejregithub opened #8758 "[4/13/20] Update Leadership page"
## Description

MItchell's bio:

---

Chief Executive Officer, Chairwoman of Mozilla Foundation

Mitchell Baker co-founded the Mozilla Project to support the open, innovative web and ensure it continues offering opportunities for everyone. As CEO of Mozilla Corporation, Mitchell is focused on accelerating the growth levers for the core Firefox browser product and platform, while investing in innov

[2020-04-10 18:29] #8758 closed

[2020-04-10 18:43] ejregithub opened #8760 "Changes to "Projects" in navbar"
From - https://bugzilla.mozilla.org/show_bug.cgi?id=1522698
Changes to "Projects" in navbar
Changes to 4 small content blocks

note: icons can stay the same, but I'm requesting changes to copy and links. The globe icon is generic enough to work, but if there is anything better for machine learning, it can be swapped

Common Voice
Donate your voice to help make voice recognition open to everyone.

[2020-04-10 18:45] ejregithub commented on #8760
Realized this is a duplicate to #7258  - closing this one.

[2020-04-10 18:45] #8760 closed

[2020-04-10 20:10] amychurchwell opened #8761 "Resources link on firefox/enterprise goes nowhere."
## Description

On the [firefox/enterprise](https://www.mozilla.org/en-US/firefox/enterprise/) there is a link to resources (`#resources`) that currently goes nowhere. There does not seem to be a resources section on this page, should this link be pointing somewhere else?

[2020-04-10 20:15] craigcook commented on #8761
The resources section was removed in https://github.com/mozilla/bedrock/pull/8722 and I just totally missed the link the subnav. We should remove it.

[2020-04-10 20:39] #8736 closed

[2020-04-10 20:53] #8536 closed

[2020-04-10 21:20] pmac commented on #8711
Okay. I've got a good first take on a minimal version of the /firefox/all/ page. PRs welcome.

https://mozmeao.github.io/www-error-page/

[2020-04-10 21:50] ejregithub opened #8765 "Redirect (302) /firefox/browsers/compare/edge/ to /firefox/browsers/compare/"
## Description

Set up redirect, 302 is probably best, sending users from:

https://www.mozilla.org/firefox/browsers/compare/edge/

to:

https://www.mozilla.org/en-US/firefox/browsers/compare/
---

[2020-04-10 22:14] #8749 closed

[2020-04-10 23:05] #8765 closed

[2020-04-13 12:26] MichaelKohler opened #8767 ""A server error occurred. Please contact the administrator.""
## Description

I'm getting the following error after starting it with `make clean run`. I'm on `b4926e3937ffe13dc1dbde266dd3c3492494b648`.

[code]

Full docker log:

[code]

[2020-04-13 16:30] cgonz0 opened #8768 "Design - Update Icons in modules on previous What's New & Moments pages"
Original issue: [8469](https://github.com/mozilla/bedrock/issues/8469)

## Description

We need to update icons used in the lower section modules of previous What's New and Moments pages (+ 404 pg) in accordance with our updated icon system.

Specifically:
/welcome/1
/welcome/4
/welcome/5
/welcome/6

70.0/whatsnew
73.0/whatsnew / https://www.mozilla.org/firefox/set-as-default/
74.0/whatsnew
75.0/w

[2020-04-13 16:31] cgonz0 commented on #8469
icons above are now out of date - see new issue [8768](https://app.zenhub.com/workspaces/wmo-scrumban-59bd527821e82e515786ca73/issues/mozilla/bedrock/8768)

[2020-04-13 18:06] pmac commented on #8711
@alexgibson @hoosteeno the error page template above is too large according to cloud flare. Do you have ideas on what we could do to pare it down? Fewer languages perhaps? Maybe only the top 10 or 20?

[2020-04-13 20:50] hoosteeno opened #8770 "WNP75: Change destination of one CTA link"
## Description

The flow we introduced for WNP75 visitors who are not signed in to sync adds a step, and we're seeing a significant drop off of completions.

### Steps to reproduce

Visit https://www.mozilla.org/en-US/firefox/75.0/whatsnew/all/ in a browser not signed in to FxA. Click the main CTA. It will take you to a page that looks like this:

<img width="661" alt="Screen Shot 2020-04-13 at 8

[2020-04-13 21:16] ejregithub opened #8771 "Update https://www.mozilla.org/firefox/features/independent/"
## Description

We need to update copy on the page https://www.mozilla.org/firefox/features/independent/

Current copy:
We champion your right to privacy with tools like Private Browsing with Tracking Protection, which go beyond what Google Chrome and Microsoft Edge offer.

New copy:
We champion your right to privacy with tools like Private Browsing with Tracking Protection.

Success Criteria:
- [

[2020-04-13 21:51] duallain commented on #8767
Heya! Thanks for taking the time to report this issue.

I tried to reproduce the problem, and wasn't able to.  I do have a little bit of information that might be helpful to you though.

`make clean run` does a few things.  It looks to me like `clean` ran ok on your machine. (`git clean -d -f` is the last bit of that command, and seems ok).  (skipping a bit, for clarity) As part of `run`, we run

[2020-04-13 22:26] MichaelKohler commented on #8767
Thanks, I've tried that, it looked the same as the beginning of the full log below.

I'd guess `Submodule path 'vendor-local/src/legal-docs': checked out 'ba9e825b79173f808db37ec4a3b34da792af8127'` should be okay.

[code]

That one seems interesting. I've added a print statement for `path` at the top of that function, and it seems that `/media/contentcards/img/home-2019/card_1/corona.ce92523a561d.

[2020-04-13 22:30] duallain commented on #8711
There are a few questions we could answer, that might make it easier to choose what to do:

Where should we host the static content?

Options:
s3 bucket
~~cloudflare error pages~~ (@pmac 's discovery seems to be, this won't work)
aws/gcp/azure instance (maybe it's enough to just have a deployable zip file + apache config that works, ansible/chef/puppet to deploy it?)

How should we protect the sta

[2020-04-13 22:38] stephaniehobson opened #8773 "Experiment: re-run /nav on /new"
## Description

The Brand team would very much like to include the global navigation on the download page to:
- keep users arriving on this page who don't want to download on our site
- enforce the master brand narrative that Firefox is more than a browser

We believe it is worth running again because:
- installs were not measured last time
- load times were not compared last time
- changes to /fi

[2020-04-13 22:42] pmac commented on #8711
I like the `Switch our existing CDN (cloudflare) to point at new backend.` option since it keeps our SSL setup the same. We'd just have to have the static site setup such that every URL get the same response and uses cache headers so that it can switch back quickly.

[2020-04-13 23:03] duallain commented on #8767
Any chance you've overwritten the CONTENT_CARDS_URL setting either via the .env file or in your local shell?

When I find the image you're getting an error on locally, it takes me to https://www-dev.allizom.org/media/contentcards/img/home-2019/card_1/corona.ce92523a561d.jpg.

my .env file in the root of the directory looks like this (you can compare against .env-dist):

[code]

[2020-04-14 00:19] cgonz0 commented on #8768
all assets located here:
[/icon_replacement](https://drive.google.com/drive/folders/1U9yffk8KBoFKf2TRrPF4Tu3YExCqeOV6?usp=sharing)

--
^folder on google drive contains mockup & new icons for each page:

**./404:**
404.png
mozilla-icon.svg

**./moments_pages:**
/welcome/1
/welcome/4
/welcome/5
/welcome/6

./moments_pages/welcome/1:
/welcome/1.png
breach_pink.svg
private-browsing_violet.svg

./momen

[2020-04-14 08:27] #8771 closed

[2020-04-14 08:27] #8761 closed

[2020-04-14 15:15] groovecoder opened #8775 "Bad example breach for Monitor on /firefox/privacy/products"
## Description

Mastercard breach is displayed on https://www.mozilla.org/firefox/privacy/products/ but it's not a great example of Monitor's value-proposition. (Small breach, country-specific, no passwords or even card numbers included.)

### Steps to reproduce

Go to https://www.mozilla.org/firefox/privacy/products/

### Expected result

Some other breach is a better example breach.
Alternatives

[2020-04-14 16:22] craigcook commented on #8771
New string added in https://github.com/mozilla-l10n/www.mozilla.org/commit/2ff04dc28ea43c763c65ca5c538606a7c51caccc

[2020-04-14 16:23] MichaelKohler commented on #8767
Yep, had my old .env config which was missing `CSP_DEFAULT_SRC` and `CONTENT_CARDS_URL`. That explains it 🤦🏻‍♂️

I'll leave it up to you if you want to keep this around to add a safety check in the code, or to close it as invalid. Thanks for the help!

[2020-04-14 19:17] craigcook commented on #8753
Done in https://github.com/mozilla-l10n/www.mozilla.org/pull/387

[2020-04-14 19:17] #8753 closed

[2020-04-15 08:27] alexgibson commented on #8675
Adding a blocker to this until it's in Protocol.

[2020-04-15 14:28] hoosteeno commented on #8615
I'm moving this back to New Issues; I don't think we should invest any more in this work until its future is clearer.

[2020-04-15 14:28] hoosteeno commented on #8614
@rantley let's stop working on this for the time being. Please link assets here. I'm moving back to New Issues until its future is clearer.

[2020-04-15 15:02] #8729 closed

[2020-04-15 17:01] #8770 closed

[2020-04-15 19:18] pmac commented on #7723
I'm not sure this part is necessary. It would be pretty obvious if the ftl file wasn't right during development and review since no strings would show up on the page and would only have the string IDs in the HTML. We could look at including this in tests, but it seems like overkill to me, at least for now.

[2020-04-15 21:28] #8730 closed

[2020-04-15 21:29] hoosteeno commented on #8728
This is live in production:

https://www.mozilla.org/en-US/moss/

[2020-04-15 21:29] craigcook commented on #8728
The banner is live now: https://www.mozilla.org/moss/

[2020-04-15 21:29] #8728 closed

[2020-04-15 21:29] craigcook commented on #8728
Jinx!

[2020-04-15 21:41] mehan commented on #8728
Looks great--thanks, all!

[2020-04-16 07:58] #8657 closed

[2020-04-16 15:29] alexgibson commented on #8675
https://github.com/mozilla/protocol/pull/561 has been merged, so the next step is now to publish a new NPM release and then update bedrock to use it.

[2020-04-16 15:47] #8702 closed

[2020-04-16 15:48] #8701 closed

[2020-04-17 16:54] hoosteeno commented on #8675
@craigcook is publishing a new NPM release something you can do?

[2020-04-17 17:02] ejregithub opened #8787 "[04/20/2020] Update Leadership page"
## Description

Remove Nate Weiner from the Leadership page

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Remove Nate Weiner from the Leadership page by EOD Monday April 20th

[2020-04-17 17:13] ejregithub commented on #8787
@hoosteeno - please note the important update, Nate not Matt, needs to be removed

[2020-04-17 17:45] craigcook commented on #8675
Yup, I'm on it.

[2020-04-17 18:00] #8787 closed

[2020-04-17 20:48] ejregithub opened #8792 "[4/20/2020] Update Leadership Page"
## Description

Change Mitchell's bio:

Mitchell is a member of the Advisory Boards of the Oxford Internet Institute and the MIT Initiative on the Digital Economy. She is an MIT Media Lab Research Affiliate with the Open Agriculture Initiative, and a Board Member of OpenMRS, Inc., which develops open source medical records systems for use in resource-constrained environments.

becomes

Mitchell is

[2020-04-18 00:35] #8374 closed

[2020-04-20 08:09] #8658 closed

[2020-04-20 12:08] alexgibson commented on #8401
All dependencies here are done, closing.

[2020-04-20 12:08] #8401 closed

[2020-04-20 15:42] #8792 closed

[2020-04-20 17:22] amychurchwell opened #8795 "Clean up and add exp templates for experiments."
## Description

We should remove the exp templates that are not used for running experiments and add the ones we need.

---

#### exp templates needed.
_en-US only for now._
- [x] /firefox
- [x] /firefox/new
- [ ] /firefox/mobile
- [ ] homepage

[2020-04-20 21:39] ejregithub opened #8797 "prevent SERPs from displaying browser incompatibility warning on “browser” searches."
## Description

By 2020-05-08, deploy code to prevent SERPs from displaying browser incompatibility warning on “browser” searches.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an example of a success criteria.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk.

[2020-04-20 21:40] ejregithub opened #8798 "Code according to specification developed to prevent SERPs from displaying browser incompatibility warning on “browser” searches."
In https://github.com/mozilla/bedrock/issues/8739 we'll specify what needs to change to prevent search engines from picking up browser incompatibility warnings and displaying them in search results. This card is about making code changes as specified.

[2020-04-20 21:45] hoosteeno opened #8799 "Epic: Monitor landing page"
## Description

We should write copy for, code, and launch a Monitor landing page on www.mozilla.org/firefox/monitor.

The page should be built using a layout of components that we can reuse for future product pages. If it is derived from the future state of /new, all the better.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is designed and approved by brand, dev, PM, produc

[2020-04-20 21:46] #8529 closed

[2020-04-20 21:48] hoosteeno commented on #8683
@amychurchwell This one is up for grabs...

[2020-04-20 21:56] hoosteeno commented on #8768
Let's not update Whatsnew pages older than 75. The pages will fall off the internet along with their icons.

[2020-04-20 21:57] ejregithub opened #8800 "Code - Update Icons in modules on previous What's New & Moments pages"
## Description

We need to update icons used in the lower section modules of previous What's New and Moments pages (+ 404 pg) in accordance with our updated icon system.

See - #8768 for the asset attachments
See - https://github.com/mozilla/protocol/issues/575 for work to add the icons to Protocol

Specifically:
- [ ] /welcome/1
- [ ] /welcome/4
- [ ] /welcome/5
- [ ] //welcome/6

- [ ] /75.0/wha

[2020-04-20 21:58] hoosteeno commented on #8768
@cgonz0 Have you named these images the same as their current names? If not, is there a reason to name them differently? It's far easier to swap images than it is to swap and rename images in code.

[2020-04-21 00:57] stephaniehobson commented on #8773
This experiment is ready for review: https://app.convert.com/#/projects/1003343/experiments_report/10035273

[2020-04-21 13:29] alexgibson opened #8801 "Missing icons on /firefox/new/ for some locales"
## Description

Some locales that have older strings are missing icons on /firefox/new/. Possibly a regression from https://github.com/mozilla/bedrock/pull/8532

### Steps to reproduce

Visit: https://www.mozilla.org/el/firefox/new/

### Expected result

Each of the three blurbs below the main section should have an icon.

### Actual result

The first two are missing icons:

![image](https://user-

[2020-04-21 13:46] alexgibson commented on #8801
Discovered this whilst working on https://github.com/mozilla/bedrock/issues/8510

[2020-04-21 16:16] stephaniehobson commented on #8773
@alexgibson can you review please ^?

[2020-04-21 18:37] ejregithub opened #8805 "Copy - Update Edge comparison page"
Write new copy for the Edge browser comparison page corresponding to the latest releases/feature updates

[Copy doc](https://docs.google.com/document/d/1waoo2Uh7Ap90YzFq36qHs7pAdf-uLS8_JPO3CVAGoF4/edit?usp=sharing)

###Approvals
- [x] SEO (@rraue)
- [x] Brand - Natalie
- [x] TL - @hoosteeno
- [x] Accountable - Eduardo Ibarra

[2020-04-21 18:37] ejregithub opened #8806 "Design - Update Edge comparison page"

[2020-04-21 18:38] ejregithub opened #8807 "Code - Update Edge comparison page"

[2020-04-21 18:38] ejregithub opened #8808 "Copy - Update main comparison page"

[2020-04-21 18:38] ejregithub opened #8809 "Design - Update main comparison page"
- [ ] Update hero image to include Brave

[2020-04-21 18:38] ejregithub opened #8810 "Code - Update main comparison page"

[2020-04-21 18:38] ejregithub opened #8811 "Update and relaunch Browser Comparison Pages"
## Description

We need to update the browser comparison pages to the current release of each competitor and reflect the latest features in them.

We should update the copy in each page as specified in copy docs.

Here is the latest [comparison table](https://docs.google.com/spreadsheets/d/1dyxx-M27jpit4RKStXxR54kkBN1sa9Tbca2a8MionKc/edit#gid=1512926430) vetted by PMM (Tyler Ahn)

Here is a[ listi

[2020-04-21 19:38] #8576 closed

[2020-04-21 19:39] #7575 closed

[2020-04-21 19:53] imrishabh18 commented on #8293
@alexgibson Hey, I want to work on this issue. Can you tell me how to get to that page of different language in my local machine ?

[2020-04-21 20:28] hoosteeno commented on #8375
We are awaiting a green light on snippets changes that will enable this. Once we have that green light, we can decommission this content and redirect visitors in all locales to the Foundation site linked above.

[2020-04-21 20:30] ejregithub opened #8812 "Review Chrome comparison page for updates"
Review the page for updates in content (copy & comparison tables), then make changes as required.

###Success Criteria
- [ ] Copy is updated with latest release information
- [ ] Comparison tables reflect latest release information

###Approvals
- [x] Brand - Natalie
- [ ] Brand - Clio
- [ ] SEO - Raphael
- [ ] Team Lead - Hoosteeno
- [ ] Accountable - Eddie

[2020-04-21 20:30] ejregithub opened #8813 "Review Safari comparison page for updates"
Review the page for updates in content (copy & comparison tables), then make changes as required.

###Success Criteria
- [ ] Copy is updated with latest release information
- [ ] Comparison tables reflect latest release information

###Approvals
- [x] Brand - Natalie
- [ ] Brand - Clio
- [ ] SEO - Raphael
- [ ] Team Lead - Hoosteeno
- [ ] Accountable - Eddie

[2020-04-21 20:33] cgonz0 commented on #8768
@hoosteeno good call on the what's new pages.

looking more into into it - it looks like the file names will have to be different in all cases here due to 1) a lot are being replaced with different icons where the names don't match (eraser.svg / cookies_pink.svg) and the ones we're updating also need name updates (arrows.svg = sync_orange.svg).

as you can see, our updated icon system also has col

[2020-04-21 20:35] #8703 closed

[2020-04-21 20:46] ejregithub opened #8814 "Review IE comparison page for updates"
Review the page for updates in content (copy & comparison tables), then make changes as required.

###Success Criteria
- [ ] Copy is updated with latest release information
- [ ] Comparison tables reflect latest release information

###Approvals
- [x] Brand - Natalie
- [ ] Brand - Clio
- [ ] SEO - Raphael
- [ ] Team Lead - Hoosteeno
- [ ] Accountable - Eddie

[2020-04-21 20:46] ejregithub opened #8815 "Review Opera comparison page for updates"
Review the page for updates in content (copy & comparison tables), then make changes as required.

###Success Criteria
- [ ] Copy is updated with latest release information
- [ ] Comparison tables reflect latest release information

###Approvals
- [x] Brand - Natalie
- [ ] Brand - Clio
- [ ] SEO - Raphael
- [ ] Team Lead - Hoosteeno
- [ ] Accountable - Eddie

[2020-04-21 23:27] stephaniehobson commented on #8773
@alexgibson Oh it was the stub attribution Amy and I wanted to ask about. Can you please make sure that's working as intended as part of the review 🙏

[2020-04-22 08:38] alexgibson commented on #8773
I tested this on Windows and everything seems ok with stub attribution. I see the convert experiment Id and variation passing along automatically 👍

I do wonder if the targeting URL is incorrect however. It's currently set to `https://www.allizom.org/en-US/exp/firefox/new/?v=a`, so how is traffic going to get to `?v=a`? Seems like this query parameter might be redundant?

Once I do hit the target

[2020-04-22 09:07] #8801 closed

[2020-04-22 14:51] alexgibson commented on #8293
@imrishabh18 there's a link above where you can reproduct the issue.

When running locally, you may have to pull in localizations to get to the locale itself: https://bedrock.readthedocs.io/en/latest/l10n.html

[2020-04-22 15:48] hoosteeno commented on #8675
This is dependent on https://github.com/mozilla/bedrock/pull/8796

[2020-04-22 16:12] hoosteeno opened #8821 "Epic: Mobile banner takeover"
## Description

The CRO team ran [an experiment](https://airtable.com/tblO5zD4uNk7ISyG0/viw0HBtxscjMUuaCt/rec6HIbXwsahK8OI9?blocks=hide) that put a large, highly visible banner at the top of /new for all mobile visitors. This experiment showed a notable improvement in on-page conversions (i.e. clicks to app stores) for the treatment. We should write **copy** for, **design**, and **code** an on-pag

[2020-04-22 16:31] hoosteeno opened #8822 "Epic: Social Proof Blocks"
## Description

The CRO team added a social proof block to release notes pages and the pages that included social proofs saw more downloads. We should figure out how to make "Social Proof Blocks" a permanent part of the website, for inclusion in pages like Release Notes and elsewhere.

The first steps of this epic relate to specifying a system and program that will support this work. Building will

[2020-04-22 16:56] cgonz0 opened #8823 "Design: Mobile banner takeover"
## Description

Update/refresh experiment design according to updated /new design

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Design is ready for coding and attached to this card
- [ ] All approvals complete

#### Approvals
- [x] Brand
- [ ] Team Lead

[2020-04-22 17:50] stephaniehobson commented on #8773
@alexgibson can't we set the cloudflare redirect to include the v=a?  I could also switch to using no query variables for the control and just test against the b and c ones. The CRO team wants to run an experiment on /new as well though so I thought we could avoid a conflict by having two different pages to redirect to in cloud flare (but maybe cloud flare doesn't work that way?)

[2020-04-22 17:58] alexgibson commented on #8773
The Cloudflare redirector works by matching targets as opposed to destinations, so we would need to route the combined % of traffic needed for both experiments, and then you can manage distribution in Convert. How you configure that you’ll need to discuss.

Another issue with redirecting in Cloudflare to v=a is that group wouldn’t incur the same redirect that the other variations see, so it may no

[2020-04-22 18:15] Errolyn commented on #5703
Both of those issue are closed, I think this can be closed now? @alexgibson

[2020-04-22 18:23] alexgibson commented on #5703
@Errolyn the redesigned /features pages haven’t yet been implemented, so until those exist there are still download buttons on the site with poor contrast.

[2020-04-23 03:52] aman-earthian commented on #8310
hey @pascalchevrel @alexgibson, can i work on the issue.

[2020-04-23 03:55] aman-earthian commented on #6509
hey @stephaniehobson , so should the macros be changed or a dialogue box be added which shows up when someone hover on the macros.

[2020-04-23 14:27] pmac commented on #7723
I think we're done here! Please reopen if we discover we need something more.

[2020-04-23 14:27] #7723 closed

[2020-04-23 14:39] alexgibson opened #8826 "Document Fluent automation process"
## Description

We need to update our documentation to outline the automated workflows and processes for:

- Adding new .ftl content to bedrock.
- Migrating existing .lang content to Fluent.

The first item (adding new content) has PR automation for string extraction to the L10n team repo. The second item (migrating .lang content) is a mixture of automated scripts and then a manual PR.

We should

[2020-04-23 14:56] hoosteeno opened #8827 "Design: Global nav CTA should match page CTA on certain pages"
## Description

On some pages (e.g. [the Mobile page](https://www.mozilla.org/en-US/firefox/mobile/)), we hide the global navigation CTA because it competes with the primary on-page CTA.

On other pages (e.g. [the Lockwise page](https://www.mozilla.org/en-US/firefox/lockwise/)), we don't.

With the release of Sticky Navigation, neither of those seems optimal. What we really want is the page CTA to

[2020-04-23 15:06] hoosteeno commented on #8827
@kropp would you mind working on the list of pages where this behavior should occur? Our least-best option (but still feasible) will be to do this on a manually maintained list. Our most-best option will be to find some existing characteristic of pages where this behavior should occur that can be used sitewide to trigger this behavior.

[2020-04-23 15:11] kropp commented on #8827
I would love to help, but I don't get what are you talking about, sorry.

[2020-04-23 15:17] hoosteeno commented on #8827
Oh, I'm very sorry. I meant @justinkropp. Please forgive the random ping!

[2020-04-23 15:50] ejregithub commented on #8684
Brand has approved

[2020-04-23 15:51] ejregithub commented on #8684
@hoosteeno to talk to Porfirio about this for PMM perspective

[2020-04-23 16:12] #8826 closed

[2020-04-23 16:33] justinkropp commented on #8822
Pulling from our conversation in Slack, I do think it'd be great to have a canonical source of social proof points that we could pull into various places throughout the site: create once, publish everywhere.

This social proof block should be made into a component in protocol, which would give us the ability to quickly pull both the quote and the block together.

If the collection of social proof

[2020-04-23 16:49] justinkropp commented on #8827
@hoosteeno Happy to look into this. Agreed that with the sticky nav now giving us the option to show a primary CTA at all times during a user scrolling down a page, rethinking the above relationship on key pages is idea. I'll try to put together a starter list of pages where we need to focus on mitigating the competition between page CTAs (primarily those in the nav and hero section).

[2020-04-23 18:15] stephaniehobson commented on #8773
@alexgibson Okay I set the experiment to run on /new without any variables and added v=a as a variation which I have labeled control. I'll explain to the data scientist to use v=a as the control and not include /new in the analysis.

[2020-04-23 20:18] #8768 closed

[2020-04-23 20:18] ejregithub commented on #8800
- Note: Need to add new icons in Protocol, Eric to create a card there for that. this remains the card for the corresponding work on /bedrock

[2020-04-23 20:20] ejregithub opened #8829 "Code - Mobile banner takeover"
In #8821 we'll graduate a CRO experiment that puts a banner at the top of /new for mobile visitors to this page. #8823 has designs.

## success criteria ##

- [x] Use Bedrock's banner container if possible -- if not possible for some reason, make sure this content is wrapped in a [data-nosnippet](https://developers.google.com/search/reference/robots_meta_tag#data-nosnippet-attr)
- [x] new banner i

[2020-04-23 20:23] hoosteeno opened #8830 "Epic: WNP77"
This issue is an epic for building WNP77, which [must launch 2020-06-02](https://wiki.mozilla.org/Release_Management/Calendar).

Theme is PIP

[Releng bug](https://docs.google.com/document/d/1PqyDdyw-Ho5O-n2vQGUp0sy76hzIjPvnOnZCJ2ZPyKE/edit#)

[2020-04-23 20:26] ejregithub opened #8831 "Design - Monitor product landing page"

[2020-04-23 20:26] ejregithub opened #8832 "Copy - Monitor product landing page"

[2020-04-23 20:26] ejregithub opened #8833 "Code - Monitor product landing page"

[2020-04-23 20:30] hoosteeno commented on #8712
Duplicate: https://github.com/mozilla/bedrock/issues/8685

[2020-04-23 20:30] #8712 closed

[2020-04-23 20:30] ejregithub opened #8834 "Copy - WNP77"
Write copy for WNP77 about the Picture in Picture feature

[The (winning) copy](https://docs.google.com/document/d/1qsOpXefbBfkzWHn1G4p59wCGfXf_aNoRMnZ8oczWp1Y/edit?usp=sharing)

###Approvers
- [x] Brand - Natalie
- [x] Team Lead - Hoosteeno
- [x] Accountable - MWarther

[2020-04-23 20:30] ejregithub opened #8835 "Design - WNP77"
Design for WNP77 about the Picture in Picture feature

[The (winning) copy](https://docs.google.com/document/d/1qsOpXefbBfkzWHn1G4p59wCGfXf_aNoRMnZ8oczWp1Y/edit?usp=sharing)

###Approvers
- [x] Brand - Clio
- [x] Team Lead - Hoosteeno
- [x] Accountable - MWarther

[2020-04-23 20:31] ejregithub opened #8836 "Code - WNP77"

[2020-04-23 20:31] hoosteeno commented on #8710
Duplicate #8675

[2020-04-23 20:31] #8710 closed

[2020-04-23 20:49] ejregithub opened #8837 "Copy - Moments/Browser Welcome page (# 8)"

[2020-04-23 20:49] ejregithub opened #8838 "Design - Moments/Browser Welcome page (# 8)"

[2020-04-23 20:49] ejregithub opened #8839 "Code - Moments/Browser Welcome page (# 8)"

[2020-04-23 20:49] ejregithub opened #8840 "Moments/Browser Welcome page (# 8)"
## Description

The next Moments/Browser Welcome page (# 8)

We will take the content from WNP 76, insert all 4 areas into the welcome page template and will need to take a new intro/headline approach

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] It's live

#### Approvals
- [x] A - MWarther
- [x] TL - Hoosteeno
- [x] Brand/Design - Clio
- [x] Brand/Copy - Natalie

[2020-04-23 21:33] amychurchwell commented on #8773
This is now live! 🚀

[2020-04-24 08:48] alexgibson commented on #7460
This string is [in Fluent](https://github.com/mozilla/bedrock/blob/master/l10n/en/newsletter_form.ftl#L23), so we can't change this until we flip the switch in Pontoon.

[2020-04-24 09:59] alexgibson commented on #8006
Looks like we can detect ChromeOS with something like the following:

[code]

I'm loathsome to add more UA detection to our already complicated platform logic, but this may be the best thing we can do short-term, until we can work on reducing our reliance on these types of checks.

The bigger question to ask is, what should Chromebook users see? The easiest path to at least some sort of understand

[2020-04-24 19:58] hoosteeno opened #8843 "(Epic) Experiment : Test upstream CTR on www.firefox.com URLs"
## Description

This experiment proposes to test whether a page on www.firefox.com has more pull than a page on www.mozilla.org among upstream audiences (e.g. search engine users and social users).

In order to test that, we'll stand up two identical campaign pages, both of which can be straight copies of /new. One of the pages will live at a campaign URL on www.mozilla.org (e.g. www.mozilla.org/c

[2020-04-24 19:59] hoosteeno opened #8844 "Experiment plan: Test upstream CTR on www.firefox.com URLs"
In https://github.com/mozilla/bedrock/issues/8843 we'll test whether upstream effects depend on the URL of the site downstream. We need an experiment plan for this.

##Success Criteria

- [ ] Plan is built and attached to this issue

[2020-04-24 20:02] hoosteeno commented on #8844
@sghoseWI can you take a look at this and work with Raphael or me to build the plan?

[2020-04-24 20:03] hoosteeno commented on #8843
@pmac Could you give this issue a look and let us know the best way to accomplish the *.firefox.com work proposed? Thanks!

[2020-04-24 20:32] amychurchwell commented on #8602
This is now live - https://github.com/mozilla/bedrock/pull/8791

[2020-04-24 20:32] #8602 closed

[2020-04-24 21:10] pmac commented on #8843
IT currently hosts www.firefox.com. We're discussing options with them now. I'll get back to you next week when we have a chance to figure some things out.

[2020-04-25 00:35] pmac opened #8845 "Update legal-docs"
See https://github.com/mozilla/legal-docs/issues/1428

[2020-04-27 08:55] alexgibson opened #8846 "Lint .ftl files in pull requests"
## Description

We have a couple of commands to help lint .ftl files, which will pick out things such as duplicate IDs or other errors.

[code]

So far I've been running this manually when doing migrations, but it's easy to forget. We should have this running in CI against pull requests, and have checks fail if anything is caught.

[2020-04-27 09:49] alexgibson commented on #8619
@hoosteeno for older privacy policies we usually archive them: https://www.mozilla.org/en-US/privacy/archive/

Should that not be the case here?

[2020-04-27 09:53] alexgibson commented on #7050
This should be fixed by https://github.com/mozilla/bedrock/issues/8328

[2020-04-27 10:06] alexgibson commented on #8620
This should be fixed as part of #8675

[2020-04-27 12:24] alexgibson opened #8848 "Remove mozilla-fxa-form.scss"
## Description
There are several Protocol pages using `css/base/mozilla-fxa-form.scss`, which is a file built using Pebbles. Those pages should be using `protocol/components/_fxa-form.scss` instead.

[2020-04-27 13:37] #8845 closed

[2020-04-27 14:18] #8846 closed

[2020-04-27 16:16] amychurchwell opened #8853 "Windows 10 Chrome post-download experiment."
## Description

![image](https://user-images.githubusercontent.com/30483988/80395084-96b9f600-8867-11ea-88a4-b819569f07cd.png)

Titled "/new chrome windows 10 post-download install instructions" in convert.

airtable card: https://airtable.com/tblO5zD4uNk7ISyG0/viwIUJsHKDrOFl90B/recUZVMgB8JzM3Zml

---

#### Test Plan

test Plan: https://docs.google.com/document/d/1O2e7_7aAOm982G291LJi8avydXNAkr_qj

[2020-04-28 08:25] alexgibson commented on #8511
@hoosteeno we're ready to go here code-wise. Any opinions on when we should merge this? Once we do, no new strings could be added to the page until Fluent is activated in Pontoon (really we should be resisting adding new strings anyway seeing as we're so close).

[2020-04-28 08:25] alexgibson commented on #8510
@hoosteeno we're ready to go here code-wise. Any opinions on when we should merge this? Once we do, no new strings could be added to the page until Fluent is activated in Pontoon (really we should be resisting adding new strings anyway seeing as we're so close).

[2020-04-28 08:51] #8298 closed

[2020-04-28 09:03] alexgibson commented on #8853
The experiment code has the following custom JS:

[code]

The `data-direct-link="https://download.mozilla.org/?product=firefox-latest-ssl&amp;os=osx&amp;lang=en-US"` part is pointing to the OSX version of the download.

I'd suggest either changing this to the Windows version (seeing as this experiment targets Windows only), or alternatively writing some JS to only append the parameter to the URL,

[2020-04-28 12:38] alexgibson commented on #8513
@rraue does this look correct to you? https://www-demo5.allizom.org/en-US/

[2020-04-28 13:12] #8773 closed

[2020-04-28 13:16] rraue commented on #8513
Yes it does exactly what it should 👍

[2020-04-28 13:25] alexgibson commented on #7877
I think we have this wrapped up - automation is done, and migration docs exist: https://bedrock.readthedocs.io/en/latest/fluent-conversion.html

[2020-04-28 13:25] #7877 closed

[2020-04-28 15:49] #8581 closed

[2020-04-28 15:53] #8713 closed

[2020-04-28 21:17] amychurchwell commented on #8853
@alexgibson I updated to:
`
convert._$('LI.os_win > A.download-link.button.button-green.mzp-c-button.mzp-t-product').replaceWith('<a class="download-link button button-green mzp-c-button mzp-t-product" href="/firefox/download/thanks/?v=b" data-direct-link="https://download.mozilla.org/?product=firefox-stub&amp;os=win&amp;lang=en-US" data-link-type="download" data-display-name="Windows 32-bit" data

[2020-04-28 21:18] amychurchwell commented on #8853
note of relevance: hoping to launch this one on Thursday, when the brand nav experiment on /new concludes.

[2020-04-29 02:11] hoosteeno commented on #8511
The "switch" to Fluent will happen 2020-05-22. I don't think we have many likely string changes on most of the pages in our first migration, so we could theoretically merge any time. But what if the "switch" isn't flipped for some reason -- what happens to content we've migrated?

If reverting to .lang is not hard, then we can merge at our leisure. But it seems safer to me to merge on/around 5/22.

[2020-04-29 02:12] hoosteeno commented on #8510
The "switch" to Fluent will happen 2020-05-22. I don't think we have many likely string changes on most of the pages in our first migration, so we could theoretically merge any time. But what if the "switch" isn't flipped for some reason -- what happens to content we've migrated?

If reverting to .lang is not hard, then we can merge at our leisure. But it seems safer to me to merge on/around 5/22.

[2020-04-29 02:13] hoosteeno commented on #8619
We can EOL this content. It can be a 404.

[2020-04-29 02:19] hoosteeno commented on #8006
@alexgibson It sounds like that's the best choice to me. I'd like to ask PMMs for a suggestion here. Will come back.

[2020-04-29 02:30] hoosteeno commented on #8684
I pinged Porfirio and asked for his reply within the week.

[2020-04-29 02:31] hoosteeno commented on #8374
The SUMO page launched with the copy we wanted there.

[2020-04-29 02:33] hoosteeno commented on #7527
I don't think we need to do this, in particular because we will only have one localization approach for the foreseeable future.

[2020-04-29 02:33] #7527 closed

[2020-04-29 02:42] hoosteeno commented on #7270
Adding this to backlog. Let me know if we need a conversation with FxA/metrics team to identify a solution.

[2020-04-29 08:28] alexgibson commented on #8511
Ok, let's merge this 5/22 👍

[2020-04-29 08:28] alexgibson commented on #8510
Ok, let's merge this 5/22 👍

[2020-04-29 09:10] alexgibson commented on #8853
I re-enabled the test on staging and was able to enter the experiment using Chrome on Windows 10, and I saw the /thanks/ variation as expected. Things look good 👍

I also tried the experiment on some other Chromium based browsers that masquerade as Chrome.

- Brave blocks Convert as a tracker so we're OK there (as far as this experiment goes at least), but otherwise I believe those users would sti

[2020-04-29 09:15] #8795 closed

[2020-04-29 12:19] rraue commented on #8739
@alexgibson  and I reviewed our pages and decided to only put the data-nosnippet in two places. The rationale behind is, that search engines are pretty good in figuring out what's a navigation and a footer and html mistakes especially in the nav can cause all content to be ruled out of snippets. So we decided to add the data-nosnippet only to the parts that can cause very mixed or wrong messaging

[2020-04-29 12:39] alexgibson opened #8860 "[Epic] Make a simplified version of the download button"
## Description

The current download button helper is versatile in the way that it supports multiple products (release, beta, nightly etc) and can also have the option to download directly (vs link to `/download/thanks/`). A large proporation of use-cases on the website exist to just serve the main Firefox release verson however, and all link directly to the `/download/thanks/` page.

For those us

[2020-04-29 15:42] pmac commented on #8860
Love it. Concentrating the complexity on the `/thanks/` page makes a lot of things easier to reason about, and potentially offer a better UX.

[2020-04-29 19:00] ejregithub commented on #8739
@alexgibson if #8860 is a duplicate to the code card #8798 (originally created under the epic #8797) can you please close the appropriate dupe?

[2020-04-29 19:11] pmac opened #8862 "Remove locale redirects"
Currently the server will intercept requests to pages without a locale in the URL, figure out the best translation of the page based on available translations and the user's `Accept-Language` header, and redirect them to the best translation. This has negative effects on SEO in that crawlers don't like it as much and it makes the time from initial request to showing content longer. It also means f

[2020-04-30 07:53] alexgibson commented on #8798
Closing as a duplicate of 8#739

[2020-04-30 07:53] #8798 closed

[2020-04-30 07:53] alexgibson commented on #8739
Thanks Eric, I think we can just use this issue to track what needs doing. Closed #8798

[2020-04-30 07:54] alexgibson commented on #8739
Ok, I'm going to pick this up seeing as it's a high priority and seems ready to me.

[2020-04-30 12:20] alexgibson commented on #8739
@rraue can you please help review on demo? Thanks!

- https://www-demo5.allizom.org/en-US/
- https://www-demo5.allizom.org/en-US/firefox/new/

[2020-04-30 15:16] hoosteeno commented on #8006
@alexgibson the product team is evaluating this. Let's hold.

[2020-04-30 16:45] rraue commented on #8862
So just to make sure I completely understand your suggestion: We would not have /en-US/xxx anymore but all that content would be redirected to /xxx, right?

Would the translation bar appear always on top of every page or just if the user is redirected to /xxx?

We should test this for UX and conversions. Another way to tackle this would be duplicating /en-US/xxx content on /xxx with an additional

[2020-04-30 16:52] pmac commented on #8862
Right

The translation bar looks at `navigator.languages` to see if the current translation is one of the user's preferred languages. If the page is available in another translation we have the bar will pop up in the language we think they prefer and offer to take them to the translated version. See #6857 for more info on the bar.

That's fine with me. I was just figuring that having the same cont

[2020-04-30 17:10] rraue commented on #8862
I will have to think about it whats the "best" for SEO, as both have possible pros and cons, but none seems like a blocker to me.

[2020-04-30 18:01] ziegeer commented on #8843
@hoosteeno we're looking at hosting options for this. What requirements would you have aside from hosting a single static page on www.firefox.com and also serving the existing www.firefox.com redirects?  Would you also want the page on firefox.com?  Do you need webserver logs or other types of analytics?

[2020-04-30 18:03] amychurchwell commented on #8853
This experiment has been launched!

[2020-04-30 18:19] #8739 closed

[2020-04-30 22:01] pmac commented on #6857
The `tabzilla.lang` files will need to be restored when we do this. They were removed in:

https://github.com/mozilla-l10n/bedrock-l10n/commit/5a03cc088ec83f328e5c36bab5d63896821357ab

Or the translations will need to be migrated to Fluent.

[2020-05-01 08:56] #8797 closed

[2020-05-01 09:21] alexgibson commented on #8709
Looks like all dependent issues are closed here

[2020-05-01 09:21] #8709 closed

[2020-05-01 10:07] alexgibson opened #8867 "Duplicate IDs on /firefox/mobile/ page"
## Description

Picked up on our daily [Lighthouse report](https://www.webpagetest.org/lighthouse.php?test=200430_P5_a13fd226d5d0f508a9005a30438fd226): there are multiple elements on the /firefox/mobile/ page that share the same ID, which can be an issue for a11y and also introduce potential bugs in functionality.

### Steps to reproduce

1.) Visit https://www.mozilla.org/en-US/firefox/mobile/ and

[2020-05-01 12:05] alexgibson opened #8868 "Remove pebbles base templates and assets"
## Description

Once the following issues are resolved, we should be unblocked on removing the Pebbles framework dependencies and related assets:

- https://github.com/mozilla/bedrock/issues/8375
- https://github.com/mozilla/bedrock/issues/8686

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] All Pebbles related code is removed from bedrock.

#### Tasks
- [ ] Remove Pebbles scss lib

[2020-05-01 13:02] alexgibson commented on #7270
I'm assuming the FxA team do not plan on supporting IE browsers. We should verify that, and if correct, then we need to come up with some alternate call to action for users on legacy IE browsers (perhaps a download firefox button?)

[2020-05-01 13:05] alexgibson commented on #7270
An different course of action (rather than mozorg patching these holes from multiple entry points), could be for the FxA team to have some kind of fallback message at accounts.firefox.com for unsupported browsers. This could be a more robust and scalable solution, but I guess it depends on if this is a priority for that team.

[2020-05-01 14:18] alexgibson commented on #8636
Fixed in https://github.com/mozilla/bedrock/pull/8777

[2020-05-01 14:18] #8636 closed

[2020-05-01 14:19] alexgibson commented on #6617
Fixed in https://github.com/mozilla/bedrock/pull/8777

[2020-05-01 14:19] #6617 closed

[2020-05-01 15:36] craigcook commented on #7270
Related: https://github.com/mozilla/fxa/issues/1368

[2020-05-01 16:34] hoosteeno commented on #7270
I agree that downstream is the place to handle this issue, and think we should close this card in favor of that one.

[2020-05-01 17:20] stephaniehobson commented on #6509
This issue probably needs a UX designer to weigh in so I don't think it's ready to be worked on.

[2020-05-01 21:41] ejregithub opened #8870 "Add H2 2019 Transparency Report"
Update the Transparency report for H2/2019

#### Success Criteria
- [x] The new report page for "July-December 2019 Report" is created with [this content](https://docs.google.com/document/d/1v7BYEA0A8N0qNlDGgm4mkscztHPf67iF7KGsWFhlmyQ/edit?usp=sharing) and assigned to:  https://www.mozilla.org/about/policy/transparency/jul-dec-2019/
- [x] The link to the new report is updated on the main landing p

[2020-05-04 08:12] alexgibson commented on #8827
A note that whilst we can do the design / UX work here, the coding part is likely blocked by activating Fluent, as it will imply adding new strings to `navigation.ftl`.

[2020-05-04 14:40] ejregithub opened #8874 "New Feature page for PIP"
## Description

A feature page for the PIP feature available in Fx starting in the 71 release.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an example of a success criteria.

#### :Approver
- [ ] This is an example of a risk. Use a checklist!
- [ ] This is an example of a risk.

[2020-05-04 14:53] ejregithub commented on #8006
Blocking based on feedback required from Product (flatpack as a possible means to ID browser)

[2020-05-04 14:57] ejregithub commented on #8843
@alexgibson to add info about how this will be tested

[2020-05-04 14:58] ejregithub commented on #7270
Closing per @hoosteeno's last comment

[2020-05-04 14:58] #7270 closed

[2020-05-04 15:00] hoosteeno commented on #8811
@ejregithub Can you add a link to the doc where we captured our copy suggestions?

@rantley Can you update with status on this? How long until we have copy to code? We need to understand timing because our Fluent l10n system is coming online in 2 weeks.

[2020-05-04 15:07] ejregithub commented on #8398
@hoosteeno que pasa aqui?

[2020-05-04 15:08] alexgibson commented on #7274
Closing as a duplicate of #7270

[2020-05-04 15:08] #7274 closed

[2020-05-04 15:31] alexgibson opened #8875 "Duplicate Firefox string on /welcome/6/ modal title"
## Description

The word Firefox is called out twice in the modal on /welcome page 6. Should the first instance be a logo instead?

![image](https://user-images.githubusercontent.com/400117/80983315-57217a00-8e24-11ea-8f27-cbdf917a0f5c.png)

### Steps to reproduce

1. Using Firefox (set as the default browser), visit https://www.mozilla.org/en-US/firefox/welcome/6/
2. Click "Get the Firefox App"

[2020-05-04 15:33] craigcook opened #8876 "Update Protocol to implement brand themes"
## Description
Theming in Protocol should finally be arriving soonish (https://github.com/mozilla/protocol/issues/447). Once that feature has landed upstream in Protocol there will be some custom follow-up work to implement themes in Bedrock.

Mozilla.org is an atypical (possibly unique) consumer of Protocol in that it's one website with a common codebase that displays pages in both brand themes;

[2020-05-04 15:34] craigcook commented on #8876
Currently blocked by theming shipping in Protocol: https://github.com/mozilla/protocol/issues/447

[2020-05-04 15:39] ejregithub commented on #8811
@hoosteeno - here's that doc (added in the description to this card as well)
https://docs.google.com/document/d/1bOQV23eZDI7AFaRISv9w-fEH3ZPG8KDKk10dLN-QTiI/edit

[2020-05-04 16:28] #8675 closed

[2020-05-04 21:33] aannaassalam commented on #8875
May I get a link to that Firefix logo and another link to css and html file to make changes in...

[2020-05-04 21:36] aannaassalam commented on #8875
I think your bug is solved as in [this link](https://www.mozilla.org/en-US/firefox/mobile/) there is a Logo on top of the Get Firefox for mobile and its looking pretty awesome

[2020-05-04 22:25] amychurchwell opened #8880 "Add /firefox/enterprise/ to exp templates"
## Description
Add /firefox/enterprise to experiment sandbox templates.

[Creating exp templates docs](https://bedrock.readthedocs.io/en/latest/abtest.html#creating-experimental-pages)

[2020-05-05 00:00] cgonz0 commented on #8839
design - all good √

[2020-05-05 09:57] alexgibson opened #8882 "/exp/ homepage throws an error for some locales"
## Description

For locales other than `en-US`, `de`, and `fr`, the /exp/ homepage throws an error:

[code]

### Steps to reproduce

Visit https://www.mozilla.org/ru/exp/

### Expected result

The page isn't available in that language, so it should redirect to `en-US`.

### Actual result

What happened.

The page throws a 500 error

What browser and operating system are you using?

N/A

[2020-05-05 12:55] alexgibson commented on #7388
This has been inactive for some time, so I'm going to take ownership and see if we can get tests for these pages done.

[2020-05-05 14:34] shadowoflight commented on #8867
Hi, How can i start working in this project

[2020-05-05 14:53] swarnava opened #8886 "Ensure Firefox release notes are discoverable easily for India and potentially other countries"
As a Firefox Beta user, I would like to know more about the upcoming changes that are coming in beta release. However, since I am from India, I am getting this link https://www.mozilla.org/en-US/firefox/77.0a2/whatsnew/india/ and there is no way to find out the release notes.

![image](https://user-images.githubusercontent.com/1162991/81080096-fd957a00-8f0d-11ea-9e72-de2111e935a8.png)

### Expecte

[2020-05-05 16:15] #8853 closed

[2020-05-05 16:16] #8676 closed

[2020-05-05 18:43] rantley commented on #8808
https://docs.google.com/document/d/15VNxftShaqYxUHowKbvZI70lnN2t8vwqmMoEfns3ptc/edit?usp=sharing

[2020-05-05 18:44] rantley commented on #8614
https://docs.google.com/document/d/1Hy8BHIyCEmyyhJ6V71Y-vyh1_V0vWCkR13-7_5Hbd4s/edit?usp=sharing

DRAFT

[2020-05-05 19:24] rantley commented on #8805
https://docs.google.com/document/d/1waoo2Uh7Ap90YzFq36qHs7pAdf-uLS8_JPO3CVAGoF4/edit?usp=sharing

[2020-05-05 19:26] rantley commented on #8814
https://docs.google.com/document/d/1usQPe_GgGcHfvL74UrtwB9de3qTw497Bj873Q6oga9Y/edit

[2020-05-05 19:26] rantley commented on #8815
https://docs.google.com/document/d/1bS5DkZCSnpCIR7l04eJdjJUYzUQ0k6WM6pDOyW0oB8Y/edit

[2020-05-05 19:27] rantley commented on #8813
https://docs.google.com/document/d/1coOQ8fR3WWl9jgSradm00PGcnLedAViV-_xIWSJaPH4/edit

[2020-05-05 19:27] rantley commented on #8812
https://docs.google.com/document/d/1JSK-Z1WXeqRRwLdDVqi6L6YJX8eQCO07b3W2jCNDmbk/edit?usp=sharing

[2020-05-05 20:13] #8882 closed

[2020-05-05 20:35] #8746 closed

[2020-05-06 00:13] #8513 closed

[2020-05-06 00:15] #8690 closed

[2020-05-06 00:24] #8619 closed

[2020-05-06 11:55] #8620 closed

[2020-05-06 12:00] alexgibson opened #8890 "Functional test for legacy /firstrun page"
## Description

The legacy [/firstrun page](https://www.mozilla.org/en-US/firefox/firstrun/) shown to old Firefoxen should have some form of basic test coverage.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Add functional test for FxA form on the page.

[2020-05-06 15:40] hoosteeno opened #8891 "GA still firing on some /privacy/firefox/ pages."
## Description

We removed GA from Firefox Privacy notice in https://github.com/mozilla/bedrock/pull/7621. GA is still present on some /privacy/firefox/ pages in certain locales. Are they loading a different template?

### Steps to reproduce

view-source:https://www.mozilla.org/hu/privacy/firefox/
view-source:https://www.mozilla.org/el/privacy/firefox/
view-source:https://www.mozilla.org/ro/privac

[2020-05-06 18:08] #7388 closed

[2020-05-06 18:37] #8588 closed

[2020-05-06 20:58] cgonz0 commented on #8838
![8.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/57354f6a-93c8-4093-b9e7-6f6c07c0928e)

[2020-05-06 20:59] #8838 closed

[2020-05-06 21:00] cgonz0 commented on #8823
this design is moving over to NA Brand team -- it will be implemented within the new /new page redesign.

[2020-05-07 15:06] #8891 closed

[2020-05-07 16:42] hoosteeno commented on #8823
@cgonz0 @dzingeek Can we find a near-term solution to this that enables us to start capturing some of the benefits of this CRO optimization while the overall /new redesign is underway?

[2020-05-07 17:00] pmac opened #8895 "Remove /country-code.json and use MLS for our geo needs"
The Mozilla Location Services (MLS) team will get us an API key to use. This was originally implemented in #3819, and then replaced with `/country-code.json` in #4915.

[2020-05-07 19:55] amychurchwell opened #8897 "Remove Windows 10 Chrome /thanks variant."
## Description

This experiment has concluded & this code can be removed.
- https://github.com/mozilla/bedrock/pull/8794
- [CRO team airtable card](https://airtable.com/tblO5zD4uNk7ISyG0/viwIUJsHKDrOFl90B/recUZVMgB8JzM3Zml)

[2020-05-07 23:38] #8631 closed

[2020-05-08 20:20] amychurchwell opened #8899 "Send to device widget modal vs. inline on /mobile"
## Description

Experiment to test the performance of the send to device widget inside and outside a modal.

[airtable card](https://airtable.com/tblO5zD4uNk7ISyG0/viwIUJsHKDrOFl90B/recLAOy3BzpxoT23M)

---

#### Test Plan

https://docs.google.com/document/d/11gW52DzdIH_Sw8RnMO7RIKNH14s3r2cIZNfoxXyPxrU/edit?usp=sharing

[2020-05-08 22:41] amychurchwell commented on #8867
Hi @shadowoflight, you are welcome to start working on this issue.

Here is a link to our docs on how to get started developing on bedrock: https://bedrock.readthedocs.io/en/latest/install.html

I'm not sure what your experience level is, but here are some github docs about pull requests: https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-f

[2020-05-09 05:22] ishantd commented on #8867
Greetings.
Can I start working on it?

[2020-05-09 08:41] ishantd commented on #8501
Hi sorry for making a pull request before mentioning it here.
If it's okay, please review it. Thanks.

[2020-05-09 22:26] wigzen commented on #8867
sir how can i communicate with i am new in git this is my first fork

[2020-05-11 09:11] #8839 closed

[2020-05-11 09:24] #8867 closed

[2020-05-11 09:27] #8897 closed

[2020-05-11 13:28] alexgibson commented on #8870
Pull request opened against the private repo here: https://github.com/mozilla/bedrock-private/pull/85

[2020-05-11 14:44] alexgibson commented on #8375
@hoosteeno any updates on this one yet?

[2020-05-11 15:21] alexgibson commented on #8870
This is now up on demo for stakeholder review: https://www-demo2.allizom.org/en-US/about/policy/transparency/jul-dec-2019/

[2020-05-11 17:46] #6994 closed

[2020-05-11 20:28] hoosteeno commented on #8375
@alexgibson we can proceed with the plan:

Let's make sure to redirect to the non-localized URL and let their content negotiation figure it out. Is it possible to retain params when we redirect? I think that would help OMN team and Foundation team assess the change.

[2020-05-11 20:33] hoosteeno opened #8905 "Newsletter form fields appear higher in z-space than sticky nav"
## Description

The form fields for newsletter signups appear on top of sticky navigation, while the rest of page body content appears behind sticky navigation:

![Screen Shot 2020-05-11 at 2 31 39 PM](https://user-images.githubusercontent.com/94519/81608934-4462f400-9394-11ea-9d38-59d76dc585f4.png)

### Steps to reproduce

Visit https://www.mozilla.org/en-US/newsletter/. Scroll all the way down.

[2020-05-11 20:35] alexgibson commented on #8905
@hoosteeno i think this may be caused by your add-on, see https://github.com/mozilla/fx-private-relay/issues/245

[2020-05-11 20:37] hoosteeno commented on #8905
Yep! Thanks. INVALID.

[2020-05-11 20:37] #8905 closed

[2020-05-11 20:49] #8837 closed

[2020-05-12 03:02] ejregithub opened #8906 "Review Main browser comparison page for updaates"
Review the page for updates in content (copy & comparison tables), then make changes as required.

###Success Criteria
- [ ] Copy is updated with latest release information
- [ ] Comparison tables reflect latest release information

###Approvals
- [x] Brand - Natalie
- [ ] Brand - Clio
- [ ] SEO - Raphael
- [ ] Team Lead - Hoosteeno
- [ ] Accountable - Eddie

[2020-05-12 03:07] #8834 closed

[2020-05-12 08:14] alexgibson commented on #8740
Fixed in https://github.com/mozilla/bedrock/pull/8896

[2020-05-12 08:14] #8740 closed

[2020-05-12 08:14] alexgibson commented on #8727
Fixed in https://github.com/mozilla/bedrock/pull/8896

[2020-05-12 08:14] #8727 closed

[2020-05-12 08:15] alexgibson commented on #8726
Fixed in https://github.com/mozilla/bedrock/pull/8896

[2020-05-12 08:15] #8726 closed

[2020-05-12 08:15] alexgibson commented on #8725
Fixed in https://github.com/mozilla/bedrock/pull/8896

[2020-05-12 08:15] #8725 closed

[2020-05-12 08:15] alexgibson commented on #8724
Fixed in https://github.com/mozilla/bedrock/pull/8896

[2020-05-12 08:15] #8724 closed

[2020-05-12 08:15] alexgibson commented on #8723
Fixed in https://github.com/mozilla/bedrock/pull/8896

[2020-05-12 08:15] #8723 closed

[2020-05-12 08:16] alexgibson commented on #8721
Fixed in https://github.com/mozilla/bedrock/pull/8896

[2020-05-12 08:16] #8721 closed

[2020-05-12 08:16] alexgibson commented on #8720
Fixed in https://github.com/mozilla/bedrock/pull/8896

[2020-05-12 08:16] #8720 closed

[2020-05-12 08:16] alexgibson commented on #8719
Fixed in https://github.com/mozilla/bedrock/pull/8896

[2020-05-12 08:16] #8719 closed

[2020-05-12 09:42] alexgibson opened #8908 "Fluent migration plan"
## Description

Once Fluent is activated in Pontoon, and the old .lang system is frozen, we need a migration plan for porting over existing translated content to the new .ftl format.

A rough system of prioritization might work as such:

- Content that supports Mozilla's main products and services should be given a high priority.
- Content that is evergreen and has a medium to high update frequenc

[2020-05-12 14:10] alexgibson commented on #8908
@hoosteeno here's my first pass at a proposed migration plan for .lang content, assigning content either P1, P2, P3 or WONTFIX. Let me know if you have any questions around this, or would like to discuss and aspects further. I would welcome your input / suggestions.

Once we feel comfortable with what is here then we can work out a timeline.

https://docs.google.com/spreadsheets/d/15CpjxR7z2OLbXl8

[2020-05-12 15:49] ejregithub opened #8909 "WNP77: Extract strings for l10n"
Strings are final, we can extract the strings.

[2020-05-12 16:38] hoosteeno opened #8910 "Add attribution to full installer downloads"
## Description

Work is underway to add attribution telemetry to full installers. Bedrock needs to be modified to send attribution parameters on full installer downloads. This work requires some conversation about any rollout constraints (does Bedrock need to come first? last? do we need staging for QA?), and may (unlikely) require additional parameters. Meanwhile, it can get started, but *do not

[2020-05-12 16:40] hoosteeno commented on #8910
Here's a search that can find all the full installer download locations, in case they need to be changed:

https://github.com/mozilla/bedrock/search?q=force_full_installer%3DTrue&unscoped_q=force_full_installer%3DTrue

[2020-05-12 17:56] cgonz0 commented on #8835
[wnp77-PiP_assets.zip](https://app.zenhub.com/files/1616665/f6930add-6fec-468a-b350-3e2053e16ba8/download)

![wnp77 PiP.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/74beb789-d237-4444-ae22-bc4225c2351f)

[2020-05-12 19:14] cgonz0 commented on #8823
back on the websites team - i'll tackle the interim design.

[2020-05-12 19:19] ejregithub commented on #8835
@craigcook - see assets above ^

[2020-05-12 19:21] #8687 closed

[2020-05-12 23:34] BenWilson-Mozilla opened #8911 "Add Table of Contents to Mozilla Root Store Policy"
It would be really helpful for navigating if there were a table of contents at the top of the Mozilla Root Store Policy page - https://www.mozilla.org/en-US/about/governance/policies/security-group/certs/policy/ .  There are already anchors for all of the sections, so hopefully it won't be too much trouble.
Thanks.

[2020-05-12 23:41] stephaniehobson opened #8912 "Capitalization tweak on FR homepage"
According to our style guide, in French, lower case web is for when web is an adjective, upper case Web is for when Web is a noun. So:

"Découvrez le web du futur" should say "Découvrez le Web du futur".

("Technologies web open source" is correct.)

[2020-05-13 01:11] #8912 closed

[2020-05-13 07:55] alexgibson commented on #8908
Going to close this as we have an initial spreadsheet to work from above. @hoosteeno is going to liase with the brand team and feed in their prioritization needs.

[2020-05-13 07:55] #8908 closed

[2020-05-13 08:14] alexgibson opened #8915 "[20 May] Run a last string migration for /new, /all, and /thanks"
## Description

On 20th May we want to run a last string migration for both of these PRs before they merge:

- https://github.com/mozilla/bedrock/pull/8803
- https://github.com/mozilla/bedrock/pull/8785

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Most recent translations are migrated and merged into the L10n team repo.

[2020-05-13 08:21] alexgibson opened #8916 "[26 May] Port new installer-help template to Fluent"
## Description

The new installer-help page added in https://github.com/mozilla/bedrock/pull/8791 has not yet been exposed for string translation in .lang.

As such, we'd like to graduate this to be translated using Fluent instead - with an aim to have a PR ready to merge on 26th May (shortly after the new system goes live). This will be a good real world test before we tackle WNP78.

This is a go

[2020-05-13 08:37] alexgibson opened #8917 "[cro] Implement a way for functional tests to be excluded from experiments"
## Description

I'm not sure what a solution looks like right now, but filing this issue as it's been in the back of my head for too long. When we implement traffic cop experiments, such as in https://github.com/mozilla/bedrock/pull/8901, we often have to skip functional tests for a page because the experiment alters the expected functionality. This is more work for the developer, and also loses u

[2020-05-13 11:44] wigzen commented on #8310
@pascalchevrel sir i can fix this bug please  assign me this bug this is my first contribution

[2020-05-13 11:47] wigzen commented on #8310
my idea is replace logo  i already have logo with SVG format with high Quality resolution 300dpi

[2020-05-13 11:53] alexgibson commented on #8310
Contributions are always welcome. As per the comments above, there's no need to source or add a new logo here as we already have assets as a dependency in the repo. Changing the filenames to one of the options in [this comment](https://github.com/mozilla/bedrock/issues/8310#issuecomment-565974764) should work ok.

[2020-05-13 11:56] alexgibson commented on #8310
Actually, since this issue was filed it looks like both pages have since been redesigned / ported to Protocol. The logos don't look blurry when testing here, but feel free to re-open this issue if someone can still reproduce. Thanks

[2020-05-13 11:56] #8310 closed

[2020-05-13 12:47] alexgibson commented on #8910
@hoosteeno is there an associated bug in bugzilla for more context here?

[2020-05-13 13:38] pmac commented on #8917
Or can we disable TC during a test run by having the test run use a URL param that TC can look for and disable itself? e.g. `?tc=ignore`

[2020-05-13 13:39] pmac commented on #8917
Oh. I think I just said the same thing you did. I misread the first time :) Sounds good. 👍

[2020-05-13 15:07] tublitzed commented on #8910
the issue to include within the installer is [here](https://bugzilla.mozilla.org/show_bug.cgi?id=1316136).

overarching plan for context is [here](https://docs.google.com/document/d/13lAPjcnBJvazy1NwwSe4oLCTuN114UlhM0P9lV1h7CY/edit?ts=5e85b34d#)

[2020-05-13 15:11] pmac opened #8919 "Remove the x-robots-tag header"
Bedrock currently sends the following header with responses: `x-robots-tag: noodp`. This header is still supported, but the `noodp` value is mostly not it seems. [Google's docs](https://developers.google.com/search/reference/robots_meta_tag) don't mention it at all, and this page [suggests that no other engines really support it](https://yoast.com/robots-meta-tags/) either.

[2020-05-13 15:11] pmac commented on #8919
Do you have thoughts on this @rraue ?

[2020-05-13 15:13] rraue commented on #8919
Lets remove it, odp is dead since 2017.

[2020-05-13 15:19] pmac commented on #8919
Will do. Thanks!

[2020-05-13 15:44] metadave commented on #8843
just a quick note: MozMEAO is in the process of migrating www.firefox.com to our own infra: https://github.com/mozmeao/infra/milestone/46

[2020-05-13 16:15] #8328 closed

[2020-05-13 16:47] #8919 closed

[2020-05-13 19:12] #8848 closed

[2020-05-13 21:11] craigcook commented on #8836
On demo: https://www-demo3.allizom.org/firefox/77.0/whatsnew/all/

[2020-05-13 22:15] #8604 closed

[2020-05-13 22:18] #8890 closed

[2020-05-13 22:23] cgonz0 commented on #8836
thanks @craigcook

can we reduce the video size to 500px width?

also noticed a little issue with the middle icon - something going on with the leaf rendering...
i exported a modified version that will hopefully be a fix.

and i changed some of the colors of the other icons - so here's a new set:
[wnp-PiP_assets_update.zip](https://github.com/mozilla/bedrock/files/4625028/wnp-PiP_assets_update.zip

[2020-05-13 22:36] #8589 closed

[2020-05-14 09:17] alexgibson opened #8922 "Remove unused integration-test code"
## Description

It seems like there are some leftover pieces of code from when we used to trigger integration test runs using Jenkins. These can likely be removed now that everything lives over in https://github.com/mozmeao/www-config

Examples (there may be more):

- https://github.com/mozilla/bedrock/blob/master/docker/bin/run_integration_tests.sh
- https://github.com/mozilla/bedrock/blob/master

[2020-05-14 15:57] hoosteeno commented on #8827
@justinkropp  can you update us on this?

[2020-05-14 16:28] craigcook opened #8923 "Update "leadership" image on the /about page"
The main "about" page has a picture of Chris Beard, who is no longer at Mozilla. We should replace that with a picture of Mitchell (or maybe even something else). I expect we'll need to work with comms for an approved image.

[2020-05-14 16:50] justinkropp commented on #8827
@hoosteeno I've been using [this spreadsheet](https://docs.google.com/spreadsheets/d/1h85nJEfg6qWn6WcLgSqjj8zC7IZiYVreyappa3pBo2o/edit?usp=sharing) to document pages where the CTAs in the primary navigation and hero sections are in opposition. It's rough. I am hoping to wrap up next week.

[2020-05-14 18:37] #8835 closed

[2020-05-14 18:43] cgonz0 commented on #8823
[sketch file (specs)](https://share.goabstract.com/edea5927-fae8-4725-85ab-0beccc1fae5b?sha=031380631052797b26cf22bfc1f1b8ae87b93649)

background:
[NoodleBg.svg](https://app.zenhub.com/files/1616665/85f5ea2f-0a04-4b6c-a79b-04fe4808c69d/download)

![Slice.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/4aeb800e-1697-4322-833f-79c9b73cbabc)

[2020-05-14 22:41] craigcook commented on #8909
Strings PR: https://github.com/mozilla-l10n/www.mozilla.org/pull/394

[2020-05-14 23:48] craigcook commented on #8909
Done in https://github.com/mozilla-l10n/www.mozilla.org/commit/16956a2ad2d14bd6ec688517670b2a8ff56f0d11

[2020-05-14 23:48] #8909 closed

[2020-05-15 09:03] alexgibson commented on #8526
PR to add edge to `run-integration-tests` https://github.com/mozmeao/www-config/pull/266

Once we're happy / confident we can looks to add edge to dev/stage/prod pipelines.

[2020-05-15 13:39] alexgibson commented on #8910
Ok I've done some preliminary investigation here and can confirm the following:

- We're already doing attribution on full installer links. What I mean is, as far as bedrock is concerned we don't make any distinction if a download button is either full installer or stub installer. If you visit /firefox/installer-help/ in production right now, on a Windows machine, attribution is already working on

[2020-05-15 14:47] alexgibson commented on #8910
Another area where we're missing attribution (and as far as I can tell custom GA events entirely) is on the `/firefox/enterprise/` page.

[2020-05-15 15:16] alexgibson commented on #8910
Demo URLs (test on Windows):

- https://www-demo3.allizom.org/en-US/firefox/all/ (attribution is applied on download button click only)
- https://www-demo3.allizom.org/en-US/firefox/new/ (attribution is applied on page load to direct download links in modal)
- https://www-demo3.allizom.org/en-US/firefox/enterprise/ (attribution is applied on page load to direct download links in modal)

[2020-05-16 15:55] ejregithub opened #8927 "Extract strings - Moments/Browser Welcome page (#8)"
Extract strings for the copy in the Moments page # 8, in Fluent (Wait for it)

Hold until the switchover to Fluent that is happening on the 22nd

[2020-05-16 15:57] ejregithub commented on #8927
@Errolyn - please pick this one up when your in progress queue has space (following the rule of WIP _max_ of two cards, please). ;)

[2020-05-18 08:15] #7050 closed

[2020-05-18 08:18] alexgibson commented on #8606
@TheoChevalier this seems partly fixed (one time donations are passing through correctly), but I notice the monthly amounts don't seem right still. Do we need a follow-up issue to track that?

[2020-05-18 10:40] TheoChevalier commented on #8606
This should be fixed with https://github.com/mozilla/donate-wagtail/pull/969, which is merged, but pending a prod push

You can use the staging instance if you need to test different links https://donate-wagtail.mofostaging.net/en-US/?frequency=monthly&amount=50&currency=usd&presets=50%2C30%2C20%2C10&ref=sept2019banner&utm_campaign=sept2019banner&utm_source=mozilla.org&utm_medium=referral&utm_cont

[2020-05-18 14:21] alexgibson commented on #8910
@hoosteeno given the above, we should discuss the possibility of rolling out these fixes independently of any work happening in bouncer / stub installer to support this.

[2020-05-18 14:40] alexgibson commented on #8829
@cgonz0 @hoosteeno

This is now up on demo for initial review: https://www-demo1.allizom.org/en-US/firefox/new/

To make preview easier (you can only see the banners on demo using an Android / iOS device), I attached screenshots below. Note the design file didn't feature a mockup for wider viewports (e.g. tablets), so I just did what I thought felt right.

For the badges I used adjust links (assum

[2020-05-18 16:28] hoosteeno commented on #8829
@cgonz0 if the wide treatment works for you then I am r+ on this. Thank you.

@alexgibson will we hold this until Fluent is in place?

[2020-05-18 16:30] alexgibson commented on #8829
That's my plan, yes.

[2020-05-18 16:32] hoosteeno commented on #8910
@tublitzed since we have been sending attribution params with many full installer downloads already, it seems we don't need to wait on any downstream work before rolling this out. Do you agree?

[2020-05-18 18:00] cgonz0 commented on #8829
@alexgibson thanks for these. these tablets are getting larger:) given that, a few small suggestions here...
could we bump down the button to 40px height? feels a little large in the smallest width.
for the large tablet width, i'm good with the background repeating but could we stretch the full text to take up one line and bump down the size to 32px. this way we can just have the text flow right i

[2020-05-18 22:07] #8823 closed

[2020-05-18 22:33] cgonz0 commented on #8615
**assets (intro img / animated svg)**
[firefox_vs_brave_assets.zip](https://app.zenhub.com/files/1616665/7536b4e5-4aae-42dd-b67d-83d1b87d38a7/download)

**mockup -- (copy not final)**
![BC_firefoxVsBrave_mockup.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/40df9d69-6ba1-42ba-93dd-9e20ee2986b7)

[2020-05-19 05:09] grininja commented on #8923
I want to Work on this issue.

[2020-05-19 05:13] grininja commented on #8911
I want to work on this issue

[2020-05-19 05:32] grininja commented on #8635
I want to work on this issue

[2020-05-19 07:57] alexgibson commented on #8829
Yeah, on a large iPad pro in landscape orientation the browser width is 1366px wide, which is not really any different to many desktop screens. It's no longer really possible to differentiate devices based on screen size alone.

The current dimensions of 152px x 45px is the standard we use across the site for all app store buttons, so I can't easily start tweaking this here without it effecting la

[2020-05-19 08:31] alexgibson commented on #8606
Looks like this is now fixed in prod, thanks @TheoChevalier! 💯

[2020-05-19 08:31] #8606 closed

[2020-05-19 09:00] alexgibson commented on #8829
@cgonz0 this is now updated on demo. I've taken a screenshot to help preview. Any further tweaks just let me know, thanks!

![image.png](https://images.zenhubusercontent.com/5c927d6baa8dca0a81399557/f8f5293b-68bd-4421-b6f2-7e50c68738ce)

[2020-05-19 09:37] alexgibson commented on #8870
@ejregithub just a heads up we're still waiting on some kind of content review here, or are we ok to move forward and get this reviewed / shipped?

[2020-05-19 09:51] #8836 closed

[2020-05-19 12:40] alexgibson commented on #8612
Once we switch over to Fluent, fixing this issue could potentially save us  1-2hr of dev work, per migration.

/22 @hoosteeno @pmac

[2020-05-19 12:47] alexgibson opened #8929 "mozilla.org does not provide a download option for Windows ARM64/AArch64 build"
## Description

See: https://bugzilla.mozilla.org/show_bug.cgi?id=1636582

Tracking this to add as a download option to /firefox/all/ initially.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Windows ARM64/AArch64 builds are available on /firefox/all/

[2020-05-19 14:55] shahbaz17 opened #8930 "To change the font of Urdu locale to Noto Nastaliq"
This is a request to change the font on [Mozilla.org](https://www-dev.allizom.org/ur/) to [Noto Nastaliq](https://fontinfo.opensuse.org/fonts/NotoNastaliqUrduRegular.html) from the current font?

Fonts:
[Noto Nastaliq](https://fontinfo.opensuse.org/fonts/NotoNastaliqUrduRegular.html)
[Noto Nastaliq](https://github.com/googlefonts/noto-fonts/tree/master/hinted/NotoNastaliqUrdu)

As the current font

[2020-05-19 14:56] shahbaz17 commented on #8930
CC @Pike

[2020-05-19 15:49] cgonz0 commented on #8829
didn't know this was our standard - so, let's leave it. i'll make a note for future designs.

i also suggested leaving the same layout (centered text with button beneath) if we don't wanna deviate too much. the height of the banner will be wider but i think the layout still works.
but, given that you've already tweaked the layout into a single row, let's go with that one.
**let's drop the text to

[2020-05-19 16:14] alexgibson commented on #8829
Updated, thanks!

[2020-05-19 16:15] alexgibson commented on #8829
This is now pretty much code complete, but is now blocked on https://github.com/mozilla/bedrock/pull/8803 which will migrate /firefox/new/ to Fluent. Once that is merged later this week I'll pick this back up to make it ready for L10n.

[2020-05-19 17:06] Vedangi05 commented on #8930
where exactly do we have to make changes? I'm new here

[2020-05-19 17:51] vmunix commented on #8644
Hey @pmac could we get the 301 updated with some UTM magic:

`301 from www.mozilla.org/builders to https://builders.mozilla.community/?utm_source=www.mozilla.org&utm_medium=referral&utm_campaign=builders-redirect`

Will clean up the GA on the builders GA. Thx!!

[2020-05-19 17:57] vmunix opened #8932 "Update redirect on mozilla.org/builders"
Want to add UTM parameters to the 301 we put in for /builders to:

`https://builders.mozilla.community/?utm_source=www.mozilla.org&utm_medium=referral&utm_campaign=builders-redirect`

so we get proper referral tracking in GA for the site.   Thx!

Original issue was: #8644

[2020-05-19 18:15] Pike opened #8934 "rheet doesn't play in the browser"
## Description

https://www.mozilla.org/en-US/about/governance/policies/commit/ links to `rheet.wav`, but you can't listen to it in the browser.

### Steps to reproduce

Clicking on "Need to hear a rheeet?"

### Expected result

A "rheet" should play

### Actual result

A download dialog

### Environment

Firefox release on macos.

[2020-05-19 18:17] #8932 closed

[2020-05-19 22:32] stephaniehobson opened #8935 "Add link to Firefox Support in Firefox footer"
In the Firefox column of the footer we should add a link to Sumo.

[2020-05-19 22:41] stephaniehobson commented on #8935
@alexgibson the footer is in fluent now, is it okay if I make this change or should I hold off until the switch over?

[2020-05-20 08:20] alexgibson commented on #8935
yes please wait for Fluent to be live in Pontoon before pushing any new changes through (switchover is happening on Friday).

[2020-05-20 08:39] alexgibson commented on #8915
PRs for final migrations:

https://github.com/mozilla-l10n/www-l10n/pull/32
https://github.com/mozilla-l10n/www-l10n/pull/33

[2020-05-20 12:46] alexgibson opened #8937 "Improve UX between Mozilla and Firefox navigation / footer"
## Description

When navigating between Mozilla and Firefox pages I often find the two different navigation menus a little confusing / disoriantating. The Mozilla nav is also considerably more out of date than the Firefox nav. We should try and improve the UX here for people trying to browse the website.

I understand there's a long term question on if firefox.com becomes a thing or not, but imho

[2020-05-20 14:30] alexgibson commented on #8930
I believe the way to accomplish this would be to make a locale-specific CSS override in https://github.com/mozilla/bedrock/tree/master/media/css/l10n

[2020-05-20 15:25] alexgibson opened #8938 "Add Firefox for iOS and Android to the /firefox/all/ page"
## Description

Firefox for iOS is noticably absent from the /firefox/all/ page. The technical reason for this is because Apple only allows users to download from the App Store, but from a user perspective I'd still expect to find Firefox for iOS mentioned somewhere on this page as an option:

https://www.mozilla.org/en-US/firefox/all/

We should find a simple way to add iOS as a download option,

[2020-05-21 07:56] #8511 closed

[2020-05-21 07:57] #8510 closed

[2020-05-21 15:23] #8830 closed

[2020-05-21 16:23] #8915 closed

[2020-05-22 12:27] alexgibson commented on #8305
Fluent is now live, and this is done in https://github.com/mozilla/bedrock/blob/master/l10n/en/firefox/whatsnew/whatsnew.ftl

[2020-05-22 12:27] #8305 closed

[2020-05-22 13:36] alexgibson commented on #8937
Spotted another inconsistency:

- In the nav (both Mozilla and Firefox), the "privacy" link goes to /privacy/firefox/, but in the footer the same link goes to /firefox/privacy/?

[2020-05-22 13:57] pmac opened #8940 "Fixup The /healthz-cron/ page"
- [ ] There are a bunch of duplicate entries for the updates
- [ ] Need to add the new fluent file repo to the list

[2020-05-22 16:22] #8805 closed

[2020-05-22 16:22] #8614 closed

[2020-05-22 16:22] #8812 closed

[2020-05-22 16:22] #8814 closed

[2020-05-22 16:22] #8815 closed

[2020-05-22 16:22] #8813 closed

[2020-05-22 16:22] #8906 closed

[2020-05-22 18:32] cgonz0 commented on #8615
@ejregithub done - edited above.

[2020-05-26 06:36] ForgottenProgramme commented on #8875
Yes, @alexgibson .
I think the bug is already fixed.
When I open the link you attached I see this;

![mozilla](https://user-images.githubusercontent.com/65779580/82867900-4955a500-9f49-11ea-8702-39c15b68de7f.png)

The logo is there.

[2020-05-26 08:58] #8870 closed

[2020-05-26 08:59] alexgibson commented on #8875
Following the steps to reproduce outlined in the issue description, I'm still able to reproduce this issue, so it's not fixed.

[2020-05-26 09:40] alexgibson commented on #8829
This is now unblocked and ready for code review.

[2020-05-26 14:35] #8940 closed

[2020-05-26 15:33] #8916 closed

[2020-05-26 17:04] alexgibson commented on #8440
The schedule for Google's planned freezing / deprecation of the US string has been delayed until at least 2021. This is partly due to the global situation right now, but also to give more time for the eco-system to test and give feedback. The initial implementation of Client Hints will be in Chrome 84 for testing. As such this may be put back on the roadmap, but we should still spend some time inv

[2020-05-26 17:22] sgarrity commented on #8616
The copy for this page includes a link to the Edge browser comparison page that was turned off in issue #8766. I can leave this unlinked for now, but if the Edge page is scheduled to come back online, is there an issue for that we could mark as a blocker?

[2020-05-26 17:30] craigcook commented on #8616
The Edge page is returning in https://github.com/mozilla/bedrock/issues/8807 which I'm working on now.

[2020-05-26 22:04] hoosteeno commented on #8910
I've shared the demo links with the product team. Still holding for any info about https://github.com/mozilla/bedrock/issues/8910#issuecomment-630298230.

[2020-05-27 10:24] rraue opened #8943 "Remove breadcrumb from /new"
## Description

We tested if a structured data breadcrumb (https://github.com/mozilla/bedrock/issues/7699) will change the snippet for /new in search engines. It does, but not the way we want it too. As we plan a real breadcrumb in the footer, we should remove the code from the test and add structured data once the footer is in place.

Right now, I see "English" as breadcrumb in German as well, wh

[2020-05-27 10:26] alexgibson commented on #8392
@Errolyn I'm not sure if this is something you’re still working on, but it is something I’m keen to explore further and put back on the roadmap. If the scope of this change is proving too large to make it land-able, then I let’s meet to discuss a path forward some time? 🙂

[2020-05-27 12:03] alexgibson commented on #7258
This is now unblocked - @slightlyoffbeat @hoosteeno are the changes here still up-to-date / current?

[2020-05-27 12:04] alexgibson commented on #8651
This is unblocked and seems like a good-first-fluent type issue for a dev. Moving to the ready column.

[2020-05-27 12:06] alexgibson commented on #8935
@stephaniehobson this is now unblocked if you want to make the change.

[2020-05-27 15:04] #8943 closed

[2020-05-27 15:55] ForgottenProgramme commented on #8293
Hey, @alexgibson ! Can I please try working on this issue if @imrishabh18  has dropped it?

[2020-05-27 16:01] alexgibson commented on #8293
@ForgottenProgramme feel free, pull requests are welcome. Thanks!

[2020-05-27 16:17] ForgottenProgramme commented on #8293
@alexgibson , please help me setting up the environment.
I have windows 10 on my system.
Tried installing WSL2, but failed because my system version doesn't meet the minimum requirements for WSL2.

[2020-05-27 16:31] hoosteeno opened #8946 "Pocket image on homepage is blurry"
## Description

The pocket image on www.mozilla.org is blurry. Can we replace with a higher resolution version?

Existing version: https://www.mozilla.org/media/contentcards/img/home-2019/card_1/reads.9b22d39e5588.jpg

High res version attached in jpg. [Link to folder containing svg.](https://www.dropbox.com/sh/peewt8girv2ynp7/AADcjfqAbn5HnAtRC9uRcwICa?dl=0)

![Vector-reader](https://user-images.g

[2020-05-27 16:52] stephaniehobson commented on #8946
On it. Thank you, I hardly ever get large enough images for the top spot and have just stopped asking. :(

[2020-05-27 17:41] mitchell-frost commented on #8875
I am new to mozilla. Can I work on this?

[2020-05-27 17:42] mitchell-frost commented on #8860
Can I work on this?

[2020-05-27 17:50] mitchell-frost commented on #8515
Hey! I am new to mozilla. Can I work on this?

[2020-05-27 17:54] mitchell-frost commented on #8651
I am new to mozilla. Can I work on this?

[2020-05-27 17:57] mitchell-frost commented on #8683
Can I work on this as I am new to mozilla?

[2020-05-27 18:01] mitchell-frost commented on #7687
If it is open, can I work on this?

[2020-05-27 18:02] mitchell-frost commented on #8297
I am new to mozilla. Can I work on this?

[2020-05-27 18:04] mitchell-frost commented on #5729
I am new to mozilla. Can I work on this?

[2020-05-27 18:15] craigcook commented on #5729
Thanks for your interest! Unfortunately it looks like this issue just fell through the cracks. It was later duplicated with https://github.com/mozilla/bedrock/issues/6820 and resolved in 3d256d1b22e91f169261b73f5499e3f66e358f28

If you search for open issues labeled "good first bug" we can try to find something else for you to work on.

[2020-05-27 18:15] #5729 closed

[2020-05-27 18:15] #8946 closed

[2020-05-27 18:30] ForgottenProgramme commented on #8293
@alexgibson
Okay,  I tried setting up the environment myself.
I followed the instructions given here:   https://bedrock.readthedocs.io/en/latest/install.html#make-it-run

But I am getting stuck here;
![bedrock](https://user-images.githubusercontent.com/65779580/83058508-165cff80-a076-11ea-9f56-90f8df308e7d.png)

[2020-05-27 18:37] mitchell-frost commented on #8840
I am new to mozilla. Can I work on this?

[2020-05-27 18:38] mitchell-frost commented on #8670
I am new to mozilla. Can I work on this?

[2020-05-27 18:39] mitchell-frost commented on #8592
I am new to mozilla. Can I work on this?

[2020-05-27 18:40] mitchell-frost commented on #8469
I am new to mozilla. Can I work on this?

[2020-05-27 18:40] mitchell-frost commented on #8408
I am new to mozilla. Can I work on this?

[2020-05-27 18:40] mitchell-frost commented on #8454
I am new to mozilla. Can I work on this?

[2020-05-27 18:41] mitchell-frost commented on #7316
I am new to mozilla. Can I work on this?

[2020-05-27 18:42] mitchell-frost commented on #6875
I am new to mozilla. Can I work on this?

[2020-05-27 18:42] mitchell-frost commented on #6874
I am new to mozilla. Can I work on this?

[2020-05-27 18:57] alexgibson commented on #6875
@mitchell-frost thank you for showing interest in working on bedrock! My suggestion would be to first spend some time setting up the website to run locally. Please see the bedrock docs for this: https://bedrock.readthedocs.io/en/latest/install.html#installation-methods

Once you’re set up and running and familiar with the layout, I’d then look at the good first bugs: https://github.com/mozilla/bed

[2020-05-27 19:17] Errolyn commented on #8392
That sounds great, the site was changing to much to fast to keep pace with.
So I got to the point that the time I could spend on it was completely
consumed with rebasing.

On Wed, May 27, 2020, 3:26 AM Alex Gibson <notifications@github.com> wrote:

[2020-05-27 19:50] cadecairos opened #8949 "Redirect "/donate" to Mozilla donation site"
## Description

The team here at MoFo were wondering if it'd be alright to submit a PR to have `https://www.mozilla.org/donate` redirect requests to `https://donate.mozilla.org` (ideally preserving locale, but our donate site has logic to load the browser's preferred language)

I'm not sure how often that url is even hit by people looking to donate to Mozilla - if we have data on that maybe it'll

[2020-05-27 20:22] amychurchwell commented on #8683
@mitchell-frost I am assigned to and am working on this issue. Thanks for the interest!

[2020-05-27 22:10] hoosteeno opened #8950 "Turn CTA links into buttons on /firefox and /browsers"
## Description

The CRO Team ran an experiment that identified an optimization opportunity in our links on /firefox and /browsers. Specifically, styling CTAs as buttons improved their click rate. The experiment report is here: https://docs.google.com/document/d/11XSa1FSWeHXQ0-dSBU21KmN06NkXCW04owquGyZFfKI/edit#heading=h.i4bqf6o9zs3g.

We should PR a change (to Protocol?) that changes the CTA links

[2020-05-27 22:11] hoosteeno commented on #8950
@justinkropp  can you add any files or specifications to help make this work ready for development?

[2020-05-27 22:34] ejregithub opened #8951 "[6/1/20] Leadership page updates"
## Description

Leadership page updates

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Removed: 'Steering Committee' under Mary Ellen Muckerman and Sean White's names in the Management Teams section.
- [ ] Removed: 'Chair' under Mitchell's name in the Board of Directors - Moco.
- [ ] Live by EOD on Monday June 1st