[2019-10-04 06:42] imskr commented on #7826
Should I remove `cta_type` and `cta_position` rows from https://bedrock.readthedocs.io/en/latest/firefox-accounts.html#configuration and add it to https://bedrock.readthedocs.io/en/latest/firefox-accounts.html#id5

[2019-10-04 07:20] alexgibson commented on #7826
That’s correct

[2019-10-04 08:11] alexgibson commented on #7709
The SUMO links are there as fallback incase there's an issue with UITour in someone's profile. That said, I can hide those URLs if UITour is working, replacing them with `#`, if we think it's worth it.

Will update 👍

Nope that work has yet to be done. I'm waiting on code review for https://github.com/mozilla/bedrock/pull/7733 before we tackle that functionality.

I'll update with the image @dzing

[2019-10-04 08:13] alexgibson commented on #7765
Copy was approved in-page over a week ago. I don't think it's worth breaking strings for a trailing "." at this time.

[2019-10-04 09:41] alexgibson commented on #7765
@dzingeek for the sub navigation, I've applied the suggested styling in the mockup to ther page. I can't help but find it confusing though. When you look at this screenshot, which thing is a link, and which isn't?

![image](https://user-images.githubusercontent.com/400117/66197728-ef8b2c80-e692-11e9-8f7e-8da74f815da2.png)

Because all the main navigation links are bold, I would assume "Our Promise

[2019-10-04 09:58] imskr commented on #7826
@alexgibson I've made the PR

[2019-10-04 10:19] wboucherfischer commented on #7745
Here is a link to the competitive analysis and suggested approach.
https://docs.google.com/presentation/d/1K-rM_h82VEEsDcF19LaOIAzlASWZImmATftHR0CZ1-E/edit?usp=sharing

[2019-10-04 14:32] alexgibson commented on #7710
@hoosteeno I was asked to use a dataLayer.push() here, but I'm happy to use anything set forth in the spec. I'll take what you suggest.

[2019-10-04 15:26] dzingeek commented on #7765
@alexgibson I thought you suggested we go with the underline for the sub nav. I think for now that is fine. We need to look at how the sub nav and main nav work together but that is for another time...I don't think we need to solve for that here.

How does that sound for you (use the underline for sub nav)?

[2019-10-04 15:35] alexgibson commented on #7765
@dzingeek In code review @stephaniehobson said she felt that what's in the design files was clearer, so I went with that. It's coded now, so I think we'll just leave it as per the design file. It would be great to solve properly though, as I don't think either solution really works as nicely as it could.

[2019-10-04 15:41] alexgibson commented on #7710
Actually, there is a good reason to use a dataLayer.push(), since the three ETP items underneath the main hero are also clickable for opening about:protections (but they aren't regular links).

[2019-10-04 15:58] #7826 closed

[2019-10-04 16:03] alexgibson commented on #7707
I think we have all the final assets here now, unblocking and closing this issue.

[2019-10-04 16:03] #7707 closed

[2019-10-04 16:04] alexgibson commented on #7706
@ejregithub copy here is all done I believe, can we close this issue?

[2019-10-04 16:05] alexgibson commented on #7763
We have final design files and assets for this page now, closing.

[2019-10-04 16:05] #7763 closed

[2019-10-04 18:21] dzingeek commented on #7765
K thanks for update @alexgibson and totally agree it could be better. It's on my list for v2 of the nav system...I will see if I can come up with a solution sooner though.

[2019-10-05 13:25] Shivansh2407 commented on #7825
Can I please work on this issue ? Please let me know the File name to be changed here (if possible)..

[2019-10-05 15:22] Shivansh2407 commented on #6617
Can you explain what should be done here?

[2019-10-05 17:18] imskr commented on #7798
@alexgibson This is fixed!

[2019-10-07 13:17] alexgibson opened #7833 "/firefox/welcome/ pages are listed in sitemap"
## Description

The /firefox/welcome/ pages are noindex, but still appear listed in the sitemap.

### Steps to reproduce

1. Open https://www.mozilla.org/sitemap.json
2. Hit `cmd + f` and search for /firefox/welcome/

### Expected result

The URL `/firefox/welcome/1/` should not be listed.

### Actual result

The URL is listed.

Adding `r'^firefox/welcome/',` to the list of no-inex URLs here shoul

[2019-10-07 15:28] craigcook commented on #7833
I'll fix this when I add the second welcome page

[2019-10-07 15:30] Shivansh2407 commented on #7833
Can I help ?

[2019-10-07 15:35] craigcook commented on #7833
Go for it. Since I won't have the second welcome page ready for a few more days, this seems like a simple fix we can get in before then.

[2019-10-07 15:38] Shivansh2407 commented on #7833
I have added r'^firefox/welcome/' to the list of urls ..Please Check and let me know

[2019-10-07 15:42] Shivansh2407 commented on #7833
Check #7836

[2019-10-07 15:57] #7833 closed

[2019-10-07 16:03] #7744 closed

[2019-10-07 16:03] ejregithub commented on #7748
- needs title for the page
- button logic

[2019-10-07 16:10] rraue commented on #7575
SEO is fine. I actually would like test the longer german version against the shorter english version. I would assume the longer version will perform better, but I want to know, so lets move forward with the short version from you @rantley.

[2019-10-07 16:41] rantley commented on #7748
@craigcook

Page title:  Firefox Pocket - Save news, videos, stories and more

[2019-10-07 17:22] sghoseWI commented on #7710
@alexgibson After review, the params look good to me -- thanks!

[2019-10-07 17:22] ejregithub opened #7839 "Links to 'Download high resolution photo' no longer appear on /about/leadership/"
## Description

Store and create links to links for leadership images on /about/leadership for MoCo listings.

***Success Criteria***
- [ ] Is live with links for each leader to their individual zip file containing images

***Tasks***
- [ ] Use AWS bucket for .zip files with leadership photos ([zip files here](https://drive.google.com/drive/folders/1AwXSIvQbsl3TK3Qp-BdiP-fSyjqC7evF))
- [ ] Use URL

[2019-10-07 17:23] alexgibson opened #7840 "Determine the fate of /developer/"
## Description

The [Developer Hub](https://www.mozilla.org/en-US/developer/) page was made ~2 years ago, but has never been updated since. I'm not sure if the team that created are still doing the same kind of work.

Some of the content is evergreen (e.g. pulled from our blog feed), but some of the other content is now pretty outdated.

For example:

- The main hero still talks about "Firefox Qua

[2019-10-07 17:41] amychurchwell opened #7841 "Create download button variant for A/B experiment."
## Description

Add a download icon and accompanying hover state animation to the “Download Firefox” button to A/B test against the current download button.

## Test Plan
https://docs.google.com/document/d/1f-NZmp2ROtPcuwFqcsq8X83Opj058STwCOcKKV5PLfY/edit

#### Tasks
- [x] Put proposed button on demo for design review.
- [x] Code experiment for final review.

[2019-10-07 17:43] amychurchwell commented on #7841
@dzingeek hi Jennifer! You mentioned the other day that you possibly have an asset for this?
Looking for a download icon- preferably a down-facing arrow. ⬇️

[2019-10-07 18:10] craigcook commented on #7839
I removed the download links because we weren't provided with high-resolution versions of the new headshots. I know they must exist somewhere, but I was only given 500x500 images. If we can get high res images we can link to them.

[2019-10-07 18:36] craigcook commented on #7839
High-res, print-ready assets should be 300dpi and a sufficiently large dimension when printed, but it's hard to say exactly what those dimensions should be. A 3000px x 3000px image at 300dpi would print at about 10x10 inches, which is a good size to aim for if we can get it, depending on the source images.

For reference, the previous high-res photos were 2400x3600 at 300dpi which prints at about

[2019-10-07 19:03] cgonz0 commented on #7677
@amychurchwell  **Design feedback below**
UI is looking awesome - please let me know if you have any questions or need me to clear anything up.
___________________________________

**Conditional content -- Signed in/Signed out of Firefox account:**

- Currently, for both:
_Have you checked out Firefox Monitor? It’s included with your Firefox account.
Button: “Sign Up for Monitor”_

- Should be:
Si

[2019-10-07 19:20] ejregithub commented on #7840
@rraue @hoosteeno - the team that owned/worked on this page originally is now defunct and the DevRel team is working on a new website specific to . . . developer relations.  I can't see them supporting this page either.

I don't know if it would make sense to link off to that new site when it exists or if we simply 301 this /developer/ page to /firefox/developer ?

The traffic to /developer/ is an

[2019-10-07 22:24] amychurchwell opened #7842 "Redirect /enterprise to /firefox/enterprise"
## Description

We should [add a redirect](https://bedrock.readthedocs.io/en/latest/redirects.html) to point **/enterprise** to **[/firefox/enterprise](https://www.mozilla.org/firefox/enterprise/)**.

[2019-10-07 22:28] amychurchwell commented on #6262
I'm going to close this in favor of https://github.com/mozilla/bedrock/issues/7841
We can address this in design review of that variant.

[2019-10-07 22:28] #6262 closed

[2019-10-07 22:41] ejregithub opened #7843 "Extract strings - /firefox update into a landing page for all Firefox products"
## Description

We're transforming /firefox into a landing page for all Firefox products and string extracted for Tier 1 locales (FRENDE)

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Strings are extracted in time for localizers to make launch

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] Timing

#### Tasks
- [x] Extract strings - en-US copy can be found [in

[2019-10-07 22:46] ejregithub opened #7844 "Code Review - /firefox into a landing page for all Firefox products"
## Description

Code Review task for /firefox page updates

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Code review is complete with any recommended changes

#### Tasks
- [ ] Review the PR

[2019-10-07 22:53] craigcook commented on #7748
https://bedrock-demo-craigcook.oregon-b.moz.works/firefox/welcome/2/

[2019-10-08 00:54] Shivansh2407 commented on #7842
Can I work on this issue . Also explain a little more about it.

[2019-10-08 02:06] hoosteeno commented on #7748
Sorry, I think I wasn't clear on the button behavior we need.

1. The button on the page should *behave like the button on the firefox_learnmore page*. It should not link to the firefox_learnmore page. That means it should link into an FxA registration or confirmation flow, just like the button on firefox_learnmore.
2. The url on the button needs to have device_id, flow_id, and flow_begin_time par

[2019-10-08 02:12] hoosteeno commented on #7677
We usually don't plan on this edge case on the Whats New page. If it's already coded, then we should make it behave exactly like the signed out user:

[2019-10-08 09:40] #7798 closed

[2019-10-08 11:01] rraue commented on #7840
With this page are coming these two other pages as well: /en-US/developer/css-grid/ and /en-US/developer/browsertest/. We should include them in our thoughts, as they would otherwise be orphaned.

The css-grid page has some sort of seo value we wouldnt get with just redirecting. Maybe the content would be best suited to move to mdn or a redirect to a fitting page on mdn?

For /developer/ I agree,

[2019-10-08 11:19] Shivansh2407 commented on #7842
REDIRECTS FIXED PLEASE CHECK ...

[2019-10-08 11:44] alexgibson commented on #7842
@Shivansh2407 if you look at the activity above, someone has already submitted a PR for this issue. As a courtesy on a first-come, first-served basis I have closed your PR and we will review the first one opened.

[2019-10-08 13:11] Shivansh2407 commented on #7497
Can I work on this issue....Please guide me how to proceed .... Thanks

[2019-10-08 13:55] alexgibson commented on #7840
I believe /developer/browsertest/ was only set up on mozorg because the MDN team didn't have capacity at that time to host the page. It's already completely orphaned. Looking in GA, it gets less than 10 page views per day, and has had < 1500 views in the past year. I think we can redirect this page to MDN at https://developer.mozilla.org/docs/Learn/Tools_and_testing/Cross_browser_testing/Automated

[2019-10-08 14:33] craigcook commented on #7748
From a brand angle, I don't think we use the term "Firefox Pocket." Unlike the rest of the Firefox products, Pocket is its own thing and is a standalone brand. So we might want to change this to just "Pocket" or maybe "Firefox _and_ Pocket"? Should we check with Natalie?

[2019-10-08 15:11] amychurchwell commented on #7677
@hoosteeno speaking of edge cases, it has become increasingly unclear why we are including the conditional for non-firefox users. Can we remove this conditional?

[2019-10-08 15:19] hoosteeno commented on #7677
We originally agreed that having a public web page with a CTA (go to your protection report) that doesn't work for some user agents was not good practice. That seems like a reasonable target to me; do you agree?

An acceptable way to address this would be the one I suggest in https://github.com/mozilla/bedrock/issues/7677#issuecomment-539281791, which is to reduce our cases to 2, and pick the one

[2019-10-08 15:52] Patil2099 commented on #7666
@alexgibson Can I work on this issue?

[2019-10-08 16:04] alexgibson commented on #7666
Pull requests are always welcome 👍

[2019-10-08 16:22] stephaniehobson commented on #6617
I don't know since I'm not a back end dev.

I would start by trying to reproduce the error in a local development environment.

[2019-10-08 16:59] #7711 closed

[2019-10-08 19:38] #7694 closed

[2019-10-08 19:38] #7750 closed

[2019-10-08 23:05] ejregithub opened #7850 "(12/3 - 5:15am PT) FPN - Update Term and Privacy pages"
## Description

Internal (Legal) bug - https://bugzilla.mozilla.org/show_bug.cgi?id=1575696

Updates to the FPN Term and Privacy pages

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Private until FPN is ready to go live
- [ ] Go live when Product (Tony) indicates

#### Tasks
- [ ] Coordinate w. MFeldman on go live plan including timing
- [ ] Maintain in private repo til launch
- [

[2019-10-08 23:26] ejregithub opened #7851 "Update /new for Skyline"
## Description

We want update copy to be inline with Skyline marketing efforts. The new copy and addition of new product icons intends to put the /new page in line with Skyline brand and Product branding.

The intent is to launch as some sort of (TBD) experiment

Hypothesis: If we update the copy and icons on the /new page, we will have a net neutral or positive effect on CTR, because we will inf

[2019-10-08 23:40] ejregithub opened #7852 "(11/4) - Update WNP for Indonesia"
## Description

Update the hard coded template for the WNP shown to users w. Indonesia locale (id)

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is live at start of day in Indonesia on Nov 4th

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] Firefox version on Nov 4th

#### Tasks
- [x] Obtain content, copy and design assets, from the Taipei team
- [x] Prov

[2019-10-08 23:44] ejregithub commented on #7575
MFeldman (Legal) signed off on [the copy](https://docs.google.com/document/d/1W3CgeHU0-IOY-XZlBIhxPY88Oszx_li8aApHmhJB4AA/edit?usp=sharing) on 10/8

[2019-10-08 23:47] ejregithub opened #7853 "Browser Comparison Hub Page Design Assets"
The idea is to provide a one-stop content resource that compares Firefox against our top five competitors in the market. This will consist of one main overview page that provides an intro and overview graphic, and that then links to the five sub-pages (repurposing SEM content) comparing Firefox side-by-side against competitors.

[Original brief](https://docs.google.com/document/d/1TRJO1g9ZT6CBR94i

[2019-10-08 23:51] ejregithub opened #7854 "Add /accounts to CRO sandbox"

[2019-10-08 23:52] ejregithub opened #7855 "Add /wnp70 to CRO sandbox"
## Description

We should add Whatsnew 70 to the CRO sandbox when the page is ready..

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] /en-US/exp/firefox/70.0/whatsnew/ is a copy of /en-US/firefox/70.0/whatsnew/all/
- [ ] it includes Convert snippets

#### Tasks
- [ ] Drop page into django application

[2019-10-08 23:52] ejregithub opened #7856 "Add new /firefox/ to CRO sandbox"
## Description

We should add the *new* /firefox/ page to the CRO sandbox when it is available.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] /en-US/exp/firefox/ is a copy of /en-US/firefox/
- [ ] it includes Convert snippets

#### Tasks
- [ ] Drop page into django application

[2019-10-08 23:52] ejregithub opened #7857 "Run an experiment on /new using Convert"
Target Experiment - #7851

We should test new strings/icons on en-US/firefox/new using Convert. This card should likely become an epic for a handful of additional cards, including...

***Tasks***
- [x] Design the experiment
- [x] Build/review the experiment in Convert
- [x] Monitor the running experiment
- [x] Analyze the experiment

[2019-10-08 23:56] ejregithub commented on #7854
Closing as duplicate to #7507

[2019-10-08 23:56] #7854 closed

[2019-10-09 00:14] ejregithub opened #7858 "/mobile page design"
## Description

Continue and close out the redesign of /firefox/mobile

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Meets brand requirements
- [x] Is completely reviewed according to RASCI and ready for devs to pick up

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a checklist!
- [ ] This is an example of a risk.

#### Tasks

[2019-10-09 00:14] ejregithub opened #7859 "/mobile page code"
## Description

The /firefox/mobile page needs to be update with new copy and design to align with Skyline and product branding

@stephaniehobson 's branch is here to continue - https://github.com/mozilla/bedrock/tree/mobile-rebased

Copy for the page can be found: https://docs.google.com/document/d/1wmZ0sjkxG8oagTU3eQSUENQaAJJSg6lpQFGwTsLyb68/edit?ts=5db71784

You can find a Demo of the on going

[2019-10-09 00:15] ejregithub opened #7860 "/mobile page instrumention/analytics"
We need to be sure we have page interaction and links properly accounted for and measured.

The request the Growth Team is to change, move away from, using Adjust links for mobile device application store links (iOS and Android, AppStore and GooglePlay).

Guy has presented the following links,[ in this doc](https://docs.google.com/document/d/1dTewRuidMPQA5Q-b-eHNY9AIx6nxPWmpFG1q9N3eXkg/edit):

Fen

[2019-10-09 00:15] ejregithub opened #7861 "/mobile page updates"
## Description

The /firefox/mobile page needs to be updated with new copy and design to align with Skyline and product branding

---

[2019-10-09 00:25] ejregithub commented on #7748
@craigcook - please apply a size estimate for this work.

[2019-10-09 00:57] amychurchwell commented on #7677
@cgonz0

Yes, all but reducing font-size that small. Makes it too difficult to read for a heading.

**font-size: 1.5rem;**
![Screen Shot 2019-10-08 at 5 40 55 PM](https://user-images.githubusercontent.com/30483988/66443164-de278480-e9f2-11e9-9c78-fb43654a586d.png)

**font-size: 1rem;**
![Screen Shot 2019-10-08 at 5 42 09 PM](https://user-images.githubusercontent.com/30483988/66443198-fac3bc80-e9f2

[2019-10-09 01:07] amychurchwell commented on #7677
also,

Have you checked out Firefox Monitor? It’s included with your Firefox account.
Button: “Sign Up for Monitor”

is not so:

![Screen Shot 2019-10-08 at 6 05 12 PM](https://user-images.githubusercontent.com/30483988/66444006-53e11f80-e9f6-11e9-8612-812222e0167c.png)

you should get expected behavior now that ui tour is setup in your about:config. 😄

[2019-10-09 03:13] ejregithub commented on #7677
@amychurchwell - please apply a size estimate for this work

[2019-10-09 03:19] ejregithub commented on #7745
@wboucherfischer - the research and analysis was great; thorough and interesting, thank you!

Closing this as done

[2019-10-09 03:19] #7745 closed

[2019-10-09 08:24] alexgibson opened #7862 "Sub navigation text has color contrast issues"
## Description

The active / highlight text for sub navigation links on multiple pages have color contrast issues.

### Steps to reproduce

1. Visit https://www.mozilla.org/en-US/firefox/ (Contrast 2.20 - FAIL)

![image](https://user-images.githubusercontent.com/400117/66464128-4a979780-ea76-11e9-9b02-79e592468a00.png)

2. Visit https://www.mozilla.org/en-US/internet-health/ (Contrast: 2.31 - FAIL

[2019-10-09 08:57] alexgibson opened #7863 "High-res image helper doesn't work with images from Protocol NPM package"
## Description

See https://github.com/mozilla/bedrock/pull/7848 for context, where we had to revert a change because the high_res_img helper doesn't play quite right with images that are in `/protocol/`, rather than `/media/img/`.

To make it more fiddly, the helper seems to work as expected when running locally, but not when deployed to demo.

### Steps to reproduce

I'm actually not quite sure

[2019-10-09 08:58] alexgibson commented on #7863
@pmac not super urgent as we reverted the change, but could you take a look at this one when time allows?

[2019-10-09 09:06] #7796 closed

[2019-10-09 09:10] alexgibson opened #7864 "Remove obsolete .lang files for 2018 /firefox/accounts/ page"
## Description

The 2018 /firefox/accounts/ page was removed in https://github.com/mozilla/bedrock/pull/7820.

Once this goes to production, we should file a PR on the L10n repo to remove the obsolete .lang files.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] .lang files are removed from the repo.

#### Tasks
- [x] PR to L10n repo.
- [x] PR to langchecker repo.

[2019-10-09 09:17] Shivansh2407 commented on #7864
Please can I work on this?

[2019-10-09 09:31] alexgibson commented on #7864
Thanks for showing interest, but this is something contributors don't have the correct permissions to do easily.

[2019-10-09 11:39] aditya-hari commented on #7497
@Errolyn Would changing the class of the section to "mzp-c-box-emphasis" be enough?

[2019-10-09 16:17] jgmize opened #7866 "Test files are persisting between branches"
## Description

Files created in the jenkins workspace during a test run triggered by a push to the `run-integration-tests` branch are persisting between runs, causing test failures.

The following failure, from https://ci.vpn1.moz.works/blue/organizations/jenkins/bedrock_multibranch_pipeline/detail/run-integration-tests/380/pipeline#step-163-log-531 is `FAILED tests/functional/firefox/privacy/tes

[2019-10-09 16:53] ejregithub opened #7867 "Add /lockwise to CRO sandbox"
## Description

We should add the /lockwise/ page to the CRO sandbox when it (the sandbox) is available.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] /en-US/exp/firefox/lockwise/ is a copy of /en-US/firefox/lockwise/
- [ ] it includes Convert snippets

#### Tasks
- [ ] Drop page into django application

[2019-10-09 16:58] hoosteeno commented on #7853
Copy is done and legal approved per @ejregithub

[2019-10-09 18:00] cgonz0 commented on #7677
@amychurchwell ^the smaller font size here is ok. it should be de-emphasized and smaller than the column headers. maybe sub-header is a misnomer. here's the original design below - i think it works better at this size.

<img width="647" alt="Screen Shot 2019-10-09 at 10 55 38 AM" src="https://user-images.githubusercontent.com/29640968/66507280-be8c6c80-ea83-11e9-890f-799393811e65.png">

[2019-10-09 18:21] cgonz0 commented on #7677
@amychurchwell  thanks for the help in setting it up! i'm now seeing the correct Button text for both, but the signed out version is showing _"Have you checked out Firefox Monitor? It’s included with your Firefox account"_ The second line: **It’s included with your Firefox account** should be removed for this version

[2019-10-09 20:04] pmac commented on #7863
@alexgibson one of the reasons the helpers don't include the `img/` prefix is that the `l10n_img` helper relies on other directories, so it's easiest if they have just the path information after the `img` dir. Is it okay if the `l10n_img` helper won't support protocol images? I doubt protocol would include images with text.

[2019-10-09 21:01] jgmize commented on #7866
I was mistaken when I thought that `git clean -f` was sufficient to remove the files; after further research I found that we needed the `-d` flag to remove untracked directories.

[2019-10-09 23:48] jgmize commented on #7866
@alexgibson after running `git clean -d -f` in each of the run-integration-tests/workspace* dirs I reran the last failed pipeline, and while it didn’t pass it is at least not failing on tests that shouldn’t exist: https://ci.vpn1.moz.works/blue/organizations/jenkins/bedrock_multibranch_pipeline/detail/run-integration-tests/384/pipeline

[2019-10-10 02:11] Shivansh2407 commented on #7862
Can I help on this?

[2019-10-10 08:09] #7866 closed

[2019-10-10 10:02] alexgibson commented on #7863
@pmac I don't thnk there's a current need for the `l10n_img` helper in regard to protocol sourced images. Most assets are logos and wordmarks, which aren't translated.

One wrinkle might be that `high_res_img` also supports an `l10n` parameter though?

[2019-10-10 13:37] alexgibson opened #7874 "Display issue with newsletter on Dev Browser /firstrun and /whatsnew pages"
## Description

There's a display issue on the newsletter section of the Developer Browser /firstrun and /whatsnew pages.

![image](https://user-images.githubusercontent.com/400117/66573855-32ee0b00-eb6b-11e9-94f3-d7778da65375.png)

Likely a regression from a recent Protocol update?

### Steps to reproduce

1. Vist https://www.mozilla.org/en-US/firefox/70.0a2/firstrun/
2. Visit https://www.mozilla

[2019-10-10 13:43] alexgibson commented on #7764
Closing this as done

[2019-10-10 13:43] #7764 closed

[2019-10-10 13:43] alexgibson commented on #7710
Closing this as done

[2019-10-10 13:43] #7710 closed

[2019-10-10 13:44] #7706 closed

[2019-10-10 14:00] pmac commented on #7863
Right, but I think we may just have to document that this option doesn't work with images outside of the `media/img/` folder e.g. protocol assets.

[2019-10-10 15:45] alexgibson commented on #7652
The code for this now lives at https://github.com/mozmeao/www-workers and is running on stage. @jgmize still has some infra work to do with automation in that repo, which is detailed here: https://github.com/mozmeao/www-workers/issues/2

On that basis, I'm going to close this particular issue and followups can be discussed in the www-workers repo.

[2019-10-10 15:45] #7652 closed

[2019-10-10 16:14] alexgibson commented on #7874
Fixed by https://github.com/mozilla/bedrock/pull/7870

[2019-10-10 16:14] #7874 closed

[2019-10-10 16:22] hoosteeno commented on #7705
This issue can be almost completely resolved; but closing it out will require the l10n team's repository to be built. Meanwhile we can build a temporary version of that somewhere.

[2019-10-10 16:26] hoosteeno opened #7875 "l10n project configuration for pontoon & vendor"
## Description

Build project configuration files and commit to Bedrock.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Ensure a developer can specify a localization approach for a particular fluent file
- [ ] Establish a default localization approach (Community)

[2019-10-10 16:46] ejregithub opened #7876 "(10/21) Push /firefox/privacy/ and /firefox/privacy/products/"
## Description

Push  /firefox/privacy/ and /firefox/privacy/products/ on 10/21 so they are live for the 10/22 Skyline launch

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Pages are live on 10/21

#### Tasks
- [ ] Push the merged pages on 10/21

[2019-10-10 16:53] hoosteeno opened #7877 "Determine approach for migrating existing localizations"
## Description

When migrating existing legacy content (mission.html and mission.lang become mission.html and mission.ftl), we want to port the localizations as well (bringing over existing localizations from .lang into .ftl files).

* We need to make sure it's done in a way that does not trigger a ton of new work for Pontoon localizers
* We don't want to carry over all the cruft that has accrued

[2019-10-10 16:56] hoosteeno commented on #7717
This issue depends on https://github.com/mozilla/bedrock/issues/7723

[2019-10-10 16:58] hoosteeno commented on #7527
@hoosteeno to identify content owners & schedule meetings for general intro.

[2019-10-10 17:05] hoosteeno opened #7878 "Review python-fluent PR and project-config patch"
## Description

- [x] https://github.com/projectfluent/python-fluent/pull/121
- [ ] https://phabricator.services.mozilla.com/D40012

[2019-10-10 17:10] hoosteeno opened #7879 "Monitor progress on vendor integration"
## Description

Our localization process will depend on technical features delivered by a vendor. We need that work to proceed. @Pike is monitoring.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] The vendor's code & workflow are ready on our timeline

[2019-10-10 17:12] pmac opened #7880 "Add Sentry to Heroku Review Apps"
Basically involves getting the config secrets into the review apps. This is basically adding the secrets to the parent app (`bedrock-demos`) and configuring `app.json` to use those values from the parent in the review apps.

[2019-10-10 17:15] cgonz0 commented on #7858
Updated header:
![Mobile 1280_Update.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/e9c63cd9-b800-4a95-9345-82062fd93beb)

New assets:
![img-browser-mobile.svg](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/2be1ff72-9208-48df-b2a5-08b1217d6c5e)
![img-mobile-noodles.svg](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/21a2ee80-71a2-4a85-bc06-86c20a7

[2019-10-10 17:16] #7747 closed

[2019-10-10 17:24] Pike commented on #7717
I created https://github.com/mozilla-l10n/www-l10n and set up a bunch of permissions. Also added COC and license file.

I think this should unblock things for now.

[2019-10-10 17:58] hoosteeno commented on #7748
I am working with the Pocket team to get parameter pass-through working. The params I told them we'd send (values TBD by @sghoseWI and by OAuth init) are...

https://getpocket.com/ff_signup?s=ffwelcome2&entrypoint={{something}}&utm_content={{something}}&utm_source={{something}}&utm_campaign={{something}}&utm_medium={{something}}&flowId={{something}}&deviceId={{something}}&flowBeginTime={{something

[2019-10-10 18:02] sghoseWI commented on #7751
Worked with @craigcook to get the proper params instrumented -- details below:

https://github.com/mozilla/bedrock/pull/7869

[2019-10-10 18:02] sghoseWI commented on #7748
@hoosteeno FYI https://github.com/mozilla/bedrock/pull/7869

[2019-10-10 18:14] pmac commented on #7880
Done in f180d6264f3dde70c62fb90ba3ad7e7589913c80.

[2019-10-10 18:14] #7880 closed

[2019-10-10 18:50] stephaniehobson commented on #6987
Closing in favour of https://github.com/mozilla/bedrock/issues/7858

[2019-10-10 18:50] #6987 closed

[2019-10-10 20:53] Errolyn commented on #7859
@ejregithub can the design and copy docs be linked in here? I have the assets from Cristina. I'm a bit confused with the link to Stephanie's PR, is that the only string change, or is there more I will need to do? also that is on /switch "https://www.mozilla.org/en-US/firefox/switch/" and I thought the work I was going to be doing was on /mobile? Sorry if I missed something.

[2019-10-10 21:11] ejregithub commented on #7859
@stephaniehobson - can you please point to the link with you branch that has /mobile in it?

@Errolyn
- yes, it's /mobile, sorry for any confusion.
- there's only the one string change of which I'm aware.

[2019-10-10 21:14] cgonz0 commented on #7748
gonna sign off on the demo design. looks good to me.

[2019-10-10 21:18] Errolyn commented on #7859
Stephanie linked the branch in slack its: https://github.com/mozilla/bedrock/tree/mobile-rebased

[2019-10-10 22:07] ejregithub commented on #7858
This is done, closing. Thanks @cgonz0

[2019-10-10 22:07] #7858 closed

[2019-10-10 22:51] ejregithub commented on #7620
We've done our part, closing this issue. We can create a new one for implementation when a decisions is made on the open questions here.

[2019-10-10 22:51] #7620 closed

[2019-10-10 22:52] ejregithub commented on #7677
This is live, closing

[2019-10-10 22:52] #7677 closed

[2019-10-10 22:52] ejregithub commented on #7570
This is live, closing

[2019-10-10 22:52] #7570 closed

[2019-10-10 22:53] #7765 closed

[2019-10-10 22:53] #7709 closed

[2019-10-10 22:57] ejregithub commented on #7628
@Errolyn - this one isn't assigned to you, so I don't know if I'm correct in thinking that you were taking care of it as part of the overall lockwise project?

[2019-10-10 23:21] stephaniehobson opened #7883 "Firefox nav: Join Firefox links to blog"
Should link to /accounts.

[2019-10-10 23:53] #7883 closed

[2019-10-11 00:03] sghoseWI commented on #7751
Lifecycle Page 2

entrypoint='mozilla.org-firefox-welcome-2',
utm_campaign='welcome-2-pocket'
utm_source=mozilla.org-firefox-welcome-2
utm_medium='referral'
entrypoint=mozilla.org-firefox-welcome-2'

[2019-10-11 08:23] alexgibson opened #7885 "Firefox nav logo is truncated on legacy IE browsers"
## Description

The Firefox master brand logo is truncated when viewing the universal stylesheet served to legacy browsers:

<img width="1650" alt="image" src="https://user-images.githubusercontent.com/400117/66636113-6fbc0f80-ec08-11e9-9988-e8f8fe4bf3fc.png">

Whilst we don't provide 1st class CSS support for these browsers, I think we could at least try and ensure the nav logo displays correctly

[2019-10-11 13:37] alexgibson commented on #7688
Process doc is being formulated here (Mozilla access only) https://docs.google.com/document/d/1SK4DZWFfKsJjFcs-hkrx_3crfwMQrbtP7LBgqt0bBaw/edit

[2019-10-11 17:16] ejregithub commented on #7751
@sghoseWI - just wanted to check in and query if the 2 success criteria for this issue have been fulfilled and if we can close this card?

[2019-10-11 17:19] sghoseWI commented on #7751
@ejregithub yes, we can close this card. Thanks for checking in.

[2019-10-11 18:30] #7864 closed

[2019-10-11 18:40] craigcook commented on #7843
Strings sent to Pontoon in https://github.com/mozilla-l10n/www.mozilla.org/pull/341

[2019-10-11 20:03] Errolyn commented on #7628
I am :D but since the other issue was closed why don't we just assign this one to me. I have a PR up and am testing all the links

[2019-10-11 21:16] ejregithub opened #7887 "Show beta users the release WNP at 72.0beta"
## Description

Beta users will be offered the 72.0 release a week prior to the rapid release schedule

We have the opportunity to show content (WNP used in the rapid release channel or otherwise) to these beta users.

Reference https://github.com/mozilla/bedrock/pull/7073 for when this was done for 68.0, at that major bump timing (Monday of RC week)

[RELENG BUG HERE](https://bugzilla.mozilla.org

[2019-10-11 23:59] Errolyn commented on #7628
I tried to update bedrocks sub-module to pull in the legal-docs change but ran into an issue. I'm not sure if the docs are up to date for the process or if there is some setup step that needs to happen to make it possible. I will be out Monday & Tuesday, but I don't think this is super urgent so I can try to finish that part of the update when I get back.

[2019-10-12 00:34] #7819 closed

[2019-10-12 08:41] Shivansh2407 commented on #5766
I looked through this [link](https://bugzilla.mozilla.org/show_bug.cgi?id=1465541#c0) but was not able to get a clear Idea of how to proceed. If possible please let me know.

[2019-10-13 05:12] Shivansh2407 commented on #7885
how can i help fixing this?

[2019-10-14 02:35] schalkneethling opened #7892 "Links to Nightly in the footer point to incorrect platform"
## Description

In the footer of for example `https://www.mozilla.org/en-US/firefox/new/` the links for Nightly point to the incorrect platform i.e. Android points to desktop and vice versa

### Steps to reproduce

1. Go to `https://www.mozilla.org/en-US/firefox/new/`
2. Scroll to the footer
3. Click the link labeled `Nightly`
4. It sends you to download page for Nightly on Android
5. Navigate bac

[2019-10-14 10:12] #7892 closed

[2019-10-14 10:15] Patil2099 commented on #7424
@alexgibson  Should I make a Pr for this issue?

[2019-10-14 10:21] alexgibson commented on #7424
@Patil2099 this can't be decomissioned until after Firefox 70 is released. I'd suggest waiting until then, thanks.

[2019-10-14 10:37] alexgibson opened #7897 "Picto cards on 68.0 /whatsnew page missing styles"
## Description

I have no idea if this experiment is still active, or if people are still seeing it somehow, but the picto cards on the 68/0 /whatsnew page seem to be missing some styling:

![image](https://user-images.githubusercontent.com/400117/66745360-a39c6c80-ee76-11e9-8d86-ecacd0c4037c.png)

It's only visible if you're signed-out of Sync.

### Steps to reproduce

1. Make sure you're suing a

[2019-10-14 10:38] #7628 closed

[2019-10-14 10:49] #7696 closed

[2019-10-14 10:50] #7824 closed

[2019-10-14 11:17] alexgibson opened #7898 "Add functional tests for the new /firefox page"
## Description

The redesigned page doesn't yet have any functional tests.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is covered in some way in our automated test runs.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] Not having any coverage increases the risk of accidental breakage.

#### Tasks
- [ ] Write some tests.
- [ ] Push to `run-integration-tes

[2019-10-14 11:18] alexgibson opened #7899 "Add functional tests for firefox/lockwise page"
## Description

The new firefox/lockwise page doesn't yet have any functional tests.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Page is covered in some way in our automated test runs.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] Not having any coverage increases the risk of accidental breakage.

#### Tasks
- [x] Write some tests.
- [x] Push to `run-integ

[2019-10-14 11:31] #7844 closed

[2019-10-14 13:36] #7842 closed

[2019-10-14 15:07] craigcook commented on #7897
That experiment is not active, though the page is still live. It needs to be deleted. I'll work on finishing up https://github.com/mozilla/bedrock/pull/7665 today.

[2019-10-14 15:46] Shivansh2407 commented on #7897
@craigcook Can I work on this? Please explain me a bit about what to do? Thanks

[2019-10-14 16:03] #7843 closed

[2019-10-14 17:04] peiying2 opened #7901 "Legal doc update: production push needed"
## Description

A few legal docs have been updated and need a production push:
- Firefox Privacy Notice (lockwise link change, localization update)
- Firefox Cloud Services Privacy Notice (lockwise link change, localization update)

Deadline: October 17 (the lockwise update need to be pushed for the October launch).

[2019-10-14 17:04] peiying2 commented on #7901
@pmac @Errolyn

[2019-10-14 17:06] alexgibson commented on #7901
Please double-check but I think this has already been taken care of in https://github.com/mozilla/bedrock/pull/7891

[2019-10-14 17:12] peiying2 commented on #7901
Thank you!!

[2019-10-14 17:12] #7901 closed

[2019-10-15 07:55] rbrishabh commented on #7524
Hey! Can I take this up? :)

[2019-10-15 09:05] alexgibson commented on #7524
This is not yet ready to work on

[2019-10-15 09:08] alexgibson opened #7904 "Untranslated string in site footer"
## Description

There's an untranslated string in the new footer. It's currently visible in the German locale.

![image](https://user-images.githubusercontent.com/400117/66817490-b163f780-ef33-11e9-86fb-2c6df7c611b8.png)

### Steps to reproduce

1. Visit https://www.mozilla.org/de/firefox/
2. Scroll to the bottom of the page and read the footer.

### Expected result

All strings should be in Germa

[2019-10-15 09:08] alexgibson commented on #7904
/cc @stephaniehobson @craigcook

[2019-10-15 12:48] Shivansh2407 commented on #7904
Can I please work on this ???

[2019-10-15 13:09] alexgibson opened #7906 "Update A/B testing docs for Convert"
## Description

Our [A/B testing](https://bedrock.readthedocs.io/en/latest/abtest.html) docs need to be updated with instructions for building experimental versions of our landing pages for use with Convert.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Docs are updated

[2019-10-15 13:43] LucyeoH opened #7907 "Contribute section: mailing list update"
## Description

Following up from #6994 we'd like to change the mailing list at the bottom of the contribute page so that it connects people to the community mailing list.
The slug for that subscription is: about-mozilla, and the vendor ID is: Sub_About_Mozilla__c

<img width="320" alt="Screen Shot 2019-10-15 at 9 36 07 AM" src="https://user-images.githubusercontent.com/8070833/66836773-eff7b300-e

[2019-10-15 13:43] LucyeoH commented on #7907
cc @couci

[2019-10-15 13:47] alexgibson commented on #7907
@LucyeoH I believe we've already done this for you some months ago. The newsletter Id can be seen here: https://github.com/mozilla/bedrock/blob/master/bedrock/mozorg/templates/mozorg/contribute/contribute-base.html#L116

[2019-10-15 14:43] craigcook commented on #7904
That string is translated in Pontoon: https://pontoon.mozilla.org/translate/de/mozillaorg/footer.lang/?string=204294

I thought it might be a string mismatch between the [template](https://github.com/mozilla/bedrock/blob/master/bedrock/base/templates/includes/protocol/footer/firefox-new.html#L84) and the [lang file](https://github.com/mozilla-l10n/www.mozilla.org/blob/master/de/footer.lang#L105) b

[2019-10-15 15:17] LucyeoH commented on #7907
Brilliant! Thank you!

On Tue, Oct 15, 2019 at 9:47 AM Alex Gibson <notifications@github.com>
wrote:

--
Lucy Harris

*Lead, Community Development, *
*Open Innovation *

*Mozilla <https://www.mozilla.org/>   *

[2019-10-15 15:19] #7907 closed

[2019-10-15 16:08] mnoorenberghe opened #7910 "'Go to Lockwise' link is incorrect on Fx70 whatsnew page"
## Description

The fallback URL for the 'Go to Lockwise' link is incorrect as it links to a tracking protection page, instead of a Lockwise desktop page.

### Steps to reproduce

1. Load https://www.mozilla.org/firefox/70.0/whatsnew/
2. Right-click on "Go to Lockwise" and Open Link in New Tab (or ctrl-click the link)

### Expected result

A SUMO article should explain about the Lockwise on deskto

[2019-10-15 16:17] ejregithub commented on #7910
@amychurchwell - please check this one (I can confirm the reported issue)

[2019-10-15 16:18] ejregithub commented on #7910
@mnoorenberghe - thank you for reporting this!

[2019-10-15 16:55] hoosteeno opened #7911 "Add survey to lifecycle 1"
## Description

We have a survey for lifecycle pages:

`https://qsurvey.mozilla.com/s3/Firefox-Page`

We should add this survey to the page. We can link to it from e.g. "Feedback".

We can add it to the bottom links, similar to the links on /firefox/lockwise (separated by 24px padding), as in the attached mockup.

We want at least 1000 responses, and don't need a lot more than that.

We will show

[2019-10-15 18:00] stephaniehobson commented on #7904
The strings look the same to me too @peiying2 can you please help us diagnose the problem?

[2019-10-15 19:34] jenniferdavidson commented on #7911
Next to the "Why am I seeing this?" instead of "Page Feedback" let's change the link text to "Share feedback about this page".

And I already chatted with hoosteeno, but let's try to get both weekend days and weekdays represented (i.e. let's turn the survey on for a weekday or two as well as a weekend day or two).

[2019-10-15 19:41] stephaniehobson commented on #6865
Done in https://github.com/mozilla/bedrock/pull/7776

[2019-10-15 19:41] #6865 closed

[2019-10-15 19:47] stephaniehobson opened #7915 "Update favicons"
## Description

Since #7889 there is now a central source of browser favicons. All favicon references in bedrock should be updated to use those.

---

#### Tasks
- [x] Mozilla
- [x] Firefox master brand
- [x] Firefox Browser
- [x] Firefox Browser Beta
- [x] Firefox Browser Developer
- [x] Firefox Browser Nightly
- [x] Firefox Lockwise
- [x] Pocket

[2019-10-15 21:10] stephaniehobson opened #7917 "Mozilla menu "Firefox Desktop" link goes to Firefox master brand page."
It should go to firefox/new since that's where we market the Desktop browser now.

@hoosteeno @rraue @sghoseWI This will have the effect of dropping traffic to /firefox and increasing traffic to /firefox/new/

[2019-10-15 21:59] stephaniehobson opened #7919 "iOS and Android store links on /firefox should trigger mobile download events"
These links are currently coded as CTAs but should probably be coded as download buttons.

Before making this change check in GTM that the download button code will function an a `<a>` tag.

[2019-10-15 22:36] peiying2 commented on #7904
Work on demo server: https://bedrock-demo-navigation.oregon-b.moz.works/de/firefox/

[2019-10-15 23:25] craigcook commented on #7904
So that demo server includes footer.lang in the list of globally active files but that file is NOT globally active in production... I got my head jumbled and for some reason was thinking we could show the new footer to any locales that had completed it, but that's not the case. We also have to make those translations available site-wide.

But footer.lang is already complete in 33 locales with a fe

[2019-10-15 23:30] stephaniehobson opened #7923 "Review user experience of url('firefox') links"
Since the /firefox page has been updated to show all Firefox products it might be more appropriate to link to /firefox/new/ in some places.

[2019-10-15 23:51] #7910 closed

[2019-10-16 03:03] Shivansh2407 commented on #7917
Is this still open ?

[2019-10-16 08:54] alexgibson opened #7927 "Master build errors when installing dependencies"
## Description

This may only be a temporary issue, but filing just in case it needs attention. The master build is failing installing dependencies: https://ci.vpn1.moz.works/blue/organizations/jenkins/bedrock_multibranch_pipeline/detail/master/1924/pipeline/

CircleCI builds are also failign with the same error: https://circleci.com/gh/mozilla/bedrock/22964?utm_campaign=vcs-integration-link&utm_m

[2019-10-16 08:54] alexgibson commented on #7927
/cc @pmac

[2019-10-16 09:57] alexgibson commented on #7857
@hoosteeno Both Convert and the redirector worker are active on www.allizom.org, so there should not be any blockers to start on implementing this.

[2019-10-16 11:58] sgarrity commented on #7552
@alexgibson I've got a quick question about the view code for this new India what's new page. We've got a temporary draft PR that is working fine, but it includes duplicating a block of code for the nightly/alpha/beta channels. Can you take a look at let us know if this view needs to address those channels? https://github.com/silverorange/bedrock/pull/5/files#r335430149

[2019-10-16 14:58] pmac commented on #7927
I think it's due to us not being specific enough with our base docker image names. We're using e.g. `python:3-slim`, which has just switched to Python 3.8. I'm testing and should have a PR shortly.

[2019-10-16 15:42] alexgibson commented on #7927
Thanks @pmac !

[2019-10-16 16:55] #7766 closed

[2019-10-16 17:25] ejregithub opened #7930 "Design - Browser Comparison SEO Chrome page: Compare Firefox vs Google Chrome"

[2019-10-16 17:25] ejregithub opened #7931 "Design - Browser Comparison SEO Edge page: Compare Firefox vs Microsoft Edge"
Design task for Firefox vs. Edge browser comparison page.

[Copy - en-US](https://docs.google.com/document/d/1QSX6lr2VSpLA8gb-Sbotiwb0AySntNCadBVXKly7UJY/edit)

[2019-10-16 17:25] ejregithub opened #7932 "Design - Browser Comparison SEO Internet Explorer page: Compare Firefox vs Internet Explorer"
Design task for Firefox vs. IE browser comparison page.

Brief

[Copy - en-US](https://docs.google.com/document/d/1tMtr1tU5c7kDvmRcnEUgjnAsNDrWYaM7yiTdQkZR5hw/edit#)

[2019-10-16 17:25] ejregithub opened #7933 "Design - Browser Comparison SEO Safari page: Compare Firefox vs Safari"
Design task for Firefox vs. Safari browser comparison page.

[Copy](https://docs.google.com/document/d/1KpxsHVtge3bk5l8BYHz4E_UpWI4PR6sYcx5ZdTAifrI/edit#heading=h.oo63piaiuqi8)

[2019-10-16 17:26] ejregithub opened #7934 "Design - Browser Comparison SEO Opera page: Compare Firefox vs Opera"
Design task for Firefox vs. Opera browser comparison page.

[Copy - en-US](https://docs.google.com/document/d/1zSMcQwsHJkrrxJ4X9x7jZmwbWCpdG6Cq66FcvZI0Dsk/edit)

[2019-10-16 19:02] #7585 closed

[2019-10-16 19:46] stephaniehobson commented on #7917
Yes.

[2019-10-16 20:48] amychurchwell commented on #7850
I can pick this up, just need access to the private bug. Marking as blocked.

[2019-10-16 20:53] ejregithub commented on #7850
Yes, please. Thank you @amychurchwell - I've cced on the bug

[2019-10-16 20:57] stephaniehobson opened #7938 "Lockwise og image not loading on lockwise page"
https://github.com/mozilla/bedrock/pull/7921 broke the og image.

[2019-10-16 20:59] #7938 closed

[2019-10-16 21:39] hoosteeno commented on #7917
@rraue, I support this change, but I'd like you to weigh in on it before we commit to it. Do you have any concerns that removing this link will negatively impact how we show up in search?

[2019-10-16 21:53] ejregithub commented on #7859
@Errolyn - this image needs to replace the current one before we can launch.

![fx-device-2](https://user-images.githubusercontent.com/20547886/66961929-99b86c00-f024-11e9-92cc-f9ae30f82ade.png)

[2019-10-16 22:26] #7919 closed

[2019-10-16 22:30] hoosteeno opened #7941 "Double counting events on lockwise page"
## Description

In https://github.com/mozilla/bedrock/blob/d09bd3bdce9a778c951fce74fe9d58866629fa81/bedrock/firefox/templates/firefox/lockwise/lockwise.html#L55, we see the following:

[code]

I believe `data-link-type` causes an event to fire, for an iOS (browser) download. And `data-cta-type` causes an event to fire. We should not fire both events.

We should use the spec here for the data attri

[2019-10-17 08:33] #7911 closed

[2019-10-17 08:39] Shivansh2407 commented on #7941
I have removed data-link-type and data-download-os from the lockwise app store links. Please check the PR #7944 .

[2019-10-17 09:31] sandrocottus commented on #7899
I want to contribute to this, but I am not sure what all things need to be done.
Can I send a draft PR?

[2019-10-17 10:07] alexgibson opened #7947 "Download Firefox button is not shown on Lockwise page in IE11"
## Description

Caught in automation in https://ci.vpn1.moz.works/blue/organizations/jenkins/bedrock_multibranch_pipeline/detail/run-integration-tests/400/pipeline/

### Steps to reproduce

1. Visit https://www.mozilla.org/en-US/firefox/lockwise/ in IE11

### Expected result

A Firefox download button should be visible underneath the mobile buttons

### Actual result

The download button is not di

[2019-10-17 12:22] rraue commented on #7917
We should do it!

[2019-10-17 15:21] NdagiStanley commented on #6617
It seems that you're running this on docker, something I've done successfully.
I'm not getting the errors though.

@stephaniehobson can you recall what you did?
Which path you navigated to?
etc.

[code]

[2019-10-17 16:30] rraue opened #7950 "Build /de/firefox in CRO sandbox"
## Description

We should build the /de/firefox/ page in the CRO sandbox, as early data shows a huge difference in the performance of the new firefox page in en-US and de and that would be a good way to test and find out why the german page is perfoming worse and if we can fix it. To test we need the page added to the CRO sandbox.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Thi

[2019-10-17 16:34] Errolyn commented on #7860
An update on this: because we are using adjust links we have to do some tracking down of the utms since they are being added via adjust not any of our code. I am going to finish and push the rest of the changes for the page and handle this in a separate pr.  (unless someone has a list of the utms we need to use handy)

[2019-10-17 16:39] #7803 closed

[2019-10-17 16:41] ejregithub opened #7951 "(10/22) /mobile page - device w. Firefox logo image update for Skyline"
Description:  we need to make an image update for Skyline on the /mobile page, replacing the current device image w. Firefox logo in it to correspond to the new branding.

***Success Criteria***
- [ ] Updated image is live on 10/22 and not before, targeting go live at 8:30 am PT (pushing early to meet that is okay, putting it behind a switch would be ideal).

[2019-10-17 16:45] ejregithub commented on #7951
![fx-device-2](https://user-images.githubusercontent.com/20547886/67029799-da66c280-f0c2-11e9-97e0-8b15a1bbce97.png)

[2019-10-17 18:16] #7863 closed

[2019-10-17 18:33] #7748 closed

[2019-10-17 19:17] ejregithub commented on #7852
@alexgibson  - @sgarrity, as indicated in email as well, has this PR in for review when you have time (let me know if we need to assign to another dev, please). I've created the dependency here on PR #7952

[2019-10-17 21:17] #7923 closed

[2019-10-17 22:11] #7947 closed

[2019-10-17 22:39] Errolyn commented on #7951
This has been reviewed and is waiting for its merge date.

[2019-10-18 00:00] ejregithub commented on #7852
@alexgibson  - @sgarrity, as indicated in email as well, has this PR in for review when you have time (let me know if we need to assign to another dev, please). I've created the dependency here on PR #7952

[2019-10-18 08:50] alexgibson commented on #7802
Blocked on https://github.com/mozilla/bedrock/pull/7954

[2019-10-18 09:50] alexgibson commented on #7941
@hoosteeno it looks like fixing this here on one page is easy, but the Google play store badge uses a macro that is shared on many pages across the site. Removing `data-link-type="download" data-download-os="Android"` from the macro will therefore effect download counts on many more pages.

The suggested values `data-cta-type=“lockwise-app-store” data-cta-text=“google-play-store”` only work assumi

[2019-10-18 15:38] alexgibson commented on #7852
@ejregithub @sgarrity I ran the design past the brand team, and the wordmark "The New Firefox Lite" has some issues that I think need to be addressed:

1. The wordmark text should be "Firefox Browser Lite". It should not contain "The New..." since that isn't the real product name, and will only be true for a short length of time. If they need to highlight the product being "new", it should not be

[2019-10-18 15:49] alexgibson opened #7959 "Image errors on /internet-health/ and /whatsnew 65"
## Description

500: https://bedrock-stage.gcp.moz.works/en-US/internet-health/

[code]

500: https://bedrock-stage.gcp.moz.works/en-US/firefox/65.0.2/whatsnew/all/

[code]

[2019-10-18 16:09] #7959 closed

[2019-10-18 17:08] stephaniehobson commented on #7917
Closed by #7925

[2019-10-18 17:08] #7917 closed

[2019-10-18 17:53] amychurchwell commented on #7850
PR opened in private repo. Blocked until go-live date has been determined.

[2019-10-18 18:31] alexgibson commented on #7852
The brand team have now changed their feedback re: the wordmark https://github.com/mozilla/bedrock/pull/7952#discussion_r336616037

[2019-10-18 19:42] hoosteeno commented on #7857
@alexgibson I have built the experiment here:

https://app.convert.com/#/projects/1003350/experiments_report/10031777

I cannot get any variations in my browser and cannot get the report to increment the visitor count, using Incognito and clearing cookies.

I think the Convert snippet may not be doing what it needs to. Specifically, in the source of [the experience page](https://www.allizom.org/en

[2019-10-18 20:02] hoosteeno opened #7961 "Put CTA at top and bottom of welcome pages"
## Description

We should move the CTA from the middle of the welcome pages to the top and the bottom. This will require some adjustment to vertical spacing, and some javascript refactoring.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Welcome page CTAs are at top and bottom.
- [ ] reviewed by design
- [ ] no string changes

[2019-10-18 20:02] hoosteeno commented on #7961
Code in https://github.com/mozilla/bedrock/pull/7954

[2019-10-18 20:28] stephaniehobson commented on #7857
The `convert-experiment-script` switch needs to be toggled on on staging.

[2019-10-18 21:34] dzingeek commented on #7859
based on some great feedback from @Errolyn we have decided to add an icon to the text cta so it's more clear to the user that it's not your average text link.

attached is the svg for the icon as well as a screenshot for reference.

![Screen Shot 2019-10-18 at 2 30 16 PM](https://user-images.githubusercontent.com/3740746/67129670-234a7400-f1b4-11e9-85b8-51d0ae3d8f1b.png)

[icon-send-device.svg.zip

[2019-10-18 22:03] Errolyn commented on #7859
Added :D

[2019-10-18 22:29] Errolyn commented on #7859
Ok, the demo is up to date with all the changes, I am going to handle the link changes in another pr so this can start getting reviewed.

[2019-10-18 23:14] stephaniehobson commented on #7857
Never mind, that was done ages ago, it just wasn't done the way I expected it to be.

[2019-10-21 08:52] alexgibson commented on #7857
@hoosteeno looking in the Convert dashboard, I see your experiment is confugured to run in the project thast targets www-dev. I've updated the project names to be more explicit to avoid confusion here. Once you have this moved over, let me know and am happy to review further.

[2019-10-21 08:55] alexgibson commented on #7780
Fixed in https://github.com/mozilla/bedrock/pull/7768

[2019-10-21 08:55] #7780 closed

[2019-10-21 08:55] #7643 closed

[2019-10-21 10:19] alexgibson opened #7964 "Images on /firefox could use some further optimization"
## Description

The new [/firefox](https://www.mozilla.org/en-US/firefox/) page weighs in at over 3MB high-res screens, which is more than twice as resource heavy as the previous design.

There may be further optimizations we could do, but looking at the waterfall chart there are a couple of images that jump out; both of which could likely be optimized further.

- https://www.mozilla.org/media/img

[2019-10-21 11:03] alexgibson opened #7966 "Error on invalid slug in release-notes data"
## Description

See: https://ci.vpn1.moz.works/blue/organizations/jenkins/bedrock_multibranch_pipeline/detail/prod/481/pipeline

[code]

Was caused by this commit, which contained an invalid URL slug in the release data: https://github.com/mozilla/release-notes/compare/7f3039b4449b...c230319875b7

Is this something we could add an automated check for?

[2019-10-21 11:10] alexgibson commented on #7966
/cc @pmac

[2019-10-21 11:49] alexgibson commented on #7876
Fixed https://www.mozilla.org/en-US/firefox/privacy/

[2019-10-21 11:49] #7876 closed

[2019-10-21 11:49] alexgibson opened #7967 "Update "Personal Data Promise" link on /firefox/accounts/ page"
## Description

"Personal Data Promise" link on /firefox/accounts/ page should link to /firefox/privacy/

### Steps to reproduce

1. Visit https://www.mozilla.org/en-US/firefox/accounts/
2. Scroll down and click on the "Personal Data Promise" link.

### Expected result

It should take me to https://www.mozilla.org/en-US/firefox/privacy/

### Actual result

It takes me to a blog post: https://blog.

[2019-10-21 11:50] #7507 closed

[2019-10-21 15:13] amychurchwell commented on #7512
Noticed that that "Media Library" link `https://blog.mozilla.org/press/media-library/` 404s under "Resources." Should we remove or replace with a different link? (Not sure what media library is.)

[2019-10-21 15:55] #7951 closed

[2019-10-21 16:27] alexgibson opened #7970 "MOSS pages cleanup"
## Description

Some cleanup after https://github.com/mozilla/bedrock/pull/7713 merged.

- Remove /moss/mission-partners-india/ and redirect to /moss/mission-partners/
- Removed unused legacy MOSS landing page (inaccessible since the newest version of the landing page was never translated).

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Legacy india page is removed and redirected.

[2019-10-21 16:30] #7967 closed

[2019-10-21 16:50] stephaniehobson commented on #7964
These will be replaced by much smaller SVGs in https://github.com/mozilla/bedrock/pull/7962

[2019-10-21 18:05] #7656 closed

[2019-10-21 22:52] ejregithub opened #7975 "Update 'Trackers blocked' number in /firefox/privacy/products/"
## Description

update the ‘trackers blocked’ metric in /firefox/privacy/products from the current 100,000,000 to 10,000,000,000 (ten billion).
---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Metric is updated

#### Tasks
- [ ] Change the Tracker Blocked number from 100,000,000 to 10,000,000,000

[2019-10-21 23:27] #7975 closed

[2019-10-22 11:09] alexgibson commented on #7857
Some review notes:

- The CSS look a-ok.
- Is the a/a version needed, seeing as the original is already a variation? The last test I tried putting together on stage indicated that this may not be required.
- How can we verify that events and goals are working ok? You're using a fancy regex that targets both stage and prod URLs, which makes testing the experiment on staging first problematic. It al

[2019-10-22 11:12] alexgibson commented on #7857
Oh - another note. I'd like us to leave a paper trail for each experiment. Please include this GitHub issue number in the title of the experiment (or somewhere else where people can find it), so that we can link back to where and when this was reviewed in the future.

[2019-10-22 11:28] #7966 closed

[2019-10-22 11:41] #7497 closed

[2019-10-22 11:47] #7964 closed

[2019-10-22 12:30] ejregithub opened #7977 "en-US homepage - update Lockwise video w. new URL"
## Description

the Lockwise video on the homepage, en-US, needs to be update to this URL:
 https://youtu.be/ltRDl6FJKck  (the current one talks about the add-on)

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Is updated and live 10/22

#### Tasks
- [ ] Update the Lockwise video with the newer video link - https://youtu.be/ltRDl6FJKck

[2019-10-22 12:34] ejregithub opened #7978 "(10/25) Review/Merge/Push Fx Lite legal doc updates"
## Description

Updates and new pages are being added in the legal-repo for Fx Lite. They'll need to be reviewed and merged/pushed on or about 10/25

https://bugzilla.mozilla.org/show_bug.cgi?id=1589298

---

[2019-10-22 12:45] alexgibson commented on #7977
Fixed on stage: https://www.allizom.org/en-US/

[2019-10-22 13:07] alexgibson commented on #7977
Fixed on prod: https://www.mozilla.org/en-US/

[2019-10-22 13:07] #7977 closed

[2019-10-22 13:49] #7751 closed

[2019-10-22 14:33] alexgibson commented on #7978
Note that there are 2 new pages required here, so it's more than just a Git sub-module update.

[2019-10-22 15:10] alexgibson opened #7980 "Developer Browser logo in the Mozilla nav is outdated"
## Description

Screenshot provided by MJ:

![image](https://user-images.githubusercontent.com/400117/67300735-56f40980-f4e6-11e9-93ad-bceb34db4ea4.png)

### Steps to reproduce

Open https://www.mozilla.org/en-US/ and hover over "Developers"

### Expected result

The card should show the new Developer Browser logo

### Actual result

The card shows the old logo.

### Environment

N/A

[2019-10-22 15:38] amychurchwell opened #7981 "Write unit tests for monitor button."
## Description

The monitor button is being used in increasing frequency, we should write some unit tests for coverage.

[2019-10-22 15:54] #7852 closed

[2019-10-22 16:48] alexgibson opened #7982 "Download links on /firefox should point to locale neutral /thanks URL"
## Description

The download links for desktop on [/firefox](https://www.mozilla.org//firefox/) include the page locale in the destination URL, which means people can only download Firefox in the same language as the page is translated in. We should remove the locale from the link, so that language detection can serve the most apropriate build.

### Steps to reproduce

1. With an en-US browser, vi

[2019-10-22 16:57] amychurchwell opened #7983 "Redirect `/privacy/products/` to `/firefox/privacy/products/`"
## Description

We should [add a redirect](https://bedrock.readthedocs.io/en/latest/redirects.html) to point **/privacy/products/** to **[/firefox/privacy/products/](https://www.mozilla.org/firefox/privacy/products/)**.

[2019-10-22 17:03] craigcook commented on #7982
It's linking to `{{ url('firefox.download.thanks') }}` ... should that be just `/firefox/download/thanks/` without using the url helper?

[2019-10-22 17:10] stephaniehobson commented on #7982
As a user I'm not sure I'd expect to get the English version when downloading from the German page.

[2019-10-22 17:15] alexgibson commented on #7982
With the exception of /firefox/new/, this is something we do across the site, as we can't be sure every page on the website is translated in the user's preferred language. The /firefox page has pretty good coverage, but unless it's as exhaustive as /new I think we should consider this a valid issue.

[2019-10-22 17:24] alexgibson commented on #7982
Currently /new has 43 locales active, whereas /firefox has 28.

So for example, right now it's really hard for someone to get the build in their preffered langage, if they are part of that delta.

[2019-10-22 17:27] jenniferdavidson opened #7984 "Change "Feedback" to "Share feedback about this page" on Monitor Lifecycle Page"
## Description

The link to the survey on the Monitor Lifecycle Page says "Feedback". Please change to "Share feedback about this page"

https://www.mozilla.org/en-US/firefox/welcome/1/

[2019-10-22 17:37] amychurchwell opened #7985 "Refactor `mozilla-monitor-button.js` to be reusable for other fxa product CTA's."
## Description

We utilized the same JS for the pocket button in #7973 which is essentially a dupe of `mozilla-monitor-button.js`, we should refactor this code to be able to be utilized by any fxa product CTA that needs to make a fetch for `deviceId`, `flowBeginTime`, and `flowId`

[2019-10-22 19:00] ejregithub commented on #7859
@amychurchwell - minor ask from Winston to add a Firefox logo in the modal window.

Also, as stated earlier today, Natalie and Aleks plan on finalizing copy tomorrow, for en-US.  I'll update this issue when that is confirmed as final/approved.

![Screen Shot 2019-10-22 at 11 33 28 AM](https://user-images.githubusercontent.com/20547886/67320605-4e3e0c00-f4c3-11e9-9934-1e33cb8948b4.png)

[2019-10-23 00:07] #7970 closed

[2019-10-23 02:13] chianger commented on #7978
FWIW. You may find there's one link  (https://qsurvey.mozilla.com/s3/Firefox-Lite-Reward-Help) not really functioning in the Terms of Use for reward ( https://github.com/mozilla/legal-docs/blob/master/firefox_lite_contentservices_reward/en-US.md ).  We'll make that survey link work on Oct-24.

[2019-10-23 08:27] alexgibson opened #7991 "WNP minor updates for Indonesia"
## Description

- Copy updates
- Less padding at top of the page
- Hide SMS messaging if in the US.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Updates are approved by stakeholder on demo.
- [ ] Push to production once approved.

#### Tasks
- [x] Update copy.
- [x] Update design.
- [x] Fix around SMS bug.

[2019-10-23 09:41] #7654 closed

[2019-10-23 10:04] alexgibson commented on #7978
I have a draft PR here to update the content: https://github.com/mozilla/bedrock/pull/7994

Please let me know when all the localizations are ready in the L10n repo and I'll update here and mark it ready for review. Thanks.

[2019-10-23 13:51] #7370 closed

[2019-10-23 14:06] Shivansh2407 commented on #7983
I want to take up this issue ... Please let me the file to fix

[2019-10-23 14:56] dzingeek commented on #7859
@ejregithub and @amychurchwell i don't think we should have the logo next to the words like that. it's not on brand (competes with how we do our logo lockups). i would suggest if we need the logo in the modal it goes above "get firefox for mobile" centered. let me know if you have any questions.

[2019-10-23 15:26] ejregithub commented on #7859
Sure @dzingeek - @amychurchell - does that work for you? Logo centered above the headline?

[2019-10-23 15:48] amychurchwell commented on #7859
Logo centered above headline works for me. :+1:

[2019-10-23 16:14] #7961 closed

[2019-10-23 17:20] ejregithub commented on #7839
<img width="359" alt="image" src="https://user-images.githubusercontent.com/20547886/67417834-83f3fb00-f57e-11e9-8d09-b5437e14b5e4.png">

Use the same icon, font and text color as previously used in the page but with the new copy "Download photos"

[2019-10-23 18:17] craigcook opened #8000 "Add functional tests for whatsnew pages"
## Description

We have some tests for the legacy fallback page, but none for the current version-specific pages. We should have test coverage to make sure active whatsnew pages render correctly.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] All active whatsnew pages have automated test coverage.
- [ ] Each test verifies that the requested page renders as expected (could include

[2019-10-23 19:03] hoosteeno opened #8001 "Not passing through utm parameters from upstream referrals on /firefox/accounts/"
## Description

The page at www.mozilla.org/firefox/accounts/ is not passing through parameters coming from upstream referrers. It should be.

We have worked on this several times in 2019, most recently at https://github.com/mozilla/bedrock/issues/7585. We should review that work to understand if this bug relates to that in any way.

### Steps to reproduce

1. Visit about:welcome in a *Firefox Pro

[2019-10-24 08:01] rraue opened #8002 "Logo/image urls in strutured data are misformed"
## Description

The output of all logos and images in the new structured data are missformed. There is always one https://www.mozilla.org too much. For example the mozilla logo on the en-US homepage is right now `"logo": "https://www.mozilla.orghttps://www.mozilla.org/media/img/mozorg/mozilla-256.4720741d4108.jpg","` but must be `"logo": "https://www.mozilla.org/media/img/mozorg/mozilla-256.472074

[2019-10-24 08:59] #7984 closed

[2019-10-24 12:33] #8002 closed

[2019-10-24 12:40] alexgibson commented on #7857
I sucessfully tested and reviewed the experiment on staging. I've enabled the experiment for production.

Next step: I'll coordinate with Josh about routing some production traffic to the experiment page.

[2019-10-24 12:41] alexgibson commented on #7857
Oops, I'll leave this issue open, as we want to monitor the results here too.

[2019-10-24 14:25] Patil2099 commented on #7424
@alexgibson Firefox 70 has been released. Can I work on this issue now?

[2019-10-24 14:33] alexgibson commented on #7424
@Patil2099 the Firefox 70 update only just launched, so I think we should probably wait a few weeks for people to update.

[2019-10-24 15:40] #7856 closed

[2019-10-24 15:59] ejregithub opened #8005 "Post-launch analysis of /firefox/ page performance"
## Description

We launched the new /firefox/ page a week or so prior to Skyline and need to understand the impact of the changes, moving from a single product (Firefox Browser) to a multiple product marketing page with the suite of Firefox offerings.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Analysis is complete and delivered

#### Tasks
- [ ] Perform analysis and deliver

[2019-10-24 16:00] amychurchwell commented on #8001
@hoosteeno
I have decided to update `mozilla-fxa-form.js` to check for existing params on the url before using the ones in the [hidden form inputs](https://github.com/mozilla/bedrock/blob/master/bedrock/base/templates/macros.html#L224-L259).

rough draft:
[code]

my goal is to replace the corresponding form input value with the utm value from the URL if it is present. The thing is, sometimes the i

[2019-10-24 16:06] #7822 closed

[2019-10-24 16:07] sghoseWI commented on #8005
Relevant Datasets:

https://docs.google.com/spreadsheets/d/1NJTIjXEI10wqx_knz_NwhqliDxO5s1zHdrszd6ThtfM/edit#gid=500144031

https://docs.google.com/spreadsheets/d/1ly0WjhFTyEKtDp1aU4YUT5JLIImRHvrv_twkfWZu1Es/edit#gid=0

[2019-10-24 16:46] #7867 closed

[2019-10-24 17:00] hoosteeno commented on #7941
I'm not sure I understand: Are we using the same macro to build app store buttons for every kind of app in the app store? And that means we have to count all clicks on app store buttons as a download click on a mobile browser's download button?

[2019-10-24 17:12] alexgibson commented on #7941
Yes. 99% of these are just for Firefox Android, but a few are for Focus. I don't know the history for why it's configured this way, but removing the default dtat-attributes will havce knock on offects on buttons for other pages.

[2019-10-24 17:18] hoosteeno commented on #7941
Since Lockwise is not a browser download, we shouldn't count it as one. It sounds like the solution is more complicated than removing a parameter; in fact, we need to replace the macro on non-browser download buttons. It could be a different macro; or a more flexible macro; or bespoke code on this one page.

@Shivansh2407 thank you for your PR, and I'm sorry the complexity here is bigger than I or

[2019-10-24 17:58] #7802 closed

[2019-10-24 18:15] sghoseWI commented on #8005
Hi All,

As we know, on October 14th we launched the redesigned /firefox page.  Because we are now promoting our whole suite of products on the page, as opposed to primarily promoting the browser like we used to, we expected to see some moderate level of decline in session-to-download conversion volume and conversion rate on the page. Our hope was that this moderate decline would be sustainable an

[2019-10-24 18:21] #7991 closed

[2019-10-24 18:35] alexgibson opened #8006 "Moz.org incorrectly identifies Chromebooks as desktop Linux (ARM)"
## Description

As reported by @MKS-moz, if you visit mozilla.org on a Chromebook you see a "Please follow these instructions to download Firefox" message, which links to https://support.mozilla.org/kb/install-firefox-linux

### Steps to reproduce

Visit any mozorg page with a download button on it, using a Chromebook.

### Expected result

There should be a message that explains Firefox unsupport

[2019-10-24 18:40] craigcook commented on #7839
We'll also update the boards of directors while we're at it:
https://blog.mozilla.org/blog/2019/10/24/longtime-mozilla-board-member-bob-lisbonne-moves-from-foundation-to-corporate-board-outgoing-ceo-chris-beard-corporate-board-term-ends/

- [ ] Remove Chris Beard from MoCo board
- [ ] Move Bob Lisbonne from MoFo to MoCo

[2019-10-24 18:43] #7899 closed

[2019-10-24 20:04] amychurchwell opened #8007 "Responsive styles bug on product list in bottom /firefox CTA."
## Description
Styles for list items in `.c-showcase-list .t-small` are broken on mobile screen sizes.
https://github.com/mozilla/bedrock/blob/master/media/css/firefox/home/master.scss#L196-L205

<img width="395" alt="Screen Shot 2019-10-24 at 1 01 50 PM" src="https://user-images.githubusercontent.com/30483988/67520838-7c0b8800-f65e-11e9-8ed4-dc9f973bbd1d.png">

[2019-10-24 20:17] amychurchwell opened #8008 "Pass through UTM parameters for Pocket referrals"
## Description

The coverage in [`fxa-utm-referral.js`](https://github.com/mozilla/bedrock/blob/0a7bd1991b173a0fb5419d46f4531cd216fdcf20/media/js/base/fxa-utm-referral.js) does not extend to [the new Pocket button on firefox/welcome/2/](https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/templates/firefox/welcome/page2.html#L34).

We should include the Pocket button like we did for the

[2019-10-24 20:38] #7980 closed

[2019-10-24 22:35] ejregithub commented on #7978
@alexgibson - @peiying2 is telling me know (Thursday at 3:34 pm PT) that the legal docs are coming in tonight and that she'll merge them shortly after.

@peiying2 - please flag Alex here when that's ready/he can push on bedrock

[2019-10-25 04:12] peiying2 commented on #7978
@alexgibson the three sets of Firefox Lite legal docs are merged to the master repo. Please help with the production push.

[2019-10-25 07:59] #7950 closed

[2019-10-25 08:04] alexgibson commented on #7805
Looks like this is fixed.

[2019-10-25 08:05] alexgibson commented on #7682
This is now fixed

[2019-10-25 08:05] #7682 closed

[2019-10-25 08:07] alexgibson commented on #7569
This page is done and live

[2019-10-25 08:07] #7569 closed

[2019-10-25 08:08] #6125 closed

[2019-10-25 08:10] alexgibson commented on #6732
Fixed in https://github.com/mozilla/bedrock/pull/7992

[2019-10-25 08:10] #6732 closed

[2019-10-25 08:11] alexgibson commented on #6261
Nav now exists on this page

[2019-10-25 08:11] #6261 closed

[2019-10-25 08:14] alexgibson commented on #6822
Looks like this was done

[2019-10-25 08:15] #7403 closed

[2019-10-25 08:22] alexgibson commented on #7314
This survey was added in the PR referenced above. I'm going to close this - feel free to open a new issue if any other locales need to be added.

[2019-10-25 08:22] #7314 closed

[2019-10-25 08:23] alexgibson commented on #7306
This sub nav no longer exist, closing

[2019-10-25 08:23] #7306 closed

[2019-10-25 08:27] alexgibson commented on #7441
@stephaniehobson are you actively working on this? The legal team have expressed wishes for these pages to be updated, and the websites team may have capacity to take this on next sprint. I'm going to add it to our suggested queue.

[2019-10-25 14:53] #7978 closed

[2019-10-25 15:28] pmac commented on #7821
I think I can tackle the ordering by looking at the order in the template and then enforcing that order in the resulting ported files. What I'm not sure about is the comment issues. I'm guessing these are going to be problematic in a number of files, and will probably be inconsistent in the translations. Can we just rely on the developer to tweak the comments in the `en` file and then I can ignore

[2019-10-25 15:41] alexgibson opened #8014 "Remove obsolete .lang files"
## Description
I've been looking through pages that are no longer part of bedrock and (I think) we're safe to remove a number of .lang files from the (soon to be) legacy L10n repo:

- `firefox/whatsnew_66.lang`
- `firefox/whatsnew_63.lang`
- `firefox/whatsnew_61.lang`
- `firefox/whatsnew_59.lang`
- `firefox/whatsnew_57.lang`
- `mozorg/moss/index.lang`
- `mozorg/moss/mission-partners-india.lang`
-

[2019-10-25 15:41] alexgibson commented on #8014
/cc @peiying2 for visibility

[2019-10-25 16:37] alexgibson commented on #7978
These pages are now in production:

- https://www.mozilla.org/en-US/privacy/firefox-lite/
- https://www.mozilla.org/en-US/about/legal/terms/firefox-lite/
- https://www.mozilla.org/en-US/about/legal/terms/firefox-lite/reward/

[2019-10-25 17:04] stephaniehobson commented on #7441
Yeah, I'm not working on it right now. I thought it would get done when we redid the privacy section but stuff happened.

[2019-10-25 19:30] sghoseWI commented on #8005
https://docs.google.com/document/d/10V8dkc6s3eNg5H974uo635z7RZUo8wgYH127X9hhbDk/edit#

[2019-10-25 22:31] #7855 closed

[2019-10-25 22:32] #7906 closed

[2019-10-28 06:40] Patil2099 commented on #8014
@alexgibson  Can I work on this issue?

[2019-10-28 06:46] Patil2099 commented on #7983
@amychurchwell Is this issue still open?

[2019-10-28 07:45] imskr commented on #8007
I would like to work on this!

[2019-10-28 09:34] alexgibson commented on #8014
@Patil2099 sorry, contributors do not have access rights to push to the repositories that this work needs to happen in.

[2019-10-28 09:38] #8008 closed

[2019-10-28 11:00] alexgibson opened #8019 "Remove legacy mozilla-accordion.js jQuery script"
## Description

As soon as #7530 is fixed, I think we're in a position to remove the legacy jQuery `mozilla-accordion.js` script from the repository.

Looking through the repo, the [accordion bundle](https://github.com/mozilla/bedrock/blob/master/media/static-bundles.json#L1481-L1487) is still in use on several pages, but from what I can see that code is redundant, since all the pages it's on are

[2019-10-28 11:04] alexgibson commented on #7449
mozila-accordion.less is being removed in https://github.com/mozilla/bedrock/issues/8019

[2019-10-28 11:07] alexgibson commented on #7512
@amychurchwell I'm not sure on the answer to that question, but I wouldn't worry too much about it blocking porting of the page. We can always file a separate issue to find out if that should be updated or removed.

[2019-10-28 11:18] alexgibson commented on #6994
Hi @LucyeoH,

Just checking in on progress here. We've had a survey running on this page for nearly a couple of months. Does your team have any more concrete insights/ideas about what you would like to do with these pages, and what visitors find valulable?

From a roadmap point of view for moz.org, the /contribute pages are pretty soon to be the most out of date (brand wise) on the website. I'd li

[2019-10-28 11:34] alexgibson commented on #7897
Fixed in https://github.com/mozilla/bedrock/pull/7665

[2019-10-28 11:34] #7897 closed

[2019-10-28 11:36] alexgibson commented on #5844
We combined the features from send-yourself into send-to-device, so now there's only one library in the repo.

[2019-10-28 11:36] #5844 closed

[2019-10-28 11:49] alexgibson commented on #7648
This was fixed in https://github.com/mozilla/bedrock/pull/7870

[2019-10-28 11:49] #7648 closed

[2019-10-28 14:25] alexgibson commented on #8014
L10n repo RP: https://github.com/mozilla-l10n/www.mozilla.org/pull/343
Langchecker PR: https://github.com/mozilla-l10n/langchecker/pull/936

[2019-10-28 15:42] rraue opened #8020 "Internal link audit to /firefox/"
#### Description:
The purpose of /firefox/ changed and so should our internal link structure on www and all mozilla owned properties/subdomains. We need to control all links to mozilla.org/firefox/ and its locales if the link should point still to it or to /new/ as its mainly about the browser.
---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] An actionable list of links to change fro

[2019-10-28 16:20] alexgibson commented on #8014
Fixed

[2019-10-28 16:20] #8014 closed

[2019-10-28 16:46] #7725 closed

[2019-10-28 16:46] #7726 closed

[2019-10-28 18:07] #7719 closed

[2019-10-28 18:12] alexgibson opened #8021 "Enable a way to query translation status of individual strings in a Fluent file"
For example: we add a new string to a template, and allow locales fallback to an existing string. In 6 months, how do we know if we’re safe to remove the fallback string?

[2019-10-28 18:24] alexgibson commented on #8021
This is something we have in the current system: but perhaps we may not need it. Just giving locales X weeks before removing fallback strings may be adequate enough. If a locale doesn't catch up, then partial content may be ok?

[2019-10-28 20:27] amychurchwell commented on #8007
@imskr sounds good! I will assign you to this issue. Let us know if you have any questions. 🙂

[2019-10-28 21:36] ejregithub opened #8022 "wnp 71 - Content Strategy definition"
Content Strategy:  show the content from the winning variation in the WNP 70.0 test.

That winning variation is https://www.mozilla.org/en-US/firefox/70.0/whatsnew/all/?v=7

[2019-10-28 21:36] ejregithub opened #8023 "wnp 71 - en-US copy"

[2019-10-28 21:37] ejregithub opened #8024 "wnp 71 - Design tasks"

[2019-10-28 21:37] ejregithub opened #8025 "wnp 71 - specify instrumentation and behavior"

[2019-10-28 21:37] ejregithub opened #8026 "wnp 71 - code"
## Description

Revised description: We are going take to the winning version,[ v7](https://www.mozilla.org/en-US/firefox/70.0/whatsnew/all/?v=7), from the experiment run on WNP 70.0 and make that the content for WNP 71.0

[Releng bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1594956)

***Tasks***
- [x] Display content to be shown to users coming from <71.0 to the 71.0 release currently schedu

[2019-10-28 21:38] ejregithub opened #8027 "wnp 71 - QA of page on demo - team and stakeholders"

[2019-10-28 21:38] ejregithub opened #8028 "WNP 71 - make strings available to remaining locales"
## Description

We need to make the 2 strings in /whatsnew.lang file used for **non**-Tier One locales in WNP 70.0 available to all locales. These are the two new strings introduced in the fallback page w. Mobile CTA content with the send-to-device widget and the QR code.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] strings are opened to localizers in Pontoon to complete the rem

[2019-10-28 21:38] ejregithub opened #8029 "WNP 71"
## Description

Revised description: We are going take to the winning version,[ v7](https://www.mozilla.org/en-US/firefox/70.0/whatsnew/all/?v=7), from the experiment run on WNP 70.0 and make that the content for WNP 71.0

[Releng bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1594956)

------
Create and display content to be shown to users coming from <71.0 to the 71.0 release currently schedu

[2019-10-28 21:45] ejregithub opened #8030 "Build/launch/monitor/analyze WNP70 experiment"
## Description

Build/launch/monitor/analyze an experiment on WNP70 in the interim prior to the 71.0 release on 12/3/19

[Document with content variations](https://docs.google.com/document/d/1EGIx4pd2lBopQwuonHa04sFob7djkbC2DvNtB6ic9Gw/edit)

[Experiment doc](https://docs.google.com/document/d/1cFYYXLam6ic27tEsd2pplFPsvu-AyaA1rDsA8L1qR6g/edit)

---

#### :yellow_heart: Success Criteria :yellow_hea

[2019-10-28 21:46] ejregithub opened #8031 "WNP70 test - specify the experiment"
## Description

[Write the specification](https://docs.google.com/document/d/1cFYYXLam6ic27tEsd2pplFPsvu-AyaA1rDsA8L1qR6g/edit#) for experimenting on WNP70

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an example of a success criteria.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This

[2019-10-28 21:46] ejregithub opened #8032 "WNP70 test - copy/design sprint"
## Description

Design sprint to create copy and design for experimentation on the WNP70 page

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] No state-based switching based on sync auth state.
- [ ] Live in prod by EOD Thursday Nov 7

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ]  Can we use a button for sync CTAs? (hoosteeno asked in #fxa)

#### Tasks
- [ ] De

[2019-10-28 21:46] ejregithub opened #8033 "WNP70 test - build variations, segmentation, and tracking"
## Description

Using TrafficCop, build 7 variations that incorporate copy, design, and instrumentation specs. Give each 5% of WNP en-US traffic. Put it all behind a switch or flag.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Experiment is live on demo
- [ ] Experiment is merged and ready to switch on in prod

[2019-10-28 21:47] ejregithub opened #8034 "WNP70 test - monitor/analyze"
## Description

Description, good enough that reading the card 1 month from now, you still know what it means.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an example of a success criteria.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use a checklist!
- [

[2019-10-28 22:04] ejregithub opened #8035 "/new experiment - long content"
## Description

David Tenser's team is going to provide the required elements to launch a test on /new involving 'long content'

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an example of a success criteria.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a risk. Use

[2019-10-28 22:06] ejregithub opened #8036 "Specify /firefox page buttons experiment"
## Description

Specify an experiment to test buttons on the /firefox/ page - generated by the EU Growth Team

https://trello.com/c/YGuH0oz9/288-cro-test-on-firefox-download-buttons-instead-of-dropdowns

The updated /firefox page uses a dropdown link for browser downloads. This requires two clicks. This is a simple test to replace the dropdown with the three options (Desktop, Android, iOS) shown d

[2019-10-28 22:10] ejregithub opened #8037 "Design/build nav on /new experiment"
## Description

Design and build an experiment testing the addition of navigation on the /new page

Experiment plan: https://docs.google.com/document/d/1qQVvOPlz-E5ZRWrRUxFnzGsFwQ0mZ9rs_dTeT92P9VA/edit

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Regular nav is in the /new page, live.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is an example of a ris

[2019-10-28 23:42] ejregithub opened #8038 "WNP 70 - update headline (hero) string for FR/DE/EN"
## Description

We need to update the headline copy on FRENDE templates for the WNP 70 page with something that we believe will perform better than the current copy based on testing in another location (mobile).

Lauren will deliver the new string today (Monday)

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] New string is live in FRENDE

#### :heavy_exclamation_mark: Risks :heavy_

[2019-10-28 23:57] ejregithub opened #8039 "WNP 70.0 - non-FRENDE locales - assign old WNP fallback content w. Mobile CTA (widget or QR code)"
## Description

The ETP in the non-FRENDE locales for WNP70 is not working to advance the building of relationships/cross-promote other products and services.

The ask here is to leverage the [existing fallback content in the WNP with the mobile CTA](https://www.mozilla.org/it/firefox/66.0/whatsnew/all/), widget and QR code, and assign that to the WNP 70 URL for all locales EXCEPT fr, de, en-US, e

[2019-10-29 00:40] ejregithub opened #8040 "Welcome Page #4 - mobile CTA - QR code"
## Description

We need a new QR code to replace the one in the WNP so we can understand the referring source as this welcome/4/ page. I've asked Loren Austin to provide this to us by EOD on Tuesday Oct 29th.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is live
- [ ] Bug is filed w. Eng to show page at interval x (TBD)

#### Tasks
- [ ]  Set up URL https://www.mozilla.org/f

[2019-10-29 09:36] imskr commented on #8007
@amychurchwell  It can be like this if i change `<div class="c-showcase t-small">` to `<div class="c-showcase">`  Should i make like this or make changes in scss file?

![ss](https://doc-08-0o-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/ssn109r2qknfi5cetubf4mkplbck1l12/1572336000000/01128862856494067037/*/1Qd_YaAFJuyvlEtVopJp9jpvWX8G5l3Ej)

[2019-10-29 14:42] amychurchwell commented on #8007
@stephaniehobson cc'ing for your opinion because I believe you were the dev on the /firefox redesign? ⬆️

[2019-10-29 14:56] cgonz0 commented on #7575
Header image forthcoming...

![BCH_mockup_notfinal.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/3fe88964-eaea-46f0-9b11-ae62076c9575)

[2019-10-29 15:54] #7839 closed

[2019-10-29 16:15] stephaniehobson commented on #8007
The link isn't working for me :(

Here is what it should look like:

<img width="477" alt="Screen Shot 2019-10-29 at 09 07 10" src="https://user-images.githubusercontent.com/854701/67786110-8eedd600-fa2b-11e9-9b73-7f6ce1297f59.png">

I think you will need to fix the flex problem (maybe by setting `flex-basis:auto`) and decrease the borders just on `.t-small .c-showcase-list li`.

[2019-10-29 16:22] imskr commented on #8007
@stephaniehobson I've updated my comment above.

[2019-10-29 16:24] amychurchwell commented on #8038
Adding blocked label until we are provided strings.

[2019-10-29 16:26] alexgibson opened #8044 "Firefox Account links in the nav/footer are broken in non-Firefox browsers"
## Description

The "Sign Up" and "Sign In" links in the footer of the firefox pages don't work as expected.

![image](https://user-images.githubusercontent.com/400117/67787272-2ec95500-fa68-11e9-8983-a4490ad53b30.png)

### Steps to reproduce

1. In Chrome, visit https://www.mozilla.org/en-US/firefox/
2. Scroll down to the footer.
3. Click "Sign Up"

### Expected result

The link should take me to

[2019-10-29 17:03] alexgibson opened #8045 "Improve the quality of migrated Fluent files"
## Description

before we start porting legacy .lang files over to .ftl, we should make sure we try and adhere to a defined level of quality for those files. This could be achieved by a combination of improved automation and / or documentation.

[2019-10-29 17:09] alexgibson commented on #8045
- Order of strings in fluent file should follow order in template.
- Avoid superfluous comments from .lang files that are no longer needed.
- Quality of auto-generated IDs?
- URLs should point to a resolving page.

[2019-10-29 17:09] ejregithub commented on #8040
![qr-code](https://user-images.githubusercontent.com/20547886/67790889-c95b7100-fa33-11e9-9164-2f4fd0f1c9ce.png)

[2019-10-29 17:18] stephaniehobson commented on #8044
I submitted a PR for the sign-up link. I think changing the sign-in link will require editing our macros to remove the service param?

[2019-10-29 17:46] stephaniehobson commented on #8007
The image I posted is the original spec for this page. A good fix for this issue would be for it to match that design and you will need to edit the CSS to solve it.

[2019-10-29 18:28] stephaniehobson opened #8049 "Updates to /firefox page"
Updated browsers images, pocket image, and a request to remove the comma from '2,000'.

Assets are in the Trello card:
https://trello.com/c/MWTIeW9F/764-updated-image-on-firefox-copy

[2019-10-29 19:50] LucyeoH commented on #6994
@alexgibson perfect timing! So we've hit 1000+ responses and are analyzing now. We can remove the survey whenever.

I'm meeting with a team from OI tomorrow to talk about kicking-off option #3 a redesign using resources from OI.

Questions for you, if we want to do #3:
* Who from your team needs to be consulted/involved in a redesign?
* What is the timeline for completing this redesign? End of yea

[2019-10-29 20:23] alexgibson commented on #6994
I suggest looping in @hoosteeno as a first point of contact is the best bet here. Thanks

[2019-10-29 20:32] jgmize opened #8051 "OSError: [Errno 16] Device or resource busy: '/app/locale' when running `make test` on Docker for Mac"
## Description

When running `make test` on Docker for Mac, multiple threads are attempting to mutate the `/app/locale` directory in parallel, resulting in test failures with `OSError: [Errno 16] Device or resource busy: '/app/locale'`. This is likely due to the delegated volume mounts for `/app/locale` in https://github.com/mozilla/bedrock/blob/f57cd17bfe25622cdba18202b502cea26bc328c5/docker-comp

[2019-10-29 20:40] #7438 closed

[2019-10-29 20:43] LucyeoH commented on #6994
@hoosteeno would love your thoughts about timeline & any additional stakeholders!

[2019-10-29 21:13] ejregithub commented on #8038
@amychurchwell - we have the FRENDE strings here (you reference the [original source if needed](https://docs.google.com/spreadsheets/d/1MhR63xWtbUsD4Arf815_F-VD573UhQxFxoVzmiKVmIs/edit#gid=0&range=18:18)).

en:
Stay ahead of hackers. Check for data breaches with Firefox Monitor.

de:
Sei Hackern einen Schritt voraus. Checke Datenleaks mit Firefox Monitor.

fr:
Vérifiez si vous avez été victime d’u

[2019-10-29 21:31] ejregithub commented on #7859
@Errolyn - copy is now fully approved/final, including Legal review (no changes required). You can, please, proceed with all assets as final.

[2019-10-29 21:48] jgmize commented on #8051
Fixed by #8052

[2019-10-29 21:48] #8051 closed

[2019-10-29 21:48] stephaniehobson commented on #7915
I think this is done.

[2019-10-29 21:48] #7915 closed

[2019-10-29 22:57] #8007 closed

[2019-10-30 09:02] #7530 closed

[2019-10-30 09:50] alexgibson opened #8056 "Running bedrock using Docker drains battery quickly"
## Description

Since https://github.com/mozilla/bedrock/pull/7679 merged I've noticed my MBP's fans are spinning almost constantly when running bedrock locally (using Docker), and the battery seems to be draining quicker too.

I'm not 100% certain, but I think this is due to https://github.com/mozilla/bedrock/blob/master/bedrock/settings/base.py#L237

I've overridden this value in my `.env` to us

[2019-10-30 09:51] alexgibson commented on #8056
/cc @pmac

[2019-10-30 12:22] pmac commented on #8056
Interesting. I'll do some testing and see what I can see.

[2019-10-30 15:30] ejregithub commented on #7941
@alexgibson - can you please apply a size estimate for this card?

[2019-10-30 15:42] ejregithub opened #8058 "Analyze results from experiment run /new using Convert #7857"
Target Experiment was #7851, implemented in #7857

We should test new strings/icons on en-US/firefox/new using Convert.

This card is for the task to analyze and report on the results

***Tasks***
- [ ] Analyze the experiment

[2019-10-30 15:51] ejregithub opened #8059 "Put Pocket button on firefox/pocket page."
## Description

We built a new Pocket button with the CTA to 'Activate Pocket' in the [Welcome 2](https://www.mozilla.org/en-US/firefox/welcome/2/) browser welcome page and should put that button, with proper instrumentation, on firefox/pocket page.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Activate Pocket button is on the /firefox/pocket/ product page
- [ ] Is live prior to

[2019-10-30 16:54] ejregithub commented on #8037
Alex commented that we could do this on the page, for a single local, behind a switch.

[2019-10-30 17:41] #8038 closed

[2019-10-30 18:59] ejregithub opened #8060 "Update the hero section headline copy on the welcome 1 page"
## Description

https://www.mozilla.org/firefox/welcome/1/

We need to update the headline copy on the welcome 1 page with something that we believe will perform better than the current copy based on testing in another location (mobile).

The new string for the hero headline replacing the current "You’re on track to stay protected" is:

"Stay ahead of hackers. Check for data breaches with Firefox

[2019-10-30 19:07] ejregithub commented on #8060
@peiying2

When we get this merged, can you please update for en-CA and en-GB, de and FR in Pontoon?

https://pontoon.mozilla.org/translate/de/mozillaorg/firefox/welcome/page1.lang/

en:
Stay ahead of hackers. Check for data breaches with Firefox Monitor.

de:
Sei Hackern einen Schritt voraus. Checke Datenleaks mit Firefox Monitor.

fr:
Vérifiez si vous avez été victime d’une fuite de données avec

[2019-10-30 19:09] #8049 closed

[2019-10-30 19:28] craigcook commented on #8060
I'll have a separate PR to add the new string.

[2019-10-30 20:04] jgmize opened #8062 "Only update DB when there is a change to the relevant env file in www-config"
## Description

Currently, "./manage.py [update_www_config](https://github.com/mozilla/bedrock/blob/master/bedrock/base/management/commands/update_www_config.py)" (called by [bin/run-db-update.sh](https://github.com/mozilla/bedrock/blob/5c7518d/bin/run-db-update.sh#L30) via [bin/cron.py](https://github.com/mozilla/bedrock/blob/a5c85b5/bin/cron.py#L103)) will update the DB whenever there is any com

[2019-10-30 21:08] ejregithub commented on #8040
This is currently being put on hold for better planning of implemenation

[2019-10-30 22:02] #8060 closed

[2019-10-30 22:16] ejregithub opened #8064 "WNP 70.0 - New strings to WNP fallback page content w. mobile CTA"
## Description

We need to update strings in the fallback WNP page (the mobile CTA) and assign the content to WNP70.0 for all non-Tier One locales.

The current string (shown in https://www.mozilla.org/en-US/firefox/66.0/whatsnew/all/)

Send Firefox to your phone
and unleash your Internet.

The new string, which should be split out to different headline sizes, is/are:

Want privacy on every device

[2019-10-30 22:17] ejregithub commented on #8064
Kind of, but not exactly, like this:

![Screen Shot 2019-10-30 at 2 19 34 PM](https://user-images.githubusercontent.com/20547886/67903233-47993f80-fb28-11e9-832b-ed3ae1e9ac4c.png)

[2019-10-31 09:04] #7515 closed

[2019-10-31 15:50] ejregithub commented on #7859
@Errolyn - please note that we will update the meta data

[2019-10-31 16:06] #8039 closed

[2019-10-31 17:36] rraue commented on #7859
I reviewed and the newly added schema data to the /mobile page is not on demo.

[2019-10-31 22:46] craigcook commented on #8064
On demo: https://bedrock-demo-craigcook.oregon-b.moz.works/en-US/firefox/66.0/whatsnew/all/

The 66 page is the easiest way to see it in English, but as of #8053 this is also the page shown to locales other than EN/FR/DE even for the latest version.

[2019-11-01 09:29] alexgibson commented on #6814
This page has since been redesigned, so the issue no longer exists.

[2019-11-01 09:29] #6814 closed

[2019-11-01 09:36] alexgibson commented on #6981
I believe this has all been done

[2019-11-01 09:36] #6981 closed

[2019-11-01 10:31] #5958 closed

[2019-11-01 10:32] #6197 closed

[2019-11-01 10:35] alexgibson commented on #6523
This has been done in later versions of the WNP

[2019-11-01 10:35] #6523 closed

[2019-11-01 10:37] #6951 closed

[2019-11-01 10:40] alexgibson commented on #7566
This has been fixed

[2019-11-01 10:40] #7566 closed

[2019-11-01 10:42] #7678 closed

[2019-11-01 17:09] alexgibson commented on #7877
The definition of a process in which these migrations will happen is still somewhat in flux, and seems to have become a bit of a blocker currently. @pmac has written some scripts in bedrock for migrating .lang files to .ftl, migrating jinja templates, and also migrating existing localizations, so that they are ready to submit as a PR to the L10n repo.

That work seems to fit most of what's defined

[2019-11-01 18:36] ejregithub opened #8070 "Release and monitor experiment run /new using Convert #7857"
Target Experiment was #7851, implemented in #7857

[The experiment in Convert](https://app.convert.com/#/projects/1003350/experiments_report/10031777)

We should test new strings/icons on en-US/firefox/new using Convert.

This card is for the tasks to set the experiment live and monitor it for performance and shut off

***Tasks***
- [x] Start experiment run
- [x] Monitor results
- [x] Shut off

[2019-11-04 09:12] #8064 closed

[2019-11-04 14:24] alexgibson opened #8074 "Add localized images on /firefox/ and /firefox/privacy/products/ pages"
## Description

Update /firefox/ and /firefox/privacy/products/ pages with localized images.

Assets are linked below

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] `en`, `de`, and `fr` locales are updated.

#### Tasks
- [ ] Update templates to use localized images.
- [ ] Optimize images.

[2019-11-04 14:51] carolynjaeger commented on #8074
Hey @alexgibson here are the images for the /firefox page that need updating. I am unable to upload SVGs to Github so will send you the SVG files via Slack for the /fireox/privacy/products page.

**EN Files**
![img-browser-EN](https://user-images.githubusercontent.com/57360215/68129832-89f0c100-ff1a-11e9-83e3-3dfd61d0f360.jpg)
![img-browser-EN@2x](https://user-images.githubusercontent.com/57360215

[2019-11-04 15:05] alexgibson commented on #8074
Zip file of all images:

[FINALS.zip](https://github.com/mozilla/bedrock/files/3804590/FINALS.zip)

[2019-11-04 15:06] alexgibson commented on #8074
@ejregithub fyi - for prioritization ^

[2019-11-04 16:22] #7419 closed

[2019-11-04 16:39] amychurchwell opened #8075 "Headline typos in German and French on whatsnew 70"
## Description

There are [typos in the new headlines](https://github.com/mozilla/bedrock/issues/8038#issuecomment-547632133) we implemented on whatsnew 70 in French and German.

Anika and Malcolm are providing updates in: https://docs.google.com/spreadsheets/d/1jpLfL5-L3UqtBrEePRcFWJBmxcA0Ktwg9TH9kOLwByg/

[2019-11-04 16:42] alexgibson commented on #8070
This experiment is now enabled in production and dat is coming into the Convert dashboard.

[2019-11-04 17:03] #7586 closed

[2019-11-04 19:07] #8075 closed

[2019-11-05 01:10] jgmize opened #8078 "InsecureRequestWarning during Selenium tests"
## Description

Since updating Selenium in https://github.com/mozilla/bedrock/pull/8073 we are seeing InsecureRequestWarning messages whenever tests fail or are rerun. So far this has only been observed from the gitlab runner, but we have not seen a failure from Jenkins since the merge, and they are using the exact same test image.

Example warning:

 /venv/lib/python3.7/site-packages/urllib3/conn

[2019-11-05 09:16] #8078 closed

[2019-11-05 10:25] #7552 closed

[2019-11-05 15:18] alexgibson commented on #7688
The process for creating experimental pages on bedrock, as well as code reviewing Convert experiments, has been documented here: https://bedrock.readthedocs.io/en/latest/abtest.html

[2019-11-05 16:35] alexgibson commented on #6994
Myself, @hoosteeno and @LucyeoH met today to discuss plans for this page, and we agreed that we're going to redesign this page in Q1 2020, just as soon as boths teams have enough free resources. Until then, this page can sit as-is - it's not worth porting it to Protocol given that we've now comitted to redesigning early in Q1.

[2019-11-05 16:36] stephaniehobson opened #8081 "Update to Protocol 10.0.0"
Let's use the new shiny!

[2019-11-05 18:20] pmac commented on #7878
Sounds like @Pike has another reviewer for the phabricator project-config patch. So I think this is done.

[2019-11-05 18:20] #7878 closed

[2019-11-05 20:10] pmac commented on #7877
Here's what I have so far for a flow chart. See if this gels with what we've been saying @alexgibson @Pike

![Basic Flowchart](https://user-images.githubusercontent.com/19176817/68242369-62fbc300-ffde-11e9-879e-d508d246c7f7.png)

[2019-11-05 20:14] stephaniehobson commented on #7452
I think this has fallen off the brand team's radar. I'm going to take myself off for now but I'll also see if I can get some renewed interest.

[2019-11-05 21:50] stephaniehobson opened #8084 "ImageReplaced mixin bug on Safari"
## Description

Small images at large breakpoint in Safari on firefox/privacy/products

### Steps to reproduce

Go to https://www.mozilla.org/en-US/firefox/privacy/products/ in Safari on a browser at 1056px  or larger.

### Expected result

<img width="916" alt="Screen Shot 2019-11-05 at 13 50 00" src="https://user-images.githubusercontent.com/854701/68249223-342c1f80-ffd3-11e9-90bd-3d0002de6eb7.p

[2019-11-05 21:52] stephaniehobson opened #8085 "Display bug on /firefox in IE10"
## Description

Hero title over laps hero image in IE10.

### Steps to reproduce

https://www.mozilla.org/en-US/firefox/ in IE10

### Expected result

<img width="1199" alt="Screen Shot 2019-11-05 at 13 51 59" src="https://user-images.githubusercontent.com/854701/68249322-75243400-ffd3-11e9-89a5-42a695b880aa.png">

### Actual result

<img width="1174" alt="Screen Shot 2019-11-05 at 13 39 02" src="

[2019-11-05 21:53] stephaniehobson commented on #8085
Can't use calc on an element with `display:flex` in IE10 or 11.

[2019-11-06 09:58] #8081 closed

[2019-11-06 10:35] alexgibson commented on #8084
@stephaniehobson  I did some digging and it turns out this may be a Protocol bug. It's also evident on /firefox:

<img width="1004" alt="image" src="https://user-images.githubusercontent.com/400117/68290767-6b0c3f00-0080-11ea-8ea1-16ce2c010d21.png">

It seems to be an issue with our `image-replaced` mixin. For some reason, Sarari doesn't makes the heading with larger, and doesn't respect the `over

[2019-11-06 11:02] alexgibson commented on #8084
@stephaniehobson I opened a PR with a fix for both pages. I *think* it's happening because it's within a grid layout. Oddly it only happens sometimes, and often only on resize.

I filed a Protocol issue to investigate improving our current mixin: https://github.com/mozilla/protocol/issues/519

[2019-11-06 14:16] alexgibson commented on #7877
Thanks @pmac! In terms of how data gets from bedrock to each l10n repository, I think I follow along ok here, although I'm still a little confused about how data should flow between www-l10n and the l10n-team repo. If I'm interpreting this right, there would be a PR opened against the l10n-team repo, but the www-l10n repo would already contain the FTL files and metadata?

[2019-11-06 14:30] Pike commented on #7877
The chart looks good to me, too.

Yes, when we have a migration recipe, we generate two exports, one into `www-l10n` and one into `l10n-team`.

Once the PR on `l10n-team` is merged, the next automation kicks in that exports from `l10n-team` into `www-l10n`. Given the "once" can be days, we need to do both.

I'm also assuming that the next automation does automatic activation based on the rules we

[2019-11-06 14:37] alexgibson commented on #7877
Given that it might be X days before the l10n-team PR gets reviewed and merged, what happens if something needs to change in bedrock in the meantime (say we migrate a page, and the next day someone asks to add a new string?). Would this be handled by the same automation, or would this be a case of needing to be extra viligent?

[2019-11-06 14:49] pmac commented on #7877
Exactly.

Also right. I'll be adding the other automation (l10n-team -> www-l10n) to the chart next.

Data will only flow from l10n-team to www-l10n. The only exception to this flow is when we're porting existing translations, when there will be direct flow from bedrock automation to www-l10n. There should never be direct flow from www-l10n > l10n-team.

[2019-11-06 16:40] hoosteeno commented on #8031
@sghoseWI has provided this document: https://docs.google.com/document/d/1cFYYXLam6ic27tEsd2pplFPsvu-AyaA1rDsA8L1qR6g/edit#

[2019-11-06 16:42] hoosteeno commented on #8032
Nlinden provided this document: https://docs.google.com/document/d/1EGIx4pd2lBopQwuonHa04sFob7djkbC2DvNtB6ic9Gw/edit

[2019-11-06 17:14] hoosteeno commented on #8033
Depending on CTA complexity, convert might or might not be the right tool. Our alternatives are:

1. build static templates or dynamic switching, use TrafficCop and GA for routing/measuring
2. build a few static templates, use Convert for routing/measuring
3. use Convert for building dynamic switching and for routing/measuring

TBD based on specs.

[2019-11-06 17:14] hoosteeno commented on #8032
The copy doc implies a few design variations we  need to vet for feasibility.

[2019-11-06 17:38] #7391 closed

[2019-11-06 17:51] #8084 closed

[2019-11-06 18:04] ejregithub opened #8089 "/mobile page - extract strings"
Extract strings to Pontoon for localization

Communicate to Peiying that de and fr will be done by staff and that we ask those locales be held (not localized by community)

Activation happens when locale is at 100%, til then the existing page is the 'fallback'

[2019-11-06 18:11] hoosteeno commented on #8032
Design requirements:
* 2 layouts, low-fidelity (1-4; 5&6&8). Sketches. Pictures of paper.
* Find or build graphics for bulleted lists.
* Use existing layouts & components wherever possible.

Details:
* No state-based switching based on sync auth state. 🙌

Outstanding questions:
* Can we use a button for sync CTAs? (hoosteeno asked in #fxa)

* @cgonzo to SWARM with @craigcook and nlinden on this.

[2019-11-06 20:17] hoosteeno commented on #8031
Experiment instrumentation specifications are at the bottom of this document: https://docs.google.com/document/d/1cFYYXLam6ic27tEsd2pplFPsvu-AyaA1rDsA8L1qR6g/edit#heading=h.6bvhfucrz4hk

[2019-11-06 22:36] hoosteeno commented on #8031
Each variation in the experiment (including variation 0, the control) should get 5% of traffic to WNP70, in en-US only.

[2019-11-06 22:43] ejregithub commented on #7859
@Errolyn ^ I wanted to confirm that you saw @rraue 's comment above?

[2019-11-06 23:15] rantley commented on #7576
Here's first draft of Chrome vs Firefox https://docs.google.com/document/d/1ASRLjRbGs2CDnKnYTder6DvK_lzIAuHNOhw2KkLzOx0/edit?usp=sharing

[2019-11-07 02:15] craigcook commented on #8030
On demo:

https://bedrock-demo-craigcook.oregon-b.moz.works/en-US/firefox/70.0/whatsnew/all/?v=1
https://bedrock-demo-craigcook.oregon-b.moz.works/en-US/firefox/70.0/whatsnew/all/?v=2
https://bedrock-demo-craigcook.oregon-b.moz.works/en-US/firefox/70.0/whatsnew/all/?v=3
https://bedrock-demo-craigcook.oregon-b.moz.works/en-US/firefox/70.0/whatsnew/all/?v=4
https://bedrock-demo-craigcook.oregon-b.mo

[2019-11-07 02:34] hoosteeno commented on #8033
Updated the issue description with specs.

[2019-11-07 02:56] ejregithub commented on #8028
@alexgibson - could you please review? I'm not sure if the best path forward is to continue using the /whatsnew.lang file as we're doing now in WNP 70.0, showing it to Tier-N locales (all others than FRENDE, for which we'll have hardcoded templates again in WNP 71.0)

[2019-11-07 03:11] hoosteeno commented on #8033
Review feedback on demo below.

Variation 0:
- [ ] Remove utm_content from URL
- [ ] Add device_id, flow_begin_time, and flow_id to URL

Variation 1, 2:
- [ ] Add device_id, flow_begin_time, and flow_id to URL

Variation 3, 4:
- [ ] Verify device_id, flow_begin_time, and flow_id get values (I can't get them to include values)

Variation 5
- [ ] Add form_type to URL
- [ ] Add device_id, flow_begin_

[2019-11-07 04:24] craigcook commented on #8033
device_id, flow_begin_time, and flow_id aren't being fetched because of a CORS error blocking the request from the demo server. I believe there's a way to make this work on demos with FxA stage but there's some step I'm missing. It does work for me locally but I'd like to get it testable on demo as well. Maybe Alex or pmac can help.

[2019-11-07 04:50] ejregithub opened #8091 "WNP 70.0.2 - assign fallback (/whatsnew.lang) content to dot release WNP URL"
## Description

See https://bugzilla.mozilla.org/show_bug.cgi?id=1593777

We want to show a WNP to users updating from 70+ to the 70.0.2 (presumably) release.

The content for the page is already done, currently being shown to 70.0 Tier-N locales (not Tier One).  We need to show the page to all locales, including TierOne (FRENDE) that are 100% in time for the dot release.

For reference: @amychurc

[2019-11-07 04:54] ejregithub commented on #8091
@alexgibson - would you mind taking this one on? Currently I'm hearing the 12th as a possible ship date for the dot release.

[2019-11-07 05:59] Errolyn commented on #7859
I hadn't, thank you for pointing that out!

On Wed, Nov 6, 2019, 2:43 PM Eric Renaud <notifications@github.com> wrote:

[2019-11-07 09:09] rraue commented on #7859
@Errolyn & @ejregithub But the structured data is now in the demo linked in the issue, so everything looks great there.

[2019-11-07 10:36] alexgibson commented on #8028
@ejregithub I'm not sure I understand what's being asked here. Is the WNP for 71 going to be this template? https://www.mozilla.org/en-US/firefox/whatsnew/all/, or something else? You mention 2 strings, but don't say what those strings are, or where they will be used?

[2019-11-07 15:32] alexgibson commented on #7424
@Patil2099 if you're still interesting in working on this issue, I think we've now given enough time that we can safely remove and redirect the pages.

[2019-11-07 15:41] alexgibson opened #8096 "Decommission old /firefox/all/ pages"
## Description

The new /firefox/all/ page is now [active for 44 locales](https://l10n.mozilla-community.org/langchecker/?locale=all&website=0&file=firefox/all-unified.lang), which represents 94.97% of our l10n user base. Whilst the [old page](https://l10n.mozilla-community.org/langchecker/?locale=all&website=0&file=firefox/all.lang) is still active for more locales (84), it seems doubtful that we

[2019-11-07 16:14] ejregithub opened #8097 "Lockwise CTA button in en only"
## Description

The CTA button on the Lockwise page https://www.mozilla.org/de/firefox/lockwise/ is in English.

In checking the .lang file in Pontoon, the string "Open in Firefox" is not present.

### Steps to reproduce

Got to these URLs and note the CTA button copy is in en-US

https://www.mozilla.org/de/firefox/lockwise/
https://www.mozilla.org/fr/firefox/lockwise/
https://www.mozilla.org/it/f

[2019-11-07 16:33] ejregithub commented on #8097
In the commit it looks like the button simply wasn't wrapped for l10n. @Errolyn can you please take a look at this?

[2019-11-07 16:45] ejregithub commented on #8031
@hoosteeno @sghoseWI - could you please collectively size this work and apply that in the Estimate?

[2019-11-07 17:10] ejregithub commented on #8028
@alexgibson - that's precisely it, that template, yes. I chatted w. Peiying last night and got a better understanding - what you've stated about the strings already being exposed - and asked that she convey the request to the remaining locales to complete the two strings there in the lang file.  I'm closing this issue (as invalid . . .)

[2019-11-07 17:10] #8028 closed

[2019-11-07 19:10] ejregithub opened #8099 "Leadership page update - Roxi image"
## Description

Roxi has a preferred image for her headshot. Please update date that with the attached file and also add it to her zip file

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Have it live by EOD, Pacific Time, on Tuesday November 12th

[2019-11-07 19:11] ejregithub commented on #8099
![RoxiWen_500x500](https://user-images.githubusercontent.com/20547886/68419541-459a3680-014f-11ea-91e5-7431f74ccf50.jpg)

[2019-11-07 19:11] stephaniehobson commented on #7885
Fixed in #8083

[2019-11-07 19:11] #7885 closed

[2019-11-07 21:47] #8033 closed

[2019-11-07 21:58] theaswanson opened #8103 "Running bin/bootstrap.sh on WSL throws error"
## Description

After running `bin/bootstrap.sh` in an Ubuntu environment with the Windows Subsystem for Linux, a traceback is called to `everett/manager.py` complaining about "default value None is not a string." This error can be traced to the `get_default_gateway_linux()` function in `bedrock/settings/base.py` which attempts to return the gateway IP address from `/proc/net/route`.

I believe th

[2019-11-07 23:10] hoosteeno commented on #8030
Our accountable (MEM) approved in person during review meeting.

I have done analytics review (with this [spreadsheet I built](https://docs.google.com/spreadsheets/d/1Wj509WwEnMb1cP8akzUtlbqMo-ALQWXc3mjB8iJwbY4/edit#gid=0), which is so helpful) and can't see any referral bugs.

[2019-11-08 13:45] #7941 closed

[2019-11-08 16:16] rraue commented on #7574
The urls will be:
Main page: /firefox/browsers/compare/
Chrome: /firefox/browsers/compare/chrome/
Safari: /firefox/browsers/compare/safari/
Opera: /firefox/browsers/compare/opera/
Edge: /firefox/browsers/compare/edge/
Internet Explorer: /firefox/browsers/compare/internet-explorer/

[2019-11-08 16:43] ejregithub commented on #7574
@sgarrity ^^ for URLs!

[2019-11-08 17:01] sgarrity commented on #7574
@rraue & @ejregithub Thanks for the URL scheme. I can update accordingly.

Is it acceptable that anyone manually altering the URLs could end up with the partial URL `/firefox/browsers/` that is a 404?

[2019-11-08 17:16] amychurchwell opened #8108 "Default whatsnew page top banner is solid white"
## Description

The banner on the top of the default whatsnew page, `firefox/whatsnew/index.html` is solid white and should be changed to `$color-off-black` to match the background.

<img width="1207" alt="Screen Shot 2019-11-08 at 9 12 49 AM" src="https://user-images.githubusercontent.com/30483988/68496949-4ba01e00-0208-11ea-8e37-377bea54bdd1.png">

<img width="1209" alt="Screen Shot 2019-11-08 a

[2019-11-08 17:17] #8091 closed

[2019-11-08 18:17] amychurchwell commented on #7985
unit tests would also need updating: #8088

[2019-11-08 18:29] ejregithub commented on #7574
We are planning to have a new page at https://www.mozilla.org/firefox/products/browsers, likely by the end of November, which currently redirects to /firefox/

@rraue - should we have /firefox/browsers/, currently the 404 that @sgarrity noted, redirect to that new page /firefox/products/browsers/ when live? Should we do anything in the interim?

[2019-11-08 18:30] hoosteeno opened #8111 "Not getting data on variations for WNP70 experiment"
## Description

We're looking for data coming in from the experiment on WNP70:

https://analytics.amplitude.com/mozilla-corp/chart/new/h7w2u50

Only seeing it from v3 and v4 -- the email-first variations. 0,1,2,5,7 are not sending data. They are all button variations. #8110 addresses one found bug. We should see data coming in from those variations as soon as it lands, or we should urgently debug.

[2019-11-08 18:51] rraue commented on #7574
No, it’s totally fine to be an 404 in the meantime
--
______
Send via mobile

Raphael Raue
Global Head of Seo
www.mozilla.org

twitter.com/raue

[2019-11-08 19:51] #7981 closed

[2019-11-08 20:58] craigcook commented on #8111
#8110 has been deployed to production, the data should be flowing as of this posting. If not, we need to figure out what else might be wrong.

[2019-11-08 21:15] gideonthomas opened #8112 "Subscriber Feedback: "Email preferences don't make sense""
Original issue filed here: https://github.com/mozilla/foundation.mozilla.org/issues/3792

[2019-11-09 00:02] #8099 closed

[2019-11-09 00:15] amychurchwell commented on #7982
I agree that I think it would be confusing as a user to be downloading the english version of the browser when navigating the site on `de`.
could we do a check for: if the page is not localized in their preferred language, we send them to /all, so they can make the call?

I think we should do our best to avoid the potentially frustrating experience of downloading the browser in a language you do n

[2019-11-09 07:40] alexgibson commented on #7982
All download buttons on the site work this way today (give a locale neutral link for the reasons above). I’m not opposed to thinking about different solutions, but I think we should probably do that a site wide level.

Users being unable to get access to builds in their preferred language is a real problem, and I think a bigger one than someone landing on a page not in their language, and getting

[2019-11-09 12:47] imskr commented on #8108
I would like to work on this!

[2019-11-10 16:47] Patil2099 commented on #7424
@alexgibson I will start working on it.

[2019-11-10 19:29] hoosteeno commented on #8111
Data is coming in. #8110 was the fix. 😌

[2019-11-10 19:29] #8111 closed

[2019-11-11 10:31] alexgibson commented on #8059
As part of this I think we should also tackle https://github.com/mozilla/bedrock/issues/7985

[2019-11-11 10:44] alexgibson commented on #8059
Blocked by https://github.com/mozilla/bedrock/issues/7985

[2019-11-11 10:54] alexgibson opened #8116 "Add a link to choose a different language on /firefox/download/thanks/"
## Description

There used to be a "Download in another language" link on /firefox/download/thanks/, but it looks like it was removed in a recent redesign. We should reinstate it to make selecting a different language easier.

### Steps to reproduce

1. Visit https://www.mozilla.org/firefox/ and click download.
2. Once https://www.mozilla.org/firefox/download/thanks/ loads try and select a differe

[2019-11-11 10:55] alexgibson commented on #7982
I filed an issue to add a link to /firefox/all/ on the thanks page: https://github.com/mozilla/bedrock/issues/8116

[2019-11-11 11:58] Shivansh2407 commented on #8116
Where can it be found ? Would like to help in this issue...

[2019-11-11 12:04] Shivansh2407 commented on #8108
Please check this out

[2019-11-11 14:19] imskr commented on #8108
@Shivansh2407 I'm already working on this

[2019-11-11 16:44] #7982 closed

[2019-11-11 17:51] ejregithub commented on #8091
@alexgibson - this dot release and showing a WNP with it has been killed (MEM just sent the email about it). If releng doesn't enable it, the WNP won't be shown, I'm just not sure if anything needs backing out/ removing for clean up on our part.

[2019-11-11 17:53] amychurchwell commented on #8108
@imskr I assigned you to this bug. The file to change is [`media/css/firefox/whatsnew/whatsnew.scss`](https://github.com/mozilla/bedrock/blob/master/media/css/firefox/whatsnew/whatsnew.scss#L63-L65)

Let's remove the background properties from `.main-content` and add a new rule for `.content-wrapper`

[code]

[2019-11-11 17:54] alexgibson commented on #8091
@ejregithub if the update from 70.0 -> 70.0.2 isn't going to trigger a WNP, then I don't think there's any need for us to revert anything in bedrock. People should just continue seeing the regular 70.0 WNP.

[2019-11-11 18:54] amychurchwell opened #8118 "Remove duplicate logo on /firefox/accounts"
## Description

There is a logo duplicate on /firefox/accounts, we should remove the one above the headline.
![image](https://user-images.githubusercontent.com/30483988/68611777-c5861080-046f-11ea-9e25-69686e3ee369.png)

We should remove the logo background property on `.c-accounts-hero-title` in [`firefox/accounts-2019.scss`](https://github.com/mozilla/bedrock/blob/master/media/css/firefox/accoun

[2019-11-11 19:06] imskr commented on #8108
Thanks @amychurchwell I will do it!

[2019-11-11 19:19] imskr commented on #8118
I would like to take this issue!

[2019-11-11 20:24] amychurchwell commented on #8118
@imskr okay, I will assign you this bug.

[2019-11-11 21:35] hoosteeno opened #8120 "Put the new Firefox header on the version-agnostic WNP"
## Description

The version-agnostic WNP at https://www.mozilla.org/firefox/whatsnew/ has a strange header:

![Screen Shot 2019-11-11 at 2 32 54 PM](https://user-images.githubusercontent.com/94519/68622792-3b01d900-0490-11ea-85c9-bc74fab81f28.png)

The Mozilla logo looks out of place in this. We should update the template for this page to match our more recent WNPs:

![Screen Shot 2019-11-11 at 2

[2019-11-11 21:45] amychurchwell opened #8121 "Link back to careers listings on /contact/spaces/"
## Description

Careers links to [/contact/spaces](https://www.mozilla.org/contact/spaces/) from the [locations section](https://careers.mozilla.org/#locations). We should add a link to https://careers.mozilla.org/listings/ filtered by the location of the space

![Screen Shot 2019-11-11 at 1 42 15 PM](https://user-images.githubusercontent.com/30483988/68623329-1c4c1400-0489-11ea-966a-38a8ad4b95f6.

[2019-11-11 21:48] amychurchwell commented on #8120
White background is being fixed in #8108

[2019-11-11 22:42] #8108 closed

[2019-11-11 22:47] amychurchwell commented on #8120
White background has been removed in #8119. Considering that the design already has the Firefox Browser logo above the headline:

Should we replace the headline logo with the master logo and replace the upper-left Mozilla with the browser logo?

[2019-11-12 13:45] alexgibson commented on #8112
We're looking at redesigning this page currently, but given the confusing nature of the current state, I think it makes sense to make a quick fix for this.

[2019-11-12 13:52] #8118 closed

[2019-11-12 14:28] imskr commented on #8121
I want to fix this!  🔧

[2019-11-12 15:45] hoosteeno opened #8126 "Build a new fallback WNP for Tier 1 locales"
## Description

We want to build a new fallback WNP for Tier 1 locales. The "fallback WNP"...

* Is shown to all legacy updaters on versions <67 e.g. visitors to 63.0.3/whatsnew or 33.0/whatsnew.
* 67 is arbitrary, based on the current behavior of the fallback page. For the new page we might decide to use this for all versions < current.
* Is shown to anyone visiting a URL that looks like a whatsn

[2019-11-12 16:36] #8112 closed

[2019-11-12 16:42] alexgibson commented on #8056
An update here: I'm still having issues running Docker, but I'm no longer certain `L10N_CACHE_TIMEOUT` is the cause (I'm still seeing high energy usage even after changing it). I've tried resetting Docker from scratch, clearing caches, pruning images, but so far nothing has worked.

I've resorted to running bedrock locally for now, which is less taxing on my machine. I'll try and set some time asi

[2019-11-12 17:29] hoosteeno opened #8127 "Build a new Moments page about mobile"
## Description

We want to build a new page in the firefox/welcome hierarchy at /firefox/welcome/4. This page will be about mobile. We should assume it will use existing page templates. We should swarm on it until it is done. We should launch in all Tier 1 locales. It should be ready to distribute by  by 12/3.

[Master project doc](https://docs.google.com/document/d/1kDxf9ATASBwh5oMGT-I4iV7VDHmtty

[2019-11-12 17:42] pmac commented on #8056
well that is unfortunate. I was sure that would be the fix since that is the one change that would most affect your local environment when working on non-Fluent pages. What I could do is to split that timeout into separate ones for LANG and Fluent so that we can keep fluent very short for dev and leave LANG very long since it's not needed for dev. Sound good?

[2019-11-12 17:43] pmac commented on #8056
you could try it with the timeout set for 600 (like it was) and see if that brings it back into a more normal range.

[2019-11-12 18:06] alexgibson commented on #8056
I'll give this a test tomorrow and see how long my battery lasts for 👍

[2019-11-12 18:54] Errolyn opened #8128 "Notification messages for successful integrations test do not include build link"
## Description

Notification messages for successful integrations tests do not include build link or number, the initial run message, and failure message includes the link and build number.

### Expected result
It would be great if the current success message:
"bedrock: :tada: SUCCESS: All tests passed: bedrock-integration-tests-oregon-b"
wound be more like the failure message:
"bedrock: :rotating

[2019-11-12 18:55] cgonz0 commented on #7853
Final design for comparison hub.
![BCH_mockup.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/ec87ccbd-b048-401b-b0d5-60515fa869a9)

[2019-11-12 20:36] hoosteeno commented on #8127
In meeting with stakeholders just now, the following decisions were made:

1) We will distribute the new moments page to Tier 1 audiences.
2) We'll segment page visitors by their mobile device status (using UITour)
3a) For visitors with >0 mobile devices, the page will have a Sync CTA at the top, and a mobile app CTA at the bottom
3b) For visitors with 0 mobile devices, the page will have a mobile

[2019-11-12 20:45] #8128 closed

[2019-11-12 21:01] ejregithub opened #8131 "Mobile CTA - Moments page - welcome/4/ - COPY"
## Description

Write copy for the new page in the firefox/welcome hierarchy at /firefox/welcome/4. This page will be about mobile. We should assume it will use existing page templates. We should swarm on it until it is done. We should launch in all Tier 1 locales. It should be ready to distribute by 11/19.

[Master project doc](https://docs.google.com/document/d/1kDxf9ATASBwh5oMGT-I4iV7VDHmttyZRS

[2019-11-12 21:01] ejregithub opened #8132 "Moments page - welcome/4/ - Analytics plan/validation"
Noting campaign value set to:  welcome-4-mobile

[2019-11-12 21:01] ejregithub opened #8133 "Mobile CTA - Moments page - welcome/4/ - DESIGN"

[2019-11-12 21:01] ejregithub opened #8134 "Mobile CTA - Moments page - welcome/4/ - CODE"
**Epic:** #8127

[Master project doc](https://docs.google.com/document/d/1kDxf9ATASBwh5oMGT-I4iV7VDHmttyZRSIN7CU6VNYQ/)

- [x] [Design](https://github.com/mozilla/bedrock/issues/8133#issuecomment-554043869)
- [x] [Analytics ](https://github.com/mozilla/bedrock/issues/8132)
- [x] [Final Copy](https://docs.google.com/document/d/1yZPqkElk3ZqLBqQsSbdjw0mvw17s5kzmvs4MLuMRfS8/edit#)

[2019-11-12 21:10] #8089 closed

[2019-11-12 21:28] Left47 commented on #8127
Added a placeholder for UJ triage: https://bugzilla.mozilla.org/show_bug.cgi?id=1595911

[2019-11-13 00:54] dzingeek opened #8135 "/privacy should use the Metropolis font for headlines"
[/privacy](https://www.mozilla.org/en-US/firefox/privacy/) should use the Metropolis font for headlines

![Screenshot_2019-11-12 Firefox Privacy Promise](https://user-images.githubusercontent.com/3740746/68723278-fa2bc200-056c-11ea-9fa3-28b989bbf8ee.png)

[2019-11-13 01:10] craigcook commented on #8135
This was meant to be fixed in #7965 but it looks like we need a space on [this line](https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/templates/firefox/privacy/index.html#L20). Without that space the output is `mzp-t-firefoxprivacy-promise` so the theme font isn't applying.

[2019-11-13 01:13] dzingeek commented on #8135
ah thanks, @craigcook I still have a hard time searching for things properly in github. Since this is a duplicat I am going to close this one.

[2019-11-13 01:13] #8135 closed

[2019-11-13 01:58] craigcook commented on #8135
It's a valid bug report. The previous fix didn't fix it, but now there's a new fix to hopefully fix it good and proper 😺

[2019-11-13 10:16] alexgibson commented on #8056
I've been working again using Docker this morning, and using a timeout of 600 has made a huge improvement, both in terms of CPU and battery (I'm on 45% battery by lunch as opposed to < 20%). I'm not sure what the best solution is here, but I would say the current default makes (for me at least) using Docker unworkable :(

Is there any way we could optimize what's happening in the background, to ei

[2019-11-13 10:18] #7859 closed

[2019-11-13 10:26] alexgibson opened #8137 "/firefox/mobile/ minor UI issues"
## Description

Two small UI issues on the /firefox/mobile/ page

1. The nav links are out of alignment:

![image](https://user-images.githubusercontent.com/400117/68754861-75d64f00-05ff-11ea-90f3-921c97617553.png)

It looks like this is caused by an overly broad selector, which is putting extra padding on every `<li>` in the page:

[code]

2. The main heading is in Inter, but should be using Metr

[2019-11-13 13:33] sgarrity commented on #7575
@ejregithub  Will this overview page be going live before the individual browser comparison pages? I'm wonder if all six pages should get merged into a single feature-branch to launch together, or if each page should be managed independently?

[2019-11-13 13:58] rtestard opened #8139 "Help Windows 10S users on /new to de-activate the S mode"
## Description

Issue 6367 allowed putting in place a mechanism to detect Windows 10S users so we can quantify them.
https://github.com/mozilla/bedrock/issues/6367#issuecomment-476256394 confirmed that the current detection method in place is now supported by Chromium Edge, which makes it a reliable long term solution to identify Windows 10S users attemtping to download Firefox.

Proposal:
- Lever

[2019-11-13 15:53] alexgibson commented on #8139
Note that we may need to update our UA check for Chromium Edge here: https://github.com/mozilla/bedrock/blob/master/media/js/base/core-datalayer.js#L66

[2019-11-13 16:27] rraue opened #8140 "/firefox/windows-64-bit/ extract strings"
## Description

We should get the /firefox/windows-64-bit/ page ready for localization, so we can scale the SEO traffic to this page. The page has a very good ctr and gets a decent amount of traffic plus the search interest is higher in other countries than the US.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Strings are extracted and available in Pontoon as opt-in for all local

[2019-11-13 16:28] #7898 closed

[2019-11-13 17:16] #8103 closed

[2019-11-13 17:45] peiying2 opened #8142 "Lockwise page contains hard coded string for l10n"
## Description
https://www.mozilla.org/firefox/lockwise/ - change the locale page to de, fr, or it, you will notice the `Open in Firefox` is hard coded.

Describe the issue that you're seeing.

CTA button `Open in Firefox` is not extracted for localization.

### Expected result

Make CTA button `Open in Firefox` localizable

[2019-11-13 17:45] peiying2 commented on #8142
@Errolyn this is the page you prepared for l10n. Not sure if the content was changed later but not followed up with l10n. This needs to be fixed.

[2019-11-13 17:46] alexgibson commented on #8142
I think this may be a duplicate of https://github.com/mozilla/bedrock/issues/8097

[2019-11-13 17:58] ejregithub commented on #7575
@sgarrity - These can/should go separately as they become r+ed, please. They're not dependent (no internal links) on one another. We may look to change that when they're all live, but that is TBD.

[2019-11-13 18:16] amychurchwell commented on #8120
Closing because I believe this issue is now resolved:
<img width="1404" alt="Screen Shot 2019-11-13 at 10 15 05 AM" src="https://user-images.githubusercontent.com/30483988/68791629-8934ea80-05fe-11ea-839b-6057d75eaafc.png">

[2019-11-13 18:16] #8120 closed

[2019-11-13 18:16] peiying2 commented on #8142
Thanks for point it out. Close this issue.

[2019-11-13 18:16] #8142 closed

[2019-11-13 18:47] amychurchwell opened #8143 "Create generic FxA product button python helper"
## Description

`Mozilla.FxaProductButton` is used with the `monitor_button` macro. As we create more product buttons (monitor, pocket, .etc.) that use FxA metrics flow requests, it no longer makes sense for these buttons to be macros.

We should create a python helper that has product link generation functionality (`monitor.firefox.com`, `getpocket.com`, .etc.) with accompanying unit tests.

[2019-11-13 18:52] alexgibson commented on #8143
I'm already working on this in https://github.com/mozilla/bedrock/issues/8059

[2019-11-13 18:57] #7985 closed

[2019-11-13 19:05] amychurchwell commented on #8143
@alexgibson okay, sounds good. It's not clear by that issue's title that this specific work would happen, feel free to close this if redundant. 🙂

[2019-11-13 19:10] alexgibson commented on #8143
I think we can chalk up part of making this button code work across products like Pocket and Monitor is some refactoring work. I’ll add making it a Python helper as a task in the other issue. Thanks!

[2019-11-13 19:10] #8143 closed

[2019-11-13 19:56] jgmize opened #8144 "Link to gitlab pipeline in #www-notify on Mozilla slack at beginning"
## Description

We currently get notified (for [example](https://mozilla.slack.com/archives/CBX0KH5GA/p1573673454011200)) at the end of a pipeline, but would like to get a notification when the pipeline starts (potentially at each stage of the pipeline) similar to the existing Jenkins pipelines.

[2019-11-13 20:56] pmac commented on #8056
Great! that's fantastic info. I'll get a PR together that gets us back to the 600s (or longer) timeout for the langfile translations. Thanks!

[2019-11-13 21:53] hoosteeno opened #8147 "Design/Copy for fallback WNP"
## Description

Design and produce copy (and get all required approvals) for a fallback WNP. Use prior art wherever possible (e.g. prior WNPs, experiment outcomes, and design systems). Work with websites dev team to understand the implications of any components outside the bounds of prior art.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Designs and copy are approved and attache

[2019-11-14 00:33] ejregithub opened #8148 "(11/21) - Sync Moments Page - Welcome/3/"
## Description

Create a new Moments page with CTA for Sync leveraging the content from the v7 winning variant in the WNP 70 test and inserting that to the Welcome pages template layout.

[Copy](https://docs.google.com/document/d/1YWNIG5jJ-daKTZWXUaiVRivsnUjGK72YGsJOqhBW1R8/edit#)

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Ready to distribute by 11/21
- [x] About Sync
- [x] Lo

[2019-11-14 00:35] #8137 closed

[2019-11-14 00:50] ejregithub opened #8149 "Sync CTA - Moments page - welcome/3/ - COPY"
Copy is coming wholly based on the [v7 WNP](https://www.mozilla.org/en-US/firefox/70.0/whatsnew/all/?v=7) and inserted in the Moments pages template.

[2019-11-14 00:52] ejregithub opened #8150 "Sync CTA - Moments page - welcome/3/ - Analytics plan/validation"
Noting campaign value set to: welcome-3-sync

[2019-11-14 00:52] ejregithub opened #8151 "Sync CTA - Moments page - welcome/3/ - DESIGN"

[2019-11-14 00:53] ejregithub opened #8152 "Sync CTA - Moments page - welcome/3/ - CODE"
https://bedrock-demo-craigcook.oregon-b.moz.works/en-US/firefox/welcome/3/

[Copy](https://docs.google.com/document/d/1YWNIG5jJ-daKTZWXUaiVRivsnUjGK72YGsJOqhBW1R8/edit#)

- [ ] Is live at /welcome/3/
- [ ] Is localized to Tier One, strings extracted to Pontoon

[2019-11-14 10:16] #8074 closed

[2019-11-14 13:49] alexgibson commented on #8059
Instrumentation for this buttons on this page is as follows:

Primary button
---------------

- `entrypoint`: `mozilla.org-firefox-pocket`
-  `s`: `ffpocket`
- `data-cta-text`: `Try Pocket Now`
- `data-cta-type` : `activate pocket`
- `data-cta-position`: `primary`

Secondary Button
------------------

- `entrypoint`: `mozilla.org-firefox-pocket`
-  `s`: `ffpocket`
- `data-cta-text`: `Try Pocket No

[2019-11-14 14:41] #8056 closed

[2019-11-14 16:35] #8044 closed

[2019-11-14 16:41] alexgibson opened #8155 "Deprecate bedrock's UITour API documentation"
## Description

UITour is now documented in-tree in mc, and published automatically here: https://firefox-source-docs.mozilla.org/browser/components/uitour/docs/UITour-lib.html

We should remove bedrock's [existing UITour documentation](https://bedrock.readthedocs.io/en/latest/uitour.html), and link to the new source instead.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Document

[2019-11-14 18:55] amychurchwell commented on #8134
QR Code as fallback for locales `send_to_device` is not available in:
https://github.com/mozilla/bedrock/issues/8040#issuecomment-547530892

[2019-11-14 19:33] cgonz0 commented on #8133
@amychurchwell Final design
![Momentsv3_mockup.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/57e011f1-ff2b-40f4-a10c-fc91797c5342)

[2019-11-14 21:46] #8131 closed

[2019-11-14 21:46] ejregithub commented on #8134
@amychurchwell - can you please apply a size estimate to your work here?

[2019-11-15 05:13] ejregithub opened #8157 "Lockwise CTA - Moments page - Welcome/5/"
## Description

We need create a Moments page the promotes the benefits of password safety in Lockwise, in particular benefit to customers in which the product makes passwords safe and easy.

[Copy ](https://docs.google.com/document/d/1oJIQUP7fhWExfjbRhE6HyeW1wF_paP5gK0wl7KHbHHY/edit)(from Natalie)
CTA: Get Lockwise for mobile
PMM messaging (as reference):
- Protect yourself from hackers, directly

[2019-11-15 09:45] alexgibson commented on #8026
@ejregithub what's the reasdon this issue is blocked?

[2019-11-15 10:34] alexgibson commented on #8026
@ejregithub this is up on demo: https://www-demo1.allizom.org/en-US/firefox/71.0/whatsnew/all/

I'll hold off on extracting strings & code review until the blocker is removed here. Thanks

[2019-11-15 10:36] alexgibson commented on #8026
@ejregithub note that the description in the rel eng bug no longer matches the ask here. You may want to update in bugzilla to avoid confusion on their end?

[2019-11-15 10:48] alexgibson opened #8160 "/firefox/election page does not redirect trailing slash"
## Description

The /firefox/election/ page is available at 2 URLs:

https://www.mozilla.org/en-US/firefox/election
https://www.mozilla.org/en-US/firefox/election/

### Steps to reproduce

Visit https://www.mozilla.org/en-US/firefox/election

### Expected result

It should redirect to https://www.mozilla.org/en-US/firefox/election/

### Actual result

The page is rendered without the trailing slas

[2019-11-15 11:52] Shivansh2407 commented on #8160
Working on it

[2019-11-15 16:32] groovecoder opened #8163 "URL params to Monitor seem to come in double-encoded?"
## Description

URL params to Monitor seem to come in double-encoded?

### Steps to reproduce

Look at Monitor's GA report for traffic sources.

### Expected result

In GA, should see the traffic as `Referral` medium with Source of `firefox-home`.

### Actual result

<img width="696" alt="image" src="https://user-images.githubusercontent.com/71928/68958923-b1ede900-0792-11ea-8928-578acb8d9cbc.png"

[2019-11-15 16:37] alexgibson commented on #8163
Thanks for the report, Luke!

Looks like this may be the cause: https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/templates/firefox/home/index-master.html#L39

[2019-11-15 16:38] #8152 closed

[2019-11-15 16:55] #8160 closed

[2019-11-15 17:01] alexgibson opened #8164 "/firefox/accounts/ page renders at multiple URLs"
## Description

Any URL that falls under /firefox/accounts/ will render the top level template.

### Steps to reproduce

All these URLs render the same template:

- https://www.mozilla.org/en-US/firefox/accounts/
- https://www.mozilla.org/en-US/firefox/accounts/foo/
- https://www.mozilla.org/en-US/firefox/accounts/foo/bar/

### Expected result

- https://www.mozilla.org/en-US/firefox/accounts/ [20

[2019-11-15 17:09] #8096 closed

[2019-11-15 18:51] #8097 closed

[2019-11-15 19:05] #8059 closed

[2019-11-15 19:21] amychurchwell opened #8167 "Convert Monitor buttons to new FxA product button Python helper."
## Description

The work done in #8154 added a dedicated [Python helper for creating FxA product buttons.](https://github.com/mozilla/bedrock/blob/master/bedrock/mozorg/templatetags/misc.py#L723-L742)

We should convert the Monitor buttons to use the new helper.

Same task for Sync buttons: #8185

---
#### Tasks
- [x] Convert Monitor buttons (`monitor_button`) to the new Python helper.
- [x] Write

[2019-11-15 20:54] amychurchwell commented on #8121
@imskr sounds good! Let's add a link in the same style as "Get it on our support site" below that reads: "View open positions at this location"

[2019-11-15 22:50] #8164 closed

[2019-11-17 03:21] Shivansh2407 commented on #8163
Can I fix this file @alexgibson Sir?

[2019-11-18 00:23] amychurchwell opened #8170 "`mobile-protocol.scss` to use protocol color tokens."
## Description

`mobile-protocol.scss` has defined it's own [color variables](https://github.com/mozilla/bedrock/blob/master/media/css/firefox/mobile-protocol.scss#L18-L22):
[code]
we should replace these with [protocol colors](https://protocol.mozilla.org/fundamentals/color.html).

- `$fx-body` is a dupe of `$color-gray-80`
- `$fx-purple` is a dupe of `$color-off-black`

[2019-11-18 09:16] alexgibson commented on #8070
This experiment is now turned off as requested by @hoosteeno:

Date range
-----------

Nov 4th - Nov 18th

Conversion rate:
----------------
a. Original variation: 67.04%
b. Skyline branding: 66.49% (confidence 85.78%)
c. A/A: 66.86% (confidence 63.78%)

[2019-11-18 09:16] #8070 closed

[2019-11-18 09:20] alexgibson commented on #8058
Initial resulas are here: https://github.com/mozilla/bedrock/issues/8070#issuecomment-554925744

The Convert report can be seen here: https://app.convert.com/#/projects/1003343/experiments_report/10031827

@hoosteeno please make sure to archive the experiment once the analysis is closed out. Thanks

[2019-11-18 09:21] #7688 closed

[2019-11-18 09:37] alexgibson commented on #8167
Note: I think we should probably do this as two separate pull requests to help keep scope & review small.

[2019-11-18 09:39] alexgibson commented on #8163
@Shivansh2407 please go ahead, thanks!

[2019-11-18 09:49] alexgibson commented on #7424
@Patil2099 please let me know if you're actively working on this, else I'd like to pick it up and get it done soon. Thanks again

[2019-11-18 10:57] alexgibson opened #8172 "/whatsnew pages should extend from a noindex template"
## Description

By default, /whatsnew pages used to extend from a template that included a `noindex` meta tag. Looking at the pages we're maintaining currently, it looks like none of them contain such a tag, and all are extending from the default Firefox base template.

[2019-11-18 12:34] Shivansh2407 commented on #8170
So basically We should write like $color-gray-80 instead of $fx-body: #42425A; or anything else?

[2019-11-18 12:56] rraue opened #8174 "Redirect /desktop to /new"
## Description

Currently /firefox/desktop/ is redirected to /firefox/ but with the change of this page the better destination is /new as this page is all about the desktop browser and /firefox isnt anymore. Several of our subdomains and external pages are still linking to /desktop/

If I see this right in https://github.com/mozilla/bedrock/issues/4963 there have been some subpages, which should b

[2019-11-18 14:13] alexgibson commented on #6726
@hoosteeno given the reasons outlined above, I'd like to propose that we remove this feature from bedrock. We have newer, more easily reusable [notification components](https://protocol.mozilla.org/patterns/molecules/notification-bar.html) available in designs today that aren't as intrusive, should we ever want to revisit this type of feature.

Thoughts?

[2019-11-18 15:09] alexgibson commented on #7860
Mobile page is live, closing

[2019-11-18 15:09] #7860 closed

[2019-11-18 15:09] alexgibson commented on #7861
All dependencies here look to be complete

[2019-11-18 15:09] #7861 closed

[2019-11-18 15:14] alexgibson commented on #7551
Looks like the macro now defaults to `form-type='button'`, so I think somewhere along the road this got fixed: https://github.com/mozilla/bedrock/blob/master/bedrock/base/templates/macros.html#L203

[2019-11-18 15:14] #7551 closed

[2019-11-18 15:18] alexgibson commented on #6762
The updated /mobile page no longer features Focus, closing.

[2019-11-18 15:18] #6762 closed

[2019-11-18 15:25] alexgibson commented on #6258
I'm going to close this as a wontfix - sandstone is almost gone.

[2019-11-18 15:25] #6258 closed

[2019-11-18 15:29] alexgibson commented on #7589
This was done recently in https://github.com/mozilla/bedrock/pull/8104

[2019-11-18 15:29] #7589 closed

[2019-11-18 15:33] rraue commented on #8020
Actionable audit list here: https://docs.google.com/spreadsheets/d/1yKTe1fQD4Wz_2AOs29RRR5-QkdQt44QUsbfmvQho54w/edit#gid=44879094

[2019-11-18 15:33] #8020 closed

[2019-11-18 15:33] amychurchwell commented on #8170
@Shivansh2407 yes, we should delete these custom variables and replace them with the protocol tokens. The other colors aren't the exact value but very close to what we already have.

`$fx-pink: #FF2889;` could be replaced with `$color-pink-50`, for example.

[protocol color docs](https://protocol.mozilla.org/fundamentals/color.html)

Want me to assign you this bug?

[2019-11-18 15:45] Shivansh2407 commented on #8170
Yes assign it to me.

[2019-11-18 16:48] #8000 closed

[2019-11-18 17:05] ejregithub commented on #7576
Noting that brand review has occurred (Tim and Natalie).

[2019-11-18 17:51] ejregithub opened #8177 "(11/21) SOM 2018"
## Description

Description, good enough that reading the card 1 month from now, you still know what it means.

---

Description: Create new State of Mozilla page for 2018 following format of previous years (URL structure and content layout).

Deliverables for requestor (Erica):

Content for:
- https://www.mozilla.org/foundation/annualreport/2018/

Additional content items:
- 2018 Audited financia

[2019-11-18 18:15] ejregithub opened #8178 "Global FxA CTA in site nav - specify the experiment"

[2019-11-18 18:16] ejregithub opened #8179 "Global FxA CTA in site nav"
We want to build a global FxA CTA to show on our busiest pages to promote FxA features and drive FxA MAU. We can use the existing foundation promotion banner and the WNP70 v7 copy/CTA as a jumping off point.

## Success Criteria ##
- [ ] Pages for this treatment are identified
- [ ] Measurement/analytics plan is established
- [ ] Copy and design are approved by RASCI
- [ ] Promotional banner is li

[2019-11-18 18:16] ejregithub opened #8180 "Build analytics plan & validate analytics implementation: Global FxA CTA"
In https://github.com/mozilla/bedrock/issues/8183 we will build a global FxA CTA. We need to specify how we'll measure it and then test the implementation to be sure it is sending the right data.

[2019-11-18 18:16] ejregithub opened #8181 "launch and monitor - Global FxA CTA in site nav"

[2019-11-18 18:16] ejregithub opened #8182 "analyze and report findings - Global FxA CTA in site nav"

[2019-11-18 18:16] ejregithub opened #8183 "Global FxAccount CTA in site navigation"
## Description

The project here is to determine if replacing the site-wide "Get a Firefox Account" nav with a site-wide promotional block that will reach the same size audience but talks more about Firefox Accounts benefits will result if more conversions (hopefully leading to ^ MAU for FxA). If it does, we'll deploy the winning variation.

Determine experimentation scope and plan, deploy test. M

[2019-11-18 18:21] ejregithub opened #8184 "Implement any changes based on recommendations from analysis - Global FxA CTA in site nav"

[2019-11-18 18:26] amychurchwell opened #8185 "Convert Sync buttons to new FxA product button Python helper."
## Description

The work done in #8154 added a dedicated [Python helper for creating FxA product buttons.](https://github.com/mozilla/bedrock/blob/master/bedrock/mozorg/templatetags/misc.py#L723-L742)

We should convert the Sync buttons to use the new helper.

Same task for Monitor buttons: #8167

---
#### Tasks
- [ ] Convert Sync buttons (`fxa_cta_link`) to the new Python helper.
- [ ] Write test

[2019-11-18 18:27] amychurchwell commented on #8167
@alexgibson Agreed! I broke up the work into two issues. (https://github.com/mozilla/bedrock/issues/8185)

[2019-11-18 18:27] alexgibson commented on #7698
All dependencies for this epic are completed, closing.

[2019-11-18 18:27] #7698 closed

[2019-11-18 20:37] #7821 closed

[2019-11-18 20:47] ejregithub commented on #7850
@amychurchwell - this is now on for 12/3 go live. Tony indicated final edits were coming forth we expected delivery today (11/18).

[2019-11-18 20:54] ejregithub opened #8186 "Code - newsletter subscription preferences page UI updates"
## Description

In #7620 the new design was established for the newsletter subscription preferences page. This is the issue to code and implement those changes

[brief](https://docs.google.com/document/d/1ahtsCMOlf3tBNFnW11qehTLPK1ER-4XycKY40HQ3B_Y/edit).

Consult @cgonz0 for more detail on the updates
---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Updates are live
- [ ] the page i

[2019-11-18 20:59] ejregithub commented on #8186
![emal_preferences_approved](https://user-images.githubusercontent.com/20547886/69093407-3a72c080-0a03-11ea-91fc-a8cb59d77d26.png)

[2019-11-19 00:40] ejregithub commented on #8026
@alexgibson - removing the blocker based on the report in which "v=7 (promoting a Sync button, new copy, and new icons) was the clear winner." - https://docs.google.com/document/d/1y-iJNSRp6QmxRHnpgce8l5uMCbzReDbSmA6pSmMwwQM/edit#

[2019-11-19 00:48] sghoseWI commented on #8030
Experiment report: https://docs.google.com/document/d/1y-iJNSRp6QmxRHnpgce8l5uMCbzReDbSmA6pSmMwwQM/edit#

[2019-11-19 01:00] sghoseWI commented on #8034
Experiment report: https://docs.google.com/document/d/1y-iJNSRp6QmxRHnpgce8l5uMCbzReDbSmA6pSmMwwQM/edit#

[2019-11-19 05:00] Patil2099 commented on #7424
@alexgibson I will make a PR within 12 hours.

[2019-11-19 05:14] ejregithub commented on #8149
Closing, page is live, minor copy change, plenty of time spent figuring that out . ..

[2019-11-19 05:14] #8149 closed

[2019-11-19 05:15] ejregithub commented on #8151
Invalid, no design changes were made in reusing the moments pages template

[2019-11-19 05:15] #8151 closed

[2019-11-19 05:18] ejregithub commented on #8150
@sghoseWI - when you get a chance could you please add the link to Amplitude for this welcome/3/ page in the corresponding area in [this page in mana](https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=109974418) under 'Performance Data'? - (or just send the link to me.)

[2019-11-19 05:18] #8150 closed

[2019-11-19 09:11] #7983 closed

[2019-11-19 10:40] alexgibson commented on #8026
@hoosteeno @ejregithub before I go and extract strings, I'd like to request that the content is approved on demo (by whoever needs to approve this page):

https://www-demo1.allizom.org/en-US/firefox/71.0/whatsnew/all/

In particular, I feel I should highlight that this page only has a single conditional state (signed out). If we move forward with this, I'd like to try and avoid a fire drill when s

[2019-11-19 11:32] ManthanKeim commented on #7666
@alexgibson sir, as I saw the privacy contents are dynamically loaded, can you please help me locate the file locally so that I can add the meta content to them.

[2019-11-19 15:38] hoosteeno opened #8188 "Experiment: "Download" in de"
## Description

We want to test whether "Download" works as well or better for German audiences. We can use Convert to create this experiment.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Experiment plan built
- [x] Experiment built
- [x] Experiment reviewed and deployed on prod
- [x] Traffic going to experiment
- [x] Experiment report complete

[2019-11-19 15:38] hoosteeno commented on #8188
Experiment plan here: https://docs.google.com/document/d/1OjLWbTfsK8scIDochAnBsU_kwwC4yF1S-u1CyotL1RM/edit

[2019-11-19 15:39] hoosteeno commented on #8188
Experiment built here: https://app.convert.com/#/projects/1003343/summary/10032269

[2019-11-19 15:40] hoosteeno commented on #8188
@rraue can you review?

@alexgibson can you review?

[2019-11-19 15:58] alexgibson commented on #8188
I tested the experiment on staging and it works as expected. I've approved it to run in production (adding the prod URL). One open question: does this experiment need an A/A variation? This seemed to be something you wanted in the previous test.

Finally, I'll need to enable a redirect for /de/firefox/new/. What % of traffic would you like this to be?

Thanks

[2019-11-19 16:04] hoosteeno commented on #8188
After watching the A/A on the prior test (our first), I don't think it's a strict requirement. Thanks for asking.

I've asked @sghoseWI to fill that out in the plan. I suspect the number is roughly 3% per variation, which would mean 6% overall.

[2019-11-19 16:25] hoosteeno commented on #8126
In meeting last week, accountable stakeholders agreed to a general content strategy for this page.

1. Use the same content as on v7 of the WNP test, which is also going to WNP71.
2. Include a link to upgrade instructions.
3. Trim the secondary content, which is less "evergreen".

@antlam is working on the layout/designs for this.

[2019-11-19 16:26] hoosteeno commented on #8147
In meeting last week, accountable stakeholders agreed to a general content strategy for this page.

    Use the same content as on v7 of the WNP test, which is also going to WNP71.
    Include a link to upgrade instructions.
    Trim the secondary content, which is less "evergreen".

@antlam is working on the layout/designs for this.

[2019-11-19 16:34] hoosteeno opened #8189 "Cleanup WNP70 experiment"
## Description

We've finished the experiment on WNP70, and can turn it off and remove variations associated with it.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] WNP70 experiment is turned off
- [ ] Variations of WNP70 are removed from production site

[2019-11-19 16:38] antlam commented on #8147
![Screen Shot 2019-11-13 at 2 09 59 PM](https://user-images.githubusercontent.com/1994820/69166139-9d1d9800-0aa7-11ea-9fa2-b69171f025b0.png)

Disclaimer: Green notification copy may not align with content guidelines, just placeholder text. Will need to update this to align with the boilerplate language/ guidelines

I mocked this up quickly using existing UI and the Inspector so hopefully I've repu

[2019-11-19 17:21] #8040 closed

[2019-11-19 17:23] ejregithub commented on #8026
@alexgibson - Lindsey gave the go ahead in Slack with the comment "Ship it!"

[2019-11-19 17:25] hoosteeno commented on #6726
Yes, let's remove it. Thanks.

See also: https://github.com/mozilla/bedrock/issues/8147

[2019-11-19 17:25] antlam commented on #8147
Let's try the grey notification from here https://protocol.mozilla.org/patterns/molecules/notification-bar.html

with the text:

[2019-11-19 17:34] rraue commented on #8188
Anika and I reviewed and it looks like intended

[2019-11-19 19:00] hoosteeno commented on #7561
@amychurchwell do you think this issue is still likely to get attention in the current sprint?

[2019-11-19 19:04] hoosteeno commented on #8035
Brief in development here: https://docs.google.com/document/d/1pFdPpjwalN74B0_HD5zem2P_51AvFlu4SJiOwS-v5u4/edit?ts=5dd3fb3b

[2019-11-19 19:27] ejregithub commented on #7850
Removing blocker, final edits are available.

[2019-11-19 19:45] ejregithub opened #8190 "[11/27] Show EOY Fundraising banner"

[2019-11-19 19:45] ejregithub opened #8191 "[12/5] Remove EOY Fundraising banner"
## Description

Take en, fr and de copy from MoFo; integrate into fundraising banner; switch on for DE , EN, FR on the homepage only during 2 periods:

Nov. 27- Dec. 4 for Giving Tuesday
Dec. 24 - Jan 1 for EOY

May need integration with other banners we may build at the same time.

[Copy](https://docs.google.com/document/d/1VQwpJKfBBFZnNzYtme4XxxuSX1CbMp4mDQ4BOvrSEhM/edit)

---

#### :yellow_hear

[2019-11-19 19:46] ejregithub opened #8192 "[12/24] Show EOY Fundraising banner"

[2019-11-19 19:46] ejregithub opened #8193 "[01/01/2020] Remove EOY Fundraising banner"

[2019-11-19 19:46] ejregithub opened #8194 "EOY fundraising banner on homepage"
## Description

Take en, fr and de copy from MoFo; integrate into fundraising banner; switch on for DE , EN, FR on the homepage only during 2 periods:

Nov. 27- Dec. 4 for Giving Tuesday
Dec. 24 - Jan 1 for EOY

May need integration with other banners we may build at the same time.

[Copy](https://docs.google.com/document/d/1VQwpJKfBBFZnNzYtme4XxxuSX1CbMp4mDQ4BOvrSEhM/edit)

---

#### :yellow_hear

[2019-11-19 19:47] ejregithub opened #8195 "[11/27] Show EOY Fundraising banner"
## Description

Take en, fr and de copy from MoFo; integrate into fundraising banner; switch on for DE , EN, FR on the homepage only during 2 periods:

Nov. 27- Dec. 4 for Giving Tuesday
Dec. 24 - Jan 1 for EOY

May need integration with other banners we may build at the same time.

[Copy](https://docs.google.com/document/d/1VQwpJKfBBFZnNzYtme4XxxuSX1CbMp4mDQ4BOvrSEhM/edit)

---

#### :yellow_hear

[2019-11-19 19:59] ejregithub opened #8196 "Build the WNP fallback using Fluent"
## Description

The fallback WNP needs to be built using Fluent for localized content

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is live and fully localized using Fluent for Tier 1 locales.
- [ ] Non Tier 1 locales see the existing default /whatsnew page (mobile promo).

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] Full Fluent L10n workflow is not ye

[2019-11-19 20:05] #8031 closed

[2019-11-19 20:05] #8032 closed

[2019-11-19 20:13] amychurchwell commented on #7561
@hoosteeno was not planning to give this attention before the 22nd. Will begin work on this in the next sprint if that works.

[2019-11-19 20:39] ejregithub opened #8197 "(12/3 - 5:15am PT) FPN - Update Term and Privacy pages - take live"
## Description

This issue is for the work required to take the updated FPN 'terms' and 'privacy' pages live on the launch date. The content updates were done in #7850 and the PR in the private repo is https://github.com/mozilla/bedrock-private/pull/81

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Pages are live around 5:15am PT on Tuesday, December 3rd

#### Tasks
- [x] Import c

[2019-11-19 20:40] ejregithub commented on #8197
@alexgibson -here's the card to take the updated terms and privacy page for FPN live on the appointed date of 12/3

[2019-11-19 20:51] hoosteeno opened #8198 "Build a sync-optional FxA signup flow"
## Description

Versions of Firefox >=71 can use a sync-optional signup flow. The sync-optional flow allows people to choose whether to sign in their current browser to sync when they sign in/up for FxA.

We should make sure our macros are ready for this flow.

The flow is enabled by removing `service=sync` from the parameters on FxA links, but that will only work on Fx71+, so it has to be conditi

[2019-11-19 21:14] sghoseWI commented on #8132
<button class="js-modal-link mzp-c-button mzp-t-product" data-cta-position="primary" data-cta-type="button" data-cta-text="Get the Firefox App">

<a href="https://support.mozilla.org/kb/firefox-browser-welcome-pages/?utm_source=mozilla.org-firefox-welcome-4&amp;utm_medium=referral&amp;utm_campaign=welcome-4-mobile&amp;entrypoint=mozilla.org-firefox-welcome-4">Why am I seeing this?</a>

[2019-11-20 03:03] ejregithub commented on #7887
@craigcook - we're back on here, need to assign WNP70.0 content here for  https://www.mozilla.org/firefox/72.0beta/whatsnew/  (I believe the /all applies here now, too).

I confirmed with JLund earlier, that releng could swing this, and filed [the bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1597873) with them.

Please note the need-by date. Apologies for derailing you from your Protocol work

[2019-11-20 07:17] alexgibson commented on #7840
Developer portal is now live https://developer.mozilla.com/

[2019-11-20 15:25] hoosteeno commented on #8178
Closing. I don't think this will be a controlled experiment.

[2019-11-20 15:26] #8178 closed

[2019-11-20 15:26] hoosteeno commented on #8182
Closing. This won't be a controlled experiment.

[2019-11-20 15:26] #8182 closed

[2019-11-20 17:44] #8030 closed

[2019-11-20 17:49] ejregithub commented on #7576
Flagging that copy is still in flux here (@rraue commented on this). @rantley can you please provided status?

[2019-11-20 17:50] #7853 closed

[2019-11-20 17:52] #8005 closed

[2019-11-20 17:53] #8034 closed

[2019-11-20 17:54] #8132 closed

[2019-11-20 17:54] #8133 closed

[2019-11-20 17:56] #8022 closed

[2019-11-20 17:57] hoosteeno commented on #8181
This won't be a controlled experiment.

[2019-11-20 17:57] #8181 closed

[2019-11-20 17:58] hoosteeno commented on #8184
This won't be a controlled experiment.

[2019-11-20 17:58] #8184 closed

[2019-11-20 18:50] rantley commented on #7576
As discussed those comments pertain to the comparison overview page, not this one.

[2019-11-20 19:08] rantley commented on #7577
@rraue for your review sir. This is my first draft of Firefox vs Safari.

https://docs.google.com/document/d/1KpxsHVtge3bk5l8BYHz4E_UpWI4PR6sYcx5ZdTAifrI/edit#

[2019-11-20 19:16] hoosteeno opened #8200 "Update UITour to take advantage of new capabilities"
## Description

The UITour API in Firefox has been improved ([bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1548404)). Implementers can now learn what FxA services a particular client has authorized. This will be helpful for marketing segmentation. We should update our UITour library to use these new features.

Important: These new capabilities will be present in Firefox 72+. Our work on the U

[2019-11-20 19:24] hoosteeno opened #8201 "Replace generic FxA flows with sync-optional flow"
## Description

After https://github.com/mozilla/bedrock/issues/8198 lands, we should replace any generic FxA registration flows with the sync-optional flow. This includes:

* /firefox/accounts/
* global nav
* others?

The specifications are:

In "account generic" flows like the top nav (but not in service-specific flows like sync or monitor)...
* For Fx71+, leave off the service parameter
* For F

[2019-11-20 22:31] #8127 closed

[2019-11-21 03:32] hoosteeno commented on #8188
@alexgibson from the plan:

[2019-11-21 10:02] alexgibson commented on #8188
Pull request to redirect 7% of traffic from /de/firefox/new/

https://github.com/mozmeao/www-workers/pull/5

[2019-11-21 10:07] alexgibson commented on #8188
I have the redirector running on stage https://www.allizom.org/de/exp/firefox/new/

I'll wait for a review from Josh before turning it on in prod later today.

[2019-11-21 14:01] rraue opened #8203 "Build analytics plan & validate analytics implementation: /new SEO update"
We will rebuild for SEO reasons /new. Top part of the page will stay the same, but below the fold we will add more content including links to other products. We need to specify how we'll measure it and then test the implementation to be sure it is sending the right data.

Brief: https://docs.google.com/document/d/1pFdPpjwalN74B0_HD5zem2P_51AvFlu4SJiOwS-v5u4/edit?ts=5dd56592

- [ ] Risk plan (when

[2019-11-21 16:49] hoosteeno commented on #8188
@alexgibson Since both variations need 7%, we should redirect 14%.

[2019-11-21 16:56] #8134 closed

[2019-11-21 17:09] #7887 closed

[2019-11-21 17:15] ejregithub opened #8205 "COPY - Browser Comparison SEO Overview page: Compare Web Browsers"
## Description

The idea is to provide a one-stop content resource that compares Firefox against our top five competitors in the market. This will consist of one main overview page that provides an intro and overview graphic, and that then links to the five sub-pages (repurposing SEM content) comparing Firefox side-by-side against competitors.

[Original brief](https://docs.google.com/document/d/1

[2019-11-21 17:25] #8177 closed

[2019-11-21 17:33] alexgibson commented on #8188
This experiment is now running in production

[2019-11-21 17:46] rraue commented on #7577
@rantley reviewed, just minor change requests.

[2019-11-21 18:00] ejregithub commented on #7576
@hoosteeno - could you please review the copy here before I pass to Legal?

[2019-11-21 18:15] cgonz0 commented on #7853
Updated table data from [source of truth](https://docs.google.com/spreadsheets/d/1jlttswF282a9oOQAY7fDCQd44EDCwfxnqVlsht3FRXg/edit#gid=1512926430).

![BCH_mockup_updatedtables.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/26988a96-3e7e-4255-bfae-b43abf963005)

[2019-11-21 23:17] sghoseWI commented on #8058
Experiment Report: https://docs.google.com/document/d/10l6_Vye2U4VB8lnb5oRftkFbdLqEeE_MbP_-loeb5z8/edit#

[2019-11-22 09:30] alexgibson commented on #8058
Analysis is done here, closing

[2019-11-22 09:30] #8058 closed

[2019-11-22 09:30] #7857 closed

[2019-11-22 09:31] alexgibson commented on #7504
All dependencies are closed here, and we're now running the second CRO experiment. Closing this epic!

[2019-11-22 09:31] #7504 closed

[2019-11-22 09:37] #8189 closed

[2019-11-22 09:38] #8116 closed

[2019-11-22 14:22] rraue opened #8209 "Research: pulling "what's new" snippet into websites"
## Description

For future developement I would like to know if its possible and what would be the scope to pull in data like these snippets form releasenotes and/or the in-product snippet into /new or WNP or /firefox:

Releasenotes
<img width="1255" alt="Screenshot 2019-06-06 at 16 59 51" src="https://user-images.githubusercontent.com/36700618/69433081-357f7b00-0d3b-11ea-87ad-5dd3e54c22b3.png">

[2019-11-22 14:40] alexgibson commented on #8209
As discussed, I'm sure it would be possible to pull in a snippet from the latest releasenotes, but we might not have something that can do this readily available. Maybe @pmac can help advise here?

As for the whatsnew panel that's in-product, we'd need to do some reasearch and possibly contact the product team about where that data comes from. An initial search suggests those strings are baked [in

[2019-11-22 16:07] #8026 closed

[2019-11-22 17:46] k88hudson commented on #8209
Hey friends, what's new panel works with the Standard Message Format under the Firefox Messaging System, and definitions for these messages are shipped to the browser via Remote Settings. The messages are pretty much just raw JSON. Here's an example in local test provider: https://searchfox.org/mozilla-central/source/browser/components/newtab/lib/PanelTestProvider.jsm#103

Feel free to reach out t

[2019-11-22 17:47] k88hudson commented on #8209
(sorry for the drive-by)

[2019-11-22 17:55] alexgibson commented on #8209
Thanks @k88hudson - this is really useful info 👍

[2019-11-22 20:21] pmac commented on #8209
If those messages are publically available as JSON somewhere we could definitely pull in that data and use it. Release notes data comes in the form of data files in the [release notes repo](https://github.com/mozilla/release-notes/), which is populated from data entered into nucleus.mozilla.org.

The exact line you highlighted from the 67.0.1 release is here:

https://github.com/mozilla/release-no

[2019-11-23 00:19] violasong opened #8211 "Dev Edition website: add a new Inactive CSS section, remove Shapes section"
## Description

In [this issue](https://github.com/mdn/kuma/issues/6059), we've created a new DevEdition banner on MDN which will feature Inactive CSS. For continuity, we'd like to update the DevEdition website to also feature Inactive CSS.

I think we should remove the "Shapes Editor" section for this, and then add the Inactive CSS section as the new top-left feature.

The banner on MDN will go l

[2019-11-25 09:32] alexgibson opened #8212 "Front-end unit tests for FxA email form"
## Description

The JavaScript for the FxA email form is getting [more complicated](https://github.com/mozilla/bedrock/pull/8122). We should make sure this code has unit tests.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Unit tests are passing in CI.

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] Not doing this means changes to the effected code harder to r

[2019-11-25 09:34] alexgibson commented on #8200
Note that documentation is already being updated here: https://github.com/mozilla/bedrock/pull/8158

[2019-11-25 09:46] alexgibson commented on #8196
@ejregithub do we have designs and copy for this fallback page?

[2019-11-25 10:06] alexgibson commented on #8196
I found design direction here: https://github.com/mozilla/bedrock/issues/8147

[2019-11-25 16:46] alexgibson commented on #8147
@antlam not sure if you're the right person to ask here, but I notice the page is currently lacking a meta description. We we have an up to date piece of copy we could use here?

[2019-11-25 16:57] #8148 closed

[2019-11-25 17:52] alexgibson commented on #8196
@sghoseWI seeing as this template isn't going to target any set URL or version number attached to it, can you please advise on what makes sense for the following analytics params?

- entrypoint
- utm_campaign

Thanks

[2019-11-25 19:31] violasong commented on #8211
Additional info:

It will directly grow Firefox Desktop MAU (Firefox Developer Edition).

My team will use numbers from Google Analytics.

[2019-11-25 19:39] antlam commented on #8147
@alexgibson interesting... yeah I'm not sure who wrote the meta descriptions. Let me have an ask around. But is there a general one that would make sense for our use case here that you could share?

[2019-11-25 21:10] ejregithub opened #8216 "Update leadership page"
Specifically, Mitchell's bio. There are no hyperlinks in the new content.

Replace this content:

She has written for the Atlantic, Quartz, CNN.com and Les Annales Des Mines and appeared on NBC’s “Meet the Press”, BBC’s “HardTalk”, CNN’s “Global Office”, NBC’s “Weekend Today”, France 24, the UK’s Channel 4 and NPR’s “Morning Edition". She has spoken at high-level events like Tech for Good, VivaTec

[2019-11-25 22:06] amychurchwell opened #8217 "Success message displayed above page headline on newsletter/recovery/"
## Description

After submitting an email address for email subscription management on [newsletter/recovery/](https://www.mozilla.org/newsletter/recovery/), the page headline appears underneath the success message.

We should either remove the page headline after a successful submission or keep it placed above.

![Screenshot_2019-11-25 Newsletter email recovery](https://user-images.githubuserconte

[2019-11-25 22:14] rantley commented on #8205
@rraue    Revised version of the backtranslated version, keeping length, revisions to help readability and usability.

https://docs.google.com/document/d/1TuoOyRT0CSV83Dog5zqQ39rIcfMSQxtQpA5im2aZmF8/edit?usp=sharing

[2019-11-26 00:06] stephaniehobson opened #8220 "Firefox Footer V2"
The current Firefox footer is a simplified version of the original design. The simplification was necessary to meet the Skyline deadline. Now that we have more time we need to go back and implement the full design.

The biggest gain with the full design is adding the Mozilla logo back.

![Screen Shot 2019-11-07 at 9 12 48 AM](https://user-images.githubusercontent.com/854701/69588451-7d9dd800-0f9d-

[2019-11-26 00:40] Errolyn commented on #8186
After a conversation in the durable team room, we are going to see about using checkboxes instead of the switch, they will be more accessible, and easier to understand. I'm marking this blocked until those details are confirmed by Cristina.

[2019-11-26 09:57] alexgibson commented on #8147
@antlam how about we use the existing meta description from the /firefox/accounts/ page?

[code]

[2019-11-26 10:05] alexgibson commented on #8147
This is now up on demo for stakeholder review:

https://www-demo1.allizom.org/en-US/firefox/whatsnew/all/

One open question: what is the earliest FF version that supports this accounts sign-in flow? Do we need to think about a fallback conditional CTA for really old versions?

[2019-11-26 10:45] alexgibson commented on #8147
Alternatively, we could only show this template only for a specific FF version number and upwards.

[2019-11-26 10:56] #7424 closed

[2019-11-26 12:13] hoosteeno commented on #8198
When this code lands we should integrate with wnp71.

[2019-11-26 14:42] alexgibson commented on #8196
This is now up on demo https://www-demo1.allizom.org/en-US/firefox/whatsnew/all/

Things still outstanding:

- Meta description string
- Analytics requirements

Blocked on:

- Fully working Fluent L10n workflow.

[2019-11-26 15:07] alexgibson commented on #7666
@ManthanKeim the template in question can be found here: https://github.com/mozilla/bedrock/blob/master/bedrock/privacy/templates/privacy/notices/base-notice.html

[2019-11-26 16:17] cgonz0 commented on #7930
![BC_firefoxVsChrome_mockup.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/35513276-ed4a-450e-a361-a2e7e09e5621)

[2019-11-26 16:51] #8001 closed

[2019-11-26 17:11] antlam commented on #8147
hmm... I have to admit my brain is a bit fuzzy here with the specific version numbers. @hoosteeno do you know?

Looking good! to double check, the "Release notes" links to the ones for this specific update (as opposed to the latest)?

[2019-11-26 19:01] sghoseWI commented on #8196
@alexgibson I think the params you went with make sense for this.

[2019-11-26 19:20] amychurchwell commented on #8198
PR #8219 makes the `service_type` parameter on `fxa_link_fragment`/`fxa_cta_link` optional and updates wnp71 accordingly. We should leave this issue open to coordinate site-wide changes, including addressing the email-first form.

[2019-11-26 19:55] ejregithub commented on #8186
@Errolyn - please note the additional tasks -

- String update - change “Country” to “Country or Region”, above the corresponding drop down menu with listing.
- Maintain the localization as 'opt-in'/allow for mixed locales as in the current version of the page.

[2019-11-26 20:32] ejregithub opened #8223 "Update copy for country selector in newsletter sign up form"
## Description

Per direction in https://wiki.mozilla.org/Lists_of_Countries_and_Regions, we need to update the copy on mozilla.org "Country or Region" instead of only 'Country' where on its own or coupled with 'select' where used in conjunction with the [product details region selection list ](https://product-details.mozilla.org/1.0/regions/en-US.json )

Example:  The newsletter sign up form is u

[2019-11-26 23:05] ejregithub opened #8224 "Fix typos in SOM2018"
There are two items to fix

- [ ] In the section "Privacy by Default", in the 2nd sentence of the first paragraph, the word 'pour' should be replaced by 'pore'
- [ ] In the same section, "Privacy by Default", in the 2nd sentence of the last paragraph, the work 'consumer' should be removed (and not replaced with anything)

Advocating for consumers with other companies and arming them **consumers**

[2019-11-27 02:52] #8224 closed

[2019-11-27 07:18] amychurchwell commented on #7452
My plan is to port this to protocol with as low design impact as possible.
I would like to update the hero to use a more on-brand "swoosh", if possible.

@cgonz0 - I was curious if you had thoughts about an existing background asset for this hero that might work?

![Screenshot_2019-11-26  Try New Browser Features in Pre-Release Versions Firefox ](https://user-images.githubusercontent.com/30483988/

[2019-11-27 09:00] Shivansh2407 commented on #8216
Please Check this @ejregithub

[2019-11-27 13:13] alexgibson commented on #8147
I just updated to make this happen. Note you'll need to include a version number in the URL, like so:

https://www-demo1.allizom.org/en-US/firefox/60.0/whatsnew/all/

[2019-11-27 14:25] rraue commented on #8205
Reviewed

[2019-11-27 14:47] alexgibson commented on #7851
Based on the experiment report it sounds like we're ok to promote this to production code? Let's make it happen if so.

[2019-11-27 14:57] hoosteeno commented on #7851
Yes! We can translate the experimental variation into production templates.

On Wed, Nov 27, 2019, 8:47 AM Alex Gibson <notifications@github.com> wrote:

[2019-11-27 15:05] alexgibson commented on #7851
@hoosteeno should we apply this change to /campaign as well?

[2019-11-27 15:28] alexgibson commented on #7851
I've opened a pull request to add the new copy / images to both /new and /campaign.

[2019-11-27 17:05] ejregithub commented on #8216
Thanks @ Shivansh2407 - I've asked Errolyn to review your pull request.

[2019-11-27 17:06] #7441 closed

[2019-11-28 03:31] chianger opened #8228 "Review/Merge/Push Fx Lite legal doc updates (PN and Reward terms)"
Bugzilla tracking = https://bugzilla.mozilla.org/show_bug.cgi?id=1599967
[Description]
Two page updates to publish:
a. Privacy notice update
URL inventory = https://www.mozilla.org/privacy/firefox-lite/
Content available at https://github.com/mozilla/legal-docs/tree/master/firefox_lite_privacy_notice

b. Terms of use (for FxLite reward program campaign)
URL inventory = https://www.mozilla.org/abou

[2019-11-28 03:32] chianger commented on #8228
cc @alexgibson @peiying2 @ejregithub

[2019-11-28 10:06] alexgibson commented on #7851
Pull requests to update translations for both /new and /campaign:

- https://github.com/mozilla-l10n/www.mozilla.org/pull/353
- https://github.com/mozilla-l10n/www.mozilla.org/pull/354

[2019-11-28 13:42] alexgibson commented on #6461
end of quarter.

@LucyeoH any updates on a more exact launch date for the community portal, so we can retire this events page?

[2019-11-28 13:43] alexgibson commented on #6398
The content blocking tour was removed in https://github.com/mozilla/bedrock/issues/7424, so mozilla.org is no longer a dependency on this project.

[2019-11-28 13:43] #6398 closed

[2019-11-28 13:48] alexgibson commented on #7117
Another way to simplify this (now outdated) page could also be to:

- Split this out into two separate pages, at two different URLs (say the regular `/new` and `/new/yandex/`)
- Use a [cloudflare worker](https://github.com/mozmeao/www-workers) to redirect people physically localed in Russia from one to the other.

[2019-11-28 13:50] alexgibson commented on #7325
This notification is being removed in https://github.com/mozilla/bedrock/pull/8202. Closing this as wontfix.

[2019-11-28 13:50] #7325 closed

[2019-11-28 13:51] alexgibson commented on #7584
I'm assuming this was done, given the column it was moved to on the project board.

[2019-11-28 13:51] #7584 closed

[2019-11-28 13:51] alexgibson commented on #8023
This is done

[2019-11-28 13:51] #8023 closed

[2019-11-28 13:58] alexgibson commented on #8163
Picking this up so we can get it fixed.

[2019-11-28 14:07] alexgibson opened #8231 "RTL layout issues on /firefox"
## Description

The top hero image on /firefox is broken for RTL languages.

### Steps to reproduce

1. Visit https://www.mozilla.org/ar/firefox/

### Expected result

The hero section should have text on one side, and the browser image on the other.

### Actual result

They overlap, making things hard to read:

![image](https://user-images.githubusercontent.com/400117/69812575-52f38f80-11e8-11ea-

[2019-11-28 14:08] alexgibson commented on #8231
Note the above is for the older version of the page ^

But there are also RTL issues on the newer version (hero and privacy promise sections):

![image](https://user-images.githubusercontent.com/400117/69812654-7c142000-11e8-11ea-9e63-2b95072a725a.png)

[2019-11-28 14:17] alexgibson commented on #8024
This is done

[2019-11-28 14:17] #8024 closed

[2019-11-28 14:29] LucyeoH commented on #6461
@Alexander Gibson launch should be week of Dec 20th. We're just doing QA now and getting it moved over to Moz WP Engine.

[2019-11-28 14:30] LucyeoH commented on #6461
@Alexander Gibson <agibson@mozilla.com> launch should be week of Dec 20th.
We're just doing QA now and getting it moved over to Moz WP Engine.

On Thu, Nov 28, 2019 at 8:42 AM Alex Gibson <notifications@github.com>
wrote:

--
*__*
*Lucy Harris *
*Lead, Community Development*
*Open Innovation *
Mozilla <https://mozilla.org/contribute> Corporation
<https://mozilla.org/contribute>

[2019-11-28 15:25] alexgibson commented on #8085
It looks like the fallback page is also effected:

<img width="1657" alt="image" src="https://user-images.githubusercontent.com/400117/69817783-43c60f00-11f3-11ea-843b-be739050cd05.png">

[2019-11-28 15:34] tbm opened #8233 "Links to 2017 and 2018 public records (990, audited financial statements) missing"
https://foundation.mozilla.org/en/about/public-records/ is missing links to the 2017 and 2018 public records:

2017:

* Annual report: https://www.mozilla.org/en-US/foundation/annualreport/2017/
* 990:  https://assets.mozilla.net/annualreport/2017/mozilla-2017-form-990.pdf
* Audited financial statements: https://assets.mozilla.net/annualreport/2017/mozilla-fdn-2017-fs-short-form-final-0927.pdf

20

[2019-11-28 15:36] alexgibson commented on #8233
@tbm I think this issue may belong to https://github.com/mozilla/foundation.mozilla.org

[2019-11-28 15:55] tbm commented on #8233
I think you're right given this:

commit d2fb9525b8806edf00635adbc90cfe8ba97e7091
Author: Alex Gibson <alexgibson@users.noreply.github.com>
Date:   Tue Nov 20 09:29:30 2018 +0000

    Remove old /foundation page templates (#6467)

I don't actually see the code in https://github.com/mozilla/foundation.mozilla.org though, but I guess I should report it there.

[2019-11-28 15:55] #8233 closed

[2019-11-29 15:42] alexgibson commented on #8211
L10n PR: https://github.com/mozilla-l10n/www.mozilla.org/pull/355

[2019-11-30 04:17] imskr commented on #8121
I'm on it. Sorry for the delay. I will be making the PR shortly

[2019-11-30 19:39] YuriyCherniy commented on #8217
I have done some changes in this PR #8235 and it seems work properly.

[2019-12-02 09:09] #7512 closed

[2019-12-02 09:23] alexgibson commented on #8140
L10n PR https://github.com/mozilla-l10n/www.mozilla.org/pull/356
Langchecker PR: https://github.com/mozilla-l10n/langchecker/pull/947

[2019-12-02 09:37] #8217 closed

[2019-12-02 14:27] #8228 closed

[2019-12-02 15:44] alexgibson commented on #8140
This is now in Pontoon

[2019-12-02 15:44] #8140 closed

[2019-12-02 17:26] alexgibson commented on #8188
I've ended this experiment in Convert. Preliminary results:

- Original Page: conversion rate 78.48% ± 0.60%
- "Download" variation: conversion rate 78.43% ± 0.60%

[2019-12-02 18:23] pmac opened #8236 "Publish Mozilla CA Policy 2.7"
https://bugzilla.mozilla.org/show_bug.cgi?id=1600707

[2019-12-02 18:41] rantley commented on #8205
@ejregithub This has been reviewed by Raph, Guy and Natalie. We're good to move forward.

https://docs.google.com/document/d/1TuoOyRT0CSV83Dog5zqQ39rIcfMSQxtQpA5im2aZmF8/edit?usp=sharing

[2019-12-02 19:00] #8220 closed

[2019-12-02 19:07] #8163 closed

[2019-12-02 19:59] ejregithub commented on #8205
@sgarrity - while @cgonz0 is working to float the copy into design, I've given you access to the copy doc in the comment above, which is final barring and concerns Cristina may raise over layout.

[2019-12-02 20:16] #7851 closed

[2019-12-02 20:33] #8155 closed

[2019-12-02 21:13] stephaniehobson opened #8238 "Social media icons broken on opt out confirmation page"
https://www.mozilla.org/en-US/newsletter/opt-out-confirmation/

<img width="199" alt="Screen Shot 2019-12-02 at 13 12 57" src="https://user-images.githubusercontent.com/854701/69995763-8fcfc700-1505-11ea-8bee-f4883420b1b8.png">

[2019-12-02 23:05] Errolyn commented on #8186
Having trouble with getting a demo working correctly but here is a screenshot for now
![Screenshot_2019-12-02 Newsletter Subscriptions](https://user-images.githubusercontent.com/1214589/70002524-1fc93d00-1515-11ea-8a74-85094a20c095.png)

[2019-12-02 23:17] cgonz0 commented on #8186
@Errolyn looking good. can we change all the link/button/checkbox/radio etc colors to our firefox blue (#0060df)?

[2019-12-03 01:04] sghoseWI commented on #8188
Experiment Report: https://docs.google.com/document/d/1mZU0KDdCBwGx6V61--zCi9n_Co_CX6y5zuAtF5Gm7fE/edit#

[2019-12-03 04:22] amychurchwell commented on #7452
@cgonz0 hi Cristina!
I have a rough draft on demo: https://www-demo1.herokuapp.com/firefox/channel/desktop/

Would love any input or feedback you may have.

[2019-12-03 04:30] amychurchwell commented on #7439
Can I use `email_newsletter_form` for the newsletter on this page? or is it it's own special kind of newsletter?

[2019-12-03 09:23] #7850 closed

[2019-12-03 09:56] #8211 closed

[2019-12-03 10:04] #8188 closed

[2019-12-03 10:23] alexgibson commented on #8197
I've deployed this sucessfully to stage and all looks good. Will update once it's time to go to prod.

[2019-12-03 13:29] alexgibson commented on #7439
@amychurchwell looking at the existing template I can see a couple of special cases for this newsletter form:

- https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/templates/firefox/testflight.html#L46-L47
- https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/views.py#L753-L754

There may well be a neater way to accomplish this as it stands currently, but I probably wouldn't

[2019-12-03 13:36] alexgibson commented on #8197
Pages are live:

https://www.mozilla.org/en-US/privacy/firefox-private-network/
https://www.mozilla.org/en-US/about/legal/terms/firefox-private-network/

[2019-12-03 13:36] #8197 closed

[2019-12-03 15:40] swarnava opened #8241 "Fix Learn more link for Next-Gen CSS Engine section"
### Steps to reproduce

Visit https://www.mozilla.org/en-US/firefox/72.0a2/whatsnew/india/?oldversion=71.0

Click on **Learn More** under **Next-Gen CSS Engine section**

<img width="1228" alt="image" src="https://user-images.githubusercontent.com/1162991/70065539-4ec4d900-1611-11ea-9984-9906c5f284c7.png">

### Expected result

It should navigate like this https://www.mozilla.org/en-US/firefox/72.

[2019-12-03 15:42] alexgibson commented on #8241
Thanks for the report!

[2019-12-03 16:21] #8241 closed

[2019-12-03 16:22] #8216 closed

[2019-12-03 17:14] hoosteeno commented on #8147
@alexgibson when I visit the URLs above, I still see the mobile CTA. Are you planning to update to the Accounts CTA in the design?

![Screen Shot 2019-11-13 at 2 09 59 PM](https://user-images.githubusercontent.com/1994820/69166139-9d1d9800-0aa7-11ea-9fa2-b69171f025b0.png)

[2019-12-03 17:17] alexgibson commented on #8147
@hoosteeno appologies I had to switch demo servers. I'll update the link shortly.

[2019-12-03 17:19] #8195 closed

[2019-12-03 17:39] alexgibson commented on #8147
@hoosteeno demo is updated https://www-demo2.allizom.org/en-US/firefox/60.0/whatsnew/all/

[2019-12-03 17:47] ejregithub commented on #8205
Copy is final, closing this issue

[2019-12-03 17:47] #8205 closed

[2019-12-03 17:51] hoosteeno commented on #8147
We definitely need this. @antlam , can you consider the fact that at least some upgraders *can't* use accounts, and specify what they should see instead? Suggestion: A much stronger "get upgraded" message.

[2019-12-03 17:55] #8172 closed

[2019-12-03 18:34] Errolyn commented on #8186
Sure I will give it a go :)

[2019-12-03 19:19] Errolyn commented on #8186
@cgonz0 so after looking at it, it looks like to change the color of the checkbox I basically have to hide the checkbox then create a new one from scratch. It looks like Stephanie is already working on a component to do that. So I think it might be best to leave the checkbox as/is for and create a separate issue to port this page over to protocol, and use the new checkbox component.

If that doesn

[2019-12-03 19:59] #7557 closed

[2019-12-03 21:42] violasong commented on #8211
Looks great :) thanks so much!

[2019-12-03 22:46] cgonz0 commented on #7452
@amychurchwell hey!

here is some feedback from where the demo is currently at.
i added a gray background in the screenshot below, but it's not necessary.
some other tweaks:
- removing margin from hero description helps vertically center text (doesn't affect if using white background)
- tighten up space between content and notes - and notes font-size could be smaller (14px)
- ideally it’d be bette

[2019-12-03 23:16] cgonz0 commented on #8186
hey @Errolyn - i'm looking at the existing page and all the elements are already blue. i guess i'm just wondering why these are purple in your screenshot.
also, we would be able to change the [save preferences] button and link colors with no problem, correct?

[2019-12-04 00:57] ejregithub commented on #8157
Notes from meeting w. Lindsey:

- Page Trigger via FMS - Determine if users don't have Lockwise mobile app (then show them this moment page if they don't)
- CTA is to get the application on mobile via the STDWidget (get slugs from Brynne)
- Natalie to work more on copy
- Eric to find out if we can show the page around the end of December

[2019-12-04 06:25] amychurchwell commented on #7452
@cgonz0 thank you so much for your feedback, I really appreciate it. 👏

I'm not sure if I understand this comment? Do you mean to omit the firefox logo on the hero? I left it in to follow the screenshot you provided. (Thank you again, so incredibly helpful.)

Totally agree. This was a customized call-out from Protocol. It'd be a touch fiddly to do this for an mvp considering that this page will be

[2019-12-04 09:15] chianger opened #8245 "Review/Merge/Push FxLite legal doc updates (a URL change)"
[Description]
Below page update to publish:
Terms of use (for FxLite reward program campaign)
URL inventory = https://www.mozilla.org/about/legal/terms/firefox-lite/reward/
Content at https://github.com/mozilla/legal-docs/tree/master/firefox_lite_contentservices_reward
Change log at https://github.com/mozilla/legal-docs/pull/1406
[Expected date of publish]
Anytime before end of Dec-6th (Pacific ti

[2019-12-04 09:38] chianger commented on #8245
cc @alexgibson @pmac
My apology for the frequent update. This change request is from our campaign co-working partner.

[2019-12-04 09:44] alexgibson opened #8246 "Whatsnew experiment template should extend /exp/ base template"
## Description

The /whatsnew experiment template is not configured to load Convert correctly.

### Steps to reproduce

1. https://www.mozilla.org/en-US/exp/firefox/71.0/whatsnew/all/

### Expected result

It should load the Convert bundle

### Actual result

The Convert bundle is not present.

### Environment

N/A

[2019-12-04 13:34] #8238 closed

[2019-12-04 13:43] alexgibson commented on #8027
This was done in the coding issue

[2019-12-04 13:43] #8027 closed

[2019-12-04 13:43] alexgibson commented on #8025
This was done in the coding issue

[2019-12-04 13:43] #8025 closed

[2019-12-04 13:44] #8029 closed

[2019-12-04 13:49] alexgibson commented on #6876
@ejregithub is this issue still relevant, can it be closed?

[2019-12-04 13:50] alexgibson commented on #6379
Closing this as we have an updated sub navigation component that's used in more modern pages.

[2019-12-04 13:50] #6379 closed

[2019-12-04 13:51] alexgibson commented on #5725
@rraue can this issue be closed yet, or is there still something to do here?

[2019-12-04 14:53] #8236 closed

[2019-12-04 15:46] ejregithub commented on #6876
Yes, this languished - we've had no follow up from Romain on this.

[2019-12-04 15:46] #6876 closed

[2019-12-04 16:15] rraue commented on #5725
Its closed

[2019-12-04 16:15] #5725 closed

[2019-12-04 16:58] cgonz0 commented on #7452
no prob:) i was referring to the newsletter sign-up component on the bottom of the page, it feels like the mozilla branding is out of place for this browser page. do we have another, more relevant one available?

[2019-12-04 17:36] ejregithub opened #8250 "mobile page CTA update - button"
## Description

We need to remove the copy CTA "Get Firefox Mobile" and phone image, replacing that copy in a big blue button and putting that button above the badges - see the attached image for reference.

[2019-12-04 17:36] ejregithub commented on #8250
![Screen Shot 2019-12-04 at 7 57 57 AM](https://user-images.githubusercontent.com/20547886/70166408-8b2c1f80-1679-11ea-84a2-2971435bfa7c.png)

[2019-12-04 17:38] Errolyn commented on #8186
The colors of the accent color for checkboxes, dropdowns, radio buttons etc are stylistically based on the OS, Browser and what accent the user has chosen for their OS. I have Purple as my accent color, blue is the default color so if you haven't changed your accent color it would be blue. Currently Firefox only only picks up the accent color on launch, safari picks up the color on change, and Chr

[2019-12-04 17:40] hoosteeno opened #8251 "For signed in, 0-mobile-device users, replace global nav CTA"
## Description

We should modify the global nav CTA to pitch Firefox Mobile to Firefox users who are signed in, but don't have any mobile devices set up.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Firefox users signed in with 0 mobile devices see a new CTA
- [ ] Clicking the CTA links to the mobile page
- [ ] The link is instrumented to count click events

[2019-12-04 17:42] cgonz0 commented on #8186
@Errolyn thanks for the clarification. cool, as long as we change the button and link colors, we should be good to go. thanks!

[2019-12-04 17:44] antlam commented on #8147
Good point. I'd say just switch the CTA (White box content) to the "Get firefox on your other device" one that we've always said.

As for the notification or stronger "get upgraded" message, I'll need to think about that!

[2019-12-04 17:54] alexgibson commented on #8147
Ok, in order to do this then we'll only show this new template for say Firefox version (X) and upward. The question is, what should that version number be?

[2019-12-04 17:59] #8246 closed

[2019-12-04 18:11] Errolyn commented on #8186
@cgonz0 for our checkboxes they should have a label for accessibility, should it be visible? here is what it looks like with is visible:
<img width="656" alt="Screen Shot 2019-12-04 at 10 09 12 AM" src="https://user-images.githubusercontent.com/1214589/70168738-4787e480-167e-11ea-8531-a53a3a06a9ff.png">
This is un-styled, but we could make the text smaller or lighter etc, or I can hide the text al