[2021-11-01 18:44] #10653 closed

[2021-11-01 21:20] reemhamz commented on #10647
@maureenlholland Oh! Yes I like that idea better 💫 It would help clarify that we could use one without the other (i.e. creating the divs and adding the classes for Protocol components rather than macro imports). I'm good with this idea. It's nice, organized, and split up enough to make sense. 10/10

cc @nathan-barrett, this was your idea for the Protocol docs in the first place, so I'd love for yo

[2021-11-01 21:22] nathan-barrett commented on #10647
@reemhamz all makes sense to me! +1

[2021-11-02 00:30] jbuck commented on #10535
@alexgibson we deployed v1.16 this morning, and I think prod is working correctly now

[2021-11-02 04:00] slightlyoffbeat opened #10661 "[Contentful] Add Firefox Relay as an option for the CTA component"
## Description

Firefox Relay has been added on the contentful side, but it needs additions on the bedrock side in order for Firefox Relay to be an option.

The link should be: https://relay.firefox.com/?utm_source=www.mozilla.org-home&utm_medium=referral&utm_campaign=home

[2021-11-02 04:08] slightlyoffbeat opened #10662 "[contentful] change firefox link for CTA button content type"
## Description

The Firefox option currently links to: /firefox/download/thanks/

It should be updated to link to just /firefox

[2021-11-02 10:52] #10433 closed

[2021-11-02 12:00] alexgibson opened #10663 "FxA flow params not being attached to subscription links"
## Description

A regression from https://github.com/mozilla/bedrock/pull/10608

[2021-11-02 12:31] #10663 closed

[2021-11-02 13:23] alexgibson opened #10666 "[contentful] Home page wordmark logos are misaligned on small screens"
## Description

Product wordmarks such as VPN and Firefox are left aligned on smaller screens whilst the text switches to centered:

https://www-dev.allizom.org/en-US/contentful-preview/01i30zNjYwlPkmcAoc1hy0/

<img src="https://user-images.githubusercontent.com/400117/139854837-d3dac790-f9a8-4df5-bf3f-a28ae046eb4c.png" alt="image" width="380">

Behavior should match the Protocol component: https:

[2021-11-02 13:28] alexgibson opened #10667 "[contentful] Home page billboard images are too large / blurry"
## Description

Contentful home page: https://www-dev.allizom.org/en-US/contentful-preview/01i30zNjYwlPkmcAoc1hy0/

![image](https://user-images.githubusercontent.com/400117/139855847-904e24f1-adb2-47d0-bff0-42569b71eb69.png)

Protocol component: https://protocol.mozilla.org/demos/billboard.html

![image](https://user-images.githubusercontent.com/400117/139855939-7cf4993e-115f-4a19-afbd-84b35673e3

[2021-11-02 13:48] alexgibson opened #10668 "[contentful] Home page has inconsistent content margins"
## Description

https://www-dev.allizom.org/en-US/contentful-preview/01i30zNjYwlPkmcAoc1hy0/

This might just be something that triggers my OCD, but the lack of clear/consistent content margins makes my brain struggle with the natural flow of the home page. It feels like each section is floating in its own, almost random space. It's particularly noticable when scrolling down on a smaller laptop sc

[2021-11-02 13:54] alexgibson opened #10669 "[contentful] Image components should have the option to lazyload"
## Description

https://www-dev.allizom.org/en-US/contentful-preview/01i30zNjYwlPkmcAoc1hy0/

I believe card components support lazy loading already, but none of the components on the redesigned home page seem to, which can hurt performance. We should add support for `loading="lazy"` or `"loading="eager"`.

[2021-11-02 14:21] alexgibson commented on #10535
Thanks @jbuck

[2021-11-02 15:21] craigcook commented on #10668
The big MR2 promo has a deliberate inset because that was specified in the design, but I didn't push back on that or ask for the reasoning, so maybe we'd be fine with losing that padding.

The others are all using the Hero component that lets images overflow their container, so they'll never align on the outer edges. Hero was made for big decorative images at the top of a page and really isn't sui

[2021-11-02 15:23] craigcook commented on #10668
It also looks like the VPN image is aligned right but should probably be centered.

[2021-11-02 15:28] alexgibson opened #10670 "FxA metrics flow requests are broken when Dev=True"
## Description

When `Dev=True` bedrock's FxA links all point to https://stable.dev.lcip.org/, which is currently 500. Talking to jbuck, this instance has gone unmaintained intentionally, so we need to switch to another staging instance.

We're still discussing what a suitable alternative might be (ideally we need an environment that supports CORS requests for localhost). Will update when ready.

[2021-11-02 16:17] slightlyoffbeat commented on #10539
@alexgibson I am sorry for the late response here. Yes this won't be taken further and can be closed.

[2021-11-02 16:18] #10539 closed

[2021-11-02 16:26] maureenlholland commented on #10662
@slightlyoffbeat Can the link be more Firefox Browser-specific? https://www.mozilla.org/en-US/firefox/browsers/

[2021-11-02 17:27] slightlyoffbeat commented on #10662
cc: @maureenlholland

After discussion on Slack, there is a proposed change to this issue:

Instead of changing the existing "Download Firefox" destination, we instead add a new "Explore Firefox" option.

Download Firefox - downloads firefox
Explore Firefox - /firefox/browsers

[2021-11-02 19:36] pmac commented on #9989
This is done

[2021-11-02 19:36] #9989 closed

[2021-11-03 04:03] ElijahPepe opened #10676 "[Comparison page update] Edge now available on Linux"
## Description

Edge for Linux has now [officially released](https://arstechnica.com/gadgets/2021/11/microsoft-edge-for-linux-enters-stable-channel-after-a-year-of-betas/) in the stable channel.

---

#### Success Criteria
- [ ] Comparisons between Firefox and Edge should be updated to reflect such change in Edge.

[2021-11-03 10:00] alexgibson opened #10677 "[contentful] Home page hero components render nested <p> elements"
## Description

https://www-dev.allizom.org/en-US/contentful-preview/01i30zNjYwlPkmcAoc1hy0/

This might go away once the page no longer uses the Hero component, but I noticed the descriptions all render using double nested `<p>` elements, which is invalid markup:

[code]

[2021-11-03 11:39] maureenlholland opened #10678 "[Contentful] Add CTA Location field"
## Description

We noticed [blank location values in the CTA fix PR](https://github.com/mozilla/bedrock/pull/10665#pullrequestreview-796291293). This is due to a hardcoded empty string in the [API](https://github.com/mozilla/bedrock/blob/master/bedrock/contentful/api.py#L191).

We want to hook up a location field value from Contentful to Bedrock to record click location for analytics.

---

#### S

[2021-11-03 11:48] #10661 closed

[2021-11-03 11:56] #10662 closed

[2021-11-03 12:03] maureenlholland commented on #10630
closed with: https://github.com/mozilla/bedrock/pull/10636

[2021-11-03 12:03] #10630 closed

[2021-11-03 15:19] alexgibson opened #10682 "Protocol CSS component cleanup"
## Description

- Remove `card.scss` imports from `protocol-mozilla.scss` and `protocol-firefox.scss`.
- Import `card.scss` on only the pages that require cards.
- Fix `card.scss` import in `contentful/mozilla/c-card.scss` and `contentful/firefox/c-card.scss`.
- Delete unused monolith `contentful/general.scss` file.

[2021-11-03 16:33] maureenlholland commented on #10677
This is Hero-specific, due to the way we wrap the description in <p> tags in the [hero macro ](https://github.com/mozilla/bedrock/blob/master/bedrock/base/templates/macros-protocol.html#L46) and [include external HTML in the desc argument](https://github.com/mozilla/bedrock/blob/master/bedrock/contentful/templates/includes/contentful/all.html#L23).

It will not be a problem once we upgrade to Spli

[2021-11-03 16:52] alexgibson opened #10683 "Ignore frequent noisy JS errors in Sentry"
## Description

There are a couple of JS errors we see frequently that are non-actionable and just create a lot of noise. I think we can ignore these:

- `SecurityError: Failed to execute 'open' on 'XMLHttpRequest'` https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/14432596/?query=is%3Aunresolved
- `NetworkError when attempting to fetch resource` https://sentry.prod.mozaws.net/operatio

[2021-11-03 20:08] stevejalim commented on #10656
Done by @pmac

[2021-11-03 20:08] #10656 closed

[2021-11-03 23:52] birdsarah commented on #10535
The 502 bug was fixed in Guardian 1.17. Guardian 1.17 was temporarily taken down yesterday, but has now been restored on prod. So yes, this should be unblocked.

[2021-11-04 00:00] nathan-barrett commented on #10669
Not sure if this ticket is actually ready but I was just taking a look through this and noticed that a lot of the images on the home page use the `high_res_img` or `lazy_img` helpers in bedrock - would there be any issue with adding and loading argument to the protocol macros (which would then cascade down to one of those two python helpers).

As far as I could see the two components would `hero`

[2021-11-04 03:08] slightlyoffbeat opened #10685 "State of Mozilla 2020"
State of Mozilla 2020 will require a new page.

This card will be updated as details are available.

[For reference: State of Mozilla 2019](https://www.mozilla.org/en-US/foundation/annualreport/2019/)

Details and content are not ready. Here is what we know so far:

- We will use the same style/theme as last year
- This will live at `/foundation/annualreport/2020/`
- There will be less content tha

[2021-11-04 03:24] slightlyoffbeat opened #10686 "New Pocket homepage"
Studio team will have designs for a new homepage for getpocket.com. This will include a promotion for the integrated Pocket Best Of campaign.

### Design & Copy:

To be provided when ready (see timeline)

### Notes

- English only. Because this is a static/flat/scraped site (for now) we've only committed to delivering for en
- German as a stretch goal, if time and resources allow
- This page can b

[2021-11-04 03:41] slightlyoffbeat opened #10687 "Add Firefox Focus to /firefox/products/"
## Description

Focus is ready to be added back to /firefox/products.

Mock of how this can be added.

![Firefox Focus - November 2, 2021](https://user-images.githubusercontent.com/2030656/140253963-c5631f7e-bd4d-4750-8e54-d7968b0d5774.png)

Creative: To be delivered.

Success Criteria

- [ ] Proper adjust link for iOS
- [ ] Proper adjust link for google play

[2021-11-04 09:59] alexgibson commented on #10669
@nathan-barrett I think it's safe enough to start using the `loading` attribute, migrating away from the older `lazy_img` helper.

Adding this attribute to the jinja macros is definitely the way forward. I'd suggest using `eager` by default, and then allowing `lazy` to be configured via a paremeter. I guess the more complex part of this will be how to choose the right value in Contentful powered p

[2021-11-04 10:46] alexgibson opened #10688 "Remove geo-location json endpoint"
## Description

Now that we've migrated pages to use server-side geo, we can remove the [country-code.json](https://github.com/mozilla/bedrock/blob/master/bedrock/urls.py#L35) endpoint that pages used to use client side.

As a simpler replacement, we can add a `data-country-code="{{ country_code }}"` attribute to the base template. This can then easily be accessed in JS, or even directly in CSS us

[2021-11-04 11:24] #10590 closed

[2021-11-04 13:35] #10683 closed

[2021-11-04 13:36] #10535 closed

[2021-11-04 14:21] jodyheavener opened #10690 "Newsletter management page leaking MPL notice"
## Description

When managing the Email Preferences for my Firefox Account there is a section to choose the format of your email. It appears we have an MPL-2.0 notice rendering in this section.

### Steps to reproduce

1. Visit the Newsletter Subscriptions page (`https://www.mozilla.org/newsletter/existing/abc123/?fxa=1`)
2. Observe the "Format" section on the page

### Expected result

Radio butt

[2021-11-04 14:25] stevejalim commented on #10690
@pmac Dang, this looks like a side effect of the pre-commit licence hook on a partial

[2021-11-04 14:33] stevejalim opened #10691 "Newletter recovery page renders hyperlink as text in error message"
## Description

On https://www.mozilla.org/en-GB/newsletter/recovery/ if you enter an email address that is not in the newsletter DB, the error message shows raw HTML markup

<img width="529" alt="Screenshot 2021-11-04 at 14 31 00" src="https://user-images.githubusercontent.com/101457/140332560-c8312e44-915b-40ef-be96-a2a4e487b361.png">

### Steps to reproduce

* Go to https://www.mozilla.org/en-G

[2021-11-04 14:53] stevejalim commented on #10690
Thanks for the report @jodyheavener - I appreciate the code-rummaging, too. I think it's actually coming from a template partial which is rendered by the relevant form, which would explain why it's not getting ignored as a regular Jinja comment.

We're on it!

[2021-11-04 16:12] alexgibson opened #10692 "https://www.firefox.com/set_hsts.gif redirects back to /firefox/new/"
## Description

In every page load for mozorg there's a request being made to the /firefox/new/ page when an image tries to load.

<img width="1651" alt="image" src="https://user-images.githubusercontent.com/400117/140376580-42886b10-2f2e-45fd-a0f0-42a64ad544af.png">

### Steps to reproduce

1. Load https://www.firefox.com/set_hsts.gif

### Expected result

It should load a gif.

### Actual result

[2021-11-04 16:18] robhudson commented on #10692
See also https://github.com/mozilla/bedrock/issues/9898

[2021-11-04 16:21] pmac commented on #9898
This function is now deprecated since www.firefox.com has changed hosts and no longer supports this.

[2021-11-04 16:38] #10690 closed

[2021-11-04 17:02] #10692 closed

[2021-11-04 17:40] slightlyoffbeat opened #10696 "VPN landing page and/or FAQs should call out that the 30 day money back guarantee is only for purchases on the website"
## Description

Our landing page calls out the 30 day money back guarantee prominently. Our FAQs call out the 30 day money back guarantee, but does not provide info that purchases from app stores are not included.

Details and suggestions for how to fix are available at this Jira ticket: https://mozilla-hub.atlassian.net/browse/VPN-1173

[2021-11-04 18:05] Kaushal-Dhungel commented on #10137
Hello. I would like to work on this.

[2021-11-04 19:08] slightlyoffbeat commented on #10687
image available here: https://www.figma.com/file/Yx1noKR4EOQleqWBdhSM6q/fx-%2Fnew?node-id=939%3A14398

If help or assistance is needed in exporting, reach out to me.

[2021-11-04 20:12] reemhamz opened #10698 "Add Relay under family of products"
## Description

We've updated relevant pages of mozorg to contain information about Firefox Relay, however we missed a spot under the `Meet the Family of Products` headline and in the bottom section holding the logos in our [products page](https://www.mozilla.org/en-US/firefox/). This issue addresses that we need to add it. It should link to https://relay.firefox.com/?utm_source=www.mozilla.org&ut

[2021-11-04 23:52] slightlyoffbeat opened #10700 "Fundraising banner for Mozilla Foundation"
## Description

[Issue for previous banner for reference](https://github.com/mozilla/bedrock/issues/6693#)

Functionality can stay stay the same. We will update the design and background image.

Mofo has requested a fundraising banner for two dates:
1. Nov 30 (giving tuesday)
2. Dec 21 - 31

---

### Design
Mockup images in google drive: [desktop & mobile](https://drive.google.com/drive/folders/1V

[2021-11-05 00:02] slightlyoffbeat opened #10701 "Change DNT for attribution flow"
## Description

After consulting our privacy policy and our legal team, we decided that this helper tool does not meet the criteria for requiring different functionality for DNT. Lets update it.

Previous issue: https://github.com/mozilla/bedrock/issues/10409

[2021-11-05 00:13] slightlyoffbeat opened #10702 "(epic) VPN Moments Page for Q4 2021"
## Description

We will have 3 moments pages in Q4 2021 for VPN.

Brief: https://docs.google.com/document/d/1kRv98xE20exYqlNtuZUWjH4baaKz07AePLEM8fqE324/edit?usp=sharing

### Dates

11/15: FR/EN/DE. Use existing pages (firefox/welcome/10/ & firefox/welcome/9)
11/29: all regions. Shopping focused
12/15: all regions. Message TBD

### Design & Copy
11/15: use existing pages
11/29 & 12/15: TBD

---

#

[2021-11-05 00:30] slightlyoffbeat opened #10703 "Updates to firefox/lockwise/"
## Description

firefox/lockwise/ requires some changes to go live on 12/13/2021

Changes outlined here: https://docs.google.com/document/d/1Purpi1Rm_hk4RK_KjmOmT4XbxZxQz1ka31F5tBIcnk4/edit?usp=sharing

---

#### Success Criteria
- [ ] Code page
- [ ] changes go live on 12/13

[2021-11-05 10:23] alexgibson opened #10706 "Firefox Accounts CTA at bottom of the home page is a total mystery"
## Description

The Firefox Accounts promo at the bottom of the home page (visible to Firefox users) is now orphaned from the primary FxA content that used to be on the page. On its own (at least to me) it now makes little sense, as the messaging is way too cryptic.

### Steps to reproduce

Open https://www.mozilla.org/en-US/ and scroll all the way to the bottom:

![image](https://user-images.gith

[2021-11-05 10:43] alexgibson commented on #10696
@slightlyoffbeat the proposed updated copy for the FAQ section is: "You can get your money back within 30 days of purchasing your subscription through your Firefox account or through Firefox, from this website”.

There is also a suggestion of adding an asterisk to the end of other places that mention "30-day money-back guarantee *".

However an asterisk should really have a footnote, or something

[2021-11-05 10:44] alexgibson commented on #10696
We could possibly add a foot note below the legal links / copy here?

![image](https://user-images.githubusercontent.com/400117/140498718-2e78708d-57af-4ae3-88dd-524689a92539.png)

[2021-11-05 10:49] alexgibson commented on #10696
We should also consider that this guarantee copy is on several other SEO pages: https://www.mozilla.org/en-US/products/vpn/more/what-is-a-vpn/

[2021-11-05 11:10] alexgibson commented on #10696
@slightlyoffbeat ok here's what I propose:

1. Add an astersik to all occurences of  "30-day money-back guarantee" on VPN web pages.

<img src="https://user-images.githubusercontent.com/400117/140501445-7af2cd7e-66f5-4d24-8f3f-bf4e6e40cc0d.png" alt="image" width="600">

2. Add an astersik to the FAQ section title to connect the guarantee copy to, together with updates copy when you click to expand

[2021-11-05 13:43] alexgibson opened #10708 "Expose welcome/10 strings for L10n"
## Description

The EU marketing team would like to expose the strings for Firefox [welcome page 10](https://www.mozilla.org/en-US/firefox/welcome/10/) for L10n in Pontoon.

Target locales: `nl`, `it` and `es-ES` only.

---

#### Success Criteria
- [ ] Welcome page 10 strings are available in Pontoon for all locales.

[2021-11-05 13:44] alexgibson commented on #10708
Waiting to hear back from Caro / L10n team before this is ready.

[2021-11-05 13:49] reemhamz opened #10709 "Add Relay copy to Firefox Products page"
## Description

In the [products](https://www.mozilla.org/en-US/firefox/) page, each product has its own section describing its uses, however Relay doesn't have one just yet. We've added the icons in relevant places (#10699), now we just need to add a section for it.

---

#### Success Criteria
- [ ] Receive copy from team
- [ ] Add it to the page

[2021-11-05 13:58] #10698 closed

[2021-11-05 14:57] #10708 closed

[2021-11-05 15:04] stevejalim opened #10711 "Support deleting pages from sqlite if page is removed from Contentful"
## Description

At the moment, our Contentful sync adds and updates, but does not delete. Now we're moving towards CMS-driven URLs for some things, it makes sense to be able to take down a page by unpublishing, deleting or archiving, not just putting them up

---

#### Success Criteria
- [ ] Unpublishing a page in Contentful (eg a VRC sandbox page) will make the previously 200 OK URL return a 404

[2021-11-05 15:09] stevejalim opened #10712 "Contentful HRs are rendered as escaped HTML"
## Description

When a Horizontal Rule element is added to a rich-text field in Contentful, it is rendered incorrectly:

1. it is escaped as `&lt;hr&gt;`
2. it is rendered as a self-closing tag `<hr />` but it should just be `<hr>` [mdn link](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr)

(This issue may be specific to the Page: Resource Center type, but maybe not)

### Steps to re

[2021-11-05 15:50] alexgibson commented on #10696
@slightlyoffbeat here's a demo of where things are https://www-demo1.allizom.org/en-US/products/vpn/

[2021-11-05 16:45] alexgibson opened #10713 "Update Stylelint standard rules"
## Description

Our [stylelint config](https://github.com/mozilla/bedrock/blob/master/.stylelintrc) was added quite a long time ago, and since then the configuration options have matured quite a lot. Following a similar format to ESLint, Stylelint now offers a standard set or rules you can inherit from:

[code]

We should update our existing configuration to extend from the standard config. This w

[2021-11-05 16:45] shouryam-kumar commented on #9866
Hi, is the issue still open?

[2021-11-05 16:46] shouryam-kumar commented on #9866
Hi, is the issue still open? I would like to work on it if its open.

[2021-11-05 18:51] duallain commented on #10490
I assume we want bugzilla's dns component. What domain(s) are we needing to update?  Looks like email.mozilla.org primarily?

[2021-11-05 19:39] jbuck commented on #10670
Yep, absolutely! just add the domains you need to https://github.com/mozilla-services/cloudops-deployment/blob/master/projects/fxa/puppet/yaml/type/fxa.content_server.stage.yaml#L9

[2021-11-05 20:59] krattliff11 commented on #10490
Domains(might be subdomains) to update:
email.mozilla.org
em.mozilla.org

There's a related bug in Bugzilla to review the subdomains setup: 1738806

[2021-11-05 23:33] slightlyoffbeat commented on #10696
Demo has been shared with stakeholders and we are waiting for a thumbs up.

[2021-11-06 00:32] slightlyoffbeat commented on #10696
Feedback from stakeholders:

They like the implementation, but have requested a copy change for the "What is Mozilla VPN's refund policy. They would like to use the language from the T&C which is more clear (and I agree).

New copy is below. No further feedback rounds are needed with stakeholders as long as we are good change the copy.

### Current is:
_You can get your money back within 30 days o

[2021-11-06 02:06] joneskj55 commented on #6283
Hello @stephaniehobson & @hoosteeno is this still something that you would like done? I did something similar for `/firefox/privacy/book` in PR #10596 and would not mind looking into this if it is still up for grabs.

[2021-11-08 09:25] alexgibson commented on #10670
@jbuck looks like I don't have access to this repo, which I asume is private?

[2021-11-08 09:48] alexgibson commented on #10696
Thanks @slightlyoffbeat I've updated with the approved copy and marked as ready for code review.

[2021-11-08 10:05] alexgibson opened #10717 "Uncaught Promise error at firefox/privacy/safe-passwords/"
## Description

The safe-passwords page throws a JS error in the console.

### Steps to reproduce

https://www.mozilla.org/en-US/firefox/privacy/safe-passwords/

### Expected result

No error

### Actual result

[code]

### Environment

Firefox Nightly

[2021-11-08 11:55] #10137 closed

[2021-11-08 16:14] jbuck commented on #10670
I've requested access for you in https://github.com/mozilla-services/github-management/issues/128 (which you also won't be able to view until you're granted access 😅 )

[2021-11-08 16:34] #10202 closed

[2021-11-08 16:34] #10696 closed

[2021-11-08 17:49] peiying2 opened #10720 "Adblock page contains outdated content"
## Description

This page contains outdated information, Content Blocking feature is not in the dropdown menu.

### Steps to reproduce

https://www-dev.allizom.org/en-US/firefox/features/adblocker/ - Description is out dated. `To start, click on the Firefox menu in the top right-hand corner of your screen. It looks like three lines stacked on top of each other. In the drop-down menu, click on Cont

[2021-11-08 18:59] peiying2 opened #10722 "Link in Privacy page Index portion is outdated"
## Description

The link to ` governance group` in this page https://www-dev.allizom.org/en-US/privacy/ in the left panel is outdated

### Steps to reproduce

On the left side of the page https://www-dev.allizom.org/en-US/privacy/, the reference to Governance Group contains an [outdated link](https://groups.google.com/g/mozilla.governance).

### Expected result

The [outdated link](https://groups.

[2021-11-09 09:15] #10688 closed

[2021-11-09 09:29] alexgibson opened #10724 ""Love your life online" headline appears in English on translated pages"
## Description

The "Love your life online" headline using the v=fx94 param shows up without checking the translation status.

### Steps to reproduce

https://www.mozilla.org/de/firefox/new/?v=fx94

### Expected result

The special headline / copy should appear in German, and only if it's translated.

### Actual result

The special copy shows up in English, whilst the rest of the page is in German

[2021-11-09 18:49] #10724 closed

[2021-11-11 07:33] alexgibson commented on #10700
Gonna pick this one up seeing as it hasn’t been claimed yet.

[2021-11-11 08:36] Ayushsunny commented on #10720
Hey @peiying2 Could you please send the description which replace the current description as i've never used this feature so i don't know what should be written here?.

[2021-11-11 08:45] Ayushsunny commented on #10712
Hey @stevejalim I don't see any `<hr />` here

![image](https://user-images.githubusercontent.com/73520373/141266286-f074685b-b042-4390-a3ec-37c4dc0cef9f.png)

[2021-11-11 09:27] stevejalim commented on #10712
Heya @Ayushsunny thanks for the note. I was talking with a colleague yesterday about this and it's specifically down to the allowed tags when we pass contenful rich text through `bleach`, so it's very specific to bedrock.

I'll be fixing it today, but thanks for looking and asking!

[2021-11-11 11:25] #10717 closed

[2021-11-11 13:04] maureenlholland opened #10731 "Remove unused picto card code from Privacy Products JS"
We updated our code to use [Picto](https://protocol.mozilla.org/patterns/molecules/picto.html) components after Picto Cards were deprecated.

A side effect of this was breaking the Picto Card Title JS selector in [Firefox's Privacy Products page](https://www.mozilla.org/en-US/firefox/privacy/products/)

Because we already have two links allowing users to open the Protection Report on this page. We

[2021-11-11 13:30] alexgibson commented on #10700
@slightlyoffbeat the suggested headline copy is pretty long here, even for English (other locales will be longer still):

![image](https://user-images.githubusercontent.com/400117/141306436-bf5e6b3b-beb2-416e-8b7a-733ee487b12f.png)

May I suggest using a shortened version instead?

![image](https://user-images.githubusercontent.com/400117/141306542-2e7e62e9-c8f2-433e-b5dd-1d053c8aa8e2.png)

[2021-11-11 13:41] alexgibson commented on #10700
Oh, please disregard the last comment. I see the mockup differs a little to the copy doc. They have moved the second line of heading to the banner copy. It should look like this which is fine:

![image](https://user-images.githubusercontent.com/400117/141307985-c1e22207-3497-4a20-8224-f37378ad0309.png)

[2021-11-11 16:12] slightlyoffbeat commented on #10685
Launch date will be either Dec 9 or Dec 14.

[2021-11-11 17:00] alexgibson opened #10733 "Audit GA code in bedrock"
## Description

We have quite a number of scripts that are all collecting data and pushing that into GA/GTM on every page load. Much of it was written some years ago, and I'm not sure what is still either accurate or useful today. We should audit this code to see if anything can be either removed, updated, or fixed.

- https://github.com/mozilla/bedrock/blob/master/media/js/base/core-datalayer-ini

[2021-11-11 17:20] alexgibson opened #10734 "Standardize GA data attributes for links / buttons"
## Description

We support both `data-cta-type="link"` and `data-cta-type="button"`. Both are used interchangeably throughout our codebase. I think this is mostly due to lack of clear definition for each in [the docs](https://bedrock.readthedocs.io/en/latest/analytics.html#gtm-listeners-data-attributes). For example, if a CTA is a link that's styled to look like a button, which should you use? I'm

[2021-11-11 17:21] alexgibson commented on #10700
@slightlyoffbeat WIP banner is up on demo: https://www-demo1.allizom.org/en-US/

[2021-11-11 17:23] #10582 closed

[2021-11-11 17:26] alexgibson opened #10735 "Do we still need GTM?"
## Description

We load GA through Google Tag Manager (GTM), but we don't really use many of the GTM direct features.

- Is there anything we specifically need GTM for in our current set up?
- How much work would it be to unwind GTM and load GA directly instead?
- Is this even worth doing (what are the benefits), vs the level of effort? (my assumption here is no, but it's worth asking)

---

####

[2021-11-11 17:55] pmac opened #10736 "Move Careers content from careers.m.o to bedrock"
## Description

We will move all pages currently on `careers.mozilla.org` to `www.mozilla.org/careers`. This carries with it improvements for the stability and visibility of this important content, while also reducing the projects and infrastructure we have to maintain.

This first phase will consist mostly of copying code from [Lumbergh](https://github.com/mozmeao/lumbergh). The templates should

[2021-11-11 18:14] #10701 closed

[2021-11-11 21:20] slightlyoffbeat opened #10737 "11/29 VPN Moments page"
## Description

Part of Epic https://github.com/mozilla/bedrock/issues/10702

[Copy Document](https://docs.google.com/document/d/1_TNRdo4t0yrNO5RBfSPTRrCkxEJ94rGHAKdEgS31Fp0/edit?usp=sharing)

Designs: https://www.figma.com/file/UFZ8R9V3lVxpZFQ34g0fN9/VPN-Moments

Slack Channel: `#www-moments`

Go Live Date: 11/29
---

#### Success Criteria
- [ ] Localize Page
- [ ] Develop Page
- [ ] Go live 11/2

[2021-11-11 21:31] slightlyoffbeat commented on #10737
Designs are not handed off yet, but this is a WIP preview shared
![Screen Shot 2021-11-11 at 1 29 05 PM](https://user-images.githubusercontent.com/2030656/141371889-112015e0-6de2-4125-b214-4f5f561d2a41.png)
:

[2021-11-11 23:50] slightlyoffbeat commented on #10686
Assets are coming in! I'll attach en in another comment.

[German Copy doc](https://docs.google.com/document/d/1Ha9Hqp7XOU3fo0yNmw1H_YJCXngF4X5Da-My3dcDLY4/edit#)

[German Figma file](https://www.figma.com/file/BueH10hbfo96Xg8dhIQzgw/Site%3A-getpocket.com-LP?node-id=26%3A199)

Notes:
- it was previously discussed that other locales besides english is a stretch goal. German is now in scope and all

[2021-11-11 23:58] slightlyoffbeat commented on #10686
Assets for English

[Figma File](https://www.figma.com/file/BueH10hbfo96Xg8dhIQzgw/Site%3A-getpocket.com-LP?node-id=0%3A1)

[Copy Document](https://docs.google.com/document/d/1qDCX0b_gbNpBkbbMa0Pbl77JXAdOrDgtu5_x4w6ure0/edit?usp=sharing)

Exported visual assets: coming soon.

Notes: there was a question around whether the hero image at the top of the page should be cropped or not. I asked studio t

[2021-11-11 23:58] slightlyoffbeat commented on #10686
@maureenlholland I wanted to make sure you also saw the Best-of promo in the figma file that should be added to the top of these pages above navigation.

[2021-11-12 00:00] slightlyoffbeat commented on #10700
Looks good. Sharing with stakeholders and I should have feedback next week.

[2021-11-12 00:07] slightlyoffbeat opened #10738 "Pocket best-of promo on mozilla.org"
## Description

There is a request to advertise the pocket best-of promo on mozilla.org

Recommendation for discussion:

Use the promo that is designed for getpocket.com. It would sit above navigation.

Thoughts on this approach
- we be very intentional for how long we keep a promo like this up. It is very prominent.
- We should confirm what pages to show it on. If it is on all of Mozilla.org, it

[2021-11-12 00:12] slightlyoffbeat commented on #10520
Lets set Tue 16 at a deadline for making a decision on the first bullet point.

@alexgibson @pmac could you very briefly recap the pros and cons between the options.

[2021-11-15 10:46] alexgibson commented on #10520
Add attribution call to existing /thanks page:

Pros:
- No need to maintain two separate pages / URLs.
- May catch attribution for other external sites that might link directly to /thanks.

Cons:
- Makes the existing /thanks page logic slightly more complex to maintain (more edge cases to consider).
- If a user blocks GA, and does not already have a stub attribution cookie, it can delay the Firefo

[2021-11-15 12:46] alexgibson commented on #10738
@slightlyoffbeat for some added context here, our banner system is designed so that users visiting our pages will only see a single banner at a time (as in, our code only affords to one banner per page/locale). So if someone sees the Pocket promo banner, they won't see the fundraising banner, as an example. The original intent here was we should avoid potential overloading of promo content.

If we

[2021-11-15 13:05] Ayushsunny commented on #10706
Hey @alexgibson So, what should be the exact message you want to show on the promo?

[2021-11-15 13:06] alexgibson commented on #10706
This has not been discussed / decided yet.

[2021-11-15 18:43] sabrinang commented on #10700
Thanks for the progress on this @alexgibson ! I have design questions/feedback after looking at the demo:

**Interaction:**

- To clarify my understanding, if a person dismisses the banner by tapping X it will never return again (on that browser)?
- Close animation: could it ease out the top to close in 200ms when the X icon is tapped? (animation in [prototype](https://www.figma.com/proto/2TK8tXeD

[2021-11-15 23:57] craigcook commented on #10737
On demo: https://www-demo4.allizom.org/firefox/welcome/11/

[2021-11-16 00:23] slightlyoffbeat commented on #10738
I want to avoid ever showing more than one banner on a single page at the same time.

Right now, there is no overlap between banners. MoFo is requesting Nov 30 & Dec 21 - 31

Pocket banners would be Dec 1 - Dec 15.

[2021-11-16 04:20] slightlyoffbeat commented on #10520
I lean towards a new URL because of simplicity. Do you have a strong opinion?

[2021-11-16 09:14] alexgibson commented on #10700
The fundraising banner uses the standard banner component we use across mozorg, which features a close button. Pressing the close button will set a cookie that prevents the banner from being shown again for 1 day.

I'm going to say no to introducing changes to the base banner functionality at this time, as it's beyond scope of just the fundraising banner. But thatnks for the suggestion.

Yes this

[2021-11-16 09:52] alexgibson commented on #10700
@sabrinang feedback changes are now updated on demo, thank you.

[2021-11-16 13:23] #10722 closed

[2021-11-16 13:32] alexgibson opened #10741 "Improve fundraising banner currency handling"
## Description

This isn't something that needs fixing for the imminent 2021 EOY banner, but could definitely be useful for next time. Currently we display currencies and donation values based on page language, using a set of [predefined options here](https://github.com/mozilla/bedrock/blob/master/bedrock/settings/base.py#L880). This has worked well enough over the years, but it assumed a currency

[2021-11-16 13:40] alexgibson commented on #10520
A new URL is certainly the least amount of effort in order to complete this, as we essentially already have the code to support it. We'd just need to decide on a more pernament URL for it to be accessed. I also agree on trying to keep our main download logic as simple as possible.

As for the URL, personally I'd lean toward using a query parameter e.g. `/firefox/download/thanks/?xv=external`, as t

[2021-11-16 14:26] stevejalim opened #10742 "Contentful: add support for fluent strings to the preview mode"
## Description

We have dev-mode support for previewing Contentful pages prior to publishing them, but if the templates being used for the preview contain fluent tokens, the relevant fluent translations are not loaded, because the FTL templates are not specced in the `ContentfulPreviewView`

---

#### Success Criteria
- [ ] Previewing Contentful pages shows a fluent-sourced string for any fluent t

[2021-11-16 14:40] stevejalim opened #10743 "Contentful: Support getting better quality images"
## Description

At the moment we pull the 'preview_image' field from Contentful data, but (based on the fact that there us `TODO request proper size image` in the original code), this looks like it may not always be the ideal choice.

This might be a good moment to support `srcset`s of any particular image.

Exact spect TBD

---

#### Success Criteria
- [ ] The BE provides a variety of image sizes

[2021-11-16 14:42] stevejalim commented on #10743
heya @alexgibson - this feels like a good ticket to collaborate on, particularly re the image sizes we need (and what we might have available). What are your thoughts on this?

[2021-11-16 14:45] alexgibson commented on #10743
@stevejalim Can you give more detail as to which image you mean by `preview_image`?

[2021-11-16 14:52] alexgibson commented on #10743
If this relates to the [page image](https://www.mozilla.org/media/img/products/vpn/common/social-share.fd20884beaac.png), that is used in social sharing contexts, then I'm not sure we need to serve different sizes / formats to different clients. It only needs to meet a minimum size to be used in social feeds. Looking at our existing images, this seems to be `1200px / 600px`.

[2021-11-16 16:09] stevejalim opened #10744 "Contentful: (as-yet-unused) category list may contain duplicates"
As spotted in https://github.com/mozilla/bedrock/pull/10697#discussion_r750365868 `_build_category_list` doesn't exclude duplicates, so we should fix this.

Tests also needed.

[2021-11-16 17:35] #10712 closed

[2021-11-16 17:49] alexgibson opened #10746 "Conduct Glean.js evaluation"
## Description

Mozilla's [Glean.js](https://mozilla.github.io/glean/book/index.html) analytics/telemetry now supports websites using theit [JS library](https://www.npmjs.com/package/@mozilla/glean), which is available as an NPM package.

We should evaluate this as a potential for replacing Google analytics. A first step for that evaluation could be:

1. Implement glean.js SDK in bedrock.
2. Defin

[2021-11-16 17:56] alexgibson commented on #10746
Useful resources (Mozilla access only): https://docs.google.com/document/d/12KgtM185_zgvvXWK3SGpX6x7mSgCmFM2skncziyg0f0/edit?usp=sharing

[2021-11-16 18:35] nathan-barrett opened #10749 "Migrate /android page from pocket-marketing-pages"
Moving the [/android](https://getpocket.com/en/android) page from pocket-marketing-pages to bedrock

[2021-11-16 20:10] nathan-barrett opened #10750 "Migrate /chrome from pocket-marketing-pages"
Moving the [/chrome](https://www.getpocket.com/en/chrome) page from pocket-marketing-pages to bedrock

[2021-11-16 20:11] nathan-barrett opened #10751 "edge - Nathan"

[2021-11-16 20:11] nathan-barrett opened #10752 "ios - Nathan"

[2021-11-16 20:12] nathan-barrett opened #10753 "Migrate /opera from pocket-marketing-pages"
Moving the [/opera](https://getpocket.com/en/opera) page from pocket-marketing-pages to bedrock

[2021-11-16 20:12] nathan-barrett opened #10754 "safari - Nathan"

[2021-11-16 20:12] nathan-barrett opened #10755 "Migrate /contact-info from pocket-marketing-pages"
Moving the [/contact-info](https://www.getpocket.com/en/contact-info) page from pocket-marketing-pages to bedrock

[2021-11-16 20:12] nathan-barrett opened #10756 "Migrate /explore/pocket-hits-signup from pocket-marketing-pages"
Moving the [/explore/pocket-hits-signup](https://www.getpocket.com/en/explore/pocket-hits-signup) page from pocket-marketing-pages to bedrock

[2021-11-16 20:12] nathan-barrett opened #10757 "Migrate firefox/new_tab_learn_more from pocket-marketing-pages"
Moving the [/firefox/new_tab_learn_more](https://getpocket.com/en/firefox/new_tab_learn_more) page from pocket-marketing-pages to bedrock

[2021-11-16 20:12] nathan-barrett opened #10758 "Migrate /get-inspired from pocket-marketing-pages"
Moving the [/get-inspired](https://getpocket.com/en/get-inspired) page from pocket-marketing-pages to bedrock

[2021-11-16 20:12] nathan-barrett opened #10759 "Migrate /jobs from pocket-marketing-pages"
Moving the [/jobs](https://getpocket.com/en/jobs) page from pocket-marketing-pages to bedrock

[2021-11-16 20:12] nathan-barrett opened #10760 "Migrate /pocket-and-firefox from pocket-marketing-pages"
Moving the [/pocket-and-firefox](https://getpocket.com/en/pocket-and-firefox) page from pocket-marketing-pages to bedrock

[2021-11-16 20:12] nathan-barrett opened #10761 "Migrate /pocket-hits/confirmation from pocket-marketing-pages"
Moving the [/pocket-hits/confirmation](https://getpocket.com/en/pocket-hits/confirmation) page from pocket-marketing-pages to bedrock

[2021-11-16 20:12] nathan-barrett opened #10762 "Migrate /privacy from pocket-marketing-pages"
Moving the [/privacy](https://getpocket.com/en/privacy) page from pocket-marketing-pages to bedrock

[2021-11-16 20:12] nathan-barrett opened #10763 "Migrate /tos from pocket-marketing-pages"
Moving the [/tos](https://www.getpocket.com/en/tos) page from pocket-marketing-pages to bedrock

[2021-11-16 20:12] nathan-barrett opened #10764 "Migrate /save-to-pocket from pocket-marketing-pages"
Moving the [/save-to-pocket](https://getpocket.com/en/save-to-pocket) page from pocket-marketing-pages to bedrock

[2021-11-16 20:19] menghif commented on #10731
@maureenlholland Hi, I'm trying to reproduce this locally but when I click on "See what Firefox has blocked for you" it takes me to the [support page](https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop?utm_source=mozilla.org-privacy-products&utm_medium=referral&utm_campaign=privacy-products&entrypoint=mozilla.org-privacy-products) instead of `about:protections`.

`Mo

[2021-11-16 20:45] slightlyoffbeat opened #10765 "[Contentful] Enable linking to an entry"
## Description

I noticed in the resource center, when creating a link, I could either:

1. link to a URL (and provide URL)
2. link to an entry (and select that entry)

Linking to a URL works as expected, but the second does not work and I suspect needs some setup in order to use.

Current behavior: if I select "link to entry" and then choose another resource center page, it will not create a link

[2021-11-16 20:50] nathan-barrett opened #10766 "welcome"

[2021-11-16 20:52] nathan-barrett opened #10767 "Migrate /welcome from pocket-marketing-pages"
Moving the [/welcome](https://www.getpocket.com/en/welcome) page from pocket-marketing-pages to bedrock

[2021-11-16 22:08] maureenlholland commented on #10731
@menghif great question - yes, I've linked it in the description now. There are some changes to you have to make in your Firefox config to get UITour working locally, relevant part of the docs below:

**Local development**

To develop or test using Mozilla.UITour locally you need to create some custom preferences in `about:config`.

browser.uitour.testingOrigins (string) (value: local address e.g.

[2021-11-16 22:41] slightlyoffbeat opened #10768 "[Contentful] Unnecessary class is being added to some elements"
## Description

I am seeing the class `mzp-c-cta-link` being added to empty paragraphs. It is also  being added to one specific paragraph and I cannot figure out why.

What is in Contentful:
<img width="779" alt="image" src="https://user-images.githubusercontent.com/2030656/142077372-d8d21d4f-c561-4dd7-a5fd-e8e35b4fc282.png">

What is rendered:
<img width="696" alt="image" src="https://user-images

[2021-11-16 23:52] #10766 closed

[2021-11-17 00:15] sabrinang commented on #10700
@alexgibson Thanks for making those updates!

I checked with fundraising and they'd want to flip the order of `One-time` & `Monthly` radio buttons so the banner matches the order seen on the donate page and to also make `Monthly` the default selection instead of `One-time`.

[2021-11-17 01:55] slightlyoffbeat opened #10769 "[Contentful] Add default margin or padding below images in resource center"
## Description

We should add default margin or padding beneath images. This could be applied to all images inserted in to rich text content fields, or we could make it specific to resource center for now

<img width="779" alt="image" src="https://user-images.githubusercontent.com/2030656/142094918-12db827d-8ae1-4c92-b2bf-723e29cc29b8.png">

[2021-11-17 09:15] alexgibson commented on #10700
@sabrinang good suggestion - updated, thanks again.

[2021-11-17 09:31] alexgibson commented on #10768
I took a lookinto this and it seems like we apply some logic to paragraph formatting here: https://github.com/mozilla/bedrock/blob/master/bedrock/contentful/api.py#L305-L309

the logic asumes we should apply the `.mzp-c-cta-link` class to any paragraph that contains only one link, which feels a little too magic to me. I'm not sure that logic should really imply any special styling, so I think it's

[2021-11-17 10:04] alexgibson commented on #10670
PR to enable CORS for localhost: https://github.com/mozilla-services/cloudops-deployment/pull/4452

[2021-11-17 10:19] #10768 closed

[2021-11-17 10:21] stevejalim opened #10771 "Contentful preview does not show title on VRC pages"
## Description

When previewing VRC pages on Contentful, the bedrock-rendered page does not show the title:

<img width="760" alt="Screenshot 2021-11-17 at 10 19 45" src="https://user-images.githubusercontent.com/101457/142182331-23b834a4-f4fb-42d9-b443-f9de113a180c.png">

### Steps to reproduce

Preview a VRC page from contentful.
### Expected result

The page title is visible in the rendered pag

[2021-11-17 12:14] #10711 closed

[2021-11-17 12:34] maureenlholland commented on #10746
This looks like a good plan to me. I like the idea of a control page and a Glean-specific page (building off what I think @craigcook mentioned in our meeting).

1. **Control:** set up Glean to measure something exactly the same way GA does
2. **Glean-specific:** [initialize Glean](https://mozilla.github.io/glean/book/reference/general/initializing.html#initializing) to measure something based on a

[2021-11-17 12:51] stevejalim opened #10773 "Add support for Contentful SQS queues for stage and prod"
Following on from dev-specific work for supporting the Contentful SQS webhook, we need to add it for Stage and Prod, too

This will involve PRs for both infra (first), then credentials, then config using those secrets

Relevant reference PRs for the work done on Dev are:

* https://github.com/mozmeao/infra-services/pull/145
* https://github.com/mozmeao/infra-services/pull/146
* https://github.com/

[2021-11-17 13:13] stevejalim opened #10774 "Contentful: rogue escaped `<u>` tags in dev content"
## Description

https://www-dev.allizom.org/en-US/products/vpn/resource-center/how-your-location-is-tracked-and-how-you-can-limit-sharing-it/ features contnet styled with an underline, which then renders as escaped `u` tags, because we're not treating them as allowable in rich text

### Steps to reproduce

Visit https://www-dev.allizom.org/en-US/products/vpn/resource-center/how-your-location-is-tr

[2021-11-17 13:14] stevejalim commented on #10774
Pinging you @slightlyoffbeat - but let me know if you don't mind me fixing this kind of content niggle myself - happy to

[2021-11-17 15:06] menghif commented on #10731
Thank you for your help @maureenlholland! I'm sending a PR now

[2021-11-17 15:20] #10731 closed

[2021-11-17 16:06] #10744 closed

[2021-11-17 16:16] stevejalim commented on #10771
Closing this as it's not quite the pain point. I was previewing the pagePageResourceCenter entry, not the compose page that was using it. Previewing the former lacked the title, previewing the latter did show the title, because THAT was the appropriate thing to preview.

This has been made simpler by disabling the option to preview `pagePageResourceCenter`, but retaining the ability to preview the

[2021-11-17 16:16] #10771 closed

[2021-11-17 16:21] stevejalim opened #10776 "[Contentful] Enable page preview directly from Compose's authoring view"
## Description

While exploring https://github.com/mozilla/bedrock/issues/10771 @pmac and I spotted that the ideal behaviour is to have a preview available from the Compose view, but when we try to use it, it says 'Please ask an admin to enable content preview' even when one is an admin for the core Contentful webapp.

#### Success Criteria
- [x] We're able to trigger a preview in bedrock directly

[2021-11-17 16:59] alexgibson opened #10777 ""Start protecting your identity today" section in VRC spacing issue"
URL: https://www-dev.allizom.org/en-US/products/vpn/resource-center/

At medium viewport sizes the "Start protecting your identity today" section is missing some spacing between itself and the section below.

![image](https://user-images.githubusercontent.com/400117/142246425-9dcc3a87-da09-4a2f-a20e-7f9d39f6625b.png)

[2021-11-17 17:05] pmac opened #10778 "Add VRC pages to the sitemap"
## Description

The sitemap for the site is generated mostly based on URL configs, but for data-backed pages we need to specifically add the URLs. This is done mostly in [sitemaps/utils.py](https://github.com/mozilla/bedrock/blob/master/bedrock/sitemaps/utils.py).

[2021-11-17 20:01] reemhamz opened #10779 "Make the /add Pocket page mobile-friendly"
## Description

The [/add](http://localhost:8000/en-US/external/pocket/add/) page is already published but isn't mobile friendly. Let's make it mobile friendly.

## Parent issues
- #10211
- https://github.com/mozilla/bedrock/pull/10675
---

#### Success Criteria
- [ ] Make add page mobile friendly

[2021-11-17 20:25] robhudson opened #10780 "Broken links on /about/forums/"
## Description

The anchor tags on https://www-dev.allizom.org/en-US/about/forums/ are currently displayed as text, not hyperlinks. This differs from the behavior in production.

### Steps to reproduce

Visit the dev environment: https://www-dev.allizom.org/en-US/about/forums/

### Expected result

The anchor tags should be links.

### Actual result

The anchor tags are not marked up HTML.

[2021-11-17 21:35] #10780 closed

[2021-11-17 23:19] sabrinang commented on #10700
@alexgibson Sorry to revise one last time, the team decided to default back to `One-time` instead so it sticks to existing revenue expectations. Thanks for all your help and it'll be good to go!

[2021-11-18 00:34] nathan-barrett opened #10783 "create header/footer for platform pages (chrome, ios, etc.)"

[2021-11-18 05:22] slightlyoffbeat commented on #10776
Should be fixed now. If you can confirm, feel free to close.

Trick was using `{entry.linkedBy.sys.id}`

<img width="621" alt="image" src="https://user-images.githubusercontent.com/2030656/142356683-d4544e2e-c99a-41e9-83de-ea2cbf132790.png">

[2021-11-18 05:23] slightlyoffbeat commented on #10774
Should be fixed, but I can't confirm till dev updates.

[2021-11-18 05:26] slightlyoffbeat opened #10785 "[Contentful] Forward pages that now have content hosted in VPN Resource Center"
## Description

The content that is now hosted in the VPN Resource Center was previously hosted on either the blog or has an older page on mozilla.org.

The resource center should be the canonical source now and older sources of content should forward.

---

#### Success Criteria
- [ ] Forward https://www.mozilla.org/en-US/products/vpn/more/what-is-a-vpn/
- [ ] Forward https://www.mozilla.org/en-U

[2021-11-18 05:27] slightlyoffbeat commented on #10785
I'll take the blog content since that is handled in WP Engine, but someone else will need to pick up the rest of this task for the bedrock content.

[2021-11-18 05:29] slightlyoffbeat commented on #10785
VRC is soft launched for now, but will eventually need to have a spot in the VPN sub navigation.

We should also remove old links from that sub navigation, and ideally it should all happen at once.

I can create another issue for that.

[2021-11-18 05:42] slightlyoffbeat commented on #10520
This sounds good to me, especially with the point of it being easier if we move towards a single URL in the future.

How about `/firefox/download/thanks/?s=external` (vague enough, but still conveys the purpose)

alt: `/firefox/download/thanks/?xv=direct` (a bit redundant)

[2021-11-18 09:20] alexgibson commented on #10785
@slightlyoffbeat many of these mozorg pages are localized in dozens of languages. Are we sure we want to lose those translations, or should we only redirect `/en-US/` for the time being?

[2021-11-18 09:23] alexgibson commented on #10520
@slightlyoffbeat if we're going to use the same template / design as the current /thanks page, then I like the sound of `?s=external`. We typically use `xv=` for serving different visual designs ("experience version"), so if we want to introduce some design new elements here then I think we should stick to using that.

If we just want to stick with the current design / messaging for now, let me kn

[2021-11-18 09:26] alexgibson commented on #10700
@sabrinang got it, thank you

[2021-11-18 09:49] alexgibson commented on #9810
I think we can close this one out, fixed in https://github.com/mozilla/bedrock/pull/10660

[2021-11-18 09:49] #9810 closed

[2021-11-18 09:50] alexgibson commented on #9810
Fixed in https://github.com/mozilla/bedrock/pull/10660

[2021-11-18 09:50] alexgibson commented on #8962
Fixed in https://github.com/mozilla/bedrock/pull/10660

[2021-11-18 09:50] #8962 closed

[2021-11-18 11:02] stevejalim commented on #10776
Yep, works for me! Thanks @slightlyoffbeat 🥁

[2021-11-18 11:02] #10776 closed

[2021-11-18 11:45] #10777 closed

[2021-11-18 13:45] alexgibson opened #10787 "Non useful alt text on images served through Contentful"
## Description

Images served through Contentful in the VRC pages have non-useful alt text.

### Steps to reproduce

1. Open https://www-dev.allizom.org/en-US/products/vpn/resource-center/what-is-an-ip-address/
2. Scroll down to the image containing an IP address in the middle of the article.
3. Inspect the `<img>` source.

### Expected result

The image is purely decorative, so it should contain

[2021-11-18 15:02] #10504 closed

[2021-11-18 15:35] #10700 closed

[2021-11-18 16:51] alexgibson opened #10792 "[Nov 30] Enable home page fundraising banner for Giving Day"
## Description

Enable morning of Nov 30

- `SWITCH_FUNDRAISING_BANNER_EOY2021=on`
- `SWITCH_FUNDRAISING_BANNER_GIVING_TUESDAY_2021=on`

Can be turned off the following day.

---

#### Success Criteria
- [ ] Fundraising banner is live for Giving Tuesday

[2021-11-18 16:52] alexgibson opened #10793 "[Dec 21] Enable home page fundraising banner for EOY"
## Description

Enable morning of Dec 21st

- `SWITCH_FUNDRAISING_BANNER_EOY2021=on`
- `SWITCH_FUNDRAISING_BANNER_GIVING_TUESDAY_2021=off`

Can be turned off Jan 1st.

---

#### Success Criteria
- [x] Fundraising banner is live for EOY period.

[2021-11-18 16:57] maureenlholland commented on #10738
I can probably pick this up, but I'm hoping to get Pocket Home ready for review first. If someone else wants to jump on it, these are the relevant files from the Pocket repo:
https://github.com/mozmeao/pocket-marketing-pages/pull/38/files#diff-0cf0e4440bab46e815d12d2c9b4cd1372b301d01fe5f708772a8b3e2ea0589af
https://github.com/mozmeao/pocket-marketing-pages/pull/38/files#diff-d3937b0e5a1df9650afd08

[2021-11-18 21:46] #10774 closed

[2021-11-18 21:48] slightlyoffbeat commented on #10520
`?s=external` works for me. Lets move forward with it.

[2021-11-19 09:52] alexgibson opened #10795 "Lockwise copy is shown when trying to download Firefox using Firefox."
## Description

Describe the issue that you're seeing.

### Steps to reproduce

1. Using Firefox (not signed into an FxA account), open https://www.mozilla.org/en-US/firefox/new/.
2. Click "Download Firefox".
3. Observe the popup that gets shown.

<img width="638" alt="image" src="https://user-images.githubusercontent.com/400117/142602322-ef13512e-62a2-4e3d-8613-0045e2e2165d.png">

### Expected re

[2021-11-19 10:44] alexgibson commented on #10520
Ok, gonna pick this up - thanks!

[2021-11-19 10:48] alexgibson commented on #10670
This is now fixed for both www-dev and localhost. Thanks @jbuck 💯

[2021-11-19 10:48] #10670 closed

[2021-11-19 15:10] maureenlholland commented on #10738
@slightlyoffbeat To confirm, we only want one version of this banner in bedrock, correct?

The German figma files have a different banner: https://www.figma.com/file/BueH10hbfo96Xg8dhIQzgw/Site%3A-getpocket.com-LP?node-id=333%3A6763

[2021-11-19 17:58] #10703 closed

[2021-11-19 19:22] slightlyoffbeat commented on #10738
Yes, lets just have one single banner. We can go with the En design

[2021-11-19 20:32] slightlyoffbeat opened #10799 "WNP 94 (en)"
What's New page for EN is Pocket focused. Firefox 95 is released on December 7.

[Design](https://www.figma.com/file/CZvzHgU9NQMQUm34lomIl5/Firefox-WNP?node-id=1262%3A39453)

[Copy](https://docs.google.com/document/d/1-pAf5MeEx4hin3VDVheicXOa7s3lywNPZkxeXxT235g/edit?usp=sharing)

The "Best of 2021" version is the final version.

[2021-11-19 20:50] slightlyoffbeat opened #10800 "Whats New Page (de)"
## Description

WNP for Fx95 de is Pocket focused. Fx95 releases on Dec 7.

[Design](https://www.figma.com/file/8fVLbzzAd40lSSLuOwCfnl/Firefox-WNP-EU-(Copy-June-2021)?node-id=916%3A2249)

[Copy](https://docs.google.com/document/d/1Ef1UPSKEqxTropynqe_hlEgou56eX3Rd7GSLkceDFSU/edit?usp=sharing)

No split test. No languages for EU besides DE.

[2021-11-19 20:58] slightlyoffbeat opened #10801 "Moments Page - 12/15"
## Description

Our third moments page for Q4 2020.

Two moments pages will be built:

1st:  MAC (multi account container) users
Messaging: Mozilla's VPN can help you more than you might think! (Focus on MAC integration)

2nd: Remaining Fx account holders
Messaging: Give the gift of Mozilla VPN to your loved ones

Copy: current WIP. Working doc [here](https://docs.google.com/document/d/1zrSH7DOO_f

[2021-11-19 22:29] #10737 closed

[2021-11-19 23:00] reemhamz opened #10802 "Add run command for Bedrock documentation"
## Description

[Bedrock's documentation](https://bedrock.readthedocs.io/en/latest/) is able to be edited straight from our code. Running the `make livehtml` command runs a live preview server that benefits whoever is editing it docs. We should add that command in the Bedrock documentation page for better reference for developers and contributors.

---

#### Success Criteria
- [ ] Create a new sec

[2021-11-19 23:17] pmac commented on #10802
You can run the docs stuff from the main Makefile; i.e. you don't have to cd to the docs directory.

- `make livedocs`: Generates the docs and starts a server with live reload
- `make docs`: Does the same as above, but runs it all in a Docker container

[2021-11-22 09:23] alexgibson opened #10803 "Update NodeJS and NPM versions"
## Description
When installing bedrock using NPM v7 or greater via `npm install`, a warning is given in the terminal:

[code]

Given that the latest NPM release is now v8, and the latest Node LTS release is now v16, we should update both dependencies in bedrock.

---

#### Success Criteria
- [x] Node is updated to v16 (LTS release)
- [x] NPM is updated to v8 or greater.

[2021-11-22 10:07] #10787 closed

[2021-11-22 12:03] stevejalim commented on #10778
Picking this up as a break from backfilling tests

[2021-11-22 14:31] reemhamz commented on #10802
@pmac Ah! Perfect, thanks for the heads up.

[2021-11-22 18:37] alexgibson commented on #10746
Depends on https://bugzilla.mozilla.org/show_bug.cgi?id=1742444

[2021-11-22 18:55] #10769 closed

[2021-11-23 09:43] alexgibson commented on #10746
Debugger for testing pings: https://debug-ping-preview.firebaseapp.com/

[2021-11-23 11:28] stevejalim commented on #10639
Batches 1 and 2 done (see above). Hopefully batch 3 will be the last one

[2021-11-23 11:28] #10778 closed

[2021-11-23 12:03] stevejalim commented on #10773
Soft-blocked awaiting credentials access

[2021-11-23 14:34] stevejalim opened #10810 "Epic: Improve health checks"
## Description

We had a degradation of service due to a bug we hadn't spotted on dev or stage, so we should try to improve automatic alerting and checking of the platform each time we roll out a release (to dev, stage or prod)

---

#### Issues to come - bullet points for now

- [ ] Add a check to healthz-cron that ensures key pages (TBC which) return a HTTP 200
  - [ ] Add a check to healthz-cro

[2021-11-23 14:37] #10803 closed

[2021-11-23 15:47] reemhamz commented on #10802
Closing because the section [already exists](https://bedrock.readthedocs.io/en/latest/install.html?highlight=markdown#documentation) (i just couldn't find it before 😂)

[2021-11-23 15:47] #10802 closed

[2021-11-23 15:47] alexgibson commented on #10746
I put together a proof-of-concept branch here for using Glean in bedrock: https://github.com/alexgibson/bedrock/tree/gleanjs

Some initial finding:

- Works in the latest versions of all major desktop web browsers.
- Does not work in Internet Explorer.
- Works as far back as Firefox 60.
- Works as far back as Chrom 81.
- Works as far back as Safari 11.
- The minified Glean JS bundle is around 66kb

[2021-11-23 16:07] alexgibson commented on #10746
Given the above, I'd say that using Glean for Analytics on bedrock might be ok if we're not really too concerned with data from legacy browsers. I can't speak for Firefox, but many of our newer products such as VPN (which require FxA auth) already don't work in older browsers such as IE.

[2021-11-23 16:35] alexgibson opened #10811 "Add service=guardian-vpn parameter to VPN metrics-flow and FxA links"
## Description

In order to make querying data easier, Data Science (yeonjoo) would like to add a unique identifier `service=guardian-vpn` to all Mozilla VPN subscription / sign-in links, as well as to the metrics-flow request that happens on page load.

This will need testing on demo/FxA stage to make sure the param is kept throughout the subscription flow.

---

#### Success Criteria
- [ ] `serv

[2021-11-23 17:25] alexgibson commented on #10800
I'm going to pick this up and work on it as US folks are out over Thanks Giving.

[2021-11-23 19:46] stevejalim opened #10813 "DB update script - improve logging"
#### Success Criteria
- [ ] Each step of the DB update script should log any failures to Sentry

[2021-11-23 19:47] stevejalim opened #10814 "Add Dead Man's Snitch reporting to DB update commands"
Each management command in the the run-db-update.sh script should return a non-zero value if it failed, and we should check these. If all is well, issue a snitch call upon completion.

#### Success Criteria
- [ ] Any failure in the run-db-update.sh script means a snitch call is NOT made

[2021-11-23 19:48] stevejalim opened #10815 "Update /healthz-cron/ to show when content was last actually ingested from Contentful"
## Description

Update /healthz-cron/ to show the latest ContentfulEntry timestamp, so we know when content was last actually ingested

---

#### Success Criteria
- [ ] /healthz-cron/ shows the latest ContentfulEntry's last_updated timestamp

[2021-11-24 14:55] alexgibson commented on #10800
Demo: https://www-demo1.allizom.org/de/firefox/95.0/whatsnew/

[2021-11-24 16:32] #10713 closed

[2021-11-24 16:53] stevejalim opened #10818 "Check if we can retire CronCommand"
## Description

While reviewing #10817, @pmac [said this](https://github.com/mozilla/bedrock/pull/10817#pullrequestreview-815170428)

We should check if we def need this and retire it if we don't

[2021-11-24 17:23] punster-moz opened #10819 "Windows 11 string not displayed on the VPN Waitlist page"
## Description

Windows 11 string not displayed on the VPN Waitlist page

### Steps to reproduce

Be on https://www-dev.allizom.org/en-US/products/vpn/invite/ VPN Waitlist page (stage);

### Expected result

Windows 11 string is correctly displayed in the platforms section;

### Actual result

Windows 11 string is not displayed in the platforms section;

### Environment
Affected versions:

    All

[2021-11-24 17:29] alexgibson commented on #10819
@punster-moz thanks for the report!

[2021-11-24 18:11] robhudson opened #10820 "Enable database access via `./manage.py dbshell`"
## Description

Currently trying to access the `dbshell` fails due to a missing sqlite3 client.

[code]

[2021-11-25 08:08] madalincm opened #10821 "[subplat] Windows 11 string not displayed on the VPN homepages"
#### Affected versions:
- All;

#### Affected FxA versions:
- 1.220.0;

#### Affected Guardian versions:
- v1.20.b2;

#### Prerequisites:
- Have the browser or system language set to French;
- Be on https://www-dev.allizom.org/en-US/products/vpn/ VPN homepage;

#### Steps to reproduce:
1. Navigate to the FAQs section;
2. Click on “What device is Mozilla VPN compatible with?” option;
3. Observe the

[2021-11-25 10:27] alexgibson commented on #10821
/cc @peiying2 as this is a string in Smarlting

[2021-11-25 14:45] alexgibson commented on #10811
I'm seeing a 400 error when including this new param in the metrics-flow API call:

https://accounts.stage.mozaws.net/metrics-flow?form_type=button&service=guardian-vpn&entrypoint=www.mozilla.org-vpn-product-page&utm_source=www.mozilla.org-vpn-product-page&utm_campaign=vpn-product-page&utm_medium=referral

`child \"service\" fails because [\"service\" with value \"guardian-vpn\" fails to match the

[2021-11-25 15:28] #10819 closed

[2021-11-26 08:25] madalincm commented on #10819
Verified this on Guardian v1.20.b2. "Windows 10/11" string is displayed on the VPN Waitlist Page, but only when the EN-US/EN-CA/EN-GB locales are used.
"Windows 10" string is displayed when using any other locale.

[2021-11-26 09:16] alexgibson commented on #10819
Please give time for locales to translate the new string.

[2021-11-26 09:38] alexgibson commented on #10800
The UTM parameters for the Pocket CTA on this page are as follow:

- `utm_source=mozilla.org-whatsnew95`
- `utm_medium=referral`
- `utm_campaign=whatsnew95-de`
- `utm_content=signup-fxa`

[2021-11-26 10:26] alexgibson commented on #10580
This was fixed - the page is now ~600kb on first page load 🔥

[2021-11-26 10:26] #10580 closed

[2021-11-26 10:28] alexgibson commented on #7021
Closing on inactive issue

[2021-11-26 10:28] #7021 closed

[2021-11-26 10:31] alexgibson commented on #10593
Closing this as fixed, but feel free to reopen @stevejalim if there's still something that needs doing here

[2021-11-26 10:31] #10593 closed

[2021-11-26 12:31] stevejalim commented on #10593
👍👍

On Fri, 26 Nov 2021, 10:32 Alex Gibson, ***@***.***> wrote:

[2021-11-26 14:12] alexgibson opened #10829 "Make all WNPs share common footer styles"
## Description

We use a custom page footer for the WNP becuase we support both light / dark themes for those pages. Currently the code to support that is copy / pasted each time for every WNP release. Whilst easy to rip out, this becomes a chore if we ever want to tweak those styles in a universal way. It ultimately leads to inconsistency between WNP releases as tweaks are made in code reviews fo

[2021-11-26 14:30] alexgibson opened #10830 "Improve consistency between Mozilla and Firefox themed footers"
## Description

There may be some explaination for this I'm not aware of, but I find it a bit hard to figure out - so an issue might be a good place discuss things. We have two main variations of page footer on mozorg, one which is Mozilla themed and one which is Firefox themed. The content for each is identical, despite the difference in styling.

The following things are minor details, but I not

[2021-11-26 14:36] alexgibson commented on #10829
See also: https://github.com/mozilla/bedrock/issues/10830

[2021-11-26 14:51] #10800 closed

[2021-11-26 16:34] alexgibson opened #10831 "Add docs for how to install new Python dependencies"
## Description

We use a package called [hashin](https://pypi.org/project/hashin/) to pin dependencies via their hashes in our requirements files. Hashin needs to first be installed using `pip install hashin` before adding new dependencies (e.g.`hashin package-name --requirements-file=requirements/dev.txt`).

I nearly always either forget what this package is called, or forget what the command is

[2021-11-29 09:09] alexgibson commented on #10811
@vbudhram hi, can you help with the error here in comment https://github.com/mozilla/bedrock/issues/10811#issuecomment-979272243 ?

[2021-11-29 10:12] alexgibson opened #10834 "Remove leftover linkchecker job files."
## Description

We used to have a scheduled Jenkins job that scraped the site for broken / 404 links. That job no longer exists (afaik?), but there are still various scripts and code relating to it that can probably be removed: https://github.com/mozilla/bedrock/search?q=linkchecker

---

#### Success Criteria
- [ ] Old linkchecker code is removed from the repo.

[2021-11-29 11:24] #10831 closed

[2021-11-29 16:22] alexgibson opened #10836 "Welcome page 11 - footer link hover bug"
See: https://bugzilla.mozilla.org/show_bug.cgi?id=1743408

[2021-11-29 23:11] slightlyoffbeat commented on #10792
@alexgibson looks like you have this covered, but pinging just in case.

[2021-11-30 09:00] alexgibson commented on #10792
Looks good on stage: https://www.allizom.org/en-US/

[2021-11-30 09:26] alexgibson commented on #10792
Live on prod: https://www.mozilla.org/en-US/

[2021-11-30 09:26] #10792 closed

[2021-11-30 10:45] alexgibson opened #10841 "Lint Pocket pages scss"
## Description

We currently [ignore](https://github.com/mozilla/bedrock/blob/master/.stylelintrc#L41) the Pocket pages Scss files when running Stylelint because they don't follow the same conventions as bedrock. We should update these files to pass linting checks, so we don't have to keep switching between standards / conventions when working on different parts of the site.

---

#### Success Cri

[2021-11-30 10:53] alexgibson opened #10842 "Pocket pages mobile navigation is broken"
## Description

The mobile navigation on the pocket pages is non-functional.

### Steps to reproduce

1. Visit https://www-dev.allizom.org/en-US/external/pocket/about/ (either on a mobile device or resize to a small viewport on desktop)
2. Click on the hamburger menu icon (left).
3. Click on the account icon (right).

![image](https://user-images.githubusercontent.com/400117/144033871-b308c6f5-3cc

[2021-11-30 11:01] alexgibson opened #10843 "UI / responsive issues on /pocket/add/ page"
## Description

The following page has several UI issues

### Steps to reproduce

1. Visit https://www-dev.allizom.org/en-US/external/pocket/add/

### Expected result

1. The hero image does not maintain it's correct aspect ratio when viewed at different page widths:

<img src="https://user-images.githubusercontent.com/400117/144035130-d038cdd5-4383-4b5f-8b87-25d49820ec82.png" alt="image" width="4

[2021-11-30 17:59] vbudhram commented on #10811
Hey @alexgibson I have landed a change on our side, https://github.com/mozilla/fxa/pull/11180, that should fix the error you are getting. We should be deploying to stage shortly and production next week.

[2021-11-30 18:32] #10814 closed

[2021-11-30 20:14] #10813 closed

[2021-12-01 09:31] #10836 closed

[2021-12-01 14:09] alexgibson commented on #10811
Many thanks @vbudhram 💯

[2021-12-01 15:36] #10738 closed

[2021-12-01 17:54] alexgibson commented on #10811
@YeonjooSmith this is not ready for testing up on staging. I set up a demo link here, can you please test?

https://www-demo1.allizom.org/en-US/products/vpn/

[2021-12-01 18:50] flodolo opened #10850 "Privacy notice for Klar is incomplete"
Klar used to have a separate file for German, but they were unified recently in a single file.

https://www.mozilla.org/de/privacy/firefox-klar/

This shows the right title, but:
* The date shows the month, while it should show `14. Oktober 2021`
* The entire first paragraph is missing.

See the original source doc
https://github.com/mozilla/legal-docs/blob/master/de/focus_privacy_notice.md

[2021-12-01 18:51] flodolo commented on #10850
I compared the file for de and other locales, and couldn't spot anything strange. I wonder if there's code that treats German in a different way for that specific file.

[2021-12-02 08:30] #10799 closed

[2021-12-02 10:07] alexgibson commented on #10850
I took a look at this locally and I think I might have figured out what's happening. Because the file is markdown, the date formatting is being interpreted as a list item:

`14. Oktober 2021`

Resolves to

`<li datetime="2021-10-14">Oktober 2021</li>`

This them also messes up the lead-in paragraph, because the next sibling is assumed to be a paragraph, but it's actually the list parent.

Is it po

[2021-12-02 10:26] flodolo commented on #10850
Absolutely, done in https://github.com/mozilla/legal-docs/commit/3507636a0bd6296640b9abcfe70ed8ec4fec92b2 (and noticed there's at least another doc where that's done)

[2021-12-02 10:34] flodolo commented on #10850
Thanks, that worked
https://www-dev.allizom.org/de/privacy/firefox-klar/

I wonder if there's a way to make the parser deal in a more robust way with this? With that said, if it happens again, at least we know.

[2021-12-02 10:40] alexgibson commented on #10850
I'm not really sure here. The parser is working in that it's interpreting markdown correctly. But I'm not sure we can easily tell between an intentional list and an unintentional one, if they are both formatted in the same way.

But at least for now, we have figured out the issue and solved it in this case. I'm going to close this for now, but we can always try and figure something better out if i

[2021-12-02 10:40] #10850 closed

[2021-12-02 12:51] #10841 closed

[2021-12-02 14:23] #10520 closed

[2021-12-02 14:43] #10687 closed

[2021-12-02 14:53] alexgibson commented on #10520
I'll let you know when it's live and make sure to document the URL.

[2021-12-02 15:16] reemhamz commented on #10647
Hey @maureenlholland, I think you did a fantastic job with this copy 🍉! I do have a couple edits that simplify the usage and understanding of macros if that's cool:

---
### Macros (H3)
The team has created several [Jinja macros](https://jinja.palletsprojects.com/en/3.0.x/templates/#macros) out of Protocol components to simplify the usage of components housing larger blocks of code (i.e. Split). T

[2021-12-02 15:41] maureenlholland opened #10853 "Include language in Pocket Best Of URL"
## Description

We want the pocket banner to send users to the correct collection language. This was a misunderstanding on my part of how the redirect is handled. I thought it used the accept-language header but in this case it is looking for a language in the url.

### Steps to reproduce

https://www.mozilla.org/de/
click pocket banner link

### Expected result

Goes to DE version of collections

[2021-12-02 16:46] #10853 closed

[2021-12-02 17:50] #10815 closed

[2021-12-02 18:44] YeonjooSmith commented on #10811
@alexgibson  I tested four possible routes that users can take(New FxA users, 2 different ways for existing FxA users who are signed off , and existing FxA users who are signed in). I see that the service parameter is passed in url when utm parameters are included. I pasted urls in this [doc](https://docs.google.com/document/d/16bZcAQ-DiC-XsF1U1ICYfaL3BpQfKtmmAuHAkEPgXFY/edit?usp=sharing) for all

[2021-12-02 19:18] pmac opened #10856 "Remove Better Web Terms references"
In https://github.com/mozilla/legal-docs/pull/1668 the Better Web Terms legal doc was removed, resulting in the URL on the website for that doc to be 404ing. In https://github.com/mozilla/legal-docs/issues/1676 it has been decided that we should just remove the links and URLs for this page.

[2021-12-02 20:34] pmac opened #10859 "Improve Language Redirection"
In bedrock we do redirection for URLs with no locale in them potentially 2 times.

1. When the user first hits such a URL (e.g. `/firefox/`)
2. Then potentially again if the best supported locale for the user doesn't have a translation for that page

An issue has arisen due to those two redirection and locale choosing mechanisms behaving differently. In [bug 1743894](https://bugzilla.mozilla.org/s

[2021-12-02 21:48] pmac opened #10860 "Trademark infringement reporting form is broken"
Copied from [bug 1743922](https://bugzilla.mozilla.org/show_bug.cgi?id=1743922):

Reporting form at https://www.mozilla.org/en-US/about/legal/defend-mozilla-trademarks/ is broken. We haven't received reports since November 17 (even spam) so it appears to be broken for all users. Attempted to submit a test report and received the following error message (in both Firefox and Chrome):

Forbidden (403

[2021-12-03 08:56] alexgibson commented on #10811
Thanks @YeonjooSmith! I'll mark this as ready for review. I'll let you know as soon as it's live.

[2021-12-03 09:58] alexgibson opened #10863 "Pocket /about/ images are huge on non-Firefox browsers"
## Description

I noticed that the `/pocket/about/` page stylig looks broken in both Chrome and Safari.

### Steps to reproduce

In Chrome or Safari, open: https://www-dev.allizom.org/en-US/external/pocket/about/

### Expected result

The page should look like this:

![image](https://user-images.githubusercontent.com/400117/144583207-a66f9ccd-5057-46f8-a560-8ad0e57a1792.png)

### Actual result

Th

[2021-12-03 10:18] alexgibson commented on #10863
Ok, I think I've figured this one out. There's an issue with how CSS media queries are defined in the pages.

[code]

They are compiling with double braces `(())`, which Firefox is forgiving about, but other browsers end up ignoring them entirely.

[2021-12-03 10:43] alexgibson opened #10865 "Modal keyboard focus logic is broken"
## Description

When doing some keyboard navigation testing, I noticed the modals on bedrock no longer limit focus to elements within the modal content.

### Steps to reproduce

1. Open https://www.mozilla.org/en-US/about/leadership/
2. Click on a leadership photo to open a modal.
3. Press the tab key to start moving the focused element.

### Expected result

It is possible for any element in the

[2021-12-03 13:44] alexgibson commented on #10865
After some initial testing, I think this is a timing issue as the modal has an animtion that fades in. We might need to wait for it to complete before trying to call `focus()` on the modal. If true, this would be a Protocol bug.

[2021-12-03 13:49] #10856 closed

[2021-12-03 13:50] alexgibson commented on #10520
@bobsilverberg this is now in production and ready to use. Please see docs here for reference: https://bedrock.readthedocs.io/en/latest/download-buttons.html#external-referrers

[2021-12-03 13:57] alexgibson opened #10866 "Update forum link on about/governance page"
See: https://bugzilla.mozilla.org/show_bug.cgi?id=1743147

[2021-12-03 14:07] stevejalim commented on #10860
Updating ticket after exploring: CSRF is present and working locally in prod mode. Wondering if this is because the new CDN isn't forwarding the `Cookie` header, which we need to compare the submitted CSRF token with the one referenced by the session. @duallain would you have a spare moment to check/tweak this, please?

[2021-12-03 14:09] bobsilverberg commented on #10520
Thanks @alexgibson!

[2021-12-03 14:16] stevejalim opened #10867 "Contentful: Backend support for translations"
## Description

We'll soon be getting translations from Contentful, so it's a good time to skech out how we'll pull in and render out the appropriate content based on locale.

### Related tasks
- https://github.com/mozilla/bedrock/issues/10892

### Related PRs:
- https://github.com/mozilla/bedrock/pull/11002

---

#### Success Criteria
- [ ] Multiple locale-specifc versions of the same overall doc

[2021-12-03 14:18] stevejalim commented on #10867
@pmac @slightlyoffbeat Skeched in a ticket - feel free to add more points

Open question: if we have 12 VRC articles, for example, but only two are localised to, say, French, do we show 2 or 12 articles on the french VRC landing page? I imagine the answer to that will also steer what we do with related articles.

[2021-12-03 14:54] pmac commented on #10867
I assume 2, as showing a mix of languages is never a good experience.

[2021-12-03 15:01] stevejalim commented on #10867
Agreed, but it does bring the downside that as soon as we start adding translations, our 'visible content' in that locale drops until our translation team have caught up and translated the lot.

I guess that just might mean we have to plan to do a big drop of localised content (eg, all 12 French in one go) perhaps. More of a product/marketing decision than a tech one, I appreciate, but the tech si

[2021-12-03 15:48] #10650 closed

[2021-12-03 15:48] #10544 closed

[2021-12-03 15:51] pmac commented on #10867
Yes, we could only say that the main page for a locale is only activated after a certain number of articles are available in said language.

[2021-12-03 18:30] duallain commented on #10860
I've found two recommended changes that seem to have fixed it on dev, caching with x-csrfmiddlewaretoken as a header, and including the csrftoken as a cookie.  pr here - https://github.com/mozmeao/infra-services/pull/155

[2021-12-03 21:17] pmac commented on #10860
Working for me on prod! Thanks! 🍰

[2021-12-03 21:17] #10860 closed

[2021-12-04 00:18] #10863 closed

[2021-12-04 00:26] nathan-barrett commented on #10843
I think @reemhamz's PR #10858 should have solved most if not all of these issues - the only thing that I still have a question about was the icon looking like it was cut off. Solution would be to use the icons that are used on the /add page in production or we can leave as is.

[2021-12-06 09:43] alexgibson opened #10870 "Update fundraising banner design for EOY 2021"
## Description

The foundation team would like to update the design of the home page fundraising banner for EOY to match the "dear internet" campaign visuals.

- Mockup images: https://drive.google.com/open?id=1WSPn5iWDK6vu3j4XkeBzqmo_1uHEINKA&authuser=sabrina%40mozillafoundation.org&usp=drive_fs
- Banner image: https://drive.google.com/open?id=1WJsmFbDW3pRP-R6pBsRr5dQCHviiZsCz&authuser=sabrina%40

[2021-12-06 10:21] alexgibson opened #10871 "Tidy up home page templates"
## Description

We currently have 5 different home page templates:

- mozorg
  - home
    - `home-de.html` (German home page)
    - `home-en.html` (Fallback English home page)
    - `home-fr.html` (French home page)
    - `home.html` (Rest of world home page)
  - `contentful-homepage.html` (Contentful English home page)

Some tidy up work that might make updating the home pages easier:

1. The tem

[2021-12-06 10:48] maureenlholland commented on #10871
Sounds reasonable to me, particularly regarding keeping home-en updated under current structure. I think the tricky thing is when products are not available yet in certain markets, but that's more a country code conditional than a locale one.

We might want to split the task into two parts, depending on how ready home.html looks as a fallback:
1. Update home.html (?)
2. Replace home-en.html with C

[2021-12-06 11:01] alexgibson commented on #10871
Yep, this should really be dependent on country and not page language.

[2021-12-06 11:20] alexgibson commented on #10871
I also don’t think 1. necessarily needs to be a blocker here, as Contentful errors should hopefully be few and short lived.

[2021-12-06 11:58] alexgibson commented on #10821
Fixed https://www-dev.allizom.org/fr/products/vpn/

[2021-12-06 11:58] #10821 closed

[2021-12-06 13:10] #10811 closed

[2021-12-06 13:20] stevejalim opened #10872 "Remove session-related code from Bedrock"
## Description

Bedrock is stateless and we no longer support any session-based behaviour in Bedrock itself. There are some bits of stale code which should be cleaned up to make it easier to understand.

---

#### Success Criteria
- [ ] Settings should no longer reference the cache backend as session storage
- [ ] Session-related settings and middleware should be removed from the codebase

[2021-12-06 13:58] alexgibson commented on #10870
@slightlyoffbeat this is up on demo for review.

https://www-demo1.allizom.org/en-US/

Please note one issue below:

I decided to omit the background image on smaller screens (instead opting for a simpler gradient background), as the graphic was creating readability issues with copy and buttons at various breakpoints. Example:

![image](https://user-images.githubusercontent.com/400117/144858160-9d

[2021-12-06 16:14] reemhamz commented on #10753
Issue closed, ticket: closing for https://github.com/mozilla/bedrock/pull/10790

[2021-12-06 16:14] #10753 closed

[2021-12-06 16:14] reemhamz commented on #10749
Issue closed, ticket: closing for https://github.com/mozilla/bedrock/pull/10790

[2021-12-06 16:14] #10749 closed

[2021-12-06 16:14] reemhamz commented on #10750
Issue closed, ticket: https://github.com/mozilla/bedrock/pull/10790

[2021-12-06 16:14] #10750 closed

[2021-12-06 16:14] reemhamz commented on #10751
Issue closed, ticket: https://github.com/mozilla/bedrock/pull/10790

[2021-12-06 16:20] reemhamz commented on #10843
@nathan-barrett the icon for Feedly is essentially just a square that has a cut-off. We _could_ replace it with its old icon, but I don't think it's a deterrent, especially considering we're revamping most of these pages come 2022.

[2021-12-06 16:20] #10843 closed

[2021-12-06 16:20] reemhamz commented on #10779
Closed with https://github.com/mozilla/bedrock/pull/10858

[2021-12-06 16:49] #10666 closed

[2021-12-06 17:09] #10767 closed

[2021-12-06 17:30] reemhamz opened #10876 "Remove BEM classes from Pocket external pages"
## Description

When coding a couple of Pocket external pages, I defaulted to BEM to get things up and running. Oops.
Just need to go around and make camel-case classes that make sense.

---

#### Templates to update
- [x] Add page ([add.html](https://github.com/mozilla/bedrock/blob/master/bedrock/externalpages/templates/externalpages/pocket/add.html))
- [x] Platform footer ([platform-footer.html]

[2021-12-06 19:18] #10842 closed

[2021-12-07 15:33] craigcook commented on #10801
https://www-demo4.allizom.org/firefox/welcome/12/
https://www-demo4.allizom.org/firefox/welcome/13/

[2021-12-07 16:14] #10755 closed

[2021-12-07 17:32] #10801 closed

[2021-12-07 18:39] peiying2 opened #10883 "Variable not displayed: text shown instead of numerical number"
## Description

The variable `{ $devices }`  should be shown as a numerical number, but instead, the word `devices` is shown on production.

### Steps to reproduce
1) URL: https://www-dev.allizom.org/products/vpn/desktop/mac

GitHub: https://github.com/mozilla-l10n/www-l10n/blob/a956c6641dd2002287eae80161e63176fa67e18e/en/products/vpn/platforms/mac.ftl#L36

`Your computer, tablet and smartphone al

[2021-12-07 18:40] peiying2 commented on #10883
<img width="533" alt="Screen Shot 2021-12-07 at 10 03 42 AM" src="https://user-images.githubusercontent.com/6090393/145087437-9ee88eab-300f-46de-91dd-c590b4c972ef.png">

[2021-12-07 18:49] craigcook commented on #10883
The template is missing the variable assignment here: https://github.com/mozilla/bedrock/blob/master/bedrock/products/templates/products/vpn/platforms/mac.html#L114

[2021-12-07 21:29] sabrinang commented on #10870
@alexgibson Thanks for your work on this and for the readability feedback.
I created the simplified mobile version here: https://drive.google.com/open?id=1WWUupwqOXDyqLIbxzwPXSCRIrFmJbP11&authuser=sabrina%40mozillafoundation.org&usp=drive_fs
I also lowered the opacity on some background elements for the desktop banner to be less noisy instead — revised banner here: https://drive.google.com/open?id

[2021-12-08 09:42] stevejalim opened #10886 "Allow Bedrock staging to call the Contentful Preview API"
## Description

Now Contentful is firmly in use in production, we should enable the preview API on Staging for `Contentful:master` and let Dev read from `Contentful:sandbox` instead of `Contentful:master`.

This would mean we could smoke test the Contentful API integration and other related features on Dev without having to edit any content on `Contentful:master` to trigger a sync.

Note that the

[2021-12-08 14:42] #10871 closed

[2021-12-08 15:24] maureenlholland commented on #10686
closed with https://github.com/mozmeao/pocket-marketing-pages/pull/38

[2021-12-08 15:24] #10686 closed

[2021-12-08 15:28] maureenlholland commented on #10560
closed with https://github.com/mozilla/bedrock/pull/10603

[2021-12-08 15:28] #10560 closed

[2021-12-08 15:29] maureenlholland commented on #10563
closed with https://github.com/mozilla/bedrock/pull/10649

[2021-12-08 15:29] #10563 closed

[2021-12-08 15:38] maureenlholland commented on #10243
still exists in 3 files: https://github.com/mozilla/bedrock/search?q=vpn%2Flogo-with-wordmark

[2021-12-08 16:03] alexgibson commented on #10870
@sabrinang thanks, updated. I think this should be good enough to move forward with.

[2021-12-08 18:08] sabrinang commented on #10870
Update looks good to me @alexgibson, thank you!

[2021-12-08 18:33] #10870 closed

[2021-12-08 19:36] peiying2 commented on #10883
<img width="531" alt="Screen Shot 2021-12-08 at 11 34 34 AM" src="https://user-images.githubusercontent.com/6090393/145272650-4446ca7f-df74-436a-867b-52240b49a273.png">

@craigcook Another one is reported - on Linux page

[2021-12-09 12:30] stevejalim opened #10891 "[Draft] Epic: Update/evolve `zh-TW` locale code"
## Description

While working on the Contentful l10n piece, the issue of converting from Contentful's `zh-Hant-TW` code to Bedrock's `zh-TW` code came up - specifically, whether it was definitely an appropriate mapping.

Chatting with @flodolo, it turns out that `zh-TW` is now considered a legacy code and `zh-Hant-TW` is actually the preferred one.

This draft Epic is about exploring and then upda

[2021-12-09 14:36] #10883 closed

[2021-12-09 16:04] stevejalim opened #10892 "Update VRC views to query by locale in addition to current params"
## Description

At the moment, the VRC pages are automatically pulled from sqlite based on their `classification` and their `content_type`. We need to extend this to also include the `locale` field, so that when we roll out multi-locale syncing, we don't break the VRC pages, which should initially still remain just as `en-US` until there's enough content available.

The locale for the VRC pages is

[2021-12-09 16:29] slightlyoffbeat commented on #10211
2 pages to solve for:

- Pocket hits signup page
- Pocket hits confirmation page

@slightlyoffbeat to talk to Tina.

[2021-12-09 16:59] #10736 closed

[2021-12-09 19:50] peiying2 opened #10894 "[l10n][es-AR]: outdated content/template needs to be removed"
## Description

An extra text only appears (at least reported) for es-AR. The string can't be found in Pontoon or the new mozilla.org repo. The information is outdated, especially the mention of IRC.

https://github.com/mozilla/bedrock/blob/a8ed6ae9c48c93474fbefa8b91d3dd2887b13c3c/bedrock/firefox/templates/firefox/nightly/firstrun.es-AR.html

`<p>Mozilla es una organización sin fines de lucro conf

[2021-12-10 00:16] craigcook commented on #10894
Is the request to remove the entire block of text?

There's very similar content in es-ES with the same outdated link to mozilla-hispano.org. Should we remove that one as well?

[2021-12-10 12:17] maureenlholland opened #10896 "Epic: Sass migrate away from @import"
## Description

`@import` is deprecated and Sass aims to drop support by Oct. 2022. We need to migrate our styles to use the new module system.

Dependent on (also see for more detail):
https://github.com/mozilla/protocol/issues/755

⚠️  UPDATE
do not make changes to Firefox folders, they will be handled by https://github.com/mozmeao/springfield/issues/362

## Success Criteria

Add a checked item

[2021-12-10 12:29] stevejalim commented on #10892
@pmac  I looked at the code and I think this is a no-op, because we already include the locale (currently only `en-US`) as an ORM param, so when we roll out initial multi-locale sync, the VRC won't break.

The preview mode _will_ need some work to support different locales, but that's a separate task.

[2021-12-10 12:29] #10892 closed

[2021-12-10 15:28] alexgibson opened #10897 "JS error parsing malformed utm value"
## Description

We see a small but steady flow of these errors in [Sentry](https://sentry.prod.mozaws.net/operations/bedrock-frontend-prod/issues/14812098/events/?environment=production).

### Steps to reproduce

1. Open https://www.mozilla.org/en-US/?utm_source=uns_footer%
2. Open the web console.

### Expected result

There should be no error.

### Actual result

[code]

### Environment

Firefox

[2021-12-10 15:42] stevejalim opened #10898 "Contentful: update live preview mode to support non-default locales"
## Description

Trying it locally, our current preview view for content pulled live from Contentful does not work with otherlocales - it just shows the en-US content. We should ideally fix this.

---

#### Success Criteria
- [ ] Its possible to preview a page in a non en-US locale, provided it exists in Contentful
- [ ] The page footer's language picker allows selection of any other locales availa

[2021-12-10 15:45] stevejalim opened #10899 "[SPIKE] Contentful: Improve efficiency of multi-locale update"
## Description

#10867 will give us support for multi-locale support of Contentful data, but the implementation is not efficient. So, let's look for other options

---

#### Success Criteria
- [ ] We've evaluated at least one alternative REST approach and the GraphQL API for getting locale-oriented data synced
- [ ] We've picked a better direction to take

[2021-12-10 15:46] stevejalim commented on #10638
Closing as less relevant now - we're going to move to a Compose-oriented page, which will be a do-over of the homepage-specific code

[2021-12-10 15:46] #10638 closed

[2021-12-12 06:08] shubham-sharma-2323 commented on #10829
So, to solve this problem, should we make a css footer class in a css file, and link that css file to all the WNPs and use that class ??

[2021-12-12 13:41] ratika-12 commented on #10872
@stevejalim I want to work on this. Please assign me :)

[2021-12-12 19:38] gaby2300 commented on #10894
In es-AR " o pasearte por la sala de IRC de Mozilla Hispano" should be changed to " o conectarte a la sala de Element de Mozilla Hispano."

As it would be the same for es-ES, I suppose it could be changed the same way.

[2021-12-12 20:01] abhisharsinha commented on #10691
Hi @stevejalim @pmac, could you please review my pull request and give feedback.

[2021-12-13 09:36] stevejalim commented on #10872
@ratika-12 Thanks for your interest. Feel free to take a look and submit a PR, sure thing.

If it helps, I don't think there's a lot to fix up here (which is a good thing), but if you have any questions, just post them here and we'll work it out together if we need to.

[2021-12-13 10:03] stevejalim opened #11016 "Error-message colour on newsletter error form fails accessibility check"
## Description

The error-message markup problem noted in https://github.com/mozilla/bedrock/issues/10691 was fixed in https://github.com/mozilla/bedrock/pull/11015, but this has also shown that the hyperlink colour fails accessibility checks. (Not a regression from that PR, but a separate issue)

### Steps to reproduce

1. Go to /en-US/newsletter/recovery/ and enter an email which is not in the n

[2021-12-13 10:05] #10691 closed

[2021-12-13 10:52] alexgibson opened #11017 "L10n issues on vpn/more/ pages"
## Description

The following pages seem to be enabled for many locales, despite containing hard-coded English copy.

- https://www.mozilla.org/zh-CN/products/vpn/more/do-i-need-a-vpn/
- https://www.mozilla.org/zh-CN/products/vpn/more/what-is-a-vpn-v2/
- https://www.mozilla.org/zh-CN/products/vpn/more/why-mozilla-vpn/

### Steps to reproduce

Open any of the links above.

### Expected result

They

[2021-12-13 12:29] maureenlholland commented on #10829
Hi @shubham-sharma-2323, all WNP templates inherit from the same base template, which includes a footer component that has class names we can use. Because some WNPs use dark mode and some don't, we created a base styles partial and a dark-mode styles partial that individual WNPs can import as needed.

This is currently in review in https://github.com/mozilla/bedrock/pull/10893 if you want to see d

[2021-12-13 16:04] #11017 closed

[2021-12-13 16:10] ratika-12 commented on #10872
Thankyou! I'm new here and was looking for good first issue and found this interesting. Can you give me a pointer where to start.

[2021-12-13 17:32] stevejalim opened #11022 "Contentful: display locale-specific content in the site"
## Description

#10867 added backend support for pulling down versions of pages in multiple locales. We now need to surface those alternative versions in the site.

* Listing page:  Once a certain (configurable) proportion of pages in a given section is translated into a particular locale, then it should become available for listing in the VRC landing page, and also appear in the available-languag

[2021-12-13 20:06] stevejalim commented on #10872
Hi @ratika-12 Sure thing - but to help me gauge how best to advise, can you let me know how experienced you are in Python and Django at the moment? Feel free to email me (stevejalim@mozilla.com) if you prefer

[2021-12-14 04:11] slightlyoffbeat opened #11026 "Top of page promo banner for VPN"
## Description

As a part of VPN Swat, there is an idea to have a VPN banner for the 2 days between our pocket banner and our MoFo donation banner.

It would run on Dec 16 & 17, until the MoFo banner is activated on Dec 18.

Design: https://www.figma.com/file/KGoKPgpALFQpUlVuffi55T/June-VPN-Pricing?node-id=4%3A148

Copy (approved): An easy way to take your online privacy up a notch

CTA URL: https

[2021-12-14 10:06] alexgibson opened #11027 "Careers templates should extend base-protocol.html"
## Description

Right now the careers pages are using their own unique base template, which means we're missing out on a lot of the standard things that other bedrock pages inherit for free, such as analytics setup, sentry error reporting, standardized metadata etc.

Even though the pages are using an outdated version of Protocol, looking at the template I don't see any reason why they can't be us

[2021-12-14 12:49] alexgibson opened #11029 "Functional test for Pocket navigation"
## Description

Now that we're starting to migrate Pocket page content to bedrock we should probably start thinking about adding some automated tests. Starting with the mobile navigation might be a good first place:

https://www-dev.allizom.org/en-US/external/pocket/about/

---

#### Success Criteria
- [ ] Functional test for Pocket mobile navigation menu.

[2021-12-14 13:15] alexgibson opened #11030 "Pocket navigation links don't work"
## Description

Both the "Discover" and "My List" navigation links seem to be broken on the `pocket/about` page.

![image](https://user-images.githubusercontent.com/400117/146005078-4fc0d8e6-c27e-4d48-b070-b069d50699eb.png)

### Steps to reproduce

1. Open https://www-dev.allizom.org/en-US/external/pocket/about/
2. Click "Discover" in the top navigation menu.
3. Click "My List"  in the same menu

[2021-12-14 13:20] maureenlholland commented on #8752
Let's do this!

Success Criteria:

- [ ] remove `lazy_img` helper and related CSS/JS
- [ ] include `loading` param on macros, default to "Lazy" (? - feels like that's the one we'd need more, open to discussion)
- [ ] ensure existing `lazy_img` elements have `loading="lazy"` when the helper is removed

[2021-12-14 13:43] alexgibson commented on #8752
I'm not 100% sure what is best here also. I would add that defaulting to `loading="lazy"` could result in over use, as it's an anti-pattern to use on image that appear inside the visual viewport on page load.

[2021-12-14 13:50] maureenlholland commented on #8752
Fair point re:anti-pattern. I think we'd be fairly vigilant about that but it's definitely a point in favour of default Eager (or nothing, as eager is the browser default already)

[2021-12-14 13:52] alexgibson commented on #8752
Yeah, up to you here - whatever you think makes the most sense 👍

[2021-12-14 15:29] alexgibson commented on #10685
This is live https://www.mozilla.org/en-US/foundation/annualreport/2020/

[2021-12-14 15:29] #10685 closed

[2021-12-14 16:27] alexgibson opened #11032 "Could we bundle Protocol CSS more efficiently?"
## Description

We currently do over 657 CSS `@imports` for Protocol components in over 187 different .scss files. These files are then compiled to over 161 CSS bundles that are used across different pages on bedrock.

This is **a lot** of CSS, especially given that we're now using a component-based design system across the site. There will always be snowflake pages on mozorg and I think that's OK

[2021-12-14 17:15] nathan-barrett commented on #11032
Thanks for putting this together @alexgibson! In your example would we create a "pre-baked" bundle for each of the protocol components? Would we then add that to the static-bundles.json for that specific bundle for a page?

Also wondering if we consistently import the protocol/lib file into each of our css files, ( I feel like I've seen it on every file i've worked with). I wonder if we could just

[2021-12-14 17:20] maureenlholland commented on #11032
@nathan-barrett for the lib import, I think we need it to access the sass variables and functions that get compiled away in the base stylesheets before the specific components can use them

I definitely think there's room to be more efficient with Protocol though. The component css bundles sound like a good place to start.

[2021-12-14 17:21] alexgibson commented on #11032
At least for components we use most commonly across the site, yes.

No we would just create a bundle for the components, and then page templates could use that directly without needing to bundle things again: e.e. `{{ css_bundle('c-split') }}`

[2021-12-14 17:23] nathan-barrett commented on #11032
@maureenlholland ah ok, that makes sense!

As for the lib file - I wonder If we could take advantage of the `prependData` property in webpack for bundling certain css files? I've used it in the past and it's helped to at least not have to remember to add the import for variables everytime. Not sure if that would actually help performance though.

[2021-12-14 17:24] maureenlholland commented on #11032
I am on board with less remembering!

[2021-12-14 17:25] nathan-barrett commented on #11032
@alexgibson I would love the idea of moving away from more snowflake pages, but I wonder how it would work if you are using multiple protocol components? (e.g. split, and picto)

[2021-12-14 18:06] slightlyoffbeat commented on #11026
@craigcook Final EN copy:

**An easy way to take your online privacy up a notch**
Mozilla VPN blurs your personal info for next-level security.

DE: Der einfache Weg zu mehr Online-Privatsphäre
FR: Un moyen simple de renforcer votre confidentialité en ligne

[2021-12-14 18:06] slightlyoffbeat commented on #11026
Since we have FR, we can add that to the target as well

[2021-12-15 10:13] alexgibson commented on #10456
I *think* we resolved this, can this one be closed out @pmac?

[2021-12-15 10:14] #11026 closed

[2021-12-15 10:16] alexgibson commented on #9750
Looks like this was done

[2021-12-15 10:16] #9750 closed

[2021-12-15 10:19] alexgibson commented on #9870
Looks like this was fixed

[2021-12-15 10:19] #9870 closed

[2021-12-15 10:23] alexgibson commented on #9401
Looks like this was fixed

[2021-12-15 10:23] #9401 closed

[2021-12-15 10:25] alexgibson commented on #8767
Looks like this was resolved, closing thanks

[2021-12-15 10:25] #8767 closed

[2021-12-15 10:29] alexgibson commented on #5654
Closing old inactive issue

[2021-12-15 10:29] #5654 closed

[2021-12-15 12:30] pmac commented on #10456
Oh yes. Thanks.

[2021-12-15 12:30] #10456 closed

[2021-12-15 13:15] reemhamz commented on #11032
So just trying to wrap my head around this, we could create a specific CSS bundle holding protocol components frequently used, which we will then import to a page:

[code]

which means we don't necessarily need to import these into our CSS pages:
[code]

 as well as import macros into the HTML:
[code]

Did I understand this correctly? If so, this sounds super neat and I'm on board for this change.

[2021-12-15 13:19] #11030 closed

[2021-12-15 13:29] alexgibson commented on #11032
Rather than

[code]

A template CSS block would look similar to:

[code]

You would still need to import macros in templates, yes.

[2021-12-15 19:29] nathan-barrett opened #11035 "Turning Red - Landing Page"

[2021-12-15 22:00] amychurchwell opened #11036 "A special whatsnew page for Firefox 100"
## Description

I am not sure if marketing has any plans for Firefox 100, but I think that a special whatsnew page for users upgrading would be a fun way to acknowledge this amazing milestone. Perhaps something like adding a CSS animation of confetti that falls on page load. Thoughts? 🥳

[2021-12-15 23:50] craigcook commented on #10894
The changes are staged temporarily at https://www-demo-pr-11037.herokuapp.com/es-AR/firefox/nightly/firstrun/

@gaby2300 can you review and let us know if it's correct or needs any other changes?

https://www-demo-pr-11037.herokuapp.com/es-ES/firefox/nightly/firstrun/ didn't mention IRC so I only updated the link to mozilla-hispano.org there.

[2021-12-16 00:21] gaby2300 commented on #10894
Hi Craig, thank you so much for fixing this so quickly!

I reviewed it and it's correct now.

Many thanks  again!
Best regards,
Gabriela

http://www.mozilla-hispano.org

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Libre
de virus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&u

[2021-12-16 09:05] stevejalim opened #11038 "Add timeout to check_call in cron.py"
## Description

We had a bumpy moment yesterday where clock pod's database download task hung.

To remedy avoid this in the future @duallain suggested trying adding the `timeout` arg in our use of `check_call` (https://docs.python.org/3/library/subprocess.html#subprocess.check_call)

[2021-12-16 09:22] #10894 closed

[2021-12-16 13:19] reemhamz commented on #10876
Closed with https://github.com/mozilla/bedrock/pull/11025

[2021-12-16 13:19] #10876 closed

[2021-12-16 14:02] alexgibson opened #11039 "Pocket pages are missing meta descriptions"
## Description

All Pocket pages in bedrock seem to be missing meta descriptions.

### Steps to reproduce

View https://www-dev.allizom.org/en-US/external/pocket/about/ or any other `/pocket/external/` page.

### Expected result

Each page should have a relevant meta description to display in search results.

### Actual result

[code]

### Environment

N/A

[2021-12-16 15:06] alexgibson commented on #9866
This bug has been sitting round for nearly a year. Despite some interest it's still not fixed, so I'm going to get this one done.

[2021-12-16 15:26] alexgibson commented on #9866
It seems that this is because the Protocol styles assume the modal content will contain light colored links: https://github.com/mozilla/protocol/blob/main/src/assets/sass/protocol/components/_modal.scss#L105

I've added an override in bedrock for now.

[2021-12-16 16:25] slightlyoffbeat commented on #10709
@slightlyoffbeat check on assets

[2021-12-16 17:18] #10757 closed

[2021-12-16 22:12] #9866 closed

[2021-12-17 13:25] maureenlholland opened #11050 "Cleanup Pocket Banner"
## Description

The promo banner on moz.org has been replaced. The switch is turned off. This is a reminder to clean up the Pocket Banner code and remove the switch from www-config if we no longer need it.

Basically undoing the following:
https://github.com/mozilla/bedrock/pull/10825
https://github.com/mozmeao/www-config/pull/418

---

#### Success Criteria
- [ ] Pocket banner code removed from b

[2021-12-17 15:42] stevejalim opened #11051 "Upgrade Bedrock to Python 3.9"
## Description

Py 3.7 hits end-of-life in mid-2023. Good to get ahead of things now, and also leverage language features in 3.9

---

#### Success Criteria
- [x] All tests, unit and integration, pass
- [x] A manual smoke check reveals no regressions

[2021-12-17 15:42] stevejalim opened #11052 "Upgrade Basket to Python 3.9"
## Description

Py 3.8 still has a reasonable amount of time befoer end-of-life, but it's good to standarise everything on 3.9 to get ahead of things now, and also consistently leverage language features in 3.9

---

#### Success Criteria
- [ ] All tests, unit and integration, pass
- [ ] A manual smoke check reveals no regressions

[2021-12-17 15:43] stevejalim opened #11053 "Upgrade Nucleus to Python 3.9"
## Description

Py 3.7 hits end-of-life in mid-2023. Good to get ahead of things now, and also leverage language features in 3.9

---

#### Success Criteria
- [ ] All tests, unit and integration, pass
- [ ] A manual smoke check reveals no regressions

[2021-12-17 15:44] stevejalim opened #11054 "Epic: Python 3.9 upgrade"
## Description

We are currently running a mixture of Python 3.7 and 3.8 in production, and it make sense to both standardise across the ecosystem and also upgrade to 3.9 well before 3.7 reaches end-of-life. (3.7 hits EOL in June 2023, 3.9 is maintained until October 2025 - https://devguide.python.org/#status-of-python-branches)

(We could look to 3.10 instead but at the time of writing, it wasn't

[2021-12-17 15:58] stevejalim opened #11055 "Evaluate Python dependency management tooling"
## Description

As part of picking the best-fit Python dependency manager, we need to evaluate least:

* `pip` - https://pip.pypa.io/en/stable/
* `pip-tools` - https://github.com/jazzband/pip-tools
* `poetry` - https://python-poetry.org/
* `pip-compile-multi` - https://pip-compile-multi.readthedocs.io/en/latest/

---
Behaviour we want to have:

* Dependency pinning
* Dependency hashing
* Docker/co

[2021-12-17 15:59] stevejalim opened #11056 "Python dependency-management standardisation"
## Description

At the moment, our projects use different tools to manage Python dependencies - `pip` and `pip-tools`, plus we use hashes to ensure we're getting what we expect. It all _works_ but, it would be useful to settle on an approach that is:
* easy to use
* efficient
* secure (verifies packages)
* compatible with `dependabot`
* consistently used across all of Mozmeao
* appropriately docum

[2021-12-17 18:04] robhudson opened #11057 "Update codebase to prefer Python 3.x syntax"
## Description

There are many places in the code that are still using Python 2.x syntax. While it still functions fine, it would be preferred to move towards the Python 3.x syntax for future compatibility.

Examples:
- [ ] Changing `super(MyClass, self).method()` to `super().method()`
- [ ] Using f-strings
- [ ] Importing from the built-in `unittest.mock`
- [ ] Removing the `# -*- coding: utf-8 -

[2021-12-18 04:54] Ayushsunny commented on #10793
Hello @alexgibson I wanted to know more about this issue, please

[2021-12-20 09:24] #10897 closed

[2021-12-20 10:37] alexgibson opened #11058 "Specify sameSite property on cookies set by JS"
## Description

In https://github.com/mozilla/bedrock/issues/8670 we updated bedrock's cookie JS helper to support the `sameSite` attribute, however our code doesn't actually use this to explicitly define the property yet in places where we set cookies. This results in `sameSite=Lax` being assumed by browsers, which is fine.  Here's an example of a warning given in the console by Firefox:

[code]

[2021-12-20 15:06] alexgibson commented on #9144
/cc @l-hedgehog

I'm planning on picking this up and working on it over the holidays. The change would mean we'd only handle the China Repack logic for Sync users on FF v80 and above (via the `UITour.showFirefoxAccounts()` API call). Older FF versions would simply link to accounts.firefox.com (the same as non-Firefox browsers already do).

If this is a problem for users in China (I have no idea ho

[2021-12-20 16:24] alexgibson opened #11059 "WNP 96 DE/FR - Firefox Relay"
## Description

For FF 96 the EU team would like to show a WNP for DE/FR promoting Firefox Relay.

The page will likely have two different variations on copy, depending on if you're signed into a Firefox Account or not.

The CTA will remain them same, linking to https://relay.firefox.com/

Needs to be in production before Jan 11, 2022.

---

#### Success Criteria
- [ ] Page is in production before

[2021-12-20 16:24] alexgibson commented on #11059
WIP brief/copy doc: https://docs.google.com/document/d/1bJISjjszNg8Zhvl15pl2irb1UFjkuCqnLhUpuyrp3cs/edit?usp=sharing

[2021-12-20 16:33] alexgibson commented on #11059
I can likely pick this up as soon as we're good to go on copy/design.

[2021-12-20 16:48] craigcook opened #11060 "Closed/invalid job listings should show a more helpful error page"
## Description

Each job listing gets a unique URL, but when that job is closed the URL no longer works. Currently we show the generic 404 page for these URLs but we should instead show something a bit more helpful and specific to job listings, especially because we know those links have a short lifespan and are likely to be shared in the wild.

It's also possible a URL just has an invalid ID and

[2021-12-20 19:36] craigcook commented on #10793
Fixed with https://github.com/mozmeao/www-config/commit/c4d879c6bba9919762f24688fbf1de81c714fb28

@Ayushsunny We often control some parts of the site with a "switch," which is a configuration setting that lets us quickly enable/disable a feature without needing to do a full code deployment ([see bedrock docs](https://bedrock.readthedocs.io/en/latest/install.html#feature-flipping-aka-switches)). Th

[2021-12-20 19:36] #10793 closed

[2021-12-20 20:51] prabhxjottsingh commented on #11016
Hey, @stevejalim can you please assign me this issue, I would love to contribute to mozilla.
Thanks in advance. :)

P.S.: I have understood the issue, and would also take care of the suggestion, and will PR, as per the guidelines. :)

[2021-12-21 09:10] l-hedgehog commented on #9144
Hi @alexgibson,

Thank for looping me in.

I asked our Ops @xjc2694 to check the traffic from bedrock to https://accounts.firefox.com.cn/, and it looks like the majority are from recent whatsnew pages.

I think it should be okay to remove logic for early enough Fx versions.

[2021-12-21 09:17] alexgibson commented on #9144
Great, thank you!

[2021-12-21 11:20] stevejalim opened #11065 "Add check that key Contentful-powered pages are working, not falling back to evergreen ones"
## Description

Following a minor outage where the Contentful sync failed and we fell back to an evergreen homepage, there's value in easily showing whether key Contentful-powered pages are rendering as expected.

We should add a check to /healthz-cron/ that ensures key Contentful pages are definitely be rendered from Contentful data (eg, by checking template name to ensure it's the contentful-pow

[2021-12-21 11:39] stevejalim commented on #11065
Heya @alexgibson - remember this idea from a few weeks ago? We've now got the backend pinging Sentry if we fall back to a non-Contentful homepage, so wondering how useful this new behaviour, above, would be. It'd be helpful for people without Sentry access, for sure

[2021-12-21 23:55] slightlyoffbeat opened #11070 "WNP 96 en (epic)"
## Description

For What's New Page 96 (english) we will promote 2 things:

Firefox Mobile (90% traffic)
Mozilla Rally (10% traffic)

---

Mozilla Rally

[Design](https://www.figma.com/file/CZvzHgU9NQMQUm34lomIl5/Firefox-WNP?node-id=1391%3A39478)
[Copy (needs legal approval)](https://docs.google.com/document/d/1G-srYSNDKdC3zJVPMNFscF5dCbGdN0jJmtlO4Ok-AXo/edit?usp=sharing)

---

### Firefox Mobile

[2021-12-22 09:59] alexgibson opened #11071 "Optimise /firefox/new/ page for people in the manual FF update flow."
## Description

When a Firefox automatic update checks fail too many times, a prompt appears to manually update Firefox that contains a "Download" button. Clicking on this button will now open a new tab with the following URL: https://www.mozilla.org/en-US/firefox/new/?reason=manual-update.

This new query paremeter will give us much greater insight into why Firefox users are coming to the page to

[2021-12-22 09:59] alexgibson commented on #11071
/cc @slightlyoffbeat

[2021-12-22 13:37] alexgibson commented on #11059
WIP design: https://www.figma.com/file/8fVLbzzAd40lSSLuOwCfnl/Firefox-WNP-EU-(Copy-June-2021)?node-id=1021%3A94

[2021-12-22 14:15] #11060 closed

[2021-12-22 14:40] stevejalim commented on #10872
Hi @ratika-12 - thanks for the interest, but given things went a little quiet, I've fixed this while working on related code. Please do keep an eye open for more things marked `Good first bug` - am sure we'll find a nice one for you to pick up. If you want to email me/the team to discuss contributing, feel free to use github@stevejalim.mozmail.com

[2021-12-22 15:27] stevejalim opened #11073 "Careers listing filtering does not work for 'Remote' category"
## Description

Filtering the Careers listing pages by the `Remote` category shows no results even though `Remote` appears to be a category.

Note that filtering by other locations does appear to work as expected

### Steps to reproduce

* Go go https://www.mozilla.org/en-US/careers/listings/
* Confirm that the page includes positions that are categorised as `Remote` - see the Foundation ones down

[2021-12-22 16:13] vbudhram commented on #10811
Hey @alexgibson, I tried to verify this fix with @YeonjooSmith and it turns out that we actually need to use ` service=e6eb0d1e856335fc` (which is the vpn client id).

Unfortuntely, FxA has some sutble differences on how it handles metrics for different clients. If you use the updated value for service, FxA will convert this to the `guardian-vpn` value before it is sent through the metrics pipelin

[2021-12-22 16:16] #10759 closed

[2021-12-22 16:16] alexgibson opened #11074 "Update service param value for VPN referrals."
## Description

The `service=guardian-vpn` param added in https://github.com/mozilla/bedrock/issues/10811 should in fact use the client ID for guardian directly: `service=e6eb0d1e856335fc`

See: https://github.com/mozilla/bedrock/issues/10811#issuecomment-999696157

[2021-12-22 16:17] alexgibson commented on #10811
@vbudhram thanks, filed a followup issue for this here: https://github.com/mozilla/bedrock/issues/11074

[2021-12-22 18:27] prabhxjottsingh commented on #11016
Sorry, @stevejalim due to some personal issues, I will not be able to solve this ISSUE soon, it may took me 2-3 weeks to get back to this issue, so if you are okay with it, then its fine, otherwise you can unassign me the issue, for other people to solve it, if you can give me some time, then I will deliver the respective to you soon.
Sorry for inconvience caused. Really wanted to contribute to th

[2021-12-22 19:20] #10762 closed

[2021-12-22 19:44] stevejalim commented on #11016
No worries @prabhxjottsingh  - thanks for letting us know! I hope life stuff gets easier for you!

If anyone else picks it up before you have time, they'll assign it to themselves - so maybe unassign yourself until you are ready to start?

[2021-12-22 20:42] prabhxjottsingh commented on #11016
Yup, got it.
Unassigned myself. Thanks for understanding. :)

[2021-12-23 09:18] #11027 closed

[2021-12-23 14:08] alexgibson commented on #11059
Assets (WIP): https://drive.google.com/drive/folders/1G1NBynYUB0XTjRdTr83LBdYCv9z3CAYA?usp=sharing

[2021-12-23 15:44] #11073 closed

[2021-12-23 15:47] alexgibson opened #11080 "Unit tests for careers job filtering"
## Description

It would be nice if the careers job listing / filtering JS had some unit tests. May require a little  refactoring to make things more easily testable.

https://www.mozilla.org/en-US/careers/listings/

https://github.com/mozilla/bedrock/blob/master/media/js/careers/filters.js
https://github.com/mozilla/bedrock/blob/master/media/js/careers/listings.js

---

#### Success Criteria
- [

[2021-12-23 16:30] stevejalim opened #11081 "Start new-spec discussions for Careers-page filtering logic"
While fixing a bug on the [careers listing page](https://www.mozilla.org/en-US/careers/listings/) to do with filters, I noticed that the filtering is based upon a single location related to a Position, but the Position itself has a _separate_ field for displaying a fuller/verbose list of location options which aren't used for filtering.

This might cause end users confusion, in terms of seeing/not

[2021-12-23 18:04] #10763 closed

[2021-12-27 04:20] Ayushsunny commented on #11016
hey @stevejalim Actually I was trying to fix this issue but after finding the whole codebase of bedrock and also protocol I cannot find the code where the hyperlink color for newsletter error is there but yes it's in node_modules which we can't change.
please help.

[2021-12-28 18:36] reemhamz commented on #10758
Closed w/ https://github.com/mozilla/bedrock/pull/11046

[2021-12-28 18:36] #10758 closed

[2021-12-28 18:36] reemhamz commented on #10760
Closed w/ https://github.com/mozilla/bedrock/pull/11075

[2021-12-28 18:36] #10760 closed

[2021-12-28 18:37] reemhamz commented on #10764
Closed w/ https://github.com/mozilla/bedrock/pull/11082

[2021-12-28 18:37] #10764 closed

[2021-12-28 20:38] #10872 closed

[2021-12-29 17:15] reemhamz commented on #10761
Note that this ticket includes working on the two following pages:

- Subscription confirmation: https://getpocket.com/en/pocket-hits/confirmation?success=1
- Link expired: https://getpocket.com/en/pocket-hits/confirmation?success=0

[2021-12-29 21:43] #10886 closed

[2021-12-30 10:14] stevejalim commented on #11016
Heya @Ayushsunny - I understand what you mean, and I think it's best if we call on someone with more bedrock-frontend / protocol experience than me, to be honest.

@alexgibson when you're around again, what's the most straightforward route to restyling that link, please?

[2022-01-04 15:57] reemhamz commented on #11016
Hey @Ayushsunny, good to see you picking up a ticket again! Happy new year 💫

I took a look at the code for this issue, and the file to work on is `media/css/protocol/protocol-mozilla.scss`. We would just probably need to replace the `@includes` mixin function with another, [found in our Protocol codebase](https://github.com/mozilla/protocol/blob/main/src/assets/sass/protocol/includes/_mixins.scss

[2022-01-05 12:24] #10834 closed

[2022-01-05 13:32] #8752 closed

[2022-01-05 16:08] #11074 closed

[2022-01-05 17:07] alexgibson commented on #6943
Fixed in https://github.com/mozilla/bedrock/pull/11033

[2022-01-05 17:07] #6943 closed

[2022-01-05 17:09] alexgibson commented on #6283
Closing in favor of https://github.com/mozilla/bedrock/issues/10669

[2022-01-05 17:09] #6283 closed

[2022-01-05 17:11] alexgibson commented on #10669
Now that https://github.com/mozilla/bedrock/issues/8752 has merged, all the the Protocol macros used in the home page should support a paramter for enabling native lazy loading.

How we make use of this in Contentful powered pages remains to be seen. It seems like a lot to expect content publishers to remember a checkbox for this, so perhaps we can build some logic in bedrock to make a best guess

[2022-01-05 20:56] YeonjooSmith commented on #11074
@alexgibson  I checked the url after clicking the CTA from the vpn product site(https://www.mozilla.org/en-US/products/vpn/) and the service parameter did not change and it is still `guardian-vpn` and it is still not emitted to the data.

[2022-01-06 09:33] alexgibson commented on #11074
@YeonjooSmith this change has not yet been deployed to production. I'll try and make that happen a little later today. I'll let you know as soon as it's live. Thanks again!

[2022-01-06 09:49] #10867 closed

[2022-01-06 09:49] #11022 closed

[2022-01-06 14:04] reemhamz commented on #11016
Hey @Ayushsunny, have you been able to start on this ticket? When it comes to things like accessibility, we want to make sure we fix issues as soon as we can. Let me know if you need anymore help or if you are choosing to opt out. 🪐 If I don't get a response by Monday, I'll pick up the ticket instead 🎂

[2022-01-06 14:54] Ayushsunny commented on #11016
Hello, @reemhamz Sorry for replying late.
Actually, I was finishing my Universities assignment
I'll fix this within 2 or 3 days.

[2022-01-06 15:47] reemhamz commented on #11016
@Ayushsunny Thanks for letting me know! Just assign me the PR when you're done ✌🏼

[2022-01-06 15:54] stevejalim commented on #9575
Am working on the whatsnew Dev / Nightly page niggle mentioned in the description

[2022-01-06 15:59] #11070 closed

[2022-01-06 17:40] slightlyoffbeat opened #11090 "Test new install method for Windows 11 users"
## Description

Edge on Windows 11 supports a new method for downloading and installing from the windows store. Firefox is now on the windows store and we should test this method to see if it can help increase the number of people who install after downloading.

![image](https://user-images.githubusercontent.com/2030656/148426352-3580747e-ad62-4046-b2af-c4692fb09777.png)

[2022-01-06 17:55] #11050 closed

[2022-01-06 17:57] alexgibson commented on #11074
@YeonjooSmith this is now in production, thank for your patience!

[2022-01-06 19:01] YeonjooSmith commented on #11074
@alexgibson   I just checked the url and I see service parameter (`service=e6eb0d1e856335fc`)! I will check if the service parameter shows up correctly in the data and let you know. I really appreciate your help and Happy New Year!

[2022-01-06 20:19] pmac opened #11092 "Remove old VPN terms and redirect"
This request comes from Mozilla Legal. The [old VPN experiment ToS](https://www.mozilla.org/en-US/about/legal/terms/vpn/) page is still up. This should be taken down, and the URL redirected to the [current VPN product ToS](https://www.mozilla.org/en-US/about/legal/terms/mozilla-vpn/).

## Success Criteria

- Old page is no longer accessible
- Old URL redirects to new URL
- A test for the new redir

[2022-01-07 09:33] alexgibson opened #11095 "Transparency report amendment"
## Description
Request via email from Daniel Nazer.

URL: https://www.mozilla.org/en-US/about/policy/transparency/jan-jun-2021/

Updated copy below:

Personal Data Requests

In the Reporting Period, we received 4,199 requests.*

Service | Received
-- | --
Mozilla | 2,603
Pocket | 1,596

*This number was corrected on [DATE], adding 280 requests for Mozilla that had been omitted because of an error.

[2022-01-07 09:43] #11092 closed

[2022-01-07 10:29] #11095 closed

[2022-01-07 12:52] alexgibson commented on #9575
Looks like there's a pref being added to Nightly to flip the UA string version number to 100 to help with testing: https://bugzilla.mozilla.org/show_bug.cgi?id=1748798

[2022-01-07 13:43] #11016 closed

[2022-01-07 13:44] alexgibson commented on #9575
I took a look at our front-end code, and the only place we seem to do UA browser version checks is in the `Mozilla.Client` library. I opened a PR that adds the Firefox v100 UA string to the file's existing unit tests, and things look OK: https://github.com/mozilla/bedrock/pull/11098

[2022-01-07 14:07] alexgibson commented on #9575
Found another bug (STR):

1. Open https://www.mozilla.org/en-US/firefox/100.0/whatsnew/?signed-in=false
2. Inspect the "Sign In" link `href`.

Expected result:

- `entrypoint=mozilla.org-whatsnew100`
- `utm_source=mozilla.org-whatsnew100`
- `utm_campaign=whatsnew100`

Actual result:

- `entrypoint=mozilla.org-whatsnew10`
- `utm_source=mozilla.org-whatsnew10`
- `utm_campaign=whatsnew10`

[2022-01-07 14:13] alexgibson commented on #9575
Lol

![image](https://user-images.githubusercontent.com/400117/148556059-a2b0e6e8-63ab-4ded-8454-68df00a85fc4.png)

[2022-01-07 14:17] alexgibson commented on #9575
PR to fix /whatsnew page version logic: https://github.com/mozilla/bedrock/pull/11099

[2022-01-07 15:37] alexgibson commented on #9575
I'm pretty sure there mnight be a [bug here](https://github.com/mozilla/bedrock/blob/master/bedrock/releasenotes/views.py#L62) in the ststem requirement pages, but I'm not sure how best to check there, since related pages don't exist for FF 100 yet. It may require some extended backend testing.

@stevejalim maybe you could take a look over the `releasenotes` app?

[2022-01-09 17:50] stevejalim commented on #9575
@alexgibson Thanks for the pointer - making a PR for that now.

I grepped for `{1,2}` and saw it in some JS that might also need a tweak.

https://github.com/mozilla/bedrock/blob/4175943789d1d5123f2a005c033a94b6373e01c9/media/js/base/mozilla-client.js#L142:L147

[2022-01-09 18:58] stevejalim commented on #9575
@alexgibson @pmac Micro PR for the Android releasenotes niggle mentioned by Alex above - https://github.com/mozilla/bedrock/pull/11102

[2022-01-09 19:00] #11038 closed

[2022-01-10 10:10] alexgibson opened #11103 "Warning when collecting pytests"
## Description

When I run `py.test bedrock/utils` locally I get the following warnings (are some tests are being dropped during collection?)

[code]

[2022-01-10 11:11] alexgibson commented on #10566
I'd like to try and wrap this up in Q1 to make some kind of formal recommendation, if only based on an initial evaluation if that's all we get time for. Real-world usage is always the best measure, but that's not something we may have the luxury of affording time and effort to do.

I think we can likely rule out option 1 (native web components), given that it appears to have quite deep learning cu

[2022-01-10 11:52] maureenlholland commented on #10566
This list looks good to me. I can start with demos of Lit and Svelte by the end of January and we can add options or test tougher cases depending on initial impressions of these options.

[2022-01-10 12:00] reemhamz commented on #10566
Thanks for the reminder on this issue -- it has slipped my mind. @maureenlholland sounds like a plan. I'm also happy to pick up Lit or Preact.

[2022-01-10 12:02] maureenlholland commented on #10647
closed with https://github.com/mozilla/bedrock/pull/11083

[2022-01-10 12:02] #10647 closed

[2022-01-10 12:28] stevejalim commented on #11103
Ah, this is... interesting. Looking at it now @alexgibson

[2022-01-10 12:29] stevejalim commented on #11103
Ah - I think this is a clash between test auto-discovery (something beginning with `Test`) and a dummy/utility class created for testing the relevant decorator. Renaming the test class should sort it - fixing now

[2022-01-10 12:56] #11103 closed

[2022-01-10 14:10] stevejalim opened #11105 "Epic: Support automatic checking of outbound links"
## Description

Now we're introducing content drawn from a CMS, we want to have some way to monitor/audit all links within mozilla.org so we can be sure where we're sending people to. While unlikely to happen, this will give us some level of awareness if any pages are compromised and start linking to harmful or inappropriate destinations.

---

#### Success Criteria
- [ ] We have a plan and spec f

[2022-01-10 15:00] stevejalim opened #11106 "Tune out Disallowed Host logs"
## Description

We're getting too much noise from bots with bad Host headers. Let's still reject them, but not fill Sentry with them:
https://docs.djangoproject.com/en/2.2/topics/logging/#django-security

---

#### Success Criteria
- [ ] Disallowed hosts are still rejected
- [ ] Sentry doesn't get flooded with them

[2022-01-10 15:08] alexgibson commented on #9575
I've spent some more time searching through the codebase today, and I can't spot any other obvious areas where we're only checking for a specific number of digits in either UA strings or page URLs. The areas where we do now seem to have adequate enough tests.

@stevejalim I did wonder if it might be worth adding any additional backend tests for either [releasenotes](https://github.com/mozilla/bedr

[2022-01-10 15:11] stevejalim commented on #9575
@alexgibson Will give them a look over now, sure thing

[2022-01-10 16:20] stevejalim commented on #9575
Looked over the backend code for `releasenotes` and:

* [ ] The `releasenotes` app imports from `django-product-details` which does itself need a bit of a poke to make it cope with three-digit releases.

* [ ] We should check in with MDN (@schalkneethling ?) about whether https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Releases is ready for three-digit FF too, given we link to it from `re

[2022-01-10 18:49] reemhamz commented on #10243
closed with https://github.com/mozilla/bedrock/pull/11100

[2022-01-10 18:49] #10243 closed

[2022-01-10 19:28] reemhamz commented on #11032
Started small with this ticket: https://github.com/mozilla/bedrock/pull/11107. Happy to hear any thoughts or critique on bundle names, haha.

[2022-01-11 10:51] maureenlholland opened #11108 "Contentful App Extensions"
## Description

Knowledge base / space for discussion regarding Contentful App extensions.

Contentful Docs
https://www.contentful.com/developers/docs/extensibility/app-framework/
Reasons Contentful encourages App development over UI Extensions
https://www.contentful.com/help/contentful-app-framework-faq/#when-should-i-use-an-app-instead-of-a-ui-extension
New Field Editor Components
https://github

[2022-01-11 10:54] maureenlholland commented on #11108
Initial tests:

- SingleLineEditor works from the Entry Editor location, but only provides the input. Label and Notes will have to be recreated with Forma36 components.
- Rich Text & Media Upload editors require FieldExtensionSDK, which is not available from Entry Editor location
<img width="649" alt="Screen Shot 2022-01-11 at 10 46 28 AM" src="https://user-images.githubusercontent.com/19650432/14

[2022-01-11 12:47] schalkneethling commented on #9575
I am asking around to make sure but I reckon we should be all good.

[2022-01-11 15:21] #11057 closed

[2022-01-11 18:03] stevejalim commented on #11081
This is good news, thanks!

[2022-01-12 09:10] alexgibson commented on #11036
I'm sure that marketing will want to do something specific for when FF v100 hits general release, but perhaps we might have a little more freedom to do something fun when Nightly hits v100 on March 8?

https://www.mozilla.org/en-US/firefox/100.0a1/whatsnew/

[2022-01-12 10:36] alexgibson opened #11112 "Improve "Remote" job filtering?"
## Description

Selecting different "Remote" job location options in the listings page produces inconsistent results.

### Steps to reproduce

1. Open https://www.mozilla.org/en-US/careers/listings/
2. From the locations drop down, select `Remote`.
3. Look at the results.
4. From the locations drop down, select `Remote US`.
5. Look at the results again.

### Expected result

When selecting `Remote

[2022-01-12 10:37] alexgibson commented on #11081
See also https://github.com/mozilla/bedrock/issues/11112

[2022-01-12 14:58] robhudson commented on #11112
It seems like more of an exact match type of filter. Notice that the greenhouse filter also has this problem: https://boards.greenhouse.io/mozilla

[2022-01-12 15:28] alexgibson commented on #11112
Yeah, I can see it was set up this way. Just seems like people might be missing out on possible remote roles, unless they realise there's more than one category to check 🤷‍♂️

[2022-01-12 18:38] #10859 closed

[2022-01-13 15:54] alexgibson commented on #10591
Selenium 4 seems to work well with Firefox/Chrome, but I'm hitting some issues when running the IE9/IE11 tests in Sauncelabs. I'm still trying to figure out what the issue is.

I may try and take an iterative approach to figuring the problem out, updating some smaller dependencies (such as pytest-selenium) first, in the hope that it makes ti clearer where the problem is.

[2022-01-13 16:24] robhudson commented on #9575
Sharing this here as work done towards this cause: https://github.com/mozilla/django-product-details/pull/79

[2022-01-13 19:43] #11080 closed

[2022-01-14 09:09] slightlyoffbeat opened #11118 "Remove old items from from mozilla.org"
## Description

There are a few items to remove from mozilla.org. [All details for this issue can be found in this document](https://docs.google.com/document/d/1oXL7rcAyBg4W0ZOsxkkPRFzR7p1wHc-GlG8BjuYTldI/edit?usp=sharing).

This should be ready to go, but not merged until we have a final date (TBD)

[2022-01-14 09:16] slightlyoffbeat opened #11119 "Test new service for powering text-to-download."
## Description

We removed our text-to-download capabilities a while back because our solution was costly, complicated, and not worth maintaining.

Lets test integrating a new service. I recommend starting with Twilio, but open to ideas and options.

---

#### Tasks
- [ ] Scope work and determine if this test is worth doing.
- [ ] Research Twilio and alternatives. Choose one to test.
- [ ] Build M

[2022-01-14 09:29] slightlyoffbeat opened #11120 "Multi-newsletter signup"
## Description

The newsletter signup that is on various pages on mozilla.org only signs up users for the mozilla foundation newsletter. In 30 days, it signs up ~25-30k users. There is an opportunity to also surface our Firefox newsletter.

The ask is to have an updated version of our email signup that has an option to sign up for the Firefox newsletter in addition to the mozilla foundation newsle

[2022-01-14 09:36] slightlyoffbeat opened #11121 "Add email-to-download form for Firefox Focus page"
## Description

When we created the Firefox Focus page, we opted to only provide a QR code because of time. The focus team has requested an option for email-to-download. Lets work with our activations team to get a mailing list set up and an email-to-download option for the Firefox Focus page.

---

#### Considerations:
- Should this be a test?
- Should we have both the QR code & the email-to-down

[2022-01-14 13:59] alexgibson opened #11123 "Pocket pages throw a 404 trying to load js/base/mozilla-cookie-helper.js"
## Description

Not sure where this is used, but the pocket pages seem to throw a 404 looking for: https://www-dev.allizom.org/en-US/external/pocket/about/js/base/mozilla-cookie-helper.js

https://www-dev.allizom.org/en-US/external/pocket/about/

[2022-01-14 18:06] robhudson opened #11126 "Remove calendar data that existed from Thunderbird"
## Description

Hosting of Thunderbird content was removed and redirected in 6858eb80 ([bug 1388914](https://bugzilla.mozilla.org/show_bug.cgi?id=1388914)) but the calendar data remains in [`/media/caldata`](https://github.com/mozilla/bedrock/tree/master/media/caldata). It looks like the Thunderbird website has their own copy of the caldata files here: https://github.com/thundernest/thunderbird-we

[2022-01-14 18:07] robhudson commented on #11126
@Sancus Could I get your thoughts here, please?

[2022-01-14 19:39] Sancus commented on #11126
I haven't used the bedrock calendar files since we copied 'em. People have been updating them in our repository. That data is definitely no longer necessary nor used. I am kind of surprised they weren't removed before!

[2022-01-14 20:37] robhudson commented on #11126
Great, thank you! I just wanted to make sure.

[2022-01-14 21:31] slightlyoffbeat commented on #11118
Date available: Jan 26th. Time of day to be coordinated with comms.

[2022-01-14 22:41] #11126 closed

[2022-01-14 23:45] slightlyoffbeat opened #11133 "Leadership Page changes"
## Description

Details of changes can be found [in this document.](https://docs.google.com/document/d/1KBFzMW8qc1VnkGZvQjVffPQB5SQIkzj4GmXVXxU0zIw/edit?usp=sharing)

---

#### Success Criteria
- [ ] Ready to go live on Tuesday
- [ ] Confirm with Dan Brown before pushing changes live.

[2022-01-17 09:28] #9144 closed

[2022-01-17 12:26] maureenlholland commented on #11123
This is used in the snowplow analytics script, for `Mozilla.Cookies.getItem` functionality: https://github.com/mozmeao/pocket-marketing-pages/blob/master/content/marketing-assets/js/snowplow.js#L10

Might need to check in with Dan or pmac for details when they are back. I think we want to keep snowplow but we don't necessarily need to use this helper.

[2022-01-17 12:41] alexgibson commented on #11123
Snowplough isn’t yet used in the bedrock repo though, I think?

If so, we can solve this when that does migrate over?

[2022-01-17 12:47] maureenlholland commented on #11123
Hmm, interesting, I'll ping the migration issue to check on this. Yeah, if there's no snowplow then there's no need for the cookie helper as far as I know.

[2022-01-17 12:49] maureenlholland commented on #10211
Question for analytics: do we need to migrate the snowplow script over for these pages as well?
(right now there's a mozilla cookie helper script that has no use without snowplow: https://github.com/mozilla/bedrock/issues/11123)

[2022-01-17 16:13] stevejalim commented on #9575
@alexgibson Shall we count this as 'done' as far as possible for now? Once Nightly hits 100, that should validate that we've caught everything (if we do a good test drive around), yeah?

[2022-01-17 17:05] alexgibson commented on #9575
@stevejalim sounds good, thank for all your efforts here! Closing

[2022-01-17 17:05] #9575 closed

[2022-01-17 17:07] pmac commented on #10211
Yes I believe we do need snowplow still.

[2022-01-17 17:08] stevejalim commented on #9575
@alexgibson Go team! ⭐ 🌟

[2022-01-18 12:07] #10505 closed

[2022-01-18 16:52] #11133 closed

[2022-01-18 20:45] pmac opened #11138 "Docs build failing at RTD"
## Description

The docs are failing to build properly at Read The Docs due to an issue with the docs dependencies. This is the error from the [build log](https://readthedocs.org/projects/bedrock/builds/15809685/):

[code]

[2022-01-18 23:57] slightlyoffbeat commented on #11120
![Love the Web](https://user-images.githubusercontent.com/2030656/150037866-fbeda0b3-fc60-41fe-9177-03a16e115098.png)

Here is the design from Elise. This has a thumbs up from the email team as well. I reached out to studio team to see if they would like to use this as an opportunity to update copy.

With design direction, this is ready for work to begin.

[2022-01-19 00:53] slightlyoffbeat commented on #10211
Yes, snowplow should be considered a requirement.

[2022-01-19 12:31] maureenlholland commented on #11123
closed with https://github.com/mozilla/bedrock/pull/11124

[2022-01-19 12:31] #11123 closed

[2022-01-19 13:00] #11106 closed

[2022-01-19 13:11] stevejalim commented on #11055
Starting this on basket, to avoid clashes with bedrock dep updates by Rob

[2022-01-19 15:38] reemhamz commented on #11032
## Game plan

These are the components we'll create bundles for, since they have the highest number of CSS imports in our codebase:
- split component: ~35 imports
- card (coupled with card-layout): ~16 imports
- picto (coupled with multi-column): ~24 imports
- <del>logo (which holds logos and wordmarks): ~50+ imports</del> (will revisit later)
- callout: ~25 imports
- article: ~15 imports
- newsle

[2022-01-19 18:07] #11138 closed

[2022-01-19 22:30] slightlyoffbeat commented on #11120
lets consider updating /newsletter and /newsletter/firefox

[2022-01-20 07:25] slightlyoffbeat opened #11142 "[Epic] Mozilla Blog Improvements"
Placeholder for the Mozilla Blog Epic

[2022-01-20 07:26] slightlyoffbeat opened #11143 "[Epic] Redesign & Rebuild careers site"
This is a placeholder for the epic: Redesigning and rebuilding the Mozilla Careers section of mozilla.org

[2022-01-20 07:32] slightlyoffbeat opened #11144 "[Epic] Update Firefox Features pages."
Placeholder for this epic that will be filled out soon.

[2022-01-20 11:00] stevejalim opened #11146 "Remove non-working integration tests"
## Description

At the moment, CI runs a set of integration tests, but there are some which are only triggered manually, and which do not work any more. This causes confusion about whether bedrock is broken or not.

As an example look at https://gitlab.com/mozmeao/www-config/-/pipelines/452352630 where you can see that the following did not run smoothly

* test-chrome-saucelabs - failing on some
*

[2022-01-20 15:58] #11029 closed

[2022-01-20 19:50] robhudson opened #11148 "eslint error in mozilla-cookie-helper.js"
## Description

With the pre-commit updates in https://github.com/mozilla/bedrock/commit/74d40595e2841e40caa6da7933fb84ca66cd66fd there is now an eslint error that should be fixed or looked into at some point.

The output from `pre-commit run --all-files` shows this error

[code]

[2022-01-20 20:07] pmac opened #11149 "[Epic] Move interaction with basket to client side where possible"
## Description

Currently newsletter signups and the email preferences center all interact with basket via bedrock's backend servers. There isn't a good reason for this for the most part. We should update our newsletter subscription forms and the email prefs center to interact directly with basket via JS rather than submit to bedrock which then just redirects the data to basket. This would reduce

[2022-01-21 08:14] alexgibson commented on #11148
It looks like https://github.com/mozilla/bedrock/commit/74d40595e2841e40caa6da7933fb84ca66cd66fd updated the version of ESLint the Git hook uses to v8. However the code base still uses ESLint v7 (the version in package.json), which is why this wasn’t picked up in CI.

We can fix the linting error, however we should really make sure we’re not using mismatching versions of the library, else we might

[2022-01-21 09:09] alexgibson commented on #11149
Depending on how far we want to take it, the outcome of https://github.com/mozilla/bedrock/issues/10566 might be a good candidate for the email preference center.

[2022-01-21 13:29] stevejalim commented on #11149
@pmac As https://github.com/mozilla/bedrock/issues/11120 is p2 and this is p3, I think work on this should start sooner. Agreed?

[2022-01-21 13:37] stevejalim opened #11152 "Move dependency management to pip-compile-multi"
### Description
As part of standarising how we manage our Python deps across MEAO, we're moving to [pip-compile-multi](https://pip-compile-multi.readthedocs.io/en/latest/)

### Key tasks

- [ ] Revamp dependency management tooling from `pip-tools` to `pip-compile-multi`

### Success critera
- [ ] CI passes
- [ ] No regression in behaviour/functionality
- [ ] Documentation is updated
- [ ] Separate

[2022-01-21 16:21] robhudson commented on #11148
Thanks @alexgibson! I can change the pre-commit hook version back to v7.x. I simply ran `pre-commit autoupdate` to bump up the libraries.

[2022-01-21 17:24] robhudson opened #11154 "IE "Download Now" query params are HTML escaped"
## Description

On the “Download Now” button I inspected it and see 2 versions, one for non IE browsers and one for IE. The non IE href has query params that look normal, `?product=firefox-stub&os=win&lang=en-US` but the IE one has them encoded as HTML `?product=firefox-stub&amp;os=win&amp;lang=en-US` with the `&amp;`s.

We should investigate if this is intentional or not.

### Steps to reproduce

[2022-01-21 17:25] robhudson commented on #11148
https://github.com/mozilla/bedrock/commit/02925d5d01c17b1bce112f13141e5e91b5ff42ad

[2022-01-21 17:25] #11148 closed

[2022-01-21 20:12] slightlyoffbeat commented on #11118
Just heard this may be moved to Feb 8th. I'll confirm if/when that happens.

[2022-01-22 00:00] robhudson opened #11156 "Upgrade querystringsafe-base64, which affects stub attribution signatures"
## Description

The Python package, querystringsafe-base64, was listed as an outdated package in a recent sweep of packages. Going from version 1.1.1 to 1.2.0 seemed minor enough and was included along with many others. This led to test failures related to the `attribution_sig`. So this upgrade was backed out and this issue opened for further consideration at a later time.

The reason the signatur

[2022-01-22 04:25] pmac commented on #11149
Yes. For sure. Agreed. I just wanted to get this into the backlog so we don't forget it.

[2022-01-25 17:52] maureenlholland opened #11171 "Add Snowplow to Pocket Marketing pages"

[2022-01-26 18:34] craigcook opened #11172 "WNP 97"
## Description

Create two what's new pages for Firefox 97, releasing on *8 February, 2022*.

FR and DE will show the "future of the internet" video.
- [Copy](https://docs.google.com/document/d/14lqnSGPOenKX_n22dc_-UKUHJ6Gojo0sLjei8rbDMEQ/)
- [Design](https://www.figma.com/file/8fVLbzzAd40lSSLuOwCfnl/Firefox-WNP-EU-(Copy-June-2021)?node-id=1308%3A292)

EN will promote Pocket.
- [Copy](https://docs

[2022-01-26 20:40] kbrosnan commented on #8309
[Adjust is back in Firefox-iOS](https://github.com/mozilla-mobile/firefox-ios/pull/9768) due to the need to understand impact of  install campaigns

[2022-01-26 20:55] wonbug opened #11173 "download.mozilla.org serving months-old download as "latest""
### Steps to reproduce

Try to download the latest Firefox APK for Android from https://download.mozilla.org/?product=fennec-beta-latest&os=android
This link has worked well for years.

### Expected result

I get the latest version of Firefox for Android.

### Actual result

I get Firefox 68, which is months out of date, without any warning or indication it isn't the "latest" version available.

#

[2022-01-28 14:09] alexgibson opened #11175 "Creating a fresh NPM lockfile causes CI failures due to missing SWC binaries"
## Description

Next.js uses Rust-based compiler called [SWC](https://swc.rs/) to compile JavaScript. SWC requires a binary file to be downloaded to your system, so depending on the architecture, running `npm install` might download a different binary file.

Right now, all the correct binaries are included in `package-lock.json` for both local dev and our CI, but if someone tries to create a fresh

[2022-01-28 14:10] alexgibson commented on #11175
Oops wrong repo

[2022-01-28 14:10] #11175 closed

[2022-01-28 15:41] #11171 closed

[2022-01-31 13:35] stevejalim commented on #11146
@alexgibson @duallain Is this what you've been collaborating on recently? If so, I can close it as a duplicate

[2022-02-01 13:43] LuminitaB opened #11182 "Error messages on the "Join the waitlist page" are not stuck to the corresponding fields"
## Description

When triggering error messages on the Join the waitlist page and scrolling on the page, the error message are not stuck to the fields

### Steps to reproduce

Open VPN page, on Firefox, while you are not in a VPN supported country: https://www-dev.allizom.org/en-US/products/vpn/
Click on the “Join the Waitlist” button.
Do not fill in any information and click the “Join the Waitlist

[2022-02-01 13:52] alexgibson commented on #11182
I believe this is a native form field error message, and not part of the website / web page. See https://bugzilla.mozilla.org/show_bug.cgi?id=1504161 for a possible similar Firefox bug

[2022-02-02 13:11] LuminitaB opened #11183 "Menu items on Join the waitlist page are not correctly displayed in French language"
## Description

The menu items on the Join the waitlist page are not displayed with capital letters, as they are in English.
### Steps to reproduce

1. Access https://www-dev.allizom.org/fr/products/vpn/invite/ ;
2. Take a look at the menu items on the page.

### Expected result

All the menu items are displayed using capital letter, even the ones with multiple words , as for the English language.

[2022-02-02 13:30] alexgibson commented on #11183
@peiying2 is this something that can be fixed in Smartling?

[2022-02-03 06:09] slightlyoffbeat commented on #11118
This date was pushed up. This can be merged and go live any time after Feb 3 6am PT/9am ET.  I left some notes in the doc.

[2022-02-03 17:26] alexgibson opened #11184 "[March 23] Create privacy notice / legal terms pages for MDN Plus"
## Description

Requested URLs:

- https://www.mozilla.org/privacy/mdn-plus/
- https://www.mozilla.org/about/legal/terms/mdn-plus/

Associated markdown files:

- https://github.com/mozilla/legal-docs/blob/master/en/mdn_plus_privacy.md
- https://github.com/mozilla/legal-docs/blob/master/en/mdn_plus_terms.md

Privacy pages need to be live on March 23 (one day before the MDN Plus launch)

[2022-02-03 21:24] #11118 closed

[2022-02-04 16:56] alexgibson commented on #11184
Updated to March 24

[2022-02-04 16:58] #11172 closed

[2022-02-04 17:21] alexgibson commented on #11184
Talked to the stakeholders and they agree we can push this live 1 day before (23rd) to make launch scheduling easier.

[2022-02-07 14:04] #11055 closed

[2022-02-08 23:37] gianlucadecola commented on #11184
Hi, first time here, can I work on this?

[2022-02-09 07:26] slightlyoffbeat opened #11195 "New banner needed"
## Description

A new banner will be needed for an upcoming project. Details will be in this doc:

https://docs.google.com/document/d/19qIqj4gPpHblUcA2X5usmVuqPbZJOxHwErSOzrvUDsg/edit?usp=sharing

---

#### Success Criteria
- [ ] Goes live at TBD
- [ ] Taken down at TBD

[2022-02-09 07:27] slightlyoffbeat commented on #11195
@craigcook Can you pick this one up?

[2022-02-09 16:55] stevejalim commented on #11056
The summary doc that led us (me?) to pick `pip-compile-multi` is at https://docs.google.com/document/d/1dk8NLxSyVdvU3m2udjU-VCUsuC33hT3wZ46-ZZ6m8NM/edit#heading=h.oq9kby8rxip3 - it essentially let us keep separate dependency files and a familiar setup, as switching workflow didn't pay enough dividends. Hopefully.

[2022-02-10 07:12] Ayushsunny commented on #11183
Hey, @alexgibson any update on this issue?
I thought to pick this up

[2022-02-10 07:16] Ayushsunny commented on #11173
@alexgibson what do you think about this issue?

[2022-02-10 07:21] Ayushsunny commented on #11112
Hey, @robhudson shall we fix this too?

[2022-02-10 13:15] stevejalim opened #11196 "Remove broken MDN link from XUL page"
## Description

https://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul is an XML namespace and the page features a link to an explanation on MDN.

However, that explanation has been retired, so the link 404s.

We should avoid sending people to that page.

Resolves https://github.com/mdn/content/issues/12890

---

#### Success Criteria
- [x] Link to MDN is removed
- [x] Alternative link tha

[2022-02-10 14:13] stevejalim opened #11197 "Remove non-functional stylesheet URL from credits page"
## Description
If you view source on https://www.mozilla.org/credits/ you will see there are two stylesheets referenced in the `<head>`, the second of which is

[code]
This a) doesn't work and b) doesn't look like it's an appropriate way to load styles anyway.

Digging into it, colleagues on FF confirmed that the file was removed relatively recently from inside FF. As there no longer is an in-tree

[2022-02-13 10:32] Ayushsunny commented on #11197
Hey @stevejalim, So first we'll remove this stylesheet `<link rel="stylesheet" href="chrome://global/skin/about.css" type="text/css">`
then we'll add that file to bedrock doc?
Actually, I'm a little confused about this
- [ ] CSS added to bedrock instead

[2022-02-14 11:14] stevejalim commented on #11197
Heya @Ayushsunny - thanks for looking at this. I've rephrased the final step to make it a bit clearer, and the detail of how I'd approach it is this:

* Look at [the original about.css from Firefox](https://hg.mozilla.org/releases/mozilla-esr91/raw-file/tip/toolkit/themes/shared/about.css)
* Take those rules and add them to `credits` bundle in `bedrock` instead. This looks like it's just a straigh

[2022-02-15 18:23] pmac opened #11204 "Add a redirect for the True Colors site"
Please add the following redirect:

* `www.mozilla.org/{turningred,truecolors}` → `truecolors.firefox.com`

If there are query params in the request they should be preserved. If there are no query params a default set should be added:

`?utm_campaign=firefox-disney-us&utm_medium=web&utm_source=redirect&utm_content=mozilla.org-turningred`

[2022-02-15 20:05] #11204 closed

[2022-02-16 03:34] slightlyoffbeat opened #11206 "Create variation of /firefox/mobile/get-app/ for product test"
## Description

Product team has requested a variation of a page be built for:

`/firefox/mobile/get-app/`

It can live at: `/firefox/mobile/get-app/?v=mfm`

This variation would be 100% the same, except that it will send users to a different email list that will allow the product team to perform a test with more accurate attribution.

The updated email list is created, but I do not have the ID at

[2022-02-16 03:48] slightlyoffbeat opened #11207 "Create dedicated page for "Knowledge is Power" newsletter"
## Description

1st: lets confirm there isn't a dedicated page for this newsletter already :)

This will be updated when more info becomes available.

- Duplicate /newsletter
- swap copy for copy that is specific for 'Knowledge is Power' newsletter
- (TBD) update design to be appropriate for 'Knowledge is Power' newsletter
- URL `/newsletter/knowledge-is-power`
---

[2022-02-16 03:52] slightlyoffbeat opened #11208 "WNP 98 (en - united states)"
Placeholder.

We will have a WNP 98 that will be a continuation of our True Colors campaign.

[Design](https://www.figma.com/file/6uDJuDdpeYRxHRm4T9pjLh/Turning-Red?node-id=3986%3A104072) (option 2, expanded state)

hero assets: https://drive.google.com/drive/folders/1E9WaBHzM94HBsWkvYiMMYV8B_2E4MjrX?usp=sharing

Notes:
- Please investigate if background lines are possible. If they are not, commun

[2022-02-16 04:09] slightlyoffbeat opened #11209 "WNP 98 (en - non US)"
## Description

This will be the fallback for all english speakers who are not in the US and do not receive the geo-restricted turning red WNP.

Use the same copy and layout from: https://www.mozilla.org/en-US/firefox/welcome/10/

---

#### Success Criteria
- [ ] Shows to someone who has selected english for their browser, but is not in the united states.

[2022-02-16 04:19] slightlyoffbeat opened #11210 "[Epic] WNP 98 (EU VPN)"
## Description

Launching **March 8** (strings need to be in Pontoon by **March 1st**).

[Launch plan](https://docs.google.com/document/d/1emFAlQB1U9KY--tYGHK3NUvZfTnQZnbcFnTZOwt7Kvg/edit?usp=sharing) (Mozilla access only)

- [x] Page design and content - re-used from previous WNP. Localized. @slightlyoffbeat will provide
- [x] Localized into three locales (see launch plan).
- [x] Geo target these

[2022-02-16 04:30] slightlyoffbeat opened #11211 "WNP 98 - EU"
## Description

Design: https://www.mozilla.org/en-US/firefox/96.0/whatsnew/

Locales:  DE & FR

Copy: https://docs.google.com/document/d/13b-AqtjiD-JrtpNrO4ZuINNr935SUaieAtxD8McPER8/edit#heading=h.9ejy2rvy4tnp

Lets use the QR code variation (that was the winner in the last WNP).

[2022-02-16 04:43] slightlyoffbeat opened #11212 "[Epic] VPN Affiliate"
## Description

We will soon have the ability to have affiliate links for VPN. This requires changes/additions to Mozilla.org.

When a user arrives to the VPN landing page from an affiliate link, we will show this user a message. This message allows users to either opt in or out of our ability to affiliate attribution.

Tasks include:

- [x] Determine behavior of banner (blocking, non-blocking, op

[2022-02-16 04:43] slightlyoffbeat commented on #11212
I wrote to legal to ask for guidance on copy for the banner. I will take what is provided, and send to studio team for user-facing copy.

[2022-02-16 04:47] slightlyoffbeat commented on #11212
Here are the options that I can think of for banner/modal behavior:
1. there is a banner somewhere that requires users to opt in. This is not recommended because there is a high likely-hood that most people will ignore the banner and we will get a minimal amount of opt-ins.
2. There is a banner somewhere that requires users to opt out. We would need to design this in a way that makes it obvious an

[2022-02-16 04:47] slightlyoffbeat commented on #11212
@alexgibson @pmac for visibility. Any options I'm missing?

@alexgibson could you add technical tasks to the checklist?

[2022-02-16 05:08] slightlyoffbeat commented on #11121
My recommendation for now: change this page to use email-to-signup, but keep the QR code at a variation such as `?signup=qr` so that we can link and use it when desired.

[2022-02-16 09:37] alexgibson opened #11213 "Add new supported countries to VPN landing page"
## Description

Launching **March 8**.

[Launch plan](https://docs.google.com/document/d/1emFAlQB1U9KY--tYGHK3NUvZfTnQZnbcFnTZOwt7Kvg/edit?usp=sharing) (Mozilla access only)

- [ ] Add 2 new supported countries to the VPN landing page (see launch plan).
- [ ] Both countries will use existing stripe IDs for English/Euros.
- [ ] Update landing page strings listing supported countries to include new

[2022-02-16 09:43] alexgibson opened #11214 "H2 2021 Transparency Report"
## Description

Copy doc: https://docs.google.com/document/d/1z9XmYxXioH8op6okg0C9mK0lFvkKXSuDF2SxkF-_IlE/edit?usp=sharing

---

#### Success Criteria
- [ ] Page is live in the next couple of weeks

[2022-02-17 15:23] pmac opened #11215 "Careers: Single Position, Multiple Listings"
## Project Summary
The goal of this project is to leverage our Django app and the Greenhouse API to list a single job posting for positions which can be worked in more than one country. Currently, this can only be done by adding one post per country, resulting in multiple posts on the job board.

The single listing must also support different job application links for each country group. Location

[2022-02-17 16:39] #11112 closed

[2022-02-17 21:15] denisgon opened #11216 "The fundraising banner size"
## Description
The fundraising banner on https://www-dev.allizom.org/ occupies the whole screen in Russian localization because of the long text and long numbers in roubles (₽). There is no way to short the text, so one of the methods to solve the problem is to miniaturize the size of the button paddings. Also it would be grate if you could suggest some other solutions of the problem.

![изображен

[2022-02-17 21:36] denisgon opened #11217 "The fundraising banner background picture"
## Description

The fundraising banner on https://www-dev.allizom.org/ background picture is scaled with the banner and cropped in accordance with the user's screen size.

English (US) version (an original background picture):

![изображение](https://user-images.githubusercontent.com/93614255/154573237-61b857bb-262d-43b6-9366-273db5fe8360.png)

Ukrainian version (a little bit enlarged and cropped

[2022-02-17 22:25] craigcook commented on #11216
We could do some language-specific styling to reduce the font-size of the headline for those languages where it runs especially long. Note that this banner isn't currently in use, it just appears on the dev server because it's controlled by a feature switch that defaults to "on" in dev mode.

Next time we run the fundraising banner we should be mindful of how the main headline will flow in some la

[2022-02-18 01:33] slightlyoffbeat commented on #11210
copy document: https://docs.google.com/document/d/1tfDXrMxnebgJ6-6eBQS_2WSoy0AxMRi1D73uDBOMNp0/edit?usp=sharing

[2022-02-18 01:38] slightlyoffbeat commented on #11206
Basket/Newsletter ID: 2560328

[2022-02-18 01:52] slightlyoffbeat commented on #11121
@craigcook i was mistaken and an ID does not exist yet because this email hasn't been created yet. I put in a request and will update when available. There also may be a small change to how this is handled, so lets put on hold briefly till I can sort out

[2022-02-18 11:46] stevejalim commented on #11197
@Ayushsunny Are you still interested in doing this? If not, am happy to pick it up, but don't want to duplicate effort

[2022-02-18 12:08] stevejalim opened #11219 "Fluent templates for a non-Contentful VPN page are missing a `url` param"
Testing out the new linkchecker, we got back this report

[code]

Looking into it it appears that there are fluent strings marked up to expect a `url` variable - eg
* https://github.com/mozilla/bedrock/blob/master/l10n/en/products/vpn/more/ip-address.ftl#L23
* https://github.com/mozilla-l10n/www-l10n/blob/master/en-GB/products/vpn/more/ip-address.ftl#L20

However, that variable doesn't appear to b

[2022-02-18 15:27] Ayushsunny commented on #11197
Sorry for the delay,
Actually, i was busy with my upcoming Uni test.

[2022-02-18 15:44] Ayushsunny commented on #11197
All the tests have passed.
I've already mentioned you there for a review.

[2022-02-18 15:56] stevejalim commented on #11197
Yeah I saw - i meant good luck for the uni tests!

[2022-02-18 16:00] Ayushsunny commented on #11197
I didn't understand what test you were talking about, lol.
Thank you, Steve Sir.

[2022-02-18 20:21] robhudson opened #11227 "Move to Django's built-in `JSONField`"
## Description

Django 3.1 added support for [`JSONField`](https://docs.djangoproject.com/en/4.0/releases/3.1/#jsonfield-for-all-supported-database-backends) natively. This field differs slightly from the field in the django-extensions library so this will take some care to migrate to.

[2022-02-21 04:42] k4awon commented on #11196
I can take a try here

[2022-02-21 09:12] stevejalim commented on #11196
@k4awon Thanks! Let me know if you have any questions

[2022-02-21 09:36] alexgibson commented on #11210
Demo:

- https://www-demo1.allizom.org/en-US/firefox/98.0/whatsnew/?geo=se
- https://www-demo1.allizom.org/en-US/firefox/98.0/whatsnew/?geo=fi

[2022-02-21 13:42] #11197 closed

[2022-02-21 13:58] #11210 closed

[2022-02-21 16:50] couci opened #11233 "Create a banner on /contribute page"
## Description

In preparation for the promotional work on Firefox ideas , we want to create a banner on the https://www.mozilla.org/contribute to prompt people to join the new platform and submit their ideas around new products.

The copy should be: "[platform name] is here[link]. Submit your ideas for Firefox and other Mozilla products and participate to conversations with Mozilla's product mana

[2022-02-22 13:36] stevejalim commented on #11146
https://github.com/mozilla/bedrock/pull/11232 implies this is done, so closing

[2022-02-22 13:36] #11146 closed

[2022-02-22 16:39] #11154 closed

[2022-02-22 17:26] alexgibson commented on #11173
@wonbug the link you reference above is for Fennec, which is the old version of Firefox on Android. Fenix is the latest version, for which you can find APKs for here: https://github.com/mozilla-mobile/fenix/releases

Since https://github.com/mozilla/bedrock/issues/8938, we no longer provide APK links for Android on www.mozilla.org, because right now there is no automation built to support this. In

[2022-02-22 17:26] #11173 closed

[2022-02-22 17:38] wonbug commented on #11173
Users don't know that's the "old version" - and Firefox itself makes no indication it's out of date. If the APKs are not for use, don't offer them for download, especially at a URL titled "latest".

[2022-02-22 20:44] wonbug commented on #11173
You're making assumptions. Have you checked server logs for how many requests for `fennec-beta-latest` have been received in the last month? Have you seen if download URLs to Github are available on www.mozilla.org? (They are not.) Have you downloaded and used "fennec-latest" to apprehend there's no indication to the user they're using a browser months out of date? I'm asking you consider this fro

[2022-02-22 20:52] reemhamz opened #11241 "Diversity & Inclusion 2021 Report"
## Description

Will be putting together 2021's D&I Disclosure report.
[Here are the designs](https://www.figma.com/file/JxEYcl3D1MLe2z0jDyHcgt/Diversity?node-id=0%3A1).

- The report will span multiple pages and we will be utilizing the secondary navigation already being used in Bedrock
- It will be English-only, so no need to use Fluent translations
- Designs are very close to the [recent annual

[2022-02-22 21:31] alexgibson commented on #11173
@wonbug as far as www.mozilla.org goes there are no links to the fennec download URL you provide above. It’s no longer possible to download it from our public facing web pages. Yes, you can still download it directly from download.mozilla.org if someone happens across the URL somewhere else. Hopefully we can get that fixed in the future, but like I previously mentioned the Fenix APKs are not yet a

[2022-02-22 21:40] alexgibson commented on #11173
@wonbug i filed a bug for download.Mozilla.org for you here: https://bugzilla.mozilla.org/show_bug.cgi?id=1756697

[2022-02-23 00:25] craigcook commented on #11119
Some added details after discussion:

1. We're moving forward with a test of Twilio.
2. We'll run a traffic cop test on /firefox/browsers/mobile/android/
3. Three variants: QR, Email, and SMS, with a 33/33/33 split.
4. English only, US only.
5. We'll need custom Adjust links with experiment params for attribution.
6. We'll plan to run the experiment for two weeks.

[2022-02-23 00:35] slightlyoffbeat commented on #11119
Lets use this for the adjust link:

https://app.adjust.com/kwd7bhf

campaign = sendtodownload
adgroup = android (or ios)
creative = QR, text2download, email2download

I'm realizing as I type this that we can't use custom attribution for email2download without getting a new email list set up. I'll chat with the activations team. Perhaps we can get enough data by just monitoring the attribution resu

[2022-02-23 01:21] slightlyoffbeat commented on #11119
I spoke activations, and they are going to create a unique email so that we can have true attribution for email-to-download. I'll update when we have a basket ID for that.

[2022-02-23 01:43] slightlyoffbeat commented on #11209
Lets use the same copy and layout from: https://www.mozilla.org/en-US/firefox/welcome/10/

This is a fallback for en-US that are not in the united states and shown the turning-red focused WNP.

[2022-02-23 01:49] slightlyoffbeat commented on #11211
For German:

https://app.adjust.com/b2arekk
![QRCode-1](https://user-images.githubusercontent.com/2030656/155249362-a7b468ce-6a54-454b-b76f-a6dade183804.svg)

[2022-02-23 01:49] slightlyoffbeat commented on #11211
For French:
![QRCode-2](https://user-images.githubusercontent.com/2030656/155249440-e794e832-47f9-45ed-a82a-b755044cccb8.svg)

https://app.adjust.com/caisb08

[2022-02-23 05:47] k4awon commented on #11219
If it is okay I can take a look here?

[2022-02-23 10:20] alexgibson commented on #11211
There seems to be some misalignment between what's suggested here and the string we have in the copy doc. Going to ask Jennifer Balaco to clarify which variation the EU team want to use.

[2022-02-23 13:54] alexgibson commented on #11211
Missing string for German `Scanne den QR-Code und los geht's`

French is incoming.

[2022-02-23 17:04] pmac commented on #11206
This is not a basket ID. This ID needs to be entered into basket so that it can be used when communicating with Acoustic.

[2022-02-23 17:06] pmac commented on #11206
Basket ID: `download-firefox-mobile-reco-exp`

[2022-02-23 17:41] #11196 closed

[2022-02-24 10:03] alexgibson commented on #11211
@slightlyoffbeat when testing the adjust links on demo the EU team observed that all the URLs are blocked by uBlock Origin.

I don't think this is necessarily new or a suprise, but it's worth calling out. I guess it depends just how important attribution is here, and how many downloads we might lose out on?

![image](https://user-images.githubusercontent.com/400117/155502563-4e08ec32-1f73-4667-906

[2022-02-24 10:09] alexgibson commented on #11211
Going to ask Jeniffer Balaco for input here also seeing as this is for a French / German audience.

[2022-02-24 10:11] alexgibson commented on #8309
When testing an upcoming /whatsnew page the EU team observed that uBlock Origin also attempts to block Adjust links:

![image](https://user-images.githubusercontent.com/400117/155504139-b590e0bd-a53b-43b8-a746-bc440a24e865.png)

[2022-02-24 11:16] stevejalim commented on #11219
This should be automatically taken care of when l10n changes are made as a result of https://github.com/mozilla/bedrock/pull/11225/

Closing, but thanks for the offer of help @k4awon !

[2022-02-24 11:16] #11219 closed

[2022-02-24 12:08] #11214 closed

[2022-02-24 17:07] alexgibson commented on #10746
Depends on https://github.com/mozilla/glean.js/issues/1219

[2022-02-24 17:34] craigcook commented on #11233
A few questions:

1. The copy above has placeholders... what is the platform name and what the URL will be?
2. Do you have analytics on the site and if so, are there any related parameters you want included in the link to count incoming traffic?
3. Do you have any suggestions on the design? It'll be a simple banner, so maybe just a background color?

[2022-02-24 19:09] pmac opened #11252 "Add ADR for the move to pip-compile-multi"
We should get back into the habit of writing [ADRs](https://bedrock.readthedocs.io/en/latest/architectural-decisions.html) for major decisions in bedrock. It would be nice to go back and document our reasoning for moving to pip-compile-multi in this way.

@stevejalim would you mind writing one of these? The tool we've used in the past to start these is documented in the [first ADR for the site](ht

[2022-02-24 19:22] stevejalim commented on #11252
@pmac v happy to, yeah

[2022-02-24 20:33] pmac commented on #11215
The Greenhouse Sandbox account setting for local dev should be `GREENHOUSE_BOARD=mozillasandbox`

[2022-02-25 00:07] dveditz commented on #9659
As of sometime last year all the clients come from common source, so it's fine to treat them the same. We can annotate individual advisories if they only affect one platform or another. [I'm here to file this bug because a bit over a year later we've had our second advisory... not high paced for sure!]

While we're updating this page, could we also move "Firefox OS" and "SeaMonkey" into the "Older

[2022-02-25 00:08] dveditz commented on #9659
Also not sure how much it matters, but the mozilla-vpn page isn't in the sitemap.

[2022-02-25 01:21] pmac commented on #9659
Thanks for the bump. I'll get this on our board. The site-map issue is a good catch as well.

[2022-02-25 15:10] couci commented on #11233
1. New platform's name is Mozilla Connect. URL is not yet public since they are launching on the 28th.
2. I will ask for analytics on the site, thanks for bringing this up.
3. Nothing fancy for the design really, I would go with light blue as the background colour or light green.

[2022-02-25 16:21] alexgibson commented on #10746
Working metrics doc: https://github.com/mozilla/bedrock/blob/gleanjs/glean/docs/metrics.md

[2022-02-25 18:48] #11195 closed

[2022-02-28 08:43] alexgibson commented on #11212
Reference docs:

- Microservice API endpoint: https://github.com/mozilla-services/cjms/tree/v0.2#aic---affiliate-identifier-cookie
- Architecture flow diagram: https://www.figma.com/file/6jnLCLzclBN0uyS4nJp57d/Affiliate-Marketing-(CJ)-Architecture-%2F-Flow?node-id=0%3A1

Dev server for the microservice should be available by the end of Monday 28 Feb.

[2022-02-28 08:46] alexgibson commented on #11212
@slightlyoffbeat I added some techincal tasks to the list here, thanks.

As soon as we have a dev server to post data to, I should be able to start workjing on the flow for this (even if we don't yet have the banner figured out).

[2022-02-28 10:03] #11252 closed

[2022-02-28 10:29] #11211 closed

[2022-02-28 15:18] stevejalim opened #11256 "Broken link on H2 2021 Transparency Report"
## Description

On https://www.mozilla.org/en-US/about/policy/transparency/jul-dec-2021/ the hyperlink in the phrase

is 404ing. Maybe it's expired/been archived now the event has passed.

We may need to either remove it, or link to different page.

Source: https://github.com/mozilla/bedrock/blob/master/bedrock/mozorg/templates/mozorg/about/policy/transparency/jul-dec-2021.html#L243

[2022-02-28 17:29] pmac commented on #9659
To fix the sitemap we should just need to add a line to [this variable](https://github.com/mozilla/bedrock/blob/master/bedrock/sitemaps/utils.py#L24).

[2022-02-28 17:36] stevejalim opened #11257 "Support our own stale-dependency checks"
## Description

Because we're using `pip-compile-multi` we – like others within the org and beyond – are finding that repos using multiple dependency files aren't being processed as we'd expect by Dependabot. eg https://github.com/dependabot/dependabot-core/issues/536

To mitigate this, we can at least run our own workflow as a Github Action that runs `pip list -o` to at least warn us of stale dep

[2022-02-28 17:36] stevejalim commented on #11257
@robhudson  @pmac Thoughts welcome on the above - feel free to edit as you see fit!

[2022-02-28 19:46] danielnazer commented on #11256
Fine to just remove the link, thanks

[2022-02-28 19:58] robhudson commented on #10613
Closed via https://github.com/mozilla/bedrock/pull/11228

[2022-02-28 19:58] #10613 closed

[2022-02-28 20:07] stevejalim commented on #11052
Wrong repo - replicated in Basket https://github.com/mozmeao/basket/issues/788

[2022-02-28 20:10] stevejalim commented on #11053
Closed and moved to relevant repo - https://github.com/mozilla/nucleus/issues/622

[2022-02-28 20:10] #11053 closed

[2022-02-28 20:12] #11052 closed

[2022-02-28 20:47] stevejalim commented on #11256
@danielnazer A colleague found this video - https://www.youtube.com/watch?v=GH2sjPmlxnM via an Afrilabs tweet - we could link to that recording instead, if you prefer

[2022-02-28 20:50] danielnazer commented on #11256
Even better! Thanks

[2022-02-28 21:33] #11256 closed

[2022-02-28 23:39] birdsarah commented on #11212
Small update:
- I don't anticipate the dev server will be up until mid-end day Tuesday US time, so you're probably stuck till Wed @alexgibson.
- I'll update this issue with a more canonical version of the docs, once we get the PR merged. The latest version is here: https://github.com/mozilla-services/cjms/tree/affiliate_identifier_cookie_endpoint#aic---affiliate-identifier-cookie with some notes a

[2022-03-01 00:02] robhudson commented on #10820
This is now fixed

[2022-03-01 00:02] #10820 closed

[2022-03-01 05:55] slightlyoffbeat commented on #11212
Thanks @alexgibson. An update from our weekly affiliate meeting:

We decided to move ahead with the option to have a banner that allows users to opt out. A user is opted in unless they click a button on the banner to opt out.

This approach is approved by legal and all stakeholders.

I created a brief to get design & copy from the studio. My expectation is that it will be a very simple banner at t

[2022-03-01 06:40] slightlyoffbeat commented on #11211
@alexgibson Thanks for flagging. We generally need attribution data so I'd like to keep the adjust links. Ublock users are used to this behavior and can make a decision when they see this screen.

My guidance is to keep for QR code no matter what. With that said:
- I will likely not be looking at this data since this is for the EU team. If they do not need this data and would prefer to just use re

[2022-03-01 10:00] #9659 closed

[2022-03-01 12:14] alexgibson commented on #11211
I’ll open a follow up PR to remove the adjust links for the badges, seeing as they serve little purpose for desktop visitors. Thanks!

[2022-03-01 13:19] alexgibson opened #11262 "Active locales are not enabled for VPN NWP 98"
Based on the [active locale list here](https://github.com/mozmeao/www-l10n/blob/master/metadata/firefox/whatsnew/whatsnew-98-vpn-eu.json), the following URL should be displaying the VPN template for 98 and not the default template:

https://www.allizom.org/sv-SE/firefox/98.0/whatsnew/?geo=se

[2022-03-01 13:52] #11262 closed

[2022-03-01 15:52] SoftVision-CosminMuntean opened #11264 "The "Donate" link from the footer of the page redirect to a "403 ERROR" while using a VPN connection"
[Affected Versions]:
- Nightly 99.0a1;
- Chrome 98.0.4758.102

[Affected Platforms]:
- Windows 10 x64
- Linux Mint 20 x64
- macOS 10.15.7

[Prerequisites]:
- Be connected to "US" country using a VPN connection, eg: MozillaVPN.

[Steps to reproduce]:
1. Navigate to https://www.mozilla.org/.
2. Scroll down the page until the footer is displayed.
3. Click the "Donate" button link.
4. Observe the beha

[2022-03-01 15:56] alexgibson commented on #11264
@SoftVision-CosminMuntean please file bugs for donate.mozilla.org [here](https://github.com/mozilla/donate-wagtail), thanks!

[2022-03-01 16:01] SoftVision-CosminMuntean commented on #11264
Oh sorry, @alexgibson. I have moved this issue to "donate-wagtail" repo:[ #1645](https://github.com/mozilla/donate-wagtail/issues/1645). Considering this I will close this one.

[2022-03-01 16:01] #11264 closed

[2022-03-01 16:02] alexgibson commented on #11264
@SoftVision-CosminMuntean no problem, thanks for filing!

[2022-03-01 18:09] maureenlholland commented on #11149
Follow up to https://github.com/mozilla/bedrock/pull/11234#pullrequestreview-896323896

Front-end note: might need to hide or provide better error feedback for users trying to submit forms without JS

[2022-03-01 19:22] birdsarah commented on #11212
You should be unblocked: https://dev.cjms.nonprod.cloudops.mozgcp.net/aic

[2022-03-01 19:28] birdsarah commented on #11212
To make the "opt-out" work, you will need to trigger a new call to the fxa metrics API to get a new flow_id. By doing that and NOT sending it to the cjms endpoint then cjms will have no knowledge of the new flow_id and so will be out of the cjms flow.

You could clean out the cookie or whatever you want to do on your end. But from a preventing join perspective the only necessary step is to get a n

[2022-03-02 10:35] stevejalim opened #11266 "Un-jam Dependabot support"
## Description

Our (my!) choice to to use pip-compile-multi has left us unable to get Dependabot to generate updates for Bedrock. We should remedy this.

Two routes to explore:

1) interestingly, it looks like Basket _does_ get Dependabot updates, despite using pip-compile-multi too, so we might be able to unjam things if we make things easier for dependabot to discover, by moving the `docs`-rela

[2022-03-02 10:44] alexgibson commented on #11212
@birdsarah I'm hitting a CORS error when trying to POST to the CJMS endpoint locally. Can you please see if we can add the following allowed origins to both the dev and prod server? Thanks:

Dev:

- http://localhost:8000/
- https://www-dev.allizom.org/
- https://www-demo1.allizom.org/
- https://www-demo2allizom.org/
- https://www-demo3.allizom.org/
- https://www-demo4.allizom.org/
- https://www-de

[2022-03-02 13:54] couci commented on #11233
Platform just launched: https://connect.mozilla.org/

Waiting for an answer on the analytics

[2022-03-02 14:16] stevejalim commented on #11257
We may not need this at all if #11266 sorts it out

[2022-03-02 15:25] maureenlholland opened #11270 "More graceful degradation for multi-newsletter form"
We have JS-powered submission working with multi-newsletter forms but we want to manage the non-JS experience better:

1. Allow newsletter submission to work with checkboxes setting the newsletters value
2. If above gets too complicated, hide form or display error message for no-js users

Related: https://github.com/mozilla/bedrock/pull/11234#pullrequestreview-896323896

[2022-03-02 15:59] #11206 closed

[2022-03-02 16:42] #11120 closed

[2022-03-03 04:12] birdsarah commented on #11212
I have pushed a fix and been able to verify it locally against https://dev.cjms.nonprod.cloudops.mozgcp.net/aic.

In case you need a reference, the specifics are [here](https://github.com/mozilla-services/cjms/pull/25/files#diff-6563b1dfe926fb2b1f81bebadb71e69b481323f62b3badd5c87a3e30cd278f79R48-R78).

[2022-03-03 17:56] #11208 closed

[2022-03-03 17:56] #11209 closed

[2022-03-04 03:49] hafta opened #11276 "Add Our Third Party Software Injection Policy to mozilla.org"
## Description

Add our new third party software injection policy to our policy documents on mozilla.org.

The document has been reviewed but may need some changes to fit the mozilla.org style. Here's the latest version of the policy.

https://docs.google.com/document/d/1jx2AE165zEttyXJEaQQOfewWUqsKO0yKWD6ScqtyNac/edit?usp=sharing

Once the policy is available online, we'll announce it via blog po

[2022-03-04 12:10] maureenlholland commented on #11233
Thanks @couci !

You can see a demo of the banner here: https://www-demo5.allizom.org/en-US/contribute/
This is using our default banner styles + accent background color picked from the page. We have an option available to place the banner above or below the navigation bar. It is above the nav for now, but easily changed. Let me know if you have any design requests.

I also have a question regardi

[2022-03-04 14:25] couci commented on #11233
This looks pretty cool, thanks for that! Could you send also an example of how it would look under the navigation bar?
It's ok if it's not translated, the platform isn't translated anyways so that's alright

[2022-03-04 14:27] alexgibson opened #11278 "Migrate to SaSS Sentry instance [May 31]"
Objective: migrate our applications to use the new SaaS Sentry from our hosted Sentry.

(See Context below for original notification email)

----

### Success criteria

 - [x] Team set up in SaaS Sentry
    - [x] Same-as-current/All team members members of it
 - [x] All existing MEAO projects set up in SaaS Sentry with same config as hosted Sentry + new DSN (OR skipped if Sentry project is definit

[2022-03-04 14:28] alexgibson commented on #11278
Filed this after receiving via email ^

cc @pmac @stevejalim @robhudson

[2022-03-04 14:35] maureenlholland commented on #11233
<img width="1421" alt="Screen Shot 2022-03-04 at 2 34 04 PM" src="https://user-images.githubusercontent.com/19650432/156782338-aed9df5d-280d-4688-8829-fca45aa1a69a.png">

[2022-03-04 14:45] alexgibson commented on #11212
@birdsarah here's my WIP branch up on demo. This is still in a state of flux, but I have the main API flow working for both `POST` and `PUT` and setting the affiliate marketing cookie.

https://www-demo1.allizom.org/en-US/products/vpn/?cjevent=09d8676b716a11ec831e01500a18050e

Note: I haven't started on the cookie banner or opt-out mechanism yet, this is next on my list.

[2022-03-04 14:54] couci commented on #11233
I think this looks better :) We are still missing the trackable link to give to you. Let's also change the date for putting this up on March 14th.
I will be off next week but my colleague @Francescaminelli will be covering for me in case there are questions

[2022-03-04 14:56] maureenlholland commented on #11233
Sounds good! Will update the position and standby for the trackable link.

[2022-03-05 13:30] crpz1 opened #11281 "Styling and link issues on Firefox Developer firstrun"
## Description

The link to learn more about the CSS engine sends you to information about the browser's developer features which is misaligned.

### Steps to reproduce

Visit [https://www.mozilla.org/en-US/firefox/98.0a2/firstrun/](https://www.mozilla.org/en-US/firefox/98.0a2/firstrun/)

### Expected result

The link to learn more about the CSS engine sends you to information about the engine.

#

[2022-03-06 08:00] Ayushsunny commented on #11281
Hey @alexgibson, Can I make a PR for this issue?

[2022-03-07 00:05] craigcook commented on #11281
The same issue appears on the Dev Edition whatsnew page at https://www.mozilla.org/firefox/98.0a2/whatsnew/

Both pages are missing the `protocol-split` bundle in the `page_css` block. See https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/templates/firefox/developer/index.html#L19

Feel free to submit a PR, it should be a quick fix.

[2022-03-08 12:42] stevejalim commented on #11278
Looks like we'll first need a Team set up for us in the new Sentry. I lack sufficient permissions, but maybe you have them already @pmac?

[2022-03-08 12:52] stevejalim commented on #11278
I've updated the description with some checklists, but I think / hope there are some redundant projects in the current Sentry setup that we won't need to migrate. @pmac and/or @alan would you mind confirming if all of the projects listed above are still needed - eg the ones that are region specific

[2022-03-08 12:54] stevejalim commented on #11278
@robhudson Fancy splitting this with me?

[2022-03-08 13:52] maureenlholland commented on #10830
@craigcook do you recall why there are differences between these footers and Protocol footer?

I'd like to make it match up with Protocol footer by default and add a light theme option for bedrock use

[2022-03-08 15:58] pmac commented on #11278
A lot of those apps listed in the issue are no longer needed. All of the ones with cluster names are the main ones we don't need to migrate. I'll clean up the lists.

[2022-03-08 16:52] pmac commented on #11278
done

[2022-03-08 18:36] pmac commented on #11215
From the people team:

@robhudson hopefully this is enough to get us going. Let me know if we need more.

[2022-03-08 21:39] craigcook commented on #10830
There's no specific reasoning for the differences I'm aware of, apart from the background colors. It would have just been oversight during development. 100% in favor of bringing them in line.

[2022-03-09 11:03] stevejalim commented on #11278
Note that for now we've internally agreed to use SaaS Sentry's PII-scrubbing behaviour (as we do with self-hosted Sentry currently), but we do want to move away from that. The relevant work is explored in https://github.com/mozmeao/infra/issues/1373

[2022-03-09 11:58] maureenlholland commented on #11233
Hi @Francescaminelli, I'm following up on the trackable link params. Any news?

If it helps, bedrock UTM params on the contribute page are usually: `?utm_source=mozilla.org-contribute&utm_medium=referral&utm_campaign=contribute-page`

In this case, I would update to `utm-campaign=mozilla-connect-banner` and add any other params you need.

[2022-03-09 13:12] Francescaminelli commented on #11233
Hi, thank you for that.  I am following this up. If I do not have a link by tomorrow, I'll produce one. Would that work?

[2022-03-09 13:34] alexgibson commented on #11212
Some open questions I'm not sure on the answer to:

- Do we need to handle this flow for multiple VPN pages, or only the main VPN landing page? (all pages is possible, but gets more complex since only the main page contains actual subscrition buttons with flow params).
- If we store a marketing cookie value for a visitor but they don't subscribe, and instead return later on directly (not via a CJ

[2022-03-09 13:47] maureenlholland commented on #11233
Sounds great, thanks!

[2022-03-09 21:42] slightlyoffbeat commented on #11212
Checked with legal: no privacy policy changes needed. We already have a section that covers this.

[2022-03-09 21:45] slightlyoffbeat commented on #11212
Unless we receive additional guidance, i'd say we set the cookie for 4 weeks.

[2022-03-09 23:05] slightlyoffbeat commented on #11212
Homepage only (english, french & german)

[2022-03-10 05:18] slightlyoffbeat commented on #11212
@alexgibson I like the idea of using an existing component and not inventing or reinventing anything. Normally this would be a quick question to UX but we don't have a UX resource currently. I put this option in front of the studio team and will have an answer by end of week.

[2022-03-10 10:26] alexgibson commented on #11212
Thanks, I'll limit the flow to `en`, `de`, `fr`.

[2022-03-10 10:44] alexgibson commented on #11212
@birdsarah @slightlyoffbeat another open question:

If someone revisits the page later (without a CJ event param in the URL), but already has a marketing cookie set because they didn't opt-out originally, then do we want to show the banner to them again on their repeat visit?

[2022-03-10 12:48] #11266 closed

[2022-03-10 14:50] reemhamz commented on #10709
@slightlyoffbeat any updates on this?

[2022-03-10 22:22] slightlyoffbeat commented on #11212
I'll be interested in what @birdsarah says, but I'd say we show the banner.

@alexgibson also, we have a thumbs up to just use the notification component. Copy will come next week.

[2022-03-10 22:37] birdsarah commented on #11212
Good question. I don't know. Lets discuss at next affiliate meeting.

[2022-03-11 13:11] alexgibson commented on #10746
https://github.com/mozilla/glean.js/issues/1219 is now resolved and we've worked out the python dependency kinks (thanks @stevejalim! 💯)

[2022-03-11 14:16] maureenlholland commented on #11233
Hi @Francescaminelli, do you have a trackable link for the banner? If we still want to release Monday (March 14), I'll need to put the PR into review today. We could also do a fast follow to update the link later.

[2022-03-11 14:22] Francescaminelli commented on #11233
Hi Apologies for this. I generated this link (I hope it works). We are pushing the campaign to Tuesday (15), would that work? https://connect.mozilla.org?utm_source=contribute+website&utm_medium=banner&utm_campaign=Connect+Campaign&utm_content=15032022

[2022-03-11 16:34] maureenlholland commented on #11233
Thanks @Francescaminelli ! I made some minor adjustments to keep everything lowercase and separated with hyphens instead of plus signs because those are fairly well established conventions within Mozilla from what I've seen.

This makes the url: https://connect.mozilla.org?utm_source=contribute-website&utm_medium=banner&utm_campaign=connect-campaign&utm_content=15032022

The PR is now in review.

[2022-03-11 16:41] Francescaminelli commented on #11233
Thank you very much!

[2022-03-14 12:17] maureenlholland commented on #11281
closed with https://github.com/mozilla/bedrock/pull/11298  and https://github.com/mozilla/bedrock/pull/11282

[2022-03-14 12:17] #11281 closed

[2022-03-15 10:02] couci commented on #11233
@maureenlholland @craigcook we need to delay the banner for a week. So new date should be March 22nd.

[2022-03-15 10:17] maureenlholland commented on #11233
@couci no problem, thanks for letting us know!

[2022-03-16 10:33] maureenlholland commented on #11233
@couci sorry for the extra ping but translation review brought up the question of whether we should translate the banner content at all since there's not much content to translate and the site itself is not localized.

Would you like to go ahead with translations on the banner content or stick with English content only for now?

[2022-03-16 21:53] nathan-barrett opened #11321 "Explore testing options for google analytics"
## Description
Currently, we aren't doing any testing on any of the data that we send to google analytics. Would be nice to have a testing plan to make sure that when we send something to GA, the correct information is being sent and that attribution is consistent throughout bedrock.

I've talked with @stevejalim about how to best leverage this, whether its through unit tests in bedrock, or using

[2022-03-17 10:18] alexgibson commented on #11182
Closing as this is not a website issue.

[2022-03-17 10:18] #11182 closed

[2022-03-17 10:36] #10702 closed

[2022-03-17 10:41] alexgibson commented on #6384
Closing, as I don't think activity stream is marketed as a named product feature today.

[2022-03-17 10:41] #6384 closed

[2022-03-17 10:50] alexgibson commented on #8683
Based on the last comment above it sounds like this experiment was considered done.

[2022-03-17 10:50] #8683 closed

[2022-03-17 10:54] alexgibson commented on #9386
Outdated issue

[2022-03-17 10:54] #9386 closed

[2022-03-17 11:52] #11184 closed

[2022-03-17 16:37] #11241 closed

[2022-03-18 09:42] eemeli opened #11326 "Styles should not use the non-standard `zoom` property"
## Description

When a page from mozilla.org is rendered in Firefox, the following warning is printed in the console:

This is a blocker for [bug 1501881](https://bugzilla.mozilla.org/show_bug.cgi?id=1501881), as a page from mozilla.org is rendered during first startup and the warning string source is currently in a .properties file.

### Steps to reproduce

1. Open https://www.mozilla.org/ in Fir

[2022-03-18 09:47] eemeli commented on #11058
This is a blocker for [bug 1501881](https://bugzilla.mozilla.org/show_bug.cgi?id=1501881), as a page from mozilla.org is rendered during first startup and the warning string source is currently in a .properties file.

[2022-03-18 11:06] maureenlholland commented on #11326
Fix will have to override Protocol or come through an update to Protocol as it appears our only use of zoom is in the `clearfix` mixin cc: @craigcook
https://github.com/mozilla/protocol/blob/557f04e6252ee327760b2111d03d88a8a53d6f30/src/assets/sass/protocol/includes/_mixins.scss#L19

components and templates using clearfix: https://github.com/mozilla/protocol/search?q=clearfix

[2022-03-18 14:49] eemeli commented on #11326
From what I can tell, the only role of a `zoom: 1` in a clearfix i to trigger hasLayout in IE < 8. As that's not supported by Protocol's browserslist, it should be fine to just drop it?

[2022-03-18 15:05] craigcook commented on #11326
Yeah, `zoom` is strictly used for hasLayout in old IE. We can remove it and put it in the stylesheet that is served only to IE in conditional comments.

[2022-03-18 15:36] maureenlholland commented on #10566
Slowly but surely moving forward on this. We have decided to run initial comparison between Lit and Svelte, dropping Preact for the following reasons:

1. **lagging feature compatibility**: React changes in v16 (released Sept. 2017) and v16.8 (released Feb. 2019) took a long time for Preact to adopt (v10 included fragments and a hooks add-on, released Oct. 2019).
2. **maintenance**: Preact doesn’t

[2022-03-21 09:19] alexgibson commented on #11058
@eemeli can you help us understand how this issue (as well as https://github.com/mozilla/bedrock/issues/11326) is blocking progress of [bug 1501881](https://bugzilla.mozilla.org/show_bug.cgi?id=1501881)? From a website perspective, both of these issues are pretty harmless and are currently low priority. We can change that, if it's helpful in some way. Or are inclusion of these issues in bug 150188

[2022-03-21 13:09] alexgibson commented on #11276
@hafta would the URL https://www.mozilla.org/en-US/about/governance/policies/third-party-software-injection/ be a suitable location for this document?

[2022-03-21 13:15] alexgibson opened #11336 "Update to ESLint 8"
## Description

https://eslint.org/docs/8.0.0/user-guide/migrating-to-8.0.0

[2022-03-21 13:19] alexgibson opened #11337 "Update Webpack / Babel dependencies"
## Description

Front-end dependencies for building / compiling CSS/ JS are up to date.

[2022-03-21 13:43] alexgibson opened #11338 "Add JS unit tests for Mozilla.Cookies library"
## Description

Bedrock's [mozilla-cookie-helper.js](https://github.com/mozilla/bedrock/blob/master/media/js/base/mozilla-cookie-helper.js) library started off as a code example on MDN. That original example no longer exists on MDN today, however our library has continued to evolve as cookie specs change over time. I noticed today we don't have any real unit tests for the helper functions themselv

[2022-03-21 13:58] alexgibson opened #11340 "Update Stylelint dependencies"
## Description

https://www.npmjs.com/package/stylelint