[2020-11-30 22:46] amychurchwell commented on #9666
Blocked until limited locale config issue is resolved in Pontoon. Peiying is working with Matjaz.
Apparently a fix was put out, but still investigating.  https://bugzilla.mozilla.org/show_bug.cgi?id=1602896

[2020-11-30 23:03] amychurchwell commented on #9579
@Francescaminelli thank you for your help! Unfortunately, we are also blocked on a technical issue in Pontoon. We are working with Peiying and Matjaz from l10n to resolve, thank you for your patience. Due to time zone differences, we expect an update tomorrow. Once it is resolved we will be able to move forward quickly and get the updates out.

[2020-11-30 23:20] #9684 closed

[2020-11-30 23:56] slightlyoffbeat opened #9731 "Epic: Workflow for editing, saving drafts, reviewing, approving,and publishing."
## Description

We have access to contentful enterprise for a few weeks, which means we have a limited window to test their user roles and permissions that are limited to enterprise users. Lets make sure that the capabilities offered will meet our needs.

---

### Success

- [ ] A role that allows user to create, edit and author content, but not publish
- [ ] A role that allows a user to review an

[2020-12-01 00:02] slightlyoffbeat opened #9732 "Epic: Validate that a we can use conditional logic and validation with contentful"
## Description

This epic will allow us to validate if conditional logic and validation is possible, while also kicking the tires on the custom UI and custom app feature of Contentful

---

### Success

- [ ] Created and hosted a custom app
- [ ] Fields are shown based on what is chosen in a previous field
- [ ] Validation is available for shown fields
- [ ] Ability to localize content when using

[2020-12-01 09:56] alexgibson commented on #9724
Jira ticket: https://jira.mozilla.com/browse/DS-1335

[2020-12-01 13:40] #9677 closed

[2020-12-01 16:29] amychurchwell commented on #9434
@slightlyoffbeat @alexgibson considering I am blocked on the CPG migrations, should I pick up porting this experiment over to traffic cop? is requiring data science's support to analyze the results a blocker?

[2020-12-01 17:56] slightlyoffbeat commented on #9434
I don't think its a blocker. I can check in with data science. Is everything just tracked with events in GA? If so, I think we'll be fine. I'm good to move forward with traffic cop if everyone else is.

[2020-12-01 21:03] slightlyoffbeat opened #9736 "Epic: Test l10n capabilities"
## Description

In our previous test project, we tested having two separate homepages with two separate sets of content. We should fully test the l10n capabilities to make sure that contentful will fit our workflow for pages that have localized content, unique content by locale, and a mixture of localized and unique content.

---

### Success

- [ ] display localized content on a page for FR, DE,

[2020-12-01 21:07] slightlyoffbeat opened #9737 "Epic: Validate image capabilities and workflow."
## Description

During our first research and demo sprint, images came up several times as one of the trickiest parts to get right. Lets make sure that we are confident that the image capabilities provided by Contentful will be sufficient.

---

### Success

- [x] Images can be easily uploaded
- [x] Images can be made available in 1:1, 3:2, and 16:9 (either through GUI or separate process)
- [x] I

[2020-12-01 21:37] peiying2 opened #9738 "primary password vs master password"
## Description

The expression has changed from **master** password to **primary** password since Fx79. There are a few pages containing the outdated expression.

## Describe the issue that you're seeing.

They exist in these files:
- en/firefox/browsers/compare/shared.ftl/
- en/firefox/features/password-manager.ftl
- en/firefox/privacy/book.ftl

## Expected result

Change from **master** password

[2020-12-01 21:59] slightlyoffbeat commented on #9732
@pmac @hoosteeno  We need a solid test project for this. I'll get it rolling with ideas, but please feel free to add. I can update tasks and success criteria when we agree on a test project:

- a custom entry field that is specific to images. We could use conditional fields to solve for some of the complexities we've hit in the past. For example, we could have a user select where the image will be

[2020-12-01 22:13] slightlyoffbeat commented on #9736
@hoosteeno @pmac I'm proposing that we continue with the homepage as a project for this Epic. it would allow us to test mixed content (unique and localized). There could be a case for doing a completely different page since there isn't a lot of content on the homepage outside of cards. Let me know if you see any issues or would like to propose a different page to test on.

[2020-12-01 22:30] slightlyoffbeat commented on #9731
I think I can run with most or all of this epic.

@pmac this epic touches on backups and environments, but it may be a separate epic with its own set of tasks/success criteria. Thoughts?

[2020-12-01 22:32] slightlyoffbeat commented on #9731
Never mind, we already have a card around deploying content model changes and that should be completely separate from this Epic. I'll update to reflect.

[2020-12-01 22:36] slightlyoffbeat opened #9739 "Establish Schema"

[2020-12-01 22:36] slightlyoffbeat opened #9740 "Establish content & content model naming convention"

[2020-12-01 22:43] slightlyoffbeat opened #9741 "Epic: Versioning & content model changes"

[2020-12-01 22:48] slightlyoffbeat commented on #9741
## Description

Lets make sure that the versioning, backup, restore etc capabilities of Contentful will meet our needs

---

### Success

- [ ] Create backup points for everything
- [ ] Restore from backup point
- [ ] Deploy content model changes in a way that doesn't disrupt editors/authors
- [ ] Ensure that a process exists that allows for content model changes without breaking everything
- [ ]

[2020-12-01 22:51] slightlyoffbeat commented on #9741
@pmac Setting tasks and success criteria are a bit outside of my wheelhouse. Would you mind taking a look and adding/removing/editing whatever you think is needed?

[2020-12-02 14:36] #9603 closed

[2020-12-02 15:44] pmac commented on #9736
by "localized content" do you mean cards that are direct translations of English cards, or content outside of Contentful's control? If it's the latter I think we already have that, or at least the plan and the way of getting that content localized is with the existing l10n system.

[2020-12-02 15:45] pmac commented on #9736
Either way I'm +1 on using the Home page. I think it's a good mix of things and a good place to start.

[2020-12-02 15:48] pmac commented on #9741
I think this looks pretty good actually. Does Contentful have some backup/restore system or are you suggesting we'll need to build something using their API to do that?

[2020-12-02 15:50] pmac commented on #9741
Something like https://www.contentful.com/blog/2019/05/15/configuring-automatic-backups-for-contentful/ ?

[2020-12-02 16:46] #9666 closed

[2020-12-02 17:25] #9523 closed

[2020-12-02 17:36] #9520 closed

[2020-12-02 17:37] #9724 closed

[2020-12-02 17:48] slightlyoffbeat commented on #9736
Yes. To clarify:

localized content = content that is a direct translation of English
unique content = content that is unique to a locale (such as the cards we created in the last test)

[2020-12-02 17:51] slightlyoffbeat commented on #9741
I'm not certain. There seems to be importing/exporting, backups, and environments for content model updates. Perhaps that may be 3 separate things? I'm just looking to capture everything we'd like to test and accomplish.

@pmac I know we talked about import/export/backups a while back. Is there anything we should kick the tires on now that we have some more time and resources?

[2020-12-02 18:02] pmac commented on #9736
My question then is, will there be localized content in Contenftul? I'm guessing there will eventually be, so do we need to test that before finalizing our decision? This content will be translated outside of our current process, so we'll have to figure that out (i.e. is it going to be manual and editors will enter translations or will we have this automated with a vendor?).

[2020-12-02 18:04] pmac commented on #9741
Yeah, probably so. I can see what I can do with the export commands in the CLI. If that works well then we should easily (for some definition of easy) be able to automate it.

[2020-12-02 19:15] slightlyoffbeat commented on #9434
@amychurchwell do you still have any bandwidth this week for this? Also tagging @hoosteeno for visibility and his thoughts on resourcing.

[2020-12-02 20:20] amychurchwell commented on #9434
@slightlyoffbeat yes, I can pick this up.

[2020-12-02 21:38] slightlyoffbeat commented on #9741
Notes from the meeting pmac and I had today:

@pmac is going to take the lead on this one, and will be focusing on seeing if he can find a method for backing up content models to a place outside of contentful and restoring from that backup as well.

[2020-12-02 21:40] slightlyoffbeat commented on #9737
Notes from my meeting with pmac:

Right now, we feel comfortable with the image capabilities. We will likely hold on tests with Cloudinary for now (it can be something we experiment with in the future if we choose to move forward with contentful).

Most of our discussions around images were really rooted in validation and content modeling, and not the image capabilities themselves. For now, we won

[2020-12-02 21:44] slightlyoffbeat commented on #9736
Notes from my conversation with pmac:

- Our system with smartling isn't fully figured out yet, so it wouldn't be very productive to test contentful integration right now.

- we agreed that it would be good to do a simple localization test and make sure there are no red flags. We landed on doing /firefox (targeting the various h1 & h2 elements, not everything). I'm going to set up the content mode

[2020-12-02 21:47] slightlyoffbeat commented on #9732
notes from my conversation with pmac:

We are going to create a card for card layouts that will present options depending on what is chosen (6 card, 5 card, 3 card, etc).

The first step/deliverable will be from me. I need to define the MVP of what this card will be. It's a blocker until I deliver that, so I'll get on it ASAP.

[2020-12-02 22:55] pmac commented on #9741
I have successfully tested the `contentful space export` and `import` functions using a new environment I made in our space. I manually deleted all of the content, assets, and some content models from the environment. Then restored using the CLI tool and it all came back 👍

[2020-12-03 14:47] alexgibson opened #9747 "en-US /firefox/unfck/ updates"
## Description

https://www.figma.com/file/9I240T8gMmNRITIrj96F7b/UNFCK-LP-REFRESH?node-id=0%3A1

[2020-12-03 15:28] craigcook commented on #9721
Merged in https://github.com/mozilla/bedrock/commit/c3540ca21fd719b99b69e68a05dbca0271c02afe

[2020-12-03 15:28] #9721 closed

[2020-12-03 15:29] craigcook commented on #9728
Merged in https://github.com/mozilla/bedrock/commit/c3540ca21fd719b99b69e68a05dbca0271c02afe

[2020-12-03 15:29] #9728 closed

[2020-12-03 17:03] peiying2 opened #9748 "Brand name mixup: Windows Hello, not Edge Hello"
This was originally reported here: https://bugzilla.mozilla.org/show_bug.cgi?id=1680487

**Steps to reproduce:**

I went to this is website: https://www.mozilla.org/en-US/firefox/browsers/compare/edge/

**Actual results:**

The third paragraph contains "Edge Hello" instead of "Windows Hello".

**Expected results:**

It should read "Windows Hello". The erroneous string is with this context: compare

[2020-12-03 17:11] hoosteeno opened #9750 "Update comparison pages (late 2020/early 2021)"
## Description

In late December, we'll meet to talk about ongoing maintenance of comparison pages. That work will certainly produce some change requests, which we can add to this issue.

Meanwhile there's a bug on the Edge page, which we can batch up with this work.

Here's a list of changes (to grow before this bug is ready to work on)

- [x]  https://bugzilla.mozilla.org/show_bug.cgi?id=1680487

[2020-12-03 19:22] peiying2 opened #9752 "Edge Browser page: book icon description not clear"
## Description
The sentence of`In Edge you just tap on the small book icon and browser to get a clean easy-to-read UI.` can be found [here](https://pontoon.mozilla.org/he/mozillaorg/en/firefox/browsers/compare/edge.ftl/?string=212885) in Pontoon or on [this page](https://www-dev.allizom.org/en-US/firefox/browsers/compare/edge/).

here is the whole paragraph: `Firefox and Edge both offer excellent

[2020-12-03 19:33] craigcook commented on #9752
This seems like another copyediting goof.

I suggest "In Edge you can click on the small book icon to get a clean, easy-to-read page."

[2020-12-03 20:03] peiying2 commented on #9752
Add a "comma" after `In Edge, ...`.

[2020-12-04 01:38] Ayushsunny commented on #9729
I would like to fix this issue.

[2020-12-04 09:10] alexgibson opened #9753 "Remove ARM processor UA detection for Windows"
## Description

I managed to get hold of an ARM64 Windows device for testing downloads and found the following:

- Our ARM64 UA detection on mozorg does not work, at least on my device. The user agent string does not provide any kind of hint to reveal that it has an ARM64 processor. As a result, the regular Windows stub installer is served when visitng /thanks, instead of the ARM64 build.
- The st

[2020-12-04 12:44] Ayushsunny commented on #9750
I wanna work on this issue

[2020-12-04 17:27] hoosteeno commented on #9220
This has been completed. Hooray!

[2020-12-04 17:27] #9220 closed

[2020-12-04 18:24] peiying2 opened #9755 "Sync page incorrect UI reference: "Sign in to Firefox", not "Sign in to Sync""
## Description

This [string](https://pontoon.mozilla.org/sl/mozillaorg/en/firefox/sync.ftl/?string=216016) states: `Open the menu in the top right of { -brand-name-firefox } and select <strong>“Sign in to { -brand-name-sync }”</strong>.` This is incorrect. It should be `Sign in to Firefox` according to the UI.

### Steps to reproduce

Make sure you log out of your account
- Go to https://www.mozi

[2020-12-04 23:38] #9727 closed

[2020-12-05 18:11] 123mansha commented on #9755
@peiying2 can i take this up??

[2020-12-07 09:11] alexgibson opened #9756 "Privacy FAQ page 500 error"
## Description

https://www.mozilla.org/zh-CN/privacy/faq/

[code]

https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/10197450/

Possible regression from https://github.com/mozilla/bedrock/commit/ad7df643109b5685bbfc7ba7e83f37dab0c9230e#diff-223c895366510be60634cb67e61fec846890acaa0743bb568a4858a6d0a16cb7

[2020-12-07 09:39] #9748 closed

[2020-12-07 09:39] #9752 closed

[2020-12-07 11:06] alexgibson opened #9757 "Add link to /firefox in site navigation"
## Description

There's no easy way to get to the /firefox home page in our site navigation. It still sees a lot of traffic and is an important page for both sessions/conversions and SEO. We should find a way to add a link to it that makes sense. Either in the main nav or the sub nav.

---

#### Success Criteria
- [ ] The /firefox page is no longer orphaned in our navigation.

[2020-12-07 11:06] alexgibson commented on #9757
/cc @rraue

[2020-12-07 13:43] rraue opened #9759 "Migrate translate blog post to www"
## Description

Migrate translate blog post https://blog.mozilla.org/firefox/translate-the-web/ to www with updated copy.

Design Template: same as https://www.mozilla.org/en-US/firefox/browsers/windows-64-bit/

Copy: https://docs.google.com/document/d/1IjNb9oGR4G4ljKUXppWc0N6GlJkHuBd3QqT9wleFB-c/edit

Url: /firefox/features/translate/

Subnav like all /features/ pages

---

#### Success Criteria

[2020-12-07 13:47] rraue opened #9760 "Migrate Password blogpost to www"
## Description

Migrate password blog post https://blog.mozilla.org/internetcitizen/2017/01/25/better-password-security/ to www with updated copy.

Design Template: same as https://www.mozilla.org/en-US/firefox/browsers/windows-64-bit/

Copy: https://docs.google.com/document/d/1cKki_xH0AeZEcBOD7sqw_O0XpKazYRkUA70i-L0v2C4/edit#

Url: /firefox/privacy/safe-passwords/

Subnav like all /firefox/privac

[2020-12-07 13:53] rraue opened #9761 "Migrate fingerprinting blog post to www"
## Description

Migrate password blog post https://blog.mozilla.org/firefox/how-to-block-fingerprinting-with-firefox/ to www with updated copy.

Design Template: same as https://www.mozilla.org/en-US/firefox/browsers/windows-64-bit/

Copy: https://docs.google.com/document/d/19pCoqieDwUeT2BQ7YLRnp2VweKPgr8jjy787F0Ygi58/edit

Url: /firefox/features/block-fingerprinting/

Subnav like all /features/ p

[2020-12-07 15:55] #9756 closed

[2020-12-07 16:25] maxxcrawford opened #9762 "Add Photo Credit to State of Mozilla Article"
## Description

Add the photo credit, `ATLANTIC MEDIA`, to the following article:

URL: https://www.mozilla.org/en-US/foundation/annualreport/2019/#dialogues-and-debates-go-virtual

Screenshot:
<img width="1310" alt="image" src="https://user-images.githubusercontent.com/2692333/101375431-fef89d80-3874-11eb-94e4-fe741fe3c593.png">

[2020-12-07 17:12] craigcook opened #9765 "Add EOY 2020 fundraising banner"
## Description

We should run the usual MoFo fundraising banner for the last week of the year, **from December 21 to January 4**.

We should be able to reuse the same banner from last year, though possibly with some copy tweaks. Last year's banner was translated in-house in French and German, if we revise the copy we may need to revise the translations as well, or let the old text remain for those

[2020-12-07 18:06] #9762 closed

[2020-12-07 19:45] WillatMozFdn opened #9766 "Edits to description of MoFo on mozilla.org homepage"
## Description

About 50% of the way down the Mozilla.org homepage, a banner-style graphic links over to the Mozilla Foundation under a headline of "Support a Healthy Internet."  The text under that headline reads ... "The not-for-profit Mozilla Foundation supports open-source apps, web literacy curriculum, gender equality in tech and more."

... and while MoFo does support those concepts in princ

[2020-12-07 21:50] slightlyoffbeat commented on #9732
@pmac

OK, Here is a draft for how to approach building this card. I think it covers enough cases to really kick the tires on this: https://docs.google.com/document/d/1WzSYFl0Uzyva0gvMz4FDdx3IHAwep3pOFZKYIP2lEpM/edit?usp=sharing

[2020-12-07 22:19] slightlyoffbeat commented on #9741
@pmac  awesome. It looks like that would cover a majority of the success criteria. Is there anything else to test here (keeping in mind that the success criteria are really up to you since you have the most knowledge on this).

Since you are working with spaces/importing/exporting do you think that this could be used to bring content model changes over from a different environment in order to avoi

[2020-12-07 23:28] stephaniehobson opened #9767 "Add sticky promo box for downloads"
From this [pitch](https://docs.google.com/presentation/d/1zvJ-02NoXdmqCgw77TnP8GVdONYyUWITmyWfAd-3UP8/edit#slide=id.ga2fdac9f2d_0_0) and tracked in this [Trello card](https://trello.com/c/N6FbWQln/168-add-floating-promo-box-for-downloads-to-20-pages) (both Mozilla only links, sorry.)

Add a sticky promo box which:
- displays only to desktop users
- display only to non-Firefox users
- promotes the

[2020-12-07 23:29] stephaniehobson commented on #9612
The pitch to add a simple promo to pages promoting Firefox Desktop has been approved and I created this card for it: https://github.com/mozilla/bedrock/issues/9767

[2020-12-08 09:54] alexgibson commented on #9747
Copy deck: https://docs.google.com/document/d/1tWsJ6RmnA3VXLXRAlsb7fLCIW954ggBltEnT9wz2MuI/edit?usp=sharing

[2020-12-08 09:55] alexgibson commented on #9747
Feedback doc: https://docs.google.com/document/d/11MHkW3iaIBRDOTr2ftpH2LcX6AV1W1Pb6l2Hgx4LS7Q/edit?usp=sharing

[2020-12-08 11:48] alexgibson commented on #9753
Looks like we still use ARM UA detection for Linux, so some of the logic will have to stay until we can unfurl that also. For now, we can remove the Windows detection.

[2020-12-08 16:13] hoosteeno opened #9769 "Enable evergreen WNPs even for for locales with no content"
## Description

As part of our WNP process refactor [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1680091), we're changing how the releng/relman teams configure WNP moments. We've asked them to open a WNP for every locale Firefox includes.

In a handful of locales, WNP is not activated. That means they get redirected to the en-US version ([bug](https://bugzilla.mozilla.org/show_bug.cgi?id=168

[2020-12-08 16:46] alexgibson commented on #9769
PR to set the activation threshold for these pages to 0: https://github.com/mozmeao/www-l10n/pull/9

[2020-12-08 17:05] pmac commented on #9769
VPN availability is only certain countries, so perhaps we detect and redirect users in those countries and locales to a VPN page, and everyone else gets an evergreen page?

[2020-12-08 17:11] alexgibson commented on #9769
If we're mostly wanting to solve this for the immediate use case (VPN), then it's certainly another option. It would likely require a different issue though (refactoring our /whatsnew geo-redirector to be opt-in for VPN, rather than opt-out, which is what we do for China)

[2020-12-08 17:30] hoosteeno opened #9770 "Epic: Stand up a holding page for input.mozilla.org"
## Description

input.mozilla.org currently redirects to a 3rd party-hosted site. We want to stand up a page that is on-brand and is hosted at ideas.mozilla.org. input.mozilla.org should redirect there.

We need...

* approved content for the page (approved by content owner, brand)
* a design for that page (approved by content owner, brand, dev)
* a hosting plan for the page (approved by dev, webs

[2020-12-08 17:31] pmac commented on #9769
Yeah. That is a bit more work. If it's only a handful of locales then I like your strategy in the above PR.

[2020-12-08 17:34] alexgibson commented on #9769
I'll defer to Justin here, but (iiuc) this request also encompasses some simplification for how we handle /whatsnew pages in general (i.e. relieving releng from needing to maintain a manual list of locales to open).

Thoughts here, @hoosteeno ?

[2020-12-08 17:37] hoosteeno commented on #9769
Unless doing so is problematic, let's pick the solution that's better at supporting the [WNP process refactor effort](https://bugzilla.mozilla.org/show_bug.cgi?id=1680091).

[2020-12-08 21:54] slightlyoffbeat commented on #9736
@pmac Content models are set up. It is a content type called "www page /firefox".

It is set up with several headlines that are localized to DE, FR, and ES.

DE and FR are set up to include validation across the entire space. This means that any time a field can be localized, the content cannot be published until FR and DE is also provided.

ES is has a setting that allows its fields to be blank a

[2020-12-09 00:16] stephaniehobson commented on #9759
Demo of the page: https://www-demo-pr-9771.herokuapp.com/en-US/firefox/features/translate/

Still to code: the language list at the bottom.

[2020-12-09 00:16] stephaniehobson commented on #9761
Demo of page: https://www-demo-pr-9771.herokuapp.com/en-US/firefox/features/fingerprinting/

[2020-12-09 09:37] #9747 closed

[2020-12-09 09:46] alexgibson opened #9774 "Standardize GA data-attributes for download buttons"
## Description

From some [discussion](https://github.com/mozilla/bedrock/pull/9754#discussion_r538671894) in previous PRs it seems like our app store download badges are missing some of the common GA data attributes that our regular download buttons contain.

Example:

Play Store badges have: `data-link-type="download" data-download-os="Android"`.
App Store badges have: `data-link-type="download"

[2020-12-09 09:46] alexgibson commented on #9774
/cc @hoosteeno @amychurchwell

[2020-12-09 10:57] alexgibson commented on #9769
https://github.com/mozmeao/www-l10n/pull/9 has merged, but I don't yet see the active locale list in an updated state. Is there anything additional we need to do?

[2020-12-09 13:33] maxxcrawford commented on #9767
@stephaniehobson Thanks for whipping this card into shape. I'll get started directly.

[2020-12-09 14:34] pmac commented on #9769
Oh! 🤦‍♂️ We should have manually added those locales to the list. The list is only updated when changes are made.

[2020-12-09 15:19] alexgibson commented on #9769
PR to activate the full prod locale list https://github.com/mozmeao/www-l10n/pull/10

[2020-12-09 15:56] alexgibson opened #9775 "JS bundle common-no-jquery does not initialize nav drop down menus"
## Description

On pages that use the `common-no-jquery` JS bundle (such as /exp/ page or pages that use convert), the main navigation does not get initialized correctly when on mobile.

### Steps to reproduce

1.) Visit https://www-dev.allizom.org/en-US/firefox/unfck/
2.) Resize the browser down to a small viewport
3.) Click the navigation menu icon in the top right.

### Expected result

![image

[2020-12-09 16:24] alexgibson commented on #9769
Looks like this is fixed:

- https://www.mozilla.org/fa/firefox/84.0/whatsnew/all/
- https://www.mozilla.org/bs/firefox/84.0/whatsnew/all/
- https://www.mozilla.org/af/firefox/84.0/whatsnew/all/

[2020-12-09 16:25] #9769 closed

[2020-12-09 17:43] #9775 closed

[2020-12-09 18:08] pmac commented on #9741
That is the next bit to test. I'd like to try scripting schema changes so that we could use a process like this:

1. Create a tmp environment for schema changes
2. Create and run a script for updating the schema in the new env
3. Verify that everything worked as expected and make changes (back to step 2 as needed)
4. Once it is verified that the script is working delete the previous tmp env and cr

[2020-12-10 00:02] amychurchwell commented on #9774
My guess is that the docs are incorrect.

I don't know enough about how these attributes are used in GA to make a call. Maybe it is worth huddling up with data science to get some clarity on what requirements should be?

I will say, it seems like we can safely say that `data-download-os` should be the os and not "name or text of the link"

(An issue that is tangentially relevant (https://github.co

[2020-12-10 03:14] hoosteeno commented on #9774
Here is how the data attributes from desktop download buttons presently** pass into GA through GTM:

[code]

The event values are used far more than the custom dimensions, because they end up powering goals. Looks like only data-download-os is required for them. The custom dimensions come in handy now and then, and I think there is no harm in including them on HTML elements if doing so helps to st

[2020-12-10 09:43] alexgibson commented on #9774
Yeah, it looks like `data-link-type` should be `download` as you point out. Also I notice the expacted values for `data-download-version` seem incorrect.

I think we should document which attributes are required and which are optional, so we can avoid amiguity or guessing in code reviews.

Let's leave this issue open for when we can prioritise standardizing these values throughout the code base, b

[2020-12-10 15:15] alexgibson commented on #9579
It looks like this was fixed in https://github.com/mozilla/bedrock/pull/9743

[2020-12-10 15:15] #9579 closed

[2020-12-11 05:11] Ayushsunny commented on #9760
I wanna work on this issue

[2020-12-11 05:13] Ayushsunny commented on #9737
I wanna work on this issue

[2020-12-11 10:43] alexgibson opened #9783 "Nightly /whatsnew page should get dark themed footer"
## Description

The Nightly /whatsnew page has a dark theme color but currently ets the light themed footer:

![image](https://user-images.githubusercontent.com/400117/101894087-8d369180-3b9d-11eb-92b0-049a235ccf95.png)

### Steps to reproduce

Visit: https://www.mozilla.org/en-US/firefox/84.0a1/whatsnew/all/

### Expected result

Footer should use dark theme.

### Actual result

Footer uses the l

[2020-12-11 16:56] stephaniehobson commented on #9760
Sorry @Ayushsunny it's already been assigned.

[2020-12-11 18:00] hoosteeno commented on #9770
Discussion about hosting in this slack thread: https://mozilla.slack.com/archives/G7ACJHJCB/p1607396906231200

[2020-12-11 21:21] pmac commented on #9741
Found a good video explaining some core data model migration scripting concepts and practices:

https://contentful.wistia.com/medias/889yeie6ti

As well as a repo of example migration scripts:

https://github.com/contentful/ls-content-as-code

They also have a migration client for NodeJS:

https://github.com/contentful/contentful-migration

[2020-12-12 05:50] Ayushsunny commented on #9760
Ohh! I'm really sorry Stephanie. and yeah if there is any issue related to Web platform please assign me

[2020-12-12 05:52] Ayushsunny commented on #9783
I wanna work on this issue

[2020-12-12 05:53] Ayushsunny commented on #9757
I wanna work on this issue

[2020-12-12 05:56] Ayushsunny commented on #9766
I wanna fix this issue

[2020-12-14 09:19] #9692 closed

[2020-12-14 12:07] diabitbol commented on #9783
you may have an other add-on activated that prevent you to change the theme

[2020-12-14 16:18] hoosteeno commented on #9753
@amychurchwell to review

[2020-12-14 16:21] slightlyoffbeat commented on #9661
blocked because of issues with URL parameters and attribution: https://github.com/mozilla/fxa/issues/6925#issuecomment-738869774

cc: @hoosteeno

[2020-12-14 16:24] hoosteeno commented on #9434
This is 80% done, and we should get it out the door.

[2020-12-14 16:26] hoosteeno commented on #9600
@slightlyoffbeat can you link to the other repo of issues/code for this here? Even just a single link.

[2020-12-14 16:27] hoosteeno commented on #9767
@stephaniehobson to review today, @maxxcrawford to complete this week.

[2020-12-14 17:23] hoosteeno commented on #9759
@stephaniehobson In the attached screenshot, the big orange translation illustration is cut off and becomes really hard to understand. Is this the desired effect?

![image](https://user-images.githubusercontent.com/94519/102113293-1942f600-3df6-11eb-9d3a-693a54e32c14.png)

I see the cut-off at appx. 768px - 1365px wide in Firefox.

[2020-12-14 20:37] SnehVachhani commented on #9783
i am working on it.

[2020-12-15 03:59] slightlyoffbeat commented on #9600
https://github.com/slightlyoffbeat/foxtail/ (I'll work to get this moved to a mozilla owned repo)

[2020-12-15 10:30] alexgibson opened #9786 "Dismissing the sticky promo only makes it invisible"
## Description

If you dismiss the sticky Firefox promo that's visible on certain pages, it's still there on next visit to the page but it's invisible (with `opacity: 0`). The result is an area of content that you can't click / interact with.

### Steps to reproduce

1. Visit https://www.mozilla.org/en-US/firefox/
2. Click the close button to dismiss the sticky promo.
3. Refresh the page.
4. Scrol

[2020-12-15 10:32] alexgibson commented on #9786
Sticky promo still visible in the DOM:

<img width="1677" alt="image" src="https://user-images.githubusercontent.com/400117/102203643-bf5b3280-3ec0-11eb-965a-17aa61321760.png">

[2020-12-15 10:54] alexgibson commented on #9434
@slightlyoffbeat hi, can you please provide some info as to what each test variation should be showing for this experiment? There doesn't seem to be much direction in the test plan in terms of visuals or what each variation should define. Do we have a design doc anywhere?

Also: how should the existing mobile banner factor into this experiment?

![image](https://user-images.githubusercontent.com/4

[2020-12-15 13:23] alexgibson commented on #9434
Ok, managed to find these in Convert:

Mozilla banner:

![image](https://user-images.githubusercontent.com/400117/102220025-2801d980-3ed8-11eb-95f4-8f09726d485f.png)

Native modern banner (no stars):

![image](https://user-images.githubusercontent.com/400117/102220170-5b446880-3ed8-11eb-9c60-d14414078591.png)

Native modern banner (stars):

![image](https://user-images.githubusercontent.com/400117

[2020-12-15 16:04] alexgibson commented on #9434
@slightlyoffbeat I'm still tidying things up, but here's a demo of the variations for review:

- https://www-demo1.allizom.org/en-US/firefox/?v=1 (control)
- https://www-demo1.allizom.org/en-US/firefox/?v=2 (mozilla banner)
- https://www-demo1.allizom.org/en-US/firefox/?v=3 (native modern no stars)
- https://www-demo1.allizom.org/en-US/firefox/?v=4 (native modern stars)
- https://www-demo1.allizom

[2020-12-15 17:14] #9753 closed

[2020-12-15 17:40] nizz009 opened #9787 "Missing database table while running the project"
## Description

When the project is setup locally on desktop by following the instructions for [Local Installation](https://bedrock.readthedocs.io/en/latest/install.html#local-installation) in the [Bedrock Documentation](https://bedrock.readthedocs.io/en/latest/install.html), an error is generated while running the application using the `npm start` command which indicates a missing  _product_detai

[2020-12-15 19:36] pmac commented on #9787
I'm not sure the Django side of things will run on Windows. I believe we've had people successfully run it in the subsystem for Linux on Windows 10, but other than that Docker is going to be your best bet for successfully running the site locally.

[2020-12-15 20:51] bensternthal opened #9788 "Decom or Keep https://www.mozilla.org/en-US/firefox/enterprise/signup/"
## Description
As part of researching all things SalesForce I came across ye olde enterpise signup form. This submits to:

https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8"

I think Lauren needs to make the call if we still need this form. If so, we will need a new endpoint come February. If not we can decom this page.

---

#### Success Criteria
- [x] A decision on keep or de

[2020-12-15 20:55] pmac commented on #9736
I informed people directly but it seems I forgot to mention it here. The demo for the above is up and running:

https://www-demo5.allizom.org/en-US/firefox-home-preview/3esZ0muUd3oPdflfqZWoKS/

[2020-12-15 22:53] slightlyoffbeat commented on #9434
@alexgibson I checked all the links and they look correct to me. I would hide any additional banners for this test (such as daylight banners, etc). I'd vote to hide it on control as well.

[2020-12-16 09:21] alexgibson commented on #9434
Will get this moved along to ready for code review today, thanks.

[2020-12-16 09:27] alexgibson commented on #9788
If this helps to inform any decisions, this sign up form has been orphaned for some time, and is no longer linked from https://www.mozilla.org/en-US/firefox/enterprise/. It hasn't seen any significant traffic in the past year.

[2020-12-16 10:15] alexgibson commented on #9434
This is ready for code review.

[2020-12-16 17:31] stephaniehobson commented on #9759
@hoosteeno  This is the current functionality of the Protocol component and I don't think it's worth custom coding something different for this page until we see substantial traffic to it.

[2020-12-16 21:56] LaurenNiolet commented on #9788
Helpful @alexgibson

yes, we can decommission it.

[2020-12-16 22:04] #9694 closed

[2020-12-16 22:06] #9693 closed

[2020-12-16 23:04] #9786 closed

[2020-12-17 00:59] #9759 closed

[2020-12-17 00:59] #9760 closed

[2020-12-17 00:59] #9761 closed

[2020-12-17 15:49] #8876 closed

[2020-12-17 17:20] #9765 closed

[2020-12-18 01:26] peiying2 opened #9795 "en/firefox/privacy/passwords.ftl didn't come through on www-l10n repo"
## Description
[This PR](https://github.com/mozilla-l10n/www-l10n/pull/154/files) including the passwords.ftl file didn't come through to the www-l10n repo/Pontoon.

### Expected result

Check code and recommit the file through a new PR.

### Actual result

Land the file in the www-l10n repo and Pontoon.

[2020-12-18 01:26] peiying2 commented on #9795
@craigcook

[2020-12-18 02:40] peiying2 commented on #9795
Looks like the file is under firefox/privacy/... path, and the config contains info for .../privacy/book.ftl https://github.com/mozilla-l10n/www-l10n/blob/f2dde659c6cae44c6f5ac79a71ae3071d8bb6488/configs/pontoon.toml#L139. Does it block the release of passwords.ftl from coming through? Notice that it is not available for any languages in Pontoon.

[2020-12-18 02:49] craigcook commented on #9795
Hm yeah, not sure what's wrong. The file is there but clearly something about that rule in the config is making it invisible to Pontoon. ccing @pmac as well.

[2020-12-18 09:13] alexgibson commented on #9795
Looks like there was no config specified for /privacy in general, so I think we just need to add something that covers this file

[2020-12-18 09:51] alexgibson opened #9797 "Update header for /de/firefox/unfck/ landing page"
## Description

The A/B test in https://github.com/mozilla/bedrock/issues/9724 showed that `v=2` had a 30.2% increase (in relative terms) in download conversion rates. Recommendation from DS is to roll this version out as default.

---

#### Success Criteria
- [ ] Header is updated in production.

[2020-12-18 14:25] alexgibson commented on #9434
This experiment is now running in production

[2020-12-18 14:25] #9434 closed

[2020-12-18 15:09] alexgibson commented on #9716
Ended up recoding this in Traffic Cop, which was done in https://github.com/mozilla/bedrock/pull/9789

[2020-12-18 15:09] #9716 closed

[2020-12-18 15:38] alexgibson commented on #9660
This experiment was done, closing out.

[2020-12-18 15:38] #9660 closed

[2020-12-18 15:39] alexgibson commented on #9524
/cc @hoosteeno

[2020-12-18 15:41] #9795 closed

[2020-12-18 16:12] #9797 closed

[2020-12-18 16:13] alexgibson opened #9800 "Make demo servers closer to dev environments for perf testing"
## Description

Right now [demo environments](https://www-demo1.allizom.org/en-US/) aren't very easy for testing things like page performence. Server resopnse times seem slow in general, and the also don't have things like HTTP/2 enabled, or CDN cahing for assets.

It would be great to get things up to parity a little better, or alternatively have a dedicated environment for performance testing th

[2020-12-18 19:40] peiying2 commented on #9755
This one was fixed: https://pontoon.mozilla.org/projects/mozillaorg/en/firefox/sync.ftl/?string=216016

[2020-12-18 19:40] #9755 closed

[2020-12-18 20:07] peiying2 opened #9802 "[l10n] some string IDs show up in localizable content"
## Description
1). The [Fingerprint file](en/firefox/features/fingerprinting.ftl) in Pontoon contains string ID in the localizable content:

- features-fingerprinting-the-practice-of
- features-fingerprinting-the-latest-firefox
- features-fingerprinting-and-its-not
- features-fingerprinting-you-probably-wouldnt

2). This one with HTML tagging issue
https://pontoon.mozilla.org/nl/mozillaorg/en/fire

[2020-12-18 23:39] #9783 closed

[2020-12-19 05:18] lolrepeatlol opened #9803 "Font is incorrect on "Firefox products are designed to protect your privacy" text at smaller screen sizes"
## Description

When a window or screen size is small enough, the font on the "Firefox products are designed to protect your privacy" text is in Zilla Slab, not Metropolis.

### Steps to reproduce

1. Open mozilla.org with a small, phone sized window, or just open it on your phone.
2. Observe the font.
3. Optionally, make the window bigger to see the expected result.

### Expected result

The font

[2020-12-21 09:15] alexgibson opened #9804 "Migrate /about/ page to Fluent"
## Description

https://www.mozilla.org/en-US/about/

---

#### Success Criteria
- [ ] Page is using Fluent in production along with existing migrations

[2020-12-21 09:16] alexgibson opened #9805 "Migrate /about/history/ page to Fluent"
## Description
https://www.mozilla.org/en-US/about/history/

---

#### Success Criteria
- [ ] Page is using Fluent in production along with existing migrations

[2020-12-21 09:18] alexgibson opened #9806 "Migrate /manifesto/ pages to Fluent"
## Description

- https://www.mozilla.org/en-US/about/manifesto/
- https://www.mozilla.org/en-US/about/manifesto/details/

---

#### Success Criteria
- [ ] Page is using Fluent in production along with existing migrations

[2020-12-21 09:19] alexgibson opened #9807 "Migrate 404 and 500 error pages to Fluent"
## Description

https://www.mozilla.org/en-US/404

---

#### Success Criteria
- [ ] Page is using Fluent in production along with existing migrations

[2020-12-21 09:20] alexgibson opened #9808 "Migrate /legal/ pages to Fluent"
## Description

https://www.mozilla.org/en-US/about/legal/

---

#### Success Criteria
- [ ]  Page is using Fluent in production along with existing migrations

[2020-12-21 09:21] alexgibson opened #9809 "Migrate /privacy/ pages to Fluent"
## Description

https://www.mozilla.org/en-US/privacy/

---

#### Success Criteria
- [ ] Page is using Fluent in production along with existing migrations

[2020-12-21 09:23] alexgibson opened #9810 "Remove .lang machinery"
## Description

Once the last mozorg pages have been migrated to Fluent, we can remove the .lang machinery and documentation supporting the old L10n system.

---

#### Success Criteria
- [ ] Legacy .lang code is removed from the website.
- [ ] L10n documentation updated.

[2020-12-21 09:28] alexgibson opened #9811 "Migrate /firefox/retention/thank-you/ to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/retention/thank-you/

This is a snowflake page and used to receive traffic from snippets. Looking in GA, traffic to the page seems pretty quite since June 2020.

- If we want to keep the page around, it will need migrating from .lang to Fluent.
- If we don't want to keep it, let's remove and redirect the page (and remove the whole /etc/ app, fo

[2020-12-21 09:37] alexgibson opened #9812 "Approve "wontfix" Fluent migrations"
## Description

As part of retiring .lang support in bedrock, there is a small collection of pages for which I'm going to propose we mark as "wontfix" for porting their translations:

- https://www.mozilla.org/en-US/foundation/annualreport/2011/ (content is old and copy intensive, annual reports have not been localized post-2012)
- https://www.mozilla.org/en-US/foundation/annualreport/2012/
- http

[2020-12-21 09:39] alexgibson commented on #9803
Thanks for the report!

[2020-12-21 10:46] alexgibson commented on #9665
Closed in https://github.com/mozilla/bedrock/pull/9768

[2020-12-21 10:46] #9665 closed

[2020-12-21 10:47] alexgibson commented on #9655
Fixed in latest Protocol update 🎉

[2020-12-21 10:47] #9655 closed

[2020-12-21 10:49] alexgibson commented on #9486
Given bugs such as https://github.com/mozilla/bedrock/issues/9700, I'm going to close this and look at switching to Webpack.

[2020-12-21 10:49] #9486 closed

[2020-12-21 10:52] alexgibson commented on #9700
I've spent a while trying to understand / debug this issue, and it seems like something that's:

a) Intermittent and not easy to reproduce via a set of steps.
b) Frequent enough that it causes some frustration during dev.
c) Seems deep routed in our Gulp setup, or even in Gulp itself.

Right now, I'm at a loss as to how to fix it.

[2020-12-21 11:07] alexgibson opened #9814 "Switch from Gulp to Webpack"
## Description

Back in 2019 we [researched](https://github.com/mozilla/bedrock/issues/8956) and prototyped switching bedrock to use Webpack. At the time we didn't prioritize making the effort to actually switch over, as it wasn't something that had any real weight behind it and we had other priorities. I think it's now time to prioritize making a switch:

- Bugs such as https://github.com/mozilla

[2020-12-21 13:32] alexgibson commented on #9300
Looks like this was done

[2020-12-21 13:32] #9300 closed

[2020-12-21 13:33] alexgibson commented on #9242
Looks like this was done

[2020-12-21 13:33] #9242 closed

[2020-12-21 16:23] peiying2 commented on #9802
@craigcook Adding more findings in the Description area. I will make numbered items so it is easy to track.

[2020-12-21 16:54] craigcook commented on #9802
Sorry, can you explain what you mean by "contains string ID in the localizable content"?

There were several variables surrounded by double-braces `{{ ... }}` instead of single braces `{ ... }` and I've fixed those but it doesn't seem to cause any problems, just a formatting inconsistency.

[2020-12-21 18:23] peiying2 commented on #9802
https://pontoon.mozilla.org/cy/mozillaorg/en/firefox/features/fingerprinting.ftl/?string=217968 - click on this link, and see the string in the middle panel:
`features-fingerprinting-the-practice-of = The practice of fingerprinting allows you to be <a {{ $url_tracked }}>tracked for months</a>, even when you clear your browser storage or use private browsing mode — disregarding clear indications fr

[2020-12-21 18:26] peiying2 commented on #9802
`features-fingerprinting-the-practice-of = ` should not show up on the Pontoon dashboard. Localizers should see only the string to localize, not the string ID.

[2020-12-21 18:54] craigcook commented on #9802
Ah! Now I follow. That does indeed some to be some side effect of the double braces, so hopefully that will be fixed soon.

[2020-12-21 19:50] #9802 closed

[2020-12-21 19:52] #9803 closed

[2020-12-21 19:56] #9788 closed

[2020-12-21 20:36] #9191 closed

[2020-12-22 08:57] #8968 closed

[2020-12-22 09:34] #9254 closed

[2020-12-22 09:57] alexgibson opened #9816 "Remove legacy /firefox Quantum home page template"
## Description

- `firefox/hub/home-quantum.lang` ([latest template](https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/templates/firefox/home/index-master.html), 57 active locales)
- `firefox/home.ftl` ([old template](https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/templates/firefox/home/index-quantum.html), 76 active locales)
- delta of missing locales: an,ar,ast,az,bg

[2020-12-22 09:58] alexgibson commented on #9816
@peiying2 I think it's time we remove the old Quantum template here. For the locales above who are still on the old .lang template, can we try and make a push to localize the newer .ftl file? Thanks

[2020-12-22 10:43] alexgibson opened #9818 "Remove legacy /installer-help template"
## Description

• `firefox/installer-help.ftl` ([latest template](https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/templates/firefox/installer-help-redesign.html), 48 active locales)
• `firefox/installer-help.lang` ([old template](https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/templates/firefox/installer-help.html), 98 active locales)
• delta of missing locales: ach,a

[2020-12-22 10:44] alexgibson commented on #9818
@peiying2 there's still quite a big delta of locales on this one. Think we can try and make a push with community before we end of life the old template?

[2020-12-22 12:37] alexgibson opened #9819 "Remove legacy /contribute template"
## Description

• `mozorg/contribute.json` ([latest template](https://github.com/mozilla/bedrock/blob/master/bedrock/mozorg/templates/mozorg/contribute/contribute-2020.html), 27 active locales)
• `mozorg/contribute/index.lang` ([old template](https://github.com/mozilla/bedrock/blob/master/bedrock/mozorg/templates/mozorg/contribute/index.html), 48 active locales)
• delta of missing locales: af,ar,b

[2020-12-22 12:37] alexgibson commented on #9819
Best to let locales catch up a bit more before this is ready.

[2020-12-22 13:27] alexgibson opened #9821 "Sub navigation does not minimize on iPhone browsers"
## Description

On iPhones the sub navigation does not minimize by default on page load.

### Steps to reproduce

1.) On an iPhone, visit a page with sub navigation such as : https://www.mozilla.org/en-US/firefox/84.0/releasenotes/

### Expected result

![image](https://user-images.githubusercontent.com/400117/102893270-37919d00-4459-11eb-8852-095be0dac7b1.png)

### Actual result

![image](https:/

[2020-12-22 13:55] alexgibson opened #9823 "Reduce content layout shift (CLS) caused by sub navigation."
## Description

Whilst it's good that we progressively enhance the sub navigation for people with JS enabled, the way we're currenty doing it can cause _content layout shift_ (CLS) for people on slow connections. This can be confusing / frustrating when people are trying to read or interact with the page, and it continues to jump around as content is still loading.

![image](https://user-images.gi

[2020-12-22 14:00] alexgibson opened #9824 "Reduce content layout shift (CLS) caused by page banners"
## Description

Same problem as https://github.com/mozilla/bedrock/issues/9823, but for page banners (such as the fundraising banner and daylight banners). These banners are dynamically inserted into the top of the page using JS. This causes the page content to jump when loading on slower connections, which is a bad UX.

We should change the way these banner load by making making sure they are ren

[2020-12-23 07:36] lolrepeatlol commented on #9803
Hmm, I'm still seeing the issue. Is the fix just not live yet?

[2020-12-23 17:20] nizz009 commented on #9787
Hello! Apologies for the delayed reply.
I tried installing Docker toolbox (since I am using Windows 7) but I am having some troubles in installation of Docker so I thought of trying local installation.

[2020-12-23 22:44] #9821 closed

[2020-12-23 22:59] #9816 closed

[2021-01-04 13:17] alexgibson commented on #9712
@rraue I noticed https://www.mozilla.org/firefox/features/adblocker/ already has both a primary / secondary download button in the page. It feels a little heavy to add another one there to me. Any suggestions, or should be leave the feature page out of this update?

[2021-01-04 13:44] alexgibson commented on #9712
Up on demo:

- https://www-demo1.allizom.org/en-US/firefox/browsers/update-your-browser/
- https://www-demo1.allizom.org/en-US/firefox/browsers/what-is-a-browser/
- https://www-demo1.allizom.org/en-US/firefox/browsers/incognito-browser/
- https://www-demo1.allizom.org/en-US/firefox/browsers/browser-history/

[2021-01-05 13:11] alexgibson commented on #9680
Here's a good example of why it would be useful to more closely monitor this data. On Thursday 10th December 2020 we saw a large decrease in what Google classes as "good" performing URLs, with a proportional increase in what it considers "bad" or "needs improvement" URLs. The issue seems to be specific to visitors on mobile devices:

![image](https://user-images.githubusercontent.com/400117/103649

[2021-01-05 15:16] alexgibson commented on #9680
I put together a quick prototype in a branch here using Google's JS lib: https://github.com/alexgibson/bedrock/tree/web-vitals

Seems to work as expected, although we'd need to configure the custom event in GTM in order to see the actual data correctly in GA.

[2021-01-05 23:27] craigcook opened #9828 "Publish "Reimagine Open" whitepaper"
## Description

Mozilla is publishing a paper on the current state and future of the open web. It's currently in a PDF format but we've been asked to put together a canonical web page version as well.

Visual design should evoke some of the feeling of the PDF but can have a simplified layout. I think we can base it on the Little Book of Privacy page as a starting point and change up the graphics.

[2021-01-06 23:33] rafrombrc opened #9830 "pass ga_visit_id into bouncer for windows stub installer downloads"
## Description

When a moz.org visitor clicks on the 'download firefox' link to receive a download of the Windows stub installer, bedrock should pass the GA visit id into the bouncer API call so bouncer can emit that (along w a generated download token) into stackdriver for ultimate landing in a BigQuery data set.

---

#### Success Criteria
- [ ] Bouncer successfully receives GA visit id along wi

[2021-01-08 19:44] hoosteeno commented on #9770
I moved this back into "not ready" as it appears to have made the same move in Trello.

[2021-01-08 23:00] stephaniehobson commented on #9770
They're going to have the real site in the next week or two so there's no need for a placeholder anymore.

[2021-01-08 23:00] #9770 closed

[2021-01-11 09:10] alexgibson opened #9832 "Add a warning/notice that Nightly will be updated once/twice a day"
## Description

See: https://bugzilla.mozilla.org/show_bug.cgi?id=1685971

---

#### Success Criteria
- [ ] Nightly page has some info relating to update frequency.

[2021-01-11 09:28] alexgibson commented on #9368
It looks like this has since been fixed. Thank you for filing

![image](https://user-images.githubusercontent.com/400117/104164069-4a134c80-53ef-11eb-910d-b3f89568dab6.png)

[2021-01-11 09:28] #9368 closed

[2021-01-11 09:28] alexgibson commented on #9738
We should fix this, thank you

[2021-01-11 14:56] pascalchevrel opened #9834 "Feedback link on Beta page should be replaced by the FirefoxBeta twitter account"
## Description
The Feedback link on Beta page should be replaced by the FirefoxBeta twitter account which is the only active feedback loop for the beta channel.

### Steps to reproduce
1. Go to https://www.mozilla.org/en-US/firefox/channel/desktop/#beta
1. Click on the **Give us feedback** link

### Expected result
Land on a feedback mechanism tool (bugzilla, a community forum…) actively monitored

[2021-01-11 15:30] #9834 closed

[2021-01-11 16:03] hoosteeno commented on #9600
@slightlyoffbeat can you update?

[2021-01-11 16:04] hoosteeno commented on #9767
@maxxcrawford to complete this week -- 1/26 complete.

[2021-01-11 16:05] hoosteeno commented on #9601
@slightlyoffbeat to build a brief by Tuesday.

[2021-01-11 16:43] pascalchevrel opened #9836 "Firefox Beta download link shouldn't point to the stub installer for Windows"
## Description

On https://www.mozilla.org/en-US/firefox/channel/desktop/#beta the download link is for the stub installer.
That means that somebody that wants to install Firefox Beta will get their current Firefox on the release channel replaced by a Beta version while the intent is most probably to have it alongside Firefox on the release channel.

Only the full installer allows changing the ins

[2021-01-11 17:29] #9836 closed

[2021-01-12 08:56] #9406 closed

[2021-01-12 08:58] #9228 closed

[2021-01-13 21:14] pmac commented on #9830
Looks like the new key name for this will be `visit_id` and we'll just add it to stub attribution data, right? That's what I'm getting based on the [PR for this in the stub attribution repo](https://github.com/mozilla-services/stubattribution/pull/103/).

[2021-01-13 21:15] pmac commented on #9830
@alexgibson how tough will it be do you think to grab the GA ID for users that have one and add it to the attribution data?

[2021-01-13 21:54] hoosteeno opened #9840 "Copy WNP84 template for WNP85"
## Description

WNP85 will be distributed starting 1/26. We should have final content in template launched on a page by 1/19, to give EU time to work with it.

We may want to change something about this page -- copy, for example, to mention the recent VPN launch on new platforms. But let's start by duplicating the template from WNP84 to serve WNP85.

---

#### Success Criteria
- [ ] WNP85 looks ju

[2021-01-14 09:25] alexgibson commented on #9840
I spoke to Caro on the EU team and she asks if we can please make sure VPN gets shown for en-GB as well.

It's unclear if we'll do anything for de and fr given other competing priorities / resources in the short time frame we have. I'l update here if that changes, but for now de and fr can show the default /whatsnew page.

[2021-01-14 10:04] alexgibson commented on #9830
I took a look at this and we don't seem to have a `ga_visit_id` value in the GA JavaScript object that gets created by Google Analytics. I did a little digging and found [this article](https://www.owox.com/blog/use-cases/google-analytics-client-id/), which suggests that the client Id can be found in the `_ga` session cookie. This gives a value like `GA1.2.780885757.1610617994`. Everything after th

[2021-01-14 10:31] alexgibson commented on #9830
@rafrombrc assuming my above guesses are correct, I think this should be fairly straight forward. We should probably assume that this VALUE won't always be available though, since some folks will no doubt block GA.

[2021-01-14 12:07] Patil2099 commented on #9810
Hi, @alexgibson I would love to help to solve this issue.

[2021-01-14 16:31] hoosteeno opened #9842 "Monitor external links from www.mozilla.org"
## Description

Problem: We have long worried that some attack could replace a valid download link with a malicious one.

Conceptual solution: We could build/buy/configure a monitoring service that alerts when a new external link appears on www.mozilla.org. This could run on a schedule.

Imagine that such a monitoring service simply compares the prior list of external URLs to the current list, and

[2021-01-14 16:36] pmac commented on #9830
I believe that is taken into account. We should only add it when we have it.

[2021-01-14 19:40] #9828 closed

[2021-01-15 17:11] alexgibson opened #9845 "Improve firefox/all/ page performance"
## Description

See: https://bugzilla.mozilla.org/show_bug.cgi?id=1683671

TL:DR: The HTML payload for the /firefox/all/ page is 1.5MB, which can be a performance issue. The time it takes for the back-end to return the document also seems higher than other pages, likely because of all the links it needs to render in the hidden tables. We often see test failures on this page because the page was to

[2021-01-15 17:20] #9804 closed

[2021-01-15 17:45] #9806 closed

[2021-01-15 21:55] #9805 closed

[2021-01-15 23:57] #9712 closed

[2021-01-18 15:45] TheoChevalier opened #9848 "Update donate link metadata"
Some of the metadata for the Donate website is outdated:

- We dropped support of several currencies
- We dropped a couple locales
- Some unsupported locales were added to `DONATE_PARAMS`

E.g https://www.mozilla.org/fi/ is linking to https://donate.mozilla.org/fi/?presets=50,30,20,10&amount=30&utm_source=mozilla.org&utm_medium=referral&utm_content=company&currency=eur&utm_campaign=footer which is

[2021-01-19 10:14] #9848 closed

[2021-01-19 15:43] alexgibson opened #9851 "firefox/all/ page breaks when Bouncer is set to staging"
## Description

The firefox/all page breaks with a JS error when bedrock is set to use the Bouncer staging URL:

[code]

### Steps to reproduce

1. Set `BOUNCER_URL=https://bouncer-bouncer.stage.mozaws.net/` in your `.env` file.
2. Open http://localhost:8000/en-US/firefox/all/

### Expected result

The page should load and display a blue download button, which triggers a download from the staging

[2021-01-19 16:06] #9738 closed

[2021-01-20 10:10] alexgibson opened #9854 "Add client side download link validation to /firefox/download/thanks/"
## Description

Whilst we have good server side tests for download buttons, we don't currently perform any client-side validation for download URLs served to visitors when someone hits `/download/thanks/`.  On pages like `/firefox/all/` we validate URLs so if a bad or unrecognised download URL is detected, we can surface those as errors which can be picked up via Sentry. Adding something similar o

[2021-01-20 10:14] alexgibson commented on #9851
This issue also surfaces a good opportunity to improve our download link validation and error reporting via Sentry.

[2021-01-20 10:32] alexgibson commented on #9842
I've been thinking a bit about this, and I wonder if we could also leverage some existing alerting tools to help monitor the types of things we may want to cover (in addition to a link crawler perhaps).

As an example, we have JS error reporting in place now, so we can now start to validate things such as download links and surface anomalies as errors in Sentry? See https://github.com/mozilla/bedr

[2021-01-20 17:22] alexgibson opened #9855 "Migrate Mozilla VPN landing page"
## Description

We have the go-ahead to create a Mozilla VPN landing page on www.mozilla.org. This landing page will be updated and localized ahead of the VPN product being launched in Germany and France in Q1. The first step toward that effort will be to migrate the current landing page at https://vpn.mozilla.org/ to https://www.mozilla.org/products/vpn/.

Implementation requirements are forthcom

[2021-01-20 17:41] alexgibson commented on #9840
Small update here: the EU team are going to do something to promote Firefox Mobile for WNP 85. It will be hard-coded and something that's a small lift, so no dependency on the work happening here.

I'll file a separate issue for it.

[2021-01-20 18:07] #9840 closed

[2021-01-21 08:50] alexgibson opened #9856 "WNP 85 for DE"
## Description

(Mozilla access only)
Brief: https://docs.google.com/document/d/17HXO98YR4oeD9LJLtQ2mkmbJqp-O_6ZSfYAclsPfJwM/edit?usp=sharing
Copy doc: https://docs.google.com/document/d/1iGqg7yi9W5eXMyR9AKAi-gA3fD2HeP5RKYor6P3s1p4/edit#

---

#### Success Criteria
- [ ] WNP 85 is live in production for DE before Jan 26th.

[2021-01-21 14:27] #9851 closed

[2021-01-21 19:19] hoosteeno opened #9858 "Leadership page changes for 2021-01-22"
## Description

We need to land some changes to the leadership page that will be shared in a separate document. These should go live in the morning of 2021-01-22, US-Pacific time (but there is no requirement to launch them at a particular hour).

The copy doc may have various fonts; please ignore those and use standard site formatting.

The changes should not be public (nor in public code repo) un

[2021-01-21 23:45] stephaniehobson opened #9860 "Review redirects to sync & accounts"
Over time the content of the pages at /sync and /accounts have changed. Redirects and links to those pages should be reviewed to make sure they go to the appropriate pages.

[2021-01-22 00:08] stephaniehobson commented on #9860
Redirects:

- [ ] - redirect(r'^mobile/sync', 'firefox.accounts'),
- [ ] - redirect(r'^firefox/sync/firstrun\.html$', 'firefox.accounts'),
- [ ] - redirect(r'^sync/?$', 'firefox.sync'),
- [ ] - redirect(r'^firefox/features/sync/?', 'firefox.sync'),
- [ ] - redirect(r'^firefox/accounts/features/?', 'firefox.accounts'),
- [ ] - redirect(r'^firefox/account/?$', 'firefox.accounts'),
- [ ] - redirect(r

[2021-01-22 17:30] hoosteeno commented on #9858
Late breaking change: All changes should go live except one, to be discussed in private repo.

[2021-01-22 19:33] hoosteeno opened #9864 "Redesign/rebuild S2D widget"
## Description

The Send-to-device (S2D) widget on www.mozilla.org includes SMS capabilities. As we transition to a new email and contacts provider, we'll EOL SMS as a delivery mechanism for these messages. This epic includes short term and long term work to make that true. We can build task cards for individual activities below as needed.

---

#### Issues
- [x] SHORT TERM: Remove SMS from widget

[2021-01-22 20:01] stephaniehobson opened #9865 "Miss matched brand fonts on firefox/privacy/products"
Both headlines should be in the Firefox theme:

<img width="1191" alt="Screen Shot 2021-01-21 at 15 58 10" src="https://user-images.githubusercontent.com/854701/105539291-6a71bf80-5ca9-11eb-8e98-dbfe88107a9a.png">

[2021-01-22 20:03] stephaniehobson opened #9866 "Odd hover state on join modal for firefox/new"
The blue button should have white text before hovering. When I hover it flashes cyan before going back to the light purple. (Might be related to visited state). Note the modal only appears for existing Firefox users.

<img width="571" alt="Screen Shot 2021-01-22 at 12 01 25" src="https://user-images.githubusercontent.com/854701/105539464-a2790280-5ca9-11eb-8057-19d18cbb98e7.png">

[2021-01-22 22:05] craigcook commented on #9866
Seems related to https://github.com/mozilla/protocol/issues/655 which I'm working on now.

[2021-01-23 01:50] stephaniemcv commented on #9401
Hey ya'll,
Wanted to check-in on the status on this. Based on the tickets it looks like this was closed, however the text on preference center hasn't been updated.

[2021-01-25 08:59] #9856 closed

[2021-01-25 09:59] alexgibson opened #9869 "CSP errors loading fonts on stage deployments"
## Description
When viewing stage deployments directly (e.g. at https://bedrock-stage.gcp.moz.works/en-US/) something a bit strange is happening with web font loading. Fonts still seem to load eventually, but often the first request seems to get blocked due to a CSP error e.g.

[code]

### Steps to reproduce

Visit: https://bedrock-stage.gcp.moz.works/en-US/

### Expected result

Web fonts should

[2021-01-25 10:38] alexgibson opened #9870 "Send to device submissions fail on www.allizom.org"
## Description

Pages that use the send to device widget don't function as expected on www.allizom.org

### Steps to reproduce

1. Visit https://www.allizom.org/en-US/firefox/mobile/
2. Enter `success@example.com` in the "Get Firefox for Mobile" form.
3. Click "Send".

### Expected result

The form should submit successfully.

### Actual result

The form shows an error: "An error occurred in our s

[2021-01-25 14:40] pmac commented on #9401
D'oh! I thought this was fixed when that last PR merged. I'll take another look and see what's up.

[2021-01-25 14:52] pmac commented on #9401
The issue seems to be that the newsletter's slug in basket was actually `internet-health-report-group` and in the bedrock code it was looking for `internet-health-report`. So I've updated it in basket, so the site should update shortly.

Also, this is setup as a group that subscribes people to both `internet-health-report` and `mozilla-foundation`. Is that still what you want?

[2021-01-25 14:56] stephaniemcv commented on #9401
Ah that makes sense. And yes, the setup that subscribes people to both is correct. At this time the Insights group still can't support enough content for a full year.

[2021-01-25 14:58] pmac commented on #9401
@stephaniemcv great. Can you post links to any forms you know of that are subscribing people to this group? I'd like to double check that we're all using the right name for the subscription group.

[2021-01-25 15:02] pmac commented on #9401
Looks right to me now.

![Screen Shot 2021-01-25 at 10 01 22](https://user-images.githubusercontent.com/19176817/105723056-553ca100-5ef4-11eb-9cba-7e8eb11360d3.png)

[2021-01-25 15:41] stephaniemcv commented on #9401
Great, thank you!

[2021-01-25 22:11] stephaniehobson commented on #9870
Probably not worth fixing in light of #9864 ?

[2021-01-25 22:11] stephaniehobson commented on #9870
Oh it's failing with an email, never mind, that's worth fixing.

[2021-01-26 16:39] peiying2 opened #9872 "/firefox/features/translate/: language list is hard coded, punctuation incorrect for some languages"
## Description
The hardcoded list of languages ends with an Oxford comma is not the correct punctuation in some languages.

https://www-dev.allizom.org/zh-TW/firefox/features/translate/

### Steps to reproduce

Go to the above URL and scroll to the bottom of the page, review the language list and see the difference in punctuation in this section compared to zh-TW. Unfortunately, this page is not l

[2021-01-26 17:15] hoosteeno opened #9873 "Leadership page updates 2021-01-29"
## Description

We backed out one change from the PR at https://github.com/mozilla/bedrock-private/pull/88#issuecomment-765573290. We need to launch that change on Friday 2021-01-29.

---

#### Success Criteria
- [ ] The final change specified is PR'd in private repo and staged, or PR'd on the day of in public repo
- [ ] The change is merged and pushed on 2021-01-29

[2021-01-26 17:26] stephaniehobson commented on #9872
I looked for some way to generate a list and didn't find it. (I would have liked to have a localized "and" before the last item where appropriate.)

The only solution I can think of would be to open the entire string to localization. It would be 100% okay to have those languages localized. It just seem like a long list of languages people would not be familiar with. We could keep the list as the f

[2021-01-26 19:15] peiying2 commented on #9872
Actually the RTL part works, sorry about it. Let me update the comment/summary.

On the language list, I am with you on not translating the languages. Those who read it  will know what it is, and ignore those they don't recognize. Let me check with other l10n drivers on their take of this.

[2021-01-26 22:36] peiying2 commented on #9872
@stephaniehobson after checking with the l10n drivers, this list presents issues even for Latin based scripts. In some languages, the language name initial needs to be capitalized. Of course, what do you do with languages not in your script. The suggestion is to do away with the list here. Or can we make it not shown in the localized pages? The link to Google Translate page is sufficient. Thank yo

[2021-01-27 16:54] alexgibson commented on #6123
Closing this old issue as it was filed in pre-contentful days. We can open a issue for this work when ready.

[2021-01-27 16:54] #6123 closed

[2021-01-27 21:27] maxxcrawford opened #9875 "Redesign Send-to-Device Widget"
## Description

Epic #9864

Task: Design a new widget -- it should include email, QR code, and app-store badges

Notes:
- Include error/success states
- Consider L10N length/copy
- Consult @pmac about how to improve QR code generation
- Confirm we can measure performance between QR Code and Email
- Reduce size of QR code

---

#### Success Criteria
- [ ] An element contributing to the definition o

[2021-01-27 22:41] pmac commented on #9875
I should be able to provide a template helper method that can take some data (a URL most likely) and replace it with SVG data that will be embeded into the page using the [qrcode](https://pypi.org/project/qrcode/) library.

[2021-01-28 18:47] stephaniehobson commented on #9875
List of pages currently using the S2D widget:

http://localhost:8000/en-US/firefox/mobile/
http://localhost:8000/en-US/firefox/mobile/get-app/
http://localhost:8000/en-US/firefox/whatsnew/all/
http://localhost:8000/en-US/firefox/79.0/whatsnew/all/
http://localhost:8000/en-US/firefox/80.0/whatsnew/all/
http://localhost:8000/en-US/firefox/81.0/whatsnew/all/
http://localhost:8000/en-US/firefox/welcom

[2021-01-28 19:01] stephaniehobson commented on #9875
The default display for the macro is "horizontal" but we are over-riding with "vertical" everywhere we use it. So, a testing page will need to be made to test the horizontal layout (or maybe we can remove it?)

[2021-01-28 19:17] pmac commented on #9875
I've got a PR in for a code generator template helper function. Y'all give it a try and let me know if it's working the way you need it to https://github.com/mozilla/bedrock/pull/9877

[2021-01-28 19:19] maxxcrawford commented on #9875
Adding the different orientations to the considerations list.

[2021-01-28 19:42] litkaemily commented on #9388
Hi is there any update to this? I also need to make an additional update to this section now. It should read:
------

If you want to make a correction to your information, or you have any questions about our privacy policies, please get in touch with:

Mozilla Corporation
Attn: Mozilla – Privacy
2 Harrison St # 175,
San Francisco, CA 94105
USA
compliance at mozilla dot com

[See here for Data Subj

[2021-01-28 19:50] stephaniehobson commented on #9872
@rraue Is it okay to remove the list of locales that To Google Translate supports from the non-English pages?

[2021-01-28 20:00] hoosteeno commented on #9621
We did this estimate, and determined that a boost to either careers or w.mo is unlikely.

[2021-01-28 20:00] #9621 closed

[2021-01-28 20:02] hoosteeno commented on #9400
We'll move the VPN landing page to w.mo, so some future card like this may appear. But this one is no longer needed.

[2021-01-28 20:02] #9400 closed

[2021-01-28 20:26] hoosteeno opened #9880 "Identify new evergreen content for ROW homepage."
## Description

The homepage that most visitors to www.mozilla.org see has not been updated with fresh content for a very long time. Many of the items promoted there are no longer a part of Mozilla's story. We should identify new content for the page. We should use only Protocol elements there, and only publish/link to content that has substantial global coverage.

---

#### Success Criteria
- [ ]

[2021-01-28 20:36] #9398 closed

[2021-01-28 21:41] maxxcrawford commented on #9875
Opt A:
- Allows for app store badges to be turned on/off

![Group 11](https://user-images.githubusercontent.com/2692333/106202049-fd659a80-617e-11eb-9c58-b6053f5cb8a9.png)

---

Opt B:
- Compact version of A, with app badges given the same hierachy as QR/email.

![Group 10](https://user-images.githubusercontent.com/2692333/106202079-03f41200-617f-11eb-9039-481ead5a0065.png)

---

Option C (Two-par

[2021-01-28 22:01] #9766 closed

[2021-01-28 22:47] hoosteeno commented on #8440
Client Hints has an intent to ship: https://groups.google.com/a/chromium.org/g/blink-dev/c/A4wxFpvqUfA/m/g7iccl9ICgAJ

Legacy UA strings have an intent to freeze: https://groups.google.com/a/chromium.org/g/blink-dev/c/-2JIRNMWJ7s/m/yHe4tQNLCgAJ

I haven't yet read the entire threads to understand if they change our approach or urgency here.

[2021-01-28 23:54] stephaniehobson commented on #9224
At the moment these pages have the download button on them that swaps out for android, ios, etc if the user is on mobile. I'm going to change that to be just the desktop download link, unless anyone objects.

I'd also suggest adding /ios and /android versions of the platform templates. These can display at /mobile/ios and /mobile/android and serve as evergreen fallbacks for whatever we end up buil

[2021-01-29 00:40] stephaniehobson commented on #9224
Suggested title, description, and page heading for the new platform pages: https://docs.google.com/document/d/125FFxytmY_FUlAxiyLHp1-FqR0Jy0KCls_8kl9KEb38/edit (Mozilla only link)

@rraue I'd like your take on this before I talk to Tyler and legal.

[2021-01-29 01:00] stephaniehobson commented on #9224
We can't touch these pages without also also creating a new /thanks template.

Suggested text for that:

My impulse was to include the help links from the current /thanks page but as far as I can tell no one has ever clicked them. 🤦‍♀️

[2021-01-29 09:01] alexgibson commented on #8440
Both of these links are the original intent notifications from 2020. Looking at the latest comments in the UA string freeze thread (which is the one that is most potentially impactful to bedrock), the latest comment s provide a little further information:

I suggest we keep an eye on the launch timeline here also: https://www.chromium.org/updates/ua-ch

For now, I think we best hold tight and keep

[2021-01-29 09:03] alexgibson commented on #9875
There's also this URL (you may need to update your master branch as it was only just added recentl)

http://localhost:8000/de/firefox/85.0/whatsnew/all/

[2021-01-29 10:13] alexgibson commented on #9855
This is now up on demo:

https://www-demo1.allizom.org/en-US/products/vpn/
https://www-demo1.allizom.org/en-US/products/vpn/invite/

[2021-01-29 16:12] rraue commented on #9872
Actually this is one of the main traffic drivers for this page and as I agree that the link gives these information to users somehow, search engines do not do this connection and even most user will not click, so I think this information is not crucial but a very big extra for users landing on the page and search engines to display the page as a solution for problems users search for.

So I hope w

[2021-01-29 17:50] #9858 closed

[2021-01-29 20:46] stephaniehobson commented on #9266
Looking at this as part of #9224

At the moment these pages have the download button on them that swaps out for android, ios, etc if the user is on mobile. I'm going to change that to be just the desktop download link, unless anyone objects.

I'd also suggest adding /ios and /android versions of the platform templates. These can display at /mobile/ios and /mobile/android and serve as evergreen fal

[2021-01-30 01:09] stephaniehobson opened #9883 "RU users see outdated /new page"
## Description

At the moment all users with RU as their language see an out dated version of the /new page. The old template is used because it has the logic for showing the Yandex page build into it when the geolocation indicates it's appropriate. RU is an active language for the long form /new page which has a higher conversion rate, it would be better to display that page to both sets of users

[2021-01-30 01:10] stephaniehobson commented on #9883
Wondering if we could simplify the page by making the content switch server side instead of client side.

[2021-01-30 01:11] stephaniehobson commented on #9266
I'm going to investigate the yandex page as part of https://github.com/mozilla/bedrock/issues/9883

[2021-01-30 04:24] Ayushsunny commented on #9872
I wanna work on this issue

[2021-01-30 04:25] Ayushsunny commented on #9880
What's the issue here,
I would like to work on this issue

[2021-01-30 04:27] Ayushsunny commented on #9870
I would like to work on this issue

[2021-01-30 05:18] Aayushap1 commented on #9875
I would like to work on this project. Please assign to me

[2021-01-30 15:14] Aayushap1 commented on #8516
I want to work on this issue plz assign this issue to me

[2021-01-30 15:23] Aayushap1 commented on #9740
I want to work on this project issue #9740. Please assign this issue to me.

[2021-01-30 15:24] Aayushap1 commented on #9880
Recently, I worked on a web project from where I come to know about github, I fell, I am capable for working on this issue.
so, I request you to please assign this work to me.

[2021-01-31 13:19] Aayushap1 opened #9887 "any"
## Description

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Providing a URL, screenshot.

### Expected result

What should happen?

### Actual result

What happened.

### Environment

What browser and operating system are you using?

[2021-01-31 13:20] #9887 closed

[2021-01-31 18:39] Aayushap1 commented on #9808
Hello @alexgibson , I would like to work on this issue please assign it to me.

[2021-01-31 18:40] Aayushap1 commented on #9808
I am new to the Mozilla organization please let me fix this issue.
And help me to make my 1st contribution to Mozilla.

[2021-02-01 16:09] hoosteeno commented on #9661
@slightlyoffbeat can you follow up and see if the measurement issues are resolved? That puts us in a position to run this test when VPN lands on bedrock.

[2021-02-01 16:11] #9600 closed

[2021-02-01 16:12] hoosteeno commented on #9601
The brief has been handed to Editorial/Brand teams. Rsmith reviewing.

[2021-02-01 16:13] #9767 closed

[2021-02-01 16:16] hoosteeno commented on #9855
@alexgibson fixing FxA params.

[2021-02-01 16:16] maxxcrawford commented on #9873
Thanks to @craigcook and @stephaniehobson for closing this out last Friday.

[2021-02-01 16:16] #9873 closed

[2021-02-01 16:18] hoosteeno commented on #9875
@justinkropp Can we call in a favor? Would you review the variations in https://github.com/mozilla/bedrock/issues/9875#issuecomment-769418011 and give us any feedback?

[2021-02-01 16:24] hoosteeno opened #9888 "Analytics review of floating promo box"
## Description

Let's review the performance of the floating promo box in in #9612 to see if it is having a positive impact. If it is, let's figure out how to move forward with it.

---

#### Success Criteria
- [ ] Analysis is attached here
- [ ] Decision made; cards built if needed

[2021-02-01 16:24] hoosteeno commented on #9888
@maxxcrawford can you tell Raphael when the card launched, and where, and anything else he needs to know?

[2021-02-01 16:36] stephaniehobson commented on #9266
Looking at this as part of #9224

At the moment these pages have the download button on them that swaps out for android, ios, etc if the user is on mobile. I'm going to change that to be just the desktop download link, unless anyone objects.

I'd also suggest adding /ios and /android versions of the platform templates. These can display at /mobile/ios and /mobile/android and serve as evergreen fal

[2021-02-01 16:37] stephaniehobson commented on #9266
Suggested title, description, and page heading for the new platform pages: https://docs.google.com/document/d/125FFxytmY_FUlAxiyLHp1-FqR0Jy0KCls_8kl9KEb38/edit (Mozilla only link)

@rraue I'd like your take on this before I talk to Tyler and legal.

[2021-02-01 16:38] stephaniehobson commented on #9266
Looking at this with fresh eyes I'm not sure I need to change the language on the platform pages. I think they can continue with their current ftl files.

[2021-02-01 16:44] justinkropp commented on #9875
Happy to. Feedback below (to be taken with a grain of salt ;) ):

**Opt A**
- the proximity between the QR code and the email input field feels too close
- if the idea is to gauge performance of email vs. QR code, or to just simply give the user a choice, this option feels problematic
- I could imagine a user entering their email and then questioning whether or not they need to also do something w

[2021-02-01 16:58] rraue commented on #9266
That would give us the landing pages and we can iterate on them for Tier 1 and have directly a fallback. That would be great. We have the mobile banner and we should add it to the pages, as I agree the button on that page should be desktop only but that way there is a path to get them on mobile as well.

I need access to the title doc, as the descriptions are a bit too long and I have a suggestion

[2021-02-01 17:16] stephaniehobson commented on #9872
@Ayushsunny please look for issues with the [good first bug](https://github.com/mozilla/bedrock/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Bug%22) or [help wanted](https://github.com/mozilla/bedrock/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted+%F0%9F%91%8B%22) labels. Other issues are not ready for contributor work. Other information in our [Contributor Docs](https://github.com/mo

[2021-02-01 17:28] stephaniehobson commented on #9872
@peiying2 what do you think of changing it to a bulleted list?

<img width="823" alt="Screen Shot 2021-02-01 at 09 27 31" src="https://user-images.githubusercontent.com/854701/106494802-bbcf3b00-646f-11eb-9b30-e03e10436cb8.png">

[2021-02-01 19:37] maxxcrawford commented on #9864
Note - I removed myself from this epic issue and assigned myself to the task #9875 as part of the epic.

[2021-02-01 21:54] maxxcrawford commented on #9875
@justinkropp Thanks for the feedback! I agree – Option B feel like the right balance. The app store links are optional to the widget, so they may or may not be there.

Changes made:
Swapped QR code to first/top action. By moving the email address below, the privacy disclaimer acts as a floor/spacer between either action and the app store links.

**Opt B - App Links Turned Off/Hidden**

![Combo v2

[2021-02-01 21:55] maxxcrawford commented on #9875
@stephaniehobson @craigcook Are there height restrictions we should be concerned with? These widgets are getting tall.

[2021-02-02 09:11] alexgibson opened #9890 "Simplify FxA link refferal code"
## Description

Our FxA referral code has grown considerably over time, and is now a somewhat complicated mess of logic and inter-related scripts. This is likely ripe for bugs over time imho, unless we make an effort to refactor / simplify how we do things. Here's a picture of the current set up:

- **`common.js` bundle**
  - `fxa-utm-referral.js` (responsible for passing through utm params from t

[2021-02-02 09:14] alexgibson commented on #9890
See also: https://github.com/mozilla/bedrock/issues/9144

[2021-02-02 11:11] Ayushsunny commented on #9872
Thanks a lot Ma'am

[2021-02-02 15:03] #9860 closed

[2021-02-02 16:13] hoosteeno opened #9892 "Update JQuery"
## Description

We should update JQuery on www.mozilla.org. See https://bugzilla.mozilla.org/show_bug.cgi?id=1686491 for more info.

---

#### Success Criteria
- [ ] JQuery is updated on the live site

[2021-02-02 16:47] maxxcrawford commented on #9888
@rraue Here's all the info I have on the promo box to date.

## Timeline

- Nov 19, 2020 – Sticky Promo Box lands on /new pages (#9406)
  - Note that the `download-location` attr was set incorrectly to `other` and is visible to only non-mobile browser traffic.
- Dec 4, 2020 – Sticky Promo box `download-location` attr revised to `sticky-promo-box` (#9721)
- Jan 21, 2020 – Sticky Promo [lands](https

[2021-02-02 17:14] #9807 closed

[2021-02-02 18:12] duallain opened #9894 "Epic: Rename Git Repo Branches To 'main'"
## Description

Using the new name of 'main' for the primary branch in our repos. Work includes doing the rename, locking down the old branch name, and ensuring the pipeline(s) continue to work after the rename.

Related jira story:
https://jira.mozilla.com/browse/SE-1401

Github information:
https://github.com/github/renaming

---

#### Issues
- [ ] bedrock
- [ ] www-config
- [ ] (Fill in this li

[2021-02-02 19:45] stephaniehobson commented on #9883
Two options for the updated Yandex page. A short one that has almost exactly the same content as the old one (updated icons) and a long one which has the /new page content after the opening Yandex content (if we go this way all the download buttons on the page will need to be updated).

I am going to move forward with the short for now because I think it will be easy to get approval. If we want to

[2021-02-03 10:19] alexgibson opened #9898 "firefox.com/set_hsts.gif request returns a 301?"
## Description
Noticed on our recent web page test reports that the request for https://firefox.com/set_hsts.gif returns a 301, and redirects to https://www.firefox.com/set_hsts.gif.

The redirect alone is sometimes taking up to ~4 seconds on some test runs: https://www.webpagetest.org/result/210202_Di1J_8bd837787be942591b060caad7f91c82/1/details/#waterfall_view_step1

[2021-02-03 10:21] alexgibson commented on #9898
@pmac is this 301 somehow intended behavior?

If so, what's the estimated life span for keeping this request in all pages of the site?

[2021-02-03 11:51] alexgibson commented on #9811
@hoosteeno any opinions on retiring this page?

My suggestion would be to redirect it to https://www.mozilla.org/en-US/firefox/

[2021-02-03 16:25] pmac commented on #9898
It is the intended behavior. It was implemented in order to set the HSTS header from the root domain (firefox.com) in order to fix an issue caused by setting said header earlier with the `include subdomains` directive. This may well be fixed now, so we may be able to remove it. The [issue where it was added](https://github.com/mozilla/bedrock/issues/9695) is here for more context.

[2021-02-03 16:27] rraue commented on #9888
The results for the newer pages are still inconclusive, as right now we do not have enough session data to see if the sticky promo box had a significant influence on the download rate. We should wait minimum 2 more weeks (better 4) to be sure on what kind of pages the sticky promo box worked and where not.

On /new, /firefox and /browsers we have enough data and can declare a significant uplift of

[2021-02-03 16:28] rraue commented on #9888
Blocked by sample size, we need to get back and redo the analysis in march again.

[2021-02-03 16:56] maxxcrawford commented on #9888
Is there any take aways from the first the pages on conversion for non-Firefox vs Firefox traffic? Specifically, does a non-download CTA work well in the floating box?

[2021-02-03 17:03] rraue commented on #9888
I did the analysis only on non-fx sessions for download rate. If we want to know what the sticky promo does for firefox users I am not sure if i am able to do that as our non-download goals are a bit clunky and I wouldn't know what to call a "conversion" in theses cases. If we want to do that, we would have to sit together with @hoosteeno and discuss

@maxxcrawford Could you elaborate in the quest

[2021-02-03 18:42] Adityachaturvedi2906 commented on #9855
Hi, can I contribute to this? please guide me further.

[2021-02-03 22:32] peiying2 opened #9899 "Incorrect grammar in en/firefox/browsers/compare/shared.ftl"
## Description

The string has a grammatical mistake. https://pontoon.mozilla.org/sl/mozillaorg/en/firefox/browsers/compare/shared.ftl/?string=212668

It reads `This page updated semi-quarterly to reflect latest versioning and may not always reflect latest updates.`

### Expected result

Correction: This page *is* updated semi-quarterly to reflect latest versioning and may not always reflect lates

[2021-02-04 00:08] peiying2 opened #9900 "en/privacy/index.ftl - Mozilla not coded as a brand"
## Description

I thought I called this out but I didn't verify that it was fixed: https://pontoon.mozilla.org/it/mozillaorg/en/privacy/index.ftl/?string=220089.

Note Mozilla in `Mozilla Websites, Communications &amp; Cookies` is not coded as a brand in the string.

### Expected result

Update the string so it includes *Mozilla* as a brand in the string.

@craigcook

[2021-02-04 00:17] craigcook commented on #9900
D'oh! I did change it but it got reverted back at some point. I'll fix.

[2021-02-04 15:56] alexgibson commented on #9855
Analytics doc: https://docs.google.com/document/d/1uXeiVno6xUGttsjqfN_9YXzIdV66I9F2iFiQ8_XHKIg/edit?usp=sharing
QA doc: https://docs.google.com/document/d/1-vkImox_A3a5xpX6B1Jt6F9EasivU8NsRXozPuwJ1MI/edit?usp=sharing

[2021-02-04 16:11] hoosteeno opened #9901 "RRA recommendation: Establish peer review of content publication."
A recommendation in the [RRA for Contentful](https://docs.google.com/document/d/1_eAmy8iK4cMfEPVKSuUG0xPxeufV3fmUbKpSWdBMlGY/edit#heading=h.t1vwvhh7e6x9) suggests establishing peer review for content changes. This suggests a governance structure.

Right now this governance is divided across all the different publication flows we have. Legal teams govern their content. Release notes teams govern th

[2021-02-04 16:14] hoosteeno opened #9902 "RRA recommendation: Automatically detect/alert on new 3rd party links"
A recommendation in the [RRA for Contentful](https://docs.google.com/document/d/1_eAmy8iK4cMfEPVKSuUG0xPxeufV3fmUbKpSWdBMlGY/edit#heading=h.t1vwvhh7e6x9) suggests monitoring content published on www.mozilla.org for new 3rd-party links. This could help avoid the worst-case scenario (malicious content serves malicious links to 3rd-party software).

Can we establish this at the point of integration (

[2021-02-04 16:19] #9471 closed

[2021-02-04 16:20] #9528 closed

[2021-02-04 16:20] #9529 closed

[2021-02-04 16:20] #9527 closed

[2021-02-04 16:20] #9473 closed

[2021-02-04 16:20] #9495 closed

[2021-02-04 16:50] alexgibson commented on #9902
See also: https://github.com/mozilla/bedrock/issues/9842

Imho, we may probably need multiple levels of checks. A site wide crawl will help to detect server generated content (via contentful), but may not capture content that gets created via client side manipulation. Some form of real-time reporting may help here.

[2021-02-04 20:34] hoosteeno opened #9905 "Replace Lockwise with VPN on /firefox"
## Description

We have outdated content on our /firefox page, and we don't have a good product ecosystem page. In the near term, we can repurpose the /firefox page to include a modern product ecosystem by swapping lockwise for VPN there.

Why is this a near-term solution?
* Because the page is branded Firefox, and we have non-Firefox-Branded stuff there (we've always had Pocket and now we'll add

[2021-02-04 20:47] alexgibson commented on #9905
Note that there’s only a single subscription link for VPN all clients, so a drop down with options may not strictly be necessary. However, we also need to consider that VPN is not available in all countries just yet, so we can’t really link directly to the subscribe flow.

My suggestion would be to link to the VPN landing page instead, which contains all the necessary logic for above.

[2021-02-04 20:56] hoosteeno commented on #9905
The point of putting them all there is for advertising our platform breadth, not to enable different flows. If we can communicate all the platforms somehow else, great.

I think we agreed in the VPN l10n meeting recently that figuring out what should happen for a user outside of a geography is logic we want to centralize in the VPN application. If someone outside of launch markets tries to subscri

[2021-02-04 20:56] #9736 closed

[2021-02-04 20:56] #9732 closed

[2021-02-04 21:02] slightlyoffbeat commented on #9741
I've captured our question around how to bring content model changes in from a different environment and I'm closing this card.

[2021-02-04 21:02] #9741 closed

[2021-02-04 21:03] #9737 closed

[2021-02-04 21:23] alexgibson commented on #9905
The landing page maintains a list of available countries for VPN, not locales. That’s the way it works today, so we should build toward that for now.

Abstracting this functionality to work on other parts of www is totally do-able too, but that’s for future work that’s still to be planned out.

[2021-02-04 22:07] masim1888 commented on #9892
is this fixed ?

[2021-02-04 22:22] #9892 closed

[2021-02-04 22:53] hoosteeno opened #9906 "Update Leadership Page"
## Description

Per [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1690911), please update the leadership page.

---

#### Success Criteria
- [ ] Bio is updated and changes launched

[2021-02-05 09:50] alexgibson commented on #9902
Might this also be a good opportunity to see if we can tighten up some of our CSP rules relating to CSS/JS, to reduce the possible surface for risks?

[2021-02-05 10:03] #9906 closed

[2021-02-05 13:31] Bhavik-Ardeshna commented on #9899
working on this issue

[2021-02-05 16:34] #9388 closed

[2021-02-05 16:34] #9809 closed

[2021-02-05 16:49] craigcook commented on #9388
@litkaemily Sorry this took so long! It's finally complete and will go live in our next deployment on Monday 8 February. Meanwhile you can see the changes at https://www-dev.allizom.org/privacy/

[2021-02-05 17:38] Bhavik-Ardeshna commented on #9899
Made PR please review it

[2021-02-05 17:39] Bhavik-Ardeshna commented on #9899
@peiying2

[2021-02-05 17:59] peiying2 opened #9909 "Should use gender neutral term in en/firefox/privacy/safe-passwords"
## Description

In https://pontoon.mozilla.org/en-CA/mozillaorg/en/firefox/privacy/passwords.ftl/?string=218027, `... If an attacker can get your password, he can access your account and do anything you could do with that account. ...`

### Expected result

Instead of `he`, suggest to use `they`, so the sentence needs to be rewritten: If *attackers* can get your password, *they* can...

[2021-02-05 23:38] stephaniehobson commented on #9883
Sent to stakeholders who will talk to Yandex for approval.

[2021-02-05 23:47] stephaniehobson commented on #9224
Current thinking:

1) Update Yandex to use the most recent /new template (Issue: #9883 PR: #9896).
2) Create a new "basic" template for the simple /new and platform page to share
3) Populate the basic template with existing strings from the download.ftl file. (Remove unused strings from this file).
    - use the old strings as fallbacks in places where we would like to update the copy.
4) Switch t

[2021-02-06 00:50] slightlyoffbeat commented on #9731
The purpose of this card was to evaluate capabilities before signing on with Contentful. We were able to validate that Contentful has the necessary capabilities around roles. This card will be closed and new cards can be created around more specific tasks if needed.

[2021-02-06 00:50] #9731 closed

[2021-02-06 00:54] slightlyoffbeat commented on #9459
We found an approach that works for us. We also asked the contentful team quite a few times about this approach, and they were not able to offer a better suggestion than what we decided to move forward with in our POC.

I've captured this question in case our solutions architect has additional insight or suggestions, but i'm closing this for now.

[2021-02-06 00:54] #9459 closed

[2021-02-06 00:57] slightlyoffbeat commented on #9458
This issue was related to building our POC. Its my understanding that we were able to achieve fetching data and storing outside of contentful, so I'm closing for now. I have, however, captured the question of best practices around this so that we can gain additional insight from the solution architect.

[2021-02-06 00:57] #9458 closed

[2021-02-06 00:58] slightlyoffbeat commented on #9740
This card was specific to the evaluation of contentful. Now that we are moving forward, there will be new issues opened, but closing this for now.

[2021-02-06 00:58] #9740 closed

[2021-02-06 01:00] slightlyoffbeat commented on #9470
Although I'm sure that additional best practices will come out during our quick start, we were able to learn about and utilize a few best practices regarding content model changes during the evaluation period.

Closing.

[2021-02-06 01:00] #9470 closed

[2021-02-07 08:12] Raunaksingh100 opened #9910 "Back to top button for quick navigate to top"
## Description

we can add Back to top button for quick navigate to top and this button help to quick navigate to top especially in desktop. You can add here the Back to top button see in the screenshot for the better understanding.

### screenshot-
![now](https://user-images.githubusercontent.com/65535360/107140763-5a650b80-694a-11eb-872d-8f030ad908d5.PNG)

[2021-02-08 09:10] #9899 closed

[2021-02-08 09:26] #9808 closed

[2021-02-08 09:37] alexgibson opened #9911 "Migrate legacy home page to Fluent"
## Description

https://www.mozilla.org/es-ES/

I had put off filing this issue in the hope that this page would be redesigned, but it looks like that's not happening [at least in the short term](https://github.com/mozilla/bedrock/issues/9880). Holding off migrating these strings is now preventing removing the entire legacy .lang system for bedrock, and it's been three years since filing https://g

[2021-02-08 09:52] alexgibson opened #9912 "The privacy/archive pages are missing a Fluent file"
## Description

The privacy/archive pages are showing Fluent IDs in the template instead of translated strings.

### Steps to reproduce

https://www-dev.allizom.org/en-US/privacy/archive/

### Expected result

The left navigation should show proper strings.

### Actual result

The left navigation shows Fluent IDs:

![image](https://user-images.githubusercontent.com/400117/107203404-4f19ea80-69f3-1

[2021-02-08 14:39] alexgibson commented on #9855
This is now ready for code review.

[2021-02-08 17:02] craigcook opened #9915 "Remove old contact pages"
We've closed some offices recently but still list them at /contact/spaces/. We should update these pages to reflect current reality. I know Taipei was permanently closed some time ago, and Mountain View has more recently officially closed and San Francisco is our new HQ. I'm unsure about the current status of some others so we should verify with folks in WPR for any other updates.

- [ ] Remove Ta

[2021-02-08 19:33] hoosteeno opened #9916 "Remove Mountain View, London and Taipei from contact/spaces"
## Description

Our office/space mix has changed, and we should update the /contact/spaces/ content to reflect those changes. We can remove Mountain View, London and Taipei.

---

#### Success Criteria
- [ ] Content about 3 spaces is removed from bedrock
- [ ] Changes launched

[2021-02-08 19:34] hoosteeno commented on #9916
Dupe of https://github.com/mozilla/bedrock/issues/9915

[2021-02-08 19:34] #9916 closed

[2021-02-09 09:04] alexgibson opened #9918 "Transparency Report H2 2020 [By Feb 31]"
## Description

H2 2020 report: https://docs.google.com/document/d/1nMU5luFkACU1hlQFm3wdM-iN9wg6rst8ToQckvUsIa8/edit?ts=601465f4#

Updates to transparency report landing page: https://docs.google.com/document/d/1owdF8cnUj8nbaSlsPzpW_xrqPu-ZYUPgvxxM3Kc6sfs/edit#heading=h.ebcn5arljv1

**Updates to [H1 2020 report](https://www.mozilla.org/en-US/about/policy/transparency/jan-jun-2020/):**

Please chan

[2021-02-09 10:31] alexgibson commented on #9900
Looks like this got fixed, closing

[2021-02-09 10:31] #9900 closed

[2021-02-09 13:08] #9912 closed

[2021-02-10 14:52] Ayush7614 opened #9920 "Added Contributers name in the README.md"
## Description

Add Contributers name in the README.md
---

#### Success Criteria

![screenshot-github com-2021 02 07-22_11_43](https://user-images.githubusercontent.com/67006255/107153115-d6cf0d00-6991-11eb-8bf5-aa0d555dff2c.png)

[2021-02-10 14:52] Ayush7614 commented on #9920
Like this

[2021-02-11 15:42] alexgibson opened #9922 "Pass experiment ID and variation data through to vpn.mozilla.org referrals"
## Description

As soon as https://github.com/mozilla/bedrock/issues/9855 is resolved, we'll have a new Mozilla VPN product landing page on www.mozilla.org at /products/vpn/ 🎉

Once the landing page is live, we'll also be able to start facilitating A/B tests in bedrock to drive conversion rate optimisations. If we started running those right away, we'd only have visibility on data related to top o

[2021-02-11 15:48] alexgibson commented on #9922
Possible pieces to this puzzle: on the FxA side

- https://github.com/mozilla/fxa/issues/6925
- https://github.com/mozilla/fxa/pull/7216

[2021-02-11 15:49] alexgibson commented on #9922
@hoosteeno @chrismore @slightlyoffbeat aside from the issue linked in the comment above, are you aware of any other issues related to unblocking this? Do these values need to be passed down to the subscription/payment level also?

[2021-02-11 16:02] chrismore commented on #9922
Not off the top of my head. Let's get feedback from @davismtl

[2021-02-11 18:17] slightlyoffbeat commented on #9922
It looks like we can now use `entrypoint_experiment` and `entrypoint_variation`. If that's the case, the only step would be to test and confirm.

I reached out to data science to see if someone can help with this. We can do a quick test on staging and confirm we are good to go.

[2021-02-11 20:48] alexgibson commented on #9922
Looking through our commit history it looks like we already have support for passing these parameters through in our FxA referral logic (I’d totally forgot we did this already, yikes).

https://github.com/mozilla/bedrock/issues/7589

If all is well, I’ll provide a URL and we can test this flow via the demo page.

Let’s wait to hear if there are any other pieces of the puzzle still missing though.

[2021-02-11 20:52] hoosteeno commented on #9922
I suspect, but I do not know for sure, that these parameters only get our experiment data into FxA metrics. How do parameters get through FxA servers to subscription platform metrics? Needs some digging to figure out.

[2021-02-12 09:53] alexgibson commented on #9818
We have around 50 locales on the new template, and it's been ~10 months since the page was redesigned. It seems doubtful that many more locales are going to catch up here.

[2021-02-12 10:35] alexgibson commented on #9442
In addition to this I think we should also strongly considering monitoring downloads before it even gets to GA. Case example: [this bug](https://github.com/mozilla/bedrock/issues/9615) was in the wild for 3 months, and lost us many downloads. Yet in GA everything looked fine.

See https://github.com/mozilla/bedrock/issues/9854 for ideas on solutions.

[2021-02-12 10:55] #9717 closed

[2021-02-12 20:18] hoosteeno commented on #9918
From email:

 A few small edits:

1.

Capitalize "United States" in the first sentence of the "Legal Process" section for the overall transparency report page

2.

For the correction in the H1 personal data requests:

Add a "*" before the correction and make the date next Wednesday, i.e.:

* This data was corrected on 17 February 2021.

3.

In the H2 report, the Copyright section should have 0 rat

[2021-02-13 16:29] Soundug commented on #9910
@Raunaksingh100 Hey! I am just starting to contribute to open source. I would like to work on this issue.

[2021-02-14 02:29] hoosteeno commented on #9812
R+, this is very sensible

[2021-02-15 10:36] alexgibson commented on #9812
/cc @peiying2 ^

We're not going to migrate the above pages to Fluent.

[2021-02-15 10:36] #9812 closed

[2021-02-15 10:38] alexgibson commented on #9811
Ok, this is the very last page. Rather then debate about what to do with it, it's going to be faster to migrate the content.

[2021-02-15 15:02] alexgibson opened #9926 "WNP 86 for DE / FR"
## Description

- /de/ Firefox Mobile promo via QRCode (adjust URL forthcoming)
- /fr/ Show the content from https://www.mozilla.org/fr/firefox/81.0/whatsnew/all/

---

#### Success Criteria
- [ ] Content is live before 23 Feb.

[2021-02-15 16:06] alexgibson commented on #9575
This needs to be done before Q1 2022, which is when Nightly will hit v100

[2021-02-16 13:48] alexgibson opened #9929 "GA not reporting FxA Sync devices correctly"
## Description

I have multiple active devices using Firefox Sync, however I don't see this being represented correctly in the data bedrock sends to GA. I think there's a bug in how we're reporting this data.

### Steps to reproduce

There's something not right in this piece of code: https://github.com/mozilla/bedrock/blob/master/media/js/base/core-datalayer-init.js#L36-L40

When I query `Mozilla.

[2021-02-16 19:13] peiying2 opened #9930 "German: Firefox Nightly Firstrun page contains obsolete links"
## Description

Check the discussion here: https://bugzilla.mozilla.org/show_bug.cgi?id=1692600

Though firefox/nightly/firstrun.ftl has been migrated, https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/templates/firefox/nightly/firstrun.de.html is a hardcoded page which contains obsolete links.

### Expected result

Either remove the template, and resort to the page offered to the oth

[2021-02-17 02:43] anilkanji opened #9931 "Request - add new board member to leadership page"
Hi there - can we please add a new Mozilla Foundation board member to the [Leadership page](https://www.mozilla.org/en-US/about/leadership/)?

Will forward image to @slightlyoffbeat  Dan Brown.

Thank you!

[2021-02-17 09:11] #9918 closed

[2021-02-17 09:15] Archaeopteryx commented on #9930
Recommendations:

Drop:
* @mozilla_deutsch
* Facebook
* Aktuelle Veranstaltungen - could be added again when they resume.

Replace:
* "www.mozilla.de" > "Mozilla-Neuigkeiten von Sören Hentzschel" linking to https://www.soeren-hentzschel.at/
* "IRC-Chat: #mozilla.de" with "Element-Chat: #mozilla.de" linking to https://chat.mozilla.org/#/room/#mozilla.de:mozilla.org
* "Mailing-Liste" > "Forum der Ge

[2021-02-17 09:58] alexgibson commented on #9926
Google doc (Mozilla access only): https://docs.google.com/document/d/1sKRnSFp6Lyxl4MVjsBglbDMYXrOx6sjwZnzq3fzdOSY/edit?usp=sharing

[2021-02-17 14:30] smitbarmase commented on #9931
I can work on this issue. Can you assign me?

[2021-02-17 15:20] alexgibson commented on #9926
Up on demo:
- https://www-demo2.allizom.org/de/firefox/86.0/whatsnew/all/
- https://www-demo2.allizom.org/fr/firefox/86.0/whatsnew/all/

[2021-02-17 15:47] #9911 closed

[2021-02-17 17:02] slightlyoffbeat commented on #9931
Details can be found here: https://docs.google.com/document/d/1J0LcYSfzGPPkq2WjuKAUNxX1yNHGpIVyngasMo8jrxg/edit?usp=sharing

[2021-02-17 17:53] #9811 closed

[2021-02-17 20:24] craigcook opened #9933 "WNP 86 for EN"
## Description

/en-*/ page promoting Firefox for mobile, featuring the send-to-device widget.

DE and FR are being done separately in https://github.com/mozilla/bedrock/issues/9926 and other locales will get the evergreen page (which also promotes mobile).

---

#### Success Criteria
- [ ] Content is live before 23 February

[2021-02-17 23:35] stephaniehobson commented on #9883
Approved by stakeholders.

[2021-02-18 09:26] alexgibson commented on #9926
Approved by stakeholders and ready for code review

[2021-02-18 13:28] WillatMozFdn opened #9935 "Small text change to Mozilla newsletter signup page at /newsletter"
## Description

We need a small change to the verbage on https://www.mozilla.org/newsletter/  ... to communicate a BENEFIT to the potential subscriber when they sign up for our Mozilla newsletter.  Currently the second sentence is focused on "us" when it needs to be focused on the reader/potential subscriber, and answer the question, "what's in it for me? Why should I let you into my inbox?".

OLD

[2021-02-18 17:54] rraue opened #9938 "Research & Decision GA goals"
## Description

We are bringing VPN into www and that creates problems with our GA goals. In our main view www productions we already have set 20 goals. Some of them might be not as important for our business as the VPN goals are. But GA is limited to 20 goals per view.

### Possible solutions:
1. We create three different views with three different goal sets
- One for VPN
- One for Firefox
- One

[2021-02-18 18:02] #9931 closed

[2021-02-19 09:03] #9926 closed

[2021-02-19 09:13] #9883 closed

[2021-02-19 09:38] alexgibson commented on #9938
The VPN goals have been configured and tested on demo1 as per the spec here: https://docs.google.com/document/d/1uXeiVno6xUGttsjqfN_9YXzIdV66I9F2iFiQ8_XHKIg/edit?usp=sharing

Setting these goals in production requires a resolution to this GitHub issue.

[2021-02-19 10:25] alexgibson opened #9940 "[Epic] Simplify CI pipeline / developer experience for test/deploy"
## Description

Whilst automated, the current procedure for deploying bedrock to stage/production has a complicated number of steps. A commit to the master branch in [bedrock](https://github.com/mozilla/bedrock/) triggers a commit to the master branch in [www-config](https://github.com/mozmeao/www-config), which is then also mirrored in the [respective](https://gitlab.com/mozmeao/bedrock/) [repos]

[2021-02-19 10:26] alexgibson commented on #9940
/cc @pmac and @duallain for thoughts ideas here.

[2021-02-19 14:16] lokeshn011101 commented on #9935
Hey! I just tried to make the required change by changing the text in `l10n/en/mozorg/newsletters.ftl` and in `lib/fluent_migrations/newsletter/index.py` but nothing seems to change when I refresh the page(running on docker). Can anyone help me with this so that I can create a merge request? I am new to Open Source and I am trying to contribute for the first time. Thanks in advance!

[2021-02-19 14:21] alexgibson commented on #9922
I've opened a pull request here for bedrock to automatically pass through `entrypoint_experiment` and `entrypoint_variation` params to FxA product buttons (such as the VPN links): https://github.com/mozilla/bedrock/pull/9941

This is only the top of funnel however. We still need to pass this data all the way down to the subscription platform.

[2021-02-19 14:43] alexgibson opened #9942 "Update vpn.mozilla.org links to point to /products/vpn/"
## Description

Once the VPN landing page is live on www, we should update bedrock's existing `vpn.mozill.org` links to point to `/products/vpn/`. This should be done before the VPN team redirects the old landing page to www (which will be [TBD] weeks after the new landing page goes live).

There are [only a few VPN links](https://github.com/mozilla/bedrock/search?q=vpn.mozilla.org) in bedrock cur

[2021-02-19 14:45] alexgibson commented on #9942
@slightlyoffbeat any thoughts / opinions here on the referral question for existing /whatsnew pages?

[2021-02-19 17:10] alexgibson opened #9943 "JS Karma error: Some of your tests did a full page reload!"
## Description

Occasionally when I run `npm run test` locally, Karma will throw an error saying `Some of your tests did a full page reload!` and abort the test run. I think there's a bug in one of our tests that only occurs depending on the order in which they run (which is intentionally randomised). I can't see any tests that call `window.location.reload()`, so it must be triggered by some other

[2021-02-19 17:17] alexgibson commented on #9930
Pull requests are always welcome if anyone in the community would like to make these updates

[2021-02-19 23:53] #9933 closed

[2021-02-20 12:43] Sayantani-sunshine commented on #9909
Hello.Is the issue open?Can I work on this?

[2021-02-20 12:46] Sayantani-sunshine commented on #9865
Hello. I am interested to  contribute here.I am a first timer.Can you help me out a little bit?

[2021-02-22 15:50] alexgibson commented on #9612
All the success criteria items here are done, so I think we can close this one out.

[2021-02-22 15:50] #9612 closed

[2021-02-23 09:11] #9818 closed

[2021-02-23 09:18] alexgibson opened #9946 "Remove jQuery from common JS bundle"
## Description

This is almost within reach. Depends on the following issues:

- https://github.com/mozilla/bedrock/issues/7673
- https://github.com/mozilla/bedrock/issues/7524
- https://github.com/mozilla/bedrock/issues/7523
- https://github.com/mozilla/bedrock/pull/9928

---

#### Success Criteria
- [ ] jQuery is removed from the `common.js` bundle.
- [ ] jQuery remains to support old IE browser

[2021-02-23 10:04] davehunt opened #9947 "Update performance regression policy"
## Description

The performance regression policy at https://www.mozilla.org/en-US/about/governance/policies/regressions/ is out of date. We need to update the contact details, add a section for sheriffing criteria, and a few other small updates. The updated content is here: https://docs.google.com/document/d/1v8Wyl_Bjp1uJxRxstjVPHSRLiQxHVdxa6oYAfomqEdI/edit#

---

#### Success Criteria
- [ ] Perf

[2021-02-23 10:08] alexgibson opened #9948 "Implement location based pricing for VPN landing page"
## Description

The VPN landing page being created in https://github.com/mozilla/bedrock/issues/9855 will initially show pricing in US$ only. Currency support for Euros is soon to be added to the VPN product and subscriptions flows. Once that is ready in product, then we'll also need to start display pricing in different currencies on the landing page. This should be done using geo-location (not p

[2021-02-23 10:12] alexgibson opened #9949 "Epic: VPN Landing page"
## Description

Creating this epic to track all the related issues for launching and updating the VPN landing page. I'll continue to add dependencies here as I create.

---

#### Issues
- [x] ~https://github.com/mozilla/bedrock/issues/9855 (landing page migration)~
- [x] ~https://github.com/mozilla/bedrock/issues/9922 (experiment referrals)~
- [x] ~https://github.com/mozilla/bedrock/issues/9942 (i

[2021-02-23 10:28] alexgibson opened #9950 "VPN Landing page: updates & localization"
## Description

- Update the VPN landing page design based on of qualitative testing.
- Open up the page for L10n.

---

#### Success Criteria
- [ ] Updated VPN landing page is exposed in Pontoon for L10n.

[2021-02-23 13:57] alexgibson commented on #9690
Added a check for this in https://github.com/mozilla/bedrock/pull/9932

[2021-02-23 13:57] #9690 closed

[2021-02-23 14:25] alexgibson commented on #9947
@davehunt pushed this to a demo so you can review before it goes out. Let me know if this looks ok? Thanks

https://www-demo2.allizom.org/en-US/about/governance/policies/regressions/

[2021-02-23 16:38] PFischbeck commented on #9930
I am working on a PR to resolve this. However, in the process I have noticed that there is an invisible `h3`, which I have partially highlighted here:
![hidden-h3](https://user-images.githubusercontent.com/2820802/108875229-3b7aa080-75fd-11eb-9fa9-37de7e5c0579.png)

The same issue appears with custom `firstrun` pages of other locales. What is the correct fix for this? Add `mzp-t-dark` to the `div`

[2021-02-23 16:53] davehunt commented on #9947
Looks good, thanks @alexgibson

[2021-02-23 16:57] alexgibson opened #9952 "Add support for VPN staging instances"
## Description

Like we do for FxA, it will be helpful for the VPN team if we can point to their [staging instance](https://stage-vpn.guardian.nonprod.cloudops.mozgcp.net/) on Dev=True environments. We should add support for this via an environment variable.

---

#### Success Criteria
- [ ] Dev=True instances of bedrock point to VPN staging environment.

[2021-02-23 17:11] craigcook opened #9953 "Add a feature page for Picture-in-Picture"
## Description

Create a new page about the Picture-in-Picture feature in Firefox.

---

#### Success Criteria
- [ ] The new page is live at /firefox/features/picture-in-picture/
- [ ] Add link to the features front page

[2021-02-23 17:11] craigcook commented on #9953
Rough mockup:

![image](https://user-images.githubusercontent.com/205591/108880386-182d0280-75b7-11eb-926b-01076d4209a8.png)

[2021-02-23 17:16] alexgibson commented on #9930
Good catch! Looks like this is a regression from a recent Protocol update that changed the way pages do theming. Adding a class of `mzp-t-dark` to the `.locale-specific` container DIV seems like a quick and simple enough solution to me.

[2021-02-23 17:20] rraue commented on #9953
Copy doc: https://docs.google.com/document/d/1qmreZTPBosyJyrkcBK-ptHuPc1UenK9cCOTQvm1V8AY/

Still not reviewed, creative team is on it.

[2021-02-24 00:59] #9930 closed

[2021-02-24 01:02] #9947 closed

[2021-02-24 09:59] alexgibson opened #9956 "WNP 87 for DE and FR (VPN)"
## Description

WNP 87 launches on March 23rd. The ask is to promote VPN Waitlist signups to German and French locales, ahead of the EU launch on April 14.

The page will present one of the following (TBD):

~a) Link to the /products/vpn/invite/ page via a CTA button (least effort)~
b) Contain an embedded waitlist signup form (most effort, but potentially higher conversion rate)

Brief (Mozilla Co

[2021-02-24 12:59] alexgibson opened #9957 "Misinformation SEO page"
## Description

Brief / copy doc: https://docs.google.com/document/d/1-jgNXYJVAcFgzcQrKKJTglG1wfv5mYjcZvPYCS5ZSEg/edit?usp=sharing (Mozilla access only).

---

#### Success Criteria
- [ ] Page is launched and available in Pontoon for L10n.

[2021-02-24 13:26] alexgibson commented on #9948
Update after input from @rraue:

We should try and implement an approach that uses:

1. A server side render of the appropriate currency via page locale.
2. Then a secondary client side render that also check geo-location and then updates the currency if different.

[2021-02-24 17:10] alexgibson commented on #9957
Demo page: https://www-demo2.allizom.org/en-US/firefox/more/misinformation/

Content / copy is not quite yet final

[2021-02-24 17:15] #9819 closed

[2021-02-24 19:25] maxxcrawford commented on #9562
I used the original screenshot to create this mockup.

Before:
![image](https://user-images.githubusercontent.com/2692333/109054657-bf876380-76a3-11eb-9a16-794cd795fff2.png)

Revised:
![image](https://user-images.githubusercontent.com/2692333/109054685-c4e4ae00-76a3-11eb-94c5-13a1bda8551a.png)

[2021-02-24 22:46] #9348 closed

[2021-02-24 22:46] #9915 closed

[2021-02-25 09:28] alexgibson commented on #9922
George is conducting some attribution tests on staging for these parameters, results are being added to this doc: https://docs.google.com/spreadsheets/d/170ZGZU-SNmkc_X2eRrxXQPh55NqLQKeuuu7hYnCszKs/edit?usp=sharing

[2021-02-25 13:49] alexgibson commented on #9957
Figma file: https://www.figma.com/file/qUifDE3R6wf9OgoNUePPlq/SEO-Pages-EU?node-id=101%3A2

[2021-02-25 16:39] rraue opened #9963 "Epic: VPN OS landing pages"
## Description

We will create 6 OS specific landing pages for VPN:

- Mozilla VPN for PC - url: w.m.o/products/vpn/desktop/
- Mozilla VPN for Windows 10 - url: w.m.o/products/vpn/desktop/windows/
- Mozilla VPN for Mac - url: w.m.o/products/vpn/desktop/mac/
- Mozilla VPN for Linux - url: w.m.o/products/vpn/desktop/linux/
- Mozilla VPN for Mobile - url: w.m.o/products/vpn/mobile/
- Mozilla VPN for

[2021-02-25 17:06] #9909 closed

[2021-02-25 17:12] #9935 closed

[2021-02-25 17:33] stephaniehobson commented on #9875
This is looking great.

I am worried about the height as well since user testing show it works best embedded in a page instead of in a modal. I liked how you had the buttons next to the QR code in the first one, so maybe we can just massage the copy? Or remove it completely.

[2021-02-25 20:16] maxxcrawford opened #9964 "Stub VPN SEO Subpages Template"
## Description

Create a new template based of the current VPN landing page.

- Part of Epic #9963
- ~Blocked by #9855~

---

#### Success Criteria
- [ ] VPN SEO subpages can be created based on this code base
- [ ] The VPN Landin Page can be updated independtly from this template, without breaking the SEO subpages

[2021-02-26 14:45] alexgibson commented on #9855
We have the all-clear from data science to launch this. Will aim to merge / push on Monday 🎉

[2021-02-26 15:39] zerokarmaleft commented on #9938
@alexgibson Goals cannot be deleted, only marked inactive. Repurposing goals on an existing view can lead to confusion long-term, so I recommend option 3 here, to create a new view that will contain VPN-only goals. The production moz.org view has goals that will need to be revised, but I will have a spec in-hand for that, and that should stay untouched for now.

[2021-02-26 15:45] alexgibson commented on #9938
Sounds good thanks @zerokarmaleft. I think option 3 is what @rraue has already set up, so we should be good to go.

Do you agree here @rraue?

[2021-02-26 16:13] #9830 closed

[2021-03-01 09:06] #9855 closed

[2021-03-01 10:45] alexgibson commented on #9963
Before localizing these SEO pages we should speak to Michelle Riband, as right now even the VPN Waitlist emails are still in English only, which does not make for a great experience for non-English languages.

[2021-03-01 12:40] alexgibson opened #9969 "Add language selection to VPN waitlist signup"
## Description

As soon as the VPN waitlist emails are localized, we may need to add language as a dropdown selection to the VPN invite form at /products/vpn/invite/.

Localized emails are a blocker to localizing the VPN landing page, as well as WNP 87.

---

#### Success Criteria
- [ ] Language selection is added to the VPN waitlist form.

[2021-03-02 13:34] alexgibson commented on #9938
Goals for VPN are registering ok in the new view we created in GA, so I'm going to close this issue. Thanks all!

[2021-03-02 14:47] alexgibson opened #9972 "Newsletter forms only pre-select country field if there's a dash in the locale code."
## Description

I think there's a bug in our newsletter code that attempts to pre-populate the country field based on the page locale.

### Steps to reproduce
Open either of the following URLs and expand the form by focusing on the email field:

- https://www.mozilla.org/en-US/newsletter/
- https://www.mozilla.org/es-ES/newsletter/

Notice how the country field is pre-populated with either "Englis

[2021-03-02 18:49] #9953 closed

[2021-03-03 13:41] alexgibson commented on #9956
Creative brief and (WIP) copy: https://docs.google.com/document/d/115yNcveTNs7reTp4ECkHZJpIzjK3XJ_uJiZucTv4CWA/edit?usp=sharing

[2021-03-03 17:49] craigcook opened #9976 "Update the products listed on /firefox/ and /firefox/products/"
## Description

The current Firefox landing page at /firefox/ features Lockwise, which is being phased out, and has no mention of Firefox Private Network, Firefox Relay, or Mozilla VPN. We should remedy that.

Mozilla VPN may be an awkward fit since it's not considered a "Firefox product" in terms of branding, but we already list Pocket which is also technically a separately branded product. We al

[2021-03-03 17:56] craigcook commented on #9976
See also https://github.com/mozilla/bedrock/issues/9905 ... this issue has a broader scope, it may supersede the previous one if we move ahead with doing more things. But if we limit to just the /firefox/ page the other issues covers that.

[2021-03-03 21:06] stephaniehobson opened #9977 "Hero component uses custom "subheading" instead of Protocol supported "tagline""
We should use the Protocol version.

[2021-03-04 13:39] alexgibson commented on #9922
Now that the mozorg VPN landing page is live, George is going to test the experiment params and try and find the referral data in the production database: https://www.mozilla.org/en-US/products/vpn/?entrypoint_experiment=test&entrypoint_variation=test

[2021-03-04 18:59] craigcook opened #9980 "Update Picture-in-Picture feature page with multi-window in time for March campaign"
## Description

We're promoting the new multiple-window PiP feature in relation to a seasonal US sporting tournament and we need to make some changes to the new PiP page to support that campaign. Some changes will be only shown to en-US and temporary, just for the duration of the campaign, but other changes will stay longer and be available to all locales.

---

#### Success Criteria

- [ ] New he

[2021-03-06 13:24] jyotibalodhi commented on #8930
Hello I would like to work on this issue, kindly help me to know how should I proceed with this?

[2021-03-08 09:58] alexgibson commented on #9942
The VPN team are going to redirect the (logged-out) old landing page to www this Wednesday, March 10th, so we're good to update all the remaining internal links.

[2021-03-08 10:29] alexgibson opened #9983 "Wrong capitalization of Yandex on the download page, RU locale"
See: https://bugzilla.mozilla.org/show_bug.cgi?id=1696476

[2021-03-08 15:11] alexgibson commented on #8930
Adding a CSS override for `ur` here would be the way to implement this: https://github.com/mozilla/bedrock/tree/master/media/css/l10n

Here's an example of a similar font override: https://github.com/mozilla/bedrock/blob/master/media/css/l10n/fa/intl.css

[2021-03-08 17:59] #9942 closed

[2021-03-08 18:17] #9952 closed

[2021-03-08 22:39] #9977 closed

[2021-03-09 09:21] alexgibson opened #9984 "Policy page updates"
## Description

1. A small edit to the [Distribution Policy](https://www.mozilla.org/en-US/foundation/trademarks/distribution-policy/), change the third bullet point to:

[code]

2. An update to the [Licensing Policy](https://www.mozilla.org/en-US/MPL/license-policy/) page. Copy updates are in track-changes here: https://docs.google.com/document/d/1Qv_jaUQO7XjMymhV5SA0N4u-KyUIZRpT03MtYB0lc3s/edit#

[2021-03-09 11:49] alexgibson opened #9985 "Make setting env variables for demo deployments easier"
## Description

Right now, figuring out how / where to set an environment variable for a demo instance isn't so easy.

- The [www-config repo](https://github.com/mozmeao/www-config/tree/master/configs) has some config files for dev/stage/prod environments.
- For demo deployments there's [app.json](https://github.com/mozilla/bedrock/blob/master/app.json) in the bedrock root folder, but this doesn't

[2021-03-09 14:30] rraue commented on #9980
We landed as well for a new hero title for en-US only, right?

[2021-03-09 16:24] craigcook commented on #9980
Correct, added to the list.

Copy deck: https://docs.google.com/document/d/1coHqAsb72qW1v0TB7yJ9lovMV12k1YuoEM1C1Nm59-c/edit

[2021-03-09 16:30] rraue commented on #9980
Do you have all assets to start? Today is deadline for assets. Else I go ping people.

[2021-03-09 17:18] #9957 closed

[2021-03-09 23:22] slightlyoffbeat opened #9988 "Adjust Contentful roles according to Mozilla Solution document"
We need to have some defined rolls. This includes:

- [ ] Developer Roll
- [ ] Removing delete option from everything except admin roll
- [ ] Read-only roll
- [ ] Author Roll
- [ ] Editor Roll

Details:
https://docs.google.com/document/d/15lAotxs4DgEnTBkmMP4I41ZjCh8McOVYVaabfUUinE4/edit?usp=sharing

[2021-03-09 23:27] slightlyoffbeat opened #9989 "Build capabilities to preview a page"
For our proof of concept, we created the ability to preview the homepage that we recreated in contentful.

Lets take that work, and apply it to the page component.

***

**Success Criteria**

- [x] Create a new page content type and preview that page as it is built
- [x] Ability to share page preview to stakeholders for review

[2021-03-09 23:47] slightlyoffbeat opened #9990 "Fetch contentful data and store data in bedrock db"
In our proof of concept, we took the following approach:

1. We'll use the Contentful Content API to fetch updated pages, layouts, and cards every 5 minutes from the bedrock clock pod, like we do with all external content.
2. When we receive an updated card we'll fetch the associated image.
- we'll fetch the image at certain dimensions depending on the card size and aspect ratio
- we'll potentiall

[2021-03-09 23:50] slightlyoffbeat opened #9991 "Build capabilities to preview an individual component."
The ability to preview a page component is a P1, but should we also include the ability to preview individual components? Is that a useful or necessary use-case?

[2021-03-09 23:52] slightlyoffbeat opened #9992 "Integrate Smartling with Contentful"
Smartling is available to us on March 16th. Lets activate the Smartling app for Contentful and hook it into our process.

***

**Success criteria**

- [ ] Smartling app is authenticated in contentful
- [ ] Can submit content to be translated
- [ ] Can track submissions
- [ ] Is able to publish page from Contentful with translated content from contentful

[2021-03-09 23:57] slightlyoffbeat opened #9993 "Determine workflow for pontoon and community translations"
Smartling will handle our translations for EN, FR, DE, and 5 of our other top languages. Other languages will still be handled by pontoon and community translators.

Open questions:

- Do we need to include support for languages not handled by Contentful? Or are Contentful pages only available in those 8 languages?
- If we include community languages, how do we handle this?
- Do we build the capab

[2021-03-10 00:00] slightlyoffbeat opened #9994 "Content Model Changes: Automation & Versioning"

[2021-03-10 00:08] slightlyoffbeat opened #9995 "Update Protocol to include necessary components for MVP page"
We have identified additional components or options that are needed in Protocol in order to use protocol to build pages.

This work will likely be tracked at the protocol repo, but progress can be updated here.

***

**Protocol Updates**

- [x] Section Title
- [x] Columns of Text
- [x] Split Block
- [x] Cleaning up Picto Block

[2021-03-10 00:12] slightlyoffbeat opened #9996 "Allow for pages to be published live from Contentful"
Part of the power of Contentful is the ability to ship pages to www.

Lets use this card to discuss our approach, and what is necessary to make this happen.

***

**Requirements to publish live:**

- Must have peer review of content (see: #9901)
- Must verify the safety of 3rd party links (see: #9902)
- Translations are complete
- Approval by legal, editors
- ???

[2021-03-10 00:18] slightlyoffbeat opened #9997 "Content Model: naming"
Naming is hard. Lets look at our Contentful content model and our Protocol naming scheme and clean up where we can.

We should take advice and input from content creators.

Naming will always be ongoing, so we should determine a reasonable goal for what our v1 content naming.

[2021-03-10 11:11] #9980 closed

[2021-03-10 13:16] alexgibson commented on #8874
https://www.mozilla.org/en-US/firefox/features/picture-in-picture/

[2021-03-10 13:16] #8874 closed

[2021-03-10 14:06] alexgibson commented on #9948
Back of a napkin logic so far:

- Is VPN available in country?
    - Yes
        - Is visitor in Germany / France and locale in [‘de’, ‘fr’]
            - Yes
                - Display variable pricing options
                    - Monthly, Quarterly, Annually (TBD)
                    - Display in Euros.
            - No
                - Display standard pricing option in $US
    - No
        -

[2021-03-10 16:21] alexgibson commented on #9956
Design: https://www.figma.com/file/UMwBjBahX6ErRjUM2tRi42/WNP-EU?node-id=0%3A1

[2021-03-10 19:56] slightlyoffbeat commented on #9991
From Contentful: they suggest only having preview on page content types and disabling for other blocks/components. We may consider closing this issue.

[2021-03-11 03:47] craigcook opened #9999 "WNP 87 for English (Picture-in-Picture)"
## Description

Promoting Picture-in-Picture with some emphasis on the new multiple-window feature. US English specifically might reference the March basketball tournament that shall not be named while en-GB and en-CA might be more general.

DE and FR get their own custom pages, other locales will get the evergreen fallback.

Copy and assets to come.

[2021-03-11 08:59] alexgibson commented on #9922
George has done a successful test using the entrypoint parameters from www -> subscription data. He still has some work to do in terms of how to leverage this data in reporting, but I think we can close this issue as referrals are now working as expected 🎉

[2021-03-11 08:59] #9922 closed

[2021-03-11 09:45] alexgibson commented on #9948
Pricing models (Mozilla Confidential): https://docs.google.com/document/d/13Zcr_isg8gmfIBgNbcNR2WRh0YJSUk7e4UWOlbRuKHQ/edit?usp=sharing

[2021-03-11 18:30] craigcook opened #10000 "Update hero image on PiP feature page"
## Description

The en-US page currently uses an illustrated hero image that we want to swap with a version with photos.
https://drive.google.com/file/d/10SppKsbXn1QLsjvQ7fb9_cFMpx8KG2i2/view

Also:
![image](https://user-images.githubusercontent.com/205591/110836222-a9a5a100-8254-11eb-92d1-9b850aa2a619.png)

[2021-03-11 23:07] #10000 closed

[2021-03-12 15:58] alexgibson opened #10002 "Add message for users who try and sign-in to VPN but are not yet subscribers."
## Description

If someone clicks "Sign-in" on the VPN page and they are not yet a subscriber, but DO already have a Firefox Account, then they are kicked back to the landing page without a message.

### Steps to reproduce

1.) Visit https://www.mozilla.org/en-US/products/vpn/
2.) Click "Sign-In" in the top right navigation.
3.) Sign-in with your Firefox account (must not already be a VPN subscrib

[2021-03-12 16:05] alexgibson commented on #10002
Note: the proposed idea for a fix is someone on the VPN team will provide a query parameter in the redirect which we can act as a signal for the messaging.

[2021-03-12 16:53] alexgibson commented on #9950
Copy doc: https://docs.google.com/document/d/1iSA4iAsI5npi8M1ATbqE6RLjLPzCwNKDyVwtlUm7wmY/edit?usp=sharing

[2021-03-12 17:28] alexgibson opened #10003 "Update VPN goals in GA to support variable pricing options."
## Description

When VPN launches in France & Germany there will be three variable pricing options for subscriptions. We need to update goals in GA so we can understand which subscription options convert the best on the landing page. We'll also need to ensure that the current subscription intent goal continues to register in existing wave 1 markets.

---

#### Success Criteria
- [x] VPN GA goals a

[2021-03-12 20:57] maxxcrawford opened #10004 "Update /firefox/central redirect to point to /firefox"
## Description

Currently, http://mozilla.org/firefox/central points to https://support.mozilla.org/kb/get-started-firefox-overview-main-features. It needs to point to the root /firefox instead.

---

#### Success Criteria
- [ ] Visiting the /firefox/central redirects correctly.

[2021-03-12 20:58] maxxcrawford commented on #10004
Prevous Bugzilla Bug, originally putting this in place: https://bugzilla.mozilla.org/show_bug.cgi?id=979527

[2021-03-12 21:10] maxxcrawford commented on #10004
@mhoye We should confirm that we have the same level of l10n coverage for this page, as the SUMO page.

[2021-03-13 19:44] Kaushal-Dhungel commented on #9983
Hello @alexgibson . I would like to work on this issue.

[2021-03-14 15:01] alexgibson commented on #9983
Pull requests are welcome

[2021-03-15 05:41] Ayushsunny commented on #10004
I would like to work on this issue

[2021-03-15 15:00] shahbaz17 commented on #8930
Thanks @jyotibalodhi for taking this issue.

Let me know the progress, looking forward to seeing the new fonts in this project.

[2021-03-16 09:11] alexgibson commented on #9969
This will be fixed in https://github.com/mozilla/bedrock/pull/9975

[2021-03-16 17:09] #9964 closed

[2021-03-16 17:16] maxxcrawford opened #10006 "Create VPN Mobile Page"
## Description

Create Mobile VPN Platform page

- Part of Epic #9963

---

#### Success Criteria
- [ ] Content should match the [copy doc](https://docs.google.com/document/d/1dAh_1fX9kHe7yDRH1GsS2Ho0l316JI9T1whBi5KdCws/edit?ts=6036c9e1) and the previous launched [VPN Desktop page](https://www-dev.allizom.org/en-US/products/vpn/desktop)
- [ ] Approved by stakeholders

[2021-03-16 17:16] maxxcrawford opened #10007 "Create VPN iOS Page"
## Description

Create iOS VPN Platform page

- Part of Epic #9963

---

#### Success Criteria
- [ ] URL should be `/products/vpn/mobile/ios`
- [ ] Content should match the [copy doc](https://docs.google.com/document/d/1dAh_1fX9kHe7yDRH1GsS2Ho0l316JI9T1whBi5KdCws/edit?ts=6036c9e1) and the previous launched [VPN Desktop page](https://www-dev.allizom.org/en-US/products/vpn/desktop)
- [ ] Approved by

[2021-03-16 17:17] maxxcrawford opened #10008 "Create VPN Android Page"
## Description

Create VPN Android Platform page

- Part of Epic #9963

---

#### Success Criteria
- [x] URL should be `/products/vpn/mobile/android`
- [x] Content should match the [copy doc](https://docs.google.com/document/d/1dAh_1fX9kHe7yDRH1GsS2Ho0l316JI9T1whBi5KdCws/edit?ts=6036c9e1) and the previous launched [VPN Desktop page](https://www-dev.allizom.org/en-US/products/vpn/desktop)
- [ ] App

[2021-03-16 17:19] maxxcrawford opened #10009 "Create VPN Windows 10 Page"
## Description

Create VPN Windows 10 Platform page

- Part of Epic #9963

---

#### Success Criteria
- [x] URL should be `/products/vpn/desktop/windows`
- [x] Content should match the [copy doc](https://docs.google.com/document/d/1dAh_1fX9kHe7yDRH1GsS2Ho0l316JI9T1whBi5KdCws/edit?ts=6036c9e1) and the previous launched [VPN Desktop page](https://www-dev.allizom.org/en-US/products/vpn/desktop)
- [ ]

[2021-03-16 17:19] maxxcrawford opened #10010 "Create VPN Mac Page"
## Description

Create VPN Mac Platform page

- Part of Epic #9963

---

#### Success Criteria
- [ ] URL should be `/products/vpn/desktop/mac`
- [ ] Content should match the [copy doc](https://docs.google.com/document/d/1dAh_1fX9kHe7yDRH1GsS2Ho0l316JI9T1whBi5KdCws/edit?ts=6036c9e1) and the previous launched [VPN Desktop page](https://www-dev.allizom.org/en-US/products/vpn/desktop)
- [ ] Approved b

[2021-03-16 17:19] maxxcrawford opened #10011 "Create VPN Linux Page"
## Description

Create VPN Linux Platform page

- Part of Epic #9963

---

#### Success Criteria
- [x] URL should be `/products/vpn/desktop/linux`
- [x] Content should match the [copy doc](https://docs.google.com/document/d/1dAh_1fX9kHe7yDRH1GsS2Ho0l316JI9T1whBi5KdCws/edit?ts=6036c9e1) and the previous launched [VPN Desktop page](https://www-dev.allizom.org/en-US/products/vpn/desktop)
- [ ] Approv

[2021-03-17 02:50] maxxcrawford commented on #10008
@rraue I'm blocked on this issue until copy is complete/approved.

[2021-03-17 05:49] #9956 closed

[2021-03-17 09:48] #9969 closed

[2021-03-17 12:03] Kaushal-Dhungel commented on #9983
I am unable to locate the bug. I do not know Russian and I do not see the same button as mentioned in https://bugzilla.mozilla.org/show_bug.cgi?id=1696476
![Screenshot at 2021-03-17 17-07-17](https://user-images.githubusercontent.com/57295839/111463357-98bec900-8747-11eb-86e2-6e8226943b2b.png)

Am I missing something here??

[2021-03-17 12:26] Ayushsunny commented on #9983
Exactly, I agree with you Kaushal.
Though I know Russian but still I'm unable to recognise the bug, I was checking the codebase again and again from 7-8 days.
 @alexgibson Please help us to see forward

[2021-03-17 12:40] alexgibson commented on #9983
I searched for the string in question and it looks to be in this template: https://github.com/mozilla/bedrock/blob/c36684d6468ba5b35582339182d58412331c0297/bedrock/firefox/templates/firefox/new/desktop/download_yandex.html#L80

[2021-03-17 12:41] alexgibson commented on #9983
You can preview the page via the URL: `/ru/firefox/new/?geo=ru`

[2021-03-17 15:15] Kaushal-Dhungel commented on #9983
Thanks. If I understood it properly then it should be `Скачать Firefox с Яндексом` in place of `Скачать Firefox без Яндекса` right??

[2021-03-18 04:36] Ayushsunny commented on #9984
Can I work on this issue?

[2021-03-18 17:07] stephaniehobson commented on #9997
Here's the Google Doc where I am keeping track of naming decisions: https://docs.google.com/document/d/1DbC-ksBTQtNYw75-GtNwhiSrf7QX4G9pIIIEusOzEUs/edit#heading=h.d7ouznb3df46 (mozilla only)

[2021-03-18 18:47] #10006 closed

[2021-03-18 18:47] #10007 closed

[2021-03-18 18:47] #10009 closed

[2021-03-18 18:47] #10010 closed

[2021-03-18 18:47] #10011 closed

[2021-03-19 12:46] alexgibson commented on #9950
A/B test plan for headlines: https://docs.google.com/document/d/1clUSwKb3hkX9Fp-rNAV4PgdXwfI7l1aOZTSBaIIJbuY/edit?usp=sharing

[2021-03-19 15:21] alexgibson opened #10025 "Mozilla VPN privacy notice should use VPN logo"
On the VPN privacy notice page (privacy/mozilla-vpn/), there is a logo missing:

https://www.mozilla.org/en-US/privacy/mozilla-vpn/

![image](https://user-images.githubusercontent.com/400117/111803224-c3835b80-88c6-11eb-8c59-3959aa738268.png)

[2021-03-19 19:57] #10004 closed

[2021-03-22 09:26] #9950 closed

[2021-03-22 14:53] birdsarah commented on #10002
We will be redirecting with the GET param `vpn-sub-not-found=true`. In this case.

[2021-03-22 15:15] #10025 closed

[2021-03-23 09:13] #9983 closed

[2021-03-23 15:05] maxxcrawford opened #10032 "Update VPN platform pages to match VPN landing page"
## Description

The VPN landing page was updated on Mon, March 22. The VPN platform pages need to be revised to match the new layout and migrate strings into the new shared FTL file.

- [ ] /products/vpn/desktop/
- [ ] /products/vpn/desktop/linux/
- [ ] /products/vpn/desktop/mac/
- [ ] /products/vpn/desktop/windows/
- [ ] /products/vpn/mobile/
- [ ] /products/vpn/mobile/android/
- [ ] /products/vp

[2021-03-23 15:06] maxxcrawford commented on #10032
Note @craigcook's comment from previous review:
https://github.com/mozilla/bedrock/pull/10031#discussion_r599062625

[2021-03-23 16:28] maxxcrawford opened #10033 "Update VPN Server count for platform pages"
## Description

The current server count is `280`. It should be `750`

Part of Epic #9963

---

#### Success Criteria
- [ ] All instances of server count is set to `750`

[2021-03-23 16:29] #10008 closed

[2021-03-23 16:45] #10033 closed

[2021-03-23 18:33] maxxcrawford opened #10036 "Epic: Subnavigation component enhancements"
## Description

**What is the overall outcome we aim to achieve?**
Add new features to the subnav component for better user experience and page linking.

_Note that these features are all not final. This issue can serve as a discussion for the refinements._

---

**Features include:**
- #10037: Tertiary navigation (including collapsed on mobile)
- #10038: Styling applied to active page element
- ~

[2021-03-23 18:34] maxxcrawford opened #10037 "Update subnav component to support tertiary navigation"
## Description

The current subnav only supports one level of links. What is it needs to support more?

Part of Epic #10036

---

#### Success Criteria
- [ ] Sub nav supports adding tertiary (third-level) links

## Screenshots

Desktop:
![image](https://user-images.githubusercontent.com/2692333/112199684-66481c80-8bdc-11eb-9aa4-4c4c1f59283d.png)

Mobile:
![image](https://user-images.githubusercont

[2021-03-23 18:37] maxxcrawford commented on #10036
cc/ @rraue @craigcook

[2021-03-23 18:42] maxxcrawford opened #10038 "Subnav link does apply styling to show when on active page"
## Description

Part of Epic #10036

---

#### Success Criteria
- [ ] When sub nav is present on a page, the nav link should be active to reflect which page the user is on.

## Screenshots

Active state example:

<img width="418" alt="image" src="https://user-images.githubusercontent.com/2692333/112200563-5977f880-8bdd-11eb-9e63-b625018d5911.png">

[2021-03-23 18:47] birdsarah opened #10039 "Add html anchor to pricing section of VPN Product page"
## Description

Because we need to be able to link people at certain points of payment flow direct to the pricing area of VPN page, add an anchor for this purpose

---

#### Success Criteria
- [x] #pricing anchor takes you to pricing boxes

[2021-03-23 18:58] maxxcrawford commented on #10036
Curious if having a breadcrumb component would be an alternate to altering the subnav component?

[2021-03-23 18:58] birdsarah opened #10040 "Append query string to subscription links if present"
## Description

At certain points in VPN sign-up flow we need to maintain context of where a user has come from. If query param `in-client-flow=true` if present, append it to pricing links to be able to correctly put users back into client flow.

---

#### Success Criteria
- [ ] if `in-client-flow=true` is in query params, it should be appended to pricing links

[2021-03-24 10:34] alexgibson commented on #10039
Let's use https://www.mozilla.org/products/vpn/#pricing

[2021-03-24 16:02] craigcook commented on #10036
We have a design for breadcrumbs in the footer, but we ended up punting on it because generating those links automatically on every page is A Whole Thing. Since we weren't going to roll it out yet I never even built the component to house it. But we could do so now and treat it like we do the subnav as hand-made, sometimes-present element. And if we want top-of-page breadcrumbs (where humans will

[2021-03-24 16:06] rraue commented on #10036
It would be if it would be just about crawling. But I think a breadcrumb serves different needs than a subnav. The breadcumb should be all logical about parent - child connections. In the subnav while doing the same if not otherwise set, we should be able to do connections for a given page to pages somewhere completely else on our site or even external.

A good example would be linking in the subn

[2021-03-24 18:09] maxxcrawford opened #10044 "Update VPN Android Strings (www-l10n)"
See code review from @peiying2 here: https://github.com/mozilla-l10n/www-l10n/pull/179

Part of Epic #10036

[2021-03-24 21:03] birdsarah commented on #10040
I have some investigating to do. This may not be necessary. Lets say this issue is blocked until I get back to you.

[2021-03-24 21:14] slightlyoffbeat opened #10046 "Convert the 85 WNP to a moments page"
There is a request to convert the 85 WNP to a moments page. This page would be used to compare engagement in the moments channel vs the WNP.

Notes:
- The request is to have the page be identical in order to have a good point of comparison.
- EN only

[2021-03-24 21:17] slightlyoffbeat opened #10047 "Change "Addons" to "Add-ons" on mozilla.org"
In an effort to be more consistent, we should change "Addons" to "Add-ons" so that we are aligned with AMO.

One example where this will need to be changed is the subnav:

https://www.mozilla.org/en-US/firefox/new/

[2021-03-24 21:28] #10044 closed

[2021-03-25 08:11] slightlyoffbeat commented on #10046
I suspect that the request is actually to convert the 85 WNP. I'll confirm with Lauren.

[2021-03-25 08:28] prsndp commented on #10047
Hii, @slightlyoffbeat I want to work on this issue can you assign me, please?

[2021-03-25 14:03] alexgibson opened #10049 "WNP 88 for DE / FR (VPN)"
## Description

Brief: https://docs.google.com/document/d/1wqCv6_hiAsNcDE1YfMnTSsS41S8kst2vUTgKNANM1to/edit?usp=sharing
Design: https://www.figma.com/file/UMwBjBahX6ErRjUM2tRi42/WNP-EU?node-id=64%3A30

---

#### Success Criteria
- [ ] Live in prod for April 20

[2021-03-25 15:57] craigcook opened #10050 "WNP 88 for EN"
## Description

Firefox 88.0 releases on April 20, 2021. We'll need a what's new page for that release.

---

#### Issues
- [x] #10093 - Coding Setup Task
- [x] #10095 - Approved Copy
- [x] #10094 - Approved Design
- [x] #10096 - Final coding

---

#### Success Criteria
- [x] Page is live by April 20

[2021-03-26 11:56] alexgibson opened #10053 "Pass attribution from /whatsnew pages to the VPN landing page"
## Description

Right now if we build a /whatsnew page that links people to /products/vpn/, we can use GA to tell how many people click through to the landing page, and how many of those people go on to register a goal on the landing page. However once someone clicks a subscription button and goes onto purchase, well lose that they originally came from the /whatsnew page. All we'll know is they ca

[2021-03-26 14:32] alexgibson commented on #10003
@rraue I took a pass at implementing goals for the new pricing models in GA on www-demo1. When you have some time, can you please review to help me sanity check? If you reach out to me on Slack I'll provide a demo link where you can test.

[2021-03-26 14:41] alexgibson commented on #10049
Note: this will now be a rerun of the 87 /whatsnew page. The page/design linked above will be featured in 89.

[2021-03-29 08:44] alexgibson opened #10054 "In GA events fired using `data-cta-type` are not captured correctly in older browsers."
## Description

Over the past year we've seen nearly 3 million events fired in GA with an event action label of `cta:` (where the value after `cta` is blank/missing). A total of 43% of these events are from Internet Explorer, and the rest are from older versions of other browsers (legacy Firefox versions mostly).

This means that any goals that rely on the event action label are likely misreportin

[2021-03-29 08:55] alexgibson commented on #10054
From what I can tell, this is a bug in Google Tag Manager and not something specific to code in bedrock.

[2021-03-29 14:34] ValentinaPC opened #10057 "“Join to Waitlist” success page has an incomplete URL"
*Affected versions:*
 * All Firefox;

*Affected FxA versions:*
* 1.203.2;

*Affected Platforms:*
* Windows 10;

 *Prerequisites:*
* Be in a region were VPN is not available;

*Steps to reproduce:*
1. Open VPN homepage https://www-demo1.allizom.org/en-US/products/vpn/
2. Click on “Join to Waitlist” button;
3. Fill all mandatory fields;
4. Click “Join to Waitlist” from the bottom;

*Expected result:

[2021-03-29 14:40] alexgibson commented on #10057
@ValentinaPC hi, can you explain why the expected result is a different page URL? (we originally decided this was surplus to requirements when migrating, as the form doesn't strictly require a server-rendered URL on mozorg).

[2021-03-29 14:54] alexgibson commented on #10054
/cc @slightlyoffbeat

[2021-03-29 16:41] birdsarah commented on #9948
Staging pricing links are as follows:

* misc USD plan - /r/vpn/subscribe/products/prod_FiJ42WCzZNRSbS?plan=plan_FiJ55YK6UYftP
* 99.99/yearly/eu - /r/vpn/subscribe/products/prod_FiJ42WCzZNRSbS?plan=price_1IXw5oKb9q6OnNsLPMkWOid7
* 49.99/6-month/eu - /r/vpn/subscribe/products/prod_FiJ42WCzZNRSbS?plan=price_1IXw5NKb9q6OnNsLLIyYuhWF
* 4.99/monthly/eu -  /r/vpn/subscribe/products/prod_FiJ42WCzZNRSbS?p

[2021-03-29 17:19] birdsarah commented on #9948
Staging pricing links are as follows:

Mozilla Confidential: https://docs.google.com/document/d/1k9JUJqdMeG4ro8R_-H1FzQl2wOTj9XZrDKvXNcCJP2M/edit?usp=sharing

Production pricing links will be different, and I don't have yet.

[2021-03-29 17:56] #10049 closed

[2021-03-30 07:20] gkabbz commented on #10053
Yes we'll definitely need the whatsnew attribution to be passed given it's importance as an acquisition channel for owned media. I'd recommend utm_source=whatsnew or utm_source=mozilla.org-whatsnew (depending on which of these will be accepted by the FxA regex). I think it's helpful if the source does not have the whatsnew version number as it makes it easier to aggregate across multiple whatsnew

[2021-03-30 07:53] alexgibson commented on #10053
Sounds good, thanks @gkabbz!

[2021-03-30 08:08] alexgibson commented on #10053
Given the above recommendations, let's use something like:

Source URL: https://www.mozilla.org/products/vpn/?source=whatsnew88

Leads to subscription URL params like so:

- entrypoint=www.mozilla.org-whatsnew
- utm_source=www.mozilla.org-whatsnew
- utm_campaign=whatsnew88

@gkabbz I'm assuming here that `entrypoint` should always be the same as `utm_source`, which is a rule we generally stick to.

[2021-03-30 09:02] ValentinaPC commented on #10057
@alexgibson hello, I misunderstood the expected results for redirections in Sarah's [doc](https://docs.google.com/document/d/1uTp-j0A_01A4WrNKmrKC2ynnpgdHuzAEHdcPLOh_8pA/edit?ts=605c1eac#heading=h.mvkppc1mtpae), that mentions that for both `/vpn/invite`, `/vpn/invite/success` we should load the same invite page.
Sorry about the noise.

[2021-03-30 09:02] #10057 closed

[2021-03-30 09:11] ValentinaPC opened #10060 "The “Join to Waitlist” success page has incomplete description"
*Affected versions:*
 * All Firefox;

*Affected FxA versions:*
* 1.203.2;

*Affected Platforms:*
* Windows 10;

 *Prerequisites:*
* Be in a region were VPN is not available;

*Steps to reproduce:*
- Open VPN homepage https://www-demo1.allizom.org/en-US/products/vpn/
- Click on “Join to Waitlist” button;
- Fill all mandatory fields;
- Click “Join to Waitlist” from the bottom;
- See the page content

[2021-03-30 09:13] alexgibson commented on #10060
The aforementioned string is obsolete and has been removed on the demo server linked above.

[2021-03-30 09:15] #10060 closed

[2021-03-30 16:17] alexgibson opened #10063 "Dev Edition: differentiate headline of upgrades from new installations"
See: https://bugzilla.mozilla.org/show_bug.cgi?id=1700518

[2021-03-30 16:20] alexgibson opened #10064 "Firefox for Android Beta release notes outdated by over one year"
See: https://bugzilla.mozilla.org/show_bug.cgi?id=1701489

[2021-03-31 00:09] slightlyoffbeat commented on #10064
I reached out to Mei in product marketing to see how release notes are handled for beta. That conversation should lead to a recommendation on how to proceed.

[2021-03-31 00:13] slightlyoffbeat commented on #9661
Thank Alex. I agree that we should close this and re-open with an approach that is specific to its new design and home.

[2021-03-31 00:13] #9661 closed

[2021-03-31 07:51] #10002 closed

[2021-03-31 07:52] #10053 closed

[2021-03-31 08:05] madalincm opened #10066 "VPN subscriptions can't be created from the staging website"
#### Affected Platforms:
- all platforms

#### Prerequisites:
- Have a FxA account with no subscriptions made;

#### Steps to reproduce:
1. Open https://www-demo1.allizom.org/en-US/products/vpn/
2. Click on Get Mozilla VPN

#### Expected result:
- User is redirected to Mozilla VPN subscription page.

#### Actual result:
- Error page is displayed.

#### Notes:
- This error page is displayed whether

[2021-03-31 08:05] #10032 closed

[2021-03-31 08:10] alexgibson commented on #10066
@madalincm this is a known issue and not yet ready for QA (the dev site is still WIP). Please speak to Sarah Bird as to when this is ready for testing. Thanks

[2021-03-31 23:07] slightlyoffbeat commented on #10064
Mei has no problem removing it, but is checking with the product team in case we are missing something.

@rraue traffic is minimal, but any concerns if we remove?

[2021-03-31 23:49] slightlyoffbeat opened #10068 "[getpocket.com] Add convert to the pocket learnmore page"

[2021-04-01 08:29] #10066 closed

[2021-04-01 09:35] alexgibson opened #10069 "Update VPN landing page headline"
## Description

Update VPN landing page headline to "Security, reliability and speed — on every device, anywhere you go." (outcome of the experiment that was run as part of https://github.com/mozilla/bedrock/issues/9950).

---

#### Success Criteria
- [x] Update headline on landing page.
- [x] Remove experiment files / assets.

[2021-04-01 09:47] alexgibson opened #10070 "Hide price in countries where VPN is not yet available"
## Description

Right now if VPN is not available people see the price in the features block. There's a request to hide this if VPN is not yet available in a country, as once it launches there's no guarantee that price/plan will be the same.

---

#### Success Criteria
- [ ] Price should not be displayed in countries where VPN is not yet available.

[2021-04-01 11:52] madalincm commented on #10066
@alexgibson thanks for the responses here and in the mail!
We received, eventually, an up and running VPN stage site and managed to test the vpn subscription.

[2021-04-01 12:02] alexgibson commented on #10066
Glad everything makes sense now, thanks @madalincm!

[2021-04-01 12:20] alexgibson opened #10073 "WNP 89 DE/FR (VPN)"
## Description

Figma file: https://www.figma.com/file/UMwBjBahX6ErRjUM2tRi42/WNP-EU?node-id=64%3A30
Copy doc: https://docs.google.com/document/d/1wqCv6_hiAsNcDE1YfMnTSsS41S8kst2vUTgKNANM1to/edit
SVGs: https://drive.google.com/drive/folders/12zTTOsTM1koUtCptQ6al0vznBvNU6jpK?usp=sharing

---

#### Success Criteria
- [ ] WNP89 for DE and FR locales in production May 18.

[2021-04-01 15:29] slightlyoffbeat commented on #9894
note: We will need to look forward and find the right window of time to work on this.

[2021-04-01 15:34] slightlyoffbeat opened #10074 "Refresh EN homepage content for March 2021"

[2021-04-01 15:36] slightlyoffbeat opened #10075 "update protocol on bedrock"

[2021-04-01 15:46] slightlyoffbeat opened #10076 "WNP 89 for EN"

[2021-04-01 15:49] stephaniehobson commented on #10074
Spreadsheet for cards: https://docs.google.com/spreadsheets/d/1O7_z-XYxnnZ7akatlp7saRt82oESz66ffysl-gRx_7o/edit#gid=158003744

[2021-04-01 16:15] slightlyoffbeat commented on #9888
This is no longer blocked, but @rraue will need to find the time to complete this task.

[2021-04-01 16:18] slightlyoffbeat commented on #10003
from @rraue: reviewed and it looks good.

[2021-04-01 16:19] peiying2 opened #10077 "Newsletter "Sign up now" button shows as source code for non-English locales (except de, fr)"
## Description

Newsletter "Sign up now" button shows as source code for non-English locales (except de, fr) https://www.mozilla.org/id/ or https://www-dev.allizom.org/id/, here using `id` as an example

### Expected result

Should display localized string, not English

### Actual result
Currently shown as `home-sign-up-now`

### Environment

Production and dev server both shows the error

[2021-04-01 16:20] peiying2 commented on #10077
@maxxcrawford please help triage this.

[2021-04-01 16:23] craigcook commented on #10077
Looks like the string ID should be `newsletter-form-sign-up-now`

[2021-04-01 17:22] stephaniehobson opened #10079 "Add jump links to little book of privacy"
Add IDs to h2 and h3s on https://www.mozilla.org/en-US/firefox/privacy/book/ so that sections can be linked to directly. Ping Liz with the resulting links.

[2021-04-01 21:32] slightlyoffbeat commented on #10054
I've reached out to Data Science, but they do not have any resources to fix, so we will need to fix ourselves, or mark as blocked.

I did some investigating. GTM uses this to fill in that action field:

[code]

According to MDN, `.closest` does not work for IE.

https://developer.mozilla.org/en-US/docs/Web/API/Element/closest

[2021-04-01 21:33] #10074 closed

[2021-04-01 22:28] #10077 closed

[2021-04-01 23:38] peiying2 opened #10082 "[VPN] page: Missing an important word in server description"
## Description
The paragraph misses the word `servers` at the end of  the sentence.

### Steps to reproduce

en/products/vpn/platforms/desktop.ftl or https://www-dev.allizom.org/en-US/products/vpn/desktop/

`Browse from Brazil. Game from Japan. Stream from Mexico. { -brand-name-mozilla-vpn } lets you change your phone or computer’s location to one of { $servers }.`

### Expected result

Add `serve

[2021-04-01 23:39] peiying2 commented on #10082
@craigcook maybe you can help with this one too.

[2021-04-02 16:32] #10069 closed

[2021-04-02 16:35] #10070 closed

[2021-04-05 12:49] alexgibson commented on #10069
Looks like I missed some files in the view here, will follow up with a fix

[2021-04-05 17:00] #10047 closed

[2021-04-05 22:43] #10082 closed

[2021-04-05 23:08] peiying2 opened #10086 "Should be curly quotes instead of straight quotes (shared.ftl, mobile.ftl)"
## Description

A couple of straight quotes are spotted. They should be curly quotes.

### Steps to reproduce
1). en/products/vpn/platforms/shared.ftl: `Let's get started` -> let's
2). en/products/vpn/platforms/mobile.ftl: `... contributors and developers dedicated to keeping the power of the internet in people's hands.` -> people's hands

### Expected result
Change straight quotes to curly quotes

[2021-04-06 08:11] #10086 closed

[2021-04-06 09:33] alexgibson opened #10090 "Create a new evergreen "rest of the world" /whatsnew page"
## Description

We haven't done a widely localized /whatsnew page since Firefox 81 (since marketing now typically only covers en/fr/de for this channel). This means that the rest of the world sees an [somewhat outdated page](https://www.mozilla.org/es-ES/firefox/87.0/whatsnew/all/) that is exactly the same every release. Given today's ambitions, I'm not 100% sure that is the most effective thing w

[2021-04-06 13:17] alexgibson commented on #10003
I've added the new 6 and 12 month subscription goals to the production VPN view, so I think we're fine to close this.

Thanks for helping out @rraue!

[2021-04-06 13:17] #10003 closed

[2021-04-06 21:02] tublitzed commented on #10047
Thank you!

[2021-04-06 22:33] slightlyoffbeat opened #10092 "Update the email preference center"
Requested changes outlined here:

https://docs.google.com/document/d/10n--vAjUiSpYDsxG1oY4ImuCzoeaJtTwQF1gnHz9N4A/edit?usp=sharing

A summary of changes requested included:

- [ ] Updating the email provided in the copy that instructs how to whitelist us.
- [ ] update blurb for Mozilla News (copy to be provided)
- [ ] Nest Mozilla Festival and Insights under Mozilla News
- [ ] Add Common Voice and

[2021-04-06 22:57] krattliff commented on #10092
Confirmed w/ MoFo/MoCo teams that we'll continue to support langs beyond DE, EN and FR. This item can be removed -->
 update supported languages to only include FR, DE, EN

[2021-04-07 14:07] maxxcrawford opened #10093 "WNP 89 Code Stub"
## Description

Stub out landing page for WNP 89
---

#### Success Criteria
- [ ] WNP 89 (EN) loads at this URL: http://localhost:8000/en-US/firefox/89.0/whatsnew/all/
- [ ] Add/mock TrafficCop integration

[2021-04-07 14:07] #9948 closed

[2021-04-07 14:08] #10039 closed

[2021-04-07 14:09] maxxcrawford opened #10094 "WNP 89 Design"
## Description

Completed Figma design for WNP 89 (English)

---

#### Success Criteria
- [ ] Matches brand standards
- [ ] Approved by stakeholders

[2021-04-07 14:09] maxxcrawford opened #10095 "WNP 88 Copy"
## Description

Part of Epic #10050

Completed copy document

---

#### Success Criteria
- [ ] Is in English
- [ ] Matches brand tone
- [ ] Approved by stakeholders

[2021-04-07 14:12] maxxcrawford opened #10096 "WNP 88 Final Coding"
## Description

Add approved copy, layout approved design

Part of Epic #10050

Blocked by #10095 #10094

---

#### Success Criteria
- [ ] WNP matches approved design/copy
- [ ] Traffic Cop can be verified on different branches
- [ ] "Nobody calls me chicken…"

[2021-04-07 14:14] birdsarah commented on #10040
I no longer believe this is necessary we will find out for sure during QA.

I believe I solved it in http://github.com/mozilla-services/guardian-website/pull/1084

Closing for now.

[2021-04-07 14:14] #10040 closed

[2021-04-07 14:17] alexgibson opened #10097 "Update VPN subscription plan IDs"
## Description

We're still waiting on the final subscription plan IDs for the variable pricing in Euros. Once we have those we need to update in settings.

https://docs.google.com/document/d/1k9JUJqdMeG4ro8R_-H1FzQl2wOTj9XZrDKvXNcCJP2M/edit?usp=sharing

---

#### Success Criteria
- [ ] Variable pricing plan IDs for production are added to settings.

[2021-04-07 14:22] maxxcrawford commented on #10076
Disregard all the noise. I grabbed WNP 89 instead of 88. 🙈

[2021-04-07 17:54] #9999 closed

[2021-04-07 17:57] craigcook commented on #10075
Published [Protocol 14.0.0](https://github.com/mozilla/protocol/releases/tag/v14.0.0) yesterday so this is unblocked.

[2021-04-08 06:55] Bianca-O opened #10099 "The number displayed for VPN available countries is not correct"
### Build:
Stage

### Affected platforms:
Windows 10 x64
Chrome browser v. 89.0.4389.114

### Preconditions:
VPN is activated for a non-available region.

### Steps to reproduce

1. Navigate to https://www-dev.allizom.org/en-US/products/vpn.
2. Go to Availability section and observe the number of countries.

### Expected result
The number displayed for VPN available countries is correct. The numbe

[2021-04-08 10:56] ValentinaPC opened #10100 "Only 3 language options in the VPN invite form"
#### Affected versions:
 - All Firefox;

#### Affected FxA versions:
- 1.203.6;

#### Affected Platforms:
- Windows 10;

#### Prerequisites:
- Have a FxA account;
- Be in a country where the Mozilla VPN is not available;

#### Steps to reproduce:
1. Open homepage: https://www-dev.allizom.org/en-US/products/vpn/
2. Click “Join to Waitlist”;
3. Click the languages dropdown;

#### Expected result:
-

[2021-04-08 11:01] Bianca-O opened #10101 "Red warning message displayed when user wants to Join the Waitlist"
### Build:
Stage

### Affected platforms:
Windows 10
Chrome browser v. 89.0.4389.114

### Preconditions:
VPN is activated for a non-available region.

### Steps to reproduce:
1. Navigate to https://www-dev.allizom.org/en-US/products/vpn.
2. Click 'Join the Waitlist' button in the upper-right corner.
3. Fill in all the mandatory fields and click 'Join the Waitlist'.

### Expected result:
No warning

[2021-04-08 13:40] ValentinaPC opened #10103 "”Join to Waitlist” buttons remain selected when coming back from a previous page"
#### Affected versions:
 - All Firefox;

#### Affected FxA versions:
- 1.203.6;

#### Affected Platforms:
- Linux Ubuntu 20.04;

#### Steps to reproduce:
1. Open homepage: https://www-dev.allizom.org/en-US/products/vpn/
2. Click “Join to Waitlist”;
3. Click the “back” option form the browser;

#### Expected result:
- The button has no UI issues.

#### Actual result:
- The button remains selected.

[2021-04-08 15:46] slightlyoffbeat commented on #8843
closing right now. We can re-open if there is renewed interest in this.

[2021-04-08 15:46] #8843 closed

[2021-04-08 15:50] slightlyoffbeat commented on #10064
Link has been removed.

@slightlyoffbeat to take a look at where people are coming in from before closing.

[2021-04-08 16:14] maxxcrawford commented on #9984
Daniel and I sync'd up about the URL redirect. New url should be `defend-mozilla-trademarks/`

[2021-04-08 20:07] #9984 closed

[2021-04-08 22:46] duallain opened #10105 "Create a way for legal forms to silently fail, to handle abuse"
## Description

There are a few users abusing legal forms, we should make it possible to filter messages with particular content.  Optimally, it should appear to the form submitter that everything worked (may be worth adding a sleep for example to not change behavior, but basically just don't send the email).

More details about the specific form and the content we can use to block the content - h

[2021-04-09 07:11] alexgibson commented on #10099
Thanks for spotting, will add a fix for this behind a feature flag.

[2021-04-09 07:12] alexgibson commented on #10100
This is as expected for the upcoming launch in Germany and France. The waitlist email journey can be localized for more languages as we prepare to expand into further markets later in the year. Closing for now.

[2021-04-09 07:12] #10100 closed

[2021-04-09 07:14] alexgibson commented on #10101
Looks like www-dev is missing the right basket token for this email form.

@pmac can we please get the right setting added for https://www-dev.allizom.org/en-US/products/vpn/invite/ ?

[2021-04-09 07:16] alexgibson commented on #10103
This is Protocol bug https://github.com/mozilla/protocol/issues/655, and should be fixed by https://github.com/mozilla/bedrock/issues/10075

[2021-04-09 07:44] alexgibson opened #10106 "Add sub-nav and link to VPN platform pages from landing page FAQ"
## Description

Updated copy in: https://docs.google.com/document/d/1iSA4iAsI5npi8M1ATbqE6RLjLPzCwNKDyVwtlUm7wmY/edit?usp=sharing

---

#### Success Criteria
- [ ] Links to individual VPN platform pages are found in the main landing page FAQ section.

[2021-04-09 07:59] alexgibson opened #10107 "VPN platform pages should use shared variables for product features"
## Description

We have a common set of product variables related to VPN in [settings.py](https://github.com/mozilla/bedrock/blob/master/bedrock/settings/base.py#L1386-L1389). The [VPN platform pages](https://www.mozilla.org/en-US/products/vpn/desktop/) should use these shared values so that we can tell customers about product features in a consistent way when information changes.

---

#### Succe

[2021-04-09 13:27] madalincm opened #10109 "Last Get Mozilla VPN button from the homepage does not center the pricing section correctly"
#### Affected Platforms:
- iOS 14.3, Iphone 11, Safari Browser;

#### Prerequisites:
- The user is in FR/DE or is using a VPN with the location set to FR/DE;

#### Steps to reproduce:
1. Open https://www-demo1.allizom.org/en-US/products/vpn/ ;
2. Scroll down to the section immediately under FAQs;
3. Click the Get Mozilla VPN button;

#### Expected result:
- The user is redirected to the pricing se

[2021-04-09 14:28] alexgibson commented on #10109
Thank you for filing this. If this was happening in Safari on iOS for all "Get Mozilla VPN" buttons then I think this would warrant a fix, but seeing as the visitor must have already scrolled past the content in question to reach this button, then I'm not sure it makes sense to start coding around individual browser scrolling quirks when the overscroll is in the region of +/1 10px.

Closing this f

[2021-04-09 14:28] #10109 closed

[2021-04-09 16:03] alexgibson opened #10111 "Remove code from Android native app banner experiment."
## Description

The code and variations from https://github.com/mozilla/bedrock/pull/9789/ are all still in the repo. I'm not sure what the overall outcome from that experiment should be, but we should tidy up the assets related to the experiment once we've decided what to do.

---

#### Success Criteria
- [x] Decision is made re: the outcome of the experiment.
- [x] Experiment files / assets are

[2021-04-09 19:38] #9929 closed

[2021-04-12 06:23] ValentinaPC commented on #10100
@alexgibson I was not talking about the Invite page being localized, but about the language that the user joins the waitlist for (see note above).

[2021-04-12 08:13] alexgibson commented on #10100
@ValentinaPC I understand that. The invite page is already localized in over 20 languages. The waitlist email journey only supports English, German, and French right now.

[2021-04-12 09:50] alexgibson commented on #10054
@slightlyoffbeat that would certainly point to the problem.  It's not 100% clear to me what `closest` is used for here seeing as we're dealing with link clicks. But I'm assuming it's for when we have nested content inside a link, such as a protocol [card component](https://protocol.mozilla.org/patterns/molecules/card.html)? We should probably also favour `getAttribute()` over `dataset` for broader

[2021-04-12 11:22] alexgibson opened #10114 "Update press logos on VPN landing page"
## Description

- Remove Engadget

---

#### Success Criteria
- [ ] Engadget is removed from the press logo list.

[2021-04-12 14:06] alexgibson opened #10116 "Update Mozilla VPN waitlist name in newsletter subscriptions page"
## Description

If you're on the Mozilla VPN waitlist and want to remove yourself, the wrong product name is displayed in the newsletter subscriptions page.

### Steps to reproduce

1.) Sign up to the Mozilla VPN waitlist at: https://www.mozilla.org/en-US/products/vpn/invite/
2.) Generate a link to manage your subscriptions by entering the same email at: https://www.mozilla.org/en-US/newsletter/re

[2021-04-12 14:08] alexgibson commented on #10116
@pmac I'm guessing this lives in basket/acoustic somewhere - can we get the product name updated to `Mozilla VPN`?

[2021-04-12 15:33] #10107 closed

[2021-04-12 18:00] stephaniehobson commented on #10054
It's watching all elements for clicks, not just links, that's why it's using closest.

[2021-04-12 18:09] alexgibson commented on #10054
Wouldn’t `{{ Click Element }}` target more than just links already? Seems like `closest` would be looking for child nodes of the click target.

[2021-04-12 18:11] #10106 closed

[2021-04-12 18:12] slightlyoffbeat commented on #10054
If there was a process for GTM, it no longer exists. There is no ownership and no one who is looking after GTM. If we want to test and fix, we'll need to find our own process.

We should be able to create an environment in GTM and test safely before pushing live.

[2021-04-13 08:02] alexgibson commented on #10101
Looks like this one has been resolved.

[2021-04-13 08:02] #10101 closed

[2021-04-13 08:23] Bianca-O commented on #10101
The issue was verified as Fixed on Stage under Windows 10. No red warning message is displayed anymore.

![Join the waitlist - new situation](https://user-images.githubusercontent.com/79697848/114520916-99655500-9c4a-11eb-8dc9-5e901a077ad1.PNG)

[2021-04-13 09:03] alexgibson opened #10118 "JS error: e.browserServices.sync is undefined"
## Description

Since https://github.com/mozilla/bedrock/issues/9929 merged we've seen a (relatively small) number of errors where some clients aren't resolving `browserServices.sync`:

https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/11056076/?query=is%3Aunresolved

Probably worth adding a check for this so we can fail more gracefully.

[2021-04-13 09:29] alexgibson opened #10120 "Email address for academic questions not correct"
See: https://bugzilla.mozilla.org/show_bug.cgi?id=1704739

[2021-04-13 09:31] alexgibson commented on #9963
Closing this epic, but feel free to reopen if there are any unresolved dependencies here.

[2021-04-13 09:31] #9963 closed

[2021-04-13 14:18] pmac commented on #10116
I updated the name in the basket admin. When the data syncs to bedrock this should be fixed.

[2021-04-13 14:21] alexgibson commented on #10116
Thanks @pmac 💯

[2021-04-13 14:22] alexgibson commented on #10116
Confirmed fixed:

![image](https://user-images.githubusercontent.com/400117/114568455-0b9a6180-9c6c-11eb-8bb6-ddc819522539.png)

[2021-04-13 14:22] #10116 closed

[2021-04-13 23:48] maxxcrawford commented on #9875
We should consider how other services are also handling this friction.

[2021-04-14 08:12] alexgibson commented on #8309
From recent discussions on Slack it sounds like Adjust has been removed from both Firefox and Focus on iOS, due to recent changes in iOS14. For now, we're continuing to use it on Android.

With that in mind, and the [surprising UX](https://bugzilla.mozilla.org/show_bug.cgi?id=1448153) Adjust links can give to website visitors, we could now consider removing Adjust links from mozorg that target the

[2021-04-14 08:32] alexgibson commented on #8440
Latest update here: **March 3, 2021: UA-CH is rolling out to 100% of stable population in tandem with version 89**

Checking in the latest stable Chrome, the following snippet now appears to be supported:

[code]

Now we have to work out what's happening with the user agent strings, so we know a timeline for what exactly needs to be done.

[2021-04-14 09:35] ValentinaPC opened #10123 "Sub navigation component has UI issues on mobile"
#### Affected versions:
 - Safari;

#### Affected FxA versions:
- 1.203.7;

#### Affected Platforms:
- iOS 14.02;

#### Steps to reproduce:
1. Open homepage: https://www-dev.allizom.org/en-US/products/vpn/
2. Observe the Mozilla VPN banner;

#### Expected result:
- The banner can be expanded. There are no UI issues.

#### Actual result:
- The drop-down arrow is over the Mozilla VPN text.

#### Not

[2021-04-14 09:39] alexgibson commented on #10123
I couldn't reproduce this, but after some careful testing it saeems this bug shows up only when the viewport is exactly 768px wide.

[2021-04-14 12:03] Bianca-O opened #10125 "Add Mozilla VPN Get help band to French Mozilla VPN homepage"
### Build:
Stage

### Steps to reproduce

1. Navigate to https://www-dev.allizom.org/fr/products/vpn/.
2. Look for Mozilla VPN Get Help band.
3. Compare with US or DE homepage.

### Expected result

Mozilla VPN Get Help band is available for French homepage too.

### Actual result

Mozilla VPN Get Help band is not available for French homepage.

![no Mozilla VPN band for FR](https://user-images.gi

[2021-04-14 12:09] alexgibson commented on #10125
The sub navigation will be shown automatically once a particular locale has translated the strings required for it. As it stands, the french localizations for these strings have not been completed yet, so it's expected not to show until that has happened. We'll get those completed soon, but I'm going to declassify this as a bug. Closing

[2021-04-14 12:09] #10125 closed

[2021-04-14 14:16] alexgibson commented on #8440
I asked someone on Google's Dev Rel team on the status of this, and they said that "platform" is being re-classified as low-entropy. So that _might_ mean we're not impacted by the string freeze in such a huge way any longer.

That said, this is just speculation right now and not confirmed, so we should keep a close eye on this.

[2021-04-14 15:49] alexgibson opened #10126 "VPN: Switch to new subscription URL format"
## Description

This is happening on 21/4 and will be coordinated with the VPN engineering / release team over Zoom.

The code for this is already in prod behind a switch (`vpn-new-subscription-url-format`), but will need testing on stage first in a planned rollout.

---

#### Success Criteria
- [ ] VPN landing page uses new subscription URL format in prod.

[2021-04-14 18:01] stephaniehobson opened #10127 "Contentful, design system integration tasks."
- [x] Create Firefox themed preview page & use it for pages in /firefox folders
- [x] Rich text support
    - [x] content model
    - [x] bedrock integration
      - [x] text  support
      - [ ] image support
- [ ] high/low res image solutions
  - [ ] Split
  - [ ] Hero
  - [ ] Cards
  - [ ] Rich text
- [ ] include CSS as needed
  - [x] for high level components (cards, split, text...)
  - [ ] fo

[2021-04-14 22:32] slightlyoffbeat commented on #10076
No WNP for 89. Closing.

[2021-04-14 22:32] #10076 closed

[2021-04-14 23:37] slightlyoffbeat commented on #8775
One idea: change this to facebook. Its accurate, global, and timely.

[2021-04-14 23:45] slightlyoffbeat commented on #10064
In-app link for 'what's new' takes users to a support page that is currently up to date Closing.

[2021-04-14 23:45] #10064 closed

[2021-04-15 00:48] slightlyoffbeat commented on #9224
@alexgibson @stephaniehobson How much time is needed to complete this? Could you reconnect on this and recommend next steps?

https://github.com/mozilla/bedrock/pull/9934

[2021-04-15 08:06] alexgibson opened #10128 "Update to VPN system requirements"
## Description

https://www.mozilla.org/en-US/products/vpn/#faq-compatibility

- Windows 10 (64-bit only)
- macOS (10.14 and up)
- Android (version 8 and up)
- iOS (12.0 and up)
- Linux (Ubuntu 18.04 and up)

---

#### Success Criteria
- [ ] FAQ section under "What devices is Mozilla VPN compatible with?" is updated with latest specs.

[2021-04-15 08:35] ValentinaPC opened #10130 "[l10n] UI issues for “german” language in VPN homepage"
#### Affected versions:
 - All Firefox;

#### Affected FxA versions:
- 1.203.7;

#### Affected Platforms:
- Android 11;

#### Prerequisites:
- Have the browser localized in “German”;

#### Steps to reproduce:
1. Open homepage: https://www-dev.allizom.org/de/products/vpn/
2. Scroll down to #pricing section;

#### Expected result:
- There are no display or layout issues.

#### Actual result:
- The t

[2021-04-15 08:43] alexgibson commented on #10130
Thanks for filing, I'll take a look at this.

[2021-04-15 12:05] madalincm opened #10132 "Unnecessary redirection when clicking the links from the FAQ - What devices is Mozilla VPN compatible with section"
#### Affected Platforms:
- all platforms;

#### Prerequisites:
- The user is in en-us or is using a VPN with the location set to en-us;

#### Steps to reproduce:
1. Open https://www-dev.allizom.org/en-US/products/vpn/ ;
2. Scroll to the FAQ section;
3. Click on the What devices is Mozilla VPN compatible with? link;
4. Click on the mobile or desktop link;
5. Click on the See pricing & availability

[2021-04-15 12:07] madalincm opened #10133 "Missing logo in the Featured in section"
#### Affected Platforms:
- all platforms;

#### Steps to reproduce:
1. Open https://www-dev.allizom.org/en-US/products/vpn/ ;
2. Scroll to the featured in section;
3. Observe the logos displayed;

#### Expected result:
- There are 5 logos displayed;

#### Actual result:
- Only 4 logos are displayed. Engadget logo is missing;
![image](https://user-images.githubusercontent.com/15685441/114866495-4e8

[2021-04-15 12:17] alexgibson commented on #10133
Invalide, see https://github.com/mozilla/bedrock/issues/10114

[2021-04-15 12:17] #10133 closed

[2021-04-15 12:20] alexgibson commented on #10132
I agree this is a bit of a weird loop. I'm not sure if we should classify this as a bug, but I'll see what relevant stakeholders think.

[2021-04-15 13:00] rraue commented on #10132
As much as I agree that this isn't the perfect solution yet (we will get universal pricing boxes and then the sub pages will not need to link to the main landing page anymore), I don't think its a real loop.

- Users that just want to know which OS/Devices are available do not need to click on the links, the answer is there in the FAQ.
- Users that want to know more about a specific OS, will find

[2021-04-15 13:08] alexgibson commented on #10132
Ok thanks for the input @rraue, closing this one for now.

[2021-04-15 13:08] #10132 closed

[2021-04-15 13:41] Bianca-O opened #10134 "'An error has occurred' message is displayed when accessing the Mozilla VPN homepage"
### Build
Stage

### Affected platforms:
Android 6
Android 11
iOS

### Steps to reproduce

1. Navigate to https://www-dev.allizom.org/en-US/products/vpn/.
2. Observe the page.

### Expected result
No error. Mozilla VPN homepage is displayed.

### Actual result
'An error has occurred' message is displayed.

![1618491383507](https://user-images.githubusercontent.com/79697848/114878870-59989c00-9e09-

[2021-04-15 13:45] alexgibson commented on #10134
This is an issue with our CDN. Folks are working on it and I'll close this when resolved.

[2021-04-15 17:11] ApCoder123 opened #10137 "Replace twofactorauth.org References"
## Description

The site that was at twofactorauth.org is now at https://2fa.directory

See 2factorauth/twofactorauth#5238 for more info

The following references should probably be updated:

https://github.com/mozilla/bedrock/blob/7f6e3ea9e002360a62ceeb3aa6ed76477b55da7b/bedrock/firefox/templates/firefox/privacy/passwords.html#L98

https://github.com/mozilla/bedrock/blob/7f6e3ea9e002360a62ceeb3aa

[2021-04-16 07:35] Bianca-O commented on #10134
The issue was verified as Fixed on Stage under Windows 10 x64 and Android 11.

[2021-04-16 07:59] #10134 closed

[2021-04-16 08:05] ValentinaPC opened #10139 "VPN homepage is not geo-restricted"
#### Affected versions:
 - All Firefox;

#### Affected FxA versions:
- 1.204.2;

#### Affected Platforms:
- Windows 10;

#### Prerequisites:
- Be in a region where VPN is not available (i.e Italy);

#### Steps to reproduce:
1. Open homepage: https://www-dev.allizom.org/de/products/vpn/

#### Expected result:
- “Join to Waitlist” buttons are displayed through the page.

#### Actual result:
- “Get M

[2021-04-16 08:07] alexgibson commented on #10139
I believe this is a regression caused by https://github.com/mozilla/bedrock/pull/10136

The response returned by country_code.json is always `{"country_code": "US", "data_source": "cdn"}`, so geo is currently not enabled on www-dev.

[2021-04-16 12:47] ValentinaPC commented on #10130
This issue is also happening in Privacy Notice page for "de".
![image](https://user-images.githubusercontent.com/15685960/115026390-19015700-9ecb-11eb-94fc-67e551e0e87f.png)

[2021-04-16 12:51] alexgibson commented on #10130
Please file a different issue for this, as it's unrelated to the VPN landing page. Thanks

[2021-04-16 12:55] #10139 closed

[2021-04-16 12:56] alexgibson commented on #10139
Ok, just as soon as this landing on ww-dev the issue should be resolved. I'll verify when that's happened.

[2021-04-16 13:12] ValentinaPC opened #10141 "[l10n][Android] UI issues for “german” language in VPN ToS page"
#### Affected versions:
 - All Firefox;

#### Affected FxA versions:
- 1.204.2;

#### Affected Platforms:
- Android 11;

#### Prerequisites:
- Have the browser localized in “German”;

#### Steps to reproduce:
1. Open homepage: https://www-dev.allizom.org/de/products/vpn/
2. Scroll down to ToS and PN section;
3. Click on Terms of Service link (https://www-dev.allizom.org/de/about/legal/terms/mozill

[2021-04-16 13:17] alexgibson commented on #10139
Ok, I now see the following response so this should be workign again. Sorry for the holdup here.

`{"country_code": "GB", "data_source": "cdn"}`

[2021-04-16 13:22] ValentinaPC commented on #10139
Verified as fixed.
The VPN homepage uses geo-restriction.

[2021-04-16 15:12] alexgibson commented on #10137
Thanks for the report, sounds like we should get these updated 👍

[2021-04-16 15:43] #10099 closed

[2021-04-16 15:56] #10130 closed

[2021-04-16 16:03] #10123 closed

[2021-04-16 16:03] #10141 closed

[2021-04-16 17:34] #10079 closed

[2021-04-16 20:05] pmac opened #10145 "Remove import of forums data from community-data repo"
With  #10091 we no longer use the forums data from the [community-data repo](https://github.com/mozilla/community-data). We can stop importing it into the database.

[2021-04-19 08:06] alexgibson commented on #10097
Prod IDs: https://docs.google.com/spreadsheets/d/1rQFhN9pNdW_QB_R6M5_mlLWWnW-q_HqwpK9MPSU9HbA/edit?usp=sharing

[2021-04-19 09:03] ValentinaPC commented on #10123
Verified as fixed on iOS 14.3 - iPad Air 2.
The sub menu has no UI or layout issues.
Postfix screenshot.
![image](https://user-images.githubusercontent.com/15685960/115210374-2f93f200-a107-11eb-9e18-7f8307f83a14.png)

[2021-04-19 09:16] Bianca-O commented on #10099
The issue is verified as Fixed on Stage under Windows 10 x64. The correct number of countries is displayed.
![new situation](https://user-images.githubusercontent.com/79697848/115212290-04aa9d80-a109-11eb-9b52-e07f764c1805.PNG)

[2021-04-19 09:19] ValentinaPC commented on #10141
Verified as fixed on Android 10.
There are no UI issues for "german" in VPN ToS page.
Postfix screenshot below.
![image](https://user-images.githubusercontent.com/15685960/115212673-6bc85200-a109-11eb-8848-964b7c5cbdc3.png)

[2021-04-19 09:24] ValentinaPC commented on #10130
Verified as fixed on Android 11.
There are no UI issues in VPN homepage.
Postfix screenshots below.
![image](https://user-images.githubusercontent.com/15685960/115212946-b6e26500-a109-11eb-8240-8fd34609b66e.png)

[2021-04-19 11:34] alexgibson commented on #10073
Closing, this is being moved to a moments page.

[2021-04-19 11:34] #10073 closed

[2021-04-19 16:14] #10095 closed

[2021-04-19 16:14] #10096 closed

[2021-04-19 22:48] slightlyoffbeat opened #10149 "Add board bios to Mozilla leadership page"
There is a request to update the leadership page with bios for our board members.

The requested timeline is to have completed the week of April 19th.

Bios are available at this doc:

https://docs.google.com/document/d/1uiW6cx6HeDogoJBCUbldkt4kmVMTVmc720b8ZVH1s2c/edit?usp=sharing

[2021-04-19 23:03] craigcook commented on #10050
Done in https://github.com/mozilla/bedrock/commit/f8cf92acd75c428bc21c33d3706c539055b65194

[2021-04-19 23:03] #10050 closed

[2021-04-20 08:06] #10097 closed

[2021-04-20 08:16] alexgibson opened #10150 "Firefox wordmark is invisible on en 88 WNP using dark mode"
## Description

The Firefox wordmark is not visible on the 88 WNP, since the page doesn't support dark mode

### Steps to reproduce

1.) Set your Firefox browser to a dark mode theme.
2.) Open https://www.mozilla.org/en-US/firefox/88.0/whatsnew/all/?oldversion=87.0

### Expected result

The Firefox wordmark should be visible in the top left corner of the page.

### Actual result

Only the logo is

[2021-04-20 14:17] alexgibson commented on #10046
There may be some overlap here with what the EU team want to create for VPN, as a replacement for WNP 89. We can likely consolidate some efforts here.

[2021-04-20 14:23] alexgibson opened #10151 "Create VPN moments page (EN/DE/FR)"
## Description
Create a moment page for VPN in three languages: en-US, de, fr.

- English page is based on https://www.mozilla.org/en-US/firefox/85.0/whatsnew/all/
- German and French pages are based on the design from https://github.com/mozilla/bedrock/issues/10073
---

#### Success Criteria
- [ ] Moments page promoting VPN is available in English, French and German.

[2021-04-20 14:40] craigcook commented on #10150
D'oh!

[2021-04-20 17:16] #10128 closed

[2021-04-21 07:58] alexgibson commented on #10126
PR to enable switch on stage: https://github.com/mozmeao/www-config/pull/376

[2021-04-21 08:54] alexgibson opened #10157 "SyntaxError: 'img[data-[RANDOM-IDENTIFIER-link]' is not a valid selector"
## Description
One of the most perplexing and frequent JS errors we see in Sentry as along the lines of the following:

`SyntaxError: 'img[data-[RANDOM-IDENTIFIER-link]' is not a valid selector`

All the errors use different values for [RANDOM IDENTIFIER], and are often formatted in a similar way to email addresses. You can see many examples here: https://sentry.prod.mozaws.net/operations/bedrock-

[2021-04-21 09:00] alexgibson commented on #10157
A good example: https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/9874886/?query=is%3Aunresolved%20SyntaxError%3A%20%27img%5Bdata

`SyntaxError: Document.querySelectorAll: 'img[data-regata os-link]' is not a valid selector`

Regata OS seems to come pre-installed with Firefox https://www.regataos.com.br/p/home.html

[2021-04-21 09:01] #10149 closed

[2021-04-21 09:14] alexgibson commented on #10157
I can also reproduce this error in the console:

[code]

[2021-04-21 12:55] alexgibson commented on #10126
PR for prod: https://github.com/mozmeao/www-config/pull/377

[2021-04-21 15:14] #10126 closed

[2021-04-21 15:16] alexgibson opened #10159 "Enable VPN for DE/FR"
## Description

Placeholder issue for launch.

---

#### Success Criteria
- [ ] VPN is available in prod for DE/FR

[2021-04-21 16:11] craigcook opened #10160 "Update experiment params on EN WNP88"
## Description

The mutlivariant test on WNP88 is currently only counting clicks on the CTA but isn't passing any other params through to the VPN landing page, so we don't know how many of those clicks result in further action once someone leaves the WNP.

We'll set a custom `source` param for each variant on the CTA link, which the VPN landing page can then pass through and we'll know if one part

[2021-04-22 08:36] #10160 closed

[2021-04-22 09:00] alexgibson commented on #10046
I'm going to bundle this into https://github.com/mozilla/bedrock/issues/10151

[2021-04-22 12:08] alexgibson commented on #10046
URL for this will be: https://www.mozilla.org/en-US/firefox/welcome/9/

[2021-04-22 12:09] alexgibson commented on #10151
URLs for these pages will be:

- https://www.mozilla.org/de/firefox/welcome/9/
- https://www.mozilla.org/fr/firefox/welcome/9/

[2021-04-22 15:11] alexgibson commented on #10046
Rolling this issue up into https://github.com/mozilla/bedrock/issues/10151

[2021-04-22 15:11] #10046 closed

[2021-04-22 23:21] slightlyoffbeat opened #10166 "Replace Lockwise with VPN on various pages"
The lockwise app is being phased out. A full communication plan and strategy around the future of lockwise is coming. In the meantime, we should replace lockwise with VPN in various discovery pages/paths.

Remove lockwise from:
- [ ] the floating promo box on /new (and anywhere else it shows up)

Replace Lockwise with VPN on:

- [ ] https://www.mozilla.org/en-US/firefox/
- [ ] https://www.mozilla.

[2021-04-22 23:23] slightlyoffbeat commented on #10166
There is overlap with other cards that reference removing lockwise, but also try and cover additional changes. We should consider closing or reworking those cards after this work is completed:

https://github.com/mozilla/bedrock/issues/9976

https://github.com/mozilla/bedrock/issues/9905

[2021-04-22 23:27] slightlyoffbeat commented on #10166
Affected pages include:

/firefox/products
/firefox/privacy/products
/firefox/new (the floating box with products)
/firefox/lockwise
/firefox/accounts

[2021-04-22 23:29] slightlyoffbeat opened #10167 "Update homepage for MR1"
Placeholder for work related to updating the homepage for MR1

[2021-04-25 18:30] Patil2099 commented on #10137
Can I work on this @alexgibson?

[2021-04-26 11:07] alexgibson opened #10169 "VPN: fallback to variable pricing only if country is unknown and switch is enabled"
## Description

This isn't a real user facing issue thankfully, but currently there's a bug where if country code is unknown and page language is 'fr' or 'de', then variable pricing can end up being shown irrespective of switch state.

---

#### Success Criteria
- [ ] Fallback logic should respect switch state.

[2021-04-26 16:19] alexgibson opened #10171 "Functional tests for variable pricing on VPN landing page"
## Description

Will need to add these post launch because the feature is behind a switch currently.

---

#### Success Criteria
- [x] Functional tests to assert variable pricing buttons are shown as expected in de/fr.

[2021-04-27 20:48] danielnazer commented on #10105
On reflection - this might not be needed - using simple email filters is resolving the worst of this problem. I'd still like to limit the number of characters that can be submitted in the fields of the form. (The worst abuser of the form is submitting more than 100,000 words multiple times a day.) Can we set a 5,000 character upper-limit to all fields?

[2021-04-28 08:01] alexgibson commented on #10169
Closing as this becomes suprefluous once launch has happened.

[2021-04-28 08:01] #10169 closed

[2021-04-28 08:35] alexgibson commented on #10159
https://github.com/mozmeao/www-config/pull/378

[2021-04-28 09:10] alexgibson commented on #9224
There's a [pull request](https://github.com/mozilla/bedrock/pull/9934) open for this that @stephaniehobson has been working on, although I'm not 100% sure where it's at currently. We should circle back on this as soon as time allows.

[2021-04-28 14:54] jvillalobos opened #10173 "Remove validation of `utm_campaign` for RTAMO"
## Description

Currently, Return to AMO (RTAMO) URLs have these params:

`https://www.mozilla.org/firefox/new/?utm_source=addons.mozilla.org&utm_medium=referral&utm_campaign=non-fx-button&utm_content=rta%3AamlkMS1Nbm54Y3hpc0JQblNYUUBqZXRwYWNr`

The last param (utm_content) identifies this as a RTAMO URL and the add-on that will be shown in the first run UX instead of the regular onboarding flow.

[2021-04-28 14:59] alexgibson commented on #10173
We can definitely update this for you, but as far as I know the script you link to has never been enabled (see https://github.com/mozilla/bedrock/issues/9346), so it shouldn't be blocking you (if I understand correctly)

[2021-04-28 16:12] #10159 closed

[2021-04-28 20:41] jvillalobos commented on #10173
Thanks. If the script is unused and `utm_campaign` isn't being validated anywhere else, then I think we're good here and we can close this. We can verify that this works once the Firefox patch lands.

[2021-04-28 20:43] jvillalobos commented on #10173
On second though, the validation code should be updated if there's an expectation that it will be revived once macOS attribution is worked on again (I definitely want RTAMO to work on macOS, but haven't looked into the effort required).

[2021-04-29 01:09] #10151 closed

[2021-04-29 13:52] bobsilverberg opened #10175 "Custom dimension for AMO experiments"
## Description

We have determined that we cannot currently use `utm_campaign` for recording an experiment variation when we are linking to the Download Firefox page from within AMO. We would like to be able to record the experiment variation in order to use Google Analytics to analyze the conversion rate of these referrals during an experiment. We would like to use a custom GA dimension for this,

[2021-04-29 14:19] #10092 closed

[2021-04-29 15:03] slightlyoffbeat opened #10176 "Update pocket newtab page with signup CTA"

[2021-04-29 22:43] craigcook commented on #10167
Prototyping on demo: https://www-demo4.allizom.org/en-US/

[2021-04-30 09:18] alexgibson opened #10178 "VPN site banner for DE/FR"
## Description

The EU team would like to display a banner for Mozilla VPN on the following pages (DE/FR locales). This will be shown instead of the Firefox Daylight banner.

- https://www.mozilla.org/firefox/
- https://www.mozilla.org/firefox/privacy/products/
- https://www.mozilla.org/firefox/browsers/
- https://www.mozilla.org/firefox/products/
- https://www.mozilla.org/

![image](https://user-

[2021-04-30 16:20] alexgibson commented on #8440
Updates to high/low entropy values coming in https://groups.google.com/a/chromium.org/g/blink-dev/c/dafizBGwWMw/m/72l-1zm6AAAJ

[2021-04-30 17:20] #10178 closed

[2021-04-30 21:59] slightlyoffbeat opened #10182 "Create 5 Firefox Mobile Evergreen Pages"
There are 5 evergreen pages for Firefox Mobile that are ready to develop. Each page is based on the layout of an existing page.

Overall brief: https://docs.google.com/document/d/102A3ZzjDf6v_ZWr-bQODBDmEuNxMaBxin1yQb_KV1S4/edit

***

**Page 1:** Mobile Overview Page
**URL:** /firefox/browsers/mobile/ (redirect from /firefox/mobile/)
**Title:** Firefox Mobile Browsers put your privacy first
**Keyw

[2021-04-30 22:12] slightlyoffbeat commented on #10182
Design resources are currently not available, so we should use the design and illustrations in the existing layouts for now.

[2021-05-02 08:21] cadeyrn opened #10183 "contradictory statements about VPN compatibility"
### Description

The VPN page on https://www.mozilla.org/en-US/products/vpn/ says in the accordion below the "What devices is Mozilla VPN compatible with?" caption that macOS 10.14+, Android 8+ and iOS 12+ are supported. After login the download page says that macOS 10.15+, Android 6+ and iOS 13+ are supported. Both sources can't be true, they should have the same compatibility information.

The L

[2021-05-02 08:29] alexgibson commented on #10183
I believe the download page may be the outdated info, as opposed to the landing page. We should check with the product team to verify.

[2021-05-03 23:10] slightlyoffbeat opened #10184 "Update illustrations and screenshots on www.mozilla.org for MR1"
## Description

MR1 will introduce an updated UI for Firefox including a new style for tabs. This means we will need to update various screenshots and illustrations across mozilla.org

---

#### Tasks
- [x]  Identify pages that will be affected
- [x]  Identify and catalog which assets on those pages need to be updated.
- [x]  Submit list of assets needed to creative team
- [x]  Receive updated ass

[2021-05-03 23:10] slightlyoffbeat commented on #10184
I'll take on the ownership of all tasks before handing off to a dev