[2018-07-04 16:49] pmac commented on #5868
And to be clear, the old way of setting a switch via the [config files that require a deployment](https://github.com/mozmeao/www-config/blob/master/configs/bedrock-prod.env) is still an option. So if you need to use a switch in this way you definitely can, it's just that it needs to go in a different spot. It may be that we just need separate facilities for these things. The other option is to dec

[2018-07-04 21:15] jgmize commented on #5868
I think it would make sense to do a fast global deployment and eliminate the use of switches entirely for this scenario.

[2018-07-04 21:38] alexgibson commented on #5868
While we don’t need to do timed releases regularly, i’m not sure this will really be adequate enough if something needs to happen for a specific time on a given day.

[2018-07-05 09:45] alexgibson opened #5870 "Remove invalid chars from UTM params on /firefox/accounts/features/ CTAs"
Per an email from Alex Davis, we need to remove some invalid chars from the FxA "Create Acount" links on the `/firefox/accounts/features/` page e.g:

https://accounts.firefox.com/signup?service=sync&context=fx_desktop_v3&entrypoint=mozilla.org:fxa.features&utm_content=/firefox/accounts/features/v-b&utm_campaign=may2018&utm_source=account-features

Here's what is determined as a valid character on

[2018-07-05 14:02] pmac commented on #5868
Deployments can be blocked by a large number of things still, and these changes can be needed when SREs are sleeping. This scenario is what switches are good at. I think the answer is probably just to go ahead and add the new page and URL and use the switch on the page to change the links. Would that be acceptable to the team @alexgibson? The page would technically be "live" at deployment, but wou

[2018-07-05 15:05] alexgibson commented on #5868
I think this would be fine for pages that don't contain sensitive information, but for pages used by the press who actively look for URLs (such as annual report), I'm not sure if hoping no-one discovers the URL would be enough.

It's probably also worth keeping in mind that these requests only happen a couple of times per year. It's not something worth spending a whole lot of engineering time on,

[2018-07-05 15:29] alexgibson commented on #5868
Thanks, @pmac 👍

[2018-07-05 16:12] ejregithub opened #5872 "About (Overall) - P1 - As someone who stopped using Firefox in 2009, I’m curious to learn what Mozilla has changed or achieved since I quit using it, so I go to the About page to find out."
- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: Increase in clicks on Download button or Firefox in top nav.

[2018-07-05 17:00] ejregithub opened #5873 "About (Overall) - P1 - As someone who visited mozilla.org and clicked on About Us, I was faced with a page that looks entirely different from where I just was. It feels dated and it has me wondering if Mozilla is an abandoned project. If they can’t keep their website together like Google or Opera, how can I trust them?"
- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: Users see no recognizable differences from more current pages, such as the homepage,  in qualitative testing.

[2018-07-05 17:01] ejregithub opened #5874 "About (Overall) - P1 - As someone who visited About Us, I’m overwhelmed with the number of options on the page. It makes me want to click the Back button instead."
- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: increased dwell time, page referrals

[2018-07-05 17:01] ejregithub opened #5875 "About- P1 - As a visitor of the About Us page, I watched the video on the page and it left me feeling like I was watching a “rah rah” employee-targeted hype video from a few years back. This doesn’t feel like it’s for me, so I left the page."
- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: overall increase of engagement on page. If we do another video, more views and longer view time

[2018-07-05 17:02] ejregithub opened #5876 "About - P1 - As a visitor of the About Us page, the page actually didn’t explain to me what Mozilla is all about. It just felt like a celebration (video), but I’m left wondering what Mozilla does."
- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: qualitative testing, respondent can restate Mozilla mission in their own words.

[2018-07-05 17:02] thejeffreytaylor opened #5877 "404 Text Strategy"
As a user, I see the 404 text and it's a LOT, including a couple of links. It's also got a tone that I find a bit too cutesy when I am frustrated. Can you just tell me how to find the content I need, and maybe delight me in the process?

As a Mozilla L10N contributor, I am confused by the colloquial English language. I'm concerned that I may not get this informal language right in my language, and

[2018-07-05 17:59] #5870 closed

[2018-07-06 15:41] ejregithub commented on #5862
copy and design approved -

lniolet [8:37 AM]
approved.

[2018-07-06 15:42] #5841 closed

[2018-07-06 15:45] ejregithub commented on #5862
@craigcook - copy and design are approved, would like to ask that you pick up coding the new rev of the page.  @mrkwvr - please provide Craig with the sketch file.  Craig, please refer to the [copy doc](https://docs.google.com/document/d/1G8QkQfQLfw4sILYK7JoYcIXLfh5c1F3DyLd3BMguewo/edit) as the source of truth for copy (not what is in the sketch file).

[2018-07-06 22:12] ejregithub opened #5879 "Create & test variation of default German download page (/de/firefox/new) with local campaign messaging and creative assets"
German /new page A/B test

https://bugzilla.mozilla.org/show_bug.cgi?id=1455208

[2018-07-06 22:13] ejregithub opened #5880 "Create three landing page variations based on the Berlin pixelated heart LP (https://www.mozilla.org/de/firefox/new/?xv=herz)."
Create three landing page variations based on the Berlin pixelated heart LP (https://www.mozilla.org/de/firefox/new/?xv=herz). The three additional pages have different header visuals and some copy tweaks:

1) Speed: cursor rocket visual
2) Privacy: mask visual
3) On your side: fist bump visual

https://bugzilla.mozilla.org/show_bug.cgi?id=1473357

[2018-07-07 00:17] ejregithub opened #5881 "About - P2 - As a visitor to the About Us page wanting to learn more about the Mozilla Corporation and clicking the link with the same name, I end up on a rather dry page that looks like it was just added to fulfill a legal requirement, rather than being a page written for me, so I leave the site."
Category: Leadership/MoFo vs. MoCo use case

- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: Increased clicks, dwell times, and page referrals on MoCo page.

[2018-07-07 00:17] ejregithub opened #5882 "About - P2 - As a conscious chooser on mozilla.org trying to understand what Mozilla is all about, I got confused by the mention of both “Mozilla Corporation” and “Mozilla Foundation” on the About Us page. What is the difference?"
Category: Leadership/MoFo vs. MoCo use case

- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: Increased clicks and dwell time on MoFo vs. MoCo content in redesign.

[2018-07-07 00:18] ejregithub opened #5883 "About - P2 - As a visitor to /About interested in getting to know more about the leaders of the company. I click Leadership and I’m faced with a page that looks amateur, like a yearbook from college or something. This doesn’t fill me with a lot of confidence in the leaders of the org."
Category: Leadership/MoFo vs. MoCo use case

- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: Users can express in their own words who the leadership is and how they function within each of the entities and how their backgrounds are relevant. (MoFo/MoCo/Boards, etc.).

[2018-07-07 00:19] ejregithub opened #5884 "About - P3 - I click on “Mozilla Foundation” and...woah. There’s a huge site there with a lot of text and tons of links. I’m overwhelmed and just don’t have the time to read all this stuff and figure it out. I click off."
Category: Leadership/MoFo vs. MoCo use case

- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: Dwell time on MoFo content; users are able to distinguish the difference between MoFo and MoCo in qualitative testing.

[2018-07-07 02:13] ejregithub opened #5885 "About - P1 - As a conscious chooser who has been using Firefox for a while and loves it, I saw an article on the web that mentioning Mozilla has a lot of activities open to volunteers. I go to the homepage to find out more and don’t see anything. I go to the “About Us” section and see the “Get Involved” link. I click on it. This page, like the “About Page”, looks dated and pretty different from the homepage."
Category - Get Involved
- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: Users see no recognizable differences from more current pages, such as the homepage,  in qualitative testing.

[2018-07-07 02:18] ejregithub opened #5886 "About - P2 - As a conscious chooser who navigates to “Get Involved”, I see the content and it’s A LOT. Nothing is jumping out at me as the correct first action for me to get involved. I’m in the middle of something and don’t have time , so I click off."
Category - Get Involved

- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: increased in number of contributors, donations, dwell time, and page referrals.

[2018-07-07 02:19] ejregithub opened #5887 "About - P2 - As a member of the media looking to understand who the press contacts are for Mozilla, I click on the Press Center and it’s a bunch of long-form content. I see no press contacts. I click off because I’m too busy and decide to write without reaching out to Mozilla."
Category - Press
- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: Increased pings to Media Relations by media makers, increased media placements

[2018-07-07 02:20] ejregithub opened #5888 "About - P2 - As a member of the press who has a quick deadline and need the current Firefox and Mozilla logos, I click on /About and see there’s a Style Guide that may be helpful. I click on the link and see a page that has links to style guides, telling me to “Use the links below to find what you’re looking for or just start exploring.” I don’t have time for that. I do Google Image search instead and download an (outdated) Firefox and Mozilla logo there."
Category - Press
- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: Decreased usage of outdated logos.

[2018-07-07 02:23] ejregithub opened #5889 "About - P2 - As a conscious chooser, I see an event at a Mozilla space listed on an event site and want to attend in London. I go to the homepage looking for a link to the space location information. I click on “About Us”. I click on the “Locations and Contacts” link, and see a LOT of content. I click on the tab for the London office, and I don’t see what the closest tube station is, if this is a place where I could drive to, but I do see a Space operations guide. I click on that and it’s a lot of wonky information that seems more directed to employees. I click off because I don’t have time to deal with this, and will likely skip the event."
Category - Locations

- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: Increased attendance at events, decreased requests to humans for information and more self-service.

[2018-07-07 02:24] ejregithub opened #5890 "About - P1 - As I conscious chooser, I’m interested in working for Mozilla, but before I apply I want to better understand the company’s mission. I click the About page and am surprised at how dated it is and doesn’t follow best practices you’d find from similar companies. I click on the different links and the experience seems broken. I’m not sure if I want to work here so I click out."
Category - Working for Mozilla
- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: increased referrals to /Careers.

[2018-07-07 02:25] ejregithub opened #5891 "About - P1 - As a blind user, my screen reader is saying strange things, and I can’t tell if it’s the content or if the site wasn’t built with screen readers in mind."
Category - Accessibility

- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: Meeting W3C A11y standards for people who are visually impaired

[2018-07-07 02:26] ejregithub opened #5892 "About - P1 - As a colour-blind user, I’m also having trouble seeing things because the colour contrast doesn’t work with my assistive tools"
Category - Accessibility

- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: Meeting W3C A11y standards for people with colorblindness

[2018-07-07 02:27] ejregithub opened #5893 "About - P1 - As a user with cognitive issues, I’m having trouble understanding things because the language is too complex."
Category - Accessibility

- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: Meeting W3C A11y standards for people with cognitive issues

[2018-07-07 02:29] ejregithub opened #5894 "About - P1 - As a Pocket user, I’m a big fan and use the product every day. On the Pocket homepage, there is not a lot of information Pocket and Mozilla’s relationship. I go to Mozilla’s homepage and click on “About Us”. I scroll the page and see no mentions of Pocket. There is a Firefox link at the top, so I hit that. I see Firefox Quantum and am not sure what that is. I scroll through and don’t see any info about Firefox and Pocket relationship. I click out not having had my questions answered."
Category - Pocket Connection

- [ref doc](https://docs.google.com/document/d/1op2sQfY_l73vkwZL1W20FtZvTDhNuuu_89aM4bhDGVQ/edit#)

Success metric: Referrals to /About from Pocket and/or to product pages

[2018-07-09 12:23] thejeffreytaylor commented on #5772
Marking as blocked for now. Any redesigns completed that are not informed by holistic user journey and multi-conversion funnel as a best practice run the risk of repeated backfill work.

[2018-07-09 12:34] thejeffreytaylor commented on #5864
Blocked until About Us/IA redesign sprint is complete on 27 July

[2018-07-09 14:24] rraue opened #5895 "404 pages must not include canonical and hreflang x-default"
Bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1474309

[2018-07-09 15:12] ejregithub opened #5896 "IA - P1 - Pocket - As a user who comes to mozilla.org and sees a link to Pocket, I’m curious about what Pocket is and how it relates to Mozilla/Fx. I click the link. I find myself on what looks like third party website that has a different navigation. There’s no obvious path back except my browser’s back button. Did I do something wrong? Is this the same company? Can I trust this?"
Success metrics: Decrease in Pocket website bounce rate for mozilla.org referral traffic.

[2018-07-09 15:13] ejregithub opened #5897 "IA - P1 - Pocket - As a Pocket user, I’m curious about their relationship to Mozilla/Firefox. I can’t find any relevant information on the Homepage, About page, or Pocket page. This leads me confused and weakens my brand loyalty."
Success metrics: More click-paths between Mozilla/Firefox and Pocket content.

[2018-07-09 15:13] ejregithub opened #5898 "IA - P1 - Pocket - As a user of Firefox I’m interested in discovering other Mozilla/Firefox products. I can’t find any content about Pocket within mozilla.org. This leads me uncertain, and I do not download the product."
Success metrics: More click-through to Pocket property from Mozilla pages.

[2018-07-09 15:15] ejregithub opened #5899 "Update Events link to Events.m.o in new nav"
User story: As a product manager on the Open Innovation team launching the new Events.mozilla.org website, I need a suitable place in the navigation of mozilla.org so visitors can find it.

Success metrics: Increased participation in Open Innovation events and efforts.

[2018-07-09 15:16] ejregithub opened #5900 "IA - P2 - New Products/Projects - As a product owner at Mozilla launching a new product/project, I don’t know where it should live in the navigation today. Firefox? Beside it? Somewhere else?"
Success metrics: Increased product installs and retention, decreased time spent on website projects (negotiation of page “homes”), increased conversion rate %, increased cross-sell conversions.

[2018-07-09 15:16] ejregithub opened #5901 "IA - P1 - New Products/Projects - As a Conscious Chooser visiting Mozilla.org, I am looking for a place to see Mozilla’s full product offering, how useful those products are for me, and how these products are reflection of Mozilla’s values."
Success metrics: Increased product downloads and engagement on product pages.  Qualitative research indicating reduced user confusion around product page navigation and overall recall of Mozilla product names/sub-brands.

[2018-07-09 15:17] ejregithub opened #5902 "IA - P2 - NAV - As a visitor to mozilla.org, I’m confused about where I am on the site and my options for next steps as there’s nothing that shows me where I am when I’m on pages like VR and The Future of Web Games. In some cases, like Pocket or Mozilla Hacks, I click on a navigation link and end up seeing a completely different navigation system."
Success metrics:  Increased (pathed content consumption vs. “dine and dash”) engagement in pages featured within navigation to be measured by click-pathing, dwell time, page referrals or a combination/something similar.

[2018-07-09 15:18] ejregithub opened #5903 "IA - P1 - Cross-Sell - As I user curious about the entire range of Mozilla’s products, I search the web for “Mozilla Products” and “Firefox Products:. The search results include some archived links from ten years ago as some of the top results. Is Mozilla asleep at the wheel here? I wonder what else they aren’t giving attention to and feel less confident about them as a company."
Success Metrics: Higher placement of current pages for Mozilla products on SERPs and SERP snippets for common keywords such as “Mozilla Products” and “Firefox Products”.

[2018-07-09 15:19] ejregithub opened #5904 "IA - P1 - Cross-Sell - As a satisfied Firefox user, I think Mozilla may have other great products to offer. I land on the homepage and see no links to other products. I go to Mozilla.org’s “About Us” looking for a list of all the products. I click on the “Our Products” link, and I get a long page that is just about Firefox Quantum. Where’s the rest of the products?"
Success metrics: Increased visits and conversions across all Mozilla product pages, increased overall engagement with product-related content.

[2018-07-09 15:21] ejregithub opened #5905 "IA - P2 - SUMO & User Resources - As someone who came to mozilla.org and was looking for Support for Firefox Desktop, I was surprised to see that the Support website looks completely different from the Homepage. I’m surprised, confused, is this a legitimate Mozilla site?"
Success metrics: Increased traffic, engagement, and overall participation in SUMO.

[2018-07-09 15:21] ejregithub opened #5906 "IA - P2 - SUMO & User Resources - As a Firefox Focus user, I want to get help and/or help others learn how to use them. I clicked around to see if there was customer support available, and I see a support link for Firefox. What about Firefox Focus? And even when I click on Firefox support, I end up on a page with icons for all the products? I’m confused. Shouldn’t this be more simple?"
Success metrics: Increased SUMO traffic and engagement on SUMO.

[2018-07-09 15:22] ejregithub opened #5907 "IA - P2 - SUMO & User Resources - As an avid Firefox fan, I’m disappointed that I can’t find simple information on the Firefox page or the Firefox Desktop support page to help my family with downloading Firefox while I’m home for Thanksgiving. Is there a one-sheet, video or something similar with simple directions?"
Success metric: Increased satisfaction with SUMO and the Firefox page delivering the right content, at the right place, at the right time in qualitative research.

[2018-07-09 15:23] ejregithub opened #5908 "IA - P2 - Audience Segmentation - As a visitor to Mozilla.org, I see content that would be great for someone else, like a developer or creator, but isn’t too relevant to me. I am really confused about what parts of the site are valuable for me, and I don’t have time to look around the entire site."
Success metric: Increased traffic and engagement.

[2018-07-09 15:24] ejregithub opened #5909 "IA - P2 - Internet Health - As someone who clicked on the Internet Health section, I am not too clear on how this content affects me. It seems a little advanced and out of order. It’s also a LOT of content and I just don’t know where to start or if it’s worth my valuable time. I wish there was some way to see how to begin here."
Success metric: Increased engagement with (and ROI from) internet health content.

[2018-07-09 15:24] ejregithub opened #5910 "IA - P2 - AMO - As someone who came to mozilla.org and was looking for add-ons for Firefox, I was surprised to see that the website looks completely different. I’m confused – is this a legitimate Mozilla site?"
Increased engagement with AMO, increased Fx retention.

[2018-07-09 15:33] ejregithub opened #5911 "IA - P1 -Nav - As a visitor to mozilla.org, the terminologies “Technology” and “Internet Health” don’t provide the content I was expecting to see. Is this supposed to be a privacy check or a test for the health of my instance of Firefox?"
Success metrics:  Overall engagement metrics. Also, in qualitative testing, respondents express a better overall sense of what each section is and what the navigation and page title terms used mean, such as “Internet Health” and “Technology”

[2018-07-09 15:33] ejregithub opened #5912 "IA - P1 - Nav - As someone trying to navigate around mozilla.org, I get frustrated when I have to click more than 4 times to get to my page. Please fix this."
Success metrics:   Overall engagement metrics (dwell time, page referrals)

[2018-07-09 17:47] ejregithub commented on #5896
Success Criteria
- Landing page for Pocket (a Product page)
- Links across the site
- Promote the fact that Mozilla and Pocket are one company
Q - when is their design refresh happening (early fall, not a concern)
- Need to sync w. marketing Pocket team / Pocket product team
Idea - screenshots of product images with Mozilla.org branded page
- Link to download
- Link to FAQ or whatevs
Goals:  # 1 -

[2018-07-09 18:04] ejregithub commented on #5896
@thejeffreytaylor @dzingeek - whiteboard this

[2018-07-09 20:48] ejregithub opened #5913 "Update Herz landing page (https://www.mozilla.org/de/firefox/new/?xv=herz) headline to be 'Zeit für den Browser mit Herz.'"

[2018-07-10 13:54] thejeffreytaylor commented on #5896
Preliminary Content Outline for Pocket Landing Page as starter for whiteboarding session: https://docs.google.com/document/d/1-6rjabVR1m5o17Jy6BXLJeYvHwsa8dYyd4SN5UX_KRA/edit#heading=h.tthvu2f39cre

[2018-07-10 13:54] thejeffreytaylor commented on #5897
Preliminary Content Outline for Pocket Landing Page as starter for whiteboarding session: https://docs.google.com/document/d/1-6rjabVR1m5o17Jy6BXLJeYvHwsa8dYyd4SN5UX_KRA/edit#heading=h.tthvu2f39cre

[2018-07-10 14:35] thejeffreytaylor commented on #5896
See related user story in Issue #5897

[2018-07-10 14:48] thejeffreytaylor commented on #5808
We've got several user stories on the board now, so I'm closing this.

[2018-07-10 14:48] #5808 closed

[2018-07-10 15:36] #5913 closed

[2018-07-10 16:18] rraue commented on #5897
Mentions of Pocket on www & blogs: https://docs.google.com/spreadsheets/d/1jLxr011IbPeHP4nAA0fq_04-4U1nUtJog6hFf5oJ0RU/edit#gid=562835182

[2018-07-10 17:21] alexgibson commented on #5635
I just need a final copy deck and sketch files and then we're good to start dev work here.

[2018-07-10 17:39] mrkwvr commented on #5635
Final design sketch file
[Yandex Landing Page-07102018.sketch.zip](https://github.com/mozilla/bedrock/files/2181502/Yandex.Landing.Page-07102018.sketch.zip)

[2018-07-10 18:01] stephaniehobson commented on #5879
There is already an A/B test running on this page. Has sufficient data been collected from it? Can it be disabled? Do we need to run another test based on the results for this one?

[2018-07-10 18:19] stephaniehobson commented on #5879
@ejregithub Could you please contact the team about this experiment: https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=77893531

1) Can we disable it? (If not we should not start a new one)
2) Should the winning variant be promoted to the default?
3) If the winning variant is promoted they should re-think the the current request.

[2018-07-10 19:02] #5865 closed

[2018-07-10 20:11] ejregithub opened #5915 "Create URLs for Legal"
Set up the following URLs

https://www.mozilla.org/privacy/firefox-reality

https://www.mozilla.org/about/legal/terms/firefox-reality/

[2018-07-10 20:17] stephaniehobson commented on #5915
We need content to set up URLs. Do we have content? Are they going to add something to the legal repo? I couldn't find anything there about Firefox Reality.

[2018-07-10 20:47] stephaniehobson commented on #5915
Sounds like the plan is to have something in the legal repo in the near future. I'll talk to @pmac about the feasibility of doing any preparatory work on our side.

[2018-07-10 22:10] stephaniehobson commented on #5915
Okay, I talked to @pmac about this and I understand the system better now.

We need to have a folder in the legal-docs repo before we can create the URL.

Adding the URL is a one line file edit and can be done very quickly. Since the new docs require us to do a sub-module update there isn't any time savings to be had by trying to do any work before hand.

The best thing to do is to add the URL whe

[2018-07-10 23:09] stephaniehobson commented on #5751
@rraue We don't quite have the control we need to implement this request 100% but how's this:

Firefox 61.0.1, See All New Features, Updates and Fixes
Firefox for iOS 12.0, See All New Features, Updates and Fixes
Firefox for Android 61.0, See All New Features, Updates and Fixes
Firefox Beta 62.0beta, See All New Features, Updates and Fixes
Firefox Nightly 62.0a1, See All New Features, Updates and

[2018-07-11 01:04] craigcook commented on #5862
On demo at https://bedrock-demo-craigcook.oregon-b.moz.works/en-US/firefox/accounts/features/

[2018-07-11 11:00] rraue commented on #5751
That's much better as well, thank you @stephaniehobson 🦊

[2018-07-11 11:54] #5751 closed

[2018-07-11 13:32] rraue commented on #5898
Pocket Landingpage keywords and user questions: https://docs.google.com/spreadsheets/d/1h99c2TuBVfaIZPfRUhj4IYX-ZUPA5f6nY3rdVRQmamQ/edit?usp=sharing

[2018-07-11 13:50] alexgibson commented on #5635
Link to final copy doc (in English): https://docs.google.com/document/d/1VsZsKD8wEzLJcaicg0I2uMYS0CZWr3V0ogACQ8CpY8E/edit#

[2018-07-11 13:51] alexgibson commented on #5635
I'm going to add a blocker to this task until we have the final Russian translation.

[2018-07-11 14:35] alexgibson commented on #5635
Other things we still need:

- The destination URL which we should point the dl button to (https://yandex.ru/firefox/mozilla is 404)
- The Yandex privacy policy link.

[2018-07-11 16:00] ejregithub opened #5918 "URL for /new variant - DE video content"
Please create the URL below and assign the content from /de/firefox/new/?xv=berlin&v=b to it.

https://www.mozilla.org/de/firefox/new/?xv=aus-gruenden

[2018-07-11 17:14] craigcook commented on #5710
Resolved in https://github.com/mozilla/irlpodcast/issues/74

[2018-07-11 17:14] #5710 closed

[2018-07-11 18:38] mrkwvr commented on #5862
@craigcook Looking good! Just a few things I noticed that I'm sure you're still working on:

- add firefox logo to top section
- make sure buttons are correct color/shape
- can we shift Send Tabs section to the left so that text aligns to hero section text? Matches the design but after seeing it I think it needs to be moved over.

[2018-07-11 18:59] craigcook commented on #5862
Doh, I knew I had forgotten something.

[2018-07-11 20:57] ejregithub opened #5919 "monitor.firefox.com project"
[Master project doc](https://docs.google.com/document/d/1d9fd5LxZD4IC2JE5DfhKoAlHQYtXMkDMVBmgkhyq06I/edit#)

Project goals
- [ ] Redesign of monitor.firefox.com (which brand? Or brand neutral?) and optimize for mobile by 62 launch on 9/5. Keep the more product look and feel as users will be coming here from Fx product and from other browsers.

- [ ] Promote newsletter signup and account sign up. a

[2018-07-11 22:07] craigcook commented on #5862
https://bedrock-demo-craigcook.oregon-b.moz.works/firefox/accounts/features/

Updates: added the logo, squared the buttons, aligned the boxes.

[2018-07-11 23:22] dzingeek commented on #5862
@craigcook can we tweak the buttons a bit? I know buttons am I right?
• They seem a bit too large
• Hover states might be an accessibility issue

I've updated the abstract file to have hover states included (second artboard). Let me know if you have questions or if this change is too much work.

**Abstract file (FxA Benefits Page > Hover states for buttons)**
https://share.goabstract.com/938627a0-

[2018-07-12 15:08] #5840 closed

[2018-07-12 15:51] craigcook commented on #5862
Updates: shrunken buttons, new hover states.

[2018-07-12 15:57] bniolet1 commented on #5862
We've got "Synced" and "Synched." I don't know what our official spelling is (would love to know if you do). But we need one.
![screenshot-bedrock-demo-craigcook oregon-b moz works-2018-07-12-11-55-59](https://user-images.githubusercontent.com/14222130/42644883-ae3e6848-85ca-11e8-98d5-7ba0b8b688f8.png)

[2018-07-12 16:19] craigcook commented on #5862
Good catch! I vote for "sync/synced" as our official spelling, since the feature is/was officially named Firefox Sync (sans h). I'll update.

[2018-07-12 16:40] thejeffreytaylor commented on #5862
Yep. AP style in synced. We checked.

[2018-07-12 17:03] alexgibson opened #5921 "Update pocket card dates on the home page"
In https://github.com/mozilla/bedrock/pull/5878 I totally forgot to update the pocket card dates on the home page (which are still hard-coded until https://github.com/mozilla/bedrock/issues/5723 is fixed).

We should update the dates to match the original article's published dates.

[2018-07-12 17:19] #5921 closed

[2018-07-12 17:44] ejregithub opened #5923 "Pocket - cards for homepage (above the fold)"
Create content to post in a card on the homepage

[2018-07-12 17:45] ejregithub opened #5924 "Pocket - cards for homepage (in the Pocket feed)"
Create content to post in the Pocket feed section about Pocket

[2018-07-12 20:44] ejregithub commented on #5862
@craigcook - Lauren indicated final signoff/approval in Slack. If/when the code review is done, let's ship it, please.

[2018-07-13 09:01] thejeffreytaylor commented on #5750
This content was drafted by Chelsea and Dustin and is currently being reviewed.

[2018-07-13 09:05] thejeffreytaylor commented on #5924
Working with Jennifer on this.

[2018-07-13 09:06] thejeffreytaylor commented on #5923
Working on this with Jennifer

[2018-07-14 00:15] ejregithub commented on #5635
@alexgibson - just the FYI that https://yandex.ru/firefox/mozilla is now in place.

[2018-07-16 13:20] alexgibson opened #5928 "Compile CSS in CI on pull requests"
I'm pretty sure we used to compile CSS in CI against each pull request. I'm guessing this changed as part of the django pipeline removal, but it would probably be useful to have this check still.

As an example, https://github.com/mozilla/bedrock/pull/5927 breaks the home page due to an error upstream - but this isn't picked up until someone pulls down the branch to test locally.

[2018-07-16 13:20] alexgibson commented on #5928
/cc @pmac

[2018-07-16 13:49] alexgibson commented on #5650
Protocol is an on-going project that will always in classed as in-progress. While it was useful to have this task on the board initially when Protocol was just getting started, development on it is now becoming "the norm" and is part our team's regular workflow. I'm going to close this issue, as the project board linked above can be better used to track the current state of progress.

[2018-07-16 13:49] #5650 closed

[2018-07-16 13:53] pmac commented on #5928
Hmm. I thought it did, but it looks like you're right. I'll try to knock this out today. Good catch!

[2018-07-16 18:30] #5928 closed

[2018-07-16 20:07] ejregithub commented on #5640
Per discussion with Jon, this needs a final sign-off from Vladikoff on the fxa team, but it is ready for review

[2018-07-16 20:54] #5862 closed

[2018-07-17 00:53] stephaniehobson commented on #5751
This is live :)

[2018-07-17 09:27] alexgibson opened #5931 "Language switcher no longer works without JavaScript"
This may well be an intended change reading https://github.com/mozilla/bedrock/issues/5581, but I'm filing this as not 100% sure.

STR:

Using any browser with JS disabled, or a legacy browser such as IE8 (where we don't serve JS):

1.) Visit https://www.mozilla.org/en-US/
2.) Scroll down to the language switcher in the footer and choose "Francais" from the list (as an example).
3.) Hit the "Go" b

[2018-07-18 02:32] stephaniehobson commented on #5880
Here are the 3 variations with temporary slugs:

https://bedrock-demo-shobson.oregon-b.moz.works/de/firefox/new/?xv=speed
https://bedrock-demo-shobson.oregon-b.moz.works/de/firefox/new/?xv=privacy
https://bedrock-demo-shobson.oregon-b.moz.works/de/firefox/new/?xv=oys

The image for large mobile/small tablets is not wide enough. For example, it looks funny on ipad a 768. I'm still working on that b

[2018-07-18 09:12] NdagiStanley commented on #5080
@pmac I'm curious. How did this go?

[2018-07-18 16:50] #5798 closed

[2018-07-18 18:04] ejregithub commented on #5880
I'm suggesting these to Guy, in the bug and in Slack.

Speed:  /de/firefox/new/?xv=geschwindigkeit
Privacy:  /de/firefox/new/?xv=privatsphare
On your side:  /de/firefox/new/?xv=auf-deiner-seite

[2018-07-18 18:40] #5879 closed

[2018-07-18 18:40] #5918 closed

[2018-07-18 20:29] pmac commented on #5080
Still not done :( We're going to do [kitsune](https://github.com/mozilla/kitsune/) first and then bedrock.

[2018-07-18 20:35] NdagiStanley commented on #5080
On this issue? https://github.com/mozilla/kitsune/issues/3177

[2018-07-19 17:44] ejregithub opened #5935 "Dev Newsletter page updates"
[Details](https://docs.google.com/document/d/18iLmmM3-SfGZI2JLTB_SKXn-N0p4y6DTcGx-Bhn-G6k/edit?ts=5b50c6fd)

Success criteria:

- [x] update hero image w. asset from Brigade
- [ ] update copy as found in the [Details](https://docs.google.com/document/d/18iLmmM3-SfGZI2JLTB_SKXn-N0p4y6DTcGx-Bhn-G6k/edit?ts=5b50c6fd) doc

[2018-07-23 15:04] thejeffreytaylor commented on #5924
@dzingeek @ejregithub I see the other card from Ben. It looks like we're automating the feed here, but have we agreed on what's going to be displayed exactly? Let me know where this is as it seems #5723 may be redundant.

[2018-07-23 15:06] thejeffreytaylor commented on #5923
@ejregithub Unclear on the status of this.

[2018-07-23 15:07] thejeffreytaylor commented on #5649
@ejregithub

[2018-07-23 15:07] #5649 closed

[2018-07-23 16:15] thejeffreytaylor opened #5937 "Create Pocket Section for FxA Benefits page"
Create a new section for the FxA Benefits page detailing sign in with FxA for Pocket:

Success Criteria:
- [x] New Pocket section is added
- [x] Page is updated with new images (sections include; send tabs, sync, and passwords )

![moz_fxa-pocket](https://user-images.githubusercontent.com/4681199/43089234-fbe80c2a-8e58-11e8-9b91-6721f8dbc1be.jpg)

[2018-07-23 16:31] alexgibson commented on #5649
@ejregithub can this issue be closed? The sketch file linked above seems to reflect what I see in production.

[2018-07-23 17:56] stephaniehobson commented on #5937
See also https://github.com/mozilla/bedrock/issues/5862

[2018-07-23 19:08] ejregithub commented on #5649
@stephaniehobson - i know that Collapsing/shortening the page is still an [open item](https://github.com/mozilla/irlpodcast/issues/65) - are there any others in that irl issues list we should flag here?

[2018-07-23 19:13] stephaniehobson commented on #5649
I don't know, I wasn't involved in this at all.

[2018-07-23 19:24] ejregithub opened #5938 "[Oct 1] Lean Data Practices site launch"
**Lean Data Practices Landing page + 4 supporint Pages:**
[Project Board](https://github.com/mozilla/bedrock/projects/10)
[Master Project Doc](https://docs.google.com/document/d/1gLnXiXzR-gQJq04x0RRiOjeqsP6GCgGL34Xf6y2K1iQ/edit)
[Current Page](https://www.mozilla.org/en-US/about/policy/lean-data/)
Resources from Client
[Copy doc](https://docs.google.com/document/d/1NBKCDZt8PJjPXP1yHNOozKx7ChUMYfAM

[2018-07-23 20:44] stephaniehobson commented on #5938
I'm curious about the Wordpress requirement. Do they expect to be updating it frequently? From the mockups it looks like a good candidate for a static site.

[2018-07-23 21:37] ejregithub commented on #5938
I'll ask Mika.

[2018-07-23 22:02] ejregithub commented on #5938
@stephaniehobson - Mika said Legal is good with a static website. I'll change the requirement.

[2018-07-23 23:04] ejregithub commented on #5938
@rraue - Mozilla owns leandatapractices.com and it currently redirects to https://www.mozilla.org/en-US/about/policy/lean-data/

The desire is to have the new Lean Data Practices content (nearly done) live on its own website and we're wondering, w. regard to SEO, if it is best that is live on leandatapractices.com - or - if live as a subdomain to mozilla.org (perhaps as 'leandata.mozilla.org).

Pl

[2018-07-24 11:33] rraue commented on #5938
But another question: what is the success metric of this page? There is in the new mockup a download button for the toolkit, but pretty much hidden in the footer and if usage of the toolkit is the success metric, I am pretty sure the current page will perform better.

[2018-07-24 13:04] rraue opened #5940 "Change way of deindexing for whatsnew and firstrun"
Currently /whatsnew and /firstrun are blocked by robots.txt but not little of the pages have external backlinks. These links do not count for the domain, as the landingpage is forbidden to crawl.

As we do not have much of these pages and dont have to worry about crawl budget on www (small site) we should allow crawling on whatsnew and firstrun and set them then to noindex, follow. Then they will

[2018-07-24 15:53] alexgibson commented on #5635
Localized copy: https://docs.google.com/document/d/1vL5BkSAuyIaIiPcNMyMznbCE_4Mha_nHIxKrbTJQzTE/edit

[2018-07-24 18:05] alexgibson commented on #5938
@ejregithub can you please provide some context as to the reasons why this update is in the form of a microsite, and not just a series of updates to the existing pages on www. If there are some good reasons to spin up a separate site for this then that's fine, but there is a long term cost of keeping microsites up and running, as well as ongoing maintenance required (asking for our SRE's).

[2018-07-24 19:05] craigcook commented on #5938
Perhaps the horses are already out of the barn on this particular project, but this is exactly the kind of thing Protocol is supposed to solve. We could pretty quickly build this set of pages without fully polished designs from an (expensive) agency.

I don't know that this site needs a unique brand and interface, unless it's purposely meant to stand apart from the Mozilla brand. If we need to mat

[2018-07-24 20:15] ejregithub commented on #5938
@alexgibson - I pinged Mika, who inherited the project. She's okay with this going on mozorg at /about/policy/lean-data/ with the requirement that the leandatapractices.com domain redirect there remains.

@rraue - this is an old design from The Brigade, we can largely ignore old bits, building it with our new toolkit. And the branding, while also out of date in the mockups, is intended to reflect

[2018-07-24 21:59] stephaniehobson commented on #5649
We don't have any designs for collapsing/shortening the page but with all the cover art on the homepage the current design has only so-so performance (the players lazy-load, which is good).

We already have season specific pages (https://irlpodcast.org/season1/) so I'll work on something to address #5681 next week.

[2018-07-25 19:57] ejregithub opened #5943 "/download/thanks page mail CTA content - a/b test"
## Important Links

[Manapage with Test Write Up](https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=81691444)

[Deck with User Flow](https://docs.google.com/presentation/d/1Sq9DCPt5-clMx2rCQ079cM5D7ybkgNLXqMpF_Bb8N5g/edit?usp=sharing)

[Content and Copy](https://docs.google.com/document/d/1ijjDcATdeBGWrBdyTWmJ-4la4RIb4Tyepn3VHv7Dy1s/edit#)

[Sketch File](https://share.goabstract.com/efef0

[2018-07-25 20:00] thejeffreytaylor commented on #5943
ETA for copy treatments Thursday SF lunchtime.

[2018-07-25 20:03] thejeffreytaylor commented on #5869
Adding the blocked label as there's no bandwidth for this for at least a week.

[2018-07-25 20:42] ejregithub opened #5944 "Experiment - ask for email prior to download"
[manapage w. test write up](https://mana.mozilla.org/wiki/display/FIREFOX/Ask+for+email+prior+to+download+test)

Success Criteria

- [ ] non-Firefox en-US visitors on Windows only
- [ ] Implemented on www.mozilla.org/firefox/

Prototype:
https://invis.io/SDNAAE3ZCK4

Sketch File:
https://share.goabstract.com/3473d71b-737b-480a-8dd0-658d84692668

[2018-07-25 20:55] dzingeek commented on #5943
Working on the flow now. Just posted it to the team for feedback before next steps.

[2018-07-25 23:27] ejregithub opened #5946 "(Due 8/28) WNP 62 - Sept 5th"
[Master project doc](https://docs.google.com/document/d/1wEpa-pEyQOIKwXSRligj6cUPbXQ-qN8wmP4LIe9q7ks/edit#heading=h.44tk8jl1sj1b)

Success Criteria

- [x] EN (all en locales) to be shown content for Pocket
- [x] Page is live on production August 29th to accommodate external QA

[2018-07-26 09:42] rraue opened #5947 "Mozilla not ranking for "Download Firefox for Mac" on mobile"
A user reported the he couldnt find any mozilla page searching for "download firefox for mac". He is located in Thailand using a private window in Safari. It wasnt easy to reproduce this bug, but we (or Google, so we need to help that crawler) definetly have tehre a problem. Mostly in mobile results, then even in de and us.

It hard to define the scope of this as search volume on such keywords is

[2018-07-26 13:38] alexgibson commented on #5635
We’re still waiting on one last string translation, but here’s the updated demo with the Yandex copy in Russian https://bedrock-demo-agibson.oregon-b.moz.works/ru/firefox/new/?geo=ru (edited)

[2018-07-26 18:22] ejregithub opened #5949 "(Due 8/22) [Legal] Trademark Webpages Updates"
[Spreadsheet](https://docs.google.com/spreadsheets/d/1JwiTM9wXDdDiNCBBWM43Zawf-70cpz4TKV8pDTDjrTw/edit?ts=5b5a0d81#gid=0)
[Slide deck](https://docs.google.com/presentation/d/1puvkxp0xq0YXYtOe8VB5l9Ie71JAiGUY-SPPwG5WPvU/edit#slide=id.g3e45100f31_0_0)

The slide deck informs on the spreadsheet, if needed.

Success criteria
- [ ] Target go live for August 22 pending final copy/QA by Legal
- [ ] Redir

[2018-07-26 23:54] michaelmccombie commented on #5827
Dependent on https://github.com/mozilla/protocol/issues/186

[2018-07-27 19:38] ejregithub opened #5950 "Code V1 - /new variation for Safari visitors"
https://bugzilla.mozilla.org/show_bug.cgi?id=1479085

[Content assets](https://share.goabstract.com/c89ffc12-ca7b-4848-844d-04db048a5ba2)

[2018-07-27 19:39] ejregithub opened #5951 "2 /new variations for Edge visitors w. traffic cop"
https://bugzilla.mozilla.org/show_bug.cgi?id=1479086

[Assets](https://share.goabstract.com/c89ffc12-ca7b-4848-844d-04db048a5ba2)

Success Criteria:
- 2 /new variations live
- Traffic is configured to route traffic according to spec in the [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1479086)

[2018-07-27 19:39] ejregithub opened #5952 "2 /new variations for Chrome visitors w. traffic cop"
https://bugzilla.mozilla.org/show_bug.cgi?id=1479087

[Design Assets](https://share.goabstract.com/c89ffc12-ca7b-4848-844d-04db048a5ba2)

Success Criteria:
- 2 /new variations live
- Traffic is configured to route traffic according to spec in the [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1479087)

[2018-07-28 11:16] #5810 closed

[2018-07-28 11:18] #5747 closed

[2018-07-28 11:19] #5746 closed

[2018-07-28 11:21] alexgibson commented on #5764
Duplicate of #5765

[2018-07-28 20:34] ejregithub commented on #5764
Not a dupe. There are quarterly updates MOSS wants. This was supposed to go on July 20th but has been delayed with the comment that the request is forthcoming, thus the subject line change from July 20th to TBD

[2018-07-28 20:46] alexgibson commented on #5764
This is the exact same google doc linked in the other issue, so without any further info in the description it wasn’t clear what this was for. Thanks

[2018-07-30 16:33] ejregithub opened #5953 "Pocket Product Page project"
This card is for tracking the status of the [Pocket Product page project](https://github.com/mozilla/bedrock/projects/6)
https://github.com/mozilla/bedrock/projects/6

[Master project doc](https://docs.google.com/document/d/12pkN9NT01xLGsV0U8BpUt8CKLRGu_03ICCh-iO8MjvQ/edit)

[2018-07-30 17:02] alexgibson commented on #5635
All strings are now in place, but we still need a GA & a fully formed test plan. Going to mark this as blocked.

[2018-07-30 19:55] craigcook commented on #5896
Demo: https://bedrock-demo-craigcook.oregon-b.moz.works/firefox/pocket/

[2018-07-30 23:07] dzingeek commented on #5896
**A few small design tweaks:**

- For larger screens can we narrow up the copy area for the hero section?
- Can we triple (might be too much but not sure) the white space between sections? So, the space between the hero and the "award-winning app" and so on?
- For the bottom CTA "The Content You Love..." can we use the next size smaller header size?
- What is in protocol for underline text that is

[2018-07-31 00:02] craigcook commented on #5896
We don't have a hover state for white links. I'm open to ideas. We could go for a non-white color but it needs to work with a wide range of backgrounds. Maybe a really light blue that changes to white on hover? Or white that changes to a light gray?

[2018-07-31 00:28] dzingeek commented on #5896
@michaelmccombie any thougths on the above (white hover states)?

[2018-07-31 00:30] dzingeek commented on #5896
@craigcook two other things to add...sorry

- please update the hero image to the one attached
- looks like copy might have gotten flipped (see the latest doc for edits)

![pocket-hero-img](https://user-images.githubusercontent.com/3740746/43430512-3018ff0c-941e-11e8-8e6e-57229273efd2.png)

[2018-07-31 07:00] shiri1248 commented on #5869
@thejeffreytaylor  can I work on this issue?

[2018-07-31 17:49] craigcook opened #5958 "Experiment: new download button styles"
We want to redesign our standard download button but need to do some testing to determine that proposed changes are an improvement or at the very least don't perform any worse than the current button.

The current download button has white text on a bright green background that fails general accessibility guidelines for minimum color contrast. We want to test a darker green variant that will be mo

[2018-07-31 18:38] #5880 closed

[2018-07-31 19:59] ejregithub opened #5960 "Nav / IA project status tracking card"
This card is used to monitor the overall project status of implementing a new Navigation based on a revised Information Architecture for www.mozilla.org

[The Nav / IA project board](https://github.com/mozilla/bedrock/projects/8)

Success Criteria:
- [ ] Must go live with update to the footer
- [ ] Must go out as a test, behind a switch for easy shut off
- [ ] Monitoring plan is in place at launch

[2018-07-31 20:03] ejregithub opened #5961 "About page project status tracking card"
This card is used to monitor the overall project status of implementing updates to the About page on www.mozilla.org

[The About project board](https://github.com/mozilla/bedrock/projects/7)

### Assets
[City Illustration Gifs](https://mozilla.box.com/s/k8bm62z3g31wvdko69fld5crovnr7b4r)

### Mock-ups
[Sketch File](https://share.goabstract.com/25d3bf4b-7df6-48eb-8dda-b2efa0d501b7)

### Copy
[Copy D

[2018-07-31 20:09] michaelmccombie commented on #5960
Dependent on https://github.com/mozilla/protocol/issues/182

[2018-07-31 20:12] michaelmccombie commented on #5961
Here is a link to the city assets (animated gifs) that James created.
https://mozilla.box.com/s/k8bm62z3g31wvdko69fld5crovnr7b4r

[2018-07-31 20:25] stephaniehobson commented on #5961
@michaelmccombie I do not have access to box and have been told as a developer I do not need it and will not be given an account. Could you put the assets somewhere else please?

[2018-07-31 20:48] michaelmccombie commented on #5961
@stephaniehobson sorry about that, I didn't realize that Box access wasn't available for the developers on our team. Here is a zip folder with those assets:
[city-illustrations.zip](https://github.com/mozilla/bedrock/files/2247041/city-illustrations.zip)

[2018-07-31 20:55] stephaniehobson commented on #5961
Here's the copy deck: https://docs.google.com/document/d/18jVD7utz_5NeJpbQf5koBayqvaBXlhcAtTRS0lSSK64/edit

[2018-07-31 20:57] stephaniehobson commented on #5961
@dzingeek Is the `About Page` branch in Abstract the right place to be looking for designs?

[2018-07-31 21:03] dzingeek commented on #5961
@stephaniehobson link to sketch file in abstract below. note: @mrkwvr (mark) is working on the hero graphic

https://share.goabstract.com/f0ee2ac8-06bc-44c2-962b-1edfdec97313

Also, box is still good for assets. @michaelmccombie you need to make sure that the files are shareable to anyone who has the link. Box defaults to private.

[2018-07-31 21:09] michaelmccombie commented on #5961
Thanks, Jennifer. @stephaniehobson this Box link should work now:

[2018-07-31 21:12] stephaniehobson commented on #5961
Thanks, I have what I need now :)

[2018-07-31 21:38] stephaniehobson commented on #5961
@ejregithub I see that we're not planning to localize this new page. The current about page is one of the most translated pages on the site. Will we localize this page in the long run? Is there a requirement to keep the old content around and serve it to other locales?

[2018-07-31 23:05] dzingeek commented on #5958
@craigcook I think that looks good. Let's talk to @ejregithub to see when we can start this test.

Oh one other thing, we would like to run this test soon before we start the email experiments on the /firefox page.

[2018-07-31 23:40] dzingeek commented on #5943
**Link to deck w/user flow and rough wireframes.**
https://docs.google.com/presentation/d/1Sq9DCPt5-clMx2rCQ079cM5D7ybkgNLXqMpF_Bb8N5g/edit?usp=sharing

[2018-07-31 23:41] thejeffreytaylor commented on #5943
Copy here: https://docs.google.com/document/d/1ijjDcATdeBGWrBdyTWmJ-4la4RIb4Tyepn3VHv7Dy1s/edit#

[2018-08-01 09:02] michaelmccombie commented on #5943
Here is a link to the InVision prototype for the pre-download workflow test:
https://invis.io/SDNAAE3ZCK4

[2018-08-01 09:55] alexgibson commented on #5635
With this new `/ru/firefox/new/` page, I'm going to simplify a couple of things given the new Yandex geolocation requirements.

- The page is no longer going to display an "up-to-date" or "out-of-date" notification bar at the top to existing Firefox users. We can't be sure exactly which version of FF Yandex will be providing on their download page, so I don't think we can safely assume what we can

[2018-08-01 20:42] thejeffreytaylor opened #5963 "Legal review of How Will Mozilla Use My Email?" text for signup experiment."
We added some text that gives users some context and reassurance around email collection either before or after Fx download. We would like to use this copy in addition to linking to the privacy policy, as we want to do better for our users than giving them a wall of text that they need to figure out on their own, while also assuring fellow Mozillians that we are asking people to sign up for commun

[2018-08-02 01:01] pmac opened #5964 "No HSTS header for locale redirect responses"
@april reported in IRC that [our Observatory score](https://observatory.mozilla.org/analyze/mozilla.org) is randomly low due to sometimes missing the HSTS header. It looks to me like this is because the 301 redirect from `https://www.mozilla.org/` to `https://www.mozilla.org/en-US/` does not include the header.

[code]

My guess at this point is that this is due to a Django Middleware ordering err

[2018-08-02 01:08] pmac commented on #5964
Hmm... this is very odd. The middleware ordering looks okay. Also the `x-xss-protection` and `x-content-type-options` headers are also added by the same `SecurityMiddleware` from Django and are present in the 301 response. So now I'm wondering if cloudflare isn't messing with the headers for these redirects. They are different page rules there. Perhaps there's a problem.

Also I have no idea what

[2018-08-02 14:05] jwhitlock commented on #5964
My results:

[code]

I get the ``strict-transport-security`` header. My theory is the ``x-backend-server`` is the key - if it is ``*.bedrock-prod.oregon-b.moz.works``, you get the HSTS header, and if you get ``*.iowa-a`` you don't.

[2018-08-02 14:11] pmac commented on #5964
@jwhitlock brilliant! I'll bet that's it. @jgmize looks like bedrock-prod in Iowa isn't configured properly. Let's take a look at that soon.

[2018-08-02 14:14] pmac commented on #5964
`SECURE_HSTS_SECONDS` should be set to `31536000`.

[2018-08-02 14:51] pmac commented on #5964
Looks like it's actually missing from Iowa, Tokyo, and Frankfurt :(

[2018-08-02 14:55] jgmize commented on #5964
pushed https://github.com/mozmeao/www-config/commit/71b9bc46530a5e500c381302bf5b71eec249d84c and will verify the fix in dev shortly before proceeding to stage and then prod

[2018-08-02 14:59] jgmize commented on #5964
[code]
[code]
[code]

[2018-08-02 16:11] ejregithub commented on #5961
@stephaniehobson - the only reason not to localize now is that more iterations to the page are expected (there are 10 more users stories in the backlog of the [project](https://github.com/mozilla/bedrock/projects/7)  ).  We do need to keep serving up the current content for other locales.  I do think, and we need @djst 's input on this, if we don't continue on those stories and iterate within a re

[2018-08-02 16:17] jgmize commented on #5964
[code]
[code]
[code]
[code]

[2018-08-02 16:25] jgmize commented on #5964
still waiting on cache expiration for the header to propagate through the CDN

[2018-08-02 16:26] pmac commented on #5964
Fantastic 🎉 Once that happens we can trigger a re-scan at the Observatory.

[2018-08-02 16:34] #5723 closed

[2018-08-02 17:30] michaelmccombie opened #5965 "[Indonesian What's New Page for Firefox Rocket] Replace "Firefox Rocket" logo and copy with "Firefox Lite""
The rebrand for Firefox Rocket has gone live. So we need to update the copy and the logos used to refer to this product on support.mozilla.

[Link to Play Store](https://play.google.com/store/apps/details?id=org.mozilla.rocket)

### Zip Folder with Assets
[Firefox Lite.zip](https://github.com/mozilla/bedrock/files/2254538/Firefox.Lite.zip)

[2018-08-02 17:32] michaelmccombie commented on #5965
We also have another open issue that has to do with that page.
https://github.com/mozilla/bedrock/issues/5834

[2018-08-02 18:15] michaelmccombie commented on #5965
Waiting for the thumbs-up from the Taipei team

[2018-08-02 19:25] #5953 closed

[2018-08-02 19:29] Sancus opened #5967 "On Ubuntu18.04.1 LTS, pip install -r requirements/dev.txt fails"
`Collecting setuptools (from icalendar==3.8.3->-r requirements/base.txt (line 11))
In --require-hashes mode, all requirements must have their versions pinned with ==. These do not:
    setuptools from https://files.pythonhosted.org/packages/ff/f4/385715ccc461885f3cedf57a41ae3c12b5fec3f35cce4c8706b1a112a133/setuptools-40.0.0-py2.py3-none-any.whl#sha256=d68abee4eed409fbe8c302ac4d8429a1ffef912cd047a9

[2018-08-02 19:34] Sancus commented on #5967
I'll also note that using hashin to add hashes for either setuptools==39.2.0 or 40.0.0 resolves the issue, but pinning a version of setuptools when there's really no good reason for it seems suboptimal.

[2018-08-02 20:05] Sancus commented on #5967
This issue is caused by icalendar 3.8.3 having setuptools in its requirements, which is not only redundant it is apparently harmful because [pip does not have a real dependency resolver](https://github.com/pypa/pip/issues/988).

This triggers a bug similar to https://github.com/certbot/certbot/issues/5195 where pip will try to install dependency requirements based on the order it encounters them w

[2018-08-02 20:10] michaelmccombie opened #5968 "[mozilla.org/privacy/firefox-rocket] Replace "Firefox Rocket" logo and copy with "Firefox Lite""
This is another page that would need an update to the logo/ copy.
https://www.mozilla.org/en-US/privacy/firefox-rocket/

![image](https://user-images.githubusercontent.com/5924575/43607721-e7a97cbe-9653-11e8-8f9d-b1a813d81726.png)

![image](https://user-images.githubusercontent.com/5924575/43608180-647fccce-9655-11e8-92c6-7ecdf75f5926.png)

[2018-08-02 20:14] michaelmccombie commented on #5968
@rraue the current URL for this page is /privacy/firefox-rocket. I'd assume that would need updating as well, not sure what that means for SEO.

[2018-08-02 20:24] jpetto opened #5969 "Remove Facebook container funnelcake"
Marketing has ceased to this funnelcake, so we can turn it off (mozmeao/www-config#125) and remove all associated code.

For reference, #5555 is the PR that added the funnelcake.

[2018-08-02 20:26] pmac commented on #5967
Nice work @Sancus! I think we do still need icalendar since we do still ingest some ical feeds from [reps](https://reps.mozilla.org/events/), but it sounds like we should upgrade. Thanks!

[2018-08-02 22:43] stephaniehobson commented on #5961
I've completed all the coding I can do with what I have.

Waiting on:
- Approval of the Protocol addition: https://github.com/mozilla/protocol/pull/197
- The hero image.

[2018-08-02 22:48] stephaniehobson commented on #5965
See also: https://github.com/mozilla/bedrock/issues/5968

[2018-08-02 22:53] ejregithub commented on #5961
@mrkwvr - please add/link to the hero image for the About page here when you have it.

[2018-08-02 23:57] ejregithub opened #5970 "301 redirect needs to be removed for /firefox/pocket/"
we have a 301 redirect in place pointing visitors hitting www.mozilla.org/firefox/pocket to getpocket.com.  In a PR merged earlier today we attempted to remove that, but it has not been successful - https://github.com/mozilla/bedrock/pull/5962/files

[2018-08-03 00:14] jgmize commented on #5970
I believe the PR did what it was supposed to do, but the 301 redirects are cached at the CDN. If you visit one of the CDN origins such as https://bedrock-prod.gcp.moz.works/firefox/pocket/ or https://bedrock-prod.oregon-b.moz.works/firefox/pocket/ you get the page instead of the redirect. Simply waiting for the cache to expire should be sufficient.

[2018-08-03 00:17] jgmize commented on #5970
[code]

The CDN will cache it for up to 12 hours; if needed I can log into the CDN admin and flush it sooner.

[2018-08-03 09:10] alexgibson opened #5971 "Title misalignment on /firefox/accounts/features/ page"
On the `/firefox/accounts/features/` page, at medium screen sizes the feature titles are not aligned to the descriptions. On the maps image, the attribution source is also not aligned.

![screenshot_2018-08-03 get a firefox account - sync passwords bookmarks and tabs everywhere](https://user-images.githubusercontent.com/400117/43634815-2f4c0648-9705-11e8-8799-063bab2d1543.png)

[2018-08-03 19:53] stephaniehobson commented on #5961
I have the hero image from Mark.

[2018-08-03 23:04] stephaniehobson commented on #5961
I submitted https://github.com/mozilla/bedrock/pull/5973

The site is on demo here: https://bedrock-demo-about.oregon-b.moz.works/en-US/about/

⚠️ 2 small lines of text are missing pending mozilla/protocol#197 I believe it is ready for review without these :)

[2018-08-06 12:30] rraue commented on #5751
I updated the brief document with the test results: https://docs.google.com/document/d/1VLMJ9VPJowgqc2rxhumbo58xue151cf4n41e8jcSnhQ/edit#

tldr:
Sessions decreased by 2,5%
Desktop downloads conversion rate increased by 6,9%
Desktop downloads increased by 4,2%
Bounce rate decreased by 13,2%
Session duration increased by 5,5%

I call it succesful 🔝

[2018-08-06 14:45] thejeffreytaylor commented on #5924
Closing this, as it went live last Friday as far as I know. @jpetto-circleci please re-open if I got this wrong. Still thing we could brand this for Pocket better and provide a small amount of content and some sort of Pocket conversion CTA in that section, @ejregithub and @djst - please let me know if you'd like for me to create an issue/card.

[2018-08-06 14:45] #5924 closed

[2018-08-06 14:47] thejeffreytaylor commented on #5923
@ejregithub Still unclear on the status of this.

[2018-08-06 14:49] thejeffreytaylor commented on #5963
Bug file by @ejregithub for legal review by Mika here: https://bugzilla.mozilla.org/show_bug.cgi?id=1480270 - Waiting for response.

[2018-08-06 14:50] rraue commented on #5968
@michaelmccombie Yes you are right, if the name change is permanent and not a test we should update all urls named -rocket to -lite and redirect the old ones 301.

[2018-08-06 14:51] thejeffreytaylor commented on #5961
@dzingeek and I are reviewing this today, 6 August, and will have feedback ready when @stephaniehobson returns from holiday tomorrow.

[2018-08-06 15:00] thejeffreytaylor opened #5974 "/new experiment to add FxA CTA"
[Experiment overview deck](https://docs.google.com/presentation/d/109QM--B0e1bndEov7wpCJWbvHmy26Hh-Wj6KOxObjmY/edit?usp=sharing).

Success Criteria:
- [x] Uses the FxAccount iframeless form
- [ ] Metrics must track impact of FxA CTA on downloads
- [x] Experiment content is shown only to up-to-date Firefox users
- [x] Fx Accounts team is informed of launch, in advance of it

[2018-08-06 20:58] jgmize commented on #5964
https://observatory.mozilla.org/analyze/mozilla.org is now green for HSTS.

[2018-08-06 20:58] #5964 closed

[2018-08-06 21:18] april commented on #5964
Thanks for taking care of this, everyone!

[2018-08-06 22:34] dzingeek commented on #5961
@stephaniehobson edits and tweaks below. reach out w/any questions.

**Our Mission Section**
- [ ] - CTA should go to https://www.mozilla.org/en-US/mission/
- [ ] - space between the cards in “our mission in action” section feel tight. If it doesn’t already it should match the spacing of the cards on the homepage. https://screenshots.firefox.com/n7ZtMOPJsBpin203/bedrock-demo-about.oregon-b.moz.wor

[2018-08-07 12:04] alexgibson commented on #5974
This task is somewhat dependent on the status of https://github.com/mozilla/bedrock/pull/5713

[2018-08-07 13:28] thejeffreytaylor commented on #5974
And is a sibling to #5944 - Once all these experiments are done, we need to make sure that our email collection efforts don't confuse users (Fxa vs. onboarding, etc.), and that the flows work such that users don't feel pestered or confused by the timing of these asks.

[2018-08-07 13:33] thejeffreytaylor commented on #5944
[Copy doc](https://docs.google.com/document/d/1ijjDcATdeBGWrBdyTWmJ-4la4RIb4Tyepn3VHv7Dy1s/edit?usp=sharing) for all states (not the usual copy deck template due to the nature of this project, but I can drop the text in there anytime upon request).

[2018-08-07 13:41] thejeffreytaylor commented on #5960
Dropping documentation links in here:

[Nav demo](https://demo2--mozilla-protocol.netlify.com/demos/navigation.html)

[IA/Nav Outline (using existing content](https://docs.google.com/document/d/1cHrYCrS93TEvCEkL0bd3gf4mCtPbM-xNtGe6GDndPYc/edit?usp=sharing))

[Round 1 IA/Nav Outline](https://demo2--mozilla-protocol.netlify.com/demos/navigation.html) that included pages that need to be built (needs

[2018-08-07 13:45] thejeffreytaylor commented on #5963
Closing the issue and pasting the [approval comment from Mika in legal from the bug ](https://bugzilla.mozilla.org/show_bug.cgi?id=1480270)here: "This is approved on the understanding that this particular email list can ONLY be used to send Firefox related product announcements.  Donations, policy/advocacy topics, and other Mozilla products are out of scope."

[2018-08-07 13:45] #5963 closed

[2018-08-07 15:06] rraue opened #5975 "Seo Audit & Strategy for Pocket"

[2018-08-07 15:17] alexgibson commented on #5970
I believe this is all resolved, closing thanks @jgmize

[2018-08-07 15:17] #5970 closed

[2018-08-07 16:18] alexgibson commented on #5949
For the record via Slack:

"Don’t worry about the CAPTCHA request for now, it’s not a blocker for the other requests, but we will have to get to a better solution than what we have as Legal is wasting a lot of time filtering submissions for violations."

[2018-08-07 17:47] craigcook commented on #5944
For further explanation, this is showing a sticky newsletter subscription form at the bottom of the Firefox product page that will appear some time after the initial page load (after scrolling a certain distance? Or after a certain amount of time? Was this decided?).

It should only be shown when viewports are large enough to show it without obscuring too much of the page (so not shown on small sc

[2018-08-07 18:11] stephaniehobson commented on #5751
💯

[2018-08-07 18:17] pmac opened #5976 "/media/revision.txt is a 404"
This URL has worked for years as a way of easily discovering which git revision is currently deployed. We broke this recently with the move of static media to hosting on S3. I'm thinking the easiest thing will be to move it from `/media/revision.txt` to simply `/revision.txt` which means we can simply drop a file during the docker image build into `root_files` directory, which are served directly

[2018-08-07 19:53] #5976 closed

[2018-08-07 22:14] ejregithub opened #5978 "Update Mark Surman bio on leadership page"
Success criteria:

- [ ]  Mark's bio is updated on https://www.mozilla.org/about/leadership/ with the copy and links found in [this document](https://docs.google.com/document/d/15mb0usyW4c1UwhSGP6MUrObTITUu5UnW43pWR-XhvAY/edit)

[2018-08-07 23:26] thejeffreytaylor commented on #5960
Adding [WIP IA/Nav KPI sheet.](https://docs.google.com/document/d/1w3BMTkYJrSwBDOzyP5-NBxRdZ9_l7U7FsX8Nzc3JgvE/edit?usp=sharing)

[2018-08-08 09:46] alexgibson opened #5982 "Remove unused /firefox/new/ templates"
We have a rather large collection of download page variations which are growing unwieldly once again:

https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/views.py#L607-L643

Rather than leaving this unchecked for much longer, I think it's probably time we remove any pages / URLs that are no longer in use.

The following seem to be likely candidates:

- [x] Wait Face
- [x] Reggie Watts

[2018-08-08 09:46] alexgibson commented on #5982
@ejregithub can you please try and find out if we can remove any of these? thanks

[2018-08-08 15:45] pmac opened #5983 "Remove use of DEIS_* variables in settings"
We can do the following instead:

1. Replace `DEIS_DOMAIN` with `CLUSTER_NAME` which is set in deployment.
2. Replace `DEIS_APP` with parsing the prefix of `HOSTNAME` which looks like e.g. `bedrock-stage-web-75c9dd854-pwc7x`

[2018-08-08 16:39] craigcook commented on #5943
@ejregithub  The title on this issue says it's an a/b test but the success criteria say it's 100% of en-US... we can run it as a test (meaning I'll put it behind a switch so we can turn it off) but if it's a/b are we testing it 50/50 against the regular thanks page? That may not be a meaningful test because the page with the form will obviously get more signups than the page without the form (whic

[2018-08-08 17:52] stephaniehobson commented on #5982
The /de/ landing page variation is part of an on going a/b test that should be ending soon.

The 3 Berlin campaign pages have only been around a few weeks. I don't see any evidence in the analytics that they've been part of a campaign yet. It would be nice if we had a date we could remove these by but I don't think it's passed yet.

[2018-08-08 18:09] stephaniehobson commented on #5961
Blocked on a replacement image for the Firefox OS image for "Get Involved."

Also, do we have a high quality image for the IRL image? What's in the Sketch file is not high enough quality for high res.

[2018-08-08 18:49] craigcook commented on #5943
Alright, I got the clarity I needed. Recording for posterity...

100% of English visitors will see an email subscribe prompt on the thanks page.

Of that English audience, we're doing an a/b test of two different headlines with a 50/50 split:

A: "Learn how to make Firefox even smarter, faster and more secure."
B: "Learn how to make the most of the browser made for people, not profit."

[2018-08-08 19:08] ejregithub opened #5985 "Test - snippet-like banner w. email CTA"
The idea here is to show a sticky newsletter subscription form at the bottom of the Firefox product page that will appear some time after the initial page load (after scrolling a certain distance? Or after a certain amount of time? Was this decided?).

It should only be shown when viewports are large enough to show it without obscuring too much of the page (so not shown on small screens). There sh

[2018-08-08 19:10] craigcook opened #5986 "Experiment - sticky "snippet-style" email CTA on Firefox page"
The idea here is to show a sticky newsletter subscription form at the bottom of the Firefox product page that will appear some time after the initial page load (after scrolling a certain distance? Or after a certain amount of time? Was this decided?).

It should only be shown when viewports are large enough to show it without obscuring too much of the page (so not shown on small screens). There sh

[2018-08-08 19:12] craigcook commented on #5986
I was too slow! Closing in favor of #5985 that was opened 30 seconds before this one.

[2018-08-08 19:12] #5986 closed

[2018-08-08 21:52] stephaniehobson commented on #5961
Got a replacement IRL image.

[2018-08-08 22:18] dzingeek commented on #5985
**Link to the deck that highlights goals and user flow**
https://docs.google.com/presentation/d/1y8z1k0-xyBNIXZ865mpa3WKV9cTjew5PQFrFtJ5Pyu4/edit?usp=sharing

[2018-08-09 16:27] dzingeek commented on #5961
@stephaniehobson let's just keep the image as is for the get involved section (ios blue shirt guy).

[2018-08-09 17:03] thejeffreytaylor commented on #5750
Working with @dzingeek to see where these pages can fit in the nav/IA. @rraue can you link us to the content?

[2018-08-09 19:37] pmac opened #5990 "Create service to monitor and update sitemaps with lastmod dates"
Part of the [sitemaps spec](https://www.sitemaps.org/protocol.html#lastmoddef) is a `<lastmod>` tag in which you can specify when the content was last changed. For us this is quite a challenge since several factors can contribute to the content changing for any page:

* The template with the content itself
* The parent template(s) which have nav, footer, sidebars, etc.
* The localization files tha

[2018-08-09 19:37] rraue commented on #5750
Here's the content for the "History of Web Browsers":
https://drive.google.com/open?id=1demvfj2kzdHZ2HhoS4GwUTNfRxFZ0s54veJ84XOwHKY

Here's the content for "What is a Web Browser":
https://docs.google.com/document/d/19msv-D3WdYS2k9ymxW2kRX6aM7obEk8qOZWUgqnC8KE/edit

and here is the Comparative Chart of Browser Features:
https://drive.google.com/open?id=1PaJzDRJJFAmyDecefBbh9K2KupDEZxPUbkeXpBNXYiI

[2018-08-09 21:39] ejregithub commented on #5949
@amychurchwell - I chatted with Alex, who agrees this could be another good card for you to take on.  Please take a look and ping with any questions.

[2018-08-09 23:27] thejeffreytaylor commented on #5960
Adding [WIP KPIs for the redesign](https://docs.google.com/document/d/1w3BMTkYJrSwBDOzyP5-NBxRdZ9_l7U7FsX8Nzc3JgvE/edit?usp=sharing)

[2018-08-10 06:05] michaelmccombie commented on #5931
Once we have the language selector page https://github.com/mozilla/bedrock/issues/5827 built out and added to the new footer https://github.com/mozilla/protocol/issues/184 we will be able to provide that same functionality to those who have javascript disabled.

[2018-08-10 08:33] alexgibson commented on #5635
Analytics requirements: https://docs.google.com/document/d/1zGfVM6nn1xgFtvf4ri8STgN1PXRVziJBNLu8Az91x2Q/edit?usp=sharing

[2018-08-10 10:10] alexgibson commented on #5978
Amy completed this issue in https://github.com/mozilla/bedrock/pull/5991

[2018-08-10 14:24] pmac opened #5993 "Publish Mozilla CA Policy 2.6.1"
https://bugzilla.mozilla.org/show_bug.cgi?id=1482307

[2018-08-10 15:40] #5993 closed, assigned to pmac

[2018-08-10 15:59] michaelmccombie commented on #5944
Here are links to the Prototype and Sketch file:

Prototype:
https://invis.io/SDNAAE3ZCK4

Sketch File:
https://share.goabstract.com/3473d71b-737b-480a-8dd0-658d84692668

[2018-08-10 16:42] ejregithub commented on #5961
@stephaniehobson - when you can, please update the page on demo.  I suspect @djst will be shopping this to stakeholders on Monday/Tuesday

[2018-08-10 18:20] stephaniehobson opened #5995 "Write functional tests for recently created Protcol pages"
The new Protocol newsletter component is on the Home and About pages now. We should write new functional tests to monitor the functionality like we did the old forms on those pages.

[2018-08-10 18:45] pmac opened #5997 "Bug 1482045: Update legal-docs for new translations of Fx Rocket Privacy Policy"
https://bugzilla.mozilla.org/show_bug.cgi?id=1482045

[2018-08-10 19:35] stephaniehobson commented on #5961
The most recent version of the code is on the demo site. https://bedrock-demo-about.oregon-b.moz.works/en-US/about/

[2018-08-10 19:46] ejregithub commented on #5935
@amychurchwell - want another one?

[2018-08-10 19:55] thejeffreytaylor opened #5998 "Change "other platforms and languages" microcopy."
User Story for Current State:

As a person downloading Firefox and needing a version in another platform, I see some text saying I can download on other platforms and languages. I'm confused. I thought it was an operating system and don't know what a platform  is.

Success Criteria:

- [ ] microcopy link is made globally from "Download on other platforms and languages"  "Download on other operatin

[2018-08-10 20:32] ejregithub commented on #5952
Assets for one of the new variations (2) are  now ready.

[2018-08-11 00:05] thejeffreytaylor commented on #5998
Next step: Consulting with Michael Verdi at the suggestion of @jpetto to get history behind term usage.

[2018-08-13 08:28] #5834 closed

[2018-08-13 08:46] alexgibson commented on #5944
To me these aren't success criteria, they sound more like requirements.

[2018-08-13 10:19] alexgibson commented on #5944
Demo:
  - https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/

Direct URL variants:
  - https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/?v=a (control)
  - https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/?v=b (newsletter)

This is now blocked on analytics requirements & the new email privacy copy page.

[2018-08-13 14:07] thejeffreytaylor commented on #5946
Copy deck here: https://docs.google.com/document/d/1uf8y5PqUHWghuI_wUmdmQVNEU28XvO9uOhuQmvPtqc0/edit?usp=sharing

[2018-08-13 14:18] pmac opened #6000 "Fix legal-docs language code missmatch"
The supported locale for Hindi on the site is `hi-IN`, but in other projects like legal-docs it's `hi`. Instead of changing the other projects we should have a way to map these in bedrock.

Also some languages available in legal docs (`sw` for example) aren't supported on the site, but do show up as available translations because there is a file in the legal-docs repo. When you try to view these t

[2018-08-13 14:30] craigcook commented on #5944
I'm working on the "how" page in #5943, should have a PR today. It will need to merge first so you can link to it.

[2018-08-13 14:50] ejregithub commented on #5944
Measurements: Site sessions -> installs - > retention at 3 weeks -> retention at 6 weeks

[2018-08-13 15:08] amychurchwell commented on #5935
@ejregithub - definitely! I'll tackle this once I finish Trademark Webpages #5949 :)

[2018-08-13 16:03] ejregithub commented on #5943
@craigcook - please ping @alexgibson in the PR requesting review when ready

[2018-08-13 16:07] ejregithub commented on #5960
@michaelmccombie to deliver icon updates today

[2018-08-13 18:29] stephaniehobson commented on #5950
Time estimates:
Code V1: L
Code V2: M
Traffic Cop: S

[2018-08-13 18:35] stephaniehobson commented on #5950
I'm going to take V2, the "comparison table" version with the goal of having it in for review before I leave EOD Wednesday.

[2018-08-13 18:43] ejregithub opened #6002 "[ASAP] Remove Mozilla Board member from Leadership page"
Cathy Davidson has officially left the Mozilla Board, we need to remove her listing on the leadership page.

Success Criteria:
- The listing for Cathy Davidson is removed from the 'Mozilla Foundation' section in https://www.mozilla.org/en-US/about/leadership/

[2018-08-13 19:04] ejregithub opened #6003 "Code V2 - /new variation for Safari visitors"
https://bugzilla.mozilla.org/show_bug.cgi?id=1479085

[Content assets](https://share.goabstract.com/c89ffc12-ca7b-4848-844d-04db048a5ba2)

Success Criteria:
- Version number 2 is live (not dependent on [Version 1](https://github.com/mozilla/bedrock/issues/5950) or Traffic cop)

[2018-08-13 19:07] ejregithub opened #6004 "Set up traffic cop for - /new variations for Safari visitors"
https://bugzilla.mozilla.org/show_bug.cgi?id=1479085

Content assets

Success Criteria:
- Traffic cop is live/in place to route traffic according to spec in the [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1479085) to page [version One](https://github.com/mozilla/bedrock/issues/5950) and [version Two](https://github.com/mozilla/bedrock/issues/6003)

[2018-08-13 21:26] #6000 closed

[2018-08-13 22:11] kyoshino commented on #6002
https://www.mozilla.org/en-US/foundation/about/ also needs to be updated.

[2018-08-13 22:27] dzingeek commented on #5974
Here is a .png of the user flow. @mrkwvr is working on the ui for the page now.

![new_fxa-experiment_uf](https://user-images.githubusercontent.com/3740746/44061489-6f66ba06-9f0d-11e8-85d5-4f96ab874cf3.png)

[2018-08-13 23:06] stephaniehobson commented on #6002
Thank you @kyoshino!

@amychurchwell Can you please remove it from the other page too?

[2018-08-13 23:07] ejregithub commented on #5968
Before we go too far on this page, i'm consulting with Legal. Blocking this card until we have direction from them (which may include archiving the original Rocket privacy notice).

[2018-08-13 23:11] stephaniehobson commented on #5969
@amychurchwell How do you feel about taking this on?

[2018-08-13 23:11] stephaniehobson commented on #5969
oops, wrong button.

[2018-08-13 23:33] amychurchwell commented on #6002
@stephaniehobson Done, just needs review. #6007

[2018-08-14 14:37] #5775 closed

[2018-08-14 16:04] ejregithub commented on #6002
@amychurchwell - a(nother) late breaking addition from the requestor:

Cathy should be added into the Emeritus section of this page: https://www.mozilla.org/en-US/about/leadership/#directors

ping me with any questions, please

[2018-08-14 16:19] #5983 closed

[2018-08-14 17:30] michaelmccombie opened #6011 "Image covering text on /firefox/accounts/features/ page"
On the `/firefox/accounts/features` page the images cover the text in between breakpoints.

![image](https://user-images.githubusercontent.com/5924575/44107662-001dd67a-9fad-11e8-93bf-c7ba29425382.png)

[2018-08-14 17:35] michaelmccombie opened #6012 "Pocket logo out of proportion on /firefox/accounts/features page"
The logo on the /firefox/accounts/features page has been stretched beyond to be a little taller than it actually is so we just need to replace that with an in-proportion logo. Here is a link to the Pocket logo we have in the Protocol assets library: https://github.com/mozilla/protocol-assets/blob/master/logos/pocket/pocket.svg

![image](https://user-images.githubusercontent.com/5924575/44107775-50

[2018-08-14 17:36] alexgibson commented on #6011
See also: https://github.com/mozilla/bedrock/issues/5971

[2018-08-14 18:03] #5961 closed

[2018-08-14 18:35] stephaniehobson commented on #6012
I matched the old height of the icon so it is much wider now.

<img width="1148" alt="screen shot 2018-08-14 at 11 34 27" src="https://user-images.githubusercontent.com/854701/44110978-065bf16c-9fb6-11e8-881a-6c7e481dca7f.png">

[2018-08-14 21:14] peterGerman commented on #5944
The Experiment will need to run for 2 days with each variant getting 10% or one day with each variant getting 20%.

Full experiment design coming tomorrow.

[2018-08-14 21:57] amychurchwell commented on #5949
Logos needed for foundation/trademarks/list/:

- Firefox Friends (white text not showing up on white bg -contrast version?)
- Pontoon
- Common Voice
- Pocket Wordmark
- Pocket logos for mac, android, iOs, "other apps."

(Slide 5 on slide deck.)

[2018-08-14 21:59] #6002 closed

[2018-08-14 23:17] #5744 closed

[2018-08-15 08:34] #5971 closed

[2018-08-15 08:34] #6011 closed

[2018-08-15 08:34] #6012 closed

[2018-08-15 08:38] alexgibson opened #6015 "/firefox/accounts/features/ layout issues in RTL"
This isn't an issue in production as the page has yet to be localized, but running locally I noticed some layout issues for RTL locales. We should make sure we fix these before we open the page up to translators.

Perhaps we could update the page to use Protocol components instead (which should support RTL out of the box).

![screenshot_2018-08-15 get a firefox account - sync passwords bookmarks a

[2018-08-15 13:53] pmac opened #6016 "Internet Health page content caching problem"
The main IH page randomizes the order of the "issues" section on the server side. This means that to the server and the CDN the page appears to change with nearly every request. If possible it would be better to do this shuffling using JS on the client side so that the payload from the server can remain constant.

Thoughts @alexgibson?

[2018-08-15 14:01] alexgibson commented on #6016
Hmm, I forgot this page does this. I seem to remember asking if doing this kind of thing was OK in jinja, and at the time there weren't any concerns  - but if that's no longer true then we can change it. This is a very old page, so I'd say even removing the shuffling altogether would likely be fine.

[2018-08-15 14:03] pmac commented on #6016
Yeah. The shuffling is neat in that it changes the primary image for that section, but it's so far down the page it's not likely to be noticed. I'm fine either way.

To be clear this is not a big deal. But in my attempts to improve the sitemap and detect when pages change so we can add "last modified" dates this is frustrating, and it does make the page less cachable since the HTML change makes th

[2018-08-15 14:05] alexgibson commented on #6016
Then I'd say let's just remove the shuffle altogether . Thanks @pmac 👍

[2018-08-15 14:52] pmac commented on #6016
Sounds good. Thank you @alexgibson 🎉

[2018-08-15 14:53] pmac commented on #6016
@alexgibson I'll knock this out. Should be quick. Do you happen to have a preference for which one of the items should be the "featured" one with the image on the left side?

[2018-08-15 15:00] alexgibson commented on #6016
I'd say choose the privacy feature 👍

[2018-08-15 15:25] amychurchwell commented on #5949
Demo link: https://bedrock-demo-achurchwell.oregon-b.moz.works/en-US/

[2018-08-15 17:18] #5895 closed

[2018-08-15 21:33] ejregithub commented on #5949
Logos needed for foundation/trademarks/list/:

- [ ] Firefox Friends
- [ ] Pontoon
- [ ] Common Voice
- [ ] Pocket Wordmark
- [ ] Pocket logo for mac
- [ ] Pocket logo for android
- [ ] Pocket logo for iOS
- [ ] Pocket logo for 'other apps'

[2018-08-15 21:33] thejeffreytaylor opened #6019 "/About Redesign UX Design"
Create User Flow + Wireframes for redesigned /About
[Link to epic if available](url)
[_Link to project brief here_](url)
[_Link to user flow/wireframes_](url)
[_Link to copy deck_](url)

- [x] Document User Journey

- [x] Create Wireframes

- [x] Internal Design Review (devs + managers)

- [ ] Get approval from stakeholders

[2018-08-15 21:33] thejeffreytaylor opened #6020 "/About Redesign Dev"
[Link to epic if available](url)
[Link to the project brief](url)
[Link to analytic requirements](url)
[Link user flow](url)
[Link to design file](url)
[Link Assets](url)
[Link to Content](url)

- [ ] Content Review

- [ ] Design Review

- [ ] Stakeholder Review

- [ ] Code Review

[2018-08-15 21:33] thejeffreytaylor opened #6021 "/About Redesign UI Design"
Visual Design (UI) Mockups for /About
[Link to epic if available](url)
[_Link to project brief here_](url)
[_Link to wireframes and user journey here_](url)

- [ ] Visual Design Mockups

- [ ] Internal Design Review (devs + managers)

- [ ] Dev Handoff Meeting

- [ ] Get approval from stakeholders

[2018-08-15 21:34] thejeffreytaylor opened #6022 "/About Redesign Content"
This issue tracks progress of content requirements-gathering and production for this project.

**Due Date: XX/XX**

[Link to epic if available](url)
[Link to copy deck here](url)
[Link to project brief here](url)
[Link to user flows here ](url)
[Link to mockups here](url)

Tasks:

- [x] Outline content requirements and create rough content outline

- [ ] Create first draft

- [ ] Draft in design m

[2018-08-15 21:45] thejeffreytaylor opened #6023 "/About Redesign SEO"
[Link to epic if available](url)
[Link to project brief](url)

[2018-08-15 21:50] thejeffreytaylor commented on #6023
@rraue We'll need some help from you to put some universal tasks in the description

[2018-08-15 22:22] dzingeek opened #6024 "/About Redesign Due XX/XX"
**/About Redesign Deadline xx/xx**
Is off-brand, dated, has A11y issues, has usability issues, and is just not a reflection of today’s Mozilla. While overall traffic is low compared to the homepage, employing UX and SEO best practices for an /About redesign will have that ensure that the traffic we do get serves our business goals.

Link to all user stories: https://docs.google.com/document/d/1op2

[2018-08-15 22:24] dzingeek opened #6025 "/About Email Signup Experiment Due XX/XX"
Due Date xx/xx
High-level description on what the test is about.
[Link to doc](url)
[Link to mana page](url)

**Estimated Size **
_Measure 1/2 days to full days_

- SEO Work = 1 day
- Content Work = 2 days
- Dev. Work = 4 days
- UI Work = 1 day
- UX Work = 1/2 day
- QA = 1 day

**Total = 9.5 days**

[2018-08-15 22:28] dzingeek opened #6026 "/About Update Hero Image"
Update hero image per legal request.
[link to new asset from legal](url)

- [ ] Update Image

- [ ] Code Review

- [ ] Design Review

[2018-08-15 23:25] thejeffreytaylor commented on #6022
Requirements and outline complete XX/XX, finishing copy draft in collaboration with @dzingeek on design.

[2018-08-15 23:29] thejeffreytaylor opened #6027 "Replace Mitchell's photo on the leadership page."
Mitchell has an updated photo. - The full format TK.

[2018-08-15 23:37] craigcook commented on #5943
This is live in production: https://www.mozilla.org/en-US/firefox/download/thanks/

[2018-08-15 23:37] #5943 closed

[2018-08-16 00:21] dzingeek opened #6028 "/About Email Signup Exp. User Journey Research"
Research current user journey and find areas that could be improved in user flow.
[Link to epic if available](url)
[Link to project brief here](url)
[Link to Mana page](url)
[Link to user flow](url)

- [ ] Document Current User Journey

- [ ] Internal Design Review (devs + managers)

- [ ] Get approval from stakeholders

[2018-08-16 07:45] alexgibson commented on #6019
@djst this is a mock project board (for the thing you asked myself and jennifer to work on). We're using it as an example for how we think our team should structure work on GitHub. Once it's ready we can discuss as a group, but for now please ignore as this is all just for example purposes.

[2018-08-16 08:17] #6016 closed

[2018-08-16 09:28] alexgibson opened #6031 "Newsletter on /download/thanks/ incorrectly sized when using IE"
I didn't pick up on this during code review (apologies), so I'm not sure if it was a last minute regression that snuck in perhaps, but in any version of IE the newsletter on `/download/thanks/` is incorrectly sized. Looks fine on Edge.

<img width="473" alt="screen shot 2018-08-16 at 10 26 20" src="https://user-images.githubusercontent.com/400117/44200661-0b560b00-a13f-11e8-970c-57a893ea1ca2.png">

[2018-08-16 09:28] alexgibson commented on #6031
/cc @craigcook

[2018-08-16 11:35] AllenChong commented on #6019
issue

[2018-08-16 16:14] ejregithub opened #6032 "Careers site - people image updates"
- [ ] update language/description in each hexagon

[2018-08-16 16:17] ejregithub commented on #6032
![image](https://user-images.githubusercontent.com/20547886/44221037-23c12800-a135-11e8-8173-2097b7ae1587.png)

[2018-08-16 16:50] dzingeek commented on #6032
@ejregithub are we getting an image from someone to replace the current image? Or is this something I need to spend time finding on my own?

[2018-08-16 17:05] ejregithub commented on #6032
@dzingeek - I'm going to ping Rainer as @djst suggested.  He's working from Europe now and then on PTO next week, hopefully I can catch him before he heads off and avoid looking ourselves.

[2018-08-16 19:17] ejregithub commented on #5655
@peiying2 - flagging the need for l10n with you.  We'll get final copy asap.  The request from product is to have the content in place, localized to top 10 langs, for Sept 5th

[2018-08-16 20:20] ejregithub opened #6034 "[Due for 9/5] Update ESR content on www.mozilla.org corresponding to ESR 52 deprecation"
Success Criteria:

- [ ] Remove ESR 52 content in https://www.mozilla.org/en-US/firefox/organizations/ - Place behind a switch, flip switch early on 9/5:
- [ ] Confirm with engineering that setting for ESR 52 will be removed in https://www.mozilla.org/en-US/firefox/organizations/all/

Note that no changes are required in https://www.mozilla.org/en-US/firefox/enterprise/

[2018-08-16 20:47] #5635 closed

[2018-08-17 08:51] alexgibson opened #6036 "Pocket feed homepage errors"
At around 8.50am GMT this morning we got alerts for the www.mozilla.org homepage being unavailable, which we could also verify manually (seeing a `400 Bad Request` message).

Around that same time, we also got alerts in both Sentry and New Relic that pointed toward a possible issue with the Pocket feed:

- https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/4564525/
- https://rpm.newreli

[2018-08-17 08:52] alexgibson commented on #6036
/cc @jgmize @metadave @pmac @jpetto

[2018-08-17 08:54] djst commented on #6032
![image](https://user-images.githubusercontent.com/5638050/44257290-dcf23180-a20b-11e8-9e78-8fc6dd1aebf3.png)

[2018-08-17 08:57] jgmize commented on #6036
We could also add error handling to https://github.com/mozilla/bedrock/blob/master/bedrock/base/templatetags/helpers.py#L117 which is what the lazy_img helper was calling when the external_img was false due to the regex not matching.

[2018-08-17 15:04] pmac commented on #6036
Here's what I think happened, and what I was able to reproduce locally:

1. An error fetching an article URL from the CDN caused a pocket article to get a `null` for `image_src`.
2. When the template called `article.image` it called `article.fallback_image()` which returned the result of `staticfiles_storage.url('img/pocket/pocket-feed-default.png')`. Due to settings in prod this URL was something

[2018-08-17 15:04] pmac commented on #6036
Working on a PR now.

[2018-08-17 15:14] #5969 closed

[2018-08-17 16:31] dzingeek opened #6041 "Bug: Something goes here about a bug that needs to be addressed for the /about page"
What is the issue:
What needs to be fixed:

[2018-08-17 17:05] pmac commented on #6041
um... is there a bug? I don't believe we need placeholder issues for any reason. Feel free to reopen if there's a bug I guess.

[2018-08-17 17:29] dzingeek commented on #6041
This is a demo project. We are using this to mockup ideas on how we want to use github and create a better process. Please ignore anything in this project.

[2018-08-17 18:02] #6036 closed

[2018-08-17 18:13] pmac commented on #6041
This repo is watched by 99 people and starred by nearly 700. That's a lot of false notifications. Please open a new testing repo to open testing issues.

[2018-08-17 18:13] #6041 closed

[2018-08-17 18:17] dzingeek commented on #6041
K, will do thanks for the heads up.

[2018-08-17 22:59] ejregithub opened #6043 "[Due 10/30] Data Leeks website (formerly Breached Recipes)"
[Brief](https://docs.google.com/document/d/1HPI04MmxrG_LD25sGfH3aLSy_tmfMT6qeYI-Z59uqAw/edit)

Success Criteria:
- [ ] Site is built with existing WP theme
- [ ] Site is live Oct 30th
- [ ] en-US only at launch (monitor.firefox.com will not be localized at launch)
- [ ] Developer hours NTE 3 days

Tasks:
- [ ] Vet WP theme, select winner and backup
- [ ] Set up WP instance and apply theme

[2018-08-17 23:25] michaelmccombie commented on #5946
Here is a link to the design files
https://share.goabstract.com/48f0d841-d03a-4546-a164-e90c1ea58e5d

[2018-08-20 07:56] kyoshino commented on #6034
Bugzilla: [Bug 1463436](https://bugzilla.mozilla.org/show_bug.cgi?id=1463436)

[2018-08-20 13:23] rraue opened #6045 "Redirect https://www.mozilla.org/en-US/firefox/download"
I found some backlinks to https://www.mozilla.org/en-US/firefox/download. The url with ending slash redirects to https://www.mozilla.org/en-US/firefox/new/ and so should the url without.

[2018-08-20 15:15] pmac opened #6047 "New About page claims to not be translated"
The new page at https://www.mozilla.org/en-US/about/ should list all translations in the footer language switcher but isn't doing so. My guess is that the old .lang file needs to be included in the template so that the active tags will be respected.

[2018-08-20 15:18] rraue opened #6048 "Missing urls in sitemap"
I was now able to test and crawl the sitemaps live and found some pages missing in the sitemap. Weirdly all locale /about/ pages aren't in the sitemap but the en-US version is. The rest are the pages always showing up when something is missing like old releasenotes and system requirements. I did a list of pages not in the sitemap but indexable and 200: https://docs.google.com/spreadsheets/d/15iRo0

[2018-08-20 15:33] dzingeek commented on #5946
I will package up the assets up today.

[2018-08-20 15:34] thejeffreytaylor commented on #5946
Copy decks for both versions will be up to spec by EOD today.

[2018-08-20 15:45] pmac commented on #6047
Related to #6048

[2018-08-20 15:59] pmac commented on #6048
Addressing the /about/ page in #6047. I assume we don't want any `/firefox/*/all/` pages in the sitemap?

[2018-08-20 16:08] ejregithub commented on #5974
Eric to ask jpetto for status on PR for iframeless

[2018-08-20 16:11] ejregithub commented on #5960
@djst to send out demo branch for feedback on nav.

[2018-08-20 16:17] craigcook opened #6050 "Add analytics to Pocket product page"
The page was initially built without any special tagging or events for GA. I suspect we just need to add some data attributes for the primary and secondary CTAs: the "Learn More" button at the top and the "Try Pocket NOw" button at the bottom.

Success Criteria:
- [ ] Get data and analyze for performance of interstitial page
- [ ] Get data and analyze for performance after removal of interstitial

[2018-08-20 16:20] ejregithub opened #6051 "Add download CTA to /system-requirements/ page"
https://www.mozilla.org/en-US/firefox/61.0.2/system-requirements/

[2018-08-20 16:24] ejregithub opened #6052 "Careers site updates (short term tasks)"
Success Criteria:

- [x] Each hexagon is update w. new copy reflective of current Mozilla brand
- [x] remove all 6 photos of people, and their quotes
- [x] keep only the team descriptions and CTA on each sub-page

[2018-08-20 16:37] rraue commented on #6051
<img width="1402" alt="screen shot 2018-08-20 at 18 31 45" src="https://user-images.githubusercontent.com/36700618/44353476-607b7f00-a4a7-11e8-9868-c61798142fe6.png">

All system-requirements pages have ca. 180k pageviews a month overall as a landingpage and ca. 20k pageviews via search but the conversion rate is only 1% because there is no download button on this page. The link to firefox/new is

[2018-08-20 16:43] rraue opened #6053 "Dublicate title on /system-requirements/"
https://www.mozilla.org/en-US/firefox/xxx/system-requirements/ and https://www.mozilla.org/en-US/firefox/android/xxx/system-requirements/ have always the same <title>. that's not good SEO, as a search engines needs different titles for differnet documents.

Title Android now: Firefox — 61.0.1 System Requirements — Mozilla
Fixed title: Firefox Android 61.0.1 System Requirements — Mozilla

Title des

[2018-08-20 16:45] rraue commented on #6053
@stephaniehobson it's a similar task like with the releasenotes, I am not sure if the variable is available like this, but anything that solves the duplicate and talks better to users works for Seo.

[2018-08-20 16:50] ejregithub commented on #6032
Closing this issue, latest requirements have been moved to this card - https://github.com/mozilla/bedrock/issues/6052

[2018-08-20 16:50] #6032 closed

[2018-08-20 18:10] ejregithub opened #6054 "[Due Sept 17] Profile per install feature - DOWNGRADE informational page"
[Background doc](https://docs.google.com/document/d/1qW4J_ons1ZlKgY1zA_taaRQ_Nk4BK5Afsynhb7gAqRQ/edit#)

Success Criteria:

- [ ] Page w. content informing users in the Downgrade scenario
- [ ] unique URLs for scenario (with a unique query param, etc)
- [ ] page set as no index
- [ ] Timing: pages in place Sept 17th to be seen in 64 Nightly release cycle
- [ ] Must be localized (top 10 in Nightly)

[2018-08-20 18:39] ejregithub opened #6055 "[August] Homepage content updates"
Success Criteria:

- [ ] homepage updated with [new content](https://docs.google.com/spreadsheets/d/14e4UMW1FIntdB-DU6WFq_tsUO21d2MJF0jsS2hP_Gok/edit#gid=0)

* handy mock up in [Airtable](https://airtable.com/shrVQdWrXYQus2NqT). (Be sure to click on the Next Record link at the top of the page to get to the 8/10/2018 edition)

[2018-08-20 18:59] ejregithub commented on #5974
I pinged Alex Davis about this two weeks ago, he's good with it.

[2018-08-20 19:09] ejregithub commented on #5974
@stephaniehobson - as a prerequisite to this experiment running, could you please review @jpetto 's PR for the iframeless FxAccount form? https://github.com/mozilla/bedrock/pull/5713

[2018-08-20 19:35] mrkwvr commented on #5946
Design file and assets available here https://mozilla.box.com/s/0v0sgnllpiq9662kgtyf1mudm8g0vjgz

[2018-08-20 20:30] ejregithub opened #6056 "Update UI tour copy for identity popup changes in 62"
https://bugzilla.mozilla.org/show_bug.cgi?id=1466235

Success Criteria
- [x] new strings are added, PR submitted and tagged for l10n

[2018-08-20 20:45] #6047 closed

[2018-08-21 00:01] stephaniehobson commented on #6053
If we add the channel in like we did with the Release Notes I think we end up with:

Firefox 61.0.1 System Requirements — Mozilla
Firefox for iOS 12.0 System Requirements — Mozilla
Firefox for Android 61.0 System Requirements — Mozilla
Firefox Beta 62.0beta System Requirements — Mozilla
Firefox Nightly 62.0a1 System Requirements — Mozilla
Firefox for Android Beta 62.0beta System Requirements — Moz

[2018-08-21 13:45] peterGerman commented on #5944
Hey Gang, Draft experiment outline and instrumentation requirements -> https://docs.google.com/document/d/16KGkQt-owZ8l7aunA131fmNRA5LUoWP2kseILvj-z4Y/edit

[2018-08-21 14:18] pmac commented on #6048
@rraue I've deployed some fixes to [my demo site](https://bedrock-demo-pmac.oregon-b.moz.works/en-US/sitemap.xml) again. It should now have the grants urls, no longer inlucde /firefox/*/all/, and fix many missing urls. I have not done anything about the system-requirements or known-vulnerabilities urls. We can discuss those.

[2018-08-21 16:43] #6045 closed

[2018-08-21 19:54] dzingeek commented on #5946
Designs have been updated. We are going out with version A and if there is time we will test Version B.
https://share.goabstract.com/aef26895-1f7b-485f-a6db-f18efb2c6a44

[2018-08-21 19:57] dzingeek commented on #5946
**Note:** The design and copy was approved by Janis & Devyani in the slack channel 08.21.18 around  10:35am

[2018-08-21 23:24] #6034 closed, assigned to nobody

[2018-08-22 00:54] stephaniehobson commented on #6053
Ended up not including the "channel".

These are as requested:
Firefox 61.0.1 System Requirements — Mozilla
Firefox for Android 61.0 System Requirements — Mozilla

And Nightly will show up as:
Firefox 62.0a1 System Requirements — Mozilla

I can add the channel if there's any value to that.

[2018-08-22 03:30] ishanrai05 commented on #6055
Hi, I would like to help with this issue.

[2018-08-22 11:14] rraue commented on #6053
@stephaniehobson If its not much work, I would go with the most distinguished title, so with the channel. But only if it's easy to get the channel here, as these type of pages will not be search rocking pages.

[2018-08-22 11:44] rraue opened #6062 "Bug bounty pages have duplicate titles"
All four bug bounty pages have the same title and are therefore harder to distinguish for search engines. We are currently ranking for "bug bounty" on 17 and jumping to at least the first search result page would probably get us more bug reports. The h1 is different and so should be the title.

https://www.mozilla.org/en-US/security/web-bug-bounty/
Title now: Mozilla Security Bug Bounty Program —

[2018-08-22 13:30] ishanrai05 commented on #6062
hello.. I'd like to help with issue.. I

[2018-08-22 15:11] ejregithub commented on #5949
@amychurchwell - the feedback is maintain the current URL /foundation/trademarks/list/ but to revert the update to the h2 you just made to the original plural to stay matching "Mozilla Trademarks List"

[2018-08-22 15:49] michaelmccombie commented on #5965
The Taipei team is still testing the new logo so we need to revert this merge and reopen the issue.

[2018-08-22 16:53] stephaniehobson commented on #6053
@rraue It's not much trouble. I removed it because it made the current into "Firefox Release" which will be confusing to users. I think I can just exclude the channel when it's release.

The other thing I was wondering about was if it is okay for these page titles to be changing as the different versions get released. The 61.0.1 page will go from Nightly to Beta to Release over time.

[2018-08-22 16:55] rraue commented on #6053
@stephaniehobson That's not ideal but its okay as the title should reflect what the page is about. And if this changes that's fine.

[2018-08-22 19:47] #5935 closed

[2018-08-22 19:53] thejeffreytaylor commented on #5946
Copy Decks:

[Version A (to be deployed) ](https://docs.google.com/document/d/1y8mjxwaZ5tCuwoBP3KKpODCsEKOg0DAg1UsWzZFu3dY/edit)

[Version B](https://docs.google.com/document/d/1uf8y5PqUHWghuI_wUmdmQVNEU28XvO9uOhuQmvPtqc0/edit?usp=sharing) (for testing, if bandwidth allows)

[2018-08-22 19:57] thejeffreytaylor commented on #6052
Natalie Linden and I met with Tori Covington yesterday. She's asked us to hold for a sec so she can secure copy requirement feedback on Friday, and also to consult with Michael to ensure there's no other red flags that may cause another senior executive to come back and ask for another redesign.

[2018-08-22 20:33] peterGerman opened #6069 "Campaigns Missing from Telemetry Attribution"
There are a number of campaigns that are in market which are missing from Telemetry Attribution particularly from our paid search program.

This doc has an outline of how the MCAC:LTV solution works
https://docs.google.com/document/d/1bvCDUDdxiPkCAtqsqtqxclO9VSv6WkhYJdAvCn5cNIg/edit#heading=h.vm6gvxyv2wd8

Campaigns appearing in telemetry:
https://docs.google.com/spreadsheets/d/1FJWFHNShKU1nz-XAos

[2018-08-23 16:27] amychurchwell opened #6070 "Make Trademarks List Responsive"
https://www.mozilla.org/foundation/trademarks/list currently breaks on mobile.

Success Criteria
- [ ] Images are not distorted on mobile, tablet, or desktop.

[2018-08-23 16:45] dzingeek commented on #5946
**One small tweak to the design:**
Adding Fx logo in header area since the copy no longer references Fx. Sketch file is up to date.

See png for reference.
![screen shot 2018-08-23 at 9 40 22 am](https://user-images.githubusercontent.com/3740746/44539518-3699a680-a6b9-11e8-941e-e5cc6af1d736.png)

[2018-08-23 19:44] mrkwvr commented on #5974
Final design file https://mozilla.box.com/s/y3gjvsl7d1ny1a2tm0a3wbr1fib5l1q4

[2018-08-23 20:28] #6070 closed

[2018-08-23 20:30] amychurchwell commented on #5949
@ejregithub trademarks/list/ responsive issue will be resolved in this PR.

[2018-08-23 20:56] dzingeek commented on #5974
Looks like we got approval from Lauren to move forward with this direction and copy via slack.
08/23/18 @ 12:31pm

[2018-08-23 22:52] #6053 closed

[2018-08-23 23:23] ejregithub opened #6072 "Make winner of a/b test on /download/thanks page the default, localize to target langs w. newsletter emails"
From the test /download/thanks page mail CTA content - a/b test #5943

Success Criteria:

- [x] Version A is made the default content and shown to: en. es, pt-br, fr, ru, ID, DE, PL
- [ ] Content is localized to en, es, pt-br, fr, ru, ID, DE, PL corresponding to newsletters available in those langs

[2018-08-23 23:39] stephaniehobson commented on #6072
I am concerned that the new page does not include the "Try downloading again" prompt that the old one did.

[2018-08-24 00:09] ejregithub commented on #6072
@stephaniehobson - can you please confirm if I'm seeing the right thing here?  I just went to https://www.mozilla.org/en-US/firefox/download/thanks/?v=a  (and the b version_ and was met with this banner in each:

<img width="1072" alt="screen shot 2018-08-23 at 5 05 53 pm" src="https://user-images.githubusercontent.com/20547886/44558083-0b35ac80-a6f7-11e8-8599-8622e2786cde.png">

[2018-08-24 01:06] craigcook commented on #6072
There are a few additional updates pending to the page, namely with the after-subscribe thank you message. The desire is to hide the title and tagline and add a Firefox mobile promo below the thanks message. That was the original design but a didn't get implemented due to my oversight. It's not a major change but will take a little JavaScripting to listen for the ajax response.

[2018-08-24 01:11] stephaniehobson commented on #6072
Okay, I see it now. I just had a bit of banner blindness.

[2018-08-24 13:13] ishanrai05 commented on #6062
Is the issue still open? I'd like to help.

[2018-08-24 15:11] thejeffreytaylor commented on #5655
[Copy deck here](https://docs.google.com/document/d/1Ze-2tnOFJ6b4pMH2MilPC3LADM3_JWwT195JawXdIAU/edit?usp=sharing)

[2018-08-24 15:15] #5770 closed

[2018-08-24 15:15] #5772 closed

[2018-08-24 15:29] #5998 closed

[2018-08-24 15:29] #6027 closed

[2018-08-24 15:30] #6023 closed

[2018-08-24 15:30] #6022 closed

[2018-08-24 15:30] #6021 closed

[2018-08-24 15:30] #6020 closed

[2018-08-24 15:31] #6019 closed

[2018-08-24 15:31] #5877 closed

[2018-08-24 15:31] #5869 closed

[2018-08-24 15:31] #5864 closed

[2018-08-24 15:44] dzingeek commented on #5946
**Note:** The design is still in flux, there has been some back and forth in the slack channel. I think we can still move forward with dev but keep in mind there might be some updated images and small copy tweaks.

[2018-08-24 22:02] stephaniehobson commented on #5974
#5713 is merged now.

The original requirements for the iframeless form were to put it on /firstrun which is only ever seen by Firefox users.

So, even though #5713 is merged it is not ready to be used on /new immediately.

[2018-08-27 09:03] #6062 closed

[2018-08-27 09:04] #5852 closed

[2018-08-27 13:49] jpetto opened #6076 "Remove iframeless FxA form test page"

[2018-08-27 15:03] rraue opened #6078 "All grants pages have duplicate titles"
All grants pages have duplicate titles but differentiated H1, so we should set the h1 as the <title> for the following pages:

https://www.mozilla.org/en-US/grants/jambu.html
https://www.mozilla.org/en-US/grants/ariel-rios.html
https://www.mozilla.org/en-US/grants/compumentor.html
https://www.mozilla.org/en-US/grants/fscons.html
https://www.mozilla.org/en-US/grants/adaptive-technology-resource-cen

[2018-08-27 16:09] craigcook commented on #6003
https://bedrock-demo-craigcook.oregon-b.moz.works/en-US/firefox/new/?xv=safari&v=2

[2018-08-27 16:09] craigcook commented on #5950
https://bedrock-demo-craigcook.oregon-b.moz.works/en-US/firefox/new/?xv=safari&v=1

[2018-08-27 16:58] ejregithub opened #6081 "[Sept 4 or sooner] Updates to Developer Edition pages"
[Work request](https://docs.google.com/document/d/19WYyoDub7hbKbJonAJkqV-y09g0WuX3FKpJvSE1Eoew/edit)

Success Criteria:
- [x] https://www.mozilla.org/en-US/firefox/developer/ is updated with new content
- [x] https://www.mozilla.org/en-US/firefox/62.0a2/firstrun/ is update with new, duplicate content
- [ ] https://www.mozilla.org/en-US/firefox/61.0a2/whatsnew/ is update with new, duplicate content

[2018-08-27 17:43] ejregithub opened #6082 "[Sept 10] Update UI tour copy for identity popup changes in 63"
https://bugzilla.mozilla.org/show_bug.cgi?id=1484585

Success Criteria:
- [ ]  content (new strings) must be live in prod on Sept 10th

[2018-08-27 18:16] ejregithub opened #6083 "[Due 9/20] Update /firefox/mobile/ page w. new strings"
[Bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1483945)
Update https://www.mozilla.org/en-US/firefox/mobile/#focus with new strings

Success Criteria:
- [ ] strings are in place and live on 9/20 to correspond to product release
- [ ] localization is required

=======
Remove:
Lightweight
iOS and Android

Save your mobile memory for the memories. Firefox Focus takes up less selfie space on your

[2018-08-27 18:17] ejregithub commented on #6083
@thejeffreytaylor - can you give the new copy a review, please?

[2018-08-27 18:30] pmac opened #6084 "Add geolocation-based redirector view class and documentation"
We typically do geolocation on bedrock on the client side by requesting the user's country code at our [country-code.json](https://www.mozilla.org/country-code.json) endpoint. This works by parsing the information out of the request headers, as our CDN has already used IP-based geolocation to gather that info and has sent it to us.

Another use of that header for us could be to create a URL (or co

[2018-08-27 18:41] dzingeek commented on #5946
New url for Get Pocket CTA buttons: https://getpocket.com/firefox_whatsnew

_Will updated copy doc with all link urls_

[2018-08-27 20:13] #6076 closed

[2018-08-27 21:53] craigcook commented on #5950
There was no copy deck, only the Sketch file.

[2018-08-28 08:30] alexgibson commented on #6084
From a technical point of view I think this sounds great, and would simplify many things we currently have to do client-side. One area where we may have to give a little further thought could be SEO however, so I would love to get @rraue's thoughts on this?

I can imaging something like the above would work great for non-indexable URL's, such as `/whatsnew/`. For public URLS (such as Firefox downl

[2018-08-28 09:47] alexgibson commented on #6051
This seems like a good opportunity, but we should also take stock of the existing user flow this page presents. GA may give us some better clues, but I think a good % of users who come to this page are likely on outdated systems that Firefox no longer supports. If we detect such a system for example, instead of seeing a download button users see this:

<img width="282" alt="screen shot 2018-08-28

[2018-08-28 13:40] thejeffreytaylor commented on #5950
Please see Sung for all copy references. I can help on B versions if needed, but he and Kirby are the final authorities here. My involvement is I did some content design work on the tables and edited/re-wrote the copy.

[2018-08-28 13:42] thejeffreytaylor commented on #5946
@dzingeek Is this done? Should I QA the copy again?

[2018-08-28 13:45] thejeffreytaylor commented on #6083
Should I review just what's above?

[2018-08-28 13:48] thejeffreytaylor commented on #6052
Nothing from Tori as of AM of Tuesday 28 August. I've emailed her.

[2018-08-28 13:57] thejeffreytaylor commented on #6054
[Copy deck here ](https://docs.google.com/document/d/1s2IbTeRMGOkKqu8kDiJW4_NrROAl9FVMVlBMbIzb5ao/edit)- still needs review.

[2018-08-28 14:19] pmac commented on #6084
Absolutely. I've pinged Raphael in a doc about this, but discussing here seems more appropriate. We'll definitely need to weigh that should we want to use this technique on an already well-established URL.

[2018-08-28 14:41] #6069 closed

[2018-08-28 17:02] rraue commented on #6084
I still did not completely understand the change but basically what needs to be true for SEO:

- Links have always one destination (we have some exceptions like for releasenotes and that's fine but they need to be exceptions)
- Every language/country needs its defined url, so there has to be a complete mapping possible for hreflang
- It is no problem if these urls have different patterns (/klar &

[2018-08-28 18:07] pmac commented on #6084
Agreed. But we have run into situations where location matters more than language. We're seeing that with Firefox Rocket, which is only available in certain countries in the app stores, and Firefox Focus/Klar which has a different name and legally can't be called the other name in certain countries regardless of language. Hopefully the use of this will be rare and appropriate, but having good SEO

[2018-08-28 18:08] dzingeek commented on #5946
@thejeffreytaylor I don't think you need to do anything but if you want to double check the copy docs feel free.

[2018-08-28 18:09] dzingeek commented on #6054
@thejeffreytaylor let's sync up on this as I have shifted things around a bit before we send out to other team for review.

@ejregithub please hold off on getting other teams approval.

[2018-08-28 23:07] #5950 closed

[2018-08-28 23:07] #6003 closed

[2018-08-28 23:07] #6004 closed

[2018-08-29 02:19] ejregithub commented on #5951
@dzingeek @vincejoyiv - please give the pages (v=1 and v=2) above a QA review and ping me if we are good to pass it to the New User aDAU team for the same signoff.

[2018-08-29 08:26] alexgibson commented on #6072
My 2 pence on this request (after some brief discussion with Amy yesterday):

- If we only localize this new page for the locales requested in the description, we'll have to wait for those translations being completed before we can merge this PR, which would likely delay this work rather than make it happen quicker. We'll also still be in a situation where every other locale is being served the ol

[2018-08-29 12:48] alexgibson opened #6091 "CSP error loading resource from adservice.google.com when downloading Firefox"
STR:

1.) In a browser with DNT disabled, visit: https://www.mozilla.org/en-US/firefox/download/thanks/
2.) Open the Web Console in developer tools.

Expected results:

No CSP error

Actual results:

[code]

[2018-08-29 13:33] alexgibson commented on #5944
@dzingeek @vincejoyiv, I think this is now ready for design QA:

Direct URL variants:

    https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/?v=a (control)
    https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/?v=b (newsletter + headline 1)
    https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/?v=c (newsletter + headline 2)

[2018-08-29 13:42] alexgibson commented on #5944
This is also now ready for analytics QA:

To test, use a **non-Firefox browser on Windows** with **do-not-track disabled** and visit the following URL:

- https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/

You have a 20% chance of being redirected to one of the following three variants:

- https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/?v=a&utm_source=retention-experime

[2018-08-29 15:03] craigcook commented on #6091
Looks like the pixel. There's a 302 redirect from ad.doubleclick.net right before the error. Google must have recently changed it on their end.

[2018-08-29 16:54] hoosteeno commented on #5944
We'll need to add a `utm_content` parameter and `utm_source` should be a valid domain (refs below).

We should not clobber the original source/medium/campaign fields -- they are more valuable than the information we're overwriting them with. Let's keep them and simply add a utm_content parameter that distinguishes these clients from others.

I suggest `https://bedrock-demo-agibson.oregon-b.moz.wor

[2018-08-29 17:49] thejeffreytaylor commented on #6052
H[ave the feedback here.](https://docs.google.com/document/d/1XiE85gkZZVgBH2_x6fo3ld586eOPdfuK5bCQNoFLMcg/edit?usp=sharing) Working with Natalie to take this home. @ejregithub and @djst You may want to take a look at this and see if we need to manage expectations with the people team for near-term and long-term efforts.

[2018-08-29 18:10] hoosteeno commented on #5944
I'll also just point out that same-site UTM links are a GA no-no. They will cause GA to create a new session on the /thanks page, which will inflate the overall session count and skew attribution and reporting inside of GA. A small experiment doing this may not matter too much, but any large volume of same-site UTM use will make our web analytics less meaningful in lots of ways. Ref: https://holin

[2018-08-29 18:14] alexgibson commented on #5944
I'll defer to our analytics team on what to do here, but I'll note that the UTM params would be present on the `/firefox/` page, not `/downbload/thanks/`.

[2018-08-29 19:31] ejregithub opened #6094 "Lean Data - UX"
UX size =  1 days

**Tasks**
Not much UX needed. This should be pretty straightforward.

The landing page has links to all the other pages. Users can click on the back arrow to navigate back to the previous page.

We could cross promote pages depending on the content.
-jrouse

[2018-08-29 19:32] ejregithub opened #6095 "Lean Data - Content"
Content size =  1 days

[Copy doc](https://docs.google.com/document/d/1NBKCDZt8PJjPXP1yHNOozKx7ChUMYfAMIreTNpURH0g/edit?usp=sharing)

**Tasks**
- [x] [Landing Page Content]
- [x] [Stay Lean Content]
- [x] [Build Security Content]
- [x] [Engage Users Content]
- [x] Resources Content

[2018-08-29 19:32] ejregithub opened #6096 "Lean Data - Analytics"
Analytics size =  1 hour

Tasks

- [  ] vet pages for any interactions requiring tagging GA/GTM

[2018-08-29 19:32] ejregithub opened #6097 "Lean Data - UI"
UI/Design size =  3 days

**Tasks**
- [x] Visual Design for Landing Page
- [x] Visual Design for other pages (template)
- [x] Design Review : Creative
- [x] Design Review  : Dev.
- [ ] Design Review : Stakeholder
- [ ] Packages Assets
- [ ] Dev Handoff

[2018-08-29 19:32] ejregithub opened #6098 "Lean Data - SEO"
Seo reviews and consults with:

- [ ] Urls
- [ ] title
- [ ] meta description
- [ ] copy
- [ ] internal links to the pages

[2018-08-29 19:32] ejregithub opened #6099 "Lean Data - Dev"
Dev size =  5 days

**Tasks**
- [x] Code main page
- [x] Code template
- [x] Code content in template for page 1of4
- [x] Code content in template for page 2of4
- [x] Code content in template for page 3of4
- [x] Code content in template for page 4of4
- [ ] Review : Creative
- [ ] Review : Stakeholder
- [ ] Code : Stakeholder

[2018-08-29 19:33] craigcook commented on #5946
https://bedrock-demo-craigcook.oregon-b.moz.works/en-US/firefox/62.0/whatsnew/

And screenshots of the different states, since they're pretty hard to get to...

If user is not signed in and is reading English, show Pocket
![01-pocket](https://user-images.githubusercontent.com/205591/44810361-60a20b80-ab86-11e8-922a-5f19778d5ee7.png)

If user is not signed in and is reading not-English, show Firefo

[2018-08-29 20:16] pmac commented on #6048
@rraue and now the system-requirements urls are there. Let me know what you think and we can land these changes. I can go ahead and file the pull request.

[2018-08-29 20:46] lwa-moz commented on #6083
@thejeffreytaylor yes, the "Replace with" text above could use your input for clarity/brevity.

[2018-08-29 20:53] dzingeek commented on #5951
In general both designs look good. I, however, can't truly test these as I don't have edge. @ejregithub can you find someone who has edge to confirm that the design looks the same as it does in firefox?

[2018-08-29 21:40] stephaniehobson commented on #5946
I don't think I'm saying anything our team doesn't already know... "Launch Now" and "If You’re Using Firefox, You Already Have Pocket." are deceiving and confusing. I think they will hurt the effectiveness of this page.

[2018-08-29 21:54] dzingeek commented on #5946
Yes, @stephaniehobson. These things have been raised to the other team w/suggestion for alternate CTAs...they wanted to keep the "Launch Now" and "If You're Using..." text.

[2018-08-30 07:59] alexgibson commented on #5944
@hoosteeno this solution does pose another question however, as it assumes UTM parameters will already be present, whiisn't always the case. There are a couple of options:

- Only enter into the experiment if utm params are present. This may mean we need to run the experiment for longer however, as I'm not sure of the % of visitors who hit this URL with said params.
- If UTM params are not present

[2018-08-30 10:03] alexgibson commented on #6055
@ejregithub please note here there's a bit more work than just content updates. The home page editorial team is moving to using YouTube for all their videos, as exporting the different formats was taking too long in terms of resourcing. That means for this update, we'll need to write some new JS that uses the [YouTube Player API](https://developers.google.com/youtube/iframe_api_reference), so we c

[2018-08-30 15:10] ejregithub opened #6102 "Testing Lang selector at download button on /new/"
Lang and platform at download

Desired target is 63 launch

<img width="330" alt="screen shot 2018-08-30 at 8 07 38 am" src="https://user-images.githubusercontent.com/20547886/44860909-3440ca80-ac2c-11e8-82c1-e8331aee0ef4.png">

[2018-08-30 15:43] hoosteeno commented on #5944
I'm fine with the predefined option. Suggestion:

`https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/?v=[VARIATION]&utm_source=[ORIGINAL_SOURCE or www.mozilla.org]&utm_medium=[ORIGINAL_MEDIUM or download_button]&utm_campaign=[ORIGINAL_CAMPAIGN or firefox_page]&utm_content=downloader_email_form_experiment_[VARIATION_SLUG]`

[2018-08-30 16:29] dzingeek commented on #6054
[design file here](https://share.goabstract.com/f1e8d41d-bac9-41e5-b71b-a3346c956509) - let me know if you have any questions

[2018-08-30 17:31] alexgibson commented on #5944
Ok, demo is now updated as per Justin's recommendation above:

https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/

At this stage, I think we need Analytics Pros to weigh in and provide QA. Thanks, @hoosteeno 💯

[2018-08-30 17:44] #5829 closed

[2018-08-30 18:13] thejeffreytaylor commented on #6083
Here's the update (case included):

On Your Side
iOS and Android

Focus has next-level privacy that's free, always on, and always on your side. It's a purpose-driven product by Mozilla that's built for you – not your data.

[2018-08-30 18:44] ejregithub opened #6104 "moz.org Footer redesign for Nav/IA updates"
Updating the footer is required in order to launch the Nav test

[Nav Outline Copy Doc](https://docs.google.com/document/d/1g0N8oy0WSOY218LJjDIslBbVOmNaBY4Agnfo-cvp6wA/edit?usp=sharing)

[2018-08-30 18:46] ejregithub commented on #5960
Blocked by footer update #6104

[2018-08-30 19:31] thejeffreytaylor commented on #6054
Copy is updated. There may be small changes to accommodate design requirements, but the feedback has been implemented.

[2018-08-30 19:32] thejeffreytaylor commented on #5655
Copy is updated. There may be small changes to accommodate design requirements, but the feedback has been implemented.

[2018-08-30 19:32] thejeffreytaylor commented on #6052
Natalie will be providing copy on this going forward.

[2018-08-30 23:00] dzingeek opened #6106 "Dev: Update Pocket Image on FxA Benefits page"
Replace the Pocket laptop/mobile image on the FxA Benefits Page with the new updated asset.
This is the image to the left of the "Save Content on Pocket." copy.

**Resources**
[Image (low res)](https://mozilla.box.com/s/wgn12j7ymrd3da349bca3cd667o0rw81)
[Image (high res)](https://mozilla.box.com/s/9j8ezrp9sgldsfdc6bd1j3bozsx5lnbx)
[FxA Page](https://www.mozilla.org/en-US/firefox/accounts/features/

[2018-08-31 08:23] alexgibson opened #6107 "Create macros for Protocol components"
Now that we have numerous pages on mozorg built using Protocol, we should start to think about making components built using Jinja more reusable, so updating markup due to change upstream doesn't become difficult and time consuming. We should make a new set of Jinja macros for Protcol components, which can be imported as needed by individual page templates

Looking at these three pages:

https://w

[2018-08-31 16:43] ejregithub opened #6109 "[Due 10/4] Remove "Interest" section from email preference center"
[Bug 1483611](https://bugzilla.mozilla.org/show_bug.cgi?id=1483611)
[Email Pref Center] Remove "Interest" section

Success Criteria
- [ ] The "Interest" section is removed from the page

[2018-08-31 18:16] ejregithub opened #6110 "[9/26] Add link to Community Participation Guidelines to the About page"
Success Criteria:
- [ ] link to Community Participation Guidelines is added to the[ About page](https://www.mozilla.org/about/)
- [ ] link to Community Participation Guidelines is added to the [Contribute page](https://www.mozilla.org/contribute/)
- [ ] both updates are live in production on or before 9/26

https://www.mozilla.org/about/governance/policies/participation/
https://www.mozilla.org/ab

[2018-08-31 19:16] #6081 closed

[2018-08-31 20:03] thejeffreytaylor commented on #6095
I did the thing and the other thing. @michaelmccombie has been briefed on [what's going on with the doc](https://docs.google.com/document/d/1NUI2aBMxfVExCzBO7lbMzzimiNPY0ui17O0e5n0S1Io/edit?usp=sharing), and where we need some guidance from Mika.

[2018-08-31 21:06] amychurchwell commented on #6055
@ejregithub we tend to avoid animations unless they are demonstrating product features. I'll create static images so we can get the changes out. If there is a need for the images to be animated on the homepage the team can discuss it further. 🙂

[2018-09-03 09:57] alexgibson commented on #6082
Blocked due to ambiguity in the slide deck.

[2018-09-04 16:19] dzingeek commented on #5655
@craigcook Use this copy doc

**Migration Copy Only**
https://docs.google.com/document/d/1Xbqr6_qmPwXi5zWzss57lIyTpGGlI_iRWtOi4SLF3SQ/edit?usp=sharing

[2018-09-04 17:51] ejregithub opened #6116 "Ad blocker page for SEO"
Success Criteria
- [ ] page is launched using Protocol components
- [ ] page is built referencing [this Sketch file](https://share.goabstract.com/1b0f078e-1f06-4a56-b248-92e7a9bc5702) and [this copy doc](https://docs.google.com/document/d/1H-b0B87jIU3AFlh0ON9LeIiqZBcllxdcB-tnTu_q-Hw/edit#)
- [ ] page is reviewed/approved on demo by Winston B prior to merging

Tasks
- [ ] Developer - Review design

[2018-09-04 19:13] cvidal2 commented on #6107
simple

[2018-09-04 19:46] ejregithub commented on #6072
@amychurchwell - I confirmed with Lauren that we can show the CTA for the es-ES newsletter to all es locales.

[2018-09-04 20:12] ejregithub commented on #6052
@stephaniehobson - Natalie is going to provide that final copy update for the pending item here.

[2018-09-04 20:45] #5951 closed

[2018-09-04 23:04] stephaniehobson commented on #5974
As @thejeffreytaylor pointed out, we now ask the users for email addresses on both the download and the download thanks pages with virtually identical forms.

<img width="1257" alt="screen shot 2018-09-04 at 4 02 04 pm" src="https://user-images.githubusercontent.com/854701/45062031-fd1f4e80-b05b-11e8-97cd-bed0d933390f.png">

<img width="1276" alt="screen shot 2018-09-04 at 4 00 40 pm" src="https:/

[2018-09-04 23:08] stephaniehobson commented on #5974
Oh, it looks like the mobile download scene2 is still in the code... I don't know if we can forward an en-US user to it but I will see.

[2018-09-04 23:29] stephaniehobson commented on #5974
#6092 is changing the default "Thank you" page and we don't currently have a way to send variants to a different thank you page. We have it for experiences though so something should be possible with more work.

I'll talk to @alexgibson about what he's planning for #5999, which will have the same problem.

[2018-09-05 03:30] natalielinden commented on #6052
@stephaniehobson Would the following copy work in the hexagon for "Building & Designing"? Will it fit the space?
_Working in the open, for the greater good_

[2018-09-05 04:42] ejregithub opened #6121 "Add 'Download Firefox' CTA to Firefox Privacy Notice Page"
https://www.mozilla.org/en-US/privacy/firefox/ receives [a lot](https://docs.google.com/spreadsheets/d/1R8vY9eXltYh8r0PMtWPPrbVlAD7Lf9Qo1tyGzWQq-0g/edit#gid=2084128443) of traffic from other than the direct that can be attributed from Firefox product installs. The hypothesis from the NewUseraDAU indicates adding a Firefox downlaod CTA module in the page will increase downloads

Success Criteria
-

[2018-09-05 09:50] martinbalfanz commented on #6081
There are 2 outstanding items on our task list that we may have not communicated clearly:
* add learn more links to the shape editor and font editor on the firstrun and whatsnew pages
* exchange the font editor static image with an animation

I addressed both items in PR #6122 :)

[2018-09-05 09:54] alexgibson opened #6123 "Automate updates to /about/leadership/"
Opening this issue to track building automation to facilitate updates to the [leadership page](https://www.mozilla.org/en-US/about/leadership/).

Rationale:

- We frequently scramble to add, edit & remove people from the page.
- Requests are often urgent and can require timed pushes, sometimes at unreasonable working hours.

Notes from meeting with @pmac, @djst and @ejregithub:

- Data could live

[2018-09-05 09:59] alexgibson opened #6124 "Automate updates to homepage editorial (card) content"
Opening this issue to track building automation to facilitate updates to the [homepage](https://www.mozilla.org/en-US/) editorial cards.

Rationale:

- Updating the cards monthly takes a lot of dev time and cross-team coordination.

Notes from meeting with @pmac, @djst and @ejregithub:

- Data could live in a separate GitHub repo in markdown format.
- Bedrock could pull in & parse markdown post-me

[2018-09-05 15:09] ejregithub opened #6125 "Redesign /firefox to improve brand perception and download rate"
[Master Project Doc](https://docs.google.com/document/d/1GWR-QXvJdFC4YLO9XPNUs4k3FLGcp_q1tZ6qbeVPSvM/edit)

[2018-09-05 15:38] ejregithub opened #6126 "[9/24] Optimize Sync page"
[manapage for test](https://mana.mozilla.org/wiki/display/FIREFOX/Optimize+Sync+Page)

[2018-09-05 16:26] stephaniehobson commented on #6121
Traffic to that page is almost exclusively people already using Firefox. If I've got the analytics right only 100,000 non Firefox users visited that page last month.

[2018-09-05 16:27] stephaniehobson commented on #6121
(Compared to 16 million Firefox users)

[2018-09-05 16:28] stephaniehobson commented on #6052
It fits! I will get it in there. Thank you :)

[2018-09-05 16:33] natalielinden commented on #6052
WOOOO HOOO! Sorry I inadvertently made it take three weeks for you to get it. : /

[2018-09-05 16:39] stephaniehobson commented on #6126
The accounts product manager says that the animation on the old page boosted conversions significantly: https://web.archive.org/web/20161225055441/https://www.mozilla.org/en-US/firefox/sync/

[2018-09-05 20:14] alexgibson commented on #5944
Ok, latest testing instructions:

To test, use a **non-Firefox browser on Windows** with do-not-track disabled and visit the following URL:

- https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/

You have a 20% chance of being redirected to one of the following three variants:

- https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/?v=a&utm_source=www.mozilla.org&utm_medium=dow

[2018-09-05 21:04] stephaniehobson commented on #6052
@ejregithub I think we should call this one closed once the wording change merges, rather than trying to do a comprehensive update.

[2018-09-05 21:13] ejregithub commented on #6052
Agreed.  A quick glance in the code looks like the first Success Criterion, the last one remaining has been met.

[2018-09-05 21:13] #6052 closed

[2018-09-06 13:27] alexgibson commented on #6126
Could an additional improvement also be to fix the declining source of traffic to this page, as @hoosteeno pointed out in Slack?

![screen shot 2018-09-05 at 11 19 05 am](https://user-images.githubusercontent.com/400117/45160221-d5a5be80-b1e0-11e8-8bad-0ca95e2deac2.png)

[2018-09-06 13:51] #6056 closed

[2018-09-06 15:58] ejregithub opened #6130 "2 /new variations for Opera visitors w. traffic cop"
Success Criteria:
- [ ] 2 /new variations live
- [ ] Traffic is configured to route traffic according to spec in the bug

[FINAL copy ](https://docs.google.com/document/d/1AvqbqZHiyKpTauaGClf0RzbXfcWBZGOjocwzbOAZxEc/edit)

[2018-09-06 16:25] ejregithub opened #6131 "Localize the /firefox/features/accounts/ page"
Success Criteria:
- [ ] Strings are wrapped for localization
- [ ] Tagged for l10n

[2018-09-06 16:27] alexgibson commented on #6131
May depend on https://github.com/mozilla/bedrock/issues/6015

[2018-09-06 17:02] ejregithub commented on #6131
@amychurchwell - can you please pick up #6015 , then this card, when you're done with the /download/thanks/ and homepage work?

[2018-09-06 18:14] hoosteeno commented on #6126
This is not as large an opportunity as it once was.

* The sync page has lost 65% of its weekly traffic in 2018. It's gone from 200k/week to 35k/week (as the chart in https://github.com/mozilla/bedrock/issues/6126#issuecomment-419092736 depicts). This means we aren't looking at as big a pool of potential conversions.
* Its present conversion rate is slightly higher than other FxA acquisition chann

[2018-09-06 18:29] ejregithub commented on #6126
@stephaniehobson @hoosteeno

We tested imagery, results are [here](https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=72783034)

[2018-09-06 21:42] stephaniehobson opened #6134 "Feature pages - add download prompt after content"
For non-Firefox users:

- [ ] https://www.mozilla.org/en-US/firefox/features/
- [ ] https://www.mozilla.org/en-US/firefox/features/bookmarks/
- [ ] https://www.mozilla.org/en-US/firefox/features/sync/
- [ ] https://www.mozilla.org/en-US/firefox/features/send-tabs/
- [ ] https://www.mozilla.org/en-US/firefox/features/private-browsing/
- [ ] https://www.mozilla.org/en-US/firefox/features/password-ma

[2018-09-06 21:46] craigcook opened #6135 "Feature page - password manager - Clipped icon (/firefox/features/password-manager/)"
The icon at the top of the page is clipped on the sides.

![image](https://user-images.githubusercontent.com/205591/45186574-d0e20a00-b1e2-11e8-877f-013f99a5790f.png)

It's a CSS `:before` pseudo-element that is 70px wide, which is sufficient for the icons on other feature pages but this particular icon is 124px wide. It needs some special treatment on this page to make the pseudo-element an adequ

[2018-09-06 21:48] stephaniehobson opened #6136 "Feature pages - left align right side text"
![screenshot_2018-09-06 get more done browse faster and lighter with multiple tabs firefox](https://user-images.githubusercontent.com/854701/45186820-975dce80-b1e3-11e8-9ae7-4f5db038433f.png)

Left align text is easier to read in a LTR language. The text boxes that are on the right should still have their text left aligned within them (like on the accounts/features page for example).

![screenshot

[2018-09-06 21:50] stephaniehobson opened #6137 "Feature page A/B test without main header."
This page has a very high bounce rate, the top header seems to suggest that people should download Firefox to learn about its features.

Let's test without the main header and see if the bounce rate decreases.

[2018-09-06 22:41] dzingeek commented on #6095
The doc Jeffrey did was a bit confusing as all pages were in one doc. I broke those pages up into 4 docs (links in tasks).

We still need content from Mika on the Resources page.

@ejregithub please see above comment and we should get Natalie in on this copy, Mark and I are worried about the length of some things. Then we will need Mika to review all copy docs.

[2018-09-06 22:44] dzingeek commented on #6097
@mrkwvr copy decks have been broken out. we are still waiting on the last one resources, but that should not impact you.

See github issue for copy deck links.
https://github.com/mozilla/bedrock/issues/6095

[2018-09-06 22:48] dzingeek commented on #6098
@rraue now that we know this is not a separate website but will live on https://www.mozilla.org/en-US/about/policy/lean-data/ is there still no need for SEO? If so can you comment on this then move it to done?

[2018-09-07 00:41] ejregithub opened #6141 "Update Chrome SEM page"
Success Criteria:
- [ ] Page is updated with revised content as found in the [updated sketch file](https://app.goabstract.com/projects/59f2d010-127c-11e8-b729-f7871d578d79/branches/c9f73870-86f2-11e8-9a51-7dc8911f2f52/overview)

[2018-09-07 00:56] ejregithub opened #6142 "Update Edge SEM page"
Success Criteria:
- [ ] Page is updated with revised content as found in [this spreadsheet](https://docs.google.com/spreadsheets/d/1PaJzDRJJFAmyDecefBbh9K2KupDEZxPUbkeXpBNXYiI/edit?usp=sharing)

Reference the new columns (comparisons) as done in #6141 - the layout is the same

[2018-09-07 09:53] alexgibson commented on #6142
Taking care of this in #6141, so closing as duplicate

[2018-09-07 09:53] #6142 closed

[2018-09-07 10:00] alexgibson commented on #6141
@ejregithub demo links are here, if someone needs to take a look and verify:

- https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/new/?xv=chrome&v=2
- https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/new/?xv=safari&v=2
- https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/new/?xv=edge&v=2

[2018-09-07 12:32] #6135 closed

[2018-09-07 14:56] rraue commented on #6098
@dzingeek If it is on www we should do the normal process of me reviewing title, url, meta description and copy. I will update this description.

[2018-09-07 15:36] pmac opened #6145 "Update title of the ESR page"
It is currently "Find the right Firefox for you", but there is only one option now that legacy ESR is no longer available. We should update this title and remove the switch if/else block for the legacy button.

See #6133

[2018-09-07 16:03] ejregithub opened #6146 "Update design in WNP page for Indonesia"
[Bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1487152)

[Design assets](https://drive.google.com/drive/folders/18U6slRAUB3qiymVcBcWeuwv-wzFFveNy?usp=sharing)

Success Criteria:
- [ ] https://www.mozilla.org/id/firefox/62.0/whatsnew/ is updated w. new designs

[2018-09-07 21:37] stephaniehobson opened #6149 "Decommission FxA iframe"
Third party cookie blocking is preventing the FxA account iframe from showing the sign-in form.

All instances of the iframe should be replaced with the iframe-less form. Then we should remove the iframe and associated code from bedrock.

- [x] /bedrock/bedrock/firefox/templates/firefox/accounts/
- [ ] /bedrock/bedrock/firefox/templates/firefox/firstrun/firstrun-quantum-a.html
- [ ] /bedrock/bedro

[2018-09-07 22:27] stephaniehobson commented on #6149
The accounts team rolled out a fix on their side so this isn't urgent anymore. Still good to fix though.

[2018-09-10 15:34] alexgibson opened #6152 "l10n image helper is broken when running bedrock locally"
I don't see the same issue when looking at pages in production, but the following code always returns the en-US image for me when running locally (after viewing the page using another locale):

[code]

I have tested both using docker and running bedrock locally.

[2018-09-10 15:35] alexgibson commented on #6152
/cc @pmac

[2018-09-10 16:04] #6082 closed

[2018-09-10 16:14] ejregithub commented on #5974
Blocked on other work

[2018-09-10 16:16] ejregithub commented on #6116
@rraue - can you please comment/recommend where (URL) this should live in the IA?

[2018-09-10 16:40] jpetto commented on #6152
Looked at this for a few minutes. Noting findings here for when I/someone has more time.

Looks like `STATICFILES_DIRS` (in `settings/base.py`) may just need an alternate path when `DEBUG = True`?

[code]

A quick test shows the above works locally, but should test on dev/demo to be sure there are no regressions.

[2018-09-10 16:58] rraue commented on #6116
@ejregithub  /firefox/features/adblocker/

[2018-09-10 18:03] dzingeek commented on #6095
Natalie is going to re-work the copy and have something to us wed/thurs this week.

[2018-09-10 18:08] pmac commented on #6152
I've not looked, but what Jon said definitely looks like a plausible solution. It's almost certainly something like that.

[2018-09-10 19:05] #5946 closed

[2018-09-10 19:15] #6048 closed

[2018-09-11 01:43] ejregithub opened #6153 "[9/25] - URL for legal terms for Firefox Monitor"
Firefox Monitor service will launch on September 25th and they need a URL to host the legal terms.

This card will:

- Document the final URL of the Firefox Monitor privacy notice
- Track the creation of that URL in association with the pull request submitted for the content in the legal-repo

[2018-09-11 10:11] #6072 closed

[2018-09-11 18:31] ejregithub opened #6154 "[10/4] FFYR - Update homepage content cards"
This work supports the Fight for Your Rights campaign

Success Criteria:
- [ ] new cards live on 10/4 (content delivered from FMB)

Schedule:
Content from Editorial (MJ) by Sept. 25
Demo on Friday the 28th for stakeholder QA
Code review Mon, Oct. 1
Content live on the Oct. 4th (time TBD)

Tasks:
- [ ] Team QA - Design
- [ ] Stakeholder QA - Design - TBD

[2018-09-11 18:49] ejregithub opened #6155 "Test /firefox/features/ - impact bounce rate"
https://mana.mozilla.org/wiki/display/EN/Features+page+header+test

Description:  see if we can impact the 95% bounce rate for Linux users to test our hypothesis that no real users see the page. It would also be interesting to see if we can impact the 78% bounce rate for non-Linux users.

[2018-09-11 18:57] ejregithub opened #6156 "[10/16] WNP 63"
Latest updates to the /whatsnew page for the 63 release

[Master Project Doc](https://docs.google.com/document/d/1UAPeYEApfyzaAOk7OmYEvcJwM8_wVl-VKHlnhF-aecc/edit)

**Success Criteria:**
- [x] Page is live 10/16 the Tuesday prior to product release
- [x] Copy is in PR for l10n on Wednesday Sept 19th

**Tasks:**
- [x] Data Collection
- [x] Flow documentations + exploration for new proposed flow
- [

[2018-09-11 19:28] dzingeek commented on #6156
Here is a link to the data that Raphael and Alex gathered.
https://docs.google.com/spreadsheets/d/1tn9Uml8UUIKctVR0NcVV9flLJ2ZYVU3qFYC72zz5iyA/edit?usp=sharing

[2018-09-11 19:29] dzingeek commented on #6156
**Current Flow**
![whatsnew63_userflow_current](https://user-images.githubusercontent.com/3740746/45382812-445a9180-b5be-11e8-80aa-a2406dece10b.png)

[2018-09-11 19:29] dzingeek commented on #6156
**Approved (08.11.18) New Flow**
![whatsnew63_userflow_proposed_opt1](https://user-images.githubusercontent.com/3740746/45382832-5b00e880-b5be-11e8-962f-bb7fd26d3d19.png)

[2018-09-11 19:47] dzingeek commented on #5655
@craigcook **Design tweaks**

**Header area:**
- [ ] make "An Important Change..." copy smaller and dark red. (see screenshot for reference)
- [ ] make "We detected that you..." copy larger and bold (see screenshot for reference)

**FxA area:**
- [ ] make "Enter your email to..." bold
- [ ] move "by proceeding, you agree.." copy below button (this may not be possible)

Note: can we not have the bu

[2018-09-11 19:47] dzingeek commented on #6054
@craigcook **Design tweaks**

**Header area:**
- [ ] make "An Important Change..." copy smaller and dark red. (see screenshot for reference)
- [ ] make "We detected that you..." copy larger and bold (see screenshot for reference)

**FxA area:**
- [ ] make "Enter your email to..." bold
- [ ] move "by proceeding, you agree.." copy below button (this may not be possible)

Note: can we not have the bu

[2018-09-11 20:19] ejregithub commented on #6043
@rraue - can you comment on the preferred URL for this with regard to structure?
Should it be projectfoo.mozilla.org or blog.mozilla.com/projectfoo

[2018-09-11 20:28] ejregithub commented on #6043
@craigcook - can you let us know if making this a multi-lingual site is as easy as I recall?  If so, can we open it up to that, DE specifically if that's a required setting?

[2018-09-11 21:53] ejregithub commented on #6096
From @rraue A subdomain I wouldnt use for this, as the volume around this keywords is too small and tehre will be not much content either. **So the url right now is good**

[2018-09-11 22:30] ejregithub opened #6157 "WNP 63 - UX"
**Resources**
[Master Product Doc](https://docs.google.com/document/d/1UAPeYEApfyzaAOk7OmYEvcJwM8_wVl-VKHlnhF-aecc/edit)

**Todos**
- [x] create flow diagram
- [x] get signoff from dev team
- [x] get signoff from stakeholders

[2018-09-11 22:31] ejregithub opened #6158 "WNP 63 - UI"
**Resources**
- [(copy doc)](https://github.com/mozilla/bedrock/issues/6159)
- [flow diagram](https://github.com/mozilla/bedrock/issues/6157#issuecomment-420459794)

**Todos**
- [x] visual design for fxa not signed in condition.
       - "snippet" style section that highlights account login + sign up
       - focus on privacy messaging
- [x] visual design for fxa signed in condition.
       - same

[2018-09-11 22:31] ejregithub opened #6159 "WNP 63 - Content DUE 09/18/18"
Final approved copy **DUE 09/18/18** to have time for L10N

[2018-09-11 22:31] ejregithub opened #6160 "WNP 63 - Analytics"
Provide spec for analytics requirements for 63 WNP:

- Detail `dataLayer.push()` requirements for page states (if required)
- Custom data attributes on CTA's (if required).

[2018-09-11 22:31] ejregithub opened #6161 "WNP 63 - Dev"
**Resources**
[approved flow diagram](https://github.com/mozilla/bedrock/issues/6157#issuecomment-420459794)

**Todos**
_please add things here that need to be done_
- [x] final strings coded in template and pushed to demo for l10n
- [x] internal review
- [ ] stakeholder review
- [ ] analytics
- [x] unit / functional tests
- [ ] code review

[2018-09-11 22:56] ScottBrenner opened #6162 ""Source code for this page" is a dead link"
The "Source code for this page" hyperlink in the footer of https://www.mozilla.org/en-US/firefox/download/thanks/ is a dead link.

https://github.com/mozilla/bedrock/blob/5d3b665ddc41fb3c41e3bf4937f772dcfadbbf40/bedrock/base/templates/includes/site-footer.html#L24

[2018-09-11 23:26] dzingeek commented on #6157
**Current Flow: All Conditions:
![whatsnew63_userflow_current](https://user-images.githubusercontent.com/3740746/45382812-445a9180-b5be-11e8-80aa-a2406dece10b.png)

[2018-09-11 23:27] dzingeek commented on #6157
**Approved (08.11.18) New Flow**
![whatsnew63_userflow_proposed_opt1](https://user-images.githubusercontent.com/3740746/45382832-5b00e880-b5be-11e8-962f-bb7fd26d3d19.png)

[2018-09-11 23:36] ejregithub commented on #6043
per Craig: Savor is top choice for WP theme with Elara as a backup

[2018-09-12 00:51] craigcook commented on #5655
https://bedrock-demo-craigcook.oregon-b.moz.works/firefox/profile-migrate/

[2018-09-12 00:52] craigcook commented on #6054
https://bedrock-demo-craigcook.oregon-b.moz.works/firefox/profile-downgrade/

[2018-09-12 16:36] alexgibson commented on #6162
Thanks for reporting!

I believe this is because the page template has changed in GitHub, but we haven't yet pushed those changes to production. Looking at our dev site, the link works for me: https://www-dev.allizom.org/en-US/firefox/download/thanks/

We'll see if we can do a production push today, and this should be fixed :)

[2018-09-12 17:49] Kiiirby commented on #6141
Need one update please, flagged by the product team:

On the **Chrome** page only, the **Text to Speech** field should be a check mark for Chrome, not an x.

Thank you!

[2018-09-12 18:14] muffinresearch opened #6164 "Open section on privacy page if linked to with a fragment identifier"
We've been asked by legal to change our privacy link to point to https://www.mozilla.org/privacy/firefox/#addons

However, the concern we have is that users clicking that link would need to click the header to see the relevant information.

If the correct fragment id was used could the header be expanded by default?

[2018-09-12 20:38] Kiiirby commented on #6141
And:

Please remove the "**languages available**" row from all browser feature comparison pages (Chrome, Edge, and Safari). It's the bottom row in the second section.

Many thanks!

[2018-09-12 20:44] ejregithub opened #6166 "Update ?xv=(browsername)&v=2 pages - remove 'languages available' row"
Task:  Remove the "languages available" row from all "v=2"  browser feature comparison pages (Chrome, Edge, and Safari). It's the bottom row in the second section.

[2018-09-12 22:17] stephaniehobson commented on #5974
#6092 is merged and Alex gave me the info I needed from #5999 so this is unblocked.

The iframeless form has slightly different content than the Mockup did. @dzingeek Are you okay with this: https://www-demo4.allizom.org/en-US/firefox/new/?v=x And if so, can we run it past the client too.

[2018-09-12 22:18] stephaniehobson commented on #5974
(Also, I left the browser product shot to minimize the number of variables we are testing. If that's not okay let me know)

[2018-09-12 22:35] dzingeek commented on #5974
@stephaniehobson a few things

- [ ] "Enter your email to access Firefox Accounts" should all be the same font size and weight.
- [ ] Move the "By proceeding, you agree..." copy below the Continue button.
- [ ] Remove the image of the screenshot
- [ ] Add the Refresh Firefox button [(see design mockup ^)](https://github.com/mozilla/bedrock/issues/5974#issuecomment-418545540)

<img width="1148" alt

[2018-09-12 22:36] ejregithub opened #6167 "Data request - Lead Time and Cycle time for bedrock issues"
#1 (must have, asap) - Lead Time - lead time being defined as the number of business days from when an Issue is created in github to the time the issue is Closed. We need those data and, at least, the Title, Labels and Projects associated with each issue so I can create reports. .csv  output would be fine.

#2 (must have, eventually - by mid October would be nice) - Cycle Time - the time from when

[2018-09-12 22:40] ejregithub commented on #6167
@jgmize - following up on the discussion we're having in email (I figure filing an issue was an eventuality/probably the better place to discuss).

The moz.org team has a KR to reduce our Lead Time. Since we've moved into using github projects for our Kanban board we've lost that ability - but I was assured when doing so that we could either pull that data ourselves or use one of many other offeri

[2018-09-12 22:50] stephaniehobson commented on #5974
I'm not sure who we need to talk to about why the text in the form is where it is and whether or not we can move it. @jpetto do you have any context?

@dzingeek  The refresh button should appear if you are eligible to refresh. Did you view the page on Release?

[2018-09-13 08:06] alexgibson commented on #6157
@dzingeek can we expect any new Protocol components to be required for this page? We need to thik about creating cards for that work if so. Happy to discuss in person to identify if anything is needed here.

[2018-09-13 08:09] alexgibson commented on #6158
@dzingeek @mrkwvr can we expect any new Protocol components to be required for this page? We need to thik about creating cards for that work if so. Happy to discuss in person to identify if anything is needed here.

[2018-09-13 08:19] alexgibson commented on #6164
/cc @ejregithub

[2018-09-13 09:18] alexgibson commented on #6123
I took a stab at some specs for this:

**Leadership team categories:**

- Management Teams
  - Mozilla Corporation
  - Mozilla Foundation
- Mozilla Reps Council
- Boards of Directors
  - Mozilla Corporation
  - Mozilla Foundation
  - Emeritus Board Members

**Card information for Management Team members:**

- Thunbnail photo (500px x 500px high-res, 250px x 250px low-res)
- Full Name
- Job title
-

[2018-09-13 09:48] alexgibson commented on #6124
Some specs:

**Card order:**

- Card 1 (large)
- Card 2 (small)
- Card 3 (small)
- Card 4 (small)
- Card 5 (small)
- Card 6 (medium)
- Card 7 (medium)
- Card 8 (medium)
- Card 9 (medium)
- Card 10 (small)
- Card 11 (small)
- Card 12 (small)
- Card 13 (small)
- Card 14 (small)
- Card 15 (small)
- Card 16 (medium)
- Card 17 (medium)

Note: cards are interspersed with other static content, such as bi

[2018-09-13 15:29] rraue commented on #6043
@ejregithub Its not very important but blog.mozilla.org/projectfoo would be better.

[2018-09-13 15:30] alexgibson commented on #6158
Ok, there may already be components we have in bedrock which haven't been back ported to Protocol yet, like the FxA email form. I think we should at least track that work and make sure we create issues for whatever might need doing (even if it doesn't block the work for 63). Thanks

[2018-09-13 15:38] craigcook commented on #5974
I updated the form macro and put the button right after the field, and the agreement after that, but I think that's wrong and wanted to bring it up.

The disclaimer really should come before the button so it reads properly, especially since it's phrased "by proceeding..." If it comes after the button you will have already submitted it before you can accept the terms. Logically the agreement needs

[2018-09-13 15:44] ejregithub commented on #6164
@muffinresearch - We'll pull this into our queue. Current Lead Time is approx 22 days

[2018-09-13 16:40] craigcook commented on #6164
This is doable but aren't we also discussing redesigning the policy pages and doing away with the collapsing sections? I'm not sure if/when that might happen but it would make this issue moot.

[2018-09-13 19:41] ejregithub opened #6170 "[Due 10/16] Grammarly Bundle support (landing page & firstrun page)"
Description:

[Master Project Doc](https://docs.google.com/document/d/1NhGyXVLvFAWkJV4olR1xSCzoRH-1sW7n29ZD-ayz_Us/edit)

Success Criteria:
- [ ] All content must be live 10/16/2018
Tasks:
- [ ]

[2018-09-13 19:48] anshulahuja98 commented on #6145
i can see updates on the issue link you attached, please inform the current status of this issue

[2018-09-13 20:00] anshulahuja98 commented on #6134
From what I understood, we have to move the download button for firefox to the bottom after the content?

[2018-09-13 20:00] anshulahuja98 commented on #6134
If this issue is approved, can you please assign it to me?

[2018-09-13 20:36] stephaniehobson commented on #6134
Hi @anshulahuja98 we do not have approval or design direction for this yet.

[2018-09-13 21:31] ejregithub opened #6171 ""What is a browser page" for SEO"
This page uses the template establish in the SEO 'Ad blocker' page that @amychurchwell coded.

[The brief](https://docs.google.com/document/d/19msv-D3WdYS2k9ymxW2kRX6aM7obEk8qOZWUgqnC8KE/edit?ts=5b9bd8d8)

Success Criteria
- [ ] page is launched using Protocol components
- [ ] page is built referencing [this Sketch file]()
- [ ] page is reviewed/approved on demo by Winston B prior to merging

Task

[2018-09-13 22:36] ejregithub opened #6172 "Identify 10 S mode users"
Description: Research means to identify 10 S mode users from the mozilla.org website.

Reasoning:

- Windows 10 in S mode prevents users from installing Firefox
- If successful we could then put this flag in a data attribute that GA would pick to then understand the set of users attempting to download Firefox
- Could provide users with messaging about 'S' mode, including instructions how to disabl

[2018-09-14 01:14] jgmize commented on #6167
@ejregithub please take a look at the data on https://analytics.mozilla.community/app/kibana#/dashboard/GitHub-Issues-Timing and let me know if that is sufficient for your "Lead Time" needs. Note the ability to filter by project at the top of the page; here's a [direct link filtered to bedrock](https://analytics.mozilla.community/app/kibana#/dashboard/GitHub-Issues-Timing?_g=(refreshInterval:(disp

[2018-09-14 02:36] anshulahuja98 commented on #6134
Okay

[2018-09-14 09:39] alexgibson opened #6174 "Update bedrock to use Protocol navigation"
Now that Protocol has the new [Navigation](https://protocol.mozilla.org/patterns/organisms/navigation.html), we can finally use it in bedrock 🎉

The plan is to:

1. Roll out the new component across all English locales.
2. Put the new component behind a switch, toggling back to the current navigation.
3. When launched, carefully monitor click through's (Analytics requirements TBD)
4.  Only roll ba

[2018-09-14 13:10] alexgibson opened #6175 "About page is loading the wrong JS bundle"
For some reason the new `/about/` page is loading the JS bundle for the homepage: https://github.com/mozilla/bedrock/blob/master/bedrock/mozorg/templates/mozorg/about-en.html#L241

Whilst this isn't breaking anything in production right now, loading the page locally I see the following error:

[code]

I think this is because the Waypoints library is looking for the sticky firefox banner, which is

[2018-09-14 13:44] ejregithub commented on #6167
@jgmize - thanks for the response and links.

At first glance the reporting is interesting but a little over-manipulated for my needs.

If I can obtain raw data on a 'per issue' level in bedrock that is then informed, for each, with issue opened date, issue closed date, Submitter, etc I can then separate all the issues the moz.org team members have worked on and better manipulate the data to weed

[2018-09-14 15:34] #6166 closed

[2018-09-14 17:13] amychurchwell opened #6177 "firefox/features includes button for page that does not exist."
https://www.mozilla.org/en-US/firefox/features/
Includes button for 'Ad tracker blocking' which is a page that is currently being worked on (#6116).
Currently links to /private-browsing, a duplicate of the button next to it.

[2018-09-14 17:50] ejregithub commented on #6167
@jgmize - thanks for the response and links.

At first glance the reporting is interesting but a little over-manipulated for my needs.

If I can obtain raw data on a 'per issue' level in bedrock that is then informed, for each, with issue opened date, issue closed date, Submitter, etc I can then separate all the issues the moz.org team members have worked on and better manipulate the data to weed

[2018-09-14 17:57] ejregithub opened #6178 "[10/5] Developers for Firefox - /new variation landing page"
Description: create a /new variation landing page to support the  ['Developers for Firefox' program](https://docs.google.com/document/d/1t6YWu8rvUOgzahv9uZPM_N6fxnrGWhF0m7Phedo_hKc/edit). In this mktg program, developers are encouraged to promote use of Firefox, posting images with a URL (link with UTM parameters to enable anonymous tracking). Users clicking the link are taken to this  landing pag

[2018-09-14 19:08] peiying2 opened #6179 "New legal docs: Firefox Reality Privacy Notice and About Rights"
The following two docs need to be pushed to production by Sept 18.
- About Rights: https://github.com/mozilla/legal-docs/blob/master/firefox_reality_about_rights/en-US.md
- Privacy Notice: https://github.com/mozilla/legal-docs/blob/master/firefox_reality_privacy_notice/en-US.md

[2018-09-14 20:53] craigcook opened #6180 "Update copy on /firefox/accounts page"
We should re-use the same copy from the current /whatsnew page:

[HEADLINE]
Firefox Account: Simplify your online life.

[BODY]
- Send pages instantly between your devices
- Sync bookmarks, history and more
- View content offline and anytime with Pocket

Find out more (link to /firefox/accounts/features)

[2018-09-16 10:06] ChillarAnand opened #6181 "Broken link in cmommunity page"
http://www.mozillaindia.org/ link is broken and it is referenced in https://www.mozilla.org/en-US/contact/communities/india/

[2018-09-17 07:59] #6175 closed

[2018-09-17 08:14] #6055 closed

[2018-09-17 14:18] alexgibson commented on #6174
Final copy doc: https://docs.google.com/document/d/1g0N8oy0WSOY218LJjDIslBbVOmNaBY4Agnfo-cvp6wA/edit?usp=sharing

[2018-09-17 15:07] pmac commented on #6179
This is [bug 1491425](https://bugzilla.mozilla.org/show_bug.cgi?id=1491425)

[2018-09-17 16:16] pmac commented on #6181
Thanks for the report! Looks like https://mozillaindia.org/ is working, but the `www` subdomain isn't. We can change the link on the site, but that should be fixed as well. I'm checking in #india on IRC to find who might have access to fix it.

[2018-09-17 16:28] #6181 closed

[2018-09-17 19:06] dzingeek commented on #6116
**Items we are suggesting to change/tweak to get this page using Protocol.**

1. "Ad blocker is a web browser..." copy block will change to default protocol text size and color (not bold)
2. The current images won't work for the web. We suggest two options:
    - Crop image so it does not go to the edges (like a static image)
    - Or change illustration so the waves can extend to any screen size.

[2018-09-17 19:09] MichaelKohler opened #6185 "Fraud Form Submission leads to "Oh noes" error"
I've filed a fraud report through https://www.mozilla.org/en-US/about/legal/fraud-report/ (which might have gotten through or maybe not..) and I ended up at the error page:

<img width="1230" alt="screen shot 2018-09-17 at 21 00 09" src="https://user-images.githubusercontent.com/330324/45644381-ec3ff580-babd-11e8-9428-ce4968d7e746.png">

[2018-09-17 19:50] ejregithub commented on #6156
[WNP 63-NL_091718.pdf](https://github.com/mozilla/bedrock/files/2390033/WNP.63-NL_091718.pdf)

[2018-09-17 20:20] ejregithub opened #6186 "[Go live 10/8 Noon Pacific Time] Election bundle campaign support"
Description:  special build w. add-ons released as part of 'Elections' campaign. The project consists of one landing page with conditional content for two variations (Fx user and non-Fx user) and one 'firstrun' page with two variations, along with homepage content updates.

[Master Project Doc](https://docs.google.com/document/d/17eAiEw26bbN_fOjLMXmnLjBWEwLNc8_KE9a64k5gXbk/edit)

**Success Criteri

[2018-09-17 20:59] #6179 closed

[2018-09-17 22:08] pmac commented on #6162
This is an interesting case though. Perhaps we should be linking directly to the version that is live on the site instead of the one in the `master` branch? But if it's an invitation to edit it might not work as well that way.

[2018-09-17 23:58] stephaniehobson commented on #6104
Copy: https://docs.google.com/document/d/1g0N8oy0WSOY218LJjDIslBbVOmNaBY4Agnfo-cvp6wA/edit#heading=h.vvqh5av6uul

[2018-09-18 08:15] alexgibson commented on #5944
Updated specs from Analytics Pros: https://docs.google.com/presentation/d/1Chmz2QE29GwCV0S_UaJ6MoTSISxGmq1TAp327nReL7I/edit?usp=sharing

[2018-09-18 08:40] alexgibson commented on #5944
Demo updated as per the latest specs: https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/

[2018-09-18 12:57] alexgibson opened #6187 "Videos loading from videos.cdn.mozilla.net are all broken"
STR:

1. Open: https://www.mozilla.org/mission/
2. Click the video thumbnail

Expected results:

The video should play

Actual results:

The video is broken, with the following error in the Firefox web console:

[code]

It looks like https://videos.cdn.mozilla.net/ is no more?

Looking through the repo, there are numerous pages using this server. I can only assume all are broken:

https://github.c

[2018-09-18 13:30] metadave commented on #6187
if files can be restored from backup, we can host in our own S3/Cloudfront

[2018-09-18 14:05] alexgibson commented on #6174
WIP demo: https://bedrock-demo-navigation.oregon-b.moz.works/en-US/

[2018-09-18 14:19] rraue opened #6188 "/new title and description test"
Right now the description of /firefox/new/ is too long and cut in Search Engines:
<img width="625" alt="screen shot 2018-09-18 at 16 10 29" src="https://user-images.githubusercontent.com/36700618/45693431-65425a00-bb5d-11e8-98a1-1a399fafdff7.png">
I would like to test if we will get a higher ctr in serps with a fitting description and even better rankings with a better title:
<img width="738" alt=

[2018-09-18 15:31] ejregithub opened #6189 "[9/25] Dev Affiliate Program landing page"
Description: Dev affiliate program is launching and requires a download page

Success Criteria:
- [ ] /new variation is live on 9/25

Risks:
- [ ] Analytics requirements are unknown, incomplete

[2018-09-18 15:52] alexgibson commented on #6159
Is this copy dock linked about final? There are still some outstanding comments it seems. This task should be closed as 'done' when copy is locked.

[2018-09-18 16:29] danieljkessler123 commented on #6186
Hi all, draft copy for landing pages/first run is here: https://docs.google.com/document/d/1OjoCjtk523RZA1eF1tZJfA28T7gVvO9L41X9kl3Zo1Y/edit

[2018-09-18 16:32] jgmize opened #6191 "CSP violation alerts from sentry"
- https://sentry.prod.mozaws.net/operations/bedrock-dev/issues/4719394/
  - source: https://www-dev.allizom.org/en-GB/firefox/download/thanks/
  - blocked-uri: https://adservice.google.de/
- https://sentry.prod.mozaws.net/operations/bedrock-dev/issues/4712335/
  - source: https://www-dev.allizom.org/da/firefox/download/thanks/
  - blocked-uri: https://adservice.google.dk/
- https://sentry.prod.moz

[2018-09-18 16:59] alexgibson commented on #6191
I think we can ignore this one, there shouldn't be anything loading google fonts afaik.

I'll file a PR for the two violations on /download/thanks/ 👍

[2018-09-18 17:28] metadave commented on #6187
the video now plays on this page: https://www.mozilla.org/en-US/mission/

[2018-09-18 17:28] ejregithub opened #6192 "https://www.mozilla.org/en-US/firefox/switch/ - remove bg image"
Description - we are required to remove the campaign imagery from the Switch page -  https://www.mozilla.org/en-US/firefox/switch/

Success Criteria:
- The background image is removed/replaced from  https://www.mozilla.org/en-US/firefox/switch/

[2018-09-18 17:36] jgmize commented on #6187
fixed in https://bugzilla.mozilla.org/show_bug.cgi?id=1489692#c19

[2018-09-18 17:36] #6187 closed

[2018-09-18 17:49] ejregithub commented on #6192
Recommend swapping out for the 'standard' bg image on /new

[2018-09-18 17:53] stephaniehobson commented on #6187
So, are we hosting these ourselves now?

[2018-09-18 18:05] metadave commented on #6187
@stephaniehobson no, the current CDN has been fixed.

Shall I open a separate bug with the airmo team to recover missing viewsourceconf files?

[2018-09-18 18:07] ejregithub commented on #5944
@alexgibson - can you indicate how this can be tested on demo?  Also, could you please upload screenshots here for stakeholders to review?

[2018-09-18 18:44] Pike commented on #6187
The viewsource ones are airmo, right? Maybe that's partly the auth-required question that Mossop added for the internal call.

[2018-09-18 23:29] ejregithub commented on #6159
@alexgibson - content is now final, Natalie has noted this in t[he copy doc](https://docs.google.com/document/d/1JjucIsw3I1G8tRAiNg6OE1kusGyeswoI8VMkSaZoslQ/edit?ts=5ba18161).

[2018-09-19 00:11] stephaniehobson commented on #6187
I'm talking to AirMo on Slack/email. I'll file a bug if someone on our team needs to do something.

[2018-09-19 12:05] djst commented on #6043
Where is this project being tracked? I don't see a separate project board, is one needed?

[2018-09-19 16:07] alexgibson commented on #6157
Can this issue now be moved to the done column?

[2018-09-19 17:15] djst commented on #6154
Blocked on input from MJ on specific cards to update.

[2018-09-19 17:22] djst opened #6196 "[10/4] FFYR homepage card updates"
This work supports the Fight for Your Rights campaign

Success Criteria:

    New cards live on 10/4 (content delivered from FMB/MJ)

Currently blocked on specific cards from MJ

[2018-09-19 17:30] djst opened #6197 "[FFYR #4] - Investigate possibility to do update for old whatsnew+firstrun pages (and rewrite in Protocol)"

[2018-09-19 17:32] djst opened #6198 "[FFYR #2] - Privacy Notice update"
FFYR priority #2
https://docs.google.com/presentation/d/1GVQ94lVChlPnbTYgG56wJ-UblkraIfMHJxqYD9KvSOQ/edit#slide=id.g3f2e52f863_0_2

Work should kick off formally with a meeting including David, UX, dev, copy and stakeholder Daniel Kessler (who has input on what we might do).

Success Criteria:
- [x] Page is ported page to Protocol
- [ ] headline is updated to be eye-catching copy that speaks to FF

[2018-09-19 17:38] djst opened #6199 "[FFYR #5] Update Firefox Download page"
FFYR priority #5: https://docs.google.com/presentation/d/1GVQ94lVChlPnbTYgG56wJ-UblkraIfMHJxqYD9KvSOQ/edit#slide=id.g3f2e52f863_0_48

Part of this work is to rewrite page in Protocol, plus introduce FFYR positioning.

[2018-09-19 17:55] stephaniehobson commented on #6104
Demo is online here: https://demo1--mozilla-protocol.netlify.com/demos/footer.html

Still cleaning up the Protocol documentation.

[2018-09-19 18:03] djst opened #6200 "FFYR Election Bundle website work"

[2018-09-19 18:29] djst opened #6201 "[9/25] FFYR - Update homepage banner"
This work supports the Fight for Your Rights campaign

Success Criteria:
- [ ] Banner live on 9/25

Tasks:
- [x] UI/design of Banner - Jennifer
- [x] Copy for Banner - Natalie/Tim
- [x] Team QA - Design
- [ ] Code Banner - TBD
- [ ] Team QA of Banner on demo
- [ ] Stakeholder QA of Banner on demo

[2018-09-19 18:35] ejregithub opened #6202 "Update SEM 'browser comparison' page (tables in v=2 versions)"
Description - we need to add a copy string and corresponding asterisks in the existing charts.

Tasks:
- [ ] add this copy string just below the chart in each v-2 page.

*available in Private Browsing Mode

in correspondence to adding asterisks as follows:

Ad filtering | ✅ partial *
Private browsing | ✅
Blocks scripts | ✅ *
Blocks cross-site tracking | ✅ *

[2018-09-19 18:35] djst commented on #6110
What's driving the deadline of 9:26 here? @ejregithub

[2018-09-19 18:37] djst commented on #5753
Dupe of https://github.com/mozilla/bedrock/issues/6116? @rraue

[2018-09-19 18:39] ejregithub commented on #6200
@djst - this appears to be duplicate to #6186 - can you please confirm (I'll close this if so)

[2018-09-19 18:44] djst commented on #6116
@dzingeek what is the next step here? Are you bringing those recommendations to the requesting team / Approver?

[2018-09-19 18:44] ejregithub opened #6203 "[9/25] - Update 'Evolving the Firefox Brand' card with Monitor content"
Description: Swap out Card 1 (Evolving the Firefox Brand) for Firefox Monitor content on 9/24 (to drive people directly to the Monitor site)

[2018-09-19 19:09] ejregithub commented on #6110
@djst at the time of creation of this issue that date was a realistic projection. It is driven by the fact that the team has been asking for specific delivery dates on work. This need not land on that date though, no. I will remove the date and we can prioritize accordingly.

[2018-09-19 19:10] dzingeek commented on #6157
I say yes, will move over now.

[2018-09-19 19:12] ejregithub opened #6204 "Add download CTA to bottom of About page"
## Description of the work:
The www.mozilla.org/about/ page could use a download CTA near the footer. After talking with the websites team, a similar one to what is found on https://www.mozilla.org/en-US/firefox/browsers/compare/ might be the best match.

## Success Criteria
- [ ] CTA has been added and is responsive
- [ ] Copy for the CTA has been added to the corresponding fluent [file](https://

[2018-09-19 19:12] ejregithub commented on #6110
This work needs to be tied in to update the page with a download CTA #6204 (@stephaniehobson) and prior to localizing the content.

[2018-09-19 19:14] ejregithub commented on #6116
@amychurchwell @djst - I put this in front of Winston and he is good with all the suggestions.  We have a greenlight to get this out asap.

[2018-09-19 20:08] stephaniehobson commented on #5974
Need a slight change to the user flow because of technical constraints.

To check the status of FxAccounts takes a not-small bit of JavaScript and adds half a second to the page load time. I'm moving that check to *after* the user is opted into the experiment. As a result, the signed in users will get the FxA account flow. I will check their FxA status on that page and hide the form if they're sig

[2018-09-19 21:27] stephaniehobson commented on #5974
Users on this page are segmented automatically by FxA status so we can still compare signed out users to signed out users when looking at the test results.

[2018-09-19 21:43] peiying2 opened #6205 "Push Firefox Monitor Privacy Notice to production"
https://bugzilla.mozilla.org/show_bug.cgi?id=1491440

Source file: https://github.com/mozilla/legal-docs/blob/master/firefox_monitor_terms_privacy/en-US.md.

Ideally to get it pushed by Thursday, before the team's go-no-go decision on Friday.

[2018-09-19 22:08] ejregithub commented on #6167
@jgmize - based on discussion w. Ben i need to revise the request to be one of fully automated delivery, with Lead Time fully calculated, as previously specified, in the reporting document but with weekend days removed from the duration of the Lead Time per issue. Let me know if you questions, please.  We should meet to discuss.

[2018-09-19 22:51] stephaniehobson opened #6206 "Love it or leave it: FB Video Chat Funnelcake experiment."
This should be made permanent or removed depending on how successful it was:
https://bugzilla.mozilla.org/show_bug.cgi?id=1458340

[2018-09-20 08:11] alexgibson commented on #6161
This is now waiting on #6158

[2018-09-20 08:40] alexgibson commented on #5974
If we decide we want to make this new state for FF users a default, I think we may need to rethink the design a little here. The FxA form should really be incorporated into the existing /new/ page, as opposed to redirecting to a different template altogether. For the purposes of a test this if fine and makes total sense, but if there are things we don't like about the current design then we should

[2018-09-20 09:15] rraue commented on #5753
@djst Yes

[2018-09-20 09:15] #5753 closed

[2018-09-20 11:47] #6191 closed

[2018-09-20 13:16] alexgibson commented on #6174
@dzingeek can you please QA the navigation content and link above? I've tried to do this the best I can based on edits in the copy doc, but a second pair of eyes would be appreciated.

[2018-09-20 13:43] djst commented on #5949
What's the actual due date for this work?

[2018-09-20 13:45] djst commented on #6054
What's the status of this? Deadline is 9/17 according to card.

[2018-09-20 13:52] #6205 closed

[2018-09-20 14:01] alexgibson commented on #6174
@dzingeek we may also want to think about any updates to the existing sub navigation on pages like this: https://bedrock-demo-navigation.oregon-b.moz.works/en-US/firefox/

I'm not sure I quite understand why we still need a sub nav on these pages, given the expandable panels in the new navigation. But maybe I'm not thinking through some scenarios. Thoughts?

[2018-09-20 14:08] alexgibson commented on #6124
@pmac @ejregithub just checking in here - is this something we need to regroup on in terms of planning work / timing? I think Eric mentioned the home page automation would be the most immediately useful thing to start work on, but I guess we need to try size this in terms of LOE and how long we think something like this may take to build.

[2018-09-20 14:13] pmac commented on #6124
I thought we'd decided that the leadership page would be the best starting place? It should be similar enough so that the work would translate well to the home page, while being less impactful should there be issues.

[2018-09-20 14:38] alexgibson commented on #6197
In order to answer this we really need an idea of what type of content we will want to show users on these pages.

[2018-09-20 14:50] jgmize commented on #6167
@ejregithub - I sent you a calendar invite for the first day that works with both our schedules.

[2018-09-20 15:00] alexgibson commented on #6102
@cherrypark I'm not sure where this currently fits in with out priority schedule currently, but @ejregithub can help there. From a project point of view, this experiment needs a proper kick off, with sizing, design and UX before we can give estimates on delivery dates.

[2018-09-20 15:55] amychurchwell commented on #6116
@ejregithub There are several links in the design. Where do they link to?

[2018-09-20 16:07] amychurchwell opened #6209 "/pocket should redirect to /firefox/pocket/"
I have visited https://www.mozilla.org/en-US/pocket more than once attempting to navigate to https://www.mozilla.org/en-US/firefox/pocket/

[2018-09-20 16:11] alexgibson opened #6210 "/firefox/download/thanks redirects to /firefox/new/"
I keep on hitting this because I bring up the URL so often in the awesomebar, but always forget to file it so here goes:

STR:

Visit: https://www.mozilla.org/firefox/download/thanks

Expected results

Should redirect to https://www.mozilla.org/firefox/download/thanks/

Actual results:

Redirects to https://www.mozilla.org/firefox/new/

[2018-09-20 16:18] alexgibson commented on #6149
Perhaps we can retire many of these pages as part of https://github.com/mozilla/bedrock/issues/6197

[2018-09-20 16:33] alexgibson opened #6211 "Move FxA state CSS to a common shared directory"
We have two identical scss includes for managing FxA state:

- https://github.com/mozilla/bedrock/blob/master/media/css/protocol/components/_fxa.scss
- https://github.com/mozilla/bedrock/blob/master/media/css/pebbles/components/_fxa.scss

Neither are components as such, and neither relate to either Pebbles or Protocol. We should just use one file in a common directory that pages built using either

[2018-09-20 17:21] #5944 closed

[2018-09-20 20:37] dzingeek commented on #6174
We will need to figure out a sub nav. Some pages will have subsections that will not live in the main nav. @vincejoyiv was going to start to look into the sub nav.

[2018-09-20 21:11] kellymj commented on #6203
Headline: Protect yourself with Firefox Monitor

Blurb: Find out what hackers already know about you and get alerts when data breaches put you at risk.

URL: https://monitor.firefox.com/  (with UTM tags that your team adds)

[2018-09-20 22:12] ejregithub commented on #6203
![sp_fx_monitor_moz org homepage 01](https://user-images.githubusercontent.com/20547886/45849622-89ca3d80-bce7-11e8-9978-2df0ac936511.png)

[2018-09-20 22:13] ejregithub commented on #6203
@alexgibson - all assets are now here ^^

[2018-09-20 23:27] dzingeek commented on #6174
@alexgibson looks good to me. Nice work!

[2018-09-21 00:21] stephaniehobson commented on #6104
Demo is updated with proper documentation: https://demo1--mozilla-protocol.netlify.com/

Initial PR is here: https://github.com/mozilla/protocol/pull/237

[2018-09-21 02:50] pmac opened #6213 "Use the Firefox Reality logo on privacy policy pages"
The team would like the proper logo to be used on `/privacy/` and `/privacy/firefox-reality/`. They've [attached an image to the bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1491425#c14).

[2018-09-21 02:56] pmac commented on #6213
Someone mentioned that they thought that the Reality project would get a new logo soon. I'm told by that team that this is not the case, so this work should proceed.

[2018-09-21 08:44] #5891 closed

[2018-09-21 08:44] #5885 closed

[2018-09-21 08:45] #5890 closed

[2018-09-21 08:54] #5892 closed

[2018-09-21 08:54] #5893 closed

[2018-09-21 08:55] #5889 closed

[2018-09-21 08:56] #5886 closed

[2018-09-21 08:59] #5887 closed

[2018-09-21 08:59] #5888 closed

[2018-09-21 08:59] #5884 closed

[2018-09-21 09:02] #5874 closed

[2018-09-21 09:05] #5872 closed

[2018-09-21 09:06] #5902 closed

[2018-09-21 09:06] #5912 closed

[2018-09-21 09:11] #5901 closed

[2018-09-21 09:11] #5900 closed

[2018-09-21 13:55] #5655 closed

[2018-09-21 15:35] dzingeek commented on #6174
@alexgibson do we have to solve the sub nav before pushing out the new nav? In other words, is this a blocker?

[2018-09-21 15:38] alexgibson commented on #6174
I'd rather it not be a blocker if at all possible. If we can remove some of the existing sub navs though, I'd be happy to do that as part of this change.

[2018-09-21 15:54] dzingeek commented on #6095
Still waiting on updated copy. Not sure how much it will impact design or ux, hopefully not much.

[2018-09-21 15:55] dzingeek commented on #6094
Ux is mostly done but until I see final copy I can't move this into the done column.

[2018-09-21 15:56] dzingeek commented on #6096
We need to make sure we keep track of the basic here. Time on page, links clicked...that sorta stuff. This is probably standard but I still wanted to mention it.

[2018-09-21 15:57] dzingeek commented on #6097
Mark and I are working on the design but we are still waiting on updated copy, which could impact what we have so far.

[2018-09-21 16:55] dzingeek commented on #5899
My initial thought was to replace the current /contribute/events with this new events.mozilla.org.
Right now /contribute/events doesn't really do anything for anyone, and we don't need two event locations. So as soon as this new events site is ready we should make the switch in the nav.

Thoughts @rraue and @vincejoyiv

[2018-09-21 18:17] ejregithub opened #6216 "Updates to the hero images in SEM pages for Twitter ads"
Description: updates to the hero images in the following pages based on the recommendation from Fetch.

Fast (https://www.mozilla.org/en-US/firefox/new/?xv=fast)
and
Safe (https://www.mozilla.org/en-US/firefox/new/?xv=safe)

Tasks
- [ ] provide new hero/bg image for ?xv=fast (@vincejoyiv)
- [ ] provide new hero/bg image for ?xv=safe (@vincejoyiv)
- [ ] code in new hero/bg image for ?xv=fast (TBD d

[2018-09-21 18:33] stephaniehobson commented on #5974
The switch hasn't been activated in www-config yet so it's not on.

Also, I feel like we should have a way to track that this needs to be turned off and have the data analyzed, but maybe a separate card would be better for that?

[2018-09-21 19:09] ejregithub commented on #5765
Closing, dates are no longer valid.

[2018-09-21 19:09] #5765 closed

[2018-09-23 16:40] RCMainak commented on #6210
I would like to work on this one.

I am debug this issue but having trouble since raven is complaining, need to find a way to enable logging.

[2018-09-24 15:02] alexgibson opened #6221 "Update bedrock's classList polyfill"
I just uncovered a bug in IE 9 when using bedrock's [classList polyfill](https://github.com/mozilla/bedrock/blob/master/media/js/base/class-list-polyfill.js):

Given the following HTML:

[code]

Running the following JS:

[code]

Will result in:

[code]

Instead of:

[code]

Our polyfill was [taken from MDN](https://developer.mozilla.org/en-US/docs/Web/API/Element/classList#Polyfill) around 2 year

[2018-09-24 16:12] michaelmccombie commented on #6186
Here is the proposed design for the landing page. There are a couple of variants in this document. I'll check in with Yuliya to see which of these designs we move forward with.

https://thebrigade.invisionapp.com/boards/XD3Q0N0AFE5/

[2018-09-24 17:40] dzingeek commented on #6201
**Copy for Banner f/Tim M**
- logo lockup *Firefox* fights for you.
- headline "More power to you."
- subhead (assuming it fits) "Control your privacy. Get 2x the speed. Your rights are worth the fight."

[2018-09-24 18:07] michaelmccombie commented on #6186
The final design for the landing page has been selected.
https://thebrigade.invisionapp.com/boards/3E3Q0N0DTJM/

[2018-09-24 19:01] ejregithub commented on #6174
@alexgibson - here's [the spec](https://docs.google.com/presentation/d/1EwL65T779SyTHQ5s4BPACS3fbid5Md_QTQ2lQ829f48/edit#slide=id.g223bb6efd2_0_44) from AP

[2018-09-24 23:45] dzingeek commented on #6201
[Sketch File Here](https://share.goabstract.com/7491c709-54f8-4dcc-8d8a-2d91bcc26cc7)
_Image is low res, waiting on high res version._

See screenshot for reference:
<img width="1264" alt="screen shot 2018-09-24 at 4 15 09 pm" src="https://user-images.githubusercontent.com/3740746/45985037-2444bc80-c019-11e8-8421-22c7698721d7.png">

[2018-09-25 03:45] dzingeek commented on #6201
One other thing to note, based on the new design we need to also update the bottom fx banner.

**Things to tweak**
- [ ] change background color to grey
- [ ] make text black
- [ ] use blue square button (matching new banner button)

[2018-09-25 08:04] alexgibson commented on #6158
@mrkwvr Is there a due date when we can expect design to be ready for?

[2018-09-25 09:34] alexgibson commented on #6174
Demo is now updated as per the spec from AP, now pending verification.

[2018-09-25 12:42] djst commented on #6154
@ejregithub is this still blocked?

[2018-09-25 12:43] djst commented on #6153
What is the status here? Due date is today!

[2018-09-25 12:45] alexgibson commented on #6153
CLosing as a duplicate of https://github.com/mozilla/bedrock/issues/6205

[2018-09-25 12:45] #6153 closed

[2018-09-25 12:53] djst opened #6225 "IA - Figure out Foundation content/placement in new nav"
Following up on the discussion w/ Janis and MEM, we need an answer to how to link visitors to foundation.mozilla.org from mozilla.org. We should have an opinion about

- what specific Foundation content we want to link to (e.g. just a jump-off to foundation.m.o. or links to specific content/stories on their website)
- whether the connections happen from the nav, from in-page content (e.g. homepage

[2018-09-25 12:56] #6213 closed

[2018-09-25 13:40] alexgibson commented on #6203
Enabled once again, closing.

[2018-09-25 13:40] #6203 closed

[2018-09-25 15:00] ejregithub opened #6226 "[64 Release] Expose MSI installers on mozilla.org for downloads"
Description: Request from Product to expose MSI installers on mozilla.org for downloads in correspondence with the 64 release.
[Bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1493205)

Success Criteria:
- [ ] Content live on product launch date (time TBD)
Risks:
- [ ]
Tasks:
- [ ]

[2018-09-25 15:49] rraue commented on #5899
I agree

[2018-09-25 15:59] vincejoyiv commented on #6216
Here's a link to the sketch file https://share.goabstract.com/b6e72fb5-b128-4a29-afc6-612728661510

And here are links to the image assets https://mozilla.box.com/s/mi2t7op6o7bwz8gsh3k4r7m002cqroan

This design includes a new hero background color `#ffffff`, as well as a new background color behind the 3 columns of text `gray10` or `#f9f9fa`.

[2018-09-25 16:59] dzingeek commented on #6201
@craigcook here is the [link to the high res png with a transparent background ](https://mozilla.box.com/s/dx49senhnrrjuigwncim1dz8ldozvca5). Let me know if you run into any issues.

[2018-09-25 17:42] ejregithub opened #6227 "Update leadership page, New General Counsel"
Description: Update the leadership page w. new GC's info in [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1481688)

[2018-09-25 17:42] ejregithub commented on #6227
@stephaniehobson - please pick this up when you return

[2018-09-25 18:59] dzingeek commented on #6201
@craigcook Looks like something is happening on some smaller screen sizes with the "skinny" verions.
![screen shot 2018-09-25 at 11 56 54 am](https://user-images.githubusercontent.com/3740746/46036499-7689ea00-c0ba-11e8-8307-25a6392d4d12.png)

[2018-09-25 19:31] #6201 closed

[2018-09-25 19:36] pmac opened #6229 "Add legal-docs for Firefox ScreenshotGo"
https://bugzilla.mozilla.org/show_bug.cgi?id=1487436

New policy URLs:

- https://www.mozilla.org/privacy/firefox-screenshotgo/
- https://www.mozilla.org/about/legal/terms/firefox-screenshotgo/

New policy docs:

- https://github.com/mozilla/legal-docs/tree/master/firefox_screenshotgo_privacy_notice
- https://github.com/mozilla/legal-docs/tree/master/firefox_screenshotgo_about_rights

[2018-09-25 21:11] michaelmccombie commented on #6186
**Final Design (Sketch)**
https://mozilla.box.com/s/6w1cga0xi43y7ygezrcamg3e98dajufj

**Final Copy**
https://docs.google.com/document/d/1OjoCjtk523RZA1eF1tZJfA28T7gVvO9L41X9kl3Zo1Y/edit?usp=sharing

[2018-09-25 23:03] dzingeek commented on #6158
@alexgibson Since Mark is in training today and tomorrow I will be working on this. Trying to get this approved by tomorrow. I would say we are pretty close so you can start, I will get you assets as soon as it's approved.

Also, let's sync up on it tomorrow morning, I have a quick question.

[2018-09-26 08:04] alexgibson commented on #6154
Content: https://docs.google.com/spreadsheets/d/1aJO3K_W6FMjup3bucpAQs2xvymvxK-DYK6LLMesLwEQ/edit#gid=0

AirTable link: https://airtable.com/shrVQdWrXYQus2NqT

[2018-09-26 09:27] alexgibson commented on #6174
Depends on #6232

[2018-09-26 12:31] alexgibson commented on #6196
@djst is this a duplicate of https://github.com/mozilla/bedrock/issues/6154 ?

[2018-09-26 12:33] alexgibson commented on #6154
@ejregithub can you please make the due date clear on this issue? 9/25 is the date the content was delivered for, but I believe this is due to go live 10/4 (according to Slack?)

[2018-09-26 12:34] alexgibson commented on #6154
This issue also depends on https://github.com/mozilla/bedrock/issues/6186, since there's a card that link to the election bundle.

[2018-09-26 13:27] ejregithub commented on #6196
@alexgibson @djst - yes, this is a dup to 6154, closing this one

[2018-09-26 13:27] #6196 closed

[2018-09-26 20:28] dzingeek commented on #6158
The design was approved by Michele in the slack channel at 10:48 am on 09.26.17

[2018-09-26 20:40] dzingeek commented on #6158
@alexgibson
[wnp 63 sketch file](https://share.goabstract.com/b1b28993-132c-41a0-8a49-f915128bcf38)
[wnp 63 assets.zip](https://github.com/mozilla/bedrock/files/2421504/wnp.63.assets.zip)

**A few things to note:**
- Built-In Tracking... **Learn More** link should go to about:preferences#privacy
- Secure Syncing...**Learn More** link should go to https://www.mozilla.org/en-US/firefox/accounts/feat

[2018-09-26 20:42] dzingeek commented on #6161
@alexgibson Design has been approved.
See [here](https://github.com/mozilla/bedrock/issues/6158#issuecomment-424862184) for final file, assets, and some documentation.

[2018-09-26 23:08] dzingeek opened #6234 "Dev: Pocket Landing Pg > Update Images"
Found some issues with the images and the illustrator asked us to update them.

[pocket-updated-imgs.zip](https://github.com/mozilla/bedrock/files/2435102/pocket-updated-imgs.zip)

**Todos:**
Upadate all images on page
- [ ] Update Hero Img
- [ ] Update Reading Img
- [ ] Update Save Img
- [ ] Update Discover Img
- [ ] Update Mobile Img

[2018-09-27 02:16] stephaniehobson commented on #6186
I see discussion of a URL and a [card for SEO consultation](https://github.com/mozilla/bedrock/projects/15#card-13108871) but I don't see if @rraue has had a chance to comment yet. Raphael do you have any objections to mozilla.org/firefox/election for this? Any meta info you want to contribute?

[2018-09-27 02:17] stephaniehobson commented on #6186
Also, a note to myself, the first run URL is: https://www.mozilla.org/en-US/firefox/62.0/FirefoxElection

[2018-09-27 03:31] #6209 closed

[2018-09-27 10:31] rraue opened #6238 "Events schema.org markup is invalid"
I got today warnings in the search console, that all our events on https://www.mozilla.org/contribute/events/ have invalid markup. Something is wrong with the location.
<img width="1233" alt="screen shot 2018-09-27 at 12 27 07" src="https://user-images.githubusercontent.com/36700618/46140268-ec27be80-c250-11e8-921f-97c6435a9812.png">
But as I see in search that our events are displayed right and w

[2018-09-27 12:17] rraue commented on #6186
@stephaniehobson Do you know if this bundle will be around even after the midterms? If so, then /firefox/election is a good url, if it will be just for this years midterms I would prefer /firefox/midterm-election-2018 as we anyways will have a shorturl for campaigns.

[2018-09-27 12:52] rraue commented on #6186
@alexgibson I would see it as a test if such not long living pages can get some search traffic as well. Or if it gets us some links we can redirect then after the campaign to /new/.

[2018-09-27 16:18] rraue commented on #6186
Given that this page is only for the midterms, I suggest /firefox/midterm-election-bundle-2018 as the url. It is long, but speaking and we have a short-url in place for campaigns anyways.

[2018-09-27 18:01] dzingeek commented on #5958
@craigcook and @ejregithub
Since we are now just moving forward with the new blue button can we remove this experiment?

[2018-09-27 18:17] #6189 closed

[2018-09-27 18:17] ejregithub commented on #6189
invalide

[2018-09-27 18:41] danieljkessler123 commented on #6186
Hi the Firefox team doesn't want this to sunset. The tools are evergreen
and the messaging doesn't limit us to midterms. So if there is a way to not
limit it with that that would be good.

Thanks!

Daniel Kessler
Mozilla
C: +1.510.501.1779
E. dkessler@mozilla.com

On Thu, Sep 27, 2018 at 9:19 AM Raphael Raue <notifications@github.com>
wrote:

[2018-09-27 18:56] rraue commented on #6186
Great, then /firefox/election it is and we index it.

On Thu 27. Sep 2018 at 20:42, danieljkessler123 <notifications@github.com>
wrote:

--
______
Send via mobile

Raphael Raue
Global Head of Seo
www.mozilla.org

twitter.com/raue

[2018-09-27 19:57] ejregithub commented on #5958
Let me ask the New User aDAU team if they're interested in this one (they being the team that requested the blue button).

[2018-09-27 20:55] dzingeek commented on #5958
@ejregithub
So we are just moving forward with the blue button, no reason to really test it. It's already being used on the homepage and other places. I don't really want to make it seem like there is an option for another color at this point.

[2018-09-28 01:32] kellymj commented on #6154
Card 1 (Election edition):
- Do you mean to link that to a bedrock demo page?

Card 2 (Misinfonation video):
- The URL was submitted incorrectly with a dash instead of a slash between day and month. The correct URL is:
http://blog.mozilla.org/internetcitizen/2018/10/04/misinfo-nation-misinformation-democracy-internet

Card 5 (Pocket election section):
- Add a period to the end of the blurb.
- The

[2018-09-28 13:14] alexgibson commented on #6161
@dzingeek this is now up on demo for both stakeholder & design review:

https://www-demo2.allizom.org/en-US/firefox/63.0/whatsnew/

Testing notes:

To see the FxA form and enable the link to `about:preferences#privacy`, you need to whitelist the demo server for UITour:

1. Open `about:config`.
2. Create a new preference called `browser.uitour.testingOrigins` and give it a value of `https://www-dem

[2018-09-28 13:15] alexgibson commented on #6160
@ejregithub this is now ready for analytics requirements.

See [here](https://github.com/mozilla/bedrock/issues/6161#issuecomment-425431685) for demo link and testing instructions.

[2018-09-28 14:55] kellymj commented on #6154
Hmmm, the image for Card 5 won't resize smoothly for me either. Let's leave it.

The rest looks great.

[2018-09-28 15:52] ejregithub commented on #6160
@alexgibson - when, by what date, do you need the spec from AP?

[2018-09-28 16:05] alexgibson commented on #6160
@ejregithub my aim is to get this finished and in production before we're all in Portland, else we'll have a big rush to get this finished off on my return. I'd say we need specs early to mid next week?

[2018-09-28 16:30] dzingeek commented on #6099
[sketch file ](https://share.goabstract.com/f52097fc-127a-4c68-b62c-40fadbbf651f)

@craigcook
Just a quick note, small tweaks are still happening with this file..mostly just around the images. Will get those assets to you shortly.

[2018-09-28 16:55] dzingeek commented on #6099
[Copy doc](https://docs.google.com/document/d/1NBKCDZt8PJjPXP1yHNOozKx7ChUMYfAMIreTNpURH0g/edit?usp=sharing)

[2018-09-28 16:55] dzingeek commented on #6095
[latest copy doc ](https://docs.google.com/document/d/1NBKCDZt8PJjPXP1yHNOozKx7ChUMYfAMIreTNpURH0g/edit?usp=sharing)

[2018-09-28 18:03] kellymj commented on #6154
Late breaking image update for Card 1: https://dl.airtable.com/A6EsDW9wSgGHzQrfSWKE_full_homepage-election-edition.jpg

[2018-09-28 18:39] stephaniehobson commented on #6170
@ejregithub FYI the launch target is being pushed back, possibly to November but it hasn't been decided.

[2018-09-28 21:31] stephaniehobson commented on #6186
New first run URL is: https://www.mozilla.org/en-US/firefox/62.0.2/?xv=firefox-election

[2018-09-28 21:32] stephaniehobson commented on #6186
@alexgibson from the conversation in the bug it sounds like it will be updated with each release.

[2018-09-28 21:41] dzingeek commented on #6099
@craigcook here are the assets for the lean data pages.
[lean-data-assets.zip](https://github.com/mozilla/bedrock/files/2429813/lean-data-assets.zip)

_Note: will have small the small illustrations for v2 next week._

[2018-09-28 21:53] stephaniehobson commented on #6186
Demo pages:
https://bedrock-demo-shobson.oregon-b.moz.works/en-US/firefox/election/ (Both Firefox and non-Firefox versions)
https://bedrock-demo-shobson.oregon-b.moz.works/en-US/firefox/62.0/firstrun/?xv=election

*The messaging for mobile is not yet in place.

[2018-09-28 22:20] dzingeek commented on #6099
here are updated transparent hero images
[lean-data-hero-assets.zip](https://github.com/mozilla/bedrock/files/2429911/lean-data-hero-assets.zip)

[2018-10-01 14:52] alexgibson commented on #6130
Looks like this issue was missing a link to the details - I found the original bug here https://bugzilla.mozilla.org/show_bug.cgi?id=1489266