[2020-08-27 21:41] amychurchwell commented on #9013
This is blocked until design is final

[2020-08-27 21:41] hoosteeno opened #9343 "WNP81: Write final approved copy by EOD 8/31"
## Description

Write copy and a pitch for WNP81 as part of #9342.

---

#### Success Criteria
- [ ] Pitch is approved by the council
- [ ] Approved copy is attached to this card

[2020-08-27 21:44] hoosteeno opened #9344 "WNP81: Merge code by EOD 9/2"
## Description

Code the WNP81 in our standard WNP template with copy from #9343 as part of epic #9342.

---

#### Success Criteria
- [ ] Coded mockups are approved by the council
- [ ] Code is merged and launched by EOD 9/2 so l10n can commence

[2020-08-27 21:48] amychurchwell commented on #9317
Apologies if the title was confusing, this is a setting unrelated to the browser. Wanted to document the conditions which the screenshot occurred.

[2020-08-27 21:54] hoosteeno commented on #9342
Release bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1661585

[2020-08-27 22:29] amychurchwell commented on #9340
@craigcook I made a vanilla CSS codepen of your example: https://codepen.io/amychurchwell/pen/poyPOmX
I think it'll be helpful to make CSS-only proof-of-concepts because then they can be copied directly into convert later on.
--Also, I like what you did with the gradient! :D

[2020-08-28 13:06] alexgibson opened #9346 "Remove macOS download attribution script?"
## Description

We have a macOS download attribution script that was added some 2 years ago here: https://github.com/mozilla/bedrock/blob/master/media/js/base/stub-attribution-macos.js

As far as i know, attribution for macOS downloads has never worked fully - and I don't know of any plans to get that working. I don't think it serves us any favors to keep on maintaining and shipping dead code. If

[2020-08-28 13:11] alexgibson commented on #9346
It looks like the script is behind a switch: https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/templates/firefox/new/desktop/download.html#L507-L509

Which seems to have never been enabled: https://github.com/mozmeao/www-config/blob/master/waffle_configs/bedrock-prod.env

[2020-08-28 13:11] alexgibson commented on #9346
@hoosteeno any objections to removing this?

[2020-08-28 13:18] alexgibson commented on #8860
@hoosteeno the simplified button is now up on demo: https://www-demo2.allizom.org/en-US/firefox/new/

One thing I may need some help with here is to verify that GA events for the downloads are still working as expected.

I've put the simple button on the following pages/areas:

- Download button in the global navigation (view in non Firefox browser).
- Download buttons on https://www-demo2.allizom

[2020-08-28 14:44] alexgibson commented on #9203
Looks like the content above is now featured in the SUMO article, so closing this. Thanks for reporting!

[2020-08-28 14:44] #9203 closed

[2020-08-28 15:20] alexgibson opened #9347 "Faceboook Container video breaks out of its container"
## Description

https://www.mozilla.org/en-US/firefox/facebookcontainer/

Possibly a regression from https://github.com/mozilla/bedrock/pull/9096

![image](https://user-images.githubusercontent.com/400117/91584303-561fd580-e94a-11ea-9a48-27a27669a2d2.png)

[2020-08-28 15:33] alexgibson opened #9348 "Contact space maps are too small for container"
## Description

https://www.mozilla.org/en-US/contact/

Regression from https://github.com/mozilla/bedrock/pull/9096

<img width="1645" alt="image" src="https://user-images.githubusercontent.com/400117/91585523-18bc4780-e94c-11ea-9ab5-5a261108615b.png">

[2020-08-28 15:49] alexgibson opened #9349 "Update Facebook Container page to promote regular Firefox when viewed on mobile devices"
## Description

https://www.mozilla.org/en-US/firefox/facebookcontainer/

When viewed on a mobile or tablet device, the facebook container landing page promotes Firefox Focus. We should change this to the regular Firefox for mobile.

This is needed for the upcoming campaign as it may be linked to from the landing page.

![image](https://user-images.githubusercontent.com/400117/91587108-3a1e3300-e9

[2020-08-28 15:52] alexgibson commented on #9349
I'll also fix https://github.com/mozilla/bedrock/issues/9347 here

[2020-08-28 16:48] alexgibson opened #9350 "Stub attribution is not being applied in old IE browsers"
## Description

The stub attribution script is running in older Ie browsers, however the signed attribution code is not being applied to the download URL, due to the way old IE browsers have a different triggering mechanism for the download:

https://github.com/mozilla/bedrock/blob/master/media/js/ie/mozilla-utils-ie.js#L27-L37

### Steps to reproduce

1.) On IE 9 or below, visit https://www.mozil

[2020-08-28 16:50] alexgibson commented on #9350
@hoosteeno is this something we care about re: dark funnel? Supporting these old browsers is non trivial for things like stub attribution long term, but it's possible to fix this without too much work (short term).

Happy to take whichever direction you think makes sense here.

[2020-08-28 18:27] cgonz0 commented on #9299
@amychurchwell
updated assets [assets_welcome4.zip](https://app.zenhub.com/files/1616665/e5ec07a4-d838-4508-8eb4-555ab41f0fe8/download)
gradient: `background-image: radial-gradient(circle at 60% 100%, #FFA437 5%, #E74549 94%);`

![welcome 4 v2.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/03d07b5d-049b-4037-887c-bd2671662ce2)

[2020-08-28 22:44] kellymj opened #9351 "Copy change: Daylight banner"
## Description

Change headline copy on the orange Firefox for Android banner:

OLD: Introducing our latest release of Firefox for Android — Firefox Daylight.
NEW: Introducing the NEW Firefox for Android — Firefox Daylight

Note, there is no period at the end of the line

---

#### Success Criteria
- [ ] Copy is updated

![image](https://user-images.githubusercontent.com/16907385/91618581-99c11200

[2020-08-28 23:35] amychurchwell commented on #9013
Time frame from lwright in slack:

[2020-08-29 06:54] DeekshithSuresh commented on #9351
can i resolve this one sir.

[2020-08-30 20:30] hoosteeno commented on #9346
I've asked mkaply to weigh in on this.

[2020-08-31 05:40] petercpg opened #9352 "Firefox Channel Page: Firefox for Android titles being used in Firefox Desktop page"
## Description
In Firefox Channel Page, page `<title>` and `og:title` for Firefox for Android is being used in Desktop page. Not sure if this is intended but only mentioning Android is a bit of ambiguous when I was actually Googling up for Nightly Desktop download.

I do also notice there is a fallback string in https://github.com/mozilla/bedrock/blob/a7c63bde02a71d54cd980a4322f47319b6f7c4e6/l10n/

[2020-08-31 15:11] rtestard commented on #9346
@tublitzed Can you please weigh in there?

[2020-08-31 15:50] #9330 closed

[2020-08-31 17:29] tublitzed commented on #9346
@alexgibson actually, can you hold off here? @ncalexan is actively working on getting macOS attribution working now. See [1619353](https://bugzilla.mozilla.org/show_bug.cgi?id=1619353) for details.

[2020-08-31 21:51] hoosteeno commented on #9350
IE <= 9 is appx. .62% of visits, but almost 6% of desktop downloads. I think we should fix it.

[2020-09-01 08:06] #9351 closed

[2020-09-01 08:35] alexgibson commented on #9347
WIP update (copy still needs finalizing)

![image](https://user-images.githubusercontent.com/400117/91827176-6aa7ea80-ec36-11ea-8001-a8e3c665e9fa.png)

[2020-09-01 08:37] alexgibson commented on #9349
WIP update (copy still needs finalizing)

![image](https://user-images.githubusercontent.com/400117/91827176-6aa7ea80-ec36-11ea-8001-a8e3c665e9fa.png)

[2020-09-01 08:40] alexgibson commented on #9346
@tublitzed if this is being worked on then great. Please keep us updated, and let us know if you need anything on our side.

The script I linked above has never been enabled in production, so if you still plan on utilizing it (?) then we'll likely need to test things on stage first.

[2020-09-01 08:57] alexgibson commented on #9352
Thanks for reporting 👍

[2020-09-01 13:11] alexgibson commented on #9349
Current copy:

"Try Firefox Focus, the privacy browser for Android and iOS"

New copy (placeholder):

"Try Firefox Browser on your mobile device for android and iOS"

[2020-09-01 13:58] alexgibson commented on #9349
I worked with Anika on the copy, and we're going to move forward with:

"The Facebook Container Extension is currently only available for Firefox for Desktop. Visit www.mozilla.org/firefox/new to get Firefox for Desktop."

"Get Firefox for Android and iOS now."

[ play store button ] [ app store button]

[2020-09-01 14:29] justinkropp commented on #9286
@hoosteeno @rraue Here's a [working draft](https://docs.google.com/document/d/16F9BZjWmnsNSR8xpmZ5tKlLrN3rc87lVUywB_fCBRhU/edit?usp=sharing) of the navigation proposal (both primary and footer navigation systems). Attaching here for reference.

[2020-09-01 16:51] hoosteeno opened #9357 "Deploy latest Protocol to Bedrock"
## Description

The latest version of Protocol includes some features (e.g. the sticky card) that we want to use on Bedrock. We should put the latest version of Protocol on Bedrock.

---

#### Success Criteria
- [ ] The latest version of Protocol is merged into Bedrock and deployed on live production site.

[2020-09-01 20:52] justinkropp commented on #9286
Following up on the working draft above, attached is a visual skeleton of the proposed navigation.
----
![fx+moz nav](https://user-images.githubusercontent.com/1461798/91904704-5cc48a80-ec73-11ea-860c-3d44d9bf57de.png)

[2020-09-01 21:10] #9352 closed

[2020-09-01 21:36] hoosteeno opened #9359 "Comparison table on /new includes inaccurate info"
## Description

The comparison table on our download page says Chrome blocks 3rd party cookies:

![Screen Shot 2020-09-01 at 3 33 35 PM](https://user-images.githubusercontent.com/94519/91908299-90e67e00-ec68-11ea-816d-a7865de87e81.png)

This is only true under certain circumstances -- i.e. in incognito mode. We should be clearer about this comparison. We should add the words "by default" to the en

[2020-09-01 21:42] craigcook commented on #9359
If we're changing it to be explicitly "by default" we may need to check against all the other browsers as well, since we state they all block third-party tracking cookies but I don't think they all do so by default. And we should make the same updates to the comparison pages under https://www.mozilla.org/firefox/browsers/compare/

[2020-09-01 21:58] arthuredelstein commented on #9359
Great point! Safari and Edge do block third-party tracking cookies by default.

[2020-09-02 02:12] TanviHacks commented on #9359
I don't think adding "by default" is necessary.  You could simply uncheck the box for Chrome on https://www.mozilla.org/en-US/firefox/new/ and on https://www.mozilla.org/en-US/firefox/browsers/compare/.

On https://www.mozilla.org/en-US/firefox/browsers/compare/, you can also doublecheck Opera and IE to see what the default is.  If they don't block third party tracking cookies by default, you can

[2020-09-02 08:05] alexgibson commented on #9259
I chatted with Justin breifly about this yesterday and what I'd like to propose is the following:

- We stop duplicating /exp/ template HTML/CSS/JS.
- We switch to a system of /exp/ templates extending the original templates (less code duplication).

I think there's less risk of breakage if we do this now that CRO is no longer a separate team. We're more integrated, so have a better understanding

[2020-09-02 08:06] #9349 closed

[2020-09-02 08:09] #9316 closed

[2020-09-02 09:02] alexgibson opened #9361 "German content for september moment landing page"
## Description

In https://github.com/mozilla/bedrock/pull/9358 we merged the base template for the september moment page (right now, the URL is only available when `Dev=True`).

This issue is to track dev work for populating the EU specific content for the page

---

#### Success Criteria
- [ ] EU content for German locale is approved and in production.

[2020-09-02 09:03] alexgibson commented on #9361
Copy deck (Mozilla access only): https://docs.google.com/document/d/1qCq6HGncOHLyItvP0DKKjisqfAtTmhq38fu1ahJMW8Q/edit?usp=sharing

[2020-09-02 17:00] #9344 closed

[2020-09-02 21:07] tublitzed commented on #9346
Sounds good! I'll loop back in here when we're ready to test (see [PI-781](https://jira.mozilla.com/browse/PI-781)) and we can determine at that time if we need/want to keep this or not, and if so we can plan on testing it then.

[2020-09-02 21:41] peiying2 commented on #9315
If we resolve this issue by next Tuesday, I will try to get the community to complete the WNP81 page.

[2020-09-02 22:00] amychurchwell commented on #9259
@alexgibson totally agree. The manual updating of exp templates is not sustainable and all future convert experiments will be launched from the websites team.

[2020-09-02 22:34] #9315 closed

[2020-09-02 23:28] craigcook opened #9365 "Display the standard whatsnew page for Indonesian"
## Description

Indonesian (`id`) gets a custom hard-coded whatsnew page promoting Firefox Lite, but as of https://github.com/mozilla/bedrock/pull/9323 the regular whatsnew pages are localizable in `id`. We'll need to update the view logic so `id` can see the regular localized page.

Question: do we want to preserve the custom page for older versions of Firefox and only start showing the regular p

[2020-09-05 18:25] ViralTaco opened #9368 "Inconsistent Terminology: 'Master Password' vs 'Primary Password'"
## Description

Inconsistent terminology between:

1. mozilla.org/en-US/firefox/new/#compare-table
2. Privacy Preferences (Firefox 80) `about:preferences#privacy` in the Logins and Password section.

The expression "Master Password" is used in the former, "Primary Password" in the latter.

I believe [this line](https://github.com/mozilla/bedrock/blob/f6773149072b7e5bd72f6db93f84fcc6bc89a235/l10n/e

[2020-09-07 07:47] alexgibson opened #9369 "Make /exp/ pages extend original templates"
## Description

When creating experimental /exp/ pages, up until now we have been creating duplicate HTML/CSS/JS assets so that those pages could be standalone. Whilst this separated concerns, it did create more ongoing maintenance on the front-end. Now that the CRO team is no longer a separate entity from the websites team, moving to a system of extending jinja templates for /exp/ pages should be

[2020-09-07 07:48] alexgibson commented on #9259
Filed https://github.com/mozilla/bedrock/issues/9369 to follow up making the above changes.

[2020-09-07 07:48] #9259 closed

[2020-09-07 08:43] alexgibson opened #9370 "Local install fails when installing Pillow"
## Description

I updated my local install of Yarn using `brew upgrade yarn`. However when homebrew updated, it looks like it also updated the version of Python installed on my machine. As a result, my local install of bedrock broke, and I can't install a fresh virtual env using the docs. It fails with an error.

### Steps to reproduce

Follow the local install steps here: https://bedrock.readthed

[2020-09-07 08:46] alexgibson commented on #9370
@pmac any idea as to how I can fix this? I can run the docker setup for most things, but for running tests locally the full install is still needed.

[2020-09-07 11:57] pmac commented on #9370
My guess is you upgraded to Python 3.8 and bedrock isn't ready for that. I recommend using PyEnv to manage Python versions.

[2020-09-07 13:14] alexgibson commented on #9361
Assets: https://drive.google.com/drive/folders/1Qaf2A6nje-Q1MM1YCYrWoNHHVdyzyY9Z?usp=sharing

[2020-09-07 14:49] GauravPandey892 commented on #8085
I would like to work on this issue.
I have checked and it is still a bug on IE10.
Furthermore, the page looks really different from what it should look like in IE9 (I have attached the photos for IE9). I would like to work on that as well.
Since this would be my first technical based open source contribution I might need some guidance but will try my best to solve this issue.
![1](https://user-ima

[2020-09-08 17:10] pmac commented on #8843
@hoosteeno I'm pretty sure we've discussed this, but just to be clear www.firefox.com is now under our control and we can finalize this experiment setup whenever you're ready. This may well be on a back-burner at this point after all of the recent organizational change, but we're ready when you are.

[2020-09-08 18:28] hoosteeno commented on #9286
Thanks @justinkropp ! Some questions here for you:

* Are the top-level items clickable? I think @rraue wants them to be.
* The spec should probably note a couple things:
** When content doesn't exist yet (e.g. product promise)
** When the text of the thing in the nav is still TBD (e.g. Firefox Blog)

And some questions for @kiiirby:

* Can you confirm the contents & order of items in Browsers/Pro

[2020-09-08 19:26] Kiiirby commented on #9286
All these products look good, Tyler and I recommend re-ordering like this:

[2020-09-08 19:27] Kiiirby commented on #9286
Firefox Monitor
Facebook Container
Mozilla VPN
Pocket
Product Promise
Firefox Relay
Firefox FPN

(with Beta products below the product promise)

[2020-09-08 19:28] Kiiirby commented on #9286
And the two Beta products (Relay and FPN) denoted as such.

[2020-09-08 19:34] justinkropp commented on #9286
Thanks for the clarification on order. I'll update the IA doc to reflect the change and to denote the beta products.

[2020-09-08 19:52] Kiiirby commented on #9286
Great, thanks!

On Tue, Sep 8, 2020, 12:35 PM Justin Kropp <notifications@github.com> wrote:

[2020-09-08 20:03] hoosteeno commented on #9286
@rraue Can you tell us whether "Firefox for Enterprise" needs a spot in the Browsers menu?

[2020-09-08 20:38] Kiiirby commented on #9286
@justinkropp actually, let's use this order, please (let's put Pocket before VPN bc Pocket is our #2 source of rev)

Firefox Monitor
Facebook Container
Pocket
Mozilla VPN
Product Promise
Firefox Relay
Firefox FPN

[2020-09-09 10:19] rraue commented on #9286
Enterprise not necessarily needs to be in the main nav (depends more on our priorities than SEO) but if not it should be in the footer.

[2020-09-09 10:19] rraue commented on #9286
Enterprise not necessarily needs to be in the main nav (depends more on our priorities than SEO) but if not it should be in the footer.

[2020-09-09 10:50] imskr commented on #9322
I am taking this issue!

[2020-09-09 12:04] Sayanta66 commented on #9341
I want to work on it. Please assign me the task

[2020-09-09 13:58] justinkropp commented on #9286
@Kiiirby @rraue 👍

[2020-09-09 18:31] craigcook commented on #9342
The page went live on 9/2: https://www.mozilla.org/firefox/81.0/whatsnew/all/

[2020-09-09 18:31] #9342 closed

[2020-09-09 19:42] #8994 closed

[2020-09-09 19:42] #8995 closed

[2020-09-09 19:42] #8996 closed

[2020-09-09 19:42] #8997 closed

[2020-09-09 19:51] hoosteeno opened #9378 "Update compare hub and tables"
## Description

Tyler will provide copy and comparison page changes which will be attached to this bug.

---

#### Success Criteria
- [ ] Changes are specified in a doc attached to this issue, reviewed by The Studio
- [ ] Changes are made in live pages (compare pages + download page)

[2020-09-09 20:04] NdagiStanley commented on #8994
@pmac
Does this mean the [milestone](https://github.com/mozilla/bedrock/milestone/25) has been discontinued?

[2020-09-09 20:07] pmac commented on #8994
Hi! Yes. Sorry I failed to notice your message from before. We're not sure at the moment what this integration will look like after some changes in other plans. We'll probably add some new issues later once we formulate a new plan.

[2020-09-09 20:08] justinkropp commented on #9286
Updated nav IA. I've reordered items based on @Kiiirby's suggestions above. I've also included a key to denote names that aren't final and new content.

----

![fx+moz nav](https://user-images.githubusercontent.com/1461798/92647977-c1f12f00-f2b6-11ea-8bd9-2883a61b25bb.png)

[2020-09-09 22:26] #9322 closed

[2020-09-09 22:47] skrelnick23 commented on #9359
It's behind a pref in Chrome and is available for GA users, so fine to uncheck but we should indicate in fine print somewhere that the comparison is for on-by-default features.

[2020-09-09 22:49] hoosteeno commented on #9359
Rather than add new qualifying copy in fine print, perhaps we should just add "by default" to the factor.

[2020-09-10 08:24] alexgibson commented on #9361
Demo page: https://www-demo1.allizom.org/de/firefox/campaign/unfck/

[2020-09-10 08:28] alexgibson opened #9380 "Test failure on /contact pages"
https://gitlab.com/mozmeao/www-config/-/pipelines/188094780/builds

[code]

[code]

Possibly a regression from https://github.com/mozilla/bedrock/pull/9377

[2020-09-10 10:51] alexgibson commented on #9370
I downgraded to Python 3.6.11 using the PyEnv library you suggested above and things are working again. Looks like both 3.7 and 3.8 still have issues.

I'll leave this issue open for reference should anyone else ahve trouble. Thanks again @pmac

[2020-09-10 11:25] pmac commented on #9370
Interesting. 3.7 should work. I use that locally and we use it in production. I'll do some testing.

[2020-09-10 11:46] alexgibson commented on #9370
I tried 3.7.8 and the install failed, at which point I went down to 3.6.11

[2020-09-10 13:20] #8976 closed

[2020-09-10 15:33] #9102 closed

[2020-09-10 15:33] #8454 closed

[2020-09-10 17:33] skrelnick23 commented on #9317
I see that we were able to reproduce the message, do we need to huddle and create a new issue to find a way to circumvent this message?

[2020-09-10 17:42] alexgibson commented on #9317
From a website perspective I’m not sure there is a way we can strictly circumvent it. We could provide messaging to help guide users through the process however.

[2020-09-10 17:52] skrelnick23 commented on #9317
This is what I was thinking, messaging on the download page. Let me think
through all the ways we need to combat this to ensure our download numbers
aren't hurting.

On Thu, Sep 10, 2020 at 10:42 AM Alex Gibson <notifications@github.com>
wrote:

[2020-09-10 17:59] hoosteeno opened #9384 "Epic: Simplify WNP production process"
## Description

We want to eliminate our _community_ l10n and release management dependence in cyclical WNP production. We propose to do this by:

* Building an evergreen WNP that serves almost all locales and all release versions and is updated semi-annually outside the release calendar
* Focusing our regular WNP updates on locales with staff/vendor localizers (en/de)

The issues are described be

[2020-09-10 21:29] hoosteeno opened #9386 "Epic: Build a moments page for Election 2020 (OCT)"
## Description

We want to land a moments page that will alert audiences to a collection of non-partisan election information that we will curate on Pocket. This epic will contain the work associated with that.

Notes:
* It will target US geography, and can be en-US only
* It could live at a different URL than the Welcome pages, if there are no objections to opening a moment page at a different UR

[2020-09-10 21:55] litkaemily opened #9388 "Update "Contact Mozilla" on https://www.mozilla.org/en-US/privacy/"
I recently tried to update the [Mozilla Privacy Policy](https://www.mozilla.org/en-US/privacy/) through Github and noticed that the "Contact Mozilla" section at the bottom of the page (screenshot attached) wasn't part of the document in Github.

I'd like to add the following after the sentence "See here for Data Subject Access Requests." "If you are under 13, we don't want your personal informatio

[2020-09-10 23:31] craigcook opened #9389 "Add an attribute to the /download/thanks/ page to support FxA tests"
## Description

The Accounts team has some functional tests for the "download and sign up" user flow that look for a known element on the /download/thanks/ page to verify the correct page has loaded. We removed an element ID they were previously relying on in https://github.com/mozilla/bedrock/pull/9274 so those tests started failing.

To prevent this from happening again next time we change the t

[2020-09-11 00:22] stephaniehobson opened #9391 "Remove EU election content"
With the US election coming up we should remove  https://www.mozilla.org/en-US/firefox/election/ so there is not any confusion if users are searching for firefox in connection with the election.

I suggest we forward to /firefox until there is US focused election content to point to.

[2020-09-11 00:35] stephaniehobson commented on #9391
See also https://github.com/mozmeao/www-admin/issues/80

[2020-09-11 14:28] #9389 closed

[2020-09-11 15:07] hoosteeno commented on #9384
This issue is pending a conversation with marketing execs.

[2020-09-11 15:40] alexgibson commented on #8860
@hoosteeno I think this is code ready, but is pending some GA verification. Is that something you can help with?

[2020-09-11 17:52] hoosteeno opened #9394 "Update strings in welcome/4 ASAP"
## Description

A mix up caused the wrong strings to go into the welcome/4 page. We need to get the correct strings in that page as soon as possible so l10n can reset. A creative team member will attach new strings to this issue.

---

#### Success Criteria
- [x] A single canonical source of strings is attached to this issue -- and allows for no confusion about what should happen
- [ ] New strings

[2020-09-11 18:19] craigcook commented on #9394
Updated canonical copy: https://docs.google.com/document/d/1GrdzXS0n6h9-YYxwQiRskCuFasplIx5EDvHouo5fF2w/edit

[new hero headline]
Now get privacy on every screen

[new hero subhead]
Your privacy is on by default with the new Firefox for Android — and now you can make Firefox your default browser on iOS 14.

[new CTA text for both buttons]
Get Firefox Mobile

[new headline for last bullet - focused

[2020-09-11 18:58] maxxcrawford commented on #9394
Does that mean:

<img width="601" alt="image" src="https://user-images.githubusercontent.com/2692333/92962628-d5c39f00-f436-11ea-91e0-ecc23fffc02d.png">

<img width="332" alt="image" src="https://user-images.githubusercontent.com/2692333/92962630-d65c3580-f436-11ea-9282-569d74350cc1.png">

[2020-09-11 19:46] #9394 closed

[2020-09-14 12:12] alexgibson commented on #9298
Closing as duplicate of https://github.com/mozilla/bedrock/issues/8938

[2020-09-14 12:12] #9298 closed

[2020-09-14 12:15] alexgibson commented on #8938
I've been thinking about the UX here and even though it may be easier to remove Android from the product menu technically, I'm not sure that makes for the right user experience. Keeping all products in one menu feels clearer to me (including adding iOS ion there). We could point the download button to the relevant store and keep the UI consistent, or alternatively we could replace the button with

[2020-09-14 15:06] hoosteeno commented on #9286
@justinkropp to get hi-fi designs in front of us this week.

[2020-09-14 15:46] #9299 closed

[2020-09-14 16:30] hoosteeno opened #9398 "Design an evergreen download page experience"
## Description

In https://github.com/mozilla/bedrock/issues/9224 we are designing an evergreen download page that can serve the majority of our locales where we don't have on-demand localization. That issue has extensive conversation about the design. This issue is for finalizing designs.

---

#### Success Criteria
- [ ] Approved designs (with final copy) are attached to this issue

[2020-09-14 16:32] hoosteeno opened #9399 "Build a new evergreen download page"
## Description

In #9224 we are designing an evergreen download page that can serve the majority of our locales where we don't have on-demand localization. That issue has extensive conversation about the design. This issue is for coding the new experience.

---

#### Success Criteria
- [ ] Code is merged and ready for localization

[2020-09-14 16:37] hoosteeno opened #9400 "Epic: CRO experimentation sprint on vpn.mozilla.org"
We will run the best experiments on the list of experiments tracked at https://airtable.com/shrs4ipbT95s3SkV6.

Related issues:
- [ ] https://github.com/mozilla-services/guardian-website/issues/947

[2020-09-14 19:45] litkaemily commented on #9388
@mafeld for visibility

[2020-09-14 22:24] stephaniemcv opened #9401 "Requesting update to Internet Health Report newsletter title and description on email preference center"
Opening issue per discussion with @pmac

Current copy for newsletter.
**Title:** Internet Health Report
**Description:** Keep up with our annual compilation of research and stories on the issues of privacy & security, openness, digital inclusion, decentralization, and web literacy.

Updated copy for newsletter.
**Title:** Insights
**Description:** Mozilla publishes articles and deep dives on issue

[2020-09-15 02:33] hoosteeno opened #9403 "Research/Implement Smartling Connections"
## Description

The l10n team has a partnership with Smartling for orchestration, and on the Bedrock side we may have some small work to do integrating with Smartling. This issue has 3 deliverables:

---

#### Success Criteria
- [ ] research/identify the proper implementations of integration; comment or attach
- [ ] implement/integrate
- [ ] identify questions/issues requiring subsequent work

[2020-09-15 02:38] hoosteeno commented on #8843
I really appreciate the work involved in getting www.firefox.com closer to us. We will use that someday soon (e.g. with an upcoming campaign). That said, building a new product site at www.firefox.com is not as high a priority as it used to be, and we can probably close this bug for the time being. It's a sweet experiment idea so I hope we can run it someday.

[2020-09-15 14:52] #9209 closed

[2020-09-15 15:10] #9359 closed

[2020-09-15 15:26] hoosteeno commented on #8860
Thanks. A couple notes here.

1. In en-US, I clicked the main download button on /firefox/new/, the secondary download button on the homepage, and the download button in the nav on /firefox/, and in all cases the datalayer event on click had a different payload. On the demo instance, the platform is not populated: `el: "Firefox for unavailable",`
![Screen Shot 2020-09-15 at 8 34 35 AM](https://use

[2020-09-15 15:36] #9151 closed

[2020-09-15 18:02] amychurchwell opened #9406 "Add sticky promo to /firefox"
## Description

We should implement a winning experiment design on /firefox using the new sticky promo component.

"Based on mozilla.org traffic volume between 4/30/20 and 5/27/20, we estimate that implementing the winning shorter copy and logo treatment into production on /firefox will lead to **~1.25M incremental non-FX desktop downloads per year.**"

![image](https://user-images.githubuserconte

[2020-09-15 18:02] amychurchwell commented on #9406
Blocked by https://github.com/mozilla/bedrock/issues/9357

[2020-09-15 18:17] hoosteeno commented on #9406
This is a good card. I'd like to ask @justinkropp to review possible surfaces and suggest whether the scope of this should be limited to /firefox, or whether it should include other obvious browser download pages like /new.

[2020-09-15 18:18] hoosteeno commented on #9384
@peiying2 This issue seems tied up with conversations around community vs. vendor localization. Do you think you can help clarify that in a comment here?

My understanding is that, by about Fx83, we'll have a vendor-supported localization path for a set of locales, and we can push all WNPs through that localization path. If we did so, in the context of the goals of this bug...
* We'd have an SLA f

[2020-09-15 18:21] amychurchwell commented on #9403
RRA is currently being revised for bedrock staging environment by operations security engineering.

[2020-09-15 18:34] amychurchwell commented on #9406
Maybe the fallback content for firefox users should be the list of products?
![image](https://user-images.githubusercontent.com/30483988/93250198-4f190580-f747-11ea-8411-96443b06374a.png)

[2020-09-15 18:45] hoosteeno opened #9407 "Epic: Update /thanks page for Win10 users"
## Description

We want to notify Win10 users that they may encounter a hostile interruptive advertisement from their operating system, attempting to dissuade them from installing Firefox. We will try to help them navigate that interruption. In the near term, the /thanks page is the best place for this messaging. The tactic is briefly described in [this deck.](https://docs.google.com/presentation/

[2020-09-15 19:14] hoosteeno commented on #9335
The specific changes for this new report are here: https://docs.google.com/document/d/19mjuWhculGtLSlA_FRxLQNOIBAlVrEvRozq5oGHoyy0/edit#

We should ping Daniel Nazer for review when it is up on demo.

[2020-09-15 20:15] justinkropp commented on #9406
The sticky promo should, ideally, be able to be placed on any of our pages without much friction. I like the above idea of using the larger sticky card to promote our product suite on `/firefox`. I also think we could use it to promote these same products on our `/browsers` page.

We could also run an experiment and use it to promote Mozilla VPN on our `/mobile` page.

[2020-09-15 20:20] maxxcrawford commented on #9357
The [new version](https://www.npmjs.com/package/@mozilla-protocol/core/v/12.1.0) has been deployed to NPM. (S/O to @stephaniehobson! 👋 )

[2020-09-15 20:24] hoosteeno commented on #9406
@justinkropp thanks.

I think we need a deeper analysis here. The sticky card has some amazing potential use cases, but they are complex. The complexity is caused by overlapping contexts:
* our #1 pitch to non-Fx users should be the browser
* our #1 pitch to Fx users may be a different product
* our #1 pitch to anyone looking at a product page should be the product on the page

So we probably need

[2020-09-15 21:37] pmac commented on #9401
I've looked in our translations and these strings are translated into a few languages. Is this newsletter English only by chance? We'll need to decide if having these strings translated on the page is important or not. The page is still using the old l10n system so we'd also likely need to convert it to the new Fluent system if we want to have new strings translated.

@alexgibson thoughts?

[2020-09-16 08:01] alexgibson commented on #9401
I'm not 100% of the status of the strings for the preferences page, or how many languages it supports, but we need to migrate these pages to Fluent eventually either way. If this is a good means to helping prioritize that work, then I'd say we should do it. I'll add this card to the project board backlog.

[2020-09-16 13:50] justinkropp commented on #9406
Thanks @hoosteeno. For the multi-product card, could we replace Send with VPN? Or do you think that'd be the wrong play here?

[2020-09-16 15:31] alexgibson commented on #8860
This should be fixed and is currently deploying to demo.

Not required for the simple button

This is intentional (not a bug) and unrelated to this PR. Happy to discuss in another channel if you're curious why this is.

I saw you emailed adswerve to take a look at this als (thank you!). Let's wait to se if they have any further comments.

[2020-09-16 20:30] #9357 closed

[2020-09-16 22:00] hoosteeno commented on #9407
Here is the dialog that users will see after downloading, when they try to run the installer:

![image (7)](https://user-images.githubusercontent.com/94519/93396709-5585ab00-f835-11ea-86b7-012b0833fca4.png)

If they choose to "Change my app recommendation settings >" they will get a dialog like this:

![image (9)](https://user-images.githubusercontent.com/94519/93396796-78b05a80-f835-11ea-8942-8ae

[2020-09-16 22:09] hoosteeno commented on #9407
We're not the only ones:
* [Zoom](https://support.zoom.us/hc/en-us/articles/115004123963-Installing-Zoom-on-Windows-10-Creators-Update).
* [Brother](https://help.brother-usa.com/app/answers/detail/a_id/149171/~/your-pc-settings-only-let-you-install-verified-apps-from-the-store-when)
* [Taxact](https://www.taxact.com/support/25504/2019/simplified-installation-procedure)

[2020-09-16 22:11] hoosteeno opened #9409 "Win10 downloaders on /thanks: Get a SUMO article to link to"
## Description

This issue is part of the #9407 epic.

We should find or help get a page written on SUMO with detailed install instructions for people on Windows 10, similar to Zoom, Brother and Taxact (see #9407).

---

#### Success Criteria
- [ ] Link to SUMO is below and added to the /thanks experience for Win10 users

[2020-09-16 22:12] hoosteeno opened #9410 "Win10 downloaders: Design and copy for a new /thanks experience"
## Description

This issue is part of the #9407 epic.

We need copy and design for a new /thanks experience for Win10 users.

---

#### Success Criteria
- [x] Copy and designs attached to this issue.

[2020-09-16 22:14] hoosteeno opened #9411 "Win10 downloaders: Code the page"
## Description

This issue is part of the #9407 epic. This issue is for the code it requires. See the epic for design etc.

---

#### Success Criteria
- [ ] New page is coded and merged

[2020-09-16 22:20] kellymj opened #9412 "Update banner on mozilla.org website"
## Description
With Firefox for iOS daylight coming out on 9/22/20, we want to update the Daylight banner to include iOS in copy and imagery.

I'll deliver copy and assets. The button functionality is fine as it supports mobile users on both platforms.

Banner to replace: ![image](https://user-images.githubusercontent.com/16907385/93398211-06894700-f830-11ea-8c0b-d64967d081c9.png)

---

#### Succe

[2020-09-16 23:32] amychurchwell commented on #9410
(x-post from slack)
Install experience for an Edge user on Windows 10:

1. Visitor lands on /firefox/new/
2. Clicks download Firefox
3. Page navigates to /download/thanks/
4. File download begins
5. File download ends
6. Visitor double clicks .exe to open installer
7. Verified app message / warning is displayed

[2020-09-16 23:33] amychurchwell commented on #9410
Considering that the pop-up occurs when a user clicks .exe, perhaps we could explore a instructional pop-up of our own after clicking download. Similar to how some software prompts users to allow permissions before the OS asks.

[2020-09-17 06:00] alexgibson commented on #9410
One thing that may be worth some careful consideration  here, is that we have no real idea who on Win10 has the recommended app setting enabled. Say for example, if 20% of Win 10 users have it enabled, then we want to avoid showing a distracting and potentially confusing message to the other 80%. Unless we have data that demonstrates a high proportion of users have the setting enabled, striking a

[2020-09-17 15:23] amychurchwell commented on #9406
@justinkropp that makes sense to me. I am going to start stubbing this out today, I'll be sure to run it past you for design review before shipping.

[2020-09-17 15:24] justinkropp commented on #9406
Thanks @amychurchwell 👍

[2020-09-17 15:54] amychurchwell commented on #9406
@maxxcrawford How do you feel about picking this up? Will require a demo for design review. :)

[2020-09-17 16:12] amychurchwell commented on #9412
Blocked until we have copy and assets.

[2020-09-17 16:15] slightlyoffbeat commented on #9410
Bringing a slack conversation with @justinkropp here:

me: What you think is the best approach here:
Lay most of the steps (including screenshots) out on the /thanks page (and include link to SUMO for more details)
raise the issue on the /thanks page but send users to SUMO page for steps/walkthrough/screenshots

@justinkropp : I’m leaning towards your second approach. That feels like the least dis

[2020-09-17 16:18] justinkropp commented on #9407
From Dan Brown:

[2020-09-17 16:18] justinkropp commented on #9407
I’m leaning towards your the approach. That feels like the least disruptive/overwhelming for the user; but I could see some value in giving a bit more instruction on the /thanks page before presenting the user with a link for SUMO

[2020-09-17 16:28] slightlyoffbeat commented on #9410
My understanding is that the recommended app setting is on by default for Windows 10. Can anyone confirm? If this is the case, we should assume that the majority of users have it enabled.

With that said, we can test down the road to learn about what helps increase (and certainly not decrease) install rate. I think we can have just a few visual elements and a good balance of copy and push the rest

[2020-09-17 16:42] hoosteeno commented on #9410
Here's a [McDonald's Idea](https://medium.com/@jonbell/mcdonalds-theory-9216e1c9da7d):

<img width="1107" alt="Screen Shot 2020-09-17 at 10 37 36 AM" src="https://user-images.githubusercontent.com/94519/93501284-76e8a480-f8d2-11ea-9af8-0f535ffb9513.png">

[2020-09-17 16:58] vtay29 commented on #9407
I would like to see the difference between what would show up on /thanks vs SUMO. Ideally, I would rather not send them out to SUMO coz we might lose them in the process. If we can have a summarized set on instructions, that would be the ideal.

[2020-09-17 17:01] hoosteeno commented on #9407
SUMO can contain great detail about how to change the global setting to avoid these dialogs permanently. It can talk about the anticompetitive context. And it will reach people searching for this issue -- many will do so, but the /thanks page is not indexed. So SUMO must have this content, and we can help people who are seriously confused by sending them there.

The [design/copy issue](https://git

[2020-09-17 17:02] alexgibson commented on #9410
I believe it depends on the version of Win 10 you're using. I think home edition and "s mode" might be the key here. It doesn't happen on my Win 10 pro mahcine.

[2020-09-17 17:21] craigcook commented on #9410
If we can only consistently detect Win10 but not specific versions or modes thereof we should probably just show it to all Win10 users and cover our bases with enough "if"s and "mights"s in the copy.

[2020-09-17 17:24] justinkropp commented on #9410
@slightlyoffbeat and I spoke about this just now and have an idea for a path forward.

I think a copy treatment would be the least obtrusive. I am going to work on a light-touch design treatment for a box and block of copy (similar to what @hoosteeno proposed above). It'll be designed to draw the users's attention to it.

I'd like to show this message to **all** WIN10 users.

One question: Can we

[2020-09-17 17:34] alexgibson commented on #9410
Not quite sure I understand why we’d want to do that? The users in question here do get a download (which the notification is there to support), but they may/may not get the MS message after trying to open the download.

[2020-09-17 17:39] slightlyoffbeat commented on #9410
There are a lot of things asking for the users attention, including a large green box at the top of the page. That could be a problem if we need to present users with another piece of information that may be necessary to complete installation.

I think the question here is if more Win10 users will be affected by not being able to install because of these default settings vs a failed download. I do

[2020-09-17 17:43] justinkropp commented on #9410
Here are a couple quick options that we could explore as a solution. Again, pretty minimal design lift, but just enough to hopefully get the users attention (and read):

![thanks WIN10@2x-1](https://user-images.githubusercontent.com/1461798/93507461-bc659b80-f8eb-11ea-8f64-7c6dc4423364.jpg)

----

![thanks WIN10@2x](https://user-images.githubusercontent.com/1461798/93507467-bf608c00-f8eb-11ea-8fa2

[2020-09-17 17:52] alexgibson commented on #9410
If the problem is the bar is too big and too green, then we should preserve the link somewhere else or present it differently. It’s the last lifeline to getting a download should something go wrong, so arguably one of the most important things on the page imho.

[2020-09-17 17:55] slightlyoffbeat commented on #9410
@justinkropp Looks good. My vote is for the second one, but perhaps then we can get rid of the "WIN10 Users:" part. I'm going through the process right now on my virtual machine, so I can help with copy adjustments in a bit.

[2020-09-17 17:57] justinkropp commented on #9410
👍

[2020-09-17 18:25] hoosteeno opened #9414 "Leadership Page Changes"
## Description

**For Leslie Gray**
Title changes to:
Head of Diversity & Inclusion and Chief of Staff, Office of the CEO

First paragraph changes to:
Leslie is Head of Diversity and Inclusion and Chief of Staff to the CEO of Mozilla Corporation. As Head of Diversity and Inclusion, Leslie is responsible for Mozilla’s global inclusion strategy and programs across our own culture, as shown in our pr

[2020-09-17 18:41] maxxcrawford commented on #9414
@hoosteeno For Dave's bio, the second paragraph is:

Should this include his now previous role as _SVP, Firefox_

[2020-09-17 18:45] hoosteeno commented on #9414
@maxxcrawford

No.

[2020-09-17 19:52] #9414 closed

[2020-09-17 20:48] justinkropp commented on #9286
Below are a few screens that illustrate the design work I've been doing on a unified global nav. Some things to keep in mind when viewing:

1. This is an initial proposal
2. I haven't started adding specs yet, as I'd like to get agreement first; but the sizing is largely based on the work JRouse and I were doing on this system before (H2, 2019)
3. I haven't included how the nav works on smaller vi

[2020-09-17 21:32] slightlyoffbeat commented on #9409
I started on a doc that has a first pass at an article, along with fresh screenshots.

@justinkropp this could use some very slight edits to the photos to highlight actions. Take a look at the doc and let me know what you think:

https://docs.google.com/document/d/1x_oAWAf6SifJzdX5dHIm1x9CkpCcD5dmdPtizbP38NM/edit?usp=sharing

[2020-09-17 22:23] hoosteeno commented on #9410
Let's go with the 2nd one. Agree we can drop the "Win10 Users" from the copy, if we keep it in the icon. Looks great! Thanks.

[2020-09-17 23:55] slightlyoffbeat commented on #9409
@hoosteeno for your review: https://docs.google.com/document/d/1x_oAWAf6SifJzdX5dHIm1x9CkpCcD5dmdPtizbP38NM/edit?usp=sharing

[2020-09-18 09:33] #9365 closed

[2020-09-18 12:04] alexgibson commented on #9369
Gonna see if I can knock this out

[2020-09-18 12:55] justinkropp commented on #9409
@slightlyoffbeat Can you send me the screenshots? I'll update the images accordingly and can either add here or send directly.

[2020-09-18 14:11] hoosteeno commented on #8860
Adswerve ran a round of QA and determined that the demo site is working as expected from a measurement perspective. :shipit:

<img width="1204" alt="Screen Shot 2020-09-18 at 8 10 10 AM" src="https://user-images.githubusercontent.com/94519/93607366-77427780-f986-11ea-886b-6ab860dcf4d8.png">

[2020-09-18 14:43] #9341 closed

[2020-09-18 15:25] hoosteeno commented on #9410
We need to anticipate some users will not have "Install anyway". Suggested modification:

----

~Win10 Users:~ If you see a prompt stating the app you're trying to install isn't a Microsoft-verified app, click "**Install anyway**" or [change system settings](#).

[Visit Support for More Details](#)

----

The inline link would be the same link as the SUMO link below.

@justinkropp can you make thi

[2020-09-18 15:40] justinkropp commented on #9410
@hoosteeno Here's the an updated visual spec to reflect the above:

![thanks WIN10 FINAL@2x](https://user-images.githubusercontent.com/1461798/93617103-897ede80-f9a3-11ea-863e-7aae1d850de7.jpg)

[2020-09-18 15:42] hoosteeno commented on #9411
Final designs for the page are here: https://github.com/mozilla/bedrock/issues/9410#issuecomment-694940633

[2020-09-18 15:53] hoosteeno opened #9418 "Build Protocol presentation; share with product design & Studio teams"
Let's build a presentation that will help other teams understand what Protocol is, why it's valuable, how they can use it.

---
Success:

- [ ] Presentation linked here

[2020-09-18 15:58] alexgibson opened #9419 "Improve performance on the home page"
## Description

The home page is currently getting a score of 55-60% in [Lighthouse](https://www.webpagetest.org/lighthouse.php?test=200917_7M_394578c068377acffcf8220e65965edd), which isn't great. Part of this is due to the way lighthouse scores have recently changed to focus on some new criteria.

There are likely several relatively small things we could do to try and improve the score:

- Improv

[2020-09-18 16:25] slightlyoffbeat commented on #9409
@hoosteeno screens to use: https://drive.google.com/drive/folders/1xWUbmJjzqSr9CPtQqK_6h4kglVKXzQeE?usp=sharing

[2020-09-18 16:59] hoosteeno commented on #9411
Please hold on coding, I just realized we need a quick legal review.

[2020-09-18 17:00] hoosteeno commented on #9410
I'm going to run past legal for final review.

[2020-09-18 18:08] slightlyoffbeat commented on #9409
@hoosteeno has submitted copy to legal for review

I also submitted the SUMO article for review by the SUMO team.

[2020-09-18 22:29] designerham commented on #9412
![fx_hero_daylight-ios_phones](https://user-images.githubusercontent.com/16651498/93650555-ae834980-f9c3-11ea-9f6d-a39df61fc6c9.png)

[2020-09-21 04:29] maxxcrawford commented on #9406
Consider this assigned! I'm all about a design review. 😎

[2020-09-21 07:03] alexgibson opened #9424 "French content for Sept landing page"
## Description

Same as https://github.com/mozilla/bedrock/issues/9361 but for French. Fucntionally will be similar to the German page, but with some locale specific messaging.

---

#### Success Criteria
- [ ] French landing page is approved and in production.

[2020-09-21 07:05] alexgibson opened #9425 "Respect prefers-reduced-motion on Sept landing pages"
## Description

Considering this a nice-to-have.

https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
https://bradfrost.com/blog/post/reducing-motion-with-the-picture-element/

---

#### Success Criteria
- [ ] Landing pages show static images instead of gifs if prefers-reduced-motion is set.

[2020-09-21 07:57] #9350 closed

[2020-09-21 09:54] alexgibson opened #9426 "Exclude GA from /privacy/thunderbird/"
## Description

https://www.mozilla.org/en-US/privacy/thunderbird/

It looks like this page is being opened in-product by Thunderbird, which creates a lot of noise in GA, and also decreases overall conversion rate for the site as a whole. We already exclude GA from /privacy/firefox/, so perhaps we should consider the same here as well?

---

#### Success Criteria
- [ ] GA is excluded from /privacy

[2020-09-21 09:54] alexgibson commented on #9426
Thoughts @hoosteeno @rraue ?

[2020-09-21 14:05] alexgibson commented on #9407
Open question: are we planning to measure the effectiveness of this messaging? Do we need to be confident that we're a) improving the install rate for those who do need to change the setting, and b) not hurting the install rate for those who don't need it by showing irrelevant messaging? Or is this change considered small and non-distracting enough that we're confident in rolling it out as is?

I

[2020-09-21 14:25] #9335 closed

[2020-09-21 14:56] hoosteeno commented on #9426
Yes, this is a good idea. Not a major priority, but worthwhile.

[2020-09-21 15:00] hoosteeno commented on #9411
Legal review is complete, we can code this.

[2020-09-21 15:11] #9260 closed

[2020-09-21 15:15] hoosteeno commented on #8860
@stephaniehobson @alexgibson  Let's merge either on 9/21 or 10/5. When this lands in prod, we need to notify @rraue @hoosteeno to do spot checks before/after.

[2020-09-21 15:18] hoosteeno commented on #9411
The link to SUMO is forthcoming.

[2020-09-21 15:19] #9418 closed

[2020-09-21 15:24] hoosteeno commented on #9218
Let's stub out an 82 template and apply this there.

[2020-09-21 15:26] hoosteeno commented on #9337
@justinkropp can you update on the status of this?

[2020-09-21 15:31] hoosteeno commented on #8938
Needs some UX work before it's ready for code -- @justinkropp this is one to pick up when you have bandwidth.

[2020-09-21 15:38] hoosteeno commented on #9412
@kellymj Is copy underway?

Seems like, as a sane fallback, we could just remove "for Android" from the existing string.

[2020-09-21 15:43] stephaniehobson commented on #9391
Fixed by #9392

[2020-09-21 15:43] #9391 closed

[2020-09-21 15:57] hoosteeno commented on #9411
https://support.mozilla.org//kb/windows-10-warns-me-use-microsoft-verified-app

[2020-09-21 16:09] hoosteeno commented on #9378
Change doc here: https://docs.google.com/document/d/1Wc-DqtF2tDgPeYliYTDKITIeXiThRZ8k6373oxjwJsY/edit

Compare table changes: https://docs.google.com/spreadsheets/d/1dyxx-M27jpit4RKStXxR54kkBN1sa9Tbca2a8MionKc/edit#gid=1512926430

[2020-09-21 16:48] skrelnick23 commented on #9378
Give me 1 more day with the documents above. Need fresh Monday brain for additional review and my afternoon cleared up!

[2020-09-21 16:53] kellymj commented on #9412
I will post it here later today.

[2020-09-21 20:09] kellymj commented on #9412
New headline copy:
Meet Firefox Daylight — the latest for Android and iOS

We want to drop the copy between the headline and the button, so it runs with just the headline, button and phone graphic. Thanks!

[2020-09-21 20:12] slightlyoffbeat commented on #9409
@hoosteeno @craigcook SUMO article has been approved and is live:

https://support.mozilla.org/en-US/kb/windows-10-warns-me-use-microsoft-verified-app

[2020-09-21 21:46] kellymj commented on #9412
Hold on changes please. More info coming in. @amychurchwell @hoosteeno

[2020-09-21 23:32] skrelnick23 commented on #9378
We are good to go. Thank you

[2020-09-22 00:37] #8860 closed

[2020-09-22 13:11] alexgibson commented on #8006
@hoosteeno is there still appetite to try and address this issue?

The messaging on /thanks work is now in place, and we could incorporate a similar design treatment as the Window 10 warning perhaps.

[2020-09-22 13:45] alexgibson opened #9431 "Remove Firefox Send from /de/ home page"
## Description

https://www.mozilla.org/de/

![image](https://user-images.githubusercontent.com/400117/93890426-3cbc4000-fce2-11ea-8721-e9bfcf5bbee2.png)

Replacement card incoming

---

#### Success Criteria
- [ ] Firefox Send is removed from the page

[2020-09-22 14:13] #9426 closed

[2020-09-22 17:09] gueroJeff commented on #9384
Are there other elements to the community/vendor localization conversation that need to be revisited? To my knowledge, the main question is finalizing the list of languages that Marketing needs vendors involved in. The list of available languages and the policy we created around community/vendor/staff localization is here: https://mana.mozilla.org/wiki/display/FIREFOX/Sourcing+translation+for+mozo

[2020-09-22 17:29] slightlyoffbeat opened #9434 "Launch CRO experiment for native Android banners on /mobile"
This experiment is already built and has gone through QA in convert. The iOS experiment had a good amount of success, and mobile team is interested in seeing the results of the iOS test.

Steps:
- QA again (its been a while)
- Check that convert is still turned on for mozilla.org
- drive traffic for experiment

[2020-09-22 18:26] #9411 closed

[2020-09-22 20:00] #9425 closed

[2020-09-22 20:21] hoosteeno commented on #9286
I have reviewed this and it looks like *excellent* work. Thank you, @justinkropp .

@craigcook can you give this a review and call out any gaps/questions/improvements?

[2020-09-23 07:21] soulhunter10737 commented on #9327
How it should look like?

[2020-09-23 12:09] alexgibson commented on #9361
There are a few minor tweaks being requested, so re-opening this until those pieces are in place.

[2020-09-23 12:23] alexgibson opened #9437 "JS error on /de/firefox/facebookcontainer/ page"
URL: https://www.mozilla.org/de/firefox/facebookcontainer/

[code]

[2020-09-23 13:41] justinkropp commented on #9337
I am working with product to get the most recent Android Browser Chrome to use in these updated images. ETA for completion of this work is end of week (Sep 25, 2020).

[2020-09-23 13:51] #7166 closed

[2020-09-23 15:43] hoosteeno commented on #9148
Let's remove this page and redirect to /new for all locales. Thanks!

[2020-09-23 18:22] #9437 closed

[2020-09-23 20:21] justinkropp commented on #8938
I've though about both approaches as outline above, and I'm more in alignment with Alex's suggestion that we keep Android in the product menu, add in iOS, and point the download button to the appropriate location.

As an alternative addition, could we also include the App Store and Google Play buttons on the page (but separate from the product menu) where appropriate?

[2020-09-23 20:28] hoosteeno commented on #8938
I think we will have to rework the page a bit anyway to accommodate these new products:

![Screen Shot 2020-09-23 at 2 24 45 PM](https://user-images.githubusercontent.com/94519/94065577-95eea700-fda8-11ea-9d7d-5d5e293599c8.png)

For example, after this change, iOS and Android will not be downloads, and they will not have architecture-specific options, so the confirmation area will need to behave d

[2020-09-23 21:05] pmac commented on #7640
We no longer fetch newsletter data during docker builds and instead pull it into the DB from basket and everything is working fine. Closing.

[2020-09-23 21:05] #7640 closed

[2020-09-23 21:07] pmac commented on #5990
This was done in #9086

[2020-09-23 21:07] #5990 closed

[2020-09-23 21:09] pmac commented on #4681
Things have changed a lot since I filed this. I'm guessing a lot will change about our CI and deployment in the coming months. Closing this for now.

[2020-09-23 21:09] #4681 closed

[2020-09-24 13:48] justinkropp commented on #8938
💯 on board with this approach. I was unsure if we could switch out the buttons on the fly as a result of the user's selection, but if we can this will help keep this experience as simple as it can be.

[2020-09-24 14:12] rraue opened #9442 "Build a downloads monitoring program"
Recently on www our download conversion rate dropped by 15% and we didn't noticed. Downloads have been stable as it was just noisy traffic to /privacy/thunderbird/ causing this. Nonetheless, we need a stable monitoring/alarm system that cuts through the noise, giving us a clear picture of how the website www is performing and alarm us if there is any problem.

[2020-09-24 14:19] rraue commented on #9442
I am looking into some solutions how we could monitor. In general I think to reduce noise we should focus on the following KPIs:
____________________

Filters:
- non-fx (Exclude Browser = Firefox|Mozilla)
- Exclude direct traffic from /whatsnew/, /firstrun/, /moments/ & /privacy/* (not exclude /firefox/privacy/)
- Exclude all paid traffic

____________________

Display:

- Yesterday vs average sam

[2020-09-24 15:14] craigcook commented on #9412
@kellymj Any updates?

[2020-09-24 15:49] pmac opened #9443 "Evaluate AWS Device Farm for selenium testing"
Get a successful test run using AWS Device Farm of our selenium test suite.

---

#### Success Criteria
- [ ] A successful test run of our selenium tests in multiple browsers using AWS Device Farm

[2020-09-24 15:51] designerham commented on #9412
![image](https://user-images.githubusercontent.com/16651498/94168995-1530b900-fe43-11ea-8e68-8c32980fa1be.png)

[2020-09-24 15:52] designerham commented on #9412
@craigcook RE: New Firefox for Android and iOS banner

[2020-09-24 16:03] alexgibson opened #9444 "Optimize functional test suite"
## Description

- Use of markers vs skip tests (reduce redundancy in number of parallel tests)
- Identify redundant / duplicate tests that have overlapping coverage.
- Identify long running tests and highlight ways to make them faster.

---

#### Success Criteria
- [x] An estimate in savings for both number of parallel tests and time spent
- [ ] Optimize test suite for speed

[2020-09-24 16:30] kellymj commented on #9412
Once updated, this smaller banner can go live with iOS v29, which is scheduled for Oct. 8. I will verify that the release is a solid go when we are closer to that date.

[2020-09-24 17:21] kellymj commented on #9412
This is not final copy. I like the thinking about getting the strings out for l10n.

[2020-09-24 18:01] justinkropp commented on #9337
I've updated both the browser chrome and the page design of the shown website. One other change I made was to how the devices are cut off at the bottom; rather than using a hard edge to cut off the bottom of the image, I'm using a gradient to soften that transition.

----

<img width="1444" alt="Screen Shot 2020-09-24 at 1 58 23 PM" src="https://user-images.githubusercontent.com/1461798/94182046-5

[2020-09-24 18:04] justinkropp commented on #9337
If we're able to change out the above device image asset, I'd like to also update the browser image above so that they both have the same gradient treatment to crop the image.

----

<img width="1444" alt="Screen Shot 2020-09-24 at 2 01 59 PM" src="https://user-images.githubusercontent.com/1461798/94182317-cf89e580-fe6e-11ea-9b77-02727e68326b.png">

[2020-09-24 18:13] justinkropp opened #9445 "Update H* Headers on VPN to use Zilla Slab instead of the Metropolis font-family."
## Description

https://vpn.mozilla.org/ is currently using Metropolis for its headers. Given that VPN is now a Mozilla product, the page should use **Zilla Slab** for all headers on the page. Zilla Slab is the `font-family` used by Mozilla. Metropolis is the font-family used by Firefox.

---

#### Success Criteria
- [ ] Update all headers on the VPN landing page to use Zilla Slab
- [ ] Design app

[2020-09-24 18:32] alexgibson commented on #9445
@justinkropp might this be an issue better suited for the VPN website repo?

[2020-09-24 18:42] justinkropp commented on #9445
@alexgibson Ah, I thought the vpn website was on bedrock. I searched for the vpn repo and results didn't return anything. Where does that repo live?

[2020-09-24 18:46] pmac commented on #9445
I believe it's this one https://github.com/mozilla-services/guardian-website

[2020-09-24 18:52] justinkropp commented on #9445
Doesn't look like that repo exists. I found this one, https://github.com/mozilla-services/guardian-vpn-windows, but that doesn't feel right...

[2020-09-24 18:53] craigcook commented on #9445
I think it's private.

[2020-09-24 18:54] pmac commented on #9445
oh. so it is :( We can ask the team where to put issues.

[2020-09-24 19:57] justinkropp commented on #9286
Below is the high-fidelity design work for the footer (desktop only right now). This reflects the proposed approach to the footer [above](https://github.com/mozilla/bedrock/issues/9286#issuecomment-689794047). Given that the proposal for this footer is that it will be global and live across all our web surfaces, it should be easily adaptable -- color-wise -- to fit in aesthetically with the surfac

[2020-09-24 20:09] meg-trowbridge commented on #9412
Here is the latest approved copy: "The NEW Firefox for Android and iOS is here"

[2020-09-24 20:40] justinkropp commented on #9445
@pmac We got it sorted out 👍

[2020-09-24 21:22] #9407 closed

[2020-09-25 00:59] evan0greenup opened #9447 "FTP apk download link not update"
### Describe the bug

The FTP download link for Firefox Mobile (Android) apk file is not updated, the download apk file is still for 68.x not for latest Fenix version.

The problem is appeared in both [https://www.mozilla.org/en-US/firefox/all/#product-android-release](https://www.mozilla.org/en-US/firefox/all/#product-android-release) and [https://wiki.mozilla.org/Mobile/Platforms/Android](https:

[2020-09-25 11:14] alexgibson commented on #9444
https://gitlab.com/mozmeao/www-config/-/jobs/756540021

| Job | Tests | Passes | Skiped | Time |
| -------------- | :--------- | ----------: | :----------: | :------------: |
| Chrome | 201 | 157 | 44 | 14m 42s |
| IE | 201 | 152 | 49 | 20m 44s |
| Firefox | 201 | 175 | 26 | 21m 58s |

Looking in SauceLabe, 1 skipped test takes between 10-15 seconds (avg ~13) seconds to run. Therefore a rough esti

[2020-09-25 11:30] alexgibson commented on #9444
Our longest running tests take around 30-35 seconds to run, and are typically tests that check newsletter signups fail when all the form elements are not filled in correctly: https://app.saucelabs.com/tests/16de736949ec444eb21dc11bda4fb674#39

Here the test sits and does nothing for ~15 seconds after clicking submit. The expected outcome is a timeout. Changing the way these tests assert a submissi

[2020-09-25 11:45] alexgibson commented on #9444
We currently have have [12 tests for the /contact/ pages](https://github.com/mozilla/bedrock/blob/master/tests/functional/test_contact.py). These we're probably useful when the page was very JS driven and fancy, but today it's static and changes very infrequently.

I think it would be fine to cut out the parameterized tests here: https://github.com/mozilla/bedrock/blob/master/tests/functional/test

[2020-09-25 11:50] alexgibson commented on #9444
We also have several more parameterized tests for newsletters here:https://github.com/mozilla/bedrock/blob/master/tests/functional/newsletter/test_newsletter_embed.py

I think it's good to have these tests run on at least a few different pages, but we can probably cut some down and concentrate on only key (high traffic or product driven) pages.

[2020-09-25 13:04] rraue commented on #9286
One thing about the footer: as we move back to one nav/footer, shouldnt be mozilla and firefox social accounts in the footer @justinkropp ?

[2020-09-25 14:51] justinkropp commented on #9286
@rraue Ah, yes! Good catch. I've updated the above footer design to include a column that would point to both our Mozilla and Firefox social media account links.

----

![Moz Footer - Light](https://user-images.githubusercontent.com/1461798/94281803-159d8280-ff1d-11ea-929b-5489b394fadf.png)

[2020-09-25 15:48] maxxcrawford opened #9448 "H1 2020 Transparency Report Updates"
URL: https://www.mozilla.org/en-US/about/policy/transparency/jan-jun-2020/

Replace all instances of "TK" with `0`.

[2020-09-25 15:58] #9445 closed

[2020-09-25 16:00] alexgibson commented on #9431
Fixed https://www.mozilla.org/de/

[2020-09-25 16:00] #9431 closed

[2020-09-25 16:11] #9448 closed

[2020-09-25 16:34] alexgibson commented on #9444
Given the above, I think we can reduce the total number of tests per run, enabling jobs to finish considerably, and without losing any significant coverage. This should help us to lower the max number of parallel tests we need to run, as well as reduce total testing time.

[2020-09-25 16:49] #9347 closed

[2020-09-25 21:52] #9378 closed

[2020-09-26 05:59] peiying2 opened #9451 "Compare page for Chrome: placeable code is shown"
## Description

In l10n/en/firefox/browsers/compare/chrome.ftl, string https://pontoon.mozilla.org/hi-IN/mozillaorg/en/firefox/browsers/compare/chrome.ftl/?search=fast+forward&string=215313, note `At { -brand-name-Firefox }, we’ve been heads down,...`, the placeable contains capital F in Firefox. The code is shown: https://www-dev.allizom.org/en-US/firefox/browsers/compare/chrome/ on the page.

##

[2020-09-26 05:59] peiying2 commented on #9451
@craigcook. Let's get this fixed ASAP.

[2020-09-26 09:46] soulhunter10737 commented on #9331
Where it is located? I would like to take this

[2020-09-27 19:58] sumagnadas commented on #9170
Can this be a good issue for first time contributor? If yes, then i would like to try fixing it.

Thanks.

[2020-09-28 09:30] #9451 closed

[2020-09-28 09:47] ishantd commented on #9419
Hey @alexgibson , I'd like to start working on this issue, since it'll be one of my very first open-source contributions, I may need some guidance.

[2020-09-28 10:36] glogiotatidis opened #9453 "Implement local Selenium Grid for testing"
Success Criteria
 - [x] A successful test run of our selenium tests in multiple browsers on local Selenium Grid
 - [x] Easy access to failed test logs
 - [x] Recordings for tests - Opted for having the ability to easily run tests on Saucelabs to get video recordings. For screenshots are available through Gitlab's UI as artifacts.

[2020-09-28 14:57] alexgibson commented on #9146
It looks like the safebrowser page has never been translated, and the adblocker page was completed in https://github.com/mozilla/bedrock/pull/9439

[2020-09-28 14:57] #9146 closed

[2020-09-28 16:29] #8444 closed

[2020-09-28 17:51] alexgibson opened #9455 "JS Error on Nightly /whatsnew page"
## Description

https://www.mozilla.org/en-US/firefox/70.0a1/whatsnew/all/

https://sentry.prod.mozaws.net/operations/bedrock-dev/issues/9673985/?referrer=alert_email

[2020-09-28 18:45] justinkropp commented on #8938
I took a quick stab at cleaning up this ux a bit (based on the above thread).

**Changes**:

I thought that the content that provides a summary of what you're about to download could feel a bit more like it was a part of the drop-down menus above.

- "You are about to download:" down become a label.
- added visual space between the details show below this label (platform > Firefox)
- added 1px bor

[2020-09-28 20:14] justinkropp commented on #9286
@craigcook Did you have any initial thoughts or questions regarding the above navigation and footer design work?

[2020-09-28 21:40] hoosteeno opened #9457 "Build repo for data models/share repo for data models with product team"

[2020-09-28 21:41] hoosteeno commented on #9457
https://github.com/mozilla/contentful-prototypes

@mostlygeek made it. Thanks!

[2020-09-28 21:41] #9457 closed

[2020-09-28 21:46] hoosteeno opened #9458 "Fetch contentful data and store in bedrock db."
* Grab cards from Contentful API (sync API?)
* Get images specified (image API)
* Run any required post-processing (optimizing?)
* Store images in S3
* Store card data in bedrock db

[2020-09-28 21:53] hoosteeno opened #9459 "Test a hybrid localization scenario; document"
* Imagine a DE homepage and an EN homepage, with completely different cards and layouts
* Imagine they share the top CTA, and it is localized

[2020-09-28 21:56] hoosteeno commented on #9459
Questions from our doc:

How does Contentful's built in localization integrate with our workflows?
How do we localize content cards or other things that only appear in 1 locale?
How do we localize things that span locales (e.g. a homepage banner)?
How do we mix cross-locale and single-locale content on a page?
If we use Contentful’s built-in localization, what are our options in case a locale has

[2020-09-29 10:54] alexgibson commented on #9424
Copy deck (Mozilla only) https://docs.google.com/document/d/1hOTXbLboxRResRGU4CW_nskoQqEobRptRTiCKA_jPaE/edit?usp=sharing

[2020-09-29 14:12] alexgibson commented on #9455
Also effects: https://www.mozilla.org/en-US/firefox/whatsnew/all/

[2020-09-29 15:10] alexgibson opened #9465 "Functional tests for sept landing pages (en/de)"
## Description

We should have some test coverage on at least the main calls to action / conditional states.

[2020-09-29 15:10] hoosteeno opened #9466 "Code singular navigation"
Let's code up the singular navigation that was designed in https://github.com/mozilla/bedrock/issues/9286.

---
#### Success
- [x] Code is launched on demo and approved by UX
- [ ] Nav is approved by marketing leads
- [ ] Merged, pushed, in l10n

[2020-09-29 15:11] hoosteeno commented on #9218
This needs review. We've stubbed out a WNP 82 page with this code on it.

[2020-09-29 15:15] hoosteeno commented on #9337
@justinkropp we need the raw asset in the above comment. Can you attach?

I'm moving this back to ready state so a dev can pick it up.

[2020-09-29 18:00] hoosteeno opened #9467 "Figure out how to schedule content"
* test content scheduling in contentful admin
* build any admin or engineering cards that result
* talk through engineering with pmac

[2020-09-29 18:02] hoosteeno opened #9468 "Enable rapid demo of pre-publication content"
When an editor clicks the "preview" button in Contentful, they see a preview of the draft content they were just looking at, in the right place in a live version of the website

* build this capability

[2020-09-29 18:03] hoosteeno opened #9469 "Integrate contentful data with bedrock UI"
Once content and images are fetched from contentful, they will be stored in Bedrock's DB (or in S3 for the images). We then need to render them at request time. This card is about making sure that rendering step works (for our "prod" instance, not for the content preview instance)

[2020-09-29 18:04] hoosteeno opened #9470 "Research: Document how to deploy content model changes"
Answer these:

* How would we make a content model change in Contentful? Can/should we do it in github?
* How would we get that content model change into Bedrock's db? What does that require or imply about Bedrock's content model?

This requires admin/engineer collaboration.

[2020-09-29 18:06] hoosteeno opened #9471 "Build content model for homepage"
* cards
* sections
* reusable chunks of cards (e.g. links or images)
* locales?

Principle: Optimize editor experience.

[2020-09-29 18:06] hoosteeno opened #9472 "Create Home For Contenful Documentation"

[2020-09-29 18:11] hoosteeno opened #9473 "Build system design"
Create high-level system design answering critical questions about l10n strategy, image strategy, data flow strategy: https://docs.google.com/document/d/1spwdROgRTQbmYC5QcSFkvISYM2xLwDWS832XqWQLXvY/edit#

This document will never be "done" but it should be done enough by the end of the week that we know what the most important tasks/questions are for our building sprint.

[2020-09-29 18:20] amychurchwell commented on #9403
Smartling has passed security review. Moving forward the l10n team is going to leverage the existing Smartling Chrome extension, so there is currently no bedrock dev tasks for us.

[2020-09-29 18:20] #9403 closed

[2020-09-29 18:25] hoosteeno opened #9474 "Review event architecture proposal from Adswerve"
## Description

We need to review [the new event architecture](https://docs.google.com/spreadsheets/d/1_u62OJvMKmnp8zEwfWPNWvB1qHs5-yHy6j_o7DEncK0/edit#gid=1839564644) and verify it's what we want to implement on www.mozilla.org.

---

#### Success Criteria
- [ ] We have reviewed and either approved or commented in detail about what needs to change

[2020-09-29 18:43] slightlyoffbeat commented on #9470
Contentful provides an import and export tool. I recommend we at least use the export tool on a regular basis to back up everything into git:

https://github.com/contentful/contentful-export/

https://github.com/contentful/contentful-import/

Also:

Environments (understanding them, and how we use them) may also be relevant to this discussion. They should be a part of the workflow that is used whe

[2020-09-29 22:34] #9455 closed

[2020-09-29 22:35] slightlyoffbeat commented on #9459
My research:

Assuming english is set as the default language, you cannot have a piece of content that only has German. It must also have english.

you can set whether to ignore required fields by language. Contentful suggests you do this for any language other than the default language, otherwise you MUST have all languages any time there is a required field.
you can get around this by disabling

[2020-09-29 22:41] slightlyoffbeat commented on #9459
My early recommendations using the question format from above:

**How does Contentful's built in localization integrate with our workflows?**
I can't answer that one.

**How do we localize content cards or other things that only appear in 1 locale?**
We put it all in the default language field. Cards are considered a special use case since which cards show up differ from language to language.

**H

[2020-09-29 22:43] #9148 closed

[2020-09-29 22:47] slightlyoffbeat commented on #9471
Content model has been updated.

Changes include:

- It is now much simpler. One content type: card. This is the type used for all cards of all sizes.
- All cards must include an image that is, at minimum, 1200 pixels wide and 800 pixels high.
- removed the inline cta option. I was told it is never used.
- there is an image override option for 1:1, 3:2, and 16:9 for small cards.

Notes from me:
-

[2020-09-29 22:48] slightlyoffbeat commented on #9471
![image](https://user-images.githubusercontent.com/2030656/94624405-3f331280-026b-11eb-8729-f8c3e4411e65.png)

[2020-09-29 22:51] slightlyoffbeat commented on #9467
https://www.contentful.com/developers/docs/tutorials/general/scheduled-publishing/

[2020-09-29 22:59] slightlyoffbeat commented on #9467
https://www.contentful.com/blog/2020/06/02/tasks-and-comments-supercharge-your-content-approval-workflow/

Somewhat related to the discussion. If we use the built in scheduling feature (which will have something be "published" or possibly "unpublished" at a specific schedule, then the problem shifts a bit:

- we assume that published content is approved, QA'ed, and ready to go live. We can trust t

[2020-09-30 05:42] ishantd commented on #9331
Greetings @rraue , I have added alt text for all the images on the /new page and created a pull request, please review. #9477

[2020-09-30 08:15] alexgibson opened #9478 "JS error on /about/leadership/ in IE11"
## Description

[code]

https://sentry.prod.mozaws.net/operations/bedrock-dev/issues/9686316/?query=is%3Aunresolved

### Steps to reproduce

1.) In IE11 visit https://www.mozilla.org/en-US/about/leadership/
2.) Click on a bio to open a modal
3.) Close the modal by clicking (x)

### Expected result

Modal content should be removed from the DOM on close.

### Actual result

The content is not remove

[2020-09-30 12:37] rraue commented on #9474
On it, I have a question about the concept for Tamara. I asked in the sheet and as soon as I got this I think I can review it fully.

[2020-09-30 14:48] justinkropp commented on #9337
Attached are the two updates images, as referenced above:
----
<img width="516" alt="Ad Blocker" src="https://user-images.githubusercontent.com/1461798/94701196-5b39c100-030a-11eb-8371-d97266d6aaea.png">
----
<img width="516" alt="Fenix Devices" src="https://user-images.githubusercontent.com/1461798/94701219-61c83880-030a-11eb-9dac-c52746532b91.png">

[2020-09-30 15:53] hoosteeno opened #9480 "Epic: Use Contentful for homepage cards"
* Pitch
* Define
* Implement
* Measure

[2020-09-30 16:21] #9412 closed

[2020-09-30 16:35] craigcook commented on #9478
D'oh, `childNode.remove()` isn't supported in IE, but there is a polyfill, or else we can change to the older `parentNode.removeChild()`

https://developer.mozilla.org/docs/Web/API/ChildNode/remove

[2020-09-30 16:44] craigcook opened #9481 "Update disclaimer on browser comparison pages"
## Description

By request from Tyler:

`The comparisons made here were done so across browser release versions as follows:`

should be updated to:

`The comparisons made here were done so with default settings and across browser release versions as follows:`

[2020-09-30 17:27] hoosteeno commented on #9459
pmac agrees with the approach above.

[2020-09-30 17:30] hoosteeno commented on #9467
Q: If you schedule content in Contentful, does it imply anything about sync engineering?
A: No, when something goes live, it can be pulled from the API, full stop.

[2020-09-30 17:31] hoosteeno commented on #9468
@pmac will research.

[2020-09-30 17:48] craigcook commented on #9286
I really like the look of this, and I like the smaller, more focused dropdowns (I especially like the absence of those promo cards our current dropdowns have). The architecture also seems good for mozorg but I'm also thinking about this nav being a reusable component that can work for any other site.

Here's a bunch of thoughts in no particular order, just stream-of-conscious. The tl;dr is that I

[2020-09-30 18:28] alexgibson commented on #9286
I seem remember an early prototype of the current nav having this gap. I don’t know if this will be useful here, but one way I got around this was to make an invisible pseudo element between the top nav link and the panel open below it, so the mouse pointer would remain in an active hover state when moving between the elements.it was fiddly to get right, but seemed to work out ok.

[2020-09-30 19:14] #9218 closed

[2020-10-01 08:23] alexgibson commented on #8985
I've given a lot of thought to using Webpack for bedrock, and at this time I'm not convinced that it's the best option for a front-end build tool given the nature of www.mozilla.org. It would be a considerable amount of effort to switch at this time, and whilst it would solve some problems it is not free of creating new problems itself.

The main reasons why I don't think it's worth switching righ

[2020-10-01 08:23] #8985 closed

[2020-10-01 08:24] alexgibson commented on #8986
Closing as per https://github.com/mozilla/bedrock/issues/8985#issuecomment-701975507

[2020-10-01 08:24] #8986 closed

[2020-10-01 08:24] alexgibson commented on #8987
Closing as per https://github.com/mozilla/bedrock/issues/8985#issuecomment-701975507

[2020-10-01 08:24] #8987 closed

[2020-10-01 08:40] alexgibson opened #9486 "Improve / simplify Gulp build script"
## Description

In Q3 we [evaluated](https://github.com/mozilla/bedrock/issues/8985#issuecomment-701975507) migrating bedrock to use Webpack for its front-end tool chain. The outcome was that whilst it is certainly possible to do, the benefits aren't necessarily so clear cut given the nature of the website.

What is clear however, is that our existing Gulp script could be:

1) Simpler
2) More effi

[2020-10-01 08:52] #9361 closed

[2020-10-01 11:56] rraue commented on #9286
Two thoughts:

- Next to the language switcher we need a link to /locales/ for crawlers and as fallback. It can be the world bowl.
- Breadcrumb: If we implement the breadcrumb most likely search engines will pick them up and display them in search results instead of the url. What is a good thing. But that means we need to think about the system here:
-- By default the url slug should be the breadc

[2020-10-01 12:33] alexgibson commented on #9424
Git alt text (Mozilla only) https://docs.google.com/document/d/1FHmoeSKRbl1QqH6hpqJD0kmZQP6XE3YgZnJ56TzeRdM/edit?usp=sharing

[2020-10-01 12:52] #9410 closed

[2020-10-01 12:52] #9013 closed

[2020-10-01 12:52] #9343 closed

[2020-10-01 12:53] #9216 closed

[2020-10-01 12:53] #9409 closed

[2020-10-01 13:14] #9217 closed

[2020-10-01 13:57] pmac opened #9488 "Release Notes not showing previews in DEV after deployment"
This is because it has the prod data for release notes for a bit in certain situations. The clock process should download the most recent db for its deployment (dev, stage, or prod), then run migrations, then start updating the data every 5 min. Those first two things aren't happening any more now that we've moved to this new process in #8900. We need two fixes IMO:

1. Make the clock process do t

[2020-10-01 14:20] pmac commented on #9458
1. We'll use the Contentful Content API to fetch updated pages, layouts, and cards every 5 minutes from the bedrock clock pod, like we do with all external content.
2. When we receive an updated card we'll fetch the associated image.
	- we'll fetch the image at certain dimensions depending on the card size and aspect ratio
	- we'll potentially further process the image and store it in s3 with all

[2020-10-01 14:22] hoosteeno commented on #9458
👍

Just noting that we have a meeting with Contentful SE's this week where we can pressure test the plan above, so changes will not be surprising.

[2020-10-01 14:24] pmac commented on #9469
This should be the most straight-forward piece of the project. We are already fetching external content card data and displaying it on the home page. We will simply need to fetch the data for display from the new contentful data tables instead of the old ones populated by the [www-admin repo](https://github.com/mozmeao/www-admin).

We will have to update things because of the new data model and be

[2020-10-01 15:11] rraue opened #9490 "Epic: Evergreen Content for SEO"
## Description

What is the overall outcome we aim to achieve?
We will create 20 evergreen pages for SEO growth. This issue track progress.

Principle:
existing designs, most preferred protocol components only

Link to pitch, brief, or background documents.

---

#### Issues
- [ ] Translate Page https://github.com/mozilla/bedrock/issues/9759
- [ ] Fingerprinting page https://github.com/mozilla/bed

[2020-10-01 15:20] rraue opened #9491 "Epic: faq page"
## Description

We want to build a page for firefox faq

url: /firefox/faq/

Link to pitch, brief, or background documents.

---

#### Issues
- [ ] #issue-number
- [ ] #issue-number

[2020-10-01 15:21] rraue opened #9492 "FAQ Page Content"
## Description

In https://github.com/mozilla/bedrock/issues/9491 we are building a faq page. This task is for the content.

---

#### Success Criteria
- [x] Final copy attached
- [x] Chad approved

[2020-10-01 15:51] pmac commented on #9468
My current best proposal for how this should work:

www-dev.allizom.org (dev) will use the preview API to fetch new data that has not yet been "published". This will provide a preview of the proposed home page that can be showed to any stakeholders.

For instant previewing during development we'll have a different URL (e.g. something like `/en-US/hompage-preview/<content-id>/` or even just `/en-US

[2020-10-01 19:17] hoosteeno opened #9494 "Epic: WNP82"
Fx82 lands 2020-10-20.

We'll build a WNP for en-only visitors upgrading to Fx82. The WNP will promote VPN. All other locales/versions will get the evergreen fallback or the baseline fallback.

Blueprint: https://docs.google.com/document/d/1gFbkj3Kgb4h7zBDrO99pgXEwriWgMjgO1UkhyhFPY5w/edit#

### Epic Issues
- [ ] Copy
- [x] Design
- [ ] Merged Code

[2020-10-01 21:36] hoosteeno opened #9495 "Questions for Contentful"
* We have a general idea of our synchronization architecture that involves storing content retrieved from the (Sync? Content Delivery?) API in our own database, to ensure control over availability. We'd like to talk through it and hear how other clients have solved it.
* We're not exactly sure how to mesh that plan with the preview API (because our synch architecture implies some publish latency),

[2020-10-01 21:42] #9369 closed

[2020-10-01 22:01] hoosteeno commented on #9471
@slightlyoffbeat considering the plan in https://github.com/mozilla/bedrock/issues/9459#issuecomment-701029883, do we need the locale field on _cards_ or on _card groups_? I think it's card groups, or maybe both.

[2020-10-01 22:03] #9334 closed

[2020-10-01 22:04] #9481 closed

[2020-10-02 00:57] slightlyoffbeat commented on #9471
@hoosteeno it needs to be on cards. This way when a content editor creates a new group, they can filter to view cards by language.

We could also include a language field for card groups for the same reason, though it probably wouldn't be as useful (although now that I think about it...we might as well)

[2020-10-02 11:54] rraue commented on #9492
Final Copy: https://docs.google.com/document/d/1LAdUXUovciI1N4xNN1lNGmWv-6kdXVunvM7arrGyK-E/edit?ts=5f74df55

[2020-10-02 11:57] rraue opened #9497 "FAQ page design"
## Description

in #9491 we build a faq page, this issue is the track the design.

---

#### Success Criteria
- [x] Mockup is attached
- [x] Wireframe
- [ ] Chad approved
- [x] Dev knows what to do

[2020-10-02 12:04] rraue opened #9498 "Faq page coding"
## Description

In https://github.com/mozilla/bedrock/issues/9491 we build a faq page. This issue tracks coding.

- Url: /firefox/faq/
- Open for translation

---

#### Success Criteria
- [ ] Include structured data for en locales only
- [ ] Page is coded

[2020-10-02 12:12] rraue commented on #9497
Mockup:
![faq design wireframe](https://user-images.githubusercontent.com/36700618/94921639-fcff1080-04b8-11eb-998c-902a1783f5ce.png)

- Above the fold same like /new
- Single Questions wrapped in emphasis boxes (https://protocol.mozilla.org/patterns/molecules/emphasis-box.html)

[2020-10-02 12:31] rraue opened #9499 "Epic: Quantum page"
## Description

We want to build a page for firefox quantum

url: /firefox/browsers/quantum/

Pitch: https://docs.google.com/document/d/17aL69fIIUhftGhFnx87OcfYcWoecs-xno1a1rT6_Nc4/edit
Brief: https://docs.google.com/document/d/17aL69fIIUhftGhFnx87OcfYcWoecs-xno1a1rT6_Nc4/edit
Gdrive: https://drive.google.com/drive/folders/1JPPn-NZw3-tupk9qxFaS2H4J5YFcZOA8

---

#### Issues
- [x] Content #9500
- [

[2020-10-02 12:40] rraue opened #9500 "Quantum Page Content"
## Description

In https://github.com/mozilla/bedrock/issues/9499 we are building a quantum page. This task is for the content.

---

#### Success Criteria
- [ ] Final copy attached
- [ ] Chad approved

[2020-10-02 12:40] rraue commented on #9500
Not final yet: https://docs.google.com/document/d/1CdpMeg8BLkf3lZIS4Pz3mlSjB85OmJAzVV2TVvCwJbE/edit

[2020-10-02 12:43] rraue opened #9501 "Quantum Page Design"
## Description

in #9499 we build a faq page, this issue is the track the design.

---

#### Success Criteria
- [x] Mockup is attached
- [x] Design is attached
- [ ] Chad approved
- [ ] Dev knows what to do

[2020-10-02 12:55] rraue commented on #9501
Mockup:
![quantum design idea](https://user-images.githubusercontent.com/36700618/94924451-d5f70d80-04bd-11eb-963c-7b0847bfe90c.png)

- Design from /new
- Feature box without headline
- icons if available

[2020-10-02 12:56] rraue opened #9502 "Quantum Page Coding"
## Description

In https://github.com/mozilla/bedrock/issues/9499 we build a quantum page. This issue tracks coding.

- Url: /firefox/browsers/quantum/
- Open for translation

---

#### Success Criteria
- [x] Page is coded
- [ ] /firefox/quantum/ redirects to /firefox/browsers/quantum/

[2020-10-02 13:33] rraue opened #9503 "Epic: Pillar Page"
## Description

We want to build a page for firefox faq

url: /firefox/more/

Pitch: https://docs.google.com/document/d/17aL69fIIUhftGhFnx87OcfYcWoecs-xno1a1rT6_Nc4
Brief: https://drive.google.com/drive/folders/1YudkvgNk9oWpmCdhpktWJYrG4kGk0yTo
Gdrive: https://drive.google.com/drive/folders/1YudkvgNk9oWpmCdhpktWJYrG4kGk0yTo

---

#### Issues
- [x] Content #9504
- [x] Design  https://github.com/moz

[2020-10-02 13:43] rraue opened #9504 "Pillar Page Content"
## Description

In https://github.com/mozilla/bedrock/issues/9503 we are building a pillar page. This task is for the content.

---

#### Success Criteria
- [x] Final copy attached
- [x] Chad approved

[2020-10-02 13:43] rraue commented on #9504
Not final: https://docs.google.com/document/d/1k5hLXDeJ_gZ35wfXwTbu3ckcKQSDeS4w2BkdDCbuGKM/edit#

[2020-10-02 13:45] rraue opened #9505 "Pillar Page Design"
## Description

in #9503 we build a pillar page, this issue is the track the design.

---

#### Success Criteria
- [x] Mockup is attached
- [x] Design is attached
- [ ] Chad approved
- [ ] Dev knows what to do

[2020-10-02 13:49] rraue commented on #9505
Design like the homepage. No extra assets between the cards.

Order of cards:
4 cards:
/en-US/firefox/browsers/browser-history/
/en-US/firefox/features/independent/
/en-US/firefox/browsers/what-is-a-browser/
/en-US/firefox/browsers/update-your-browser/
break

4 cards
/en-US/firefox/products/
/en-US/firefox/browsers/
/en-US/firefox/lockwise/
/en-US/firefox/all/
break

4 cards:
/en-US/firefox/mac/
/

[2020-10-02 14:22] rraue opened #9506 "Pillar Page Coding"
## Description

In https://github.com/mozilla/bedrock/issues/9503 we build a pillar page. This issue tracks coding.

- Url: /firefox/more/
- Open for translation

---

#### Success Criteria
- [x] Page is coded

[2020-10-02 14:26] alexgibson commented on #9444
Markers changes completed by @pmac in https://github.com/mozmeao/www-config/pull/307

[2020-10-02 14:31] rraue commented on #9505
Blocking: We need illustrations/images for all pages. Should be existing ones that fit.

[2020-10-02 17:29] hoosteeno commented on #9495
* We have a general idea of our synchronization architecture that involves storing content retrieved from the (Sync? Content Delivery?) API in our own database, to ensure control over availability. We'd like to talk through it and hear how other clients have solved it.

Contentful generally sees people using Sync for low-bandwidth situations, like a mobile app. When we have a dynamic on server app

[2020-10-02 17:34] hoosteeno commented on #9495
* We have a general idea of our synchronization architecture that involves storing content retrieved from the (Sync? Content Delivery?) API in our own database, to ensure control over availability. We'd like to talk through it and hear how other clients have solved it.

We'll use the same template, with a separate view that populates the template directly from Contentful rather than updating the d

[2020-10-02 17:41] hoosteeno commented on #9495
* We're curious whether we need to plan for post-API image optimization, or whether Contentful optimizes images as part of normal management.

All binary assets are stored, served as-is, or modified by images API. There isn't an obvious way to optimize images in Images API right now. The "quality" parameter is an option -- we could lower image quality with filesizes > X.

Some clients integrate wi

[2020-10-02 17:52] hoosteeno commented on #9495
* We are designing for a system that has a hybrid localization plan. Groups of cards on the page are locale-specific, while other items on the page may be localized across all locales. In other words, we might have 5 cards in de, and in en-US, we might have 12 completely different cards, and in both locales there might be a global hero area above the cards. We're interested in how this is best acc

[2020-10-02 19:30] stephaniemcv commented on #9401
Hey @alexgibson just checking in if you have an eta on when this pages will be migrated to Fluent?

[2020-10-02 20:33] hoosteeno commented on #9494
Bugzilla bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1668938

[2020-10-03 07:05] gujjwal00 opened #9509 "Possibly incomplete heading"
## Description

Heading on one section/card seems to be incomplete.

### Steps to reproduce

Go to https://www.mozilla.org/en-US/firefox/enterprise/

Screenshot:

![image](https://user-images.githubusercontent.com/27951674/94985395-eff32780-0573-11eb-9ffb-10adba81b336.png)

### Expected

 "Your data stays **with** your business"

[2020-10-03 13:25] yogeshsingh101200 commented on #9509
Can you assign it to me? I want to work on this one. It need editing line 68 of this [file](https://github.com/mozilla/bedrock/blob/5a4d4cd1866034620fac7ccfefdcbf9e4bc2924d/bedrock/firefox/templates/firefox/enterprise/index.html).

[2020-10-05 09:42] alexgibson opened #9510 "Update Hero copy for /de/ home page"
## Description

https://www.mozilla.org/de/

**BANNER 1 for FX users**

Existing copy:
HEADLINE: Tech mit R.E.S.P.E.K.T.
SUBHEAD: Firefox respektiert deine Privatsphäre mit jedem einzelnen Produkt.
CTA: Weitere Infos

Copy Update
HEADLINE: Aus Liebe zum Web
SUBHEAD: Firefox – der unabhängige Browser, unterstützt vom Non-Profit Mozilla
CTA: Weitere Infos

**BANNER 1 for non FX users**

Existing cop

[2020-10-05 09:56] alexgibson commented on #9510
Firefox users:

![image](https://user-images.githubusercontent.com/400117/95065728-58b7dc80-06f9-11eb-91ce-85d4d3dca98a.png)

Non Firefox users:

![image](https://user-images.githubusercontent.com/400117/95065805-7127f700-06f9-11eb-91a2-234b1974a9e8.png)

[2020-10-05 12:44] rraue opened #9512 "Epic: Chromebook page"
## Description

We want to build a page for chromebook

url: /firefox/browsers/chromebook/

Pitch: https://docs.google.com/document/d/17aL69fIIUhftGhFnx87OcfYcWoecs-xno1a1rT6_Nc4
Gdrive: https://drive.google.com/drive/folders/1VFoA7IJlj_jUYWkGIp4kYhMGHRjzJ-k_

---

#### Issues
- [x] Content https://github.com/mozilla/bedrock/issues/9513
- [x] Design  https://github.com/mozilla/bedrock/issues/9514

[2020-10-05 12:46] rraue opened #9513 "Chromebook Page Content"
## Description

In https://github.com/mozilla/bedrock/issues/9512 we are building a chromebook page. This task is for the content.

---

#### Success Criteria
- [x] Final copy attached
- [x] Chad approved

[2020-10-05 12:48] rraue commented on #9513
https://docs.google.com/document/d/19Vin0P4F8w2FdeXGl8Df6wSLIzD2bKPAcD5XRcLTc-0/

[2020-10-05 12:51] rraue opened #9514 "Chromebook Page Design"
## Description

in https://github.com/mozilla/bedrock/issues/9512 we build a Chromebook page, this issue is the track the design.

---

#### Success Criteria
- [ ] Design is attached
- [ ] @justinkropp approved
- [ ] Chad approved
- [ ] Dev knows what to do

[2020-10-05 12:53] rraue opened #9515 "Chromebook Coding"
## Description

In https://github.com/mozilla/bedrock/issues/9512 we build a chromebook page. This issue tracks coding.

- Url: /firefox/browsers/chromebook/
- Open for translation

---

#### Success Criteria
- [ ] Page is coded

[2020-10-05 13:05] rraue opened #9516 "Epic: Firefox Sync Page"
## Description

We want to build a page for Firefox Sync

url: /firefox/sync/

Pitch: https://docs.google.com/document/d/17aL69fIIUhftGhFnx87OcfYcWoecs-xno1a1rT6_Nc4
Brief: https://docs.google.com/document/d/1Jk5sHZYxj8wwNp_lwSuCOzHaSPtkLJsH7U9cUqp2quk/edit?usp=sharing
Gdrive: https://drive.google.com/drive/folders/1CRZckII0qtg0Vp5zqi6kajQQvGYp8LvR

---

#### Issues
- [x] Content https://github.co

[2020-10-05 13:06] rraue opened #9517 "Firefox Sync Content"
## Description

In https://github.com/mozilla/bedrock/issues/9516 we are building a Sync page. This task is for the content.

---

#### Success Criteria
- [ ] Final copy attached
- [ ] Chad approved

[2020-10-05 13:07] rraue commented on #9517
Copy: https://docs.google.com/document/d/1LE3SwAOvSajQ_3TC_lt87tj2Fxokxhe55BFiCngVuBA/edit

[2020-10-05 13:08] rraue opened #9518 "Firefox Sync Design"
## Description

in https://github.com/mozilla/bedrock/issues/9516 we build a Sync page, this issue is the track the design.

---

#### Success Criteria
- [x] Design is attached
- [ ] Chad approved
- [ ] Dev knows what to do

[2020-10-05 13:11] rraue opened #9519 "Firefox Sync Coding"
## Description

In https://github.com/mozilla/bedrock/issues/9516 we build a Sync page. This issue tracks coding.

- Url: /firefox/sync/
- Open for translation

---

#### Success Criteria
- [ ] Page is coded
- [ ] Redirect to /accounts/ is removed

[2020-10-05 13:40] alexgibson commented on #9171
Depends on:

- https://github.com/mozilla/bedrock/issues/9444
- https://github.com/mozilla/bedrock/issues/9453
- https://github.com/mozilla/bedrock/issues/9443

[2020-10-05 14:02] rraue opened #9520 "Epic: Little Book of Privacy Page"
## Description

We want to build a page for the little book of privacy
url: /firefox/privacy/book/

Pitch: https://docs.google.com/document/d/17aL69fIIUhftGhFnx87OcfYcWoecs-xno1a1rT6_Nc4
Brief: https://docs.google.com/document/d/1GxaA7BXQhuV4BseXXGOKFUxCtmKyUIrrCR-ILZ5UiaU/edit?usp=sharing
Gdrive: https://drive.google.com/drive/folders/1EPL0Z_AlRpK6Teq5SQQk5kgEIpD0nFbU?usp=sharing

---

#### Issue

[2020-10-05 14:05] rraue opened #9521 "Little Book of Privacy Content"
## Description

In https://github.com/mozilla/bedrock/issues/9520 we are building a Sync page. This task is for the content.

---

#### Success Criteria
- [x] Final copy attached
- [x] Chad approved

[2020-10-05 14:07] rraue opened #9522 "Little Book of privacy Design"
## Description

in https://github.com/mozilla/bedrock/issues/9520 we build a little book of privacy page, this issue is the track the design.

---

#### Success Criteria
- [x] Design is attached
- [x] @justinkropp approved
- [x] Chad approved
- [ ] Dev knows what to do

[2020-10-05 14:10] rraue opened #9523 "Little Book of privacy Coding"
## Description

In https://github.com/mozilla/bedrock/issues/9520 we build a Little book of Privacy page. This issue tracks coding.

- Url: /firefox/privacy/book/
- Open for translation

---

#### Success Criteria
- [x] Page is coded
- [x] Page is in pontoon

[2020-10-05 14:10] alexgibson commented on #9401
@stephaniemcv I can try and get to this soon, just as soon as the unfck campaign work is wrapped up. Thanks for your patience

[2020-10-05 14:18] rraue commented on #9522
Design Mockup:
![little book design idea](https://user-images.githubusercontent.com/36700618/95090601-bf52ef80-0725-11eb-9b6d-ca349a437b69.png)

- should be included in the /firefox/privacy/ subnav
- Has 2 cta - download firefox & download pdf in en & de - in all other locales only download as cta
- easy right - left design
- illustrations we take from the pdf or from the .ai file in the gdrive: h

[2020-10-05 14:59] justinkropp commented on #9494
Below is WIP design work.
----

### Default Version
![Light](https://user-images.githubusercontent.com/1461798/95095927-aa606700-06f9-11eb-9991-8ce5c7bd572f.png)

----

### Dark Mode
![Dark](https://user-images.githubusercontent.com/1461798/95095950-b0564800-06f9-11eb-97ba-d4816c1e2f7c.png)

[2020-10-05 15:04] #9286 closed

[2020-10-05 15:11] hoosteeno commented on #9400
As of 10/5, we were still working on getting Convert working on VPN. Hoping it is ready for testing today/early this week.

[2020-10-05 15:12] hoosteeno commented on #9424
@stephaniehobson to review

[2020-10-05 15:15] hoosteeno commented on #9337
This is ready for development.

[2020-10-05 15:39] stephaniemcv commented on #9401
No worries at all. I just want to be able to communicate back accurately on the status. Thank you for the update!

[2020-10-05 15:59] pmac commented on #9488
No longer planning on doing number 2 above. We have too many other data sources that differ between instances to make this worth doing. Since number 1 is complete I think we can call this done.

[2020-10-05 15:59] #9488 closed

[2020-10-05 17:24] mhoye opened #9524 "Add the software licenses for our VPN product."
## Description

We'd like to add the software licensing for our VPN product to our website somewhere sensible - Maybe legal-docs - and public, so that we can put a link to it in the product but maintain the canonical information elsewhere. I've attached a copy of the text of the LICENSE.md file in the repository, and believe that we can include the same thing on the website.

In  a perfect world,

[2020-10-05 19:44] litkaemily commented on #9388
Hi, I'm following up on this. Is there any additional steps that I should take.

Thanks,
Emily

[2020-10-05 20:37] craigcook commented on #9388
Sorry, I think we just overlooked this issue. Thanks for the ping to remind us! We'll get it done ASAP.

[2020-10-05 20:54] #9510 closed

[2020-10-05 21:00] litkaemily commented on #9388
No worries! Thank you!

[2020-10-06 12:02] #9504 closed

[2020-10-06 12:02] #9513 closed

[2020-10-06 14:01] rraue commented on #9514
Mockup:
![Screenshot 2020-10-06 at 15 59 19](https://user-images.githubusercontent.com/36700618/95211512-f8a26280-07ec-11eb-8f67-920e188c8de0.png)

The download button on top should be like the dropdown on /firefox or /enterprise to give the two options for android and linux:

![Screenshot 2020-10-06 at 16 00 53](https://user-images.githubusercontent.com/36700618/95211673-28ea0100-07ed-11eb-9032-a

[2020-10-06 14:16] rraue commented on #9497
Download button at the end

[2020-10-06 14:16] justinkropp commented on #9494
Updated design for WNP 82. Final.

----

<img width="1312" alt="Light" src="https://user-images.githubusercontent.com/1461798/95213599-fc1df580-07bc-11eb-8a28-100973002d9f.png">

----

<img width="1312" alt="Dark" src="https://user-images.githubusercontent.com/1461798/95213625-03450380-07bd-11eb-903f-73b72a5086f8.png">

[2020-10-06 15:57] rraue commented on #9518
Mockup:
![sync](https://user-images.githubusercontent.com/36700618/95226444-3b6c3680-07fd-11eb-88d7-ba49503ce55a.jpg)

Head from /accounts/
Second part with the features (no headline) from /new and the lower part again from /accounts.

[2020-10-06 17:05] hoosteeno opened #9526 "Epic: Demo Contentful's instant preview capability"
## Description

The first milestone in our Contentful prototype sprint is to demo instant previews.

* [Project board](https://github.com/mozilla/bedrock/projects/30)
* [Trello card](https://trello.com/c/yMHvJW88/67-prototype-modern-content-authoring-distribution-phase-2)
* [Blueprint](https://docs.google.com/document/d/1PzIng067xmyNR9TVb6ac_fwbRxgWDa-7Mt_wnAbvE28/edit#)

---

Success:

- [ ] An e

[2020-10-06 17:07] hoosteeno opened #9527 "Contentful on Homepage: Finish data model, make homepages previewable"
## Description

Part of the epic https://github.com/mozilla/bedrock/issues/9526.

---

#### Success Criteria
- [ ] Homepages are previewable
- [ ] Data model is complete enough to include present homepage content, and be previewable

[2020-10-06 17:08] hoosteeno opened #9528 "Contentful on Homepage: Build a new demo instance"
## Description

Part of the epic #9526.

---

#### Success Criteria
- [ ] A new demo instance exists that is reserved for Contentful content previews

[2020-10-06 17:10] hoosteeno opened #9529 "Contentful on Homepage: Link preview button to bedrock view"
## Description

Part of the epic #9526.

---

#### Success Criteria
- [ ] A view exists that handles requests from Contentful's preview button
- [ ] The view can retrieve pre-publication content from Contentful's API
- [ ] The view displays pre-publication content in the appropriate template on www.mozilla.org

[2020-10-06 17:11] #9468 closed

[2020-10-06 19:12] stephaniehobson commented on #9492
Final copy is approved according to the doc

[2020-10-06 19:12] #9492 closed

[2020-10-06 21:08] craigcook commented on #9494
Demo URL: https://www-demo4.allizom.org/en-US/firefox/82.0/whatsnew/all/

[2020-10-06 21:23] markteater commented on #9505
@rraue here are low fidelity mockups (no images and a missing SM footer) for this page.

![Screen XL - 1312](https://user-images.githubusercontent.com/1934450/95261426-61dba300-07f8-11eb-8301-0d3fa8a0dea7.png)
![Screen LG - Below 1024](https://user-images.githubusercontent.com/1934450/95261432-630cd000-07f8-11eb-837e-6b618735be52.png)
![Screen SM - Below 480](https://user-images.githubusercontent.

[2020-10-07 15:14] rraue commented on #9474
I reviewed this and lets wait for the call tomorrow, but I think we are set. I'd liek a dev having a look if we are missing something we regularly implement. @alexgibson?

[2020-10-07 15:49] markteater commented on #9501
@rraue here's the desktop version based on the current available copy:

![Quantum Page - Screen XL - 1312](https://user-images.githubusercontent.com/1934450/95355051-1f1ad900-0893-11eb-8da5-600a25f92b43.png)

[2020-10-07 21:15] markteater commented on #9497
@rraue here's the Desktop version of the FAQ page. I'm including and opened version and a closed version. I wrapped all the questions together in one Emphasis box, but happy to separate them into individual boxes if you'd prefer.
![FAQ Page - Screen XL - 1312 - CLOSED](https://user-images.githubusercontent.com/1934450/95388374-30c6a580-08c0-11eb-8d26-7093da535fd5.png)
![FAQ Page - Screen XL - 1312

[2020-10-08 12:23] alexgibson commented on #9474
I don't have permission to comment in the doc, so here are some general notes:

**Master Settings Variable: CD32: win10User** - The closest thing we have to this currently is some outdated detection for Win 10 S mode, which is now reporting inaccurately (see https://github.com/mozilla/bedrock/issues/8139). I'm unclear if this should mean we want to capture Windows 10 users in general (doesn't GA d

[2020-10-08 12:33] rraue commented on #9497
I love it but for the purpose of SEO they need to be open when the page is visited by a user or crawler. @craigcook is this component possible to be open at load?

[2020-10-08 12:34] alexgibson commented on #9474
My only other comment is that I don't quite know what the new custom dimensions types being added to the master setting variable stand for. Some of those sound like they need explaination and / or discussion.

[2020-10-08 14:48] justinkropp commented on #9497
@rraue @markteater If I could add a suggestion: If it's better for SEO that all these FAQs be initially open, it might make more sense to just list them as a simple list of FAQs and remove the open/close toggle. I would imagine that a user would be less likely to interact with the FAQ if it's already open.

[2020-10-08 15:04] hoosteeno commented on #9197
Closing as dupe of https://github.com/mozilla/bedrock/issues/9474

[2020-10-08 15:04] #9197 closed

[2020-10-08 16:55] rraue commented on #9498
Structured data for this page should be included the same way like on the mpl faq page: https://github.com/mozilla/bedrock/blob/master/bedrock/mozorg/templates/mozorg/mpl/2.0/includes/structured-data-faq.html

The structured data:

`<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {
      "@type": "Question",
      "name": "What

[2020-10-09 08:24] alexgibson opened #9534 "CircleCI test_py job failing with Yarn install error"
## Description
CircleCI `test_py` builds are failing installing Yarn. Seems to be happening on multiple [pull requests](https://app.circleci.com/pipelines/github/mozilla/bedrock/2571/workflows/224a78d3-f3de-45c9-a31d-79c13e3757d4/jobs/32984).

`EPERM: operation not permitted, copyfile '/usr/local/share/.cache/yarn/v6/npm-astral-regex-1.0.0-6c8c3fb827dd43ee3918f27b82782ab7658a6fd9-integrity/node_mo

[2020-10-09 08:49] alexgibson commented on #9534
This could just be a cache problem, I'm not too sure. But I don't seem to be able to find "Rebuild without cache" as an option any longer in the CircleCI UI. I'll keep searching.

Any ideas here @pmac?

[2020-10-09 09:17] alexgibson commented on #9534
This seems related: https://discuss.circleci.com/search?q=EPERM%3A%20operation%20not%20permitted%2C%20copyfile

[2020-10-09 13:38] rraue commented on #9523
The "Download pdf" button needs to be behind a switch first, as we need to do changes in the pdf itself to reflect the changes from legal, so we cant have the download at first, but that should resolve in the next weeks, so we should code the download button already.

[2020-10-09 15:43] alexgibson opened #9535 "Improve GA download reporting for legacy / unknown browsers"
## Description

Since we rolled out the simplified download button in (https://github.com/mozilla/bedrock/issues/8860) we've been seeing a small number of download events in GA come through as `Firefox for unavailable`, where we haven't been able to determine their operating system.

![image](https://user-images.githubusercontent.com/400117/95603699-8b8e0780-0a4e-11eb-8a3f-01e4581a894b.png)

The h

[2020-10-09 16:56] markteater commented on #9518
@rraue here's the low fidelity mockup for the desktop Sync page:
![Sync Page - Screen XL - 1312](https://user-images.githubusercontent.com/1934450/95610733-c08a6200-0a2e-11eb-95e2-5b15cf464068.png)

[2020-10-09 16:58] markteater commented on #9514
@rraue here's the low fidelity mock-up for the desktop Chromebook page:
![Chromebook - Screen XL - 1312](https://user-images.githubusercontent.com/1934450/95610893-0c3d0b80-0a2f-11eb-9a23-e7917bba781b.png)

[2020-10-09 17:31] markteater commented on #9497
@rraue @justinkropp Here's a simplified FAQ page with the toggles removed. I also added in the "Related questions" to each question if it was in the doc.

![FAQ Page - Screen XL - 1312](https://user-images.githubusercontent.com/1934450/95613950-b9b21e00-0a33-11eb-88b1-f585adc95b71.png)

[2020-10-12 08:11] alexgibson commented on #9535
Pushed a fix to demo: https://www-demo1.allizom.org/en-US/

[2020-10-12 08:56] alexgibson commented on #9509
Thanks for filing this. In the case of this heading the word "business" is used in relation to an individual's privacy, and not necessarily data belonging to a literal business or organization.

[2020-10-12 08:56] #9509 closed

[2020-10-12 09:13] #9424 closed

[2020-10-12 09:13] #9465 closed

[2020-10-12 12:11] glogiotatidis commented on #9453
Note to self:

@pmac had a good idea to send failed tests to Saucelabs to get a second try and video recordings.

[2020-10-12 12:58] alexgibson commented on #9447
Thanks for filing. Closing this as a duplicate of https://github.com/mozilla/bedrock/issues/8938

[2020-10-12 12:58] #9447 closed

[2020-10-12 14:04] #9534 closed

[2020-10-12 14:12] justinkropp commented on #9497
@markteater My only feedback for the above is this:

For the large FAQ question header, decrease the margin below that header and the answer text and increase the margin above that same header and the "related questions" text above.

Currently that spacing looks equidistant both above and below, which makes it harder to distinguish between which text is associated with what. Does that make sense?

[2020-10-12 14:13] justinkropp commented on #8938
@alexgibson Did the above design approach makes sense to you? Do you need anything else design-wise on this issue?

[2020-10-12 14:14] alexgibson commented on #8938
@justinkropp i think this makes sense. I’ll see if I have time to get to this this week. Thanks

[2020-10-12 14:23] justinkropp commented on #8938
You're welcome. Just wanted to follow up. :)

[2020-10-12 15:09] hoosteeno commented on #9494
@craigcook to build the geolocation to redirect Chinese visitors to fallback, add tests, and get review.

[2020-10-12 15:14] #9517 closed

[2020-10-12 15:15] #9518 closed

[2020-10-12 15:16] hoosteeno commented on #9434
@amychurchwell to review, turn on traffic.

[2020-10-12 15:16] #9514 closed

[2020-10-12 15:17] #9501 closed

[2020-10-12 20:08] peiying2 commented on #9384
After WNP#82 and now prepping for WNP#83, there are a few questions we can answer:
- One fallback page: The fallback page when WNP# has no localization need. After talking to Craig, he thought one fallback page is sufficient. Anything older may not have the right content to state what our products do now. This Evergreen page should be this one: https://github.com/mozmeao/www-l10n/blob/master/metad

[2020-10-12 20:32] hoosteeno commented on #9384
@alexgibson do you think there is a way we could collapse the functionality of the 2 fallback pages into a single page? I think that would make localizers' lives easier, but might add an add'l conditional to the page.

E.g. could we take the "modern fallback" and, for Fx<60, show one kind of content, and for >=60, show a different kind of content?

[2020-10-13 08:30] alexgibson commented on #9384
@hoosteeno yes, the modern fallback already has two states (sync / send-to-device), so we could add some logic to say:

- If FF < 60, always show send-to-device
- If FF >= 60, show sync, else show send-to-device if already signed in

[2020-10-13 12:38] rraue commented on #9505
I made a choice of images for the cards. Could you please review @justinkropp:

Order of cards: 4 cards: /en-US/firefox/browsers/browser-history/
https://www.mozilla.org/media/img/firefox/browsers/browser-history/browser-history-b.fc9471e80e20.png

 /en-US/firefox/features/independent/
https://www.mozilla.org/media/img/firefox/features/thumbnails/independent/mission.e73c1c774338.jpg

 /en-US/firef

[2020-10-13 13:19] #9444 closed

[2020-10-13 16:46] #9443 closed

[2020-10-13 22:17] slightlyoffbeat opened #9542 "unfck A/B test: review convert.com test & direct traffic"
## Description

A test has been created on convert.com. It is an a/b test with a single variant. This test needs to be reviewed. Once reviewed, we need to direct traffic to it.

An exp template has already been created.

Convert test:
https://app.convert.com/#/projects/1003343/experiments_report/10039917

Test Plan (100% distribution, EN audience):
https://docs.google.com/document/d/1KVBNBF-NS_Jb6

[2020-10-14 08:02] alexgibson opened #9543 "Update fr unfck gifs"
## Description

https://drive.google.com/drive/folders/1oHWcfwhPRfMiYXyF73wF30Op9NwID4Kq

[2020-10-14 08:27] #9494 closed

[2020-10-14 08:45] alexgibson commented on #9542
Code feedback:

What you have works, but the variation is copying / pasting images that reference stage and not production. Rather than replicating all the markup again, something like the following might be simpler / cleaner:

[code]

[2020-10-14 08:54] alexgibson commented on #9542
Noticed a bug: When entered into the `Share as #1` variation, clicking a share link opens the page in a new tab, and not a popup window:

<img width="1678" alt="image" src="https://user-images.githubusercontent.com/400117/95966420-02d2eb00-0e03-11eb-80c5-4a1edd8041e7.png">

I think this is happening because you're adding new content to the DOM after the page JS has bound event listeners. This will

[2020-10-14 09:01] alexgibson commented on #9542
Goal tracking:

The share CTA goal isn't firing when I click either of the links. i think the issue is because it's looking for a direct descendant, so should be `#share A` instead of `#share > A`?

[2020-10-14 09:03] alexgibson commented on #9542
@slightlyoffbeat I've finished review on this for now. There are a couple of bugs / issues that I think need addressing before we can enable traffic. Let me know if you have any questions / want to chat. Thanks

[2020-10-14 09:59] alexgibson commented on #9542
@hoosteeno i should also probably point out that if the ask is to redirect 100% of traffic to the /exp/ page, then that’s likely going to cause some reporting dashboard somewhere to flatline. We should make sure those invested in analytics are aware.

[2020-10-14 11:21] #9497 closed

[2020-10-14 15:27] #9543 closed

[2020-10-14 15:37] slightlyoffbeat commented on #9542
@alexgibson awesome thank you. I'll make the recommended changes and update here when I do. I tested the share goal and I recall seeing the event coming through, but I'll revisit.

[2020-10-14 15:39] hoosteeno commented on #9542
Please note: We should hold merging/launching this until we have clarity about a couple questions re: the experiment plan.

1) 100% for a week or 50% for 2 weeks?
2) Start date/time as relates to page content updates?
3) In sandbox or on prod page?

We hope to be able to answer these after marketing standup today.

[2020-10-14 16:23] slightlyoffbeat commented on #9542
@alexgibson changes are made. I changed the goal to `#share A` and I see goal clicks coming through on the live dashboard.

The javascript change is much cleaner and on testing, the share links now work as pop-ups. There is a very slight flash (something that is hard to avoid completely with A/B tests) but I believe most won't notice.

[2020-10-14 16:39] alexgibson commented on #9542
@slightlyoffbeat code changes look good, and evens seem to be in order 👍

r+ on the experiment code, but let's wait to resolve https://github.com/mozilla/bedrock/issues/9542#issuecomment-708485919

[2020-10-14 18:53] #8659 closed

[2020-10-14 19:55] maxxcrawford opened #9547 "October 2020 Homepage Content Updates"
## Description

- Hide Cards 6-9
- Update Pocket Main Card copy/design

---

#### Success Criteria
- [ ] Use new content from https://github.com/mozmeao/www-admin/issues/83
- [ ] Tasks should be represented here as something like "Approved designs attached to this issue"

[2020-10-14 20:41] hoosteeno commented on #9542
Answers as of today:

100% for a week.

10/20, to be confirmed 10/19.

Suggest on prod page to avoid 2 classes of concern:
1) Redirecting 100% of traffic to sandbox will almost certainly break some metrics somewhere.
2) The timing overlaps CDN replacement, which means our trad'l method of enrollment (using CDN workers) is not predictable

[2020-10-15 08:10] alexgibson opened #9549 "Add Convert to the en-US unfck page"
## Description

As per: https://github.com/mozilla/bedrock/issues/9542#issuecomment-708648477

- The unfck page sees relatively low traffic right now, so redirecting 100% of audience to an /exp/ page seems wasteful.
- The redirection would confuse campaign dashboards, requiring their data sources to be adjusted.
- We move CDN soon, and this experiment might risk overlapping with the loss of edge w

[2020-10-15 08:12] alexgibson commented on #9542
Filed https://github.com/mozilla/bedrock/issues/9549 to address https://github.com/mozilla/bedrock/issues/9542#issuecomment-708648477

[2020-10-15 19:06] #9478 closed

[2020-10-15 20:46] #9503 closed

[2020-10-15 21:56] amychurchwell opened #9553 "Add VPN to global nav under products."
## Description

We should list VPN as one of our products in the global nav.
vpn.mozilla.org

[2020-10-15 22:34] craigcook commented on #9553
It's the card on the right, under Products in the Firefox nav and under Firefox in the Mozilla nav. But I totally missed it at first because it looks like an ad and my brain has been trained to ignore things that look like ads.

Not having a good place for VPN in our architecture is what motivated updating the navbar to be a singular, actually-global navigation system (#9286) instead of this awkwa

[2020-10-15 22:37] amychurchwell commented on #9553
@craigcook oh my gosh, I totally missed it too. I will close this issue because it sounds like this problem is being addressed. Thanks Craig.

[2020-10-15 22:37] #9553 closed

[2020-10-15 22:38] craigcook commented on #9553
Banner Blindness strikes again! https://en.wikipedia.org/wiki/Banner_blindness

[2020-10-15 22:57] #9547 closed

[2020-10-16 09:25] alexgibson opened #9555 "Understand the impact that Chrome's UA string freeze may have on mozorg"
## Description

Related to: https://github.com/mozilla/bedrock/issues/8440

This is a research task to understand the impact we might see on bedrock, should Google move forward with freezing their UA string. Specifically we need to get an understanding on the following items:

- Impact on the Firefox download funnel
- Impact on GA / analytics
- Impact to page specific logic (e.g. messaging for win

[2020-10-16 09:26] alexgibson commented on #8440
Depends on https://github.com/mozilla/bedrock/issues/9555

[2020-10-16 11:27] #9505 closed

[2020-10-16 13:38] alexgibson opened #9556 "Update hero CTA on French home page"
## Description

This goes together with the card updates to support unfck

https://www.mozilla.org/fr/

[2020-10-16 13:43] alexgibson commented on #9556
Copy (Mozilla only) https://docs.google.com/spreadsheets/d/1fYa0WrMTpIOqP8gGvW16ekWCy73bbgzytFf6DXX1m30/edit#gid=1458156896

[2020-10-16 14:21] #9500 closed

[2020-10-16 14:35] markteater commented on #9522
@rraue here's my initial pass at a basic conversion of The Little Book of Privacy:
![Screenshot_2020-10-15 Little Book of Privacy - Protocol Design System](https://user-images.githubusercontent.com/1934450/96271684-2cbf1580-0f9b-11eb-9046-b43b74eed5af.jpg)

[2020-10-16 15:05] hoosteeno commented on #9466
@craigcook Here's a final copy doc: https://docs.google.com/document/d/1itYgUIVud_i7D69ci93KinVekCDOE-pm5R7vH9bN_Pc/edit?usp=sharing

[2020-10-16 16:21] maxxcrawford opened #9558 "Homepage (EN): Pocket Hero Copy Edit"
## Description

Update Pocket Hero section title from "Welcome to the sunny side of the web." to "Welcome to the web, sunny side up"

---

#### Success Criteria
- [ ] Update copy

[2020-10-16 16:59] krush11 commented on #8085
Hi, can you tell me which file would be needing edits to fix these issues? I would like to work on this

[2020-10-16 19:15] anilkanji opened #9560 "Short URL Creation - mozilla.org/openletter"
Hi Team - we need a short URL redirect created by Monday, October 19th, 10am PST - linking from mozilla.org/openletter to https://foundation.mozilla.org/en/blog/mozilla-urges-facebook-and-twitter-halt-dangerous-recommendations/

The destination URL is currently in draft form, so is password protected - please slack @anil for access.

[2020-10-16 20:22] #9560 closed

[2020-10-16 20:42] tanmayj2020 commented on #8085
Hi , I would like to work on this issue. This will be my first contribution and please help me with this

[2020-10-16 20:52] kellymj commented on #9558
Blurb change:

Millions of people rely on Pocket to save and discover the best articles, stories and videos on the web. As part of the Firefox family, Pocket has the same dedication to privacy.

[2020-10-16 21:52] #9558 closed

[2020-10-16 22:30] #9549 closed

[2020-10-16 22:34] #9556 closed

[2020-10-16 23:09] stephaniehobson commented on #8085
I'm sorry, I don't have time to help with this. @alexgibson can you help or can we remove the help wanted tag?

[2020-10-16 23:12] stephaniehobson commented on #9337
The browser banner image has not been updated, but that was not part of the success criteria for this issue. I will create a separate issue for that.

[2020-10-16 23:12] #9337 closed

[2020-10-16 23:12] stephaniehobson opened #9562 "Update Android screenshot in mobile banner on /new"
Image in the banner needs updating:

![image](https://user-images.githubusercontent.com/400117/91414921-25a24380-e845-11ea-8750-13fc3c06e417.png)

_Originally posted by @alexgibson in https://github.com/mozilla/bedrock/issues/9337#issuecomment-681750664

[2020-10-16 23:23] #9327 closed

[2020-10-17 06:38] alexgibson commented on #8085
As our contributing guide says, Mozilla employees may not always have time to mentor issues, but pull requests are always welcome.

https://github.com/mozilla/bedrock/blob/master/.github/CONTRIBUTING.md

The HTML file for this issue is here: https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/templates/firefox/home/index-master.html

The CSS file is here: https://github.com/mozilla/bedr

[2020-10-19 03:58] RotonEvan commented on #9562
Shall I work on this issue?

[2020-10-19 08:47] alexgibson opened #9563 "Remove smooth scrolling from /enterprise landing page"
## Description

https://github.com/mozilla/bedrock/blob/master/media/css/firefox/enterprise/landing.scss#L18-L27

This isn't adding much user value to the page imho, and removing it fixes an issue we're encountering in the test pipeline using Chrome: https://gitlab.com/mozmeao/www-config/-/jobs/79829383

https://twitter.com/alex_gibson/status/1318109639817465862?s=21

[2020-10-19 11:52] #9563 closed

[2020-10-19 13:08] alexgibson commented on #9542
I opened a PR to enable convert (and the phase 2 unfck content) on stage: https://github.com/mozmeao/www-config/pull/312

@slightlyoffbeat once the PR linked here has been reviewed and merged you should be unblocked on reconfiguring this experiment. Note we have removed the `/exp/firefox/unfck/` page URL and put Convert directly on `/firefox/unfck/`.

If you have any questions here please give me

[2020-10-19 15:17] slightlyoffbeat opened #9567 "Epic: Mozilla blog refresh"
## Description

Our blogs are in constant use, but our blog theme is outdated. We should update our blog to use best practices, as well as align it with our updated brand guidelines.

---

#### Issues
- [ ] Design: #9567
- [ ] WPEngine: #9669

[2020-10-19 15:21] slightlyoffbeat opened #9568 "Design new theme for blog refresh"
## Description

The current theme for the blog refresh is a Firefox specific theme. It needs to be updated to reflect Mozilla as the parent brand.

---

#### Success Criteria
- [x] Theme reflects Mozilla as the parent brand.
- [ ] Approved designs attached to issue.

[2020-10-19 15:24] slightlyoffbeat opened #9569 "Set up new WPEngine instance for blog refresh"
## Description

The new blog needs  a place to live. Lets set up a new WPEngine instance for the blog refresh.

---

#### Success Criteria
- [ ] A new instance is set up.
- [ ] A dev and staging instance is also set up
- [ ] Proper access permissions provided to Dan and anyone else

[2020-10-19 15:29] alexgibson commented on #9542
The new content is now live in prod, so this is unblocked: https://www.mozilla.org/en-US/firefox/unfck/

[2020-10-19 19:57] slightlyoffbeat commented on #9542
Test is updated. Sent to Eddie for review and approval.

@alexgibson the code has a very minor change to accommodate new design.

https://www.allizom.org/en-US/firefox/unfck/?_conv_eforce=10039917.100378480

[2020-10-19 22:57] slightlyoffbeat commented on #9542
@alexgibson Received feedback that requested the share item be above the headline. I made a change that makes everything a bit more narrow, but it looks fine. The only issue (to me) is the use of the heart WIFI image twice in a row. I'm not sure if there is an unused image asset that we an utilize, or if we need a design review on this?

[2020-10-19 23:26] slightlyoffbeat commented on #9542
spent more time thinking about this, and updated to remove heart WIFI image and replace with the computer/cat GIF. Had to do it all with JS in order to avoid larger changes to the way the test is set up.

[2020-10-20 13:24] alexgibson commented on #9542
@slightlyoffbeat code changes look good - one nit: please make sure image sources use www.mozilla.org instead of www.allizom.org.

One other thing I noticed is the alt text still says: `A heart sharing love like a router shares wifi.`, which is now incorrect. I'd say it's not a blocker for the experiment though.

The goal set up looks good, and is working as expected.

r+wc

[2020-10-20 15:40] alexgibson commented on #9542
PR to enable the test in production (do not merge until the above comment has been addressed) https://github.com/mozmeao/www-config/pull/316

We'll also need to update the staging URL to match prod for the experiment.

[2020-10-20 16:42] slightlyoffbeat commented on #9542
@alexgibson Changes are made.

[2020-10-20 18:36] hoosteeno opened #9571 "Build redirects for /unfck"
## Description

In https://podcasts.apple.com/us/podcast/talking-tech-with-jefferson-graham/id658291823?i=1000495143999, Shep says "mozilla dot com slash u n f c k". We should anticipate this happening again, and build some pre-emptive redirects.

Let's redirect visitors to the following URLs to the campaign page:

- [ ] (www.)?mozilla.org/unfck -> mozilla.org/firefox/unfck
- [ ] (www.)?mozilla.or

[2020-10-20 19:16] #9571 closed

[2020-10-20 20:58] skrelnick23 opened #9573 "WNP 83 Epic: Pocket"
## Description
The WNP for Firefox 83 release on 2020-11-17, promoting Pocket.

What is the overall outcome we aim to achieve? Drive Fx users to get Pocket.
[Principal Project Doc](https://docs.google.com/document/d/19H1s7NEqmwbEfDnkzsCpCwq7w6P0Mfa_xb72DSTEy5g/edit#
)

Approvals

- [ ] The Accountable-
- [ ] Brand design - Michael H
- [ ] Brand copy - Meg
- [ ] Team Lead - Hoosteeno
- [ ] PMM - Ty

[2020-10-20 21:11] pmac commented on #9526
I believe this is done. We'll open some new issues when we're ready to integrate this into the site for real.

[2020-10-20 21:11] #9526 closed

[2020-10-21 07:57] alexgibson commented on #9542
This experiment went live in production yesterday

[2020-10-21 07:57] #9542 closed

[2020-10-21 13:50] rraue commented on #9514
First image on the page: https://drive.google.com/drive/folders/1Jyx-7DxftRWiF5xb7rBJ15R2t5zTXy-Z

Picture down left: https://www.mozilla.org/media/img/firefox/compare/compare-browser-chrome.1562906128bf.png

Picture down right: https://drive.google.com/drive/folders/1Jyx-7DxftRWiF5xb7rBJ15R2t5zTXy-Z

[2020-10-21 13:59] rraue commented on #9518
Missing picture on top: https://www.mozilla.org/media/img/firefox/accounts/trailhead/value-knowledge.194ccb6b5af9.jpg

[2020-10-21 14:16] alexgibson opened #9575 "Ensure version specific behavior works as expected for Firefox 100.0"
## Description

Examples:

- https://www.mozilla.org/en-US/firefox/100.0a1/whatsnew/all/ should show the Nightly /whatsnew page
- https://www.mozilla.org/en-US/firefox/100.0a2/whatsnew/all/ should show the Dev Edition /whatsnew page

It's likely there may be other areas of unexpected behavior, such as

- Release notes URLs
- Detection for Firefox being up to date (via JS?)
- Anything else?

[2020-10-21 14:53] alexgibson opened #9576 "Implement an A/B testing redirect solution for www pages"
## Description

When we migrate to the new CDN, we'll no longer have the ability to run [edge workers](https://github.com/mozmeao/www-workers) for A/B testing redirects.

We're going to need to come up with an alternate solution. Some possibilities include:

1.) A server side redirect mechanism for A/B testing in bedrock.
2.) A lambda solution using Cloudfront.
3.) A client side solution using JS

[2020-10-21 16:25] #9499 closed

[2020-10-21 22:04] pmac opened #9578 "Newsletter preferences page lists "Mozilla Festival" twicee"
## Description

When I inspect the elements though one of them is really for the `mozilla-festival` newsletter, but the other is for `internet-health-report-group`. I'm guessing this must be something that was introduced in #8659.

[2020-10-21 23:06] amychurchwell commented on #9514
Link to first image is the entire folder for me @rraue

[2020-10-22 08:56] rraue commented on #9521
Final copy: https://docs.google.com/document/d/16yJDqxFUqLKAgWTQgjHL6ZE6DaqEwisqLl3ZvQryF_c/edit

[2020-10-22 08:56] #9521 closed

[2020-10-22 09:01] rraue commented on #9514
Sorry @amychurchwell here again:

First image: https://drive.google.com/file/d/1KKuKKEbIXhApBPDwf7okoMmHQBEvD0uh/view?usp=sharing
Picture down left: https://drive.google.com/file/d/1KIHKb2brh9VRV7hn-9Gr7TfPhAKLf90S/view?usp=sharing
Picture down right: https://drive.google.com/file/d/1KVsSaT6IV18HYGOj4DCKRJKvdFySPNZt/view?usp=sharing

[2020-10-22 09:11] rraue commented on #9498
This looks great @amychurchwell

Two things:

1. The download button isnt left aligned with the text, as we usually do it
2. I cant see the structured data on demo. This is not a blocker (could go live without) but important for the success of this page.

[2020-10-22 11:26] Francescaminelli opened #9579 "Need to edit three pages on CPG reporting in Mozilla.org"
Hello @hoosteeno,  I need to make a few minor edits on the following pages. The edits are currently under review, but they should be ready by the end of the week (I will confirm here when they are done) Changes should be carried out by EOD 29/10/2020. (would the change in the English version be reflected on the other languages?)

https://www.mozilla.org/en-US/about/governance/policies/participatio

[2020-10-22 13:18] AlexandraMoga commented on #9578
@pmac I can also see Mozilla Labs twice in the list. One of the entries should actually be the Add-on Developers Newsletter:

![image](https://user-images.githubusercontent.com/31961530/96877279-1ecd3100-1482-11eb-929d-4c0a52d47fe0.png)

[2020-10-22 13:23] alexgibson opened #9580 "Update functional testing docs"
## Description

We should update the bedrock docs to reflect the work that's going to come out of https://github.com/mozilla/bedrock/issues/9453

[2020-10-22 13:36] rraue commented on #9522
One of the things missing in this Design (sorry I didnt catch this earlier) is the subnav of https://www.mozilla.org/en-US/firefox/privacy/ that should include the little book of privacy and should be included on top of this page here as well.

[2020-10-22 13:59] #9578 closed

[2020-10-22 14:34] alexgibson opened #9582 "Daylight banner is missing CSS styles on rest-of-world home page"
![image](https://user-images.githubusercontent.com/400117/96886964-ff330a00-147b-11eb-9d82-462eb56d90d5.png)

I also don't see the banner at all on the french home page:

![image](https://user-images.githubusercontent.com/400117/96887050-170a8e00-147c-11eb-8a39-a555df7aa069.png)

[2020-10-22 14:50] #9582 closed

[2020-10-22 14:53] craigcook commented on #9582
Looks like it hasn't been localized in French yet.

[2020-10-22 16:20] #9522 closed

[2020-10-22 16:57] maxxcrawford opened #9585 "WNP 83: Pocket - Code"
Epic Issue: #9573

Success:

- [ ] Review site
- [ ] Localized to X languages (TBD)

[2020-10-22 16:57] maxxcrawford commented on #9573
Bugzilla release bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1672277

[2020-10-22 17:42] amychurchwell commented on #9514
The page will reflect the "button" style of drop-down menu because that performed the best in CRO tests. There is an issue to back port to protocol, just need to find the time.

[2020-10-22 20:24] maxxcrawford opened #9587 "Remove WNP 79 Files"
## Description

Remove all instances (files, tests, bundles) of Fx79 WNP assets.

---

#### Success Criteria
- [ ] All WNP 79 assets are removed
- [ ] All tests pass without issue

[2020-10-22 20:43] maxxcrawford opened #9589 "Remove WNP 80 Files"
## Description

Remove all instances (files, tests, bundles) of Fx79 WNP assets.

🚨 This issue is blocked by https://github.com/mozilla/bedrock/issues/9573 🚨
---

#### Success Criteria
- [ ] All WNP 79 assets are removed
- [ ] All tests pass without issue

[2020-10-22 21:06] hoosteeno commented on #9579
@Francescaminelli please ping when the copy is done. Our ability to hit any deadline will depend on that.

Meanwhile, can you share a bit more about what's driving the deadline?

[2020-10-23 07:09] glogiotatidis commented on #9453
My work here is done. We will upgrade the runners for speed on Monday, see https://github.com/mozmeao/infra/issues/1359.

@alexgibson good to close? do you need anything else?

[2020-10-23 08:05] alexgibson commented on #9453
Good to close, thanks @glogiotatidis 💯

[2020-10-23 08:05] #9453 closed

[2020-10-23 13:47] Francescaminelli commented on #9579
Hi, thank you for this. I will ping here when I have the copy, The deadline is probably going to be a bit longer than I thought (possibly 2-3 weeks after the copy is ready)

[2020-10-23 15:07] hoosteeno opened #9594 "Epic: Iterate on navigation content"
## Description

We need to iterate on the content of the navigation menu, to be sure it is optimal for UX and discoverability.

The output of this work should be:

1. A new list of top-level nav items, with final copy and icons and their destination
2. A list of pages that need subnav, with final copy and links that should be in subnav
3. Coded nav including those changes

---

#### Success Criter

[2020-10-23 16:31] Francescaminelli commented on #9579
Hi @hoosteeno changes have been approved, and we can go ahead with them. All the links are in [this document ](https://docs.google.com/document/d/1OdUdI59s6ZUx_h_xg_xArkehXfs_eRh_F5vXy9VIwtE/edit). The changes are underlined with track changes. Please let me know if you need any more information, or if something is not clear.

[2020-10-26 10:16] alexgibson opened #9598 "run-integration-tests branch is not working"
## Description

Looks like this is broken because it relied on the now defunked oregon-b cluster. We should move it to GCP.

[2020-10-26 10:46] #9580 closed

[2020-10-26 14:11] rraue commented on #9594
We had a meeting today and decided to explore the following:

1. In the main nav we add in the Dropdown for Browsers and Products another item to get to /browsers/ and /products/
2. On Desktop we will use the existing Subnav to link to pages that need to be linked
2.1. Here is a WIP of pages that need a subnav: https://docs.google.com/spreadsheets/d/1GBLl1q69YEpK2i-BPXefaFVE8DYVNH_n9dsASsm4Iig/edi

[2020-10-26 15:00] #9506 closed

[2020-10-26 15:14] slightlyoffbeat opened #9600 "coding blog refresh."
## Description

Front end work to finish creating this new blog theme

---

#### Success Criteria
This will be tracked on the projects github page:
https://github.com/slightlyoffbeat/foxtail/

[2020-10-26 15:16] hoosteeno commented on #9502
Closed in #9499

[2020-10-26 15:16] #9502 closed

[2020-10-26 15:18] slightlyoffbeat opened #9601 "New name for blog refresh."
## Description

This blog needs a name. Lets work with creative to come up with a name for the blog

---

#### Success Criteria
- [ ] Minimum Viable Brief
- [ ] Shortlist of names
- [ ] Name that is approved by leadership

[2020-10-26 15:43] craigcook commented on #9286
Final copy doc: https://docs.google.com/document/d/1itYgUIVud_i7D69ci93KinVekCDOE-pm5R7vH9bN_Pc/edit

[2020-10-26 16:15] pmac opened #9602 "Have the l10n fluent automation update a PR if one is open instead of always creating new"
## Description

Pretty much what the title says. We should push updates to an existing PR instead of always creating a new one.

[2020-10-26 16:57] alexgibson commented on #9576
Minimum requirements:

- Can redirect a set % of visits to a URL, e.g. /en-US/firefox/new/ -> /en-US/exp/firefox/new/
- Redirect can be toggled on / off via a switch
- % can be updated independently of a production push.

[2020-10-26 17:10] alexgibson commented on #9576
/cc @pmac for thoughts - happy to meet to talk this through if it helps too?

[2020-10-26 17:15] alexgibson opened #9603 "Test jobs sometimes fail with FileExistsError"
## Description

See: https://gitlab.com/mozmeao/www-config/-/jobs/812502093

[code]

@glogiotatidis submitted a fix to pytest-html to address the issue: https://github.com/pytest-dev/pytest-html/pull/354

Once that fix is published in the next release, we can update bedrock's dependency to fix the problem.

[2020-10-26 17:40] #9498 closed

[2020-10-26 17:59] rraue opened #9604 "utm paramater on an internal link"
## Description
On /firefox/ there is an internal link to /lockwise/ with utm parameter that should not have one. Most likely from the time we linked to lockwise.firefox.com.

It is https://www.mozilla.org/en-US/firefox/lockwise/?utm_source=www.mozilla.org&utm_medium=referral&utm_campaign=firefox-home but should be https://www.mozilla.org/en-US/firefox/lockwise/

[2020-10-26 18:25] #9604 closed

[2020-10-26 20:35] pmac commented on #9576
A meeting would be good probably. My first thought is that implementing something in bedrock for a specific test first would be good, and then we can extract the reusable bits from that into a more general purpose solution that can evolve over time. I could see a view base class that could be used for this kind of thing, or even just some helper functions.

[2020-10-26 21:51] #9535 closed

[2020-10-26 22:53] slightlyoffbeat commented on #9579
@Francescaminelli Hello. I can work on this. Can you add dbrown@mozilla.com to the tracked changes docs? The links are read-only, so I cannot see the changes.

[2020-10-27 00:50] maxxcrawford opened #9608 "Deploy latest Protocol to Bedrock"
## Description

The latest version of Protocol includes some revised features (e.g. the sticky card) that we want to use on Bedrock. We should put the [latest version](https://github.com/mozilla/protocol/releases/tag/v12.1.1) of Protocol on Bedrock.

---

#### Success Criteria
- [ ] The latest version of Protocol (`v12.1.1`) is merged into Bedrock and deployed on live production site.

[2020-10-27 08:59] alexgibson commented on #9576
Sent a meeting invite for Wednesday - feel free to arrange a different time if that doesn't work?

[2020-10-27 09:14] Francescaminelli commented on #9579
Done! thank you very much :)

[2020-10-27 09:38] #9608 closed

[2020-10-27 10:09] rraue commented on #8843
I gave this experiment another thought and I think I came up with a slightly imperfect but way easier experiment setup:

- /en-US/firefox/mac/ has a very stable no. 1 ranking and ctr from search because it is so specific.
- The session volume from search for the super specific keyword "firefox for mac" is high enough to run this test in 8 weeks to catch even a 1% change in ctr

Test setup:
- We re

[2020-10-27 10:58] rraue opened #9610 "Add link to pillar page on /releasenotes"
## Description

In https://github.com/mozilla/bedrock/issues/9503 we have build a pillar page for our evergreen content and in order to reduce orphaned pages (we will add more card-links to the pillar page) we need to link the pillar page. Currently our nav system is still evolving and in order to get the page and therefor the linked pages crawled and indexed, we need to set a link to /firefox/mor

[2020-10-27 11:01] alexgibson commented on #9610
Suggest we use some link text that’s slightly more helpful than “More”?

[2020-10-27 11:05] rraue commented on #9610
Haha, yes! Any suggestion? Its a wild mix of pages we havent figured out the right information architecture for. I need it indexed and can't find a better link text. Maybe "More about Firefox"? Not super precise but at the end the page provides a lot of links to knowledge around browsers and all builds of firefox.

[2020-10-27 11:09] alexgibson commented on #9610
Honestly I'm a little confused why we'd add this to /all from a user perspective. I understand we want it indexed, but we should favor users over robots.

Would a page like https://www.mozilla.org/en-US/firefox/more/ not be a good source of additional reading to people landing at https://www.mozilla.org/en-US/firefox/ ?

[2020-10-27 11:17] rraue commented on #9610
I agree completely. We shouldn't have links for robots only (/locale/ might be the only exception) and I don't think the pages is without value (like a category page in a blog isn't without value and still not heavily used). And /firefox/ was my first page to go to as well, but I don't see currently any Text where it makes sense to link to /more (/faq should be linked from /firefox as well and I c

[2020-10-27 11:20] alexgibson commented on #9610
Ultimately I'm ok with putting this on /all if there's really nowhere else. But it feels like we're just adding links for crawlers now in places where users may not find it useful. Imho the focus of the /all page should be helping people get the build they want / need. Pages like /firefox seem to be more for helping people to make up their mind, where evergreen articles like these may be more help

[2020-10-27 11:27] rraue commented on #9610
Then lets do it and I have hope with more and more evergreen content to come (even on the unfck landing page) we will figure out a system that is build for both crawlers and users. Thats the ultimate goal but right now we are too brand and too little information focused on a lot of important pages. /new is a great example of both and I think this is how we will move forward. But in the mean time w

[2020-10-27 11:34] rraue commented on #9610
@alexgibson Another thought on this, what if I sort the pages on more in a different way to reflect better the purpose here. All firefox builds landing pages go to the top, the header links to the faq instead of privacy (with a new title of course, need to think better about it) and after the specific landing pages the compare page and the stuff form the old internet health goes to the bottom?

I

[2020-10-27 11:51] alexgibson commented on #9610
Some form of content hierarchy on that page could be helpful yeah. Right now it feels like a little like a random collection of links where the only common thread is Firefox. Sorting could help, but what might work better are visual groupings with sub headings.

[2020-10-27 11:54] rraue commented on #9610
Will work on it this week ( its on my plate anyways to add all the pages that went and will go live this week).

[2020-10-27 13:09] rraue commented on #9610
Merge only if @justinkropp & @hoosteeno approve

[2020-10-27 13:26] justinkropp commented on #9610
I agree with @alexgibson's observation and suggestion. A little visual hierarchy on the page would go a long way in helping users scan the page more effectively and target what content they are trying to find.

I'm okay with merging this as long as we can revisit once we have the system more fleshed out and can find a more appropriate spot to put `more`.

[2020-10-27 14:18] hoosteeno commented on #9610
I agree we should figure out a better way, long term, to make our entire content catalog discoverable. "Doing it for search robots" is misleading; the need here is more accurately stated as "Doing it for users who use search as their primary navigation tool". And who among us is innocent of that?

Near term, the /all page is OK for this, but we've spent a good amount of time recently making it wor

[2020-10-27 14:30] alexgibson commented on #9610
I think we all understand the importance of how our pages turn up in search results, but I think we also all understand that UX also plays a big part here in the pages we design, and how users navigate them. If a link serves no clear purpose on a page other than to serve crawlers, then that's a problem with our site hierarchy. We should invest time in thinking how to solve that, vs add lots of lit

[2020-10-27 14:52] alexgibson commented on #9555
Chrome (stable) 86, **macOS 10.15.5** with `chrome://flags/#freeze-user-agent` set:

UA: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.0.0 Safari/537.36`

When visiting `/firefox/download/thanks/` I see a message aimed at Windows 10 users. I also get an .exe installer:

<img width="1027" alt="image" src="https://user-images.githubusercontent.com/4001

[2020-10-27 14:59] hoosteeno opened #9612 "Epic: Implement floating promo box"
## Description

When https://github.com/mozilla/protocol/issues/603 lands, we will have the possibility of building floating promotional boxes on content on www.mozilla.org. This card is about operationalizing it. In order to do that, we'll have to:

1. Get the latest Protocol into Bedrock
2. Identify the pages where a promo would work (hint: most of them, except 2 classes of page -- really short

[2020-10-27 15:07] hoosteeno commented on #9612
This issue is the epic/pitch that addresses the comment at https://github.com/mozilla/bedrock/issues/9406#issuecomment-692959396.

[2020-10-27 15:09] alexgibson commented on #9555
I've reached out to someone on the Chrome team to try and find out if they plan to ship the UA string like this, or if this is still subject to change.

[2020-10-27 15:18] alexgibson commented on #9555
Link to the Chromium UA code effected by this flag: https://source.chromium.org/chromium/chromium/src/+/master:content/public/common/user_agent.h;l=19

[2020-10-27 15:27] #9610 closed

[2020-10-27 15:35] alexgibson commented on #9555
Scratchpad for client side API: https://user-agent-client-hints.glitch.me/javascript.html

[2020-10-27 15:40] alexgibson commented on #8440
Timeline for updates: https://www.chromium.org/updates/ua-ch

Scratchpad for client side API: https://user-agent-client-hints.glitch.me/javascript.html

[2020-10-27 16:37] alexgibson opened #9615 "Downloads on /es-AR/firefox/download/thanks/ are broken"
## Description

Downloads on the `/es-AR/firefox/download/thanks/` page are broken.

See: https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/9874280/

### Steps to reproduce

1. ) Visit: https://www.mozilla.org/es-AR/firefox/download/thanks/

### Expected result

A download should occur

### Actual result

A JS error is thrown instead:

[code]

### Environment

Any browser

[2020-10-27 16:42] alexgibson commented on #9615
Looks like this is caused by a malformed string in the localized Fluent file: https://github.com/mozilla-l10n/www-l10n/blob/master/es-AR/firefox/new/desktop.ftl#L176

We should also make the JS fail more gracefully if this type of error occurs.

[2020-10-27 17:18] alexgibson commented on #9615
String has been fixed in Pontoon, which fixes the broken behaviour: https://www.mozilla.org/es-AR/firefox/download/thanks/

Going to keep this issue open, so we can try and make the page JS more resilient to these types of errors.

[2020-10-27 17:41] hoosteeno commented on #9579
@Francescaminelli I neglected to consider the technical debt that this issue will require us to pay down. We implemented a new localization system since this page was last changed, so whenever we next change this page's text, we'll have to migrate it (a significant effort we'll have to find time for, not immediately).

Alternatives:
1. We hold this issue until we can do the migration work
2. We ad

[2020-10-27 19:27] justinkropp commented on #9594
I've spent some time thinking through this from a ux perspective and built a static prototype of how it might feel:

<img width="2002" alt="subnav exploration" src="https://user-images.githubusercontent.com/1461798/97350251-ebfeb080-1866-11eb-9f57-32c85836204c.png">

Placing the sub-nav inside of the primary navigation's drop-down on mobile feels a bit forced (imo) and is asking too much of the us

[2020-10-27 19:48] rraue commented on #9594
I'd like to argue about the seo vs ux statements, **but I think your solution is very solid and a good way to solve our problem.**

My argument is the following: users gave up on navigation because they can search. But search works only with a good internal link/nav structure. So users outsourced nav ux already to google (not much interaction on our nav) and thats why laying out pages that belong

[2020-10-27 20:09] rraue commented on #9594
Only thing left to mention: the list on every page should be editable quite easy, when we code the system so we can add and delete items fast. Especially if we move vpn here that will take a lot of work off our shoulders changing, testing, iterating.

I am pretty excited about this new nav system.

[2020-10-28 09:29] Francescaminelli commented on #9579
Hi, @hoosteeno thank you for letting me know. What would be the timeframe for the migration work?

[2020-10-28 09:33] alexgibson opened #9617 "Send-to-device JS form error when geo lookup times out"
## Description

We're seeing a high number of JS errors from the send to device form from multiple pages on the website (example https://www.mozilla.org/en-US/firefox/welcome/4/)

[code]

https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/9874304/

### Steps to reproduce

This is hard to reproduce, but I've managed to reproduce the error locally under the right conditions. The error occ

[2020-10-28 10:16] alexgibson opened #9620 "Stub Attribution error for Firefox users on Windows"
## Description

Another frequent error we're seeing in Sentry is in the stub attribution script:

[code]

https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/9874302/

### Steps to reproduce

Unclear right now. It seems to happen only to Firefox users. Requires more research.

### Expected result

Either the attribution script should function as expected, or it should fail gracefully.

#

[2020-10-28 12:31] rraue commented on #9523
We should change the og:image on this page, to fit better the content, as the EU team plans some social/pr campaign with it. Instead of the standard one lets take this one: https://drive.google.com/file/d/14p1PLi5zuZKWvnbWnleS6qKy9yjjlAnt/view?usp=sharing

[2020-10-28 13:57] #9602 closed

[2020-10-28 14:51] hoosteeno opened #9621 "Rough estimate of session impact of merging careers into www"
## Description

We'd like to pitch merging careers into www, and have 2 questions about its impacts:

1. What kind of impact might we expect on visits to careers content?
2. Assuming that all the content on careers.m.o is hosted on www, could we expect any impact on sessions visiting e.g. download pages or other acquisition points?

The impact estimates can be *very* rough. This is pre-pitch work.

[2020-10-28 15:07] hoosteeno commented on #9594
This looks good to me. @craigcook how do you like this?

[2020-10-28 16:07] hoosteeno commented on #9594
@rraue @justinkropp Is the content for subnavs final? If not, what needs to happen to make it final?

[2020-10-28 16:57] pmac commented on #9576
We also decided that it should never get the experiment redirect if an `automation=true` parameter is in the URL, as discussed in #8917.

[2020-10-28 17:23] rraue commented on #9594
It's now final: https://docs.google.com/spreadsheets/d/1GBLl1q69YEpK2i-BPXefaFVE8DYVNH_n9dsASsm4Iig/edit

[2020-10-28 21:24] #9615 closed

[2020-10-28 22:08] #9512 closed

[2020-10-28 22:26] #9617 closed

[2020-10-29 04:32] JabbaDesilijicTiure opened #9624 "Misuse of language subtags on mozilla.org"
For long time Mozilla misusing the Chinese language subtags on its website and on the naming of builds.
Example from the source code of https://www.mozilla.org/en-US/firefox/all/:

[code]

The following language subtags should be used:

**T**raditional Chinese: **zh-hant**
**S**implified Chinese:  **zh-hans**

There are many resources from the @w3c where you can read about the language subtags, he

[2020-10-29 09:18] alexgibson opened #9626 "ESLint is not parsing nested folder depth correctly"
## Description

ESLint is parsing Js filed in `/media/js/**/*.js`, but not `/media/js/**/**/*.js`. Looks like an issue in our NPM script.

[2020-10-29 10:44] alexgibson commented on #9624
/cc @rraue and @pmac (look like Django is deprecating `zh-cn` and `zh-tw`)

[2020-10-29 10:52] #9171 closed

[2020-10-29 11:01] alexgibson opened #9628 "Implement a prototype using Client Hints API for replacing bedrock's UA detection"
## Description

Implement a prototype on demo using Client Hints API to provide UA detection required for serving downloads, falling back to User Agent string if not available / for other browsers.

Depends on #9555

---

#### Success Criteria
- [x] Prototype is on demo and available for testing.

[2020-10-29 11:02] alexgibson commented on #8440
Depends on https://github.com/mozilla/bedrock/issues/9628

[2020-10-29 12:43] maxxcrawford opened #9629 "Footer does not respect dark/light mode theme for WNPs without override"
Having a local override for a global component like this makes me nervous. Seems like that ship sailed in 82 though.

_Originally posted by @stephaniehobson in https://github.com/mozilla/bedrock/pull/9588#r513018194_

[2020-10-29 17:12] #9519 closed

[2020-10-29 17:30] JabbaDesilijicTiure commented on #9624
If you want, I can fix mozilla.org but the builds of firefox also should be different.

[2020-10-29 17:52] pmac commented on #9624
I'm sorry you feel that this is a political issue, but I assure you that it is not. These tags have been in use for over 10 years. We can not change the website until the builds of Firefox change since they are tied together for download purposes.

@peiying2 do you know if there is an effort to change this on the browser side? We could change it on the site, but it will not be trivial as this woul

[2020-10-29 18:31] amychurchwell opened #9631 "lint fluent ID names in pull requests."
## Description

In pull requests that add new `.ftl` files we should do a check that these strings begin with the same prefix per the recommended syntax:
[code]

[Localization docs](https://bedrock.readthedocs.io/en/latest/l10n.html#ftl-files)

[We can not change fluent ID's retroactively](https://github.com/mozilla-l10n/www-l10n/pull/125#issuecomment-718936526) without breaking translations and i

[2020-10-29 22:02] #9626 closed

[2020-10-30 12:03] #9516 closed

[2020-10-30 12:04] #9515 closed

[2020-10-30 18:33] #9585 closed

[2020-10-30 20:23] pmac opened #9634 "Remove set_hsts.gif image from templates"
This image was added in #5593 in order to set [HSTS](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security) for the apex domain (mozilla.org) in addition to www.mozilla.org. Our new configuration will mean that this is no longer necessary as we'll be adding the `includeSubDomains` directive to the HSTS header in the redirect responses from the apex domain.

[2020-10-30 21:20] maxxcrawford opened #9636 "WNP 83: Remove FTL file and create second de-* template"
## Description

Remove FTL file and create German l10n HTML file. Add routes to filter by locale.

Add a comment to the line, _"[space to save the magic](https://github.com/mozilla/bedrock/blob/master/l10n/en/firefox/whatsnew/whatsnew-fx83.ftl#L13)"_ with `save the good things you find`

[2020-11-01 18:20] krush11 commented on #8085
I have tried but i didnt find any way to install IE10, only IE11 is available. Also since IE is now upgraded to Edge i dont think this issue has any point

[2020-11-02 09:21] #9634 closed

[2020-11-02 09:36] alexgibson opened #9637 "Platform download button A/B test"
## Description

(Copy/pasting from EU team trello board)

**Page**
https://www.mozilla.org/firefox/new/

**Locales**
de, en-GB, fr

**Analysis**
Almost 1% of all visitors landing on firefox/new goes to one of our other download pages, firefox/all or firefox/browsers/windows-64-bit/.
Since we automatically detect their platform we want to funnel users that want to download Firefox for the exact sys

[2020-11-02 09:45] #9576 closed

[2020-11-02 11:33] rraue opened #9639 "/faq schema data not en only"
## Description

on /firefox/faq/ we included faq schema structured data to test if this will be displayed in search results. The structured data is currently only available in English and therefore should be displayed on en-locales only. But it is included on all locales, see https://www.mozilla.org/de/firefox/faq/:
![Screenshot 2020-11-02 at 12 30 50](https://user-images.githubusercontent.com/367

[2020-11-02 12:42] rraue opened #9640 "Add Download button to /compare detail pages"
## Description

Add a download button below the headline for all non-fx users on all 6 compare detail pages to increase download rate on these pages.

![Screenshot 2020-11-02 at 13 29 50](https://user-images.githubusercontent.com/36700618/97868512-1988a580-1d10-11eb-8526-da0aff3ab1a9.png)

The detail pages currently have >10% worse download rate than the overview page that has a visible download b

[2020-11-02 13:42] alexgibson commented on #9598
@pmac think we might be able to get this one fixed soon? It would come in handy for a few things we've got coming up, such as https://github.com/mozilla/bedrock/issues/9466 and https://github.com/mozilla/bedrock/issues/8917

[2020-11-02 13:51] pmac commented on #9598
Yes. I'll see what I can do about it today.

[2020-11-02 14:01] alexgibson commented on #9636
If this saves some work, it's entirely possible to specify a config for an .ftl file, so that once it goes to Pontoon it will only be exposed for de. An example of such a config can be seen here: https://github.com/mozilla/bedrock/blob/master/l10n/configs/pontoon.toml#L118-L134

[2020-11-02 14:27] alexgibson commented on #9555
Based on the UA strings linked in https://github.com/mozilla/bedrock/issues/9555#issuecomment-717316500, the impact of a UA string freeze in Chrome would be felt almost entirely on Desktop. Chrome on Android would be uneffected.

The main issue(s) as I see it:

- On desktop, Chrome would identify as `Windows` for **all** user agents. This means people trying to download Firefox on macOS or Linux w

[2020-11-02 14:33] alexgibson commented on #9555
@hoosteeno please see my comment above re: the possible effect on MAU. I'm not quite sure how this type of work fits into our new marketing cadence, but it feels important enough not to let slip under the radar.

I'd suggest https://github.com/mozilla/bedrock/issues/9628 is a next possible action.

[2020-11-02 14:58] alexgibson commented on #9321
Looking at our most common JS errors (https://sentry.prod.mozaws.net/operations/bedrock-prod/), I think there's likely some data here that could back up making some changes to the way we bundle our common JS files.

For example:

- User is on an older browser -> browser downloads and parses `common.js` -> An exception occurs somehwere during parsing.
- User then downloads page specific JS bundle -

[2020-11-02 15:04] alexgibson opened #9642 "404 page throws an error if locale relies on old strings"
## Description

https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/9874884/?query=is%3Aunresolved

### Steps to reproduce

1. ) Visit the 404 page for a locale that still relies on the older strings / messaging contained in the template, such as https://www.mozilla.org/el/404

### Expected result

There should be no error in the console.

### Actual result

[code]

### Environment

N/A

[2020-11-02 16:48] #9598 closed

[2020-11-02 16:48] alexgibson opened #9644 "Type error on /firefox/new/ in older Edge browsers"
## Description

Some older versions of Edge (e.g. v15) seem to hit an error on /firefox/new/

[code]

https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/9874825/events/

https://github.com/mozilla/bedrock/blob/master/media/js/firefox/new/desktop/download.js#L160

Suprisingly it seems to support `IntersectionObserver`, but not `forEach` on Node Lists.

[2020-11-02 16:49] rraue opened #9645 "Add named anchors to headlines for LBoP"
## Description

In https://github.com/mozilla/bedrock/issues/9523 we created the little book of privacy page. Social asked if we could add named anchors to the headlines of the page so the team can directly link to parts of the long page

- [ ] Liz to provide a list with headlines (can be just some or all headlines) and the #names for the headlines

[2020-11-02 17:25] rraue commented on #9645
Blocked by names list

[2020-11-02 17:44] justinkropp commented on #9594
Following up on a conversation with @craigcook and @rraue, I looking at affording users an easy way to visit parent pages like `/browsers`, `/products`, etc. Given that the main-nav parent items are clickable, we opted to put this "View All..." link in the drop-down menus. See below for reference.

----

<img width="797" alt="Frame 3" src="https://user-images.githubusercontent.com/1461798/97900783

[2020-11-02 17:46] rraue commented on #9594
Great @justinkropp 👍

[2020-11-02 17:46] justinkropp commented on #9466
@hoosteeno Which marketing leads need to approve this? Or has it already been approved by them.

[2020-11-02 18:21] craigcook commented on #9466
Demo server: https://www-demo1.allizom.org/

Current status: Working my way [through the list](https://docs.google.com/spreadsheets/d/1GBLl1q69YEpK2i-BPXefaFVE8DYVNH_n9dsASsm4Iig/) adding subnavs to pages, hoping to wrap that up and have a PR ready for review in the next day or so. This will be a big PR because it's touching so many pages, and we'll want to test the the nav thoroughly across brows

[2020-11-02 19:17] dougmellon commented on #9644
Do you mind if I take a shot at this?

[2020-11-02 21:06] pmac commented on #9598
it works! https://gitlab.com/mozmeao/www-config/-/pipelines/210817144

[2020-11-02 22:59] dougmellon commented on #9644
Currently working on this.

[2020-11-03 09:55] alexgibson commented on #9637
The following three experiments are ready for code review and QA on stage:

- https://app.convert.com/#/projects/1003343/summary/100310775
- https://app.convert.com/#/projects/1003343/summary/100310769
- https://app.convert.com/#/projects/1003343/summary/100310689

Note: not yet ready to launch on prod (we're waiting on % for each variation from the data science team).

[2020-11-03 09:57] alexgibson commented on #9637
QA checklist:

- Clicking any download button on the page registers as a primary goal.
- Clicking the "Download options and other languages" link registers as a secondary goal.

[2020-11-03 20:36] stephaniehobson commented on #8938
Picking this up. Sorry to open the UI question again but...

I would expect our users to be thinking about their OS not their "installer" and I would not expect someone who wants Firefox for Android to know they need to pick a different "Firefox" out of the "Which browser would you like to download?" list.

Is it possible to switch the fields to be:

Platform: [Android | iOS | MacOS | Windows 32 |

[2020-11-03 21:56] #9640 closed

[2020-11-03 23:30] stephaniehobson opened #9653 "Path being dropped when forwarding to www"
## Description

mozilla.org URLs entered without the www are dropping the path when forwarding to www.

### Steps to reproduce

Click: https://mozilla.org/en-US/firefox/unfck

### Expected result

Go here https://www.mozilla.org/en-US/firefox/unfck

### Actual result

Goes here https://www.mozilla.org/en-US/

### Environment

Firefox Nightly for iOS

[2020-11-03 23:32] stephaniehobson commented on #9653
@pmac is this related at all to the problem we had with firefox.com?

[2020-11-04 02:20] pmac commented on #9653
probably so. the mozilla.org redirector was just moved to the same system, but this should still work. I'll open an issue with them.

[2020-11-04 03:38] pmac commented on #9653
The it team deployed a fix and it looks good to me. Thanks for the quick fix Alan and Scott!

[2020-11-04 03:38] #9653 closed

[2020-11-04 14:12] alexgibson opened #9655 "JS error on MPL pages"
## Description

https://www.mozilla.org/en-US/MPL/

[code]

https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/9874887/events/

[2020-11-04 14:56] alexgibson commented on #9620
See also: https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/9874328/events/

[2020-11-04 16:52] #9636 closed

[2020-11-04 21:27] pmac opened #9658 "Sitemap files being synced in a way that can cause issues"
@rraue brought to my attention today that the sitemap files were out of date. That ended up being a separate issue (addressed in #9656), but a result of fixing that issue was that the files changed size by a decent amount. Once the new files rolled out the servers were serving them truncated. We believe this is due to the files being updated on the k8s host nodes by a daemonset, but referenced wit

[2020-11-04 21:47] pmac opened #9659 "Create a link to Mozilla VPN advisories on the known vulnerabilites page"
Now that the [first advisory for VPN](https://www.mozilla.org/en-US/security/advisories/mfsa2020-48/) has landed, we can add a "Mozilla VPN" link to the "Product Advisories" section of the [known vulnerabilities](https://www.mozilla.org/en-US/security/known-vulnerabilities/) page. This might be a tad tricky because it looks like we'll have to include all of the VPN products under one page (VPN for

[2020-11-04 22:10] slightlyoffbeat commented on #9637
Tested on Mac & browserstack for Windows.
- primary & secondary goals are triggering as expected
- text is inserted into each link
- turned each test on and tested on staging in different browsers.

two notes:
- I don't believe I can test the 4th item in your checklist until traffic redirects are in place.
- I noticed that confidence level needs to be set to 95% for each test (currently 97%)

Othe

[2020-11-04 22:21] slightlyoffbeat opened #9660 "unfck page non FX A/B test"
## Description

**Page**
https://www.mozilla.org/firefox/unfck/

**Audience**
EN non FX

**Test Plan**
https://docs.google.com/document/d/1uS-FqEjbW8fI_OG0cuF5V3uKcvcXa56LSh95QuEFi9U/edit?usp=sharing

**Goal**
Better understand user behavior on this page when we remove additional CTAs. We will measure FX downloads.

[2020-11-04 22:24] slightlyoffbeat opened #9661 "vpn.mozilla.org A/B test: adding price to CTA"
## Description

**Page**
vpn.mozilla.org

**Audience**
EN

**Test Plan**
https://docs.google.com/document/d/15PCMG4qatsMvrZKkjcqo8pV71-b0li3I8tfEJKQliso/edit?usp=sharing

**Goal**
Test if being more up front with pricing will result in more completed purchases

[2020-11-04 22:25] slightlyoffbeat commented on #9661
Test is created: https://app.convert.com/#/projects/10031066/summary/100310808

[2020-11-04 22:26] slightlyoffbeat commented on #9661
Test has approval from legal.

There is one CSP issue because test images are served from mozilla.org. Working with product team to resolve. Otherwise, this is good to test.

[2020-11-04 22:32] slightlyoffbeat commented on #9661
QA checklist:

- [ ] "Try" is changed to "Get" in CTAs
- [ ] all links to /r/vpn/subscribe has correct UTM parameters added
- [ ] V1 has price added to primary CTA in hero. Also has refund disclaimer under the main CTA
- [ ] V2 has refund disclaimer under the main CTA
- [ ] Primary goal is triggered (clicking on one of the get CTAs)
- [ ] Audience is set up correctly
- [ ] FAQ items expand correct

[2020-11-05 09:04] alexgibson commented on #9555
Going to close this and move https://github.com/mozilla/bedrock/issues/9628 to the ready column.

[2020-11-05 09:04] #9555 closed

[2020-11-05 12:31] hoosteeno commented on #9628
Let's pitch this here: https://trello.com/c/u6t9j76x/129-prototype-ua-string-replacement

[2020-11-05 14:50] #8917 closed

[2020-11-05 14:59] sp-007 commented on #6221
i want to work on this can you help me out

[2020-11-05 15:09] alexgibson commented on #9637
Thanks @slightlyoffbeat - I updated the confidence levels as you suggested. We plan to launch this on Monday, so I think we're all set.

[2020-11-05 15:17] alexgibson opened #9665 "Improve ARM64/Aarch64 detection on Windows?"
## Description

A while back we enabled ARM64 / Aarch64 download on Windows in: https://github.com/mozilla/bedrock/issues/9117

This change was tested and verified by Firefox QA in: https://jira.mozilla.com/browse/PI-722

However I came across a few user agent strings today that don't seem to be covered in our detection, such as: https://user-agents.net/string/mozilla-5-0-windows-nt-10-0-arm64-rm-

[2020-11-05 16:54] #9639 closed

[2020-11-05 19:54] hoosteeno opened #9666 "Migrate CPG pages to Fluent (by end of Nov.)"
## Description

In #9614 we are changing strings on CPG pages. We need those pages to be migrated to Fluent. We need it all done in November.

---

#### Success Criteria
- [ ] Pages touched by #9614 are migrated to Fluent and those changes are merged/live.

[2020-11-05 22:35] stephaniehobson commented on #9661
Review feedback:

-There's a console.log statement in the JS for both experiments
-For V1 I'm not seeing the refund disclaimer under the main CTA:

![Screen Shot 2020-11-05 at 14 10 08](https://user-images.githubusercontent.com/854701/98303395-e09c3b00-1f72-11eb-9f00-a5b20edf8c44.png)

Other thoughts:

- The audience is set up correctly according to the experiment doc but I don't see Australia on

[2020-11-05 22:51] slightlyoffbeat commented on #9660
Ready for review: https://app.convert.com/#/projects/1003343/summary/100310891

[2020-11-05 23:02] slightlyoffbeat commented on #9661
Thank you @stephaniehobson

If an unsupported locale visits, they will simply get the regular page without any convert page injected. I believe for australia, they will receive a notice to join a waitlist to be notified when it will be available for them.

We discussed on slack, but to keep a record here: It was decided to add the disclaimer to V1 as well. This isn't currently reflected on the tes

[2020-11-05 23:07] slightlyoffbeat commented on #9660
QA checklist:

- [ ] double check audience and distribution settings against test plan
- [ ] check that goals are coming through on live report
- [ ] check code. V2 is more changes than the usual test, and requires extra attention
- [ ] make sure FX gets normal page and nonFX gets modified page
- [ ] test on mobile

[2020-11-06 01:01] stephaniehobson commented on #9660
- All the right goals are being tracked. The primary goal is related to share links and I think the primary goal of this experiment is downloads.
- The code for V1 is working but could be simplified to `.mzp-c-hero ~ * {display: none;}` (if there's a benefit to simplifying, there's also a benifit to not messing with something that's working fine.)
- V2 App Store button not being logged when I trig

[2020-11-06 01:11] slightlyoffbeat commented on #9661
Pull request is in to fix CSP issue with test images:

https://github.com/mozilla-services/guardian-website/pull/971

[2020-11-06 01:26] slightlyoffbeat commented on #9660
Thanks.

I'm always for simplification, so I went ahead and used your suggestion.

V2 app store button is responsive, redirecting correctly and is triggering a goal or me on my android phone (chrome) and my ipad pro (safari). I have a few more people with iphones to help test tomorrow.

[2020-11-06 09:55] alexgibson commented on #9628
Some notes based on testing the prototype linked above:

On my 64bit Windows10 laptop, I have the following client hints available to me:

[code]

What's interesting is there's nothing in the `Sec-CH-UA-Arch` field to signal that I'm on a 64bit machine. For Windows this likely won't be a problem, since we rely on the stub installer to detect 64bit machines. For Linux users, this may be a problem h

[2020-11-06 09:58] alexgibson commented on #9628
So far I can confirm the following:

- MacOS is being detected sucessfully, and the correct binaries are served on download.
- Windows is being detected successfully and served the right files too.
- Windows version 10 is being detected successfully on /thanks (installer help message is visible)

[2020-11-06 10:02] alexgibson commented on #9628
I also have no way of telling what informartion is given for ARM64 on Windows.

[This article](https://web.dev/user-agent-client-hints/) suggests we may need to check for `ARM64` in the `Sec-CH-UA-Arch` field, but we'd need to be able to verify it somehow. Obtaining a device for testing will probably be the easiest method here.

[2020-11-06 15:05] alexgibson opened #9670 "Implement Convert on /de/ and /fr/ unfck landing pages"
## Description

Convert is already on the en-US page, but not de or fr.

---

#### Success Criteria
- [ ] Convert is on both page locales behind separate switches

[2020-11-06 15:07] alexgibson opened #9671 "Update Instagram link on /de/ unfck landing page"
The Instagram account name has changes, so we need to update the link to: https://mzl.la/UnfckTheInternetInsta

[2020-11-06 19:14] stephaniehobson commented on #9661
This is looking good. Launch at will once the CSP issue is fixed. R+ 💵

[2020-11-06 20:01] stephaniehobson commented on #9660
Had a more through look at the V2 code complicated as it is it's working well 🔥

Dan and I are talking about the the mobile goals showing up on the live report in Slack.

[2020-11-06 21:40] amychurchwell commented on #9642
Fixed in #9654

[2020-11-06 21:40] #9642 closed

[2020-11-07 00:22] stephaniehobson commented on #9660
After more testing: the mobile goal reporting is working properly, observed hiccups were because returning visitors and duplicate goal achievements are not logged.

So R+ 🧪

[2020-11-07 18:59] #9671 closed

[2020-11-09 10:01] #9644 closed

[2020-11-09 14:23] alexgibson commented on #9637
These experiments are now live in production

[2020-11-09 14:23] #9637 closed

[2020-11-09 16:10] slightlyoffbeat commented on #9568
https://www.figma.com/file/hRaITcz2Cnwyd2gBFZPD0i/Firefox-Content-Hub-Copy?node-id=2149%3A10

@justinkropp delivered a set of updated components. Linked above.

[2020-11-09 17:29] skrelnick23 commented on #9573
PR has merged! Site is here: https://www-dev.allizom.org/en-US/firefox/83.0/whatsnew/all/

[2020-11-09 20:30] #9658 closed

[2020-11-09 22:55] #9573 closed

[2020-11-10 10:54] alexgibson commented on #9628
Demo branch is here: https://github.com/mozilla/bedrock/pull/9669

I'm going to close this as done, and write up some notes / recommendations in https://github.com/mozilla/bedrock/issues/8440

[2020-11-10 10:54] #9628 closed

[2020-11-10 13:08] alexgibson commented on #8440
Ok, I've done the research detailed in #9555 and #9628.

Based on those issues I recommend the following:

- We keep an eye on Google's progress in https://www.chromium.org/updates/ua-ch, with an aim to migrating bedrock to use Client Hints some time in 2021 (assuming Google continue to move forward with the change).
- Unless Chrome's frozen UA string definitions change between now and rollout, we

[2020-11-10 13:22] alexgibson commented on #9620
I've been trying to figure out the cause of this error and the one thing that seems consistent is this happens in nearly all cases to Firefox users when viewing in-product URLs such as /whatsnew, /welcome, and /privacy:

https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/9874302/events/

Geography seems to suggest this could be an error caused by scripts timing out (possibly on slow con

[2020-11-10 13:27] hoosteeno commented on #9620
If sessions starting on the whatsnew page leave the whatsnew page and, in the same session, go to a page that's part of a download funnel, will they get stub attribution code? In other words, would the impact of removing this code from whatsnew be that we never attribute to whatsnew, but only for pages that have a download button on them?

That seems OK.

[2020-11-10 13:30] alexgibson opened #9677 "Migrate /firefox/windows, /mac, /linux to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/windows/
https://www.mozilla.org/en-US/firefox/mac/
https://www.mozilla.org/en-US/firefox/linux/

---

#### Success Criteria
- [x] Pages are using Fluent in production along with existing migrations.

[2020-11-10 13:46] alexgibson commented on #9620
Correct. Stub attribution would still occur once they navigated to a non-in-product page, such as a download / landing page. With that in mind, yeah I think removing these pages from stub attribution is probably ok in terms of data impact 👍

[2020-11-11 12:01] alexgibson opened #9680 "Add Web Vitals data to analytics"
## Description

Google now have a JS library for measuring the core Web Vitals metrics from real user page visits, with an API that makes it easy to push this data into GA/Datastudio (or any other analytics endpoint). This could be a potential replacement for the [performance dashboard](https://mozmeao-perf-dashboard.netlify.app/), and would also give real user data instead of relying on emulated

[2020-11-11 12:01] alexgibson commented on #9680
/cc @rraue

[2020-11-12 09:32] alexgibson opened #9682 "Prototype vary on template A/B test helper"
## Description

In https://github.com/mozilla/bedrock/issues/9576 we prototyped a server-side solution that performs A/B test URL redirects for a % of traffic to the /firefox/new/ page. Whilst it seems to work pretty well, one of the problems we hit with that solution is that we needed to remove the CDN caching on certain locales (whilst an experiment is running), in order to maintain query parame

[2020-11-12 09:32] alexgibson commented on #9682
/cc @pmac (we probably don't want to try this until the current experiment has ended)

Also cc @rraue for visibility / input

[2020-11-12 10:07] #9670 closed

[2020-11-12 15:55] alexgibson opened #9684 "Migrate nightly/firstrun page to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/nightly/firstrun/

---

#### Success Criteria
- [ ] Page uses Fluent in production along with existing migrations

[2020-11-12 21:41] #9193 closed

[2020-11-12 23:52] stephaniehobson opened #9688 "JS error on /new in Firefox < 6.0"
[code]

https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/9874754/

[2020-11-12 23:52] stephaniehobson commented on #9688
I traced this to `document.querySelector('.join-firefox-content');` in join-modal.js

I suspect the problem is related to support for `querySelector` though, docs say it should be supported after Firefox 3.5.

[2020-11-12 23:55] stephaniehobson commented on #9688
@alexgibson Should we update the `createModal()` code in Protocol to handle this case gracefully? We can check if `content` exists before proceeding with the function but I'm not sure what to do if it's not found. Halt execution? Throw a custom error message? Proceed to the callback? (probably not?)

[2020-11-13 00:40] stephaniehobson commented on #9655
Going to solve this one in Protocol: https://github.com/mozilla/protocol/issues/643

[2020-11-13 08:48] alexgibson commented on #9688
@stephaniehobson yeah, I'm undecided if it's worth updating Protocol for this. But if it was to do anything, I'd perhaps side with throwing an error? For bedrock (which has some feature detection helpers for older browsers), I think we can probably run this "join firefox" modal as a form of progressive enhancement, and older Firefox browsers can just get a download (which seems like the thing they

[2020-11-13 09:09] #9620 closed

[2020-11-13 11:38] alexgibson commented on #9579
Depends on https://github.com/mozilla/bedrock/issues/9666

[2020-11-13 12:08] alexgibson opened #9690 "Mozilla.UITour is undefined"
## Description

[code]

Quite a frequent error on our /whatsnew pages: https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/9874330/events/

This is likely caused by slow connectivity, but something we can likely fail more fracefully with.

[2020-11-13 18:31] stephaniehobson commented on #9612
https://github.com/mozilla/bedrock/pull/9441 will add a promo to firefox, firefox/new and firefox/browsers. It shows products to exiting Firefox users and a download prompt to non-Firefox users.

[2020-11-16 15:55] alexgibson opened #9691 "Migrate /firefox/browsers/windows-64-bit/ to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/browsers/windows-64-bit/

---

#### Success Criteria
- [ ] Page is updated to use Fluent in production along with existing migrations.

[2020-11-16 15:57] alexgibson opened #9692 "Migrate /firefox/browsers/best-browser/ to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/browsers/best-browser/

---

#### Success Criteria
- [ ] Page is updated to use Fluent in production along with existing migrations.

[2020-11-16 15:58] alexgibson opened #9693 "Migrate /firefox/browsers/browser-history/ to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/browsers/browser-history/

---

#### Success Criteria
- [ ] Page is updated to use Fluent in production along with existing migrations.

[2020-11-16 16:01] #9688 closed

[2020-11-16 16:34] alexgibson opened #9694 "Migrate /firefox/browsers/what-is-a-browser/ to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/browsers/what-is-a-browser/

---

#### Success Criteria
- [ ] Page is updated to use Fluent in production along with existing migrations.

[2020-11-16 17:52] Francescaminelli commented on #9579
Hi, could I know if the changes could still happen in time? Thank you very much!

[2020-11-16 17:56] alexgibson commented on #9682
The A/B test in https://github.com/mozilla/bedrock/issues/9637 has ended, so this is unblocked.

I've added another suggestion that we should make this a helper that's easy to use on any URL, as I'm not yet sure on which page the next experiment will be.

[2020-11-16 17:59] pascalchevrel opened #9695 "Add an img tag pointing to firefox.com in mozilla.org template"
## Description
A recent HSTS change on firefox.com caused issues for some of our users (https://bugzilla.mozilla.org/show_bug.cgi?id=1666072). The server configuration was fixed and a client-side fix is in nightly to avoid future breakage  but it is too late and risky to uplift it in a release build a few hours before shipping 83.
We need to reset the HSTS value for firefox.com in our users cache

[2020-11-16 18:00] pascalchevrel commented on #9695
@alexgibson @pmac see ^

[2020-11-16 18:42] #9695 closed

[2020-11-16 19:26] pmac commented on #9318
Sorry I missed this. I'm looking into it now. It seems to be due to how the site tries to figure out which releases are ESR for history purposes.

[2020-11-16 19:52] pmac commented on #9318
Ah! It's because of this:

https://github.com/mozilla/bedrock/blob/9546aabcbcbf046f2fe52d00c447f723a414240e/bedrock/releasenotes/views.py#L160-L164

The site is trying to find an ESR release every 8 releases since Fx 60 and it seems that's no longer the cadence.

[2020-11-16 19:53] pmac commented on #9318
Not sure why we have to do that since every ESR and dot release is in https://product-details.mozilla.org/1.0/firefox_history_stability_releases.json

[2020-11-16 19:54] mkaply commented on #9318
We actually had similar code in Firefox that had to be worked around as well...

[2020-11-16 20:10] hoosteeno commented on #9579
@amychurchwell are we on track for finishing #9666 this week so we can release CPG changes before EOM?

[2020-11-16 20:53] amychurchwell commented on #9579
@hoosteeno yes 👍

[2020-11-17 00:53] #9466 closed

[2020-11-17 09:31] alexgibson commented on #8937
Fixed by https://github.com/mozilla/bedrock/pull/9650 🎉

[2020-11-17 09:31] #8937 closed

[2020-11-17 09:41] Francescaminelli commented on #9579
Great, thanks!

[2020-11-17 13:41] pmac commented on #9682
Will this need to support more than one variation template at a time for a locale?

[2020-11-17 14:25] alexgibson commented on #9682
I think it's possible that we would want to test more than one variation at a time yes

[2020-11-17 14:28] alexgibson opened #9698 "Unfck landing page updates for German"
## Description

https://www.figma.com/file/w548NlWIvHvEU0igul9U2H/UNFCK-LP-Redesign?node-id=61%3A168

[2020-11-17 15:09] alexgibson opened #9699 "Update social icon links in footer for EU locales"
## Description

DE:
- https://www.instagram.com/unfcktheinternet/
- https://twitter.com/firefox_DE

FR:
- https://twitter.com/firefox_FR

[2020-11-17 16:26] alexgibson opened #9700 "Watched file changes are sometimes not picked up when running bedrock locally"
## Description

Intermittently I'm seeing SCSS / JS file changes not being picked up by our watch task when running bedrock locally. So far I haven't been able to identify any obvious error in our [code](https://github.com/mozilla/bedrock/blob/master/gulpfile.js), which makes me wonder if we're hitting some sort of memory / watched fle limit silently. Needs investigation.

[2020-11-17 17:37] rraue opened #9701 "Title of /firefox/mac/ with typo"
## Description

The title is `Download Mozilla Firefox for Mac - Free Web Browser }}— Mozilla` and the two } shouldn't be there.

[2020-11-17 17:49] #9701 closed

[2020-11-17 23:57] stephaniehobson opened #9704 "Update links to point to new sync page"
## Description

Update the "sync between devices" link on the firefox/feature pages to go to the new /firefox/sync page.

---

#### Success Criteria
- [x] firefox/features/index.html updated
- [x] firefox/features/includes/features-content.html updated

[2020-11-18 00:11] stephaniehobson opened #9705 "Remove Focus from safebrowser page"
The paragraph on Firefox Focus should be removed from https://www.mozilla.org/en-US/firefox/features/safebrowser/

[2020-11-18 02:43] #9705 closed

[2020-11-18 19:46] stephaniehobson commented on #9612
Here is a spreadsheet (Mozilla staff only) of options for places to add promos and what to promote: https://docs.google.com/spreadsheets/d/1zTqVida6kc7vbu9Uujb09v9QGMBvHRQtFsL_GZD7LDU/edit#gid=0

[2020-11-18 19:52] hoosteeno commented on #9612
This is such a good start, @stephaniehobson . Thanks!

When you look at the list of places we could put a promo box, and the variety of things that could be in the box, do you see ways we could enable it via some system, rather than with on-page code? And, if so, do you think we need 1+ issues about that system as part of this epic?

[2020-11-18 20:16] stephaniehobson commented on #9612
I think that we can systematize adding the promo. But, since each page needs different content we can't configure that globally. (But, we can do that in a reusable way with a macro).

We could also move quickly to add a Non-Fx Desktop only promo to any page where that's appropriate and then follow behind more slowly adding the custom content for the current users. (or... just... not add things for

[2020-11-18 21:31] #9318 closed

[2020-11-18 22:20] pmac commented on #9318
The fix has been deployed to our [dev server](https://www-dev.allizom.org/en-US/firefox/releases/) and it's looking good. Let me know if you see any more issues and I'll fix them in a follow up.

[2020-11-18 23:33] #9704 closed

[2020-11-19 12:57] rraue opened #9712 "Add download buttons for non-fx user"
## Description

We added a download button for non-fx users on the detail compare pages and it increased the download rate by 17% (2p.p). We should do this for the following pages as well, just directly after the headline:

- https://www.mozilla.org/firefox/browsers/update-your-browser/
- https://www.mozilla.org/firefox/browsers/what-is-a-browser/
- https://www.mozilla.org/firefox/browsers/incogni

[2020-11-19 13:38] #9691 closed

[2020-11-19 14:28] alexgibson commented on #9603
It looks like v3.0.0 has been published, so we can hopefully fix this: https://pypi.org/project/pytest-html/

[2020-11-19 18:55] hoosteeno commented on #9579
Hi @Francescaminelli , the localization team [found a string that needs clarification](https://github.com/mozilla-l10n/www-l10n/pull/133#discussion_r526512922) in the "how to report" doc.

Can you please respond here with a clearer sentence for us to use in place of that one?

[2020-11-19 19:41] pmac commented on #9318
This is now in prod and looks good to me. Thanks again for the nudge, and for your patience. https://www.mozilla.org/en-US/firefox/releases/

[2020-11-19 19:45] mkaply commented on #9318
Thank you!

[2020-11-20 02:03] slightlyoffbeat opened #9716 "Send traffic to new convert.com test on /firefox"
This test is approved, reviewed, and ready to have traffic sent to it.

Audience: Mobile only, Android only, en-us
Traffic (given audience above): 72%

Full Test Plan:
https://docs.google.com/document/d/16W-gpAmN4ZE7WIYiUh3ux1-GisF_0VYrH-qqkVr4RZI/edit?usp=sharing

Test Link:
https://app.convert.com/#/projects/1003343/summary/10037932

[2020-11-20 02:04] slightlyoffbeat commented on #9716
@pmac @alexgibson Hello! Do either of you have the bandwidth to help with this?

Let me know if/when this happens and I'll turn the test on.

[2020-11-20 09:06] alexgibson opened #9717 "Refine sticky promo behaviour"
## Description

In https://github.com/mozilla/bedrock/issues/9406 we added a sticky promo to some of the /firefox pages. One minor user issue that came to light during code review was that the promo creates a blind spot once you scroll to the bottom of a page, forcing you to close the promo in order to see what's there. To get around this we made the promo hide beneath the global page footer on sc

[2020-11-20 10:09] Francescaminelli commented on #9579
Hi, thank you for letting me know. I am confirming the changes needed to that sentence and I hope that I can back at you in a few hours.
Unfortunately, I did not check the whole document, but only added the changes needed due to the changes in reporting system. Can you confirm that the three pages will not be changed at all (from the original published page) apart from the changes I underlined wit

[2020-11-20 14:14] pmac commented on #9716
This sounds like we'd need to do it in Traffic Cop. Sound right @alexgibson?

[2020-11-20 14:15] pmac commented on #9716
Note: this is for the `/en-US/firefox/` URL.

[2020-11-20 14:31] alexgibson commented on #9716
Doing these types of redirects client side are probably my least preferred option, but I'm not sure if we have any other methods available right now? What's the status with the CDN, can we still use cloudflare workers?

[2020-11-20 14:46] pmac commented on #9716
We can do them server side but I don't know that we have the tools ready to go to send only mobile android traffic. If we do we could do basically the same thing we did with the recent `/firefox/new/` experiment. The CDN issue is still not fully resolved AFAIK.

[2020-11-20 14:54] alexgibson commented on #9716
When we we're redirecting using cloudflare we always just redirected a set % of traffic. Redirecting based on user agent was a feature we had not yet implemented. In order to do something like the criteria above we'd need to write something custom, so maybe TC is the easiest bet for now - but it's really going to hurt performance doing a client side redirect and then also loading Convert 😫

[2020-11-20 16:26] #9698 closed

[2020-11-20 17:22] hoosteeno opened #9719 "WNP84: Use WNP82 for WNP84 users. 84 lands 2020-12-15."
## Description

We want to reuse WNP82 for WNP84 users. **84 lands 2020-12-15.**

This is a straightforward effort:

#### Tasks
- [ ] Activate WNP82 template for WNP84 requests
- [ ] Coordinate with l10n team (no l10n should be needed)
- [ ] Coordinate with QA team to validate...
* Target market experience
* Out-of-market experience
* Chinese IP experience

82 Bug here: https://bugzilla.mozilla.or

[2020-11-20 19:11] amychurchwell commented on #9579
@Francescaminelli no worries at all!

Part of the localization process is adjusting grammar/phrasing for the most clarity for translation. These preexisting issues came up as we move these pages over to the Fluent system. There are a couple outstanding issues on [/policies/participation](https://github.com/mozilla-l10n/www-l10n/pull/138) and [/governance/policies/reporting](https://github.com/mozi

[2020-11-20 19:46] hoosteeno opened #9721 "Replace data attribute on sticky promo box"
## Description

The download button on the new sticky promo box has a download location of `other`:

https://github.com/mozilla/bedrock/commit/2cebfd9a092aacd1abf504b1e82f77425e8eac25#diff-bc737588539f2f59d1b6f56974cdd847c6cee9d49f676d95bb06958532c46bd4R11

We should make this `sticky-promo-box`.

---

#### Success Criteria
- [ ] Improved data attributes live in production

[2020-11-20 23:18] stephaniehobson commented on #9612
[Here's a pitch](https://docs.google.com/presentation/d/1zvJ-02NoXdmqCgw77TnP8GVdONYyUWITmyWfAd-3UP8/edit#slide=id.ga2fdac9f2d_0_0) to do the quick work. (Mozilla only)

[2020-11-30 09:36] #9699 closed

[2020-11-30 09:49] #8938 closed

[2020-11-30 09:58] alexgibson opened #9724 "A/B test page header on EU unfck landing pages"
## Description

https://www.figma.com/file/w548NlWIvHvEU0igul9U2H/UNFCK-LP-Redesign?node-id=61%3A168

---

#### Success Criteria
- [ ] Experiment is configured via Traffic Cop.

[2020-11-30 16:23] slightlyoffbeat commented on #9434
This has been reviewed and is ready to go.

We need a way to funnel EN_US/Android traffic to this site.

[2020-11-30 16:24] hoosteeno commented on #9579
@Francescaminelli we are blocked on this until we hear from you about the strings that @peiying2 highlighted. Do you need anything from us on this?

[2020-11-30 16:25] #9719 closed

[2020-11-30 16:26] hoosteeno commented on #9661
@slightlyoffbeat can you update with present blocker?

[2020-11-30 16:28] hoosteeno commented on #9474
@rraue can you add the latest docs as links here?

[2020-11-30 16:29] hoosteeno opened #9726 "migration for blog refresh."
@slightlyoffbeat can you flesh this out?

[2020-11-30 16:30] rraue commented on #9474
Here is the implementation tec spec from Adswerve: https://docs.google.com/presentation/d/1KufGHgp6dwIkE-7F1ythcISPTzR8xJdXXfLuz9sRSJI/edit#slide=id.p

[2020-11-30 16:30] #9474 closed

[2020-11-30 16:41] hoosteeno commented on #9434
We need to figure out the best way to launch this.
* Create server-side experimental features that vary template based on some segment?
* Send all traffic and segment?
* Send a portion of all traffic and segment?
* Client-side redirect via TrafficCop to Convert
* Rebuild in TrafficCop?
* Other?

@alexgibson @slightlyoffbeat @amychurchwell can you huddle and discuss?

[2020-11-30 16:48] alexgibson commented on #9434
Given that we don't have a good solution right now server-side, I'd wager that @amychurchwell's suggestion of rebuilding this experiment in Traffic Cop might be the path of least resistance to getting this experiment running. The downside of that is we would lose Convert's built in reporting, and instead need to lean on data science for reporting.

[2020-11-30 16:52] Francescaminelli commented on #9579
Hi, I clarified the one unclear sentence. Regarding the other issues, I am waiting to hear back. Thank you for this.

[2020-11-30 16:56] maxxcrawford opened #9727 "State of Mozilla 2019-2020"
## Description:

Create new State of Mozilla page for 2018 following format of previous years (URL structure and content layout).

Final URL: https://www.mozilla.org/foundation/annualreport/2019/

Additional content items:

- [ ] 2019 Audited financial statement (PDF)
- [ ] 2019 Form 990 (PDF)

---

#### Success Criteria
- [ ] Launch/live on Monday, Dec 7th
- [ ] Approved Copy
- [ ] Approved Code

[2020-11-30 17:06] alexgibson opened #9728 "Sticky promo product logos should have explicit width and height attributes"
## Description

Picked up in Lighthouse report for https://www.mozilla.org/en-US/firefox/new/

We should add explicit `width` and `height` attributes to help improve CLS scores.

https://www.webpagetest.org/lighthouse.php?test=201126_DiWB_0815e50aded186da78817b56de3b2a5f

[2020-11-30 18:06] duallain opened #9729 "assets.mozilla.net 404 page could be improved"
## Description

The 404 page for assets.mozilla.net is not very user friendly.

### Steps to reproduce

1. Go to a page that doesn't exist (for example: https://assets.mozilla.net/annualreport/2019/notrealdoc)
1. see the ugly, no error.html page exists

### Expected result

We should return a custom error page that we like. (Could be as simple as `<h1>404</h1>`, but something we're reasonably happ