[2018-12-19 23:03] amychurchwell commented on #6604
@rraue & @claychaffin would you be able to provide meta title and description?

[2018-12-20 01:09] ejregithub commented on #6604
@rraue - Chelsea quoted you as saying "They are supposed to be exactly as the firefox/new page just different in the headline, title, and the three bullet points below the cta."

Can you confirm that meta title and description should be the same as /new or should be throw in some operating specific (Windows in this case) flair?

From /new:
<meta property="og:title" content="Download the fastest Fi

[2018-12-20 15:21] rraue commented on #6604
The title of new is currently "Download Firefox — Free Web Browser — Mozilla" and should be adjusted on this page:

title for /firefox/windows/: Download Mozilla Firefox for Windows — Free Web Browser

Same for the description: Download Mozilla Firefox for Windows, a free Web browser. Firefox is created by a global non-profit dedicated to putting individuals in control online. Get Firefox for Wind

[2018-12-20 16:08] amychurchwell opened #6643 "Replace modal with app buttons for mobile on firefox/mobile/"
I think it could be easier for mobile users if we replaced the green modal button with the app store button instead.

![screen shot 2018-12-19 at 1 21 24 pm](https://user-images.githubusercontent.com/30483988/50248782-01fcd980-0391-11e9-80c6-cc9325fc9636.png)

![screen shot 2018-12-19 at 1 15 01 pm](https://user-images.githubusercontent.com/30483988/50248845-307ab480-0391-11e9-909e-bb92e29860ab.pn

[2018-12-20 21:36] #6479 closed

[2018-12-20 23:14] #6616 closed

[2018-12-21 01:35] ejregithub commented on #6584
@craigcook / @amychurchwell - when you're done tasks currently in progress, please pick this up as the highest priority task - it's up for grabs to the first person free.

[2018-12-21 13:22] alexgibson commented on #6471
Thanks @dzingeek 👍

[2018-12-21 16:42] craigcook opened #6647 "Update home page card"
MJ requested via Slack to replace Card 5, currently "Six tips for safer online shopping," with a timely blog post for the holidays.

TAG =  SECURITY
IMAGE = https://blog.mozilla.org/internetcitizen/files/2018/12/home_holidays-1400x770.png
TITLE = Holiday tech support tips
BLURB =  Earn some tech savvy points with your family. It's the 2018 version of programming your parents' VCR while you're home

[2018-12-21 16:53] #6647 closed

[2018-12-22 05:16] elin-moco commented on #6084
@pmac @rraue

Take Firefox Lite (Android) for example, it's limited to certain countries,
because it's designed with specific needs for some Asia countries.
If users in other countries goes to the Google Play page, they will see error page, or not being able to download Firefox Lite.

So we can't find a place to talk about Firefox Lite in India right now,
because 99% of India traffic goes to en-US

[2018-12-23 22:16] gene1wood opened #6651 "Differing trademarks email addresses used"
PR #6059 uses differing email addresses for trademark-permissions. I suspect one of these is correct and the others should be fixed but I'm not sure which one is right.

* [licensing.html uses `trademark-permissions@mozilla.org`](https://github.com/mozilla/bedrock/blob/b13e0f962ee4e131daf94e8ce4a43ff27e538fc5/bedrock/foundation/templates/foundation/licensing.html#L48-L49)
* [distribution-policy.ht

[2018-12-24 00:00] pmac commented on #6084
@peiying2 thoughts on the above? I've often thought that en-IN would be a good one to support, but I'm not sure if it's something the l10n community would support.

@elin-moco even if we did get en-IN however that wouldn't guarantee that it was people viewing the page in India, so I think we'd still need geolocation like we're discussing in this issue.

[2018-12-26 15:44] gene1wood commented on #6651
@amychurchwell Actually #6059 doesn't fix this issue as this issue speaks to the differing email addresses used, not the incorrect `mailto:` link (that #6059 fixes). You probably want to re-open this issue.

[2018-12-26 15:56] amychurchwell commented on #6651
@gene1wood Thank you. Must still be sleepy from holidays. 🙂
I am also not entirely sure which one is correct, but I will try and track down an answer.

[2018-12-26 16:03] gene1wood commented on #6651
@amychurchwell actually I just happened upon the answer (I needed to email that trademark email address which is what started this odyssey in the first place). When emailing the .org I get back

So I think that means the .com is the right address

[2018-12-26 16:04] gene1wood commented on #6651
Which means [`licensing.html`](https://github.com/mozilla/bedrock/blob/b13e0f962ee4e131daf94e8ce4a43ff27e538fc5/bedrock/foundation/templates/foundation/licensing.html#L48-L49) is the file that needs to be fixed.

[2018-12-26 16:05] amychurchwell commented on #6651
@gene1wood Will have a PR up shortly. Thanks for the catch!

[2018-12-26 16:43] #6651 closed

[2018-12-26 17:04] ejregithub commented on #6605
title for /firefox/windows/: Download Mozilla Firefox for Windows — Free Web Browser
@amychurchwell - regarding meta data, we'll adapt this page from @rraue 's comments for the Windows page

meta title for /firefox/linux/: Download Mozilla Firefox for Linux — Free Web Browser
meta description: Download Mozilla Firefox for Linux, a free Web browser. Firefox is created by a global non-profit dedicat

[2018-12-26 17:05] ejregithub commented on #6615
@amychurchwell - regarding meta data, we'll adapt this page from @rraue 's comments for the Windows page

meta title for /firefox/mac/: Download Mozilla Firefox for Mac — Free Web Browser
meta description: Download Mozilla Firefox for Mac, a free Web browser. Firefox is created by a global non-profit dedicated to putting individuals in control online. Get Firefox for Mac today!

og-tags should as

[2018-12-27 16:30] amychurchwell commented on #6604
@ejregithub Demo link for stakeholder review: https://bedrock-demo-seo-windows.oregon-b.moz.works/en-US/firefox/windows/

[2018-12-27 18:56] ejregithub commented on #6584
@craigcook @amychurchwell - this is good to go when r+ed - Lucile reviewed the page on demo and signed off.

[2018-12-27 19:20] #6584 closed

[2018-12-27 21:15] #6604 closed

[2018-12-27 22:11] amychurchwell commented on #6615
@ejregithub Demo link: https://bedrock-demo-achurchwell.oregon-b.moz.works/en-US/firefox/mac/

[2018-12-27 22:11] amychurchwell commented on #6605
@ejregithub Demo link: https://bedrock-demo-achurchwell.oregon-b.moz.works/en-US/firefox/linux/

[2018-12-28 18:05] #6580 closed

[2018-12-28 18:51] #6592 closed

[2019-01-02 09:46] elin-moco commented on #6084
@pmac @peiying2
the en-IN en-ID pages will only be needed for mobile product promotions in Asia for now,
for example:
/en-IN/firefox/mobile/
/en-IN/firefox/whatsnew/
the content will be different from en-US, promoting Firefox Lite instead of Firefox for Android.
Just like this: https://www.mozilla.org/id/firefox/whatsnew/
We will work with copy writer to create English copies for these,
and locali

[2019-01-02 10:21] alexgibson commented on #6367
UA string from a Levono laptop I obtained running Windows 10 S

`navigator.userAgent`

[code]

`navigator.platform`

[code]

[2019-01-02 10:41] alexgibson commented on #6367
Firefox install flow:

Searched for "Download Firefox"

![firefox search result](https://user-images.githubusercontent.com/400117/50588322-6df33d80-0e79-11e9-9bb8-5f70e08f0760.png)

After ignoring all the Edge messaging in the search results, I clicked the moz.org link and downloaded as normal. Once the download had completed, I double clicked the installer .exe, which was then blocked by this mes

[2019-01-02 10:45] alexgibson commented on #6367
Install flow for Chrome:

Searched for "Download Chrome"

![chrome search result](https://user-images.githubusercontent.com/400117/50588689-1ce44900-0e7b-11e9-81c3-8a25345ff6c9.png)

Again, some pretty agressive messaging for Edge. I ignored it, and went to download Chrome:

![download chrome](https://user-images.githubusercontent.com/400117/50588732-47360680-0e7b-11e9-8937-7a8ddcb17391.png)

Goog

[2019-01-02 16:04] #6615 closed

[2019-01-02 16:52] #6605 closed

[2019-01-02 18:58] amychurchwell opened #6665 "Remove Dec 2018 Transparency Report switch"
Remove `transparency_report_dec_2018` in bedrock and `SWITCH_TRANSPARENCY_REPORT_DEC_2018` in www-config

[2019-01-03 01:12] craigcook opened #6668 "Resurrect the old Sync and Send-Tabs feature pages"
With the launch of the new Accounts page we decommissioned the previous feature pages for Sync and Send-Tabs, redirecting those URLs to the Accounts page instead. However, those feature pages are linked to from within Firefox and the redirect isn't as helpful as the old pages were in that context.

We should restore the previous pages and remove the redirect rules so the old URLs start working aga

[2019-01-03 01:41] davismtl commented on #6668
Copying this from Slack:
"It’s the Send Tab page that is linked from within product. I’m getting UX feedback on if the flow still makes sense.

Essentially, if you try to send a tab when you’re not signed into the browser, there’s a link to learn more about send tab and it would send to the send tab page. The new page might still work but I think we just need feedback from UX. (they didn’t like th

[2019-01-03 09:44] alexgibson opened #6669 "Stocktake of active experiments"
Below is a list (in no particular order) of all experiments in the bedrock code base. Some have been running for a long time, and we've never made a decision on them or followed up. Others may not have enough data yet to be conclusive, and some are inactive and probably just need clean up.

- [x] 1. Feature page A/B test without main header (Issue #6155). The code exists in bedrock but I can't see

[2019-01-03 10:39] #6335 closed

[2019-01-03 15:13] pmac commented on #6084
I think we're getting into the weeds a bit here with implementation details. We just need to know what you'd like and who should see it. There are a lot of ways we could show location-specific content in English to people in certain countries. The en-IN locale is not currently enabled on the site, so probably the best way forward for now is something more like `/en-US/firefox/whatsntew/?country=IN

[2019-01-03 16:48] ejregithub commented on #6639
Blocked on final strings

[2019-01-03 18:11] hoosteeno commented on #6668
Let's hold this work temporarily while we assess the impacts of the change on user flows and metrics.

[2019-01-03 19:14] craigcook commented on #6668
For reference, here is the old send-tabs page:
![image](https://user-images.githubusercontent.com/205591/50656624-b3cb0700-0f48-11e9-90b6-54986a950e00.png)

[2019-01-03 20:57] ejregithub opened #6672 "Mozilla`s preferences page is not displayed correctly"
https://bugzilla.mozilla.org/show_bug.cgi?id=1513869

[2019-01-03 21:55] hoosteeno opened #6673 "Fix referral instrumentation on fxa-benefits page"
The [fxa-benefits page](https://www.mozilla.org/en-US/firefox/accounts/) has two links to the FxA signup/signin flow, one at top and one at bottom. The url on the top link needs adjustment.

1. It includes some characters in parameters that are not url safe -- they get translated to url safe values, and may later be expanded back into unsafe values by the metrics tool (Amplitude). These translatio

[2019-01-03 22:21] #6665 closed

[2019-01-03 23:19] craigcook commented on #6672
This is a really old Sandstone page that was never optimized for small screens. We may be able to port it to Protocol pretty easily.

[2019-01-04 10:02] elin-moco commented on #6084
Pardon me for getting into those details, probably a bit misleading.

What we need currently is, for users in Indonesia/India
(may open up to a few more countries in the future),
they see product page and what's new page for Firefox Lite by default.
(instead of seeing the en-US product page/what's new page for Firefox Android)
It would be great if Firefox Lite product page can appear on top of the

[2019-01-04 12:47] #6673 closed

[2019-01-04 13:40] alexgibson commented on #6367
UA string from Window 10 Pro laptop:

`navigator.userAgent`:

[code]

`navigator.platform`:

[code]

[2019-01-04 13:42] alexgibson commented on #6367
Comparison between user agent strings:

Window 10 Pro:

[code]

Windows 10 S:

[code]

Conclusion: there is no identifiable difference, so using UA sniffing to identify Windows 10 in S mode is not going to be possible.

[2019-01-04 13:51] alexgibson commented on #6367
I've spent some time looking through other properites exposed to JS from `navigator` in Edge, and I don't see anything that identifies S mode.

[2019-01-04 13:51] alexgibson commented on #6367
@ejregithub initial research is complete, please see above for details.

[2019-01-04 14:52] alexgibson commented on #6124
@pmac how are you feeling about merging this now we're back? Is there anything else we need to wait on, other than some back-end review?

[2019-01-04 20:19] pmac commented on #6124
was just thinking about this. It does need a bit more review, and I need to rebase and fix up the homepage template with the changes, and maybe update the data in the admin repo with the current cards.

[2019-01-04 21:31] amychurchwell commented on #6480
[@alexgibson @craigcook @stephaniehobson]

The Tinypng developer API has a price associated per image: https://tinypng.com/developers but there are potential other options if that is a blocker.

[SVGO ](https://github.com/svg/svgo) has quite a few formats, including [gulp](https://github.com/sindresorhus/grunt-svgmin). We could potentially write a gulp task for this & watch img directory for chang

[2019-01-07 10:06] alexgibson commented on #6480
I think SVGO is a great tool to handle svg files, and a gulp task makes the most sense 👍

Tinypng is probably my favorite lossy image compression tool (in terms of results). For non-lossy compression there's also ImageOptim (which also has a [gulp plugin](https://github.com/allbitsnbytes/gulp-imageoptim)).

If we're to invest in automation this year, I think it's likely there will be some costs as

[2019-01-07 10:35] alexgibson commented on #6517
This is being handled in https://github.com/mozilla/bedrock/pull/6642

[2019-01-07 11:12] alexgibson opened #6681 "JS unit test error running on Node v10"
When on the bedrock master branch and running `gulp js:test` locally using Node v10, the test run fails with the following error:

[code]

[2019-01-07 11:27] alexgibson opened #6683 "Upgrade bedrock to Gulp 4.0"
Gulp 4.0 is finally out and stable. It's not a straight forward upgrade and will require some refactoring, but it simplifies how serial and parallel tasks are run, and also moves to CommonJS syntax for importing tasks as modules.

We should upgrade bedrock's gulp build script to the latest version, which will also fix a number of security issues:

[code]

Upgrading Gulp will also likely require up

[2019-01-07 14:38] alexgibson commented on #6669
10. We're also actively serving a Facebook video chat funnelcake to users who visit `/firefox/` from a FB referrer (https://github.com/mozilla/bedrock/issues/6206). This has been running for a long time. Given that users cannot easily update their a funnelcake via the regular FF update channel, is serving a long running funnelcake like this benefiting aDAU in the long run, or harming it?

[2019-01-07 15:28] alexgibson opened #6684 "CSP violation on /about/forums/"
URL: https://www.mozilla.org/en-US/about/forums/

CSP error:
[code]

HTML reference: https://github.com/mozilla/bedrock/blob/master/bedrock/mozorg/templates/mozorg/about/forums/forums.html#L42

Resolution: we should either remove this image reference, or host it ourselves.

[2019-01-07 19:44] ejregithub commented on #6352
Michele Warther indicated that the page will remain largely the same with only the removal of some content with no new strings.

[2019-01-07 21:17] ejregithub commented on #6170
The custom landing page
![image](https://user-images.githubusercontent.com/20547886/50793948-9797d480-127e-11e9-89d4-c07044061546.png)

[2019-01-07 21:18] ejregithub commented on #6170
The custom firstrun page
![image](https://user-images.githubusercontent.com/20547886/50793986-b4340c80-127e-11e9-9b9a-74347e4f53f5.png)

[2019-01-07 21:43] michaelmccombie commented on #6170
Here is a link to the Grammarly pages in Abstract / Sketch
https://share.goabstract.com/e0d08754-2be5-4e8f-a702-ed2a4601bc3e

[2019-01-07 21:44] ejregithub opened #6686 "Copy update on www homepage to FFFY card"
Description: remove 'own' from string in the homepage card for FFFY.

Success Criteria:
- [ ] The copy is updated (remove 'own')

Tasks:
- [ ] Update en-US copy as follows:
“You have the right to own your life – and your own data.”
should be:
“You have the right to own your life – and your data.”

[2019-01-08 00:44] #6686 closed

[2019-01-08 14:54] alexgibson commented on #6567
Moving this issue over to Protocol.

[2019-01-08 15:03] alexgibson commented on #6581
Closing this as wontfix, since we're now underway with translating the new nav.

[2019-01-08 15:03] #6581 closed

[2019-01-08 18:18] hoosteeno commented on #6668
Based on analysis of this change (its impacts on accounts sign ups and sign ins, and its impacts on user flows), we don't need to resurrect those older pages. We may wish to pitch new pages to serve similar functions.

[2019-01-08 21:26] stephaniehobson opened #6689 "Disable and remove /new FxA experiement for existing Firefox Users"
The experiment was only coded to target current release, which at the time was 62. Very few people should be seeing the experiment now.

https://github.com/mozilla/bedrock/pull/6173

[2019-01-08 21:32] hoosteeno commented on #6669
I don't think it was ever run; if it was, it was not documented. I've added it to the experiments backlog.  Consider it triaged.

[2019-01-08 21:51] hoosteeno commented on #6669
@alexgibson can you tell whether the experiment #6173 implements the form-view code recommended in https://github.com/mozilla/bedrock/pull/6396#issuecomment-435228076? It's much trickier to assess if it does not.

[2019-01-09 00:22] hoosteeno commented on #6669
Analysis is done. Recommendation is to remove. See https://github.com/mozilla/bedrock/issues/6689.

[2019-01-09 00:30] stephaniehobson commented on #6668
It would be useful to ask how this experiment went when thinking about the sync and send-tabs pages: https://github.com/mozilla/bedrock/issues/6361

It [adds "how-to" information ](https://www.mozilla.org/en-US/firefox/features/private-browsing/?v=a)to the page for users coming from in product (though it could do it for any existing Firefox user really):

[2019-01-09 17:33] hoosteeno commented on #6629
@alexgibson can you review the implementation ideas in the experiment plan and let me know what questions you have?

@sghoseWI can you review this experiment plan and let me know how we can make it stronger?

[2019-01-09 18:41] hoosteeno commented on #6689
@alexgibson and @stephaniehobson, can we hold this? Turns out my analysis was flawed.

[2019-01-09 19:11] #6639 closed

[2019-01-09 21:21] hoosteeno commented on #6629
I met with Alex, Craig and Mark to discuss. This is almost ready to pull into delivery.

[2019-01-10 00:54] craigcook opened #6693 "Fundraising banner for February/Valentine campaign"
| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

MoFo is planning a mid-February fundraising campaign and wants to bring back the home page banner for a brief time, with design and messaging relating to Valentine's Day. It will be English-only.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Launch on Friday Fe

[2019-01-10 08:57] alexgibson commented on #6689
@hoosteeno I've added a DNM lable to it for now. Note that keeping the code around is only really useful if we want to rerun the experiment. Rolling this out to production as a new default would be a considerable refactor of the default /new page.

[2019-01-10 10:51] alexgibson opened #6694 "Primary CTA is missing when visiting /firefox/accounts/ on Firefox mobile."
When I visit the `/firefox/accounts/` page using Firefox for iOS, I don't see a primary CTA button displayed at the top of the page. Only when I scroll right to the bottom of the page to the secondary CTA section there's a "Set up Sync for iOS" button, that takes me to SUMO.

Not entirely sure if this is intentional or not, but it seemed odd that the only CTA was at the bottom of the page. I can a

[2019-01-10 11:04] alexgibson commented on #6629
Some implementation notes based on our discussion yesterday:

- We're going to use a simple "Get a Firefox Account" button in place of the download button in the main navigation. This will link off to accunts.firefox.com with some utm params specific to this experiment (params TBD).
- If there's space, we will also include a small "What is this?" type link underneath the button, that links to the

[2019-01-10 11:05] alexgibson commented on #6629
Based on the above, I think I can get started on this now, and we can sweat the design and copy details when this is up on demo.

[2019-01-10 14:39] alexgibson commented on #6629
I pushed an WIP version of this to demo, using existing strings and regular button styles.

https://bedrock-demo-agibson.oregon-b.moz.works/en-US/

The FxA button text reads "Create a Firefox Account" and the small link reads "Learn More", but we can choose any copy we decide works best.

For Protocol pages, the FxA button uses the standard secondary product themed button (blue outline):

![screen

[2019-01-10 15:49] sghoseWI commented on #6629
@hoosteeno  -- the experiment plan generally looks great to me.  Only suggestions I have is adding in a sample size estimate needed in each treatment group and the control group (along with the corresponding desired confidence/error rate levels).    Also would be good to add what specific countries/states we are going to run this in.

http://www.raosoft.com/samplesize.html

^ We can use this to es

[2019-01-10 15:55] alexgibson commented on #6629
I'm actually curious about what the control group should do here, is there a benefit of having a control group for this experiment? The default experience (which is usually the control) is just to show a regular download button, which is an entirely different action to signing up for an account. I guess it depends what we want to get out of this experiment. If we want to know that a) this FxA cta

[2019-01-10 16:39] sghoseWI commented on #6629
Hi @alexgibson, my thinking is that we would want the control to be whatever standard behavior we want to at least continue to meet (i.e. number of downloads) -- independent of adding the FxA cta and controlling for whatever independent variables we are interested in factoring in.  I think we would still need a control group for this experiment so we can have a baseline and statistically analyze i

[2019-01-10 17:02] craigcook opened #6697 "Mozilla.org localization audit"
The localization team has [highlighted a number of problems](https://docs.google.com/document/d/1V-27Dvs2uv4jHebyJ9OLwakK-QY9bCKcxPRU9nR_JdY/) with our current localization infrastructure and workflow on mozilla.org. In a nutshell:

1. Marketing pages need to ship quickly and change frequently, which rarely allows time for community l10n.
2. Using outside vendors for translation is difficult becau

[2019-01-10 17:14] peiying2 commented on #6697
Thanks @craigcook for getting this started. I want to share this list of .lang files. The names and number of files don't necessarily correspond to the template names on bedrock, but it does shed light on what pages are fully localized in what languages: https://l10n.mozilla-community.org/langchecker/?action=listpages. It also highlights the pages that are activated at some point but still have ou

[2019-01-10 19:26] amychurchwell opened #6698 "Move send_yourself macro scss to Protocol"
During deprecation of the `send_to_device` macro in favor of `send_yourself` it would be a good time to refactor `send_yourself` to protocol.

[2019-01-10 23:00] WillatMozFdn commented on #6693
^^ that'll be the design ticket , just FYI.  We'll work out copy and implementation here, I think?  Thanks Craig!

[2019-01-11 09:35] alexgibson commented on #6352
Based on our meeting yesterday, this is the plan for WNP 65:

- Reuse the [/whatsnew page for 63](https://www.mozilla.org/en-US/firefox/63.0/whatsnew/) (no changes to the main page copy). We should Trigger whatsnew for the same list of locales that we used for 63.
- Users who are not logged into FxA will see the same blue sticky bar prompting to create an account.
- Users who are signed-in will se

[2019-01-11 15:11] alexgibson opened #6699 "Decommission /firefox/profile-migrate/ and /profile-downgrade/ pages"
As per https://bugzilla.mozilla.org/show_bug.cgi?id=1519084#c3 we can retire and remove the two following pages:

- https://www.mozilla.org/en-US/firefox/profile-migrate/
- https://www.mozilla.org/en-US/firefox/profile-downgrade/

Neither of the above pages have ever been used, according to the bug, and are now no longer required.

[2019-01-11 16:08] hoosteeno commented on #6629
@sghoseWI I agree. Can you go ahead and update the experiment plan with your recommendations for segment size and treatment duration, as well as anything else you think makes it more measurable?

@alexgibson and @sghoseWI, regarding instrumentation...

1. for the prior FxA experiment on /new, we instrumented the form with a couple GTM parameters (https://github.com/mozilla/bedrock/pull/6173/files#

[2019-01-11 16:19] ejregithub commented on #6629
Let’s be sure we pass this by Alex Davis, folks on the Accounts team.

[2019-01-11 16:23] vincejoyiv commented on #6629
Hey @alexgibson here's 2¢ from a design point of view.

First, the `learn more` link is pretty tight to the mega menu when it's open.
![screenshot 2019-01-11 08 13 11](https://user-images.githubusercontent.com/13005624/51045795-50109180-1579-11e9-850b-826d766eb731.png)

I'd recommend a couple things: Make the font size a little smaller, align it to the right edge of the button, nudge it up a few p

[2019-01-11 16:32] vincejoyiv commented on #6629
@alexgibson @hoosteeno One more thing to note: On this page, the `learn more` link doesn't do anything, which can be a frustrating user experience. I don't really have a solution for this yet, but if this moves past being just an experiment we'll have to address it.

![screenshot 2019-01-11 08 31 21](https://user-images.githubusercontent.com/13005624/51046601-5869cc00-157b-11e9-8cfa-df22544fbef3.p

[2019-01-11 16:34] alexgibson commented on #6629
I think the most appropriate solution here is to hide the button and link on this page, as the page mamages it's own state for prompting people to sign up. We don't want to compete with that and create a confusing UX.

[2019-01-11 16:55] hoosteeno commented on #6629
Agree. I'll add to mana.

[2019-01-11 21:01] hoosteeno commented on #6629
I've consulted with Alex Davis and Lauren Niolet, who are the stakeholders listed in the experiment plan, and I feel comfortable proceeding with this experiment once we've got all our implementation details worked out.

[2019-01-11 22:56] sghoseWI commented on #6629
@hoosteeno -- those Amplitude parameters looks good to me.

[2019-01-14 09:15] #6699 closed

[2019-01-14 10:21] alexgibson commented on #6629
Ok, here are the updates made so far based on feedback:

- I've hidden the download button / FxA cta on the `/firefox/accounts/` page.
- I've added utm params to the FxA button for Amplitude (as per @hoosteeno's suggestions)
- I've updated based on design feedback from @vincejoyiv.
- I've included the proposed copy courtesy of @claychaffin.

I've pushed this all to demo: https://bedrock-demo-agibs

[2019-01-14 17:08] ejregithub commented on #6352
@alexgibson - could you please take screenshots for each condition and attach those to this issue for stakeholder review?

[2019-01-14 17:08] craigcook commented on #6697
Very rough, very much WIP spreadsheet: https://docs.google.com/spreadsheets/d/1ViVvQyH0IWYBDYaY8N-TKXeBsuYCgsFVUGyIz3WPg-g/

[2019-01-14 17:13] vincejoyiv commented on #6629
@alexgibson I agree 100% with your analysis of the design re: that "benefits" link. I was working under the impression that it was a requirement for the experiment, but I'm here to question that.

I'd be interested in 86ing the link and seeing what happens. Do folks click on the button? and do they sign up for accounts? if not, maybe we try _just_ a link as a future experiment.

My personal hypoth

[2019-01-14 17:52] hoosteeno opened #6704 "[Experiment] "How To Install" content on /thanks page"
Mana Page
https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=90734715

[Current copy](https://docs.google.com/document/d/1TYsgHFCMgj7xQiveNRAf-m73KH-c9DBYCt6jMPdC-aM/edit)

| Estimates |  |
| ------------- | ------------- |
| TL | 3 days |
| PM | 1 hour |
| ENG | 5 days |
| SEO | |
| ANA | |
| DES | 1/2 day |
| COPY | 5 days |

We should add instructional content explaining to Chrome/Windo

[2019-01-14 18:30] hoosteeno opened #6705 "Remove firstrun experiment"
Since firstrun is no longer a website concern, we should remove code for experiments related to it. Here is one bit of code to remove:

https://bugzilla.mozilla.org/show_bug.cgi?id=1451051

[2019-01-14 18:33] hoosteeno commented on #6669
Yes:
https://github.com/mozilla/bedrock/issues/6705

[2019-01-14 18:50] dzingeek commented on #6694
I don't think that was intentional. I would call that a bug, nice catch @alexgibson

[2019-01-14 18:58] hoosteeno commented on #6669
I believe these are all New ADAU experiments. I emailed that team asking them to help wrap them up.

[2019-01-14 19:02] hoosteeno commented on #6669
Emailed that team to ask about it.

[2019-01-14 23:03] hoosteeno commented on #6197
In case helpful, I wrote a tool to do this on www content previously. It's not directly applicable, but with minor modifications could do the job, or at least show one way of doing the job. https://github.com/hoosteeno/archiver_toolkit

[2019-01-14 23:55] hoosteeno opened #6707 "Make FxA on /new *for Firefox users* a permanent feature"
We ran an experiment in 2018/2019[0] that determined existing Firefox users on /new are interested in a Firefox account. We should build an experience that allows that CTA to coexist on the page with the existing CTAs.
[0] https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=81691802

[Master Project Doc](https://docs.google.com/document/d/1KywIidGoNYsozzIIGOLI7kT2g8ykP037hCyBjC-NnTA/edit)

[2019-01-15 12:05] rraue commented on #6084
Back from PTO and a bit late to the party but here are my 2 cents without considering scope:

- All client side changed urls or content is potentially not seen by search engines or misinterpreted. For SEO a server side solution is allways preferred.
- Not indexed pages like whatsnew or firstrun can be handledhow so ever
- Users will hear in other parts then asia about firefox lite or rocket as wel

[2019-01-15 13:58] alexgibson commented on #6629
Today's updates:

- Implemented experiment cohorts:
  - 50% of Firefox users the the FxA button
  - 50% of Firefox users see the download button.
- Each cohort has a `dataLayer.push()` associated with it in GA:
   - FxA cohort:
[code]
  - Download button cohort:
[code]
- Experiment respects Do NOt Track (DNT).

I've pushed this all to demo. You'll need to test in a Firefox browser with DNT disable

[2019-01-15 15:49] LaurenNiolet commented on #6352
For EN version, the body text won't align to the CTA for versions where we are presenting the email signup.

For those, the CTA is "Get Firefox tips, tricks, news and more" Body text says "...And sign up for a better internet all around with a free Firefox Account"

I suspect we will just have to live with that on l10n versions, given the time crunch, is that right?

[2019-01-15 15:52] alexgibson commented on #6352
We could show something different for English pages (if you can provide an alternative), but you're correct we can't change strings that have already been translated for other locales.

[2019-01-15 15:53] alexgibson commented on #6352
Fwiw, this string was also here regardless of being signed in or out for the 63 WNP.

[2019-01-15 15:55] LaurenNiolet commented on #6352
Good point. Approved.

[2019-01-15 17:13] ejregithub commented on #6352
@alexgibson (logging the decision you already are aware of) - Per Michele Warther in Slack and the meeting we were just in we need to:  for 65 we need to omit the sentence (the single string)/ headline “Here’s What’s New” that's in the existing page WNP63.

[2019-01-15 19:39] ejregithub opened #6709 "Launch new SEO page "'The history of web browsers""
| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

Description: using the template established for SEO pages from the NA Desktop team, create the new page 'The history of web browsers'

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Get QA signoff from @rraue prior to go live
- [ ] Get QA signoff from Accountable

[2019-01-15 21:06] kristinashu commented on #6693
Hi @craigcook, here's how designs are coming along. Please let me know if you have any feedback/concerns and then I'll share all the files with you. Only updates from the EOY banner are the background image and the copy.

Also, @WillatMozFdn is inquiring if it's possible to run an A/B test on the copy? I've included the two variations but let us know if it won't be possible.

**Variant A on deskto

[2019-01-15 21:37] ejregithub opened #6710 "Launch new SEO page "Update browser""
| Estimates |  |
| ------------- | ------------- |
| PM | 2 |
| ENG | 2 |
| SEO | .5 |

Description: using the template established for SEO pages from the NA Desktop team, create the new page 'Update browser'

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is live before end of January 2019

#### Tasks
- [ ] Assign the URL /technology/update-your-browser/

Native Sketch file c

[2019-01-15 21:39] ejregithub opened #6711 "Launch new SEO page "Free VPN""
| Estimates |  |
| ------------- | ------------- |
| PM | 2 |
| ENG | 2 |
| SEO | .5 |

Description: using the template established for SEO pages from the NA Desktop team, create the new page 'Free VPN'

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is live before end of January 2019

#### Tasks
- [ ] Assign the URL /firefox/features/free-vpn/

Native Sketch file can be found

[2019-01-15 21:42] ejregithub opened #6712 "Launch new SEO page "Incognito browser""
| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | 2 |
| ENG | ? |
| SEO | ? |
| ANA | |
| DES | |
| COPY | |

Description: using the template established for SEO pages from the NA Desktop team, create the new page 'Incognito browser'

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is live before end of January 2019

#### Tasks
- [ ]  Assign the URL /technology

[2019-01-15 22:11] ejregithub opened #6713 "Revert to accordion on Fx Privacy Notice page"
| Estimates |  |
| ------------- | ------------- |
| PM | .5 |
| ENG | 2 |

Description:
Near the end of last year, the accordions/expanders on the Firefox Privacy Notice were removed. It's important that we put them back.

GDPR created an requirement that Privacy Notices be very short and understandable. But it also allows us to create a "layered" privacy policy. The first layer is the headlines.

[2019-01-15 22:19] ejregithub opened #6714 "Update copy on Licensing Page"
| Estimates |  |
| ------------- | ------------- |
| PM | .5 |
| ENG | ? |

Description:  Update copy on https://www.mozilla.org/en-US/foundation/licensing/

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Page is placed on demo server for Legal review prior to go live
- [ ] Page content is updated and live

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:
- [ ] This is

[2019-01-15 23:06] craigcook commented on #6693
Yes, we can do an A/B test. Should I assume a 50/50 split between the two versions?

Also, we should set a new `utm_campaign` value for GA. What should it be? (The EOY banner was `2018wk1`)

[2019-01-15 23:31] stephaniehobson opened #6716 "Update video placeholders on /firefox"
The current video place holders don't give users an idea of what they will see demoed in the videos. Let's update them to use a still that communicates the video content.

[2019-01-15 23:45] ejregithub commented on #6714
@amychurchwell  - please note the requirement to have the page on demo for Legal signoff prior to go live.

[2019-01-16 00:39] stephaniehobson opened #6718 "Lazy load images on /firefox"
To help the /firefox landing page load faster let's lazy load some of the image assets.

[2019-01-16 01:02] ejregithub commented on #6713
Comment from Mika: Some of the anchors seem to have gotten lost.  since someone has to go in and put the accordian back, can they make sure each section has an anchor? This is important because we have a lot of web content that points to a specific part of the FxA privacy notice (like the section on Sync, or the section on Content Recommendations, etc.).

[2019-01-16 10:22] alexgibson opened #6720 "Experiment: measure the direct impact of page load performance."
I'd like to formulate an experiment, or series of experiments, that may help us to measure (and estimate in the future) the direct impact that page load performance has on our key business metrics, such as download conversions.

The hypothesis is:

Web pages that take longer to load will have a higher bounce rate, especially on slower connections, and higher bounce rates will naturally incur the c

[2019-01-16 14:19] alexgibson commented on #6713
I've opened a PR that reverts removal of the accordion. Some notes from testing this old code:

"Whilst restoring this code I realised it was never very accessible. The ARIA support isn't great, and the individual sections are not expandable via keyboard 😩. There seems to be some urgency in restoring this that I don't fully understand (from a legal point of view), but if we are to support this acc

[2019-01-16 14:33] rraue commented on #6050
The page is not longer linked in the main navigation and just around for seo purpose, so this analysis is no longer needed: https://github.com/mozilla/bedrock/issues/6450

[2019-01-16 14:33] #6050 closed

[2019-01-16 15:53] amychurchwell commented on #6714
@ejregithub the copy under the 'website content' section has been updated on demo -- https://bedrock-demo-achurchwell.oregon-b.moz.works/en-US/foundation/licensing/

[2019-01-16 17:31] #6672 closed

[2019-01-16 17:40] alexgibson commented on #6629
Labelling this as blocked until we get final experiment params.

[2019-01-16 18:39] sghoseWI commented on #6629
Just chatted with @alexgibson -- confirming here that I think it would be wise for us to leave the experiment running for 1 week.  We only need ~17,000 sessions in both the treatment and control group -- which we can reach very quickly given daily traffic numbers.  But allowing the experiment to run for a week will allow us to control for hourly/daily differences observed over the course of the ex

[2019-01-16 23:06] kristinashu commented on #6693
@WillatMozFdn I've updated the comp but that copy is looking a little long. Any chance you could shorten it a little?

@craigcook here's the Sketch file, jpg of the background, and psd for it https://drive.google.com/drive/folders/1OeKSE0wM8CQXiMjV4r9wFaBWfIg6RF0h?usp=sharing. I can also update the file once Will has the updated copy.

[2019-01-16 23:22] ejregithub commented on #6712
Block on meta data

[2019-01-16 23:22] ejregithub commented on #6710
Blocked on meta data and URL

[2019-01-16 23:23] ejregithub commented on #6711
Blocked on meta data and URL

[2019-01-16 23:23] ejregithub commented on #6709
Blocked on meta data and URL

[2019-01-17 00:50] ejregithub commented on #6714
Thanks @amychurchwell - I sent the URL to Mika and Michael in email and will post their response(s) here.

[2019-01-17 08:17] ejregithub commented on #6714
@amychurchwell - we are approved to go live by legal (Michael Feldman)

[2019-01-17 09:34] alexgibson commented on #6629
Thanks @sghoseWI - I'm going to mark this experiment as unblocked and we'll move foreward with the parameters defined in https://github.com/mozilla/bedrock/issues/6629#issuecomment-454400854

@hoosteeno if you have any feedback on the above please add it, else we'll move forward with merging this once it has been code reviewed.

[2019-01-17 13:00] WillatMozFdn commented on #6693
@kristinashu ...

1. try this copy out for variant B?  (Condensed it a bit, but finding it hard to make it shorter without dropping one of the three concepts, which I don't want to do)  "Big corporations try to restrict how we access the web. Misinformation makes it harder for us to find the truth. Web-connected devices go to market without basic security standards. The non-profit Mozilla Foundati

[2019-01-17 13:11] WillatMozFdn commented on #6693
@craigcook ....

1. Correct ... let's do a 50-50 split.  Timing-wise, I'd like to start the test evening of the 11th or morning of the 12th ... see what results we get on the 12th and/or 13th ... and then roll all the traffic to the winner no later than the morning of the 14th. Then take-down end of day on the 15th or morning of the 16th. Is that do-able?

2. To accurately track the contributions

[2019-01-17 18:07] hoosteeno commented on #6629
This looks great to me.

[2019-01-17 18:46] kristinashu commented on #6693
### Here are the final files!

- [Comps](https://redpen.io/p/zofc918b58da625a20)
- [Working files](https://drive.google.com/drive/folders/1OeKSE0wM8CQXiMjV4r9wFaBWfIg6RF0h?usp=sharing)
- Background banner JPG
![v-day-banner](https://user-images.githubusercontent.com/1068783/51338182-0672eb80-1a3e-11e9-9a71-b15429ad551c.jpg)

### Copy for Variant A
Title: We all love the web.  Join Mozilla in defen

[2019-01-17 20:22] pmac opened #6724 "Use the new Thunderbird logo on privacy pages"
The following pages use the old Thunderbird logo, which should be updated:

* https://www.mozilla.org/en-US/privacy/ (sidebar)
* https://www.mozilla.org/en-US/privacy/thunderbird/

[2019-01-17 20:25] pmac commented on #6724
New logo https://bug1481621.bmoattachments.org/attachment.cgi?id=8999046

[2019-01-17 20:27] pmac commented on #6724
Noticed this issue while working on https://github.com/mozilla/kitsune/pull/3444

[2019-01-17 23:55] sghoseWI commented on #6629
@hoosteeno and I talked through each of the above points and we have a plan forward

@alexgibson, here's what we decided as it pertains to experiment parameters:
- Let's still run the experiment for the entirety of 1 week as originally planned
- Instead of 50% traffic assigned to the experimental group, let's assign 10%
- The control group will now be those users in en-us with a current browser (t

[2019-01-18 01:39] #6714 closed

[2019-01-18 11:33] alexgibson opened #6726 "Improve or deprecate the Firefox out-of-date notification banner"
In 2017 we implemented a site wide notification banner that is shown to out of date Firefox users (2 major verions out of date or more). Clicking the "Update Firefox" button takes people to `/download/thanks/`. You can see a screenshot of the banner below:

![screenshot_2019-01-18 the new fast browser for mac pc and linux firefox](https://user-images.githubusercontent.com/400117/51383599-c715cf00-

[2019-01-18 14:48] alexgibson commented on #6720
Dec 19, 2018-Jan 17, 2019

URL: `/en-US/firefox/mobile/`:

- Desktop & Tablet Traffic:
  - Sessions: 72,868
  - Bounce rate: 68.34%
  - Download conversion rate: 10.72%
- Mobile Traffic:
  - Sessions: 21,848
  - Bounce rate: 30.73%
  - Download conversion rate: 42.46%

URL: `/en-US/firefox/new/`

- Desktop & Tablet Traffic:
  - Sessions: 5,085,352
  - Bounce rate: 26.30%
  - Download conversion ra

[2019-01-18 17:11] #6472 closed

[2019-01-18 17:47] sghoseWI commented on #6629
My understanding is we just want to target the current release version. Thanks @alexgibson!

[2019-01-18 20:19] claychaffin commented on #6704
The copy deck can be found here: https://docs.google.com/document/d/1TYsgHFCMgj7xQiveNRAf-m73KH-c9DBYCt6jMPdC-aM/edit?usp=sharing

[2019-01-18 23:38] ejregithub commented on #6710
Sorry @amychurchwell - I asked for it, was told it was done, but don’t see it in the original copy doc.  I’ve asked for that.

https://docs.google.com/document/d/1P30d7rLGNF-F4Hea0OAwV3JQSWCu5Hw1Anz8wpC8HFQ/edit#

[2019-01-19 00:28] ejregithub opened #6727 "[Due live on or before 2/24] Update CBeard bio on the leadership page"
Task
- [ ] Replace existing copy in Chris Beard's bio on https://www.mozilla.org/en-US/about/leadership/

New copy (replace the existing copy entirely):

As CEO and a member of the Board of Directors since 2014, Chris leads 1,100 staff members and the Mozillian community across 120 countries to create products, advance public policy and explore new technology that gives people more control over th

[2019-01-19 00:31] ejregithub commented on #6727
@alexgibson - since you have an extra day on US folks, could you please take this on one?

[2019-01-19 00:38] ejregithub commented on #6710
@amychurchwell - please find that in [this doc](https://docs.google.com/document/d/1P30d7rLGNF-F4Hea0OAwV3JQSWCu5Hw1Anz8wpC8HFQ/edit#) at the bottom.

[2019-01-19 16:11] LordGameleo commented on #6452
Is it open? I would like to work on this issue.

[2019-01-19 16:12] LordGameleo commented on #5816
Is this issue open? I would like to work for it.

[2019-01-21 10:54] rraue opened #6728 "/new/ title isnt translated anymore on locales"
It looks like the end of December/ beginning of January something went wrong and all locales for /new/ got the English title. That causes a massive drop in ctr and therefore traffic/downloads and we need to fix this fast.

As an example the French version:
<img width="1336" alt="screen shot 2019-01-21 at 11 51 33" src="https://user-images.githubusercontent.com/36700618/51470097-33dbd400-1d73-11e9-

[2019-01-21 10:56] rraue commented on #6728
The og:title tag still contains the translated title, so I assume its not because of a change in l10n, but something in our code. Maybe a change on the win/mac/linux pages caused this? That would be around that time when it caused the drop.

[2019-01-21 10:59] alexgibson commented on #6728
Looks like this is a regression from https://github.com/mozilla/bedrock/commit/52ebe66e537fb45ece909309fa1a88057f569bc2#diff-0f99a4dfbf94512a350aa10237d0bc35

[2019-01-21 13:07] #6728 closed

[2019-01-21 13:45] alexgibson opened #6730 "404 assets on stage deployment"
Earlier today I reviewed and merged this PR: https://github.com/mozilla/bedrock/pull/6717

- The PR updates several assets on the `/firefox/` page, including images, CSS, JS, and HTML.
- The page looks fine on dev: https://bedrock-dev.oregon-b.moz.works/en-US/firefox/
- But when I pushed `master` to the `stage` branch, the page appears broken: https://bedrock-stage.oregon-b.moz.works/en-US/firefox

[2019-01-21 13:48] alexgibson commented on #6730
/cc @jgmize @metadave

[2019-01-21 17:12] #6730 closed

[2019-01-22 10:45] alexgibson commented on #6713
Ok, I've spent some time fixing the accessibility issues on this accordion. Longer term, we should port this page to use the new standard [Details molecule](https://protocol.mozilla.org/patterns/molecules/details.html) in Protocol. What we have now is a stop-gap until we can prioritise that work.

[2019-01-22 15:06] alexgibson opened #6732 "Firefox Lite /whatsnew page incorrectly prompts to enter SMS"
If you are geo-located in the US open the following URL:

https://www.mozilla.org/id/firefox/65.0/whatsnew/

The page displays the text:

"Masukkan surel atau nomor telepon Anda" (translation: "Enter your email or telephone number")

"Layanan SMS tersedia hanya di negara-negara tertentu saja. Anda mungkin akan dikenakan biaya SMS & data. Penerima surel atau SMS yang dituju harus menyetujui." (tran

[2019-01-22 15:07] alexgibson commented on #6732
Error in Sentry: https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/5142693/

[2019-01-22 15:40] #6352 closed

[2019-01-22 16:39] ejregithub opened #6735 "Update copy on Edge SEM pages"
Description: Copy updates in the two versions of the Edge SEM pages

#### Tasks
- [ ] Update copy highlighted in RED in this [document](https://docs.google.com/document/d/1XI2HYanpq2sWXMkbLOSlbf0Zw2sicudfeGU-TjJ4RMI/edit)

https://www.mozilla.org/en-US/firefox/new/?xv=edge&xv=edge&v=1
https://www.mozilla.org/en-US/firefox/new/?xv=edge&xv=edge&v=2

[2019-01-22 16:45] ejregithub opened #6736 "[2019-03-19] WNP 66"
[Master project doc](https://docs.google.com/document/d/121RNIt_W8RSjubBHugQgCXKH8F8solk2hXP0ziunXsQ/edit)

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | 1/2 day |
| ENG | 4 |
| SEO | |
| ANA | |
| DES | |
| COPY | |

Description: the What's New page for Firefox 66, promoting Firefox Accounts

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is live a week b

[2019-01-22 16:56] hoosteeno commented on #6104
Current status: Needs someone to pick up and ship to Bedrock. Should probably wait until the nav is localized. Likely to be blocked by l10n; assessing it for new strings should come next. If no new strings, easier to activate. This is blocking changes to protocol until this is done.

[2019-01-22 17:05] peiying2 commented on #6104
Here is the status of new navigation page l10n progress: https://l10n.mozilla-community.org/langchecker/?locale=all&website=0&file=navigation.lang

[2019-01-22 18:00] alexgibson commented on #6352
This page is now live in production: https://www.mozilla.org/en-US/firefox/65.0/whatsnew/

[2019-01-22 18:22] craigcook opened #6737 "Update leadership page, new CFO"
| Estimates |  |
| ------------- | ------------- |
| PM | 1 hour |
| ENG | 2 hours |

Description: We've [just announced our new CFO, Roxi Wen](https://blog.mozilla.org/blog/2019/01/22/welcome-roxi-wen-our-incoming-chief-financial-officer/), so we'll need to add her to the leadership page, also removing Kenton Chow as interim CFO.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Rox

[2019-01-22 18:40] #6124 closed

[2019-01-22 19:23] #6727 closed

[2019-01-22 19:54] amychurchwell commented on #6710
@ejregithub demo link -- https://bedrock-demo-achurchwell.oregon-b.moz.works/en-US/technology/update-your-browser/

[2019-01-22 21:52] ejregithub commented on #6710
@amychurchwell - the copywriter noted an error in the original copy doc, sorry!
Please make all mentions of 'internet' all lowercase (unless it leads off a sentence, of course).

[2019-01-22 22:06] amychurchwell commented on #6710
@ejregithub demo reflects typo fix 👍

[2019-01-22 22:07] hoosteeno commented on #6498
Is this ready for review? Is someone reviewing it?

[2019-01-22 22:09] ejregithub commented on #6517
@alexgibson - this is in the Review column.  Shall we tag it with 'Needs Review' and find another dev to take it on when they complete current tasks?

[2019-01-22 22:48] #6697 closed

[2019-01-22 22:50] #6705 closed

[2019-01-22 22:57] ejregithub commented on #6579
@rraue - please confirm that we can close this issue.

[2019-01-22 23:07] hoosteeno commented on #6458
@stephaniehobson would you consider this in scope for NA-Brand? Maybe you want it on your board?

[2019-01-22 23:57] #6713 closed

[2019-01-23 08:58] alexgibson commented on #6517
@ejregithub as per https://github.com/mozilla/bedrock/issues/6517#issuecomment-451892389, this is being reviewed as part of the navigation l10n PR. Craig is already assigned.

[2019-01-23 09:00] alexgibson commented on #6498
This has been ready for review for a while now, but we can't merge it yet as we have to wait on l10n. @craigcook is assigned for review, but I don't know how far he is with it yet. It's a very large review.

[2019-01-23 09:04] alexgibson commented on #6104
@peiying2 can you please help to interpret what this dashboard recommends? I see at the bottom it says "Complete locales: 30 (26%) - 83.01% of our l10n user base. This file is not supposed to be activated". What can be considered enough coverage in terms of % to merge? Also when we do merge, what happens to any locales that haven't completed the work? Just want to make sure we understand the impac

[2019-01-23 10:02] alexgibson commented on #6735
Note there is only 1 version of the Edge SEM page to update. The other version was removed in https://github.com/mozilla/bedrock/issues/6371

[2019-01-23 10:22] alexgibson commented on #6735
@ejregithub I've been through the spreadsheet and added comments. All of the changes to the browser features tables are already reflected in the web page live in production? I'm not sure what that team used as reference for these changes, but they seem old and outdated.

The only new string change I can see is:

[code]

I think we should make sure this is Ok with legal, as the line that says "Edge

[2019-01-23 13:08] hoosteeno opened #6741 "Analysis: page load time and conversion"
| Estimates |  |
| ------------- | ------------- |
| TL | 3|
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

Conduct an analysis including any necessary experiments to confidently bucket page load times by their relationship to conversation rates.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] We have analyzed historic conversion rates across enough dimensions to gain

[2019-01-23 13:10] alexgibson commented on #6741
@hoosteeno please see https://github.com/mozilla/bedrock/issues/6720 (I'd very much like to talk about this in our 1:1)

[2019-01-23 14:42] rraue commented on #6458
I think, if this is not much dev-work, we should consider doing this even on the existing page, as it could be month of work to find a completely new strategy for /firefox/.

[2019-01-23 16:13] alexgibson commented on #6735
I've talked to Kirby on IRC and most of this copy doc is old, dating back to last September.

The only line of copy we need to change here is:

"Edge came with your PC, but Firefox doesn’t hog your data. Edge runs on Google’s Chromium where data means profits. Firefox beats Edge when it comes to privacy, portability and utility."

[2019-01-23 17:08] peiying2 commented on #6104
@alexgibson this means 30 locales (representing 26% of the entire locales on production on mozorg) and 83.01% user base. I remember our threshold in general is 80%+ and it's good to switch over. But I will let the team decide if this is high enough.

[2019-01-23 17:11] peiying2 commented on #6579
https://pontoon.mozilla.org/vi/mozillaorg/ - the team has completed all the pages in the last few weeks.

[2019-01-23 20:10] ejregithub opened #6746 "'SEO page' performance metrics"
| Estimates |  |
| ------------- | ------------- |
| TL | ? |
| PM | 1/2 day |
| ENG | NA |
| SEO | ? |
| ANA | ? |
| DES | NA |
| COPY | NA |

Description: We have a set of pages on Mozilla.org who's main purpose is to drive SERP ranking and, in turn, download & install conversions. We need to understand each page's performance to determine if further analysis is warranted to propose iterations f

[2019-01-23 22:19] hoosteeno commented on #6629
@alexgibson we *can* target >= 57, but it looks like you've coded it to target latest release, and that gives us plenty of data, so that works.

[2019-01-24 03:03] hoosteeno commented on #6104
That's good info. What happens for visitors from locales that are not ready, if we switch over now? Do they get the new footer in en-US?

[2019-01-24 09:08] alexgibson commented on #6104
I'd very much like to understand this too. If all those locales default to en-US pages and lose their activation status then we could wait a bit longer, and consider make a last call for translations? Thoughts @peiying2?

[2019-01-24 09:53] #6474 closed

[2019-01-24 16:09] peiying2 commented on #6104
@alexgibson I assume if the page defaults to en-US, users would most likely stuck on the US site. It may switch back at some point if user language preference setting is another locale.
I will send a reminder on this. In the past, when a home page (mozorg or fx) was defaulting to en-US, the community would ask us why their localized pages were gone, and we reminded them they fell behind.

[2019-01-24 16:12] alexgibson commented on #6104
@peiying2 thank you! That sounds great.

[2019-01-24 16:40] peiying2 commented on #6104
I think they should be on the localized site, just en-US content at nav bar/layout, because unlike activated page controlled on the l10n side, this setup could make the page look partially localized (footer, the page itself and nav bar) because it is made up by several components. Anyway, I have sent out reminders.

[2019-01-24 18:04] ejregithub opened #6749 "Kill the FB funnelcake test"
Description:  We're also actively serving a Facebook video chat funnelcake to users who visit /firefox/ from a FB referrer (#6206). We need to kill it, per Winston

One of the active tests running, noted in #6669

[2019-01-24 19:14] ejregithub commented on #6585
Contexting session is booked for Monday Jan 28th

[2019-01-24 19:33] ejregithub commented on #6746
@rraue addressed the tasks here, inserting data into [this spreadsheet ](https://docs.google.com/spreadsheets/d/1UPbSeU32x8AoeHaeEHCS4Dwp4OEAvdFIVKTBqkFgloo/edit#gid=0)earlier today.

[2019-01-24 19:33] pmac commented on #6711
@ejregithub Have we passed this copy by our privacy and security folks? It would be pretty embarrassing if we recommended a VPN service that actually hurt user privacy and/or security as many of the free ones do.

[2019-01-24 19:36] ejregithub commented on #6712
@alexgibson - QA review came up with the request to:  In the cookies section, please cut (remove) “Cookies basically function as tiny online spies for ad companies.” from the end of the second paragraph. Otherwise good to go for launch.

[2019-01-24 20:07] hoosteeno commented on #6737
Can you add me to the bug?

Is this really in the current sprint? She doesn't start for a while.

[2019-01-24 20:54] amychurchwell commented on #6711
@ejregithub demo link -- https://bedrock-demo-seo-vpn.oregon-b.moz.works/en-US/firefox/features/free-vpn/

[2019-01-24 22:05] ejregithub commented on #6711
From Scott (AMO): This content was written last summer, before AMO instituted their review policy. So none of these have been reviewed. Scott has added them to the security review queue for this month and he hopes that they’ll be done in a few weeks.

[2019-01-24 22:15] hoosteeno commented on #6669
Added to issues to backlog to stop Yandex experiment and SEM landing page experiments. All have a winner that we should leave in place.

[2019-01-25 00:38] ejregithub opened #6752 "Remove Yandex test, make 90% cohort the 100% default"
Description:  Close the Yandex experiment and drive 90% cohort to 100% of RU geo-located audience

[2019-01-25 00:39] ejregithub commented on #6752
@hoosteeno - please prioritize this, pulling into the https://github.com/orgs/mozilla/projects/45 sprint backlog column when it's ready.

[2019-01-25 09:01] alexgibson commented on #6206
Closing this as a dupicate of #6749

[2019-01-25 09:01] #6206 closed

[2019-01-25 09:34] alexgibson opened #6754 "Promote winning versions of SEM browser comparison landing pages."
As per: https://bugzilla.mozilla.org/show_bug.cgi?id=1479085#c20

- /en-US/firefox/new/?xv=safari is the winnner (can remove other variations).

As per: https://bugzilla.mozilla.org/show_bug.cgi?id=1479086#c9

- /en-US/firefox/new/?xv=edge&v=3 is the winner (can remove other variations).

As per: https://bugzilla.mozilla.org/show_bug.cgi?id=1489266#c18

- /firefox/new/?xv=opera&xv=opera&v=a is the

[2019-01-25 09:41] elin-moco commented on #6084
Sounds great!

[2019-01-25 09:54] alexgibson commented on #6754
Note: with the exception of Safari and Edge, the winning variation for all other browsers was the default /new page. We are good to remove all the templates for Opera, Chrome and IE.

[2019-01-25 17:06] #6689 closed

[2019-01-25 17:31] ejregithub commented on #6487
This was completed in another issue #6544

[2019-01-25 17:31] #6487 closed

[2019-01-25 17:34] ejregithub commented on #6121
Spoke with @hoosteeno and concluded this is not something to take on. Citing the nominal set of non-Fx users visiting the page and the fact that the download button is in the nav (the global nav was not always shown on this page, but is now)

[2019-01-25 17:34] #6121 closed

[2019-01-25 17:43] alexgibson commented on #6300
Closing as a duplicate of https://github.com/mozilla/bedrock/issues/6752

[2019-01-25 17:43] #6300 closed

[2019-01-25 17:44] alexgibson commented on #6716
This ws completed in https://github.com/mozilla/bedrock/pull/6717

[2019-01-25 17:44] #6716 closed

[2019-01-25 19:19] craigcook opened #6756 "[2/15] Add a vanity URL redirect for /decentralization"
Michaela has asked for a vanity URL at `mozilla.org/decentralization` that redirects to  `mozilla.org/internet-health/decentralization/`.

It should be live no later than 15 February but any time before that is just as good.

[2019-01-25 19:37] #6681 closed

[2019-01-25 21:03] #6756 closed

[2019-01-28 09:15] alexgibson commented on #6704
From an experiment & copy perspective, this seems very nearly complete enough to start work on.

One remaining question: do we need any design input here on how the copy should be presented? Are we showing any images to accompany the information, or do we think copy alone is enough for this experiment?

[2019-01-28 10:47] fitojb opened #6758 "Firefox ESR wordmark uses the old Meta font and gray color"
https://github.com/mozilla/bedrock/blob/0e53738145db114bce2711b83dbf5592c4f72114/bedrock/firefox/templates/firefox/organizations/organizations.html#L20

This logotype ↑ in the `organizations` page uses the pre-Photon Design [wordmark](https://design.firefox.com/photon/visuals/product-identity-assets.html), with Meta instead of Sharp Sans and gray instead of dark purple.

Pinging @firefoxux

[2019-01-28 11:21] alexgibson commented on #6704
I'm going to make a start on this, whilst we iron out the last details.

[2019-01-28 14:39] alexgibson commented on #6704
A WIP of this is now up on demo:

URL: https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/download/thanks/

The experiment targets en-US and Chrome only, with each variation set to 33% of traffic.

- https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/download/thanks/?v=a (control)
- https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/download/thanks/?v=b (install co

[2019-01-28 17:05] alexgibson commented on #6629
This is blocked on code review.

[2019-01-28 17:35] ejregithub commented on #6709
@alexgibson - the copy is now final, here, so I've removed the blocker -https://docs.google.com/document/d/1demvfj2kzdHZ2HhoS4GwUTNfRxFZ0s54veJ84XOwHKY/edit?usp=sharing

The meta data is at the bottom of the doc.

[2019-01-28 19:17] stephaniehobson commented on #6458
It's not much dev work to add links.

What do we think of adding as an A/B test initially so we can do before/after analysis. Or am I making it more complicated than it needs to be?

[2019-01-28 19:19] stephaniehobson commented on #6495
That was the case. I think I will just close the issue because I'm not sure it's actionable if ESR is being notified correctly.

[2019-01-28 19:19] #6495 closed

[2019-01-28 20:16] sghoseWI commented on #6704
@alexgibson this looks great to me! Just made some edits to the Mana page to reflect the changes that were made.

[2019-01-28 21:29] ejregithub opened #6762 "Remove Firefox Focus from /firefox/mobile/ page for specific countries"
| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |

Description:  We need to remove the Firefox Focus content (the top CTA and the 'see more' content at the bottom of the page) from /firefox/mobile/ page for specific countries (not locales)

India
Indonesia
Philippines
Thailand

- The current plan is to remove Focus from these markets on 1/31
- /firefox/mobile/ , the Fo

[2019-01-29 04:47] ejregithub opened #6763 "FxA CTA on /new: Build l10n rollout plan"
| Estimates |  |
| ------------- | ------------- |
| TL | 1 hour |
| PM |  |
| ENG | 1/2 day |
| SEO | |
| ANA | |
| DES | |
| COPY | |

We should release this feature in a source locale, and allow other locales to localize it on their own schedule.

We should ask l10n for help getting it localized in Tier 1 locales.

Locales where it is not 100% localized should fall back to the version of this p

[2019-01-29 14:43] #6749 closed

[2019-01-29 14:46] alexgibson commented on #6709
This is up on demo for stakeholder review https://bedrock-demo-agibson.oregon-b.moz.works/en-US/technology/browser-history/

[2019-01-29 14:50] rraue commented on #6458
@stephaniehobson I would just test on bouncerate and pages/session metrics for the page as a landing page to see if anything shifts. I do not expect that, but I do expect crawlers to understand our site architecture better, what doesnt directly increases traffic/conversions but enables us to do such experiments like on /all/.

[2019-01-29 16:44] ejregithub commented on #6709
I have this in front of the desktop team for QA

[2019-01-29 17:30] vincejoyiv commented on #6704
@claychaffin a note on the copy as it stands in the demo: The phrase "Firefox installer" doesn't actually in the Chrome download bar. In my version of Chrome it says "Firefox 65.0.dmg".

Possibly just removing the quotes would be a workable solution, where the final text could be: **"Finish setting up Firefox by clicking the Firefox installer in Chrome’s download bar."**

See the screenshot for re

[2019-01-29 20:06] #6712 closed

[2019-01-29 21:13] kewisch commented on #6724
Thanks for updating this pmac!

[2019-01-29 22:05] vincejoyiv commented on #6704
@alexgibson @claychaffin as far as a graphic treatment goes: the obvious thing to do is something like the screenshot below. However, I'd want us to be very careful, because including a screenshot of UI that is _not_ the actual UI can lead to some pretty bad results. If folks click the image expecting something to happen, it could be frustrating when nothing does.

I could spend more time on this,

[2019-01-30 00:46] claychaffin commented on #6704
@hoosteeno @vincejoyiv @alexgibson  If possible, I'd like to do an *A/B test on the supporting copy* as part of this experiment-

Proposed copy test:
Copy A: Finish setting up Firefox by clicking the Firefox installer in Chrome’s download bar.
_vs_
Copy B: Click on the Firefox installer in Chrome’s download bar to finish setting up Firefox.

We use imperative sentences like these a lot; I'd love t

[2019-01-30 01:39] #6629 closed

[2019-01-30 04:02] pmac commented on #6724
My pleasure!

[2019-01-30 11:06] alexgibson commented on #6762
I think we should discuss the context behind this request before settling on a technical implementation like this. Removing content based on physical location like this may be difficult and high effort. There could be several solutions to this, some of which may be simpler and less effort:

- Adding a disclaimer that Focus is not available in certain countries and hiding the app store links.
- Red

[2019-01-30 11:37] alexgibson opened #6766 "Investigate using WebP images"
Firefox 65 now supports the [WebP](https://developers.google.com/speed/webp/) image format, as well as Chrome [1]. WebP offers significantly smaller image compression (up to ~25% compared to traditional PNG), so could potentially improve our page load times considerably.

We could investigate using the `<picture>` element to deliver the right image formats to browsers that need webp vs png, as det

[2019-01-30 18:55] hoosteeno commented on #6704
Re: the image, we agreed to modify to make it a simplified picture of a (Chrome/Windows) browser with an arrow pointing to the location the downloaded file will show up in the footer

Re: the copy, an additional variation seems good

@alexgibson we also talked about the need to implement stub attribution on this, since that's the only way we'll be able to measure install rates. Is it possible to t

[2019-01-30 19:35] pmac commented on #6704
Or perhaps if they click the image add a big down pointing arrow at the bottom left of the screen :)

[2019-01-30 19:36] hoosteeno commented on #6102
Is there any way we can assess the size of the audience that would use such a feature, before implementing it? How many visitors to this page want a different platform and language?

If impossible for us to answer that with existing data (which would surprise me), then I suggest we make a far simpler version to answer it. E.g. we could say "We think you're on Windows in en-US, [need something diff

[2019-01-30 19:38] pmac commented on #6704
Yes. We'd have to decide whether a user would be selected for this experiment in the attribution collection code, and the add some attribution value indicating their involvement and get it signed and ready for inclusion on the bouncer link when/if they get there. But I believe that's quite doable, right @alexgibson ?

[2019-01-30 19:40] pmac commented on #6704
@vincejoyiv that's because you're on a Mac and the people in this experiment will all be on Windows.

[2019-01-30 19:52] alexgibson commented on #6704
I had not invisaged doing any custom stub attribution code for the basis of this experiment. That's decidedly more work than letting the attribution code "do it's thing", but if we really wanted to avoid using UTM params on the URL, then anything is possible yeah.

[2019-01-30 22:13] ejregithub opened #6769 "FxA CTA on /new: Research: Find what languages are supported by accounts.firefox.com"
| Estimates |  |
| ------------- | ------------- |
| TL | 1 |
| PM |  |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

Description: Find out which languages (locales) are supported by accounts/firefox.com

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] We have a list
- [x] We use the list to inform l10n rollout plan

#### :heavy_exclamation_mark: Risks :heavy_exclamation_mark:

[2019-01-30 22:14] ejregithub commented on #6769
Hoosteeno to consult with Accounts team for response to this question and provide that listing here.

[2019-01-30 22:26] ejregithub opened #6770 "FxA CTA on /new: Capture and analyze data"
| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | 2 days|
| ENG |5 days |
| SEO | |
| ANA |7 days |
| DES | |
| COPY | |

Description, good enough that reading the card 1 month from now, you still know what it means.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of success criteria. Use a checklist!
- [ ] This is an example of success criteria.

[2019-01-30 22:52] hoosteeno commented on #6769
Here are the supported languages:

https://github.com/mozilla/fxa-shared/blob/master/l10n/supportedLanguages.json

Here is Pontoon status:

https://pontoon.mozilla.org/projects/firefox-accounts/

[2019-01-31 10:01] alexgibson commented on #6104
The nav is now localized at "locales: 36 (32%) - 92.65% of our l10n user base". Given that the threshold is generally around 80%, I think we may now be in a position to merge the navigation? If locales that have not yet completed the work and will see some English strings (as opposed to lose activation status entirely), then I think this is probably ok.

Thoughts @peiying2 and @hoosteeno?

[2019-01-31 10:10] sghoseWI commented on #6741
@hoosteeno  @alexgibson -- based on my pre-experiment analysis, I agree that we could benefit from running an experiment on this to help us understand how longer page load times affect our business.

From the charts below, we can see that across the most visited pages in January 2019 (data sourced from GA), there seems to be a strong positive relationship between higher page load times and bounce

[2019-01-31 10:21] peiying2 commented on #6104
I am good with merging the navigation now. Those that have not localized it will catch up as soon as they see it in English. I will send reminder in our next monthly l10n report.

[2019-01-31 14:09] alexgibson commented on #6704
Ok, based on our team time discussion yesterday I've re-architected this experiment to the following:

Target audience: Chrome visitors on Windows only.
Target locale: `en-US` only.
Base URL: https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/new/

There are now a total of 4 variants, set to 25% of traffic each:

- https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/new/?v=a
-

[2019-01-31 14:10] alexgibson commented on #6704
@hoosteeno @sghoseWI ^

[2019-01-31 16:05] ejregithub opened #6772 "Training: L10n .lang string extraction"

[2019-01-31 16:12] hoosteeno opened #6773 "Test that migration worked."
| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

We need to verify that a migration is not creating content bugs.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Test that sitemap is the same between migrated site and production
- [ ] Spot test that content is the same for locales on migrated site and productio

[2019-01-31 16:17] ejregithub opened #6774 "Decide on how to localize content on mozilla.org in the future."

[2019-01-31 16:41] ejregithub opened #6775 "Implement new l10n technology in bedrock"

[2019-01-31 17:06] ejregithub opened #6776 "Remove Test Pilot content on mozilla.org"
| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

Description: Test pilot has ended and content (en-US and localized versions) for it needs to be removed from mozilla.org.
---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of success criteria. Use a checklist!
- [ ] This is an example of success c

[2019-01-31 19:04] ejregithub commented on #6770
@sghoseWI - please scope effort and assign hours up until a half day, then go by half day increments.

[2019-01-31 19:31] ejregithub opened #6779 "sla-page: Code and launch SLA page for Enterprise product"
https://docs.google.com/document/d/1Dj42ugxX4Uh5ihcPlNeSTmOQ2rSJk4cytvrPIAAojhs/edit#

## Description

Use designs from https://github.com/mozilla/bedrock/issues/6937 to build a new page at /firefox/enterprise/sla that contains [the SLA document](https://docs.google.com/document/d/1Dj42ugxX4Uh5ihcPlNeSTmOQ2rSJk4cytvrPIAAojhs/edit) in an appealing, on brand design that helps convince potential cust

[2019-01-31 19:36] ejregithub opened #6780 "Redesign /all page to allow more installers"
## Description
The /firefox/all/ pages (there are several) are collectively responsible for > 2% of global downloads. They also serve as a significant SEO draw. But they are incomplete, and getting more incomplete over time. They also have old and overwhelming UI. We can improve them.

Bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1493205

The Enterprise team and the product team are working t

[2019-01-31 20:12] sghoseWI commented on #6770
Hi @ejregithub happy to help scope this -- but could you please provide some more context for what the specific ask for analysis/experimentation is?  Still unclear to me after looking through this Mana page: https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=81691802

[2019-01-31 21:21] ejregithub commented on #6776
@hoosteeno - flagging this one with you.

[2019-01-31 21:51] hoosteeno commented on #6704
Thanks @alexgibson, great work. So someone who lands in /new with en-US Windows Chrome gets split to one of 4 variants of the page, and their variant determines the message they'll see and the attribution parameters we'll set.

Do those variants also have different GA event instrumentation? I can imagine someone wanting to be sure that the variations each drove appx. the same number of clicks, sin

[2019-01-31 22:03] hoosteeno commented on #6741
@sghoseWI thanks! It's good to know that site engagement appears to relate to page load times.

I am especially interested in understanding pageload impact on *conversion rates*. Do conversion rates for desktop downloads or accounts signups relate to page load times?

[2019-01-31 22:04] hoosteeno commented on #6104
I agree: We should launch the new navigation! Thank you @peiying2 and @alexgibson .

[2019-01-31 22:11] hoosteeno commented on #6752
@alexgibson can you estimate effort on this? If trivial, please pull it into sprint board any time before next sprint begins.

[2019-02-01 01:09] #6498 closed

[2019-02-01 09:52] alexgibson commented on #6709
@ejregithub I thought this was already approved by stakeholders. Does this mean the copy has now changed and needs updating again? I can't easily spot what's changed :(

[2019-02-01 10:10] alexgibson commented on #6704
@hoosteeno make sense to me, I'll work on incorporating these changes 👍

[2019-02-01 10:46] alexgibson commented on #6104
The nav has now merged, so I think this work can be unblocked. I'm not clear if there are any new string changes associated with the new footer rolling out, but we can perhaps try and minimize those changes as much as we can.

[2019-02-01 11:03] alexgibson commented on #6517
Fixed in https://github.com/mozilla/bedrock/issues/6498

[2019-02-01 11:03] #6517 closed

[2019-02-01 11:04] #6710 closed

[2019-02-01 11:20] #6776 closed

[2019-02-01 17:18] ejregithub commented on #6709
@alexgibson - Copy is unchanged. Apologies if I presented any confusion.  This is good to go.

[2019-02-01 18:40] ejregithub commented on #6769
Thanks @hoosteeno. Closing this issue.

[2019-02-01 18:40] #6769 closed

[2019-02-01 22:42] gene1wood opened #6783 "Travis integration no longer working"
With [GitHub services being turned off yesterday](https://developer.github.com/changes/2018-04-25-github-services-deprecation/) the Travis integration has stopped working and travis builds won't be triggered. [You should migrate](https://docs.travis-ci.com/user/migrate/legacy-services-to-github-apps-migration-guide/) to the Travic CI GitHub app

[2019-02-03 14:32] kimkumsook opened #6784 "root"
rootcheker

[2019-02-03 14:33] #6784 closed

[2019-02-04 09:36] alexgibson opened #6785 "Homepage content card update (en locales)"
| Estimates |  |
| ------------- | ------------- |

| ENG | 16 |

Description: Monthly content refresh on the www.mozilla.org homepage (en-US version)

---
#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of success criteria. Use a checklist!
- [ ] This is an example of success criteria.

#### Tasks
- [ ]

Here is the content refresh for the EN-US homepage: https://docs

[2019-02-04 10:51] alexgibson commented on #6704
Ok, I've updated the logic based on @hoosteeno's suggestions above:

The experiment will only run if all of the following conditions are met:

- User is on Windows
- User is on Chrome
- `utm_content` param is not already present when landing on the /new URL.

If the above three conditions are met OK, the user is redirected to one of the 4 variants. Each of those variants will:

- Make a stub attri

[2019-02-04 11:17] alexgibson commented on #6752
I think I can get this done today, added to the sprint board 👍

[2019-02-04 17:51] hoosteeno commented on #6693
The a/b variations here are slight -- in paragraph text, only. After running lots and lots of a/b tests, my gut tells me that we would need a large sample to be confident in any minor difference coming from these variations. We're unlikely to get that sample in 5 days, and _very_ unlikely to have time to respond to anything we might learn from the experiment. Adding an experiment to this doesn't s

[2019-02-04 18:04] hoosteeno commented on #6763
@craigcook can you review the plan? It's above.

[2019-02-04 18:30] rraue opened #6787 "New nav press links not localized"
In the new localized nav all press center links in "about" point to the english press center but for Germany, France and I think some other locales we do have localized press centers, we should link to.

[2019-02-04 20:33] WillatMozFdn commented on #6693
Hey Justin (@hoosteeno ), I've run lots of tests of fundraising copy in the snippet channel, and you'd actually be surprised at the significant results I've seen from testing even small variants in the copy (and even after less than one day of data).  Point taken, however -- I'll re-work the copy some tomorrow morning so that we have a bigger difference.  We do however absolutely need to stick to

[2019-02-04 21:10] amychurchwell opened #6789 "Update firefox/accounts modal links to buttons"
Semantically, the links on firefox/accounts that trigger the QR code modal window should be buttons as they do not take the user to a new URL.

<img width="1287" alt="screen shot 2019-02-04 at 1 08 04 pm" src="https://user-images.githubusercontent.com/30483988/52237300-02d4c680-287e-11e9-8577-9df7d8c6171c.png">

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Demo reviewed by design

[2019-02-04 21:34] ejregithub commented on #6198
Closing per discussion w. Justin C

[2019-02-04 21:34] #6198 closed

[2019-02-04 21:38] amychurchwell commented on #6452
@LordGameleo No one is assigned so feel free to submit a PR, if you'd like. 😄

[2019-02-04 22:11] ejregithub commented on #6452
Sorry, this issue is done, just closed in the corresponding Legal bug, but not here. Closing now.

[2019-02-04 22:11] #6452 closed

[2019-02-04 22:36] ejregithub opened #6790 "D&I 2019 - images"
| Estimates |  3.5 days and 1 hour total |
| ------------- | ------------- |
| TL | 1 hour |
| PM | 1/2 day |
| ENG | 3 days |
| DES | |

Description: D&I 2019 numbers are ready and need to be posted in a new blog. The job here is to create new images with the 2019 data

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of success criteria. Use a checklist!
- [ ] Th

[2019-02-04 22:43] craigcook commented on #6669
According to Nick Thomas via Slack, funnelcake users do receive updates through the regular channel, so this should do no harm: "What we do is that the funnelcake134 build will request updates on release-cck-mozilla134 channel, and if nothing is found there the update server will automatically try release instead. So we have the option of giving them something different, but hardly ever do and the

[2019-02-04 22:47] hoosteeno commented on #6693
I believe you re: snippets. One thing that snippets have going for them is massive volume. In this case we don't have the same volume, not by a long shot.

The numbers on the banner channel don't seem to justify the engineering and management effort for a 5 day experiment. [Have a look](https://docs.google.com/document/d/1IClAqjRNPGPwnU4D-56n_gyuNCCFp5q1y7Y9Y0-dKRM/edit) and let me know if you dis

[2019-02-04 22:50] stephaniehobson commented on #6155
This experiment never got activated and talking to Justin we have decided not to run it.

[2019-02-04 23:31] amychurchwell commented on #6790
Repeat from earlier meeting-- but if these are charts that are used every year, we may consider using a JavaScript data visualization tool for the next one.

[2019-02-05 01:12] ejregithub commented on #6785
@alexgibson - when you can, please ballpark the ENG time required for this work.

[2019-02-05 01:22] ejregithub opened #6792 "[Experiment] Make global CTA a 90% experiment; localize."
Reference the original work in #6629

| Estimates |  |
| ------------- | ------------- |
| TL | 1 hour |
| PM | 1/2 day |
| ENG | 1 day |
| SEO | |
| ANA | ? |
| DES | |
| COPY | |

Description:  Notch up the global CTA to a 90% experiment and localize it in DE/FR. (Original description: Implement a test showing a Fx Account CTA in the Global Navigation to users visiting mozilla.org w. a Firefox b

[2019-02-05 08:51] alexgibson commented on #6785
Proposed new layout:

1. Banner
2. 5-card
3. More power to you.
4. 2-card
5. 4-card Pocket feed
6. 2-card
7. Support a healthy internet.
8. 2-card
9. Open source. Open minds.
10. 2-card
11. Love the web?
12. Footer

[2019-02-05 08:53] alexgibson commented on #6785
I'd normally ballpark this as a days work (8 hours), but seeing as they want to tweak the layout that's going to involve some extra work in bedrock. I'm going to up this to 2 days work.

[2019-02-05 09:11] #6787 closed

[2019-02-05 10:05] alexgibson commented on #6704
Also noting, if we want to run this experiment on /new/ for en-US, this experiment is likely blocked by the Win10 taskbar funnelcake finishing (https://github.com/mozilla/bedrock/issues/6586)

[2019-02-05 15:00] #6709 closed

[2019-02-05 15:00] alexgibson commented on #6785
Initial PR to the admin repo to update the card content: https://github.com/mozmeao/www-admin/pull/2

[2019-02-05 15:59] ejregithub commented on #6704
@alexgibson - according to Su Hong in [the bug ](https://bugzilla.mozilla.org/show_bug.cgi?id=1493595) for the funnelcake, the experiment has more than enough (about 157,534) enrollees. It looks like the test was flipped OFF about 5 days ago. We can now remove that and TC).

[2019-02-05 16:43] ejregithub opened #6793 ""Safe Browser" SEO Page"
| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | 2 hours |
| ENG | |
| SEO | |

Description: using the template established for SEO pages from the NA Desktop team, create the new page 'Safe Browser'

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Get QA signoff from @rraue prior to go live
- [ ] Get QA signoff from Accountable (Winston) prior to go live

#### :hea

[2019-02-05 16:47] ejregithub commented on #6793
![image](https://user-images.githubusercontent.com/20547886/52289298-9c55b400-2922-11e9-998e-97668a790558.png)

[2019-02-05 16:59] ejregithub commented on #6707
@vincejoyiv is producing visual asset here. Please append/attach when done.

[2019-02-05 17:24] ejregithub commented on #6792
I think the reasoning may (may) be that users  with older versions may (may) not be able to update further, but can sign up for an account regardless of their version and our overarching goal is to promote Accounts. @hoosteeno - is that accurate - we're looking promote accounts to all Fx users?

[2019-02-05 17:50] pmac opened #6794 "Move from Jenkins to GitLab for CI/CD"
- [x] Setup CI for Bedrock in GitLab
- [x] Hook GitLab CI up to Github for build reporting
- [x] Configure build and deployment pipeline

See https://github.com/mozilla/kitsune/pull/3455 for a similar effort in Kitsune and [our infra docs](https://github.com/mozmeao/infra/blob/master/docs/gitlab_ci.md) for pipeline help.

[2019-02-05 18:30] hoosteeno commented on #6792
I clarified above. I asked the FxA team to provide localized strings.

Getting people on Quantum puts them on solid footing for a whole host of things we care about that relate to user satisfaction and a deepening relationship -- accounts features like send tabs, UI improvements, better performance, pocket integration, and of course any security fixes in the interval. But going forward from Quantu

[2019-02-05 19:16] hoosteeno commented on #6762
I'm just updating this card with some questions we need answers to.

* Why is this an urgent priority, considering the very small number of visitors currently impacted?
* If geo-based removal is very difficult, what about global removal (which is trivial)? Is there any reason we should keep promoting Focus on this page to _anyone_?
* How will we decommission Focus, and what does that imply for the

[2019-02-05 19:50] alexgibson commented on #6762
Just to add some extra context here based on our discussion. It's not that removal based on geo would be super difficult per-say. It may be quite possible to do, but it would likely not be a great implementation and a hack at best. The page was never really designed or built to be incomplete like this. From a performance point of view, client side geo-location also has some real costs associated w

[2019-02-05 21:38] stephaniehobson commented on #6793
Note that we do not yet have a license to use Sharp Sans on any pages other than FFFY.

[2019-02-05 22:09] WillatMozFdn commented on #6693
Hey Justin (@hoosteeno ), I'll accept your logic on this one.  (And thanks for the numbers, I previously did not have any idea the scale of the traffic we're talking about here.)  Let's go with variant A -- I think it's more consistent with a valentine's day theme.  Follow-up question ... what changes to the banner (in general, not just for V-day) do you think we could make that would make a big d

[2019-02-05 23:55] stephaniehobson commented on #6716
Mixed results with the updated placeholders:

<img width="516" alt="screen shot 2019-02-05 at 3 38 42 pm" src="https://user-images.githubusercontent.com/854701/52312130-4e5ea180-295e-11e9-9e99-0160ae58a139.png">

I will revert the Pocket and comparison video ones and try a different still from the bookmarking one.

The new screenshot placeholder is doing quite well though :)

[2019-02-06 00:10] vincejoyiv commented on #6707
@alexgibson @craigcook Link to sketch file in Abstract is attached below.

These still need copy from @claychaffin

https://share.goabstract.com/d71ea84c-d900-41d5-ad57-dce7371f6c94

[2019-02-06 08:54] alexgibson commented on #6792
Thanks for the context re: 57. I think for an experiment this is fine, and I totally agree that trying hard to get people to update is a difficult task in terms of the website and the [UX problems](https://github.com/mozilla/bedrock/issues/6726) it presents.

Should this become a long term feature, perhaps we could consider not using a hard coded version number though. Instead we could perhaps say

[2019-02-06 09:05] alexgibson commented on #6669
Thanks @ejregithub - PRs below for both locales, with appropriate DNM dates for each:

https://github.com/mozmeao/www-config/pull/201
https://github.com/mozmeao/www-config/pull/202

[2019-02-06 09:25] #6155 closed

[2019-02-06 12:46] alexgibson commented on #6792
Blocking this issue on strings.

[2019-02-06 12:47] alexgibson commented on #6585
Blocked on content

[2019-02-06 12:48] alexgibson commented on #6735
@ejregithub any word from legal on this string change?

[2019-02-06 14:35] rraue opened #6798 "Reducing complexity for /firefox/mac/, /windows/ and /linux/"
Right now /firefox/mac/, /windows/ and /linux/ are build as variations of /new/ and after analysing the traffic and user behaviour on this pages, we found out that it is not necessary to have all complexity of /new/ on this pages. Basically, all visitors (98%) are non-firefox. So the update banner is not necessary and various other functions not as well.

It is enough to have a "dump" protocol pag

[2019-02-06 17:06] mrkwvr commented on #6704
@alexgibson sketch file with new illustration
[Firefox Hub (How-To-Install variation on -thanks @ a97ed0a).sketch.zip](https://github.com/mozilla/bedrock/files/2837430/Firefox.Hub.How-To-Install.variation.on.-thanks.%40.a97ed0a.sketch.zip)

[2019-02-06 17:48] ejregithub commented on #6735
@alexgibson - Michael responded but the team has not yet picked up copy changes based on that feedback. I'm going to leave this blocked and move it into our backlog.

[2019-02-06 19:46] claychaffin commented on #6704
I spoke with Justin just now about our the copy. To further minimize risk of negatively impacting accounts, we’re forgoing the A/B copy test. Were now going solely with Copy A. This one:  Click the Firefox installer in Chrome’s download bar below to finish setting up Firefox.
I’ve updated the copy doc to reflect this.
Down the road--not in this sprint-- we’ll look for another place to run the copy

[2019-02-06 19:58] sghoseWI commented on #6741
@hoosteeno, it doesn't look like there is as strong of direct relationship between downloads and page load times.  The. re is very little correlation between these variables (I'm seeing correlation coefficient of .005). This is based off the same time horizon as the previous charts:

![image](https://user-images.githubusercontent.com/21691669/52369454-5d088f80-2a16-11e9-9616-af6b6d9f0e21.png)

[2019-02-06 20:00] claychaffin commented on #6704
@hoosteeno Hey Justin, Vince and I refined and added "Need help... ?" copy to the copy doc, so please be sure to take a look. @mrkwvr @alexgibson @vincejoyiv

[2019-02-06 20:00] hoosteeno commented on #6704
We've had some new guidance about how experimentation relates to FxA signups, and I want to bring those into this experiment. I'm sorry for the late change -- things are moving fast.

Let's go with 3 variations: The control, the install copy (copy variation A only), and the app-store buttons aka no-newsletter.

control: 50%
install copy A: 25%
app-store: 25%

Why?
* @sghoseWI says a 25% split will

[2019-02-06 20:11] craigcook commented on #6790
Graph assets have been put in the google drive at https://drive.google.com/drive/u/1/folders/1a9PQH1sPogyprR_QEmh5xJMtuV53Mj56, pending review/approval from the D&I team.

[2019-02-06 21:01] ejregithub opened #6799 "WNP 67- Coding Design - Release date - 5/14"
[Master Project Document](https://docs.google.com/document/d/1_Jb3Z7RpVM-o5YKqOKDgW4v5CMdzSGIPTDa5GtYg-8A/edit)

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | 2 days |
| ENG | |
| ANA | TBD |
| DES | TBD |
| COPY | TBD |

Description: launch the whatsnew page one week before the Firefox 67 launch to promote FxA accounts (and possible other things).

---

#### :yellow_heart: Su

[2019-02-06 23:23] hoosteeno commented on #6762
I talked with Loren and we agreed to icebox this request until/unless it becomes a problem. As things stand, the UX is probably better than any band-aid we could apply. Visitors to the page from these 4 countries who follow the CTA to the Focus App get a message: It's not available in their location. For us to provide a similar experience we'd have to jump through the hoops Alex mentions in https:

[2019-02-06 23:41] stephaniehobson commented on #6798
It would be nice if the windows and linux ones did not have a macbook as the hero image.

[2019-02-07 00:56] craigcook commented on #6693
This is up on a demo server at https://bedrock-demo-craigcook.oregon-b.moz.works/en-US/

We're aiming to go live this Friday the 8th and run until early on the 15th.

There's a small issue with the background image at mobile sizes where it's not quite tall enough to fill the space and the edges become visible. I can do some CSS trickery to stretch it, but thought it might also be just as easy to a

[2019-02-07 01:26] kristinashu commented on #6693
Everything looks great but the banner background seems really zoomed in at wide browsers widths. Could it be related to the banner getting cut off at narrow widths? I think the background image would like nicer if it's size were set to `cover` on all screen sizes?

Here's a comparison of the background image:

![v-day-banner](https://user-images.githubusercontent.com/1068783/52384848-0742e000-2a34

[2019-02-07 02:13] craigcook commented on #6693
Yeah, sorry, that was a CSS bug. I've since fixed it but needed to push the fix to the demo server (it should be updated momentarily). Also I think I've solved the tall-and-skinny issue at the same time but still wouldn't turn down a larger version of the image if it's no trouble.

[2019-02-07 03:15] LaurenNiolet commented on #6792
Are the l10n strings preventing us from exposing this to 90% of the audience in EN?

[2019-02-07 08:58] alexgibson commented on #6741
@sghoseWI @hoosteeno interesting that this seems very noisy, and is somewhat in contradiction to the bouncerate analysis (an increase in bouncerate should naturally also imply a decrease in clicks).

I've been thinking more about this experiment, and I wonder if it would be prudent to try and understand the effect on other types of interactions as well. For example, we could run this experiment on

[2019-02-07 09:04] alexgibson commented on #6741
I'ver also been thinking about the variations we could use for the experiment. My current thinking is something along the lines of the following:

- Variant A: Loads (x) kB of extra images outside the visual viewport (non-blocking).
- Variant B: In addition to the same (x) kB of images, load (x) kB of CSS & JS (blocking).
- Variant C: In addition to the things in A & B, introduct a delay in web fo

[2019-02-07 10:44] alexgibson commented on #6704
Ok, I've reworked the experiment like so:

There are now three variants:

- https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/download/thanks/?v=a (control 50%)
- https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/download/thanks/?v=b (install copy 25%)
- https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/download/thanks/?v=c (app-store 25%)

for the install copy

[2019-02-07 10:46] alexgibson commented on #6792
Good suggestion 👍 If we're blocked on copy, let's split this out into two pieces of work.

[2019-02-07 13:56] hoosteeno commented on #6741
Good questions @alexgibson . I have updated the issue card with a couple measures of completion and some tasks. I think we can answer several of the questions you're asking with historical data, which will help us focus our hypotheses. @sghoseWI does this task make sense to you?

[2019-02-07 16:33] alexgibson commented on #6669
The pre-download experiment is now turned off for DE.

[2019-02-07 16:57] ejregithub commented on #6785
@amychurchwell - ready for your code review, please.

[2019-02-07 16:57] ejregithub commented on #6792
@amychurchwell - ready for your code review, please.

[2019-02-07 17:07] ejregithub commented on #6785
@alexgibson - is this estimate for ENG in hours or days?  Let's stop at 2 hours when estimating time, then estimate in 1/2 increments.  16 hours would equate to 3 days or so. If you agree on duration of effort (code review included), I'll change this to 3 days.

[2019-02-07 17:11] alexgibson commented on #6785
I'm never quite sure what unit value the template should use? Maybe baking in some more info would help others to work it out. Also explaining what all the abbreviations mean could be helpful too.

[2019-02-07 17:14] ejregithub commented on #6785
Yes, totally agree on adding guiding documenation @alexgibson.  I'll take that task and have it ready shortly.

[2019-02-07 17:51] kristinashu commented on #6693
It's looking great!

Here's a taller image 700px instead of 555px. Is that what you meant by larger?
![v-day-banner-h700px](https://user-images.githubusercontent.com/1068783/52431659-83cdd100-2abd-11e9-915e-aefc66ba3198.jpg)

[2019-02-07 23:46] amychurchwell opened #6804 "Create different GitHub issue templates"
Success Criteria.
- [x] Feature request template.
- [x] Bug report template.

Example.
![image](https://user-images.githubusercontent.com/30483988/52449999-1dad7200-2aee-11e9-887a-24e27fe76689.png)

[2019-02-08 00:52] ejregithub commented on #6792
@nohno

The [committed file](https://github.com/mozilla/bedrock/blob/b31f5deecd41f98ef018684f4b57a36496349bbb/bedrock/base/templates/includes/protocol/navigation/index.html) lists:

"Create a Firefox Account"
and
"Check out the Benefits"

[2019-02-08 15:05] alexgibson commented on #6585
@ejregithub what was the due date for delivering this content? I seem to remember the team thought they could deliver it last Friday (since they wanted it live within a week). Can you check what the status is here? Thanks

[2019-02-08 15:28] #6693 closed

[2019-02-08 15:30] #6804 closed

[2019-02-08 18:12] ejregithub commented on #6737
@craigcook  - this is good to go, needs to be live on the morning of, not before, Roxi's start day which is Thursday Feb 14th. [See the bug for required bio and image.](https://bugzilla.mozilla.org/show_bug.cgi?id=1525759)

[2019-02-08 18:17] #6586 closed

[2019-02-08 18:33] ejregithub commented on #6707
@claychaffin - please add a link to the copy doc here in this issue and indicate when it is final.

[2019-02-08 19:17] claychaffin commented on #6707
Hi @vincejoyiv is there any way to view the sketch file outside of Abstract? I'm waiting for access to Abstract.

[2019-02-08 19:41] hoosteeno commented on #6704
Yes, this sounds great. :shipit:

[2019-02-08 23:33] stephaniehobson opened #6806 "Remove sections from /firefox"
## Description

Update /firefox landing page based on user testing to remove low performing components.

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | 2 |
| SEO | |
| ANA | |
| DES | 3 |
| COPY | |

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Low performing elements have been removed
- [x] Remaining sections re-ordered

#### Tasks
-

[2019-02-08 23:35] stephaniehobson commented on #6806
New order:

![firefox-desktop-v1](https://user-images.githubusercontent.com/854701/52511910-1736fd00-2bb7-11e9-99ce-157201bdf3dd.jpg)

[2019-02-11 11:09] alexgibson commented on #6704
Ok in testing on demo, I'm happy with the current code. Flagging this for code review.

[2019-02-11 16:09] alexgibson opened #6809 "Global FxA CTA Experiment - Invalid utm_content value"
The `utm_content` value `Get a Firefox Account` used in the [global FxA CTA experiment](https://github.com/mozilla/bedrock/blob/a22d4a2c787df8ce5fedc90643a2d41465b71b34/bedrock/base/templates/includes/protocol/navigation/index.html#L27) fails validation in the FxA team's backend service, meaning the data never makes it to Amplitude or Redash.

Next steps:
~1. Pause the current experiment.~
2. Upda

[2019-02-11 16:10] alexgibson commented on #6809
/cc @hoosteeno @sghoseWI

[2019-02-11 16:13] alexgibson commented on #6809
Experiment paused via https://github.com/mozmeao/www-config/commit/d3331c1f3108fe9475cbe011a5ad681e9c729a67

[2019-02-11 16:14] ejregithub opened #6810 "Firefox 64-bit SEO page"
## Description

Adapt the copy of this blog post https://blog.mozilla.org/firefox/firefox-64-default-64-bit-windows/ to become a landing page on Mozilla.org to see if the landing page converts better than the blog post.

[COPY ](https://docs.google.com/document/d/1GCY431SVMeeK8NirjAXgi0CQIndtYJPGeZKWr-sb__o/edit)

### Estimates

| Estimates |  |
| ------------- | ------------- |
| PM | 1 hour |
|

[2019-02-11 16:16] ejregithub commented on #6810
![image](https://user-images.githubusercontent.com/20547886/52576604-3dd27f00-2dd5-11e9-8f98-27d11df11728.png)

[2019-02-11 18:04] stephaniehobson commented on #6741
Is there anything we can do to make sure we're comparing like to like users? For example, a user in San Francisco, CA is going to have a much better connection than a user in Gainsville, AK. Can the users be segmented according to technology or location or some other proxy for good internet connections?

The user's perception of our page speed is going to be really different depending on how fast

[2019-02-11 18:23] ejregithub commented on #6704
@amychurchwell - please pick up this review when ready.

[2019-02-11 18:42] nohno commented on #6792
Hi!  The strings have been added here: https://docs.google.com/document/d/1qeGA50axmClm03KEC7opuF0DOgExyCj03rFd0l57rco/edit

@ejregithub  @LaurenNiolet

[2019-02-11 19:57] ejregithub commented on #6792
EN | DE | FR
-- | -- | --
Get a Firefox Account | Firefox-Konto erstellen | Créez un compte Firefox
Check out the Benefits | Das sind deine Vorteile | Découvrez les avantages

[2019-02-11 19:59] sghoseWI commented on #6770
@ejregithub updated to my best estimation above (based on .  I haven't worked much with Amplitude much -- but I've been working with the devs for coordinating instrumentation on other experiments currently in queue. I'll reach out to Alex Davis so I can get more familiar on instrumentation process myself.

[2019-02-11 20:07] #6785 closed

[2019-02-11 20:53] #6809 closed

[2019-02-11 22:20] ejregithub commented on #6585
@alexgibson - see here (it’s the 2/6/2019 Edition) in [Airtable](https://airtable.com/shrsePL6DurBLe9mg/tblgNmPLbDjXxeViI/viwYLv28cjNOdZMm0?date=2018-06-16&mode=month)

And here is the sheet with all the content: ([content is in tab 1 + banners are in tab 2](https://docs.google.com/spreadsheets/d/1gLv1pfj7TIuGXZyPnzi3iwdG0heYVpID1HWe4wrLT3c/edit?ts=5c5c56da#gid=1177271466))

[2019-02-12 04:21] ejregithub commented on #6735
@alexgibson - and . . . we're there. There is no longer a request to change the copy in the remaining en-US version of the page being shown. However, Guy indicated that the EU team is localizing the copy to DE. I would very much like that to run through Pontoon and be open to further localization and will see if I can work that out. In the meantime, let's plan on a hard coded template for DE to ge

[2019-02-12 06:08] #6746 closed

[2019-02-12 08:38] alexgibson commented on #6735
@ejregithub I think it's probably better to open a new issue for the l10n request, as it's largely unrelated to the original request here. Closing this issue if these changes are no longer needed.

[2019-02-12 08:38] #6735 closed

[2019-02-12 08:38] alexgibson commented on #6585
Great, picking this one up today 👍

[2019-02-12 08:58] alexgibson commented on #6809
Experiment reenabled in https://github.com/mozmeao/www-config/commit/8f59abd52fa0d83c075bbd2e8628ad8664a7a9bb

@hoosteeno @sghoseWI - wheh we come to evaluate data at the end of this experiment, we probably want to ignore any data prior to 12 Feb due to the issue above.

[2019-02-12 09:29] alexgibson commented on #6792
I've opened a PR to expand this experiment for `de` and `fr` above.

Questions for @hoosteeno and/or @sghoseWI:

- Are we happy showing the experiment to the same population (i.e. 90%) for both German and French locales?
- Do we need any additional tracking in the utm params that we pass through to the FxA server for these locales, or can we simply pass through the same values that we're using for

[2019-02-12 10:23] #6458 closed

[2019-02-12 10:23] #6806 closed

[2019-02-12 10:37] alexgibson opened #6814 "New links added to /firefox/ have accessibility issues"
## Description

Several links added to `/firefox/` in https://github.com/mozilla/bedrock/issues/6458 have accessibility issues.

### Steps to reproduce

1.) Visit https://www-dev.allizom.org/en-US/firefox/
2.) Scroll down to the "Seriously Private Browsing" section.
3.) Read the content.

### Expected result

It should be easy to identify that the first two sub-titles, "Private Browsing" and "Trac

[2019-02-12 10:38] alexgibson commented on #6814
/cc @stephaniehobson @dzingeek @rraue

[2019-02-12 11:16] hoosteeno commented on #6792
90% is good in de/fr.

Amplitude can segment by lang and locale so we shouldn't need to send that info.

[2019-02-12 12:24] rraue commented on #6814
I agree with you @alexgibson, links on that page are underlined, if we choose to link headlines, they should be as well, even if that means, some headlines are underlined, some not, but I doubt that this is a conversion issue.

[2019-02-12 14:47] alexgibson commented on #6792
Ok, this is now ready to go

[2019-02-12 15:44] dzingeek commented on #6814
I also agree but I am not sure how I feel about underlining headlines. I think there is a better way. However, we are in the middle of revamping this page which will include the following.

1. qual test this pg (this will be the control)
2. "re-skin" the page with updated graphics that are on brand
3. qual test again
4. updated content
5. qual test again
6. updated ux based on our finding

I think

[2019-02-12 19:11] #6792 closed

[2019-02-12 19:35] datavizard commented on #6694
@alexgibson, I would like to work on this. Can you provide me with a bit clearer steps to reproduce this issue first? Then we can discuss the approach to fix this.

[2019-02-12 22:31] ejregithub opened #6815 "Why Firefox - SEO Page"
## Description
SEO Page to drive SERP ranking entitled ""Why Firefox could be the best browser for you"

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | 2 hours |
| ENG | |
| SEO | ? |
| ANA | |
| DES | |
| COPY | |

---

[Copy(https://docs.google.com/document/d/151gPy7rcGvd8Y9PCbtvFfFyLv066zi7F27DnGF5euYo/edit)

#### :yellow_heart: Success Criteria :yellow_heart:

[2019-02-13 00:18] #6737 closed

[2019-02-13 10:47] alexgibson commented on #6814
I don't really mind how / when we fix this, just as long as it's on our radar and doesn't end up being like this for a long time. I'm all for improving our internal linking, but I don't feel great about doing it as the expense of basic usability like this. Some of these things can likely be fixed without waiting for the user testing, but I agree the headings are more tricky. 😕

[2019-02-13 11:03] alexgibson commented on #6741
Great points @stephaniehobson! This fine level of analysis is something I'd love for us to be able to reason about more. This kind of detail may be somewhat hard to measure by looking at our existing GA data alone. With the help of @sghoseWI, I'd really like to start work on constructing this experiment soon.

[2019-02-13 13:08] rraue commented on #6814
That works for me, I just can't imagine any qual test outcome explicitly ruling out underlined headline links, it just hurts "everything looks the same" what it should, as some are links, some arent.

[2019-02-13 14:01] alexgibson opened #6817 ""Show all" toggle on /privacy/firefox/ is broken in latest FF"
## Description

The "Show all" toggle button for the accordions on `/privacy/firefox/` is broken.

### Steps to reproduce

1.) In current release FF visit: https://www.mozilla.org/en-US/privacy/firefox/
2.) Click on the "Show all" toggle next to the heading "Firefox by default shares data to:".

### Expected result

All the accordion panels below the heading should expand.

### Actual result

Noth

[2019-02-13 16:56] #6817 closed

[2019-02-13 17:29] #6790 closed

[2019-02-13 17:32] rraue commented on #6707
Adding a Seo risk here. Making this a permanent feature could cause crawlers running into this fxa content instead of the download firefox one, if they fetch the page as firefox, causing problems.

We can't address this in the rule, as this would be cloaking.

A banner for fx-users like the update banner addressing the UX problems around refresh, update and advertising accounts would go around thi

[2019-02-13 18:00] ejregithub commented on #6707
Blocking this based on the SEO concerns raised by @rraue  and the conversation we just had with the team about it and possible solutions that need further exploration.

[2019-02-13 19:58] SeburoSUMO opened #6819 "Small spelling mistake on https://www.mozilla.org (en-GB and en-US)"
## Description

Get the latest features, fast performance and the development tools you need to build for the open web with Firefox Develop Edition.

Should be:

Get the latest features, fast performance and the development tools you need to build for the open web with Firefox Developer Edition.

[2019-02-13 20:45] pmac commented on #6819
Ah. `s/Firefox Develop Edition/Firefox Developer Edition/`. Took me a min to see it. Thanks for the report!

[2019-02-13 20:50] #6819 closed

[2019-02-13 20:56] claychaffin commented on #6707
Hi @ejregithub @hoosteeno I have copy options ready, but they don't take into account the SEO concerns. Goal was to share them in the channel with all the stakeholders today. Should i hold off on sharing, per "blocked" above?

[2019-02-13 20:57] pmac commented on #6819
Rolling out to prod now. Should be fixed in the next 15 min or so. Thanks again!

[2019-02-13 21:01] SeburoSUMO commented on #6819
Wow, thank you.  I know it is not a massive thing, but for this contributor, it is still cool to a) help fix mozilla.org b) to see this happen across time zones and c) to see it go live so quickly.

@pmac Keep being awesome.

[2019-02-13 21:09] #6754 closed

[2019-02-13 21:13] sghoseWI commented on #6809
Thanks @alexgibson -- that makes sense. Would you or @hoosteeno be able to point me to a list of all the working UTM parameters for this experiment (control vs. experimental groups)?  I'm hoping to use our BigQuery datasets to get more fine-grained data than what we can get just from Amplitude.

[2019-02-13 21:13] pmac commented on #6819
You too @SeburoSUMO! Great catch!

[2019-02-13 21:15] sghoseWI commented on #6809
Thanks @alexgibson -- that makes sense. Would you or @hoosteeno be able to point me to a list of all the working UTM parameters for this experiment (control vs. experimental groups)?  I'm hoping to use our BigQuery datasets to get more fine-grained data than what we can get just from Amplitude.

[2019-02-13 21:19] sghoseWI commented on #6792
Thanks @alexgibson -- Would you be able to point me to a list of all the working UTM parameters for this experiment (control vs. experimental groups)? I'm hoping to use our BigQuery datasets to get more fine-grained data than what we can get from Amplitude alone.

[2019-02-13 21:19] sghoseWI commented on #6809
That makes sense @alexgibson  -- I will make sure to do that in my analysis report.

[2019-02-13 21:22] ejregithub opened #6820 "Update "contact" section of Mozilla Privacy Policy"
## Description

Update the copy in https://www.mozilla.org/en-US/privacy/ with the copy and links in [this doc](https://docs.google.com/document/d/19EA0GrF4p0QHqaznkNnuNzm8DyJ18PxBKHgKlewJLf8/edit?usp=sharing)

[2019-02-13 22:03] peiying2 commented on #6820
Do we know how many languages we need, though German is P1?

[2019-02-13 22:14] hoosteeno commented on #6707
In our meeting about this, Raphael acknowledged that a post-click treatment would not raise the same SEO risk as he was concerned about with the current treatment. In light of that, I'd like to ask the design team to consider a post-click treatment. Here's a concept drawing:

![fxa_on_new_concept](https://user-images.githubusercontent.com/94519/52747751-db7aa980-2fa1-11e9-93fc-1ff984422a40.png)

W

[2019-02-13 22:51] dzingeek commented on #6814
Sorry, I forgot to update my previous comment. We are putting a few things in one phase, so this update will happen by end of this quarter. But if we want it to happen sooner we can do that too, just keep in mind it will change again..."soon"

[2019-02-13 22:51] #6820 closed

[2019-02-13 23:06] ejregithub commented on #6820
@peiying2 - Mika conveyed that: "it should align with all languages that we have localized the privacy policy to"  I would think, if prioritization beyond DE is needed that addressing other EU locales first would be prudent.

[2019-02-13 23:19] amychurchwell commented on #6810
Is there a preferred URL for this page?

[2019-02-13 23:22] peiying2 commented on #6820
@ejregithub Which live page is this so I can check the other locales?

The thing is on legal github: https://github.com/mozilla/legal-docs, some have the address in the files themselves (different format and different versions). I am wondering what this PR covers. Let me reply in the email.

[2019-02-13 23:51] ejregithub commented on #6810
@rraue - can you please provide the URL for this page?

[2019-02-14 01:55] stephaniehobson opened #6822 "Update pages using the base-pebbles-basic template to base-protocol-basic"
Lots of generic pages ([example](https://www.mozilla.org/en-US/about/forums/etiquette/)) use a generic "base" template in protocol. We should create a protocol version of that and update the pages to use it.

Blocked on:
- Default HR styles mozilla/protocol#296
- Default dl styles mozilla/protocol#295
- Constant article heading hierarchy mozilla/protocol#293
- Updating to Protocol 4.0 mozilla/bedr

[2019-02-14 02:00] stephaniehobson opened #6823 "Update Release Notes template to use Protocol"
Update Release Notes template to use Protocol

Blocked on:
- ~Second nav in pages mozilla/protocol#300~

Nice to have:
- ~Label for button of second mobile nav mozilla/protocol#313~

WIP screenshot:
![screenshot_2019-02-08 firefox 65 0 see all new features updates and fixes](https://user-images.githubusercontent.com/854701/52757294-0c1a0d80-2fb9-11e9-9c8a-73fa28b1641f.png)

[2019-02-14 08:06] sghoseWI commented on #6741
Hi All - please see below for the pre-experiment analysis I put together; drilling down deeper into the points discussed above.  Would love to hear any feedback and thoughts on how we can best proceed from here!

[Page_Loads_Pre-Experiment_Analysis.pdf](https://github.com/mozilla/bedrock/files/2863875/Page_Loads_Pre-Experiment_Analysis.pdf)

[2019-02-14 09:15] alexgibson commented on #6741
@sghoseWI this is great, thank you. I think meeting to discuss the next steps here would be good.

One question I do have re: the weaker correlation to page load times vs downloads - is this looking at average downloads iacross all channels, or just FF desktop downloads? Is there a difference between mobile downloads and desktop?

[2019-02-14 10:36] alexgibson opened #6824 "Determine the fate of the /technology page"
The [technology page](https://www.mozilla.org/en-US/technology/) hasn't been updated in a long time. We no longer link to it from the global navigation, and we're now replacing links to it from the home page pointing to https://labs.mozilla.org/ instead.

Unless we plan on updating this content, I think we need to consider what to do with this page long term, especially as we are now using https:/

[2019-02-14 10:40] alexgibson commented on #6585
WIP of this is now up on demo: https://bedrock-demo-agibson.oregon-b.moz.works/de/

We're still missing some translations:

**Untranslated strings:**
* Page title `Internet for people, not profit`
* Page description `Mozilla is the not-for-profit behind the lightning fast Firefox browser. We put people over profit to give everyone more power online.`
* Manifesto banner link text `Learn more about

[2019-02-14 10:42] alexgibson commented on #6585
Blocking this on missing strings.

[2019-02-14 13:40] alexgibson commented on #6669
Both pre-download experiment have now ended. I'm going to close this issue, and open a PR to remove the experiment code. Thanks all!

[2019-02-14 13:40] #6669 closed

[2019-02-14 15:30] peiying2 opened #6826 "Mozilla legal contact update missing variable in localizable string"
## Description
PR 6821 update missing variable in localizable string

Describe the issue that you're seeing.
See comment in the https://github.com/mozilla/bedrock/pull/6821/files#r256880657

### Expected result
Need variable in the localizable string to reference back to the URL

@amychurchwell; @craigcook

[2019-02-14 15:34] amychurchwell commented on #6826
Will submit PR shortly.

[2019-02-14 16:00] rraue commented on #6810
/firefox/windows-64-bit/

[2019-02-14 16:04] sghoseWI commented on #6741
Thanks @alexgibson! That was for FF desktop downloads. I'll look into whether there I find a meaningful difference across that cut for desktop vs. mobile and let you know!

I think meeting to discuss next steps makes sense too.  As a thought -- can we re-frame the experimental treatment so that we IMPROVE page performance (perhaps by reducing the size of images on a page) as opposed to artificiall

[2019-02-14 16:16] alexgibson commented on #6741
I think this is worth discussing in a meeting. The key thing I think we should consider is there should be no visual difference between variations, else we risk influencing conversions in other ways. It's a lot harder to improve page speed substantially without altering appearance in some way. Making the page slower is easier in a controlled environment like this. That said, I think certainly we c

[2019-02-14 16:17] craigcook commented on #6826
I don't think this is correct. This is the code, with added indentation for clarity:

[code]
The entire string is contained inside the link, the link is not part of the string itself. There was an earlier version where it was but we changed that in a later commit. What actually got merged is above.

[2019-02-14 16:34] alexgibson opened #6828 "Localize the new /about/ page"
## Description

The newly designed [about page](https://www.mozilla.org/en-US/about/) has never been localized. With the launch of the new German home page, we'll be linking to `/de/about/` which is old branding. Unless we're not done experimenting on it yet, we should localize it so we can remove the old page.

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
|

[2019-02-14 16:58] peiying2 commented on #6826
@craigcook You are right. I should have not included the link when I copied the string. Having said that, this is what's in the email thread:

See [here](link) for Data Subject Access Requests.

If I just copy the above {{ _('...., the variable or link won't be in the string.

[2019-02-14 17:03] peiying2 commented on #6826
Correct the issue subject/description.

[2019-02-14 17:14] hoosteeno commented on #6741
@sghoseWI great analysis. Based on your observation, do you think there is a likely impact in FxA acquisition if we improve pageload time? Could you offer any estimate about the upper bounds of that impact across
a) Tier 1 locales
b) All locales

[2019-02-14 17:47] craigcook commented on #6826
That was the original request, but we deviated from it because "here" is terrible link text. It doesn't describe the link destination and is a much smaller target, making it bad for accessibility and user experience. So we made the entire thing one link because it's better than what they originally asked for.

We can still certainly structure it with a variable but it should still be one complete

[2019-02-14 17:54] alexgibson commented on #6741
We should also consider that whilst improving performance may well have upper bounds in its effectiveness, decreasing performance could have a whole different impact.

[2019-02-14 18:41] craigcook commented on #6826
Alright, we sorted out the confusion. The code we ultimately committed didn't exactly match what was requested, but I think we improved on that request and still accomplish the goal. So we're all good to go, no further changes required. Sorry!

[2019-02-14 18:41] #6826 closed

[2019-02-14 18:58] amychurchwell commented on #6704
@stephaniehobson is reviewing this issue! (removing my assignment.) 👍

[2019-02-14 19:07] ejregithub opened #6829 "Build SEM-specific default download experience"
## Description

Create a separate version of /new for paid funnel use

[Brief](https://docs.google.com/document/d/1Pm2xZTb337ZC-FbB89PoPL_8YHNfBq-0qhFiRg16YRo/edit#)
[Airtable listing](https://airtable.com/tbl1JN1aCB5UXpjvE/viwSPe2isp9ualv6O/recjJ3Bx5yWLV7U77)
[Context Doc](https://docs.google.com/document/d/1PucezGPizQFe2bZemAaISiig1bueFPvkEPhB8biLCEM/edit?usp=sharing)

### Estimates

| Estimates

[2019-02-14 19:13] ejregithub opened #6830 "euexp02 Design Test on /new: More descriptive features/ "More content on /new""
## Description

This project will create a page in which users can see the three feature areas that are currently "below the fold" and test that against the current /new page as the control.  We hypothesize that some people hitting this page are still on the fence and are interested in learning a bit more about Firefox before making a download decision. We believe users will be more likely to down

[2019-02-14 19:41] peiying2 commented on #6828
One of the photos shows a person wearing t-shirts saying "Firefox OS LAUNCH TEAM". Should we change it?

[2019-02-14 19:44] ejregithub opened #6831 "Launch "SEO content on /new" in en-GB & DE"
## Description

We currently aren't ranking well for browser terms - we hypothesize that a longer-form page will have a higher chance of ranking for terms like "private browser", etc. We'll add them with this in hard coded templates for each locale.

[manapage](https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=90737686)

### Estimates

| Estimates |  |
| ------------- | ------------- |
|

[2019-02-14 20:07] ejregithub commented on #6830
![image](https://user-images.githubusercontent.com/20547886/52814462-11c33200-3051-11e9-8ebf-0563c111152f.png)

[2019-02-14 21:37] #6704 closed

[2019-02-15 04:37] jgmize opened #6833 "TemplateDoesNotExist: firefox/new/compare/scene1-ie-1.htm"
## Description

We are seeing the error message in the issue description in production: https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/5220570/

The template in question was removed in https://github.com/mozilla/bedrock/pull/6755 but is still referred to in one branch of the view: https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/views.py#L743

[2019-02-15 04:42] jgmize commented on #6833
In the ~5.5 hours this has been in production, we have seen 93 instances of this error so far, so fortunately this is a relatively rare branch.

[2019-02-15 05:21] #6833 closed

[2019-02-15 05:22] stephaniehobson commented on #6833
Merged, I'll leave it up to you if you want to push tonight.

[2019-02-15 18:49] hoosteeno commented on #6707
@vincejoyiv, can you comment on the treatment above? Do you think this is a design direction we could go?

@alexgibson, can you comment on the treatment above? Do you still feel like it is possible and would mitigate the performance hit of a UITour ping, and do you feel OK about the approach?

@rraue, can you comment on the treatment above? Do you still think it would mitigate the SEO risk of chan

[2019-02-15 20:19] rraue commented on #6707
This interstitial would not harm Seo.

On Fri 15. Feb 2019 at 19:49, Justin Crawford <notifications@github.com>
wrote:

--
______
Send via mobile

Raphael Raue
Global Head of Seo
www.mozilla.org

twitter.com/raue

[2019-02-15 23:19] craigcook opened #6837 "Decommission the old /firefox/accounts/ page"
## Description

We launched the new Accounts benefits page a few months ago but have kept the legacy page while l10n has progressed on the new content. When we have sufficient locale coverage of the new page we should remove the old one.

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

---

#### :yellow_heart:

[2019-02-18 10:20] alexgibson commented on #6480
There's a new `Imagemin` lib out that may be worth investigating here? https://web.dev/fast/use-imagemin-to-compress-images

It looks like it handles, jpg/png compression, svg optimization and also webp. There's a gulp plugin available too.

[2019-02-19 01:03] sghoseWI commented on #6741
@alexgibson -- I looked at the cuts of mobile vs. desktop downloads.  The correlation coefficients between page load times and downloads seem quite weak in both cases (.05 in desktop vs. .15 for mobile).

![image](https://user-images.githubusercontent.com/21691669/52981766-5a5b5200-33a7-11e9-9a21-b1631242ff80.png)

![image](https://user-images.githubusercontent.com/21691669/52983043-c68d8400-33ae-

[2019-02-19 01:15] sghoseWI commented on #6792
Experimental cohort sample results look good so far!  https://analytics.amplitude.com/mozilla-corp/chart/rghy2p9/edit/3wa0gki

[2019-02-19 03:55] hoosteeno commented on #6741
Thanks, that's helpful. I have adjusted the experiment's score as a result of this analysis. It's always a bummer when data don't validate assumptions, but good to learn.

There are other important reasons to manage page load times. Conversion rate may not be the reason. @alexgibson , unless you have add'l questions, I think we can close this analysis card.

[2019-02-19 08:22] alexgibson commented on #6741
Thanks both. Honestly, I'm kinda bumbed out about what this data suggests. We're not the first company to investigate running an experiment like this, and there are many others who have found a [direct impact](https://wpostats.com/) that is is both real and worthwhile, and there is a wealth of data to back it up. As a browser maker, I'm suprised that we don't think we're gonna see some kind of imp

[2019-02-19 10:02] alexgibson commented on #6741
Interestingly, after browsing through https://wpostats.com, I came across this:

https://blog.mozilla.org/metrics/category/website-optimization/

[2019-02-19 10:36] alexgibson commented on #6707
The above approach does not have any direct impact on how initial above the fold content is rendered, so performance wise I think this is a good solution.

[2019-02-19 11:04] shane-tomlinson commented on #6837
Is this the last place where FxA is iframed? It'd be *awesome* for us to be able to remove support for iframing.

[2019-02-19 11:11] shane-tomlinson opened #6839 "Firefox Concert page does not send `entrypoint` and `form_type` when calling /metrics-flow"
## Description

When calling FxA's `/metrics-flow` endpoint, neither `form_type` nor `entrypoint` are specified, these are both used to track top of funnel metrics. Without `form_type=email`, we won't log a `screen.enter-email` event within Amplitude.

### Steps to reproduce

1. Open https://www.mozilla.org/en-US/firefox/concerts/
2. Look at the `params` tab in the network console for https://acco

[2019-02-19 12:15] alexgibson commented on #6837
i think there's this page and also an old /firstrun. But I think that can also likely be removed now. If deprecation of that code is something that would help your team, then let's try and get this in our backlog 👍

[2019-02-19 12:18] alexgibson commented on #6837
Incidentally @shane-tomlinson, is introduction of the email-first form vs the old iframe on mozorg something that your team saw lead to an increase in FxA conversions? If so, that's something I'd love to read more about, if such data exists.

[2019-02-19 12:19] alexgibson commented on #6839
Thanks for reporting @shane-tomlinson, I'll see if I can issue a fix for this today.

[2019-02-19 13:37] alexgibson commented on #6824
One key point to consider here: https://labs.mozilla.org/ is only in English.

[2019-02-19 13:59] shane-tomlinson commented on #6837
Let me get back you you, I have to summon @davismtl or @irrationalagent.

[2019-02-19 15:59] sghoseWI commented on #6741
@alexgibson Thank you sharing all these relevant links -- really good to know about the promising results other companies saw in conversion rates by focusing on page performance. It is also very helpful for me to see what kinds of similar analyses/experiments have been done before (like the 2010 A/B test at Mozilla you linked to above).

You make a compelling case -- and I'm now finding myself fee

[2019-02-19 18:21] vincejoyiv commented on #6707
I've revised the user flow to reflect our current thinking (or what I _think_ our current thinking is).

I think this seems like a fairly reasonable solution. I have to add that it's generally a bad UX practice to make folks click two separate download buttons in order to complete a download—but in this case I think it's ok. Just don't want it to set a precedent.

![image](https://user-images.gith

[2019-02-19 18:35] alexgibson commented on #6741
We're going to meet to debrief, so closing as I think this analysis is complete for now 👍

[2019-02-19 18:35] #6741 closed

[2019-02-19 18:35] irrationalagent commented on #6837
@alexgibson you can see the results of the original test of the email-first flow [here](https://docs.google.com/document/d/1seUQEXOR-JGD6ff77iAP8lzDjW-BPengXugUzo-p2UQ/edit#heading=h.myd7simqfi45).

That was some time ago. Apparently older versions of Firefox still use the iFrame, so it may be possible to do a side-by-side comparison with more contemporary data. But since clients on older versions

[2019-02-19 19:10] stephaniehobson commented on #6837
Backlog issue: #6149 (needs a new title)

[2019-02-19 20:55] amychurchwell commented on #6810
Demo is ready for review: https://bedrock-demo-achurchwell.oregon-b.moz.works/en-US/firefox/windows-64-bit/

[2019-02-19 21:00] amychurchwell commented on #6810
@hoosteeno Hi Justin, considering that Eric is out would you be able to put this demo link into the hands of stakeholders who need to approve? ⬆️

[2019-02-19 21:41] hoosteeno commented on #6810
Thanks Amy.

@rraue can you review/approve this?

[2019-02-19 23:42] #6643 closed

[2019-02-19 23:52] #6752 closed

[2019-02-20 00:04] vincejoyiv commented on #6707
Updated visual design in the sketch file at this link
https://share.goabstract.com/718ef8a3-600a-4757-b8ea-899a171e7cf9

@claychaffin @craigcook let me know if y'all want to swarm on this tomorrow (Wednesday, 2/20)

[2019-02-20 09:26] alexgibson commented on #6585
We now have all required copy, so removing the blocker.

[2019-02-20 10:56] alexgibson commented on #6585
We're still blocked on some final imagery.

[2019-02-20 15:32] rraue commented on #6810
One more thing: The last link to /firefox/all/ goes to the no-locale redirect, we should use the url() helper so it directly links to /locale/firefox/all

[2019-02-20 17:31] hoosteeno commented on #6736
@amychurchwell can you update here with relevant links & status?

[2019-02-20 18:46] amychurchwell commented on #6736
Final design a la mham.
<img width="1035" alt="screen shot 2019-02-19 at 1 05 43 pm" src="https://user-images.githubusercontent.com/30483988/53116076-9ce27300-34fc-11e9-82fa-93fcae065cef.png">
https://share.goabstract.com/e11de043-482a-436d-a88b-6223c841bd4e

[2019-02-20 19:57] sghoseWI commented on #6704
Hi Team -- The screenshot below is from a report I made in GA.  I think I may have found an instrumentation problem.  The downloads #s for the v=c arm is way higher than either of the other two arms.  Does anyone have thoughts on what might be the issue on the backend?

![image](https://user-images.githubusercontent.com/21691669/53120139-c4ded000-3516-11e9-919f-5a290eb7297d.png)

[2019-02-20 20:47] alexgibson commented on #6704
@sghoseWI I've taken a look at the experiment and as far as I can see everything seems to be functioning as expected. The sessions in your screenshot look correct too (variant `a` has roughly double the number of sessions compared to `b` and `c`).

I'm not sure what the "Firefox Download Counter" field is associated with here. When people land on `/download/thanks/`, the download is initiated auto

[2019-02-20 23:45] stephaniehobson commented on #6504
@agibson What is our minimum viable browser support for these files?

[2019-02-21 15:30] sghoseWI commented on #6704
@alexgibson Thanks for checking - I did some more digging and after chatting with @hoosteeno, we agree with your assessment!

[2019-02-21 17:03] hoosteeno commented on #6780
https://bugzilla.mozilla.org/show_bug.cgi?id=1493205

[2019-02-21 17:52] pierreneter opened #6844 "The font used in the home page is not full internationalized"
## Description

Texts include diacritics looks rather bad in intro section. You can see:

![2019-02-22 2](https://user-images.githubusercontent.com/12815768/53190172-94dd1d00-363b-11e9-8009-7230c8bb7fab.png)
I think this font don't (`Zilla Slab`) support or not include path support for Vietnamese.

### Steps to reproduce

Right at homepage: https://www.mozilla.org/vi/

### Expected result

The wor

[2019-02-21 18:08] craigcook commented on #6844
We should specify an alternative locale-specific font for Vietnamese that can supersede Zilla Slab (we do this for [several other locales already](https://github.com/mozilla/bedrock/tree/master/media/css/l10n)). Is there a preferred system font? Or is there an open webfont with the right character set that might have a similar "feel" to Zilla Slab?

[2019-02-21 18:16] pierreneter commented on #6844
Ok. right, i will find a font look like Zilla Slab and use it instead of Zilla Slab

[2019-02-21 18:44] craigcook commented on #6844
[Roboto Slab](https://www.fontsquirrel.com/fonts/roboto-slab) doesn't look bad and supports Vietnamese. We can also fall back to Open Sans, which also supports Vietnamese and we already use it elsewhere.

[2019-02-22 10:46] alexgibson commented on #6720
An update here:

In our [analysis based on existing GA data](https://github.com/mozilla/bedrock/issues/6741) we concluded that there isn't a huge relationship between page load times and Firefox download conversions, at least in terms of what can be measured by GA alone. If people want to download the product, they are generally pretty determined, or so it seems. I would very much like to try and

[2019-02-22 16:49] alexgibson commented on #6718
This was fixed

[2019-02-22 16:49] #6718 closed

[2019-02-22 16:53] #6344 closed

[2019-02-22 16:53] #6349 closed

[2019-02-22 16:53] #6346 closed

[2019-02-22 16:53] #6345 closed

[2019-02-22 16:54] #6340 closed

[2019-02-22 16:54] #6328 closed

[2019-02-22 16:54] #6331 closed

[2019-02-22 16:54] #6348 closed

[2019-02-22 16:54] #6334 closed

[2019-02-22 16:54] #6395 closed

[2019-02-22 16:55] #6447 closed

[2019-02-22 16:55] #6392 closed

[2019-02-22 16:55] #6393 closed

[2019-02-22 16:55] #6389 closed

[2019-02-22 16:55] #6360 closed

[2019-02-22 16:58] #6444 closed

[2019-02-22 16:59] #6316 closed

[2019-02-22 17:00] #6305 closed

[2019-02-22 17:05] pierreneter commented on #6844
Roboto Slab doesn't support mix of 2 style like: `RegularItalic`, `BoldItalic`, etc... which are being used in in `Zilla Slab`, i'm finding another `Slab`

[2019-02-22 17:07] pierreneter commented on #6844
ps: https://github.com/mozilla/bedrock/blob/master/media/css/pebbles/includes/fonts/_zilla-slab.scss#L29

[2019-02-22 17:12] pierreneter commented on #6844
[Rokkitt](https://www.fontsquirrel.com/fonts/rokkitt) It look like `Zilla Slab`, I think I will choice it

[2019-02-22 17:18] pierreneter commented on #6844
![2019-02-23](https://user-images.githubusercontent.com/12815768/53258906-58272980-3700-11e9-8a61-81cdde0723e0.png)

I tried it and felt it was hard to read, I think going back to `Open Sans` is the best choice.

[2019-02-22 17:24] alexgibson commented on #6199
This is work for the FFYR campaign that as far as I know, never happened. I'm going to close this issue but feel free to reopen if I'm mistaken.

[2019-02-22 17:24] #6199 closed

[2019-02-22 17:25] flodolo commented on #6199
At this point, even more so.

[2019-02-22 17:31] alexgibson commented on #6199
@flodolo that sounds like https://github.com/mozilla/bedrock/issues/6102

[2019-02-22 17:31] craigcook commented on #6444
Note: I initially kept this open since I was expecting ongoing updates to the page and wanted to keep it all in one place, but as it turned out the page hasn't needed any changes for a while and we're still not sure if/when the next concert will happen. So closing this now is good cleanup and we'll do any further concert updates as new issues. 👍

[2019-02-22 17:33] ejregithub opened #6847 "D&I 2019 - images Mozilla Foundation"
## Description

Update images used for MoFo D&I with new data

### Estimates

| Estimates |  |
| ------------- | ------------- |
| PM | 1 hour |
| ENG | 2 hours |

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] It's done

#### Tasks
- [x] Update images used for MoFo D&I with new data

[2019-02-22 17:37] craigcook commented on #6847
Already done and uploaded to https://drive.google.com/drive/u/1/folders/16qUpTXiIaY3AOc8pFykLPOwhRSLoU7g6

I've pinged Michael Aukland to review them for accuracy and to let me know if he needs any tweaks. We can keep this issue open for the moment until we get final signoff but the initial work is complete at the time of this comment.

[2019-02-22 18:00] ejregithub commented on #6847
Excellent @craigcook -  I see you put in two hours for Eng time, thank you!

[2019-02-22 18:45] #6585 closed

[2019-02-22 21:20] amychurchwell commented on #6736
Does Firefox Send have an adjust link? I am not seeing it as an app store product, only finding https://send.firefox.com/
If we are linking directly do we have utm param requirements? Also the design will change from a button to a link for that section as it would not have a QR code.

[2019-02-25 09:26] #6810 closed

[2019-02-25 10:51] alexgibson opened #6848 "`js/base/object-assign-polyfill.js` in common bundle is 404"
## Description

In the process of working on upgrading Gulp it has revealed a 404 JS file in our base bundle:

https://github.com/mozilla/bedrock/blob/master/media/static-bundles.json#L1605

It looks like the file exists, but the filename is misspelt:

https://github.com/mozilla/bedrock/blob/master/media/js/base/ojbect-assing-polyfill.js

### Steps to reproduce

Our current gulp task paves over th

[2019-02-25 11:08] alexgibson commented on #6848
/cc @jpetto

[2019-02-25 13:43] alexgibson commented on #6683
Front-end devs can no longer run unit tests locally due to this issue. I don't think I can put off not working on this any longer :/

[2019-02-25 17:19] ejregithub opened #6849 "EU Election Support: The /firefox/elections pages"
## Description

Description, good enough that reading the card 1 month from now, you still know what it means.

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | 1/2 day |
| PM | 1 day |
| ENG | 4 days |
| SEO | 1 hour |
| ANA | 1 day |
| DES | 1 day |
| COPY | ? |

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] new templates at /firefox/elections for 3 alter

[2019-02-25 19:26] jpetto commented on #6848
Wow, two typos in one file name. Nice job by me.

The IE family (but not Edge) are the only browsers without native support for `Object.assign`, which would have had zero impact in our case, as we are only using this ES6 feature in `stub-attribution-macos.js`, which does [platform detection to restrict to macOS users](https://github.com/mozilla/bedrock/blob/master/media/js/base/stub-attribution-ma

[2019-02-25 19:37] alexgibson commented on #6848
Ah, that makes sense. I was trying to workout why we needed it in the base bundle and couldn’t quite piece it together. I think your suggestion of removing it makes sense, thanks @jpetto

[2019-02-25 21:12] ejregithub commented on #6847
Done on 2/22

[2019-02-25 21:12] #6847 closed

[2019-02-25 21:22] ejregithub opened #6851 "exp01 - Headline Test on /new: Replace the headline “The new Firefox”"
## Description

We know from past experience that a headline change can increase conversion rate on the /new page and that action-driven headlines that offer a benefit drive clicks. This experiment will test the hypothesis that if we replace the old headline and sub-head on the /new download page with benefits driven copy, we’ll increase the session-to-download install rate leading to an increase

[2019-02-25 21:37] ejregithub commented on #6828
@peiying2 - a known circumstance that has not yet been addressed due to time constraints/lack of a better image ready at hand.  Not a blocker for 110n though.

[2019-02-26 09:54] #6848 closed

[2019-02-26 10:13] alexgibson commented on #6367
The Firefox product team have reached out to Micorosoft directly on this. There is a proprietary API in Edge that may give us the information we need:

https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/platform-apis/mt795399%28v%3dvs.85%29

"I believe you are looking for 178 or 179 in the “unlocked” value."

I'm going to try and test this out on a device and

[2019-02-26 16:49] ejregithub commented on #6707
Blocked Lauren's design feedback. Eric to book meeting today to review.

[2019-02-26 16:57] hoosteeno commented on #6254
We have an [experiment in the backlog ](https://airtable.com/tbl2BcU9Qoo8rh5hI/viwj9Jp4P8bNo4g1R/recGPDzgmGQGErEnD?blocks=hide)with lots of details that will accomplish this. Closing this one as we open that one.

[2019-02-26 16:57] #6254 closed

[2019-02-26 17:05] hoosteeno opened #6854 "Pass through utm parameters on FxA referrals"
## Description

Pass through utm parameters from upstream referrers when referring www.mozilla.org visitors to FxA signup form. *Continue sending an entrypoint generated by mozilla.org.* [Bug with detailed specs](https://bugzilla.mozilla.org/show_bug.cgi?id=1527318#c6).

Here's a complete URL, and I'll break it down.

`https://accounts.firefox.com/signup?service=sync&context=fx_desktop_v3&entrypoi

[2019-02-26 17:07] hoosteeno opened #6855 "Build SEM-specific default download experience"
## Description

Build a default download page for SEM traffic.

* [7 sheets here](https://docs.google.com/document/d/1PucezGPizQFe2bZemAaISiig1bueFPvkEPhB8biLCEM/edit)

### Estimates
(How much time in hours (up to 2), then in 1/2 day increments it will take each role to complete the work required to meet the Success Criteria established for this issue).

| Estimates |  |
| ------------- | --------

[2019-02-26 17:16] #6855 closed

[2019-02-26 17:57] ejregithub opened #6856 "Pre/post test - Design test on Blog: Solid d/l button"
## Description

Make the download button solid. We believe that making this change to the download button would make it easier to see and increase downloads on the blog. The button becomes solid when the user mouses over it. We would like to test whether or not it performs better as solid and it if impacts the article completion rate.

[manapage experiment write up](https://mana.mozilla.org/wiki/p

[2019-02-26 19:49] pmac opened #6857 "Add the translation bar back to the site"
Bedrock used to have a translation bar (part of an info bar) that would pop up if we detected that the user viewing a page preferred a language in which the page was available, but which wasn't the current translation being viewed. The code still exists in the [info-bar repo](https://github.com/mozilla/mozilla-infobar/).

This will be a much better UX than either continuing to use the current tran

[2019-02-26 21:21] #6104 closed

[2019-02-26 22:32] stephaniehobson opened #6858 "Update Firefox Privacy Notice with new branding"
## Description

Update Firefox Privacy Notice with new branding

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page reflects new branding
- [ ] Other pages generated from `process_legal_doc()` are not broken

[2019-02-27 16:08] #6839 closed

[2019-02-27 17:00] ejregithub commented on #6831
@hoosteeno - please rescope this story.

[2019-02-27 18:22] alexgibson commented on #6829
I have capacity to start this seeing as it's ready

[2019-02-27 21:23] craigcook commented on #6856
The button has been made solid.

[2019-02-27 23:07] hoosteeno opened #6863 "Debug contact section on Mozilla privacy policy"
The German privacy policy has English copy at the bottom of the contact section. It does not appear to be a missing localization; it appears to be a problem in the template. It may be happening in more locales, not just German.

Please debug, fix ASAP.

[2019-02-27 23:10] hoosteeno commented on #6863
https://www.mozilla.org/de/privacy/ is the page. Here is the problem:

![screen shot 2019-02-27 at 4 10 05 pm](https://user-images.githubusercontent.com/94519/53529553-31734500-3aaa-11e9-87d9-c66aaa5f0b39.png)

[2019-02-28 00:04] stephaniehobson opened #6865 "Update /firefox with new branding"
Update the Firefox Desktop landing page at `https://www.mozilla.org/en-US/firefox/` with a temporary English only page that reflects the new brand.

[2019-02-28 09:08] alexgibson commented on #6367
I've tested the above out on a laptop running Windows 10 Pro in S mode, in Edge 17 and I see the following:

[code]

On a regular Windows 10 VM I see the following:

[code]

The results are definitely different, but they are also not the expected values cited in the email. It's also still unclear if this API will be present when Edge switches to Chromium.

Also worth noting: I had to upgrade my la

[2019-02-28 09:16] #6683 closed

[2019-02-28 11:01] alexgibson commented on #6857
If we're gonna do this can I suggest removing the jQuery dependency from that repo? We're actively trying to remove jQuery code from bedrock now that we're transitioning the site to Protocol.

[2019-02-28 11:10] alexgibson opened #6867 "Update front-end unit test dependencies"
## Description

Now that bedrock has updated to Gulp 4, we should also update our front-end unit test framework to use the latest dependencies:

- `jasmine-core`
- `karma`
- `karma-coverage`
- `karma-firefox-launcher`
- `karma-jasmine`
- `sinon`

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Dependencies use the latest versions available on NPM.
- [x] Unit tests pass locally
- [x]

[2019-02-28 13:16] alexgibson opened #6868 "Update eslint to use @mozilla-protocol/eslint-config"
## Description

Now that bedrock has updated to Gulp 4, we should also update the version of ESLint that bedrock uses. This would also be a good time to switch to using the new [Protocol shared config](https://github.com/mozilla/eslint-config-protocol/).

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | 1 day |
| SEO | |
| ANA | |
| DES | |
| COPY | |

--

[2019-02-28 13:20] alexgibson opened #6869 "Update bedrock to the latest version of Stylelint."
## Description
Now that bedrock has updated to Gulp 4.0, we should also update our version of Stylelint.
---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Bedrock uses the latest version of Stylelint.
- [x] CSS assets are free of linting errors.

#### Tasks
- [x] Update `gulp-stylelint` to the latest version on NPM.
- [x] Update bedrock's stylelint rules where necessary.
- [x] Fix lin

[2019-02-28 13:26] alexgibson opened #6870 "Update bedrock to latest version of gulp-less."
## Description

Now that bedrock has updated to Gulp 4, we should also update the version of `gulp-less` that we depend on. We should also update `gulp-clean-css` and `clean-css-cli` whilst we're at it.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [x] Bedrock uses the latest version of Less.
- [x] All Less stylesheets compile without error.

#### :heavy_exclamation_mark: Risks :heav

[2019-02-28 16:21] #6863 closed

[2019-02-28 16:51] hoosteeno opened #6871 "Make "measuring installs" a repeatable, modular piece of code"
(aka stub-attribution sidestep)

## Description

We're going to be measuring installs for some number of experiments in 2019, which requires us to change how we handle stub attribution code. [We've done that in a bespoke way](https://github.com/mozilla/bedrock/issues/6704#issuecomment-459357095). This makes it repeatable.

### Estimates
(How much time in hours (up to 2), then in 1/2 day increments

[2019-02-28 20:25] craigcook commented on #6863
Fix is live in production: https://www.mozilla.org/de/privacy/

![image](https://user-images.githubusercontent.com/205591/53596124-ea418e80-3b53-11e9-8ef4-92a4486461cc.png)

[2019-02-28 22:15] ejregithub commented on #6856
done, live, closing

[2019-02-28 22:15] #6856 closed

[2019-02-28 22:52] ejregithub commented on #6763
It's in the done column, so i'm closing this

[2019-02-28 22:52] #6763 closed

[2019-03-01 13:51] alexgibson commented on #6829
This is now up on demo at : https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/campaign/

Note: the lang file has not been ported over yet, so en-US only for now.

[2019-03-01 14:09] alexgibson opened #6874 "Gulp doesn't copy over newly added files to /media once already running."
## Description

When running bedrock locally, Gulp doesn't copy over new files that get added to `/media/` once already running. In order to pick up newly added files, you must currently stop and start Gulp again.

### Steps to reproduce

1. Start bedrock using `make run` and wait for the gulp task to initialise.
2. Add a new image file to `/media/`
3. Try and load that image file in a page.

###

[2019-03-01 14:30] alexgibson opened #6875 "Mozilla.org incorrectly identifies Firefox for Android as Linux when in "desktop mode""
## Description

The download buttons on mozilla.org show the wrong thing when someone is using Firefox for Android and they "request desktop mode".

### Steps to reproduce

1. Visit https://www.mozilla.org/firefox/new/ using Firefox for Android.
2. Switch to "desktop mode" and wait for the page to reload.

### Expected result

The visitor should see the following:

![screenshot_20190301_151810](ht

[2019-03-01 17:40] ejregithub opened #6876 "new welcome page experience for AArch64"
## Description

Firefox is going to be the default, pre-installed browser on certain Windows machines. We need to welcome and provide information to users when the first open Firefox in this scenario.

Target market entry is June

[Master project doc
](https://docs.google.com/document/d/1ud0V548_8vSqwkoUU-ZsXbC5SCEFMOtd9086xwJtUE8/edit#)
### Estimates

| Estimates |  |
| ------------- | ----------

[2019-03-01 18:18] hoosteeno opened #6877 "Stop collecting data on "How to Install""
We can turn off the "How to Install" experiment -- we don't need any more data from it. A report will come out in appx. 1 week.

[2019-03-01 18:32] hoosteeno commented on #6856
Can someone point me at the measurements for this?

[2019-03-01 19:57] mrkwvr commented on #6865
here are the design assets
[FX-Quantum-assets.zip](https://github.com/mozilla/bedrock/files/2920868/FX-Quantum-assets.zip)

[2019-03-01 20:04] ejregithub opened #6879 "Update SEO page for Ad Blocker"
## Description

The copy on this page is out of date since the developments released in 65. https://www.mozilla.org/en-US/firefox/features/adblocker/

Copy doc:
https://docs.google.com/document/d/1ZSvg6Qh9Rbqzu_7Mqo5CNEitAH7ryxNg5DyONmnJ6EA/edit

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | 3 | (string extraction)
| SEO | |
| ANA | |
| DES | |
| COPY

[2019-03-02 00:56] craigcook commented on #6707
On demo: https://bedrock-demo-craigcook.oregon-b.moz.works/firefox/new/

Only Firefox release channel gets the modal. Beta, Nightly, and Dev Edition get the download as normal.

To get the "Fix a problem" link (aka Refresh Button) you need to whitelist the server in `browser.uitour.testingOrigins`

Question: I think at some point we discussed version targeting but I can't find anything documented

[2019-03-04 09:09] alexgibson commented on #6828
@peiying2 just checking in, is there anythign you need from us to get l10n started for this page?

[2019-03-04 10:36] alexgibson commented on #6367
Test page: https://www-demo2.allizom.org/en-US/edge-test-page/

[2019-03-04 15:02] alexgibson commented on #6829
PR to add the new lang file: https://github.com/mozilla-l10n/www.mozilla.org/pull/277

[2019-03-04 15:05] #6877 closed

[2019-03-04 16:01] amychurchwell commented on #6736
@ejregithub demo link -- https://bedrock-demo-achurchwell.oregon-b.moz.works/en-US/firefox/66.0/whatsnew/
will also post in slack channel.

[2019-03-04 20:01] amychurchwell opened #6882 "Update /firefox/installer-help/"
## Description

Redesign and update https://mozilla.org/firefox/installer-help/

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an example of a success criteria. Use a checklist!
- [ ] This is an example of a success criteria.

#### :heavy_

[2019-03-04 20:02] amychurchwell commented on #6882
Current design of page:
<img width="1066" alt="screen shot 2019-03-04 at 12 01 58 pm" src="https://user-images.githubusercontent.com/30483988/53759529-60583500-3e75-11e9-9508-05ab21d0f961.png">

[2019-03-04 21:32] hoosteeno commented on #6707
In Slack conversation we agreed to 57+.

[2019-03-04 21:34] amychurchwell commented on #6831
Adding blocked label until we get copy/design.

[2019-03-04 22:49] amychurchwell commented on #6882
Design of page from release channel
<img width="1064" alt="screen shot 2019-03-04 at 2 49 29 pm" src="https://user-images.githubusercontent.com/30483988/53768134-c43a2800-3e8c-11e9-9201-4f546f07949c.png">

[2019-03-04 23:14] ejregithub opened #6884 "exp-predownload-newsletter-new: Designs for predownload newsletter signup CTA /new and/or /thanks pages"
## Description

Build an experiment to discover if any variation of a pre-download modal works well on the /new page. Suggest ~4 variations, see link below for ideas. Suggest answering questions like..
* Does more description of benefits change performance?
* Does it work as well on the /thanks page? Before or during download?

Reference:
- [Experiment Plan](https://mana.mozilla.org/wiki/pages/vie

[2019-03-04 23:46] ejregithub opened #6885 "EN homepage updates for March"
MJ to provide content in support of Int'l Women's Day (occurring March 8).

Estimate:

| Estimates |  |
| ------------- | ------------- |
| ENG | 0.5 day |

[2019-03-05 09:20] alexgibson commented on #6829
Ok, the new lang file is in place, this is ready for core review.

[2019-03-05 17:56] ejregithub opened #6886 "Revive email CTA pre-download on /firefox/ for EN, DE and FR"
## Description

Restore content asking for email signup prior to download of Firefox, on the /firefox/ webpage, making this shown to 100% of:
- [x] All en locales
- [x] DE
- [x] FR

Reference:
- Original issue #5944
- Relaunch #6456

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | 1 1/2 days |
| SEO | |
| ANA | |
| DES | |
| COPY | |

---

#### :yellow_h

[2019-03-05 19:46] ejregithub commented on #6849
Vince's initial pass as layout

![image](https://user-images.githubusercontent.com/20547886/53832937-459cc380-3f3c-11e9-8e4e-e28101a70963.png)

[2019-03-05 21:07] ejregithub opened #6887 "Graduate Global FxA CTA"
## Description

We previously ran this experiment and need to make it permanent in the locales in which it has been localized.

The original work - #6629
The next rev with localizations - #6792

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| ANA | ? |

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Global CTA is live in en, DE and FR

[2019-03-06 14:55] alexgibson commented on #6886
Work in progress is up on demo:

- https://bedrock-demo-agibson.oregon-b.moz.works/en-US/firefox/
- https://bedrock-demo-agibson.oregon-b.moz.works/de/firefox/
- https://bedrock-demo-agibson.oregon-b.moz.works/fr/firefox/

I still need to spend some time writing tests and tidying things up. Whilst that is happening, I wonder if there are any quick / simple improvements that we could make in a shor

[2019-03-06 14:58] alexgibson commented on #6886
I also updated the success criteria, as well as the risks section above ^

[2019-03-06 15:46] #6829 closed

[2019-03-06 17:03] ejregithub opened #6892 "Add download button to Win 64 landing page -- center of page in the header"
## Description

Including a download button in the header was omitted, overlooked in the original design. The ask here is to include the standard download button, no color change requests, in the middle of the hero section as shown in the attached image.

### Estimates

| Estimates |  |
| ------------- | ------------- |
| ENG | |

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Is l

[2019-03-06 17:06] ejregithub commented on #6892
![image](https://user-images.githubusercontent.com/20547886/53899343-d8963600-3fee-11e9-8438-518eacca68f9.png)

[2019-03-06 19:33] Kiiirby opened #6893 "Fork /new for Softonic in Tier 1 locales"
## Description

Hi! Requesting that the current version of the /new pages in our Tier 1 locales (US, CA, DE, FR, UK) be forked for Softonic. Providing a custom URL to Softonic will bring their traffic into the visible funnel, and give us control over the user flow through install and onboarding.

For the custom URLs, any generic modifier that doesn't explicitly say "Softonic" is great. Maybe somet

[2019-03-06 19:36] alexgibson commented on #6893
I think we need to disuss the best possible solution for this. Forking our most complex download page doesn't come without technical debt, just like the SEM download page.

[2019-03-07 08:25] hoosteeno commented on #6886
The team discussed in Slack. @craigcook produced a mockup that @vincejoyiv  gave the nod to. I'm attaching it. Let's launch this modified version of the modal to 100% of /firefox/ visitors in locales where we have localizations already (I think Tier 1, true?). Let's plan for this to be a part of the page for at least several weeks, if not longer.

![image](https://user-images.githubusercontent.com

[2019-03-07 08:53] alexgibson opened #6894 "Migrate existing SEM download pages from /new to /campaign"
## Description
Now that `/firefox/campaign/` is live, we should migrate all existing SEM download page variations from `/firefox/new/` to `/firefox/campaign/`.

List of SEM download/campaign page variations:

- https://www.mozilla.org/en-US/firefox/new/?xv=betterbrowser
- https://www.mozilla.org/en-US/firefox/new/?xv=safari
- https://www.mozilla.org/en-US/firefox/new/?xv=edge
- https://www.mozilla

[2019-03-07 09:32] alexgibson commented on #6886
We have existing translations for English, French and German.

[2019-03-07 10:51] alexgibson commented on #6886
It occured to me that I can't write automated tests for this feature yet since it is behind a switch 😕

I'll file a followup issue to write tests once we're live and are confident that data looks ok.

[2019-03-07 10:55] guyfitzpatrick commented on #6894
@alexgibson those German links need to be updated to include /de i.e. https://www.mozilla.org/en-US/firefox/new/?xv=auf-deiner-seite to https://www.mozilla.org/de/firefox/new/?xv=auf-deiner-seite

[2019-03-07 10:56] alexgibson commented on #6886
Ok, design updates are in and up on demo, this is good for review.

[2019-03-07 11:09] alexgibson commented on #6894
@guyfitzpatrick thanks, I have updated this in the list above 👍

[2019-03-07 15:06] alexgibson commented on #6886
@hoosteeno @sghoseWI One thing here that we could do with is some verification that we're tracking clicks on the right things still, now that this is being promoted to "not just an experiment".

Previously we we're firing custom GA events for the page variations, but obviously here we're now no longer doing that.

Key questions that could do with some validation:

- Are newsletter signups being co

[2019-03-07 18:25] Kiiirby commented on #6893
Hi Alex, Can you please help me understand the risks? By technical debt, do you mean upkeep? Do any better solutions jump out at you?

[2019-03-07 18:42] alexgibson commented on #6893
I think we first need to understand The requirements a bit better here. It’s not quite  clear to me from the description why you need to fork the main download page. If we can understand the context better, the website team can help you find the most appropriate solution.

[2019-03-07 18:47] Kiiirby commented on #6893
10-4. I'm double-checking that on my side now and I'll get back to you. Thanks Alex!

[2019-03-07 19:12] hoosteeno commented on #6886
Thank you Alex!

Let's take "no changes" as the answer here. If the form post is occurring, then any instrumentation questions are out of our hands right now.

Yes.

I think we should instrument an event on the "Continue Firefox Download" button. The count of "no thanks" is valuable info. But visiting /thanks will trigger a download increment.

Only one download per session counts as a download in

[2019-03-07 19:27] claychaffin commented on #6886
@here I propose that for tomorrow we add the word "your" to our headline, as follows (quotation marks mine):
"Learn how to make your Firefox even faster, smarter and more secure."

[2019-03-07 21:19] hoosteeno commented on #6886
Solid suggestion. We're trying to launch in 5 locales (3 EN, but still) with no localization step, which means we can't change strings.

[2019-03-07 21:29] Kiiirby commented on #6893
Hey Alex,

I think all we need is a separate landing page for Softonic. (One we envision looking exactly like the current /new page, which is why we thought of "forking".) This is our intent:

Separate reporting and analysis for Softonic traffic
Custom messaging and experimentation for Softonic traffic

[2019-03-07 21:31] Kiiirby commented on #6893
What's the least complicated way to achieve or intent?

[2019-03-08 08:46] alexgibson commented on #6886
We already have data-attributes for GA on the continue download link, so hopefully this should be enough as is.

As Justin says, the text is localized so we can't change it without requiring new translations. I can change this for English only however, which is easy enough to do. I'll make sure we add it 👍

[2019-03-08 14:08] alexgibson commented on #6893
If all you need is a URL by which you can gather GA data for Softonic, you don't need an entirely spearate landing page, you can just use a unique URL parameter e.g.

https://www.mozilla.org/firefox/campaign/?xv=stc

If you ever want to do a customised landing page / message based on this `?xv=stc` parameter, we can do that for you too at the time when you need it.

[2019-03-08 14:20] alexgibson commented on #6893
Also worth considering, we now have a (non-indexed) landing page specifically for campaigns and SEM traffic. You may want to consider pointing to this over /new

https://www.mozilla.org/firefox/campaign/?xv=stc

[2019-03-08 16:47] claychaffin commented on #6886
Thanks @alexgibson -- I'm glad you can change it for English

[2019-03-08 17:30] craigcook commented on #6885
Cards are live!

[2019-03-08 17:30] #6885 closed

[2019-03-08 17:39] pmac opened #6895 "Update legal-docs for firefox_cloud_services_ToS"
Re [bug 1531636](https://bugzilla.mozilla.org/show_bug.cgi?id=1531636)

[2019-03-08 18:29] stephaniehobson opened #6897 "Broken links in community spaces pages for Canada"
## Description

The mozillacanada.org website only resolves the first page. There is a [3 year old bug ](https://bugzilla.mozilla.org/show_bug.cgi?id=1278855)to try to get the site updated. Based on this I recommend removing the links from mozilla.org

### Steps to reproduce
[<img width="308" alt="screen shot 2019-03-08 at 10 28 00 am" src="https://user-images.githubusercontent.com/854701/54047795

[2019-03-08 19:07] ejregithub opened #6899 "Experiment: Dry market test for new Desktop pitches"
## Description

Executive request to test a couple desktop product pitches on /new with a dry market test.

* Experiment Plan: https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=90741743

[Master Project Doc](https://docs.google.com/document/d/1Yb5Rc_uO_Yk6PJbqvP5W-5KfsN7sk3FwjYnyeq2eOG4/edit#)

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL |2 days|
| PM | |
| ENG

[2019-03-08 19:20] ejregithub commented on #6899
Blocked on content from PMM/Porfirio

[2019-03-08 19:31] #6828 closed

[2019-03-08 19:57] #6897 closed

[2019-03-08 21:24] vincejoyiv commented on #6886
When a user does enter their email in the form, the modal content changes to a “thanks” message, which flashes for a half-second before automatically loading the /thanks page.

https://www.dropbox.com/s/r0su83403kodlmb/Screenshot%202019-03-08%2013.16.04.png?dl=0

What should this experience be?
- user has to click _another_ button to finish the download?
- why does this modal have an option to clo

[2019-03-08 23:48] hoosteeno commented on #6886
I'd like your thoughts on the optimal experience, @vincejoyiv. IMO, a button saying "Download Firefox & Sign Up" should do both things. As a user choosing that option, I would prefer it to do both things.

[2019-03-11 10:23] alexgibson commented on #6886
@vincejoyiv @hoosteeno I've been thinking about what happens here and I think we can likely eliminate this flash of messaging entirely.

What would happen is:

- Person fills in the form and hits "Download Firefox & Sign Up".
- We show the (current) loading spinner whilst subscription data is sent.
- As soon as we get the success message, auto-close the immediately forward to /thanks/

I've pushed

[2019-03-11 12:46] rraue commented on #6831
Sorry, just clicked the wrong button on our board

[2019-03-11 13:24] alexgibson commented on #6884
I spent some time this morning trying to some up with ideas for possible variations to test on /thanks/

Note: I'm no designer, these are just super quick edits I made in Dev Tools to serve as a starting point for discussion (and to hopefully generate more ideas from others).

**Idea 1**

Improve conversions for the newsletter form that's already on the page.

![centered-newsletter](https://user-i

[2019-03-11 13:47] #6895 closed

[2019-03-11 16:16] vincejoyiv commented on #6886
@alexgibson that looks 💯 to me. Thanks!

[2019-03-11 16:30] ejregithub commented on #6849
Vince will update the wireframe.

[2019-03-11 16:54] vincejoyiv commented on #6849
Updated wireframe attached below.

![image](https://user-images.githubusercontent.com/13005624/54141784-8f295a80-43e3-11e9-8e53-4bdd339d6cbc.png)

[2019-03-11 17:09] #6871 closed

[2019-03-11 17:38] hoosteeno commented on #6884
Nice work, Alex!

Several of these have the same effect as the modal, they just put the inquiry into an interstitial page.
Do you feel like an interstitial is somehow better than a modal?

@vincejoyiv Can you take these, and [Stephanie's earlier suggestions](https://github.com/mozilla/bedrock/issues/6562), and come up with a few you think we should test?

[2019-03-11 17:43] alexgibson commented on #6884
To be honest, I struggled to find a suitable solution using a modal as a UI, since they can be nature be closed without explicitly choosing an option. They are also perceived as more obtrusive, especially when appearing automatically on page load. I'd love for us to find a solution that does not require a modal as a UI.

[2019-03-11 17:45] hoosteeno commented on #6886
Agree. Great work.

[2019-03-11 18:22] michaelmccombie commented on #6884
@hoosteeno I'm jumping in for Vince so he can work on some other stuff. I'll mock up some things based on the above and what Stephanie has in mind.

[2019-03-11 19:46] stephaniehobson opened #6901 "Accessabilty tree identifies the download button as being in a list of one item"
## Description

When navigating the page using Voice Over download link that are placed using the download button macro are identified as being in a list, but they are the only item in the list "visible" to the screen reader. To

### Steps to reproduce

Enable Voice Over and navigate any page with the global header.

### Expected result

Rather than identifying a list of one item the accessibility

[2019-03-11 19:47] stephaniehobson commented on #6901
Here's the code we produce. `.download-list` looks like a list in source code but in reality we only ever show the user one list item at a time.

[code]

[2019-03-11 21:10] hoosteeno commented on #6886
In Lauren's absence, Michele is the stakeholder reviewing the treatment here. TLDR, we have a green light to launch and improve.

---

<img width="494" alt="Screen Shot 2019-03-11 at 3 08 14 PM" src="https://user-images.githubusercontent.com/94519/54158257-b4cc5900-440f-11e9-8809-f4fa8dd355e0.png">

[2019-03-11 21:11] hoosteeno commented on #6886
Usertesting on this modal is [here](https://docs.google.com/document/d/11g_tHnkO_xtDDYPiwrIi4YD3_0OllQxrwz8semiEkRk/edit#).

[2019-03-11 22:56] Kiiirby commented on #6893
Thanks Alex! Very helpful, I'll take this back to the team. Thanks again.

[2019-03-12 17:21] #6858 closed

[2019-03-12 18:01] alexgibson opened #6904 "Mozilla.Client.getFxaDetails() returns incorrect data if called multiple times in quick succession"
## Description

There is a race condition bug in `Mozilla.Client.getFxaDetails()` that returns incorrect data.

### Steps to reproduce

Call the function twice in quick succession and you can often see different results:

### Expected result

The data returned should always be accurate and consistent.

### Actual result

The results are often different:

[code]

[code]

The code short-circuits its

[2019-03-12 18:32] stephaniehobson commented on #6904
I think you probably have a direction for a solution on this but I wanted to note that since UI Tour only works in FX 29 and above you can use Promises or other new APIs that might help with this.

[2019-03-12 19:57] pmac opened #6905 "Bug 1533839: Allow non-CVE identifiers when parsing YAML for security advisory pages"
https://bugzilla.mozilla.org/show_bug.cgi?id=1533839

[2019-03-12 21:05] albill commented on #6905
Any idea of a timeline? I'll point that we ship the next Firefox in seven days, on the 19th, and we're probably going to need this then.

[2019-03-12 22:53] ejregithub commented on #6736
Closing, this is live in prod -

[2019-03-12 22:53] #6736 closed

[2019-03-13 09:42] alexgibson opened #6907 "The /firefox/accounts/ page gives no clear indication that I'm signed-in."
## Description

If I'm already signed-in to a Firefox Account, the `/firefox/accounts/` page gives no clear indication of this.

### Steps to reproduce

In Firefox for desktop, make sure you're signed into a Firefox Account and then visit: https://www.mozilla.org/en-US/firefox/accounts/

### Expected result

The page should give some clear indication that I'm already signed into my Firefox Account

[2019-03-13 13:55] alexgibson commented on #6851
This is now up on demo with the following configuration:

- Experiment only runs on Windows (since measuring installs is a requirment) and with DNT disabled.
- Each cohort is configured at 25% of traffic:
  - `a`: // control
  - `b`: // privacy
  - `c`: // speed
  - `d`: // purpose
- Once a user lands on /new and meets the above criteria, one of the four variations of headline is displayed.
- Stub

[2019-03-13 13:56] alexgibson commented on #6851
@hoosteeno @ejregithub who's on-point to help verify analytics here?

[2019-03-13 15:31] #6904 closed

[2019-03-13 15:33] pmac commented on #6905
I'll do my best to get it out before then.

[2019-03-13 16:20] #6887 closed

[2019-03-13 16:22] gkabbz commented on #6851
@alexgibson UTM parameters look good to me since we are being consistent with the other experiment I looked at aka how to install. The only thing I would add is for utm_content: 'na_exp01_' + locale + '_' + variation'. I'd like to be able to isolate the different team's experiments later on so adding the na infront of the experiment so I can parse them later.

The only other question I have is aro

[2019-03-13 16:54] Kiiirby commented on #6851
Thanks George!

@alexgibson Question about utm params: What happens to users who already have utm params when they arrive at /new? (for example, SEM traffic.) Are they automatically excluded from the experiment? If not, do they see the experimental pages but keep their existing utm params, and are therefore excluded from experiment reporting? Or do we "clobber" the existing params and replace them

[2019-03-13 16:55] alexgibson commented on #6851
@Kiiirby we follow the logic here https://github.com/mozilla/bedrock/issues/6871

[2019-03-13 16:58] Kiiirby commented on #6851
Perfect that's exactly what I was looking for, thanks Alex!

[2019-03-13 19:52] #6886 closed

[2019-03-13 20:05] claychaffin commented on #6884
@alexgibson I love your Monitor approach -- offers the users good value. Wondering, is the opt-in essential? Concern is that many (most?) won't opt in, and if we honor that preference then in future emails we shouldn't pitch them anything but safety tips (and send breach alerts). We could ditch the opt-in and adjust the promise in the copy "Sign up to get breach alerts, safety tips and other helpf

[2019-03-13 20:50] Kiiirby commented on #6893
These are the URLs + UTM params Softonic will use:

In US:

https://www.mozilla.org/en-US/firefox/campaign/?xv=stc&utm_medium=affiliate&
utm_source=stc&utm_campaign=stc_[mm]_[yy]&utm_content=[assigned by softonic for each ad placement]

In CA:

https://www.mozilla.org/en-CA/firefox/campaign/?xv=stc&utm_medium=affiliate&
utm_source=stc&utm_campaign=stc_[mm]_[yy]&utm_content=[assigned by softonic fo

[2019-03-13 20:50] #6893 closed

[2019-03-13 21:40] #6905 closed

[2019-03-14 11:05] alexgibson commented on #6851
Ok experiment is now configured like so:

### en-US

UTMs:

[code]

GA:

[code]

Cohorts:

[code]

### en-CA

UTMs:

[code]

GA:

[code]

Cohorts:

[code]

### en-GB

UTMs:

[code]

GA:

[code]

Cohorts:

[code]

### de

UTMs:

[code]

GA:

[code]

Cohorts:

[code]

[2019-03-14 13:19] alexgibson commented on #6851
Ok, this experiment is now ready to go.

[2019-03-14 14:58] amychurchwell commented on #6907
Totally agree. Also, if we are evaluating the design and a dev is picking this up --could we also consider  #6789 while doing this? Semantically, I don't think links were the best choice for this page because they trigger a modal and do not navigate off the page.

[2019-03-14 17:09] amychurchwell opened #6913 "WNP66 FXA CTA not translated."
## Description

"Create a Firefox Account" button and login link are not being translated in other locales.

### Steps to reproduce

Navigate to /firefox/66.0/whatsnew/ in non-english locales.

<img width="1420" alt="Screen Shot 2019-03-14 at 10 04 01 AM" src="https://user-images.githubusercontent.com/30483988/54376810-17f10200-4641-11e9-8a25-fae6a4acc5d9.png">

### Environment

Firefox browser, n

[2019-03-14 17:10] alexgibson opened #6914 "Add Firefox Send to the /firefox/accounts/ page"
## Description

Firefox Send (https://send.firefox.com/) has now launched and adds a real incentive for signing up and using a Firefox Account (send files up to 2.5gb if you're signed-in). It is also not dependent on using Firefox and works with any browser.

We should add Send as a feature to the /accounts/ page as a benefit.

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL

[2019-03-14 17:12] #6913 closed

[2019-03-14 17:13] amychurchwell commented on #6913
Closed because this CTA was added to the template later on.

[2019-03-14 17:27] ejregithub commented on #6830
Link to file in Abstract:
Link to design file - https://share.goabstract.com/35b1fce8-8c72-4185-a215-7de33ac8d2e0

These designs live at the following path in the Sketch file:

Page:
- NA EXP 03

Layers:
- NA EXP 03 Shortform
- NA EXP 03 Longform

[2019-03-14 18:06] ejregithub opened #6915 "Bug 1534636 Implement better Download button for Firefox Nightly Blog"
## Description

[Bug 1534636](https://bugzilla.mozilla.org/show_bug.cgi?id=1534636)
Implement better Download button for Firefox Nightly Blog

### Steps to reproduce

Clear steps describing how to reproduce the issue. Providing a URL, screenshot.

### Expected result

What should happen?

### Actual result

What happened.

### Environment

What browser and operating system are you using?

[2019-03-14 18:07] alexgibson commented on #6830
Ok, I spoke to Justin the designer and here's what needs doing:

The correct manapage for this experiment is: https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=90738680

The purpose of the experiment is to A/B test some longer form feature content against a control that is the short form content being worked on in https://github.com/mozilla/bedrock/issues/6831.

Therefore this experiment

[2019-03-14 19:05] michaelmccombie commented on #6884
Here's a link to the project in Abstract, still a WIP
https://share.goabstract.com/f881714a-a2c2-4db8-85e8-2f1b7d382cde

[2019-03-14 19:26] pmac opened #6916 "Update legal-docs for Fx Lite bug 1535217"
https://github.com/mozilla/legal-docs/pull/1240/

[2019-03-14 19:27] pmac commented on #6916
According to [this comment](https://github.com/mozilla/legal-docs/pull/1240#issuecomment-472927735) by @peiying2 the changes need to be live tomorrow, March 15th.

[2019-03-14 20:53] #6916 closed

[2019-03-15 09:59] alexgibson commented on #6830
I'm not convinced the copy decks linked in the description here are the correct ones for this experiment. I'm looking for the long-form copy. For now, I'm going with whatever is in the Sketch files.

@ejregithub can you please try and find the correct copy decks?

[2019-03-15 17:32] alexgibson commented on #6851
Noting here that en-US has been cut (for now) from the experiment list here, so that we don't conflict with another high priority experiment https://github.com/mozilla/bedrock/issues/6899

[2019-03-15 21:28] ejregithub opened #6920 "Configure Traffic Cop for concurrent experiments"
## Description

Run
 exp01 - Headline Test on /new: Replace the headline “The new Firefox” #6851
and
Experiment: Dry market test for new Desktop pitches #6899
concurrently

https://github.com/mozilla/bedrock/compare/master...jpetto:multiple-experiments-same-page?expand=1

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| C

[2019-03-15 21:40] jpetto commented on #6920
Admitting I do not know the specifics of the experiments, but here is a basic branch running three different experiments on the same page:

https://github.com/mozilla/bedrock/compare/master...jpetto:multiple-experiments-same-page?expand=1

Hopefully it's useful!

[2019-03-15 21:43] ejregithub commented on #6920
@alexgibson - please review JPetto's work here for possible use in running experiments concurrently on /new.  Per @hoosteeno comments in Slack:

"We can do this, but we must not block dry market test to make it happen."

[2019-03-15 23:57] peiying2 opened #6922 "Questions on copies for localization"
Refer to bug https://bugzilla.mozilla.org/show_bug.cgi?id=1534671 for the pages discussed below.

1) bedrock/firefox/templates/firefox/features/adblocker.html
The punctuation used on this page are inconsistent with the style defined here: https://design.firefox.com/photon/copy/punctuation.html
a). wrong use of dash: https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/templates/firefox/f

[2019-03-16 00:21] stephaniehobson commented on #6865
Up on [demo/shobson](https://bedrock-demo-shobson.oregon-b.moz.works/en-US/firefox/) for design review.

[2019-03-16 01:31] ejregithub opened #6923 "Updated Mozilla footer to include Firefox Instagram account"
## Description

[https://bugzilla.mozilla.org/show_bug.cgi?id=1495745](https://bugzilla.mozilla.org/show_bug.cgi?id=1495745)
Updated Mozilla footer to include Firefox Instagram account

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] This is an exam

[2019-03-18 05:21] peiying2 commented on #6922
@craigcook, @alexgibson

[2019-03-18 06:39] craigcook commented on #6922
I can comment on a few of these. Paging @claychaffin for the rest.

These dashes definitely stand out and it's not a style we've used elsewhere. I would defer to Clay on if this is OK or if we should revise. If we do go ahead with dashes it should be an en dash (–) or em dash (—), not two hyphens.

I think this is correct. The one highlighted is the only heading that is a question; the others are

[2019-03-18 09:43] alexgibson commented on #6920
Thanks for the pseudo code @jpetto 👍

This may not quite work as-is, since one experiment is using redirects and the code exists in the `<head>` of the page, and the other is replacing content in the DOM and exists in the `<body>` of the page. That said, I'm usre we can work out something similar that checks for the existence of a cookie.

Either way, I'm blocked on doing this work until both http

[2019-03-18 10:09] alexgibson commented on #6920
I've taken Craig's work and moved it to a new PR so that he can enjoy his PTO: https://github.com/mozilla/bedrock/pull/6926

I'll work on getting both PRs to play nicely in tandem.

[2019-03-18 10:55] alexgibson commented on #6920
I think I have some code in place to handle this, using the following logic:

- Visitor hits `/en-US/firefox/new/`
  - Dry market experiment config runs:
    - If user has existing cookie from competing headline experiment, do nothing.
    - If user meets experiment criteria, enter into the experiment (at a 50% sample rate).
    - If not within the 50% sample rate, do nothing.
  - Headline experim

[2019-03-18 11:00] alexgibson commented on #6920
Things I need to happen in order for the above to work:

1. Someone needs to review and merge headline experiment PR: https://github.com/mozilla/bedrock/pull/6908
2. I then need to rebase the dry-market experiment, before I can mark it as ready for code review.
3. Once that is done, someone needs to review the dry-market PR (and also to confirm that the experiments don't conflict).

[2019-03-18 14:18] alexgibson commented on #6830
Blocked on final copy

[2019-03-18 14:53] hoosteeno commented on #6884
@michaelmccombie what's the status of the project you link to above? I'm looking for some UX experiments that describe a user's flow through the funnel, with a newsletter CTA in the middle. I can see some nice interfaces in the Abstract you link to, but I need to see some connective tissue explaining what this is testing and how it differs from the current treatment on /firefox. Does this make sen

[2019-03-18 14:55] hoosteeno commented on #6770
@sghoseWI Can you link to the final work project here and close this?

[2019-03-18 15:01] #6851 closed

[2019-03-18 16:04] alexgibson commented on #6830
Final German copy https://docs.google.com/document/d/17P_5EwV9KDiYsxDlnEVlbWpoo6FwyM3rh3xKUUrTO9I/edit?usp=sharing

(Still waiting on English copy deck)

[2019-03-18 16:19] hoosteeno opened #6928 "Get ready for a logo swap"
Identify all the points of change, list them off, make a plan for changing it.

Logo decisions are coming next week. Swap likely to come any time after that, maybe summer. @mmcombie has details.

[2019-03-18 16:36] pmac commented on #6928
Which logo?

[2019-03-18 20:53] stephaniehobson commented on #6923
Just to note that it was an intentional architectural decision to only link to the Mozilla social accounts in the footer. It's not a quick change to add a second instagram account* and @dzingeek should be consulted before it's done.

* Well, it is quick to add a second logo but two instargram logos is confusing so how do users tell them apart?

[2019-03-18 22:12] amychurchwell commented on #6480
@alexgibson It is looking like imagemin has it's own plugins for png/svg/etc. For both `imagemin-pngquant` and `imagemin-mozjpeg` have a quality field to determine compression level.
(EX: `[pngquant({quality: [0.5, 0.5]})]`, this example forces compression to be at 50%)
Do you know if there a way to best determine what this range should be?

[2019-03-18 22:33] stephaniehobson opened #6930 "Firefox Aurora release notes get the gtm_page_id for Android Aurora"
## Description

When viewing release notes for Firefox Aurora (for desktop) the `gtm_page_id` is `/firefox/android/auroranotes/`.

### Steps to reproduce

View source on https://www.mozilla.org/en-US/firefox/32.0a2/auroranotes/

### Expected result

`gtm_page_id` is `/firefox/auroranotes/`

### Actual result

`gtm_page_id` is `/firefox/android/auroranotes/`.

### Environment

n/a

[2019-03-19 00:15] dzingeek commented on #6865
@stephaniehobson and @mrkwvr just a few things.

**Desktop View Specific**
- [ ] - Firefox privacy notice is too far to the right on Chrome. [Image for reference](https://user-images.githubusercontent.com/3740746/54571545-6fc09d80-49a0-11e9-9474-3eb9c51cdfda.png)
- [ ] - hero image needs to be updated @mrkwvr please supply Stephanie updated image when available

**Mobile (phone) View Specific**
-

[2019-03-19 09:13] #6899 closed

[2019-03-19 10:00] alexgibson commented on #6920
This is now done, will enable both experiments today.

[2019-03-19 10:00] #6920 closed

[2019-03-19 10:01] alexgibson commented on #6707
This is done, closing.

[2019-03-19 10:01] #6707 closed

[2019-03-19 10:02] alexgibson commented on #6830
Update: copy is waiting on legal review / approval.

[2019-03-19 16:27] hoosteeno commented on #6849
This card will move off our sprint board and be picked up by NA Brand. cc @stephaniehobson.

[2019-03-19 17:19] michaelmccombie opened #6935 "Experiment: Accessibility improvements to /download/thanks"
## Description

This is a proposal for a handful of visual improvements that will make the page easier to read, brings more attention to the CTA, and prepares us for the new branding.

**1. Center the content**
The current design has all of the content justified to the left, with nothing to the right of that content. Centering the content will bring balance to the page and adds a visual difference

[2019-03-19 17:21] michaelmccombie commented on #6884
I'm going to break this issue into several smaller issues to make it easier to track.
Here is the first proposal, I will update this thread as these new issues are created.
https://github.com/mozilla/bedrock/issues/6935

[2019-03-19 17:24] #6831 closed

[2019-03-19 17:35] hoosteeno commented on #6935
Cool!

The 'Current /thanks' treatment appears post-download. Is that true of the 'Proposed /thanks', too?

[2019-03-19 17:39] michaelmccombie commented on #6935
Yes, I just realized I forgot to include the "Your download will..." message at the top of the page so I updated the image to add that back in.

This specific treatment is for users who download Firefox directly from /new so it is a post-download experience.

[2019-03-19 17:42] hoosteeno commented on #6935
So if we were to write a hypothesis about this in the framework of [the experiment we're discussing](https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=90742108), would it sound something like this?

"A post-download treatment can perform as well as a pre-download treatment if it has a more compelling design."

[2019-03-19 17:52] dzingeek commented on #6923
Curious on the ask? The reason behind only having moz stuff in the footer is to help with confusion on what is moz and what is fx...if I know more about this ask I might have a better suggestion or at least a more informed one.

[2019-03-19 18:01] michaelmccombie commented on #6935
I think that would be the wrong hypothesis for this particular experiment.

Our control in the hypothesis should be the current page/ experience and we should measure ourselves against that metric. If this experiment proves to be successful than we can move up the baseline on the pre-download experiment from "needs to outperform X number of sign-ups" to "needs to outperform Y number of sign-ups".

[2019-03-19 18:38] hoosteeno opened #6937 "Produce mockups for Enterprise SLA"

[2019-03-19 19:30] ejregithub commented on #6830
Alex - Legal (MFeldman) approved the en copy in [this doc ](https://docs.google.com/document/d/1n2ZZmFgy_5yYhxAuc8P36HDtYjFO0Mz8x3E12nmgUuo/edit). The en doc link has also been updated in the description of this issue.

[2019-03-19 20:00] amychurchwell commented on #6110
Does this still need to happen? If so- where on the about page should this link live? Assuming on the contribute page it should go under 'More links'

Does the download CTA (#6204) need or have design? Would a call-out work for this?
![Screen Shot 2019-03-19 at 1 00 31 PM](https://user-images.githubusercontent.com/30483988/54637910-00ea4f80-4a47-11e9-9fb1-82b88204c034.png)

[2019-03-19 20:05] michaelmccombie opened #6938 "Experiment: Newsletter modal on /new"
## Description

Clicking on the "download" button will open up a modal prompting a user to either download Firefox or sign up for a newsletter and download simultaneously. This iteration will also add an alternative /thanks page for those who select the newsletter option.

**Newsletter Modal**
![image](https://user-images.githubusercontent.com/5924575/54637835-d0a2b100-4a46-11e9-92b8-20392b10f3b7.

[2019-03-19 20:06] michaelmccombie commented on #6884
Here is the second proposal, adding the newsletter modal to /firefox/new
https://github.com/mozilla/bedrock/issues/6938

[2019-03-19 20:18] michaelmccombie opened #6939 "Experiment: Newsletter page pre-download on /new"
## Description

This proposal suggest adding an interstitial page after a user clicks "download" on the /firefox/new page and the start of their download. This page would prompt users to pick between downloading Firefox or simultaneously downloading Firefox and signing up for an email newsletter.

**Newsletter page**
![image](https://user-images.githubusercontent.com/5924575/54638897-57588d80-4a49

[2019-03-19 20:22] ejregithub commented on #6815
![image](https://user-images.githubusercontent.com/20547886/54639184-ff6e5680-4a49-11e9-9795-e7a0ba48601a.png)

[2019-03-19 20:33] stephaniehobson commented on #6204
Responding to [this question](https://github.com/mozilla/bedrock/issues/6110#issuecomment-474555149) here:

@amychurchwell This page is almost pure Protocol, you can use a compact call out for the download CTA.

[2019-03-19 20:34] stephaniehobson commented on #6110
I still think the CPG would be something nice to highlight but we probably need copy and design for it.

[2019-03-19 20:35] stephaniehobson commented on #6204
Also, note that l10n has started so the CTA will need to be wrapped in l10n_has tags

[2019-03-19 21:53] stephaniehobson commented on #6865
The break points are: 320, 480, 768, 1056, 1312. I'd rather not make custom layout modifications for this. Would making the text smaller help?

[2019-03-19 21:59] claychaffin opened #6942 "Add subhead to hero section on Mozilla.org for en-US homepage"
## Description
Add subhead to hero section on Mozilla.org

The Mozilla.org hero section headline "Live your life. Own your life." is a high-level, aspirational message and by itself may not be enough for visitors to understand what is being offered--a Firefox Account-- and why they might want to click "Learn More".

LINK TO THE COPY DECK:
https://docs.google.com/document/d/1G3N2o886KrB5kA06OE7ESUK

[2019-03-19 22:14] dzingeek commented on #6865
oh, my mistake didn't realize that 1056 was the breakpoint and not 1024...nope don't make a custom layout mod. making the text smaller might help yes, is this a custom thing though? trying to avoid too many custom elements if possible.

[2019-03-19 22:21] stephaniehobson commented on #6865
It's already got a larger than usual font on it so tweaking the font is no trouble :)

[2019-03-19 22:35] stephaniehobson opened #6943 "Add lazyimage configuration option to protocol macros"
The macros in macros-protocol are big time savers but can't be used in combination with the `lazy_img` macro. It would be nice is that was a configuration option.

[2019-03-19 22:47] ejregithub commented on #6942
@hoosteeno - this likes a very quick dev task. Could we consider this to be done during the remainder of Sprint 2?

[2019-03-19 23:19] michaelmccombie opened #6944 "Experiment: Newsletter CTA on /firefox/new"
## Description

This proposal takes the content in the newsletter modal and adds it to the /new page. This would remove one of the steps it takes to download Firefox and sign up for the newsletter

**Current Design**
![image](https://user-images.githubusercontent.com/5924575/54648133-4e27ea80-4a62-11e9-93fb-a761e1132196.png)

**Proposed Update**
![image](https://user-images.githubusercontent.com/5

[2019-03-20 04:14] ejregithub commented on #6922
@claychaffin - can you please see Peiying's comments above and comment back here?

[2019-03-20 04:15] ejregithub commented on #6922
@djst - adding you here to keep you informed.

[2019-03-20 08:49] alexgibson opened #6945 "Whatsnew 66 does not pass metrics flow params to accounts.firefox.com"
## Description

https://github.com/mozilla/bedrock/pull/6883#discussion_r267226713

### Steps to reproduce

1. Load https://www.mozilla.org/en-US/firefox/65.0/whatsnew/
2. Open the network inspector.

### Expected result

There should be a fetch request to get tokens for FxA analytics e.g.

[code]

### Actual result

There is no fetch request, so "flow_id" and "flow_begin_time" are left empty.

##

[2019-03-20 09:00] alexgibson opened #6947 "Untranslated string on `/66.0/whatsnew/` page"
## Description

The "Congrats! You’re using the latest version of Firefox." string is untranslated on `/firefox/66.0/whatsnew/`

### Steps to reproduce

1. Visit https://www.mozilla.org/de/firefox/66.0/whatsnew/ (or any other non-English locale)

### Expected result

The string should be translated e.g. "Perfekt! Du hast die neueste Version von Firefox am Start."

### Actual result

The string is

[2019-03-20 09:00] alexgibson commented on #6947
/cc @amychurchwell @peiying2

[2019-03-20 09:54] alexgibson commented on #6830
@ejregithub the doc you link to is either incorrect or incomplete, ugh.

I've been given [this doc](https://docs.google.com/document/d/1yo4u3MayqTaNvp1kGGcWfmN7OfTrGGi2L6YEAZ_88gc/edit?usp=sharing) over Slack, which seems to be the correct copy for the page (although it does call it version "D" which is super confusing).

[2019-03-20 14:26] alexgibson commented on #6830
WIP is now up on demo:

- https://bedrock-demo-agibson.oregon-b.moz.works/en-GB/firefox/new/?v=a
- https://bedrock-demo-agibson.oregon-b.moz.works/en-GB/firefox/new/?v=b
- https://bedrock-demo-agibson.oregon-b.moz.works/en-GB/firefox/new/?v=c
- https://bedrock-demo-agibson.oregon-b.moz.works/de/firefox/new/?v=a
- https://bedrock-demo-agibson.oregon-b.moz.works/de/firefox/new/?v=b
- https://bedrock

[2019-03-20 14:28] alexgibson commented on #6830
@ejregithub we now need stakeholder approval of the demo URLs, and also the missing test information above ^

[2019-03-20 14:38] alexgibson commented on #6830
This experiment is also blocked on prioritisation, being that it needs to wait for the currently [headline experiment](https://github.com/mozilla/bedrock/issues/6851) to end.

[2019-03-20 15:11] hoosteeno commented on #6779
Depends on https://github.com/mozilla/bedrock/issues/6937

[2019-03-20 15:23] hoosteeno opened #6949 "new-brand-download-pages: Update /firefox/new and /download/thanks with new Firefox branding"
## Description

- a/b test with control and single variation w. new design
- en-US only audience
- Stephanie to code (need to confirm- done)
- Justin K to provide [new designs ](https://app.goabstract.com/projects/1ce3a550-a647-11e8-9633-0bbf4af2c21f/branches/master/files/F66D28BA-6A06-43CD-933A-9654D5B303B8/pages/AB220E6F-2DC2-4ED1-B130-AF242887BA77)

### Estimates (How much time in hours (up to

[2019-03-20 15:26] #6945 closed

[2019-03-20 15:31] hoosteeno opened #6950 "exp-predownload-newsletter-new: Code and launch the pre-download newsletter experiment on /new"
## Description

Code and launch the pre-download newsletter experiment on /new (there are 4 queued up by Michael)

Experiment plan: https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=90742108

Depends on https://github.com/mozilla/bedrock/issues/6884

Related issues for each experiment treatment:

#6935 - Experiment: Accessibility improvements on /thanks
#6938 - Experiment: Newsletter moda

[2019-03-20 15:50] ejregithub opened #6951 "naexp02: Design Test on /new: Features above the Fold (#1)"
## Description

If the users visiting /new can see the three feature areas that are currently 'below the fold' on most screen sizes, they’ll be more likely to download leading to an increase in installs and active days.

[Manapage](https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=90739191)

[Copy](https://docs.google.com/document/d/1n2ZZmFgy_5yYhxAuc8P36HDtYjFO0Mz8x3E12nmgUuo/edit?usp=sh

[2019-03-20 16:09] hoosteeno opened #6952 "exp-more-descriptive-features: Launch the more descriptive features experiment on /new"
## Description

Launch the code that was built in https://github.com/mozilla/bedrock/issues/6830. Depends on https://github.com/mozilla/bedrock/issues/6830.

This is identified as euexp02

### Estimates

| Estimates |  |
| ------------- | ------------- |
| TL | |
| PM | |
| ENG | |
| SEO | |
| ANA | |
| DES | |
| COPY | |

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Prior test i

[2019-03-20 16:39] alexgibson commented on #6939
@michaelmccombie one suggestion that may add a bit less complexity here could be to avoid a new interstitial page (i.e. from /new -> /newsletter -> /thanks).

It could be simpler to go from /new -> /thanks like it does currently, but where the newsletter is now displayed. We could then show some new content (e.g. "thanks your download will now begin") once the visitor interacts with the form, if t