[2020-05-28 08:37] alexgibson commented on #7460
@ejregithub we should be unblocked to make this string change. Is the copy approved and ready?

[2020-05-28 08:39] alexgibson commented on #7542
Closing this until we circle back on webpack evaluation.

[2020-05-28 08:39] #7542 closed

[2020-05-28 08:41] alexgibson commented on #8392
Ok, let's close this issue for now and we'll circle back on how to approach this again in the future.

[2020-05-28 08:41] #8392 closed

[2020-05-28 13:03] alexgibson commented on #7460
The URLs listed above in the issue no longer contain a newsletter module, but I've updated it globally and pushed to demo. It can be seen on pages such as:

- https://www-demo2.allizom.org/en-US/firefox/channel/desktop/
- https://www-demo2.allizom.org/en-US/newsletter/firefox/

[2020-05-28 13:25] justinkropp commented on #8950
@hoosteeno We should use the combo-button that currently exists on [/enterprise](https://www.mozilla.org/en-US/firefox/enterprise/).

[2020-05-28 13:35] alexgibson commented on #8950
Seeing as this code is already in bedrock, I think we can re-purpose it for other pages until it exists more formally in Protocol. I can pick this one up 👍

[2020-05-28 13:38] alexgibson commented on #8910
Adding a blocker to this until we hear back.

[2020-05-28 13:52] justinkropp commented on #8950
Thanks @alexgibson

[2020-05-28 15:53] #8935 closed

[2020-05-28 15:57] alexgibson commented on #8949
Sure thing - would you like any type of utm parameters added to the redirect, so you know where the traffic is coming from?

[2020-05-28 16:00] alexgibson commented on #8949
Fwiw, looking in GA I see zero traffic for /donate, so I don't think it is linked to from anywhere historically.

[2020-05-28 16:05] hoosteeno commented on #8006
We are working on a SUMO page that helps ChromeOS users install Firefox using a Linux installer packaged as a Flatpak. It's drafted here: https://docs.google.com/document/d/1k8AVJgxiN_Vu-PZ64oUUsLni_qelrpYV9Kko-n7A2YM/edit

That means, for the purposes of this bug, we should expect to redirect ChromeOS users to SUMO when they try to download. Does that seem like a reasonable path, @justinkropp @cg

[2020-05-28 16:10] alexgibson commented on #8006
We should consider SEO here as well - placing a string like this in every page of the website is not without a cost for crawlers. Perhaps we could hide that information somewhere, or perhaps we could place it on /thanks/

[2020-05-28 16:12] alexgibson commented on #8006
/cc @rraue

[2020-05-28 16:29] cadecairos commented on #8949
Thanks for checking in GA, I'll bring it up with my director to see if he want's to bother, and I'll update here.

[2020-05-28 16:40] cadecairos commented on #8949
Yeah we're still interested in adding a redirect. I think if we add `utm_source=mozilla.org` as a query param we'll be in good shape.

[2020-05-28 20:26] amychurchwell commented on #8683
Moments template on the WNP channel A/B test will be targeted at the [Firefox 78 release (6/30)](https://wiki.mozilla.org/Release_Management/Calendar)

WNP template on the moments channel TBD, test plan is more of a challenge for that channel because of lack of historical traffic data.

[2020-05-29 09:14] alexgibson opened #8956 "Research: switching to Webpack"
## Description

In https://github.com/mozilla/bedrock/pull/8391 @Errolyn made a great first pass at porting bedrock to Webpack, but given the size of the project and the number of changing files, this proved difficult to bring to fruition in the available time they had to spend on it. Even though this didn't get merged, I still think it was a great exploration and worth trying.

Looking at the mor

[2020-05-29 09:24] alexgibson opened #8957 "HTML escaping issue on releasenotes content"
## Description

[Tests are failing](https://gitlab.com/mozmeao/www-config/pipelines/150816732/failures) on the Firefox 77.0beta releasenotes page.

### Steps to reproduce

1.) Open https://bedrock-test.moz.works/en-US/firefox/77.0beta/releasenotes/
2.) Scroll down to the bottom of the page.

### Expected result

There should be a bottom section with a download button, like on [this page](https://b

[2020-05-29 09:25] alexgibson commented on #8957
/cc @pmac - this is something that should be easily fixed in the release notes content I'm guessing. But should we also try and prevent this kind of accidental escaping in bedrock?

[2020-05-29 10:00] #8899 closed

[2020-05-29 12:47] alexgibson commented on #8956
Note for future: something like https://www.npmjs.com/package/webpack-merge-and-include-globally might be a viable solution for serving bundles to old IE.

[2020-05-29 14:32] pmac commented on #8957
It's tough because there is a lot of legit HTML in the notes. I'll do some analysis to see if we can limit the tags though. I'm sure we could at least escape form elements like this since they should definitely not be in there.

[2020-05-29 15:47] alexgibson opened #8959 "[Fluent] Migrating a template does not handle trans blocks correctly"
## Description

The function that turns `{% trans %}` block into an `ftl()` call does not format braces correctly.

### Steps to reproduce

Run the following commands:

[code]

### Expected result

A trans block such as:

[code]

Should be transformed to:

[code]

### Actual result

There's only one set of outer curly braces, so the string won't render in the template correctly:

[code]

### Envir

[2020-05-29 16:26] #8959 closed

[2020-05-29 17:58] #8957 closed

[2020-05-29 19:18] pmac opened #8962 "Remove lang file l10n commands and docs"
We are now in read-only mode for lang files. We will not be extracting any more strings using the old commands. We should therefore remove these commands and the docs for them from the project.

The commands are:

* `l10n_check`
* `l10n_extract`
* `l10n_merge`

[2020-05-29 21:52] tublitzed commented on #8910
Ah, missed the notification. Sorry for the delay here. @hoosteeno and @alexgibson - Agreed, I don't think we need to wait to roll this out if we've already been doing it elsewhere without issue. 👍 from me here.

[2020-05-29 22:00] hoosteeno opened #8963 "Add installer type to stub attribution"
## Description

The stub attribution service [will have a new field, "installer_type"](https://github.com/mozilla-services/stubattribution/pull/98/files), which needs an integer to specify the installer type. We need to add this as a parameter to stub attribution referral links and send the correct integer to specify which kind of installer is being downloaded.

The specs for this field are attach

[2020-05-29 22:01] hoosteeno commented on #8910
This issue is now blocked by #8963, but both issues are unblocked for coding and merging together.

[2020-05-29 22:18] lonnen opened #8964 "implement a 410 Gone page"
## Description

When we decommission mozilla projects we sometimes want to retain the domain name for some time to prevent squatting or malicious syphoning. It would be useful to have a single HTTP 410 Gone error page to point these towards, like our 404 and 500 error pages. This would be less confusing for users than a 404, and provide an opportunity to engage with them in a moment of possible su

[2020-05-29 23:06] lonnen commented on #8964
my example use cases are all microsites we made for demos or initiatives that have passed their moment, like https://inhumanads.com/ or https://games.mozilla.org/

[2020-06-01 08:19] #8951 closed

[2020-06-01 08:21] alexgibson commented on #8910
@hoosteeno can you explain why this issue is blocked by #8963 (technically)? I'm not quite following why one needs to depend on the other. Thanks

[2020-06-01 08:25] alexgibson commented on #8963
This might be a little tricky on bedrock as when someone lands on a webpage, and the stub attribution request happens, we don't yet know what someone will ultimately click on (it could be a stub installer, a full installer, on the same page, or a different page).

I'll give this some thought as to how best we might handle this. Perhaps the request could deliver encoded strings for both installer t

[2020-06-01 09:39] alexgibson commented on #8526
Successful test run for Edge: https://gitlab.com/mozmeao/www-config/-/jobs/575269549

[2020-06-01 09:51] alexgibson commented on #8526
I've added Edge to our test runs for Dev. Over the next few days I'll keep an eye on stability and run times. When things seem good I'll add this to the config for stage / prod.

https://github.com/mozmeao/www-config/compare/701e7fd8b364...73d3f093d239

[2020-06-01 09:51] #8526 closed

[2020-06-01 13:48] alexgibson commented on #8963
@pmac does this sound like a reasonable approach? I think I can take a pop at this one, unless there's a better way to go that you can suggest.

[2020-06-01 14:30] pmac commented on #8963
I'm wondering why this is necessary at all. Stub installer and full installer are different requests to bouncer already. It's a different product name.

[2020-06-01 14:32] pmac commented on #8963
Just adding attribution attributes to the request for either stub or full should be all that's needed.

[2020-06-01 14:51] hoosteeno commented on #8963
I'll dig into that with PMs. Thanks.

[2020-06-01 16:07] ejregithub commented on #8809
@cgonz0 - please post the new hero image w. Brave in it here.

[2020-06-01 16:59] tublitzed commented on #8963
the [spreadsheet](https://docs.google.com/spreadsheets/d/1z9IOWZrjI6fZ_vfMqErh-dzJBAz6YNz3D-oDI4vfsPE/edit#gid=0) actually lists incorrect values...for whomever picks this up. We should match what's the product now, see details [here](https://bugzilla.mozilla.org/show_bug.cgi?id=1598111#c1).

[2020-06-01 17:03] hoosteeno commented on #8963
Let's hold on this. I agree that the download button should not be authoritative about the installer type; the installer should.

[2020-06-01 17:05] hoosteeno commented on #8910
I don't think it is technically blocked, but I do want to understand the plan for attribution system changes before we call this done, and #8963 is on the critical path for that.

[2020-06-01 17:15] cgonz0 commented on #8809
![bch_hero_logos@x2_update](https://user-images.githubusercontent.com/29640968/83435298-cf159c80-a3f0-11ea-9e38-9730466f109b.png)

[2020-06-01 17:25] alexgibson commented on #8956
Ok, based upon @Errolyn's initial config, I've managed to get a full site webpack build deploying to demo: https://www-demo2.allizom.org/en-US/

There are still some locale dev / performance related issues that are needed to figure out, plus some browser testing.

Working branch is here: https://github.com/alexgibson/bedrock/tree/webpack

[2020-06-01 17:42] ejregithub commented on #7460
I pinged Emily for legal review

[2020-06-01 19:25] ejregithub commented on #7460
@alexgibson - we're good to go with the new copy from Legal's perspective.

[2020-06-01 21:40] hoosteeno commented on #8683
@amychurchwell is this in progress, then?

[2020-06-01 21:42] hoosteeno commented on #8398
Closing until we have clearer input from PMM team.

[2020-06-01 21:42] #8398 closed

[2020-06-01 21:49] ejregithub opened #8968 "[Epic] Fluent Migrations (/firefox)"
## Description

Migration plan: https://docs.google.com/spreadsheets/d/1RMYNxsFvZAx2DGwHINiEbf5oUYzOvEOp2RPrIH1LtF0/edit?usp=sharing

[2020-06-01 21:56] #8799 closed

[2020-06-01 21:56] #8831 closed

[2020-06-01 21:56] #8832 closed

[2020-06-01 21:56] #8833 closed

[2020-06-01 22:24] ejregithub opened #8969 "WNP 78 Copy"
Write copy for the build and launch the Whatsnew page for the Firefox 78 release.

Content: Mobile

#### Approvals
- [ ] Accountable - LNiolet
- [ ] Mobile PMM - LAustin
- [ ] Brand (Copy) - Natalie
- [ ] Team Lead - Hoosteeno

[2020-06-01 22:24] ejregithub opened #8970 "WNP 78 Design"
Create design assets for the build and launch the Whatsnew page for the Firefox 78 release.

Content: Mobile

#### Approvals
- [x] Accountable - LNiolet
- [x] Mobile PMM - LAustin
- [ ] Brand (Design) - Clio
- [ ] Team Lead - Hoosteeno

[2020-06-01 22:24] ejregithub opened #8971 "WNP 78 Code"
Code and launch the Whatsnew page for the Firefox 78 release.

Content: Mobile

[Copy - DE, EN and FR](https://docs.google.com/document/d/1XGljKf8hl88z56zHaqcerEy3gQlNH1C-PB-uhKqj08o/edit) for use in the test

[Releng bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1644222)

---

####  Success Criteria
- [ ] Is fully approved and live in production on or before June 26th

#### Approvals
- [x] Ac

[2020-06-01 22:25] ejregithub opened #8972 "WNP 78"
## Description

Build and launch the Whatsnew page for the Firefox 78 release.

Content: Mobile

[Releng bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1644222)

---

####  Success Criteria
- [ ] Is live in production on or before June 26th

#### Approvals
- [x] Accountable - LNiolet
- [x] Mobile PMM - LAustin
- [x] Brand (Design) - Clio
- [x] Brand (Copy) - Natalie
- [x] Team Lead - Hoosteeno

[2020-06-01 22:50] ejregithub opened #8973 "WNP 78 - QA test guide and JIRA issue"
## Description

Quality Assurance testing of the Whatsnew page for the Firefox 78 release.

---

####  Success Criteria
- [x] [QA test guide](https://docs.google.com/document/d/1wOhhesza_9emtH9ZOE_T9ZE1orlMyv7Q3W4sYHNhf-g/edit) is complete by June 26th
- [x] QA [test request is filed in JIRA](https://jira.mozilla.com/browse/PI-679) by June 15th  (on June 22nd)

#### Approvals
- [ ] Errolyn (Dev fo

[2020-06-01 22:55] craigcook commented on #8951
This is live: https://www.mozilla.org/about/leadership/

[2020-06-02 11:21] rraue commented on #8006
Redirecting based on setup sounds extremely dangerous, as crawlers come with a various set of user agents and virtual setups and it would be a enormous risk of a search crawler being identified on /new as a chromeOS and getting repeatedly redirected. That could deindex any page with such a redirect!

A clear message is a better way. It would be good if we could have that message at the end of the

[2020-06-02 11:36] alexgibson commented on #8006
Oh, I totally missed the part above that said redirect. I totally agree with Raphael here, the last thing we should do here is redirect people away from our site based on user agent.

Either a message in the page, or at a singular destination such as /thanks or is the appropriate solution here imho (this message could link to sumo or a /chromeos page.

[2020-06-02 11:39] alexgibson commented on #8006
Also: let’s design this solution. With performance in mind if possible. It’s not really optimal to ship all the code required for a modal on every page of the site, for such a small % of visitors who would see it.

[2020-06-02 12:52] alexgibson commented on #7560
@pmac is this still something that's being worked on currently, or have other priorities come along? Just asking so I can update the roadmap for H2. Thanks

[2020-06-02 13:05] rraue commented on #8006
@alexgibson I think we should push for your solution getting all error messaging and such to /thanks freeing the download button from its ballast.

[2020-06-02 13:09] alexgibson commented on #8956
Some other findings from testing:

- By default, webpack's require() bundling method doesn't run in IE8 or below, which breaks legacy bundles served to old browsers.
- Variables like `Mozilla.Mzp` and `jQuery` are undefined by default, since they are no longer in global scope due to the way they are published.

The above can be fixed by using the `webpack-merge-and-include-globally` plugin I refer

[2020-06-02 13:15] alexgibson commented on #8956
Another roadblock I encountered is related to build performance running in local dev. Because we track so many files in bedrock, Webpack was taking a **very** long time to build and rebuild bundles. This wasn't so much of an issue running locally, but inside docker it was taking over a minute and consuming a lot of system resources. Enough to make my system struggle.

The recommendation for this t

[2020-06-02 13:30] pmac commented on #7560
It is still being worked on. I’m trying to get a v1 shipped this month.

[2020-06-02 16:00] tublitzed commented on #8963
So, IIUC the full installer is already sending installer_type over [here](https://searchfox.org/mozilla-central/source/browser/installer/windows/nsis/installer.nsi#1052). So...

I don't think there's anything else to do here (ie, if it's full we have a value, if it's stub nothing is sent).

cc @mhowell-mozilla

[2020-06-02 16:19] hoosteeno commented on #8963
Excellent! WONTFIX.

[2020-06-02 16:19] #8963 closed

[2020-06-02 19:21] cadecairos commented on #8949
@alexgibson is this a change that needs to be made via code, or a change that must be made in django as an admin?

Happy to open the PR if it's the latter.

[2020-06-02 19:54] miketaylr commented on #8934
Alternate proposal: it should be removed (why is this even here?)

[2020-06-02 21:38] pmac opened #8976 "Use Maxmind GeoIP2 database for country level GeoIP"
We have been using our CDN to understand the country from which requests are coming in bedrock for a few years. Not all CDNs have this ability however, so we would like to move this function into the app so that we can keep this ability and make it easier to move CDNs should the need arise. I propose the following:

1. Add a job to `bin/cron.py` to download this file on a schedule.
2. Use this cro

[2020-06-02 23:00] #8950 closed

[2020-06-03 08:15] alexgibson commented on #8910
Ok, seeing as https://github.com/mozilla/bedrock/issues/8963 is a wontfix, I'm going to unblock this and move it along to code review.

[2020-06-03 09:00] alexgibson commented on #8949
@cadecairos happy to help here, this should do it: https://github.com/mozilla/bedrock/pull/8977

[2020-06-03 12:32] alexgibson commented on #8956
Ok, based on the above I think we've figured out a path that would enable us to switch bedrock to Webpack in a slightly easier way. The next steps I propose would be:

- Move JS linting and testing to NPM scripts (https://github.com/mozilla/bedrock/issues/8479).
- Implement an MVP webpack config that enables us to ship concatenated / minified bundles in production, in the exact same format we do t

[2020-06-03 14:02] cadecairos commented on #8949
Thank you! 🎉

[2020-06-04 13:54] alexgibson commented on #7083
I'd like to keep this issue in our minds, so I'm sharing a couple of recent new products that aim to provide privacy-preserving analytics as an alternative to GA:

- https://plausible.io/
- https://www.goatcounter.com/

[2020-06-04 17:18] stephaniehobson opened #8981 "Navigation performance tweaks"
Two small changes can be made to the Firefox nav to improve its performance:

- Smaller versions of the product logos can be included (instead of the SVGs)
- Product logos can be lazy loaded.

[2020-06-04 20:49] mehan commented on #8728
Hi @hoosteeno--it looks like we are going to announce the closing of this fund on Monday. Could we please remove this banner from the site as well? Thanks!

[2020-06-04 21:15] stephaniehobson opened #8983 "HTML is not being served compressed"
## Description

HTML should be compressed with gzip for perf reasons.

### Steps to reproduce

1) Open devtools  network tab
2) Visit www.mozilla.org
3) Click on the HTML request
4) Switch to the Headers tab
5) Look for "content-encoding" in the response.

### Expected result

Should be gzipped.

### Actual result

Not compressed

cc: @MEAOCloud

[2020-06-04 21:20] metadave commented on #8983
cc @mozilla/meaocloud

[2020-06-04 21:29] stephaniehobson commented on #8981
Before:

[![Screen Shot 2020-06-04 at 14 24 30](https://user-images.githubusercontent.com/854701/83811743-3fc9ec80-a66f-11ea-98f4-c1298ef23ee7.png)](https://www.webpagetest.org/result/200604_J5_fc74407474b8c30a536ca66aba1372af/)

After:

[![Screen Shot 2020-06-04 at 14 24 44](https://user-images.githubusercontent.com/854701/83811753-435d7380-a66f-11ea-88bf-0a4c89c4057e.png)](https://www.webpagetes

[2020-06-04 21:32] stephaniehobson commented on #8981
Maybe these results are trash because the time to first byte was so different?

[2020-06-04 21:37] hoosteeno opened #8984 "Remove COVID Fund banner"
## Description

In #8728 we added a COVID fund banner to certain pages of the site. This program is closing on 2020-06-08, so we can remove the banner on/around that date.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Banner is removed from all pages where it appears

[2020-06-04 23:55] craigcook commented on #8984
The banner is [controlled by a switch](https://github.com/mozmeao/www-config/blob/master/waffle_configs/bedrock-prod.env#L34) so we can turn it off without a production push. Obviously we should delete the code as well but that cleanup task can be a lower priority and not tied to a date.

[2020-06-05 00:48] pmac commented on #8983
We believe that our CDN may not be doing this even with compression turned on due to the [BREACH and CRIME attacks](http://breachattack.com/) on compressed HTTPS responses. I do not believe that bedrock is susceptible to these attacks as there is no user generated content on the site. I think this project would do a good job for us:

https://github.com/friedelwolff/django-compression-middleware

[2020-06-05 00:59] pmac commented on #7083
I also found https://usefathom.com/ via https://switching.software/replace/google-analytics/

[2020-06-05 10:06] alexgibson opened #8985 "[Epic] Migrate to Webpack"
## Description

This is an epic to help break down the work that would be required to migrate bedrock to Webpack.

[2020-06-05 10:10] alexgibson opened #8986 "Ship an MVP webpack config"
## Description

Ship an initial webpack config, with the following success criteria:

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Bundling method remains unchanged (minify and concatenation of existing bundles)
- [ ] No changes or impacts to current browser support (includes legacy JS bundles)
- [ ] No major changes to front-end dev workflow:
  - [ ] Devs still use `static-bundl

[2020-06-05 10:15] alexgibson opened #8987 "Add a webpack build option for compiling ES2015+ using Babel"
## Description

Once we have an initial webpack config and are happy with it, begin to add in an option for transpiling ES2015+ code using Babel.

- We may need to enable bundles to opt-into this, vs re-compiling all our existing code that is already ES5.
- Some bundles, such as legacy JS bundles also won't likely want to use it for compatibility reasons.

---

#### :yellow_heart: Success Criteria

[2020-06-05 10:17] alexgibson commented on #8985
Dependencies:

- Research switching to Webpack (https://github.com/mozilla/bedrock/issues/8956)
- Run CSS/JS linting and tests via npm scripts (https://github.com/mozilla/bedrock/issues/8479)
- Ship an MVP Webpack config (https://github.com/mozilla/bedrock/issues/8986)
- Add a webpack build option for compiling ES2015+ using Babel (https://github.com/mozilla/bedrock/issues/8987)

[2020-06-05 17:49] #8981 closed

[2020-06-05 20:47] mkaply commented on #8006
The SUMO article is live.

https://support.mozilla.org/kb/run-firefox-chromeos

[2020-06-08 14:05] alexgibson opened #8991 "404 link on /manifesto page"
## Description

See: https://bugzilla.mozilla.org/show_bug.cgi?id=1643881 for STR.

[2020-06-08 14:53] NdagiStanley commented on #8991
Hi @alexgibson can I take this up?

What would you have me do?

[2020-06-08 14:55] alexgibson commented on #8991
@NdagiStanley pull requests are welcome. I'd suggest starting by getting bedrock up and running locally: https://bedrock.readthedocs.io/en/latest/install.html

[2020-06-08 15:01] alexgibson opened #8992 "Refresh getting started docs for new contributors."
## Description

We get quite a lot of folks asking in random GitHub issues if or how they can start contributing to bedrock. It might be worth updating our docs with some more recent getting started info for new contributors. This could also link to any [good first bugs](https://github.com/mozilla/bedrock/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Bug%22) we might have open.

- https://gi

[2020-06-08 15:30] #8991 closed

[2020-06-08 15:33] amychurchwell commented on #8683
@hoosteeno yes, this is in progress. :) will have a PR early this week.

[2020-06-08 15:43] pmac opened #8994 "Import data from Wordpress blog"
We import some data from some blogs now, but for this we'll need to import it all. Possibly use an existing library like https://github.com/observermedia/django-wordpress-rest

[2020-06-08 15:45] pmac opened #8995 "Create Firefox Blog Home Page"
Layout the page that presents the available articles and links to other things like archives, feeds, tags, categories, etc..

[2020-06-08 15:47] pmac opened #8996 "Create the Article Page"
Create the page template for displaying individual articles. This includes determining the format of the article URL; Should it contain the year, month, just a slug, something else entirely?

[2020-06-08 15:48] pmac opened #8997 "Create the Firefox Blog RSS Feed"
We'll want a feed for the blog for people to consume. Could be RSS or Atom (TBD).

[2020-06-08 16:03] #8809 closed

[2020-06-08 16:03] #8615 closed

[2020-06-08 16:04] hoosteeno commented on #8684
@rantley is this card complete? If so can you drag to the "done" column?

[2020-06-08 16:09] hoosteeno commented on #8910
Firefox team has QA'd this, so it's ready for Bedrock dev review and merging.

[2020-06-08 16:11] hoosteeno commented on #7460
@alexgibson want to get this ready for review?

[2020-06-08 16:17] hoosteeno commented on #8827
This has been brand reviewed. Next steps
* @hoosteeno to review
* create new feature card

[2020-06-08 16:18] #8984 closed

[2020-06-08 16:19] #8651 closed

[2020-06-08 16:19] #8969 closed

[2020-06-08 16:20] hoosteeno commented on #8970
@cgonz0 can you attach mockups and mark as "done"?

[2020-06-08 16:44] #8684 closed

[2020-06-08 16:50] ejregithub commented on #8806
Closing - the only design changes are to the tables, which will be managed in the code task

[2020-06-08 16:50] #8806 closed

[2020-06-08 17:39] Errolyn commented on #8971
@ejregithub Can you add the due date for this so I have it here?

[2020-06-08 18:08] jchaupitre commented on #8910
Hi Justin, not clear to me who is the firefox team who QAed this, are you saying that this PI here has been fully tested and now complete https://jira.mozilla.com/browse/PI-641? if so, I will ask them to indicate so and sign-off. thanks!

[2020-06-08 18:19] alexgibson commented on #8910
@jchaupitre I helped guide tzsoldos through testing the bedrock parts here last week, although I can't speak to the other dependencies. I'm not sure if that needs to block us moving forward with the change here though, seeing as the functionality is essentially already in producton (See https://github.com/mozilla/bedrock/issues/8910#issuecomment-629241503)

[2020-06-08 18:24] ejregithub commented on #8971
@Errolyn - done - the very last day (we should strive to have the content, all templates with copy test variations, live in prod sooner) for go live is June 26th.

[2020-06-08 18:28] jchaupitre commented on #8910
Got it, thanks. I just followed up with QA on the PI request.

[2020-06-08 20:53] ejregithub commented on #8923
@craigcook @cgonz0 - the original file appears to be 3000 x 2000, the same 3/2 ratio as the recommended size of 1200 x  800. Can we use this without cropping, to replace to photo w. Beard?  https://drive.google.com/file/d/15JU8sv0so6HQXdIE7BSrS4YG7WY78Er_/view?usp=sharing

[2020-06-08 21:00] justinokelly commented on #8923
HI there,

Could we actually crop it so it shows only what we see below? We don't need to see the back of Sean.

Justin

<img width="770" alt="Screen Shot 2020-06-08 at 1 59 45 PM" src="https://user-images.githubusercontent.com/59577857/84079999-55e9ec80-a990-11ea-8937-8b960ab31660.png">

[2020-06-08 21:12] cgonz0 commented on #8923
this crop should be about the right dimensions and image should still be large enough.

![Berlin All Hands Jan 2020 Mitchell Baker Dave Camp Sean White Amy Keating_crop](https://user-images.githubusercontent.com/29640968/84080905-d3622c80-a991-11ea-8592-42b24b3df704.jpg)

[2020-06-08 21:30] ejregithub opened #8999 "WNP 78 Experiment Plan"
WNP78 will launch with 4 copy variations ([copy doc](https://docs.google.com/document/d/12EXuSwoNijGVEFoRWmEv7R1vhWWBZu7jsW4UcWp752U/edit)). We want to test these against each other to see which variation achieves the best session-send rate on the Send-To-Device widget. We need an experiment plan for that.

## Success Criteria

- [x] Experiment plan is written and attached to this document
- [x] P

[2020-06-09 00:41] cgonz0 commented on #8970
![wnp78 - AFFINITY.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/2605e7f3-15a5-470e-84c7-c73cbf8248db)![wnp78 - FALLBACK.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/87679e56-dd60-4ca0-a069-6f498d3a15f0)![wnp78- PRIVACY.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/a3d0bbcb-e3fe-48a8-a030-38427a546a66)![wnp78- SPEED.png](https://image

[2020-06-09 00:41] #8970 closed

[2020-06-09 03:47] ejregithub commented on #8970
@cgonz0 - I'm going to make the not so wild assumption that these are 'Clio approved'. Nonetheless, could you please note that in reply here and apply the 'tick' to the Approvals line item for "Brand (Design) - Clio: in the original description at the top of this issue?  Many, many thanks.

[2020-06-09 12:43] alexgibson opened #9001 "Port /firefox/products page to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/products/

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Page is using Fluent in propduction and translations are migrated.

[2020-06-09 17:04] hoosteeno commented on #8999
@sghoseWI Can you help us build an experiment plan for WNP78?

[2020-06-09 17:12] pmac commented on #8976
Maxmind was removed from the app in #3921. So we can look at that code for some help on adding it back.

[2020-06-09 19:06] pmac commented on #8983
Had to revert the changes to try to work out some incompatibilities with our CDN.

21b8e4331f191a94f57f13f3806253280394c6e9

[2020-06-09 20:54] sghoseWI commented on #8999
@hoosteeno Sure thing!

[2020-06-10 00:02] #8949 closed

[2020-06-10 00:51] #8829 closed

[2020-06-10 13:39] alexgibson opened #9006 "Migrate firefox/privacy pages to Fluent"
## Description

- https://www.mozilla.org/firefox/privacy/
- https://www.mozilla.org/firefox/privacy/products/

[2020-06-10 16:31] rraue opened #9008 "Redirect /products/firefox/ to /firefox/products/"
## Description

/firefox/products/ currently is redirected to /firefox/ but with the new /firefox/products/ page this will be the better fit. The old redirected url has a long history and a lot of backlinks.

Especially with brand planning to move /firefox/ even more in the brand story overview direction, these product based links should go to /firefox/products/.

[2020-06-10 16:50] hoosteeno opened #9009 "Animate global nav CTA"
## Description

The CRO team ran an experiment to determine whether a small, short animation in the global navigation's CTA would increase overall engagement with the CTA. [One variant did so](https://docs.google.com/document/d/1twN7fh3E3GPmuN9EJFb7PwomeK2NPbsNExrLApG2geE/edit#heading=h.jcj1m5tuuur8), which we called the "Initial Bounce". The variant also did not harm install rates, which UX revie

[2020-06-10 17:53] alexgibson opened #9010 "Make adding new brand names to brands.ftl easier"
## Description

Currently adding a new brand name to brands.ftl involves a set of very laborious steps:

1. Add a new brand name to en/brands.ftl in bedrock.
2. Take that brand name and add it to every locale in the l10n-team repo.
3. Once that is merged in the l10n-team repo, pull it back into bedrock via l10n_update.

This is required because brand name placables do not fall back to English like

[2020-06-10 19:25] ejregithub opened #9011 "Update product screens for lockwise page"
## Description

Update product screens for lockwise page  - https://www.mozilla.org/firefox/lockwise/

The lockwise website is showing product screens with fakertester written all over them.

New art is here: https://drive.google.com/open?id=1pR-uXCaHSHsY2QuR1QFanisaFjfc2P_f

---

#### Success Criteria
- [ ] The page is live with the new product images in place

#### Approvers
- [ ] Tyler Ahn
- [

[2020-06-10 22:14] ejregithub opened #9012 "Copy - Moments_4_Mobile-CTA-EXP01"
Goal: Learn which point in a desktop user's lifecycle is most effective to cross-sell mobile to inform where we should automate an evergreen Moments Page.

Approach: Distribute Welcome page 4 to users across different profile ages, i.e. multiple cohorts at once to see, for instance, if users in week 2 (still new to the browser and likely downloaded for a reason) are more or less interested in our

[2020-06-10 22:14] ejregithub opened #9013 "Code: Moments 4 Refresh"
Update Welcome 4 copy and images to market new mobile browsers. Code should be ready for pontoon no later than EOD Friday 8/28.

#### Success Criteria
- [ ] [New copy](https://docs.google.com/document/d/1sNcLHvK2d0E9OOjQYsJTsNWp3NBVw3csgEs1rjFKNGs/edit#) is coded and live in EN, DE and FR
- [ ] Instrumentation is built to track mobile installs originating from this tactic
- [ ] new images are in p

[2020-06-10 22:14] ejregithub opened #9014 "Epic: Moments 4 revision for Daylight"
## Description

Update Welcome 4 copy and images to market new mobile browsers.

---

#### :yellow_heart: Success Criteria :yellow_heart:
- [ ] Copy, images approved and attached to cards in this epic
- [ ] Code merged
- [ ] Instrumentation validated

[2020-06-11 12:01] rraue opened #9016 "Migrate /firefox/lockwise to Fluent"
## Description

The lockwise landing page /firefox/lockwise/ is currently only available in 'en-US', 'de', 'en-CA', 'en-GB', 'es-ES', 'fr' and 'it' (https://github.com/mozilla-l10n/langchecker/blob/master/app/config/sources.inc.php#L283). We should open it to be translated in all our locales to let users worldwide get the product in their language, increase sessions and SEO.

---

#### :yellow_hea

[2020-06-11 12:07] alexgibson commented on #9016
The .lang project is now inactive, so this really means migrate the /lockwise page to Fluent (where it will be available to all of Pontoon locales again)

[2020-06-11 12:09] rraue commented on #9016
I thought so, do we have priorities on which pages need to be migrated first?

[2020-06-11 12:14] alexgibson commented on #9016
Yes we have a spreadsheet here: https://docs.google.com/spreadsheets/d/1RMYNxsFvZAx2DGwHINiEbf5oUYzOvEOp2RPrIH1LtF0/edit?usp=sharing

The lockwise page is currently down as a P2

[2020-06-11 12:20] rraue commented on #9016
Should we add a comment in the spreadsheet that it should be translatable to all locales and close this issue here then?

[2020-06-11 12:22] alexgibson commented on #9016
No I think keeping this issue open to track that it gets done is fine, thanks.

[2020-06-11 16:05] alexgibson commented on #9011
I can take this as part of #9016

[2020-06-11 20:05] ejregithub commented on #5824
Flagging the new to get the brand teams involved for determine evergreeen content on the page for non-Tier one locales.

[2020-06-11 22:23] stephaniehobson opened #9019 "Market desktop browser on /new."
With the changes to /firefox last year /new now needs to focus on marketing the desktop browser. By refocusing the page to market browser features we believe we can improve conversion and SEO ranking for this page.

Special attention should be paid to:
- perceived performance of page load
- this page had enhanced styling support for older browsers
- still providing download options for mobile user

[2020-06-12 12:56] alexgibson commented on #9011
@ejregithub it looks like we have localized image for this page, we we'll need updated images for the following locales:

- https://github.com/mozilla/bedrock/blob/master/media/img/firefox/lockwise/de.png
- https://github.com/mozilla/bedrock/blob/master/media/img/firefox/lockwise/en.png
- https://github.com/mozilla/bedrock/blob/master/media/img/firefox/lockwise/es.png
- https://github.com/mozilla/

[2020-06-12 12:57] alexgibson commented on #9011
Marking this as blocked and uncoupling from the work in #9016

[2020-06-12 18:49] sghoseWI commented on #8999
Draft of test plan: https://docs.google.com/document/d/1Il1sVwNfhuXF7ZK3uUdaq0swXVj3JovOUIuGQ5jnlgs/edit#

[2020-06-12 22:06] #7460 closed

[2020-06-14 03:41] NdagiStanley commented on #8994
@pmac I would very much like to participate in this [milestone](https://github.com/mozilla/bedrock/milestone/25). I've had the opportunity of just contributing once to the project and I'm still going through the code and supporting docs.

Let me know when this starts, where discussions are going on (if not here) and where I can plug in. I double up as a technical copywriter so I could help in that

[2020-06-14 09:31] shashankcoc commented on #9019
Hey @stephaniehobson ,
According to you the download button should be removed from small screen size or mobile view.
So can I solve this issue.

[2020-06-15 01:04] pmac commented on #8983
This has been fixed again by making some changes at the CDN that enable it to convert our ETags to "weak" and do brotli or gzip compression itself.

[2020-06-15 01:04] #8983 closed

[2020-06-15 03:21] stephaniehobson commented on #9019
@shashankcoc Sorry, I should have assigned myself. I'm working on it :)

[2020-06-15 04:14] shashankcoc commented on #9019
@stephaniehobson that's pretty cool, happy coding ☺

[2020-06-15 08:41] divyanshutewari17 commented on #8995
@pmac may I work on this issue?

[2020-06-15 15:41] #8992 closed

[2020-06-16 09:17] alexgibson opened #9023 "Fluent L10n automation has stopped working?"
## Description

The last automated PR from changes in bedrock was [21 days ago](https://github.com/mozilla-l10n/www-l10n/pull/34).

Since then, at least 2 more string changes have been merged in bedrock, neither of which seem to have made it to the L10n repo:

- https://github.com/mozilla/bedrock/pull/8953
- https://github.com/mozilla/bedrock/pull/8952

[2020-06-16 09:17] alexgibson commented on #9023
Any ideas here, @pmac - might this be since we changed the webhook?

[2020-06-16 12:50] pmac commented on #9023
The webhook was for the other direction. For changes coming from L10n repo to ours. I'm taking a look now.

[2020-06-16 12:53] pmac commented on #9023
`CommandError: Git push authentication not configured` from https://gitlab.com/mozmeao/bedrock/-/jobs/586196123

[2020-06-16 12:54] pmac commented on #9023
@duallain @glogiotatidis the new runners don't seem to have git auth setup properly for the integration account.

[2020-06-16 13:17] glogiotatidis commented on #9023
/me checks

[2020-06-16 13:36] pmac commented on #9023
So it's not the runners. It expects a `FLUENT_REPO_AUTH` environment variable in CI and it's no longer there for some reason.

[2020-06-16 13:41] pmac commented on #9023
I added the variable back in the GitLab UI and reran the most recent failure and it worked:

https://github.com/mozilla-l10n/www-l10n/pull/43

Still trying to figure out when and why the variable went away.

[2020-06-16 14:42] alexgibson commented on #9023
Seems to be working again now https://github.com/mozilla-l10n/www-l10n/pull/44

I'll leave it to you as to when you wan to close this issue. Thanks all!

[2020-06-16 15:02] LaurenNiolet commented on #8999
^approved

[2020-06-16 21:38] #9023 closed

[2020-06-17 18:32] ejregithub commented on #5824
I emailed Eddie Ibarra (TL for NA Brand) and then sent a meeting invite, adding Robin (TL for EU Brand) to that for June 24th

[2020-06-18 09:11] alexgibson opened #9026 "Migrate firefox/set-as-default/ pages to Fluent"
## Description

- https://www.mozilla.org/en-US/firefox/set-as-default/
- https://www.mozilla.org/en-US/firefox/set-as-default/thanks/

[2020-06-18 15:37] hoosteeno opened #9028 "Conduct usefathom evaluation"
## Description

https://usefathom.com/ has been approved for use at Mozilla. We should build it into our analytics instrumentation on a few of our more important pages of www.mozilla.org to learn if we can replace GA with it.

---

#### Success Criteria
- [ ] Evaluation plan is written
- [ ] Pages are identified
- [ ] Server side config is set up
- [ ] Client side config is set up

#### Approvals

[2020-06-18 17:21] codebreakeragr8 commented on #8515
@amychurchwell @alexgibson Hey! If this issue is still open then i would like to work on it.

[2020-06-18 17:34] alexgibson commented on #8515
@codebreakeragr8 @mitchell-frost thanks for showing interest in this bug. Pull requests are always welcome, and contributing docs are here: https://github.com/mozilla/bedrock/blob/master/.github/CONTRIBUTING.md

[2020-06-18 17:55] chiak597 opened #9029 "Slovak holiday calendar's end date is not updated in the calendar list"
### Steps to reproduce

SlovakHolidays.ics file was updated with holidays up to year 2025 in #7170, but calendar.json was not updated. Because of that, webpage with calendar list still says "2009-2020".

### Expected result

Webpage with holiday calendar list should say "2009-2025".

### Actual result

Webpage with holiday calendar list still says "2009-2020".

[2020-06-18 18:00] #8875 closed

[2020-06-18 22:55] ejregithub commented on #8927
Hooray!  We've got [DE and FR copy](https://docs.google.com/document/d/1h553O7WVx9v6evlGTJUuMJBWtsvbg2Avd2RGEvujJ1M/edit?ts=5eebdb8d) now for this page.

@Errolyn - please let me know when you think you'll land this as this will be one of the first opportunities for our internal folks to engage with ftl files via Pontoon (I will coordinate with them)

[2020-06-22 08:04] #9029 closed

[2020-06-22 12:40] alexgibson opened #9034 "Migrate /welcome page 1 to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/welcome/1/

---

#### Success Criteria
- [ ] Page is using Fluent in production along with locale migrations

[2020-06-22 16:09] #8808 closed

[2020-06-22 16:13] hoosteeno commented on #8973
@ejregithub any update on this?

[2020-06-22 16:16] hoosteeno commented on #8923
@hoosteeno to talk to Justin O about this one.

[2020-06-22 16:19] hoosteeno commented on #8843
@metadave is there any update on https://github.com/mozmeao/infra/milestone/46 timing?

[2020-06-22 16:27] #8821 closed

[2020-06-22 17:04] ejregithub commented on #8973
@hoosteeno - yes, I'm submitting the jira issue today (I chatted w. Tania about that being on my todos for today, early). I was hoping for links to demo to include the test doc, but I can easily insert copy and take screen shots w. the inspector tool.

[2020-06-22 17:47] ejregithub commented on #8973
@hoosteeno - QA test request if filed in Jira - https://jira.mozilla.com/browse/PI-679

The test doc is [here](https://docs.google.com/document/d/1wOhhesza_9emtH9ZOE_T9ZE1orlMyv7Q3W4sYHNhf-g/edit), pending only URL updates for each test variation and screenshots

[2020-06-22 18:11] amychurchwell opened #9036 "Remove wnp77 moments template experiment"
## Description

Remove the work done in #9005 now that the experiment is concluded.

[2020-06-22 21:10] metadave commented on #8843
@hoosteeno "soon", we're working on scheduling + security with IT this week. I will let you know when we have a firm date.

[2020-06-23 11:57] alexgibson opened #9038 "Migrate /welcome page 2 to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/welcome/2/

---

#### Success Criteria
- [ ] Page is using Fluent in production along with locale migrations

[2020-06-23 14:30] alexgibson commented on #7862
These pages have all been decomissioned so the bug is no longer valid, closing.

[2020-06-23 14:30] #7862 closed

[2020-06-23 15:49] rantley commented on #9012
https://docs.google.com/document/d/1sNcLHvK2d0E9OOjQYsJTsNWp3NBVw3csgEs1rjFKNGs/edit?usp=sharing

copy is done and approved

[2020-06-23 23:56] ejregithub commented on #9012
Noting that Hoosteeno, Lisa W, MWarther (Accountable) and Legal (Emily) provided signoff today, closing this issue

[2020-06-24 08:52] #9036 closed

[2020-06-24 09:32] alexgibson opened #9043 "Migrate /welcome page 3 to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/welcome/3/

---

#### Success Criteria
- [ ] Page is using Fluent in production along with locale migrations

[2020-06-24 09:38] alexgibson commented on #7083
Depends on https://github.com/mozilla/bedrock/issues/9028

[2020-06-24 09:42] alexgibson commented on #7083
Relevant: there are reports that Safari on the next version of macOS (Big Sur) may block GA by default (even with anonymised IP):

https://appleinsider.com/articles/20/06/22/safari-now-blocks-google-analytics-on-sites-new-privacy-report-feature-shows

[2020-06-24 14:37] cadecairos opened #9045 "Add Navrina Singh to /about/leadership"
## Description

Navrina Singh has [joined our Board of Directors](https://blog.mozilla.org/blog/2020/06/22/navrina-singh-joins-the-mozilla-foundation-board-of-directors/) and we'd like to have https://www.mozilla.org/en-US/about/leadership/ updated with her information.

Here's the picture we'd like:

![image](https://user-images.githubusercontent.com/438003/85576610-8b384080-b606-11ea-936b-507f39

[2020-06-24 20:05] pmac commented on #8843
@hoosteeno in the mean time I can be working on getting the test page setup on our infra we have for www.firefox.com (even though it's not at that domain yet). Do you have exact requirements for which page and at what URL you want it? I can get it up there and we can tweak from there.

[2020-06-24 21:52] pmac commented on #8843
@hoosteeno I went ahead and got the download page up on our infra. It's live on the staging instance of what will be our firefox.com redirector:

https://fxc-stage.oregon-b.moz.works/en-US/download-firefox/

[2020-06-24 21:52] pmac commented on #8843
Let us know what else we need to change to get this 100% ready for the test campaign, apart from getting it at the right domain.

[2020-06-24 22:30] pmac commented on #8843
One question is what to do with the language switcher in the footer? I could either:

1. Remove it for the experiment page since it really is only available in en-US
2. Update the JS so that it will take them to their chosen translation at www.m.o/firefox/new/

[2020-06-24 22:37] ejregithub opened #9050 "Remove the copy "(Beta)" from privacy and terms pages for FPN"
## Description

Remove the copy "(Beta)" from the page title on both of these pages:

- https://www.mozilla.org/en-US/privacy/firefox-private-network/
- https://www.mozilla.org/en-US/about/legal/terms/firefox-private-network/

---

#### Success Criteria
- [ ] Done ASAP (Expedite tag applied)

#### Approvals
- [ ] MFeldman

[2020-06-24 23:14] #9050 closed

[2020-06-25 05:17] kgeorgiou opened #9053 "Styling issue with picto card in /firefox/channel/desktop"
## Description

In the [Firefox Download page](https://www.mozilla.org/en-US/firefox/channel/desktop/), there's a stray list item bullet showing on the [picto card](https://protocol.mozilla.org/patterns/molecules/picto-card.html):

**Safari:**
<img width="500" alt="ff-channel-safari" src="https://user-images.githubusercontent.com/4765455/85656541-de4dda00-b67e-11ea-8a1f-747ae6485cb1.png">
**Chrome

[2020-06-25 12:32] alexgibson opened #9054 "Migrate /welcome page 4 to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/welcome/4/

---

#### Success Criteria
- [ ] Page is using Fluent in production along with locale migrations

[2020-06-25 12:33] alexgibson commented on #9053
Clusing as a duplicate of https://github.com/mozilla/bedrock/issues/8501

Thanks for reporting nonetheless :)

[2020-06-25 12:33] #9053 closed

[2020-06-25 15:39] peiying2 opened #9056 "Fluent string update requires a new ID"
## Description

Describe the issue that you're seeing.
Fixing a bug should involve adding a new string ID, not making changes with existing ID. By reusing the same ID, there is no warning when the placeable or variable is different between source and target language.

### Steps to reproduce
(I missed this one during the review): firefox/switch.ftl
https://bugzilla.mozilla.org/show_bug.cgi?id=16483

[2020-06-25 15:42] alexgibson commented on #9056
Hmm, so maybe I'm a bit confused here - but i thought only changes where the context or meaning of a sentance changed required a new ID?

Here we changed the original string to use a placeable instead of a hard coded string, so it's not a breaking change to any of the existing trnalations.

Can you help me understand what issue this causes? Locales are free to use placeables or not, it's up to the

[2020-06-25 15:54] peiying2 commented on #9056
English: switch-share-to-facebook = Share to { -brand-name-facebook }
Current Italian translation: switch-share-to-facebook = Condividi su Facebook

The above translation didn't trigger a warning, when the target language doesn't use { brand name }.

A big part of the migration for the community is to clean up the files after the conversion. Some don't get picked up in the conversion for a variety

[2020-06-25 16:07] alexgibson commented on #9056
Perhaps I'm misunderstanding something about the way Pontoon works, but for mozilla.org there's really not much of an issue here. Some strings may use a placeable in en, but some locales may not in their translation. You can see this in many places throughout the migrations already.

It feels a little odd to require a new string ID here, as the meaning of the string hasn't changed imho. But if it'

[2020-06-25 16:15] flodolo commented on #9056
The meaning of the string hasn't changed, but a translation without a term generates a warning in toolchains.

So, suddenly all locales will have warnings because of this source change. Either we fix all locales in the process of updating en-US, or we use a new ID.

In the specific case, this change seems also to have triggered a bug in Pontoon where the string doesn't show a warning at all, when

[2020-06-25 16:16] alexgibson commented on #9056
Ok, if this is causing an issue then let's help undo it for now 👍

[2020-06-25 16:22] alexgibson commented on #9056
@peiying2 @flodolo r? https://github.com/mozilla/bedrock/pull/9057

[2020-06-25 17:42] #9045 closed

[2020-06-25 18:53] #9056 closed

[2020-06-25 19:06] ejregithub opened #9059 "[July 10] WNP 79 - Copy"
## Description

Write [copy](https://docs.google.com/document/d/1vScsr5fReqsdwT0yEi31OpBxSHtNd3nM0nC6ynW-6cg/edit#) supporting the marketing theme selected for the WNP shown to users upgrading to Firefox 79 (release on 7/28)

[Principal project doc](https://docs.google.com/document/d/1DW2-pohjlRxmtSf7l4vhsVUCkhLQuXh6VdkOyopWPDk/edit)

---

#### Success Criteria
- [ ] The [copy](https://docs.google

[2020-06-25 19:06] ejregithub opened #9060 "WNP 79 - Design"

[2020-06-25 19:07] ejregithub opened #9061 "[July 17] WNP 79 - Code"
## Description

Code the page supporting the marketing theme selected for the WNP shown to users upgrading to Firefox 79 (release on 7/28)

[Principal project doc](https://docs.google.com/document/d/1DW2-pohjlRxmtSf7l4vhsVUCkhLQuXh6VdkOyopWPDk/edit)

---

#### Success Criteria
- [ ] Page is live in prod on or before July 17

#### Approvals
- [ ] The Accountable - MWarther
- [ ] Brand - Clio
- [ ]

[2020-06-25 19:07] ejregithub opened #9062 "[July 17] WNP 79 - QA coordination"
## Description

Coordinate w. QA for testing of the WNP 79

[Principal project doc](https://docs.google.com/document/d/1DW2-pohjlRxmtSf7l4vhsVUCkhLQuXh6VdkOyopWPDk/edit)

---

#### Success Criteria
- [x] [QA testing request ](https://jira.mozilla.com/browse/PI-717)if filed in Jira no later than July 13th
- [ ] [QA test document](https://docs.google.com/document/d/160p_YXB_yD2UAqSlm2lrNEk4P3f6p5Q_n

[2020-06-25 19:07] ejregithub opened #9063 "WNP 79 EPIC"
## Description

WNP for the Firefox 79 release on 7/28

[Principal project doc](https://docs.google.com/document/d/1DW2-pohjlRxmtSf7l4vhsVUCkhLQuXh6VdkOyopWPDk/edit)

Standard swarming schedule:

- Kickoff - Mon July 6
- First content review/swarming session - Tues July 7
- Websites Team checkin/swarming - During Team Time, Wed July 8
- Second content review/swarming session - during OMN/Websites

[2020-06-25 20:56] #9008 closed

[2020-06-25 21:31] amychurchwell opened #9064 "Add links beneath download button on /new experiment template."
## Description

/exp/firefox/new/ is missing the links beneath the download button on /firefox/new

[2020-06-26 07:52] alexgibson opened #9067 "warning package.json: Invalid bin entry for "browser-sync" (in "bedrock")."
## Description

When installing front-end dependencies there's a warning in the console about an _invalid bin entry_ for browser-sync

### Steps to reproduce

Run `yarn`

### Expected result

No warning in the console

### Actual result

The following warning is output several times:

[code]

### Environment

Node v12.16.2

[2020-06-26 08:59] alexgibson opened #9069 "Migrate /welcome page 5 to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/welcome/5/

---

#### Success Criteria
- [ ] Page is using Fluent in production along with locale migrations

[2020-06-26 10:48] alexgibson opened #9071 "iOS badge link URL is missing on redesigned /new page experiment"
Per @rraue on Slack:

The ios app store download link is broken on the /new test (https://www.mozilla.org/en-US/firefox/new/?v=b) as it points to itself:

![image](https://user-images.githubusercontent.com/400117/85849391-c66f7680-b7a2-11ea-88eb-f7b9a1228581.png)

The link in the iOS specific banner is also not working:

![image](https://user-images.githubusercontent.com/400117/85849455-e56e0880-b

[2020-06-26 13:33] #9071 closed

[2020-06-26 15:11] #8971 closed

[2020-06-26 15:12] #8973 closed

[2020-06-26 15:13] #8999 closed

[2020-06-26 16:14] pmac commented on #9010
With #9048 merged I'm going to mark this as closed. I don't think we need this automation if english fallbacks work on the site. Please reopen if you disagree.

[2020-06-26 16:14] #9010 closed

[2020-06-26 16:20] #8612 closed

[2020-06-26 17:13] hoosteeno commented on #8843
@rraue can you work with Saptarshi to get an experiment report written for this? That will help answer the above question.

@rraue I think this will be a single-locale test (en-US?) and therefore a missing switcher is probably a small impact. Agree?

[2020-06-26 17:36] pmac commented on #8843
I think the hreflang and canonical tags are still right on this, but we should double check those as well.

[2020-06-26 17:52] stephaniehobson opened #9073 "Link missing from accounts signin form"
## Description

The sign in and learn more links in the accounts signup form on the browsers page should be links.

### Steps to reproduce

https://www.mozilla.org/en-US/firefox/browsers/

<img width="628" alt="Screen Shot 2020-06-26 at 10 47 44" src="https://user-images.githubusercontent.com/854701/85886370-cff4e080-b79a-11ea-949c-0c97451697cf.png">

### Expected result

Like the products page, t

[2020-06-26 17:54] stephaniehobson commented on #9073
I think this is an artifact of #8988.

[2020-06-26 17:55] alexgibson commented on #9073
Looks like the string is missing the params, should be an easy fix https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/templates/firefox/browsers/index.html#L123

[2020-06-26 18:59] stephaniehobson opened #9075 "Update to Protocol 12.0.0"
Update to Protocol 12.0.0.

[2020-06-26 19:53] pmac commented on #8895
Actually, with #8976 because we need to be able to get country codes server side, we should just use this for our `/country-code.json` endpoint and keep the front-end code the same. I think I may close this one in favor of just doing that as part of the other issue, which is already done in the PR actually.

Any thoughts here @alexgibson ?

[2020-06-26 21:52] #9001 closed

[2020-06-26 22:02] #9006 closed

[2020-06-26 23:23] #9026 closed

[2020-06-29 08:10] #9016 closed

[2020-06-29 08:40] #8501 closed

[2020-06-29 12:19] alexgibson opened #9080 "Migrate /welcome page 6 to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/welcome/6/

---

#### Success Criteria
- [ ] Page is using Fluent in production along with locale migrations

[2020-06-29 12:20] #8972 closed

[2020-06-29 12:25] alexgibson opened #9081 "Preconnect to accounts.firefox.com on pages that require metrics"
## Description

Our [lighthouse reports](https://www.webpagetest.org/lighthouse.php?test=200628_GM_de105c10183fc08fcfc6ab25d453eb07) suggest that we could save an estimated 550ms on slower connections by preconnecting to account.firefox.com on pages that require metrics flow params, such as /firefox/accounts/.

This can be done using a `<link rel=preconnect>` tag in the `<head>` of the page.

http

[2020-06-29 12:49] alexgibson opened #9083 "Migrate /welcome page 7 to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/welcome/7/

---

#### Success Criteria
- [ ] Page is using Fluent in production along with locale migrations

[2020-06-29 15:30] rraue commented on #8843
@hoosteeno Yes I think one locale is enough to inform us about any possible difference in ctr.

[2020-06-29 15:32] alexgibson commented on #8617
Page is live: https://www.mozilla.org/en-US/firefox/browsers/compare/brave/

[2020-06-29 15:32] #8617 closed

[2020-06-29 16:01] #8810 closed

[2020-06-29 16:02] #8807 closed

[2020-06-29 16:07] ejregithub commented on #9009
@cgonz0 - when you're back can you please provide an update here?

[2020-06-29 16:07] #9034 closed

[2020-06-29 16:10] ejregithub commented on #9013
Blocked on the fact that we don't yet see that the page will be shown to users via FMS

[2020-06-29 16:11] ejregithub commented on #9011
Eric to ping Tyler for localized product images.

[2020-06-29 16:14] ejregithub commented on #5824
From the meeting. Robin self-assigned the task to talk to Janis about this including determining who the Accountable person should be here.

[2020-06-29 16:18] ejregithub commented on #8006
Needs design treatment (re-usable, extensible component for notifications) for messaging identified users (on /thanks) that informs users where they can get Firefox for Chrome OS

[2020-06-29 16:19] ejregithub commented on #8006
@justinkropp - ping

[2020-06-29 17:04] rraue opened #9086 "last-modified in sitemaps"
## Description

I am coming back to an old topic we had: last-modified in sitemaps. I think with the /compare/ pages I have a good case to rethink if we might somehow get them in the sitemaps. The pages got taken down two month ago and we redirected them back to /firefox/. Last Friday they were launched again, with a new page in the set. The new page /brave/ is indexed right away and is already se

[2020-06-29 17:04] rraue commented on #9086
cc @pmac

[2020-06-29 17:16] alexgibson opened #9087 "/firefox/retention/thank-you/ page throws an error"
## Description

https://www.mozilla.org/en-US/firefox/retention/thank-you/

[code]

[2020-06-29 17:29] #9087 closed

[2020-06-29 17:30] alexgibson commented on #8440
In the latest Chrome it looks like this has changed to

[code]

[code]

[2020-06-29 17:46] pmac commented on #9086
This is the code from the last time I attempted this: https://github.com/pmac/www-sitemap-generator

I think it could work. We could run it daily via CI, upload the resulting sitemaps to s3 or commit them to git, then have bedrock pull in the changes once a day as well.

[2020-06-29 17:49] hoosteeno commented on #8618
This is not happening. Let's reopen if it is a priority someday.

[2020-06-29 17:49] #8618 closed

[2020-06-29 18:18] Rudresh22 commented on #8716
Hello, I want to work on this issue, please guide me through this.

[2020-06-29 18:20] Rudresh22 commented on #8515
Hello sir, I want to work on this issue. It would be great if you could guide me through this.

[2020-06-29 19:16] pmac commented on #9086
I just updated some things with my scripts and ran everything and committed the results. It's looking good to me. Take a look at the [sitemaps in the repo](https://github.com/mozmeao/www-sitemap-generator/tree/master/sitemaps) @rraue and let me know what you think.

[2020-06-29 21:24] craigcook commented on #8515
Sorry, this is already being worked on (I hadn't seen this issue when I opened the PR). It'll be fixed with https://github.com/mozilla/bedrock/pull/9089

[2020-06-29 21:37] stephaniehobson opened #9090 "Add url for /new redesign independant of experiment"
The team wants to link to this page independent of the experiment.

[2020-06-29 22:19] #9090 closed

[2020-06-29 23:38] craigcook commented on #8811
The pages are live as of 26 June 2020

[2020-06-29 23:38] #8811 closed

[2020-06-30 00:57] #9073 closed

[2020-06-30 07:54] alexgibson commented on #8515
Fixed in https://github.com/mozilla/bedrock/pull/9089

[2020-06-30 07:54] #8515 closed

[2020-06-30 07:58] alexgibson commented on #8934
This was removed in https://github.com/mozilla/bedrock/pull/9066

[2020-06-30 07:58] #8934 closed

[2020-06-30 08:54] alexgibson commented on #8895
Makes sens to me, thanks @pmac 👍

[2020-06-30 09:09] alexgibson opened #9093 "Migrate /firefox/channel/ pages to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/channel/desktop/
https://www.mozilla.org/en-US/firefox/channel/android/
https://www.mozilla.org/en-US/firefox/channel/ios/

---

#### Success Criteria
- [ ] Pages are using Fluent in production along with locale migrations.

[2020-06-30 09:16] alexgibson commented on #8440
I tried setting the `#freeze-user-agent` flag in Chrome Canary to test the impact of these changes in Chrome:

https://web.dev/user-agent-client-hints/#what-happens-to-the-user-agent-string

When trying to download Firefox on macOS, I was presented with an .exe file for Windows. Stub attribution also happened on the download URL.

When checking my useragent I see:

`Mozilla/5.0 (Windows NT 10.0; W

[2020-06-30 09:31] alexgibson commented on #8440
@hoosteeno @pmac - the impact of these changes won't be seen until some time in 2021, but we should pay close attention to this. From my testing it will very much impact our current logic in bedrock for serving downloads, unless Chrome roll back on their approach in the coming months.

[2020-06-30 10:06] rraue commented on #9086
That looks great. Will the repo update if pages get updated? Right now all pages have the same timestamp, right?

[2020-06-30 11:57] alexgibson commented on #8454
@pmac I'd be interested in your thoughts here, especially around removing the hard-stop "Your system doesn't meet requirements" message.

It looks like refactoring this logic is going to be required in the future (for https://github.com/mozilla/bedrock/issues/8440), so simplifying our use of UA strings ahead of that work may help ease the transition. This may also make creating a simplified downlo

[2020-06-30 14:12] pmac commented on #9086
The idea is that this will be run on a schedule (every day, or every few hours or something like that) and that the files will be synced out to bedrock servers so they can be updated. I think most URLs have the same timestamp at the moment because most have changed since last time I ran this. When it's run on a schedule it will do a better job of tracking actual modified dates.

[2020-06-30 14:43] #8895 closed

[2020-06-30 14:50] pmac commented on #8454
I'm very much in favor of avoiding the hard-stop and going with the "other" mode where they get the choice. I think it's always possible for that script to get it wrong no matter how good we make it.

[2020-06-30 15:49] cgonz0 commented on #9009
@ejregithub WIP at the moment - will get feedback today/tomorrow and finalize by EOW

[2020-07-01 10:09] alexgibson commented on #8454
I'm going to make a first-pass at this 👍

[2020-07-01 11:03] alexgibson commented on #8454
@l-hedgehog I think https://bugzilla.mozilla.org/1564333 could be fixed by the stub installer passing a query param to bedrock to suggest the installer type. Given the brittleness of trying to do that type of detection using UA strings, I think that probably makes the most sense.

[2020-07-01 11:04] rraue commented on #9086
I think every day is enough, we are now five days in and only three of the 60 compare pages are back in the index, so having something pointing crawlers to the right pages will be way better than nothing.

Should we ship the sitemap and see in production how the schedule works or test it further in the repo?

[2020-07-01 15:00] pmac commented on #9086
It's still a bit fragile actually. I'm working on trying to make it run more reliably and make sure it's catching actual changes. There is either a lot more change than I expected or it's getting some false positives.

[2020-07-01 17:08] peiying2 opened #9100 "Remove `id` from the monthly WNP# template"
## Description

WNP # page (not the default) that ties to a particular Fx Desktop release is not available in `id` like the other locales on production. The `id` template is hard coded with content from the Emerging Market's marketing team. Let's remove it from the page configuration so it doesn't show up in Pontoon for the community..

### Expected result

When WNP # page is pushed to Pontoon, `i

[2020-07-01 20:23] pmac commented on #8705
I think this is due to the Fluent cache not being thread safe and the dev server loading the same page simultaneously. One solution is to turn off the cache for Fluent in dev mode. I'll keep looking at the Fluent implementation for a fix though.

[2020-07-01 23:20] cgonz0 commented on #9009
some specs for the bounce animation:

`@keyframes bounce {
  10%, 25%, 40%, 49% {
    animation-timing-function: cubic-bezier(.39,.58,.57,1);
    transform: translate3d(0, 0, 0);
  }
  20%, 22% {
       animation-timing-function: ease-in-out;
    transform: translate3d(0, -8px, 0);
  }
  35% {
    animation-timing-function: ease-in-out;
    transform: translate3d(0, -5px, 0);
  }
  45% {
     anim

[2020-07-02 03:04] l-hedgehog commented on #8454
@alexgibson Yes, I agree a query param from the stub installer is the right solution there.

[2020-07-02 08:26] alexgibson commented on #9009
Thanks @cgonz0 - I'll see if I can get this up on demo and then we can discuss the best timing for when the bounce should occur.

[2020-07-02 09:29] alexgibson commented on #9009
@cgonz0 this is now up on demo3 for review:

https://www-demo3.allizom.org/en-US/

Note: I added an initial 1 second delay after page load before the bounce animation begins, but am happy to tweak this however you see fit. Thanks

[2020-07-02 09:50] alexgibson opened #9102 "Move download specific messaging to the /thanks/ page"
## Description

As a dependency to making a simplified version of the download button in https://github.com/mozilla/bedrock/issues/8860, we need to first find an alternate solution for the various pieces of [conditional messaging](https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/templates/firefox/includes/download-button.html#L46) contained in the full download button helper.

After

[2020-07-02 09:51] alexgibson commented on #8860
Depends on https://github.com/mozilla/bedrock/issues/9102

[2020-07-02 09:53] alexgibson commented on #8860
Depends on #8454

[2020-07-02 11:26] rraue opened #9103 "Add compare link to /features/"
## Description

We hat do [remove the link](https://github.com/mozilla/bedrock/commit/8241a7f69aee9faed5f55c5a2c1792e0d6a58d30) to the compare pages on /features/ but now they are up again, we can add it again. I know the new feature page is nearly ready and migrated to protocol but as the /compare pages have issues getting re indexed, it would help even for a couple of days.

[2020-07-02 13:16] alexgibson commented on #8454
@hoosteeno before making these changes, I'd like to run them past you first. These are useful first steps to simplifying our download buttons.

I'm proposing we tidy up our [site.js](https://github.com/mozilla/bedrock/blob/master/media/js/base/site.js) platform detection logic, specifically:

- Remove the `"Your system doesn't meet the requirements to run Firefox"` message from our download button

[2020-07-02 13:41] #9103 closed

[2020-07-02 20:50] pmac commented on #8843
I'll remove the switcher.

[2020-07-02 21:36] cgonz0 commented on #9009
@alexgibson awesome, thanks! looking good -  i think we could reduce the 1s delay a bit... could we start by trying .5s and see how that feels? thank you

[2020-07-03 08:19] alexgibson commented on #9009
Thanks, changed to .5s delay

[2020-07-03 08:39] alexgibson commented on #9100
Reading: https://moz-l10n-config.readthedocs.io/en/latest/fileformat.html#paths

What's the recommended way to exclude a given locale from a configuration path? Specifying every other locale would work, but it seems like a long winded way to do things.

Any pointers here, @peiying2 or @Pike?

[2020-07-03 08:59] Pike commented on #9100
Add id to the special-templates config, https://github.com/mozilla/bedrock/blob/master/l10n/configs/special-templates.toml.

Happy to review a patch. Does it propagate from there, or do we need to patch `www-l10n` independently?

[2020-07-03 09:14] alexgibson commented on #9100
Thanks! I think once we merge to berdock the changes should be picked on in www-l10n

[2020-07-03 10:27] #9100 closed

[2020-07-03 13:59] alexgibson opened #9110 "RTL styling issues on /firefox/browsers/ page"
## Description

The Firefox Accounts form on the /firefox/browsers/ page is inaccessible on RTL locales due to styling issues.

### Steps to reproduce

https://www-dev.allizom.org/ar/firefox/browsers/

### Expected result

Form should be accessible.

### Actual result

![image](https://user-images.githubusercontent.com/400117/86476111-cab90800-bd3d-11ea-9336-f503a5d74bea.png)

### Environment

Fir

[2020-07-03 19:06] cgonz0 commented on #9009
@alexgibson  this feels a lot better to me, although the delay could possibly be even shorter. would you mind changing it to .25s? then i'll feel comfortable deciding the best timing b/w the two. thanks!

[2020-07-06 09:05] alexgibson opened #9112 "CSP image error on /firefox/browsers/compare/ in Chrome"
## Description

When visiting the browser comparison index page in Chrome, there's a CSP error reported in the console. Firefox does not seem to report the error.

### Steps to reproduce

1.) In Chrome visit https://www.mozilla.org/en-US/firefox/browsers/compare/
2.) Open the web console.

### Expected result

There should be no CSP error.

### Actual result

[code]

The root of the error might be

[2020-07-06 09:08] alexgibson commented on #9009
Done, thanks

[2020-07-06 09:55] rraue opened #9113 "Redirect /products/firebird/compare/ & /products/firebird/"
## Description

Via backlink research I found this old page /products/firebird/compare/  that did what the compare pages doe today, comparing firebird to other browsers. It results in a 404 but still has some links from external pages (why ever) and we should redirect the page to /firefox/browsers/compare/.

I checked the old browser landing page and it results in a 404 as well and we should redir

[2020-07-06 15:17] #8929 closed

[2020-07-06 15:26] alexgibson opened #9117 "Enable download buttons for Windows ARM64 builds."
## Description

Firefox builds for ARM64 / AArch64 were added to /firefox/all/ in https://github.com/mozilla/bedrock/issues/8929.

When someone tries to download Firefox directly via /new however, they still get the following message:

![image](https://user-images.githubusercontent.com/400117/86610185-e40fbd80-bfa4-11ea-9da1-742c068178ce.png)

This issue is to investigate enabling the download but

[2020-07-06 16:08] hoosteeno opened #9118 "Experiment plan: Test upstream CTR"
## Description

Build an experiment plan for a download URL test described in https://github.com/mozilla/bedrock/issues/8843.

---

#### Success Criteria
- [ ] Experiment plan includes
* variations
* traffic segmentation plan
* measurement plan
* any unique instrumentation requirements
- [ ] Experiment plan reviewed by list below
- [ ] Experiment plan attached to this issue

#### Approvals
- [ ] S

[2020-07-06 16:11] saschanaz commented on #9117
There is no 32bit ARM Windows, so no.

[2020-07-06 16:16] #9038 closed

[2020-07-06 16:30] #9043 closed

[2020-07-06 16:40] ejregithub opened #9119 "[7/17] WNPs - Indonesia, India, African countries"
## Description

New content is available to update the existing WNPs, the hard coded templates, currently shown to Indonesia and India (in EN).

Additionally, the EN page shown to India is also to be shown to the following countries in Africa: Nigeria, South Africa, Kenya, Ghana, Uganda, Tanzania, Zimbabwe, Zambia.

[Indonesia page assets](https://drive.google.com/drive/folders/1K9UcgFJrIJcj5PWv1y

[2020-07-06 16:43] ejregithub commented on #9119
@cgonz0 - could you please review the assets, link to above, and indicate if any improvements/adjustments should be made.

[2020-07-06 16:52] rraue commented on #9118
WIP doc test plan: https://docs.google.com/document/d/1iJamO5X68nVvDGiXlHk7kGK-rjmGNTm1EMnYM1eJFOM/edit

[2020-07-06 16:53] #9054 closed

[2020-07-06 17:11] cgonz0 commented on #9009
thanks for trying this speed- i think we should revert back to the .5s second timing. looks good to me overall. thanks

[2020-07-06 17:42] cgonz0 commented on #9119
@ejregithub design looks good- although the elements look a bit large to me. if we're going off the existing india/indonesia wnpages we have now, which work - i'd just suggest matching text sizes & qr code size. also wondering if we're going to hide the image for smaller sized screens as we're doing for other pages now

[2020-07-06 18:14] #9069 closed

[2020-07-06 18:49] #9080 closed

[2020-07-06 20:38] litkaemily opened #9120 "Push FPN Terms and Privacy Notice to go live July 7th"
Hi @pmac and @alexgibson (@peiying2 and @mafeld)

I'd like to request that the following go live tomorrow, July 7th.

Privacy notice: https://github.com/litkaemily/legal-docs/blob/master/Firefox_Private_Network_Beta/en-US.md
Terms of service: https://github.com/litkaemily/legal-docs/blob/master/Firefox_Private_Network_ToS/en-US.md

Privacy notice URL: https://www.mozilla.org/en-US/privacy/firefox-

[2020-07-06 21:31] #8927 closed

[2020-07-06 22:31] Errolyn opened #9121 "Update descriptions from /features/password-manager"
## Description
https://www.mozilla.org/en-US/firefox/features/password-manager/ has some dated and appropriated language to describe our password manager. Specifically "Password ninja" which is something the tech industry appropriated from Asian culture. Using it in this fashion removes the original meaning from it, and uses the appropriated meaning "fast".

Also we are using "Password master", we

[2020-07-07 08:10] #9083 closed

[2020-07-07 08:28] alexgibson commented on #9120
Thanks @litkaemily - this is a pretty short turn around but let's see if we can get this done today 👍

[2020-07-07 08:59] alexgibson commented on #9120
/cc @ejregithub ^

[2020-07-07 09:00] alexgibson commented on #9120
Ok, pull request should be good for review. We'll try and get it pushed to production asap -thanks

[2020-07-07 09:23] #8840 closed

[2020-07-07 12:29] #8705 closed

[2020-07-07 13:58] alexgibson commented on #9119
@ejregithub can you please ask whomever authored the design files to provide an export of the background as separate layers? Currently it's a single static image, which doesn't play well in the context of a responsive web page:

![background](https://user-images.githubusercontent.com/400117/86792218-2ba84f00-c062-11ea-8b86-40e8555e93ee.jpg)

Ideally, it would be great to get the circle shapes as s

[2020-07-07 13:59] alexgibson commented on #9119
Agreed, I don't think the mockup is to scale of our standard web page templates. I'll get something up on demo and then we can make tweaks when it's easier to see things in situ. Thanks

[2020-07-07 14:42] #9120 closed

[2020-07-07 14:48] litkaemily commented on #9120
Hi all - huge thanks. I'm sorry for the quick turn. Still leaning and will work to better understand processes and timing for next time!

[2020-07-07 14:54] alexgibson commented on #9120
No problem and happy to help! Ideally more than 24 hours notice for changes like this would be the ideal (just in case we've also got other priorities to work out that day). Luckily this was just a small change, so we can get it done easily enough. We're just pushing this to stage now, and I'll update here when it hits production. Thanks again

[2020-07-07 14:58] alexgibson commented on #7687
Fixed in https://github.com/mozilla/bedrock/issues/9120

[2020-07-07 14:58] #7687 closed

[2020-07-07 15:40] hoosteeno commented on #8827
@justinkropp Thanks, it looks good. I think we need to capture the non-Fx experience in this spreadsheet, too. And I think we should add a column to capture the changes we recommend. What do you think?

[2020-07-07 15:46] ejregithub commented on #9119
@alexgibson @cgonz0 - request for design files has sent.

[2020-07-07 16:21] alexgibson commented on #9120
Updates are now live:

https://www.mozilla.org/en-US/privacy/firefox-private-network/
https://www.mozilla.org/en-US/about/legal/terms/firefox-private-network/

[2020-07-07 16:57] justinkropp commented on #8827
@hoosteeno Sounds good. I'll start looking at non-Fx pages.

[2020-07-07 17:30] hoosteeno commented on #8827
I mean we need to look at the CTAs for non-Fx visitors to pages that you've highlighted.

[2020-07-07 19:14] justinkropp commented on #8827
@hoosteeno That's what I thought you meant. Sorry is my reply was confusing.

[2020-07-08 12:40] alexgibson commented on #9119
@ejregithub @cgonz0

This is now up on demo for initial design / stakeholder review:

- https://www-demo3.allizom.org/id/firefox/78.0/whatsnew/all/
- https://www-demo3.allizom.org/en-US/firefox/78.0/whatsnew/india/
- https://www-demo3.allizom.org/en-US/firefox/78.0/whatsnew/africa/

Note: we're still waiting on the background texture, so this is missing currently.

Any other tweaks please let me k

[2020-07-08 13:11] #9112 closed

[2020-07-08 13:32] alexgibson commented on #8444
@pmac I'd like to investigate the possibility of enabling client side error reporting in a tool that we use today (i.e. Sentry).

I've had a look back through git history, and I can't see any code or issues to suggest that we've ever enabled this in the past. Do you know of any reasons why we don't use it? Was it because of a prior security review perhaps?

I did find issues relating to using the

[2020-07-08 14:08] pmac commented on #8444
I think we might have to discuss that with the team that runs our Sentry instance. If we were to introduce a JS error on a popular page we could DDOS the service if it's not prepared for that much traffic. We'd probably also have to request changes to the websites privacy policy if Sentry isn't already in there. It does seem worth investigation though.

[2020-07-08 14:12] pmac commented on #8444
Seems like we could get started testing it though. The [docs for client-side integration](https://docs.sentry.io/platforms/javascript/) seem pretty straight forward.

[2020-07-08 14:13] pmac commented on #8444
And this would be all 1st party, so no need for the DNT wrapper.

[2020-07-08 14:20] alexgibson commented on #8444
Thanks. It's definitely not part of our websites privacy policy currently, but it would be great to better understand if using the JS client is an option for us.

If using a third-party tool may be an issue, the other option is for us to catch errors in a GA event. Whiulst this would certainly be easy enough to implement, the built-in reporting that Sentry offers is what I think would be most usef

[2020-07-08 14:45] craigcook commented on #9112
As the comment in the template says, that image ended up being an `object` because of a bug in Safari 13.1 (since fixed) but Chrome wouldn't render the `object`, and clearly I never spotted the CSP violation when trying to debug the issue. The nested image worked so I `¯\_(ツ)_/¯`ed and moved on. But now maybe we no longer need the nested fallback image. I'll have to test it some more when I get th

[2020-07-08 15:35] ejregithub commented on #9119
![0001_New-Firefox-Lite-2 5-WNP_BG_India](https://user-images.githubusercontent.com/20547886/86939048-f51c1400-c0f5-11ea-8213-e0c64a2628a3.png)

[2020-07-08 15:48] ejregithub commented on #9119
The comment above includes an image, the 'circle shape' as a separate layer. Click to view it.

[2020-07-08 17:49] cgonz0 commented on #9119
@alexgibson let's align the styles to the previous india whats new page, the suggestions below should help

header title - 56px and metropolis
tagline - 32px
qr code width - 250px

[2020-07-08 18:04] cgonz0 commented on #8468
this is ready - see design issue [8768](https://github.com/mozilla/bedrock/issues/8768)
in addition to whats new page icons, includes default browser campaign icons.

[2020-07-08 18:44] amychurchwell opened #9126 "Experiment traffic medium & source is not being attributed"
## Description

A recent A/B test on the firefox/new page shows that there seems to be an issue with traffic medium & source values not being passed.

Experiment data by medium & source. About **76%** of the data is attributed as `(none)`
![image](https://user-images.githubusercontent.com/30483988/86957091-0c1b3000-c10f-11ea-851f-5812d56688d7.png)

This is unusual because the split of traffic by m

[2020-07-09 08:37] alexgibson opened #9128 "Cache-bust doubleclick pixel on /download/thanks"
## Description

After a call with iProspect, one of Mozilla's marketing agency partners, they flagged an error with the doubleclick pixel that gets loaded on the `/download/thanks/` page. The bug stems from the fact that the pixel URL never changes, and so browsers will cache subsequent requests, and this also effects the overall accuracy of reporting.

They recommend enumeration of the `num` para

[2020-07-09 08:37] alexgibson commented on #9128
/cc @hoosteeno

[2020-07-09 08:49] alexgibson commented on #9126
@amychurchwell as you linked to [here](https://github.com/mozilla/trafficcop/blob/master/documentation.md#maintaining-referral-sources), Traffic Cop will (by natural effects of performing a redirect) appear as `(direct)` in GA.

I took a look under the hood in bedrock, as it looks like we have some existing code in our GA implementation to handle passing the `customReferrer` to GTM: https://github

[2020-07-09 10:01] alexgibson commented on #9119
@cgonz0 @ejregithub thanks this is now updated with regard to design feedback, as well as including the background images.

Given that this has a fixed date, and should aim to be in production by next Friday (17th), I think this is now in good enough shape to get final stakeholder review/approvals. Can you help get that rolling @ejregithub?

Thanks again.

[2020-07-09 12:56] Abhirup-99 commented on #9110
is this issue still up? Would like to contribute.

[2020-07-09 13:08] alexgibson commented on #9110
@Abhirup-99 please see our contributing guide to get started, thanks https://github.com/mozilla/bedrock#contributing

[2020-07-09 14:27] rraue commented on #9126
Does anyone know how to get this customReferrer in GA, in which view I can see it? @hoosteeno maybe?

[2020-07-09 15:04] alexgibson commented on #9117
I've deployed this change to demo for testing:

- https://www-demo2.allizom.org/en-US/firefox/new/
- https://www-demo2.allizom.org/en-US/firefox/channel/desktop/

@saschanaz do you by any chance have a Windows ARM64 device, and would be willing to help us verify that things are working as expected?

[2020-07-09 15:18] saschanaz commented on #9117
I don't have a right device now, sorry 😔

[2020-07-09 16:49] ejregithub commented on #9119
Thanks @alexgibson - I solicited that review from Stella (and Cynthia) via email.

[2020-07-09 20:43] ejregithub commented on #9062
QA test request filed in JIRA - https://jira.mozilla.com/browse/PI-717

[2020-07-09 21:49] amychurchwell commented on #9126
@alexgibson

Thank you for the suggestion! I will do this, but I want to mention that this is a North American Brand team experiment outside of the CRO team. Perhaps the checklist can live in bedrock docs.

[2020-07-09 22:29] hoosteeno commented on #9126
I have asked Adswerve to help debug. It kind of looks to me like GTM has stopped passing through the variable Alex mentions above.

[2020-07-10 16:31] alexgibson commented on #9119
What's on demo has been approved from Stella via email.

[2020-07-10 20:41] cgonz0 commented on #9060
**assets**
note: please set hero img width to 230px.
[https://app.zenhub.com/files/1616665/34626163-1b45-47ac-9871-10f5aa7f67a0/download](https://app.zenhub.com/files/1616665/34626163-1b45-47ac-9871-10f5aa7f67a0/download)

**mocks**
![wnp79.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/f9ab23af-9ae3-44c7-8a9a-4f73d9a06596)
![wnp79 - zhn.png](https://images.zenhubusercontent.co

[2020-07-10 23:50] stephaniehobson opened #9135 "Update English Homepage Layout"
MJ has requested an update to our homepage layout. It makes some card bigger, moves some of the section separators around, and changes the banner to be privacy focused.

<img width="251" alt="Screen Shot 2020-07-10 at 16 40 01" src="https://user-images.githubusercontent.com/854701/87211022-8e9d1e80-c2cc-11ea-9864-561ab5476909.png"> <img width="247" alt="Screen Shot 2020-07-10 at 16 40 27" src="htt

[2020-07-13 09:09] alexgibson commented on #9117
Added a blocker to this issue until we can get some help with QA.

[2020-07-13 09:50] alexgibson opened #9137 "Create a design treatment for conditional messaging on /download/thanks/"
## Description

In order to extend our messaging capabilities to users trying to download Firefox, we'd like to move platform specific messaging that's currently contained in our download buttons, to the [/firefox/download/thanks/](https://www.mozilla.org/en-US/firefox/download/thanks/) page.

Doing so will help to simplify our existing download button code (see https://github.com/mozilla/bedrock/

[2020-07-13 09:51] alexgibson commented on #9137
/cc @justinkropp

Let me know if you would like to talk through any of the above ^

[2020-07-13 09:52] alexgibson commented on #8006
I filed a separate issue for creating a design treatment to display platform messaging on /thanks/, as it's a dependency for several other issues as well: https://github.com/mozilla/bedrock/issues/9137

[2020-07-13 09:55] alexgibson commented on #8860
Depends on #9137

[2020-07-13 10:35] alexgibson commented on #9137
Perhaps the existing notification bar component in the page might be a good lever for many of these messages?

https://protocol.mozilla.org/patterns/molecules/notification-bar.html

[2020-07-13 16:03] #9059 closed

[2020-07-13 16:12] ejregithub commented on #9119
@Errolyn - please review this one

[2020-07-13 16:21] ejregithub commented on #8683
@amychurchwell - can you please provide status here?

[2020-07-13 16:23] ejregithub commented on #7258
@hoosteeno - can we move on this work?

[2020-07-13 17:16] amychurchwell commented on #8683
@ejregithub hi Eric! We ran the moments template on wnp77. Unfortunately there was a JS bug that was missed that prevented the datalayer push for analysis. We attempted to compare the URLs directly in GA
`https://www.mozilla.org/en-US/firefox/77.0.0/whatsnew/all/?v=2` vs `https://www.mozilla.org/en-US/firefox/77.0.0/whatsnew/all/` but we were unable to find anything. Unsure why, perhaps we can tak

[2020-07-13 17:31] ejregithub commented on #9117
@alexgibson - noting that I pinged the QA coordination Slack channel querying about the possibility for assistance in testing. I'll follow up once I get direction, probably formalizing the request in a Jira request.

[2020-07-13 17:44] litkaemily opened #9138 "New URLs and Terms/Notice for Mozilla VPN"
cc: @mafeld @alexgibson

Hi, we need to push this to be live tomorrow, July 14th.

URL for Terms of Service: https://www.mozilla.org/about/legal/terms/mozilla-vpn/
- document to be published: https://github.com/mozilla/legal-docs/tree/master/Mozilla_VPN_ToS

URL for Privacy Notice: https://www.mozilla.org/privacy/mozilla-vpn/
- document to be published: https://github.com/mozilla/legal-docs/tree/m

[2020-07-13 17:53] hoosteeno commented on #8683
Here is an analysis of thee Moments in WNP channel that I put together: https://docs.google.com/spreadsheets/d/1K7JlRVkn1KiLe-GNME1tyYhssJV_dbaCFMJE5FiW234/edit#gid=509894921.

I've asked @sghoseWI to review the methodology and determine if it's adequate.

[2020-07-13 17:56] litkaemily commented on #9138
cc @chrismore

@alexgibson it sounds like 9am would be the preferred time for these to go live.

Please let us know what is possible.

Many thanks,
Emily

[2020-07-13 17:57] alexgibson commented on #9138
I'm assuming this is 9am Pacific time? Thanks

[2020-07-13 17:59] chrismore commented on #9138
@alexgibson yeah, 9am PST. Thanks, Alex and Emily!

[2020-07-13 18:17] craigcook commented on #9138
Should the existing privacy notice at https://www.mozilla.org/privacy/firefox-private-network/ be removed? (I'm assuming yes, but want to confirm).

[2020-07-13 18:57] ejregithub commented on #9117
@alexgibson   - VBalducci confirmed QA has Lenovo Yoga w. Windows on ARM 64.  I filed this issue w. QA for testing -  https://jira.mozilla.com/browse/PI-679

[2020-07-13 19:29] hoosteeno commented on #7258
Let's go with @slightlyoffbeat 's specs from https://bugzilla.mozilla.org/show_bug.cgi?id=1522698#c6 -- that is, two string variations get into localization pipes.

[2020-07-13 19:33] craigcook commented on #9138
OK, I now understand that FPN is a separate product so we need to keep that policy and this task is just adding new policy and terms for Mozilla VPN. Roger.

[2020-07-13 19:35] ejregithub commented on #9117
@alexgibson - Testing appears to finalize this issue, please confirm and close if you concur:

QA tested and [commented ](https://jira.mozilla.com/browse/PI-679?focusedCommentId=98747&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-98747) with the following:

_As per https://github.com/mozilla/bedrock/issues/9117 I tested the download links :

    https://www-demo2.al

[2020-07-13 19:50] litkaemily commented on #9138
Hi yes, this sounds right.

Thanks

On Mon, Jul 13, 2020 at 12:33 PM Craig Cook <notifications@github.com>
wrote:

--
*Emily Litka*
Product & Privacy Counsel
emily@mozilla.com

[2020-07-13 20:25] chrismore commented on #9138
That's correct. Going forward, Mozilla VPN = The VPN formerly known as the Firefox Private Network VPN and Firefox Private Network is now only the secure proxy. Separate product, separate branding, thus separate TOS/privacy. @johngruen is the point person for FPN / secure proxy product and I lead the Mozilla VPN.

[2020-07-13 21:59] chrismore commented on #9138
@rlr the links to the new terms and privacy policy are in comment 0 and will need to be updated on the staged website.

[2020-07-14 07:49] #9138 closed

[2020-07-14 11:42] alexgibson commented on #9138
Both pages are now in production:

- https://www.mozilla.org/en-US/about/legal/terms/mozilla-vpn/
- https://www.mozilla.org/en-US/privacy/mozilla-vpn/

[2020-07-14 12:34] #9067 closed

[2020-07-14 16:25] alexgibson commented on #8688
Looks like this was fixed

[2020-07-14 16:25] #8688 closed

[2020-07-14 19:19] #9009 closed

[2020-07-14 19:46] #8922 closed

[2020-07-14 22:58] hoosteeno commented on #9126
Adswerve will debug the data collection here, but we won't be able to manufacture historical data for this experiment. We can either wait for them to debug and then run the experiment again, or assume (maybe with data science help) that the enrolled visitors generally match our overall traffic patterns.

[2020-07-15 08:33] alexgibson opened #9144 "Remove legacy FxA sync flows"
## Description

As of https://github.com/mozilla/bedrock/pull/8914, FxA Sync authentication is now handled via a new UI-Tour flow, supported in Firefox 80 and above. Older clients (FF 79 and below) still fallback to the old flow for the time being.

Maintaining both of these flows is not without cost and complexity, and certainly not without risk of introducing regressions that are hard to debug.

[2020-07-15 08:34] alexgibson commented on #9144
/cc @hoosteeno one for the future ^

[2020-07-15 08:42] alexgibson commented on #9144
More detail on what we could remove:

- Custom logic for handling China Repack (as the new UITour flow handles this automatically): https://github.com/mozilla/bedrock/blob/master/media/js/base/mozilla-fxa-link.js#L103-L114
- Manually setting Sync params based on user agent: https://github.com/mozilla/bedrock/blob/master/media/js/base/mozilla-fxa-link.js#L23-L42
- At that point it may also be worth

[2020-07-15 09:31] alexgibson opened #9145 "Remove legacy /whatsnew pages"
## Description

Our [list of /whatsnew pages](https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/views.py#L573-L644) is becoming overgrown again. We should prune some of the older pages. Perhaps we could keep the two most recent releases, and allow the others to fallback to the default /whatsnew page.

---

#### Success Criteria
- [ ] Older /whatsnew pages and their assets are removed

[2020-07-15 09:59] Errolyn opened #9146 "Convert safebrowser and adblocker pages to Fluent"
## Description

All the feature pages have been converted to fluent besides Safebrowser and adblocker pages.

---

#### Success Criteria
- [ ] Safe browser page is using fluent
- [ ] adblocker page is using fluent

#### Approvals
- [ ] The Accountable
- [ ] Brand - design?
- [ ] Brand - copy?
- [ ] Team Lead
- [ ] Others?

[2020-07-15 10:13] alexgibson opened #9147 "/firefox/mobile-promo/ page shows mixed content in other languages."
## Description

It looks like this page is only for an experiment in which case it may not be much of a big deal, but the URL is currently marked as active for a large number of locales, and shows mixed English copy that has never been opened up to L10n:

https://www.mozilla.org/de/firefox/mobile-promo/

I'm guessing it probably shouldn't be using `firefox/welcome/page4.lang`: https://github.com/m

[2020-07-15 12:17] alexgibson opened #9148 "Decommission /firefox/campaign/ page"
## Description

The [firefox campaign](https://www.mozilla.org/en-US/firefox/campaign/) page no longer has any real owner in marketing, and it's now just a replica of [/new](https://www.mozilla.org/en-US/firefox/new/), so we should decommission the page and redirect it (vs migrate to Fluent).

---

#### Success Criteria
- [ ] Page is removed from bedrock and URL is redirected to /new.

#### Approv

[2020-07-15 12:18] alexgibson commented on #9148
@hoosteeno please confirm here if / when we can make this change, thanks.

[2020-07-15 12:20] alexgibson opened #9149 "Migrate firefox/enterprise page to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/enterprise/

---

#### Success Criteria
- [ ] Page is updated in production using Fluent with existing migrations.

[2020-07-15 13:25] alexgibson opened #9151 "Expose /contribute for L10n"
## Description

The redesigned [contribute page](https://www.mozilla.org/en-US/contribute/) has yet to be exposed for L10n. The template also needs converting to Fluent.

---

#### Success Criteria
- [ ] Strings for new template are available in Pontoon.

#### Approvals
- [ ] The Accountable
- [ ] Brand - design?
- [ ] Brand - copy?
- [ ] Team Lead
- [ ] Others?

[2020-07-15 13:28] alexgibson opened #9152 "Migrate Facebook Container page to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/facebookcontainer/

---

#### Success Criteria
- [ ] Page is using Fluent in production along with existing migrations.

[2020-07-15 13:44] vladikoff commented on #9144
Excellent I am excited for this future clean up!  Even though we have to wait a bit , it's good to have this documented

[2020-07-15 15:57] alexgibson opened #9153 "Integration test failures on home page"
https://gitlab.com/mozmeao/www-config/-/pipelines/166940734/failures

Possibly a regression from https://github.com/mozilla/bedrock/pull/9136

[2020-07-15 16:27] hoosteeno commented on #9137
Examples of how these messages show up now, just for reference:

<img width="816" alt="Screen Shot 2020-07-15 at 10 26 30 AM" src="https://user-images.githubusercontent.com/94519/87570366-c8cc3e80-c685-11ea-9f60-c893aaed7bf9.png">
<img width="1014" alt="Screen Shot 2020-07-15 at 10 26 19 AM" src="https://user-images.githubusercontent.com/94519/87570372-cbc72f00-c685-11ea-9735-97f522392167.png">

[2020-07-15 17:41] skrelnick23 commented on #9011
![Devices](https://user-images.githubusercontent.com/19312393/87577397-b18e5080-c687-11ea-8185-8bfd0e93b2e4.png)
![Android](https://user-images.githubusercontent.com/19312393/87577422-bc48e580-c687-11ea-9ffd-605c40b47dfa.png)
![iOS](https://user-images.githubusercontent.com/19312393/87577461-c834a780-c687-11ea-9323-982d994ed99b.png)

[2020-07-15 17:58] #9153 closed

[2020-07-15 18:10] ejregithub commented on #9011
@cgonz0 - we have existing localized images, as Alex points to in [the comment ](https://github.com/mozilla/bedrock/issues/9011#issuecomment-643255805) above and Tyler has provide png files in the comment right above.

What we need to do here is update the localized screenshots with list of accounts names in [this screenshot](https://user-images.githubusercontent.com/19312393/87577422-bc48e580-c68

[2020-07-15 18:18] craigcook commented on #9061
Merged in https://github.com/mozilla/bedrock/commit/f771dc08768835577e7873a89e193e4158f2bcfb

[2020-07-15 18:18] #9061 closed

[2020-07-15 18:26] #9093 closed

[2020-07-15 20:08] cgonz0 commented on #9011
@ejregithub the localized images provided above seem to already be minimized/compressed. i wouldn't use those as a source to update the text. i could use the higher quality images that Tyler provided, but that would mean the "start" screen would also need to be localized -- which i wouldn't recommend doing, on account of it adding a lot more complexity. having the original files would be the best

[2020-07-15 20:11] ejregithub opened #9155 "[08-06] WNP80 - Copy"
## Description

The WNP for Firefox 80 release on 2020-08-25, promoting content as part of the Sept campaign.

This card is for the creation, review and approval of the copy to be used in the page.

[Principal project doc ](https://docs.google.com/document/d/1_pWp3lZJe3qFf5bCgsg_Lck6LaoB3RiFm1kRiPyz2As/edit)

[Copy - EN](https://docs.google.com/document/d/1exGfO9t3fSwK5G3lQj-ImQJFWY6qshazs7UF9FihJ

[2020-07-15 20:11] ejregithub opened #9156 "[8-10] WNP80 - Design"
## Description

The WNP for Firefox 80 release on 2020-08-25, promoting content as part of the Sept campaign.

This card is for the creation, review and approval of the designs to be used in the page.

[Principal project doc ](https://docs.google.com/document/d/1_pWp3lZJe3qFf5bCgsg_Lck6LaoB3RiFm1kRiPyz2As/edit)

---

#### Success Criteria
- [ ] Design assets are approved and provided to dev on or

[2020-07-15 20:11] ejregithub opened #9157 "WNP80 - QA support"
## Description

Coordinate w. QA for testing of the WNP 80

[Principal project doc](https://docs.google.com/document/d/1_pWp3lZJe3qFf5bCgsg_Lck6LaoB3RiFm1kRiPyz2As/edit)

---

#### Success Criteria
- [x] [QA testing request ](https://jira.mozilla.com/browse/PI-756) is filed in Jira no later than 2020-08-10
- [ ] [QA test document](https://docs.google.com/document/d/1ZuJbmkMgHQUh9Q_TWx1kfttJRS_pj-4

[2020-07-15 20:12] ejregithub opened #9158 "WNP80 - Code"
## Description

The WNP for Firefox 80 release on 2020-08-25, promoting content as part of the Sept campaign.

This card is for the code, review and approval of the page for launch in production.

[Principal project doc ](https://docs.google.com/document/d/1_pWp3lZJe3qFf5bCgsg_Lck6LaoB3RiFm1kRiPyz2As/edit)

---

#### Success Criteria
- [ ] The pages is live on or before 2020-08-14 to enable suffic

[2020-07-15 20:12] ejregithub opened #9159 "WNP 80 Epic"
## Description

The WNP for Firefox 80 release on 2020-08-25, promoting content as part of the Sept campaign.

---

#### Success Criteria
- [ ] Is live in production on or before 2020-08-14

#### Approvals
- [ ] The Accountable- MWarther
- [ ] Brand design - Clio
- [ ] Brand copy - Natalie
- [ ] Team Lead - Hoosteeno
- [ ] PMM - TBD

[2020-07-15 20:17] ejregithub commented on #9011
Understood, thanks @cgonz0.  @skrelnick23 - please provide those/links to the original files when you're able to retrieve them and let me know if you want help in doing so.

[2020-07-15 21:58] #9117 closed

[2020-07-15 21:59] #8584 closed

[2020-07-16 09:24] alexgibson commented on #8444
@pmac given the unknowns on if Sentry might now be able to withstand our traffic load, I'm tempted to press on with a simpler implementation to catch errors in GA. Do you think that might be the better (low cost) solution here?

[2020-07-16 15:09] alexgibson opened #9161 "Migrate firefox/mobile to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/mobile/

---

#### Success Criteria
- [ ] Page is updated using Fluent in production along with exsiting migrations.

[2020-07-16 15:16] pmac commented on #8444
I'm pretty sure it would handle the load, but you could ask that team. I don't know what a GA solution would look like. Would it even be that useful?

[2020-07-16 15:22] alexgibson commented on #8444
Which team do we need to speak to?

Certainly better than the alternative, which right now is like a black box :)

[2020-07-16 16:11] alexgibson commented on #8444
Talking in infraeng it sounds like the Sentry instance has a rate limit of 108K per hour, and anything above that is dropped. There's a potential that www.mozilla.org could hit that limit (for example an error on a /whatsnew page), but the risk to the Sentry service itself should be mitigated.

If we do go with Sentry, we should put it behind a feature switch so we can toggle off quickly if needed

[2020-07-16 18:51] #8685 closed

[2020-07-16 19:35] hoosteeno opened #9165 "7/20: Enable moments/8 experiment"
## Description

The product team is testing whether alternate messaging treatments drive more traffic through moments CTAs in https://github.com/mozilla/bedrock/pull/9134. Before 2020/07/21 (assuming the code is merged), we need to enable the experiment via switch in www-admin.

Since this is an in-product experience, we do not need to embargo the experiment until the day of launch. We can enable

[2020-07-17 03:30] berliners1 commented on #9110
Hello, I just made a pull request with a potential fix for this issue.

[2020-07-17 08:17] alexgibson commented on #5703
With https://github.com/mozilla/bedrock/issues/8461 now resolved we can finally say our download buttons *all* have accessible color contrast at long last 🎉

[2020-07-17 08:19] alexgibson commented on #8868
I think this one is finally ready 🎉

[2020-07-17 08:29] #9119 closed

[2020-07-17 09:15] alexgibson opened #9170 "Prune unused assets from bedrock"
## Description

Images are one of the largest asset types and contribute significantly to the overall footprint of bedrock. Looking through the `/media/img/` directory, I think there is likely scope for a good cleanup of unused images that have been orphaned over the years. Pruning unused images will help reduce the number of bytes we push / pull around the internet, and may also help with memory

[2020-07-17 10:37] alexgibson opened #9171 "Epic: Automated testing evaluation & pipeline improvements"
## Description

Conduct an evaluation of Selenium-based automated testing solutions.

Pitch deck: https://docs.google.com/presentation/d/1Wy_b0m-DrGhIm4TZFAiIVqKhxrwT7tAbwzQTmyY2MgI/edit?usp=sharing

---

#### Success Criteria
- [x] Implement pipeline improvements & cost savings
- [x] Evaluate service providers & make a recommendation.

#### Approvals
- [ ] The Accountable
- [ ] Team Lead
- [ ] Mo

[2020-07-17 10:48] alexgibson opened #9172 "Remove legacy newsletter form"
## Description

We currently mainatin two versions of the newsletter widget, one for Protocol pages and one for legacy pages: https://github.com/mozilla/bedrock/blob/master/bedrock/newsletter/templatetags/helpers.py#L62

Now that 100% of pages are on Protocol, we can remove the old form and logic:

https://github.com/mozilla/bedrock/blob/master/bedrock/newsletter/templates/newsletter/includes/form

[2020-07-17 10:48] alexgibson opened #9173 "Remove legacy newsletter form"
## Description

We currently mainatin two versions of the newsletter widget, one for Protocol pages and one for legacy pages: https://github.com/mozilla/bedrock/blob/master/bedrock/newsletter/templatetags/helpers.py#L62

Now that 100% of pages are on Protocol, we can remove the old form and logic:

https://github.com/mozilla/bedrock/blob/master/bedrock/newsletter/templates/newsletter/includes/form

[2020-07-17 10:49] #9173 closed

[2020-07-17 12:50] #8479 closed

[2020-07-17 14:02] alexgibson commented on #9126
I believe this turned out to be a bug in our GA implementation as opposed to Traffic Cop, and has been resolved by our agency. Closing this, but feel free to re-open if still needed.

[2020-07-17 14:02] #9126 closed

[2020-07-17 18:09] #9063 closed

[2020-07-17 18:09] #9062 closed

[2020-07-17 19:53] justinkropp commented on #9137
@alexgibson After some research into possible solutions I'm leaning towards two options for displaying the conditional message. These are the options:

- an overlay that will show the content of the conditional message that is triggered on page load
- an overlay that will show the conditional message that is triggered on click (of the download button)

Would it be technically feasible to trigger t

[2020-07-17 21:25] hoosteeno commented on #9137
The /thanks page is not indexed so it's not a search landing page. The only way to get there is to click a button for download, and the default behavior is to trigger a download as soon as the page is loaded (which pops open an OS modal in some browsers). Do you think popping open an info modal on pageload instead seems reasonable?

I think this doesn't capture the overall desired outcome, which i

[2020-07-17 21:32] hoosteeno commented on #8923
Could we use the one that's on the front page right now?

![Screen Shot 2020-07-17 at 3 31 13 PM](https://user-images.githubusercontent.com/94519/87832200-ac293580-c842-11ea-9b0a-88f75fea900c.png)

[2020-07-18 10:38] vinay-deshmukh commented on #8365
The following worked for me:

1. Run `docker-compose`. This will prompt you to install this command, and then install it.

2. Try running the `make clean run` command again. It should give you an error like:

[code]

3. Make sure that the docker service is running by:
[code]

In case it's not running, you can follow [this tutorial](https://developer.fedoraproject.org/tools/docker/docker-installati

[2020-07-18 20:07] chuckthemole commented on #9170
Hi, would this be a good project for a first time contributor? If so I'd like to take it on. Thanks!

[2020-07-19 18:31] Standard8 opened #9176 "Fraud Report page returns 500 Something went wrong."
## Description

Visited https://www.mozilla.org/en-US/about/legal/fraud-report/, submitted a report.

When I submitted it came up with "Something went wrong" and 500 in the title.

### Steps to reproduce

* Filled out the form and pressed submit.

For the form fill-out, I set

* url -> Filled out with a url I was reporting.
* Category -> "Distributing modified Firefox/malware"
* Product -> Other
*

[2020-07-19 21:52] ejregithub commented on #9176
I attempted this in 78.0.2 and was not able to replicate the error. I then attempted to replicate the error in Nightly 80.0a1 (2020-07-18) (64-bit) and could not do so. Realizing I was not on the latest Nightly build I updated to 80.0a1 (2020-07-19) (64-bit) and tested again, also finding no issues. WFM.

[2020-07-20 02:03] justinkropp commented on #9137
If a user is always going to hit the /thanks page after a download attempt -- no matter their platform/browser version/etc -- then I agree that the initial plan would be best: serve them a modal on page load.

[2020-07-20 06:21] alexgibson commented on #9170
Pull requests are welcome, thanks!

[2020-07-20 06:28] alexgibson commented on #9137
If we were worried about people landing on this page without first clicking the button then, we could always pass a query parameter via the button link. But I think Justin is right here in that we can pretty safely assume people land here via the assumed action, as the page is not indexed via search.

Even if someone did get to /thanks/ by some other means however, their intention may well still b

[2020-07-20 08:27] alexgibson opened #9177 "/fraud-report/ - Success notification appears at the bottom of the page"
## Description

Upon sucessfully submitting a fraud-report, the success notification appears right at the bottom of the page, providing no clear indication that the report was sent.

### Steps to reproduce

1. Visit https://www.mozilla.org/en-US/about/legal/fraud-report/
2. Submit the required information.

(you can also visit https://www.mozilla.org/en-US/about/legal/fraud-report/?submitted=True

[2020-07-20 08:33] alexgibson commented on #9176
I was able to reproduce this issue shortly after the bug was filed over the weekend, but am also unable to do so now.

I did manage to find the error in Sentry: https://sentry.prod.mozaws.net/operations/bedrock-prod/issues/9146092/, which gives the following error when trying to send the email:

[code]

Anything we should look at here, @pmac?

[2020-07-20 14:32] vinay-deshmukh opened #9181 "Karma unit tests not working inside docker container `assets`"
## Description

I am trying to run the unit tests (for the files at ./media/js/base/*.js, and the tests are at ./tests/unit/spec/base/*.js) inside a docker container.

### Steps to reproduce

The [documentation](https://bedrock.readthedocs.io/en/latest/testing.html#running-jasmine-tests-using-karma) mentions that I should be running `npm run test` to run the Jasmine/Karma tests(i.e. the unit tests

[2020-07-20 14:47] pmac commented on #6378
Finally getting around to doing this. And on the CSP thing it seems that Sentry now has a specific URL they give you for security header reports, including CSP violation. If you're curious the URL is listed in the available client keys in the app's settings in Sentry.

[2020-07-20 15:34] pmac commented on #9181
The issue is that those tests require a browser to run and the docker container doesn't have one installed. It is an issue I'd like to solve at some point. If you make any progress toward getting it to work I'd love to see it.

[2020-07-20 15:42] vinay-deshmukh commented on #9181
To solve this issue, wouldn't it be possible to just add firefox and chrome images to the assets container configuration, so that the browsers get installed when the containers are built like how the assets container has npm,karma,etc? (I'm just guessing here, this has been my first interaction with docker)

And, you have mentioned that this behaviour is an unsolved issue, so is there an issue cre

[2020-07-20 16:15] pmac commented on #9181
It should be that easy, yeah, but I seem to remember some issue when I tried this before. It also installs A LOT more dependencies into the image and thus results in a _much larger_ image for users to download and work with. We'll probably need another optional image that people can build if they'd like to run those tests locally.

[2020-07-20 16:24] duallain commented on #9176
It looks like the EU cluster's SES credential wasn't successfully rotated a few weeks back.  I took a look after this bug was filed and finished the work. (Reapplied the new secret).  It should be good now.  Planning on keeping an eye on that type of error in sentry to ensure it's fixed for good.

Closing the ticket now, please let me know if for whatever reason that doesn't make sense.

[2020-07-20 16:24] #9176 closed

[2020-07-20 16:39] vinay-deshmukh commented on #9181
Can you elaborate on what you are referring to when you say "optional image"? Do you mean an image without firefox and chrome but still runs as intended?

Also, do you know of any workaround I can use right now? I'm trying to solve the send-to-device.js bug #7673 , and ran into this while trying to run a unit test

[2020-07-20 16:43] pmac commented on #9181
The way the devs on the team run them are locally. If you have Firefox installed in your VM you should be able to install and run the tests in that VM instead of in Docker on that VM. Alternately I've heard of people having success running such things via the Windows System for Linux if you have that installed. Please let us know if you get anything working. We don't have anyone on staff working o

[2020-07-20 16:46] pmac commented on #9181
I mean another image that's not the main "assets" image since that is uploaded to the docker hub and used for building the production assets on our CI pipelines. I'm thinking another docker file that starts with `FROM bedrock_assets:latest` and then installs the things required for the tests.

[2020-07-20 17:43] vinay-deshmukh commented on #9181
May I ask who is the intended audience of docker images? Considering how unit tests don't seem to work inside them, due to the lack of a browser.

Are they used in continuous integration where the unit tests work as intended?

[2020-07-20 18:12] pmac commented on #9181
The docker images will do everything else. They build the assets and run the python tests and run in production and in all deployments and literally everything that's not the karma tests. The JS tests in CI run via docker in an image called `circleci/node:12-browsers`. It might be possible to use that image locally to run the tests as well. We'd have to look into the proper place to mount the bedr

[2020-07-20 18:54] #9149 closed

[2020-07-20 19:04] #9113 closed

[2020-07-20 19:12] #9165 closed

[2020-07-20 22:39] peiying2 opened #9184 "Migrate Nightly /whatsnew page to Fluent"
## Description

[Firefox Nightly Whatsnew](https://www.mozilla.org/en-US/firefox/52.0a1/whatsnew/all/) - this page should show the nightly update is everyone 4-5 weeks, but the [Japanese version](
https://www.mozilla.org/ja/firefox/52.0a1/whatsnew/all/) - didn't translate the updated string so it resorts to the obsolete string which states 6-8 weeks. This is incorrect and needs to be updated.

###

[2020-07-21 01:13] #9152 closed

[2020-07-21 04:41] peiying2 commented on #9184
I made the change in .lang file. If there is a way to manually push the file to production. If this is not possible because of current configuration, do we have a timeline to convert firefox/nightly_whatsnew.lang. Thanks!

[2020-07-21 08:35] #9110 closed

[2020-07-21 08:42] alexgibson commented on #9184
@peiying2 let's get this page ported to Fluent so we can get this fixed

[2020-07-21 09:54] alexgibson commented on #9184
Ok, I opened a PR for migration. If you can review the .ftl files I'll see if we can get the bedrock part reviewed asap.

[2020-07-21 10:13] alexgibson opened #9187 "Unexposed string in firefox/features/shared.ftl"
## Description

When doing a Fluent migration for another issue I noticed there's a diff between what's in bedrock's `l10n/en/` folder and what's the the [www-l10n](https://github.com/mozilla-l10n/www-l10n/) repo:

In `en/firefox/features/shared.ftl` there's a string that does not appear [in Pontoon](https://pontoon.mozilla.org/en-GB/mozillaorg/en/firefox/features/shared.ftl/?search=More+Firefox+b

[2020-07-21 10:14] alexgibson commented on #9187
The string appears on the sub pages:

![image](https://user-images.githubusercontent.com/400117/88042130-5c4cb600-cb43-11ea-8fd8-4bf9184b7494.png)

[2020-07-21 10:16] glogiotatidis commented on #6378
sweet, thanks for the heads up!

[2020-07-21 12:32] alexgibson opened #9189 "Add switch to Firefox Lite /whatnsew page"
## Description

There's a chance the Firefox Lite update might not happen before the FF 79 update, and could instead be a day or two after. To help mitigate this risk the ask is to put the page behind a switch, so we can toggle on once they have the green light.

---

#### Success Criteria
- [ ] Updated page should be behind a switch.

[2020-07-21 13:18] alexgibson commented on #7560
Going to close this and we can file a new issue for the realigned CMS work.

[2020-07-21 13:18] #7560 closed

[2020-07-21 14:16] alexgibson opened #9191 "Migrate /firefox/developer/ pages to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/developer/
https://www.mozilla.org/en-US/firefox/76.0a2/whatsnew/all/
https://www.mozilla.org/en-US/firefox/76.0a2/firstrun/

Note: all three templates share the same .lang file.

---

#### Success Criteria
- [x] Pages are using Fluent in production along with existing migrations.

[2020-07-21 14:17] alexgibson opened #9192 "Migrate /firefox/pocket/ page to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/pocket/

---

#### Success Criteria
- [ ] Page is using Fluent in production along with existing migrations.

[2020-07-21 14:19] alexgibson opened #9193 "Migrate legacy /firefox/firstrun/ page to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/firstrun/

---

#### Success Criteria
- [ ] Page is using Fluent in production along with existing migrations.

[2020-07-21 14:22] alexgibson opened #9194 "Migrate default /whatsnew page (send-to-device) to Fluent"
## Description

https://www.mozilla.org/en-US/firefox/59.0/whatsnew/all/

---

#### Success Criteria
- [ ] Page is using Fluent in production along with existing migrations.

[2020-07-21 14:56] #6378 closed

[2020-07-21 15:41] alexgibson commented on #9187
Fixed in https://github.com/mozilla-l10n/www-l10n/pull/82

[2020-07-21 15:41] #9187 closed

[2020-07-21 15:57] alexgibson commented on #9145
Fixed in https://github.com/mozilla/bedrock/pull/9185

[2020-07-21 15:57] #9145 closed

[2020-07-21 16:02] hoosteeno opened #9196 "Epic: Simplify events architecture"
## Description

In Q3 2020 we'll put together specs for simplifying analytics events architecture on www.mozilla.org. This is an epic to house the implementation issues that work will produce.

---

#### Success Criteria
- [ ] All of the epic issues are complete

[2020-07-21 16:05] hoosteeno opened #9197 "Events architecture: Document recommendations"
## Description

The first issue in our [events rearchitecture](https://github.com/mozilla/bedrock/issues/9196) is working with a 3rd party to document recommended requirements. That work will produce a number of requests for changes to front end code on www.mozilla.org.

---

#### Success Criteria
- [ ] Events architecture document is final and usable as a source of engineering requests

#### Appr

[2020-07-21 16:12] #9189 closed

[2020-07-22 03:36] dholbert opened #9203 "The instructions for opting out of Firefox Welcome Page point instead to Contextual Feature Recommender documentation"
## Description

Today (or recently), we started showing a "Firefox Welcome Page". Towards the bottom of the Welcome page, there's a "why am I seeing this" link (I forget the exact text), which points to https://support.mozilla.org/en-US/kb/firefox-browser-welcome-pages

This support page is generally helpful, but it doesn't have any "how do I opt out" steps.  Instead, it has reference to another p

[2020-07-22 03:44] dholbert commented on #9203
To be clear, I don't actually know if the linked opt-out instructions (for Contextual Feature Recommender) are in fact completely unrelated to the Welcome page and are just linked via a copypasta-mistake, or if they are actually the correct way of opting out of the Welcome page & they just need clarification to explain that.

To whoever ends up addressing this: I think that is the first question t

[2020-07-22 09:51] alexgibson commented on #8372
Once #9202 merges we're going to have 3 /new templates and 3 /thanks templates in the repo, which from both a marketing and maintainability point of view isn't too great.

I put together a quick delta of the current and old (quantum) templates: https://jsbin.com/lutuqariko/edit?html,js,output

The results I got were:

Current template active locales: 50
Old template active locales: 69

Delta (miss

[2020-07-22 10:11] #8716 closed

[2020-07-22 13:07] alexgibson commented on #7258
@hoosteeno @slightlyoffbeat here's the new content on demo - please verify if it all looks correct? https://www-demo3.allizom.org/en-US/

I went with option 1 (Mozilla Labs) for the thumbnail link. Let me know if this is ok, or you would like to try the other option? I'm going to suggest we pick one option to localize, as not being able to see content being translated can sometimes be confusing fo

[2020-07-22 13:53] rraue opened #9206 "Add VPN link in main nav and footer"
## Description

We are working on a longer-term navigation refactor that clarifies the relationship between our products and brands. Meanwhile, let's put a big, bright link to VPN in both global navigations.

In the Firefox nav, replace the "Connected and Protected" promo under the Products nav item:
![Screen Shot 2020-08-05 at 3 47 32 PM](https://user-images.githubusercontent.com/94519/89467550-0

[2020-07-22 13:53] rraue commented on #9206
Any thoughts @dzingeek?

[2020-07-22 13:53] justinkropp commented on #9137
@alexgibson Below is an initial pass at a possible approach.
----
<img width="1457" alt="Screen Shot 2020-07-22 at 9 22 48 AM" src="https://user-images.githubusercontent.com/1461798/88184242-739da900-cc00-11ea-9820-567e3d531c24.png">
This approach (in this example going from /new to /thanks to SUMO) would rely on a modal-dialog to present the conditional messaging and any relevant links. We talked

[2020-07-22 13:55] pmac commented on #9203
Is the new Welcome Page hosted on www.mozilla.org (WMO)? If not then this issue may need to go over to the [SUMO team](https://github.com/mozilla/kitsune/). Typically when an in-product link to SUMO is added it goes through a redirector they maintain, so the link should be able to be directed to a better page, or that team could update the current page to better explain the opt out procedure. If i

[2020-07-22 13:58] hoosteeno commented on #9206
Great bug. We'll want to parameterize the link for attribution.

[2020-07-22 14:00] rraue commented on #9206
This issue is still open and confusing the overall accessibility between both brand worlds: https://github.com/mozilla/bedrock/issues/8937. We have not so much products that we should completely separate them from each other. And the Mozilla part of teh website has great SEO power by external links as well. We should give the new product all SEO help we can do and a main nav link will be very valu

[2020-07-22 14:01] alexgibson commented on #9137
I think this approach would be my preffered avenue to explore over the modal, for the reasons we discussed in the meeting. Some feedback on this version though:

This almost looks / feels like the emphasis box, which is an existing component: https://protocol.mozilla.org/patterns/molecules/emphasis-box.html

We could, but seeing as it's in-page content it would still need to meet accessibility gui

[2020-07-22 14:11] alexgibson commented on #9203
I believe this is one of the welcome pagesin question: https://www.mozilla.org/en-US/firefox/welcome/1/

@hoosteeno is the SUMO article accurate, in that this is the right way to opt-out of these pages? If so, perhaps the SUMO team could make their wording a little clearer. If not, then we need to fix the opt-out mechanism.

[2020-07-22 14:14] ericawright opened #9207 "typo in DE version of welcome/8"
"Schalte deine Privatsphäre Autopilot"

should be

"Schalte deine Privatsphäre auf Autopilot"

[2020-07-22 14:27] #9207 closed

[2020-07-22 15:21] craigcook commented on #9121
This was fixed in https://github.com/mozilla/bedrock/pull/9105

"Password ninja" is now "Password magician"
"Password master" is now "Password champion" and refers to earning a "gold medal" rather than a "black belt."

[2020-07-22 15:21] #9121 closed

[2020-07-22 15:50] justinkropp commented on #9137
I'm not sure if that in-page content would have much value for this user. The new language on the /thanks page will allude to a successful download as well as next steps(installation). I'd like to avoid showing the user a message about an interrupted download attempt and at the same time showing them messaging that sounds like a successful download (below the modal/emphasis box).

[2020-07-22 15:57] alexgibson commented on #9137
In situations where this messaging would be seen, we have capability to hide conflicting "success" messaging - in which case this it would become the main page content for the user. With that in mind, I don't think we need to worry too much about positioning it over the page, or fading out other content (since it would not compete)?

[2020-07-22 16:19] ericawright opened #9209 "Percentage distributions are not quite correct, some branches are being favoured."
We are using traffic cop to divide users among 4 branches, [each receiving 2.5%, totalling 10%](https://github.com/mozilla/bedrock/blob/master/media/js/firefox/welcome/welcome8-traffic-cop.js#L34-L44).

However 2 of our branches are reliably getting 50% more users enrolled than the other 2 branches. Though the total is correct at roughly 10%.
"v=image" and "v=header-text", are getting many more en

[2020-07-22 18:11] stephaniehobson commented on #9206
Should we add it as a product on https://www.mozilla.org/en-US/firefox/products/ as well? There's an open space.

[2020-07-22 18:41] justinkropp commented on #9137
I empathize with your position in wanting to keep some of that content accessible, but I'm gonna push back on that a bit. I think the goal of this message is explicit in that is asks the user to act or flat out prohibits them from completing an action. As such, a user shouldn't have access to content that isn't relevant here or that they cannot act on.

From [NNG](https://www.nngroup.com/articles/

[2020-07-22 18:43] dzingeek commented on #9206
Ugh..yeah this is a mess. IMO having a Mozilla branded thing live under firefox nav is very confusing. My suggestion would be to have this live in the moz footer and nav but NOT in the firefox one.

If we are thinking of them as two separate sites (even though they are not) and treating them that way (separate navs and footers) then you would not expect to see Mozilla product in the nav of (let's

[2020-07-22 19:11] alexgibson commented on #9137
I think we need to try and re-align here in maybe, because it feels like the UI treatment that’s being suggested here is really a modal. If that’s the direction we want, then imho we should call a spade a spade, so to speak. The second treatment feels a bit too similar to a modal to me, just without the overlay.

To try and give an example as to why it’s important for the content to be accessible

[2020-07-22 19:28] ejregithub commented on #8686
@Errolyn -are all the tasks child to this epic complete, can we close this out?

[2020-07-22 20:05] justinkropp commented on #9137
Yes, let's sync up over Zoom and talk through this.

[2020-07-22 20:40] ejregithub commented on #9137
@justinkropp @hoosteeno @alexgibson - I booked this sync meeting for tomorrow (Thursday July 23)

[2020-07-22 20:42] dholbert commented on #9203
Yeah, thanks -- that's the welcome page that I was thinking of (I had lost the URL).  There are different versions, `/1/` through `/8/`, and they all have a "Why am I seeing this?" link at the bottom, which points to the SUMO page that I linked in comment 0.

[2020-07-22 21:56] ejregithub commented on #9203
I walked through this user journey and verified some information about the requirements to 'turn off welcome pages'. I will update the first landing page with that information. There's no need for two clicks.

[2020-07-22 22:24] ejregithub commented on #9203
I updated the first page with the instructions on how to turn off welcome pages. It's pending approval by folks at SUMO.

On https://support.mozilla.org/en-US/kb/firefox-browser-welcome-pages/ the proposed updates look like this:

![Screen Shot 2020-07-22 at 3 21 58 PM](https://user-images.githubusercontent.com/20547886/88235269-5b914e00-cc2f-11ea-9294-1732fd8b28bb.png)

[2020-07-23 12:15] rraue commented on #9206
Mentioning @chrismore here as well, so he is aware

[2020-07-23 13:55] alexgibson commented on #9147
I think fixing this should be as straightforward as removing this line: https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/templates/firefox/messaging-experiment/control.html#L8

Marking as a good-first bug.

[2020-07-23 14:23] alexgibson commented on #9135
This looks like it was done, closing

[2020-07-23 14:23] #9135 closed

[2020-07-23 15:49] #8686 closed

[2020-07-24 03:33] ejregithub commented on #9011
@cgonz0 - sketch file is [here](https://drive.google.com/file/d/1haw53kDcB0mu7cn-jAf9ZHsRt3k9lfVy/view?usp=sharing)

[2020-07-24 07:52] alexgibson commented on #9102
I'm going to make a start on the logic for this whilst final designs are being ironed out

[2020-07-24 13:11] alexgibson commented on #7166
I'm going to tackle this as part of https://github.com/mozilla/bedrock/issues/9102

[2020-07-24 14:24] alexgibson opened #9214 "[7/28] Enable Switch for Firefox Lite /whatsnew page"
## Description

The page is already in prod, but toggled off [behind a switch](https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/views.py#L488).

Dev: https://www-dev.allizom.org/en-US/firefox/79.0/whatsnew/africa/
Prod: https://www.mozilla.org/en-US/firefox/79.0/whatsnew/africa/

This issue to to track flipping the switch on, date is now on 7/28, before EOD Pacific Time

---

#### Su

[2020-07-24 14:26] alexgibson commented on #9214
/cc @ejregithub

[2020-07-24 16:46] hoosteeno opened #9215 "Fenix Launch Support: Make /mobile more accurate BY AUG 18"
## Description

On www.mozilla.org/firefox/mobile, in the extensions section, remove the hyperlink and all text after the word "extensions". See attached mockup.

![Screen Shot 2020-08-05 at 11 50 21 AM](https://user-images.githubusercontent.com/94519/89446577-ee42ea00-d711-11ea-9436-8d33750019b1.png)

---

#### Success Criteria
- [x] Designs are complete and attached.
- [ ] Code is merged and liv

[2020-07-24 16:56] hoosteeno opened #9216 "WNP Brand Refresh: Design"
The Brand Team is refreshing the WNP. This is the design card for that Epic.

Success Criteria:
- [ ] Added more Protocol components
- [ ] Brought it on brand wrt design

Reviews:
- [ ] Channel owner
- [ ] Dev
- [x] Brand

[2020-07-24 16:56] hoosteeno opened #9217 "Epic: Brand Refresh WNP template"
## Description

We want to bring true protocol elements to the WNP and give it a light brand refresh.

initial proposal - https://docs.google.com/presentation/d/1KuaVxK_w5ob5mJXs0DpBKRXb6mgE8Rkd8iN1bm6zPCk/edit#slide=id.g8667d36c34_0_0

---

#### Epic issues

- [x] #9216
- [x] #9218

[2020-07-24 16:59] ejregithub opened #9218 "WNP Brand Refresh: Code"
The Brand Team is refreshing the WNP. This is the code card for that Epic.

- [ ] Page is approved
- [ ] Page is live in prod in TBD WNP version BETWEEN release, not for a specific release at launch

[2020-07-24 17:02] ejregithub opened #9219 "Understand the number of users blocking GA when visiting WMO"
## Description

KR - By 2020-09-30, understand the percentage of www.mozilla.org visitors who are blocking Google Analytics. Make possible segmentation by user agent and locale and/or geography.

Google Analytics (GA) is commonly blocked by security- and privacy-conscious users. A recent study found 13% of users on average visiting a small sample of sites -- including nearly 60% of Firefox users -

[2020-07-24 17:06] hoosteeno opened #9220 "Epic: Global Navigation Review"
## Description

The VPN highlights some UX issues with our current global navigation scheme. We need to review whether present global nav is working for users and serving the business. The output of this work should be a recommendation for changing the global navigation that makes the VPN easily discoverable on all pages of the site.

---

#### Success Criteria
- [x] Recommendation/specs/design de

[2020-07-24 17:16] ejregithub commented on #9013
On 7-22 Lisa W indicate more updates to the page will be requested as part of a plan to launch a new 'moment' with the revised page.

[2020-07-24 17:25] ejregithub opened #9221 "WNP 80 - l10n coordination"
## Description

The WNP for Firefox 80 release on 2020-08-25, promoting content as part of the Sept campaign.

This card is for the creation, review and approval of the copy to be used in the page.

[Principal project doc ](https://docs.google.com/document/d/1_pWp3lZJe3qFf5bCgsg_Lck6LaoB3RiFm1kRiPyz2As/edit)

[Copy - EN](https://docs.google.com/document/d/1exGfO9t3fSwK5G3lQj-ImQJFWY6qshazs7UF9FihJ

[2020-07-24 19:19] SeburoSUMO opened #9222 "Update to https://www.mozilla.org/en-US/book/"
In these times of great challenge, the Beast has communicated further teachings to the writers of the book and after great deliberation and toil, these teachings have been published and are now visible in the latest Nightly build of Firefox.  Those worthy of understanding such teachings can access them with an incantation of _about:mozilla_.

For the message to reach as many of its followers as po

[2020-07-24 19:27] craigcook commented on #9222
Through study and ritual the Message has been revealed. The task before us is clear.

The new passage is:

[code]

[2020-07-24 20:06] hoosteeno commented on #8444
[RRA bug filed.](https://bugzilla.mozilla.org/show_bug.cgi?id=1655162)

[2020-07-24 20:08] hoosteeno commented on #8454
Just following up to say I agree with the recommended changes. Thank you.

[2020-07-24 20:21] hoosteeno opened #9224 "Epic: Design & build evergreen download user flow"
## Description

In https://github.com/mozilla/bedrock/issues/8372, Alex highlights the debt we incur with every overhaul of the download page: It is likely that some locales will not localize the new page ever, and other locales will not localize it for a year or more.

In locales where the new content is not localized, we have to serve something. Firefox is downloadable in those locales; they nee

[2020-07-24 22:34] #9222 closed

[2020-07-25 18:46] s-ankur opened #9225 "wrong fenix nightly link in docs"
## Description
Steps to reproduce
Go to
https://www.mozilla.org/en-US/firefox/channel/android/?utm_source=support.mozilla.org&utm_campaign=footer&utm_medium=referral#nightly
Click on the nightly icon

### Expected result

It should open the current nightly

### Actual result

It opens "no item" in play store

### Environment

What browser and operating system are you using?
Android, Fenix Nightly

[2020-07-26 04:14] berliners1 commented on #9177
I just submitted a pull request for a potential fix to this issue, also accounting for the red Error notification that can occur there.

[2020-07-27 16:28] ejregithub opened #9228 "WNP - a/b test - mid release cycle"
a/b test, current to new design on the WNP to ensure we aren't breaking anything before making the new design the default

[2020-07-27 16:36] nileshdas commented on #9147
Can I work on this issue? @alexgibson

[2020-07-27 16:40] ejregithub commented on #9220
Justins to check in this week

[2020-07-27 21:55] mdieske commented on #9147
I would also like to work on this issue. I'm new to Github and this would be my first bug. Looks like a good one to get my feet wet. 😉

[2020-07-28 00:41] ejregithub commented on #9214
@craigcook - could you please handle this one tomorrow (7/28)?

[2020-07-28 16:19] valgrimm opened #9231 ""Technology" link in Blog nav leads to unmaintained site"
## Description
The "Technology" link in the navigation of the Mozilla Blog leads to an unmaintained site.

### Steps to reproduce
![techlink-unmaintained](https://user-images.githubusercontent.com/56933147/88692520-73b90f80-d0fe-11ea-9c15-5b66df1a01db.PNG)

### Expected result
Link should lead to a maintained site.

### Actual result
Link leads to an unmaintained site

### Environment
Link does no

[2020-07-28 19:20] mdieske commented on #8293
Hi @alexgibson,
I would like to work on this issue if there is still help needed. I'm a Github newbie and this seems to be a good first bug for me.

[2020-07-28 20:10] Errolyn opened #9233 "Create a L10N Dowapper"
## Description

Create a dowapper to place on pages that are still missing either full or partial translations. This could use a banner, it should probably be able to be dismissed. It could have a playful "assistant" in the corner that makes the suggestion.

---

#### Success Criteria
- [ ] Encourages people to contribute to translations -- has a link to help them get started.
- [ ] Tasks should b

[2020-07-28 20:11] #9214 closed

[2020-07-28 20:56] ejregithub opened #9235 "Remove FB Container from /zh-CN/firefox/welcome/8/"
## Description

https://www.mozilla.org/zh-CN/firefox/welcome/8/ contains the section on FB container, which is not available (FB is not) in China. We need to remove that section in the page.

---

#### Success Criteria
- [ ] Section is removed from zh-CN page as soon as possible.

#### Approvals
- [ ] Team Lead

[2020-07-28 21:13] ejregithub commented on #8923
Noting that we are unblocked and using the image above from the homepage.

[2020-07-28 22:17] hoosteeno opened #9237 "Protection Report CTA is unmeasurable"
In https://github.com/mozilla/bedrock/blob/f771dc08768835577e7873a89e193e4158f2bcfb/media/js/firefox/whatsnew/whatsnew-79.js#L20 and in https://github.com/mozilla/bedrock/blob/7931f4e3c06568afc8c96bc8716c77c5ecd7fab7/media/js/firefox/privacy/products.js#L14 and in https://github.com/mozilla/bedrock/blob/f95c4ed85781d85e679c5216b7455a970e62424e/media/js/firefox/new/desktop/download.js#L188 we open

[2020-07-28 22:19] ericawright opened #9238 "Links to about:protections are miscounting clicks."
We believe that clicks to the protection report are not being counted properly due to the user being redircted to the report quicker than the data can be added to GA.

All links to about:protections use this code or similar:
[code]
We should ensure that the `window.dataLayer.push` is actually being executed by moving it before the call to open and navigate to the protections report.

[2020-07-28 22:22] craigcook commented on #9237
There are a few other pages in the same situation and we can fix them all at once, but welcome 8 will go first for urgency. I can put a PR together for all the others.

[2020-07-28 22:22] ericawright commented on #9238
closing, as dupe of https://github.com/mozilla/bedrock/issues/9237

[2020-07-28 22:22] #9238 closed

[2020-07-28 22:23] #8923 closed

[2020-07-28 22:24] #9235 closed

[2020-07-28 23:24] litkaemily opened #9240 "Push Private Relay ToS to https://www.mozilla.org/about/legal/terms/firefox-relay/"
cc: @mafeld

Hi @pmac and @alexgibson,

I'm writing to see if you could push the Firefox Relay Terms of Service to the following url: **https://www.mozilla.org/about/legal/terms/firefox-relay/**

The ToS are here: **https://github.com/mozilla/legal-docs/blob/master/firefox_relay_ToS/en-US.md**

As soon as possible would be good, but August 24th at the latest. @groovecoder let me know if I've got t

[2020-07-29 18:00] stephaniehobson opened #9242 "Remove switch for /new redesign"
Once the redesign has been in production for a week and we can stop worrying there's a major problem with it we should remove the switch.

- [ ] Update DownloadThanksView view
- [ ] Update NewView view
- [ ] Update view tests in TestFirefoxNew

[2020-07-29 23:54] #9019 closed

[2020-07-30 17:08] ejregithub opened #9244 "[8-4] Update the leadership page"
## Description

We need to add a small bit of copy to the leadership page in the morning of Tuesday, August 4th. This copy is shared in email. The press embargo is in place til 7 am - we can go live before then and there's not great impetus to go live immediately after that - just sometime in the morning, ideally before 10 am PT

---

#### Success Criteria
- [ ] New copy is live on the leadership

[2020-07-30 17:09] ejregithub commented on #9244
@craigcook @Errolyn _ i'm forwarding you the email with the copy, if one of you could please code and the other review

[2020-07-30 19:53] craigcook opened #9245 "Promote Firefox mobile to signed-in users on the fallback WNP"
## Description

The new fallback whatsnew page created in https://github.com/mozilla/bedrock/issues/8126 promotes a Firefox Account, but shows the same CTA even to users who are signed in. We'll add a second conditional state showing the send-to-device widget to users who are already signed into Firefox.

---

#### Success Criteria
- [ ] The page is updated
- [ ] Signed out users get the account C

[2020-07-30 20:44] amychurchwell opened #9247 "Remove whatsnew 78 experiment code"
## Description

Now that the experiment has ended, we should remove the experiment-specific code that landed in #9033

[2020-07-31 04:28] vinay-deshmukh commented on #8381
I'd like to solve this issue.

Are there any particular webpages which use these libraries, so I can observe the changes I am making? (on a local server i.e. through `npm start`)

[2020-07-31 13:54] justinkropp commented on #9137
There's been a shift in the design of the `/thanks` page this week. The install instructions section is being dropped due to the complex nature of maintaining its accuracy across platforms. Instead, the `/thanks` page will simply show copy along the lines of "Thanks for downloading, now install".

This shift in design makes our treatment of these conditional messages much easier. The updated desig

[2020-07-31 16:39] stephaniehobson opened #9251 "Older versions of translated pages not linked to newer ones"
The /new page was recently redesigned. That means there are now three versions of this page. V1 has been migrated to fluent and has wide translation support. V2 remains in lang files. V3 is our shiny new one.

The language selector in the footer of the English page only includes the locales which have translated V3 and it should be possible to access all translations from the drop down.

[2020-07-31 16:49] duallain opened #9252 "Download test failures are hard to read"
## Description

When a test fails, the current error message doesn't provide additional information.

Example of current error:
[code]

### Steps to reproduce

1. Have a test from the `tests/functional/test_download.py` suite fail. (Probably fairly easy to introduce, add a bad url to test suite)
1. See that the error message is a little ambiguous

### Expected result

The link to the url that fail

[2020-07-31 16:50] duallain commented on #9252
@pmac Adding a bug to track, but no rush.  Could use your help to make sure this bug report makes sense.

[2020-07-31 17:47] amychurchwell opened #9253 "Update /new exp template with new redesign."
## Description

Now that the firefox/new redesign landed in #9202 we should update the corresponding exp template to match.

[2020-07-31 22:04] chriswryly opened #9254 "Set up 301 redirect from /grants to /moss"
## Description

DO:  Set up 301 redirect for /grants and all pages under /grants - https://www.mozilla.org/grants/*  - to https://www.mozilla.org/moss

---

Original report:

The URL (which I've been told is in bedrock) https://www.mozilla.org/en-US/grants/ delivers a vastly out of date web page, including contact information for Rowe Hoffer. While it doesn't appear to be linked anywhere, it's ind

[2020-08-01 17:15] vinay-deshmukh commented on #7673
@alexgibson I have submitted a PR for this issue.

[2020-08-02 13:06] alexgibson opened #9256 "Not possible to download Firefox with Firefox via /new"
## Description

Report via Reddit: https://www.reddit.com/r/firefox/comments/i2blem/why_am_i_not_able_to_download_firefox_with_firefox/

### Steps to reproduce

1. Using Firefox (not signed into an account), visit https://www.mozilla.org/en-US/firefox/new/
2. Click the "Download Firefox" button.
3. In the modal that appears, click "Just Download The browser".

### Expected result

The user should

[2020-08-02 14:38] #9256 closed

[2020-08-02 16:31] craigcook opened #9258 "Add tests for the download modal in Firefox on /new"
## Description

When using the current release version of Firefox, clicking a download button on the redesigned /new page opens a modal telling you you're already on the latest Firefox and suggesting creating an account, with another option to continue to download. We should add automated tests for this condition.

In the current release version of Firefox:
- [x] Clicking a main download button op

[2020-08-03 03:35] peiying2 commented on #8372
@alexgibson Please go ahead and switch to the new template whenever you are ready.

[2020-08-03 08:17] #9237 closed

[2020-08-03 08:29] alexgibson opened #9259 "Evaluate Convert integration in bedrock"
## Description

Now that we've been using [Convert](https://www.convert.com/) to facilitate experiments for the best part of a year, it's probably a good time to evaluate how we have it set up in bedrock, and to see if there's anything we could change to help improve / simplify the workflow the CRO team are using.

Some possible questions to discuss:

- Are there any aspects of Convert that aren't

[2020-08-03 08:29] alexgibson commented on #9259
/cc @hoosteeno @amychurchwell

[2020-08-03 08:31] #8868 closed

[2020-08-03 08:59] alexgibson commented on #9137
These treatments look good to me, thanks @justinkropp

One small note here is that in this scenario the download would still initiate automatically, so the user wouldn't need to click the button twice (once on /new and once on /thanks).

[2020-08-03 09:02] alexgibson commented on #8372
@peiying2 does this mean some of the communities listed in the delta above are going to, or have caught up?

[2020-08-03 11:28] rraue commented on #9251
Additional issue is, that hreflang is as well only included for the locales in the language switcher, so its down to a few right now. That will confuse our language search setup a bit and might lead to wrong locales ranking in not yet translated pages.

[2020-08-03 13:22] pmac commented on #9251
The list of languages comes from the activation of the first Fluent file in the list. So you could just put the other template's fluent file first in the list and it will use the old languages list. That should work fine unless there are locales for the new page that aren't there for the old one.

[2020-08-03 13:26] alexgibson commented on #9251
I can see situations where a locale translates the newer template instead of doing the older one. Also, how does this play into situations where one older template is using .lang?

[2020-08-03 13:27] pmac commented on #9251
I'll have to look more into it. I remember discussing these issues, but it's been a while.

[2020-08-03 14:03] alexgibson commented on #9137
I think the design direction is close enough here that we can close this issue. Once this moves into code we can iterate on the finer details and messaging.

[2020-08-03 14:03] #9137 closed

[2020-08-03 14:11] justinkropp commented on #9137
Thanks for the clarification on the screen showing the download button. Once you get to a stopping point in code, I'd like to take a final look before launch.

[2020-08-03 15:34] alexgibson commented on #9102
@justinkropp WIP screnshots below. Happy to chat in person if it helps about anytihng below, please let me know.

Unknown system
-----------------

![unknown-system.png](https://images.zenhubusercontent.com/5c927d6baa8dca0a81399557/ada372ce-7316-4b32-bc84-f857d08808da)

Windows XP / Vista
--------------------

![xp-vista.png](https://images.zenhubusercontent.com/5c927d6baa8dca0a81399557/bc870c5f-b

[2020-08-03 16:02] peiying2 commented on #8372
`ca`, `ja`, `ko`, `th` were added to the activated list since sending out an email remainder, bringing the total to 54 locales. In comparison:
- `firefox/new/trailhead.lang` has 47 activated locales with 44 completed updates.
- `firefox/new/quantum.lang` has 71 activated locales with 51 completed updates.

[2020-08-03 16:04] ejregithub commented on #8800
Blocked on consensus for sizing, etc. - @craigcook to unblock

[2020-08-03 16:07] ejregithub commented on #9011
Blocked again on assets to update localized images

[2020-08-03 16:14] ejregithub commented on #9216
Eric to book review meeting on Thursday w. Craig

[2020-08-03 16:16] alexgibson commented on #8372
Ok, thanks you!

@hoosteeno I'm going to pick this one up, as eliminating the oldest template will make https://github.com/mozilla/bedrock/issues/9102 more straight forward.

[2020-08-03 16:18] hoosteeno commented on #7258
I think this looks good, and I might suggest one more change while we are modifying this part of the nav.

In https://github.com/mozilla/bedrock/issues/9231, the requester says labs.mozilla.org is unmaintained, and suggests redirecting traffic to https://mozilla.dev/.

@slightlyoffbeat do you think we should replace the labs CTA in the Projects dropdown with a link to mozilla.dev?

@alexgibson do

[2020-08-03 16:19] alexgibson commented on #7258
Happy to bundle here if it makes sense to do so

[2020-08-03 16:36] pmac commented on #9251
After looking at it some more I think the best course is to port the existing page to Fluent before doing a redesign. We'll have to figure out a way to indicate multiple Fluent files to combine for the full active locales list, but that will be considerably easier and less cumbersome than indicating which old template the old page uses during rendering. It's possible we could solve it, but I think

[2020-08-03 16:40] alexgibson commented on #9251
I'm about to decommission the old .lang template in https://github.com/mozilla/bedrock/issues/8372, which will move us back to 2 versions (both in Fluent).

[2020-08-03 17:04] hoosteeno opened #9260 "S2D widget: Replace modal with inline form"
## Description

In https://github.com/mozilla/bedrock/pull/8901 we ran an experiment that tested the S2D widget vs. an inline form. The inline form performed 69% better than the modal. We should replace the modal with a form on /mobile and we should explore replacing it in other S2D widget locations.

![image](https://user-images.githubusercontent.com/94519/89207401-e64f4280-d577-11ea-8148-5f914af

[2020-08-03 17:05] hoosteeno commented on #9260
@cgonz0 Can you review the proposal above, produce a mockup of your suggested layout (including any tweaks to suggested copy), and attach? If you don't have any suggested changes, can you just give the above a glance and nod? Thanks!

[2020-08-03 17:16] alexgibson commented on #9260
This is blocked by https://github.com/mozilla/bedrock/issues/9161 as it introduces new copy

[2020-08-03 17:16] amychurchwell commented on #9259
@alexgibson off the cuff thoughts:

I'm doing the work this week to update the /new exp template to reflect the redesign. I wonder if there can be a relationship with `{% block content %}` between exp templates and their counterparts? Currently, it relies on someone being aware of changes that have happened on the corresponding pages and making the manual update.

Exp being true reflections of wha

[2020-08-03 17:27] alexgibson commented on #9259
That's something we could potentially do yeah - the only real downside is folks on both teams need to communicate carefully when making changes to prod pages, else it could interfere with CRO team experiments. And running experiments could delay rolling out changes to prod pages.

[2020-08-03 17:35] ejregithub opened #9261 "[8-6-2020] Fix utm params in CTA on /welcome/7/"
## Description

Correct these utm params, adding the 'e' to welcom in the Hero and bringing them to uniform structure

Hero CTA -
https://addons.mozilla.org/firefox/addon/facebook-container/?src=external-www.mozilla.org-welcom-7&utm_source=mozilla.org-firefox-welcome-7&utm_medium=referral&utm_campaign=welcome-7-fbcontainer

Primary subsection CTA -
https://addons.mozilla.org/firefox/addon/facebook

[2020-08-03 18:12] skrelnick23 commented on #9011
Could @Ryan Gaddis <rgaddis@mozilla.com> or @Matthew Noorenberghe
<MattN@mozilla.com> help out here? Please and thank you.

On Mon, Aug 3, 2020 at 9:07 AM Eric Renaud <notifications@github.com> wrote:

[2020-08-03 19:18] amychurchwell commented on #9064
Closing because this page was redesigned in #9202

[2020-08-03 19:18] #9064 closed

[2020-08-03 19:25] amychurchwell commented on #9247
howdy @Errolyn - it looks like you made the original PR for this experiment. Wanted to draw your attention to this issue since that experiment has concluded.

[2020-08-03 20:26] mdieske commented on #8354
Hi @stephaniehobson,
I would like to work on this issue.
Just to make sure we talk about the same section of the website: It's the one with the heading "Things you should know", isn't it?

[2020-08-03 21:45] Errolyn commented on #8468
This is blocked until assets are added to protocol.

[2020-08-03 21:49] #9184 closed

[2020-08-03 21:57] #9128 closed

[2020-08-03 23:16] #9161 closed

[2020-08-03 23:44] Errolyn commented on #9247
Thanks! I should have some time this week to remove it.

[2020-08-04 09:51] alexgibson opened #9266 "Platform and Yandex download pages are out of date"
## Description

The following download pages are now on an outdated design:

- https://www.mozilla.org/ru/firefox/new/
- https://www.mozilla.org/en-US/firefox/windows/
- https://www.mozilla.org/en-US/firefox/mac/
- https://www.mozilla.org/en-US/firefox/linux/

I'm not entirely sure what the best course of action is for these pages, as we repeat updating them every 6 months or so after the main dow

[2020-08-04 09:51] alexgibson commented on #9266
@hoosteeno any thoughts here - is this something we could perhaps work into https://github.com/mozilla/bedrock/issues/9224 ?

[2020-08-04 10:40] alexgibson commented on #7258
@hoosteeno thinking about this further, https://mozilla.dev/ might make more sense under Developers? With that in mind, It might be better to handle labs being obsolete in a separate issue, as it might imply more changes that are beyond the original scope here.

Perhaps we should consider "Mozilla Mixed Reality" (option 2) for the thumbnail under projects, as suggested in https://bugzilla.mozilla.

[2020-08-04 12:47] #9251 closed

[2020-08-04 17:01] #9244 closed

[2020-08-04 17:07] #9261 closed

[2020-08-04 18:04] ejregithub opened #9270 "Blurry Firefox Nightly logo on Nightly first run page"
## Description

[1640082](https://bugzilla.mozilla.org/show_bug.cgi?id=1640082) |  Blurry Firefox Nightly logo on Nightly first run page

Details are in the bug . . .

#### Success Criteria
- [ ] Image is shown w. high-res image to all screens - high-res it's 256x256

[2020-08-04 18:14] ejregithub opened #9271 "Explore options for featuring previous Nightly builds on www.mozilla.org"
## Description

Originally reported in - https://bugzilla.mozilla.org/show_bug.cgi?id=1614106

A link to get previous Nightly releases on https://www.mozilla.org/en-US/firefox/channel/desktop/#nightly would be nice. The use case for this is for people who are trying to do a rough bisection for a regression and need old nightlies, but don't know that they need to go dig around in ftp.mozilla.org to

[2020-08-04 18:36] ejregithub commented on #8635
This appears to have been corrected. @Errolyn just tested with their Win64 bit build machine and found that the proper, expected Win64 bit build was provided.

[2020-08-04 19:25] alexgibson commented on #8635
As far as I know this was never fixed on the bedrock side, so I’m very curious as to how the 64bit build is being provided?

[2020-08-04 20:06] ejregithub commented on #9254
@chriswryly - we'll set up a 301 (permanent) redirect from /grants to /moss

[2020-08-04 20:14] chriswryly commented on #9254
Terrific, thanks!

On Tue, Aug 4, 2020 at 1:06 PM Eric Renaud <notifications@github.com> wrote:

[2020-08-04 20:26] justinkropp commented on #9224
I'm proposing two solutions to this problem: one which is a significantly truncated version of the `/new` page, and second is a more significant reduction in page content.

----

### Option One: Diet `/new`

<img width="2164" alt="Evergreen with content" src="https://user-images.githubusercontent.com/1461798/89340446-c306bf00-d66d-11ea-869a-da74b9506c14.png">

This option would reduce the content

[2020-08-04 21:11] pmac commented on #9252
That failure isn't actually a test failure, it's a failure during test collection. It means that the collected set of URLs to test didn't work properly for some reason. I think each of the processes collects all of the URLs to test by scraping the test pages. If one of the requests to the test pages fails then it all fails. If a download test fails it should be much more descriptive. We could test

[2020-08-04 21:59] amychurchwell commented on #9253
Fixed in #9263

[2020-08-04 21:59] #9253 closed

[2020-08-05 00:05] ejregithub commented on #8635
And blah . . . this remains, obviously. Thank you for confirming @alexgibson.  I tested on my wife's Win64 bit and was provided the 32bit version of Firefox.

[2020-08-05 09:07] alexgibson opened #9272 "SUMO help link on /download/thanks/ goes to the wrong destination"
## Description

The "Get help with your installation." link shown to macOS users on /download/thanks/ goes to AMO instead of SUMO.

### Steps to reproduce

1. On macOS, visit: https://www.mozilla.org/en-US/firefox/download/thanks/
2. Click the "Having trouble? Get help with your installation." link.

### Expected result

I should be taken to a SUMO article explaining how to install Firefox

### Ac

[2020-08-05 09:43] alexgibson commented on #7258
@hoosteeno I updated the thumbnail to "Mozilla Mixed Reality": https://www-demo3.allizom.org/en-US/

Please let me know if this is good to move forward with, thanks

[2020-08-05 11:47] hoosteeno commented on #7258
It sounds good. Thanks.

[2020-08-05 13:57] chrismore commented on #9220
@hoosteeno let me know when you have a proposal you want to discuss further. Thanks!

[2020-08-05 15:16] alexgibson commented on #9259
My initial thought here is that building a dashboard system, together with things like automation and authentication, seems like potentially a lot of work for making what often amounts to a very small code change. If you had a different idea as to how this could materialize, I'd be interested to talk more about it though.

[2020-08-05 15:31] #8293 closed

[2020-08-05 15:48] #9272 closed

[2020-08-05 16:14] #8385 closed

[2020-08-05 19:53] hoosteeno opened #9278 "New download page: Android copy overlaps screenshot"
## Description

On Android screens, the screenshot image overlaps the copy at every width >=480.

### Steps to reproduce

Open www.mozilla.org/firefox/new/ on an Android UA.

### Expected result

Copy flows around images.

### Actual result

![image](https://user-images.githubusercontent.com/94519/89457619-e2abef00-d722-11ea-8e76-c9addd542621.png)

![image](https://user-images.githubusercontent.co

[2020-08-05 20:54] hoosteeno opened #9280 "L10n Solicitation: Commit the string"
We should get a string with a CTA that would be adequate for soliciting L10n volunteers. When we have that string, we can commit it to our repository and see if it gets localized.

## Success
- [ ] String approved by websites copy team
- [ ] CTA destination approved by l10n driver
- [ ] String committed to repo

[2020-08-05 21:53] hoosteeno commented on #9206
We are working on a longer-term navigation refactor that clarifies the relationship between our products and brands. Meanwhile, let's put a big, bright link to VPN in both global navigations.

In the Firefox nav, replace the "Connected and Protected" promo under the Products nav item:
![Screen Shot 2020-08-05 at 3 47 32 PM](https://user-images.githubusercontent.com/94519/89467550-04ad6d80-d733-11e

[2020-08-05 21:56] hoosteeno commented on #9206
@chrismore Please review the above as a stop-gap until we have the bigger nav overhaul done. Look OK?

[2020-08-05 22:27] #9278 closed

[2020-08-05 23:00] chrismore commented on #9206
@hoosteeno works for me! Just let me know what the UTM parameters are going to be, which will likely be fine as you all do a great job with the nomenclature.

[2020-08-05 23:06] hoosteeno commented on #9206
I updated the issue description with these specs.

[2020-08-05 23:22] ejregithub commented on #9206
@rantley - can you please take a look at the screenshots in https://github.com/mozilla/bedrock/issues/9206#issuecomment-669534973 and provide some copy/copy options appropriate for Mozilla VPN in that available space?

@cgonz0 - can you please take a look at the screenshots in https://github.com/mozilla/bedrock/issues/9206#issuecomment-669534973 an image/image options for promoting Mozilla VPN?

[2020-08-06 14:19] pmac commented on #5818
Fixed in #9213

[2020-08-06 14:19] #5818 closed

[2020-08-06 14:20] pmac commented on #5721
We've gone another way with this. Closing.

[2020-08-06 14:20] #5721 closed

[2020-08-06 16:15] hoosteeno commented on #9224
Really great work, @justinkropp . Thanks.

The options force us to choose between the following benefits:

a) Minimize technical/localization debt incurred by changes to marketing content
vs.
b) Maximize SEO value of evergreen page

Do you agree?

[2020-08-06 16:21] justinkropp commented on #9224
Yes, the proposed solution represent these two options. 👍

[2020-08-06 16:54] hoosteeno opened #9286 "Design singular navigation"
We will collapse our two navigation systems into a single global navigation and footer under the Mozilla brand. This card is about the design work required to specify that navigation.

Here are some principles that I hope we can deliver in a new navigation design:

1. It helps visitors (users & search robots) know where they are, discover what to do next, and move easily to the most important cont

[2020-08-06 17:18] brainwane commented on #5967
Hi! please [try the beta of the new pip dependency resolver in pip 20.2](https://pip.pypa.io/en/latest/user_guide/#changes-to-the-pip-dependency-resolver-in-20-2-2020) and see whether that helps?

[2020-08-06 17:25] rraue commented on #9224
Of course for SEO reasons the diet option would be better, but top three features will change over time and are in every locale a bit different, as Firefox is used different all over the globe.

The second option might have been the winner in a cro experiment, but wouldn't in that stage be optimal for SEO, even tho, it would most likely preserve 80% of traffic.

I propose a third option combining

[2020-08-06 17:29] hoosteeno commented on #9224
@rraue That's an intriguing suggestion. Question: If a page with the features section was live in a locale, but the features section itself was not localized, would that have any negative SEO impacts? I am wondering if we could make this serve our immediate need if the top section was localized, but the bottom section was sometimes not localized.

[2020-08-06 17:53] amychurchwell commented on #9260
Looks like the fluent migration has been merged, so this work can be triaged.

[2020-08-06 18:16] pmac commented on #5967
This issue is very old. I don't believe this is an issue any longer. Closing. Thanks all.

[2020-08-06 18:16] #5967 closed

[2020-08-06 19:48] ejregithub opened #9288 "WNP 80 - String extraction"
## Description

The WNP for Firefox 80 release on 2020-08-25, promoting content as part of the Sept campaign.

This card is for the extraction of the EN copy strings to Pontoon for localization by the community.

[Principal project doc ](https://docs.google.com/document/d/1_pWp3lZJe3qFf5bCgsg_Lck6LaoB3RiFm1kRiPyz2As/edit)

[Copy - EN - FINAL](https://docs.google.com/document/d/1exGfO9t3fSwK5G3lQj-

[2020-08-06 20:14] amychurchwell opened #9289 "App store buttons missing on firefox/mobile for mobile users."
## Description

For iOS and android users the app store buttons on firefox/mobile are missing from the hero section.

[2020-08-06 20:28] hoosteeno opened #9290 "Get new TrafficCop into Bedrock"
## Description

TrafficCop has an important bug fix (the ability to distribute fractionally) but hasn't been pulled into Bedrock since that capability was merged. We should bring the latest version in.

---

#### Success Criteria
- [ ] Latest TrafficCop is included in Bedrock

[2020-08-06 21:07] hoosteeno commented on #8444
@bensternthal  suggests we might want to use papertrail instead of sentry, which we also already use. He invited questions/conversation on this.

https://www.papertrail.com/

[2020-08-06 21:17] ejregithub commented on #9254
@chriswryly - there's a substantial subset of pages (those describing past grantees - https://www.mozilla.org/en-US/grants/w3c-validator.html).

I just want to confirm that we have carte blanche to redirect all pages under /grants, https://www.mozilla.org/en-US/grants/* to /moss

[2020-08-06 21:21] chriswryly commented on #9254
Hi Eric,

Can we save the raw HTML offline somewhere? I do want to redirect every
page, but I think it'd be worthwhile to have an archive in case there are
later questions, even though this is all at least 8 years old.

Thanks!

On Thu, Aug 6, 2020 at 2:17 PM Eric Renaud <notifications@github.com> wrote:

[2020-08-06 21:29] pmac commented on #8444
I've never looked into what else papertrail can do I guess, but we use it for our logs, not errors. I don't understand how logging can help us here.

[2020-08-06 23:07] ejregithub commented on #9254
@chriswryly - it will remain in github history - https://github.com/mozilla/bedrock/commits/master/bedrock/grants

[2020-08-06 23:08] chriswryly commented on #9254
Perfect, thanks!

On Thu, Aug 6, 2020 at 4:07 PM Eric Renaud <notifications@github.com> wrote:

[2020-08-06 23:25] chrismore commented on #9206
Thanks everyone! What's the estimated time on when this could be available on the website?

[2020-08-06 23:49] ejregithub commented on #9206
@chrismore @hoosteeno - I think by this time next Thursday is probably reasonable.

@rantley - I started a [copy doc](https://docs.google.com/document/d/1lRSbYy-kjQL3eXjoaS7Ctn1eBrOpNO9znC8_7-r_7DI/edit) that blatantly pilfers copy from https://vpn.mozilla.org/ and from the (brand) [copy options you wrote](https://docs.google.com/document/d/1zdAV6bvMaGkJnJQyoOyKlGnZw4XkspHdg-qkb3GtSso/edit) for th

[2020-08-06 23:58] #9289 closed

[2020-08-07 14:15] rraue commented on #9224
A lot here depends. Just having the minimal one is better than nothing. Minmal plus all features in the localized language is the optimum for not having the whole /new translated.

So our priority should be:
1. /new completely translated
2. Minimal with the feature list translated
3. Minimal with at least three features in the list translated (we should check regularly if some more are translated

[2020-08-07 15:26] ejregithub commented on #9224
How much copy are we talking about here such that the cost for localization (of evergreen content, not ephemeral, so the cost really could be viewed as an investment given it is the download page) might be deemed prohibitive?

I think if we have a word count, ball park, then we could run some projections based on those and the number of locales that are consistent vs. not in keeping up with l10n o

[2020-08-07 16:31] ejregithub commented on #9224
The first proposed version is most similar to the last version of the page, as seen here - https://www.mozilla.org/es-ES/firefox/new/ .  This has but 107 words in it.  Let's say we bump that to 250 just to be safe.

That version of the page currently has 54 locales at a high enough % to be activated.  If we assume that will be that max done by the community going forward, that's 54 out of the 101

[2020-08-07 16:48] hoosteeno commented on #9224
If we can achieve our present list of locales on an evergreen template, then this change still represents a net win. We can separately address the question of whether (and how) to invest in all the rest of the locales. I suggest we go with the features section, and hide it unless completely localized, and watch these 2 things for a month before deciding what to do next:

1) Are we moving toward eq

[2020-08-07 17:42] cgonz0 commented on #9206
would recommend using this image (one of mozilla vpn's initiatives is to drive more mobile downloads so it could be a good idea to showcase mobile here)
![VPN-nav_mock](https://user-images.githubusercontent.com/29640968/89672584-bf578000-d899-11ea-9ab5-1e947538f389.png)

**assets**
high res
![VPN-nav_high-res](https://user-images.githubusercontent.com/29640968/89672921-54f30f80-d89a-11ea-8414-306c

[2020-08-07 19:03] cgonz0 commented on #9156
[wnp80_assets.zip](https://app.zenhub.com/files/1616665/d7fb8b76-57dd-4013-85dd-b7bbb8509177/download)

----
![wnp80.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/830a5fc3-c832-431f-8157-66419d12b225)

[2020-08-07 19:09] cgonz0 commented on #9216
[wnp_template_mocks.zip](https://app.zenhub.com/files/1616665/6122ad78-4e68-4d14-a232-cd8ffbca268c/download)

[google doc](https://docs.google.com/presentation/d/1KuaVxK_w5ob5mJXs0DpBKRXb6mgE8Rkd8iN1bm6zPCk/edit#slide=id.g8667d36c34_0_0)

overview
![wnp_template_overview.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/cf2b1402-27d7-4309-b917-ae0701b8600a)

[2020-08-09 10:11] nileshdas commented on #9225
Taking up this issue

[2020-08-10 07:35] #8372 closed

[2020-08-10 07:37] #9172 closed

[2020-08-10 07:38] alexgibson commented on #9290
There’s already an issue and pull request for this. Closing as a duplicate of https://github.com/mozilla/bedrock/issues/9209

[2020-08-10 07:38] #9290 closed

[2020-08-10 07:39] #7258 closed

[2020-08-10 08:06] alexgibson commented on #8444
I think there's also value in having a unified interface (and reporting mechanism) for both front and back-end errors. Sentry is something the devs are familiar with (for example discovering template related errors), so also using it for JS seems like one less place to check / system to learn.

[2020-08-10 08:32] alexgibson commented on #9224
My 2 pence to throw in here:

- If these pages are truly to act like an evergreen page, they should be low maintenance in terms of copy requirements that needs to change over time. A list of core features might be perfectly well suited, but a long and evolving list of features can become an L10n burden - something we should pay close attention to if these pages are "never" to retire. It could evol

[2020-08-10 08:53] alexgibson commented on #9240
Thanks, will let you know as soon as this is in production.

[2020-08-10 10:36] alexgibson commented on #9286
We should consider the footer here also as the content is complimentary to the navigation.

[2020-08-10 12:15] alexgibson commented on #9206
Is this ready for coding, or is the copy here still being worked on?

[2020-08-10 12:15] #9215 closed

[2020-08-10 12:27] alexgibson commented on #9102
Codewise I think this is nearly ready for review / testing.

The one thing we're missing is some final copy for the "Attention! Something Happened" message, which we felt could do with some better wordsmithing.

[2020-08-10 12:52] alexgibson opened #9295 "Layout on /new is broken on older iOS devices"
## Description

Not sure if this is something we should spend time on or not, but filing for the sake of it just in case.

The layout on /new looks broken on older iOS devices (screenshot below is an iPhone 6 running iOS 8)

<img width="837" alt="image" src="https://user-images.githubusercontent.com/400117/89784227-38f8a380-db10-11ea-9d41-575de8c65fef.png">

Same for the iPad:

<img width="760" al

[2020-08-10 13:24] alexgibson commented on #9147
fixed: https://www.mozilla.org/en-US/firefox/mobile-promo/

[2020-08-10 13:24] #9147 closed

[2020-08-10 13:26] alexgibson commented on #8482
Closing this in favour of the solution being landed on in https://github.com/mozilla/bedrock/issues/9219

[2020-08-10 13:26] #8482 closed

[2020-08-10 14:42] #9240 closed

[2020-08-10 15:58] nileshdas opened #9297 "Links on the exp/firefox are broken"
## Description
The app.adjust links for downloading Android and ios app are not working

Describe the issue that you're seeing.

![firefox](https://user-images.githubusercontent.com/39062229/89802736-7fb9be00-db4f-11ea-9ac2-206aa5c6993c.gif)

### Steps to reproduce
1. Visit https://www.mozilla.org/en-US/exp/firefox/
2. Click on download browser for Android or ios

![firefox](https://user-images.gi

[2020-08-10 16:00] alexgibson opened #9298 "Add Android Play Store badges to /firefox/all/"
## Description

The [firefox/all/](https://www.mozilla.org/en-US/firefox/all/) page is a single destination to download the Firefox for the platform you want. When selecting Firefox for Android, the only download option that's given is for an .apk served via download.mozilla.org. Users may not want this version, and instead prefer to get their install via the Play Store. We should add a badge so t

[2020-08-10 16:00] cgonz0 commented on #9206
@alexgibson copy/image needs to be approved, @hoosteeno

[2020-08-10 16:04] ejregithub commented on #9206
@chrismore - Hoosteeno is going to reach out to you about approvals for the copy and design proposals here.

[2020-08-10 16:04] hoosteeno commented on #9206
I'm good with this -- thanks! I'll ask @chrismore for a final nod on https://github.com/mozilla/bedrock/issues/9206#issuecomment-670631886.

[2020-08-10 16:07] ejregithub commented on #9288
This was done on Friday

[2020-08-10 16:07] #9288 closed

[2020-08-10 16:08] ejregithub commented on #9102
@justinkropp - can you please provide status on the remaining copy here?

[2020-08-10 16:09] rraue commented on #9224
I think I am good with just two states for the evergreen: above the fold and list only when translated.

We just have to make sure then that h1 and description is really functional so we do not lose the main keywords. I will work on a proposal, it might be best if the headline is the title or a truncated version of it and the sentence under it will be the meta description, then its less to transla

[2020-08-10 16:31] ejregithub opened #9299 "Design - Moments 4 page updates"
Update the moments 4 page for Daylight promotion.

#### Success Criteria
- update hero img background colors to reflect current fenix color direction
- include new ios and android devices and screenshots, focused on privacy
- update icon for 3rd bucket
- copy changes

#### Approvals

- [ ] Team Lead - Hoosteeno
- [ ] Lisa W as the original requestor and drafter of the experiment

[2020-08-10 16:33] ejregithub commented on #9012
Reopening with copy updates requested by  Lisa and Michele

[2020-08-10 16:35] chrismore commented on #9206
@hoosteeno @cgonz0 the visuals and placement look good to me, but I want to talk about the copy.

2 questions:

1. The messaging framework we are using for the Mozilla VPN is “A faster, safer, and simpler VPN that protects your privacy from a name you can trust.”. This is the framework that we used for the copy on the VPN website, the owned media channel content, and the upcoming UAC content. The

[2020-08-10 16:39] #9297 closed

[2020-08-10 16:40] alexgibson commented on #9206
From a localization point of view `NEW Mozilla VPN` isn't going to age well, and will likely be around for some locales long after the VPN is no longer considered new.

[2020-08-10 16:43] alexgibson commented on #9298
See also: https://github.com/mozilla/bedrock/issues/8938

[2020-08-10 16:44] chrismore commented on #9206
Yeah, I am fine with not having "NEW". It has been available to purchase (in the US) since Dec 2019 and it won't be new much longer as we roll it out in more countries.

[2020-08-10 17:44] chrismore commented on #9206
Here's some copy I wrote based on the current value props and target audience:

<h2>Mozilla VPN: Fast. Simple. Private.</h2>
<p>Protect your entire device and all applications. Mask your real location and connect up to 5 devices. Subscribe now.</p>

[2020-08-10 17:45] cgonz0 commented on #9206
pinging copywriter @rantley to weigh in here

[2020-08-10 20:09] rantley commented on #9206
@cgonz0 @chrismore the below suggestion from Chris looks great to me.

Mozilla VPN: Fast. Simple. Private.

Protect your entire device and all applications. Mask your real location and connect up to 5 devices. Subscribe now.

[2020-08-10 20:14] chrismore commented on #9206
Thanks, Rob!

@cgonz0 @alexgibson if you could make this copy change, I can r+ the update. Thank you!

[2020-08-10 20:15] litkaemily opened #9300 "Thunderbird privacy notice template update"
Hi,

I'm working on publishing an update to the Thunderbird privacy notice. It hasn't been updated since 2011. Can I request for the template to be updated to be consistent with our other privacy notices?

For reference, here's the Thunderbird notice (https://www.mozilla.org/en-US/privacy/thunderbird/) and here's the Firefox notice (https://www.mozilla.org/en-US/privacy/firefox/).

Thanks,
Emily

[2020-08-10 20:34] cgonz0 commented on #9206
@chrismore here's an updated mock with new copy
![VPN-nav_mock](https://user-images.githubusercontent.com/29640968/89828643-2b421e80-db0e-11ea-82cb-b37aa61cb801.png)

[2020-08-10 20:36] chrismore commented on #9206
r+

Thanks all.

[2020-08-10 21:07] ejregithub commented on #9221
Eric notified Jenn B and Anika that en copy is final, providing them the[ l10n doc](https://docs.google.com/document/d/1D2eDVP1QaMIPuYUIAmFFRFfC1afX8ho9uX4WVnrpqLo/edit), on Friday, 7/2020

[2020-08-10 21:14] ejregithub opened #9302 "[8/27] Banner promo for Fenix release"
Description: The new release, Fenix, for Firefox mobile on Android is currently planned for global availability on the 27th. Promoting that on www.mozilla.org can be achieved by using the banner component on the site and placing that on high trafficked pages.

[Principal Project Doc](https://docs.google.com/document/d/1cmqftlLoUphUD7eGblUyAiapksP6fpy-PFGU-fORAyM/edit)

#### Success Criteria
- [ ]

[2020-08-11 07:44] alexgibson commented on #9240
@litkaemily this is now in production, thank you https://www.mozilla.org/en-US/about/legal/terms/firefox-relay/

[2020-08-11 08:39] alexgibson commented on #9206
@cgonz0 @chrismore I pushed this to a demo with the changes above:

- https://www-demo2.allizom.org/en-US/
- https://www-demo2.allizom.org/en-US/firefox/

The respective UTM params are as follows:

- https://vpn.mozilla.org/?utm_source=www.mozilla.org&utm_medium=referral&utm_campaign=nav&utm_content=firefox
- https://vpn.mozilla.org/?utm_source=www.mozilla.org&utm_medium=referral&utm_campaign=nav&

[2020-08-11 09:32] #9086 closed

[2020-08-11 12:45] chrismore commented on #9206
@alexgibson looks good and I confirmed the UTM parameters. Also, just to confirm that the VPN promo is removed on smaller viewport sizes.

[2020-08-11 12:48] alexgibson commented on #9206
Yes that's correct - and a good callout. This is something that has previously be oriented to desktop user primarily. This is some thing we should reconsider when working on https://github.com/mozilla/bedrock/issues/9286

/cc @hoosteeno

[2020-08-11 14:14] justinkropp commented on #9102
@ejregithub Yes, I need to sync up with @rantley to revise this copy.

[2020-08-11 14:27] rraue commented on #9206
I wanted to mention the same, good for promoting it quickly and getting it into the nav, but most likely as search engines crawl mobile first these days, the link won't count for Pagerank.

[2020-08-11 15:02] justinkropp commented on #9224
Thanks for all the thoughtful discussion on this. Just my 2 pence from a UX perspective: I was looking for a long term solution for this page that would reduce the amount of maintenance to almost zero while also balancing including the minimum amount of valuable information to a user. I like approach that @hoosteeno proposed:

[2020-08-11 17:58] cgonz0 commented on #9260
@hoosteeno lgtm

[2020-08-11 18:32] chrismore commented on #9206
Yeah, it would be nice to at least have a link to the Mozilla VPN page on smaller viewport sizes for that reason. As Alex mentioned, probably something for #9286

[2020-08-12 08:01] alexgibson commented on #9151
I need to do something positivive today so I'm gonna try and knock this one out

[2020-08-12 09:31] alexgibson commented on #8670
Changes to SameSite cookie behavior are rolling out in Chrome and soon also in Firefox. https://hacks.mozilla.org/2020/08/changes-to-samesite-cookie-behavior/

From what I can tell, I don't think  any cookies in use on mozorg are effected directly by this change, but it may still be worthwhile updating this lib, so that we can set the `SameSite` attribute explicitly, instead of relay on the new im

[2020-08-12 14:46] hoosteeno opened #9306 "Update leadership page biography sections"
## Description

Can we update the following bios on the leadership page?

* Leslie Gray: https://docs.google.com/document/d/1wdaWXeL6WSikjedAozvl4GOBxt4BROBpyEWG3gI49tQ/edit?ts=5f345ca6
* Lindsey Shepard: https://docs.google.com/document/d/1NTeRH1zJc9fQGQMXakJn2nqh1W0hFWnnHjcso5bFXuY/edit

[2020-08-12 16:12] hoosteeno opened #9307 "Adjust leadership page row contents/alignment"
## Description

On the leadership page there are 2 issues with row contents/alignment we should try to address.

1) At the most common desktop widths, the current count of leaders per row forces a single leader to wrap below. Can we adjust row width or count to avoid this on common desktop widths? We know that some widths will continue to have a dangling item, but let's try to force that to be a l

[2020-08-12 19:10] #9206 closed

[2020-08-12 20:56] hoosteeno commented on #9302
@justinkropp can you attach designs to this when done?

[2020-08-12 21:42] hoosteeno commented on #9306
seealso #9307

[2020-08-13 08:22] #9306 closed

[2020-08-13 08:22] #9307 closed

[2020-08-13 08:49] #8354 closed

[2020-08-13 09:46] #9177 closed

[2020-08-13 09:47] #9225 closed

[2020-08-13 13:32] alexgibson commented on #9192
Turns out this page has never been exposed for L10n, closing.

[2020-08-13 13:32] #9192 closed

[2020-08-13 13:36] alexgibson commented on #9206
@chrismore fyi this is now in prod: https://www.mozilla.org/en-US/

[2020-08-13 16:28] hoosteeno commented on #9220
#8937 #9286 #9206

[2020-08-13 16:35] hoosteeno commented on #9286
Assigning to @justinkropp

[2020-08-14 09:20] alexgibson commented on #9102
@justinkropp @rantley I know many things are hectic at the minute, so iI'm going to propose moving forward with a simple solution so this doesn't eat up your time:

Instead of using "Attention! Something Happened" (where "Something" is a bit too ambiguous), I'm going to propose we just use "Attention!" on its own. Combined with the message underneath the title, that should be enough to give contex

[2020-08-14 13:59] #9271 closed

[2020-08-14 14:44] justinkropp commented on #9102
@alexgibson Thanks for the proposal. Let's move forward with that for now. We can revise that copy once we get a bit more breathing room. 👍

[2020-08-14 16:07] amychurchwell opened #9312 "Glitchy hero image on /new"
## Description

While testing in browserstack, I noticed in IE11 on Windows 10 the hero image animation causing a glitchy effect.
Others could only reproduce the bug in Windows 8.1. We should do a static image fallback for all IE's.

![Aug-14-2020 09-04-15](https://user-images.githubusercontent.com/30483988/90269222-2bdbfd00-de0d-11ea-981c-6640b8df3dc0.gif)

[2020-08-14 17:31] #9245 closed

[2020-08-14 18:13] #9194 closed

[2020-08-14 21:53] #9247 closed

[2020-08-17 15:06] #9270 closed

[2020-08-17 15:46] rantley commented on #9102
@alexgibson @justinkropp I put a few options here. Let me know if this works. Thanks.
https://docs.google.com/document/d/10BNLW4NHw52jI4mprr4g69KxFPNQpPKA7aiWwDjkO5I/edit?usp=sharing

[2020-08-17 16:10] peiying2 opened #9315 "Make WNP localizable in Pontoon for the Indonesian community"
## Description
WNP used to be hard coded, with content provided by the Taipei team for Fx Lite. Please add `id` to the standard template for the other communities so the page shows up in Pontoon.

### Expected result
Let's get this resolved before WNP#81 is ready.

[2020-08-18 16:50] craigcook opened #9316 "Remove Send from www.mozilla.org"
## Description

Firefox Send is currently suspended and we're uncertain when it will be active again. So meanwhile we're promoting and linking to a service that nobody can actually use. We should remove promotional links to Send until it's back in service.

If we assume this is temporary we can just comment them out, or perhaps put them behind a switch so we can quickly restore them.

It also does

[2020-08-18 22:33] #9158 closed

[2020-08-18 23:26] amychurchwell opened #9317 "[Research] Detect Windows 10 app recommendation setting"
## Description

There is currently an issue on Windows 10 where a screen is shown to users saying:

![win10](https://user-images.githubusercontent.com/30483988/90575025-50b6d400-e16f-11ea-8af1-73a8aeb8692c.jpeg)

We should explore if this is something we can detect client-side so we can display custom messaging for these users.

This setting can be configured in Windows 10 in the [app recommendati

[2020-08-18 23:57] amychurchwell commented on #9317
[There does not appear to be a relevant query string](https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/platform-apis/mt795399%28v%3dvs.85%29) for `getHostEnvironmentValue()` to return the value of this user setting. It's also not clear to me if this is a maintained method.

[2020-08-19 15:03] mkaply opened #9318 "ESR 78 releases not showing up on https://www.mozilla.org/en-US/firefox/releases/"
On the page https://www.mozilla.org/en-US/firefox/releases/

If you look at 68, it lists all the ESRs

If you look at 78, it's missing 78.1.

[2020-08-20 13:06] Patil2099 commented on #8962
Hi @pmac, I would love to help you in fixing this issue. Can I get some instructions to fix this issue?

[2020-08-21 17:38] craigcook opened #9319 "WNP80, hide Android promo blurb from en-US until 27 August"
## Description

https://www.mozilla.org/en-US/firefox/80.0/whatsnew/all/

The new Firefox for Android is releasing to most locales on the 25th, the same date as Firefox 80 for desktop. But it's being delayed in en-US until the 27th. We shouldn't promote the new Android browser in en-US until it's actually available in that locale.

We'll put the blurb behind a conditional switch so it will be hidd

[2020-08-24 08:09] #8381 closed

[2020-08-24 08:20] alexgibson opened #9321 "Break up common.js bundle"
## Description

Now that we've removed the legacy Sandstone and Pebbles frameworks, we're finally down to a single `common.js` bundle that gets shared among all pages:

This bundle encompasses several different things currently, and dependencies can start to become unclear as it begins to grow in size. A single error can prevent the rest of the script from executing, so for example an analytics JS

[2020-08-24 08:25] alexgibson opened #9322 "JS error on /contact/ page"
## Description

[code]

### Steps to reproduce

1. Visit https://www.mozilla.org/en-US/contact/
2. Open the web console.

### Expected result

No error reported

### Actual result

It looks like the error is being thrown by `protocol-sidemenu.js`, which is used on the sub pages but not the landing page. Removing the bundle from the landing page may be all that's needed:

https://github.com/mozilla

[2020-08-24 08:38] #9319 closed

[2020-08-24 08:43] alexgibson commented on #9317
One thing to note here is this seems to be an OS-wide setting, as opposed to a browser setting. With this in mind, the screen shot above may be possible in multiple browsers when trying to download, so a JS API that works everywhere may be unlikely.

[2020-08-24 09:03] alexgibson commented on #9317
OK, I can reproduce this on my windows 10 laptop using Edge by [changing my settings](https://support.microsoft.com/en-us/help/4458596/windows-10-change-your-app-recommendation-settings). The interrupt dialog appears after double clicking the installer, and I was able to trigger it using Edge, Firefox, and Chrome - so it's not just a browser behaviour.

I wonder if there's any way the stub install

[2020-08-24 09:21] alexgibson commented on #9102
Thanks for these options @rantley 💯

[2020-08-24 18:44] hoosteeno commented on #9299
The copy doc for this is here: https://docs.google.com/document/d/1sNcLHvK2d0E9OOjQYsJTsNWp3NBVw3csgEs1rjFKNGs/edit

@cgonz0 can you update on status for images?

[2020-08-24 18:54] hoosteeno commented on #9012
The canonical copy doc is here: https://docs.google.com/document/d/1GrdzXS0n6h9-YYxwQiRskCuFasplIx5EDvHouo5fF2w/edit

[2020-08-24 19:17] #9075 closed

[2020-08-25 08:05] alexgibson commented on #9259
@hoosteeno @amychurchwell since things have changed since this issue was filed, and the website and CRO teams are now merged (so to speak), I wonder if it makes sense to simplify how we have things set up a bit?

We could for example, now make the /exp/ pages extend the core templates, instead of duplicating them. This could be less effort for the website team to maintain - and seeing as now we do

[2020-08-25 16:02] #9221 closed

[2020-08-25 16:02] #9157 closed

[2020-08-25 16:02] #9155 closed

[2020-08-25 16:03] #9156 closed

[2020-08-25 16:33] alexgibson commented on #8956
I'm going to close out this research as complete:

TL:DR - yes we can switch to webpack, and there's a proof of concept branch here: https://github.com/alexgibson/bedrock/tree/webpack

We can decide if this is something we want to do or not at a time when things aren't quite as up in the air.

[2020-08-25 16:33] #8956 closed

[2020-08-25 16:35] alexgibson commented on #8986
If and when we want to do this, there's a proof of concept branch here to base it on: https://github.com/alexgibson/bedrock/tree/webpack

[2020-08-25 16:47] ldwright commented on #9012
Copy updates are ready per the canonical doc linked above. Natalie has green lit.

Changes include: a new hero headline, hero sub-header, CTA button text & last bullet point headline and sub-header (replacing "Take it all with you" section). Please note: the icon for the last bullet point should also be updated given the new copy.

[2020-08-25 16:55] #9012 closed

[2020-08-25 16:56] hoosteeno commented on #9012
#9013 #9014 #9299

[2020-08-25 16:58] hoosteeno commented on #9014
Epic issues:

#9013 #9012 #9299

[2020-08-25 20:54] cgonz0 commented on #9299
here's an initial mock for the updates ~
-updated the hero img background colors to reflect current fenix color direction
-includes both ios and android devices and screenshots, focused on privacy
-updated icon for 3rd bucket
-copy changes are also reflected here

![welcome 4.png](https://images.zenhubusercontent.com/5d7c23b1d8206c00011723a8/948c82dd-3350-4df5-9ec0-84bbbbd7f70c)

[2020-08-25 21:01] hoosteeno commented on #9299
These are not final -- awaiting approval by studio team. @cgonz0 please update here when that's done.

[2020-08-25 21:41] hoosteeno opened #9325 "Epic: Test"
https://github.com/mozilla/bedrock/projects/31

[2020-08-25 22:16] craigcook opened #9327 "Sign in/sign up links in footer have malformed styling on some pages"
## Description
The "sign in" and "sign up" links in the footer are getting some added styling from the FxA form on any page where that form appears. This seems due to the reocurring class name `fxa-signin` in the footer, but the same name styles the "already have an account?" link in the form to set the small font size. The /firefox/products/ page also adds a top margin.

![image](https://user-ima

[2020-08-25 22:56] stephaniehobson commented on #9327
Careful that some JS is not relying on those classes too.

[2020-08-26 02:09] #9280 closed

[2020-08-26 02:12] #9325 closed

[2020-08-26 03:27] #8822 closed

[2020-08-26 11:47] rraue opened #9330 "Two h1 on /new"
## Description

With the new mobile banner we have now two H1 on /new (and possible on other pages?). For SEO reasons (especially for Bing this is a matter) we must only have one H1 per url.

We should change the h1 in the following banner to a h2 or style it like a h1 without marking it as one:
https://github.com/mozilla/bedrock/blob/5a4d4cd1866034620fac7ccfefdcbf9e4bc2924d/bedrock/firefox/templa

[2020-08-26 11:54] rraue opened #9331 "Images on /new have no alt text"
## Description

The new images on /new have no alt text what is an issue for accessibility and SEO:

![Screenshot 2020-08-26 at 13 52 41](https://user-images.githubusercontent.com/36700618/91300412-84af7c00-e7a3-11ea-92a3-7d4edcc41663.png)

[2020-08-26 13:59] fazer1929 commented on #9322
I will like to work on this issue.

[2020-08-26 15:08] hoosteeno opened #9332 "Update leadership page"
## Description

We need to update Leslie Gray's entry on the leadership page.

Bio: https://docs.google.com/document/d/1wdaWXeL6WSikjedAozvl4GOBxt4BROBpyEWG3gI49tQ/edit

New photo:
![leslie_gray_mozilla_](https://user-images.githubusercontent.com/94519/91321864-510d2b80-e77c-11ea-8178-0e051f8e9a9d.jpg)

---

#### Success Criteria
- [ ] Changes described above are merged and live

[2020-08-26 15:10] craigcook commented on #9332
The link to the photo isn't working. Can you attach it here?

[2020-08-26 15:13] hoosteeno commented on #9332
Attached. Will that work?

[2020-08-26 15:20] craigcook commented on #9332
That works. That's also the current photo so I think this is just some minor edits to the bio.

[2020-08-26 15:21] hoosteeno commented on #9332
It's not the current photo because it's been cropped differently.

[2020-08-26 15:24] craigcook commented on #9332
ah, got it

[2020-08-26 15:40] #9332 closed

[2020-08-26 16:48] stephaniehobson opened #9334 "September Campaign Landing Page"
Landing page which matches September Campaign look and feel.

In English and German only. No need for localization.

[2020-08-26 17:00] amychurchwell commented on #9299
@cgonz0 @hoosteeno are these assets final? 8/28 is the deadline for code.

[2020-08-26 18:04] cgonz0 commented on #9299
@amychurchwell these are the final assets

[2020-08-26 20:00] hoosteeno commented on #9299
@cgonz0 @amychurchwell We've been asked to bring these designs to Marketing standup Thursday for final review. It's possible we will get some feedback there that will change direction. So let's hold off, and assume the date on the code card will change.

[2020-08-26 20:43] justinkropp commented on #9302
This is the most recent version of the Fenix banner as it'll show up on desktop.

![Fenix Desktop Banner 1312](https://user-images.githubusercontent.com/1461798/91354759-30b09180-e7bb-11ea-8c64-116fa1820cab.png)

I'm going to check with Mei to double-check that the copy is final and approved.

[2020-08-26 20:46] hoosteeno commented on #9302
@justinkropp Looks nice to me. Can you specify the interaction on this, too? Is it dismissable (and for how long)? What should happen on click?

So far we've planned to land it on the homepage, the /firefox/ page, and the /firefox/mobile/ page. Do you think we should consider anywhere else?

[2020-08-26 20:56] justinkropp commented on #9302
@hoosteeno Yes.

- This should be dismissable.
- If the user is on desktop they should see the CTA above ("Get it on your phone"), which should trigger the current send to device modal
- If the user is on mobile, I'd like to show the respective app store buttons  (App Store and Google Play), both of which would open the appropriate app store experience
- Can we also land this on /firefox/products/

[2020-08-26 21:04] hoosteeno commented on #9302
We set a cookie that can expire. Should it expire?

We agreed in Slack that we can send to the get-app page (https://www.mozilla.org/en-US/firefox/mobile/get-app/) instead.

[2020-08-26 21:15] hoosteeno commented on #9302
@craigcook here are some initial specs for the CTA button instrumentation that we should *test* before launching. LMK if I can help with that.

Data Attribute | Value
-- | --
data-cta-type | button
data-cta-text | Get It Now
data-cta-position | banner

[2020-08-26 21:18] craigcook commented on #9302
The Play Store badge is shown in place of the button on Android and links to `https://app.adjust.com/2uo1qc?redirect=https://play.google.com/store/apps/details?id=org.mozilla.firefox&campaign=www.mozilla.org&adgroup=firefox-daylight-launch-banner`

[2020-08-26 22:11] hoosteeno opened #9335 "Update Transparency Report"
## Description

We need to update the transparency report for H1 2020. The final doc & specs will be attached to this card when they are ready.

---

#### Success Criteria
- [x] A new transparency report is created at https://www.mozilla.org/en-US/about/policy/transparency/jan-jun-2020/
- [x] The new transparency report is a copy of the most recent report, with specific changes in the copy doc to

[2020-08-27 08:01] alexgibson opened #9337 "Update Firefox for Android image on /firefox/new/"
## Description
The Android browser image is now out of date on https://www.mozilla.org/en-US/firefox/new/

![image](https://user-images.githubusercontent.com/400117/91413989-cf80d080-e843-11ea-95b5-bc6ab9bfceb5.png)

---

#### Success Criteria
- [x] Image is updated to reflect the latest Android Browser design.

[2020-08-27 08:10] alexgibson commented on #9337
Note the image in the banner may also need updating:

![image](https://user-images.githubusercontent.com/400117/91414921-25a24380-e845-11ea-8750-13fc3c06e417.png)

[2020-08-27 13:51] justinkropp commented on #9337
@alexgibson The banner could likely be replaced by the one Craig is working on: https://github.com/mozilla/bedrock/issues/9302

[2020-08-27 14:30] #9302 closed

[2020-08-27 17:38] amychurchwell opened #9339 "Epic: Multi-variant convert test on homepage Firefox Daylight promo banner"
## Description

We should test different variations of the recent promo banner to advertise the Firefox Daylight mobile browser.

![image](https://user-images.githubusercontent.com/30483988/91476055-4f616780-e851-11ea-9d0c-52139d1126e7.png)

[Promo banner issue](https://github.com/mozilla/bedrock/issues/9302)

---

#### Issues
- [ ] [Design](https://github.com/mozilla/bedrock/issues/9340)
- [ ] Co

[2020-08-27 17:43] amychurchwell opened #9340 "Design: variations for Firefox Daylight promo banner test."
## Description

Design discussion and decisions for promo banner variants to test.

---

#### Final Variations
- [ ] TBD

[2020-08-27 17:46] amychurchwell opened #9341 "Update homepage exp template with Firefox Daylight promo banner."
## Description

Homepage promo banner for Firefox Daylight was added in #9302, we should update the exp homepage template to match for convert testing.

[2020-08-27 17:54] amychurchwell commented on #9340
We ran a really successful test dealing with CTA button on-load animation, I think we could do something similar for the promo banner:

- Gradient background animation (non-looping)
- Entrance animation (similar to sticky promo slide-in)
- Promo banner vs. sticky promo (suggested by @justinkropp)

**Sources**
1. [Transition CTA in Nav on /Firefox Test Plan](https://docs.google.com/document/d/1Oqyh

[2020-08-27 17:56] amychurchwell commented on #9339
Since we no longer have a dedicated data science resource, I would suggest borrowing segmentation from previous en-US homepage tests and make a decision based on what convert determines is a winning variation.

[2020-08-27 18:09] craigcook commented on #9340
Quickie proof-of-concept background animation:
[code]

[2020-08-27 21:32] hoosteeno opened #9342 "Epic: Launch WNP81 by 9/2"
## Description

We will want to market Daylight on WNP81. This is an epic that will include the tasks associated with launching WNP81. We need to anticipate a long weekend from 2020-09-03 to 2020-09-7: So we should try to launch by EOD 9/2.

Epic issues to come.

---

#### Issues
- [x] #9343
- [x] #9344